.navbar {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.header-top-area {
  background-color: #1F4077;
}

.flight-listing {
  /* margin-top: 0 !important; */
}

.dropdown-item {
  border: none !important;
}

#home {
  background: #fff !important;
}

.flight-step-review {
  margin-top: 0 !important;
}

.md-search {
  margin: 0;
}

@media screen and (min-width: 767px) {
  .flight-listing {
    margin-top: 0 !important;
  }
}
