.header-bottom{
    position: absolute; 
    width: 100%;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 99;
    
}
.nav-logo{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
}
.navbar-default {
	border: none;
	z-index: 9;
	background: #fff;
	position: relative;
	margin: 23px 0 0 0;
    min-height: auto;
}

.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
    float: left !important;
    border: none;
}

.nav>li {
	position: relative;
	display: block;
	color: #000;
    font-size: 20px;
    padding: 0px;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 1px 20px;
	position: relative;
	font-weight: 500;
    border-left: 1px dashed #a6a6a6;
}

.nav li:first-child  a {
    padding-left: 0;
    border-left: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: -40px 0 0 !important;
}

.top-nav-collapse {
	padding: 0;
	top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #f27506;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-size: 16px;
    text-transform: uppercase;
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #f27506;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}

.buttons{
    text-align: right;
}
.buttons .btn{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding:7px 30px; 
    border-radius: 0;
    font-weight: 600;
    margin: 14px 5px;
    background: #f27506;
    border-radius: 5px;
    
}

.buttons .btn:hover{
    background: #000;
    color: #fff;
}

/* .btn a{
    color: #000 !important;
} */


/*========banner=======*/

/* .banner-info{
    position: relative;
}

.banner_main {
	background: url(../images/banner-bg.jpg) no-repeat;
	background-position: center;
	padding: 130px 0 350px 0;
	background-size: cover;
}

.banner_main .item {
	display: block;
	width: 100%;
	text-align: left;
}

.banner_main .banner-text h1 {
	color: #e2e2e2;
	font-weight: 700;
	font-size: 63px;
    line-height: 65px;
	text-transform: uppercase;
    text-align: center;
}

.banner_main .banner-text p {
	color: #fff;
	font-size: 31px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 36px;
    text-align: center;
    letter-spacing: 0;
    margin-top: 10px;
}

.banner_main .owl-buttons {
	display: none;
}
.banner_main .owl-theme .owl-controls{display: none!important;}

.banner_main .owl-pagination {
	position: absolute;
	bottom: -140px;
	left: 0;
	right: 0;
}

.owl-theme .owl-controls .owl-page span {
	background: #fff;
	opacity: 1;
	height: 5px;
	width: 30px;
	border-radius: 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fc4f00;
} */

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #000;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #f27506;
	color: #fff;
}

header{
    background: #f27506;
    padding-bottom: 77px;
}

.header-right{
    float: right;
}
.log-in, .currency{
  display: inline-block;
    margin-top: 28px;
    vertical-align: middle;
    border-left: 1px dashed #fff;
    padding: 0 15px;
}
.log-in, .lang{
    display: inline-block;
      margin-top: 28px;
      vertical-align: middle;
      border-left: 1px dashed #fff;
      padding: 0 15px;
  }
 .log-in a{
    color: #fff;
     font-size: 15px;
}
.log-in a:hover{color: #000;}
.log-in a i{
    margin-right: 5px;
}

.log-in{
    border-left: none;
}
.currency .bootstrap-select > .btn{
     padding-right: 15px !important;
}

.relative{position: relative;}

.top-contact{
    margin-top: 28px;
    float: left;
}
.top-contact li{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 0 20px;
    border-left: 1px dashed #fff;
}
.top-contact li:first-child{
    padding-left: 0;
    border-left: none;
}
.top-contact li i{padding-right: 10px;}
.top-contact li a{
    color: #fff;
    font-size: 15px;
}
.top-contact li a:hover{color: #000;}





.lang .bootstrap-select.fit-width {
	width: 90px !important;
}

.lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn {
	width: 100%;
	border-radius: 0;
	font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: none;
    line-height: 20px;
    margin: 0;
}
.fit-width{margin-bottom: 0!important;}
.lang .bootstrap-select > .btn:hover, .currency .bootstrap-select > .btn:hover {
	color: #fff;
    border: none;
    background-color: transparent!important;
}
.lang .bootstrap-select.btn-group .dropdown-menu, .currency .bootstrap-select.btn-group .dropdown-menu {
	background: #fff;
	border-radius: 0;
	top: 95%;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a, .currency .bootstrap-select.btn-group .dropdown-menu a {
	color: #333;
	background: transparent !important;
	padding: 5px 5px;
	border: 1px solid #d1d1d1;
	margin: 4px 5px;
	font-size: 16px;
}
.currency .btn-default.active.focus, .currency .btn-default.active:focus, .currency .btn-default.active:hover, .btn-default:active.focus, .currency .btn-default:active:focus, .currency .btn-default:active:hover, .currency .open > .dropdown-toggle.btn-default.focus, .currency .open > .dropdown-toggle.btn-default:focus, .open > .currency .dropdown-toggle.btn-default:hover{
    background-color: transparent!important;
    border: none!important;
}
.currency .bootstrap-select .dropdown-toggle:focus{
    outline: none!important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:hover, .lang .bootstrap-select.btn-group .dropdown-menu li a:focus, .currency .bootstrap-select.btn-group .dropdown-menu a:hover, .currency .bootstrap-select.btn-group .dropdown-menu a:focus {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #e8e8e8 !important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:active, .currency .bootstrap-select.btn-group .dropdown-menu li a:active {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #f1f1f1;
}
.lang .btn-group.open .dropdown-toggle, .currency .btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* select.bs-select-hidden,
select.selectpicker {
	display: none!important
} */

select.bs-select-hidden,
select.selectpicker {
	display: none!important
}

@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

/*singin popup end*/
@media (max-width: 1080px){
.collapse.in {
    display: block !important;
}
}

/* view booking */

.modal-content{
    border-radius: 0;
}
.modal-header{
    background:#3d489e;
    padding: 13px 15px;
}
.modal-title{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}
.modal-header .close {
    margin-top: -1px;
    color: #FFF;
    opacity: 0.8;
}
.user_login p label {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.viewradio_sec{
    width: 100%;
    float: left;
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
.btn-submit{
    width: 100%;
    text-align: center;
}
.btn-submit button{
    width: 200px;
    height: 44px;
    margin: auto;
    background: #f27506;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.viewradio_sec .radio_view {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #f27506;
    border: 1px solid #f27506;
}

.radio_view input:checked~.checkmark {
    background-color: #f27506;
    border: 1px solid #f27506;
}
.modal-header {
    background-color: #f27506;
    padding: 13px 15px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #795b08;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 25px 0 0 0px;
    background: #ffffff;
    padding: 0px 5px;
    cursor: pointer;
    border: 1px solid #3d489e;
}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #00a0c6;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #000;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.profile-dropdown span {
    width: 51px;
    display: inline-block;
    vertical-align: sub;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #febf10;
    position: absolute;
    top: 103%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 9999;
    padding-bottom: 4px;
}

.profile-dropdown ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #616161;
}

.profile-dropdown>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.customer-profile{
    margin-top: 0px;
}
.flight-step-review{
    margin-top: 1px;
}



    a {
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
    }
    /*===========================Footer==========================*/
footer{
    background: #0f172b;
    /* padding-top: 160px; */
    /* margin-top: -100px; */
}
.footer-logo{
    background: #162039;
    border-bottom: 1px solid #283149;
}

.footer-logo img{
     
}
.footer-logo .f-logo{
    display: block;
    border-bottom: 1px solid #283149;
    padding: 30px 30px 20px 30px;
}

.footer-logo ul{
   padding: 0px 30px 20px 30px; 
}
.footer-logo ul li{
    position: relative;
    padding-left: 45px;
    display: block;
    margin: 20px 0;
}
.footer-logo ul li i{
    font-size: 19px;
    color: #f27506;
    height: 33px;
    width: 33px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 33px;
    position: absolute;
    left: 0;
    top: 0;
}
.footer-logo ul li i.fa-envelope-o{font-size: 15px;}

.footer-logo ul li a, .footer-logo ul li{
    font-size: 15px;
    color: #99a7c9;
    line-height: 25px;
}

.footer-logo ul li a:hover{
    color: #c85501;
}

.newsletter{
    border-bottom: 1px solid #22293c;
    padding-bottom: 30px;
}
.newsletter h3{
    color: #f27506;
    padding-left: 0;
}

.newsletter p{
    color: #99a7c9;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.newsletter input[type="text"]{
    height: 50px;
    border-radius: 5px;
    position: relative;
    
}

.newsletter button{
    background: #f27506;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    position: absolute;
    right: 13px;
    top: 10px;
}
.newsletter button:hover{
    background: #0f172b;
    color: #fff;
}

.link-media{
    padding: 30px 0;
    border-bottom: 1px solid #22293c;
}

.link-media ul li{
    display: inline-block;
    padding: 0 8px;
}
.link-media ul li a{
    font-size: 13px;
    text-transform: uppercase;
    color: #99a7c9;
}

.link-media ul li a:hover{
    color: #f27506;
}

.link-media ul li:first-child{padding-left: 0;}
.link-media .f-media{
    text-align: right;
}

.link-media .f-media li{
    display: inline-block;
    padding: 0 4px;
}

.link-media .f-media li a{
    font-size: 15px;
    height: 30px;
    width: 30px;
    line-height: 27px;
    color: #f27506;
    text-align: center;
    border: 1px solid #8e9bbc;
    display: block;
    border-radius: 50%;
}
.link-media .f-media li a:hover{
    background: #f27506;
    color: #fff;
    border-color: #f27506;
}
.copy-right{
    padding: 30px 0 20px 0;
}
.copy-right p{
    font-size: 14px;
    line-height: 16px;
    color: #99a7c9;
    display: inline-block;
}

.powerd-by{
    float: right;
}
.powerd-by p{
    float:left;
    padding-right: 7px;
    }
.powerd-by img{float: left;}



/*===========================Footer-End==========================*/

.newsletter{
    border-bottom: 1px solid #22293c;
    padding-bottom: 30px;
}
.newsletter h3{
    color: #f27506;
    padding-left: 0;
}

.newsletter p{
    color: #99a7c9;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.newsletter input[type="email"]{
    height: 50px;
    border-radius: 5px;
    position: relative;
    
}

.newsletter button{
    background: #f27506;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    position: absolute;
    right: 13px;
    top: 10px;
}

.newsletter button:hover{
    background: #0f172b;
    color: #fff;
}
.dropdown-menu a {
   padding: 5px 0;
    width: 100%;
    float: left;
    font-size: 14px;
    color: #070707;
    border-bottom: 1px solid #dadada;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 1px;
    text-decoration: none;
    margin-bottom: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
li {
	list-style: none;
}

/* @media (min-width:1025px) and (max-width:1400px) {
    .nav>li {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
} */
.flx_sec {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@media(max-width:991px) {
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
    .header-right{
        float: none;
        text-align: center;
    }
    .logo{text-align: center;}
    .top-contact{display: none;}
    .lang, .currency{
        float: none;
        text-align: center;
    }
    .buttons .btn{padding: 7px 16px;}
	
	.booking-form {
		width: 100%;
        position: relative;
        padding: 40px 0;
	}
    .booking-tab{margin-top: -95px;}
    .search-section .nav-tabs > li{width: 19%;}
    .service-icon svg{width: 22%;}
    .search-section .form-control{
        background: #fff;
    }
    .calendar{
        background: #fff;
        border-right: none !important;
    }
    .detail-form .calendar{
        background: #fff!important;
        border-right: none !important;
    }
    .search-section .search-col-padding{
        margin-top: 15px;
        background-color: transparent;
    }
    .trip{margin-bottom: 15px;}
	.banner_main .banner-text h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.banner_main .banner-text p {
		width: 100%;
        font-size: 26px;
        line-height: 34px;
	}
	.search-section .form-control {
		border-bottom: 1px solid #bfbfbf;
	}
	.calendar {
		border-bottom: 1px solid #bfbfbf !important;
	}
	.all-search-box {
		display: inline-block;
		width: 100%;
	}
	.search-button {
		padding: 10px 0;
	}
	.dropdown-menu {
		top: 34px;
		right: 0px;
	}
	.travelerSelectWindow {
		left: 0;
		width: 100%;
	}
	
    .owl-theme .owl-controls .owl-buttons div {
		position: relative;
		top: 0;
		margin-top: 20px;
        float: none!important;
	}
    .navbar-default .navbar-nav > li > a{
        font-size: 14px;
        padding: 1px 9px;
    }
    .search-col-padding .input-group{display: block;}
    .detail-form .search-section .search-col-padding{overflow: hidden;}
    .about-main .about-text h2, .deals-holiday h2{
        font-size: 30px;
        line-height: 35px;
    }
    .about-main .about-text p{margin-top: 10px;}
    .holiday-img{
        clip-path:inherit;
    }
    .holiday-text .book-btn{margin-top: 10px;}
    .newsletter{margin-top: 30px;}
    .copy-right{padding: 30px 0;}
    .contact-fm .map iframe{height: 563px;}
    .holidays-in .col-md-12{
        clear: both;
        overflow: hidden;
    }
    .detail-form{margin-top: 30px;}
    .desc-detail .nav-tabs{width: 100%;}

    .navbar-collapse.in {
        overflow-y: inherit !important;
    }
    footer {
        padding-top: 9px;
    }
    .footer-address ul li{
        width: 100%;
    }
    .footer-address ul li i {
        font-size: 18px;
        width: 37px;
        height: 37px;
        line-height: 35px;
    }
    .footer-address ul li{
        line-height: 38px;
        padding: 14px 24px;
    }
    .footer-address{
        margin-bottom: 5px;
        margin-top: 0px;
    }
    .footeraddress{
        text-align: center;
    }
    .footerlinks{
        padding-top: 20px;
    }
    .footerlinks h2{
        text-align: center;
    }
    .footerlinks ul {
        width: 100%;
        text-align: center;
    }
    .follow {
        padding-top: 30px;
        text-align: center;
    }
    .footer2 {
        padding-top: 17px;
    }
    .subscribe{
        text-align: center;
        padding-top: 30px;
    }
    .subscribe input{
        margin-bottom: 9px;
    }
    .subscribe button{
        width: 100%;
    }
    .navbar-brand>img {
        width: 80px;
    }
    .navbar-brand {
        height: auto;
    }
    .navSec .navbar-nav>li {
        float: left;
        display: block;
        width: 100%;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: none;
    }
    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    /* .navbar-collapse.collapse {
        display: none !important;
    } */
    .navbar-nav {
        float: left !important;
        margin:0;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-inverse {
        background-color: #FFF;
        border-color: #FFF;
    }
    .navSec {
        background: #FFF;
        border-bottom: 1px solid #f1f1f1;
    }
    .navbar-toggle {
        margin-top: 21px;
        background-color: #FFF;
        border-radius: 0;
        padding: 9px 8px;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #FFF;
    }
    .navbar-inverse .navbar-toggle:focus,
    .navbar-inverse .navbar-toggle:hover {
        background-color: #FFF;
        border-color: #FFF;
    }
    .navbar-nav>li>a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: #3d489e;
        font-size: 14px !important;
    }
    .navbar-nav {
        background: #f27506;
    }
    .navbar-inverse .navbar-collapse {
        border: none;
    }
    .brdr-right li::after{
        display: none;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
        color: #FFF !important;
    }
    .nav>li{
        border-bottom: 1px solid #858dcc;
        padding: 0px;
    }
    .nav>li>a{
        color: #FFF !important;
        font-weight: 500;
        text-align: center;
    }
    .right_area li a span{
        width: 100%;
        display: block;
        text-align: center;
    }
    .right_area li a{
        padding-top: 0px !important;
    padding-bottom: 0px !important;
    }
    .right_area li{
        border-bottom: 1px solid #858dcc;
        padding: 0px 0px;
    }
    .agentbtn::after{
        display: none;
    }
    .profile-dropdown{
        width: 100%;
        margin: 1px 0 2px 0px !important;
    }
    .profile-dropdown span{
        width: auto;
        line-height: 40px;
    }
    .profile-dropdown img{
        height: 31px;
        margin-top: 6px;
    }
    .profile-dropdown>label {
        height: 40px;
        line-height: 43px;
    }
    .profile-dropdown ul li a {
        padding: 6px 10px !important;
    }
    .profile-dropdown ul li{
        border-bottom: 1px solid #daa616;
    }
    .profile-dropdown ul li:last-child{
        border-bottom: none;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #3e479f;
    }
}

@media (min-width: 768px){ 
    navbar-nav>li>a {
       padding-top: 32px;
       padding-bottom: 32px;
   } 
   .navbar-right{
       padding-left: 0px !important;
   }
   }
   @media (min-width: 1200px){
       /* .navbar-nav {
           padding-left: 120px;
       } */
   }
   /* @media (max-width: 990px) {

      
   } */
   @media (max-width: 768px){
       .copyright-txt, .powered-txt{
           text-align: center;
       }
       header{
           /* z-index: 99; */
           position: relative;
       }
       }
       @media (min-width: 768px){
       #myModal .modal-dialog {
           width: 354px;
           margin: 30px auto;
       }
       
   }

   @media(max-width:768px) {
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
    .nav-logo{overflow: visible;}
    .logo{margin-bottom: 15px;}
    .booking-form{margin-top: 0;}
   
    .navbar-default::before {
		display: none;
	}
  
    .navbar-toggle {
        display: block;
    }
	.navbar-toggle {
		background-color: #000;
		border: none;
		border-radius: 0;
		margin-right: 0;
		padding: 12px 14px;
		border-radius: 3px;
        float: left;
        margin:0;
    }
    
    
    .navbar-nav {
        float: left !important;
        margin:0;
    }
    .navbar-nav>li {
        float: none; 
    }
    .navbar-default{
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        background-color: transparent;
        margin: 0;
    }
    .buttons{
        text-align: right;
    }
    
    .buttons .btn{
        position: relative;
        z-index: 99;
        margin: 0;
    }
    
    
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		width: 27px;
		height: 3px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #f27506;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
		margin-top: 12px;
        float: none !important;
	}
	.nav>li {
		padding: 0;
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		padding: 11px 10px;
		background: #f27506;
		border-bottom: 1px solid #fff;
        font-size: 15px;
	}
	.nav>li>a {
		border-left: none;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		border-bottom: 1px solid #fff!important;
		background: #000;
		color: #fff;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		position: relative;
		margin: 0!important;
		padding: 10px 0;
	}
	.booking-form {
		position: relative;
		bottom: 0;
	}
	
	.search-col-padding .input-group {
		width: 100%;
		display: block;
	}
	.search-section .form-control,
	.calendar {
		border-right: none !important;
		box-shadow: none !important;
	}
    .search-section .form-control{padding: 0 20px!important;}
    .travellersDropdown.arrow::after{display: none!important;}
	.search-section .nav-tabs>li {
		clip-path: inherit;
		width: 27%;
	}
	.search-section .nav>li>a::before {
		left: auto;
		top: 8px;
		right: 4px;
		position: absolute;
	}
    .booking-tab{margin-top:  -113px;}
	
	.banner_main .banner-text h1 {
		font-size: 40px;
        line-height: 50px;
	}
	.banner_main .banner-text p {
		font-size: 24px;
		line-height: 34px;
        margin: 0;
	}
	.banner_main {
        padding: 150px 0 200px 0;
	}
	
	
	.all-search-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	
    .search-section .nav>li{
        margin-bottom: 2px;
    }
	.search-section .nav>li>a {
	}
    .radio{margin-bottom: 20px;}
	.search-section .nav-tabs>li:hover i {
		color: #fff;
	}
    
    .navbar-default .navbar-nav > .active > a:hover{
        background: #1c1c1c;
        color: #fff;
    }
    .lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn{margin-top: 0;}
    .currency .bootstrap-select.fit-width {margin-bottom: 0!important;}
    .search-button, .search-section .form-control, .calendar{height: 50px!important;}
    .search-icon{bottom: 15px;}
    .travelerSelectWindow{top: 60px;}
    .custom-select-v3::before{top: 24px;}
    .search-button{margin-top: 0;}
    .about-img{
        text-align: center;
        margin-bottom: 20px;
    }
    .about-img img{width: auto;}
    .about-main .about-text h2,.deals-holiday h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .about-main{padding: 30px 0;}
    .deals-deatil .btn{
    float: none;
        width: 100%;
        text-align: center;
    }
    .deals-holiday{padding-top: 30px;}
    .deals-holiday .owl-carousel{margin-bottom: -267px;}
    .holiday-text h2{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 0;
    }
    .holiday-text h3{
        font-size: 40px;
        line-height: 45px;
        
    }
    footer{
        padding-top: 90px;
        margin-top:-60px;
    }
    .copy-right p{line-height: 21px;}
    .log-in, .currency{margin-top: 20px;}
    .about-vision .flex{
        display: block;
        width: 100%;
    }
    .about-vision .row{display: block;}
    .about-vm-in{margin-bottom: 30px;}
    .about-vision{padding: 30px 0;}
    .about-info p{width: 100%;}
    .about-info h2{
        font-size: 33px;
        line-height: 40px;
    }
    .about-info{padding-top: 45px;}
    .inner-title{padding: 125px 0 76px 0;}
    .inner-title h2{
        font-size: 40px;
        line-height: 45px;
    }
    
     .contact-fm .map iframe{height: 300px;}
    .contact-fm{margin-bottom: 30px;}
    .contact-form button{margin-top: 14px;}
    .holidays-in{margin-bottom: 30px;}
    .desc-detail .nav > li{width: 21%;}
    .desc-detail .search-section .tab-content{padding: 20px 10px;}
    .comment-div .user{
        float: none;
        width: 100%;
    }
    .comment-div .comment-block{
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    .package-detail-inner{padding: 45px 0 30px 0;}
    .detail-form{padding: 15px 10px 15px 10px;}
}


/*=========END-767px==========*/

@media(max-width:600px) {
    footer .col-xs-8, footer .col-xs-5, footer .col-xs-4, footer .col-xs-7{
        width: 100%;
    }
    .link-media{
        padding: 20px 0;
    }
    .link-media .f-media{
        text-align: left;
        margin-top: 15px;
    }
    .copy-right{padding: 20px 0;}
    
    .powerd-by{
        float: none;
        margin-top: 15px;
    }
    .newsletter{margin-top: 10px;}
    .footer-logo .f-logo{padding: 20px;}
    .footer-logo ul{padding: 0 20px  20px;}
    .footer-logo ul li{margin: 25px 0;}
    .holidays-in .col-md-4.col-sm-6.col-xs-6{width: 100%;}
    .inner-pagination .pagination > li > a, 
    .inner-pagination .pagination > li > span{
        height: 30px;
        width: 30px;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin: 0 3px;
    }
    
    .desc-detail .nav > li{
        width: 100%;
        margin-bottom: 5px;
    }
    .desc-detail .nav-tabs{position: relative;}
    
}


/*=========Start-500px==========*/

@media(max-width:500px) {
    .booking-form{padding: 20px 0 30px 0;}
	.search-section .nav>li>a {
		padding: 13px 0;
		font-size: 16px;
		width: 100%;
	}
    .banner_main .banner-text h1 {
		font-size: 30px;
        line-height: 40px;
	}
	.banner_main .banner-text p {
		font-size: 20px;
		line-height: 28px;
        margin: 0;
	}
	.banner_main {
        padding: 100px 0 200px 0;
	}
   
    .radio{margin-bottom: 5px;}
	.search-section .nav>li {
		float: left;
		width: 32%;
		border: none;
        margin-left: 5px;
	}
    .search-section .nav>li:first-child{margin-left: 0;}
    .service-icon{display: block;}
    .search-section .nav > li{margin-bottom: 4px;}
	.search-section .tab-content form {
		padding: 0;
	}
	.search-section .tab-content {
		padding: 30px 0 0 0;
	}
	
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        border-bottom: none;
    }
    .service-icon svg{width: 28%;}
    .deals-holiday h2{
        float: none;
    }
    .more-deals{float: none;}
    .more-deals .btn{margin-top: 0;}
    .link-media ul li{padding: 0 4px;}
    .holiday-text h3{
        font-size: 36px;
        line-height: 45px;
    }
    .holiday-text h3 span{
        font-size: 20px;
    }
    .package-media{
        float: none;
        margin-top: 10px;
    }
    .package-days .day-night{float: none;}
    .desc-detail .nav > li{
        width: 100% !important;
        margin-left: 0;
    }
    .review-form-field input[type="submit"]{padding: 10px 20px;}
}


@media(max-width:400px){

    .log-in, .currency{
        display: block;
        border-left: none;
        border-bottom: 1px dashed #fff;
        margin-top: 0!important;
        padding: 10px 0;
    }
    .language{border-bottom: none;}
    .header-bottom{top: 140px;}
    .trip ul li{
        margin: 0;
    }
    .trip ul li a{
        padding: 5px 7px;
        font-size: 12px;
    }
    .search-section .nav > li{width: 31%;}
}

@media only screen and (max-device-width: 755px) and (min-device-width: 731px){
    .navbar-nav>li {
        float: none; 
        width: 682px;
        height: 43px;
    }
}
@media only screen and (max-device-width: 731px) and (min-device-width: 600px){
    .navbar-nav>li {
        float: none; 
        width: 550px;
        height: 43px;
    }
}
@media only screen and (max-device-width: 600px) and (min-device-width: 450px){
    .navbar-nav>li {
        float: none; 
        width: 400px;
        height: 43px;
    }
}
@media only screen and (max-device-width: 450px) and (min-device-width: 375px){
    .navbar-nav>li {
        float: none; 
        width: 327px;
        height: 43px;
    }
    .header-bottom {
        top: 100px;
    }
  
}
@media only screen and (max-device-width: 400px) and (min-device-width: 250px){
    .dropdown, .dropup {
        position: inherit;
    }
    .profile-dropdown ul {
      
        display: none;
        list-style: none;
        padding: 5px 0 0;
        margin: 0;
        background: #febf10;
        position: absolute;
        top: 103%;
        right: 0;
        width: 100%;
        border-radius: 0;
        z-index: 9999;
        padding-bottom: 4px;
    }
    .header-bottom {
        top: 90px;
    }
}

input[type="email"],
input[type="tel"],
input[type="number"],
textarea {

font-weight: 400;
width: 100%;
padding: 8px 10px;
margin: 10px 0;
font-size: 16px;
border: 1px solid #d4d4d4;
}
#div_bookinginfo {
    padding-top: 38px !important;
    float: left;
    width: 100%;
}

/* style for mobile responsive */

#myNavbar li li{
    text-align: center;
} 
#myNavbar #sign-bt-area,#myNavbar #dropdown09, #agent-login{
    display: none;
} 
@media only screen and (max-device-width: 768px)
{
.header-right{
    display: none;
}
#myNavbar #sign-bt-area,#myNavbar #dropdown09, #agent-login{
    display: block;
} 
.header-bottom{
    top: -2px;
}
}

@media only screen and (max-device-width: 1200px) and (min-device-width: 600px){
.log-in, .currency {
    padding: 0px 5px !important;
}
}

.nav-link {
    padding: 5px !important;
}