<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Easy2Go</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--top-bar -->

    <!-- Navigation -->


    <header>
        <headeritem></headeritem>
    </header>


    <div id="contactuspage" v-cloak>
        <div class="common_header"  v-show="getdata" :style="{ background: 'url(' + pageContent.Background+ ')'}"></div>
        <div class="breadcrums_sec">
            <div class="container">
                <div class="breadcrumsArea">
                    <div class="breadcrumsArea1">
                        <h1 v-cloak>{{pageContent.Title}}</h1>
                        <h6 v-cloak><a href="" v-cloak>{{pageContent.Home}}</a> <i class="	fa fa-angle-double-right"></i> {{pageContent.Title}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactusArea ar_direction">
            <div class="container">
                <div class="row flx_sec">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h3 v-cloak>{{pageContent.Subtitle}}</h3>
                        <div v-html="pageContent.Description"></div>
                        <div class="contactFrom_sec">
                            <div class="row flx_sec">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec" v-model="cntusername" :placeholder="pageContent.NamePlaceholder">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec" v-model="cntemail" :placeholder="pageContent.EmailPlaceholder">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec"  v-model="cntcontact" :placeholder="pageContent.PhonePlaceholder" onkeydown="return ((((event.keyCode>=48)&amp;&amp;(event.keyCode<=57))||((event.keyCode>=96)&amp;&amp;(event.keyCode<=105))||((event.keyCode==08))||((event.keyCode==46))) &amp;&amp; event.keyCode!=32);" maxlength="15">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec" v-model="cntsubject" :placeholder="pageContent.SubjectPlaceholder">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea class="Txt_sec01"  v-model="cntmessage" :placeholder="pageContent.MessagePlaceholder"></textarea>
                                    <button class="contactSend" v-on:click="sendcontactus" v-cloak>{{pageContent.Button}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="contact_address">
                            <div class="addressSec">
                                <h4 v-cloak>{{branch.Addresslabel}}</h4>
                                <p v-cloak>{{branch.Address}}</p>
                            </div>
                            <div class="addressSec">
                                <h4 v-cloak>{{branch.Phonelabel}}</h4>
                                <p v-cloak>{{branch.Phone}}</p>
                                
                            </div>
                            <div class="addressSec">
                                <h4 v-cloak>{{branch.Emaillabel}}</h4>
                                <p><a :href="'mailto:'+branch.Email " v-cloak>{{branch.Email}} </a></p>
                            </div>
                            <div class="contactMedia_icons">
                                <a :href="branch.Facebook"><i class="fa fa-facebook"></i></a>
                                <a :href="branch.Twitter"><i class="fa fa-twitter"></i></a>
                                <a :href="branch.Linkedin"><i class="fa fa-linkedin"></i></a>
                                <a :href="branch.Instagtram"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="contactus_map">
            <iframe :src="pageContent.mapurl"
                width="800" height="550" frameborder="0" style="border:0;width: 100%;" allowfullscreen></iframe>
        </div>
        <section class="summer-promo ar_direction" v-show="offerdata">
            <div class="container-fluid">
                <div class="row flx_sec">
                    <div class="col-lg-7 col-md-8">
                        <div class="promotion-package">
                            <h2 v-cloak>{{offerContent.title}}</h2>
                            <span v-cloak>{{offerContent.Subtitle}}</span>
                           <div v-html="offerContent.description"></div>


                            <a class="btn" :href="offerContent.link" v-cloak>{{offerContent.button}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!--footer-->
    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <!-- Bootstrap JQUERY -->


    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/datepicker-i18n.js?v=201907110000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>

    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/easy2go/servicejs/contactUs.js"></script>
    <script type="text/javascript" src="js/pack.js"></script>


</body>

</html>