<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Easy2Go</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/vue-multiselect.min.css?v=201912240000">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--top-bar -->

    <!-- Navigation -->


    <header>
        <headeritem></headeritem>
    </header>




    <div id="indexmain" v-cloak>
        <!-- banner-->
        <div v-if="getdata"></div>
        <div class="bannerSec ar_direction" v-else>
            <div id="myCarousel" class="carousel slide" data-ride="carousel" v-if="bnrcaption">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" v-for="(caption,indx) in banner.caption" :data-slide-to="indx" :class="{ 'active': parseInt(indx) == 0 }"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item" v-for="(caption,indx) in banner.caption" :class="{ 'active': parseInt(indx) == 0 }">
                        <img :src="caption.Image" :alt="caption.Title" style="width:100%;">
                        <div class="carousel-caption banner-text">
                            <h1 v-cloak>{{caption.Title}}</h1>
                            <p v-cloak>{{caption.Description}}</p>
                        </div>
                    </div>


                </div>


            </div>
        </div>
        <!-- <section v-else class="banner_main ar_direction" :style="{ background: 'url(' + banner.image + ') no-repeat '}">
            <div class="container" v-if="bnrcaption">
                <div id="owl-demo-1" class="owl-carousel banner_text owl-theme">

                    <div class="item" v-for="caption in banner.caption">

                        <div class="banner-text">
                            <h1 v-cloak>{{caption.Title}}</h1>
                            <p v-cloak>{{caption.Description}}</p>

                        </div>
                    </div>
                    <div class="item 1"><div class="banner-text"><h1>Easy2GO Travel</h1> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p></div></div>
                    <div class="item 2"><div class="banner-text"><h1>Easy2GO Travel</h1> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p></div></div>


                </div>
            </div>
        </section> -->

        <!--booking-form-->
        <section class="booking-form">
            <div class="container">
                <div class="row">
                    <div class="search-section">
                        <div role="tabpanel">
                            <!-- BEGIN: CATEGORY TAB -->
                            <div class="booking-tab">
                                <div class="col-md-12  tab-field">
                                    <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                                        <li role="presentation" class="active text-center">
                                            <a href="#flight" aria-controls="flight" role="tab" data-toggle="tab"> <span class="service-icon" v-cloak>
                                                    <i class="fa fa-plane"></i>{{Flight_tab_name}} </span> </a>
                                        </li>
                                        <li role="presentation" class="text-center">
                                            <a href="#flight-hotel" aria-controls="hotel" role="tab" data-toggle="tab">
                                                <span class="service-icon" v-cloak @click="hotelInit=Math.random()">
                                                    <i class="fa fa-hotel"></i>{{Hotel_tab_name}} </span> </a>
                                        </li>
                                        <!-- <li role="presentation" class="text-center">
                                            <a href="#hotel" aria-controls="car" role="tab" data-toggle="tab"> <span class="service-icon" v-cloak>
                                                    <i class="fa fa-car"></i>{{Package_tab_name}}</span> </a>
                                        </li> -->

                                    </ul>
                                </div>
                                <!-- END: CATEGORY TAB -->

                            </div>
                            <div class="col-md-12 all-search-box">
                                <!-- BEGIN: TAB PANELS -->
                                <div class="tab-content">
                                    <!-- BEGIN: FLIGHT SEARCH -->
                                    <div role="tabpanel" class="tab-pane active" id="flight">
                                        <div class="form">
                                            <div class="col-md-12 text-center m-t-10">
                                                <div class="radio radio-success radio-inline" v-cloak>
                                                    <input type="radio" id="inlineRadio1" value="R" v-model="triptype" name="radioInline" checked="">
                                                    <label for="inlineRadio1" v-cloak>{{Round_trip}}</label>
                                                </div>
                                                <div class="radio radio-success radio-inline" v-cloak>
                                                    <input type="radio" id="inlineRadio2" value="O" v-model="triptype" name="radioInline">
                                                    <label for="inlineRadio2" v-cloak>{{Oneway}}</label>
                                                </div>
                                                <div class="radio radio-success radio-inline" v-cloak>
                                                    <input type="radio" id="inlineRadio3" value="M" v-model="triptype" name="radioInline">
                                                    <label for="inlineRadio3" v-cloak>{{Multicity}}</label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="flx_sec ar_direction" v-show="triptype !='M'">
                                                <div class="col-md-2  col-sm-6 col-xs-12 search-col-padding">
                                                    <flightserch id="Cityfrom1" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                                    <a class="change-destination" v-on:click="swapLocations(1)"></a>
                                                </div>
                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                    <flightserch id="Cityto1" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="0"></flightserch>

                                                </div>
                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                    <input id="deptDate01" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                    <a class="change-date"></a>
                                                </div>
                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding" v-if="triptype !='M'" v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                                                    <input id="retDate" :disabled="triptype == 'O'" value="" readonly="readonly" class="calendar" type="text" :placeholder="placeholderReturnDate" />
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                                    <div class="travellersDropdown flt">
                                                        <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                                                            <input class="form-control" v-model="Totaltravaller" :placeholder="Totaltravaller" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                                                        </div>
                                                        <div class="travelerSelectWindow active" v-show="travellerdisply">
                                                            <div id="travelRoundtrip">
                                                                <div class="travelDropdown">
                                                                    <div class="section-pass ar_direction" v-cloak>
                                                                        <fieldset>
                                                                            <label v-cloak>{{adultsLabel}}</label>
                                                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                                                                    <select v-model="selected_adult"
                                                                                        class="elmAdult _apxSelection"
                                                                                        id="adultdrp"
                                                                                        v-on:change="setCHDINFTravellers"
                                                                                        v-cloak>
                                                                                        <option v-for="adult in adults"
                                                                                            :value="adult.value"
                                                                                            v-cloak>
                                                                                            {{adult.value}}

                                                                                        </option>
                                                                                    </select>
                                                                                </span></div>
                                                                            <span class="ageRange" v-cloak>{{adultrange}}</span>
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="section-pass ar_direction">
                                                                        <fieldset v-cloak>
                                                                            <label>{{childrenLabel}}</label>
                                                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                                                                    <select v-model="selected_child"
                                                                                        class="elmChild _apxSelection"
                                                                                        id="childdrp"
                                                                                        v-on:change="SetInfantTravellers"
                                                                                        v-cloak>
                                                                                        <option
                                                                                            v-for="child in children"
                                                                                            :value="child.value"
                                                                                            v-cloak>
                                                                                            {{child.value}}
                                                                                        </option>
                                                                                    </select>
                                                                                </span></div>
                                                                            <span class="ageRange" v-cloak>{{childrange}}</span>
                                                                        </fieldset>
                                                                    </div>
                                                                    <div class="section-pass ar_direction">
                                                                        <fieldset v-cloak>
                                                                            <label>{{infantLabel}}</label>
                                                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                                                                    <select v-model="selected_infant"
                                                                                        id="infantdrp"
                                                                                        v-on:change="setTravelInfo"
                                                                                        class="elmInfant _apxSelection"
                                                                                        v-cloak>
                                                                                        <option
                                                                                            v-for="infant in infants"
                                                                                            :value="infant.value"
                                                                                            v-cloak>
                                                                                            {{infant.value}}

                                                                                        </option>
                                                                                    </select>
                                                                                </span></div>
                                                                            <span class="ageRange" v-cloak>{{infantrange}}</span>
                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="classSec" v-cloak>
                                                                <label v-cloak>{{classlabel}}</label>
                                                                <div class="custom-select-v3 lg">
                                                                    <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo" v-cloak>
                                                                        <option v-for="cabin in cabinclass"
                                                                            :value="cabin.value">{{cabin.text}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="closeDropdown" v-on:click="showhidetraveller">
                                                                <span class="closeBtn closeLink" v-cloak>{{donelabel}}</span> </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding htlbtn">
                                                    <button type="submit" class="search-button " v-on:click="SearchFlight" v-cloak>{{searchBtnLabel}} </button>
                                                </div>
                                            </div>
                                            <div class="multilegSec" v-show="triptype =='M'">
                                                <div class="multiSec_area flx_sec ar_direction">
                                                    <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                                        <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="1">
                                                        </flightserch>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                                        <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="1"></flightserch>

                                                    </div>
                                                    <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                        <input id="txtLeg1Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                        <a class="change-date"></a>
                                                    </div>
                                                </div>
                                                <div class="multiSec">
                                                    <h4 v-cloak>{{tripLabel}} 2 </h4>
                                                    <div class="flx_sec ar_direction">
                                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="2">
                                                            </flightserch>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="2">
                                                            </flightserch>

                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                            <input id="txtLeg2Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                            <a class="change-date"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="multiSec" v-if="(legcount>2)">
                                                    <h4 v-cloak>{{tripLabel}} 3 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(3)" v-if="legcount==3"></i></h4>
                                                    <div class="flx_sec ar_direction">
                                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="3">
                                                            </flightserch>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="3">
                                                            </flightserch>

                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                            <input id="txtLeg3Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                            <a class="change-date"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="multiSec" v-if="(legcount>3)">
                                                    <h4 v-cloak>{{tripLabel}} 4 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(4)" v-if="legcount==4"></i></h4>
                                                    <div class="flx_sec ar_direction">
                                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="4">
                                                            </flightserch>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="4">
                                                            </flightserch>

                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                            <input id="txtLeg4Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                            <a class="change-date"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="multiSec" v-if="(legcount>4)">
                                                    <h4 v-cloak>{{tripLabel}} 5 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(5)" v-if="legcount==5"></i></h4>
                                                    <div class="flx_sec ar_direction">
                                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="5">
                                                            </flightserch>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="5">
                                                            </flightserch>

                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                            <input id="txtLeg5Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                            <a class="change-date"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="multiSec" v-if="(legcount>5)">
                                                    <h4 v-cloak>{{tripLabel}} 6 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(6)" v-if="legcount==66"></i></h4>
                                                    <div class="flx_sec ar_direction">
                                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="6">
                                                            </flightserch>
                                                        </div>
                                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                                            <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="6">
                                                            </flightserch>

                                                        </div>
                                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                            <input id="txtLeg6Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                                            <a class="change-date"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="add_multi_sec" v-if="legcount!=6">
                                                    <button v-on:click="AddNewLeg();" v-cloak> {{addUptoLabel}}
                                                        {{6-legcount}}
                                                        <i class="fa fa-plus-circle"></i></button>
                                                </div>
                                                <div class="multiLast flx_sec ar_direction">
                                                    <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                                        <div class="form_sec en_dwn">
                                                            <select class="form-control" v-model="selected_adult" v-on:change="setCHDINFTravellers">
                                                                <option v-for="adult in adults" :value="adult.value"
                                                                    v-cloak>
                                                                    {{adult.text}}

                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                                        <div class="form_sec en_dwn">
                                                            <select class="form-control" v-model="selected_child" v-on:change="setCHDINFTravellers">
                                                                <option v-for="child in children" :value="child.value"
                                                                    v-cloak>
                                                                    {{child.text}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                                        <div class="form_sec en_dwn">
                                                            <select class="form-control" v-model="selected_infant" v-on:change="SetInfantTravellers">
                                                                <option v-for="infant in infants" :value="infant.value"
                                                                    v-cloak>
                                                                    {{infant.text}}

                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                                        <div class="form_sec en_dwn">
                                                            <select class="form-control " v-model="selected_cabin" v-on:change="setTravelInfo">
                                                                <option v-for="cabin in cabinclass" :value="cabin.value"
                                                                    v-cloak>{{cabin.text}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="multiLast">
                                                    <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding htlbtn mrg2">
                                                        <button type="submit" class="search-button " v-on:click="MultiSearchFlight" v-cloak>{{searchBtnLabel}}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="advance_search">
                                            <div class="advSearch"><span v-on:click='advncedsearch = !advncedsearch' v-cloak>{{Advance_search_label}} <i class="fa fa-plus-circle"
                                                        v-bind:class="{ 'fa-minus-circle': advncedsearch }"></i></span>
                                            </div>
                                            <div class="advSearchView ar_direction" v-show="advncedsearch">
                                                <div class="row ar_flx">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-3">
                                                        <vue-multiselect v-model="selectedAirline" id="ajax" label="label" track-by="code" placeholder="Preferred Airline" open-direction="bottom" :options="Airlineresults" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
                                                            :close-on-select="false" :options-limit="300" :limit="4" :max-height="600" :show-no-results="false" :max="4" :hide-selected="true" @search-change="asyncFind">
                                                            <template slot="tag" slot-scope="{ option, remove }" v-cloak><span class="custom__tag"><span
                                                                        v-cloak>{{ option.label }}</span><span
                                                                        class="custom__remove"
                                                                        @click="remove(option)"><i
                                                                            class="fa fa-remove"></i></span></span></template>
                                                            <template slot="clear" slot-scope="props">
                                                                <div class="multiselect__clear"
                                                                    v-if="selectedAirline.length"
                                                                    @mousedown.prevent.stop="clearAll(props.search)">
                                                                </div>
                                                            </template><span slot="noResult">Oops! No elements found.
                                                                Consider changing the search query.</span>
                                                            <span slot="maxElements">Maximum Airline Options Selected
                                                            </span>
                                                        </vue-multiselect>

                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-3">
                                                        <label class="direct" v-cloak>{{Direct_flight_option_label}}
                                                            <input type="checkbox" v-model="direct_flight">
                                                            <span class="checkMark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END: FLIGHT SEARCH -->
                                    <!-- START: Flight-HOTEL SEARCH -->
                                    <div role="tabpanel" class="tab-pane" id="flight-hotel">
                                        <hotel-search inline-template :key="hotelInit">
                                            <div>
                                                <div class="form ar_direction">
                                                    <div class="hotelSearch flx_sec ar_direction">
                                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                                            <div class="input-group">
                                                                <div class="autocomplete">
                                                                    <input id="txtCity" type="text" class="form-control ui-autocomplete-input" :placeholder="Hotel_city_placeholder" autocomplete="off" style="padding-right: 20px;" v-model="keywordSearch" @input="onKeyUpAutoCompleteEvent(keywordSearch)" @keydown.down="down"
                                                                        @keydown.up="up" @keydown.tab="isCompleted=false" @keydown.esc="isCompleted=false" @keydown.enter="updateResults(autoCompleteResult[highlightIndex])" @click="onClickAutoCompleteEvent">
                                                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                    <ul ref="searchautocomplete" class="autocomplete-results" v-if="isCompleted&&autoCompleteResult.length!=0">
                                                                        <li ref="options" :class="{'autocomplete-result-active' : index == highlightIndex}" class="autocomplete-result" v-for="(item,index) in autoCompleteResult" :key="index" @click="updateResults(item)" v-cloak>
                                                                            {{ item.label }}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                            <input id="txtCheckInDate" class="calendar" type="text" placeholder="Check In" v-model="checkIn" />

                                                            <a class="change-date" href="#"></a>
                                                        </div>
                                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                            <input id="txtCheckOutDate" class="calendar" type="text" placeholder="Check Out" v-model="checkOut" />

                                                        </div>
                                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                                            <div class="kmsliderSec">
                                                                <label class="within_sec" style="font-size: 12px !important;font-weight: 400 !important;">{{Search_range_label}}</label>
                                                                <div id="rangeSlider"></div>
                                                                <label id="slider-step-value" v-cloak>{{KMrange}}
                                                                    {{rangeLabel}}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                                            <div class="travellersDropdown flt">
                                                                <div class="custom-select-v3 lg" v-on:click="showroom = !showroom">
                                                                    <input :value="numberOfRooms+' '+(numberOfRooms>1?roomsLabel:roomLabel)" type="button" class="form-control txtelips">
                                                                </div>
                                                                <div class="travelerSelectWindow active" v-show="showroom">
                                                                    <div id="travelRoundtrip">
                                                                        <div class="travelDropdown"></div>
                                                                    </div>
                                                                    <div class="classSec">
                                                                        <label class="widthSec mrg10" v-cloak>{{roomLabel}}</label>
                                                                        <div class="custom-select-v3 lg widthSec">
                                                                            <select v-model.number="numberOfRooms" id="classType">
                                                                                <option v-for="(room, index) in 5"
                                                                                    :key="index" :value="index+1">
                                                                                    {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="classSec">
                                                                        <label class="widthSec mrg10">Nationality</label>
                                                                        <div class="custom-select-v3 lg widthSec">
                                                                            <select id="classType" v-model="nationality">
                                                                                <option :value="item.code"
                                                                                    v-for="(item, index) in countries"
                                                                                    :key="index">{{item.name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="classSec">
                                                                        <label class="widthSec mrg10">Country of
                                                                            Residency</label>
                                                                        <div class="custom-select-v3 lg widthSec">
                                                                            <select id="classType" v-model="countryOfResidence">
                                                                                <option :value="item.code"
                                                                                    v-for="(item, index) in countries"
                                                                                    :key="index">{{item.name}}</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="closeDropdown">
                                                                        <span class="closeBtn closeLink" v-on:click="showroom = !showroom">Done</span>
                                                                    </div>
                                                                </div>
                                                            </div>









                                                        </div>
                                                    </div>

                                                    <hotel-rooms :child-label="childLabel" :children-label="childrenLabel" :adult-label="adultLabel" :adults-label="adultsLabel" :age-label="ageLabel" :ages-label="agesLabel" :room-label="roomLabel" v-for="(room, index) in parseInt(numberOfRooms)" :key="index"
                                                        :room-id="index" @get-room-details="getRoomDetails" inline-template>
                                                        <div class="hotlsSec flx_sec ar_direction">
                                                            <div class="col-md-4 col-sm-12 ">
                                                                <span class="rooms" v-cloak><i class="fa fa-bed"
                                                                        aria-hidden="true"
                                                                        style="font-size:15px;margin-right:5px;"></i>{{roomLabel}}
                                                                    {{roomId+1}}</span>

                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                                <div class="form_sec en_dwn">
                                                                    <select class="form-control" v-model.number="selectedAdults">
                                                                        <option v-for="(adult, index) in adults"
                                                                            :value="adult.value" v-cloak>{{adult.value}}
                                                                            {{adult.value==1? adultLabel: adultsLabel}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                                <div class="form_sec en_dwn">
                                                                    <select class="form-control" v-model.number="selectedChildren">
                                                                        <option v-for="(child, index) in children"
                                                                            :value="child.value" v-cloak>{{child.value}}
                                                                            {{child.value==1? childLabel: childrenLabel}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div v-for="(selectedChild, index) in parseInt(selectedChildren)" :key="index" class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage">
                                                                <div class="form_sec en_dwn">
                                                                    <select class="form-control" v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                                                        <option
                                                                            v-for="(childAge, index) in childrenAges"
                                                                            :value="childAge.value" v-cloak>
                                                                            {{childAge.value}}
                                                                            {{childAge.value==1? ageLabel: agesLabel}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </hotel-rooms>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding htlbtn">
                                                            <button type="submit" class="search-button" @click="searchHotels" v-cloak>{{searchBtnLabel.toUpperCase()}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    </form>
                                </div>
                                </hotel-search>
                                <!-- END: HOTEL SEARCH -->

                            </div>
                            <!-- END: TAB PANE -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End-banner-form-->

       

        <!-- Holiday-Section -->
        <section class="packages-main" v-if="getpackage">
            <div class="container-fluid">
                <div class="row">
                    <h2 v-cloak>{{packagetitle}}</h2>
                    <img class="title-pattern" src="images/title-pattern.png" alt="pattern">
                    <div id="owl-demo-3" class="owl-carousel owl-theme ar_direction">

                        <div class="item" v-for="package in holidayaPackageList">
                            <div class="package-image">
                                <img :src="package.Home_Image" :alt="package.Name">
                            </div>
                            <div class="pack-home-detail">
                                <h3><a :href="getmoreinfo(package.More_details_page_link)">{{package.Name}}</a> </h3>
                                <p>{{package.Applicable_Title}}:<br><span v-cloak>{{ $n((package.Price/CurrencyMultiplier), 'currency', selectedCurrency) }}</span> </p>

                                <div class="day-night">
                                    <p v-cloak><i class="fa fa-sun-o"></i> {{package.Days}} {{days}} </p>
                                    <p v-cloak><i class="fa fa-moon-o"></i> {{package.Nights}} {{nights}} </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!-- End-Holiday -->
        <div class="easyContent">
               
                   <div class="col-lg-6 col-md-6 no-padding">
                        <!--Summer-promotion-->
               <section class="summer-promo ar_direction" v-if="gethomeoffer">
                       <div class="container-fluid">
                           <div class="row flx_sec">
                               <div class="col-lg-7 col-md-8">
                                   <div class="promotion-package">
                                       <h2 v-cloak>{{offersection.title}}</h2>
                                       <span v-cloak>{{offersection.Subtitle}}</span>
                                       <div class="offer_description" v-html="offersection.description">
                                       </div>
           
           
                                       <a class="btn" :href="offersection.link" v-cloak>{{offersection.button}}</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </section>
                   </div>
                   <div class="col-lg-6 col-md-6 no-padding">
                        <!--About-Section-->
        <section class="about-main" v-if="getaboutus">
               <div class="row flx_sec ar_direction">
                   <div class="col-md-6 col-sm-12 col-xs-12">
                       <div class="about-img">
                           <img :src="aboutUs.image" :alt="aboutUs.title">
                       </div>
                   </div>
       
                   <div class="col-md-6 col-sm-12 col-xs-12 about-text-main">
                       <div class="about-text" v-cloak>
                           <h2 v-cloak>{{aboutUs.title}}</h2>
                           <img src="images/title-pattern.png" alt="pattern">
                           <div class="about_description" v-html="aboutUs.description"></div>
                           <a class="btn" href="aboutus.html">{{aboutUs.button}} <i
                                   class="fa fa-angle-double-right"></i></a>
                       </div>
                   </div>
               </div>
           </section>
           <!--End-About-Section-->
                   </div>
        </div>


       
    </div>

    <!--footer-->
    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap JQUERY -->


    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
    <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/datepicker-i18n.js?v=201907110000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/easy2go/js/hotel-search.js"></script>
    <script src="js/select2.min.js"></script>

    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
    <script src="/easy2go/master/js/index.js?v=20211122000"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>

    <!-- <script type="text/javascript" src="js/pack.js"></script> -->

</body>

</html>