<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Easy2Go</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link rel='stylesheet' href='css/jquery.fancybox.min.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--top-bar -->

    <!-- Navigation -->


    <header>
        <headeritem></headeritem>
    </header>


    <div id="Packageinfo" v-cloak>
        <div class="common_header" v-show="getpagecontent" :style="{ background: 'url(' + Backgroundimage+ ')'}"></div>
        <div class="breadcrums_sec">
            <div class="container">
                <div class="breadcrumsArea">
                    <div class="breadcrumsArea1">
                        <h1 v-cloak>{{Title}}</h1>
                        <h6 v-cloak>{{Home_breadcrumb}} <i class="	fa fa-angle-double-right"></i> <a href="" v-cloak>{{Title}}</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmn_area ar_direction">
            <div class="container">
                <div class="row flx_sec">
                    <div class="col-lg-12">
                        <div class="row flx_sec">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="packageviewSec">
                                    <h4 v-cloak>{{packagename}}</h4>
                                    <h5 v-cloak>{{Package.Applicable }} : <span v-cloak>{{ $n((Package.Price/CurrencyMultiplier), 'currency', selectedCurrency) }} </span></h5>
                                    <div class="daysSec">
                                        <div class="firstSec_days">
                                            <p v-cloak><i class="fa fa-sun-o"></i>{{Package.Days }}</p>
                                            <p v-cloak><i class="fa fa-moon-o"></i>{{ Package.Nights}} </p>
                                        </div>
                                        <div class="media_package addthis_inline_share_toolbox_g4u5">
                                            <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="packageviewImg">
                                        <img :src="Package.Image" :alt="Package.Title">
                                        <div class="specialOffers" v-show="Package.Offer_Packages" v-cloak>{{SpecialOffer}}</div>
                                    </div>



                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="Booking_form">
                                    <h6 v-cloak v-cloak>{{Booktabletitle}}</h6>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="text" v-model="userfname" class="booktxt" :placeholder="FirstName">
                                        </div>

                                    </div>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="text" v-model="userlname" class="booktxt" :placeholder="LastName">
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="email" v-model="Emailid" class="booktxt" :placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="text" v-model="contactno" class="booktxt" :placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <input type="text" id="traveldate" readonly="readonly" class="booktxt" :placeholder="Bookdate">
                                            </div>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <select class="booktxt" v-model="adtcount">
                                                            <option value="1" v-cloak>{{Adult}}</option>
                                                            <option value="1">01</option>
                                                            <option value="2">02</option>
                                                            <option value="3">03</option>
                                                            <option value="4">04</option>
                                                            <option value="5">05</option>
                                                            <option value="6">06</option>
                                                            <option value="7">07</option>
                                                            <option value="8">08</option>
                                                            <option value="9">09</option>
                                                            
                                                        </select>
                                            </div>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <select class="booktxt" v-model="chdcount">
                                                        <option value="0" v-cloak>{{Child}}</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                    </select>
                                            </div>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <select class="booktxt" v-model="infcount">
                                                <option  value="0" v-cloak>{{Infant}}</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                            </select>
                                            </div>
                                            <i class="fa fa-angle-down"></i>
                                        </div>

                                    </div>
                                    <div class="form-txt">
                                        <textarea class="booktxtArea" v-model="message" :placeholder="Messagelabel"></textarea>
                                    </div>
                                    <div class="form-txt">
                                        <button v-on:click="bookpackage" v-cloak>{{Bookbutton}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flx_sec">
                            <div class="col-lg-12">
                                <div class="detailspage_tab">
                                    <ul class="nav nav-tabs">
                                        <li :class="{ 'active': index === 0 }" v-for="(item, index) in packagetabs"><a :href="'#tab_' + index" data-toggle="tab">{{item.Tab_name}}</a></li>

                                        <li v-show="getmapurl"><a data-toggle="tab" href="#location">{{locationTabName}}</a></li>
                                        <li><a data-toggle="tab" href="#gallery">{{galleryTabName}}</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div v-for="(item, index) in packagetabs" :id="'tab_' + index" :class="{ 'active': index === 0 }" class="tab-pane fade in ">
                                            <h3 v-cloak>{{item.Tab_name}}</h3>
                                            <div v-html="item.Description"></div>
                                        </div>

                                        <div id="location" class="tab-pane fade" v-show="getmapurl">
                                            <h3>{{locationTabName}}</h3>
                                            <div class="packageMap">
                                                <iframe :src="Package.mapurl" height="400" frameborder="0" style="border:0;width: 100%;" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div id="gallery" class="tab-pane fade">
                                            <div class="packageGallery">
                                                <div class="row flx_sec">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 padding5" v-for="(item, index) in gallery">
                                                        <div class="pakGalleryList">
                                                            <a :href="item.Image" data-fancybox="images" data-caption="gallery">
                                                                <img :src="item.Image" :alt="item.Title">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!--footer-->
    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <!-- Bootstrap JQUERY -->


    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/datepicker-i18n.js?v=201907110000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>


    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/easy2go/servicejs/packageDetails.js"></script>
    <script type="text/javascript" src="js/pack.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d466f9535360596"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $('[data-fancybox]').fancybox({
            protect: true,
            buttons: [
                'zoom',
                'thumbs',
                'close'
            ]
        });


        $('[data-fancybox="watermark"]').fancybox({
            protect: true,
            slideClass: 'watermark',
            toolbar: false,
            smallBtn: true
        });

        // Preload watermark image
        // Please, use your own image
        (new Image()).src = "http://fancyapps.com/GJbkSPU.png";
    </script>
</body>

</html>