@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
@import url('/assets/pluggins/google-fonts/roboto-display-swap.css?v=202008130000');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
a,
       a:hover {
           text-decoration: none;
           cursor: pointer;
       }
       
       header {
           width: 100%;
           /* float: left; */
           flex-wrap: wrap;
           align-content: flex-start;
           display: -webkit-box;
           display: -moz-box;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
       }
       .flight-listing{
        margin-top: 0px;
       }
       .md-search {
        margin: 0px !important;
    }
       .navbar{
        z-index: 9;
       }
       
       header>div {
           width: 100%;
           float: left;
       }
       /*new header*/
       .mainHeader {
        width: 100%;
        float: left;
        background: #FFF;
        border-bottom: 1px solid #e2e2e2;
    }
    .navbar-brand {
        height: 50px;
        padding: 0px 0px;
        font-size: 18px;
    }
    .navbar-inverse {
        background-color: #FFF;
        border-color: #FFF;
    }
    .navbar{
        margin-bottom: 0px;
        border: none;
        box-shadow: none;
    }
    .nav>li>a {
        padding: 10px 0px;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 600;
        color: #27272b !important;
    }
    .nav>li {
        padding: 0px 24px;
    }.navbar-inverse .navbar-nav>li>a{
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        color: #3d489e !important;
        background-color: transparent;
        border-bottom: 3px solid #fbb728;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        color: #3d489e !important;
        background:none;
        border-bottom: 3px solid #fbb728;
    }
    .right_area li a{
        font-weight: 500;
        font-size: 13px;
        text-transform: capitalize;
    }
    .right_area li a span{
        border: 1px solid #3d489e;
        padding: 7px 17px;
        -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    }
    .right_area li a:hover span{
        background:#3d489e;
        color: #FFF;
    }
    .right_area li{
        padding: 0px 4px;
    }
    .agentbtn{
        background: #febf10;
        color: #000;
        border: 1px solid #febf10 !important;
        position: relative;
    }
    .agentbtn::after{
        content: '';
        position: absolute;
        left: 0;
        top: -37px;
        background: url(../../images/coir-tag.png) no-repeat center;
        width: 100%;
        height: 60px;
        background-size: 42px;
    }
    .agentbtn:hover{
        background: #febf10 !important;
        color: #000 !important;
        border: 1px solid #febf10 !important;
    }
    .brdr-right li::after{
        content: '';
        right: 0;
        top: 32px;
        position: absolute;
        height: 20px;
        border-right:1px solid #cdcdcd ;
    }
    .brdr-right li:last-child::after{
        display: none;
    }
    .right_area li>a:focus, .right_area li>a:hover{
        border-bottom: none !important;
    }
    
    
    
       

/*new header close*/

/*footer*/

footer{
    width: 100%;
    float: left;
    padding-top: 89px;
    background: none;
    padding-bottom: 0;
}
.main_footer{
    width: 100%;
    float: left;
    background:#f9f9f9;
    padding: 10px 0px;
    border-top: 1px solid #eaeaea;
}
.footer-address{
    width: 100%;
    float: left;
    background:#02a6cd;
    border-radius: 4px;
    margin-top: -69px;
}
.footer-address ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer-address ul li{
    width: 33.3%;
    float: left;
    padding: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #e8e8e8;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    line-height: 68px;
}
.footer-address ul li i{
    font-size: 32px;
    width: 67px;
    height: 67px;
    text-align: center;
    line-height: 66px;
    border: 2px solid #FFF;
    border-radius: 3px;
    margin-right: 9px;
}
.footer-address ul li:nth-child(2){
    background: #00a0c6;
}
.footer-address ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #e8e8e8;
}
.footer2{
    padding-top: 40px;
}
.footeraddress img{
    margin-bottom: 5px;
}
.footeraddress p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #e8e8e8;
    color: #727272;
}
.copyright{
    width: 100%;
    float: left;
    background: #3d489e;
    padding: 10px 0px;
}
.copyright-txt p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #e8e8e8;
    line-height: 37px;
}
.powered-txt p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #e8e8e8;
    line-height: 37px;
    text-align: right;
}
.powered-txt img{
    margin-left: 10px;
}
.footerlinks h2, .subscribe h2{
    font-family: 'Barlow', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color:#02a6cd;
    margin-bottom: 19px;
    text-transform: inherit;
}
.footerlinks ul{
    width: 50%;
    list-style: none;
    float: left;
    padding-left: 0;
}
.footerlinks ul li{
    float: left;
    width: 100%;
    margin-bottom: 8px;
}
.footerlinks ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #727272;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
    padding-left: 19px;
}
.footerlinks ul li a::after{
    content: '\f101';
    font-family: FontAwesome;
    font-size: 18px;
    left: 0;
    top: -4px;
    position: absolute;
}
.footerlinks ul li a:hover, .footerlinks ul li.active a{
    color: #00a0c6;
}
.follow{
    width: 100%;
    float: left;
}
.follow i{
    width: 36px;
    height: 36px;
    background: #e8e8e8;
    color: #45423f;
    text-align: center;
    line-height: 36px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.follow i:hover{
    background: #00a0c6;
    color: #FFF;
}
.subscribe input{
    width: 100%;
    height: 48px;
    float: left;
    border-radius: 3px;
    background: #FFF;
    border:1px solid #d9d9d9;
    padding: 10px;
    font-style: italic;
    color: #b4b4b4;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.subscribe input::placeholder{
    color: #b4b4b4;
    font-family: 'Roboto', sans-serif;
}
.subscribe input::-moz-placeholder{
    color: #b4b4b4;
    font-family: 'Roboto', sans-serif;
}
.subscribe input::-webkit-input-placeholder{
    color: #b4b4b4;
    font-family: 'Roboto', sans-serif;
}
.subscribe button{
    background: #00a0c6;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 43px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.subscribe button:hover{
    background:#ffbf10;
    color: #000;
}
/* footer close */
.modal-content{
    border-radius: 0;
}
.modal-header{
    background:#3d489e;
    padding: 13px 15px;
}
.modal-title{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}
.modal-header .close {
    margin-top: -1px;
    color: #FFF;
    opacity: 0.8;
}
.user_login p label {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.viewradio_sec{
    width: 100%;
    float: left;
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
.btn-submit{
    width: 100%;
    text-align: center;
}
.btn-submit button{
    width: 200px;
    height: 44px;
    margin: auto;
    background: #febf10;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.viewradio_sec .radio_view {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #febf10;
    border: 1px solid #febf10;
}

.radio_view input:checked~.checkmark {
    background-color: #febf10;
    border: 1px solid #febf10;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #795b08;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 25px 0 0 0px;
    background: #ffffff;
    padding: 0px 5px;
    cursor: pointer;
    border: 1px solid #3d489e;
}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #00a0c6;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #000;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.profile-dropdown span {
    width: 51px;
    display: inline-block;
    vertical-align: sub;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #febf10;
    position: absolute;
    top: 103%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    padding-bottom: 4px;
}

.profile-dropdown ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #616161;
}

.profile-dropdown>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.customer-profile{
    margin-top: 0px;
}
.flight-step-review{
    margin-top: 1px;
}


@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .navbar-right{
        padding-left: 0px !important;
    }
    }
    @media (min-width: 1200px){
        .navbar-nav {
            padding-left: 120px;
        }
    }
    @media (max-width: 990px) {
        .navbar-collapse.in {
            overflow-y: inherit !important;
        }
        footer {
            padding-top: 9px;
        }
        .footer-address ul li{
            width: 100%;
        }
        .footer-address ul li i {
            font-size: 18px;
            width: 37px;
            height: 37px;
            line-height: 35px;
        }
        .footer-address ul li{
            line-height: 38px;
            padding: 14px 24px;
        }
        .footer-address{
            margin-bottom: 5px;
            margin-top: 0px;
        }
        .footeraddress{
            text-align: center;
        }
        .footerlinks{
            padding-top: 20px;
        }
        .footerlinks h2{
            text-align: center;
        }
        .footerlinks ul {
            width: 100%;
            text-align: center;
        }
        .follow {
            padding-top: 30px;
            text-align: center;
        }
        .footer2 {
            padding-top: 17px;
        }
        .subscribe{
            text-align: center;
            padding-top: 30px;
        }
        .subscribe input{
            margin-bottom: 9px;
        }
        .subscribe button{
            width: 100%;
        }
        .navbar-brand>img {
            width: 80px;
        }
        .navbar-brand {
            height: auto;
        }
        .navSec .navbar-nav>li {
            float: left;
            display: block;
            width: 100%;
        }
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-collapse.collapse {
            display: none !important;
        }
        .navbar-nav {
            float: none !important;
            margin:0;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-inverse {
            background-color: #FFF;
            border-color: #FFF;
        }
        .navSec {
            background: #FFF;
            border-bottom: 1px solid #f1f1f1;
        }
        .navbar-toggle {
            margin-top: 21px;
            background-color: #FFF;
            border-radius: 0;
            padding: 9px 8px;
        }
        .navbar-inverse .navbar-toggle {
            border-color: #FFF;
        }
        .navbar-inverse .navbar-toggle:focus,
        .navbar-inverse .navbar-toggle:hover {
            background-color: #FFF;
            border-color: #FFF;
        }
        .navbar-nav>li>a {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        .navbar-inverse .navbar-nav>li>a {
            color: #3d489e;
            font-size: 14px !important;
        }
        .navbar-nav {
            background: #3d489e;
        }
        .navbar-inverse .navbar-collapse {
            border: none;
        }
        .brdr-right li::after{
            display: none;
        }
        .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
            color: #FFF !important;
        }
        .nav>li{
            border-bottom: 1px solid #858dcc;
            padding: 0px;
        }
        .nav>li>a{
            color: #FFF !important;
            font-weight: 500;
            text-align: center;
        }
        .right_area li a span{
            width: 100%;
            display: block;
            text-align: center;
        }
        .right_area li a{
            padding-top: 0px !important;
        padding-bottom: 0px !important;
        }
        .right_area li{
            border-bottom: 1px solid #858dcc;
            padding: 0px 0px;
        }
        .agentbtn::after{
            display: none;
        }
        .profile-dropdown{
            width: 100%;
            margin: 1px 0 2px 0px !important;
        }
        .profile-dropdown span{
            width: auto;
            line-height: 40px;
        }
        .profile-dropdown img{
            height: 31px;
            margin-top: 6px;
        }
        .profile-dropdown>label {
            height: 40px;
            line-height: 43px;
        }
        .profile-dropdown ul li a {
            padding: 6px 10px !important;
        }
        .profile-dropdown ul li{
            border-bottom: 1px solid #daa616;
        }
        .profile-dropdown ul li:last-child{
            border-bottom: none;
        }
        .navbar-inverse .navbar-toggle .icon-bar {
            background-color: #3e479f;
        }
       
    }
    @media (max-width: 768px){
        .copyright-txt, .powered-txt{
            text-align: center;
        }
        header{
            /* z-index: 99; */
            position: relative;
        }
        }
        @media (min-width: 768px){
        #myModal .modal-dialog {
            width: 354px;
            margin: 30px auto;
        }
    }
/*sing in popup start*/
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

/*singin popup end*/
@media (max-width: 1080px){
.collapse.in {
    display: block !important;
}
}