ul,
li,
figure,
figcaption,
footer,
.footer,
header,
hgroup,
section,
img,
menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul,
li {
  list-style: none;
}

.yone input[type="email"] {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  padding: 8px 10px;
  margin: 15px 0;
  font-size: 16px;
  border: 1px solid #d4d4d4;
}
/*
blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
*/
.md-search {
  margin: 0 0 -68px;
}
#fareHead {
  margin: 0;
}
/*
html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #004f87;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 15px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}

.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	      font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	display: inline-block;
	font-size: 18px;
	background-color: transparent;
	color: #fff !important;
	padding: 12px 45px;
	border-radius: 5px;
	vertical-align: middle;
	text-transform: capitalize;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
 */

.section {
  padding: 50px 0;
  overflow: hidden;
}

/*
p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #404041;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 70px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #fc4f00;
	line-height: 44px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
*/
img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  height: auto;
}

/* body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-right: 0 !important;
} */

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 4px solid #004f87;
  border-top-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* currency */
/* .dropdown-menu a {
  margin-bottom: 0 !important;
} */

/* .currency .dropdown a {
  background: #fff;
  padding: 5px 10px 5px 10px;
  position: relative;
  text-decoration: none;
  float: left;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  padding-right: 20px;
  padding: 10px 20px 10px 8px;
  margin-top: 0;
  border-radius: 4px;
} */

/*=======Start-homepage-css=========*/

.wp-btn {
  height: 55px;
  width: 55px;
  font-size: 30px;
  text-align: center;
  background: #25d365;
  position: fixed;
  bottom: 40px;
  left: 15px;
  z-index: 999;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  line-height: 49px;
}
.wp-btn:hover,
.wp-btn:focus {
  background: #128c7e;
  color: #fff;
}
/*back-to-top-css*/

.scrollToTop {
  height: 50px;
  width: 50px;
  padding-top: 2px;
  font-size: 24px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 999;
  display: none;
  border-radius: 50%;
  background-color: #004f87;
  border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
  background: #fcd228;
  color: #000;
}

.header-top {
  background: #fff;
  position: relative;
  padding: 20px 0;
}
.relative {
  position: relative;
}
header .logo {
  position: absolute;
  top: -22px;
  z-index: 99;
  background: #fff;
  padding: 24px 0px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 22px 0px rgba(0, 0, 0, 0.3);
}
header .logo a {
  display: block;
}
header .logo img {
  background: #fff;
}

/*=====  Call to Actions Button CSS BOF  ======*/
.call-to-action {
  margin: 0;
  float: right;
  width: unset;
  font-family: "Open Sans", sans-serif;
}
.btn-clta {
  font-weight: 400;
  color: #333;
  background: #fff;
  border: none !important;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin: 0 0 0 8px;
  float: left;
  text-align: center;
}
.btn-clta i {
  font-size: 15px;
  padding: 2px 2px 0 0;
}
.btn-clta:hover,
.btn-clta:focus,
.btn-clta.active {
  color: #0094d9;
  text-decoration: none;
}
.lang,
.currency {
  float: left;
  margin: 0 0 0 8px;
}
.lang .bootstrap-select.fit-width {
  width: 90px !important;
}
.currency .bootstrap-select.fit-width {
  width: 154px !important;
}
.lang .bootstrap-select > .btn,
.currency .bootstrap-select > .btn {
  width: 100%;
  padding-right: 20px;
  border-radius: 0;
  font-size: 12px;
  padding: 10px 20px 10px 8px;
  margin-top: 0;
  border-radius: 4px;
}
.lang .bootstrap-select > .btn:hover,
.currency .bootstrap-select > .btn:hover {
  color: #000;
}
.lang .bootstrap-select.btn-group .dropdown-menu,
.currency .bootstrap-select.btn-group .dropdown-menu {
  background: #fff;
  border-radius: 0;
  top: 95%;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a,
.currency .bootstrap-select.btn-group .dropdown-menu a {
  color: #333;
  background: transparent !important;
  padding: 5px 5px;
  border: 1px solid #d1d1d1;
  margin: 4px 5px;
  font-size: 12px;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:hover,
.lang .bootstrap-select.btn-group .dropdown-menu li a:focus,
.currency .bootstrap-select.btn-group .dropdown-menu a:hover,
.currency .bootstrap-select.btn-group .dropdown-menu a:focus {
  color: #000;
  border: 1px solid #3a7fc1 !important;
  background: #e8e8e8 !important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:active,
.currency .bootstrap-select.btn-group .dropdown-menu li a:active {
  color: #000;
  border: 1px solid #3a7fc1 !important;
  background: #f1f1f1;
}
.lang .btn-group.open .dropdown-toggle,
.currency .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.currency .bootstrap-select.fit-width {
  width: 100% !important;
}

/*===popup-css====*/
#lean_overlay {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}
.popupContainer {
  position: absolute;
  width: 400px;
  height: auto;
  left: 45%;
  top: 128px !important;
  background: #fff;
  text-align: left;
}
#modal_trigger {
  display: block;
}
/* Popup Styles*/
.popupHeader {
  font-size: 16px;
  text-transform: none;
}
.popupHeader {
  color: #0094d9;
  font-size: 22px;
  position: relative;
  padding: 15px 20px 10px 20px;
  font-weight: bold;
  width: auto;
  font-family: "Open Sans", sans-serif;
}
.popupHeader .modal_close {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0px;
  background: #0094d9 url(../../images/cd-icon-close.svg) no-repeat center
    center;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.popupHeader .modal_close:hover {
  color: #000;
}
.popupBody {
  padding: 0 20px 20px 20px;
}

.user_login small {
  margin: 10px 0;
}
.user_login small {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.user_login label {
  font-size: 16px;
  clear: both;
  display: block;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.user_login input {
  margin: 10px 0;
}

.user_login .btn-blue {
  margin-top: 15px;
  font-weight: 600;
}
/* User Login Form */

.profile-tab {
  float: left;
  margin-left: 10px;
}
.profile-tab .dropdown {
  background: #0094d9 !important;
  border-radius: 5px;
  padding: 4px 10px;
  color: #fff;
  font-size: 16px;
  float: none;
}
.profile-tab .dropdown-menu {
  background: #0094d9 !important;
}
.profile-tab .dropdown-item {
  background: #0094d9 !important;
  color: #fff !important;
}
.profile-tab .btn {
  margin-top: 0 !important;
  color: #fff !important;
  font-size: 16px;
  vertical-align: middle;
  font-weight: 600;
  border: none;
  background: none;
  float: none;
}
.profile-tab .btn:hover {
  color: #fff;
}
.profile-tab .btn i {
  margin-left: 10px;
}
.profile-user {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.dropdown-item {
  width: 100% !important;
  display: block !important;
  background: #0094d9;
  color: #fff;
  padding: 7px 10px;
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  line-height: 22px;
  font-weight: 600;
}
.dropdown-item:hover {
  background: #fcd228;
  color: #000;
}
.dropdown-item i {
  margin-right: 5px;
}
.dropdown-item:last-child {
  border-bottom: none;
}
.dropdown-menu {
  padding: 0;
  border-radius: 0;
  min-width: 135px;
  right: 0;
  /* left: inherit; */
}
.popup {
  overflow: hidden;
  float: left;
}

.popup .btn-info {
  float: left;
  padding: 8px 20px;
  margin-top: 0;
  font-size: 15px;
  margin-left: 10px;
  background: #0094d9;
  border: 2px solid #0094d9;
  font-weight: 600;
}
.popup .cr-btn {
  background: #0094d9 !important;
  border: 2px solid #0094d9;
}
.popup .btn-info:hover {
  background-color: transparent;
  color: #004f87;
}
.popup .btn-info:focus {
  outline: none;
}
.popup .cr-btn:hover {
  background-color: transparent !important;
  color: #0094d9;
}
.modal.fade .modal-dialog {
  margin-top: 160px;
  width: 60%;
}
.modal-content {
  background: #004f87;
  overflow: hidden;
}

.modal-header {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.close {
  color: #fff;
  opacity: 1;
  font-weight: 400;
  font-size: 25px;
}
.close:hover {
  color: #fcd228;
  opacity: 1;
}
.modal-body {
  overflow: hidden;
  padding: 50px 30px;
}
.model-text {
  float: left;
  width: 50%;
  text-align: left;
}
.model-text h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.model-text h3 span {
  font-weight: 400;
}
.model-text ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0;
  font-weight: 400;
  position: relative;
  padding-left: 27px;
  font-family: "Open Sans", sans-serif;
}

.model-text ul li i {
  margin-right: 10px;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 19px;
}

.model-form {
  background: #fff;
  width: 48%;
  float: right;
  padding: 15px;
  border-radius: 5px;
}

.model-form h3 {
  color: #004f87;
  padding: 0;
  font-size: 28px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

#forgot-pass .model-form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.model-form hr {
  height: 4px;
  background: #0094d9;
  margin: 10px 0 0 0;
  width: 20%;
  border: none;
}

.model-form ul li {
  float: left;
  width: 49%;
  height: 45px;
  text-align: center;
  position: relative;
}

.fb-model {
  background: #21509b;
  color: #fff;
  margin: 15px 0;
}
.fb-model:hover {
  background: #133978;
}
.google-model {
  background: #de4e43;
  color: #fff;
  float: right !important;
  margin: 15px 0;
}
.google-model:hover {
  background: #cf3e33;
}
.fb-model i,
.google-model i {
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  width: 45px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 43px;
}
.fb-model a,
.google-model a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  display: block;
}

.fb-log,
.gp-log {
  text-align: center;
  display: block;
  margin: 10px 0;
  float: left;
  width: 50%;
  padding: 0 10px;
  margin-top: 15px;
}
.fb-log {
  padding-left: 0;
}
.gp-log {
  padding-right: 0;
}
.model-form .form-control {
  font-family: "Open Sans", sans-serif;
}
.model-form input[type="submit"] {
  width: 100%;
  background: #0094d9;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 0;
  border: none;
  font-family: "Open Sans", sans-serif;
}
.model-form input[type="password"] {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}
.model-form input[type="checkbox"] {
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}
.model-form input[type="submit"]:hover {
  background: #004f87;
  color: #fff !important;
  font-family: "Open Sans", sans-serif;
}

.model-form select {
  width: 100%;
  border-radius: 3px;
  padding: 8px 10px;
  background: #fff !important;
  float: right;
}
.name-se {
  width: 100% !important;
}
.forgot-pass {
  text-align: center;
  display: block;
  font-size: 16px;
  color: #004f87;
  font-weight: 600;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
}
.cr-ac {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.back-login {
  text-align: center;
  padding: 10px 0;
  display: block;
  color: #004f87;
  font-weight: 600;
}
.cr-ac p {
  color: #3b3b3b !important;
}
.cr-ac a {
  color: #004f87;
}
.cr-ac a:hover,
.forgot-pass:hover {
  color: #0094d9;
}

.btn-blue {
  width: 100%;
  background: #0094d9;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 18px;
  border: none;
}
.btn-blue:hover {
  background: #004f87;
}

.top-contact {
  float: left;
  line-height: 48px;
}
.top-contact li {
  display: inline-block;
  color: #fff;
  font-size: 18px;
}
.top-contact li i {
  border: 1px solid #0094d9;
  border-radius: 4px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 27px;
  color: #0094d9;
}
.top-contact li a {
  color: #231f20;
  font-size: 18px;
}
.top-contact li a:hover {
  color: #0094d9;
}

.buttons {
  text-align: right;
  float: right;
}
.buttons .btn {
  font-size: 18px;
  color: #146194;
  border-radius: 0;
  display: block;
  float: left;
}
.buttons .login-btn {
  color: #231f20;
  font-size: 17px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 20px;
  float: left;
  line-height: 48px;
}
.buttons .login-btn i {
  margin-right: 10px;
}

.buttons .login-btn:hover {
  color: #004f87;
}

.buttons .booking-btn {
  color: #004f87;
  font-size: 16px;
  border: 2px solid #004f87;
  padding: 14px 38px;
  border-radius: 5px;
  float: left;
}

.buttons .booking-btn:hover {
  background: #004f87;
  color: #fff;
}

/*==============================Navigation================================*/

.header-bottom {
  background: #004f87;
}
.navbar-default {
  border: none;
  z-index: 9;
  background: #004f87;
  position: relative;
  margin: 0;
  box-shadow: none;
}

.navbar-brand img {
  width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  padding: 0;
  float: right !important;
}

.nav > li {
  position: relative;
  display: block;
  color: #fff;
  font-size: 20px;
}

.nav > li > a {
  display: block;
  margin: 0;
  padding: 24px 30px;
  position: relative;
  font-weight: 600;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  height: auto;
  padding: 0;
  position: absolute;
  z-index: 1000;
  margin: -40px 0 0 !important;
}

.top-nav-collapse {
  padding: 0;
  top: 0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #000;
  background-color: #fcd228;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background: #fcd228;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  color: #fff;
  background: transparent;
}

/*==============Newsletter===========*/
.newsletter-in {
  background: url(../../images/newslettter-bg.jpg);
  width: 100%;
  background-size: cover !important;
  margin: 100px 0 0px 0;
}
.newsletter {
  border-radius: 10px;
  padding: 125px 0;
  position: relative;
}

.newsletter h3 {
  color: #231f20;
  font-size: 47px;
  line-height: 54px;
  font-weight: 700;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.newsletter p {
  color: #1c1c1c;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 0;
  margin-bottom: 15px;
}

.input-form {
  position: relative;
  margin-top: 9px;
  width: 60%;
  -webkit-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.33);
}

.input-form input[type="email"] {
  margin: 0;
  height: 65px;
  padding: 0 20px;
  border-radius: 5px 0 0 5px;
}

.input-form button {
  background: #004f87;
  color: #fff;
  font-size: 26px;
  border: none;
  padding: 0 30px;
  position: absolute;
  top: 0;
  right: 0;
  height: 65px;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}

.input-form button:hover {
  background: #0094d9;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.news-text {
  width: 60%;
}

.photographer-img {
  position: absolute;
  /* top: -61px; */
  right: -100px;
  bottom: 0;
}

.photographer-img img {
  width: 85%;
}

/*==============End-Newsletter===========*/

/* Footer CSS BOF
=================================================== */

.footer {
  background: #fff;
  display: block;
  width: 100%;
  padding: 60px 0 0 0;
  background-size: cover;
  position: relative;
  /* z-index: 99; */
  overflow: hidden;
}
footer {
  background: #fff;
}

.footer::before {
  content: url(../../images/footer-left-pattern.png);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.footer::after {
  content: url(../../images/footer-right-pattern.png);
  position: absolute;
  right: 0;
  bottom: 0px;
  z-index: -1;
}

.footer .footer-in {
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
}

.about-footer {
  padding: 30px 0;
}

.footer-border {
  border-right: 1px solid #d2d2d2;
  min-height: 362px;
  margin: 0 0 30px 0;
}

.footer-border:last-child {
  border-right: none;
}

.footer .ftr-logo {
  text-align: left;
}

.footer .about-footer p {
  font-size: 16px;
  line-height: 24px;
  color: #575757;
  line-height: 25px;
  padding: 20px 0 15px 0;
  font-weight: 400;
}

/* Footer Social CSS BOF
=================================================== */

.footer .social {
  display: inline-block;
  list-style: outside none none;
  width: auto;
}

.footer .social li {
  text-align: center;
  padding: 0 15px 0 0;
  float: left;
}

.footer .social li a {
  color: #1c1c1c;
  display: block;
  height: 41px;
  line-height: 38px;
  text-decoration: none;
  transition: all 0.8s ease-in-out 0s;
  width: 41px;
  background: #ffffff;
  font-size: 20px;
  border: 2px solid #1c1c1c;
  border-radius: 50%;
}

.footer .social li a:hover {
  background: #004f87;
  color: #fff;
  border-color: #004f87;
}

.contact-footer,
.quick-link {
  padding: 30px 0;
}

.contact-footer h3,
.quick-link h3 {
  font-size: 28px;
  color: #1c1c1c;
  font-weight: 700;
  padding: 0;
  margin-bottom: 30px;
}

.contact-footer ul li {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
}

.contact-footer ul li:last-child {
  margin-bottom: 0;
}

.contact-footer ul li .fa-map-marker {
  font-size: 30px;
}

.contact-footer ul li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
  color: #1c1c1c;
}

.contact-footer ul li h4 {
  font-size: 20px;
  font-weight: 600;
  color: #004f87;
  text-transform: capitalize;
  letter-spacing: 0;
  padding: 0;
}

.contact-footer ul li p,
.contact-footer ul li a {
  font-size: 16px;
  line-height: 24px;
  color: #575757;
  padding: 5px 0;
  display: block;
  font-weight: 400;
}

.contact-footer ul li a:hover {
  color: #004f87;
}

.quick-link ul li {
  font-size: 16px;
  margin-bottom: 12px;
}

.quick-link ul li i {
  color: #1c1c1c;
}

.quick-link ul li a {
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 400;
  padding-left: 15px;
}

.quick-link ul li a:hover {
  color: #004f87;
}

.ftr-btm {
  background: #fff;
  padding: 10px 0;
  overflow: hidden;
}

.copyright {
  color: #575757;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 0;
  font-weight: 400;
}

.powered-by {
  color: #575757;
  font-size: 15px;
  font-weight: 400;
  float: right;
  margin-top: 8px;
}

/* media query */

@media (max-width: 1200px) {
  .newsletter h3 {
    font-size: 40px;
  }
  header .logo {
    padding: 15px 0;
  }
}

/*=========END-1200px==========*/

/*=========Start-991px==========*/

@media (max-width: 991px) {
  header .logo {
    position: relative;
    top: 0;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
  header .logo img {
    width: auto;
  }

  h1 {
    font-size: 40px;
    line-height: 45px;
  }
  h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .logo {
    text-align: center;
  }
  .top-contact {
    display: none;
  }
  .header-top {
    padding: 10px 0;
  }
  header .logo a {
    padding-top: 0;
  }

  .footer .social li {
    padding: 0 10px 0 0;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    padding: 18px 23px;
  }
  .newsletter h3 {
    font-size: 33px;
    line-height: 40px;
  }
  .newsletter-in {
    margin: 60px 0 0 0;
  }
  .photographer-img img {
    width: 83%;
  }
  .photographer-img {
    top: 10px;
  }
  .modal.fade .modal-dialog {
    width: 90%;
    margin-top: 110px;
  }
  .popup {
    display: inline-block;
    overflow: inherit;
  }
  .popup .btn-info {
    float: none;
    display: inline-block;
    padding: 8px 18px;
  }
  .btn-clta {
    display: inline-block;
    float: none;
  }
  .lang {
    display: inline-block;
    float: none;
  }
  .currency {
    display: inline-block;
    /* float: none; */
    margin: 0;
  }
  .currency .bootstrap-select {
    margin-bottom: 0 !important;
  }
  .call-to-action {
    float: right;
    text-align: center;
    margin-top: 6px;
    display: block;
  }
  .profile-tab {
    float: none;
    display: inline-block;
  }
  .popup {
    float: none;
    display: inline-block;
  }
}

/*=========END-991px==========*/

@media (max-width: 767px) {
  .photographer-img{display: none;}
  .news-text{width: 100%;}
  .input-form{width: 100%;}
  .newsletter{padding: 60px 0;}
  .newsletter-in{margin-top: 0px;}
  .flex-box {
    display: block;
  }
  .about-info {
    margin-bottom: 30px;
  }
  .model-text {
    display: none;
  }
  .model-form {
    width: 100%;
    float: none;
  }
  .modal.fade .modal-dialog {
    width: 70%;
    transform: translate(20%, 0px);
  }

  h1 {
    font-size: 30px;
    line-height: 35px;
  }
  h2 {
    font-size: 26px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 24px;
    line-height: 40px;
    padding: 10px 0;
  }

  .navbar-default::before {
    display: none;
  }
  .service-icon {
    display: inline-block;
  }

  .navbar-toggle {
    background-color: #fff;
    border: none;
    border-radius: 0;
    margin-right: 0;
    padding: 12px 14px;
    border-radius: 3px;
    float: right;
    margin: 0 15px 0 0;
  }
  .navbar-default {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 999;
  }
  .header-bottom {
    height: 60px;
    margin: 0 15px 20px 15px;
  }

  header .logo {
    box-shadow: none;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #146194;
    width: 27px;
    height: 3px;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: #dadada;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: transparent;
    margin-top: 0;
    border: none;
    float: none !important;
    box-shadow: none;
  }
  .nav > li {
    padding: 0;
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 15px 10px;
    background: #004f87;
    border-bottom: 1px solid #fff;
    font-size: 16px;
  }
  .nav > li > a {
    padding: 0;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    border-bottom: 1px solid #fff !important;
    background: #fcd228;
    color: #000;
  }
  .navbar-nav {
    margin: 45px 0 0;
  }
  .navbar-default .navbar-brand,
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    position: relative;
    margin: 0 !important;
    padding: 10px 0;
  }
  .buttons .login-btn {
    line-height: 0;
    margin-top: 0 !important;
  }
  .navbar-nav > li > a {
    font-size: 16px;
  }
  .footer::before {
    display: none;
  }
  .footer::after {
    display: none;
  }
  .footer {
    padding: 0 0 0 0;
  }
  .footer-border {
    min-height: auto;
    border-right: none;
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
  }
  .footer-border:last-child {
    border-bottom: none;
  }
  .about-footer {
    padding: 20px 0 20px 0;
  }
  .contact-footer h3,
  .quick-link h3 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .contact-footer ul li h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .contact-footer ul li {
    margin-bottom: 10px;
  }
  .footer .social li a {
    height: 35px;
    width: 35px;
    font-size: 16px;
    line-height: 32px;
  }
  .newsletter {
    margin-bottom: 30px;
  }
  .contact-footer,
  .quick-link {
    padding: 20px 0;
  }
  .ftr-btm {
    text-align: center;
  }
  .powered-by {
    float: none;
  }

  .navbar-default .navbar-nav > .active > a:hover {
    background: #1c1c1c;
    color: #fff;
  }

  .currency .bootstrap-select.fit-width {
    width: 100% !important;
  }
  .newsletter h3,
  .newsletter p {
    overflow: inherit;
    display: block;
    -webkit-line-clamp: inherit;
  }
  .header-bottom {
    display: none;
  }
  .btn-clta {
    display: none;
  }
}

/*=============================End-767px===========================*/

@media (max-width: 600px) {
  .popup .btn-info {
    display: inline-block;
    text-align: center;
    float: none;
    padding: 8px 12px;
  }
  .lang,
  .currency {
    display: inline-block;
    float: none;
  }

  .about-title h2 {
    font-size: 32px;
    line-height: 36px;
  }
  .contact-info h3 {
    font-size: 26px;
    line-height: 28px;
  }
  .ui-datepicker {
    width: auto;
    left: 0 !important;
  }
}

/*=========END-767px==========*/
@media (max-width: 650px) {
  header .logo img {
    width: auto;
  }
  .navbar-nav {
    margin: 10px 0 0;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 18px;
  }
  .newsletter h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .input-form button {
    font-size: 20px;
    padding: 0 20px;
  }
  .model-form ul li {
    width: 100%;
    float: none !important;
    clear: both;
  }
}

/*=========Start-550px==========*/
@media (max-width: 550px) {
  .header-top .col-xs-4,
  .header-top .col-xs-8 {
    width: 100%;
  }
  header .logo {
    text-align: left;
  }
  .currency {
    position: absolute;
    top: -60px;
    right: 15px;
    z-index: 999;
  }
  .popup {
    overflow: hidden;
    display: block;
  }
  .popup .btn-info {
    float: left;
    width: 49%;
    margin: 0;
  }
  .popup .cr-btn {
    float: right;
  }
  .call-to-action {
    float: none;
    text-align: center;
  }
  .profile-tab {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    position: relative;
  }
  .profile-tab .btn {
    display: block;
    text-align: left;
  }
  .profile-tab .btn i {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 16px;
    font-size: 20px;
  }
  .dropdown-menu {
    min-width: auto;
    width: 100%;
  }
}
/*=========Start-500px==========*/

@media (max-width: 500px) {
  header .logo img {
    width: 45%;
  }
  .all-search-box {
    padding-left: 4px;
    padding-right: 4px;
  }
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    border-bottom: none;
  }
  .input-form input[type="email"] {
    height: 50px !important;
    border-radius: 5px;
  }
  .input-form button {
    position: relative;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
  }
  .input-form {
    box-shadow: none;
  }
  .newsletter {
    padding: 30px 0;
  }
  .newsletter p {
    font-size: 16px;
    line-height: 24px;
  }
  .modal.fade .modal-dialog {
    width: 80%;
    transform: translate(10%, 0px);
  }
  .name-se {
    width: 100% !important;
    float: none !important;
  }
  .model-form select {
    width: 100% !important;
  }
  .cr-ac,
  .forgot-pass {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  header .logo img {
    width: 60%;
  }
  .modal.fade .modal-dialog {
    width: 90%;
    transform: translate(3%, 0px);
  }
  .popupContainer {
    width: 315px;
    top: 80px !important;
  }
  :-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #707070;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #355cc9;
  }
  ::-webkit-overflow-scrolling:touch {
    background: #707070;
    width: 5px;
  }
}

@media (max-width: 380px) {
  .currency {
    margin-top: 10px;
  }
  .model-form input[type="submit"] {
    font-size: 16px;
  }
}

/* validation style for login & register  */

.cd-signin-modal__error {
  display: inline-block;
  position: absolute;
  left: 0px;
  bottom: -31px;
  background: rgba(215, 102, 102, 0.9);
  padding: 7px 14px;
  z-index: 2;
  color: #fff;
  font-size: 14px;
  border-radius: 0.25em;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
.validation_sec {
  position: relative;
  margin-bottom: 10px;
}
.validation_sec input {
  width: 100%;
  height: 44px;
  padding: 10px;
  border: 1px solid #d4d3d4;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: #fcfcfc;
  border-radius: 3px;
}

@media (max-width: 1024px) {
  .mobile-view{
    display: none;
  }
}
