<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spartan</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=202102170000"> -->
  <!-- <link href="css/media.css?v=202102170000" rel="stylesheet" type="text/css"> -->
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
  <link href="css/fotorama.css" rel="stylesheet">
  <link rel="stylesheet" href="css/custom-splash.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <!-- <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div> -->
  <div id="preloader">
    <div id="preloader-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="lds-circle"><div></div></div>
        <div id="preloader-title">Loading</div>
    </div>
  </div>
  <!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="campoverview" v-cloak>
    <div>
      <div class="service_banner" style="background-image: url(images/innerbanner.png);">
        <div class="container">
          <h2>{{camOverview.Banner_Caption}}</h2>
        </div>
      </div>
      <div class="mainCont_area" id="bkng">
        <div class="container">
          <div class="search-sections">
            <form>
              <div class="row">
                <div class="hotel-header hotel_details ">
                  <h4>{{camOverview.Location}}</h4>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="details-camp facilites">
                    <h3>{{camOverview.Camp_Facilities_Label}}</h3>
                    <br>
                    <ul>
                      <div v-for="Term in camOverview.Camp_Facilites">
                        <li>{{Term}}</li>
                        <!-- <li style="width: 100%; padding-bottom:30px;">{{Term}}</li> -->
                      </div>
                    </ul>
                  </div>
                  <!-- <hr> -->
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 details-camp">
                  <h3>{{camOverview.Camping_Options_Label}}</h3>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="traveller-detatail" v-for="options in camOverview.Camping_Options">
                      <div class="col-lg-12 col-md-12 col-sm-12 hotel_details search-sections">
                        <div class="hotel-header">
                          <h4>{{options.Name}}</h4>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12 ">
                            <div class="campImage">
                              <div style="position: relative;">
                                <div class="fotorama" data-auto="false" data-nav="thumbs" data-fit="cover"
                                  data-width="100%">
                                  <img v-for="(img,ind) in options.Image" :key="ind" :src="img.Image" :alt="img.Name" />
                                </div>
                              </div>
                            </div>
                            <!-- <img class="campImage" :src="options.Image" /> -->
                            <!-- <img src="images/camping.jpg" /> -->
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 ">
                            <p>
                              {{options.Description}}
                            </p>
                            <div class="facilites" v-if="options.Amenities">
                              <br>
                              <ul>
                                <div v-for="(amenities,index) in options.Amenities" :key="index">
                                  <li>{{amenities}}</li>
                                </div>
                              </ul>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <!-- <div v-html="options.Link_Description">
                            </div> -->
                            <div class="clearfix"></div>
                            <div v-if="options.ID==4 && camOverview.Equipments" class="details-camp">
                              <h3>{{camOverview.Equipment_Label_}}</h3>
                              <div class="details-camp" v-for="item in camOverview.Equipments">
                                <h3>{{item.Name}}</h3>
                                <p>{{item.Description}}</p>
                                <ul>
                                  <div v-for="item2 in item.Amenities">
                                    <li>{{item2}}</li>
                                  </div>
                                </ul>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <!-- <div class="col-md-12 col-sm-12 details-camp">
                  <h3>{{'Equipments'}}</h3>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="details-camp facilites search-sections" v-for="item in camOverview.Equipments">
                      <h3>{{item.Name}}</h3>
                      <br>
                      <p>{{item.Description}}</p>
                      <br>
                      <ul>
                        <div v-for="item2 in item.Amenities">
                          <li>{{item2}}</li>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div> -->
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12">
                  <div class="terms-condition">
                    <p>{{camOverview.Notes}}</p>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>

  <script src="js/bootstrap.min.js?v=202102170000"></script>
  <script src="js/fotorama.js"></script>
  <script src="js/select2.min.js"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/custom.js?v=202102170000"></script>
  <script src="ServiceJs/camp-overview.js?v=2021008250000"></script>
</body>

</html>