<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spartan</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <link rel="stylesheet" href="/assets/css/owl.carousel.css?v=201905150000">
  <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="indexmain" v-cloak>
    <div class="hm_main">
      <div class="bannersec" :style="{ 'background-image': 'url(' + Banner.Banner_Image+ ')'}">
        <div class="container">
          <div class="search-section">
            <div role="tabpanel">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="flight">
                  <div class="row sp_padding">
                    <div class="col-md-12">
                      <div class="radio radio-success radio-inline">
                        <input type="radio" id="radio-btn-1" value="O" v-model="triptype" name="TripType"
                          v-on:click="onCheck($event)" checked="checked">
                        <label for="radio-btn-1">{{MainSection.Oneway_Label}}</label>
                      </div>
                      <div class="radio radio-success radio-inline">
                        <input type="radio" id="radio-btn-2" value="R" v-model="triptype" name="TripType"
                          v-on:click="onCheck($event)">
                        <label for="radio-btn-2">{{MainSection.Round_Trip_Label}}</label>
                      </div>
                      <div class="radio radio-success radio-inline">
                        <input type="radio" id="radio-btn-3" value="M" v-model="triptype" name="TripType"
                          v-on:click="onCheck($event)">
                        <label for="radio-btn-3">{{MainSection.Multi_City_Label}}</label>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                      <label>{{MainSection.Leaving_From_Label}}</label>
                      <div class="input-group">
                        <flightserch id="Departurefrom" :return-value="returnValue" :place-holder-text="MainSection.From_Placeholder"
                          @air-search-completed="Departurefrom" :leg="0"></flightserch>
                        <span class="location-icon"><i class="fa fa-map-marker"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                      <label>{{MainSection.Arriving_To_Label}}</label>
                      <div class="input-group">
                        <flightserch id="DepartureTo" :return-value="returnValue" :place-holder-text="MainSection.To_Placeholder"
                          @air-search-completed="Arrivalfrom" :leg="0"></flightserch>
                        <span class="location-icon"><i class="fa fa-map-marker"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                      <label>{{MainSection.Departure_Label}}</label>
                      <div class="input-group">
                        <input value="" id="deptDate01" readonly="readonly" class="calender_area calenderhome_sec"
                          :placeholder="placeholderDepartureDate">
                        <span @click="showCalendar('deptDate01')" class="location-icon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 search-col-padding" v-if="triptype !='M'"
                      v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                      <label>{{MainSection.Return_Label}}</label>
                      <div class="input-group">
                        <input id="retDate" :disabled="triptype == 'O'" value="" readonly="readonly"
                          class="calender_area calenderhome_sec" :placeholder="placeholderReturnDate">
                        <span @click="showCalendar('retDate')" class="location-icon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                    <div class="multi_area_sec" v-if="(triptype == 'M')">
                      <div id="multi_leg_2" class="multi_area" v-if="(legcount>0)">
                        <h2>
                          {{MainSection.Trip_Label}} 2
                        </h2>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.From_Label}}</label>
                            <div class="input-group">
                              <flightserch id="DeparturefromLeg2" :return-value="returnValue"
                                :place-holder-text="MainSection.From_Placeholder" @air-search-completed="Departurefrom" :leg="1">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.To_Label}}</label>
                            <div class="input-group">
                              <flightserch id="ArrivalfromLeg2" :return-value="returnValue"
                                :place-holder-text="MainSection.To_Placeholder" @air-search-completed="Arrivalfrom" :leg="1">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.Departure_Label}}</label>
                            <div class="input-group">
                              <input id="txtLeg2Date" readonly="readonly" class="calender_area calenderhome_sec"
                                :placeholder="placeholderDepartureDate">
                              <span @click="showCalendar('txtLeg2Date')" class="location-icon"><i class="fa fa-calendar"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="multi_leg_3" class="multi_area" v-if="(legcount>1)">
                        <h2 :class="arabic_dropdown">
                          {{MainSection.Trip_Label}} 3<a id="closeCity-3" v-on:click="DeleteLeg(2)" v-if="legcount==2"><i
                              class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.From_Label}}</label>
                            <div class="input-group">
                              <flightserch id="DeparturefromLeg3" :return-value="returnValue"
                                :place-holder-text="MainSection.From_Placeholder" @air-search-completed="Departurefrom" :leg="2">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.To_Label}}</label>
                            <div class="input-group">
                              <flightserch id="ArrivalfromLeg3" :return-value="returnValue"
                                :place-holder-text="MainSection.To_Placeholder" @air-search-completed="Arrivalfrom" :leg="2">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.Departure_Label}}</label>
                            <div class="input-group">
                              <input id="txtLeg3Date" readonly="readonly" readonly="readonly"
                                class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                              <span @click="showCalendar('txtLeg3Date')" class="location-icon"><i class="fa fa-calendar"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="multi_leg_4" class="multi_area" v-if="(legcount>2)">
                        <h2 :class="arabic_dropdown">
                          {{MainSection.Trip_Label}} 4
                          <a id="closeCity-4" v-on:click="DeleteLeg(3)" v-if="legcount==3"><i
                              class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.From_Label}}</label>
                            <div class="input-group">
                              <flightserch id="DeparturefromLeg4" :return-value="returnValue"
                                :place-holder-text="MainSection.From_Placeholder" @air-search-completed="Departurefrom" :leg="3">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.To_Label}}</label>
                            <div class="input-group">
                              <flightserch id="ArrivalfromLeg4" :return-value="returnValue"
                                :place-holder-text="MainSection.To_Placeholder" @air-search-completed="Arrivalfrom" :leg="3">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.Departure_Label}}</label>
                            <div class="input-group">
                              <input id="txtLeg4Date" readonly="readonly" readonly="readonly"
                                class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                              <span @click="showCalendar('txtLeg4Date')" class="location-icon"><i class="fa fa-calendar"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="multi_leg_5" class="multi_area" v-if="(legcount>3)">
                        <h2 :class="arabic_dropdown">
                          {{MainSection.Trip_Label}} 5<a id="closeCity-5" v-on:click="DeleteLeg(4)" v-if="legcount==4"><i
                              class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.From_Label}}</label>
                            <div class="input-group">
                              <flightserch id="DeparturefromLeg5" :return-value="returnValue"
                                :place-holder-text="MainSection.From_Placeholder" @air-search-completed="Departurefrom" :leg="4">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.To_Label}}</label>
                            <div class="input-group">
                              <flightserch id="ArrivalfromLeg5" :return-value="returnValue"
                                :place-holder-text="MainSection.To_Placeholder" @air-search-completed="Arrivalfrom" :leg="4">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.Departure_Label}}</label>
                            <div class="input-group">
                              <input id="txtLeg5Date" readonly="readonly" readonly="readonly"
                                class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                              <span @click="showCalendar('txtLeg5Date')" class="location-icon"><i class="fa fa-calendar"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="multi_leg_6" class="multi_area" v-if="(legcount>4)">
                        <h2 :class="arabic_dropdown">
                          {{MainSection.Trip_Label}} 6<a id="closeCity-3" v-on:click="DeleteLeg(5)" v-if="legcount==5"><i
                              class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.From_Label}}</label>
                            <div class="input-group">
                              <flightserch id="DeparturefromLeg6" :return-value="returnValue"
                                :place-holder-text="MainSection.From_Placeholder" @air-search-completed="Departurefrom" :leg="5">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.To_Label}}</label>
                            <div class="input-group">
                              <flightserch id="ArrivalfromLeg6" :return-value="returnValue"
                                :place-holder-text="MainSection.To_Placeholder" @air-search-completed="Arrivalfrom" :leg="5">
                              </flightserch>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mb_sp">
                            <label>{{MainSection.Departure_Label}}</label>
                            <div class="input-group">
                              <input id="txtLeg6Date" readonly="readonly" readonly="readonly"
                                class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                              <span @click="showCalendar('txtLeg6Date')" class="location-icon"><i class="fa fa-calendar"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="divAddLeg" class="add_multi_sec" v-if="legcount!=5">
                        <a id="addCity" v-on:click="AddNewLeg();">
                          {{MainSection.Add_Up_To_Label_}} {{5-legcount}}
                          {{MainSection.Trip_Label}} <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                      <label>{{MainSection.Adult_Label}}</label>
                      <select v-model="selected_adult" class="myselect" id="adultdrp" onchange="onPaxChange(this)">
                        <option v-for="adult in adults" :value="adult.value">
                          {{adult.value}} {{adult.value==1?MainSection.Adult_Label:MainSection.Adults_Label}}
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                      <label>{{MainSection.Child_Label}}</label>
                      <select v-model="selected_child" class="myselect" id="childdrp" onchange="onPaxChange(this)">
                        <option v-for="child in children" :value="child.value">
                          {{child.value>0?child.value:''}}
                          {{child.value==0?(MainSection.Children_Years_Label):(child.value==1?MainSection.Child_Label:MainSection.Children_Label)}}
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                      <label>{{MainSection.Infant_Label}}</label>
                      <select v-model="selected_infant" class="myselect" id="infantdrp" onchange="onPaxChange(this)">
                        <option v-for="infant in infants" :value="infant.value">
                          {{infant.value>0?infant.value:''}}
                          {{infant.value==0?(MainSection.Infant_Years_Label):(infant.value==1?MainSection.Infant_Label:MainSection.Infants_Label)}}
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                      <label>{{MainSection.Class_Label}}</label>
                      <select v-model="selected_cabin" id="cabinValue"  class="myselect" onchange="onCabinChange(this)">
                        <option v-for="cabin in cabinclass" :value="cabin.value">{{cabin.text}}</option>
                      </select>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div v-if="validationMessage" class="validation_home" v-cloak>
                    {{validationMessage}}</div>
                  <div class="row sp_padding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" class="search-button" v-on:click="SearchFlight">{{MainSection.Button_Label}}  <i
                          class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" v-for="(banners,indx) in bannerImages"
              :class="{ 'active': parseInt(indx) == 0 }" :data-slide-to="indx"></li>

          </ol>
          <div class="carousel-inner">
            <div class="item" v-for="(banner,indx) in bannerImages" :class="{ 'active': parseInt(indx) == 0 }">
              <img :src="banner.Image" alt="banner image">
              <div class="banner-info">
                <div class="container">
                  <div class="row">
                    <div class="banner-text" v-if="banner.Name">
                      <h1>{{banner.Name}}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i
              class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs"
            href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>

        
      </div>
      </div> -->

  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=202008180000"></script>
  <script src="/Spartan/master/js/flights.js?v=20210625000"></script>
</body>

</html>