<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spartan</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=202102170000"> -->
  <!-- <link href="css/media.css?v=202102170000" rel="stylesheet" type="text/css"> -->
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
  <link href="css/fotorama.css" rel="stylesheet">
  <link rel="stylesheet" href="css/custom-splash.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <!-- <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div> -->
  <div id="preloader">
    <div id="preloader-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="lds-circle"><div></div></div>
        <div id="preloader-title">Loading</div>
    </div>
  </div>
  <!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="hoteloverview" v-cloak>
    <div>
      <div class="service_banner" style="background-image: url(images/innerbanner.png);">
        <div class="container">
          <h2>{{hotelOverview.Banner_Caption}}</h2>
        </div>
      </div>
      <div class="mainCont_area" id="bkng">
        <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 details-camp">
                <div class="traveller-detatail" v-for="options in hotelOverview.Hotels">
                  <div class="col-lg-12 col-md-12 col-sm-12 hotel_details search-sections">
                    <div class="hotel-header">
                      <h4>{{options.Name}}</h4>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div class="">
                          <div style="position: relative;">
                            <div class="fotorama" 
                            data-height="300" data-auto="false" data-nav="thumbs" data-fit="cover"
                              data-width="100%">
                              <img v-for="(img,ind) in options.Image" :key="ind" :src="img.Image" :alt="img.Name" />
                            </div>
                          </div>
                        </div>
                        <!-- <img class="campImage" :src="options.Image" /> -->
                        <!-- <img src="images/camping.jpg" /> -->
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <div v-html="options.Description"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>

  <script src="js/bootstrap.min.js?v=202102170000"></script>
  <script src="js/fotorama.js"></script>
  <script src="js/select2.min.js"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/custom.js?v=202102170000"></script>
  <script src="ServiceJs/hotel-overview.js?v=202108250000"></script>
</body>

</html>