<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spartan</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>
  <section class="p-0 relative" id="tent" v-cloak>
    <div class="hm_main">
      <div class="bannersec" :style="{ 'background-image': 'url(' + Banner.Banner_Image+ ')'}">
        <div class="container">
          <div class="search-section">
            <div role="tabpanel">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="hotel">
                  <div class="row sp_padding">
                    <div class="col-md-4 col-sm-6 search-col-padding">
                      <label>{{MainSection.Location_Label}}</label>
                      <!-- <select class="myselect" id="city" disabled v-model="cityName">
                        <option value="" selected disabled hidden>City</option>
                        <option v-for="locationHotel in locationHotels" :value="locationHotel">{{locationHotel}}
                        </option>
                      </select> -->
                      <input :placeholder="locationTent[0]" class="form-control textbox" disabled type="text"
                      autocomplete="off" />
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding">
                      <label>{{MainSection.Check_In_Label}}</label>
                      <div class="input-group">
                        <input id="from1" :placeholder="MainSection.Date_Placeholder" class="calendar form-control textbox" type="text"
                          autocomplete="off" v-on:focus="dateChecker" />
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding">
                      <label>{{MainSection.Checkout_Label}}</label>
                      <div class="input-group">
                        <input id="to1" :placeholder="MainSection.Date_Placeholder" class="calendar form-control textbox" type="text"
                          autocomplete="off" />
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding">
                      <label>{{MainSection.Number_Of_Nights_Label}}</label>
                      <div class="input-group">
                        <input id="to1" :placeholder="noOfnightsFind()" class="form-control textbox" disabled type="text"
                          autocomplete="off" />
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding custom-traveller">
                      <label>{{MainSection.Occupancy_Label_For_Tent}}</label>
                      <!-- <select class="myselect" id="occupancy" v-model="occupancyType">
                        <option value="" selected disabled hidden>Occupancy</option>
                        <option v-for="OccupancyHotels in OccupancyHotels" :value="OccupancyHotels.Occupancy_ID">
                          {{OccupancyHotels.Occupancy}}
                        </option>
                      </select> -->
                      <input :placeholder="roomCount>0?roomCount==1? roomCount+' ' + (set == 'SC1' ? MainSection.Space_Label : (set == 'SC2' ? MainSection.Package_Label : MainSection.Equipment_Label)) + ', ' + occupancySummary:roomCount +' ' + (set == 'SC1' ? MainSection.Space_Label : (set == 'SC2' ? MainSection.Package_Label : MainSection.Equipment_Label)) + ', ' + occupancySummary:'Occupancy'" class="form-control textbox spartan-occupancy" type="text" readonly autocomplete="off" @click="showOccupancy = !showOccupancy"
                        class="form-control textbox spartan-occupancy" type="text" readonly autocomplete="off"
                        @click="showOccupancy = !showOccupancy" />
                      <div class="travellersDropdown flt">
                        <div class="travelerSelectWindow travelerSelectWindow-spartan active" v-show="showOccupancy">
                          <div id="travelRoundtrip" v-if="OccupancyHotels">
                            <div id="div_Room_1" v-for="(room,index) in roomCount" :key="index">
                              <div class="travelDropdown">
                                <div class="section-pass">
                                  <div class="room-title">{{set == 'SC1' ? MainSection.Space_Label : (set == 'SC2' ? MainSection.Package_Label : MainSection.Equipment_Label)}} {{+(index+1)}}</div>
                                  <fieldset><label>{{MainSection.Occupancy_Label_For_Tent}}</label>
                                    <div class="trvFld"><span class="custom-select-v3 spartan-select sm">
                                        <select :id="'adult_'+index" class="elmAdult" v-model="rooms[index]">
                                          <option v-for="(OccupancyHotel,ind) in OccupancyHotels"
                                            :selected="OccupancyHotel.Occupancy_ID==0?'true':'false'"
                                            :value="Number(OccupancyHotel.Occupancy_ID)">
                                            {{OccupancyHotel.Occupancy}}
                                          </option>
                                        </select>
                                        <!-- </span></div> <span class="ageRange ageRange-spartan">(12+ yrs)</span> -->
                                  </fieldset>
                                </div>
                              </div>
                            </div>
                            <!-- <div id="div_Room_2">
                              <div class="travelDropdown">
                                <div class="section-pass">
                                  <div class="room-title">Rooms 2</div>
                                  <fieldset><label>Guests</label>
                                    <div class="trvFld"><span class="custom-select-v3 spartan-select sm">
                                        <select id="adult_1" class="elmAdult">
                                          <option value="1 adult" selected="selected">1 adult</option>
                                          <option value="2 adults">2 adults</option>
                                          <option value="2 adults + 1 adult">2 adults + 1 adult</option>
                                          <option value="2 adults + 1 child">2 adults + 1 child</option>
                                        </select>
                                      </span></div> <span class="ageRange ageRange-spartan">(12+ yrs)</span>
                                  </fieldset>
                                </div>
                              </div>
                            </div> -->
                            <div class="spartan-margin">
                              <div href="#" v-on:click="addRoom" v-show="roomCount<5" class="add-room"><i aria-hidden="true"
                                  class="fa fa-plus"></i>{{set == 'SC1' ? MainSection.Add_Space_Label : (set == 'SC2' ? MainSection.Add_Package_Label : MainSection.Equipment_Label)}}</div>
                              <div href="#" v-on:click="removeRoom" v-show="roomCount>1" class="remove-room"><i aria-hidden="true"
                                  class="fa fa-trash"></i>{{MainSection.Delete_Label}}
                              </div>
                            </div>
                          </div>
                          <div class="closeDropdown" @click="showOccupancy = !showOccupancy"><span
                              class="closeBtn closeLink">{{MainSection.Done_Label}}</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="row sp_padding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" class="search-button" v-on:click="searchTent">{{MainSection.Button_Label}}  <i
                          class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" v-for="(banners,indx) in bannerImages"
              :class="{ 'active': parseInt(indx) == 0 }" :data-slide-to="indx"></li>

          </ol>
          <div class="carousel-inner">
            <div class="item" v-for="(banner,indx) in bannerImages" :class="{ 'active': parseInt(indx) == 0 }">
              <img :src="banner.Image" alt="banner image">
              <div class="banner-info">
                <div class="container">
                  <div class="row">
                    <div class="banner-text" v-if="banner.Name">
                      <h1>{{banner.Name}}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i
              class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs"
            href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
        
      </div>
      </div> -->

  </section>
  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/lodash.min.js?v=202105240000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/Spartan/ServiceJs/self-camping.js?v=202107140000"></script>
</body>

</html>