<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spartan</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202105280000">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=202105280000"> -->
    <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202105280000" rel="stylesheet">
    <link href="/assets/css/intlTelInput.css?v=201904080000" rel="stylesheet" type="text/css" />
    <link href="css/fotorama.css" rel="stylesheet">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="tentdetails" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
                <h2>{{bannerSection.Title}}</h2>
            </div>
        </div>
        <section class="mainCont_area">

            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="summary-detail">
                                <h3>{{labelsSection.Summary_Label}}</h3>
                                <div class="summary-departure">
                                    <div class="summary-place m-l-0">
                                        <h4 class="pdng-lft">
                                            <!-- <i class="fa fa-hotel htl-icon" aria-hidden="true"></i> -->
                                            <i class="htl-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!-- Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M624 448h-24.68L359.54 117.75l53.41-73.55c5.19-7.15 3.61-17.16-3.54-22.35l-25.9-18.79c-7.15-5.19-17.15-3.61-22.35 3.55L320 63.3 278.83 6.6c-5.19-7.15-15.2-8.74-22.35-3.55l-25.88 18.8c-7.15 5.19-8.74 15.2-3.54 22.35l53.41 73.55L40.68 448H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h608c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM320 288l116.36 160H203.64L320 288z"/></svg></i>
                                            {{maincontent.Hotel_Name}}
                                        </h4>
                                        <p>{{maincontent.Hotel_Address}}</p>
                                    </div>
                                </div>

                                <div class="summary-price">
                                    <!-- <p>2 Nights: 15/02/2019 TO 17/02/2019</p> -->
                                    <p>{{noOfNights>1?noOfNights+ labelsSection.Night_Label + ' :' : '1 ' + labelsSection.Night_Label + ' :'}}
                                        {{checkIn +' ' + labelsSection.To_Label + ' ' + checkOut}}
                                    </p>
                                    <ul>
                                        <li v-for="(room,index) in selectedTents" :key="index">
                                            <div class="rm-txt">{{labelsSection.Tent_Label}} {{(index+1)}}</div>
                                            <p>
                                                {{room.Occupancy_ID==1?'1 '+ labelsSection.Person_Label :room.Occupancy_ID==2?'2 ' + labelsSection.Persons_Label:room.Occupancy_ID==3?'3 '+ labelsSection.Persons_Label:room.Occupancy_ID==4?'3 Adults':'1 Adult'}}
                                            </p>
                                            <span>
                                                {{$n(((room.totalPrice)/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>

                                            <!-- <div class="rm-txt">Room 1: STUDIO APARTMENT</div>
                                            <p>1 Room: 1 Adult</p>
                                            <p>1 Room: 1 Adult</p>
                                            <span>
                                                {{$n((total/CurrencyMultiplier), 'currency', selectedCurrency)}}</span> -->

                                        </li>
                                    </ul>
                                    <div class="summary-total">
                                        <p>{{labelsSection.Total_Label}}</p>
                                        <span>{{$n((grandTotal/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>
                                    </div>
                                    <!-- <div class="summary-included">
                                        <p>Price includes all taxes except Tourism Fee</p>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <button class="modify_srch_btn" v-on:click.prevent="checkReservation">
                                <div v-if="false">
                                   {{labelsSection.Processing_Label}}<span class="loader__dot">.</span><span class="loader__dot">.</span><span
                                        class="loader__dot">.</span>
                                </div>
                                <div v-else>{{labelsSection.Book_Label}}</div>
                            </button> -->
                        </div>


                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="traveller-detatail">
                                <div class="detail-title">
                                    <span>1</span>
                                    <p>{{labelsSection.Review_Your_Booking_Title}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 hotel_details">
                                        <div class="hotel-header">
                                            <h4>{{maincontent.Tent_Name}}</h4>
                                            <span>{{$n((grandTotal/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>
                                        </div>
                                        <div class="hotel_detailsImg">
                                            <div style="position: relative;">
                                                <div class="fotorama" data-auto="false" data-nav="thumbs" data-fit="cover" data-width="100%">
                                                    <img v-for="(image, index) in tentImages" :key="index" :src="image.Image" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="details-sec">
                                            <h3>{{labelsSection.Information_Label}}</h3>
                                            <p>{{maincontent.Informations}}</p>
                                        </div>
                                        <div class="details-sec aminities">
                                            <h3>{{labelsSection.Amenities_Label}}</h3>
                                            <ul>
                                                <div v-for="feature in maincontent.Amenities">
                                                    <li v-if="(feature.Amenities_Area||'').toLowerCase().includes('bed 90x190')">{{occupancyTotal}} {{occupancyTotal > 1 ? 'Beds ' + feature.Amenities_Area.split(' ')[1] : feature.Amenities_Area}}</li>
                                                    <li v-else>{{feature.Amenities_Area}}</li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="details-sec booking-dates" v-if="BookingDetailsSection.Instructions">
                                            <h3>{{labelsSection.Booking_Instruction_Label}}</h3>      
                                            <ul>
                                                <div v-for="rule in BookingDetailsSection.Instructions ">
                                                    <li>{{rule.Instructions}}</li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="details-sec booking-dates" v-if="RoomDetailsSection.Instructions">
                                            <h3>{{labelsSection.Rooms_Instruction_Label}}</h3>
                                            <ul>
                                                <div v-for="rules in RoomDetailsSection.Instructions">
                                                    <li>{{rules.Instructions}}</li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Booking Details -->
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" v-if="rooms.length">
                            <div class="traveller-detatail travel-form-info" id="htlbooking">
                                <div class="detail-title">
                                    <span>2</span>
                                    <p>{{labelsSection.Guest_Details_Label}}</p>
                                </div>
                                <div class="travel-form" v-for="(room, rIndex) in tentUsers" :key="'room'+rIndex"
                                    :class="[rIndex != 0 ? 'bdr-tp m-t-15' :'']">
                                    <p>
                                        <span>{{labelsSection.Tent_Label+ ' '+ (rIndex + 1) + ':'}}</span>
                                    </p>
                                    <div v-for="(pax, pIndex) in room" :key="'pax'+pIndex">
                                        <!-- <div class="travel-form">
                                            <h6>{{pax.type}}</h6>
                                        </div> -->
                                        <div class="col-md-2 col-sm-4" v-cloak>
                                            <label class="select-label">{{labelsSection.Title_Label}}</label>
                                            <select class="simple_dropdown sel_co_trvlr" v-model="pax.title">
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Ms">Ms</option>
                                            </select>
                                        </div>
                                        <div class="flx_package">
                                            <div class="col-md-5 col-sm-5">
                                                <label class="select-label">{{labelsSection.First_Name_Label}}</label>
                                                <input type="text" :id="'firstName'+rIndex+pIndex"
                                                    :name="'firstName'+rIndex+pIndex" :placeholder="labelsSection.First_Name_Placeholder"
                                                    v-model="pax.name" :class="{'form-control': true}" />
                                                <!-- <span class="text-danger">{{ errors.first('firstName'+rIndex+pIndex) }}</span> -->
                                            </div>
                                            <div class="col-md-5 col-sm-5 pd-right">
                                                <label class="select-label">{{labelsSection.Last_Name_Label}}</label>
                                                <input type="text" :id="'lastName'+rIndex+pIndex"
                                                    :name="'lastName'+rIndex+pIndex" :placeholder="labelsSection.Last_Name_Placeholder"
                                                    v-model="pax.surName" :class="{'form-control': true }" />
                                                <!-- <span class="text-danger">{{ errors.first('lastName'+rIndex+pIndex) }}</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="travel-form bdr-tp m-t-15">
                                    <p>
                                        <span>{{labelsSection.Contact_Details_Label}}</span>
                                    </p>
                                    <form>
                                        <div class="col-md-7 col-sm-7 pd-left travel-form">
                                            <label class="select-label">{{labelsSection.Email_Label}}</label>
                                            <input type="text" id="emailll" name="email" :placeholder="labelsSection.Email_Placeholder"
                                                v-model="email" :class="{'form-control': true}" />
                                        </div>
                                        <div class="col-md-5 col-sm-5 travel-form pd-right">
                                            <label class="select-label">{{labelsSection.Phone_Number_Label}}</label>
                                            <input id="phone" type="tel" v-model="phone" :placeholder="labelsSection.Phone_Number_Placeholder"
                                                class="form-control" />
                                        </div>
                                    </form>
                                </div>
                                <div class="travel-form bdr-tp m-t-15">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pd-right">
                                        <!-- <div class="col-md-7 col-sm-7 pd-left travel-form"> -->
                                        <button class="modify_srch_btn" v-on:click.prevent="bookTent"
                                            :disabled="isLoading">
                                            <div v-if="isLoading">
                                                {{labelsSection.Processing_Label}}<span class="loader__dot">.</span><span
                                                    class="loader__dot">.</span><span class="loader__dot">.</span>
                                            </div>
                                            <div v-else>{{labelsSection.Make_Payment_Label}}</div>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Booking Details End -->

                    </div>

                </div>
            </section>
        </section>
    </section>
    <div id="payformbind"></div>
    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script src="js/fotorama.js"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <!-- <script src="/assets/js/underscore-min.js?v=201904100000"></script> -->
    <script src="/assets/js/lodash.min.js?v=202105240000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/pgWay.js?v=202106012000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/intlTelInput.js?v=202105280000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Spartan/ServiceJs/tent-details.js?v=202107140000"></script>
</body>

</html>