<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spartan</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=2021006010000"> -->
    <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/css/vue-loading.css" rel="stylesheet">

    <style>
        [v-cloak] {
            display: none;
        }
        .hotel_bg_color02 {
            background: #c42633;
            color: #fff;
        }   
            .bkbtn {
            float: right;
            cursor: pointer;
            padding: 9px 18px;
            display: block;
            background: #c32033;
            font-size: 12px;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 7px;
        }
                                                                
    </style>
</head>

<body>
    <header v-cloak>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="tent" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
                <h2>{{bannerSection.Title}} </h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="search_card">
                                <div class="card_head">{{labelsSection.Modify_Search_Label}}</div>
                                <div class="cmn_area_modify">
                                    <!-- <div class="cmn_modify">
                                        <div class="weather">
                                            <h5 class="title">{{'Abu Dhabi, United Arab Emirates'}}</h5>
                                            <div class="bwc2 bwc-130x90">
                                                <div class="bwc-data">
                                                    <div class="bwc-130x90-left">
                                                        <div class="bwc-130x90-l-degree">
                                                            <span class="plus"></span>{{'50.34'}}°
                                                            <div class="bwc-data-degree">
                                                                C
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bwc-130x90-right">
                                                        <img src="https://openweathermap.org/img/w/01n.png" alt
                                                            :title="'weatherData.data.weather[0].description'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div> -->
                                    <div class="cmn_modify">
                                        <h6>{{labels.Location_Label}}</h6>
                                        <!-- <select class="myselect" id="city" disabled v-model="cityName">
                                            <option value="" selected disabled hidden>City</option>
                                            <option v-for="locationHotel in locationHotels" :value="locationHotel">
                                                {{locationHotel}}
                                            </option>
                                        </select> -->
                                        <input :placeholder="locationTent[0]" class="form-control textbox" disabled type="text" autocomplete="off" />
                                        <!-- <input type="text" :placeholder="labelsSection.Location_Placehoder" v-model="cityName" disabled autocomplete="off"> -->
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Check_In_Label}} </h6>
                                        <input type="text" :placeholder="labelsSection.Check_In_Placeholder" id="from1" autocomplete="off"
                                            v-on:focus="dateChecker">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Checkout_Label}} </h6>
                                        <input type="text" :placeholder="labelsSection.CheckOut_Placeholder" id="from2" autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Number_Of_Nights_Label}}</h6>
                                        <input type="text" :placeholder="noOfnights" disabled autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labelsSection.Occupancy_Label}}</h6>
                                        <!-- <select class="myselect" id="occupancy" v-model="occupancyId">
                                            <option v-for="OccupancyHotel in OccupancyHotels"
                                                :value="OccupancyHotel.Occupancy_ID">
                                                {{OccupancyHotel.Occupancy}}
                                            </option>
                                        </select> -->
                                        <input style="margin-bottom: 0" :placeholder="roomCount>0?roomCount==1? roomCount+' ' + labels.Tent_Label + ', ' + occupancySummary:roomCount +' ' + labels.Tent_Label + ', ' + occupancySummary:'Occupancy'" class="form-control textbox spartan-occupancy" type="text" readonly autocomplete="off" @click="showOccupancy = !showOccupancy" />
                                        <div class="travellersDropdown flt">
                                            <div class="travelerSelectWindow travelerSelectWindow-spartan active" v-show="showOccupancy" style="left:0">
                                                <div id="travelRoundtrip" v-if="OccupancyHotels">
                                                    <div id="div_Room_1" v-for="(room,index) in roomCount" :key="index">
                                                        <div class="travelDropdown">
                                                            <div class="section-pass">
                                                                <div class="room-title">{{labelsSection.Tent_Label+(index+1)}}</div>
                                                                <fieldset><label>{{labelsSection.Occupancy_Label}}</label>
                                                                    <div class="trvFld"><span class="custom-select-v3 spartan-select sm">
                                                                            <select :id="'adult_'+index" class="elmAdult" v-model="rooms[index]">
                                                                                <option v-for="(OccupancyHotel,ind) in OccupancyHotels" :selected="OccupancyHotel.Occupancy_ID==0?'true':'false'" :value="Number(OccupancyHotel.Occupancy_ID)">
                                                                                    {{OccupancyHotel.Occupancy}}
                                                                                </option>
                                                                            </select>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="spartan-margin">
                                                        <div href="#" v-on:click="addRoom" v-show="roomCount<5" class="add-room"><i aria-hidden="true" class="fa fa-plus"></i>{{labelsSection.Add_Tent_Label}}</div>
                                                        <div href="#" v-on:click="removeRoom" v-show="roomCount>1" class="remove-room"><i aria-hidden="true" class="fa fa-trash"></i>{{labels.Delete_Label}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="closeDropdown" @click="showOccupancy = !showOccupancy"><span class="closeBtn closeLink">{{labels.Done_Label}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="modify_srch_btn" v-on:click="modifySearch">{{labelsSection.Modify_Search_Label}}</button>
                            </div>

                            <!-- <div class="search_card">
                                <div class="card_head">Sort by</div>
                                <div class="cmn_area_modify">
                                    <div class="cmn_modify">
                                        <h6>Price</h6>
                                        <select class="myselect" id="sortprice">
                                            <option value="1">Low to High </option>
                                            <option value="2">High to Low </option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="vld-parent">
                                        <loading :active.sync="pageLoad" :can-cancel="false" :is-full-page="true">
                                        </loading>
                                    </div>
                                    <!-- Room area -->
                                    <div>
                                        <div class="hotelsec hotels_view_area">
                                            <div v-for="(tent, tIndex) in tentFull" :key="tIndex">
                                                <div class="hotelImg">
                                                    <img :src="tent.Tent_Image" alt="">
                                                </div>
                                                <div class="hoteldetails">
                                                    <h3>{{tent.Tent_Name}}</h3>
                                                    <!-- <h4 v-if="package.Including_Park_Access">{{'Including Park Access'}} -->
                                                    </h4>
                                                    <!-- <h4>{{package.Occupancy}}</h4> -->

                                                    <div class="staring">
                                                        <i v-for="rowindex in 5"
                                                            :style="tent.Tent_Rating>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                                                            <i class="fa fa-star"
                                                                :style="tent.Tent_Rating>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                                                        </i>
                                                    </div>
                                                    <div class="sml_description">
                                                        <!-- {{tent.Tent_Description}} -->
                                                        <ul v-for="item in tentFull">
                                                            <li style="border:none !important;" v-for="ameneties in item.Amenities_List"><i style="width: 24px;" :class="ameneties.Icon" aria-hidden="true"></i><span style="margin-left:5px;">{{ameneties.Content}}</span></li>
                                                            <!-- <li style="border:none !important;"><i style="width: 24px;" class="fa fa-cutlery" aria-hidden="true"></i><span style="margin-left:5px;">Restaurants</span></li>
                                                            <li style="border:none !important;"><i style="width: 24px;" class="fa fa-truck" aria-hidden="true"></i><span style="margin-left:5px;">Food trucks</span></li>
                                                            <li style="border:none !important;"><i style="width: 24px;" class="fa fa-coffee" aria-hidden="true"></i><span style="margin-left:5px;">Cafes</span></li>
                                                            <li style="border:none !important;"><i style="width: 24px;" class="fa fa-tint" aria-hidden="true"></i><span style="margin-left:5px;">Water and electricity</span></li>
                                                            <li style="border:none !important;"><i style="width: 24px;" class="fa fa-truck" aria-hidden="true"></i><span style="margin-left:5px;">Mobile grocery</span></li>
                                                            <li style="border:none !important;"><i style="width: 24px;" class="fa fa-genderless" aria-hidden="true"></i><span style="margin-left:5px;">Safekeeping service</span></li> -->
                                                        </ul>
                                                    </div>
                                                    <div class="selectSec">
                                                        <div class="price_area">
                                                            <span>{{labelsSection.Price_Label}} :</span>
                                                            {{$n((grandTotalPrice/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                                            <!-- <p>Price per night</p> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            <div class="clearfix"></div>
                                            <transition name="fade">
                                                <div class="hotel_view_area">
                                                    <ul class="main_room_content is-collapsed">
                                                        <li class="padding5" v-for="(pack, mIndex) in filteredTents" :key="mIndex">
                                                            <div class="hotel_room_details">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 hotel_bg_color02 padding8" style="margin-bottom: 3px;">{{labelsSection.Tent_Label}} {{mIndex + 1}}</div>
                                                            </div>
                                                            <div v-for="(room,ind) in pack">
                                                                <div class="hotel_room_details">
                                                                <div class="col-lg-4 col-md-4 col-sm-4 hotel_bg_color01 padding8">{{labelsSection.Option_Label}} {{ind+1}} {{room.name}} </div>
                                                                <div class="col-lg-2 col-md-2 col-sm-2 hotel_bg_color01">{{labelsSection.Status_Label}}</div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 hotel_bg_color01" style="padding-left: 20px;">{{labelsSection.Cost_Label}}</div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 hotel_bg_color01 padding8">&nbsp;</div>
                                                            </div>
                                                                <div class="clearfix"></div>
                                                                <div class="hotel_room_details01 hotel_sm_margin" v-for="(item,i) in room.tentList">
                                                                    <div class="row vcenter hotel_room_details02 hotel_sm_margin">
                                                                        <input type="radio" v-model="selectedTentPrice[mIndex]" :value="item" :id="mIndex+'_'+ind+'_'+i"/> 
                                                                        <div class="col-lg-4 col-md-4 col-sm-4 hotel_sm_padding room_type">
                                                                            <ul>
                                                                                <li style="padding-left: 4px;
                                                                                padding-top: 2px;">{{item.Room_Type}}</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col-lg-8 col-md-8 col-sm-8 hotel_sm_padding">
                                                                            <div class="col-lg-12 col-md-12 col-sm-12 hotel_sm_padding">
                                                                                <div class="col-lg-7 col-md-7 col-sm-7 hotel_sm_padding">
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 hotel_sm_padding status_area padding-15"><i aria-hidden="true" class="fa fa-check-circle htl_sp"></i><span>{{labelsSection.Available_Label}}</span></div>
                                                                                    <div class="col-lg-6 col-md-6 col-sm-6 hotel_sm_padding cost_area padding-15"><span>{{$n((item.totalPrice/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>
                                                                                    </div>
                                                                                </div>
                                                                                <!-- <div class="col-lg-5 col-md-5 col-sm-5 hotel_sm_padding padding-15">
                                                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="mIndex"> -->
                                                                                    <!-- <div class="htlsend chksend" v-on:click="getmoreinfo(package, false, rIndex)">
                                                                                        {{labelsSection.Book_Now_Label}}
                                                                                    </div> -->
                                                                                <!-- </div> -->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </transition>
                                            <div class="col-lg-12 col-md-5 col-sm-12 hotel_sm_padding padding-15">
                                                <div class="bkbtn chksend" v-on:click="getmoreinfo(tentFull)">
                                                   {{labelsSection.Book_Now_Label}}
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                    </div>
                                    <div class="no-result" v-if="!filteredTents.length && !pageLoad">
                                        <img src="images/search.jpg" alt="">
                                        <h2>{{labelsSection.No_Result_Title}}</h2>
                                        <p>{{labelsSection.No_Result_Description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <footer :key="key" v-cloak>
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>


    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/lodash.min.js?v=202105240000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <!-- <script src="/assets/js/underscore-min.js?v=201904100000"></script> -->
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Spartan/ServiceJs/tent-results.js?v=202107140000"></script>
</body>

</html>