﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flight</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css?v=201909240000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202009080000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media.css?v=202009060000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/signin.css?v=201905150000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css?v=201905150000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css?v=201905150000" />
    <link rel="stylesheet" type="text/css" href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" />
    <link rel="stylesheet" type="text/css" href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000" />
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css" />
    <link rel="stylesheet" type="text/css" href="/Flights/components/assets/css/index.css?v=201904030000" />
    <script type="text/javascript" src="/assets/js/jquery.min.js?v=201905150000"></script>
    <!--<script type="text/javascript" src="/assets/js/moment.min.js?v=201903260000"></script>-->
    <script type="text/javascript" src="/assets/js/bootstrap.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script type="text/javascript" src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="/assets/js/vuex.min.js?v=201912240000"></script>
    <script type="text/javascript" src="/assets/js/httpVueLoader.min.js?v=201912240000"></script>
    <script type="text/javascript" src="/assets/js/vue-router.min.js?v=201912240000"></script>
</head>
<body>
    <div id="el_flightDetail">
        <header v-if="headerFooterVisible">
            <div id="header">
                <nav id="navbar-main" class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="index.html"><img src="../assets/images/logo.png" alt="" /></a>
                                </div>
                                <div class="call-to-action">
                                    <div class="cd-main-nav js-main-nav">
                                        <ul class="cd-main-nav__list js-signin-modal-trigger">
                                            <!-- inser more links here -->
                                            <li>
                                                <a class="cd-main-nav__item cd-main-nav__item--signin" href="#0" data-signin="login">Sign in</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cd-signin-modal js-signin-modal">
                                        <!-- this is the entire modal form, including the background -->
                                        <div class="cd-signin-modal__container">
                                            <!-- this is the container wrapper -->
                                            <ul class="cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
                                                <li>
                                                    <a href="#0" data-signin="login" data-type="login">Sign in</a>
                                                </li>
                                                <li>
                                                    <a href="#0" data-signin="signup" data-type="signup">Register</a>
                                                </li>
                                            </ul>
                                            <div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
                                                <!-- log in form -->
                                                <form class="cd-signin-modal__form">
                                                    <div class="connect">
                                                        <a href="#"><img src="../assets/images/facebook.jpg" alt="" /></a>
                                                        <a href="#"><img src="../assets/images/twitter.jpg" alt="" /></a>
                                                    </div>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                                                               for="signin-email">E-mail</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signin-email" type="email" placeholder="E-mail" />
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                                                               for="signin-password">Password</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signin-password" type="text" placeholder="Password" />
                                                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit"
                                                               value="Sign in" />
                                                    </p>
                                                    <p class="cd-signin-modal__bottom-message js-signin-modal-trigger">
                                                        <a href="#0" data-signin="reset">Forgot your password?</a>
                                                    </p>
                                                </form>
                                            </div>
                                            <!-- cd-signin-modal__block -->

                                            <div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
                                                <!-- sign up form -->
                                                <form class="cd-signin-modal__form">
                                                    <div class="connect">
                                                        <a href="#"><img src="../assets/images/facebook.jpg" alt="" /></a>
                                                        <a href="#"><img src="../assets/images/twitter.jpg" alt="" /></a>
                                                    </div>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                                                               for="signup-firstname">First Name</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signup-username" type="text" placeholder="First Name" />
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
                                                               for="signup-lastname">Last Name</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signup-username" type="text" placeholder="Last Name" />
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                                                               for="signup-email">E-mail</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signup-email" type="email" placeholder="E-mail" />
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                                                               for="signup-password">Password</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signup-password" type="text" placeholder="Password" />
                                                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
                                                               for="signup-password">Verify Password</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="signup-password" type="text" placeholder="Verify password" />
                                                        <a href="#0" class="cd-signin-modal__hide-password js-hide-password">Hide</a>
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <input type="checkbox" id="accept-terms" class="cd-signin-modal__input " />
                                                        <label for="accept-terms">
                                                            Send me the latest travel inspiration, insider
                                                            tips and deals from a2zbooking
                                                        </label>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                                                               type="submit" value="Create an account" />
                                                    </p>
                                                </form>
                                            </div>
                                            <!-- cd-signin-modal__block -->

                                            <div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
                                                <!-- reset password form -->
                                                <p class="cd-signin-modal__message">
                                                    Lost your password? Please enter your email address.
                                                    You will receive a link to create a new password.
                                                </p>
                                                <form class="cd-signin-modal__form">
                                                    <p class="cd-signin-modal__fieldset">
                                                        <label class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
                                                               for="reset-email">E-mail</label>
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
                                                               id="reset-email" type="email" placeholder="E-mail" />
                                                        <span class="cd-signin-modal__error">Error message here!</span>
                                                    </p>
                                                    <p class="cd-signin-modal__fieldset">
                                                        <input class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
                                                               type="submit" value="Reset password" />
                                                    </p>
                                                </form>
                                                <p class="cd-signin-modal__bottom-message js-signin-modal-trigger">
                                                    <a href="#0" data-signin="login">Back to log-in</a>
                                                </p>
                                            </div>
                                            <!-- cd-signin-modal__block -->
                                            <a href="#0" class="cd-signin-modal__close js-close">Close</a>
                                        </div>
                                        <!-- cd-signin-modal__container -->
                                    </div>
                                    <a id="modal_retrieve" href="#modal" class="btn-clta" title="Retrieve the Bookings">
                                        Retrieve the
                                        Bookings
                                    </a>
                                    <div id="modal" class="popupContainer" style="display:none;">
                                        <header class="popupHeader">
                                            <span class="header_title">Retrieve the Bookings</span>
                                            <span class="modal_close"><i class="fa fa-times"></i></span>
                                        </header>
                                        <section class="popupBody">
                                            <!-- User Login -->
                                            <div class="user_login">
                                                <form>
                                                    <label>Enter your email address</label>
                                                    <input type="text" id="text" name="text" placeholder="name@example.com" />
                                                    <small>
                                                        The email address you used when you made your
                                                        booking.
                                                    </small>
                                                    <label>Enter your ID number</label>
                                                    <input type="text" id="text" name="text" placeholder="Example: AGY509-8509" />
                                                    <small>
                                                        Your ID is the booking ID number that was sent to
                                                        your email address after you placed your
                                                        booking.
                                                    </small>
                                                    <button type="submit" id="retrieve-booking" class="btn-blue">
                                                        Continue
                                                    </button>
                                                </form>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="currency">
                                        <form>
                                            <select class="selectpicker" data-width="fit">
                                                <option data-content='<span class="flag-icon flag-icon-sa"></span> SAR Saudi Riyal'>
                                                    SAR Saudi
                                                    Riyal
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-us"></span> USD US Dollar'>
                                                    USD US Dollar
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-ae"></span> AED Dirham'>
                                                    AED Dirham
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-bh"></span> BHD Bahrain Dinar'>
                                                    BHD
                                                    Bahrain Dinar
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-eg"></span> EGP Egypt Pound'>
                                                    EGP Egypt
                                                    Pound
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-gb"></span> GBP British Pound'>
                                                    GBP
                                                    British Pound
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-kw"></span> KWD Kuwait Dinar'>
                                                    KWD Kuwait
                                                    Dinar
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-om"></span> OMR Oman Riyal'>
                                                    OMR Oman
                                                    Riyal
                                                </option>
                                                <option data-content='<span class="flag-icon flag-icon-qa"></span> QAR Qatar Riyal'>
                                                    QAR Qatar
                                                    Riyal
                                                </option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="lang">
                                        <form>
                                            <select class="selectpicker" data-width="fit">
                                                <option data-content='<span class="flag-icon flag-icon-gb"></span> English'>English</option>
                                                <option data-content='<span class="flag-icon flag-icon-sa"></span> عربى'>عربى</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                                <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">Flights</a></li>
                                        <li><a href="#">Hotels</a></li>
                                        <li><a href="#">Flight + Hotel</a></li>
                                        <li><a href="#">Holidays</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <section>
            <router-view></router-view>
        </section>
        <footer v-if="headerFooterVisible">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="link">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">File a Claim</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <img src="../assets/images/support-card.png" alt="" />
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="c-text">© 2019 A2ZBooking - All Rights Reserved</div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <script type="text/javascript" src="/Flights/components/assets/js/index.js?v=201904030000?v=201906210000"></script>
    <script type="text/javascript" src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/js/select2.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/js/main.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/js/custom.js?v=201907070000"></script>
    <script type="text/javascript" src="/assets/js/pack.js?v=201904080000"></script>
    <script>
    </script>
</body>

</html>