<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add My Companion</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=201909240000">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202009080000">
    <link href="assets/css/media.css?v=202009060000" rel="stylesheet" type="text/css">
    <link href="assets/css/signin.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201905150000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="assets/css/select2.min.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/">
    <link rel="stylesheet" href="assets/css/intlTelInput.css?v=201904080000">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body id="home">
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile">

        <div class="container" v-cloak id="div_add_co_travelers">

            <div class="row flx_sec ar_direction">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="left">
                        <div class="user">
                            <img v-if="[2,3,4].indexOf(User.title.id)<0" src="/assets/images/user.png">
                            <img v-else src="/assets/images/user_lady.png">
                            <div class="name">{{getTitle(User.title.id)+' '+User.firstName+' '+User.lastName}}</div>
                        </div>
                        <sidemenuitem></sidemenuitem>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="right">
                        <!-- <h2>{{Add_MyCompanion}}</h2> -->
                        <div class="co-travelers">
                            <div class="spmain">
                                <div class="inner">
                                    <div class="field-50">
                                        <label>{{First_Name}}*</label>
                                        <div class="field-20 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="title.selected">
                                            <option  v-for="title in title.titles" v-bind:value="title.id">
                                                {{ title.name }}
                                              </option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="field-80">
                                            <input type="text" v-model="firstName" name="text" :placeholder="First_Name" required>
                                        </div>
                                    </div>
                                    <div class="field-50">
                                        <label>{{Last_Name}}*</label>
                                        <input type="text" v-model="lastName" name="text" :placeholder="Last_Name" required>
                                    </div>
                                </div>
                                <div class="inner">
                                    <div class="field-50">
                                        <label>{{DOB}}*</label>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="dob_date" @change="onDobChange($event,'days')">
                                                  <option :value="0" disabled>{{Day}}</option>
                                                <option  v-for="day in dobDays" :value="day">{{ day }}</option>
                                              </select>
                                            </div>

                                        </div>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="dob_month" @change="onDobChange($event,'months')">
                                                  <option :value="0" disabled>{{Month}}</option>
                                                <option  v-for="month in dobMonths" :value="month">{{ month }}</option>
                                              </select>
                                            </div>
                                        </div>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="dob_year" @change="onDobChange($event,'years')">
                                              <option :value="0" disabled>{{Year}}</option>
                                            <option v-for="year in dobYears" :value="year">{{ year }}</option>
                                          </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="field-50">
                                        <label>{{Nationality}}*</label>
                                        <div class="field" style="width: 100%;float: left;">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="nationality.selected">
                                                    <option :value="0" disabled>{{Nationality}}</option>
                                                    <option v-for="nationality in nationality.nationalities" :value="nationality.twoLetter">
                                                        {{ nationality.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-50">
                                        <label>{{Passport_Number}}*</label>
                                        <input type="text" name="text" v-model="passportNumber" :placeholder="Passport_Number" required>
                                    </div>

                                    <div class="field-50 rel">
                                        <label>{{Issuing_Country}}*</label>
                                        <div class="field" style="width: 100%;float: left;">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="country.selected">
                                                    <option :value="0" disabled>{{Issuing_Country}}</option>
                                                    <option v-for="country in country.countries" :value="country.twoLetter">
                                                        {{ country.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <div class="field-50">
                                        <label>{{Passport_Issue_Date}}*</label>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="pIsue_date" @change="onPIsueChange($event,'days')" placeholder="Day">
                                                    <option :value="0" disabled>{{Day}}</option>
                                                <option  v-for="day in pIsueDays" :value="day">{{ day }}</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="pIsue_month" @change="onPIsueChange($event,'months')">
                                                    <option :value="0" disabled>{{Month}}</option>
                                                <option v-for="month in pIsueMonths" :value="month">{{ month }}</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak @change="onPIsueChange($event,'years')" v-model="pIsue_year">
                                                    <option :value="0" disabled>{{Year}}</option>
                                                <option  v-for="year in pIsueYears" :value="year">{{ year }}</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="field-50">
                                        <label>{{Passport_Expiry_Date}}*</label>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="pExp_date" placeholder="Day">
                                                  <option :value="0" disabled>{{Day}}</option>
                                                <option  v-for="day in pExpDays" :value="day">{{ day }}</option>
                                              </select>
                                            </div>

                                        </div>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak v-model="pExp_month" @change="onPexpChange($event,'months')">
                                                  <option :value="0" disabled>{{Month}}</option>
                                                <option  v-for="month in pExpMonths" :value="month">{{ month }}</option>
                                              </select>
                                            </div>

                                        </div>
                                        <div class="field-33 rel">
                                            <div class="simple_dropdown">
                                                <select v-cloak @change="onPexpChange($event,'years')" v-model="pExp_year">
                                              <option :value="0" disabled>{{Year}}</option>
                                            <option v-for="year in pExpYears" :value="year">{{ year }}</option>
                                          </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner bdr-tp m-t-15">
                                <div class="field-100 p-t-10 bt_change">
                                    <button type="submit" v-on:click="addCoTraveller" class="save m-l-10">{{Save}}</button>
                                    <a type="submit" class="save" style="cursor: pointer;" href="/co-travelers.html">{{Cancel}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/modernizr.custom.js?v=201906130000"></script>
    <script src="assets/js/jquery.min.js?v=201905150000"></script>
    <script src="assets/js/bootstrap.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="../assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="assets/js/select2.min.js?v=201905150000"></script>
    <script src="assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script src="assets/js/main.js?v=201905150000"></script>
    <script src="assets/js/intlTelInput.js?v=201903150000"></script>
    <script src="assets/js/custom.js?v=201907070000"></script>
    <script src="assets/js/pack.js?v=201904080000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vuex.min.js?v=201912240000"></script>
    <script src="/assets/js/httpVueLoader.min.js?v=201912240000"></script>
    <script src="/assets/js/vue-router.min.js?v=201912240000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="/Flights/assets/js/Titles.js"></script>
    <script src="assets/js/add-co-travelers.js?v=202009060000"></script>
</body>

</html>