<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer Profile</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=201909240000">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202009080000">
    <link href="assets/css/media.css?v=202009060000" rel="stylesheet" type="text/css">
    <link href="assets/css/signin.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201905150000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="assets/css/select2.min.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
    <link rel="stylesheet" href="assets/css/intlTelInput.css?v=201904080000">
    <link href="../assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none
        }

        section {
          padding: 20px 0 !important;
      }
    </style>
</head>

<body id="home">
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile">
        <div class="container" v-cloak id="div_customerProfile">
            <div class="row flx_sec ar_direction">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="left">
                        <div class="user"> 
                          <img v-if="[2,3,4].indexOf(User.title.id)<0" src="/assets/images/user.png">
                          <img v-else src="/assets/images/user_lady.png">
                          <div class="name">{{getTitle(User.title.id)+' '+User.firstName+' '+ (User.lastName ? User.lastName : '') }}</div>
                        </div>
                        <sidemenuitem></sidemenuitem>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="right">
                        <!-- <h2>{{Page_Title}}</h2> -->
                        <div class="profile-bnr">
                            <h1>{{Welcome_Text}} {{User.title.name+' '+User.firstName+' '+(User.lastName ? User.lastName : '')}}</h1>
                        </div>

                        <div class="trips-sec">
                            <div class="name" style="border-bottom: 1px solid #dfe0e1;">
                                <h3>{{Flights_Label}}</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 trips-block"> <svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                    <g id="summer">
                      <path d="M8.862,11.812c1.694,0,3.068-1.358,3.068-3.033c0-1.675-1.374-3.033-3.068-3.033
            c-1.694,0-3.067,1.358-3.067,3.033C5.796,10.453,7.169,11.81,8.862,11.812z M8.862,6.959c1.017,0,1.841,0.814,1.841,1.819
            s-0.824,1.82-1.841,1.82c-1.016,0-1.84-0.815-1.84-1.82S7.846,6.959,8.862,6.959z" />
                      <path d="M8.862,5.14c0.339,0,0.614-0.271,0.614-0.607V2.107c0-0.335-0.275-0.607-0.614-0.607
            c-0.338,0-0.613,0.272-0.613,0.607v2.426C8.249,4.868,8.523,5.14,8.862,5.14z" />
                      <path d="M5.392,6.205C5.627,6.446,6.015,6.453,6.259,6.22c0.244-0.233,0.25-0.617,0.015-0.857
            c-0.005-0.005-0.01-0.01-0.015-0.015L4.524,3.632C4.289,3.391,3.9,3.385,3.657,3.618C3.413,3.85,3.406,4.234,3.642,4.475
            c0.005,0.005,0.01,0.01,0.015,0.015L5.392,6.205z" />
                      <path d="M2.114,9.386h2.454c0.339,0,0.614-0.272,0.614-0.607S4.906,8.172,4.567,8.172H2.114
            C1.775,8.172,1.5,8.444,1.5,8.779S1.775,9.386,2.114,9.386z" />
                      <path d="M5.392,11.353l-1.735,1.715c-0.244,0.233-0.25,0.617-0.015,0.857c0.235,0.241,0.624,0.248,0.867,0.015
            c0.005-0.005,0.01-0.01,0.015-0.015l1.735-1.715c0.244-0.233,0.25-0.617,0.015-0.858s-0.624-0.248-0.867-0.015
            C5.401,11.343,5.396,11.348,5.392,11.353z" />
                      <path d="M8.249,13.024v2.427c0,0.335,0.275,0.606,0.613,0.606c0.339,0,0.614-0.271,0.614-0.606v-2.427
            c0-0.335-0.275-0.606-0.614-0.606C8.523,12.418,8.249,12.689,8.249,13.024z" />
                      <path d="M11.465,11.353c-0.239,0.237-0.239,0.621,0,0.858l1.735,1.715c0.244,0.233,0.632,0.226,0.867-0.015
            c0.23-0.235,0.23-0.608,0-0.843l-1.735-1.715C12.093,11.116,11.705,11.116,11.465,11.353z" />
                      <path d="M12.543,8.779c0,0.335,0.275,0.607,0.613,0.607h2.454c0.339,0,0.614-0.272,0.614-0.607
            s-0.275-0.606-0.614-0.606h-2.454C12.818,8.172,12.543,8.444,12.543,8.779z" />
                      <path
                        d="M11.899,6.383c0.163,0,0.319-0.063,0.434-0.178l1.735-1.715c0.235-0.241,0.229-0.625-0.015-0.857
            c-0.238-0.227-0.614-0.227-0.852,0l-1.735,1.715c-0.239,0.237-0.239,0.621,0,0.858C11.58,6.319,11.736,6.383,11.899,6.383z" />
                      <path d="M37.696,34.86c-0.309-0.003-0.616,0.042-0.911,0.133c-0.917-1.637-3.896-2.84-7.678-3.564v-3.24h0.465
            l2.273,2.248c0.719,0.71,1.885,0.71,2.604,0c0.719-0.711,0.719-1.862,0-2.573l-2.604-2.573c-0.036-0.036-0.075-0.069-0.116-0.101
            c-0.347-0.406-0.857-0.641-1.396-0.641h-5.979l4.291-8.798c0.162,0.324,0.269,0.672,0.316,1.03
            c0.157,0.796,0.353,1.785,1.456,2.311c1.104,0.527,2.01,0.061,2.737-0.311c0.694-0.357,1.113-0.546,1.639-0.296
            c1.09,0.519,1.555,2.992,1.631,3.817c0.025,0.278,0.239,0.504,0.519,0.546c0.03,0.005,0.062,0.007,0.093,0.007
            c0.247,0,0.471-0.146,0.566-0.372c2.291-5.43,0.063-11.694-5.16-14.512l0.545-1.12c0.16-0.295,0.047-0.663-0.252-0.821
            c-0.3-0.157-0.671-0.045-0.83,0.25c-0.008,0.015-0.016,0.029-0.021,0.044l-0.546,1.119c-5.483-2.282-11.824-0.107-14.7,5.042
            c-0.163,0.294-0.054,0.663,0.243,0.824c0.199,0.107,0.441,0.098,0.631-0.025c0.699-0.454,2.945-1.637,4.041-1.112
            c0.526,0.25,0.637,0.692,0.788,1.453c0.157,0.795,0.354,1.785,1.46,2.312c1.104,0.527,2.009,0.061,2.736-0.311
            c0.31-0.183,0.647-0.316,0.999-0.394l-4.544,9.318h-10.3l-2.318-2.291c-0.706-0.724-1.871-0.743-2.602-0.045
            c-0.731,0.698-0.751,1.85-0.045,2.573c0.015,0.015,0.03,0.03,0.045,0.044l2.602,2.573c0.043,0.042,0.088,0.081,0.136,0.117
            c0.349,0.421,0.87,0.665,1.42,0.668h1.84v2.773c-5.174,0.601-9.593,1.971-10.745,4.031c-0.295-0.091-0.603-0.136-0.911-0.133
            c-0.339,0-0.614,0.271-0.614,0.606s0.275,0.606,0.614,0.606c0.827,0,1.089,0.378,1.487,0.95c0.486,0.918,1.453,1.489,2.501,1.476
            c1.085-0.025,2.098-0.543,2.747-1.404c0.539-0.571,0.966-1.021,1.85-1.021c0.884,0,1.311,0.45,1.852,1.021
            c0.649,0.861,1.662,1.379,2.748,1.404c1.085-0.025,2.099-0.543,2.748-1.404c0.541-0.571,0.969-1.021,1.853-1.021
            c0.884,0,1.312,0.45,1.854,1.021c1.075,1.5,3.177,1.855,4.695,0.791c0.31-0.217,0.581-0.484,0.801-0.791
            c0.541-0.571,0.969-1.021,1.853-1.021s1.313,0.45,1.854,1.021c0.65,0.862,1.665,1.38,2.752,1.404
            c1.048,0.013,2.015-0.558,2.5-1.475c0.396-0.573,0.659-0.951,1.488-0.951c0.339,0,0.613-0.271,0.613-0.606
            S38.035,34.86,37.696,34.86z M25.973,14.547c-0.694,0.356-1.113,0.546-1.64,0.296c-0.526-0.25-0.637-0.693-0.787-1.453
            c-0.158-0.795-0.354-1.786-1.459-2.312c-0.984-0.351-2.067-0.314-3.025,0.103c3.836-4.248,10.429-4.616,14.726-0.823
            c2.678,2.364,3.938,5.925,3.334,9.424c-0.267-0.996-0.909-1.852-1.796-2.391c-0.313-0.153-0.656-0.234-1.006-0.236
            c-0.613,0.04-1.207,0.227-1.73,0.546c-0.695,0.356-1.113,0.546-1.639,0.296s-0.635-0.691-0.785-1.451
            c-0.157-0.795-0.353-1.785-1.456-2.311C27.605,13.71,26.699,14.177,25.973,14.547z M27.88,31.215
            c-2.148-0.332-4.316-0.525-6.49-0.58l1.194-2.446h5.296V31.215z M11.93,26.975c-0.195-0.001-0.377-0.094-0.491-0.249
            c-0.042-0.052-0.09-0.1-0.144-0.139c-0.018-0.014-0.037-0.025-0.053-0.041l-2.603-2.572c-0.235-0.241-0.229-0.626,0.015-0.858
            c0.238-0.228,0.615-0.228,0.853,0l2.498,2.47c0.115,0.112,0.271,0.177,0.434,0.177h17.896c0.189,0.001,0.367,0.089,0.481,0.239
            c0.03,0.038,0.065,0.073,0.104,0.103l0.059,0.044l2.603,2.573c0.24,0.237,0.24,0.622,0,0.858c-0.239,0.237-0.628,0.237-0.867,0
            l-2.455-2.427c-0.114-0.112-0.271-0.178-0.433-0.178H11.93z M14.997,28.188h6.226l-1.185,2.426h-0.133
            c-1.64,0-3.299,0.075-4.908,0.222V28.188z M35.195,36.336c-0.398,0.572-0.661,0.95-1.487,0.95c-0.886,0-1.313-0.45-1.854-1.021
            c-1.076-1.501-3.179-1.855-4.697-0.791c-0.31,0.217-0.58,0.484-0.8,0.791c-0.544,0.571-0.971,1.021-1.855,1.021
            s-1.313-0.45-1.854-1.021c-1.075-1.5-3.178-1.855-4.696-0.791c-0.31,0.217-0.581,0.484-0.801,0.791
            c-0.541,0.571-0.968,1.021-1.853,1.021c-0.885,0-1.311-0.45-1.852-1.021c-0.649-0.86-1.662-1.378-2.748-1.404
            c-1.085,0.026-2.098,0.545-2.747,1.404c-0.541,0.571-0.968,1.021-1.85,1.021c-0.827,0-1.09-0.378-1.487-0.949
            c-0.164-0.248-0.349-0.482-0.552-0.699c0.853-1.883,7.119-3.811,15.843-3.811s14.988,1.927,15.846,3.81
            C35.546,35.854,35.36,36.088,35.195,36.336z" />
                      <path
                        d="M30.304,10.955c1.909,0.906,3.374,2.528,4.068,4.506c0.104,0.32,0.448,0.496,0.771,0.394
            c0.322-0.102,0.501-0.443,0.397-0.762c-0.004-0.012-0.008-0.022-0.012-0.034c-0.802-2.281-2.491-4.152-4.693-5.196
            c-0.299-0.158-0.671-0.045-0.83,0.25s-0.046,0.663,0.253,0.82C30.273,10.941,30.288,10.948,30.304,10.955L30.304,10.955z" />
                    </g>
                  </svg>
                                    <h2 v-cloak>{{bookingStatCount.totalBookings||'00'}}</h2>
                                    <p>{{All_Trips_Text}}</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 trips-block"> <svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                    <g>
                      <g>
                        <g>
                          <path d="M25.412,13.948H14.588c-0.374,0-0.677,0.301-0.677,0.672c0,0.372,0.303,0.672,0.677,0.672h10.824
                    c0.374,0,0.676-0.3,0.676-0.672C26.088,14.249,25.786,13.948,25.412,13.948z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M25.412,19.328H14.588c-0.374,0-0.677,0.3-0.677,0.672s0.303,0.672,0.677,0.672h10.824
                    c0.374,0,0.676-0.3,0.676-0.672S25.786,19.328,25.412,19.328z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M25.412,24.707H14.588c-0.374,0-0.677,0.301-0.677,0.672c0,0.372,0.303,0.673,0.677,0.673h10.824
                    c0.374,0,0.676-0.301,0.676-0.673C26.088,25.008,25.786,24.707,25.412,24.707z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M25.412,30.086H14.588c-0.374,0-0.677,0.301-0.677,0.673s0.303,0.672,0.677,0.672h10.824
                    c0.374,0,0.676-0.3,0.676-0.672S25.786,30.086,25.412,30.086z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M28.117,5.879h-2.705h-2.029V1.845h2.029c0.374,0,0.676-0.3,0.676-0.672c0-0.372-0.302-0.672-0.676-0.672
                    H14.588c-0.374,0-0.677,0.301-0.677,0.672c0,0.372,0.303,0.672,0.677,0.672h2.029v4.035h-2.029h-2.706
                    c-1.865,0-3.382,1.508-3.382,3.362v24.207c0,1.623,1.164,2.981,2.706,3.294v2.085c0,0.372,0.302,0.673,0.676,0.673
                    s0.676-0.301,0.676-0.673v-2.017h14.883v2.017c0,0.372,0.302,0.673,0.676,0.673c0.375,0,0.677-0.301,0.677-0.673v-2.085
                    c1.542-0.313,2.706-1.67,2.706-3.294V9.241C31.5,7.388,29.982,5.879,28.117,5.879z M17.971,1.845h4.059v4.035h-4.059V1.845z
                     M15.265,7.224h9.471v0.672c0,0.371-0.303,0.672-0.677,0.672h-8.117c-0.374,0-0.677-0.301-0.677-0.672V7.224z M30.147,33.448
                    c0,1.112-0.911,2.018-2.03,2.018H11.882c-1.119,0-2.029-0.905-2.029-2.018V9.241c0-1.112,0.911-2.017,2.029-2.017h2.029v0.672
                    c0,1.112,0.911,2.017,2.03,2.017h8.117c1.119,0,2.029-0.905,2.029-2.017V7.224h2.029c1.119,0,2.03,0.905,2.03,2.017V33.448z" />
                        </g>
                      </g>
                    </g>
                  </svg>
                                    <h2>{{bookingStatCount.upComing||'00'}}</h2>
                                    <p>{{Upcoming_Trips}}</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 trips-block brdr-rght-nn bdr-b-t-m"> <svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                    <g>
                      <g>
                        <g>
                          <path d="M25.264,9.153H25.1V7.232c0-0.245-0.164-0.408-0.409-0.408h-9.069c-0.246,0-0.408,0.163-0.408,0.408
                    v1.553l-0.858-0.286c-0.205-0.081-0.45,0.041-0.531,0.245L13.62,9.398c-1.431,0.571-2.37,1.961-2.37,3.554v3.678l-0.286,0.858
                    c-0.042,0.122-0.042,0.204,0.04,0.326c0.042,0.082,0.123,0.163,0.246,0.204v10.909c0,1.593,1.266,2.858,2.859,2.858h1.104v0.981
                    c0,0.245,0.162,0.409,0.408,0.409c0.245,0,0.409-0.164,0.409-0.409v-0.981h8.251v0.981c0,0.245,0.165,0.409,0.409,0.409
                    c0.245,0,0.409-0.164,0.409-0.409v-0.981h1.104c1.594,0,2.858-1.266,2.858-2.858V12.993C29.104,10.869,27.388,9.153,25.264,9.153
                    z M16.03,7.683h8.251v1.512h-8.047L16.03,9.112V7.683z M12.067,12.993c0-0.939,0.449-1.839,1.185-2.41l-1.185,3.596V12.993z
                     M14.478,9.438l2.165,0.736l-2.614,7.926l-2.166-0.735L14.478,9.438z M28.286,28.928c0,1.143-0.898,2.041-2.044,2.041H14.109
                    c-1.143,0-2.042-0.898-2.042-2.041V18.305l2.084,0.694c0.04,0,0.082,0.041,0.122,0.041c0.164,0,0.327-0.123,0.368-0.286
                    l2.901-8.702v-0.041h7.722c1.674,0,3.022,1.349,3.022,3.023V28.928L28.286,28.928z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M22.732,14.467h-5.14c-0.225,0-0.375,0.149-0.375,0.375s0.151,0.375,0.375,0.375h5.14
                    c0.224,0,0.375-0.149,0.375-0.375S22.918,14.467,22.732,14.467z" />
                        </g>
                      </g>
                      <path
                        d="M33.441,6.559c-7.411-7.411-19.471-7.411-26.882,0c-7.412,7.412-7.412,19.471,0,26.883
            C10.264,37.146,15.133,39,20,39c4.867,0,9.735-1.853,13.441-5.559C40.853,26.029,40.853,13.97,33.441,6.559z M7.593,7.593
            C11.014,4.172,15.507,2.461,20,2.461c4.263,0,8.516,1.561,11.864,4.641L7.102,31.863C0.776,24.989,0.927,14.259,7.593,7.593z
             M32.407,32.406c-6.667,6.667-17.396,6.817-24.271,0.491L32.897,8.136C39.225,15.01,39.074,25.74,32.407,32.406z" />
                    </g>
                  </svg>
                                    <h2 v-cloak>{{bookingStatCount.cancelled||'00'}}</h2>
                                    <p>{{Cancelled_Trips}}</p>
                                </div>
                            </div>


                        </div>

                        <div class="trips-sec">
                            <div class="name" style="border-bottom: 1px solid #dfe0e1;">
                                <h3>{{Hotel_Label}}</h3>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 trips-block"> <svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                    <g id="summer">
                      <path d="M8.862,11.812c1.694,0,3.068-1.358,3.068-3.033c0-1.675-1.374-3.033-3.068-3.033
              c-1.694,0-3.067,1.358-3.067,3.033C5.796,10.453,7.169,11.81,8.862,11.812z M8.862,6.959c1.017,0,1.841,0.814,1.841,1.819
              s-0.824,1.82-1.841,1.82c-1.016,0-1.84-0.815-1.84-1.82S7.846,6.959,8.862,6.959z" />
                      <path d="M8.862,5.14c0.339,0,0.614-0.271,0.614-0.607V2.107c0-0.335-0.275-0.607-0.614-0.607
              c-0.338,0-0.613,0.272-0.613,0.607v2.426C8.249,4.868,8.523,5.14,8.862,5.14z" />
                      <path d="M5.392,6.205C5.627,6.446,6.015,6.453,6.259,6.22c0.244-0.233,0.25-0.617,0.015-0.857
              c-0.005-0.005-0.01-0.01-0.015-0.015L4.524,3.632C4.289,3.391,3.9,3.385,3.657,3.618C3.413,3.85,3.406,4.234,3.642,4.475
              c0.005,0.005,0.01,0.01,0.015,0.015L5.392,6.205z" />
                      <path d="M2.114,9.386h2.454c0.339,0,0.614-0.272,0.614-0.607S4.906,8.172,4.567,8.172H2.114
              C1.775,8.172,1.5,8.444,1.5,8.779S1.775,9.386,2.114,9.386z" />
                      <path d="M5.392,11.353l-1.735,1.715c-0.244,0.233-0.25,0.617-0.015,0.857c0.235,0.241,0.624,0.248,0.867,0.015
              c0.005-0.005,0.01-0.01,0.015-0.015l1.735-1.715c0.244-0.233,0.25-0.617,0.015-0.858s-0.624-0.248-0.867-0.015
              C5.401,11.343,5.396,11.348,5.392,11.353z" />
                      <path d="M8.249,13.024v2.427c0,0.335,0.275,0.606,0.613,0.606c0.339,0,0.614-0.271,0.614-0.606v-2.427
              c0-0.335-0.275-0.606-0.614-0.606C8.523,12.418,8.249,12.689,8.249,13.024z" />
                      <path d="M11.465,11.353c-0.239,0.237-0.239,0.621,0,0.858l1.735,1.715c0.244,0.233,0.632,0.226,0.867-0.015
              c0.23-0.235,0.23-0.608,0-0.843l-1.735-1.715C12.093,11.116,11.705,11.116,11.465,11.353z" />
                      <path d="M12.543,8.779c0,0.335,0.275,0.607,0.613,0.607h2.454c0.339,0,0.614-0.272,0.614-0.607
              s-0.275-0.606-0.614-0.606h-2.454C12.818,8.172,12.543,8.444,12.543,8.779z" />
                      <path
                        d="M11.899,6.383c0.163,0,0.319-0.063,0.434-0.178l1.735-1.715c0.235-0.241,0.229-0.625-0.015-0.857
              c-0.238-0.227-0.614-0.227-0.852,0l-1.735,1.715c-0.239,0.237-0.239,0.621,0,0.858C11.58,6.319,11.736,6.383,11.899,6.383z" />
                      <path d="M37.696,34.86c-0.309-0.003-0.616,0.042-0.911,0.133c-0.917-1.637-3.896-2.84-7.678-3.564v-3.24h0.465
              l2.273,2.248c0.719,0.71,1.885,0.71,2.604,0c0.719-0.711,0.719-1.862,0-2.573l-2.604-2.573c-0.036-0.036-0.075-0.069-0.116-0.101
              c-0.347-0.406-0.857-0.641-1.396-0.641h-5.979l4.291-8.798c0.162,0.324,0.269,0.672,0.316,1.03
              c0.157,0.796,0.353,1.785,1.456,2.311c1.104,0.527,2.01,0.061,2.737-0.311c0.694-0.357,1.113-0.546,1.639-0.296
              c1.09,0.519,1.555,2.992,1.631,3.817c0.025,0.278,0.239,0.504,0.519,0.546c0.03,0.005,0.062,0.007,0.093,0.007
              c0.247,0,0.471-0.146,0.566-0.372c2.291-5.43,0.063-11.694-5.16-14.512l0.545-1.12c0.16-0.295,0.047-0.663-0.252-0.821
              c-0.3-0.157-0.671-0.045-0.83,0.25c-0.008,0.015-0.016,0.029-0.021,0.044l-0.546,1.119c-5.483-2.282-11.824-0.107-14.7,5.042
              c-0.163,0.294-0.054,0.663,0.243,0.824c0.199,0.107,0.441,0.098,0.631-0.025c0.699-0.454,2.945-1.637,4.041-1.112
              c0.526,0.25,0.637,0.692,0.788,1.453c0.157,0.795,0.354,1.785,1.46,2.312c1.104,0.527,2.009,0.061,2.736-0.311
              c0.31-0.183,0.647-0.316,0.999-0.394l-4.544,9.318h-10.3l-2.318-2.291c-0.706-0.724-1.871-0.743-2.602-0.045
              c-0.731,0.698-0.751,1.85-0.045,2.573c0.015,0.015,0.03,0.03,0.045,0.044l2.602,2.573c0.043,0.042,0.088,0.081,0.136,0.117
              c0.349,0.421,0.87,0.665,1.42,0.668h1.84v2.773c-5.174,0.601-9.593,1.971-10.745,4.031c-0.295-0.091-0.603-0.136-0.911-0.133
              c-0.339,0-0.614,0.271-0.614,0.606s0.275,0.606,0.614,0.606c0.827,0,1.089,0.378,1.487,0.95c0.486,0.918,1.453,1.489,2.501,1.476
              c1.085-0.025,2.098-0.543,2.747-1.404c0.539-0.571,0.966-1.021,1.85-1.021c0.884,0,1.311,0.45,1.852,1.021
              c0.649,0.861,1.662,1.379,2.748,1.404c1.085-0.025,2.099-0.543,2.748-1.404c0.541-0.571,0.969-1.021,1.853-1.021
              c0.884,0,1.312,0.45,1.854,1.021c1.075,1.5,3.177,1.855,4.695,0.791c0.31-0.217,0.581-0.484,0.801-0.791
              c0.541-0.571,0.969-1.021,1.853-1.021s1.313,0.45,1.854,1.021c0.65,0.862,1.665,1.38,2.752,1.404
              c1.048,0.013,2.015-0.558,2.5-1.475c0.396-0.573,0.659-0.951,1.488-0.951c0.339,0,0.613-0.271,0.613-0.606
              S38.035,34.86,37.696,34.86z M25.973,14.547c-0.694,0.356-1.113,0.546-1.64,0.296c-0.526-0.25-0.637-0.693-0.787-1.453
              c-0.158-0.795-0.354-1.786-1.459-2.312c-0.984-0.351-2.067-0.314-3.025,0.103c3.836-4.248,10.429-4.616,14.726-0.823
              c2.678,2.364,3.938,5.925,3.334,9.424c-0.267-0.996-0.909-1.852-1.796-2.391c-0.313-0.153-0.656-0.234-1.006-0.236
              c-0.613,0.04-1.207,0.227-1.73,0.546c-0.695,0.356-1.113,0.546-1.639,0.296s-0.635-0.691-0.785-1.451
              c-0.157-0.795-0.353-1.785-1.456-2.311C27.605,13.71,26.699,14.177,25.973,14.547z M27.88,31.215
              c-2.148-0.332-4.316-0.525-6.49-0.58l1.194-2.446h5.296V31.215z M11.93,26.975c-0.195-0.001-0.377-0.094-0.491-0.249
              c-0.042-0.052-0.09-0.1-0.144-0.139c-0.018-0.014-0.037-0.025-0.053-0.041l-2.603-2.572c-0.235-0.241-0.229-0.626,0.015-0.858
              c0.238-0.228,0.615-0.228,0.853,0l2.498,2.47c0.115,0.112,0.271,0.177,0.434,0.177h17.896c0.189,0.001,0.367,0.089,0.481,0.239
              c0.03,0.038,0.065,0.073,0.104,0.103l0.059,0.044l2.603,2.573c0.24,0.237,0.24,0.622,0,0.858c-0.239,0.237-0.628,0.237-0.867,0
              l-2.455-2.427c-0.114-0.112-0.271-0.178-0.433-0.178H11.93z M14.997,28.188h6.226l-1.185,2.426h-0.133
              c-1.64,0-3.299,0.075-4.908,0.222V28.188z M35.195,36.336c-0.398,0.572-0.661,0.95-1.487,0.95c-0.886,0-1.313-0.45-1.854-1.021
              c-1.076-1.501-3.179-1.855-4.697-0.791c-0.31,0.217-0.58,0.484-0.8,0.791c-0.544,0.571-0.971,1.021-1.855,1.021
              s-1.313-0.45-1.854-1.021c-1.075-1.5-3.178-1.855-4.696-0.791c-0.31,0.217-0.581,0.484-0.801,0.791
              c-0.541,0.571-0.968,1.021-1.853,1.021c-0.885,0-1.311-0.45-1.852-1.021c-0.649-0.86-1.662-1.378-2.748-1.404
              c-1.085,0.026-2.098,0.545-2.747,1.404c-0.541,0.571-0.968,1.021-1.85,1.021c-0.827,0-1.09-0.378-1.487-0.949
              c-0.164-0.248-0.349-0.482-0.552-0.699c0.853-1.883,7.119-3.811,15.843-3.811s14.988,1.927,15.846,3.81
              C35.546,35.854,35.36,36.088,35.195,36.336z" />
                      <path
                        d="M30.304,10.955c1.909,0.906,3.374,2.528,4.068,4.506c0.104,0.32,0.448,0.496,0.771,0.394
              c0.322-0.102,0.501-0.443,0.397-0.762c-0.004-0.012-0.008-0.022-0.012-0.034c-0.802-2.281-2.491-4.152-4.693-5.196
              c-0.299-0.158-0.671-0.045-0.83,0.25s-0.046,0.663,0.253,0.82C30.273,10.941,30.288,10.948,30.304,10.955L30.304,10.955z" />
                    </g>
                  </svg>
                                    <h2 v-cloak>{{hotelBookingStatCount.totalBookings||'00'}}</h2>
                                    <p>{{All_Bookings_Text}}</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 trips-block"> <svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                    <g>
                      <g>
                        <g>
                          <path d="M25.412,13.948H14.588c-0.374,0-0.677,0.301-0.677,0.672c0,0.372,0.303,0.672,0.677,0.672h10.824
                  c0.374,0,0.676-0.3,0.676-0.672C26.088,14.249,25.786,13.948,25.412,13.948z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M25.412,19.328H14.588c-0.374,0-0.677,0.3-0.677,0.672s0.303,0.672,0.677,0.672h10.824
                  c0.374,0,0.676-0.3,0.676-0.672S25.786,19.328,25.412,19.328z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M25.412,24.707H14.588c-0.374,0-0.677,0.301-0.677,0.672c0,0.372,0.303,0.673,0.677,0.673h10.824
                  c0.374,0,0.676-0.301,0.676-0.673C26.088,25.008,25.786,24.707,25.412,24.707z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M25.412,30.086H14.588c-0.374,0-0.677,0.301-0.677,0.673s0.303,0.672,0.677,0.672h10.824
                  c0.374,0,0.676-0.3,0.676-0.672S25.786,30.086,25.412,30.086z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path
                            d="M28.117,5.879h-2.705h-2.029V1.845h2.029c0.374,0,0.676-0.3,0.676-0.672c0-0.372-0.302-0.672-0.676-0.672
                  H14.588c-0.374,0-0.677,0.301-0.677,0.672c0,0.372,0.303,0.672,0.677,0.672h2.029v4.035h-2.029h-2.706
                  c-1.865,0-3.382,1.508-3.382,3.362v24.207c0,1.623,1.164,2.981,2.706,3.294v2.085c0,0.372,0.302,0.673,0.676,0.673
                  s0.676-0.301,0.676-0.673v-2.017h14.883v2.017c0,0.372,0.302,0.673,0.676,0.673c0.375,0,0.677-0.301,0.677-0.673v-2.085
                  c1.542-0.313,2.706-1.67,2.706-3.294V9.241C31.5,7.388,29.982,5.879,28.117,5.879z M17.971,1.845h4.059v4.035h-4.059V1.845z
                   M15.265,7.224h9.471v0.672c0,0.371-0.303,0.672-0.677,0.672h-8.117c-0.374,0-0.677-0.301-0.677-0.672V7.224z M30.147,33.448
                  c0,1.112-0.911,2.018-2.03,2.018H11.882c-1.119,0-2.029-0.905-2.029-2.018V9.241c0-1.112,0.911-2.017,2.029-2.017h2.029v0.672
                  c0,1.112,0.911,2.017,2.03,2.017h8.117c1.119,0,2.029-0.905,2.029-2.017V7.224h2.029c1.119,0,2.03,0.905,2.03,2.017V33.448z" />
                        </g>
                      </g>
                    </g>
                  </svg>
                                    <h2>{{hotelBookingStatCount.upComing||'00'}}</h2>
                                    <p>{{Upcoming_Bookings}}</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 trips-block brdr-rght-nn bdr-b-t-m"> <svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40">
                    <g>
                      <g>
                        <g>
                          <path d="M25.264,9.153H25.1V7.232c0-0.245-0.164-0.408-0.409-0.408h-9.069c-0.246,0-0.408,0.163-0.408,0.408
                      v1.553l-0.858-0.286c-0.205-0.081-0.45,0.041-0.531,0.245L13.62,9.398c-1.431,0.571-2.37,1.961-2.37,3.554v3.678l-0.286,0.858
                      c-0.042,0.122-0.042,0.204,0.04,0.326c0.042,0.082,0.123,0.163,0.246,0.204v10.909c0,1.593,1.266,2.858,2.859,2.858h1.104v0.981
                      c0,0.245,0.162,0.409,0.408,0.409c0.245,0,0.409-0.164,0.409-0.409v-0.981h8.251v0.981c0,0.245,0.165,0.409,0.409,0.409
                      c0.245,0,0.409-0.164,0.409-0.409v-0.981h1.104c1.594,0,2.858-1.266,2.858-2.858V12.993C29.104,10.869,27.388,9.153,25.264,9.153
                      z M16.03,7.683h8.251v1.512h-8.047L16.03,9.112V7.683z M12.067,12.993c0-0.939,0.449-1.839,1.185-2.41l-1.185,3.596V12.993z
                       M14.478,9.438l2.165,0.736l-2.614,7.926l-2.166-0.735L14.478,9.438z M28.286,28.928c0,1.143-0.898,2.041-2.044,2.041H14.109
                      c-1.143,0-2.042-0.898-2.042-2.041V18.305l2.084,0.694c0.04,0,0.082,0.041,0.122,0.041c0.164,0,0.327-0.123,0.368-0.286
                      l2.901-8.702v-0.041h7.722c1.674,0,3.022,1.349,3.022,3.023V28.928L28.286,28.928z" />
                        </g>
                      </g>
                      <g>
                        <g>
                          <path d="M22.732,14.467h-5.14c-0.225,0-0.375,0.149-0.375,0.375s0.151,0.375,0.375,0.375h5.14
                      c0.224,0,0.375-0.149,0.375-0.375S22.918,14.467,22.732,14.467z" />
                        </g>
                      </g>
                      <path
                        d="M33.441,6.559c-7.411-7.411-19.471-7.411-26.882,0c-7.412,7.412-7.412,19.471,0,26.883
              C10.264,37.146,15.133,39,20,39c4.867,0,9.735-1.853,13.441-5.559C40.853,26.029,40.853,13.97,33.441,6.559z M7.593,7.593
              C11.014,4.172,15.507,2.461,20,2.461c4.263,0,8.516,1.561,11.864,4.641L7.102,31.863C0.776,24.989,0.927,14.259,7.593,7.593z
               M32.407,32.406c-6.667,6.667-17.396,6.817-24.271,0.491L32.897,8.136C39.225,15.01,39.074,25.74,32.407,32.406z" />
                    </g>
                  </svg>
                                    <h2 v-cloak>{{hotelBookingStatCount.cancelled||'00'}}</h2>
                                    <p>{{Cancelled_Bookings}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/modernizr.custom.js?v=201906130000"></script>
    <script src="assets/js/jquery.min.js?v=201905150000"></script>
    <script src="assets/js/bootstrap.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="assets/js/select2.min.js?v=201905150000"></script>
    <script src="assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script src="assets/js/main.js?v=201905150000"></script>
    <script src="assets/js/intlTelInput.js?v=201903150000"></script>
    <script src="assets/js/custom.js?v=201907070000"></script>
    <script src="assets/js/pack.js?v=201904080000"></script>
    <script src="../assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vuex.min.js?v=201912240000"></script>
    <script src="/assets/js/httpVueLoader.min.js?v=201912240000"></script>
    <script src="/assets/js/vue-router.min.js?v=201912240000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="assets/js/customer-profile.js?v=202007280000"></script>
</body>

</html>