<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit My Profile</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=201909240000">
    <link href="/assets/css/jquery-ui.css?v=202002140000" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202009080000">
    <link href="assets/css/media.css?v=202009060000" rel="stylesheet" type="text/css">
    <link href="assets/css/signin.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201905150000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="assets/css/select2.min.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
    <link rel="stylesheet" href="assets/css/intlTelInput.css?v=201904080000">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body id="home">
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile">
        <div class="container" v-cloak id="div_editmyProfile">
            <div class="row flx_sec ar_direction">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="left">
                        <div class="user">
                            <img v-if="[2,3,4].indexOf(User.title.id)<0" src="/assets/images/user.png">
                            <img v-else src="/assets/images/user_lady.png">
                            <div class="name">{{getTitle(User.title.id)+' '+User.firstName+' '+(User.lastName ? User.lastName : '')}}</div>
                        </div>
                        <sidemenuitem></sidemenuitem>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="right">
                        <!-- <h2>{{edit}} {{Page_Subtitle}}</h2> -->
                        <div class="my-profile">
                            <div class="traveller-detatail travel-form-info">
                                <div class="travel-form traveller_view btm-brdr full_sec sp_sec_traveller">
                                <div class="flx_package ar_direction">
                                    <div class="col-md-2 col-sm-4 pd-left travel-form" v-cloak>
                                        <label>{{Title}} *</label>
                                        <select class="simple_dropdown sel_co_trvlr" v-cloak v-model="title.selected">
                                            <option value="" disabled selected>Title</option>
                                            <option v-for="title in title.titles" v-bind:value="title.id">
                                                {{ title.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-5 col-sm-4 travel-form" v-cloak>
                                        <label>{{First_Name}} *</label>
                                        <input v-cloak type="text" name="text" placeholder="First Name" v-model="User.firstName" required>
                                    </div>
                                    <div class="col-md-5 col-sm-4 travel-form pd-right" v-cloak>
                                        <label>{{Last_Name}} *</label>
                                        <input v-cloak type="text" name="text" placeholder="Last Name" v-model="User.lastName" required>
                                    </div>
                                </div>
                                
                                <div class="flx_package ar_direction">

                                    <div class="inner col-md-6 col-sm-6 col-xs-12 pd-left" v-if="false">
                                        <label>{{Address}}</label>
                                        <div class="field" style="width: 100%;">
                                            <div class="field-50 m-r-5">
                                                <input v-cloak type="text" name="text" placeholder="Address1" v-model="User.userAdress.line1" required>
                                            </div>
                                            <div class="field-50">
                                                <input v-cloak type="text" name="text" placeholder="Address2" v-model="User.userAdress.line2" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flx_package ar_direction" v-if="false">
                                        <div class="col-md-6 col-sm-6 pd-left">
                                            <label>{{Country}}*</label>
                                            <div class="field">
                                                <div class="field-50 rel">
                                                    <div>
                                                        <select class="simple_dropdown sel_co_trvlr" v-cloak v-model="country.selected">
                                                            <option value="" disabled selected>Country</option>
                                                            <option v-for="country in country.countries" v-bind:value="country.twoLetter">
                                                                {{country.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="width-100 col-md-6 col-sm-6 pd-left" v-if="false">
                                            <label>{{zip}}</label>
                                            <div class="field">
                                                <div class="field-50">
                                                    <input v-cloak type="text" name="text" placeholder="ZIP/Postal code" v-model="User.userAdress.zip">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flx_package ar_direction">
                                        <div class="col-md-4 col-sm-4 pd-left travel-form">
                                            <label class="select-label">{{Date_Of_Birth}} *</label>
                                            <input type="text" :placeholder="Date_Of_Birth" readonly="readonly" id="txtDob" class="calendar sel_co_trvlr" style="cursor: pointer;">
                                        </div>
                                        <div class="col-md-4 col-sm-4  travel-form">
                                            <label class="select-label">{{Nationality}} *</label>
                                                <select class="simple_dropdown sel_co_trvlr" v-model="frequentFlyerDetails.nationality">
                                                <option v-for="country in country.countries" v-bind:value="country.twoLetter">
                                                    {{country.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-sm-4 travel-form pd-right">
                                            <label class="select-label">{{Passport_Number}} *</label>
                                            <input v-model="frequentFlyerDetails.passportNumber" type="text" maxlength="20" name="text" :placeholder="Passport_Number" autocomplete="off" id="txtPassport" required="required" class="sel_co_trvlr">
                                        </div>
                                    </div>
                                    <div class="flx_package ar_direction">
                                        <div class="col-md-4 col-sm-4 travel-form pd-left">
                                            <label class="select-label">{{Expire_Date}} *</label>
                                            <input type="text" :placeholder="Expire_Date" readonly="readonly" id="txtExpireDate" class="calendar sel_co_trvlr" style="cursor: pointer;">
                                        </div>
                                        <div class="col-md-4 col-sm-4 travel-form">
                                            <label class="select-label">{{Issue_Date}} *</label>
                                            <input type="text" :placeholder="Issue_Date" readonly="readonly" id="txtPassportIssue" class="calendar sel_co_trvlr" style="cursor: pointer;">
                                        </div>
                                        <div class="col-md-4 col-sm-4  travel-form pd-right">
                                            <label class="select-label">{{Issue_Country}} *</label>
                                            <select class="simple_dropdown sel_co_trvlr" v-model="frequentFlyerDetails.issuingCountry">
                                            <option v-for="country in country.countries" v-bind:value="country.twoLetter">
                                                {{country.name}}
                                            </option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="flx_package ar_direction">
                                
                                    <div class="col-md-6 col-sm-6 col-xs-12 pd-left travel-form">
                                        <label>{{Phone}}*</label>
                                        <div class="field">
                                            <div class="field-50">
                                                <input v-cloak id="phone" type="text" :placeholder="Phone" v-model="User.usercontactNumber.number"
                                                    maxlength="15"
                                                    onkeydown="return ((((event.keyCode>=48)&&(event.keyCode<=57))||((event.keyCode>=96)&&(event.keyCode<=105))||((event.keyCode==08))||((event.keyCode==46))) && event.keyCode!=32);">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 pd-right travel-form">
                                        <label>{{Email}}*</label>
                                        <div class="field">
                                            <div class="field-50">
                                                <input v-cloak type="text" name="text" :placeholder="Email" disabled="disabled" v-model="User.emailId">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flx_package ar_direction" style="margin-top: 20px;">
                                    <div style="margin-top: 5px;" data-toggle="collapse" data-target="#flyerADT1" aria-controls="flyerADT1"
                                        class="form__checkbox frequent-fly" aria-expanded="false">
                                        <input id="checkbox-list-ADT1" name="checkbox-list-2" type="checkbox">
                                        <label for="checkbox-list-ADT1">{{Frequent_Flyer}}</label>
                                        <span class="checkbox"></span>
                                    </div>
                                    <div id="flyerADT1" aria-expanded="false" class="wdt collapse">
                                        <div class="col-md-6 col-sm-6 travel-form pd-left">
                                            <label class="select-label">{{Frequent_Flyer_Program}}</label>
                                            <select class="simple_dropdown sel_co_trvlr" v-model="frequentFlyerDetails.frequentFlyerList.airLine.code">
                                                <option v-for="airline in AirlinesDatas" v-bind:value="airline.C">
                                                    {{ airline.A }}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-6 travel-form pd-right" style="margin-bottom: 10px;">
                                            <label class="select-label">{{Frequent_Flyer_Number}}</label>
                                            <input v-model="frequentFlyerDetails.frequentFlyerList.frequentFlyerCode" type="text" name="text"
                                                :placeholder="Frequent_Flyer_Number" autocomplete="off" data-paxtype="ADT" data-paxindex="1"
                                                id="txtFreqFlyNumberADT1" required="required" class="sel_co_trvlr">
                                        </div>
                                    </div>
                                </div>
                            <div class="inner bdr-tp m-t-15">
                                <label>* {{Required_Fields}}</label>
                                <div class="field" style="width:80%">
                                    <button type="submit" @click="updateProfile" class="save">{{save}}</button>
                                </div>
                            </div>
                        </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/modernizr.custom.js?v=201906130000"></script>
    <script src="assets/js/jquery.min.js?v=201905150000"></script>
    <script src="assets/js/bootstrap.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script src="assets/js/main.js?v=201905150000"></script>
    <script src="assets/js/intlTelInput.js?v=201903150000"></script>
    <script src="assets/js/pack.js?v=201904080000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vuex.min.js?v=201912240000"></script>
    <script src="/assets/js/httpVueLoader.min.js?v=201912240000"></script>
    <script src="/assets/js/vue-router.min.js?v=201912240000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="/Flights/assets/js/Titles.js"></script>
    <script src="assets/js/edit-my-profile.js?v=202009060000"></script>
    <script src="assets/js/select2.min.js?v=201905150000"></script>
    <script src="assets/js/custom.js?v=201907070000"></script>
</body>

</html>