<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Bookings</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=201909240000">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202009080000">
    <link href="assets/css/media.css?v=202009060000" rel="stylesheet" type="text/css">
    <link href="assets/css/signin.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201905150000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="assets/css/select2.min.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
    <link rel="stylesheet" href="assets/css/intlTelInput.css?v=201904080000">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body id="home">
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile">
        <div class="container" v-cloak id="div_my-bookings">
            <div class="row flx_sec ar_direction">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="left">
                        <div class="user">
                            <img v-if="[2,3,4].indexOf(User.title.id)<0" src="/assets/images/user.png">
                            <img v-else src="/assets/images/user_lady.png">
                            <div class="name">{{getTitle(User.title.id)+' '+User.firstName+' '+(User.lastName ? User.lastName : '')}}</div>
                        </div>
                        <sidemenuitem></sidemenuitem>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="right">
                        <!-- <h2>{{Page_SubTitle}}</h2> -->
                        <!-- <p class="p-b-15">{{SubTitle}}</p> -->
                        <div class="my-booking">

                            <!-- <select v-model="no_of_records" @change="onLimitChange($event)" >
                            <option value="0">No of Records</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>   
                        </select> -->
                            <div class="sort pull-right">
                                <form>
                                    <div class="fifty">
                                        <select class="myselect" @change="selectService(selectedService)" v-model.lazy="selectedService" v-select2>
                      <!-- <option value="1">All booking</option> -->
                      <option v-if="hasAirService" value="2">Flights</option>
                      <option v-if="hasHotelService" value="3">Hotels</option>
                    </select>
                                    </div>
                                    <div class="fifty">
                                        <div class="search-container">
                                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                                            <input class="search-field" value="" type="text" v-model="search" :placeholder="Search_PlaceHolder">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <ul class="tabs">
                                <li class="active"><a href="#" @click="selectStatus('upcoming')">{{Upcoming}}</a></li>
                                <li><a href="#" @click="selectStatus('completed')">{{Completed}}</a></li>
                                <li><a href="#" @click="selectStatus('cancelled')">{{Cancelled}}</a></li>
                            </ul>
                            <div class="tab_container">
                                <div class="tab_content">
                                    <div class="table-responsive booking-table" :style="filteredBookingsList.length>0?'height: 430px;':''">
                                        <table v-cloak class="table table-bordered">
                                            <thead v-if="selectedService==2">
                                                <tr>
                                                    <th>{{Booking_ID}}</th>
                                                    <th>{{Trip_Detail}}</th>
                                                    <th>{{Traveller}}</th>
                                                    <th>{{Booking_Date}}</th>
                                                    <th>{{Departure_Date}}</th>
                                                    <th>{{Arrival_Date}}</th>
                                                    <th>{{Supplier_ref}}</th>
                                                    <th>{{Action}}</th>
                                                </tr>
                                            </thead>
                                            <thead v-else-if="selectedService==3">
                                                <tr>
                                                    <th>{{Reference_ID}}</th>
                                                    <!--<th>{{City}}</th>-->
                                                    <th>{{Hotel}}</th>
                                                    <th>{{Booking_Date}}</th>
                                                    <th>{{Check_in}}</th>
                                                    <th>{{Nights}}</th>
                                                    <!--<th>{{Timelimit}}</th>-->
                                                    <th>{{Booking_Status}}</th>
                                                    <!--<th>{{Action}}</th>-->
                                                </tr>
                                            </thead>
                                            <tbody v-if="selectedService==2">
                                                <!-- <tr v-for="item in filteredBookingsList.slice(0, this.limit)" > -->
                                                <tr v-for="item in filteredBookingsList">
                                                    <td v-cloak>
                                                        <a href="#" @click="getBookinginfo(item); return false;" v-html="getRefdetail(item.referenceNumber,item.paxName)"></a>
                                                    </td>
                                                    <!-- v-html="getRefdetail(item.referenceNumber,item.paxName)" v-cloak @click="getBookinginfo(item)" v-html="getRefdetail(item.referenceNumber,item.paxName)"></td> -->
                                                    <td v-cloak v-html="getTripdetail(item.trip)"></td>
                                                    <td v-cloak>{{item.paxName}}</td>
                                                    <td v-cloak v-html="getDatedetail(item.bookDate)"></td>
                                                    <td v-cloak v-html="getDatedetail(item.departureDate)"></td>
                                                    <td v-cloak v-html="getDatedetail(item.arrivalDate)"></td>
                                                    <td v-cloak>{{item.supplierReferenceNumber||'NA'}}</td>
                                                    <td v-cloak>{{item.status}}</td>
                                                </tr>
                                            </tbody>
                                            <tbody v-else-if="selectedService==3">
                                                <tr v-for="item in filteredBookingsList">
                                                    <!-- <td v-cloak>{{item.referenceNumber}}</td>-->
                                                    <td v-cloak>
                                                        <a href="#" @click="getBookinginfo(item); return false;" v-html="getRefdetail(item.referenceNumber,item.userName)"></a>
                                                    </td>
                                                    <!-- <td v-cloak>{{item.city}}</td> -->
                                                    <td v-cloak>{{item.hotelName}}</td>
                                                    <td v-cloak v-html="getDatedetail(item.bookDate)"></td>
                                                    <td v-cloak v-html="getDatedetail(item.checkInDate)"></td>
                                                    <td v-cloak>{{item.numOfNights}}</td>
                                                    <!--<td v-cloak v-html="getDatedetail(item.deadlineDate)"></td>-->
                                                    <td v-cloak>{{item.status}}</td>
                                                    <!--<td v-cloak>NA</td>-->
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                    <div v-if="filteredBookingsList.length==0">
                                        <img src="assets/images/booking-img.png" alt="">
                                        <h3>{{Notfoundheader}}</h3>
                                        <p>{{Notfoundcontent}}</p>
                                        <a href="/">{{Continue_Booking}}</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/modernizr.custom.js?v=201906130000"></script>
    <script src="assets/js/jquery.min.js?v=201905150000"></script>
    <script src="assets/js/bootstrap.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script src="assets/js/select2.min.js?v=201905150000"></script>
    <script src="assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script src="assets/js/main.js?v=201905150000"></script>
    <script src="assets/js/intlTelInput.js?v=201903150000"></script>
    <script src="assets/js/custom.js?v=201907070000"></script>
    <script src="assets/js/pack.js?v=201904080000"></script>
    <script src="/assets/js/underscore-min.js?v=202008130000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vuex.min.js?v=201912240000"></script>
    <script src="/assets/js/httpVueLoader.min.js?v=201912240000"></script>
    <script src="/assets/js/vue-router.min.js?v=201912240000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/UTCTime.js"></script>
    <script src="/Flights/FlightComponents/Assets/js/AirCommonServices.js?v=202008120000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="assets/js/my-bookings.js?v=202105210000"></script>
</body>

</html>