<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View My Companion</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css?v=201909240000">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?v=202009080000">
    <link href="assets/css/media.css?v=202009060000" rel="stylesheet" type="text/css">
    <link href="assets/css/signin.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="assets/css/owl.carousel.css?v=201905150000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="assets/css/select2.min.css?v=201905150000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
    <link rel="stylesheet" href="assets/css/intlTelInput.css?v=201904080000">
    <link href="assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body id="home">
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile">
        <div class="container" v-cloak id="div_view_cotraveller">
            <div class="row flx_sec ar_direction">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="left">
                        <div class="user">
                            <img v-if="[2,3,4].indexOf(User.title.id)<0" src="/assets/images/user.png">
                            <img v-else src="/assets/images/user_lady.png">
                            <div class="name">{{getTitle(User.title.id)+' '+User.firstName+' '+User.lastName}}</div>
                        </div>
                        <sidemenuitem></sidemenuitem>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="right">
                        <!-- <h2>{{Page_Title}}</h2> -->
                        <div class="my-profile">
                            <form>
                                <div class="inner">
                                    <label>{{First_Name}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{cotraveller.firstName}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{Last_Name}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{cotraveller.lastName}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{DOB}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{cotraveller.dob.split('-').reverse().join('-')}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{Nationality}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{getCountryName(cotraveller.nationality)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{Passport_Number}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{cotraveller.passportNumber}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{Issuing_Country}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{getCountryName(cotraveller.issuingCountry)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{Passport_Issue_Date}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{cotraveller.passportIssueDate.split('-').reverse().join('-')}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner">
                                    <label>{{Passport_Expiry_Date}}</label>
                                    <div class="field">
                                        <div v-cloak class="field-50 p-t-10">
                                            {{cotraveller.passportExpiryDate.split('-').reverse().join('-')}}
                                        </div>
                                    </div>
                                </div>
                                <div class="inner bdr-tp m-t-15">
                                    <label></label>
                                    <div class="field">
                                        <a href="co-travelers.html" class="save">{{Back}}</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/modernizr.custom.js?v=201906130000"></script>
    <script src="assets/js/jquery.min.js?v=201905150000"></script>
    <script src="assets/js/bootstrap.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="assets/js/select2.min.js?v=201905150000"></script>
    <script src="assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script src="assets/js/main.js?v=201905150000"></script>
    <script src="assets/js/intlTelInput.js?v=201903150000"></script>
    <script src="assets/js/custom.js?v=201907070000"></script>
    <script src="assets/js/pack.js?v=201904080000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/vuex.min.js?v=201912240000"></script>
    <script src="/assets/js/httpVueLoader.min.js?v=201912240000"></script>
    <script src="/assets/js/vue-router.min.js?v=201912240000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="/assets/js/view-cotraveller.js?v=201910240000"></script>
</body>

</html>