<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> 404</title>
    <link rel="icon" href="website-informations/favicon/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.css">

    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <!-- <div id="preloader"></div> -->
    <!--Header -->


    <header>
        <headeritem> </headeritem>

    </header>

    <div class="container" id="errorpage" v-cloak>
        <div class="four-zero">
            <h3>4<span>0</span>4</h3>
            <h4>{{mainArea.Heading}}</h4>
            <p v-html="mainArea.Content"></p>
            <a class="btn" href="index.html">{{mainArea.Home_Button_Label}}</a>
        </div>
    </div>




    <footer>
        <footeritem> </footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <!-- Bootstrap JQUERY -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script type="text/javascript" src="js/pack.js"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="js/intlTelInput.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>

    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script>
    <script src="serviceJS/404.js"></script>




</body>

</html>