<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Contact Us</title>
    <link rel="icon" href="website-informations/favicon/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="css/flag-iocn.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/assets/css/vue-loading.css?v=202007070000">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <!-- <div id="preloader"></div> -->
    <!--Header -->
    <header>
        <headeritem> </headeritem>
    </header>
    <div id="contact" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>
        <!-- banner-->

        <section class="inner-banner contact-banner" :style="{ background: 'url(' + bannerSection.Image_1920x289px+ ')'}">
            <div class="container relative">
                <h1>{{bannerSection.Contact_Us_Label}}</h1>

                <div class="bradcomes">
                    <ul>
                        <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> |
                        <li>{{bannerSection.Contact_Us_Label}}</li>
                    </ul>
                </div>
            </div>

        </section>
        <div class="container">
            <div class="contact-info">
                <h2>{{contactArea.Heading}}</h2>
                <div class="title-pattern">
                    <img src="images/title-patten.png" alt="pattern">
                </div>

                <p v-html="contactArea.Description"> </p>

                <div class="row">
                    <form>
                        <div class="col-md-6">
                            <input type="text" id="text" class="form-control" v-model="cntuserfirstname" :placeholder="contactArea.First_Name_Placeholder">
                        </div>

                        <div class="col-md-6">
                            <input type="text" id="text" class="form-control" v-model="cntuserlastname" :placeholder="contactArea.Last_Name_Placeholder">
                        </div>

                        <div class="col-md-6">
                            <input type="email" id="email" class="form-control" v-model="cntemail" :placeholder="contactArea.Email_Placeholder">
                        </div>

                        <div class="col-md-6">
                            <input type="text" id="text" class="form-control" v-model="cntcontact" :placeholder="contactArea.Phone_Placeholder">
                        </div>


                        <div class="col-md-12">
                            <textarea rows="4" class="form-control" v-model="cntmessage" :placeholder="contactArea.Message_Placeholder"></textarea>
                        </div>

                        <div class="col-md-12">
                            <input type="submit" id="submit" :value="contactArea.Send_Button_Label" @click.prevent="sendcontactus">
                        </div>

                    </form>




                </div>

            </div>
        </div>

        <div class="container">
            <div class="contact-in">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="contact-dtl">
                            <h4>{{contactArea.Address_Label}}</h4>
                            <p v-html="contactArea.Address_Description"></p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-dtl">
                            <h4>{{contactArea.Phone_Label}}</h4>
                            <a :href="'tel:' + contactArea.Phone_Number">{{contactArea.Phone_Number}} </a>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-dtl">
                            <h4>{{contactArea.Email_Label}}</h4>
                            <a :href="'mailto:' + contactArea.Email_Id">{{contactArea.Email_Id}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>



    <footer>
        <footeritem> </footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <!-- Bootstrap JQUERY -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script type="text/javascript" src="js/pack.js"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="js/intlTelInput.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script>
    <script src="serviceJS/contact.js"></script>

    <script>
        /*--------Banner-Slider---------*/
        $(document).ready(function() {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script>



</body>

</html>