<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Basic Page Needs -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Specific Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title> Vamidzo Travel</title>
   <link rel="icon" href="website-informations/favicon/favicon.ico" type="icon" />
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Main Custom CSS -->
   <!-- <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
   <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"
      type="text/css" />
   <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
   <link href="css/style.css" rel="stylesheet" type="text/css" />
   <link href="css/media.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css"> -->
   <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
   <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
   <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
   <link href="css/style.css" rel="stylesheet" type="text/css" />
   <link href="css/media.css" rel="stylesheet" type="text/css" />
   <link href="css/common-style.css" rel="stylesheet" type="text/css" />
   <!-- <link href="css/flag-iocn.css" rel="stylesheet" type="text/css" /> -->
   <link rel="stylesheet" href='/assets/css/flag.css'>
   <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
   <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
   <style>
      [v-cloak] {
         display: none !important;
      }
   </style>
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
   <div id="preloader"></div>
   <!--<a class="wp-btn" href="https://web.whatsapp.com" target="_blank"><i class="fa fa-whatsapp"></i></a> -->
   <!--Header -->
   <header>
      <headeritem> </headeritem>
   </header>
   <div id="indexmain" v-cloak>
      <!-- banner-->
      <section class="banner-info">
         <div class="banner_main">
            <div class="container">
               <h1>{{MainSection.Title}}</h1>
            </div>
         </div>
         <!--booking-form-->
         <div class="booking-form">
            <div class="container">
               <div class="row">
                  <div class="search-section">
                     <div role="tabpanel">
                        <!-- BEGIN: CATEGORY TAB -->
                        <div class="booking-tab">
                           <div class="col-md-12  tab-field">
                              <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                                 <li role="presentation" class="text-center" @click.prevent="redirection('#flights')"
                                    :class="{ 'active': activeClass === '#flights' || activeClass === 'index' || activeClass === '/' || activeClass === '#/'}">
                                    <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">
                                       <span class="service-icon">
                                          <svg viewBox="0 0 360.031 360.031"
                                             style="enable-background:new 0 0 360.031 360.031;" xml:space="preserve">
                                             <g>
                                                <g>
                                                   <g>
                                                      <path d="M356.354,82.579l-0.774-0.688c-6.684-4.678-16.201-7.14-27.508-7.14c-17.973,0-36.587,6.095-44.982,11.812l-66.16,45.171
         L87.958,159.128c-1.129,0.246-2.177,0.688-3.134,1.339c-2.504,1.735-3.948,4.687-3.783,7.719
         c0.258,4.354,3.585,7.815,7.878,8.214l54.542,5.492l-53.164,36.291c-15.829-7.267-30.856-14.316-44.679-20.934
         c-21.422-10.268-35.407-12.075-41.979-5.5c-6.842,6.846-2.384,18.543,0.057,22.109l51.212,66.396
         c1.723,2.516,3.702,3.957,6.077,4.39c3.942,0.678,7.365-1.682,10.932-4.21l12.967-8.935l72.037-34.979l-10.542,37.65
         c-1.156,4.173,0.862,8.503,4.804,10.322c1.12,0.517,2.381,0.786,3.627,0.786c1.778,0,3.48-0.528,4.963-1.519
         c0.958-0.643,1.726-1.447,2.366-2.42l41.22-62.643l25.214-29.501l111.81-76.333c1.712-1.162,3.381-2.234,5.056-3.315
         c3.855-2.459,7.5-4.792,10.125-7.44C361.213,96.477,361.537,90.193,356.354,82.579z" />
                                                   </g>
                                                </g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                          </svg>
                                       </span>
                                    </a>
                                    <p> {{MainSection.Flight_Label}} </p>
                                 </li>
                                 <li role="presentation" class="text-center" @click.prevent="redirection('#hotels')"
                                    :class="{ 'active': activeClass === '#hotels'}">
                                    <a href="#hotels" aria-controls="hotel" role="tab" data-toggle="tab">
                                       <span class="service-icon">
                                          <svg viewBox="0 0 564.76 564.76"
                                             style="enable-background:new 0 0 564.76 564.76;" xml:space="preserve">
                                             <g>
                                                <g>
                                                   <path d="M458.149,72.602h-83.415v35.153v12.497c0,12.485-4.676,23.751-13.52,32.589c-8.844,8.843-20.116,13.519-32.589,13.519
      h-92.498c-12.472,0-23.739-4.676-32.583-13.513c-8.85-8.844-13.525-20.11-13.525-32.595v-12.497V72.602h-83.416
      c-4.761,0-8.886,1.738-12.362,5.214c-3.477,3.488-5.221,7.607-5.221,12.356v457.011c0,4.754,1.738,8.879,5.221,12.355
      c3.476,3.477,7.595,5.221,12.362,5.221h117.437c-0.428-2.02-0.691-4.1-0.691-6.285V529.6v-51.162
      c0-7.98,2.907-14.896,8.758-20.754c5.838-5.82,12.754-8.752,20.753-8.752h59.027c7.986,0,14.902,2.939,20.753,8.752
      c5.838,5.857,8.764,12.773,8.764,20.754V529.6v28.875c0,2.186-0.257,4.266-0.691,6.285h117.442c4.756,0,8.881-1.744,12.362-5.221
      c3.477-3.482,5.221-7.602,5.221-12.355V90.172c0-4.755-1.744-8.874-5.221-12.356C467.029,74.34,462.911,72.602,458.149,72.602z
       M428.511,404.58c-2.112,2.113-4.608,3.164-7.497,3.164h-21.328c-2.889,0-5.393-1.051-7.504-3.164
      c-2.111-2.111-3.164-4.607-3.164-7.496v-21.328c0-2.883,1.053-5.385,3.164-7.496c2.111-2.105,4.608-3.172,7.504-3.172h21.328
      c2.889,0,5.385,1.066,7.497,3.172c2.111,2.117,3.17,4.613,3.17,7.496v21.328C431.681,399.973,430.622,402.477,428.511,404.58z
       M431.681,461.068v21.328c0,2.895-1.059,5.398-3.17,7.498c-2.112,2.117-4.608,3.164-7.497,3.164h-21.328
      c-2.889,0-5.393-1.047-7.504-3.164c-2.111-2.105-3.164-4.604-3.164-7.498v-21.328c0-2.883,1.053-5.385,3.164-7.496
      c2.111-2.105,4.608-3.164,7.504-3.164h21.328c2.889,0,5.385,1.059,7.497,3.164C430.622,455.689,431.681,458.186,431.681,461.068z
       M428.511,319.262c-2.112,2.117-4.608,3.17-7.497,3.17h-21.328c-2.889,0-5.393-1.053-7.504-3.17
      c-2.111-2.105-3.164-4.602-3.164-7.496v-21.322c0-2.889,1.053-5.393,3.164-7.498c2.111-2.111,4.608-3.169,7.504-3.169h21.328
      c2.889,0,5.385,1.059,7.497,3.169c2.111,2.111,3.17,4.609,3.17,7.498v21.322C431.681,314.66,430.622,317.162,428.511,319.262z
       M428.511,233.949c-2.112,2.118-4.608,3.17-7.497,3.17h-21.328c-2.889,0-5.393-1.053-7.504-3.17
      c-2.111-2.105-3.164-4.602-3.164-7.497v-21.328c0-2.882,1.053-5.386,3.164-7.497c2.111-2.105,4.608-3.164,7.504-3.164h21.328
      c2.889,0,5.385,1.059,7.497,3.164c2.111,2.118,3.17,4.615,3.17,7.497v21.328C431.681,229.347,430.622,231.85,428.511,233.949z
       M428.511,148.636c-2.112,2.118-4.608,3.164-7.497,3.164h-21.328c-2.889,0-5.393-1.046-7.504-3.164
      c-2.111-2.105-3.164-4.602-3.164-7.497v-21.329c0-2.882,1.053-5.385,3.164-7.497c2.111-2.105,4.608-3.164,7.504-3.164h21.328
      c2.889,0,5.385,1.059,7.497,3.164c2.111,2.117,3.17,4.614,3.17,7.497v21.329C431.681,144.034,430.622,146.537,428.511,148.636z
       M303.705,205.124c0-2.882,1.053-5.386,3.164-7.497c2.111-2.105,4.608-3.164,7.497-3.164h21.328c2.883,0,5.38,1.059,7.497,3.164
      c2.111,2.118,3.164,4.615,3.164,7.497v21.328c0,2.895-1.053,5.398-3.164,7.497c-2.117,2.118-4.614,3.17-7.497,3.17h-21.328
      c-2.889,0-5.386-1.053-7.497-3.17c-2.111-2.105-3.164-4.602-3.164-7.497V205.124z M303.705,290.443
      c0-2.889,1.053-5.393,3.164-7.498c2.111-2.111,4.608-3.169,7.497-3.169h21.328c2.883,0,5.38,1.059,7.497,3.169
      c2.111,2.111,3.164,4.609,3.164,7.498v21.322c0,2.895-1.053,5.396-3.164,7.496c-2.117,2.117-4.614,3.17-7.497,3.17h-21.328
      c-2.889,0-5.386-1.053-7.497-3.17c-2.111-2.105-3.164-4.602-3.164-7.496V290.443z M172.572,404.58
      c-2.117,2.113-4.614,3.164-7.503,3.164h-21.328c-2.889,0-5.392-1.051-7.497-3.164c-2.118-2.111-3.17-4.607-3.17-7.496v-21.328
      c0-2.883,1.053-5.385,3.17-7.496c2.105-2.105,4.608-3.172,7.497-3.172h21.328c2.889,0,5.386,1.066,7.503,3.172
      c2.105,2.117,3.164,4.613,3.164,7.496v21.328C175.736,399.973,174.677,402.477,172.572,404.58z M175.736,461.068v21.328
      c0,2.895-1.059,5.398-3.164,7.498c-2.117,2.117-4.614,3.164-7.503,3.164h-21.328c-2.889,0-5.392-1.047-7.497-3.164
      c-2.118-2.105-3.17-4.604-3.17-7.498v-21.328c0-2.883,1.053-5.385,3.17-7.496c2.105-2.105,4.608-3.164,7.497-3.164h21.328
      c2.889,0,5.386,1.059,7.503,3.164C174.677,455.689,175.736,458.186,175.736,461.068z M172.572,319.262
      c-2.117,2.117-4.614,3.17-7.503,3.17h-21.328c-2.889,0-5.392-1.053-7.497-3.17c-2.118-2.105-3.17-4.602-3.17-7.496v-21.322
      c0-2.889,1.053-5.393,3.17-7.498c2.105-2.111,4.608-3.169,7.497-3.169h21.328c2.889,0,5.386,1.059,7.503,3.169
      c2.105,2.111,3.164,4.609,3.164,7.498v21.322C175.736,314.66,174.677,317.162,172.572,319.262z M172.572,233.949
      c-2.117,2.118-4.614,3.17-7.503,3.17h-21.328c-2.889,0-5.392-1.053-7.497-3.17c-2.118-2.105-3.17-4.602-3.17-7.497v-21.328
      c0-2.882,1.053-5.386,3.17-7.497c2.105-2.105,4.608-3.164,7.497-3.164h21.328c2.889,0,5.386,1.059,7.503,3.164
      c2.105,2.118,3.164,4.615,3.164,7.497v21.328C175.736,229.347,174.677,231.85,172.572,233.949z M172.572,148.636
      c-2.117,2.118-4.614,3.164-7.503,3.164h-21.328c-2.889,0-5.392-1.046-7.497-3.164c-2.118-2.105-3.17-4.602-3.17-7.497v-21.329
      c0-2.882,1.053-5.385,3.17-7.497c2.105-2.105,4.608-3.164,7.497-3.164h21.328c2.889,0,5.386,1.059,7.503,3.164
      c2.105,2.117,3.164,4.614,3.164,7.497v21.329C175.736,144.034,174.677,146.537,172.572,148.636z M261.049,397.084
      c0,2.889-1.059,5.393-3.164,7.496c-2.118,2.111-4.615,3.164-7.503,3.164h-21.329c-2.889,0-5.385-1.053-7.497-3.164
      c-2.112-2.111-3.164-4.607-3.164-7.496v-21.328c0-2.883,1.052-5.385,3.164-7.498c2.111-2.104,4.608-3.17,7.497-3.17h21.329
      c2.882,0,5.385,1.066,7.503,3.17c2.105,2.119,3.164,4.615,3.164,7.498V397.084z M261.049,311.766c0,2.895-1.059,5.396-3.164,7.496
      c-2.118,2.117-4.615,3.17-7.503,3.17h-21.329c-2.889,0-5.385-1.053-7.497-3.17c-2.112-2.105-3.164-4.602-3.164-7.496v-21.322
      c0-2.889,1.052-5.393,3.164-7.498c2.111-2.111,4.608-3.169,7.497-3.169h21.329c2.882,0,5.385,1.059,7.503,3.169
      c2.105,2.111,3.164,4.609,3.164,7.498V311.766z M261.049,226.452c0,2.895-1.059,5.398-3.164,7.497
      c-2.118,2.118-4.615,3.17-7.503,3.17h-21.329c-2.889,0-5.385-1.053-7.497-3.17c-2.112-2.105-3.164-4.602-3.164-7.497v-21.328
      c0-2.882,1.052-5.386,3.164-7.497c2.111-2.105,4.608-3.164,7.497-3.164h21.329c2.882,0,5.385,1.059,7.503,3.164
      c2.105,2.118,3.164,4.615,3.164,7.497V226.452z M335.7,407.744h-21.328c-2.889,0-5.386-1.051-7.497-3.164
      c-2.111-2.111-3.164-4.607-3.164-7.496v-21.328c0-2.883,1.053-5.385,3.164-7.496c2.111-2.105,4.608-3.172,7.497-3.172H335.7
      c2.883,0,5.38,1.066,7.497,3.172c2.111,2.117,3.164,4.613,3.164,7.496v21.328c0,2.889-1.053,5.393-3.164,7.496
      C341.08,406.691,338.583,407.744,335.7,407.744z" />
                                                   <path d="M218.417,141.439c5.043,4.29,10.912,6.561,17.711,6.561h22.295h47.919h22.289c6.793,0,12.662-2.271,17.711-6.561
      c0.631-0.533,1.292-0.979,1.897-1.579c5.429-5.428,8.146-11.964,8.146-19.608v-12.497V72.602V27.754
      c0-7.644-2.711-14.18-8.146-19.608C342.812,2.717,336.275,0,328.632,0h-92.504c-7.644,0-14.18,2.717-19.608,8.146
      c-5.428,5.428-8.146,11.964-8.146,19.608v44.847v35.153v12.497c0,7.644,2.711,14.18,8.146,19.608
      C217.125,140.46,217.792,140.901,218.417,141.439z M233.043,72.602V30.833c0-1.665,0.612-3.115,1.83-4.333s2.668-1.83,4.333-1.83
      h12.332c1.671,0,3.115,0.612,4.333,1.83c1.218,1.224,1.83,2.668,1.83,4.333v30.833h49.333V30.833c0-1.665,0.612-3.115,1.83-4.333
      s2.668-1.83,4.333-1.83h12.332c1.671,0,3.115,0.612,4.333,1.83c1.218,1.224,1.829,2.668,1.829,4.333v41.769v35.153v1.396v8.017
      c0,1.671-0.611,3.115-1.829,4.333c-1.225,1.224-2.669,1.83-4.333,1.83h-12.332c-1.671,0-3.115-0.606-4.333-1.83
      c-1.224-1.218-1.83-2.662-1.83-4.333v-5v-4.413v-21.42h-49.321v21.42v4.413v5c0,1.671-0.612,3.115-1.83,4.333
      c-1.224,1.224-2.668,1.83-4.333,1.83h-12.332c-1.671,0-3.115-0.606-4.333-1.83c-1.224-1.218-1.83-2.662-1.83-4.333v-8.017v-1.396
      V72.602H233.043z" />
                                                </g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                          </svg>
                                       </span>

                                    </a>
                                    <p> {{MainSection.Hotel_Label}} </p>
                                 </li>
                                 <li role="presentation" class="text-center" @click.prevent="redirection('#packages')"
                                    :class="{ 'active': activeClass === '#packages'}">
                                    <a href="#packages" aria-controls="packages" role="tab" data-toggle="tab">
                                       <span class="service-icon">
                                          <svg viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;"
                                             xml:space="preserve">
                                             <g>
                                                <path d="M4.037,51h28c1.35,0,2.621-0.374,3.675-1.082l17.121-17.094C53.585,32.071,54,31.067,54,29.996
   c0-1.07-0.415-2.075-1.168-2.828S51.074,26,50.004,26c-1.071,0-2.075,0.415-2.828,1.168L33.959,40.385l12.667-24.931
   c0.011-0.021,0.009-0.044,0.018-0.065c0.619-0.69,1.744-0.882,2.614-0.378c0.495,0.286,0.854,0.738,1.008,1.273
   c0.149,0.521,0.087,1.059-0.177,1.516c-0.091,0.157-0.134,0.329-0.134,0.498c0,0.346,0.179,0.683,0.5,0.868
   c0.477,0.275,1.089,0.112,1.366-0.366c0.534-0.924,1.846-1.246,2.832-0.674c1.027,0.593,1.416,1.851,0.867,2.806
   c-0.001,0.001-0.001,0.002-0.002,0.003c-0.276,0.479-0.112,1.09,0.366,1.366c0.157,0.091,0.329,0.134,0.499,0.134
   c0.346,0,0.682-0.179,0.867-0.5c3.645-6.313,1.364-14.223-5.191-18.009C49.877,2.666,47.439,2,45.009,2
   c-4.65,0-8.815,2.405-11.141,6.435c-0.276,0.479-0.112,1.09,0.366,1.366c0.479,0.276,1.089,0.111,1.366-0.366
   c0-0.001,0.001-0.003,0.002-0.004c0.529-0.913,1.872-1.225,2.863-0.651c0.496,0.286,0.854,0.738,1.008,1.273
   c0.15,0.521,0.088,1.061-0.175,1.517c-0.091,0.157-0.134,0.329-0.134,0.499c0,0.346,0.179,0.682,0.5,0.867
   c0.477,0.275,1.089,0.112,1.366-0.366c0.534-0.924,1.844-1.245,2.833-0.674c0.495,0.286,0.853,0.738,1.007,1.273
   c0.15,0.521,0.088,1.06-0.175,1.516c-0.072,0.124-0.106,0.258-0.12,0.393L30.386,43H4.037c-2.206,0-4,1.794-4,4S1.831,51,4.037,51z
   " />
                                                <path d="M58.362,54.948L55.414,52l-8.5-8.5l12.793-12.793c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L35.586,52H1H0v5
   h57.513c0.022,0,0.042-0.008,0.064-0.01l0.717,0.717C58.488,57.902,58.744,58,59,58s0.512-0.098,0.707-0.293
   c0.391-0.391,0.391-1.023,0-1.414L58.362,54.948z M38.414,52l7.086-7.086L52.586,52H38.414z" />
                                                <path d="M7,14h2.069c0.183,1.458,0.759,2.792,1.619,3.898l-1.467,1.466c-0.391,0.391-0.391,1.023,0,1.414
   c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293l1.467-1.466c1.106,0.86,2.44,1.436,3.897,1.619V23
   c0,0.553,0.448,1,1,1s1-0.447,1-1v-2.069c1.457-0.183,2.791-0.759,3.897-1.619l1.467,1.466c0.195,0.195,0.451,0.293,0.707,0.293
   s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414l-1.467-1.466c0.86-1.106,1.436-2.44,1.619-3.898H27c0.552,0,1-0.447,1-1
   s-0.448-1-1-1h-2.069c-0.183-1.458-0.759-2.792-1.619-3.898l1.467-1.466c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0
   l-1.467,1.466c-1.106-0.86-2.44-1.436-3.897-1.619V3c0-0.553-0.448-1-1-1s-1,0.447-1,1v2.069c-1.457,0.183-2.791,0.759-3.897,1.619
   l-1.467-1.466c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l1.467,1.466C9.828,9.208,9.252,10.542,9.069,12H7
   c-0.552,0-1,0.447-1,1S6.448,14,7,14z" />
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                             <g>
                                             </g>
                                          </svg>
                                       </span>
                                    </a>
                                    <p> {{MainSection.Packages_Label}} </p>
                                 </li>
                              </ul>
                           </div>
                           <!-- END: CATEGORY TAB -->
                        </div>
                        <div class="col-md-12 all-search-box">
                           <!-- BEGIN: TAB PANELS -->
                           <div class="tab-content">
                              <!-- START: FLIGHT SEARCH -->
                              <div :class="{ 'active': activeClass === '#flights' || activeClass === 'index' || activeClass === '/'|| activeClass === '#/'}" class="tab-pane fade in" id="flights">
                                 <div class="tabbable">
                                    <ul class="nav-tabs nav-tabs2">
                                       <li class="active"><a href="#one-way" data-toggle="tab"
                                             v-on:click="setTripType('O')">{{MainSection.Oneway_label}}</a>
                                       </li>
                                       <li><a href="#round-trip" data-toggle="tab"
                                             v-on:click="setTripType('R')">{{MainSection.Roundtrip_Label}}</a> </li>
                                       <li><a href="#multi-city" data-toggle="tab"
                                             v-on:click="setTripType('M')">{{MainSection.Multicity_Label}}</a> </li>
                                    </ul>
                                    <div class="tab-content">
                                       <!-- one-way -->
                                       <div class="tab-pane fade active in" id="one-way">
                                          <form>
                                             <div class="clearfix"></div>
                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch id="Cityfrom1" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch id="Cityto1" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="0"></flightsearch>

                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding pl-0">
                                                <input id="deptDate01" class="calendar form-control br-right"
                                                   type="text" :placeholder="MainSection.Departure_Date_Placeholder"
                                                   autocomplete="off">
                                                <button type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding custom-traveller pl-0">
                                                <div class="travellersDropdown flt">
                                                   <div class="custom-select-v3 lg">
                                                      <input class="form-control"
                                                         :placeholder="MainSection.Traveller_Placeholder" readonly=""
                                                         autocomplete="off" v-model="Totaltravaller" type="button">
                                                   </div>
                                                   <div class="travelerSelectWindow" style="display: none;">
                                                      <div id="travelRoundtrip">
                                                         <div class="travelDropdown">
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.Adults_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmAdult _apxSelection"
                                                                           v-on:change="setAdultravellers"
                                                                           v-model="selected_adult">
                                                                           <option v-for="adult in adults"
                                                                              :value="adult.value">
                                                                              {{adult.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Adults_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.children_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmChild _apxSelection"
                                                                           v-model="selected_child"
                                                                           v-on:change="SetChildTravellers">
                                                                           <option v-for="child in children"
                                                                              :value="child.value" v-cloak>
                                                                              {{child.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Children_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.Infant_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmInfant _apxSelection"
                                                                           v-model="selected_infant"
                                                                           v-on:change="setTravelInfo">
                                                                           <option v-for="infant in infants"
                                                                              :value="infant.value">
                                                                              {{infant.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Infant_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="classSec">
                                                         <label>{{MainSection.Class_Label}}</label>
                                                         <div class="custom-select-v3 lg">
                                                            <select v-model="selected_cabin"
                                                               v-on:change="setTravelInfo">
                                                               <option v-for="cabin in MainSection.Class_List"
                                                                  :value="cabin.Code">{{cabin.Class_name}}</option>
                                                            </select>
                                                         </div>
                                                      </div>
                                                      <!-- <input id="dataObject"
                                                         value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}"
                                                         type="hidden"> -->
                                                      <div class="travelDropdown">
                                                         <!-- <span>
                                                         <h:selectonemenu id="roundTripAdults" value="" styleclass="faselect _adult" tabindex="15">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span>
                                                      <span>
                                                         <h:selectonemenu id="roundTripChildren" value="" styleclass="faselect _child" tabindex="16">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span>
                                                      <span>
                                                         <h:selectonemenu id="roundTripInfants" value="" styleclass="faselect _infant" tabindex="17">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span> -->
                                                      </div>
                                                      <div class="closeDropdown"> <span
                                                            class="closeBtn closeLink">{{MainSection.Done_Label}}</span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-2 col-sm-12 search-col-padding">
                                                <button type="submit" class="search-button"
                                                   v-on:click.prevent="SearchFlight">{{MainSection.Search_Label}}
                                                </button>
                                             </div>
                                          </form>
                                       </div>
                                       <!-- round-trip -->
                                       <div class="tab-pane fade" id="round-trip">
                                          <form>
                                             <div class="clearfix"></div>
                                             <div class="col-md-2  col-sm-6 search-col-padding pl-0">
                                                <flightsearch id="Cityfrom1" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding">
                                                <flightsearch id="Cityto1" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="0"></flightsearch>
                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding pl-0">
                                                <input id="from1" class="calendar form-control" type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                                <a class="change-date" href="#"></a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding">
                                                <input id="retDate" class="calendar form-control" type="text"
                                                   :placeholder="MainSection.Return_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding custom-traveller pl-0">
                                                <div class="travellersDropdown flt">
                                                   <div class="custom-select-v3 lg">
                                                      <input class="form-control"
                                                         :placeholder="MainSection.Traveller_Placeholder" readonly=""
                                                         autocomplete="off" v-model="Totaltravaller" type="button">
                                                   </div>
                                                   <div class="travelerSelectWindow" style="display: none;">
                                                      <div id="travelRoundtrip">
                                                         <div class="travelDropdown">
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.Adults_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmAdult _apxSelection"
                                                                           v-on:change="setAdultravellers"
                                                                           v-model="selected_adult">
                                                                           <option v-for="adult in adults"
                                                                              :value="adult.value">
                                                                              {{adult.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Adults_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.children_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmChild _apxSelection"
                                                                           v-model="selected_child"
                                                                           v-on:change="SetChildTravellers">
                                                                           <option v-for="child in children"
                                                                              :value="child.value" v-cloak>
                                                                              {{child.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Children_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.Infant_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmInfant _apxSelection"
                                                                           v-model="selected_infant"
                                                                           v-on:change="setTravelInfo">
                                                                           <option v-for="infant in infants"
                                                                              :value="infant.value">
                                                                              {{infant.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Infant_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="classSec">
                                                         <label>{{MainSection.Class_Label}}</label>
                                                         <div class="custom-select-v3 lg">
                                                            <select v-model="selected_cabin"
                                                               v-on:change="setTravelInfo">
                                                               <option v-for="cabin in MainSection.Class_List"
                                                                  :value="cabin.Code">{{cabin.Class_name}}</option>
                                                            </select>
                                                         </div>
                                                      </div>
                                                      <!-- <input id="dataObject"
                                                         value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}"
                                                         type="hidden"> -->
                                                      <div class="travelDropdown">
                                                         <!-- <span>
                                                         <h:selectonemenu id="roundTripAdults" value="" styleclass="faselect _adult" tabindex="15">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span>
                                                      <span>
                                                         <h:selectonemenu id="roundTripChildren" value="" styleclass="faselect _child" tabindex="16">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span>
                                                      <span>
                                                         <h:selectonemenu id="roundTripInfants" value="" styleclass="faselect _infant" tabindex="17">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span> -->
                                                      </div>
                                                      <div class="closeDropdown"> <span
                                                            class="closeBtn closeLink">{{MainSection.Done_Label}}</span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                             <div class="col-md-2 col-sm-6 search-col-padding">
                                                <button type="submit" class="search-button"
                                                   v-on:click.prevent="SearchFlight">{{MainSection.Search_Label}}
                                                </button>
                                             </div>
                                          </form>
                                       </div>
                                       <!-- multi-city -->
                                       <div class="tab-pane fade" id="multi-city">
                                          <form>
                                             <div class="clearfix"></div>
                                             <!-- trip 1 -->

                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch :item-text="flightSearchCityName.cityFrom1"
                                                   id="DeparturefromLeg1" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="1">
                                                </flightsearch>
                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch :item-text="flightSearchCityName.cityTo1"
                                                   id="ArrivalfromLeg1" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="1"></flightsearch>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pl-0">
                                                <input id="txtLeg1Date" class="calendar form-control br-right"
                                                   type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>

                                             <div class="col-md-3 col-sm-6 search-col-padding custom-traveller pl-0">
                                                <div class="travellersDropdown flt">
                                                   <div class="custom-select-v3 lg">
                                                      <input class="form-control"
                                                         :placeholder="MainSection.Traveller_Placeholder" readonly=""
                                                         autocomplete="off" v-model="Totaltravaller" type="button">
                                                   </div>
                                                   <div class="travelerSelectWindow" style="display: none;">
                                                      <div id="travelRoundtrip">
                                                         <div class="travelDropdown">
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.Adults_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmAdult _apxSelection"
                                                                           v-on:change="setAdultravellers"
                                                                           v-model="selected_adult">
                                                                           <option v-for="adult in adults"
                                                                              :value="adult.value">
                                                                              {{adult.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Adults_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.children_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmChild _apxSelection"
                                                                           v-model="selected_child"
                                                                           v-on:change="SetChildTravellers">
                                                                           <option v-for="child in children"
                                                                              :value="child.value" v-cloak>
                                                                              {{child.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Children_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                            <div class="section-pass">
                                                               <fieldset>
                                                                  <label>{{MainSection.Infant_Label}}</label>
                                                                  <div class="trvFld">
                                                                     <span class="custom-select-v3 sm">
                                                                        <select class="elmInfant _apxSelection"
                                                                           v-model="selected_infant"
                                                                           v-on:change="setTravelInfo">
                                                                           <option v-for="infant in infants"
                                                                              :value="infant.value">
                                                                              {{infant.value}}
                                                                           </option>
                                                                        </select>
                                                                     </span>
                                                                  </div>
                                                                  <span
                                                                     class="ageRange">{{MainSection.Infant_Age}}</span>
                                                               </fieldset>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="classSec">
                                                         <label>{{MainSection.Class_Label}}</label>
                                                         <div class="custom-select-v3 lg">
                                                            <select v-model="selected_cabin"
                                                               v-on:change="setTravelInfo">
                                                               <option v-for="cabin in MainSection.Class_List"
                                                                  :value="cabin.Code">{{cabin.Class_name}}</option>
                                                            </select>
                                                         </div>
                                                      </div>
                                                      <!-- <input id="dataObject"
                                                         value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}"
                                                         type="hidden"> -->
                                                      <div class="travelDropdown">
                                                         <!-- <span>
                                                         <h:selectonemenu id="roundTripAdults" value="" styleclass="faselect _adult" tabindex="15">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span>
                                                      <span>
                                                         <h:selectonemenu id="roundTripChildren" value="" styleclass="faselect _child" tabindex="16">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span>
                                                      <span>
                                                         <h:selectonemenu id="roundTripInfants" value="" styleclass="faselect _infant" tabindex="17">
                                                            <f:selectitems value=""></f:selectitems>
                                                         </h:selectonemenu>
                                                      </span> -->
                                                      </div>
                                                      <div class="closeDropdown"> <span
                                                            class="closeBtn closeLink">{{MainSection.Done_Label}}</span>
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </form>
                                          <div class="clearfix"></div>
                                          <!-- trip 2 -->
                                          <form class="pad-top">

                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch :item-text="flightSearchCityName.cityFrom2"
                                                   id="DeparturefromLeg2" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="2">
                                                </flightsearch>
                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch :item-text="flightSearchCityName.cityTo2"
                                                   id="ArrivalfromLeg2" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="2"></flightsearch>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pl-0">
                                                <input id="txtLeg2Date" class="calendar form-control br-right"
                                                   type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-3 col-sm-6 col-xs-12">
                                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"
                                                   v-if="legcount==2"><i class="fa fa-plus" aria-hidden="true"></i>
                                                   {{MainSection.Add_City_Label}}</a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding"> </div>
                                          </form>
                                          <div class="clearfix"></div>
                                          <!-- trip 3 -->
                                          <form class="pad-top" v-if="(legcount>2)">
                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch :item-text="flightSearchCityName.cityFrom3"
                                                   id="DeparturefromLeg3" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="3">
                                                </flightsearch>
                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch :item-text="flightSearchCityName.cityTo3"
                                                   id="ArrivalfromLeg3" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="3">
                                                </flightsearch>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pl-0">
                                                <input id="txtLeg3Date" class="calendar form-control br-right"
                                                   type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-3 col-sm-6 col-xs-12" v-if="legcount!=6">
                                                <div class="close-btn">
                                                   <a href="#" v-on:click.prevent="DeleteLeg(3)" v-if="legcount==3"><i
                                                         class="fa fa-close" aria-hidden="true"></i></a>
                                                </div>
                                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"
                                                   v-if="legcount==3"><i class="fa fa-plus" aria-hidden="true"></i>
                                                   {{MainSection.Add_City_Label}}</a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding"> </div>
                                          </form>
                                          <div class="clearfix"></div>
                                          <!-- trip 4 -->
                                          <form class="pad-top" v-if="(legcount>3)">
                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch :item-text="flightSearchCityName.cityFrom4"
                                                   id="DeparturefromLeg4" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="4">
                                                </flightsearch>

                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch :item-text="flightSearchCityName.cityTo4"
                                                   id="ArrivalfromLeg4" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="4">
                                                </flightsearch>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pl-0">
                                                <input id="txtLeg4Date" class="calendar form-control br-right"
                                                   type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="close-btn">
                                                   <a href="#" v-on:click.prevent="DeleteLeg(4)" v-if="legcount==4"><i
                                                         class="fa fa-close" aria-hidden="true"></i></a>
                                                </div>
                                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"
                                                   v-if="legcount==4"><i class="fa fa-plus" aria-hidden="true"></i>
                                                   {{MainSection.Add_City_Label}}</a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding"> </div>
                                          </form>
                                          <div class="clearfix"></div>
                                          <!-- trip 5 -->
                                          <form class="pad-top" v-if="(legcount>4)">
                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch :item-text="flightSearchCityName.cityFrom5"
                                                   id="DeparturefromLeg5" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="5">
                                                </flightsearch>

                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch :item-text="flightSearchCityName.cityTo5"
                                                   id="ArrivalfromLeg5" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="5">
                                                </flightsearch>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pl-0">
                                                <input id="txtLeg5Date" class="calendar form-control br-right"
                                                   type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="close-btn">
                                                   <a href="#" v-on:click.prevent="DeleteLeg(5)" v-if="legcount==5"><i
                                                         class="fa fa-close" aria-hidden="true"></i></a>
                                                </div>
                                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"
                                                   v-if="legcount==5"><i class="fa fa-plus" aria-hidden="true"></i>
                                                   {{MainSection.Add_City_Label}}</a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding"> </div>
                                          </form>
                                          <div class="clearfix"></div>
                                          <!-- trip 6 -->
                                          <form class="pad-top" v-if="(legcount>5)">
                                             <div class="col-md-3  col-sm-6 search-col-padding pl-0 pr-1">
                                                <flightsearch :item-text="flightSearchCityName.cityFrom6"
                                                   id="DeparturefromLeg6" :return-value="returnValue"
                                                   :place-holder-text="MainSection.From_Placeholder"
                                                   @air-search-completed="Departurefrom" :leg="6">
                                                </flightsearch>
                                                <a class="change-destination" href="#"></a>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pa-l-0">
                                                <flightsearch :item-text="flightSearchCityName.cityTo6"
                                                   id="ArrivalfromLeg6" :return-value="returnValue"
                                                   :place-holder-text="MainSection.To_Placeholder"
                                                   @air-search-completed="Arrivalfrom" :leg="6">
                                                </flightsearch>
                                             </div>
                                             <div class="col-md-3 col-sm-6 search-col-padding pl-0">
                                                <input id="txtLeg6Date" class="calendar form-control br-right"
                                                   type="text"
                                                   :placeholder="MainSection.Departure_Date_Placeholder"><button
                                                   type="button" class="ui-datepicker-trigger"> </button>
                                             </div>
                                             <div class="col-md-3 col-sm-6 col-xs-12">
                                                <div class="close-btn">
                                                   <a href="#" v-on:click.prevent="DeleteLeg(6)" v-if="legcount==6"><i
                                                         class="fa fa-close" aria-hidden="true"></i></a>
                                                </div>
                                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"
                                                   v-if="legcount==6"><i class="fa fa-plus" aria-hidden="true"></i>
                                                   {{MainSection.Add_City_Label}}</a>
                                             </div>
                                             <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding"> </div>
                                          </form>
                                          <div class="clearfix"></div>
                                          <form class="pad-top">
                                             <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding">
                                                <button type="submit" class="search-button multi-search"
                                                   v-on:click.prevent="MultiSearchFlight">{{MainSection.Search_Label}}
                                                </button>
                                             </div>
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- START: HOTEL SEARCH -->
                              <hotels :class="{ 'active': activeClass === '#hotels'}" role="tabpanel" inline-template class="tab-pane" id="hotels"
                                 :labels="MainSection">
                                 <form>
                                    <div class="col-md-4 col-sm-12 search-col-padding pl-0">
                                       <div class="input-group">
                                          <city-search @city-search-completed="citySearchCompleted"
                                             :labels="labels.Destination_Placeholder"></city-search>
                                       </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 search-col-padding pl-0">
                                       <input id="checkInId" class="calendar" type="text"
                                          :placeholder="labels.Check_In_Label" />
                                       <a class="change-date" href="#"></a>
                                    </div>
                                    <div class="col-md-2 col-sm-6 search-col-padding">
                                       <input id="CheckOutId" class="calendar" type="text"
                                          :placeholder="labels.Checkout_Label" />

                                    </div>
                                    <div class="col-md-2 col-sm-6 search-col-padding custom-traveller pl-0">
                                       <div class="travellersDropdown flt">
                                          <div class="custom-select-v3 lg">
                                             <input class="form-control" readonly autocomplete="off"
                                                v-bind:value="totalcount" type="button">
                                          </div>
                                          <div class="travelerSelectWindow active" style="display: none;">
                                             <div id="travelRoundtrip">
                                                <div v-for="todo in todos" :key="todo.id">
                                                   <todo-item :labels="labels" :id="todo.id" :value="todo.value">
                                                   </todo-item>
                                                </div>
                                                <div class="add-room" v-if="todos.length < 6">
                                                   <a href="#" v-on:click.prevent="addNewTodo"><i
                                                         class="fa fa-plus"></i>{{labels.Add_Room_Label}}</a>
                                                </div>
                                                <div class="remove-room">
                                                   <a href="#" v-show="dspl" v-on:click.prevent="RemoveNewTodo"><i
                                                         class="fa fa-trash"></i>{{labels.Delete_Label}}</a>
                                                </div>
                                             </div>
                                             <!-- <input id="dataObject"
                                                value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}"
                                                type="hidden"> -->
                                             <div class="travelDropdown">
                                             </div>
                                             <div class="closeDropdown" v-on:click="done"> <span
                                                   class="closeBtn closeLink">{{labels.Done_Label}}</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 search-col-padding">
                                       <button type="submit" class="search-button"
                                          v-on:click.prevent="search">{{labels.Search_Label}} </button>
                                    </div>
                                    <div class="clearfix"></div>
                                 </form>
                              </hotels>
                              <!-- END: HOTEL SEARCH -->

                              <!-- START: packages SEARCH -->
                              <div :class="{ 'active': activeClass === '#packages'}" role="tabpanel" class="tab-pane" id="packages">
                                 <form>
                                    <div class="clearfix"></div>
                                    <div class="col-md-9  col-sm-8 search-col-padding pl-0">
                                       <input name="Flying From?" autocomplete="off" class="form-control b-radius-left"
                                          required="" :placeholder="MainSection.Destination_Placeholder"
                                          v-model="pkgSearch" type="text" v-on:keyup="packageListing(pkgSearch)">
                                       <div class="empty"></div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 search-col-padding">
                                       <button type="submit" class="search-button "
                                          @click.prevent="packageListing(pkgSearch)">{{MainSection.Search_Label}}
                                       </button>
                                    </div>
                                    <div class="clearfix"></div>
                                 </form>
                              </div>
                              <!-- END: packages SEARCH -->
                           </div>
                        </div>
                        <!-- END: TAB PANE -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--End-banner-form-->

      <!-- Holiday-packages -->
      <section class="holidays-main">
         <div class="container-fluid">
            <div class="row">
               <h2>{{MainSection.Holiday_Section_Heading}}</h2>
               <div class="title-patten">
                  <img src="images/title-patten.png" alt="pattern">
               </div>

               <div v-if="packages.length && !visible" id="owl-demo-3" class="owl-carousel owl-theme">
                  <div class="item" v-for="(item,index) in packages" :key="index">
                     <div class="holiday-packages">
                        <div class="holiday-left">
                           <div class="holiday-img">
                              <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"><img
                                    :src="item.Package_Image_166x153px" alt="package-1">
                              </a> </div>
                           <div class="clearfix"></div>
                           <div class="p-price">
                              <h3><span>{{Currency}}</span><br>{{item.Price}}</h3>
                           </div>
                        </div>

                        <div class="holiday-right">
                           <div class="package-detail">
                              <h3><a href="#"
                                    @click.prevent="getmoreinfo(item.More_details_page_link)">{{item.Package_Title}}</a>
                              </h3>
                              <ul class="day-night">
                                 <li><i class="fa fa-sun-o"></i> {{item.Days}} {{MainSection.Days_Label}}</li>
                                 <li><i class="fa  fa-moon-o"></i> {{item.Nights}} {{MainSection.Nights_Label}}</li>
                              </ul>
                              <p v-html="item.Package_Description.slice(0,100)"></p>

                              <div class="book-btn">
                                 <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)">
                                    {{MainSection.Book_now_Button}} <i class="fa  fa-paper-plane-o"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

               </div>

               <div v-else-if="visible">
                  <div class="no-results">
                     <loading :active.sync="visible" :can-cancel="false" :loader="'dots'"></loading>
                  </div>
               </div>
               <div v-else class="no-results">
                  <p>{{MainSection.No_Results_Label}}</p>
               </div>

            </div>
         </div>
      </section>
      <!-- End-Holiday-packages -->


      <!-- Hotels-->
   </div>

   <footer>
      <footeritem> </footeritem>
   </footer>

   <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
   <!-- Main JQUERY -->
   <!-- Bootstrap JQUERY -->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>
   <script src="js/jquery-ui.min.js"></script>
   <script src="js/select2.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script type="text/javascript" src="js/pack.js"></script>
   <script type="text/javascript" src="js/intlTelInput.js"></script>
   <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
   <script src="js/custom.js"></script>
   <script src="js/jquery.min.js"></script> -->


   <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
   <!-- <script src="/assets/js/vuex.min.js?v=201906120000"></script> -->
   <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
   <script src="/assets/js/axios.min.js?v=201906280000"></script>
   <script src="/assets/js/jquery.min.js?v=202008130000"></script>
   <script src="js/bootstrap.min.js"></script>
   <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
   <script src="/assets/js/detect.js?v=20200910000"></script>
   <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
   <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
   <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
   <script src="/assets/js/underscore-min.js?v=201904100000"></script>
   <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
   <script src="/Flights/assets/js/Airlines.js"></script>
   <script src="/assets/js/common.js?v=202008200000"></script>
   <script src="js/hotel-search.js"></script>
   <script src="/assets/js/bootstrap-select.min.js"></script>
   <script src="js/jquery-ui.min.js"></script>
   <script src="js/custom.js"></script>
   <script src="js/select2.min.js"></script>
   <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>

   <!-- <script src="master/js/store.js"></script> -->
   <script src="master/js/index.js?v=20211122000"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script type="text/javascript" src="js/pack.js"></script>
   <script type="text/javascript" src="js/intlTelInput.js"></script>
   <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
</body>

</html>