<!DOCTYPE html>
<html lang="en">

<head>
   <!-- Basic Page Needs -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- Mobile Specific Metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title> Packages</title>
   <link rel="icon" href="website-informations/favicon/favicon.ico" type="icon" />
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- Main Custom CSS -->
   <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.css">
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<style>
  [v-cloak] {
      display: none;
  }
</style>
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
   <header>
      <headeritem> </headeritem>

  </header>

   <!-- banner-->
   <div id="holidays" v-cloak>
      <div class="vld-parent">
         <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
     </div>
      <section class="inner-banner package-banner" :style="{ background: 'url('+BannerSection.Banner_1920x289px+ ')'}">
         <div class="container relative">
            <h1>{{BannerSection.Holiday_Title}}</h1>

            <div class="bradcomes">
               <ul>
                  <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> |
                  <li>{{BannerSection.Holiday_Label}}</li>
               </ul>
            </div>
         </div>

      </section>

      <!-- Offer-Section -->
      <section class="holidays-main holiday-in">
         <div class="container">
         <div  class="raw" v-for="(item,index) in package" :key="index">
            <div class="col-md-6 col-sm-6" v-if="(index%2==0)">
                  <div class="item">
                     <div class="holiday-packages">
                        <div class="holiday-left" >
                           <div class="holiday-img">
                              <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"> <img :src="item.Package_Image_166x153px" alt="package"></a>
                           </div>
                           <div class="clearfix"></div>
                           <div class="p-price">
                              <h3><span>{{Currency}} </span><br>{{item.Price}}</h3>
                           </div>
                        </div>
                        <div class="holiday-right">
                           <div class="package-detail">
                              <h3><a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)">{{item.Package_Title}}</a></h3>
                              <ul class="day-night">
                                 <li><i class="fa fa-sun-o"></i> {{item.Days}} {{Labels.Days_Label}}</li>
                                 <li><i class="fa  fa-moon-o"></i> {{item.Nights}} {{Labels.Night_Label}}</li>
                              </ul>
                              <p v-html="item.Package_Description.slice(0,70)"></p>
                              <div class="book-btn">
                                 <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"> {{Labels.Book_Now_Label}} <i class="fa  fa-paper-plane-o"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-sm-6" v-else>
                  <div class="item">
                     <div class="holiday-packages">
                        <div class="holiday-left">
                           <div class="holiday-img">
                              <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"><img :src="item.Package_Image_166x153px" alt="package-1">
                          
                          </a>    </div>
                           <div class="clearfix"></div>
                           <div class="p-price">
                              <h3><span>{{Currency}}</span><br>{{item.Price}}</h3>
                           </div>
                        </div>

                        <div class="holiday-right">
                           <div class="package-detail">
                              <h3><a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)">{{item.Package_Title}}</a></h3>
                              <ul class="day-night">
                                 <li><i class="fa fa-sun-o"></i> {{item.Days}} {{Labels.Days_Label}}</li>
                                 <li><i class="fa  fa-moon-o"></i> {{item.Nights}} {{Labels.Night_Label}}</li>
                              </ul>
                              <p v-html="item.Package_Description.slice(0,70)"></p>
                              <div class="book-btn">
                                 <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"> {{Labels.Book_Now_Label}} <i
                                       class="fa  fa-paper-plane-o"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </div>
         </div>

         <div class="col-md-12 pagination-in">
            <nav aria-label="Page navigation example">
               <ul class="pagination">
                  <li class="page-item">
                     <a class="page-link" href="#" aria-label="Previous" @click.prevent="prevNextEvent('Previous')">
                        <span aria-hidden="true"><i class="fa  fa-angle-double-left"></i></span>
                        <span class="sr-only">Previous</span>
                     </a>
                  </li>
                  <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectPacakges(ind)" class=""
                  :class="rowindex==currentPages ? 'active' :'' ">
                  <a class="page-link" href="#">{{rowindex}}</a></li>
                  <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li> -->
                  <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"> -->
                     <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" @click.prevent="prevNextEvent('Next')">
                          <span aria-hidden="true"><i class="fa  fa-angle-double-right"></i></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                  </li>
               </ul>
            </nav>
         </div>
   </div>
   </section>
   <!-- End-Offer -->
   </div>
   <footer>
      <footeritem> </footeritem>
   </footer>
   <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
   <!-- Main JQUERY -->
   <!-- Bootstrap JQUERY -->
  <script src="/assets/js/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
   <script src="/assets/js/bootstrap-select.min.js"></script>
   <script src="js/jquery-ui.min.js"></script>
   <script src="js/select2.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
   <script type="text/javascript" src="js/pack.js"></script>
   <script src="/assets/js/axios.min.js?v=201906280000"></script>
   <script type="text/javascript" src="js/intlTelInput.js"></script>
   <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
   <script src="js/custom.js"></script>
   <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
   <script src="/assets/js/detect.js?v=20200910000"></script>
   <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
   <script src="/assets/js/common.js?v=202008200000"></script>
   <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
   <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
   <script src="/assets/js/select2.min.js?v=201905150000"></script>
    <script src="serviceJS/package.js"></script>
   <script>
      /*--------Banner-Slider---------*/
      $(document).ready(function () {

         $("#owl-demo-1").owlCarousel({
            autoplay: true,
            autoPlay: 8000,
            autoplayHoverPause: true,
            stopOnHover: false,
            items: 1,
            margin: 10,
            lazyLoad: true,
            navigation: true,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [979, 1],
            itemsTablet: [768, 1],
         });

         $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
         $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
      });

   </script>


</body>

</html>