<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Terms And Conditions</title>
    <link rel="icon" href="website-informations/favicon/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.css">

    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>

    <!-- <div id="preloader"></div> -->
    <!--Header -->

    <header>
        <headeritem> </headeritem>

    </header>
    <div id="terms" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>
        <section class="inner-banner about-banner" :style="{ background: 'url(' + banner.Banner_Image_1920x250px+ ')'}">
            <div class="container relative">
                <h1>{{banner.Terms_and_condition_Label}}</h1>

                <div class="bradcomes">
                    <ul>
                        <li><a href="index.html">{{banner.Home_Label}}</a></li> /
                        <li>{{banner.Terms_and_condition_Label}}</li>
                    </ul>
                </div>
            </div>

        </section>

        <div class="about-in">
            <div class="container">

                <div class="about-text">
                    <h2>{{termsArea.Heading1}}</h2>
                    <img src="images/title-patten.png" alt="pattern">
                    <p v-html="termsArea.Terms_And_Condition"> </p>
                </div>


            </div>
        </div>
    </div>




    <footer>
        <footeritem> </footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script type="text/javascript" src="js/pack.js"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="js/intlTelInput.js"></script>
    <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script>

    <script src="serviceJS/termsandconditions.js"></script>
    <script>
        /*--------Banner-Slider---------*/
        $(document).ready(function() {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script>




</body>

</html>