/*Header and Footer CSS Start*/
 /* @media(max-width:1200px) {
.email-top {
	padding: 11px 9px;
}
.header-right .sign-r {
	padding: 11px 6px;
}
.navbar-nav>li>a {
	padding: 10px 12px;
}
.model-text h3 {
	font-size: 22px;
	line-height: 30px;
}
.modal.fade .modal-dialog {
	width: 80%;
}
}
@media(max-width:991px) {
.header-right .sign-r {
	padding: 11px 15px;
}
header {
	position: relative;
}
.navbar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	clear: both;
	margin: 0 15px;
}
.header-right {
	float: left;
}
.navbar-nav>li>a {
	padding: 7px 17px;
	border-right: none;
}
.navbar-right {
	margin-right: 0;
}
.navbar-header {
	float: none;
}
.navbar-left,  .navbar-right {
	float: none !important;
}
.navbar-toggle {
	display: block;
}
.navbar-collapse {
}
.navbar-collapse.collapse {
	display: none!important;
}
.navbar-nav {
	float: none!important;
	background: #e17db0;
	float: left !important;
	position: absolute;
	top: 46px;
	left: 0;
	right: 0;
	z-index: 9999;
}
.navbar-nav>li {
	float: none;
	border-bottom: 1px solid #fff;
}
.navbar-default .navbar-nav>.active>a:hover {
	background: #832253;
}
.navbar-default .navbar-nav>.active>a,  .navbar-default .navbar-nav>li>a:focus,  .navbar-default .navbar-nav>li>a:hover {
	background: #832253;
	color: #ffff !important;
}
.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	color: #fff !important;
}
.collapse.in {
	display: block !important;
	border: none;
}
.menu_nav .navbar-toggle {
	background: #fff;
	margin: 0;
	border-radius: 5px;
	height: 36px;
	width: 50px;
	text-align: center;
	padding: 9px 13px;
	position: absolute;
	right: 0;
	top: 3px;
}
.navbar-toggle .icon-bar {
	height: 4px;
}
.navbar-default .navbar-toggle:focus,  .navbar-default .navbar-toggle:hover {
	background: #e6e6e6;
	color: #fff;
}
.lang {
	float: left;
}
.lang .dropdown, .dropup {
    position: absolute;
}
.logo {
	margin-bottom: 0;
}
.customer-service {
	margin: 28px 0;
}
.news-event .item .date {
	width: 10%;
}
.modal.fade .modal-dialog {
	width: 90%;
	margin-top: 110px;
}
.phone-email .last-number {
	padding-left: 40px;
}
}
@media(max-width:767px) {
.navbar-nav>li>a {
	font-size: 16px;
}
.logo {
	text-align: left;
}
.navbar-nav {
	margin:0;
	top: 45px !important;
}
.navbar-default .navbar-collapse,  .navbar-default .navbar-form {
	border: none;
}
.navbar {
    position: absolute;
    top: 0;
    right: -62px;
    left: 0;
    clear: both;
    margin: 0 15px;
}
.lang {
    float: left;
    position: absolute;
    left: -109px;
}
.lang .dropdown, .dropup {
    position: absolute;
}
.lang .dropdown-menu {
    top: 0;
}
.lang .dropdown a {
    padding: 13px 9px 13px 0 !important;
    text-align: center;
    width: 70px;
	font-size: 13px !important;
}
.email-top {
	display: none;
}
.navbar-collapse {
	padding: 0 !important;
}
.reserved {
	float: none;
	text-align: center;
}
.Powered {
	float: none;
	text-align: center;
}
.menu_nav {
	min-height: auto;
	margin-top: 0;
	padding: 0;
}
.our-partner {
	padding: 30px 0;
}
.our-partner h2 {
	padding-bottom: 25px;
}
.bg-pattern {
	padding: 40px 0;
}
footer {
	padding: 30px 0 15px 0;
}
.footer-logo p {
	margin-bottom: 15px;
}
.phone-email {
	margin-bottom: 15px;
}
.footer-contact ul {
	margin: 20px 0;
}
.all-reserved {
	margin-top: 10px;
}
.model-text {
	display: none;
}
.model-form {
	width: 100%;
	float: none;
}
.modal.fade .modal-dialog {
	width: 70%;
	transform: translate(20%, 0px)
}
.model-form input[type="submit"] {
	margin-top: 13px;
}
.phone-email .last-number {
	padding-left: 0px;
}
}

@media(max-width:650px) {
.model-form ul li {
	width: 100%;
	float: none!important;
	clear: both;
}
.model-form input[type="checkbox"] {
	margin-bottom: 0;
}
}
@media(max-width:500px) {

.header-right .sign-r {
	padding: 11px 12px;
	font-size: 12px;
}
.customer-icon {
	display: none;
}
.modal.fade .modal-dialog {
	width: 80%;
	transform: translate(10%, 0px);
}
.name-se {
	width: 100%!important;
	float: none!important;
}
.model-form select {
	width: 100%!important;
}
.cr-ac, .forgot-pass {
	font-size: 14px;
}
}
@media(max-width:450px) {
.customer-service {
	margin: 10px 0;
}
.offer-text p,  .offer-text a {
	float: none;
	display: block;
	text-align: center;
}
.customer-service .customer-text P {
	overflow: visible;
	display: block;
}
.search-section .nav-tabs2 li a {
    font-size: 12px;
}
.search-section .nav-tabs2 li a::before {
    top: -2px;
}
}
@media(max-width:330px) {
.header-right .sign-r {
	padding: 11px 7px;
}
.header-right .sign-r i {
    margin-right: 1px;
}
} */
/*Header and Footer CSS End*/







/* @media(max-width:1200px) {
.offer-text {
	padding: 20px 10px;
}
} */
/*=========END-1200px==========*/

@media(max-width:991px) {
.booking-form {
	margin-top: 0;
}
.news-event .item .date {
	width: 10%;
}
.flex-box {
	display: block;
}
.about-info {
	margin-bottom: 30px;
}
.our-mission-in {
	padding-bottom: 30px;
}
.inner-banner h1 {
	font-size: 40px;
	padding: 60px 0 40px 0;
}
.offer-text {
	padding: 20px;
}
.right-div {
	margin-top: 30px;
}
.news-event .item p, .about-in-text p {
	overflow: visible;
	-webkit-line-clamp: inherit;
}
}

/*=========END-991px==========*/

@media(max-width:767px) {
.booking-form {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}
.search-section .search-col-padding {
	padding: 6px 0;
	clear: both;
}
.all-search-box {
	padding-bottom: 20px;
}
.search-section label {
	font-size: 12px;
}
.ui-datepicker-trigger {
	right: 5px;
}
.search-section .plane-icon {
	right: 0px;
}
.search-button {
	margin-top: 10px;
}
.section-svg-inverse svg {
	display: none !important;
	overflow: hidden !important;
 height: 0 !imporatnt;
 width: 0 !imporatnt;
 left: 0 !imporatnt;
	-webkit-transform: none;
	transform: none;
}
.change-destination {
	position: absolute;
	right: 0;
	top: 84px;
	z-index: 999;
	left: 0;
	text-align: center;
}
.news-event {
	padding: 30px 20px;
}
.pd-t {
	padding: 20px;
}
.about-text {
	margin-top: 15px;
}

.our-mission-in {
	padding-bottom: 0px;
}
.about-in {
	margin: 30px 0;
}
.inner-banner h1 {
	font-size: 30px;
}
.contact-in .row {
	display: block;
}
.contact-dtl {
	margin-bottom: 30px;
}
.contact-in {
	padding: 30px 0 0 0;
}
.contact-info h3 {
	font-size: 34px;
	line-height: 35px;
}
.contact-info form,  .contact-info iframe {
	margin-top: 30px;
}
.contact-info {
	margin-bottom: 30px;
}
.contact-info iframe {
	height: 400px;
}
.promotions {
	padding: 0 0 30px 0;
}
.terms-condition {
	padding: 10px 0 30px 0;
}
#news-event-detail {
	padding: 30px 0;
}
.comment-div .user {
	float: none;
	width: 100%;
}
.comment-div .comment-block {
	float: none;
	width: 100%;
	overflow: hidden;
}
.right-div .right-main .categories h5,  .right-div .right-main .recent h5 {
	font-size: 20px;
}
.comment-main h4,  .comment-post h4 {
	font-size: 20px;
}
.hotel-icon {
	margin-top: 10px;
}
.about-text p, .offer-text h4, .event-text p, .event-text h4 {
	overflow: visible;
	-webkit-line-clamp: inherit;
}
.event-main {
	padding: 30px 0;
}
}

/*=========END-767px==========*/

@media(max-width:500px) {
.search-section .nav>li>a {
	font-size: 16px;
}
.search-section .nav>li>a {
	padding: 25px;
}
.nav-tabs2 {
	padding-left: 6px;
}
.checkbox-inline+.checkbox-inline,  .radio-inline+.radio-inline {
	margin-left: 0;
}
.booking-tab {
	padding: 0;
}
.nav-tabs>li {
	float: none;
}
.news-event .item .date {
	width: 20%;
}
.about-text h2 {
	font-size: 26px;
	line-height: 26px;
}
.about-text span {
	font-size: 17px;
}
.contact-info h3 {
	font-size: 26px;
	line-height: 32px;
}
}

@media(max-width:360px) {
.news-event .item .date {
	float: none;
	width: auto;
	display: inline-block;
}
.news-event .item h4 {
	width: 100%;
	float: none;
	padding-left: 0;
	padding: 15px 0;
}
}