/* Import All CSS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
html {
	-webkit-text-size-adjust: none;
}
* {
	outline: none;
}
input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

::-moz-selection {
 background: #404041;
 color: #fff;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], select, textarea {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
}
textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus {
	border-color: #842452;
	box-shadow: none;
}
.btn a, input[type="submit"] {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 20px;
	background-color: #832253;
	color: #fff;
	padding: 10px 36px;
	border-radius: 0px;
	vertical-align: middle;
	border: 1px solid #842452;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.btn a:hover, input[type="submit"]:hover {
	background-color: transparent;
	color: #842452;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.section {
	padding: 50px 0;
	overflow: hidden;
}
p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
}
h1, h2, h3, h4 {
	margin-top: 0;
	color: #404041;
}
h1 {
	font-size: 60px;
	line-height: 80px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
h2 {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #842452;
	line-height: 44px;
	font-family: 'Roboto', sans-serif;
}
h3 {
	font-size: 30px;
	font-weight: 700;
	color: #842452;
	padding: 10px 0;
	line-height: 36px;
	font-family: 'Roboto', sans-serif;
}
h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 10px 0;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0;
	color: #842452;
}
h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}
 @media(max-width:991px) {
h1 {
	font-size: 40px;
	line-height: 45px;
}
h2 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 10px;
}
}
 @media(max-width:767px) {
h1 {
	font-size: 30px;
	line-height: 35px;
}
h2 {
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 0px;
}
h3 {
	font-size: 24px;
	line-height: 40px;
	padding: 10px 0;
}
}
a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
.navigation_mobile_click, .navigation_mobile_click:before, .go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: #404040;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/*=======Start-homepage-css=========*/




/*Header and Footer CSS Start*/

.top-nav {
	background: #a63b71;
	border-bottom: 5px solid #832253;
}
.header_logo {
	position: relative;
}
.logo {
	z-index: 999;
	position: relative;
	margin-bottom: -55px;
	margin-top: 10px;
}
.customer-service {
	border: 1px solid #d9d9d9;
	display: inline-block;
	margin: 10px 0;
	padding: 10px;
}
.customer-service .customer-text {
	display: inline-block;
	vertical-align: middle
}
.customer-service .customer-text h4 {
	text-transform: capitalize;
	padding: 0;
	color: #101010;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}
.customer-service .customer-text h4 a {
	font-size: 20px;
	color: #a63b71;
	line-height: 23px;
}
.customer-service .customer-text h4 a:hover {
	color: #d66da2;
}
.customer-service .customer-text P {
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	color: #101010;
	line-height: 16px;
	max-width: 28ch;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.customer-icon {
	display: inline-block;
	margin-left: 20px;
}
.customer-icon img {
	border: 6px solid #d66da2;
	border-radius: 50%;
}
/*===End-Header=====*/


/*=====Navigation=====*/

.menu_nav {
	margin: 0;
	min-height: 0;
	background-color: transparent !important;
}
.navbar {
	border-radius: 0px;
	margin-bottom: 0;
	text-align: right;
}
.nav.navbar-nav {
	float: left!important;
}
.navbar-default {
	background: #fff;
	border: none;
}
.navbar-nav>li>a {
	padding: 10px 25px;
	background-color: transparent;
	border-radius: 3px;
	text-transform: capitalize;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #000;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background: transparent;
	color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
	color: #fff;
	border-radius: 0;
}
#bs-example-navbar-collapse-1 {
	padding: 0;
}
.dropdown-menu {
	left: -44px;
	top: 44px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #a63b71;
}
.dropdown-menu {
	padding: 0;
	top: 41px;
}
.dropdown-menu>li>a {
	background: #ed2c2e;
	color: #fff;
	padding: 7px 30px;
}
 @media(max-width:767px) {
.dropdown-menu {
	left: 0;
	float: none;
	position: relative;
	top: 0;
}
.dropdown-menu::after {
	display: none;
}
.navbar-default .navbar-toggle:focus,  .navbar-default .navbar-toggle:hover {
	background: #024281;
}
}
/*=====End - Navigation======*/

/* .header-right {
	float: right;
}
.header-right .sign-r {
	display: inline-block;
	padding: 11px 20px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 400;
	border: none;
	border-radius: 0;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
}
.header-right .sign-r i {
	margin-right: 5px;
}
.header-right .sign-r:hover {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=1);
	color: #fff;
}
.email-top {
	font-size: 16px;
	padding: 11px 20px;
	color: #fff;
	background: #832253;
	float: left;
	line-height: 18px;
	font-weight: 500;
}
.email-top i {
	margin-right: 5px;
}
.email-top:hover {
	background: #e17db0;
	color: #832253;
} */
.lang {
	float: right;
	padding: 0 0;
	z-index: 5;
	margin: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.lang:hover {
	color: #000;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	min-width: auto;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: 0px;
	left: 0px;
	top: 43px;
	padding: 0;
	background: #fff !important;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	border:none !important;
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff !important;
	border-bottom: 1px solid #e17db0 !important;
}
.lang .dropdown-menu li:last-child {
	border-bottom: none !important;
}
.lang .dropdown-menu li a {
	padding: 5px 12px !important;
	color: #fff !important;
	font-size: 14px !important;
	border:none;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #832253 !important;
	text-decoration: none !important;
	background-color: #efefef !important;
}
.lang .dropdown {
    padding: 0px;
}
.lang .dropdown a {
    background: #832253;
    color: #fff !important;
    text-decoration: none;
    font-size: 17px !important;
    padding: 10px 24px 10px 16px !important;
    font-weight: 500 !important;
    border-bottom: none;
    display: block;
}

/*==============our-partner===========*/

.our-partner {
	padding: 40px 0;
	background: #f5f5f5;
	margin-top: 30px;
}
.our-partner h2 {
	text-align: left;
	font-size: 26px;
	text-transform: capitalize;
	color: #832253;
	padding: 0 0 40px 30px;
}
.our-partner .owl-carousel {
	background: #fff;
	padding: 30px 60px;
	position: relative;
}
.partner-logo .owl-item img {
	width: auto;
	display: inline-block;
	border-radius: 0;
	width: 100%;
	padding: 7px 15px;
	border: 2px solid #efefef;
	margin: 2px 0;
}
.partner-logo .owl-item .item {
	text-align: center;
	border-radius: 0;
	padding: 0 10px;
}
.partner-logo .owl-buttons {
	display: block;
}
.partner-logo .owl-buttons div {
	position: absolute;
	top: 40%;
	background: #ba5086!important;
	color: #fff!important;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	font-size: 24px !important;
	text-align: center;
	margin: 0 auto !important;
}
.partner-logo .owl-buttons .owl-prev {
	left: 15px;
}
.partner-logo .owl-buttons .owl-next {
	right: 15px;
}
.partner-logo .owl-pagination {
	display: none;
}
/*==========Footer===========*/

footer {
	background: url(../images/footer-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 60px 0 15px 0;
}
.footer-logo p {
	position: relative;
	padding-left: 40px;
	color: #000000;
	font-size: 15px;
	font-weight: 500;
	padding-top: 0;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.footer-logo p i {
	position: absolute;
	top: 3px;
	left: 0;
	height: 33px;
	width: 33px;
	border: 1px solid #832253;
	border-radius: 50%;
	text-align: center;
	color: #832253;
	line-height: 33px;
	font-size: 20px;
}
.phone-email {
	margin-bottom: 30px;
}
.phone-email h5 {
	color: #832253;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}
.phone-email a {
	position: relative;
	padding-left: 40px;
	display: inline-block;
	color: #221c1c;
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
}
.phone-email .last-number {
	padding-left: 0;
}
.phone-email a:hover {
	color: #832253;
}
.phone-email a i {
	position: absolute;
	top: 0px;
	left: 0;
	height: 33px;
	width: 33px;
	border: 1px solid #832253;
	border-radius: 50%;
	text-align: center;
	color: #832253;
	line-height: 30px;
	font-size: 17px;
}
.footer-contact ul li {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}
.footer-contact ul li a {
	height: 33px;
	width: 33px;
	border-radius: 50%;
	border: 1px solid #832253;
	font-size: 18px;
	color: #832253;
	display: block;
	text-align: center;
	line-height: 32px;
}
.footer-contact ul li a:hover {
	background: #832253;
	color: #fff;
}
.quick-link h4 {
	color: #832253;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}
.quick-link ul li {
	display: block;
	padding-bottom: 18px;
}
.quick-link ul li a {
	color: #000000;
	font-size: 15px;
	font-weight: 500;
}
.quick-link ul li a:hover {
	color: #832253;
}
.all-reserved {
	padding: 10px 0;
	margin-top: 30px;
	border-top: 1px solid #ad8a9a;
}
.reserved {
	float: left;
}
.reserved p {
	color: #000;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0;
}
.Powered {
	float: right;
}
.Powered p {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 13px;
	font-weight: 500;
}
.Powered a {
	display: inline-block;
}
.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 5px;
	background-color: #832253;
	border: 1px solid #832253;
}
.scrollToTop:hover, .scrollToTop:focus {
	background: #ba5086;
	color: #fff;
	border-color: #ba5086;
}

/*Header and Footer CSS End*/


/*========banner=======*/

.banner_main {
	position: relative;
	background: url(../images/banner.jpg) no-repeat;
	background-size: cover;
}
.banner_text .owl-controls .owl-buttons div {
	background: #fff;
	color: #333333 !important;
	opacity: 1;
	border-radius: 0;
	height: 40px;
	width: 36px;
	font-size: 22px;
	line-height: 36px;
}
.banner_text .owl-buttons .owl-prev {
	float: left;
	margin: 0 !important;
}
.banner_text .owl-buttons .owl-next {
	float: right;
	margin: 0 !important;
}
.owl-theme .owl-controls .owl-buttons div:hover {
	background: #842452;
	color: #fff !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
/*================Booking-Form-Css================*/

.booking-form {
	margin-top: -113px;
	background: #ba5086;
}
.search-section {
	position: relative;
	overflow: hidden;
}
.all-search-box {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
}
.booking-tab {
	padding-left: 0;
	background: #e17db0;
}
.search-section .nav-tabs {
	border-bottom: none;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs>li>a {
	color: #6a173f !important;
	background-color: transparent;
	font-weight: 400;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
	vertical-align: middle;
}
.search-section .nav>li>a {
	padding: 45px 35px;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	display: block;
}
.search-section .nav-tabs>li {
	margin-bottom: 0px;
	float: left;
}
.search-section .nav-tabs>li i {
	font-size: 18px;
	padding-right: 5px;
}
.search-section .nav-tabs>li>a:hover {
	background: #ba5086;
	color: #6a173f !important;
}
.search-section .nav-tabs>li.active>a, .search-section .nav-tabs>li.active>a:focus, .search-section .nav-tabs>li.active>a:hover {
	border: none;
	background: #ba5086;
	color: #fff !important;
}
.search-section .tab-content {
	color: #07253f;
}
.search-col-padding .input-group {
	display: block;
}
.search-section label {
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	color: #fff;
	line-height: 16px;
	font-family: "Roboto", sans-serif;
}
.search-section .form-control {
	background-color: #fff;
	;
	border-radius: 0px !important;
	color: #4d4d4d;
	display: block;
	font-size: 15px;
	font-weight: 400;
	height: 43px;
	line-height: 1.42857;
	padding: 6px;
	width: 100%;
	z-index: 1;
	margin: 0;
	position: relative;
	border: none;
}
.search-section .plane-icon {
	position: absolute;
	right: 22px;
	top: 40px;
	font-size: 18px;
	color: #a3a3a3;
	padding: 5px 12px;
	z-index: 1;/*z-index: 2;*/
}
.change-destination {
	position: absolute;
	right: -19px;
	top: 42px;
	z-index: 2;
}
.plane-icon svg {
	width: 26px;
	fill: #ababab;
}
.map-marker {
	top: 33px!important;
	right: 6px !important;
}
.map-marker i {
	font-size: 23px;
}
.hotel-icon span {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-left: 10px;
}
.hotel-icon {
	margin-top: 15px;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
.hotel-icon i {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
}
 .search-section .form-control::-moz-placeholder, .search-section .calendar::-moz-placeholder {
 color: #4d4d4d;
 opacity: 1;
 font-size: 14px;
 font-weight: 400;
}
 .search-section .form-control:-ms-input-placeholder {
 color: #4d4d4d;
}
 .search-section .form-control::-webkit-input-placeholder {
 color: #4d4d4d;
}
 .search-section .form-control::-o-input-placeholder {
 color: #4d4d4d;
}
.search-section .input-group-addon {
	background: transparent;
	color: #4d4d4d;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}
.search-section .search-col-padding {
	padding: 6px 15px;
}
.search-section option {
	color: #07253F;
}
.calendar {
	background: #fff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 6px !important;
	font-size: 15px !important;
	color: #4d4d4d !important;
	height: 43px;
	font-weight: 400!important;
	border: none;
}
.search-section .form-control:focus {
	z-index: 0!important;
}
.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.7);
	z-index: 3 !important;
}
.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #832253;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}
.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}
.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}
.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	border-color: #000;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #832253;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.ui-state-default {
	display: block;
	text-decoration: none;
	color: #832253;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}
.ui-state-default:hover {
	background: #e17db0;
	color: #6a173f;
}
.ui-state-highlight {
	color: #fff;
	background: #832253;
}
.ui-state-active {
	background: #f1a3cb none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #f1a3cb;
	border: 2px solid transparent;
}
.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #ababab;
	font-size: 18px;
	padding: 5px 10px;
	position: absolute;
	right: 20px;
	bottom: 12px;
}
.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn:hover {
	color: #ed2c2e;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search-button::before {
	background: #000 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0 0;
	-moz-transform-origin: 50% 0 0;
	-o-transform-origin: 50% 0 0;
	transform-origin: 50% 0 0;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-property: transform;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	z-index: -1;
	border-radius: 20px;
}
.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	height: 50px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	padding: 5px;
	border: none;
	text-transform: uppercase;
	width: 100%;
	border-radius: 0;
	margin-top: 20px;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
}
.search-button i {
	font-size: 20px;
	display: inline-block;
	margin-right: 5px;
}
.search-col-padding input[type="radio"] {
	margin-top: 2px;
}
.search-col-padding .active {
	color: #fff;
}
.trip-button {
	margin-top: 10px !important;
}
/*.search-button:hover::before,
.search-button:focus::before,
.search-button:active::before {
    -moz-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}*/

.search-button:hover, .search-button:focus, .search-button:active {
	color: #fff;
	text-decoration: none;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=1);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}
/*-----Select Box CSS-----*/

.bootstrap-select {
	width: 220px;
}
.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}
.bootstrap-select.fit-width {
	width: auto!important
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}
.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}
.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}
.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}
.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}
.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}
.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}
.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
	padding: 4px 8px
}
.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-actionsbox .btn-group button {
	width: 50%
}
.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-donebutton .btn-group button {
	width: 100%
}
.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}
.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}
select.bs-select-hidden, select.selectpicker {
	display: none!important
}
select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}
#flight form .input-group {
	display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #333333 !important;
	/*   text color */
	line-height: 43px;
	background-color: #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
	height: 43px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 43px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 40px;
	text-align: center;
	line-height: 34px;
}
.select2-container--default .select2-selection--single {
	background-color: transparent;
	/*     input background color */
	border-radius: 0px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #e17db0;
	/*   option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #e17db0;/*   option hover background */
}
.select2-container--default .select2-results>.select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 0;
	color: #ababab;
	padding: 13px 10px;
	font-size: 18px;
	font-weight: 700
}
.adult-select {
	background: #fff url(../images/newsletter-icon.png);
	background-position: center left;
}
.select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}
.select2-dropdown {
	border-color: #6e8095;
}
.tab-pane h3 {
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 0;
	padding-left: 15px;
	color: #fff;
}
.select-label {
	font-size: 14px !important;
	font-weight: 500 !important;
	text-transform: uppercase;
	padding-bottom: 10px;
}
/*===========end-form-search-flight================================*/

.nav-tabs2 {
	padding-left: 20px;
	margin-bottom: 15px;
	overflow: hidden;
}
.search-section .nav-tabs2>li {
	margin: 0px 10px 0;
}
.search-section .nav-tabs2 li a {
	padding: 0 6px;
	color: #ffc2e1;
	background-color: transparent !important;
	font-weight: 500;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
	font-size: 15px;
	text-decoration: none;
	position: relative;
	text-transform: none;
}
.search-section .nav-tabs2>li.active>a, .search-section .nav-tabs2>li.active>a:focus, .search-section .nav-tabs2>li.active>a:hover {
	border: none;
	background: transparent !important;
	color: #fff !important;
}
.search-section .nav-tabs2>li.active>a::before, .search-section .nav-tabs2>li.active>a:focus::before, .search-section .nav-tabs2>li.active>a:hover::before {
	border: 2px solid #fff;
	background: #e17db0;
}
.search-section .nav-tabs2 li a::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	margin-left: -15px;
	border: 2px solid #ffc2e1;
	border-radius: 50%;
	top: 2px;
	background-color: transparent;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.close-btn {
	display: inline-block;
	margin: 0 15px;
}
.close-btn a {
	font-size: 20px;
	color: #e17db0;
}
.close-btn a:hover {
	color: #832253;
}
.add-btn {
	background: #e17db0;
	color: #6a173f;
	padding: 10px 15px;
	display: inline-block;
	margin-top: 31px;
	margin-bottom: 0px;
}
.add-btn:hover {
	background: #6a173f;
	color: #fff;
}
.pad-top {
	padding-top: 10px!important;
}
.multi-search {
	border-radius: 5px;
}
/*About-css-start*/

.bg-pattern {
	background: url(../images/bg-pattern.jpg) no-repeat;
	width: 100%;
	background-size: cover;
	padding: 60px 0;
}
.about-event {
	background: #fff;
	overflow: hidden;
	margin: 0 15px;
}
.pd-t {
	padding: 45px 20px;
}
.about-img img {
	width: 100%;
}
.about-text {
	text-align: left;
}
.about-text span {
	font-size: 20px;
	color: #333333;
	font-weight: 500;
}
.about-text h2 {
	font-size: 35px;
	font-weight: 900;
	color: #832253;
	text-align: left;
	text-transform: capitalize;
	line-height: 35px;
	margin-bottom: 20px;
}
.about-text p {
	font-weight: 400;
	color: #333333;
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	padding: 0;
	margin: 10px 0;
}
.about-in-text p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 11;
	-webkit-box-orient: vertical;
	padding: 0;
	margin: 10px 0;
}
.about-text .btn {
	margin-top: 15px;
	padding: 0;
}
.about-text .btn a, .news-event .btn a {
	padding: 0;
	color: #832253;
	background-color: transparent;
	border: none;
	font-size: 15px;
	font-weight: 500;
	text-transform: capitalize;
}
.about-text .btn a i, .news-event .btn a i {
	height: 30px;
	width: 30px;
	text-align: center;
	border: 1px solid #ababab;
	line-height: 30px;
	margin-left: 5px;
	border-radius: 50%;
	color: #ae6f8f;
}
.about-text .btn a:hover, .news-event .btn a:hover {
	color: #ae6f8f;
}
.about-text .btn a:hover i, .news-event .btn a:hover i {
	background: #ae6f8f;
	color: #832253;
	border-color: #ae6f8f;
}
/*======================News-Event===============*/

.news-event {
	background: #f5f5f5;
	padding: 50px 25px;
}
.bg-pattern .pa-0 {
	padding: 0;
}
.news-event h3 {
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	padding-top: 0;
	padding-bottom: 20px;
}
.news-event h3 i {
	color: #a63b71;
}
.news-event .item {
	overflow: hidden;
	margin: 0!important;
}
.news-event .item .date {
	color: #fff;
	float: left;
	width: 20%;
	padding: 10px;
	font-size: 24px;
	font-weight: 700;
	padding: 5px 17px;
	line-height: 24px;
	text-align: center;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
}
.news-event .item .date span {
	font-size: 18px;
	padding: 0;
}
.news-event .item h4 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	text-transform: capitalize;
	padding-left: 15px;
	padding-top: 0;
	float: left;
	width: 80%;
	color: #333333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.news-event .item p {
	font-weight: 400;
	text-align: left;
	color: #333333;
	display: block;
	clear: both;
	padding: 15px 0;
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	padding-bottom: 0;
	margin-bottom: 10px;
}
.news-event .btn {
	text-align: left;
	display: block;
	padding: 0;
}
.news-event .owl-buttons {
	display: none;
}
.news-event .owl-pagination {
	display: block;
	margin-top: 43px;
}
.owl-theme .owl-controls .owl-page span {
	background: #cdc9c9;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #ba5086;
}
.owl-theme .owl-controls .owl-page span {
	margin: 5px 4px;
}

/*=================Home-Page-End-Css========================*/


/*========================About-Us===========================*/

.inner-banner {
	background: url(../images/inner-banner.jpg) no-repeat;
	background-size: cover;
}
.inner-banner h1 {
	text-align: center;
	padding: 70px 0 40px 0;
	color: #fff;
	font-size: 50px;
}
.bradcomes {
	background-color: rgba(39, 39, 39, 0.5);
	text-align: center;
}
.bradcomes ul {
	color: #fff;
}
.bradcomes ul li {
	display: inline-block;
	padding: 10px;
	color: #fff;
	font-size: 16px;
}
.bradcomes ul li a {
	color: #fff;
}
.bradcomes ul li a:hover {
	color: #ffa2d1;
}
.about-in {
	margin: 60px 0;
}
.our-mission-in {
	padding: 0 0 60px 0;
}
.flex-box {
	display: flex;
}
.about-info {
	text-align: center;
	padding: 30px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.33);
}
.vi-mi-icon {
	background: #a63b71;
	border-radius: 50%;
	height: 92px;
	width: 92px;
	text-align: center;
	margin: 0 auto;
}
.about-info svg {
	fill: #fff;
	margin-top: 16px;
	width: 60px;
	text-align: center;
}
.about-info h4 {
	font-size: 28px;
	color: #1c1c1c;
	padding-bottom: 0;
	font-weight: 600;
	letter-spacing: 0;
	padding: 20px 0;
	text-transform: capitalize;
}
.about-info p {
	font-size: 16px;
	color: #7f7f7f;
	font-weight: 400;
	line-height: 26px;
	text-align: justify;
}
.partner-in {
	margin-top: 0;
}
/*===================Contact-Us=================*/

.contact-in {
	padding: 60px 0;
}
.contact-in .row {
	display: flex;
}
.contact-dtl {
	text-align: center;
	padding: 30px;
	height: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
}
.contact-dtl i {
	height: 74px;
	width: 74px;
	text-align: center;
	font-size: 30px;
	border: 1px solid #a63b71;
	border-radius: 50%;
	color: #a63b71;
	line-height: 72px;
}
.contact-dtl h4 {
	font-size: 26px;
	font-weight: 700;
	color: #a63b71;
	text-transform: capitalize;
	padding: 15px 0;
}
.contact-dtl p, .contact-dtl a {
	font-size: 16px;
	color: #231f20;
	font-weight: 400;
	line-height: 22px;
	padding: 0;
	display: block;
}
.contact-dtl:hover {
	background: #a63b71;
	box-shadow: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-dtl:hover i {
	background: #fff;
	border-color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-dtl:hover h4, .contact-dtl:hover p, .contact-dtl:hover a {
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-info {
	margin-bottom: 60px;
}
.contact-info h3 {
	text-align: center;
	font-size: 44px;
	color: #a63b71;
	line-height: 46px;
	padding: 0;
}
.contact-info p {
	text-align: center;
	color: #231f20;
	font-size: 17px;
	font-weight: 400;
}
.contact-info form {
	padding: 30px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
}
.contact-info form .form-control {
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	height: 56px;
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
	color: #757575;
	font-size: 17px;
	padding: 0 20px;
}
.contact-info form textarea {
	height: auto !important;
	color: #757575!important;
	padding: 20px!important;
}
 textarea ::placeholder {
 color: #757575!important;
}
.contact-info form input[type="submit"] {
	text-align: center;
	display: block;
	margin: 0 auto;
	background: #a63b71;
	border: none;
	font-size: 17px;
	font-weight: 500;
	height: 45px;
}
.contact-info form input[type="submit"]:hover {
	background: #832253;
	color: #fff;
}
.contact-info form, .contact-info iframe {
	margin-top: 60px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
}
/*================Promotions=====================*/

.promotions {
	padding: 30px 0 60px 0;
	overflow: hidden;
}
.offer {
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	margin-top: 30px;
}
.offer img {
	width: 100%;
	border-radius: 5px;
}
.offer-text {
	padding: 20px;
	overflow: hidden;
}
.offer-text h4 {
	text-transform: lowercase;
	color: #1a1a1a;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.offer-text p {
	font-size: 13px;
	color: #656565;
	text-align: center;
	padding: 15px 0 0;
	font-weight: 400;
	line-height: 20px;
}
/*============Terms & Condition==============*/

.terms-condition {
	padding: 40px 0 60px 0;
}
.terms-condition h4 {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 700;
	color: #842452;
	padding: 20px 0 10px 0;
}
.terms-condition p, .terms-condition ul li {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
	color: #101010;
	line-height: 26px;
	text-align: justify;
}
.terms-condition ul {
	padding-left: 20px;
}
.terms-condition ul li {
	padding: 5px 0;
	list-style: decimal;
}
/*=======================News-Deatil========================*/


/* News & Events Detail Page CSS BOF
=================================================== */

#news-event-detail {
	display: block;
	padding: 60px 0;
	background: #f2f2f2;
}
/*Left Section CSS*/

#news-event-detail .detail-content {
	width: 100%;
	margin: 0px auto 0;
}
#news-event-detail .detail-content img {
	display: block;
	position: relative;
}
#news-event-detail .detail-content .grey2 {
	width: 100%;
	display: block;
	padding: 5px 0;
	float: left;
}
.img-responsive {
	width: 100%;
}
#news-event-detail .detail-content h3 {
	color: #231f20;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 0;
	padding: 0 0 10px 0;
	float: left;
	line-height: 30px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
}
#news-event-detail .detail-content .grey2 .date {
	color: #222931;
	font-size: 16px;
	font-weight: 400;
	float: left;
	text-transform: capitalize;
	padding-top: 3px;
	margin-right: 15px;
}
#news-event-detail .detail-content .grey2 .date i {
	color: #a63b71;
	font-size: 16px;
	padding-right: 5px;
}
.detail-content p {
	text-align: left;
	padding-top: 15px;
	float: left;
	color: #323232;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0;
	font-weight: 400;
	text-align: justify;
}
.comment-main {
	width: 100%;
	float: left;
	display: block;
	background: #fff;
	padding: 30px 20px;
	border-radius: 0;
	margin-top: 40px;
}
.comment-main h4, .comment-post h4 {
	color: #a63b71;
	font-size: 26px;
	text-align: left;
	text-transform: capitalize;
	font-weight: 500;
	float: left;
	width: 100%;
	letter-spacing: 0;
	font-family: 'Roboto', sans-serif;
	padding-top: 0;
	padding-bottom: 15px;
}
.comment-div {
	width: 100%;
	float: left;
	padding: 20px 0;
	border-bottom: 1px solid #e0e0e0;
}
.comment-div:last-child {
	border-bottom: none;
}
.comment-div .user {
	width: 16%;
	text-align: center;
	float: left;
}
.comment-div .user img {
	border-radius: 100px;
	height: 90px;
	width: 90px;
	background: #f4f4f1;
	border-radius: 50%;
	padding: 5px;
	border: 1px solid #d1d1d0;
}
.comment-div .user p {
	text-align: center;
	padding-top: 5px;
}
.comment-div .comment-block {
	width: 84%;
	float: left;
	background: #a63b71;
	padding: 15px;
}
.comment-div .comment-block .heading {
	width: 100%;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	float: left;
	margin: 0;
	text-align: left;
	padding-top: 0;
}
.comment-div .comment-block p {
	float: left;
	width: 100%;
	padding: 0;
	color: #fff;
	line-height: 24px;
	text-align: justify;
}
.comment-div .reply {
	font-size: 16px;
	;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-top: 10px;
	float: left;
}
.comment-div .reply:hover {
	color: #e52725;
	text-decoration: none;
}
.comment-post {
	float: left;
	width: 100%;
	display: block;
	margin-top: 40px;
}
.comment-post h4 {
	padding: 0;
	margin: 0;
}
.comment-post .cmn-form {
	padding: 10px 0 0;
	width: 100%;
	float: left;
	display: inline-block;
}
.leave-form .input-group {
	width: 100%;
}
.leave-form .form-control {
	border-radius: 0;
}
.leave-form button {
	border-radius: 0;
	text-transform: uppercase;
	background: #a63b71;
	color: #fff;
	margin-top: 15px;
	padding: 10px 35px;
	font-size: 16px;
	font-weight: 500;
}
.leave-form .button {
	text-align: left;
}
.leave-form button:hover {
	background: #d66ea3;
	color: #560b31;
}
.comment-post label {
	margin-top: 15px;
	font-style: italic;
}
/*=====  Right Section Start  ======*/

.right-div {
	width: 100%;
	display: block;
	float: right;
	min-height: 100%;
}
.right-div .right-main {
	background: #f8f8f8;
	width: 100%;
	padding: 0;
	float: left;
	margin-bottom: 30px;
}
.right-div .right-main:last-child {
	margin-bottom: 0;
}
.search-form {
	width: 100%;
	float: left;
	background: #f8f8f8 !important;
	border: none !important;
}
.form-container {
	width: 100%;
	overflow: hidden;
	text-align: left;
	float: right;
	padding: 15px;
	background: #fff;
}
.form-container input[type="text"] {
	color: #353535;
	float: left;
	font-size: 16px;
	font-weight: 400;
	height: 40px !important;
	width: 80%;
	border: none;
	margin: 0;
	background: #f4f4f1;
}
.form-container button {
	height: 40px;
	float: left;
	border: none;
	width: 20%;
	background: #a63b71;
}
.form-container button:hover {
	background: #d86da5;
}
.form-container i {
	color: #fff;
	font-size: 20px;
}
.right-div .right-main .categories {
	width: 100%;
	padding: 10px;
}
.right-div .right-main .categories h5, .right-div .right-main .recent h5 {
	font-size: 26px;
	color: #a63b71;
	font-weight: 600;
	margin: 0;
	padding: 8px 15px;
	text-align: left;
	text-transform: capitalize;
	width: 100%;
	border-bottom: 1px solid #dddddd;
}
.right-div .right-main .categories ul {
	list-style: none;
	float: left;
}
.right-div .right-main .categories li {
	font-size: 16px;
	color: #222931;
	font-weight: 400;
	width: 100%;
	float: left;
	padding: 10px 10px 10px 20px;
	position: relative;
}
.categories ul {
	padding: 15px !important;
}
.right-div .right-main .categories li i {
	font-size: 16px;
	color: #222931;
	position: absolute;
	top: 10px;
	left: 0;
}
.right-div .right-main .categories li span {
	float: right;
}
.right-div .right-main .categories ul li a {
	color: #555;
	text-decoration: none;
	width: 100%;
	display: block;
	position: relative;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.right-div .right-main .categories ul li a:hover {
	color: #a63b71;
	text-decoration: none;
}
.right-div .right-main .categories li:last-child {
	border-bottom: none;
}
.right-div .right-main .recent {
	width: 100%;
	padding: 10px;
}
.recent-posts {
	width: 100%;
	float: left;
	padding: 15px;
}
.media {
	width: 100%;
	float: left;
	padding: 8px 0px;
	margin: 3px 0 0;
	background: #f6f6f6;
}
.media:last-child {
	border-bottom: none;
}
.media-content {
	width: 100%;
	float: left;
}
.media-content h6 {
	width: 100%;
	float: left;
	font-weight: 500;
	color: #222931;
	line-height: 20px;
	text-transform: none;
	padding: 0;
	font-size: 18px;
	margin: 0 !important;
}
.media-content h6:hover {
	color: #a63b71;
}
.media-content p {
	width: 100%;
	float: left;
	font-weight: 400;
	color: #a2a2a2;
	font-size: 16px;
	line-height: 20px;
	padding: 6px 0;
	text-align: left !important;
}
.right-div .right-main .recent .popular-tags {
	width: 100%;
	float: left;
	padding: 10px 0;
}
.right-div .right-main .recent .popular-tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.right-div .right-main .recent .popular-tags ul li {
	float: left;
	padding: 0px;
	width: auto;
	text-align: center;
}
.right-div .right-main .recent .popular-tags ul li a {
	color: #fff;
	float: left;
	margin: 8px;
	padding: 8px 22px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	background: #a63b71;
}
.right-div .right-main .recent .popular-tags ul li a:hover {
	color: #701342;
	text-decoration: none;
	background: #d56da2;
}
/*========================================popup-css==========================================*/





.popup {
	overflow: hidden;
	float: left;
}
.popup .btn-info:focus {
	outline: none;
}
.modal.fade .modal-dialog {
	margin-top: 160px;
	width: 60%;
}
.modal-content {
	background: #ba5086;
	overflow: hidden;
}
.modal-header {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}
.close {
	color: #fff;
	opacity: 1;
	font-weight: 400;
	font-size: 25px;
}
.close:hover {
	color: #832253;
	opacity: 1;
}
.modal-body {
	overflow: hidden;
	padding: 50px 30px;
}
.model-text {
	float: left;
	width: 50%;
	text-align: left;
}
.model-text h3 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	padding: 0;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
.model-text h3 span {
	font-weight: 400;
}
.model-text ul li {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 15px 0;
	font-weight: 400;
	position: relative;
	padding-left: 27px;
	font-family: 'Open Sans', sans-serif;
}
.model-text ul li i {
	margin-right: 10px;
	font-weight: 400;
	position: absolute;
	left: 0;
	top: 19px;
}
.model-form {
	background: #fff;
	width: 48%;
	float: right;
	padding: 15px;
	border-radius: 5px;
}
.model-form p {
	font-weight: 400;
}
.model-form h3 {
	color: #832253;
	padding: 0;
	font-size: 28px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}
.model-form hr {
	height: 4px;
	background: #ba5086;
	margin: 10px 0 0 0;
	width: 20%;
	border: none;
}
.model-form ul li {
	float: left;
	width: 49%;
	height: 45px;
	text-align: center;
	position: relative;
}
.fb-model {
	background: #21509b;
	color: #fff;
	margin: 15px 0;
}
.fb-model:hover {
	background: #133978;
}
.google-model {
	background: #de4e43;
	color: #fff;
	float: right!important;
	margin: 15px 0;
}
.google-model:hover {
	background: #cf3e33;
}
.fb-model a, .google-model a {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 44px;
	display: block;
	width: 100%;
}
.fb-log, .gp-log {
	text-align: center;
	display: block;
	margin: 10px 0;
	float: left;
	width: 50%;
	padding: 0 10px;
	margin-top: 15px;
}
.fb-log {
	padding-left: 0;
}
.gp-log {
	padding-right: 0;
}
.model-form .form-control {
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
	height: 39px;
	border: 1px solid #b5b5b5;
}
.model-form input[type="submit"] {
	width: 100%;
	background: #832253;
	color: #fff;
	text-align: center;
	font-size: 20px;
	border: none;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.model-form input[type="password"] {
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.model-form input[type="checkbox"] {
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.model-form input[type="submit"]:hover {
	background: #e17db0;
	color: #731746!important;
	font-family: 'Open Sans', sans-serif;
}
.model-form select {
	float: left;
	width: 30%;
	border-radius: 0px;
	padding: 8px 10px;
	background: #fff!important;
	height: 39px;
	border: 1px solid #b5b5b5;
}
.name-se {
	float: right!important;
	width: 68% !important;
}
.forgot-pass {
	text-align: center;
	display: block;
	font-size: 16px;
	color: #ba5086;
	font-weight: 600;
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
}
.back-login {
	text-align: center;
	padding: 10px 0;
	display: block;
	color: #ba5086;
	font-weight: 600;
}
.back-login:hover {
	color: #731746;
}
.cr-ac {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.cr-ac p {
 color: #3b3b3b !importan;
}
.cr-ac a {
	color: #ba5086;
}
.cr-ac a:hover, .forgot-pass:hover {
	color: #832253;
}
.btn-blue {
	width: 100%;
	background: #0094d9;
	color: #fff;
	padding: 10px 0;
	margin-top: 10px;
	font-size: 18px;
	border: none;
}
.btn-blue:hover {
	background: #004f87;
}
.event-main {
	padding: 60px 0;
}
.event {
	border: 1px solid #dbdbdb;
	margin-bottom: 30px;
}
.event-img img {
	width: 100%;
}
.event-img {
	position: relative;
}
.event-img .date {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 30px;
	font-weight: 700;
	line-height: 28px;
	padding: 7px 20px;
}
.event-img .date span {
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
}
.event-text {
	padding: 20px 20px;
}
.event-text h4 {
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.event-text h4 a {
	font-size: 18px;
	color: #333333;
	text-transform: capitalize;
	padding: 0;
}
.event-text p {
	color: #333333;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.event:hover .event-text h4 a {
	color: #832253;
}
.event-text .btn {
	display: block;
	text-align: right;
	font-weight: 500;
	margin-top: 15px;
	padding: 0;
}
.event-text .btn a {
	background: none;
	border: none;
	color: #333333;
	font-size: 16px;
	font-weight: 500;
	padding: 0 10px;
	line-height: 30px;
}
.event-text .btn a i {
	border: 1px solid #333333;
	height: 25px;
	width: 25px;
	text-align: center;
	border-radius: 50%;
	line-height: 25px;
	margin-left: 5px;
	font-size: 12px;
}
.event:hover .event-text .btn a {
	color: #832253;
}
.event:hover .event-text .btn a i {
	border-color: #832253;
	color: #832253;
}
.pagination-in {
	overflow: hidden;
}
.pagination-in nav {
	text-align: right;
	clear: both;
}
.pagination {
	margin: 0;
}
.pagination > li > a, .pagination > li > span {
	border: none;
	margin: 0 4px;
	border-radius: 0;
	background: #e2e2e2;
	color: #231f20;
	font-weight: 600;
	font-size: 18px;
	padding: 7px 16px;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background: #e17db0;
	color: #6a173f;
}
.pagination > li > a:hover {
	background: #e17db0;
	color: #6a173f;
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
	border-radius: 0;
	background: #842452;
	color: #fff;
}
