<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hotel Confirmation</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css?v=201909240000">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css?v=202009080000">
  <link href="../assets/css/media.css?v=202009060000" rel="stylesheet" type="text/css">
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
</head>

<body>
  <section>
    <div class="container">
      <div class="confirmation">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12"><a class="navbar-brand" href="#"><img
                      src="../assets/images/logo.png" alt=""></a></div>
                <div class="col-md-3 col-sm-4 col-xs-12 pull-right">
                  <div class="contact-info">
                    <a href="tel:+97124418565"> <svg x="0px" y="0px" viewBox="0 0 20 20"
                        style="enable-background:new 0 0 20 20;">
                        <path
                          d="M13.9,11.4C13.6,11.1,13.3,11,13,11c-0.3,0-0.7,0.1-0.9,0.4l-0.9,0.9c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1  c-0.8-0.5-1.5-1.2-2.2-2C8.1,9.6,7.9,9.2,7.7,8.8C8,8.6,8.2,8.4,8.4,8.2C8.5,8.1,8.5,8.1,8.6,8c0.6-0.6,0.6-1.3,0-1.9L7.9,5.4  C7.8,5.3,7.7,5.2,7.6,5.1C7.5,5,7.3,4.8,7.1,4.6C6.8,4.4,6.5,4.2,6.2,4.2c-0.3,0-0.6,0.1-0.9,0.4l0,0L4.4,5.6C4,5.9,3.8,6.3,3.8,6.8  c-0.1,0.8,0.2,1.5,0.3,2c0.4,1.2,1.1,2.3,2.1,3.4c1.2,1.4,2.6,2.5,4.2,3.3c0.6,0.3,1.5,0.6,2.4,0.7c0.1,0,0.1,0,0.2,0  c0.6,0,1.1-0.2,1.6-0.7c0,0,0,0,0,0c0.1-0.2,0.3-0.3,0.5-0.5c0.1-0.1,0.2-0.2,0.4-0.3c0.3-0.3,0.4-0.6,0.4-0.9  c0-0.3-0.1-0.7-0.4-0.9L13.9,11.4z M14.8,14.3C14.8,14.3,14.8,14.3,14.8,14.3c-0.1,0.1-0.2,0.2-0.3,0.3c-0.2,0.2-0.4,0.3-0.5,0.5  c-0.3,0.3-0.6,0.4-1,0.4c0,0-0.1,0-0.1,0c-0.8-0.1-1.5-0.4-2.1-0.6c-1.5-0.7-2.9-1.8-4-3.1c-0.9-1.1-1.5-2.1-1.9-3.2  C4.6,7.9,4.5,7.4,4.5,6.9c0-0.3,0.1-0.6,0.4-0.8l0.9-0.9C5.9,5,6.1,5,6.2,5c0.2,0,0.3,0.1,0.4,0.2l0,0c0.2,0.2,0.3,0.3,0.5,0.5  c0.1,0.1,0.2,0.2,0.3,0.3l0.7,0.7c0.3,0.3,0.3,0.6,0,0.8C8,7.5,7.9,7.6,7.9,7.7C7.6,7.9,7.4,8.1,7.2,8.4c0,0,0,0,0,0  C6.9,8.6,7,8.8,7,9l0,0c0.2,0.5,0.5,0.9,0.9,1.4l0,0c0.7,0.9,1.5,1.6,2.4,2.2c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0,0.2,0.1,0.3,0.1  c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.4-0.2l0.9-0.9c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2l1.5,1.5  C15.1,13.7,15.1,14,14.8,14.3L14.8,14.3z M14.8,14.3">
                        </path>
                      </svg> +9712 441 8565</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="welcome">
                  <figure v-if="divHtlBkngSucces">
                    <img src="../assets/images/con-hotel.png" alt="">
                  </figure>
                  <figure v-if="divHtlBkngFail">
                    <img src="../assets/images/con-hote-errorl.png" alt="">
                  </figure>
                  <div class="content">
                    <h5>Dear John Doe</h5>
                    <h3>Congratulations! Your hotel booking is confirmed</h3>
                    <h4>Booking Reference Number - <span>1007712150803</span></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-info">
                  Hotel voucher will be sent your registered email.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="hotel-dtl b-b-n">
                  <div class="detail-title">
                    <p>Hotel Details </p>
                    <div class="con-no">Hotel Confirmation Number: YATMB0003985646</div>
                  </div>
                  <div class="inner">
                    <h5>Emirates Grand Hotel Apartments <span class="stars stars5"></span></h5>
                    <div class="txt"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Dubai, United Arab
                      Emirates</div>
                    <div class="txt"><span><i class="fa fa-phone" aria-hidden="true"></i></span> +9112 345 6789</div>
                  </div>
                  <div class="bkn-info">
                    <ul>
                      <li>
                        <div class="inr">
                          <div class="head">Check-in</div>
                          <div class="info">
                            <span class="text">Tuesday</span>
                            <div class="date">11 July</div>
                            <span class="text">12:00 PM</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inr">
                          <div class="head">Check-out</div>
                          <div class="info">
                            <span class="text">Thursday</span>
                            <div class="date">13 July</div>
                            <span class="text">12:00 PM</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inr">
                          <div class="head">1 Rooms for 2 Nights</div>
                          <div class="info p-t-25">
                            <span class="text">Room 1 - 1 Adult</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inr">
                          <div class="head">Room Type</div>
                          <div class="info p-t-15">
                            <span class="text">Studio<br> Apartment-Double</span>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="inr">
                          <div class="head">Inclusions</div>
                          <div class="info p-t-25">
                            <span class="text">Breakfast</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="hotel-dtl">
                  <div class="detail-title">
                    <p>Guest Details</p>
                  </div>
                  <div class="inner">
                    <h5>Mr. John Doe</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="hotel-dtl">
                  <div class="detail-title">
                    <p>Payment Details</p>
                  </div>
                  <div class="fare-info baggage-info">
                    <ul>
                      <li>
                        <p>Total Room Charges</p>
                        <span>AED 1300</span>
                      </li>
                      <li>
                        <p>VAT</p>
                        <span>AED 200</span>
                      </li>
                      <li>
                        <p><strong>Total incl. VAT</strong></p>
                        <span><strong>AED 1500</strong></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="hotel-dtl">
                  <div class="detail-title">
                    <p>Cancellation Policy</p>
                  </div>
                  <div class="inner">
                    <h4>Detailed Cancellation Policy</h4>
                    <p><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy
                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s.</strong></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <h4 class="p-t-20">Amendment Policy</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the
                      printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                      since the 1500s.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="hotel-dtl">
                  <div class="detail-title">
                    <p>Booking Notes</p>
                  </div>
                  <div class="inner">
                    <p><strong>Check your booking details carefully and advise us immediately if you have any
                        queries.</strong></p>
                    <p><strong>Please check authencity of this voucher by visiting</strong></p>
                    <p><strong><a href="#">Lorem Ipsum is simply dummy text of the printing and typesetting
                          industry.</a></strong></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-b-30">
              <div class="col-md-12">
                <div class="hotel-dtl b-b-n">
                  <div class="detail-title">
                    <p>Customer Support</p>
                  </div>
                  <div class="customer-support">
                    <ul>
                      <li>
                        <div class="inr">
                          <div class="head">Address</div>
                          <span class="text">1303, National Bank of Kuwait Building , Airport Road, Abu Dhabi ,
                            UAE</span>
                        </div>
                      </li>
                      <li>
                        <div class="inr">
                          <div class="head">Phone</div>
                          <span class="text"><a href="tel:+97124418565">+9712 441 8565</a></span>
                        </div>
                      </li>
                      <li>
                        <div class="inr">
                          <div class="head">Email</div>
                          <span class="text"><a href="mailto:info@a2zbooking.com">info@a2zbooking.com</a></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="../assets/js/jquery.min.js?v=201905150000"></script>
  <script src="../assets/js/bootstrap.min.js?v=201905150000"></script>
  <script src="../assets/js/custom.js?v=201907070000"></script>
</body>

</html>