@media(max-width:1650px) {
    .p-price{top: 30px;}
    .hotel-info::after{
        left: -75px;
        height: 448px;
    }
    .hotels-img img, .hotel-info{height: 421px;}
}
@media(max-width:1450px) {
    .p-price{top: 30px;}
    .hotel-info::after{
        left: -67px;
        height: 376px;
    }
        .hotels-img img, .hotel-info{height: 355px;}

}

@media(max-width:1500px) {
    .p-price{top: 0;}
    .package-detail .day-night li{font-size: 14px;}
}
@media(max-width:1200px) {
    .holiday-main .item{margin: 0 15px;}
    
 
    .banner_main .banner-text h1{
        font-size: 85px;
        line-height: 80px;
    }
    .banner_main .banner-text p{
        letter-spacing: 6px;
        font-size: 29px;
    }
     .p-price{top: 30px;}
    .package-detail .day-night li{font-size: 16px;}
    .banner_main{padding: 150px 0 250px 0;}
    header .logo{padding: 15px 0;}
    
    .search-button, .calendar{height: 60px;}
    .search-section .form-control{height: 60px;}
    .booking-form{padding: 30px 0 30px 0;}
    .search-section .tab-content form{padding-top: 40px;}
    .change-date::after, .change-destination::after{top: 12px;}
    .add-btn{margin-top: 10px;}
    .custom-select-v3::before{top: 10px;}
    .photographer-img{right: -43px;}
     .p-price{top: 30px;}
    .hotel-info::after{
        left: -68px;
        height: 319px;
    }
        .hotels-img img, .hotel-info{height: auto;}
    .hotel-info h2{
        font-size: 47px;
        line-height: 40px;
    }
    .hotel-info{padding-top: 20px;}
    .top-nav{margin-left: 0;}
    .top-nav .nav > li{padding: 0 17px;}
    .navbar-nav{margin: 7.5px -15px;}
    .btn-clta{padding: 10px 6px;}
    .popup .btn-info{padding: 9px 10px;}
    .top-nav .navbar-default .navbar-nav > li > a{font-size: 14px;}
    .top-nav .nav > li{padding: 0 12px;}
}


/*=========END-1200px==========*/


/*=========Start-991px==========*/

@media(max-width:991px) {
    
     header .logo{
        position: relative;
        top: 0;
         box-shadow: none;
         padding:  0;
         border-radius: 0;
    }
        header .logo img{width: auto;}

	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
    .logo{text-align: center;}
    .top-contact{display: none;}
    .header-top{padding: 10px 0;}
    header .logo a{padding-top: 0;}
	.booking-form {
		width: 100%;
        position: relative;
        padding: 40px 0 30px 0;
	}
    
    .radio{margin-bottom: 25px;}
    .service-icon svg{width: 35px;}
    .search-section .tab-content form{padding-top: 20px;}
    .search-section .form-control{
        background: #f3f3f3;
        border-right: none;
        height: 50px!important;
    }
    
    .change-destination::after,.change-date::after{
        top: 10px;
        right: -15px;
    }
    .custom-select-v3::before{top: 6px;}
    .sm::before{top: 17px!important;}
    .calendar{
        background: #f3f3f3;
        border-right: none !important;
        height: 50px!important;
    }
    .search-button{
        height: 50px;
        font-size: 20px;
    }
    .add-btn{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
    }
    .detail-form .calendar{
        background: #fff!important;
        border-right: none !important;
    }
    .search-section .search-col-padding{
        padding-left: 1px;
        background: #bbbbbb;
    }
    .pl-0{padding-left: 0!important;}
	.banner_main{padding: 80px 0 200px 0;}
    .banner_main .banner-text h1 span{font-size: 60px;}
	.banner_main .banner-text h1 {
		font-size: 70px;
		line-height: 60px;
	}
    .b-radius-left{border-radius: 0;}
    .search-button{border-radius: 0;}
	.banner_main .banner-text p {
		width: 91%;
	}
	.search-section .form-control {
		border-bottom: 1px solid #bfbfbf;
        box-shadow: none;
        border-radius: 0!important;
	}
	.calendar {
		border-bottom: 1px solid #bfbfbf !important;
	}
	.all-search-box {
		display: inline-block;
		width: 100%;
	}
	.search-button {
		padding: 10px 0;
	}
	
	.travelerSelectWindow {
		left: 0;
		width: 100%;
	}
    .br-right{border-right: 1px solid #bfbfbf!important;}
    .p-price h3{
        font-size: 25px;
        line-height: 20px;
    }
    .p-price h3 span{
        font-size: 18px;
        line-height: 32px;
    }
    .p-price{top: 20px;}
    .holidays-main .holiday-packages{margin: 0 40px;}
    .holidays-main .holiday-packages{padding: 15px;}
    .holiday-img{top: -40px;}
    .package-detail .day-night li{font-size: 13px;}
    .package-detail h3 a{
        font-size: 30px;
        line-height: 30px;
    }
    .package-detail h3{margin-bottom: 10px;}
	footer .social li {
		padding: 0 10px 0 0;
	}
    .book-btn a{
        font-size: 20px;
    }
   
    
    
    
    .holidays-main h2{font-size: 40px;}
   
  
    .input-form,.news-text{width: 55%;}
    .modal.fade .modal-dialog{
        width: 90%;
        margin-top: 110px;
    }
    .popup{
        display: inline-block;
        overflow: inherit;
    }
   
    .call-to-action{
        float: right;
        text-align: center;
        position: relative;
        z-index: 999999;
        margin-left: 50px;
    }
    
    .top-nav{
        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        z-index: 9999;
        margin: 0;
        float: right;
    }
    .search-section .nav > li > a{
        padding: 15px 11px;
    }
    .travelerSelectWindow{top: 50px;}
    .detail-form{margin-top: 30px;}
    .detail-form{padding: 15px 20px 20px 20px;}
    .package-name h2{margin-bottom: 0;}
    .hotel-info h2, .hotel-info p{
        overflow: inherit;
        display: block;
        -webkit-line-clamp:inherit;
    }
    .pr-1{padding-right: 1px!important;}
    .pa-l-0{padding-left: 0!important;}
    .pad-top{padding-top: 0!important;}
    .profile-tab{
        float: none;
        display: inline-block;
    }
    .popup{
        float: none;
        display: inline-block;
    }
    .hotels-img{
        clip-path: inherit;
    }
    .hotels-img img{width: 100%;}
    .p-im-0{padding: 0;}
    .hotel-info::after{display: none;}
    .hotel-info{display: block;}
    .ft-hotels{padding-bottom: 30px;}
    .ftr-contact ul li a, .ftr-contact ul li p{
        display: block;
        margin-left: 0;
        padding: 15px 0 0;
        line-height: 20px;
    }
    .ftr-contact ul li{
        height: 170px;
    }
    .ftr-contact ul li p{
        width: auto;
        text-align: center;
    }
    .ftr-contact ul li i{
        height: 50px;
        width: 50px;
        line-height: 49px;
        font-size: 26px;
        position: relative;
    }
    .ftr-contact ul li a, .ftr-contact ul li p{
        overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
padding-bottom: 0;
    }
    .quick-link .ft-link li{
        width: 100%;
        float: none;
    }
    .holidays-main .holiday-packages{
    margin-top: 80px;
        margin-bottom: 10px;
    }
    .top-nav .navbar-default .navbar-brand, .top-nav .navbar-default .navbar-brand:hover, .top-nav .navbar-default .navbar-brand:focus{margin: -20px 0 0 0!important;}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        padding-right: 15px!important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
    display: block !important;
    }
    /*==========Old============*/
        .navbar-default::before {
		display: none;
	}
 .navbar-toggle {
		background-color: #11609c;
		border: none;
		border-radius: 0;
		margin-right: 0;
		padding: 12px 14px;
		border-radius: 3px;
        float: right;
        margin: 5px 0 0 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		width: 27px;
		height: 3px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #94c11f;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
		margin-top: 0;
        border: none;
        float: none !important;
        box-shadow: none;
	}
	.nav>li {
		padding: 0;
		color: #fff;
	}
    .top-nav .nav > li{padding: 0;}
	.navbar-default .navbar-nav>li>a {
		color: #fff!important;
		padding: 11px 10px!important;
		background: #94c11f;
		border-bottom: 1px solid #fff!important;
        font-size: 16px;
	}
	.nav>li>a {
		padding: 0;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		border-bottom: 1px solid #fff;
		background: #11609c!important;
		color: #fff !important;
	}
	.navbar-nav {
		margin: 12px 0 0;
         float: none!important;
	}
    .top-nav .navbar-default .navbar-nav > li::after{display: none;}
    .top-nav .navbar-default .navbar-nav > .active > a, 
    .top-nav .navbar-default .navbar-nav > .active > a:focus, 
    .top-nav .navbar-default .navbar-nav > .active > a:hover{
        background: #105f9b!important;
        color: #fff;
    }
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		position: relative;
		margin: 0!important;
		padding: 10px 0;
	}
   
    .navbar-default{
        position: absolute;
        top: 10px;
         right: 0;
        left: 0;
       z-index: 999;
    }
    .collapse in{display: none!important;}
    .holiday-in .holiday-packages{margin: 50px 10px 0 10px;}
    .pagination{margin: 30px 0 0;}
    .inner-banner{padding: 70px 0 60px 0;}
    .desc-detail{padding: 30px 0;}
    .desc-detail .nav > li > a{width: 25%;}
    .comment-div .comment-block{padding-left: 15px;}
    .about-in .flex-box{display: block;}
    .popup .btn-info{padding: 9px 15px;}
    .top-nav .navbar-default .navbar-nav > li > a{font-size: 16px;}
    .top-nav .nav > li{padding: 0 12px;}
    .btn-clta{padding: 10px 12px;}
    .profile-tab{margin: 5px 0 10px 0}
}


/*=========END-991px==========*/

@media(max-width:767px) {
    .flex-box{display: block;}
    .model-text{display: none;}
    .model-form{
        width: 100%;
        float: none;
    }
    .modal.fade .modal-dialog{
        width: 70%;
        transform: translate(20%,0px)
    }
    .banner_main{padding: 50px 0 150px 0;}
    .banner_main h1{
        font-size: 30px;
        line-height: 35px;
    }
    h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
    
     .search-section .search-col-padding{
        padding-top: 0px;
        padding-left: 0px;
        background: #bbbbbb;
         clear: both;
    }
   
    .change-date::after,.change-destination::after{
        top: 35px !important;
    }
 
    .service-icon{
        display: inline-block;
    }
   
    .header-bottom{
        height: 60px;
        margin:0 15px 20px 15px;
    }
    
    header .logo{box-shadow: none;}
    .buttons .login-btn{
        line-height: 0;
        margin-top: 0 !important;
    }
	.booking-form {
		position: relative;
		bottom: 0;
	}
	.navbar-nav>li>a {
		font-size: 16px;
	}
	
	.search-col-padding .input-group {
		width: 100%;
		display: block;
	}
    
	.search-section .form-control,
	.calendar {
		border-right: none !important;
		box-shadow: none !important;
	}
    .search-section .form-control{padding: 0 20px!important;}
    .travellersDropdown.arrow::after{display: none!important;}
	.search-section .nav-tabs>li {
		clip-path: inherit;
		width: auto;
	}
	.search-section .nav>li>a::before {
		left: auto;
		top: 8px;
		right: 4px;
		position: absolute;
	}
    .search-section .nav > li > a{padding: 15px;}
	
	.change-destination::after {
		right: 0;
		top: 51px;
		left: 0;
		text-align: center;
	}
	
    .top-nav{
        top: 0;
        position: relative;
       z-index: 999999;
        float: none;
    }
    .agent-login::after{display: none;}
    .navbar-collapse{padding-right: 0!important}    
	
	.all-search-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	.change-date::after {
		width: 100%;
		left: 0;
		text-align: center;
		right: 0;
		top: 51px;
	}
    .search-section .nav>li{
        margin-bottom: 2px;
    }
	.search-section .nav>li>a {
		background: #f3f3f3;
	}
    .radio{margin-bottom: 20px;}
	.search-section .nav-tabs>li:hover i {
		color: #fff;
	}
    
    
    .photographer-img{display: none;}
    .input-form{width: 100%;}
    .newsletter{padding: 60px 0;}
    .holidays-main{padding: 30px 0;}
    .holiday-in{padding: 10px 0 30px 0;}
    .holidays-main h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .package-detail .day-night li{font-size: 16px;}
    .p-price{top: 80px;}
    .package-detail h3 a{
        font-size: 24px;
        line-height: 30px;
    }
   .holidays-main .holiday-packages{
    margin-top: 50px;
    }
    
    .hotel-info h2{
        font-size: 34px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .hotel-info p{
        margin: 10px 0;
    }
    .hotel-info h2 span{font-size: 16px;}
    .hotel-info .btn{
        font-size: 20px;
        line-height: 20px;
    }
    .ftr-contact{
        text-align: left;
    }
    .ftr-contact ul li{
        float: none;
        width: 100%;
        padding: 15px 0;
        height: auto;
    }
    .ftr-contact ul li a, .ftr-contact ul li p{
        overflow: visible;
-webkit-line-clamp: inherit;
    }
    .about-footer{padding: 10px 0 10px 0;}
    .ft-newsletter h3, .quick-link h3{
        margin-bottom: 15px;
        font-size: 22px;
    }
    footer .footer-in{
        padding: 30px 0 20px 0;}
    footer .social li a{
        height: 35px;
        width: 35px;
        font-size: 16px;
        line-height: 32px;
    }
    .quick-link .ft-link li{
        width: 50%;
        float: left;
    }
    footer .about-footer p{ 
        overflow: inherit;
        display: block;
        -webkit-line-clamp:inherit;
    }
    .ft-newsletter, .quick-link{padding: 10px 0;}
    .ftr-btm{
        text-align: center;
    }
    .powered-by{float: none;}
    
    .navbar-default .navbar-nav > .active > a:hover{
        background: #1c1c1c;
        color: #fff;
    }
    
    .popup .btn-info, .agent-login, .btn-clta{
        height: 40px !important;
        padding: 0 0px!important;
        margin-top: 0!important;
        line-height: 38px !important;
        float: left;
        width: 23%;
        margin-left: 10px!important;
    }
    .btn-clta{margin-left: 0!important;}
     .call-to-action{
        float: none;
        text-align: center;
         margin-left: 0;
    }
     .popup{
        display: block;
         overflow: visible;
    }
    .popup .btn-info{
        float: left;
        margin:0 ;
    }
    
    .travelerSelectWindow{
        top: 49px;
        z-index: 999;
    }
    .custom-select-v3::before{top: 6px;}
   
    
    
    .inner-banner{padding: 50px 0 40px 0;}
    .inner-banner h1{
        font-size: 40px;
        line-height: 45px;
    }
    .contact-in .row{display: block;}
    .contact-dtl{margin-bottom: 30px;}
    .contact-in{padding: 30px 0 0 0;}
    .contact-info h3{
        font-size: 32px;
        line-height: 35px;
    }
    .contact-info form, .contact-info iframe{margin-top: 30px;}
    .contact-info iframe{margin-bottom: 30px;}
    .contact-info iframe{
        height: 350px;
    }
    .holiday-in .item{
        margin: 0 0 30px 0;
    }
    .pagination{margin: 0;}
    .booking-form{padding-top: 0;}
    .search-section .nav-tabs{padding-top: 10px;}
    .search-section .nav > li > a{
        height: 60px;
        width: 60px;
        padding: 9px 0 0;
        display: block;
    }
    .service-icon svg{width: 30px;}
    .service-icon{
        display: block;
        margin-bottom: 5px;
    }
    .search-section .form-control, .calendar{background: #fff!important;}
    .booking-tab{margin-top: -124px;}
    .booking-form{box-shadow: none;}
     .search-section .nav-tabs2 > li{
        margin: 10px 7px 0;
    }
    .search-section .nav-tabs2 li a{
        font-size: 14px;
        padding: 0 3px;
    }
    .search-section .nav-tabs2 li a::before {top: 2px;}
    .search-section .form-control::-moz-placeholder {
	color: #1c1c1c!important;
	opacity: 1!important;
        font-size: 15px!important;
        font-weight: 400!important;
}

.search-section .form-control:-ms-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
     font-size: 15px!important;
        font-weight: 400!important;
}

.search-section .form-control::-webkit-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
     font-size: 15px!important;
        font-weight: 400!important;
}

.search-section .form-control::-o-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
     font-size: 15px!important;
        font-weight: 400!important;
}
    .search-section .calendar::-moz-placeholder {
	
        font-size: 15px!important;
        font-weight: 400!important;
}
    
    .search-section .form-control, .calendar{
        font-size: 15px!important;
        font-weight: 400!important;
    }
    .detail-form .search-section{
        padding: 0;
        margin: 0;
        border: none;
    }
    .desc-detail .search-section{
        margin: 0;
        border: none;
    }
    .detail-form h3{
        padding: 10px 0;
        margin: 0px 10px 10px 10px;
    }
     .comment-div .comment-block{padding-left: 0px;}
    .package-detail-inner{padding-top: 30px;}
    .package-name h2{font-size: 26px;}
    .desc-detail{padding-top: 30px;}
    .desc-detail .nav-tabs li a{
        border-radius: 0;
        padding: 10px 15px;
        background-color: transparent;
        width: 25%;
        height: auto;
    }
    .desc-detail .nav > li{margin-bottom: 0;}
    .desc-detail .nav-tabs{top: inherit;}
    .desc-detail .nav-tabs{padding-top: 0px}
    .comment-div .user{
        float: none;
        width: 100%;
    }
    .comment-div .comment-block{
        float: none;
        width: 100%;
        margin-top: 15px;
    }
    .package-days{margin-bottom: 10px;}
    .package-detail h3 a, .package-detail p{
            overflow: visible;
    -webkit-line-clamp: inherit;
    }
    .newsletter h3, .newsletter p{
        overflow: inherit;
        display: block;
        -webkit-line-clamp:inherit;
    }
    
    .pr-1{padding-right: 0px!important;}
    .pa-l-0{padding-left: 0!important;}
    .pad-top{padding-top: 0!important;}
    .fist-td{padding-right: 10px!important;}
    .four-zero{margin: 10px 0 30px 0;}
    .four-zero h3{
        font-size: 200px;
        line-height: 160px;
    }
    .four-zero p{width: 100%;}
   
    .header-bottom{display: none;}
    .holidays-main .owl-pagination{margin-top: 30px;}
    .holiday-in .holiday-packages{margin: 50px 10px 0 30px;}
    .about-in{margin: 30px 0;}
    .about-text h2{
        margin-bottom: 0;
        font-size: 30px;
        line-height: 32px;
    }
    .about-info{margin-top: 15px;}
    .contact-info{margin-top: 30px;}
    .contact-info p{
        width: 100%;
        padding-bottom: 0;
    }
    .contact-info h2{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .desc-detail .table {
	   width: 100%;
        display: block;
        white-space: nowrap;
        overflow-x: scroll;
        word-wrap: normal;
    }
    
    :-webkit-scrollbar{

    -webkit-appearance: none;
    width: 7px;

}

::-webkit-scrollbar-thumb {

    border-radius: 4px;
    background-color: rgba(0,0,0,.5); 
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #707070;
}

::-webkit-scrollbar-thumb:hover {
  background: #355cc9;
}
::-webkit-overflow-scrolling:touch {
background:#707070;
width: 5px;
}
    
    .desc-detail .nav-tabs li a{
        float: none;
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ebebeb;
    }
    .desc-detail .nav-tabs li a:hover{
        border-right: none;
        border-bottom: 1px solid #ebebeb;
    }
    .desc-detail .nav-tabs li:last-child a{border-bottom: none;}
    .profile-tab{
        display: block;
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
    
}


/*=============================End-767px===========================*/


@media(max-width:600px){
   
    .p-price{top: 65px;}
    
    
    .contact-info h3{
        font-size: 26px;
        line-height: 28px;
    }
    .ui-datepicker{
        width: auto;
        left: 0!important;
    }
    
}

/*=========END-600px==========*/
@media(max-width:650px){
   
    header .logo img{width: auto;}
    .buttons{
        float: none;
        text-align: center;
    }
    .buttons .login-btn, .buttons .booking-btn{
        float: none;
        display: inline-block;
        margin-top: 10px;
    }
    .navbar-nav{margin: 20px 0 0;}
    .navbar-default .navbar-nav > li > a{font-size: 18px;}
    .holidays-main hr{width: 20%;}
    
    .input-form button{
        font-size: 20px;
        padding: 0 20px;
    }
    .model-form ul li{
        width: 100%;
        float: none!important;
        clear: both;
    }
   
    .desc-detail .nav-tabs li a{
        font-size: 16px;
        padding: 8px 14px;
    }
    .desc-detail .nav > li{width: auto;}
}

/*=========Start-550px==========*/
@media(max-width:550px){
    .header-top .col-xs-4, .header-top .col-xs-8{
        width: 100%;
    }
    header .logo{text-align: left;}
  

    .search-section .nav > li > a{padding: 10px 0;}
    .desc-detail .nav > li, .desc-detail .nav > li:last-child{width: auto;}
    .desc-detail .nav-tabs li a{
        padding: 10px 15px!important;
        font-size: 16px !important;
    }
    .ui-datepicker{
        width: auto;
        left: 15px!important;
        z-index: 999999!important;
    }
    .ui-datepicker-group{
        float: none;
        width: 100%;
    }
    .ui-datepicker-group-first .ui-datepicker-calendar{border-right: none;}
    
    
    
    .profile-tab{
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        position: relative;
    }
    .profile-tab .btn{
        display: block;
        text-align: left;
    }
    .profile-tab .btn i{
    position: absolute;
        right: 20px;
        top: 10px;
        font-size: 16px;
        font-size: 20px;
    }
    .dropdown-menu{
        min-width: auto;
        width: 100%;
    }
    .hotel-info h2{
        font-size: 28px;
        line-height: 24px;
        margin-bottom: 0;
    }
    
    .popup .btn-info, .agent-login, .btn-clta{
        width: 48.5% !important;
        margin-bottom: 10px;
    }
    .popup .cr-btn{
        margin-left:0 !important;
        margin-bottom: 0!important;
    }
    .agent-login{margin-bottom: 0!important;}

    
}
/*=========Start-500px==========*/

@media(max-width:500px) {
    header .logo img{width: 45%;}
    .booking-form{padding: 0px 0 20px 0;}
	
    .banner_main{padding: 40px 0 140px 0;}
	.banner_main .banner-text p {
		font-size: 20px;
		line-height: 22px;
        color: #fff;
        letter-spacing: 0;
        padding-top: 0;
	}
    .all-search-box{
        padding-left: 4px;
        padding-right: 4px;
    }
    .booking-tab{margin-top: -109px;}
    .search-section .nav-tabs{
        padding-top: 0;
    }
    .search-section .nav-tabs2{margin-bottom: 15px;}
	.search-section .tab-content form {
		padding: 0;
	}
	.search-section .tab-content {
		padding: 0px 0 0 0;
	}
    .banner_main h1{
        font-size: 24px;
    }
    
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        border-bottom: none;
    }
    .banner_main .banner-text h1{
        margin-bottom: 60px;
    }
    .banner_main .banner-text h1 {
        font-size: 50px;
        line-height: 50px;
    }
    .banner_main .banner-text h1 span{
        font-size: 40px;
    }
    .input-form input[type="email"]{
        height: 50px !important;
        border-radius: 5px;
    }
    .input-form button{
        position: relative;
        height: 50px;
        border-radius: 5px;
        margin-top: 10px;
    }
    .input-form{box-shadow: none;}
    
    .modal.fade .modal-dialog{
        width: 80%;
        transform: translate(10%,0px);
    }
    .name-se{
        width: 100%!important;
        float: none!important;
    }
    .model-form select{
        width: 100%!important;
    }
    .cr-ac, .forgot-pass{font-size: 14px;}
    .desc-detail .nav-tabs li a{font-size: 16px!important;}
    
    .desc-detail .nav-tabs{position: relative;}
    .desc-detail .search-section .tab-content{padding: 15px;}
    .desc-detail .search-section .tab-content .pa-0{padding: 0;}
    .review-form{clear: both;}
    .review-form .col-md-12, .review-form-field .col-md-6{padding: 0;}
    .review-form-field input[type="submit"]{
        padding: 13px 0;
        width: 100%;
        font-size: 16px;
    }
    .four-zero h3{
        font-size: 150px;
        line-height: 110px;
    }
    .four-zero h4{
        font-size: 24px;
        line-height: 30px;
        padding: 15px 0;
    }
    .p-price{top: 40px;}
    
}

@media(max-width:450px){
  header .logo img{width: 60%;}
    .buttons .booking-btn{padding: 7px 15px;}
    .buttons .login-btn{
        margin-right: 10px;
        line-height: 20px;
        margin-top: 0;
    }
    .holidays-main hr{width: 30%;}
    .modal.fade .modal-dialog{
        width: 90%;
        transform: translate(3%,0px);
    }
    .popupContainer{
        width: 315px;
        top: 80px!important;
    }
       .package-media ul li:first-child{padding-left: 0;}
    .inner-banner h1{font-size: 30px;}
    
    
   .desc-detail table td, .desc-detail table th{padding: 0 10px;}
    .holiday-left,.holiday-right{
        float: none;
        width: 100%;
    }
    .holidays-main .holiday-packages{
        display: block;
        padding: 10px;
        margin: 10px 15px;
    }
    .holiday-img{
        position: relative;
        top: 0;
    }
    .package-detail{padding: 15px 10px;}
    .p-price{
        top: auto;
        bottom: 2px;
        left: 2px;
    }
    .holidays-main .owl-carousel{margin-top: 20px;}
    .holidays-main .owl-pagination{margin-top: 30px;}
    .quick-link .ft-link li{
        width: 100%;
        float: none;
    }
    
    
}


@media(max-width:380px){
    .radio label{font-size: 13px;}
    .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline{margin-left: 0;}
    .banner_main .banner-text h1{line-height: 40px;}
    .banner_main .banner-text h1 span{font-size: 33px;}
    .holidays-main hr{width: 35%;}
    .currency{margin-top: 10px;}
    .detail-form .search-button{
        padding: 5px 0;
        width: 100%;    
    }
    .day-night, .package-media{
        float: none !important;
        width: 100%;
        text-align: left;
        clear: both;
    }
    .package-media{margin-top: 10px;}
    .package-media ul li:first-child{padding-left: 0;}
    .bradcomes ul li{padding: 8px 5px;}
    .age-2{margin-left: 100px;}
    .classSec .custom-select-v3.lg{
        float: none;
        width: 100%;
    }
    .classSec .custom-select-v3::before{
        top: 46px;
    }
    .classSec label{
        margin-bottom: 15px;
        float: none;
        width: 100%;
    }
    .model-form input[type="submit"]{font-size: 16px;}
    .popup .btn-info, .agent-login, .btn-clta{width: 47.5% !important;}
   
}
@media(max-width:300px){
    .add-room, .remove-room{
        float: none;
        width: 100%;
    }
    .add-room a, .remove-room a{
        display: block!important;
        text-align: center;
        margin: 0 15px;
    }
    .contact-info form input[type="submit"]{
        padding: 12px 0;
        width: 100%;
    }
}
@media(max-width:295px){
    .age-2{margin-left: 0px;}
    .travellersDropdown .travelerSelectWindow label{margin-bottom: 15px;}
}



