<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aalia Holidays - About Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link href="css/select2.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap" rel="stylesheet">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
<header>
  <headeritem></headeritem>
</header>
<div id="aboutuspage" v-cloak>
<section class="inner_banner" :style="{ background: 'url(' +Banner.Banner_Image+ ')'}">
  <div class="banner_text">
    <h1 class="text-center">{{Banner.Title}}</h1>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{Banner.Breadcrumb_2}}</div>
  </div>
</div>
<section id="intro_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h2>About <span>Us</span></h2>
        <h3>{{aboutUsContent.Subtitle}}</h3>
        <p v-html="aboutUsContent.About_Us_Content"></p>
        </div>
      <div class="col-lg-6 col-md-4 col-sm-12">
        <figure> <img :src="aboutUsContent.Description_Image" alt=""> </figure>
      </div>
    </div>
  </div>
</section>
<section id="mission_vision">
  <div class="container">
    <div class="row flex">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 msn-vsn">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90" enable-background="new 0 0 95 90" xml:space="preserve">
<g id="XMLID_996_">
	<g id="XMLID_41_">
		<path id="XMLID_4218_" d="M57.5,25.204c0.343,0.343,0.793,0.515,1.243,0.515c0.449,0,0.899-0.171,1.243-0.515
			c0.686-0.687,0.686-1.799,0-2.486l-0.024-0.024c-0.687-0.687-1.799-0.687-2.486,0c-0.687,0.687-0.687,1.799,0,2.486L57.5,25.204z"
			/>
		<path id="XMLID_4221_" d="M85.858,41.836l6.127-6.127c0.503-0.502,0.653-1.259,0.381-1.916
			s-0.913-1.085-1.624-1.085h-12.7c-1.66-6.796-5.145-12.988-10.125-17.969C60.68,7.501,51.057,3.516,40.82,3.516
			c-10.236,0-19.859,3.986-27.097,11.224S2.5,31.6,2.5,41.836c0,10.235,3.986,19.858,11.224,27.097
			c2.152,2.152,4.517,4.015,7.044,5.572l-5.296,9.355c-0.308,0.545-0.304,1.211,0.011,1.751c0.315,0.541,0.893,0.873,1.519,0.873
			h9.053c0.633,0,1.218-0.341,1.53-0.892l3.744-6.616c3.065,0.777,6.247,1.18,9.492,1.18c3.244,0,6.426-0.402,9.491-1.18
			l3.745,6.616c0.312,0.551,0.896,0.892,1.529,0.892h9.053c0.626,0,1.204-0.332,1.519-0.872c0.315-0.541,0.319-1.207,0.012-1.752
			l-5.296-9.355c2.527-1.558,4.892-3.42,7.044-5.572c4.979-4.979,8.465-11.174,10.125-17.969h12.7c0.711,0,1.353-0.429,1.624-1.085
			c0.272-0.657,0.122-1.413-0.381-1.916L85.858,41.836z M82.645,40.078H70.377l3.854-3.854h12.268L82.645,40.078z M25.029,82.969
			h-5.013l3.826-6.76c1.313,0.65,2.661,1.226,4.04,1.719L25.029,82.969z M61.624,82.969h-5.013l-2.854-5.041
			c1.379-0.493,2.728-1.068,4.04-1.719L61.624,82.969z M65.431,66.446c-2.321,2.322-4.915,4.273-7.707,5.829
			c-0.034,0.017-0.069,0.033-0.103,0.052c-0.021,0.013-0.041,0.026-0.062,0.039c-2.142,1.178-4.398,2.124-6.74,2.822
			c-0.092,0.019-0.183,0.046-0.272,0.079c-3.122,0.903-6.388,1.373-9.727,1.373c-3.339,0-6.605-0.47-9.727-1.372
			c-0.09-0.034-0.181-0.062-0.273-0.079c-2.342-0.699-4.598-1.645-6.74-2.823c-0.021-0.013-0.04-0.026-0.061-0.039
			c-0.034-0.019-0.068-0.034-0.103-0.051c-2.792-1.556-5.385-3.508-7.708-5.83C9.636,59.873,6.016,51.133,6.016,41.836
			s3.62-18.037,10.194-24.61C22.783,10.652,31.523,7.031,40.82,7.031s18.037,3.621,24.61,10.194c4.32,4.319,7.4,9.64,8.982,15.483
			h-0.91c-0.466,0-0.913,0.185-1.243,0.515l-4.665,4.666c-0.471-3.196-1.504-6.303-3.064-9.129c-0.469-0.85-1.538-1.158-2.389-0.689
			c-0.85,0.469-1.158,1.539-0.688,2.389c1.668,3.022,2.601,6.309,2.839,9.62h-7.75c-0.392-3.561-1.965-6.859-4.534-9.429
			c-2.988-2.988-6.962-4.634-11.188-4.634c-4.226,0-8.199,1.646-11.187,4.634C26.646,33.638,25,37.61,25,41.836
			s1.646,8.198,4.633,11.187c2.988,2.988,6.961,4.634,11.187,4.634c4.226,0,8.199-1.646,11.187-4.634
			c2.569-2.569,4.144-5.868,4.534-9.429h7.743c-0.419,5.495-2.737,10.827-6.808,14.897c-4.449,4.449-10.365,6.899-16.656,6.899
			c-6.292,0-12.207-2.45-16.656-6.899c-4.449-4.448-6.899-10.363-6.899-16.655c0-6.292,2.45-12.207,6.899-16.656
			c7.379-7.379,18.907-9.015,28.034-3.976c0.85,0.469,1.919,0.161,2.389-0.689c0.469-0.85,0.16-1.919-0.689-2.388
			c-5.035-2.78-10.965-3.888-16.695-3.119c-5.921,0.794-11.29,3.452-15.524,7.687c-5.113,5.113-7.929,11.911-7.929,19.142
			s2.815,14.028,7.928,19.142c5.113,5.113,11.911,7.929,19.142,7.929s14.029-2.815,19.142-7.929
			c4.155-4.154,6.79-9.399,7.639-15.188l4.659,4.659c0.33,0.329,0.777,0.515,1.243,0.515h0.909
			C72.831,56.806,69.749,62.129,65.431,66.446z M46.561,38.521c-0.485-0.841-1.561-1.129-2.401-0.644l-4.219,2.436
			c-0.544,0.314-0.879,0.895-0.879,1.522s0.335,1.208,0.879,1.522l4.219,2.436c0.277,0.159,0.579,0.235,0.877,0.235
			c0.607,0,1.198-0.314,1.524-0.879c0.285-0.494,0.302-1.068,0.098-1.557H53c-0.373,2.619-1.574,5.039-3.479,6.942l0,0
			c-2.325,2.324-5.415,3.604-8.701,3.604c-3.287,0-6.377-1.28-8.701-3.604c-2.324-2.323-3.604-5.413-3.604-8.7
			c0-3.287,1.28-6.376,3.604-8.701c2.324-2.324,5.414-3.604,8.701-3.604c3.287,0,6.376,1.28,8.701,3.604
			c1.904,1.904,3.106,4.323,3.479,6.943h-6.341C46.863,39.589,46.846,39.015,46.561,38.521z M74.231,47.448l-3.854-3.854h12.268
			l3.854,3.854H74.231z"/>
	</g>
</g>
</svg> </div>
        <h4>{{Mission.Our_Mission_Title}}</h4>
        <p v-html="Mission.Mission_Content"></p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 msn-vsn">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90" enable-background="new 0 0 95 90" xml:space="preserve">
<g>
	<path d="M91.087,43.766C85.24,36.627,78.42,31.092,70.82,27.309c-7.319-3.644-15.053-5.514-22.989-5.564
		c-0.11-0.003-0.221-0.003-0.332-0.003s-0.221,0-0.332,0.003c-7.936,0.05-15.669,1.92-22.989,5.564
		c-7.6,3.783-14.419,9.318-20.268,16.456C3.57,44.1,3.396,44.548,3.398,45c-0.002,0.451,0.172,0.898,0.513,1.235
		c5.848,7.137,12.667,12.673,20.268,16.454c7.32,3.646,15.054,5.515,22.989,5.565c0.111,0.002,0.221,0.002,0.332,0.002
		s0.221,0,0.332-0.002c7.936-0.051,15.669-1.92,22.989-5.565c7.625-3.792,14.463-9.351,20.323-16.523
		c0.288-0.315,0.458-0.73,0.458-1.173C91.602,44.52,91.41,44.082,91.087,43.766z M25.714,59.606
		C18.893,56.211,12.725,51.301,7.369,45c5.356-6.302,11.524-11.211,18.345-14.608c2.009-0.998,4.051-1.855,6.119-2.569
		c-4.661,4.258-7.59,10.382-7.59,17.177s2.93,12.919,7.59,17.175C29.765,61.462,27.723,60.606,25.714,59.606z M47.5,64.812
		c-10.924,0-19.811-8.889-19.811-19.812c0-10.925,8.887-19.812,19.811-19.812c10.923,0,19.812,8.887,19.812,19.812
		C67.312,55.923,58.423,64.812,47.5,64.812z M69.285,59.606c-2.009,1-4.05,1.855-6.118,2.568c4.662-4.256,7.59-10.38,7.59-17.175
		s-2.928-12.919-7.59-17.177c2.068,0.713,4.109,1.571,6.118,2.569C76.108,33.789,82.274,38.698,87.631,45
		C82.274,51.301,76.108,56.211,69.285,59.606z"/>
	<path d="M47.5,54.475c-5.224,0-9.475-4.249-9.475-9.475c0-5.224,4.251-9.476,9.475-9.476
		c5.226,0,9.475,4.251,9.475,9.476C56.975,50.226,52.726,54.475,47.5,54.475z M47.5,38.969c-3.325,0-6.03,2.706-6.03,6.031
		c0,3.326,2.706,6.029,6.03,6.029c3.326,0,6.029-2.703,6.029-6.029C53.529,41.675,50.826,38.969,47.5,38.969z"/>
	<path d="M47.5,82.031c-0.951,0-1.723-0.771-1.723-1.725v-6.89c0-0.952,0.772-1.722,1.723-1.722
		s1.722,0.77,1.722,1.722v6.89C49.222,81.26,48.451,82.031,47.5,82.031z"/>
	<path d="M60.273,80.012c-0.441,0-0.882-0.166-1.219-0.505l-4.873-4.871c-0.673-0.673-0.673-1.763,0-2.438
		c0.672-0.672,1.764-0.672,2.437,0l4.872,4.873c0.674,0.674,0.674,1.765,0,2.436C61.154,79.846,60.714,80.012,60.273,80.012z"/>
	<path d="M34.727,80.012c-0.44,0-0.882-0.166-1.218-0.505c-0.672-0.671-0.672-1.762,0-2.436l4.873-4.873
		c0.673-0.672,1.763-0.672,2.436,0c0.673,0.675,0.673,1.765,0,2.438l-4.873,4.871C35.609,79.846,35.169,80.012,34.727,80.012z"/>
	<path d="M47.5,18.29c-0.951,0-1.723-0.773-1.723-1.723V9.676c0-0.951,0.772-1.723,1.723-1.723
		s1.722,0.772,1.722,1.723v6.891C49.222,17.517,48.451,18.29,47.5,18.29z"/>
	<path d="M39.601,18.29c-0.441,0-0.882-0.168-1.219-0.504l-4.873-4.873c-0.672-0.673-0.672-1.765,0-2.436
		c0.673-0.673,1.764-0.673,2.437,0l4.873,4.873c0.673,0.673,0.673,1.763,0,2.437C40.482,18.121,40.041,18.29,39.601,18.29z"/>
	<path d="M55.399,18.29c-0.44,0-0.881-0.168-1.218-0.504c-0.673-0.673-0.673-1.763,0-2.437l4.873-4.873
		c0.672-0.673,1.764-0.673,2.436,0c0.674,0.671,0.673,1.763,0,2.436l-4.872,4.873C56.282,18.121,55.842,18.29,55.399,18.29z"/>
	<path d="M47.503,4.515c-0.951,0-1.723-0.771-1.723-1.723c0-0.951,0.771-1.722,1.723-1.722h0
		c0.952,0,1.724,0.771,1.724,1.722C49.227,3.744,48.455,4.515,47.503,4.515z"/>
	<path d="M47.503,88.93c-0.951,0-1.723-0.772-1.723-1.723c0-0.952,0.771-1.724,1.723-1.724h0
		c0.952,0,1.724,0.771,1.724,1.724C49.227,88.157,48.455,88.93,47.503,88.93z"/>
</g>
</svg> </div>
        <h4>{{Mission.Our_Vision_Title}}</h4>
        <p v-html="Mission.Vision_Content"></p>
      </div>
    </div>
  </div>
</section>
<section id="why-choose-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 title">
        <h2>Why <span>Choose</span></h2>
      </div>
    </div>
    <div class="row flex">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-box">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90" enable-background="new 0 0 95 90" xml:space="preserve">
          <g>
            <path d="M88.691,16.927h-3.715l0.004-6.722c0.002-4.513-3.622-8.186-8.081-8.188L48.707,2c-0.001,0-0.002,0-0.003,0
		c-1.605,0-3.114,0.632-4.249,1.781L2.368,46.385C0.841,47.93,0,49.985,0,52.172s0.841,4.241,2.368,5.787l27.313,27.647
		C31.257,87.202,33.328,88,35.398,88c2.071,0,4.142-0.798,5.718-2.394l26.498-26.823c0.725-0.733,0.725-1.923,0-2.655
		c-0.725-0.734-1.899-0.734-2.624,0L38.492,82.951c-1.706,1.726-4.481,1.726-6.186,0L4.992,55.303
		c-0.826-0.836-1.281-1.948-1.281-3.131s0.455-2.295,1.281-3.132L47.079,6.438c0.434-0.439,1.011-0.682,1.625-0.682h0.001
		l28.191,0.016c2.412,0.001,4.374,1.989,4.373,4.431l-0.009,15.739h-8.357c-0.72,0-1.371-0.298-1.843-0.777
		c0.776-0.337,1.504-0.823,2.137-1.464c2.667-2.7,2.667-7.092,0-9.791c-2.667-2.7-7.006-2.7-9.673,0
		c-2.666,2.699-2.666,7.091,0,9.791c0.988,1,2.208,1.629,3.485,1.889c0.908,2.399,3.207,4.109,5.894,4.109h8.355l-0.005,9.004
		c0,0.622-0.239,1.205-0.674,1.644l-5.094,5.157c-0.725,0.734-0.725,1.923,0,2.657s1.899,0.733,2.624,0l5.095-5.157
		c1.133-1.148,1.759-2.674,1.76-4.298l0.005-9.006h3.722c3.479,0,6.309-2.864,6.309-6.386C95,19.792,92.17,16.927,88.691,16.927z
		 M66.148,16.565c0.61-0.618,1.412-0.926,2.213-0.926s1.603,0.309,2.213,0.926c0.192,0.196,0.352,0.413,0.483,0.641
		c-2.036,0.632-3.637,2.282-4.222,4.361c-0.246-0.138-0.479-0.311-0.688-0.522C64.929,19.809,64.929,17.8,66.148,16.565z
		 M88.691,25.942h-3.72l0.003-5.259h3.717c1.433,0,2.598,1.18,2.598,2.629S90.124,25.942,88.691,25.942z"/>
            <path d="M29.95,49.388c0.229,0.832,0.974,1.375,1.786,1.375c0.165,0,0.333-0.021,0.499-0.068l19.047-5.367
		c0.988-0.278,1.565-1.314,1.291-2.313c-0.275-0.999-1.297-1.583-2.285-1.306l-19.048,5.366
		C30.253,47.354,29.675,48.389,29.95,49.388z"/>
            <path d="M38.334,51.866c-1.034,1.047-1.603,2.437-1.603,3.917c0,1.479,0.569,2.869,1.603,3.915
		c1.067,1.079,2.467,1.619,3.868,1.619c1.401,0,2.802-0.54,3.869-1.619c2.134-2.159,2.134-5.673,0-7.832
		C43.938,49.707,40.467,49.707,38.334,51.866z M43.447,57.042c-0.686,0.694-1.802,0.694-2.489,0
		c-0.333-0.336-0.515-0.784-0.515-1.26s0.183-0.923,0.515-1.26c0.344-0.347,0.794-0.521,1.245-0.521
		c0.451,0,0.901,0.174,1.244,0.521C44.133,55.217,44.133,56.348,43.447,57.042z"/>
            <path d="M46.99,40.684c2.133-2.16,2.133-5.672,0-7.832c-1.033-1.046-2.408-1.622-3.869-1.622
		c-1.461,0-2.835,0.576-3.868,1.622c-2.133,2.16-2.133,5.672,0,7.832c1.067,1.08,2.467,1.62,3.868,1.62S45.923,41.763,46.99,40.684z
		 M41.877,35.508c0.333-0.337,0.775-0.522,1.245-0.522c0.47,0,0.913,0.185,1.245,0.522c0.686,0.695,0.686,1.825,0,2.52
		s-1.803,0.695-2.489,0C41.191,37.333,41.191,36.203,41.877,35.508z"/>
            <path d="M18.455,45.507c-0.725-0.733-1.899-0.733-2.625,0l-5.272,5.337c-0.348,0.353-0.543,0.83-0.543,1.328
		s0.195,0.976,0.543,1.328l23.529,23.817c0.362,0.365,0.837,0.549,1.312,0.549s0.949-0.184,1.312-0.549L71.89,41.707
		c0.725-0.734,0.725-1.923,0-2.657L48.361,15.233c-0.348-0.352-0.82-0.55-1.312-0.55s-0.964,0.198-1.312,0.55L26.327,34.882
		c-0.725,0.734-0.725,1.923,0,2.657c0.724,0.733,1.899,0.733,2.624,0l18.099-18.321l20.905,21.161L35.399,73.332l-20.904-21.16
		l3.96-4.009C19.179,47.43,19.18,46.24,18.455,45.507z"/>
            <path d="M71.551,50.265c-0.488,0-0.967,0.201-1.312,0.551c-0.346,0.349-0.544,0.834-0.544,1.327
		c0,0.494,0.198,0.979,0.544,1.328c0.345,0.35,0.823,0.551,1.312,0.551s0.966-0.201,1.312-0.551
		c0.346-0.349,0.544-0.834,0.544-1.328c0-0.493-0.198-0.979-0.544-1.327C72.517,50.466,72.039,50.265,71.551,50.265z"/>
            <path d="M23.702,42.85c0.347-0.349,0.544-0.832,0.544-1.328c0-0.494-0.197-0.977-0.544-1.328
		c-0.345-0.35-0.822-0.55-1.312-0.55c-0.488,0-0.967,0.201-1.312,0.55c-0.346,0.349-0.544,0.834-0.544,1.328
		c0,0.496,0.198,0.979,0.544,1.328c0.346,0.352,0.823,0.55,1.312,0.55C22.879,43.4,23.356,43.201,23.702,42.85z"/>
          </g>
          </svg> </div>
        <h4>{{Choose.Competitive_Pricing_Title}}</h4>
        <p v-html="Choose.Competitive_Pricing_Content"></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-box">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90" enable-background="new 0 0 95 90" xml:space="preserve">
          <g>
            <g>
              <g>
                <path d="M58.86,11.59c-9.789-4.947-21.582-3.056-29.343,4.707c-9.021,9.021-9.924,23.404-2.1,33.458
				c0.276,0.354,0.689,0.54,1.108,0.54c0.3,0,0.604-0.096,0.86-0.295c0.611-0.476,0.721-1.356,0.246-1.969
				c-6.956-8.938-6.152-21.729,1.87-29.751c6.903-6.903,17.39-8.585,26.095-4.186c0.691,0.35,1.535,0.072,1.886-0.62
				C59.831,12.783,59.552,11.939,58.86,11.59z"/>
              </g>
            </g>
            <g>
              <g>
                <path d="M70.061,22.792c-0.349-0.692-1.192-0.969-1.885-0.62c-0.691,0.349-0.969,1.193-0.62,1.884
				c4.397,8.705,2.714,19.19-4.188,26.091c-8.022,8.021-20.813,8.825-29.751,1.87c-0.611-0.476-1.492-0.365-1.968,0.244
				c-0.477,0.613-0.366,1.493,0.245,1.969c4.579,3.564,10.057,5.316,15.517,5.316c6.526,0,13.029-2.505,17.94-7.416
				C73.111,44.371,75.003,32.581,70.061,22.792z"/>
              </g>
            </g>
            <g>
              <g>
                <path d="M66.438,17.45c-0.348-0.394-0.713-0.782-1.086-1.155c-0.372-0.372-0.76-0.737-1.153-1.084
				c-0.581-0.514-1.467-0.458-1.98,0.122c-0.512,0.581-0.458,1.467,0.122,1.979c0.351,0.31,0.696,0.635,1.028,0.967
				s0.657,0.677,0.967,1.028c0.277,0.314,0.664,0.474,1.052,0.474c0.33,0,0.66-0.116,0.929-0.352
				C66.896,18.917,66.949,18.03,66.438,17.45z"/>
              </g>
            </g>
            <path d="M80.539,36.728c0.935-1.535,0.935-3.44,0-4.975l-1.846-3.026c-0.242-0.398-0.337-0.872-0.265-1.333
		l0.549-3.495c0.282-1.781-0.45-3.545-1.907-4.606l-2.86-2.08c-0.377-0.275-0.646-0.676-0.757-1.131l-0.833-3.441
		c-0.422-1.749-1.771-3.097-3.52-3.52l-3.441-0.833c-0.454-0.11-0.855-0.378-1.131-0.757l-2.08-2.86
		c-1.061-1.458-2.826-2.19-4.604-1.909l-3.497,0.549c-0.461,0.073-0.935-0.021-1.332-0.264l-3.026-1.846
		c-1.535-0.936-3.441-0.936-4.976,0l-3.026,1.845c-0.398,0.243-0.872,0.337-1.333,0.265l-3.494-0.55
		c-1.78-0.28-3.546,0.452-4.606,1.909L30.473,7.53c-0.275,0.378-0.676,0.647-1.131,0.757L25.9,9.12
		c-1.748,0.423-3.096,1.771-3.52,3.52l-0.833,3.442c-0.11,0.454-0.378,0.856-0.757,1.131l-2.86,2.081
		c-1.458,1.061-2.189,2.824-1.909,4.606l0.55,3.496c0.073,0.461-0.022,0.934-0.265,1.332l-1.846,3.027
		c-0.935,1.535-0.935,3.44,0,4.975l1.846,3.026c0.243,0.398,0.337,0.872,0.264,1.333l-0.55,3.495c-0.28,1.78,0.452,3.545,1.91,4.606
		l2.859,2.08c0.378,0.275,0.647,0.677,0.757,1.132l0.833,3.44c0.423,1.749,1.772,3.098,3.52,3.521l1.438,0.348l-9.727,21.695
		c-0.207,0.461-0.149,0.998,0.15,1.405c0.299,0.407,0.794,0.621,1.295,0.563l7.826-0.937l4.509,6.464
		c0.264,0.38,0.695,0.602,1.15,0.602c0.043,0,0.088-0.002,0.132-0.006c0.503-0.048,0.942-0.362,1.149-0.822l9.933-22.16l1.259,0.768
		c0.767,0.467,1.627,0.701,2.487,0.701s1.72-0.234,2.488-0.701l1.305-0.795l9.944,22.188c0.207,0.461,0.646,0.774,1.149,0.822
		c0.044,0.004,0.087,0.006,0.131,0.006c0.456,0,0.887-0.222,1.15-0.602l4.509-6.464l7.826,0.937
		c0.501,0.059,0.997-0.155,1.296-0.562c0.299-0.408,0.357-0.945,0.15-1.405l-9.732-21.708l1.383-0.334
		c1.749-0.423,3.099-1.772,3.521-3.521l0.832-3.441c0.11-0.455,0.379-0.856,0.758-1.131l2.86-2.08
		c1.457-1.061,2.188-2.826,1.907-4.606l-0.549-3.496c-0.072-0.461,0.021-0.935,0.265-1.333L80.539,36.728z M32.274,85.264
		l-3.573-5.123c-0.296-0.426-0.803-0.653-1.317-0.591l-6.202,0.741l8.862-19.769c0.162,0.12,0.308,0.262,0.427,0.427l2.08,2.86
		c0.197,0.272,0.42,0.518,0.662,0.738l-4.665,10.405c-0.317,0.706,0,1.536,0.706,1.853c0.186,0.084,0.381,0.123,0.573,0.123
		c0.535,0,1.047-0.309,1.28-0.829l4.648-10.367c0.457,0.062,0.928,0.062,1.4-0.013l3.496-0.55c0.209-0.033,0.421-0.031,0.627,0.004
		L32.274,85.264z M73.876,80.291l-6.202-0.741c-0.517-0.063-1.021,0.165-1.317,0.591l-3.573,5.123l-9.009-20.098
		c0.188-0.026,0.382-0.026,0.572,0.004l3.494,0.551c0.492,0.076,0.982,0.073,1.457,0.003l4.65,10.376
		c0.233,0.521,0.745,0.829,1.281,0.829c0.191,0,0.386-0.039,0.572-0.122c0.707-0.316,1.024-1.147,0.707-1.854l-4.683-10.445
		c0.225-0.209,0.435-0.44,0.621-0.698l2.08-2.857c0.131-0.183,0.291-0.336,0.472-0.462L73.876,80.291z M78.144,35.267l-1.845,3.026
		c-0.589,0.966-0.816,2.112-0.641,3.229l0.549,3.496c0.116,0.734-0.186,1.463-0.787,1.901L72.56,49
		c-0.916,0.666-1.568,1.64-1.834,2.741l-0.833,3.441c-0.174,0.721-0.73,1.278-1.452,1.452l-3.441,0.833
		c-1.102,0.267-2.075,0.917-2.741,1.832l-2.08,2.86c-0.436,0.603-1.165,0.904-1.9,0.789l-3.495-0.551
		c-1.117-0.176-2.264,0.052-3.23,0.641l-3.025,1.845c-0.633,0.387-1.42,0.387-2.053,0l-3.026-1.846
		c-0.752-0.458-1.616-0.698-2.489-0.698c-0.247,0-0.495,0.02-0.741,0.059l-3.496,0.551c-0.735,0.115-1.463-0.188-1.901-0.789
		L32.74,59.3c-0.667-0.915-1.639-1.565-2.74-1.832l-3.442-0.834c-0.722-0.175-1.278-0.73-1.453-1.453l-0.833-3.442
		c-0.266-1.099-0.917-2.073-1.833-2.739l-2.86-2.08c-0.602-0.438-0.903-1.166-0.787-1.901l0.55-3.495
		c0.176-1.117-0.052-2.264-0.641-3.23l-1.845-3.026c-0.386-0.633-0.386-1.42,0-2.054l1.846-3.026
		c0.588-0.965,0.816-2.112,0.64-3.229l-0.55-3.496c-0.116-0.735,0.187-1.464,0.789-1.901l2.86-2.081
		c0.916-0.666,1.566-1.639,1.833-2.74l0.833-3.442c0.175-0.722,0.732-1.278,1.453-1.453l3.442-0.833
		c1.101-0.267,2.074-0.917,2.74-1.833l2.08-2.86c0.438-0.602,1.166-0.904,1.901-0.789l3.495,0.55
		c1.118,0.176,2.264-0.052,3.23-0.641l3.025-1.845c0.633-0.386,1.42-0.386,2.053,0l3.027,1.845c0.965,0.589,2.111,0.817,3.229,0.641
		l3.496-0.55c0.734-0.116,1.464,0.186,1.901,0.788l2.08,2.86c0.666,0.916,1.64,1.567,2.739,1.833l3.442,0.833
		c0.722,0.175,1.278,0.731,1.454,1.454l0.832,3.441c0.267,1.101,0.917,2.074,1.832,2.741l2.86,2.08
		c0.602,0.437,0.904,1.166,0.789,1.901l-0.551,3.495c-0.176,1.117,0.052,2.264,0.641,3.229l1.845,3.026
		C78.53,33.847,78.53,34.634,78.144,35.267z"/>
            <g>
              <g>
                <path d="M63.912,29.876c-0.31-0.952-1.118-1.616-2.112-1.734l-8.438-1l-3.56-7.717
				c-0.419-0.909-1.301-1.473-2.302-1.473c-1,0-1.882,0.564-2.301,1.473l-3.56,7.717l-8.439,1.001
				c-0.994,0.118-1.803,0.782-2.112,1.733c-0.309,0.951-0.044,1.964,0.69,2.644l6.239,5.77l-1.656,8.337
				c-0.195,0.98,0.187,1.956,0.997,2.543c0.446,0.324,0.964,0.489,1.486,0.489c0.424,0,0.85-0.108,1.241-0.327l7.416-4.151
				l7.416,4.151c0.874,0.489,1.919,0.427,2.728-0.162c0.811-0.587,1.191-1.563,0.996-2.543l-1.655-8.337l6.239-5.77
				C63.958,31.841,64.221,30.828,63.912,29.876z M54.502,36.764c-0.357,0.332-0.518,0.825-0.424,1.304l1.696,8.53l-7.59-4.249
				c-0.213-0.119-0.449-0.179-0.685-0.179s-0.472,0.06-0.685,0.179l-7.589,4.249l1.695-8.53c0.096-0.479-0.065-0.972-0.423-1.304
				l-6.385-5.904l8.637-1.024c0.484-0.057,0.904-0.362,1.109-0.805l3.642-7.897l3.643,7.897c0.205,0.443,0.624,0.749,1.109,0.805
				l8.635,1.024L54.502,36.764z"/>
              </g>
            </g>
          </g>
          </svg> </div>
        <h4>{{Choose.Award_Winning_Service_Title}}</h4>
        <p v-html="Choose.Award_Winning_Service_Content"></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-box">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90" enable-background="new 0 0 95 90" xml:space="preserve">
          <g>
            <path d="M76.003,67.092c-0.664-0.352-1.486-0.098-1.838,0.566c-0.08,0.151-0.161,0.302-0.243,0.451h-5.447
		c0.602-1.643,1.114-3.355,1.532-5.126c0.172-0.73-0.28-1.462-1.011-1.635c-0.729-0.172-1.462,0.279-1.635,1.01
		c-0.47,1.989-1.077,3.916-1.808,5.751H55.112c0.743-4.724,1.153-9.863,1.214-14.953h6.807c0.75,0,1.359-0.609,1.359-1.359
		s-0.609-1.359-1.359-1.359h-6.807c-0.068-5.583-0.554-11.224-1.44-16.313h10.113c0.622,1.418,1.175,2.91,1.65,4.472
		c0.179,0.586,0.718,0.964,1.3,0.964c0.13,0,0.265-0.02,0.396-0.06c0.718-0.219,1.123-0.979,0.904-1.697
		c-0.387-1.269-0.822-2.496-1.301-3.679h5.183c0.138,0.225,0.275,0.45,0.408,0.679c0.251,0.435,0.708,0.679,1.178,0.679
		c0.23,0,0.465-0.059,0.679-0.183c0.65-0.375,0.871-1.208,0.495-1.857c-0.177-0.307-0.36-0.61-0.546-0.911
		c-0.063-0.366-0.273-0.681-0.565-0.884c-3.086-4.688-7.222-8.635-12.068-11.491c-5.617-3.312-12.054-5.063-18.61-5.063
		c-2.861,0-5.71,0.331-8.47,0.982c-0.73,0.172-1.183,0.905-1.01,1.635c0.172,0.731,0.905,1.183,1.636,1.011
		c0.882-0.208,1.774-0.378,2.673-0.516c-2.218,2.927-3.922,7.675-5.097,13.2H22.669c-0.211-0.051-0.427-0.049-0.631,0h-5.124
		c0.337-0.45,0.685-0.892,1.045-1.325c0.48-0.578,0.401-1.435-0.176-1.915c-0.578-0.479-1.435-0.401-1.915,0.176
		c-0.879,1.058-1.694,2.162-2.444,3.304c-0.297,0.206-0.507,0.525-0.568,0.896c-3.543,5.756-5.458,12.433-5.458,19.254
		c0,9.804,3.817,19.021,10.75,25.953c6.932,6.933,16.149,10.75,25.953,10.75c13.645,0,26.085-7.499,32.468-19.571
		C76.92,68.266,76.666,67.443,76.003,67.092z M64.352,70.828c-1.589,3.246-3.578,6.125-5.873,8.447
		c-2.687,2.719-5.687,4.618-8.858,5.636c2.206-3.173,3.888-8.204,5.017-14.083H64.352z M54.363,31.406
		c-1.121-5.292-2.709-9.795-4.741-12.721c5.618,1.803,10.594,6.312,14.053,12.721H54.363z M61.332,22.498
		c3.877,2.285,7.262,5.325,9.955,8.908h-4.556c-1.943-3.946-4.413-7.3-7.254-9.921C60.105,21.803,60.725,22.14,61.332,22.498z
		 M38.421,25.097c1.685-4.562,3.809-7.285,5.68-7.285c2.192,0,4.58,3.511,6.391,9.393c0.404,1.316,0.772,2.722,1.104,4.201H36.611
		C37.129,29.077,37.736,26.953,38.421,25.097z M33.346,46.356c0.751,0.046,1.393-0.526,1.438-1.276
		c0.233-3.88,0.669-7.585,1.28-10.956h16.079c0.892,4.908,1.396,10.48,1.464,16.313H46.82c-0.75,0-1.359,0.608-1.359,1.359
		c0,0.75,0.609,1.359,1.359,1.359h6.789c-0.063,5.3-0.484,10.385-1.23,14.953H46.82c-0.75,0-1.359,0.608-1.359,1.359
		c0,0.75,0.609,1.359,1.359,1.359h5.063c-0.399,1.983-0.864,3.848-1.392,5.561c-1.811,5.881-4.199,9.393-6.391,9.393
		c-1.835,0-3.85-2.507-5.528-6.88c-0.269-0.701-1.055-1.051-1.756-0.782c-0.701,0.269-1.051,1.055-0.782,1.757
		c0.828,2.157,1.696,3.798,2.563,5.039c-6.108-1.957-11.348-7.1-14.763-14.093c0.692-0.064,1.234-0.646,1.234-1.354
		c0-0.75-0.609-1.359-1.359-1.359h-1.069c-1.769-4.471-2.833-9.553-2.987-14.953h2.697c0.75,0,1.359-0.609,1.359-1.359
		s-0.609-1.359-1.359-1.359h-2.698c0.166-5.786,1.386-11.38,3.559-16.313h10.096c-0.604,3.454-1.019,7.128-1.238,10.793
		C32.026,45.668,32.597,46.313,33.346,46.356z M10.147,53.156h6.788c0.141,5.267,1.097,10.343,2.791,14.953h-5.429
		C11.839,63.639,10.36,58.557,10.147,53.156z M20.261,34.125c-2.033,5-3.173,10.573-3.328,16.313h-6.788
		c0.233-5.78,1.943-11.403,4.929-16.313H20.261z M15.959,70.828h4.875c1.09,2.426,2.396,4.695,3.907,6.763
		c1.234,1.689,2.57,3.194,3.987,4.509C23.579,79.478,19.184,75.58,15.959,70.828z M59.416,82.146
		c0.336-0.31,0.668-0.628,0.996-0.961c2.824-2.858,5.172-6.365,6.96-10.357h4.892C68.975,75.699,64.535,79.565,59.416,82.146z"/>
            <path d="M21.562,28.435c0.236,0.168,0.514,0.253,0.79,0.253c0.282,0,0.564-0.088,0.803-0.262
		c0.412-0.301,10.072-7.473,10.072-16.05c0-5.997-4.878-10.875-10.875-10.875S11.477,6.378,11.477,12.375
		C11.477,21.13,21.15,28.14,21.562,28.435z M22.352,4.219c4.497,0,8.156,3.659,8.156,8.156c0,5.902-5.972,11.404-8.165,13.224
		c-2.195-1.79-8.148-7.199-8.148-13.224C14.195,7.878,17.854,4.219,22.352,4.219z"/>
            <path d="M27.789,12.375c0-0.75-0.609-1.359-1.359-1.359s-1.359,0.609-1.359,1.359c0,1.499-1.22,2.719-2.719,2.719
		s-2.719-1.22-2.719-2.719s1.22-2.719,2.719-2.719c0.75,0,1.359-0.609,1.359-1.359s-0.609-1.359-1.359-1.359
		c-2.998,0-5.438,2.439-5.438,5.438s2.439,5.438,5.438,5.438S27.789,15.373,27.789,12.375z"/>
            <path d="M76.727,38.203c-5.996,0-10.875,4.878-10.875,10.875c0,8.755,9.673,15.765,10.085,16.06
		c0.237,0.168,0.514,0.253,0.79,0.253c0.282,0,0.564-0.088,0.803-0.263c0.411-0.301,10.072-7.473,10.072-16.05
		C87.602,43.082,82.723,38.203,76.727,38.203z M76.718,62.302c-2.194-1.789-8.147-7.198-8.147-13.224
		c0-4.497,3.659-8.156,8.156-8.156s8.156,3.659,8.156,8.156C84.883,54.98,78.911,60.481,76.718,62.302z"/>
            <path d="M80.805,47.719c-0.75,0-1.359,0.609-1.359,1.359c0,1.499-1.22,2.719-2.719,2.719s-2.719-1.22-2.719-2.719
		s1.22-2.719,2.719-2.719c0.75,0,1.359-0.609,1.359-1.359s-0.609-1.359-1.359-1.359c-2.998,0-5.438,2.439-5.438,5.438
		s2.439,5.438,5.438,5.438s5.438-2.439,5.438-5.438C82.164,48.328,81.555,47.719,80.805,47.719z"/>
            <path d="M23.711,59.953c0,8.755,9.673,15.765,10.085,16.06c0.236,0.168,0.514,0.253,0.79,0.253
		c0.282,0,0.564-0.088,0.803-0.263c0.412-0.301,10.072-7.473,10.072-16.05c0-5.996-4.878-10.875-10.875-10.875
		S23.711,53.957,23.711,59.953z M34.586,51.797c4.497,0,8.156,3.659,8.156,8.156c0,5.902-5.972,11.403-8.165,13.224
		c-2.195-1.789-8.148-7.198-8.148-13.224C26.43,55.456,30.089,51.797,34.586,51.797z"/>
            <path d="M34.586,65.391c2.998,0,5.438-2.439,5.438-5.438c0-0.75-0.609-1.359-1.359-1.359s-1.359,0.609-1.359,1.359
		c0,1.499-1.22,2.719-2.719,2.719s-2.719-1.22-2.719-2.719s1.22-2.719,2.719-2.719c0.75,0,1.359-0.609,1.359-1.359
		s-0.609-1.359-1.359-1.359c-2.998,0-5.438,2.439-5.438,5.438S31.588,65.391,34.586,65.391z"/>
          </g>
          </svg> </div>
        <h4>{{Choose.Worldwide_Coverage_Title}}</h4>
        <p v-html="Choose.Worldwide_Coverage_Content"></p>
      </div>
    </div>
  </div>
</section>
<section class="map-responsive">
	<iframe :src="Location.Map_Link"></iframe>
</section>
</div>
<footer :key="key">
  <footeritem :key="key" :item="1"></footeritem>
</footer>
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/bootstrap.min.js"></script>


<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/underscore-min.js?v=201904100000"></script>
<script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
<script src="Servicejs/about.js"></script>
</body>
</html>