<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aalia Holidays - Contact Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link href="css/select2.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap" rel="stylesheet">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<style>
  [v-cloak] {
    display: none;
  }
</style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="contactuspage" v-cloak>
<section class="inner_banner" :style="{ background: 'url(' +Banner.Banner_Image+ ')'}">
  <div class="banner_text">
    <h1 class="text-center">{{Banner.Title}}</h1>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{Banner.Breadcrumb_2}}</div>
  </div>
</div>
<section id="contact_sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 title">
        <h2>Contact <span>Us</span></h2>
      </div>
    </div>
    <div class="contact_form m-t-30">
      <!-- <form> -->
        <div class="row">
          <div class="col-md-6 col-sm-6 padding">
            <label>{{Form.Name_label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" :placeholder="Form.Name_Placeholder" type="text" v-model="cntusername">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 padding">
            <label>{{Form.Email_label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" :placeholder="Form.Email_Placeholder" type="text" v-model="cntemail">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-6 col-sm-6 padding">
            <label>{{Form.Phone_Label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" :placeholder="Form.Phone_Placeholder" type="text" v-model="cntcontact">
            </div>
          </div>
          <div class="col-md-6 col-sm-6 padding">
            <label>{{Form.Subject_Label}}</label>
            <div class="input-group">
              <input name="departure_city" class="form-control" :placeholder="Form.Subject_Placeholder" type="text" v-model="cntsuject">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 col-sm-12 padding">
            <label>{{Form.Message_Label}}</label>
            <div class="input-group">
              <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="Form.Message_Placeholder" v-model="cntmessage"></textarea>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 padding text-center">
            <button class="send" v-on:click="sendcontactus">{{Form.Button_label}}</button>
          </div>
        </div>
      <!-- </form> -->
    </div>
  </div>
</section>
<section class="map-responsive">
  <iframe :src="Location.Map_Link"></iframe>
</section>
</div>
<footer :key="key">
  <footeritem :key="key" :item="3"></footeritem>
</footer>
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/bootstrap.min.js"></script>


<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/underscore-min.js?v=201904100000"></script>
<script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
<script src="Servicejs/contactus.js"></script>
</body>
</html>