<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aalia Holiday</title>
  <link rel="shortcut icon" href="website-informations/favicon/favi.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="css/select2.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap" rel="stylesheet">
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/vue-multiselect.min.css?v=201912240000">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="indexmain" v-cloak>
    <section class="main_banner p-0" :style="{ background: 'url(' +Homebanner.Banner_Image+ ')'}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-128 col-md-12 col-sm-12 hidden-xs">
            <h1><span>-{{Homebanner.Title_1}}-</span><br>
             {{Homebanner.Title_2}}</h1>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"> </div>
        </div>
      </div>
      <section class="booking-form">
        <div class="container">
          <div class="row">
            <div class="search-section">
              <div role="tabpanel">
                <!-- BEGIN: CATEGORY TAB -->
                <div class="booking-tab">
                  <div class="col-md-12  tab-field">
                    <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                      <li role="presentation" class="active text-center"> <a href="#flight" aria-controls="flight"
                          role="tab" data-toggle="tab"> <span class="service-icon"> <svg width="40px" height="40px"
                              viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                              <path d="M37.962,5.497l-0.068-0.638c-0.134-1.31-1.209-2.317-2.553-2.418l-0.537-0.033
          C33.19,2.34,31.612,2.944,30.47,4.086l-5.375,5.339L7.492,9.391c-1.478,0-2.922,0.604-3.998,1.679l-0.739,0.739
          c-0.235,0.236-0.336,0.638-0.269,0.974c0.101,0.336,0.336,0.604,0.672,0.705l14.009,3.828l-3.259,3.256l-5.913,0.202
          c-0.604,0-1.176,0.235-1.612,0.704l-0.571,0.572c-0.235,0.234-0.336,0.604-0.269,0.939c0.101,0.336,0.336,0.57,0.638,0.705
          l7.525,2.854l3.023,7.791c0.134,0.336,0.437,0.57,0.773,0.604c0.336,0.035,0.638-0.066,0.873-0.336l0.605-0.604
          c0.403-0.402,0.638-0.939,0.706-1.611l0.201-5.943l3.293-3.225l3.795,14.037c0.102,0.334,0.37,0.604,0.706,0.705
          C27.782,38,27.85,38,27.95,38c0.27,0,0.537-0.102,0.739-0.303l0.739-0.738c1.074-1.074,1.68-2.52,1.68-4.029V15.334l5.207-5.238
          C37.558,8.888,38.163,7.175,37.962,5.497z M35.374,9.156l-5.441,5.44c-0.135,0.134-0.201,0.302-0.201,0.47V32.93
          c0,1.176-0.471,2.25-1.277,3.09l-0.336,0.336L24.12,21.814c-0.066-0.234-0.234-0.402-0.47-0.469c-0.067,0-0.101-0.035-0.168-0.035
          c-0.168,0-0.336,0.068-0.47,0.203l-4.301,4.23c-0.134,0.133-0.201,0.268-0.201,0.469l-0.202,6.18c0,0.201-0.067,0.504-0.302,0.705
          l-0.235,0.234l-2.923-7.555c-0.067-0.168-0.201-0.303-0.403-0.369l-7.29-2.787l0.202-0.201c0.101-0.102,0.37-0.303,0.706-0.303
          l6.215-0.201c0.168,0,0.336-0.068,0.437-0.201l4.267-4.265c0.167-0.168,0.235-0.403,0.167-0.638c-0.066-0.235-0.235-0.403-0.47-0.47
          l-14.58-3.996l0.336-0.336c0.807-0.806,1.915-1.276,3.057-1.276l17.873,0.034c0.168,0,0.336-0.067,0.47-0.201l5.577-5.541
          c0.873-0.873,2.082-1.343,3.325-1.276l0.538,0.034c0.672,0.034,1.209,0.571,1.275,1.209l0.068,0.638
          C36.752,6.94,36.315,8.216,35.374,9.156z" />
                            </svg> </span>Flights </a></li>
                      <li role="presentation" class="text-center"> <a href="#hotel" aria-controls="hotel" role="tab"
                          data-toggle="tab"> <span class="service-icon"> <svg width="40px" height="40px"
                              viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                              <path display="none" d="M37.962,6.497l-0.068-0.638c-0.134-1.31-1.209-2.317-2.553-2.418l-0.537-0.033
      C33.19,3.34,31.612,3.944,30.47,5.086l-5.375,5.339L7.492,10.391c-1.478,0-2.922,0.604-3.998,1.679l-0.739,0.739
      c-0.235,0.236-0.336,0.638-0.269,0.974c0.101,0.336,0.336,0.604,0.672,0.705l14.009,3.828l-3.259,3.256l-5.913,0.202
      c-0.604,0-1.176,0.235-1.612,0.704l-0.571,0.572c-0.235,0.234-0.336,0.604-0.269,0.939c0.101,0.336,0.336,0.57,0.638,0.705
      l7.525,2.854l3.023,7.791c0.134,0.336,0.437,0.57,0.773,0.604c0.336,0.035,0.638-0.066,0.873-0.336l0.605-0.604
      c0.403-0.402,0.638-0.939,0.706-1.611l0.201-5.943l3.293-3.225l3.795,14.037c0.102,0.334,0.37,0.604,0.706,0.705
      C27.782,39,27.85,39,27.95,39c0.27,0,0.537-0.102,0.739-0.303l0.739-0.738c1.074-1.074,1.68-2.52,1.68-4.029V16.334l5.207-5.238
      C37.558,9.888,38.163,8.175,37.962,6.497z M35.374,10.156l-5.441,5.44c-0.135,0.134-0.201,0.302-0.201,0.47V33.93
      c0,1.176-0.471,2.25-1.277,3.09l-0.336,0.336L24.12,22.814c-0.066-0.234-0.234-0.402-0.47-0.469c-0.067,0-0.101-0.035-0.168-0.035
      c-0.168,0-0.336,0.068-0.47,0.203l-4.301,4.23c-0.134,0.133-0.201,0.268-0.201,0.469l-0.202,6.18c0,0.201-0.067,0.504-0.302,0.705
      l-0.235,0.234l-2.923-7.555c-0.067-0.168-0.201-0.303-0.403-0.369l-7.29-2.787l0.202-0.201c0.101-0.102,0.37-0.303,0.706-0.303
      l6.215-0.201c0.168,0,0.336-0.068,0.437-0.201l4.267-4.265c0.167-0.168,0.235-0.403,0.167-0.638c-0.066-0.235-0.235-0.403-0.47-0.47
      l-14.58-3.996l0.336-0.336c0.807-0.806,1.915-1.276,3.057-1.276l17.873,0.034c0.168,0,0.336-0.067,0.47-0.201l5.577-5.541
      c0.873-0.873,2.082-1.343,3.325-1.276l0.538,0.034c0.672,0.034,1.209,0.571,1.275,1.209l0.068,0.638
      C36.752,7.94,36.315,9.216,35.374,10.156z"></path>
                              <g>
                                <g>
                                  <path d="M35.463,32.775h-1.612V4.293c0-0.323-0.215-0.538-0.538-0.538H6.443c-0.323,0-0.538,0.215-0.538,0.538v28.482H4.293
              c-0.322,0-0.537,0.215-0.537,0.537v2.15C3.756,35.785,3.971,36,4.293,36h31.17C35.785,36,36,35.785,36,35.463v-2.15
              C36,32.99,35.785,32.775,35.463,32.775z M6.98,4.831h25.795v27.945h-8.061v-5.912c0-0.322-0.215-0.537-0.538-0.537h-8.598
              c-0.322,0-0.538,0.215-0.538,0.537v5.912H6.98V4.831z M23.64,27.402v5.373h-3.225v-5.373H23.64z M19.34,27.402v5.373h-3.224
              v-5.373H19.34z M34.925,34.926H4.831V33.85h30.094V34.926z M13.966,6.443H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
              c0,0.322,0.215,0.538,0.537,0.538h4.299c0.323,0,0.538-0.215,0.538-0.538V6.98C14.504,6.658,14.289,6.443,13.966,6.443z
               M13.429,9.667h-3.225v-2.15h3.225V9.667z M13.966,12.354H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
              c0,0.322,0.215,0.537,0.537,0.537h4.299c0.323,0,0.538-0.215,0.538-0.537v-3.225C14.504,12.569,14.289,12.354,13.966,12.354z
               M13.429,15.579h-3.225v-2.15h3.225V15.579z M17.729,16.654h4.299c0.322,0,0.537-0.216,0.537-0.538v-3.225
              c0-0.322-0.215-0.537-0.537-0.537h-4.299c-0.322,0-0.537,0.215-0.537,0.537v3.225C17.191,16.438,17.406,16.654,17.729,16.654z
               M18.266,13.429h3.225v2.15h-3.225V13.429z M25.789,16.654h4.3c0.322,0,0.537-0.216,0.537-0.538v-3.225
              c0-0.322-0.215-0.537-0.537-0.537h-4.3c-0.322,0-0.537,0.215-0.537,0.537v3.225C25.252,16.438,25.467,16.654,25.789,16.654z
               M26.326,13.429h3.225v2.15h-3.225V13.429z M17.729,22.564h4.299c0.322,0,0.537-0.215,0.537-0.537v-3.224
              c0-0.323-0.215-0.538-0.537-0.538h-4.299c-0.322,0-0.537,0.215-0.537,0.538v3.224C17.191,22.35,17.406,22.564,17.729,22.564z
               M18.266,19.341h3.225v2.149h-3.225V19.341z M25.789,22.564h4.3c0.322,0,0.537-0.215,0.537-0.537v-3.224
              c0-0.323-0.215-0.538-0.537-0.538h-4.3c-0.322,0-0.537,0.215-0.537,0.538v3.224C25.252,22.35,25.467,22.564,25.789,22.564z
               M26.326,19.341h3.225v2.149h-3.225V19.341z M13.966,18.266H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
              c0,0.322,0.215,0.537,0.537,0.537h4.299c0.323,0,0.538-0.215,0.538-0.537v-3.225C14.504,18.48,14.289,18.266,13.966,18.266z
               M13.429,21.49h-3.225v-2.149h3.225V21.49z M17.729,10.742h4.299c0.322,0,0.537-0.215,0.537-0.537V6.98
              c0-0.322-0.215-0.537-0.537-0.537h-4.299c-0.322,0-0.537,0.215-0.537,0.537v3.225C17.191,10.527,17.406,10.742,17.729,10.742z
               M18.266,7.518h3.225v2.15h-3.225V7.518z M25.789,10.742h4.3c0.322,0,0.537-0.215,0.537-0.537V6.98
              c0-0.322-0.215-0.537-0.537-0.537h-4.3c-0.322,0-0.537,0.215-0.537,0.537v3.225C25.252,10.527,25.467,10.742,25.789,10.742z
               M26.326,7.518h3.225v2.15h-3.225V7.518z M16.653,25.252h6.449c0.322,0,0.537-0.215,0.537-0.537s-0.215-0.537-0.537-0.537h-6.449
              c-0.322,0-0.537,0.215-0.537,0.537S16.331,25.252,16.653,25.252z"></path>
                                </g>
                              </g>
                            </svg> </span>Hotels </a></li>
                    </ul>
                  </div>
                  <!-- END: CATEGORY TAB -->
                </div>
                <div class="col-md-12 all-search-box">
                  <!-- BEGIN: TAB PANELS -->
                  <div class="tab-content">
                    <!-- BEGIN: FLIGHT SEARCH -->
                    <div role="tabpanel" class="tab-pane active" id="flight">
                        <div class="form">
                            <div class="col-md-12 text-center m-t-10">
                                <div class="radio radio-success radio-inline" v-cloak>
                                    <input type="radio" id="inlineRadio1" value="R" v-model="triptype" name="radioInline" checked="">
                                    <label for="inlineRadio1" v-cloak>Round trip</label>
                                </div>
                                <div class="radio radio-success radio-inline" v-cloak>
                                    <input type="radio" id="inlineRadio2" value="O" v-model="triptype" name="radioInline">
                                    <label for="inlineRadio2" v-cloak>Oneway</label>
                                </div>
                                <div class="radio radio-success radio-inline" v-cloak>
                                    <input type="radio" id="inlineRadio3" value="M" v-model="triptype" name="radioInline">
                                    <label for="inlineRadio3" v-cloak>Multi city</label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="flx_sec ar_direction" v-show="triptype !='M'">
                                <div class="col-md-2  col-sm-6 col-xs-12 search-col-padding">
                                    <flightserch id="Cityfrom1" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                    <a class="change-destination" v-on:click="swapLocations(1)"></a>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                    <flightserch id="Cityto1" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="0"></flightserch>
  
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                    <input id="deptDate01" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                    <a class="change-date"></a>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding" v-if="triptype !='M'" v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                                    <input id="retDate" :disabled="triptype == 'O'" value="" readonly="readonly" class="calendar" type="text" :placeholder="placeholderReturnDate" />
                                </div>
  
                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                    <div class="travellersDropdown flt">
                                        <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                                            <input class="form-control" v-model="Totaltravaller" :placeholder="Totaltravaller" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                                        </div>
                                        <div class="travelerSelectWindow active" v-show="travellerdisply">
                                            <div id="travelRoundtrip">
                                                <div class="travelDropdown">
                                                    <div class="section-pass ar_direction" v-cloak>
                                                        <fieldset>
                                                            <label v-cloak>Adults</label>
                                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                                                    <select v-model="selected_adult"
                                                                        class="elmAdult _apxSelection"
                                                                        id="adultdrp"
                                                                        v-on:change="setCHDINFTravellers"
                                                                        v-cloak>
                                                                        <option v-for="adult in adults"
                                                                            :value="adult.value"
                                                                            v-cloak>
                                                                            {{adult.value}}
  
                                                                        </option>
                                                                    </select>
                                                                </span></div>
                                                            <span class="ageRange" v-cloak>(12+ yrs)</span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="section-pass ar_direction">
                                                        <fieldset v-cloak>
                                                            <label>Children</label>
                                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                                                    <select v-model="selected_child"
                                                                        class="elmChild _apxSelection"
                                                                        id="childdrp"
                                                                        v-on:change="SetInfantTravellers"
                                                                        v-cloak>
                                                                        <option
                                                                            v-for="child in children"
                                                                            :value="child.value"
                                                                            v-cloak>
                                                                            {{child.value}}
                                                                        </option>
                                                                    </select>
                                                                </span></div>
                                                            <span class="ageRange" v-cloak>(2-12 yrs)</span>
                                                        </fieldset>
                                                    </div>
                                                    <div class="section-pass ar_direction">
                                                        <fieldset v-cloak>
                                                            <label>Infant</label>
                                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                                                    <select v-model="selected_infant"
                                                                        id="infantdrp"
                                                                        v-on:change="setTravelInfo"
                                                                        class="elmInfant _apxSelection"
                                                                        v-cloak>
                                                                        <option
                                                                            v-for="infant in infants"
                                                                            :value="infant.value"
                                                                            v-cloak>
                                                                            {{infant.value}}
  
                                                                        </option>
                                                                    </select>
                                                                </span></div>
                                                            <span class="ageRange" v-cloak>Under 2 yrs</span>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="classSec" v-cloak>
                                                <label v-cloak>Class</label>
                                                <div class="custom-select-v3 lg travel-type">
                                                    <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo" v-cloak>
                                                        <option v-for="cabin in cabinclass"
                                                            :value="cabin.value">{{cabin.text}}</option>
                                                    </select>
                                                </div>
                                            </div>
  
                                            <div class="closeDropdown" v-on:click="showhidetraveller">
                                                <span class="closeBtn closeLink" v-cloak>Done</span> </div>
                                        </div>
                                    </div>
                                </div>
  
                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding htlbtn">
                                    <button type="submit" class="search-button " v-on:click="SearchFlight" v-cloak>SEARCH</button>
                                </div>
                            </div>
                            <div class="multilegSec" v-show="triptype =='M'">
                                <div class="multiSec">
                                  <h4>Trip 1</h4>
                                  <div class="flx_sec ar_direction">
                                      <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                          <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="1">
                                          </flightserch>
                                      </div>
                                      <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                          <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
    
                                      </div>
                                      <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                          <input id="txtLeg1Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                          <a class="change-date"></a>
                                      </div>
                                  </div>
                                </div>
                                <div class="multiSec">
                                    <h4 v-cloak>Trip 2 </h4>
                                    <div class="flx_sec ar_direction">
                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="2">
                                            </flightserch>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="2">
                                            </flightserch>
  
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                            <input id="txtLeg2Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                            <a class="change-date"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="multiSec" v-if="(legcount>2)">
                                    <h4 v-cloak>Trip 3 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(3)" v-if="legcount==3"></i></h4>
                                    <div class="flx_sec ar_direction">
                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="3">
                                            </flightserch>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="3">
                                            </flightserch>
  
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                            <input id="txtLeg3Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                            <a class="change-date"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="multiSec" v-if="(legcount>3)">
                                    <h4 v-cloak>Trip 4 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(4)" v-if="legcount==4"></i></h4>
                                    <div class="flx_sec ar_direction">
                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="4">
                                            </flightserch>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="4">
                                            </flightserch>
  
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                            <input id="txtLeg4Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                            <a class="change-date"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="multiSec" v-if="(legcount>4)">
                                    <h4 v-cloak>Trip 5 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(5)" v-if="legcount==5"></i></h4>
                                    <div class="flx_sec ar_direction">
                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="5">
                                            </flightserch>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="5">
                                            </flightserch>
  
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                            <input id="txtLeg5Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                            <a class="change-date"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="multiSec" v-if="(legcount>5)">
                                    <h4 v-cloak>Trip 6 <i class="fa fa-times-circle pull-right" v-on:click="DeleteLeg(6)" v-if="legcount==6"></i></h4>
                                    <div class="flx_sec ar_direction">
                                        <div class="col-md-4  col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="6">
                                            </flightserch>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                            <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="6">
                                            </flightserch>
  
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                            <input id="txtLeg6Date" readonly="readonly" class="calendar" type="text" :placeholder="placeholderDepartureDate" />
                                            <a class="change-date"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="add_multi_sec" v-if="legcount!=6">
                                    <button v-on:click="AddNewLeg();" v-cloak> Add up to
                                        {{6-legcount}}
                                        <i class="fa fa-plus-circle"></i></button>
                                </div>
                                <div class="multiLast flx_sec ar_direction">
                                  <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                      <div class="form_sec en_dwn">
                                          <select class="form-control" v-model="selected_adult" v-on:change="setCHDINFTravellers">
                                              <option v-for="adult in adults" :value="adult.value"
                                                  v-cloak>
                                                  {{adult.text}}
  
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                      <div class="form_sec en_dwn">
                                          <select class="form-control" v-model="selected_child" v-on:change="setCHDINFTravellers">
                                              <option v-for="child in children" :value="child.value"
                                                  v-cloak>
                                                  {{child.text}}
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                      <div class="form_sec en_dwn">
                                          <select class="form-control" v-model="selected_infant" v-on:change="SetInfantTravellers">
                                              <option v-for="infant in infants" :value="infant.value"
                                                  v-cloak>
                                                  {{infant.text}}
  
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                      <div class="form_sec en_dwn">
                                          <select class="form-control " v-model="selected_cabin" v-on:change="setTravelInfo">
                                              <option v-for="cabin in cabinclass" :value="cabin.value"
                                                  v-cloak>{{cabin.text}}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                                <div class="multiLast">
                                    <div class="col-md-3 col-sm-6 col-xs-12 search-col-padding htlbtn mrg2">
                                        <button type="submit" class="search-button " v-on:click="MultiSearchFlight" v-cloak>SEARCH
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advance_search" style="display: none;">
                            <div class="advSearch"><span v-on:click='advncedsearch = !advncedsearch' v-cloak>Advance search<i class="fa fa-plus-circle"
                                        v-bind:class="{ 'fa-minus-circle': advncedsearch }"></i></span>
                            </div>
                            <div class="advSearchView ar_direction" v-show="advncedsearch">
                                <div class="row ar_flx">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-3">
                                        <vue-multiselect v-model="selectedAirline" id="ajax" label="label" track-by="code" placeholder="Preferred Airline" open-direction="bottom" :options="Airlineresults" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="true"
                                            :close-on-select="false" :options-limit="300" :limit="4" :max-height="600" :show-no-results="false" :max="4" :hide-selected="true" @search-change="asyncFind">
                                            <template slot="tag" slot-scope="{ option, remove }" v-cloak><span class="custom__tag"><span
                                                        v-cloak>{{ option.label }}</span><span
                                                        class="custom__remove"
                                                        @click="remove(option)"><i
                                                            class="fa fa-remove"></i></span></span></template>
                                            <template slot="clear" slot-scope="props">
                                                <div class="multiselect__clear"
                                                    v-if="selectedAirline.length"
                                                    @mousedown.prevent.stop="clearAll(props.search)">
                                                </div>
                                            </template><span slot="noResult">Oops! No elements found.
                                                Consider changing the search query.</span>
                                            <span slot="maxElements">Maximum Airline Options Selected
                                            </span>
                                        </vue-multiselect>
  
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-3">
                                        <label class="direct" v-cloak>{{Direct_flight_option_label}}
                                            <input type="checkbox" v-model="direct_flight">
                                            <span class="checkMark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END: FLIGHT SEARCH -->
                    <!-- START: Flight-HOTEL SEARCH -->
                    <div role="tabpanel" class="tab-pane" id="hotel">
                        <hotel-search inline-template :key="hotelInit">
                            <div>
                                <div class="form ar_direction">
                                    <div class="hotelSearch flx_sec ar_direction">
                                        <div class="col-md-4 col-sm-12 col-xs-12 search-col-padding">
                                            <div class="input-group">
                                                <div class="autocomplete">
                                                    <input id="txtCity" type="text" class="form-control ui-autocomplete-input" :placeholder="Hotel_city_placeholder" autocomplete="off" style="padding-right: 20px;" v-model="keywordSearch" @input="onKeyUpAutoCompleteEvent(keywordSearch)" @keydown.down="down"
                                                        @keydown.up="up" @keydown.tab="isCompleted=false" @keydown.esc="isCompleted=false" @keydown.enter="updateResults(autoCompleteResult[highlightIndex])" @click="onClickAutoCompleteEvent">
                                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                    <ul ref="searchautocomplete" class="autocomplete-results" v-if="isCompleted&&autoCompleteResult.length!=0">
                                                        <li ref="options" :class="{'autocomplete-result-active' : index == highlightIndex}" class="autocomplete-result" v-for="(item,index) in autoCompleteResult" :key="index" @click="updateResults(item)" v-cloak>
                                                            {{ item.label }}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
  
                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                            <input id="txtCheckInDate" class="calendar" type="text" placeholder="Check In" v-model="checkIn" />
  
                                            <a class="change-date" href="#"></a>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                            <input id="txtCheckOutDate" class="calendar" type="text" placeholder="Check Out" v-model="checkOut" />
  
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                            <div class="kmsliderSec">
                                                <label class="within_sec" style="font-size: 12px !important;font-weight: 400 !important;">{{Search_range_label}}</label>
                                                <div id="rangeSlider"></div>
                                                <label id="slider-step-value" v-cloak>{{KMrange}}
                                                    {{rangeLabel}}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                            <div class="travellersDropdown flt">
                                                <div class="custom-select-v3 lg" v-on:click="showroom = !showroom">
                                                    <input :value="numberOfRooms+' '+(numberOfRooms>1?roomsLabel:roomLabel)" type="button" class="form-control txtelips">
                                                </div>
                                                <div class="travelerSelectWindow active" v-show="showroom">
                                                    <div id="travelRoundtrip">
                                                        <div class="travelDropdown"></div>
                                                    </div>
                                                    <div class="classSec">
                                                        <label class="widthSec mrg10" v-cloak>{{roomLabel}}</label>
                                                        <div class="custom-select-v3 lg widthSec">
                                                            <select v-model.number="numberOfRooms" id="classType">
                                                                <option v-for="(room, index) in 5"
                                                                    :key="index" :value="index+1">
                                                                    {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="classSec">
                                                        <label class="widthSec mrg10">Nationality</label>
                                                        <div class="custom-select-v3 lg widthSec">
                                                            <select id="classType" v-model="nationality">
                                                                <option :value="item.code"
                                                                    v-for="(item, index) in countries"
                                                                    :key="index">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="classSec">
                                                        <label class="widthSec mrg10">Country of
                                                            Residency</label>
                                                        <div class="custom-select-v3 lg widthSec">
                                                            <select id="classType" v-model="countryOfResidence">
                                                                <option :value="item.code"
                                                                    v-for="(item, index) in countries"
                                                                    :key="index">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="closeDropdown">
                                                        <span class="closeBtn closeLink" v-on:click="showroom = !showroom">Done</span>
                                                    </div>
                                                </div>
                                            </div>
  
  
  
  
  
  
  
  
  
                                        </div>
                                    </div>
  
                                    <hotel-rooms :child-label="childLabel" :children-label="childrenLabel" :adult-label="adultLabel" :adults-label="adultsLabel" :age-label="ageLabel" :ages-label="agesLabel" :room-label="roomLabel" v-for="(room, index) in parseInt(numberOfRooms)" :key="index"
                                        :room-id="index" @get-room-details="getRoomDetails" inline-template>
                                        <div class="hotlsSec flx_sec ar_direction">
                                            <div class="col-md-4 col-sm-12 ">
                                                <span class="rooms" v-cloak><i class="fa fa-bed"
                                                        aria-hidden="true"
                                                        style="font-size:15px;margin-right:5px;"></i>{{roomLabel}}
                                                    {{roomId+1}}</span>
  
                                            </div>
                                            <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                <div class="form_sec en_dwn">
                                                    <select class="form-control" v-model.number="selectedAdults">
                                                        <option v-for="(adult, index) in adults"
                                                            :value="adult.value" v-cloak>{{adult.value}}
                                                            {{adult.value==1? adultLabel: adultsLabel}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                                <div class="form_sec en_dwn">
                                                    <select class="form-control" v-model.number="selectedChildren">
                                                        <option v-for="(child, index) in children"
                                                            :value="child.value" v-cloak>{{child.value}}
                                                            {{child.value==1? childLabel: childrenLabel}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div v-for="(selectedChild, index) in parseInt(selectedChildren)" :key="index" class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage">
                                                <div class="form_sec en_dwn">
                                                    <select class="form-control" v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                                        <option
                                                            v-for="(childAge, index) in childrenAges"
                                                            :value="childAge.value" v-cloak>
                                                            {{childAge.value}}
                                                            {{childAge.value==1? ageLabel: agesLabel}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </hotel-rooms>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding htlbtn">
                                            <button type="submit" class="search-button" @click="searchHotels" v-cloak>{{searchBtnLabel.toUpperCase()}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
  
                    <div class="clearfix"></div>
                    </form>
                </div>
                </hotel-search>
                </div>
                <!-- END: TAB PANE -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
   
    <section id="intro_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <h2>About <span>Us</span></h2>
            <h3>{{aboutUsContent.Subtitle}}</h3>
            <p v-html="aboutUsContent.About_Us_Content"></p>
            <a href="about-us.html" class="btn1 black">View More</a>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-12">
            <figure> <img :src="aboutUsContent.Description_Image" alt=""> </figure>
          </div>
        </div>
      </div>
    </section>
    <section id="mn-ser-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 title">
            <h2>Our <span>Services</span></h2>
          </div>
        </div>
        <div class="row flex">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mn-ser-box nonebrdr" v-for="item in Services">
            <div class="svg-wrap"> <img :src="item.Image" alt=""> </div>
            <h4>{{item.Title}}</h4>
            <p v-html="item.Content"></p>
          </div>
        </div>
      </div>
    </section>
    <section id="why-choose-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 title">
            <h2>Why <span>Choose</span></h2>
          </div>
        </div>
        <div class="row flex">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-box">
            <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90"
                enable-background="new 0 0 95 90" xml:space="preserve">
                <g>
                  <path d="M88.691,16.927h-3.715l0.004-6.722c0.002-4.513-3.622-8.186-8.081-8.188L48.707,2c-0.001,0-0.002,0-0.003,0
		c-1.605,0-3.114,0.632-4.249,1.781L2.368,46.385C0.841,47.93,0,49.985,0,52.172s0.841,4.241,2.368,5.787l27.313,27.647
		C31.257,87.202,33.328,88,35.398,88c2.071,0,4.142-0.798,5.718-2.394l26.498-26.823c0.725-0.733,0.725-1.923,0-2.655
		c-0.725-0.734-1.899-0.734-2.624,0L38.492,82.951c-1.706,1.726-4.481,1.726-6.186,0L4.992,55.303
		c-0.826-0.836-1.281-1.948-1.281-3.131s0.455-2.295,1.281-3.132L47.079,6.438c0.434-0.439,1.011-0.682,1.625-0.682h0.001
		l28.191,0.016c2.412,0.001,4.374,1.989,4.373,4.431l-0.009,15.739h-8.357c-0.72,0-1.371-0.298-1.843-0.777
		c0.776-0.337,1.504-0.823,2.137-1.464c2.667-2.7,2.667-7.092,0-9.791c-2.667-2.7-7.006-2.7-9.673,0
		c-2.666,2.699-2.666,7.091,0,9.791c0.988,1,2.208,1.629,3.485,1.889c0.908,2.399,3.207,4.109,5.894,4.109h8.355l-0.005,9.004
		c0,0.622-0.239,1.205-0.674,1.644l-5.094,5.157c-0.725,0.734-0.725,1.923,0,2.657s1.899,0.733,2.624,0l5.095-5.157
		c1.133-1.148,1.759-2.674,1.76-4.298l0.005-9.006h3.722c3.479,0,6.309-2.864,6.309-6.386C95,19.792,92.17,16.927,88.691,16.927z
		 M66.148,16.565c0.61-0.618,1.412-0.926,2.213-0.926s1.603,0.309,2.213,0.926c0.192,0.196,0.352,0.413,0.483,0.641
		c-2.036,0.632-3.637,2.282-4.222,4.361c-0.246-0.138-0.479-0.311-0.688-0.522C64.929,19.809,64.929,17.8,66.148,16.565z
		 M88.691,25.942h-3.72l0.003-5.259h3.717c1.433,0,2.598,1.18,2.598,2.629S90.124,25.942,88.691,25.942z" />
                  <path d="M29.95,49.388c0.229,0.832,0.974,1.375,1.786,1.375c0.165,0,0.333-0.021,0.499-0.068l19.047-5.367
		c0.988-0.278,1.565-1.314,1.291-2.313c-0.275-0.999-1.297-1.583-2.285-1.306l-19.048,5.366
		C30.253,47.354,29.675,48.389,29.95,49.388z" />
                  <path d="M38.334,51.866c-1.034,1.047-1.603,2.437-1.603,3.917c0,1.479,0.569,2.869,1.603,3.915
		c1.067,1.079,2.467,1.619,3.868,1.619c1.401,0,2.802-0.54,3.869-1.619c2.134-2.159,2.134-5.673,0-7.832
		C43.938,49.707,40.467,49.707,38.334,51.866z M43.447,57.042c-0.686,0.694-1.802,0.694-2.489,0
		c-0.333-0.336-0.515-0.784-0.515-1.26s0.183-0.923,0.515-1.26c0.344-0.347,0.794-0.521,1.245-0.521
		c0.451,0,0.901,0.174,1.244,0.521C44.133,55.217,44.133,56.348,43.447,57.042z" />
                  <path d="M46.99,40.684c2.133-2.16,2.133-5.672,0-7.832c-1.033-1.046-2.408-1.622-3.869-1.622
		c-1.461,0-2.835,0.576-3.868,1.622c-2.133,2.16-2.133,5.672,0,7.832c1.067,1.08,2.467,1.62,3.868,1.62S45.923,41.763,46.99,40.684z
		 M41.877,35.508c0.333-0.337,0.775-0.522,1.245-0.522c0.47,0,0.913,0.185,1.245,0.522c0.686,0.695,0.686,1.825,0,2.52
		s-1.803,0.695-2.489,0C41.191,37.333,41.191,36.203,41.877,35.508z" />
                  <path d="M18.455,45.507c-0.725-0.733-1.899-0.733-2.625,0l-5.272,5.337c-0.348,0.353-0.543,0.83-0.543,1.328
		s0.195,0.976,0.543,1.328l23.529,23.817c0.362,0.365,0.837,0.549,1.312,0.549s0.949-0.184,1.312-0.549L71.89,41.707
		c0.725-0.734,0.725-1.923,0-2.657L48.361,15.233c-0.348-0.352-0.82-0.55-1.312-0.55s-0.964,0.198-1.312,0.55L26.327,34.882
		c-0.725,0.734-0.725,1.923,0,2.657c0.724,0.733,1.899,0.733,2.624,0l18.099-18.321l20.905,21.161L35.399,73.332l-20.904-21.16
		l3.96-4.009C19.179,47.43,19.18,46.24,18.455,45.507z" />
                  <path d="M71.551,50.265c-0.488,0-0.967,0.201-1.312,0.551c-0.346,0.349-0.544,0.834-0.544,1.327
		c0,0.494,0.198,0.979,0.544,1.328c0.345,0.35,0.823,0.551,1.312,0.551s0.966-0.201,1.312-0.551
		c0.346-0.349,0.544-0.834,0.544-1.328c0-0.493-0.198-0.979-0.544-1.327C72.517,50.466,72.039,50.265,71.551,50.265z" />
                  <path d="M23.702,42.85c0.347-0.349,0.544-0.832,0.544-1.328c0-0.494-0.197-0.977-0.544-1.328
		c-0.345-0.35-0.822-0.55-1.312-0.55c-0.488,0-0.967,0.201-1.312,0.55c-0.346,0.349-0.544,0.834-0.544,1.328
		c0,0.496,0.198,0.979,0.544,1.328c0.346,0.352,0.823,0.55,1.312,0.55C22.879,43.4,23.356,43.201,23.702,42.85z" />
                </g>
              </svg> </div>
            <h4>{{Choose.Competitive_Pricing_Title}}</h4>
            <p v-html="Choose.Competitive_Pricing_Content"></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-box">
            <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90"
                enable-background="new 0 0 95 90" xml:space="preserve">
                <g>
                  <g>
                    <g>
                      <path d="M58.86,11.59c-9.789-4.947-21.582-3.056-29.343,4.707c-9.021,9.021-9.924,23.404-2.1,33.458
				c0.276,0.354,0.689,0.54,1.108,0.54c0.3,0,0.604-0.096,0.86-0.295c0.611-0.476,0.721-1.356,0.246-1.969
				c-6.956-8.938-6.152-21.729,1.87-29.751c6.903-6.903,17.39-8.585,26.095-4.186c0.691,0.35,1.535,0.072,1.886-0.62
				C59.831,12.783,59.552,11.939,58.86,11.59z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M70.061,22.792c-0.349-0.692-1.192-0.969-1.885-0.62c-0.691,0.349-0.969,1.193-0.62,1.884
				c4.397,8.705,2.714,19.19-4.188,26.091c-8.022,8.021-20.813,8.825-29.751,1.87c-0.611-0.476-1.492-0.365-1.968,0.244
				c-0.477,0.613-0.366,1.493,0.245,1.969c4.579,3.564,10.057,5.316,15.517,5.316c6.526,0,13.029-2.505,17.94-7.416
				C73.111,44.371,75.003,32.581,70.061,22.792z" />
                    </g>
                  </g>
                  <g>
                    <g>
                      <path d="M66.438,17.45c-0.348-0.394-0.713-0.782-1.086-1.155c-0.372-0.372-0.76-0.737-1.153-1.084
				c-0.581-0.514-1.467-0.458-1.98,0.122c-0.512,0.581-0.458,1.467,0.122,1.979c0.351,0.31,0.696,0.635,1.028,0.967
				s0.657,0.677,0.967,1.028c0.277,0.314,0.664,0.474,1.052,0.474c0.33,0,0.66-0.116,0.929-0.352
				C66.896,18.917,66.949,18.03,66.438,17.45z" />
                    </g>
                  </g>
                  <path d="M80.539,36.728c0.935-1.535,0.935-3.44,0-4.975l-1.846-3.026c-0.242-0.398-0.337-0.872-0.265-1.333
		l0.549-3.495c0.282-1.781-0.45-3.545-1.907-4.606l-2.86-2.08c-0.377-0.275-0.646-0.676-0.757-1.131l-0.833-3.441
		c-0.422-1.749-1.771-3.097-3.52-3.52l-3.441-0.833c-0.454-0.11-0.855-0.378-1.131-0.757l-2.08-2.86
		c-1.061-1.458-2.826-2.19-4.604-1.909l-3.497,0.549c-0.461,0.073-0.935-0.021-1.332-0.264l-3.026-1.846
		c-1.535-0.936-3.441-0.936-4.976,0l-3.026,1.845c-0.398,0.243-0.872,0.337-1.333,0.265l-3.494-0.55
		c-1.78-0.28-3.546,0.452-4.606,1.909L30.473,7.53c-0.275,0.378-0.676,0.647-1.131,0.757L25.9,9.12
		c-1.748,0.423-3.096,1.771-3.52,3.52l-0.833,3.442c-0.11,0.454-0.378,0.856-0.757,1.131l-2.86,2.081
		c-1.458,1.061-2.189,2.824-1.909,4.606l0.55,3.496c0.073,0.461-0.022,0.934-0.265,1.332l-1.846,3.027
		c-0.935,1.535-0.935,3.44,0,4.975l1.846,3.026c0.243,0.398,0.337,0.872,0.264,1.333l-0.55,3.495c-0.28,1.78,0.452,3.545,1.91,4.606
		l2.859,2.08c0.378,0.275,0.647,0.677,0.757,1.132l0.833,3.44c0.423,1.749,1.772,3.098,3.52,3.521l1.438,0.348l-9.727,21.695
		c-0.207,0.461-0.149,0.998,0.15,1.405c0.299,0.407,0.794,0.621,1.295,0.563l7.826-0.937l4.509,6.464
		c0.264,0.38,0.695,0.602,1.15,0.602c0.043,0,0.088-0.002,0.132-0.006c0.503-0.048,0.942-0.362,1.149-0.822l9.933-22.16l1.259,0.768
		c0.767,0.467,1.627,0.701,2.487,0.701s1.72-0.234,2.488-0.701l1.305-0.795l9.944,22.188c0.207,0.461,0.646,0.774,1.149,0.822
		c0.044,0.004,0.087,0.006,0.131,0.006c0.456,0,0.887-0.222,1.15-0.602l4.509-6.464l7.826,0.937
		c0.501,0.059,0.997-0.155,1.296-0.562c0.299-0.408,0.357-0.945,0.15-1.405l-9.732-21.708l1.383-0.334
		c1.749-0.423,3.099-1.772,3.521-3.521l0.832-3.441c0.11-0.455,0.379-0.856,0.758-1.131l2.86-2.08
		c1.457-1.061,2.188-2.826,1.907-4.606l-0.549-3.496c-0.072-0.461,0.021-0.935,0.265-1.333L80.539,36.728z M32.274,85.264
		l-3.573-5.123c-0.296-0.426-0.803-0.653-1.317-0.591l-6.202,0.741l8.862-19.769c0.162,0.12,0.308,0.262,0.427,0.427l2.08,2.86
		c0.197,0.272,0.42,0.518,0.662,0.738l-4.665,10.405c-0.317,0.706,0,1.536,0.706,1.853c0.186,0.084,0.381,0.123,0.573,0.123
		c0.535,0,1.047-0.309,1.28-0.829l4.648-10.367c0.457,0.062,0.928,0.062,1.4-0.013l3.496-0.55c0.209-0.033,0.421-0.031,0.627,0.004
		L32.274,85.264z M73.876,80.291l-6.202-0.741c-0.517-0.063-1.021,0.165-1.317,0.591l-3.573,5.123l-9.009-20.098
		c0.188-0.026,0.382-0.026,0.572,0.004l3.494,0.551c0.492,0.076,0.982,0.073,1.457,0.003l4.65,10.376
		c0.233,0.521,0.745,0.829,1.281,0.829c0.191,0,0.386-0.039,0.572-0.122c0.707-0.316,1.024-1.147,0.707-1.854l-4.683-10.445
		c0.225-0.209,0.435-0.44,0.621-0.698l2.08-2.857c0.131-0.183,0.291-0.336,0.472-0.462L73.876,80.291z M78.144,35.267l-1.845,3.026
		c-0.589,0.966-0.816,2.112-0.641,3.229l0.549,3.496c0.116,0.734-0.186,1.463-0.787,1.901L72.56,49
		c-0.916,0.666-1.568,1.64-1.834,2.741l-0.833,3.441c-0.174,0.721-0.73,1.278-1.452,1.452l-3.441,0.833
		c-1.102,0.267-2.075,0.917-2.741,1.832l-2.08,2.86c-0.436,0.603-1.165,0.904-1.9,0.789l-3.495-0.551
		c-1.117-0.176-2.264,0.052-3.23,0.641l-3.025,1.845c-0.633,0.387-1.42,0.387-2.053,0l-3.026-1.846
		c-0.752-0.458-1.616-0.698-2.489-0.698c-0.247,0-0.495,0.02-0.741,0.059l-3.496,0.551c-0.735,0.115-1.463-0.188-1.901-0.789
		L32.74,59.3c-0.667-0.915-1.639-1.565-2.74-1.832l-3.442-0.834c-0.722-0.175-1.278-0.73-1.453-1.453l-0.833-3.442
		c-0.266-1.099-0.917-2.073-1.833-2.739l-2.86-2.08c-0.602-0.438-0.903-1.166-0.787-1.901l0.55-3.495
		c0.176-1.117-0.052-2.264-0.641-3.23l-1.845-3.026c-0.386-0.633-0.386-1.42,0-2.054l1.846-3.026
		c0.588-0.965,0.816-2.112,0.64-3.229l-0.55-3.496c-0.116-0.735,0.187-1.464,0.789-1.901l2.86-2.081
		c0.916-0.666,1.566-1.639,1.833-2.74l0.833-3.442c0.175-0.722,0.732-1.278,1.453-1.453l3.442-0.833
		c1.101-0.267,2.074-0.917,2.74-1.833l2.08-2.86c0.438-0.602,1.166-0.904,1.901-0.789l3.495,0.55
		c1.118,0.176,2.264-0.052,3.23-0.641l3.025-1.845c0.633-0.386,1.42-0.386,2.053,0l3.027,1.845c0.965,0.589,2.111,0.817,3.229,0.641
		l3.496-0.55c0.734-0.116,1.464,0.186,1.901,0.788l2.08,2.86c0.666,0.916,1.64,1.567,2.739,1.833l3.442,0.833
		c0.722,0.175,1.278,0.731,1.454,1.454l0.832,3.441c0.267,1.101,0.917,2.074,1.832,2.741l2.86,2.08
		c0.602,0.437,0.904,1.166,0.789,1.901l-0.551,3.495c-0.176,1.117,0.052,2.264,0.641,3.229l1.845,3.026
		C78.53,33.847,78.53,34.634,78.144,35.267z" />
                  <g>
                    <g>
                      <path d="M63.912,29.876c-0.31-0.952-1.118-1.616-2.112-1.734l-8.438-1l-3.56-7.717
				c-0.419-0.909-1.301-1.473-2.302-1.473c-1,0-1.882,0.564-2.301,1.473l-3.56,7.717l-8.439,1.001
				c-0.994,0.118-1.803,0.782-2.112,1.733c-0.309,0.951-0.044,1.964,0.69,2.644l6.239,5.77l-1.656,8.337
				c-0.195,0.98,0.187,1.956,0.997,2.543c0.446,0.324,0.964,0.489,1.486,0.489c0.424,0,0.85-0.108,1.241-0.327l7.416-4.151
				l7.416,4.151c0.874,0.489,1.919,0.427,2.728-0.162c0.811-0.587,1.191-1.563,0.996-2.543l-1.655-8.337l6.239-5.77
				C63.958,31.841,64.221,30.828,63.912,29.876z M54.502,36.764c-0.357,0.332-0.518,0.825-0.424,1.304l1.696,8.53l-7.59-4.249
				c-0.213-0.119-0.449-0.179-0.685-0.179s-0.472,0.06-0.685,0.179l-7.589,4.249l1.695-8.53c0.096-0.479-0.065-0.972-0.423-1.304
				l-6.385-5.904l8.637-1.024c0.484-0.057,0.904-0.362,1.109-0.805l3.642-7.897l3.643,7.897c0.205,0.443,0.624,0.749,1.109,0.805
				l8.635,1.024L54.502,36.764z" />
                    </g>
                  </g>
                </g>
              </svg> </div>
            <h4>{{Choose.Award_Winning_Service_Title}}</h4>
            <p v-html="Choose.Award_Winning_Service_Content"></p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 why-box">
            <div class="svg-wrap"> <svg x="0px" y="0px" width="95px" height="90px" viewBox="0 0 95 90"
                enable-background="new 0 0 95 90" xml:space="preserve">
                <g>
                  <path
                    d="M76.003,67.092c-0.664-0.352-1.486-0.098-1.838,0.566c-0.08,0.151-0.161,0.302-0.243,0.451h-5.447
		c0.602-1.643,1.114-3.355,1.532-5.126c0.172-0.73-0.28-1.462-1.011-1.635c-0.729-0.172-1.462,0.279-1.635,1.01
		c-0.47,1.989-1.077,3.916-1.808,5.751H55.112c0.743-4.724,1.153-9.863,1.214-14.953h6.807c0.75,0,1.359-0.609,1.359-1.359
		s-0.609-1.359-1.359-1.359h-6.807c-0.068-5.583-0.554-11.224-1.44-16.313h10.113c0.622,1.418,1.175,2.91,1.65,4.472
		c0.179,0.586,0.718,0.964,1.3,0.964c0.13,0,0.265-0.02,0.396-0.06c0.718-0.219,1.123-0.979,0.904-1.697
		c-0.387-1.269-0.822-2.496-1.301-3.679h5.183c0.138,0.225,0.275,0.45,0.408,0.679c0.251,0.435,0.708,0.679,1.178,0.679
		c0.23,0,0.465-0.059,0.679-0.183c0.65-0.375,0.871-1.208,0.495-1.857c-0.177-0.307-0.36-0.61-0.546-0.911
		c-0.063-0.366-0.273-0.681-0.565-0.884c-3.086-4.688-7.222-8.635-12.068-11.491c-5.617-3.312-12.054-5.063-18.61-5.063
		c-2.861,0-5.71,0.331-8.47,0.982c-0.73,0.172-1.183,0.905-1.01,1.635c0.172,0.731,0.905,1.183,1.636,1.011
		c0.882-0.208,1.774-0.378,2.673-0.516c-2.218,2.927-3.922,7.675-5.097,13.2H22.669c-0.211-0.051-0.427-0.049-0.631,0h-5.124
		c0.337-0.45,0.685-0.892,1.045-1.325c0.48-0.578,0.401-1.435-0.176-1.915c-0.578-0.479-1.435-0.401-1.915,0.176
		c-0.879,1.058-1.694,2.162-2.444,3.304c-0.297,0.206-0.507,0.525-0.568,0.896c-3.543,5.756-5.458,12.433-5.458,19.254
		c0,9.804,3.817,19.021,10.75,25.953c6.932,6.933,16.149,10.75,25.953,10.75c13.645,0,26.085-7.499,32.468-19.571
		C76.92,68.266,76.666,67.443,76.003,67.092z M64.352,70.828c-1.589,3.246-3.578,6.125-5.873,8.447
		c-2.687,2.719-5.687,4.618-8.858,5.636c2.206-3.173,3.888-8.204,5.017-14.083H64.352z M54.363,31.406
		c-1.121-5.292-2.709-9.795-4.741-12.721c5.618,1.803,10.594,6.312,14.053,12.721H54.363z M61.332,22.498
		c3.877,2.285,7.262,5.325,9.955,8.908h-4.556c-1.943-3.946-4.413-7.3-7.254-9.921C60.105,21.803,60.725,22.14,61.332,22.498z
		 M38.421,25.097c1.685-4.562,3.809-7.285,5.68-7.285c2.192,0,4.58,3.511,6.391,9.393c0.404,1.316,0.772,2.722,1.104,4.201H36.611
		C37.129,29.077,37.736,26.953,38.421,25.097z M33.346,46.356c0.751,0.046,1.393-0.526,1.438-1.276
		c0.233-3.88,0.669-7.585,1.28-10.956h16.079c0.892,4.908,1.396,10.48,1.464,16.313H46.82c-0.75,0-1.359,0.608-1.359,1.359
		c0,0.75,0.609,1.359,1.359,1.359h6.789c-0.063,5.3-0.484,10.385-1.23,14.953H46.82c-0.75,0-1.359,0.608-1.359,1.359
		c0,0.75,0.609,1.359,1.359,1.359h5.063c-0.399,1.983-0.864,3.848-1.392,5.561c-1.811,5.881-4.199,9.393-6.391,9.393
		c-1.835,0-3.85-2.507-5.528-6.88c-0.269-0.701-1.055-1.051-1.756-0.782c-0.701,0.269-1.051,1.055-0.782,1.757
		c0.828,2.157,1.696,3.798,2.563,5.039c-6.108-1.957-11.348-7.1-14.763-14.093c0.692-0.064,1.234-0.646,1.234-1.354
		c0-0.75-0.609-1.359-1.359-1.359h-1.069c-1.769-4.471-2.833-9.553-2.987-14.953h2.697c0.75,0,1.359-0.609,1.359-1.359
		s-0.609-1.359-1.359-1.359h-2.698c0.166-5.786,1.386-11.38,3.559-16.313h10.096c-0.604,3.454-1.019,7.128-1.238,10.793
		C32.026,45.668,32.597,46.313,33.346,46.356z M10.147,53.156h6.788c0.141,5.267,1.097,10.343,2.791,14.953h-5.429
		C11.839,63.639,10.36,58.557,10.147,53.156z M20.261,34.125c-2.033,5-3.173,10.573-3.328,16.313h-6.788
		c0.233-5.78,1.943-11.403,4.929-16.313H20.261z M15.959,70.828h4.875c1.09,2.426,2.396,4.695,3.907,6.763
		c1.234,1.689,2.57,3.194,3.987,4.509C23.579,79.478,19.184,75.58,15.959,70.828z M59.416,82.146
		c0.336-0.31,0.668-0.628,0.996-0.961c2.824-2.858,5.172-6.365,6.96-10.357h4.892C68.975,75.699,64.535,79.565,59.416,82.146z" />
                  <path d="M21.562,28.435c0.236,0.168,0.514,0.253,0.79,0.253c0.282,0,0.564-0.088,0.803-0.262
		c0.412-0.301,10.072-7.473,10.072-16.05c0-5.997-4.878-10.875-10.875-10.875S11.477,6.378,11.477,12.375
		C11.477,21.13,21.15,28.14,21.562,28.435z M22.352,4.219c4.497,0,8.156,3.659,8.156,8.156c0,5.902-5.972,11.404-8.165,13.224
		c-2.195-1.79-8.148-7.199-8.148-13.224C14.195,7.878,17.854,4.219,22.352,4.219z" />
                  <path d="M27.789,12.375c0-0.75-0.609-1.359-1.359-1.359s-1.359,0.609-1.359,1.359c0,1.499-1.22,2.719-2.719,2.719
		s-2.719-1.22-2.719-2.719s1.22-2.719,2.719-2.719c0.75,0,1.359-0.609,1.359-1.359s-0.609-1.359-1.359-1.359
		c-2.998,0-5.438,2.439-5.438,5.438s2.439,5.438,5.438,5.438S27.789,15.373,27.789,12.375z" />
                  <path d="M76.727,38.203c-5.996,0-10.875,4.878-10.875,10.875c0,8.755,9.673,15.765,10.085,16.06
		c0.237,0.168,0.514,0.253,0.79,0.253c0.282,0,0.564-0.088,0.803-0.263c0.411-0.301,10.072-7.473,10.072-16.05
		C87.602,43.082,82.723,38.203,76.727,38.203z M76.718,62.302c-2.194-1.789-8.147-7.198-8.147-13.224
		c0-4.497,3.659-8.156,8.156-8.156s8.156,3.659,8.156,8.156C84.883,54.98,78.911,60.481,76.718,62.302z" />
                  <path d="M80.805,47.719c-0.75,0-1.359,0.609-1.359,1.359c0,1.499-1.22,2.719-2.719,2.719s-2.719-1.22-2.719-2.719
		s1.22-2.719,2.719-2.719c0.75,0,1.359-0.609,1.359-1.359s-0.609-1.359-1.359-1.359c-2.998,0-5.438,2.439-5.438,5.438
		s2.439,5.438,5.438,5.438s5.438-2.439,5.438-5.438C82.164,48.328,81.555,47.719,80.805,47.719z" />
                  <path d="M23.711,59.953c0,8.755,9.673,15.765,10.085,16.06c0.236,0.168,0.514,0.253,0.79,0.253
		c0.282,0,0.564-0.088,0.803-0.263c0.412-0.301,10.072-7.473,10.072-16.05c0-5.996-4.878-10.875-10.875-10.875
		S23.711,53.957,23.711,59.953z M34.586,51.797c4.497,0,8.156,3.659,8.156,8.156c0,5.902-5.972,11.403-8.165,13.224
		c-2.195-1.789-8.148-7.198-8.148-13.224C26.43,55.456,30.089,51.797,34.586,51.797z" />
                  <path d="M34.586,65.391c2.998,0,5.438-2.439,5.438-5.438c0-0.75-0.609-1.359-1.359-1.359s-1.359,0.609-1.359,1.359
		c0,1.499-1.22,2.719-2.719,2.719s-2.719-1.22-2.719-2.719s1.22-2.719,2.719-2.719c0.75,0,1.359-0.609,1.359-1.359
		s-0.609-1.359-1.359-1.359c-2.998,0-5.438,2.439-5.438,5.438S31.588,65.391,34.586,65.391z" />
                </g>
              </svg> </div>
            <h4>{{Choose.Worldwide_Coverage_Title}}</h4>
            <p v-html="Choose.Worldwide_Coverage_Content"></p>
          </div>
        </div>
      </div>
    </section>
    <section class="map-responsive">
        <iframe :src="Location.Map_Link"></iframe>
    </section>
</div>
  <footer :key="key">
    <footeritem :key="key" :item="0"></footeritem>
  </footer>
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>


  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/Aaliaholidays/js/hotel-search.js"></script>
  <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>


  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
  <script src="master/js/index.js?v=20211122000"></script>

</body>

</html>