<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aalia Holidays - Services</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link href="css/select2.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap" rel="stylesheet">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
<div id="servicepage" v-cloak>
<section class="inner_banner" :style="{ background: 'url(' +Banner.Banner_Image+ ')'}">
  <div class="banner_text">
    <h1 class="text-center">{{Banner.Title}}</h1>
  </div>
</section>
<div class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{{Banner.Breadcrumb_2}}</div>
  </div>
</div>
<section id="mn-ser-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 title">
        <h2>{{serviceContent.title}}</h2>
      </div>
    </div>
    <div class="row flex">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 mn-ser-box" v-for="item in Services">
        <div class="svg-wrap"><img :src="item.Image" alt="">
		</div>
        <h4>{{item.Title}}</h4>
        <p v-html="item.Content"></p>
      </div>
    </div>
  </div>
</section>
<section class="map-responsive">
  <iframe :src="Location.Map_Link"></iframe>
</section>
</div>
<footer :key="key">
  <footeritem :key="key" :item="2"></footeritem>
</footer>
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/bootstrap.min.js"></script>


<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/underscore-min.js?v=201904100000"></script>
<script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
<script src="Servicejs/service.js"></script>
</body>
</html>