/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
    width: 100%;
    position: absolute;
    bottom: -30px;
    float: left;
    display: block !important;
}
.owl-buttons {
    width: 100%;
    height: 100%;
}
.owl-pagination {
    text-align:center;
}
.owl-prev {
    /*float: left;*/

		width: 60px;
		height: 60px;
		line-height: 42px;
		color: #fff;
		font-size: 0px;
		opacity: 0.3;
		position: absolute;
		left: -15px;
		top: 50%;
		margin-top: -22px;
        display:none !important;
}
.owl-prev:after {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 25px;
	color: #000;
	line-height: 42px;
	transition: .4s;
}
#clients .owl-prev{
  left: -126px;
  top: 35%;
  display:none !important;
}
#clients .owl-prev:hover{
  opacity:1.5;
}
#clients .owl-prev:after {
  content: " ";
background:url(../../images/cli_prev.png) no-repeat 10px;
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
font-size: 25px;
color: #000;
line-height: 42px;
transition: .4s;
border-radius: 50%;
}
#clients .owl-next{
  right: -140px;
  top: 35%;
  display:none !important;
}
#clients .owl-next:hover{
  opacity:1.5;
}
#clients .owl-next:after {
  content: " ";
background:url(../../images/cli_next.png) no-repeat 10px;
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
font-size: 25px;
color: #000;
line-height: 42px;
transition: .4s;
border-radius: 50%;
}
.owl-next {
    /*float: right;*/

		width: 60px;
		height: 60px;
		line-height: 42px;
		color: #fff;
		border-radius: 50%;
		font-size: 0px;
		opacity: 0.3;
		position: absolute;
		right: -15px;
		top: 50%;
		margin-top: -22px;
        display:none !important;
}
.owl-next:after {
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 2px;
	right: 0px;
	font-size: 25px;
	color: #000;
	line-height: 42px;
	transition: .4s;
}


.clients .owl-prev {
	background: #fff;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 0.3;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
    display:none !important;
}

.clients .owl-prev:after {
	content: "\f104";
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	font-size: 25px;
	color: #000;
	line-height: 42px;
	transition: .4s;
}

.clients .owl-next {
	background: #fff;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 0.3;
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
    display:none !important;
}

.clients .owl-next:after {
	content: "\f105";
	font-family: 'FontAwesome';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 2px;
	right: 0px;
	font-size: 25px;
	color: #000;
	line-height: 42px;
	transition: .4s;
}

.clients .owl-prev:hover {
	background: #000;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 1;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
}

.clients .owl-next:hover {
	background: #000;
	border: 1px solid #000;
	width: 44px;
	height: 44px;
	line-height: 42px;
	color: #fff;
	border-radius: 50%;
	font-size: 0px;
	opacity: 1;
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -22px;
	transition: .4s;
}

.clients .owl-prev:hover:after ,
.clients .owl-next:hover:after {
	color: #fff;
	transition: .4s;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	/*width: 3%;
	height: 100%;
	position: relative;*/
	text-indent: -9999px;
	padding: 3px 10px;
	font-size: 12px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	    width: 14px;
    height: 14px;
	margin: 0px 3px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #b9b9b9;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:#e6362b;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}
@media only screen and (min-width: 200px) and (max-width: 1200px) {
#clients .owl-next{
  right: -50px;
}
#clients .owl-prev{
  left: -50px;
}
}
