/* Font Face CSS BOF
========================================================== */
@font-face {
	font-family: 'Adinda Melia';
	src: url('../fonts/Adinda Melia regular.eot');
	src: url('../fonts/Adinda Melia regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Adinda Melia regular.woff2') format('woff2'),  url('../fonts/Adinda Melia regular.woff') format('woff'),  url('../fonts/Adinda Melia regular.svg#Adinda Melia regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: "BinaryITC-Bold_0";
	src: url('../fonts/BinaryITC-Bold_0.woff') format('woff'), url('../fonts/BinaryITC-Bold_0.woff2') format('woff2'), url('../fonts/BinaryITC-Bold_0.svg#BinaryITC-Bold_0') format('svg'), url('../fonts/BinaryITC-Bold_0.eot'), url('../fonts/BinaryITC-Bold_0.eot?#iefix') format('embedded-opentype'), url('../fonts/BinaryITC-Bold_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*Bukra Fonts Family*/
@font-face {
	font-family: '29LT Bukra Light';
	src: url('../fonts/29LT Bukra Light.eot');
	src: url('../fonts/29LT Bukra Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/29LT Bukra Light.woff2') format('woff2'),  url('../fonts/29LT Bukra Light.woff') format('woff'),  url('../fonts/29LT Bukra Light.svg#29LT Bukra Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: '29LTBukra-Regular';
	src: url('../fonts/29LTBukra-Regular.eot');
	src: url('../fonts/29LTBukra-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/29LTBukra-Regular.woff2') format('woff2'),  url('../fonts/29LTBukra-Regular.woff') format('woff'),  url('../fonts/29LTBukra-Regular.svg#29LTBukra-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: '29LT Bukra Bold';
	src: url('../fonts/29LT Bukra Bold.eot');
	src: url('../fonts/29LT Bukra Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/29LT Bukra Bold.woff2') format('woff2'),  url('../fonts/29LT Bukra Bold.woff') format('woff'),  url('../fonts/29LT Bukra Bold.svg#29LT Bukra Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
/*DIN NEXTTM ARABIC Fonts Family*/
@font-face {
	font-family: 'DIN NEXTTM ARABIC ULTRALIGHT';
	src: url('../fonts/3 UltraLight.eot');
	src: url('../fonts/3 UltraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 UltraLight.woff2') format('woff2'),  url('../fonts/3 UltraLight.woff') format('woff'),  url('../fonts/3 UltraLight.svg#3 UltraLight') format('svg');
	font-weight: 250;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC LIGHT';
	src: url('../fonts/3 Light.eot');
	src: url('../fonts/3 Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Light.woff2') format('woff2'),  url('../fonts/3 Light.woff') format('woff'),  url('../fonts/3 Light.svg#3 Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC REGULAR';
	src: url('../fonts/3 Regular.eot');
	src: url('../fonts/3 Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Regular.woff2') format('woff2'),  url('../fonts/3 Regular.woff') format('woff'),  url('../fonts/3 Regular.svg#3 Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC MEDIUM';
	src: url('../fonts/3 Medium.eot');
	src: url('../fonts/3 Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Medium.woff2') format('woff2'),  url('../fonts/3 Medium.woff') format('woff'),  url('../fonts/3 Medium.svg#3 Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC BOLD';
	src: url('../fonts/3 Bold.eot');
	src: url('../fonts/3 Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Bold.woff2') format('woff2'),  url('../fonts/3 Bold.woff') format('woff'),  url('../fonts/3 Bold.svg#3 Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC BLACK';
	src: url('../fonts/3 Black.eot');
	src: url('../fonts/3 Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Black.woff2') format('woff2'),  url('../fonts/3 Black.woff') format('woff'),  url('../fonts/3 Black.svg#3 Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC HEAVY';
	src: url('../fonts/3 Heavy.eot');
	src: url('../fonts/3 Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Heavy.woff2') format('woff2'),  url('../fonts/3 Heavy.woff') format('woff'),  url('../fonts/3 Heavy.svg#3 Heavy') format('svg');
	font-weight: 750;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
