@media screen and (max-width: 480px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 100%!important;
		right: 0 !important;
	}
	.search-section .nav-tabs li a {
		font-size: 12px !important;
	}
	.search-section .nav-tabs2 li a {
		font-size: 17px !important;
	}
	.search-section .nav-tabs2 > li {
		width: 100%;
		text-align: right;
	}
	.service-icon svg {
		top: 8px !important;
		height: 24px !important;
	}
	.tab-content .col-xs-6 {
		width: 100%;
	}
	.change-destination {
		right: 0;
		top: 59px;
		left: 0;
		margin: 0 auto;
	}
	.travelerSelectWindow fieldset {
		padding: 0 0 15px 0;
	}
	.subscribe-form span label {
		cursor: pointer;
		font-size: 15px;
	}
	.subscribe-form .blue-btn {
		width: 100%;
	}
	footer .contact .cnt-inr p {
		font-size: 18px;
		line-height: 22px;
	}
	footer .contact .email {
		font-size: 18px;
	}
	footer .link ul li {
		font-size: 18px;
	}
	}
	@media screen and (max-width: 767px) {
	section {
		padding: 40px 0;
	}
	header .container {
		width: inherit;
	}
	/*=====  Navbar CSS BOF  ======*/
	.navbar-header {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-toggle {
		background-color: var(--blue-color);
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		margin: 16px 0;
		float: left;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: var(--white-color);
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: var(--red-color);
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 0;
		position: absolute;
		left: 15px;
		width: 70%;
		z-index: 999;
		padding: 0;
		background: var(--blue-color)!important;
		border: none;
	}
	.navbar-nav {
		margin: 0;
	}
	.nav > li {
		padding: 0;
		text-align: right;
		width: 100%;
		border-bottom: 1px solid #363f6d;
	}
	.nav > li:last-child {
		padding: 0px;
	}
	.nav > li > a {
		color: var(--white-color) !important;
		margin: 0;
		padding: 15px 20px;
	}
	.navbar-right {
		float: right !important;
		width: 100%;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.nav > li > a:focus, .nav > li > a:hover {
		text-decoration: none;
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.navbar-default .navbar-nav > .active > a svg, .navbar-default .navbar-nav > .active > a:focus svg, .navbar-default .navbar-nav > .active > a:hover svg {
		fill: var(--white-color);
	}
	.navbar-default .navbar-nav > li > a:hover svg, .navbar-default .navbar-nav > li > a:focus svg {
		fill: var(--white-color);
	}
	.navbar-right .dropdown-menu {
		left: 0;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: var(--white-color);
		font-weight: inherit;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
		padding: 8px 20px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: var(--red-color);
		background-color: transparent;
	}
	.navbar-default .navbar-nav .dropdown-menu {
		background-color: transparent;
		transition: none !important;
	}
	.carousel-caption {
		top: 15%;
		width: 100%;
	}
	.carousel-animate .hero {
		text-align: center;
		float: none;
		margin-right: 0
	}
	.carousel-animate .hero h1 {
		font-size: 40px;
		line-height: 70px;
	}
	.search-section .tab-content {
		padding: 0 5px;
	}
	.search-section .nav-tabs {
		display: inline-block;
		width: 100%;
	}
	.search-section .nav-tabs2 {
		display: inline-block;
	}
	.search-section .nav-tabs2 > li {
		margin: 10px 0 0 40px;
	}
	.search-section .nav-tabs li a {
		font-size: 18px;
	}
	.search-section .nav-tabs2 li a {
		font-size: 17px;
	}
	.or-txt {
		padding: 0 0 22px 0;
		width: 100%;
	}
	.search-section .form-control {
		font-size: 18px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 18px;
	}
	.col-lg-offset-4 {
		margin-right: 0;
	}
	.title h2, #newsletter-sec .nws-inr h2 {
		font-size: 24px;
	}
	.service-icon svg {
		height: 34px;
	}
	.add-btn {
		margin: 0 auto 0;
	}
	.wdt-2 {
		width: 100% !important;
	}
	.tab-content .m-t-60 {
		margin-top: 20px;
	}
	.desti-detail2 {
		text-align: center;
		width: 100%;
		padding: 10px 10px 5px;
	}
	.desti-detail2 h3 {
		font-family: "BinaryITC-Bold_0";
		color: var(--blue-color);
		font-size: 25px;
		width: 100%;
		padding-top: 5px;
	}
	.desti-detail2 h3 a {
		color: var(--blue-color);
	}
	.desti-detail2 .price {
		font-family: var(--din-bd);
		color: var(--red-color);
		font-size: 19px;
		width: 100%;
		text-transform: uppercase;
		display: inline-block;
		line-height: normal;
	}
	.desti-detail2 .price span {
		font-family: var(--din-rg);
		color: var(--paragraph-color);
		font-size: 11px;
		text-transform: none;
	}
	.desti-info2 {
		background: var(--blue-color);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 3;
		color: var(--white-color);
		padding: 30px 25px;
		visibility: hidden;
		transition: 0.5s all ease 0s;
		-webkit-transition: 0.5s all ease 0s;
		-moz-transition: 0.5s all ease 0s;
		-o-transition: 0.5s all ease 0s;
		opacity: 0;
		text-align: right;
	}
	.desti:hover:hover .desti-info2 {
		visibility: visible;
		opacity: 1;
		top: 0;
	}
	.desti-info2 h3 a {
		color: var(--white-color);
	}
	.desti-info2 h3 a:hover {
		color: var(--red-color);
	}
	.desti-info2 .price {
		color: var(--white-color);
	}
	.desti-info2 .price span {
		color: var(--white-color);
	}
	.desti-info2 .red-btn {
		color: var(--white-color);
		background: var(--red-color);
		overflow: hidden;
		border: none;
		width: 100%;
		padding: 4px 0;
		font-size: 15px;
		text-align: center;
		margin: 45% 0 0;
		border-radius: 5px;
	}
	.desti-info2 .red-btn::before {
		background: var(--white-color);
	}
	.desti-info2 .red-btn:hover {
		border: none;
		color: var(--red-color);
		text-decoration: none;
	}
	#journey-sec .jrn-box {
		padding: 20px 15px;
		border-bottom: 1px solid #ddd;
		margin: 0;
	}
	#journey-sec .bg-nn {
		background: none !important;
		border-bottom: none;
	}
	#journey-sec .bg-nn3 {
		background: none !important;
	}
	#serv-sec {
		min-height: auto;
	}
	#serv-sec::before {
		width: 100%;
	}
	#serv-sec h2 {
		font-size: 28px;
		line-height: 40px;
	}
	#serv-sec p {
		font-size: 20px;
		line-height: 28px;
		padding-top: 10px;
	}
	#newsletter-sec::before {
		width: 100%;
		top: 0;
	}
	#newsletter-sec .nws-inr {
		margin: 100px 0 0;
	}
	#newsletter-sec .nws-inr p {
		font-size: 18px;
	}
	.subscribe-form {
		padding: 30px 0 0;
	}
	.subscribe-form label {
		font-family: var(--din-rg);
		font-size: 20px;
	}
	footer .contact .email, footer .contact .phone {
		text-align: right;
	}
	footer .contact .cnt-inr h2 {
		font-size: 25px;
	}
	.p-l {
		padding-right: 0;
	}
	footer .inner {
		padding: 20px 0;
	}
	footer .link h4 {
		font-size: 16px;
		margin: 20px 0;
		padding-bottom: 0;
	}
	}
	@media (min-width: 768px) and (max-width: 990px) {
	section {
		padding: 60px 0;
	}
	header .container {
		width: inherit;
	}
	/*=====  Navbar CSS BOF  ======*/
	.navbar-header {
		float: none;
	}
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		float: right;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-toggle {
		background-color: var(--blue-color);
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		margin: 16px 0;
		display: block;
		float: left;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: var(--white-color);
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: var(--red-color);
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		margin-top: 0;
		position: absolute;
		left: 15px;
		width: 50%;
		z-index: 999;
		padding: 0;
		background: var(--blue-color)!important;
		border: none;
	}
	.navbar-nav {
		margin: 0;
		float: none !important;
	}
	.nav > li {
		padding: 0;
		text-align: right;
		width: 100%;
		border-bottom: 1px solid #363f6d;
	}
	.nav > li:last-child {
		padding: 0px;
	}
	.nav > li > a {
		color: var(--white-color) !important;
		margin: 0;
		padding: 15px 20px;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.nav > li > a:focus, .nav > li > a:hover {
		text-decoration: none;
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.navbar-default .navbar-nav > .active > a svg, .navbar-default .navbar-nav > .active > a:focus svg, .navbar-default .navbar-nav > .active > a:hover svg {
		fill: var(--white-color);
	}
	.navbar-default .navbar-nav > li > a:hover svg, .navbar-default .navbar-nav > li > a:focus svg {
		fill: var(--white-color);
	}
	.navbar-right .dropdown-menu {
		left: 0;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
		color: var(--white-color);
		background-color: var(--red-color);
	}
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: var(--white-color);
		font-weight: inherit;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
		padding: 8px 20px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color: var(--red-color);
		background-color: transparent;
	}
	.navbar-default .navbar-nav .dropdown-menu {
		background-color: transparent;
		overflow: auto !important;
		transition: none !important;
	}
	.collapse.in {
		display: block !important;
		margin-bottom: 0;
	}
	.carousel-caption {
		width: 100%;
	}
	.carousel-animate .hero {
		margin-right: 100px;
	}
	.search-section .nav-tabs {
		display: inline-block;
		width: 100%;
	}
	.search-section .nav-tabs2 {
		display: inline-block;
	}
	.search-section .nav-tabs li a {
		font-size: 17px;
	}
	.col-sm-offset-3 {
		margin-right: 25% !important;
	}
	.col-lg-offset-4 {
		margin-right: 0;
	}
	.service-icon svg {
		height: 34px;
	}
	.add-btn {
		margin: 21px auto 0;
	}
	.wdt-2 {
		width: 84% !important;
	}
	#journey-sec .bg-nn2 {
		background: none !important;
	}
	#serv-sec {
		min-height: auto;
	}
	#serv-sec::before {
		width: 100%;
	}
	#serv-sec h2 {
		font-size: 46px;
	}
	#serv-sec p {
		font-size: 30px;
	}
	#newsletter-sec::before {
		width: 100%;
		top: 0;
	}
	#newsletter-sec .nws-inr {
		margin: 100px 0 0;
	}
	.subscribe-form {
		padding: 30px 0 0;
	}
	footer .contact .email, footer .contact .phone {
		text-align: right;
	}
	.p-l {
		padding-right: 0;
	}
	footer .link h4 {
		margin: 20px 0;
		padding-bottom: 0;
	}
	}
	@media (min-width: 991px) and (max-width: 1024px) {
	section {
		padding: 60px 0;
	}
	header .container {
		width: inherit;
	}
	.contact-info ul li {
		font-size: 12px;
	}
	.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		margin: 12px 0 12px 30px;
	}
	.nav > li {
		padding: 20px 10px;
	}
	.nav > li:last-child {
		padding: 20px 10px 20px 0;
	}
	.navbar-default .navbar-nav > li > a {
		font-size: 13px;
	}
	.nav > li > a svg {
		width: 22px;
		height: 20px;
		margin-left: 3px;
	}
	.navbar-default .navbar-nav .dropdown-menu {
		min-width: 170px;
	}
	.carousel-caption {
		width: 100%;
	}
	.carousel-animate .hero {
		margin-right: 90px;
	}
	.wdt-2 {
		width: 81% !important;
	}
	.search-section .form-control {
		font-size: 18px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 18px;
	}
	.col-md-offset-4 {
		margin-right: 33.33333333%;
	}
	.desti-detail2 h3 {
		font-size: 45px;
	}
	.desti-detail2 {
		padding: 10px 10px 24px 20px;
	}
	.desti-detail h3 {
		font-size: 19px;
	}
	#serv-sec h2 {
		font-size: 46px;
	}
	#serv-sec p {
		font-size: 30px;
	}
	#newsletter-sec::before {
		width: 58%;
	}
	footer .contact .cnt-inr p {
		font-size: 24px;
	}
	.p-l {
		padding-right: 0;
	}
	}
	@media (min-width: 1025px) and (max-width: 1440px) {
	header .container {
		width: inherit;
	}
	}
	