
/* 01 : Website Global CSS BOF
========================================================== */
:root {
	--blue-color:#232c57;
	--red-color:#e1141b;
	--heading-color:#02234c;
	--paragraph-color:#4d4d4d;
	--darkgrey-color:#333333;
	--white-color:#fff;
	--black-color:#000
   }
   :root {
	--bukra-lt:'29LT Bukra Light';
	--bukra-rg:'29LTBukra-Regular';
	--bukra-bd:'29LT Bukra Bold';
	--din-ult:'DIN NEXTTM ARABIC ULTRALIGHT';
	--din-lt:'DIN NEXTTM ARABIC LIGHT';
	--din-rg:'DIN NEXTTM ARABIC REGULAR';
	--din-md:'DIN NEXTTM ARABIC MEDIUM';
	--din-bd:'DIN NEXTTM ARABIC BOLD';
	--din-bk:'DIN NEXTTM ARABIC HEAVY';
	--din-hv:'DIN NEXTTM ARABIC HEAVY';
   }
   body {
	   font-family: var(--din-rg);
	   direction: rtl;
   }
   * {
	   margin: 0px;
	   padding: 0px;
   }
   a {
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
   }
   a:focus {
	   outline: none;
	   text-decoration: none;
   }
   a:hover {
	   color: #000;
	   text-decoration: none;
   }
   img {
	   outline: none;
   }
   iframe {
	   border: medium none;
	   outline: none;
   }
   ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #393939;
   }
   ::-moz-placeholder { /* Firefox 19+ */
	color: #393939;
   }
   :-ms-input-placeholder { /* IE 10+ */
	color: #393939;
   }
   :-moz-placeholder { /* Firefox 18- */
	color: #393939;
   }
   /* 02 : Heading Style CSS BOF
   =================================================== */
   h1, h2, h3, h4, h5, h6 {
	   margin: 0;
	   padding: 0;
	   line-height: normal;
	   font-weight: normal;
   }
   /* 03 : Paragraph Style CSS BOF
   =================================================== */
   p {
	   padding: 0px;
	   margin: 0;
	   font-size: 16px;
	   color: var (--paragraph-color);
	   font-weight: 400;
	   line-height: 26px;
   }
   section {
	   padding: 80px 0;
   }
   /*====================================
   =            Helper Class            =
   ====================================*/
   .m-t-10 {
	   margin-top: 10px;
   }
   .m-t-20 {
	   margin-top: 20px;
   }
   .m-t-15 {
	   margin-top: 15px;
   }
   .m-t-25 {
	   margin-top: 25px;
   }
   .m-t-30 {
	   margin-top: 30px;
   }
   .m-t-50 {
	   margin-top: 50px;
   }
   .m-t-60 {
	   margin-top: 60px;
   }
   .m-t-70 {
	   margin-top: 70px;
   }
   .m-t-120 {
	   margin-top: 120px;
   }
   .m-b-10 {
	   margin-bottom: 10px;
   }
   .m-b-15 {
	   margin-bottom: 15px;
   }
   .m-b-20 {
	   margin-bottom: 20px;
   }
   .m-b-25 {
	   margin-bottom: 25px;
   }
   .m-b-30 {
	   margin-bottom: 30px;
   }
   .p-0 {
	   padding: 0;
   }
   .p-t-0 {
	   padding-top: 0;
   }
   .p-t-10 {
	   padding-top: 10px;
   }
   .p-t-15 {
	   padding-top: 15px;
   }
   .p-t-20 {
	   padding-top: 20px;
   }
   .p-t-25 {
	   padding-top: 25px;
   }
   .p-t-30 {
	   padding-top: 30px;
   }
   .p-b-0 {
	   padding-bottom: 0;
   }
   .p-b-10 {
	   padding-bottom: 10px;
   }
   .p-b-15 {
	   padding-bottom: 15px;
   }
   .p-b-20 {
	   padding-bottom: 20px;
   }
   .p-b-25 {
	   padding-bottom: 25px;
   }
   .p-b-30 {
	   padding-bottom: 30px;
   }
   /*=====  Top CSS BOF  ======*/
   header .container {
	   width: 1400px;
   }
   .top {
	   background: var(--blue-color);
	   width: 100%;
	   height: auto;
   }
   .contact-info {
	   font-family: var(--bukra-rg);
	   float: right;
	   padding: 11px 0;
   }
   .contact-info ul {
	   list-style: none;
	   margin: 0;
	   padding: 0;
   }
   .contact-info ul li {
	   font-size: 13px;
	   font-weight: 400;
	   float: right;
	   color: var(--white-color);
	   padding: 0 0 0 25px;
   }
   .contact-info ul li svg {
	   fill: var(--white-color);
	   width: 11px;
	   margin-left: 5px;
	   height: 14px;
   }
   .lang {
	   float: left;
	   padding: 6px 0 7px;
	   z-index: 5;
	   margin: 0;
   }
   .lang .caret {
	   display: inherit;
	   margin-left: 0;
	   vertical-align: middle;
	   border-top: none;
	   border-right: none;
	   border-left: none;
	   padding-left: 0px;
   }
   .lang .caret svg {
	   width: 11px !important;
	   height: 8px !important;
	   fill: var(--white-color);
	   position: relative;
	   top: -2px !important;
	   right: -2px !important;
   }
   .lang .dropdown-menu {
	   min-width: 58px;
	   -webkit-border-radius: 0;
	   -moz-border-radius: 0;
	   -ms-border-radius: 0;
	   border-radius: 0;
	   right: 0;
	   top: 33px;
	   padding: 0;
	   background: var(--blue-color);
	   -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	   -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	   -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	   transition: all 0.3s;
	   margin: 0;
   }
   .lang .dropdown-menu li {
	   display: block;
	   border-bottom: 1px solid #343e6d;
   }
   .lang .dropdown-menu li:last-child {
	   border-bottom: none;
   }
   .lang .dropdown-menu li a {
	   padding: 5px 0;
	   color: var(--white-color);
	   text-align: center;
   }
   .lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	   color: var(--white-color);
	   text-decoration: none;
	   background-color: var(--red-color);
   }
   .lang .dropdown a {
	   font-family: var(--bukra-bd);
	   color: var(--white-color);
	   text-decoration: none;
	   font-size: 14px;
   }
   .lang .dropdown svg {
	   width: 21px;
	   height: 21px;
	   fill: var(--white-color);
	   position: relative;
	   top: 5px;
	   right: -1px;
   }
   .list-inline > li {
	   padding: 0 0;
   }
   /*=====  Navbar CSS BOF  ======*/
   .navbar-default {
	   background: #fff;
	   -webkit-transition: all 0.1s;
	   -moz-transition: all 0.1s;
	   -o-transition: all 0.1s;
	   transition: all 0.1s;
	   border: 0px;
	   z-index: 2;
   }
   .navbar {
	   margin-bottom: 0px;
	   z-index: 999;
	   -webkit-border-radius: 0;
	   -moz-border-radius: 0;
	   -ms-border-radius: 0;
	   border-radius: 0;
	   -webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	   -o-transition: all 0.5s ease;
	   transition: all 0.5s ease;
   }
   .navbar-nav {
	   margin: 0;
	   float: right;
   }
   .navbar-header {
	   float: right;
   }
   .navbar-right {
	   float: left !important;
	   margin-right: -15px;
   }
   .navbar-brand img {
	   width: 100% !important;
   }
   .navbar-default .navbar-collapse, .navbar-default .navbar-form {
	   padding: 0;
   }
   .nav > li {
	   position: relative;
	   display: block;
	   padding: 20px 20px;
   }
   .navbar-nav > li {
	   float: right;
   }
   .nav > li:last-child {
	   padding: 20px 20px 20px 0;
   }
   .nav > li > a {
	   font-family: var(--din-rg);
	   display: block;
	   margin: 0;
	   position: relative;
	   padding: 0;
   }
   .nav > li > a svg {
	   fill: var(--red-color);
	   width: 27px;
	   height: 25px;
	   float: right;
	   margin-left: 5px;
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
   }
   .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	   height: auto;
	   padding: 0;
	   z-index: 1000;
	   margin-left: 0 !important;
	   margin: 12px 0 12px 40px !important;
   }
   .top-nav-collapse {
	   padding: 0;
	   top: 0;
   }
   .navbar-default .navbar-nav > li > a {
	   color: var(--blue-color);
	   font-size: 16px;
   }
   .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	   color: var(--red-color);
	   background-color: transparent;
   }
   .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	   color: var(--red-color);
   }
   .nav > li > a:focus, .nav > li > a:hover {
	   text-decoration: none;
	   color: var(--red-color);
	   background: transparent;
   }
   .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	   color: var(--red-color);
	   background-color: transparent;
   }
   .caret {
	   display: inline-block;
	   width: 0;
	   height: 0;
	   margin-right: 2px;
	   vertical-align: middle;
	   border-top: 6px dashed;
	   border-top: 4px solid\9;
	   border-right: 4px solid transparent;
	   border-left: 4px solid transparent;
   }
   .navbar-right .dropdown-menu {
	   left: 20px;
	   right: auto !important;
   }
   .navbar-default .navbar-nav .dropdown .dropdown-menu {
	   transition: all 0.3s;
	   max-height: 0;
	   display: block;
	   overflow: hidden;
	   opacity: 0;
   }
   .navbar-default .navbar-nav .dropdown-menu {
	   right: 20px;
	   top: 66px;
	   background-color: var(--blue-color);
	   background-clip: padding-box;
	   border: none;
	   border: none;
	   border-radius: 0px;
	   -webkit-box-shadow: none;
	   box-shadow: none;
	   min-width: 200px;
	   padding: 0;
	   margin: 0;
   }
   .navbar-default .navbar-nav .dropdown.open .dropdown-menu {
	   transition: max-height 1s;
	   max-height: 100vh;
	   opacity: 1;
   }
   .navbar-default .navbar-nav .dropdown-menu > li {
	   border-bottom: 1px solid #363f6d;
   }
   .navbar-default .navbar-nav .dropdown-menu > li:last-child {
	   border-bottom: none;
   }
   .navbar-default .navbar-nav .dropdown-menu > li > a {
	   padding: 8px 20px;
	   color: var(--white-color);
	   text-align: right;
   }
   .navbar-default .navbar-nav .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
	   color: var(--white-color);
	   text-decoration: none;
	   background-color: var(--red-color);
   }
   .affix {
	   position: fixed;
	   left: 0;
	   right: 0;
	   top: 0;
	   z-index: 9998;
	   animation: smoothScroll 1s forwards;
	   -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
	   -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
	   -o-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
	   box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
   }
   .affix::after {
	   position: absolute;
	   bottom: -10px;
	   width: 100%;
	   height: 10px;
	   content: "";
   }
	@keyframes smoothScroll {
	0% {
	transform: translateY(-40px);
   }
	100% {
	transform: translateY(0px);
   }
   }
   .affix .navbar-brand {
	   top: 0;
   }
   .affix .navbar-brand img {
	   width: 97% !important;
   }
   /*=====  Banner Sections CSS BOF  ======*/
   .carousel {
   /*margin-top: 100px;*/
   }
   .carousel-caption {
	   top: 17%;
	   right: 0;
	   left: 0;
	   padding: 0 15px;
	   width: 80%;
	   margin: 0 auto;
	   z-index: 1;
   }
   .carousel-animate .hero {
	   text-align: right;
	   width: auto;
	   float: right;
	   margin-right: 200px;
   }
   .carousel-caption {
	   text-shadow: none;
   }
   .carousel-animate .hero h1 {
	   background: url(../images/bnr-txt-line.png) no-repeat bottom center;
	   font-family: "ToyorAljanah-Regular";
	   font-size: 68px;
	   line-height: 80px;
	   color: var(--white-color);
	   clear: both;
	   padding-bottom: 45px;
	   text-shadow: 0px 1px 1px #333;
   }
   .carousel-fade .carousel-inner .item {
	   transition-property: opacity;
   }
   .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .item {
	   opacity: 0;
   }
   .carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	   opacity: 1;
   }
   .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right, .carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev {
	   left: 0;
	   transform: translate3d(0, 0, 0);
   }
   .carousel-control.right {
	   right: 50px !important;
	   left: auto !important;
   }
   .carousel-control.left, .carousel-control.right {
	   width: 35px;
	   height: 35px;
	   left: 50px;
	   right: auto;
	   top: 45%;
	   background: rgba(0, 0, 0, 0.5);
	   -webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
	   -ms-border-radius: 50px;
	   border-radius: 50px;
	   text-align: center;
   }
   .carousel-control.left i, .carousel-control.right i {
	   line-height: 33px;
	   font-size: 23px;
	   color: var(--white-color);
	   text-shadow: none;
	   font-weight: 700;
   }
   .carousel-control:focus, .carousel-control:hover {
	   background: rgba(0, 0, 0, 1);
	   color: var(--white-color);
   }
   .carousel-bg .carousel-inner .item {
	   background-size: cover;
	   background-position: center;
	   min-height: 406px;
   }
   .carousel-bg .carousel-inner .item::before {
	   content: '';
	   width: 100%;
	   height: 100%;
	   position: absolute;
	   right: 0;
	   top: 0;
	   background-image: -webkit-linear-gradient(left, rgba(0,0,0,.0001) 0, rgba(0,0,0,.7) 100%);
	   background-image: -o-linear-gradient(left, rgba(0,0,0,.0001) 0, rgba(0,0,0,.7) 100%);
	   background-image: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,.0001)), to(rgba(0,0,0,.7)));
	   background-image: linear-gradient(to right, rgba(0,0,0,.0001) 0, rgba(0,0,0,.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	   background-repeat: repeat-x;
   }
   .carousel-indicators {
	   display: block;
	   bottom: 104px;
   }
   .carousel-control {
	   display: block;
   }
   .carousel-indicators .active {
	   width: 34px;
	   height: 6px;
	   margin: 0;
	   background-color: var(--white-color);
   }
   .carousel-indicators li {
	   display: inline-block;
	   width: 34px;
	   height: 6px;
	   margin: 1px;
	   text-indent: -999px;
	   cursor: pointer;
	   background-color: rgba(0,0,0,0.3);
	   border: none;
	   border-radius: 10px;
   }
   /*================Booking-Form-Css================*/
   .booking-form {
	   width: 100%;
	   position: relative;
	   margin-top: -81px;
	   padding: 0 0 210px;
   }
   .booking-form::before {
	   content: '';
	   position: absolute;
	   width: 100%;
	   height: 100%;
	   background: url(../images/brdr-ptrn.png) center bottom no-repeat;
	   left: 0;
	   bottom: 0;
	   right: 0;
	   margin: 0 auto;
   }
   .search-section {
	   background: var(--white-color);
	   margin-top: 0;
	   padding: 0 0 50px;
	   display: inline-block;
	   width: 100%;
	   -webkit-box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.15);
	   box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.20);
	   border-radius: 0 0 5px 5px;
	   min-height: 380px;
	   position: relative;
   }
   .search-section form {
	   width: 100%;
	   display: inline-block;
   }
   .booking-tab {
	   overflow: hidden;
   }
   .tab-field {
	   padding: 0;
   }
   .search-section .nav-tabs {
	   border-bottom: none;
	   text-align: center;
	   padding: 0;
	   list-style: none;
	   margin: 0;
   }
   .search-section .nav-tabs > li {
	   background-color: var(--blue-color);
	   float: right;
	   text-align: center;
	   display: block;
	   padding: 0;
	   width: 33%;
	   margin: 0;
	   position: relative;
   }
   .search-section .nav-tabs > li::before {
	   content: '';
	   position: absolute;
	   width: 2px;
	   height: 81px;
	   background: url(../images/tab-devider.png) no-repeat;
	   top: 0;
	   z-index: 1;
	   left: 0;
   }
   .search-section .nav-tabs > li:nth-child(2) {
	   width: 34%;
   }
   .search-section .nav-tabs > li:last-child::before {
	   background: none;
   }
   .search-section .nav-tabs .active {
	   position: relative;
   }
   .search-section .nav-tabs li a {
	   font-family: var(--bukra-bd);
	   padding: 0;
	   color: var(--white-color);
	   background-color: transparent;
	   border-radius: 0;
	   margin-right: 0;
	   border: none;
	   border-bottom: 5px solid var(--blue-color);
	   font-size: 25px;
	   text-decoration: none;
	   width: 100% !important;
	   display: block;
	   height: 81px;
	   line-height: 81px;
   }
   .search-section .nav-tabs2 {
	   padding: 0 30px;
	   margin: 15px 0 0;
	   text-align: right;
   }
   .search-section .nav-tabs2 > li {
	   background: none;
	   margin: 10px 0 0 80px;
	   width: auto;
	   display: inline-block;
	   float: none;
   }
   .search-section .nav-tabs2 > li::before {
	   background: none;
   }
   .search-section .nav-tabs2 > li:nth-child(2) {
	   width: auto;
   }
   .search-section .nav-tabs2 li a {
	   font-family: var(--din-md);
	   padding: 0 6px;
	   color: var(--darkgrey-color);
	   background-color: transparent;
	   border-radius: 0;
	   margin-right: 0;
	   border: none;
	   font-size: 17px;
	   text-decoration: none;
	   position: relative;
	   text-transform: none;
	   height: auto;
	   line-height: normal;
   }
   .search-section .nav-tabs2 > li.active > a, .search-section .nav-tabs2 > li.active > a:focus, .search-section .nav-tabs2 > li.active > a:hover {
	   border: none !important;
	   background: transparent !important;
	   color: var(--darkgrey-color)!important;
	   border-bottom: none !important;
   }
   .search-section .nav-tabs2 > li.active > a::before, .search-section .nav-tabs2 > li.active > a:focus::before, .search-section .nav-tabs2 > li.active > a:hover::before {
	   border: 2px solid var(--darkgrey-color);
	   background: var(--white-color);
   }
   .search-section .nav-tabs2 > li.active > a::after, .search-section .nav-tabs2 > li.active > a:focus::after, .search-section .nav-tabs2 > li.active > a:hover::after {
	   opacity: 1;
   }
   .search-section .nav-tabs2 li a::before {
	   content: "";
	   display: inline-block;
	   position: absolute;
	   width: 17px;
	   height: 17px;
	   right: 0;
	   margin-right: -20px;
	   border: 2px solid var(--darkgrey-color);
	   border-radius: 50%;
	   top: 5px;
	   background: var(--white-color);
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
   }
   .search-section .nav-tabs2 li a::after {
	   content: "";
	   display: inline-block;
	   position: absolute;
	   width: 7px;
	   height: 7px;
	   right: 0;
	   border-radius: 50%;
	   top: 10px;
	   margin-right: -15px;
	   background: var(--red-color);
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
	   opacity: 0;
   }
   .search-section .nav-tabs > li.active > a, .search-section .nav-tabs > li.active > a:focus, .search-section .nav-tabs > li.active > a:hover {
	   border: none;
	   color: var(--white-color);
	   background-color: transparent;
	   border-bottom: 5px solid var(--red-color);
   }
   .search-section .tab-content {
	   padding-top: 18px;
   }
   .service-icon svg {
	   fill: var(--white-color);
	   margin: 0;
	   width: inherit;
	   position: relative;
	   top: 11px;
	   height: 45px;
   }
   .search-section .nav-tabs > li:hover svg {
	   fill: var(--white-color);
   }
   .search-section .nav-tabs > li.active svg {
	   fill: var(--white-color);
   }
   .search-col-padding .input-group {
	   display: block;
   }
   /*===========================================
   =            Radio Button Custom            =
   ===========================================*/
   .radio {
	   padding-left: 20px;
	   margin-bottom: 20px;
   }
   .radio label {
	   display: inline-block;
	   position: relative;
	   padding-left: 5px;
	   font-size: 13px;
	   color: #686666;
	   font-weight: 700;
	   padding-top: 2px;
	   text-transform: uppercase;
   }
   .radio label.active, .radio label:focus {
	   color: #572600;
   }
   .radio label::before {
	   content: "";
	   display: inline-block;
	   position: absolute;
	   width: 15px;
	   height: 15px;
	   left: 0;
	   margin-left: -15px;
	   border: 2px solid #b7b7b7;
	   border-radius: 50%;
	   -webkit-transition: border 0.15s ease-in-out;
	   -o-transition: border 0.15s ease-in-out;
	   transition: border 0.15s ease-in-out;
	   top: 4px;
   }
   .radio label::after {
	   display: inline-block;
	   position: absolute;
	   content: " ";
	   width: 5px;
	   height: 5px;
	   left: 10px;
	   top: 9px;
	   margin-left: -20px;
	   border-radius: 50%;
	   background-color: #fff;
	   -webkit-transform: scale(0, 0);
	   -ms-transform: scale(0, 0);
	   -o-transform: scale(0, 0);
	   transform: scale(0, 0);
	   -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	   -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	   -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	   transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
   }
   .radio input[type="radio"] {
	   opacity: 0;
   }
   .radio input[type="radio"]:checked + label::after {
	   -webkit-transform: scale(1, 1);
	   -ms-transform: scale(1, 1);
	   -o-transform: scale(1, 1);
	   transform: scale(1, 1);
   }
   .radio.radio-inline {
	   margin-top: 0;
   }
   .radio-success input[type="radio"] + label::after {
	   background-color: #d5e14d;
   }
   .radio-success input[type="radio"]:checked + label::before {
	   border-color: #d5e14d;
   }
   .radio-success input[type="radio"]:checked + label::after {
	   background-color: #572600;
   }
   .radio-success input[type="radio"]:checked + label {
	   color: #572600;
   }
   .search-section .input-group {
	   position: relative;
	   display: table;
	   border-collapse: separate;
	   width: 100%;
	   background: var(--white-color) !important;
	   border: 1px solid #979797 !important;
	   border-radius: 5px !important;
	   -moz-box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   -webkit-box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   box-shadow: inset 4px 4px 0px 0 #f2f2f2;
   }
   .search-section .input-group .line {
	   float: right;
	   font-size: 20px;
	   position: relative;
	   top: 21px;
   }
   .search-section .form-control {
	   font-family: var(--din-lt);
	   background-color: transparent;
	   border: none;
	   border-right: none;
	   border-radius: 0;
	   color: var(--darkgrey-color);
	   display: block;
	   font-size: 21px;
	   height: 72px;
	   line-height: 1.42857;
	   padding: 6px 20px;
	   transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	   width: 100%;
	   z-index: 1;
	   box-shadow: none;
	   font-weight: 400;
	   position: relative;
	   text-align: right;
	   float: right;
   }
   .or-txt {
	   font-family: var(--din-lt);
	   color: var(--darkgrey-color);
	   font-size: 21px;
	   padding: 22px 0 22px 50px;
	   width: 10%;
	   text-align: center;
	   float: right;
   }
   .change-destination {
	   width: 51px;
	   height: 51px;
	   content: "";
	   position: absolute;
	   left: -40px;
	   top: 11px;
	   z-index: 1;
   }
   .close-btn {
	   display: block;
	   margin: 0;
	   font-size: 18px;
	   width: 30px;
	   height: 30px;
	   text-align: center;
	   position: absolute;
	   left: -15px;
	   top: 23px;
	   background: var(--red-color);
	   border-radius: 50px;
	   color: var(--white-color);
   }
   .close-btn a {
	   color: var(--white-color);
   }
   .add-btn {
	   width: 135px;
	   height: 34px;
	   display: block;
	   font-size: 14px;
	   text-align: center;
	   color: var(--white-color);
	   padding: 0;
	   margin: 5px auto 0;
	   background: var(--blue-color);
	   border-radius: 3px;
	   line-height: 33px;
   }
   .add-btn:hover, .add-btn:focus {
	   background: var(--red-color);
	   color: var(--white-color);
	   text-decoration: none;
   }
   .wdt {
	   width: 100% !important;
   }
   .wdt-2 {
	   width: 85% !important;
   }
   .search-section .form-control::-moz-placeholder {
	color: var(--darkgrey-color);
	opacity: 1;
   }
   .search-section .form-control:-ms-input-placeholder {
	color: var(--darkgrey-color);
   }
   .search-section .form-control::-webkit-input-placeholder {
	color: var(--darkgrey-color);
   }
   .search-section .form-control::-o-input-placeholder {
	color: var(--darkgrey-color);
   }
   .search-section .input-group-addon {
	   background: transparent;
	   color: var(--darkgrey-color);
	   border: none;
   }
   .search-section .search-col-padding {
	   padding-top: 20px;
   }
   .search-section option {
	   color: #07253F;
   }
   .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
	   margin-top: 2px;
   }
   /*================================
   =            Calendar            =
   ================================*/
   .calendar {
	   width: 48% !important;
	   background: var(--white-color);
	   overflow: hidden;
	   margin: 0 !important;
	   padding: 8px 0 8px 20px;
	   font-size: 14px;
	   font-weight: 400;
	   color: #676767;
	   height: 68px;
	   border: none;
	   border-right: 1px solid #000;
	   width: 100%;
	   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
   }
   .ui-datepicker {
	   background: var(--white-color);
	   box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
	   border-radius: 5px;
	   overflow: hidden;
   }
   .ui-datepicker-header {
	   height: 50px;
	   line-height: 50px;
	   color: var(--white-color);
	   background: var(--blue-color);
	   margin-bottom: 10px;
	   font-weight: 700;
	   font-size: 16px;
	   letter-spacing: 0.04em;
   }
   .ui-datepicker-prev, .ui-datepicker-next {
	   width: 20px;
	   height: 20px;
	   text-indent: 9999px;
	   border: 2px solid var(--white-color);
	   border-radius: 100%;
	   cursor: pointer;
	   overflow: hidden;
	   margin-top: 16px;
   }
   .ui-datepicker-prev {
	   float: left;
	   margin-left: 12px;
   }
   .ui-datepicker-prev::after {
	   -webkit-transform: rotate(45deg);
	   transform: rotate(45deg);
	   margin: -45px 4px 0px 0px;
   }
   .ui-datepicker-next {
	   float: right;
	   margin-right: 12px;
   }
   .ui-datepicker-next:after {
	   -webkit-transform: rotate(-135deg);
	   transform: rotate(-135deg);
	   margin: -45px 6px 0px 0px;
   }
   .ui-datepicker-prev:after, .ui-datepicker-next:after {
	   content: '';
	   position: absolute;
	   display: block;
	   width: 6px;
	   height: 6px;
	   border-left: 2px solid var(--white-color);
	   border-bottom: 2px solid var(--white-color);
   }
   .ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	   border-color: #b563a7;
   }
   .ui-datepicker-title {
	   text-align: center;
   }
   .ui-datepicker-calendar {
	   width: 100%;
	   text-align: center;
   }
   .ui-datepicker-calendar thead tr th span {
	   display: block;
	   width: 45px;
	   color: var(--blue-color);
	   margin-bottom: 5px;
	   font-size: 15px;
	   text-align: center;
   }
   .ui-state-default {
	   display: block;
	   text-decoration: none;
	   color: #42474d;
	   line-height: 42px;
	   font-size: 15px;
	   font-weight: 700;
	   height: 45px;
	   border-radius: 50%;
	   text-align: center;
   }
   .ui-state-default:hover {
	   background: var(--red-color);
	   color: var(--white-color);
	   text-decoration: none;
   }
   .ui-state-highlight {
	   color: var(--white-color);
	   background: var(--red-color);
   }
   .ui-state-active {
	   color: var(--white-color);
	   background: var(--red-color);
   }
   .ui-datepicker-unselectable .ui-state-default {
	   color: #afc2d8;
	   border: 2px solid transparent;
   }
   .ui-datepicker-trigger {
	   background: transparent;
	   border: medium none;
	   color: #b563a7;
	   font-size: 16px;
	   position: absolute;
	   right: 3px;
	   top: 17px;
	   cursor: pointer;
	   margin: 2px;
	   width: 30px;
	   height: 30px;
	   line-height: 30px;
	   text-align: center;
	   display: none;
   }
   .ui-datepicker-trigger2 {
	   background: transparent;
	   border: medium none;
	   color: #b563a7;
	   font-size: 16px;
	   position: absolute;
	   right: 3px;
	   top: 17px;
	   cursor: pointer;
	   margin: 2px;
	   width: 30px;
	   height: 30px;
	   line-height: 30px;
	   text-align: center;
	   display: none;
   }
   .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	   border: none;
   }
   .ui-datepicker-multi-2 .ui-datepicker-group {
	   width: 49.5%;
	   margin: 1px;
   }
   .ui-datepicker-multi .ui-datepicker-group {
	   float: left;
   }
   /*================================
   =            Select2            =
   ================================*/
   .select2-container--default .select2-selection--single .select2-selection__arrow {
	   background: transparent;
	   color: var(--darkgrey-color);
	   font-size: 18px !important;
	   height: 72px !important;
	   position: absolute;
	   width: 55px !important;
	   text-align: center;
	   line-height: 72px;
	   border-radius: 0;
	   left: 0 !important;
	   top: 0 !important;
   }
   .select2-container .select2-selection--single {
	   -moz-user-select: none;
	   box-sizing: border-box;
	   cursor: pointer !important;
	   display: block !important;
	   height: 72px !important;
   }
   .select2-results__option {
	   width: 100%;
   }
   .select2-container--default .select2-selection--single .select2-selection__rendered {
	   color: var(--darkgrey-color) !important;
	   line-height: 72px !important;
	   font-size: 21px;
	   padding-right: 20px !important;
	   font-family: var(--din-lt);
	   text-align: right;
   }
   .select2-container--default .select2-selection--single {
	   background: var(--white-color) !important;
	   border: 1px solid #979797 !important;
	   border-radius: 5px !important;
	   -moz-box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   -webkit-box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   text-align:right;
   }
   .select2-container--default .select2-results__option[aria-selected="true"] {
	   background-color: var(--blue-color) !important; /*   option hover background */
	   color: var(--white-color);
   }
   .select2-container--default .select2-results__option--highlighted[aria-selected] {
	   background-color: var(--red-color) !important; /*   option hover background */
	   color: var(--white-color);
   }
   .select2-container--default .select2-results > .select2-results__options {
	   max-height: 200px;
	   overflow-y: auto;
	   box-shadow: none;
	   width: 100%;
	   text-align:right;
   }
   .select2-dropdown {
	   border: 1px solid #979797 !important;
	   border-radius: 5px !important;
   }
   .search-section .tab-content {
	   position: relative;
	   width: 100%;
	   height: auto;
	   border-radius: 0;
	   margin: 0 auto;
	   padding: 0 12.5px;
   }
   .search-button {
	   font-family: var(--din-md);
	   color: var(--white-color);
	   background: var(--red-color);
	   overflow: hidden;
	   border: none;
	   width: 100%;
	   padding: 0;
	   font-size: 21px;
	   margin: 0;
	   line-height: 72px;
	   height: 72px;
	   border-radius: 5px;
	   -webkit-transform: perspective(1px) translateZ(0);
	   transform: perspective(1px) translateZ(0);
	   box-shadow: 0 0 1px transparent;
	   position: relative;
	   -webkit-transition-property: color;
	   transition-property: color;
	   -webkit-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
	   display: inline-block;
   }
   .search-button::before {
	   content: "";
	   position: absolute;
	   z-index: -1;
	   top: 0;
	   bottom: 0;
	   left: 0;
	   right: 0;
	   background: var(--blue-color);
	   -webkit-transform: scaleX(0);
	   transform: scaleX(0);
	   -webkit-transform-origin: 50%;
	   transform-origin: 50%;
	   -webkit-transition-property: transform;
	   transition-property: transform;
	   -webkit-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	   -webkit-transition-timing-function: ease-out;
	   transition-timing-function: ease-out;
   }
   .search-button:hover {
	   color: var(--white-color);
	   text-decoration: none;
   }
   .search-button:hover::before {
	   -webkit-transform: scaleX(1);
	   transform: scaleX(1);
   }
   .search-button svg {
	   fill: var(--white-color);
	   margin: 0;
	   width: auto;
	   height: 45px;
	   position: relative;
	   top: 17px;
	   left: -5px;
   }
   /* Travellers CSS BOF ===================================================*/ 
   .travellersDropdown {
	   position: relative;
   }
   .custom-select-v3 {
	   position: relative;
	   cursor: pointer;
	   background: var(--white-color) !important;
	   border: 1px solid #979797 !important;
	   border-radius: 5px !important;
	   -moz-box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   -webkit-box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   box-shadow: inset 4px 4px 0px 0 #f2f2f2;
	   float: right;
	   width: 100%;
   }
   .custom-select-v3::before {
	   background: transparent;
	   color: var(--darkgrey-color);
	   font-size: 18px !important;
	   height: 72px !important;
	   position: absolute;
	   width: 55px !important;
	   text-align: center;
	   line-height: 72px;
	   border-radius: 0;
	   left: 0 !important;
	   top: 0 !important;
	   z-index: 6;
	   font-weight: normal;
	   content: "\f107";
	   font-family: 'FontAwesome';
   }
   .travellersDropdown span[class^="icon-"] {
	   color: #a0a0a0;
	   font-size: 22px;
	   left: 10px;
	   pointer-events: none;
	   position: absolute;
	   top: 9px;
	   z-index: 1;
   }
   .travellersDropdown span[class^="icon-"] {
	   color: #a0a0a0;
	   font-size: 22px;
	   pointer-events: none;
   }
   .custom-select-v3 input {
	   text-overflow: ellipsis;
	   padding-right: 30px;
	   overflow: hidden;
	   white-space: nowrap;
	   display: block;
	   width: 100%;
	   cursor: pointer;
	   text-align: left;
	   cursor: pointer;
   }
   .custom-select-v3 select, .form-control {
	   background-color: #fff;
	   border: 1px solid #ccc;
	   border-radius: 3px;
	   font-size: 14px;
	   font-weight: 400;
	   height: 42px;
	   line-height: normal;
	   /*margin-bottom: 20px;*/
	   padding: 8px;
	   padding-right: 8px;
	   text-overflow: ellipsis;
	   box-shadow: none;
	   color: #000;
	   width: 100%;
	   white-space: nowrap;
	   overflow: hidden;
   }
   .travelerSelectWindow {
	   width: auto!important;
	   position: absolute;
	   top: 74px;
	   right: 0;
	   background-color: var(--white-color);
	   border-radius: 5px;
	   border: 1px solid #979797;
	   z-index: 3;
	   display: none;
	   left: 0;
	   overflow: hidden
   }
   .travelerSelectWindow.active {
	   display: block;
   }
   .travelerSelectWindow .travelDropdown {
	   margin: 15px 15px 0;
   }
   .travelerSelectWindow fieldset {
	   padding: 0 0 15px 13px;
   }
   fieldset {
	   min-width: 0;
	   margin: 0;
   }
   .travellersDropdown .travelerSelectWindow label {
	   font-size: 14px;
	   color: #000;
	   float: right;
	   min-width: auto;
	   padding-top: 0;
	   display: inline-block;
	   font-weight: 400;
	   max-width: 100%;
	   padding-left: 10px;
   }
   .trvFld {
	   float: left;
	   margin-left: 0;
	   width: auto;
   }
   .travelerSelectWindow .travelDropdown {
	   margin: 15px 15px 0;
   }
   .travelerSelectWindow .closeDropdown {
	   display: inline-block;
	   width: 100%;
	   padding: 10px 15px;
	   text-align: left;
	   border-top: 1px solid #d1d1d1;
	   background: #f5f5f5;
	   border-radius: 0 0 2px 2px;
	   position: relative;
   }
   .travelerSelectWindow .closeBtn {
	   color: var(--white-color);
	   cursor: pointer;
	   font-size: 16px;
	   font-weight: 600;
	   margin: 0;
	   z-index: 1;
	   padding: 7px 10px;
	   background: var(--red-color);
	   display: inline-block;
	   border-radius: 5px;
	   top: 8px;
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
	   width: 100%;
	   text-align: center;
   }
   .travelerSelectWindow .closeBtn:hover {
	   background: var(--blue-color);
	   color: var(--white-color);
   }
   /*==============End-Booking-Form-Css===========*/
   
   /*=====  Destinations Sections CSS BOF  ======*/
   #destinations-sec {
	   width: 100%;
	   display: block;
	   position: relative;
	   padding: 0 0 160px;
   }
   .m_t_30 {
	   margin-top: -30px;
   }
   #destinations-sec2 {
	   width: 100%;
	   display: block;
	   position: relative;
   }
   #destinations-sec::before {
	   content: '';
	   position: absolute;
	   width: 100%;
	   height: 100%;
	   background: url(../images/brdr-ptrn.png) center bottom no-repeat;
	   left: 0;
	   bottom: 0;
	   right: 0;
	   margin: 0 auto;
   }
   .title h2 {
	   font-family: var(--bukra-bd);
	   font-size: 35px;
	   color: var(--heading-color);
	   position: relative;
	   line-height: normal;
   }
   .title h2::before {
	   content: '';
	   position: absolute;
	   width: 224px;
	   height: 10px;
	   background: #db2328;
	   left: 0;
	   bottom: -20px;
	   z-index: 1;
	   right: 0;
	   margin: 0 auto;
   }
   .desti, .desti-detail .price, .desti-detail2 .price {
	   -webkit-transition: all 0.4s ease 0s;
	   -moz-transition: all 0.4s ease 0s;
	   -ms-transition: all 0.4s ease 0s;
	   -o-transition: all 0.4s ease 0s;
	   transition: all 0.4s ease 0s;
   }
   .desti {
	   background: var(--white-color);
	   -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	   -ms-border-radius: 10px;
	   -o-border-radius: 10px;
	   border-radius: 10px;
	   margin-top: 30px;
	   overflow: hidden;
	   position: relative;
	   width: 100%;
	   border: 1px solid #cccccc;
	   padding: 8px;
   }
   .desti:hover {
	   box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
   }
   .desti img {
	   width: 100%;
	   -webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	   -ms-border-radius: 5px;
	   -o-border-radius: 5px;
	   border-radius: 5px;
   }
   .desti-detail, .desti-detail2 {
	   text-align: center;
	   width: 100%;
	   padding: 10px 10px 5px;
   }
   .desti-detail2 {
	   text-align: right;
	   padding: 24px 10px 34px 30px;
   }
   .desti-detail h3, .desti-detail2 h3 {
	   font-family: "HSN-Shahd-Bold";
	   color: var(--blue-color);
	   font-size: 22px;
	   width: 100%;
	   padding-top: 5px;
   }
   .desti-detail2 h3 {
	   font-size: 45px;
	   padding-top: 10px;
   }
   .desti-detail h3 a, .desti-detail2 h3 a {
	   color: var(--blue-color);
   }
   .desti-detail .price, .desti-detail2 .price {
	   font-family: var(--din-bd);
	   color: var(--red-color);
	   font-size: 19px;
	   width: 100%;
	   text-transform: uppercase;
	   display: inline-block;
   }
   .desti-detail2 .price {
	   font-size: 40px;
	   line-height: 46px;
   }
   .desti-detail .price span, .desti-detail2 .price span {
	   font-family: var(--din-rg);
	   color: var(--paragraph-color);
	   font-size: 11px;
	   text-transform: none;
   }
   .desti-detail2 .price span {
	   font-size: 28px;
   }
   #destinations-sec .line-btn, #serv-sec .line-btn, .desti-info .red-btn, .desti-info2 .red-btn {
	   font-family: var(--bukra-bd);
	   color: var(--paragraph-color);
	   background: transparent;
	   overflow: hidden;
	   border: 1px solid #828282;
	   width: 300px;
	   padding: 11px 0;
	   font-size: 24px;
	   text-align: center;
	   margin: 42px 0 0;
	   -webkit-transform: perspective(1px) translateZ(0);
	   transform: perspective(1px) translateZ(0);
	   box-shadow: 0 0 1px transparent;
	   position: relative;
	   -webkit-transition-property: color;
	   transition-property: color;
	   -webkit-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
	   border-radius: 12px;
	   display: inline-block;
   }
   #destinations-sec .line-btn::before, #serv-sec .line-btn::before, .desti-info .red-btn::before, .desti-info2 .red-btn::before {
	   content: "";
	   position: absolute;
	   z-index: -1;
	   top: 0;
	   bottom: 0;
	   left: 0;
	   right: 0;
	   background: var(--red-color);
	   -webkit-transform: scaleX(0);
	   transform: scaleX(0);
	   -webkit-transform-origin: 50%;
	   transform-origin: 50%;
	   -webkit-transition-property: transform;
	   transition-property: transform;
	   -webkit-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	   -webkit-transition-timing-function: ease-out;
	   transition-timing-function: ease-out;
   }
   #destinations-sec .line-btn:hover, #serv-sec .line-btn:hover, .desti-info .red-btn:hover, .desti-info2 .red-btn:hover {
	   border: 1px solid var(--red-color);
	   color: var(--white-color);
	   text-decoration: none;
   }
   #destinations-sec .line-btn:hover::before, #serv-sec .line-btn:hover::before, .desti-info .red-btn:hover::before, .desti-info2 .red-btn:hover::before {
	   -webkit-transform: scaleX(1);
	   transform: scaleX(1);
   }
   .desti-info, .desti-info2 {
	   background: var(--blue-color);
	   width: 100%;
	   height: 100%;
	   position: absolute;
	   right: 0;
	   top: 50%;
	   z-index: 3;
	   color: var(--white-color);
	   padding: 30px 25px;
	   visibility: hidden;
	   transition: 0.5s all ease 0s;
	   -webkit-transition: 0.5s all ease 0s;
	   -moz-transition: 0.5s all ease 0s;
	   -o-transition: 0.5s all ease 0s;
	   opacity: 0;
	   text-align: right;
   }
   .desti-info2 {
	   padding: 60px 40px;
   }
   .desti:hover:hover .desti-info, .desti:hover:hover .desti-info2 {
	   visibility: visible;
	   opacity: 1;
	   top: 0;
   }
   .desti-info h3 a, .desti-info2 h3 a {
	   color: var(--white-color);
   }
   .desti-info h3 a:hover, .desti-info2 h3 a:hover {
	   color: var(--red-color);
   }
   .desti-info .price, .desti-info2 .price {
	   color: var(--white-color);
   }
   .desti-info .price span, .desti-info2 .price span {
	   color: var(--white-color);
   }
   .desti-info .red-btn, .desti-info2 .red-btn {
	   color: var(--white-color);
	   background: var(--red-color);
	   overflow: hidden;
	   border: none;
	   width: 100%;
	   padding: 4px 0;
	   font-size: 15px;
	   text-align: center;
	   margin: 45% 0 0;
	   border-radius: 5px;
   }
   .desti-info2 .red-btn {
	   padding: 6px 0;
	   font-size: 31px;
	   border-radius: 12px;
   }
   .desti-info .red-btn::before, .desti-info2 .red-btn::before {
	   background: var(--white-color);
   }
   .desti-info .red-btn:hover, .desti-info2 .red-btn:hover {
	   border: none;
	   color: var(--red-color);
	   text-decoration: none;
   }
   /*=====  Journey Sections CSS BOF  ======*/
   #journey-sec {
	   width: 100%;
	   display: block;
	   position: relative;
	   padding-top: 0 !important;
	   margin-top: -30px;
   }
   #journey-sec .bg-rgt {
	   background: none !important;
   }
   #journey-sec .jrn-box {
	   background: url(../images/devider.png) center left no-repeat;
	   text-align: center;
	   margin-top: 30px;
   }
   #journey-sec .bg-nn {
	   background: none !important;
   }
   #journey-sec .jrn-box .svg-wrap, #journey-sec .jrn-box .svg-wrap svg {
	   display: inline-block;
	   -webkit-transition: all 0.3s linear 0s;
	   -moz-transition: all 0.3s linear 0s;
	   -o-transition: all 0.3s linear 0s;
	   -ms-transition: all 0.3s linear 0s;
	   transition: all 0.3s linear 0s;
   }
   #journey-sec .jrn-box .svg-wrap svg {
	   width: 85px;
	   height: 79px;
	   fill: #666666;
	   position: static;
   }
   #journey-sec .jrn-box:hover .svg-wrap {
	   transform: rotateY(-180deg);
	   -webkit-transform: rotateY(-180deg);
	   -moz-transform: rotateY(-180deg);
   }
   #journey-sec .jrn-box:hover .svg-wrap svg {
	   fill: var(--blue-color);
   }
   #journey-sec .jrn-box h4 {
	   font-family: var(--din-rg);
	   font-size: 21px;
	   color: var(--darkgrey-color);
	   line-height: normal;
	   margin-top: 5px;
   }
   #journey-sec .jrn-box h4 a {
	   color: var(--darkgrey-color);
   }
   #journey-sec .jrn-box h4 a i {
	   color: var(--red-color);
	   font-weight: 700;
	   padding: 0 2px 0 0;
   }
   #journey-sec .jrn-box h4 a:hover {
	   color: var(--red-color);
   }
   #journey-sec .jrn-box:hover h4 a {
	   color: var(--red-color);
   }
   /*=====  Best Services Sections CSS BOF  ======*/
   #serv-sec {
	   background: url(../images/srv-bg.jpg) top center no-repeat;
	   background-size: cover;
	   width: 100%;
	   display: block;
	   position: relative;
	   min-height: 654px;
   }
   #serv-sec::before {
	   content: '';
	   position: absolute;
	   width: 54%;
	   height: 100%;
	   background: rgba(0,0,0,0.3);
	   left: 0;
	   top: 0;
   }
   #serv-sec h2 {
	   font-family: var(--bukra-bd);
	   font-size: 50px;
	   color: var(--white-color);
	   line-height: 70px;
	   padding-top: 20px;
   }
   #serv-sec p {
	   font-family: var(--din-lt);
	   font-size: 33px;
	   color: var(--white-color);
	   line-height: 40px;
	   padding-top: 40px;
   }
   #serv-sec .line-btn {
	   width: 178px;
	   color: var(--white-color);
	   border: 1px solid var(--white-color);
	   margin: 50px 0 0;
   }
   /*=====  Newsletter Sections CSS BOF  ======*/
   #newsletter-sec {
	   width: 100%;
	   display: block;
	   position: relative;
	   padding: 0 0 60px;
   }
   #newsletter-sec::before {
	   content: '';
	   position: absolute;
	   width: 65%;
	   height: 100%;
	   background: url(../images/map.png) top center no-repeat;
	   right: 0;
	   top: 60px;
   }
   #newsletter-sec .nws-inr {
	   width: 100%;
	   text-align: center;
	   margin: 210px 0 0;
   }
   #newsletter-sec .nws-inr h2::before {
	   content: '';
	   position: absolute;
	   width: 112px;
	   height: 4px;
	   background: #db2328;
	   left: 0;
	   bottom: -16px;
	   z-index: 1;
	   right: 0;
	   margin: 0 auto;
   }
   #newsletter-sec .nws-inr h2 {
	   font-family: var(--bukra-bd);
	   font-size: 30px;
	   color: var(--heading-color);
	   position: relative;
	   line-height: normal;
   }
   #newsletter-sec .nws-inr p {
	   font-family: var(--din-rg);
	   font-size: 25px;
	   color: var(--heading-color);
	   line-height: 30px;
	   padding-top: 36px;
   }
   .subscribe-form {
	   margin: 0;
	   padding: 80px 0 0;
   }
   .subscribe-form .sec {
	   padding-top: 30px;
   }
   .subscribe-form label {
	   font-family: var(--din-rg);
	   font-size: 25px;
	   color: var(--heading-color);
	   line-height: normal;
	   font-weight: normal;
	   position: relative;
	   padding-right: 18px;
   }
   .subscribe-form label::before {
	   content: '';
	   position: absolute;
	   width: 6px;
	   height: 25px;
	   background: #d42227;
	   right: 0;
	   top: 9px;
   }
   .subscribe-form .form-control {
	   font-family: var(--din-rg);
	   background-color: var(--white-color);
	   border: 2px solid #cccccc;
	   color: #7c7c7c;
	   display: block;
	   font-size: 20px;
	   height: 50px;
	   padding: 6px 20px;
	   width: 100%;
	   margin-top: 5px;
	   border-radius: 15px;
	   box-shadow: none;
   }
   .subscribe-form .blue-btn {
	   font-family: var(--bukra-bd);
	   color: var(--white-color);
	   background: var(--blue-color);
	   overflow: hidden;
	   border: none;
	   width: 182px;
	   padding: 9px 0;
	   font-size: 23px;
	   text-align: center;
	   margin: 42px 0 0;
	   -webkit-transform: perspective(1px) translateZ(0);
	   transform: perspective(1px) translateZ(0);
	   box-shadow: 0 0 1px transparent;
	   position: relative;
	   -webkit-transition-property: color;
	   transition-property: color;
	   -webkit-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
	   border-radius: 15px;
	   display: inline-block;
	   float: left;
   }
   .subscribe-form .blue-btn::before {
	   content: "";
	   position: absolute;
	   z-index: -1;
	   top: 0;
	   bottom: 0;
	   left: 0;
	   right: 0;
	   background: var(--red-color);
	   -webkit-transform: scaleX(0);
	   transform: scaleX(0);
	   -webkit-transform-origin: 50%;
	   transform-origin: 50%;
	   -webkit-transition-property: transform;
	   transition-property: transform;
	   -webkit-transition-duration: 0.3s;
	   transition-duration: 0.3s;
	   -webkit-transition-timing-function: ease-out;
	   transition-timing-function: ease-out;
   }
   .subscribe-form .blue-btn:hover {
	   color: var(--white-color);
	   text-decoration: none;
   }
   .subscribe-form .blue-btn:hover::before {
	   -webkit-transform: scaleX(1);
	   transform: scaleX(1);
   }
   /* need this so the check doesn't fly away */
   .subscribe-form input[type=checkbox] {
	   position: relative;
	   width: 20px;
	   height: 20px;
	   color: #363839;
	   border: 2px solid #ccc;
	   border-radius: 0px;
	   -webkit-appearance: none;
	   -moz-appearance: none;
	   appearance: none;
	   outline: 0;
	   cursor: pointer;
	   transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
	   margin: 6px 0 0;
	   float: right;
   }
   .subscribe-form input[type="checkbox"]::before {
	   position: absolute;
	   content: "";
	   display: block;
	   top: 0px;
	   left: 4px;
	   width: 7px;
	   height: 12px;
	   border-style: solid;
	   border-color: var(--white-color);
	   border-width: 0 2px 2px 0;
	   transform: rotate(45deg);
	   opacity: 0;
   }
   .subscribe-form input[type=checkbox]:checked {
	   color: var(--white-color);
	   border-color: var(--red-color);
	   background: var(--red-color);
   }
   .subscribe-form input[type=checkbox]:checked::before {
	   opacity: 1;
   }
   .subscribe-form input[type=checkbox]:checked ~ label::before {
	   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
   .subscribe-form span label {
	   position: relative;
	   cursor: pointer;
	   font-size: 18px;
	   -webkit-user-select: none;
	   -moz-user-select: none;
	   -ms-user-select: none;
	   user-select: none;
	   font-family: var(--din-lt);
	   color: var(--blue-color);
	   padding: 0 10px 0 0;
	   float: right;
	   margin: 0;
	   max-width: 94% !important;
   }
   .subscribe-form span label::before {
	   background: none !important;
	   position: absolute;
	   content: attr(data-content);
	   color: #9c9e9f;
	   -webkit-clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	   clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
	   text-decoration-thickness: 3px;
	   -webkit-text-decoration-color: #363839;
	   text-decoration-color: #363839;
	   transition: -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	   transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	   transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
   }
   /*=====  Footer CSS BOF  ======*/
   footer {
	   background: var(--blue-color);
	   width: 100%;
	   display: block;
	   position: relative;
	   padding: 0;
   }
   footer .contact {
	   background: #1b2344;
	   width: 100%;
	   display: block;
	   padding: 25px 0;
   }
   footer .contact .cnt-inr {
	   width: 100%;
	   display: inline-block;
   }
   footer .contact .cnt-inr h2 {
	   font-family: var(--bukra-bd);
	   font-size: 31px;
	   color: var(--white-color);
   }
   footer .contact .cnt-inr p {
	   font-family: var(--din-lt);
	   font-size: 26px;
	   color: var(--white-color);
	   line-height: 28px;
   }
   footer .contact .email {
	   font-family: var(--bukra-md);
	   font-size: 22px;
	   color: var(--white-color);
	   text-align: left;
	   margin-top: 40px;
   }
   footer .contact .email a {
	   color: var(--white-color);
   }
   footer .contact .email a svg {
	   width: 37px;
	   height: 27px;
	   margin: 0 0 -5px 10px;
	   fill: var(--white-color);
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
   }
   footer .contact .email a:hover {
	   color: var(--red-color);
   }
   footer .contact .email a:hover svg {
	   fill: var(--red-color);
   }
   footer .contact .phone {
	   text-align: left;
	   margin-top: 35px;
   }
   footer .contact .phone a svg {
	   width: 63px;
	   height: 41.634px;
	   margin: 0 0 -5px 10px;
	   fill: var(--white-color);
	   -webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	   -o-transition: all 0.5s ease-in-out;
	   transition: all 0.5s ease-in-out;
   }
   footer .contact .phone a:hover svg {
	   fill: var(--red-color);
   }
   footer .inner {
	   display: block;
	   width: 100%;
	   padding: 50px 0;
   }
   footer .social {
	   display: inline-block;
	   list-style: outside none none;
	   margin: 35px 0 0 !important;
	   float: right;
	   width: 100%;
	   padding: 0;
   }
   footer .social li {
	   text-align: center;
	   padding: 0 5px 0 0 !important;
	   float: right;
   }
   footer .social li a {
	   color: var(--heading-color) !important;
	   display: block;
	   height: 22px;
	   line-height: 20px;
	   text-decoration: none;
	   width: 22px;
	   background: var(--white-color);
	   font-size: 13px;
	   border-radius: 100px;
   }
   footer .social li a:hover {
	   background: var(--red-color);
	   color: var(--white-color) !important;
   }
   footer .link {
	   width: 100%;
	   display: inline-block;
   }
   footer .link h4 {
	   font-family: var(--bukra-bd);
	   color: var(--white-color);
	   display: inline-block;
	   line-height: normal;
	   position: relative;
	   text-align: right;
	   float: right;
	   width: 100%;
	   font-size: 21px;
	   padding-bottom: 15px;
   }
   footer .link ul {
	   width: 100%;
	   list-style: none;
	   padding: 0;
	   margin: 0;
	   float: left;
   }
   footer .link ul li {
	   font-family: var(--din-lt);
	   font-size: 20px;
	   padding: 3px 0;
	   width: auto;
   }
   footer .link p a {
	   font-family: var(--din-lt);
	   font-size: 20px;
	   padding: 3px 0 0;
	   color: var(--white-color);
   }
   footer .link p a:hover {
	   color: var(--red-color);
   }
   footer .link ul li a {
	   color: var(--white-color);
	   text-decoration: none;
	   padding: 0;
   }
   footer .link ul li a:hover {
	   color: var(--red-color);
	   text-decoration: none;
   }
   .p-l {
	   padding-right: 90px;
   }
   .ftr-btm {
	   padding: 25px 0;
	   border-top: 2px solid #181f3d;
	   margin: 10px 0 0;
	   position: relative;
   }
   .copyright {
	   width: 100%;
	   text-align: center;
	   padding: 10px 0 0;
   }
   .copyright p {
	   font-family: var(--din-lt);
	   color: var(--white-color);
	   font-size: 16px;
   }
   .ftr-logo {
	   width: auto;
	   margin: 0 auto;
	   text-align: center;
	   padding: 12px 0 0;
   }
   .back-top {
	   background: var(--blue-color);
	   position: absolute;
	   right: 0;
	   top: -13px;
	   left: 0;
	   width: 88px;
	   margin: 0 auto;
   }
   .back-top #totop {
	   color: var(--white-color);
	   height: 34px;
	   line-height: 0;
	   transition: all 0.8s ease-in-out 0s;
	   width: 34px;
	   z-index: 50;
	   background: #181f3d;
	   border-radius: 50%;
	   padding: 8px 11px;
   }
   .back-top i {
	   font-size: 22px;
	   position: relative;
	   top: 0;
	   font-weight: 700;
   }
   .back-top #totop:hover {
	   background: var(--red-color);
	   color: var(--white-color);
   }
   
   
   .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	   float: right;
   }
   .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	   float: right;
   }
   .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	   float: right;
   }
   .col-lg-offset-4 {
	   margin-right: 33.33333333%;
   }