/*********** spinner start *************/

.wan-spinner {
  border: 1px solid #dddddd;
  display: inline-block;
  height:35px;
  border-radius: 3px;
}

.wan-spinner .minus,
.wan-spinner .plus,
.wan-spinner input {
  float: left;
  text-align: center;
  height: 33px;
}

.wan-spinner input {
  border: none;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  margin: 0;
  width: 40px;
}

.wan-spinner .minus,
.wan-spinner .plus {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  width: 25px;
  font-size: 18px;
font-weight: 500;
}


/*********** spinner end *************/
