<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title> About Us</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Main Custom CSS -->
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            type="text/css" />
        <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />

        <link href="css/media.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css"
            href="/assets/css/bootstrap-select.min.css?v=202008130000">
        <link rel="stylesheet" type="text/css"
            href="/assets/css/flag.css">
            <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        [v-cloak] {
          display: none;
        }
      </style>
    </head>

    <body>


        <!--Header -->
        
            <header>
                <headeritem></headeritem>
              </header>
              <div id="AboutUs" v-cloak>
            <section class="inner-title" :style="{ background: 'url(' + BannerSection.Banner_Image+ ')'}">
                <div class="container">
                    <h2><span>{{BannerSection.About_Us_Title}}</span></h2>
    
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="index.html">{{BannerSection.Breadcrumb_Label_1}}</a></li>
                            <li>{{BannerSection.Breadcrumb_Label_2}}</li>
                        </ul>
                    </div>
                </div>
            </section>
    
            <!--About-Us-->
            <section class="about-info">
                <div class="container">
                    <h2>{{AboutUsSection.Welcome_Title}}<span> {{AboutUsSection.Compare_Ticket_Title}}</span></h2>
                    <p v-html="AboutUsSection.About_Content_1"></p>
    
                    <p v-html="AboutUsSection.About_Content_2"></p>
    
    
                </div>
            </section>
    
            <section class="about-vision">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 flex">
                            <div class="about-vm-in">
                                <div class="v-m-icon">
                                    <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                        <path d="M62.497,12.136c0-1.318-1.066-2.387-2.386-2.387H34.825c-1.319,0-2.387,1.068-2.387,2.387v15.177
        c0,1.318,1.067,2.387,2.387,2.387h22.898v6.743L34.825,59.347l-5.897-5.898c-0.501-0.502-1.2-0.753-1.901-0.689
        c-0.703,0.061-1.344,0.434-1.748,1.014L2.521,86.502c-0.507,0.728-0.566,1.68-0.154,2.468c0.411,0.788,1.227,1.281,2.114,1.281
        h91.029c0.005,0,0.007,0,0.009,0c1.319,0,2.386-1.07,2.386-2.388c0-0.568-0.197-1.089-0.529-1.496L62.497,36.675V12.136z
         M37.211,24.925V14.522h20.513v10.402H37.211z M9.049,85.478l18.521-26.637l5.567,5.572c0.447,0.446,1.056,0.697,1.688,0.697
        s1.24-0.251,1.688-0.697l23.277-23.287l31.13,44.352H9.049L9.049,85.478z" />
                                    </svg>
                                </div>
                                <h3>{{AboutUsSection.Mission_Title}}</h3>
                                <p v-html="AboutUsSection.Mission_Content"></p>
                            </div>
                        </div>
                        <div class="col-md-4 flex">
                            <div class="about-vm-in">
                                <div class="v-m-icon">
                                    <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                        <g>
                                            <g>
                                                <path d="M96.825,48.238c-0.212-0.246-5.318-6.11-13.589-12.028C72.17,28.294,60.678,24.109,50,24.109
                c-10.68,0-22.173,4.185-33.237,12.101C8.491,42.128,3.386,47.992,3.173,48.238c-0.874,1.012-0.874,2.513,0,3.524
                c0.213,0.246,5.318,6.109,13.59,12.028c11.064,7.915,22.558,12.1,33.237,12.1c10.678,0,22.17-4.185,33.236-12.1
                c8.271-5.919,13.377-11.782,13.589-12.028C97.701,50.751,97.701,49.25,96.825,48.238z M80.009,59.487
                C72.957,64.516,62.023,70.51,50,70.51c-12.025,0-22.958-5.994-30.011-11.022c-5.144-3.668-9.04-7.377-11.104-9.486
                c2.065-2.11,5.961-5.819,11.104-9.487C27.042,35.486,37.975,29.49,50,29.49c12.023,0,22.957,5.996,30.009,11.023
                c5.145,3.668,9.041,7.378,11.104,9.487C89.05,52.11,85.153,55.819,80.009,59.487z M63.965,47.311c-1.483,0-2.688,1.204-2.688,2.69
                c0,6.23-5.059,11.301-11.277,11.301c-6.22,0-11.279-5.07-11.279-11.301C38.721,43.77,43.78,38.7,50,38.7
                c2.734,0,5.371,0.992,7.428,2.796c1.115,0.979,2.813,0.867,3.789-0.251c0.977-1.117,0.865-2.817-0.251-3.796
                c-3.034-2.664-6.928-4.13-10.966-4.13c-9.182,0-16.649,7.483-16.649,16.682S40.818,66.683,50,66.683
                c9.181,0,16.647-7.483,16.647-16.682C66.647,48.515,65.445,47.311,63.965,47.311z M44.629,50.001c0,2.967,2.409,5.381,5.371,5.381
                c2.96,0,5.369-2.414,5.369-5.381c0-2.968-2.409-5.382-5.369-5.382C47.038,44.619,44.629,47.033,44.629,50.001z" />
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <h3>{{AboutUsSection.Vision_Title}}</h3>
                                <p v-html="AboutUsSection.Vision_Content"></p>
                            </div>
                        </div>
                        <div class="col-md-4 flex">
                            <div class="about-vm-in">
                                <div class="v-m-icon">
                                    <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                        <path d="M81.668,69.998V50.793h-30V36.666H71.67V9.998H28.333v26.668h20.001v14.127h-30v19.205H10v20.004h20V69.998
        h-8.334V54.126h26.669v15.872H40v20.004h20V69.998h-8.332V54.126h26.666v15.872h-8.332v20.004H90V69.998H81.668z M26.667,73.332
        v13.335H13.333V73.332H26.667z M56.67,73.332v13.335H43.333V73.332H56.67z M31.667,33.333V13.332h36.669v20.001H31.667z
         M86.67,86.667H73.334V73.332H86.67V86.667L86.67,86.667z" />
                                    </svg>
                                </div>
                                <h3>{{AboutUsSection.Principles_Title}}</h3>
                                <p v-html="AboutUsSection.Principles_Content"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!--Book-Holiday -->
    
            <div class="container">
                <div class="book-holiday">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="holiday-text">
                        <h2>{{BookSection.Book_Your_Title}}</h2>
                        <h3>{{BookSection.Holiday_Title}} <span>{{BookSection.With_Us_Title}}</span></h3>
                        <div class="book-btn">
                          <a class="btn" href="holidays.html">{{BookSection.Book_Now_Button_Label}}</a>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="holiday-img">
                        <img :src="BookSection.Image" alt="holidyas-image">
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
        </div>
        <!--footer-->
        <footer>
            <footeritem></footeritem>
        </footer>
        <!-- Main JQUERY -->

        <script src="/assets/js/jquery.min.js?v=202008130000"></script>
        <!-- Bootstrap JQUERY -->
        <script>
            /*--------Banner-Slider---------*/
            $(document).ready(function () {

                $("#owl-demo-1").owlCarousel({
                    autoplay: true,
                    autoPlay: 8000,
                    autoplayHoverPause: true,
                    stopOnHover: false,
                    items: 1,
                    margin: 10,
                    lazyLoad: true,
                    navigation: true,
                    itemsDesktop: [1199, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [768, 1],
                });

                $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
                $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
            });
        </script>
        <script src="js/bootstrap.min.js"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/pack.js"></script>
        <script src="js/custom.js"></script>
        <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>


        <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
        <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
        <script src="/assets/js/axios.min.js?v=201906280000"></script>
        <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
        <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
        <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
        <script src="/assets/js/common.js?v=202008200000"></script>
        <script src="servicejs/AboutUs.js" type="text/javascript"></script>




    </body>

</html>