
<!DOCTYPE html>
<html lang="en" >
  <head>
      <!-- Basic Page Needs -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Mobile Specific Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <title>Contact Us</title>
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- Main Custom CSS -->
      <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
      <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
      <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
      <link href="css/style.css" rel="stylesheet" type="text/css" />
      <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />

      <link href="css/media.css" rel="stylesheet" type="text/css" />
       
       <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
       <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        [v-cloak] {
          display: none;
        }
      </style>
   </head>
   <body >
    <header>
        <headeritem></headeritem>
      </header>
      <div id="contactuspage" class="ar_direction" v-cloak>
         <section class="inner-title" :style="{ background: 'url(' + BannerSection.Banner_Image+ ')'}">
              <div class="container">
                  <h2><span>{{BannerSection.Banner_Main_Title}}</span>{{BannerSection.Banner_Sub_Title}}</h2>
                  
                  <div class="breadcrumbs">
                      <ul>
                          <li><a href="index.html">{{BannerSection.Breadcrumb_Title_1}}</a></li>
                          <li>{{BannerSection.Breadcrumb_Title_2}}</li>
                      </ul>
                 </div>
              </div>
         </section>
       
         <section class="contact-in about-info about-vision">
             <div class="container">
                 
                 <h2>{{ContactSection.Contact_Us_Title}}<span> {{ContactSection.Us_Title}}</span> </h2>
                 
                 <div class="row">
                      <div class="col-md-4 flex">
                         <div class="about-vm-in get-in-touch">
                             <div class="v-m-icon">
                                  <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M67.198,89.093c-28.301-9.226-47.316-27.741-56.291-56.298c0-2.08,0-4.168,0-6.254
      c4.689-5.212,9.382-10.423,14.071-15.634c1.565,0,3.127,0,4.692,0c3.624,3.633,7.152,7.374,10.896,10.887
      c5.157,4.829,5.927,9.875,0.254,14.501c-4.747,3.875-3.786,7.291-0.34,11.033c2.99,3.244,5.898,6.592,9.162,9.537
      c4.919,4.447,9.716,9.073,15.837,0.776c2.838-3.85,7.426-3.169,10.97,0.223c4.275,4.098,8.431,8.304,12.643,12.465
      c0,1.559,0,3.124,0,4.689c-4.689,4.689-9.385,9.378-14.074,14.074C72.409,89.093,69.808,89.093,67.198,89.093z M69.56,84.836
      c0.54,0.478,1.081,0.954,1.622,1.432c4.257-3.716,9.271-6.916,12.318-11.44c0.954-1.419-3.366-6.426-5.345-9.747
      c-0.389-0.643-1.177-1.037-1.654-1.648c-3.665-4.715-7.47-5.434-11.249-0.242c-3.875,5.326-8.336,4.912-12.586,0.98
      c-6.073-5.618-11.994-11.446-17.523-17.6c-3.366-3.748-3.566-7.991,1.139-11.383c5.882-4.231,4.982-8.271-0.273-12.356
      c-1.839-1.432-3.395-3.239-4.992-4.957c-2.984-3.206-5.478-2.494-8.672,0.146C15.635,23.557,13.745,29.919,17,38.057
      c8.586,21.462,23.568,36.439,45.071,44.857C64.45,83.844,67.059,84.206,69.56,84.836z"/>
  </svg>
                                 </div>
                             <h3>{{ContactSection.Phone_Label}}</h3>
                             <!-- <p><a href="tel:ContactSection.Phone_Number">{{ContactSection.Phone_Number}}</a></p> -->
                             <div v-html="ContactSection.Phone_Number"></div>
                         </div>
                     </div>
                     
                     <div class="col-md-4 flex">
                         <div class="about-vm-in get-in-touch">
                             <div class="v-m-icon">
                                  <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.173,83.332c0-22.162,0-44.325,0-66.664c29.06,0,58.21,0,87.654,0
          c0,22.099,0,44.382,0,66.664C64.799,83.332,35.531,83.332,6.173,83.332z M49.285,78.548c10.857,0,21.713-0.067,32.568,0.03
          c5.054,0.048,7.526-2.118,7.503-7.278c-0.064-14.112-0.101-28.226,0.022-42.337c0.051-5.566-2.498-7.761-7.923-7.734
          c-20.897,0.101-41.796,0.103-62.692,0c-5.417-0.027-7.989,2.146-7.94,7.719c0.122,13.84,0.159,27.682-0.02,41.522
          c-0.077,5.963,2.533,8.264,8.359,8.144C29.2,78.404,39.245,78.555,49.285,78.548z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M38.765,49.183c-7.422-6.809-14.932-13.698-22.442-20.589
          c0.874-0.947,1.749-1.894,2.623-2.839c10.25,9.094,20.499,18.189,31.182,27.668c10.688-9.493,20.893-18.557,31.099-27.621
          c0.605,0.613,1.21,1.226,1.815,1.839c-4.672,9.193-15.115,13.312-21.209,22.027c7.236,7.221,14.575,14.544,21.915,21.868
          c-0.826,0.828-1.651,1.656-2.479,2.484c-7.697-7.197-15.394-14.394-23.102-21.602c-2.858,2.199-5.183,3.989-7.869,6.059
          c-2.422-1.754-4.781-3.462-7.859-5.691c-7.711,6.94-15.588,14.033-23.465,21.126c-0.55-0.541-1.101-1.082-1.652-1.624
          C22.025,62.799,32.469,58.204,38.765,49.183z"/>
  </g>
  </svg>
                                 </div>
                             <h3>{{ContactSection.Email_Label}}</h3>
                             <!-- <p><a href="mailto:ContactSection.Email">{{ContactSection.Email}}</a></p> -->
                             <div v-html="ContactSection.Email"></div>
                         </div>
                     </div>
                     
                     <div class="col-md-4 flex">
                         <div class="about-vm-in get-in-touch">
                             <div class="v-m-icon">
                                  <svg  viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  <g>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M86.26,36.942c0,2.904,0,5.808,0,8.705C82.547,59.191,75.39,70.76,65.799,80.863
          c-4.609,4.863-9.555,9.408-14.348,14.098c-0.968,0-1.935,0-2.903,0c-0.732-0.902-1.337-1.965-2.216-2.697
          C31.168,79.723,19.17,64.986,13.74,45.647c0-3.381,0-6.769,0-10.151C18.476,19.161,28.822,8.703,45.647,5.039
          c2.901,0,5.804,0,8.701,0c3.589,1.238,7.29,2.23,10.736,3.776C77.271,14.274,83.121,24.614,86.26,36.942z M49.87,89.621
          c12.169-10.15,22.804-20.805,28.187-35.08c2.408-6.391,3.258-14.217,2.112-20.927C77.366,17.272,59.915,7.01,43.352,10.656
          C26.477,14.375,15.584,30.398,19.3,46.835C23.41,64.998,36.107,77.234,49.87,89.621z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M50.106,19.231c12.588,0.042,22.751,10.099,22.62,22.386
          c-0.13,12.203-10.682,22.627-22.827,22.531C37.701,64.055,27.202,53.504,27.273,41.41C27.344,29.041,37.485,19.19,50.106,19.231z
           M50.07,23.61c-9.985-0.022-18.083,7.679-18.354,17.464c-0.274,9.773,8.351,18.607,18.212,18.654
          c9.88,0.053,18.496-8.664,18.313-18.519C68.064,31.366,60.08,23.635,50.07,23.61z"/>
  </g>
  </svg>
                                 </div>
                             <h3>{{ContactSection.Address_Label}}</h3>
                             <!-- <p>{{ContactSection.Address}}</p> -->
                             <div v-html="ContactSection.Address"></div>
                         </div>
                     </div>
                      
                 </div>
             </div>
         </section>
         
         
         <section class="contact-fm">
             <div class="container-fluid">
                 <div class="row">
                     <div class="col-md-6 col-sm-6">
                         <div class="contact-form">
                           
                                  <div class="col-md-6">
                                      <input type="text" id="text" class="form-control" v-model="cntusername" :placeholder="FormSection.Name_Placeholder">
                                  </div>
                                 
                                 <div class="col-md-6">
                                      <input type="email" id="email" class="form-control" v-model="cntemail" :placeholder="FormSection.Email_Placeholder">
                                  </div>
                                 
                                 <div class="col-md-6">
                                      <input type="tel" id="tel" class="form-control" v-model="cntcontact" :placeholder="FormSection.Phone_Placeholder">
                                  </div>
                                 
                                 <div class="col-md-6">
                                      <input type="text" id="text" class="form-control" v-model="cntsubject" :placeholder="FormSection.Subject_Placeholder">
                                  </div>
                                 
                                 <div class="col-md-12">
                                     <textarea rows="4" cols="65" v-model="cntmessage" :placeholder="FormSection.Message_Placeholder"></textarea>
                                 </div>
                                 
                                 <div class="col-md-12">
                                     <button v-on:click="sendcontactus">{{FormSection.Send_Button_Label}}</button>
                                 </div>
                      
                         </div>
                     </div>
                     
                     
                     <div class="col-md-6 col-sm-6 map">
                      <iframe :src="MapSection.Map_Link" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                     </div>
                     
                 </div>
             </div>
         </section>
         
         
       
         <!--Book-Holiday -->
         
         <div class="container">
            <div class="book-holiday">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="holiday-text">
                    <h2>{{BookSection.Book_Your_Title}}</h2>
                    <h3>{{BookSection.Holiday_Title}} <span>{{BookSection.With_Us_Title}}</span></h3>
                    <div class="book-btn">
                      <a class="btn" href="holidays.html">{{BookSection.Book_Now_Button_Label}}</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-md-6" >
                  <div class="holiday-img">
                    <img :src="BookSection.Image" alt="holidyas-image">
                  </div>
      
                </div>
              </div>
            </div>
          </div>    
        <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
      </div>
       <!--footer-->
       <footer>
        <footeritem></footeritem>
    </footer>  
      <!-- Main JQUERY --> 
      <script src="/assets/js/jquery.min.js?v=202008130000"></script> 
      <!-- Bootstrap JQUERY --> 
      <script src="js/bootstrap.min.js"></script> 
      <script src="js/jquery.min.js"></script> 
      <script src="js/jquery-ui.min.js"></script> 
      <script src="js/select2.min.js"></script> 
      <script src="js/owl.carousel.min.js"></script> 
       <script type="text/javascript" src="js/pack.js"></script>
      <script src="js/custom.js"></script>
       <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script> 
       <script>
         /*--------Banner-Slider---------*/  
              $(document).ready(function() {
         
               $("#owl-demo-1").owlCarousel({
                 autoplay:true,
                 autoPlay : 8000,
                 autoplayHoverPause:true, 
                 stopOnHover : false,  
                 items : 1,
                 margin:10,  
                 lazyLoad : true,
                 navigation : true,
                 itemsDesktop : [1199, 1],
                 itemsDesktopSmall : [979, 1],
                 itemsTablet : [768, 1],
               });
                  
                  $( ".owl-prev").html('<i class="fa   fa-angle-left"></i>');
                  $( ".owl-next").html('<i class="fa  fa-angle-right"></i>');
             });
          </script>
       
       
       <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
       <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
       <script src="/assets/js/axios.min.js?v=201906280000"></script>
       <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
       <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
       <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
       <script src="/assets/js/common.js?v=202008200000"></script>
       <script src="servicejs/Contact-Us.js" type="text/javascript"></script>
       
   </body>
</html>
