<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Holidays Detail</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <link href="css/media.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css"
      href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css"
      href="/assets/css/flag.css">

      <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        [v-cloak] {
          display: none;
        }
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
	      
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}
      </style>
  </head>

  <body>


    <!--Header -->
    <header>
      <headeritem></headeritem>
    </header>
<div id="package-detail" v-cloak>

   <section class="inner-title" :style="{ background: 'url(' + BannerSection.Banner_Image+ ')'}">
        <div class="container">
            <h2>{{BannerSection.Banner_Title}}</h2>

            <div class="breadcrumbs">
                <ul>
                    <li><a href="index.html">{{BannerSection.Breadcrumb_Title_1}}</a></li>
                    <li><a href="holidays.html"></a>{{BannerSection.Breadcrumb_Title_2}}</a></li>
                    <li>{{BannerSection.Breadcrumb_Title_3}}</li>
                </ul>
            </div>
        </div>
    </section>

  <!--packages-detail-->
  <div class="container">
    <div class="row">
      <div class="package-detail-inner">

        <div class="col-md-8">
          <div class="package-place-info">
            <div class="package-name">
              <h2>{{PackageListt.Package_Name}}</h2>
              <p>{{BriefDetailsList.Price_Label}}: <span>{{$n((BriefDetailsList.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</span></p>
            </div>

            <div class="package-days">
              <div class="day-night">
                <p><i class="fa fa-sun-o"></i> {{BriefDetailsList.Days}} {{BriefDetailsList.Days_Label}} </p>
                <p><i class="fa fa-moon-o"></i> {{BriefDetailsList.Nights}} {{BriefDetailsList.Nights_Label}} </p>
              </div>

              <div class="package-media">
                <ul>
                  <li><a :href="BriefDetailsList.Facebook_Link" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li><a :href="BriefDetailsList.Twitter_Link" target="_blank"><i class="fa fa-twitter"></i></a></li>
                  <li><a :href="BriefDetailsList.Linked_In_Link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  <li><a :href="BriefDetailsList.Instagram_Link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </div>
            </div>

            <img class="package-img" :src="BriefDetailsList.Package_Image" alt="place">
          </div>
        </div>

        <div class="col-md-4">
          <div class="detail-form">
            <h3>{{FormList.Title}}</h3>

            <div class="search-section">
              <!-- BEGIN: FLIGHT SEARCH -->
              <div role="tabpanel" class="tab-pane active" id="flight">
                  <div class="clearfix"></div>

                  <div class="col-md-12 search-col-padding">
                    <div class="input-group">
                      <input name="neame" class="form-control" required=""
                      v-model="addBookingForm.fname" :placeholder="FormList.Name_Placeholder" type="text">
                    </div>
                  </div>

                  <div class="col-md-12 search-col-padding">
                    <div class="input-group">
                      <input name="name" class="form-control" required="" 
                      v-model="addBookingForm.lname"
                      :placeholder="FormList.Last_Name_Placeholder" type="text">
                    </div>
                  </div>

                  <div class="col-md-12 search-col-padding">
                    <div class="input-group">
                      <input name="email" class="form-control" required="" 
                      v-model="addBookingForm.femail" :placeholder="FormList.Email_Placeholder" type="email">
                    </div>
                  </div>


                  <div class="col-md-12 search-col-padding">
                    <div class="input-group">
                      <input name="phone" class="form-control" required="" 
                      v-model="addBookingForm.fphone"
                      :placeholder="FormList.Phone_Placeholder" type="tel">
                    </div>
                  </div>

                  <div class="col-md-6 col-sm-12 search-col-padding">
                   
                    <input id="from" class="calendar" type="text" 
                    v-model="addBookingForm.fdate" :placeholder="FormList.Book_Date_Placeholder" readonly />
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                  </div>

                  <div class="col-md-6 col-sm-12 search-col-padding">
                    <select class="myselect" v-model="addBookingForm.fadult" id="Adultmyselect">
                      <option value="">Adult</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>

                  <div class="col-md-6 col-sm-12 search-col-padding">
                    <select class="myselect" v-model="addBookingForm.finfants" id="Infantmyselect">
                      <option value="">Infant</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>

                  <div class="col-md-6 col-sm-12 search-col-padding">
                    <select class="myselect" v-model="addBookingForm.fchild" id="Childmyselect">
                      <option value="">Child</option>
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                  </div>


                  <div class="clearfix"></div>
                  <div class="col-md-12  search-col-padding">
                    <div class="input-group">
                      <textarea name="name" required=""  
                      v-model="addBookingForm.fmessage"
                       :placeholder="FormList.Message_Placeholder" rows="2" cols="50"></textarea>
                    </div>
                  </div>

                  <div class="col-md-12  search-col-padding">
                    <button type="submit" class="search-button" v-on:click="addbooking">{{FormList.Button_Label}}</button>
                  </div>
              </div>
              <!-- END: FLIGHT SEARCH -->

            </div>


          </div>
        </div>

        <div class="clearfix"></div>

        <div class="desc-detail">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-section">
            <div role="tabpanel">
              <!-- BEGIN: CATEGORY TAB -->
              <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                <li role="presentation" class="active text-center"> <a href="#description" aria-controls="flight"
                    role="tab" data-toggle="tab"> <span style="
                    margin-left: 15px;">{{AboutSectionList.Description_Label}} </span> </a> </li>

                <li role="presentation" class="text-center"> <a href="#itinerary" aria-controls="hotel" role="tab"
                    data-toggle="tab"> <span>{{ItineraryList.Itinerary_Label}} </span> </a> </li>

                <li role="presentation" class="text-center"> <a href="#location" aria-controls="location" role="tab"
                    data-toggle="tab"><span>{{LocationList.Location_Label}}</span> </a> </li>


                <li role="presentation" class="text-center"> <a href="#review-trip" aria-controls="review-trip"
                    role="tab" data-toggle="tab"><span>Reviews </span> </a> </li>
              </ul>
              <!-- END: CATEGORY TAB -->

              <!-- BEGIN: TAB PANELS -->
              <div class="tab-content">
                <!-- description -->
                <div role="tabpanel" class="tab-pane active" id="description">
                  <h4>{{AboutSectionList.Description_Title}}</h4>
                  <p v-html="AboutSectionList.Package_Description"></p>

                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="fist-td">{{AboutSectionList.Departure_Label}}</td>
                        <td class="second-td"><span>{{AboutSectionList.Departure_Detail}}</span></td>
                      </tr>
                      <tr>
                        <td class="fist-td">{{AboutSectionList.Departure_Time_Label}}</td>
                        <td class="second-td"><span>{{AboutSectionList.Departure_Time_Detail}}
                            </span></td>
                      </tr>
                      <tr>
                        <td class="fist-td">{{AboutSectionList.Return_Time_Label}}</td>
                        <td class="second-td"><span>{{AboutSectionList.Return_Time_Detail}}</span></td>
                      </tr>
                      <tr>
                        <td class="fist-td">{{AboutSectionList.Included_Label}}</td>
                        <td class="second-td">
                          <table>
                            <tr>
                              <td class="third-td" v-for="(included,index) in AboutSectionList.Included_Section"
                                v-if="index % 2 === 0"><span><i class="fa fa-check"
                                    aria-hidden="true"></i>{{included.Inclusion_Name}}</span>
                              </td>
                            </tr>
                            <tr>
                              <td v-for="(included,index) in AboutSectionList.Included_Section" v-if="index % 2 !== 0"><span><i
                                    class="fa fa-check" aria-hidden="true"></i>{{included.Inclusion_Name}}</span></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="fist-td">{{AboutSectionList.Not_Included_Label}}</td>
                        <td class="second-td">
                          <table>
                            <tr>
                              <td class="third-td" v-for="(Not_Included,index) in AboutSectionList.Not_Included_Section"
                                v-if="index % 2 === 0"><span><i class="fa fa-close"
                                    aria-hidden="true"></i>{{Not_Included.Inclusion_Name}}</span></td>
                              <td class="third-td" v-for="(Not_Included,index) in AboutSectionList.Not_Included_Section"
                                v-if="index % 2 !== 0"><span><i class="fa fa-close"
                                    aria-hidden="true"></i>{{Not_Included.Inclusion_Name}}</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <p v-html="AboutSectionList.About_Package"></p>

                </div>
                <!-- END: FLIGHT SEARCH -->

                <!-- itinerary -->
                <div role="tabpanel" class="tab-pane" id="itinerary">
                  <div v-for="Itinerary in ItineraryList.Itinerary_Details">
                    <h4>{{Itinerary.Title}}</h4>
                    <p>{{Itinerary.Description}}</p>

                  </div>
             

                </div>


                <!--location-tab-->
                <div role="tabpanel" class="tab-pane" id="location">
                  <h4>{{LocationList.Location_Title}}</h4>
                  <iframe
                    :src="LocationList.Map_Link"
                    width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    tabindex="0"></iframe>
                </div>


                <!--review-tab-->
                <div role="tabpanel" class="tab-pane" id="review-trip">
                  <div class="col-lg-12 pa-0">
                    <h4 v-if="reviewAvailable">{{avgrating}} based on {{ratingcount}} review</h4>
                    <h4 v-else>No rewiews</h4>
                    <div class="comment-div" v-for="review in allReview">
                      <div class="user"><img src="images/user.png" alt=""></div>
                      <div class="comment-block"> <span class="heading">{{review.Name}}
                          <span>{{review.Date}}</span></span>
                        <ul class="rating">
                          <li v-for="rowindex in 5"
                            :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                            <i class="fa fa-star"
                              :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                          </li>
                        </ul>
                        <p>{{review.comment}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="review-form">
                    <div class="col-md-12">
                      <h4>Add a review</h4>
                      <p>Your email address will not be published. Required fields are marked *</p>
                      <div class="add-rws"> <span>Your Rating</span>
                        <ul class="rating" id="ratingID">
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(1)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(2)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(3)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(4)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(5)"></i></li>
                        </ul>
                      </div>
                    </div>

                    <div class="review-form-field">
                      <div class="col-md-6">
                        <input type="text" id="text-01" name="name" placeholder="Name" v-model="Name">
                      </div>

                      <div class="col-md-6">
                        <input type="email" id="email" name="name" placeholder="Email" v-model="Email">
                      </div>

                      <div class="col-md-12">
                        <textarea id="text-1" placeholder="Message" rows="3" cols="50" v-model="Review"></textarea>
                      </div>

                      <div class="col-md-12">
                        <input type="submit" id="submit-01" value="SUBMIT REVIEW" @click.prevent="addReviews()">
                      </div>

                    </div>

                  </div>
                </div>



              </div>
              <!-- END: TAB PANE -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!--Book-Holiday -->
  <div class="container">
    <div class="book-holiday">
      <div class="row">
        <div class="col-md-6">
          <div class="holiday-text">
            <h2>{{BookSection.Book_Your_Title}}</h2>
            <h3>{{BookSection.Holiday_Title}} <span>{{BookSection.With_Us_Title}}</span></h3>
            <div class="book-btn">
              <a class="btn" href="holidays.html">{{BookSection.Book_Now_Button_Label}}</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="holiday-img">
            <img :src="BookSection.Image" alt="holidyas-image">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>




    <!--footer-->
    <footer>
      <footeritem></footeritem>
  </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <!-- Bootstrap JQUERY -->

    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/pack.js"></script>
    
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="https://unpkg.com/vuejs-datepicker"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/HolidayDetails.js" type="text/javascript"></script>
    <script src="js/custom.js"></script>
    <script>
      /*--------Banner-Slider---------*/
      $(document).ready(function () {
        $("#owl-demo-1").owlCarousel({
          autoplay: true,
          autoPlay: 8000,
          autoplayHoverPause: true,
          stopOnHover: false,
          items: 1,
          margin: 10,
          lazyLoad: true,
          navigation: true,
          itemsDesktop: [1199, 1],
          itemsDesktopSmall: [979, 1],
          itemsTablet: [768, 1],
        });

        $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
        $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
      });
    </script>
  </body>

</html>