<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Basic Page Needs -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title> Holidays</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Main Custom CSS -->
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            type="text/css" />
        <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />

        <link href="css/media.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css"
            href="/assets/css/bootstrap-select.min.css?v=202008130000">
        <link rel="stylesheet" type="text/css"
            href="/assets/css/flag.css">
            <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        [v-cloak] {
          display: none;
        }

      </style>
    </head>

    <body>


        <!--Header -->
        <header>
            <headeritem></headeritem>
          </header>
<div id="holidayPackages" v-cloak>
    <section class="inner-title" :style="{ background: 'url(' + BannerSection.Banner_Image+ ')'}">
        <div class="container">
            <h2>{{BannerSection.Banner_Title}}</h2>

            <div class="breadcrumbs">
                <ul>
                    <li><a href="index.html">{{BannerSection.Breadcrumb_Title_1}}</a></li>
                    <li>{{BannerSection.Breadcrumb_Title_2}}</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Offer-Section -->
    <section class="deals-holiday holidays-in">
        <div class="container">
            <div class="deals-title">
                <h2><span>{{packageDatas.Deals_Title}}</span> {{packageDatas.Amazing_Holiday_Title}}</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6" v-for="pack in Package">
                    <div class="item">
                        <div class="deals-img">
                            <img :src="pack.Package_Card_Image" alt="deals-img">
                        </div>
                        <div class="deals-deatil">
                            <h3><a href="#">{{pack.Package_Name}}</a></h3>
                            <hr>

                            <div class="days">
                                <img :src="pack.Icon">{{pack.Days}} {{pack.Days_Label}}
                            </div>

                            <p class="price">{{pack.From_Label}} <span>{{$n((getAmount(pack.Price)/CurrencyMultiplier), 'currency', selectedCurrency)}}</span></p>
                            
                            <div style="padding-top: 50px;" >
                                <a class="btn" @click="getmoreinfo(pack.More_details_page_link)">{{pack.Button_Label}}</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clear-fix"></div>
                <div class="col-md-12">
                    <div class="inner-pagination">
                        <ul class="pagination">
                            <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i class="fa fa-angle-left"></i></a></li>
                                       <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectNewEvent(ind)" class=""
                                       :class="rowindex==currentPages ? 'active' :'' ">
                                         <a href="#">{{rowindex}}
                                         </a>
                                       </li>
                                       <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i class="fa fa-angle-right"></i></a></li>
                                   </ul>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End-Offer -->



    <!--Book-Holiday -->
    <div class="container">
        <div class="book-holiday">
          <div class="row">
            <div class="col-md-6">
              <div class="holiday-text">
                <h2>{{BookSection.Book_Your_Title}}</h2>
                <h3>{{BookSection.Holiday_Title}} <span>{{BookSection.With_Us_Title}}</span></h3>
                <div class="book-btn">
                  <a class="btn" href="holidays.html">{{BookSection.Book_Now_Button_Label}}</a>
                </div>
              </div>
            </div>
  
            <div class="col-md-6">
              <div class="holiday-img">
                <img :src="BookSection.Image" alt="holidyas-image">
              </div>
  
            </div>
          </div>
        </div>
      </div>

</div>



        <!--footer-->
        <footer>
            <footeritem></footeritem>
        </footer>
        <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
        <!-- Main JQUERY -->

        <script src="/assets/js/jquery.min.js?v=202008130000"></script>
        <!-- Bootstrap JQUERY -->

        <script src="js/bootstrap.min.js"></script>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery-ui.min.js"></script>
        <script src="js/select2.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="js/pack.js"></script>
        <script src="js/custom.js"></script>
        <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
        <script>
            /*--------Banner-Slider---------*/
            $(document).ready(function () {

                $("#owl-demo-1").owlCarousel({
                    autoplay: true,
                    autoPlay: 8000,
                    autoplayHoverPause: true,
                    stopOnHover: false,
                    items: 1,
                    margin: 10,
                    lazyLoad: true,
                    navigation: true,
                    itemsDesktop: [1199, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [768, 1],
                });

                $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
                $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
            });
        </script>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
<script src="servicejs/holiday-packages.js" type="text/javascript"></script>


    </body>

</html>