<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> Compare Ticket</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/nouislider.min.css?v=201906200000" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />

  <link href="css/media.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css"
    href="/assets/css/bootstrap-select.min.css?v=202008130000">
  <link rel="stylesheet" type="text/css"
    href="/assets/css/flag.css">

  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <style>
    [v-cloak] {
      display: none;
    }

    /* .custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 31px;
	color: #1c1c1c;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin-right: -1px;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 6;
	font-weight: 700;
	content: "\f107";
	font-family: 'FontAwesome';
}
.trvFld {
    float: left;
    margin-right: 15px;
    width: 150px;
}

.trvFld .custom-select-v3::before {
    font-size: 16px;
    height: 35px;
    line-height: 6px;
    top: 15px;
    margin-right: 1px;
}
.classSec .custom-select-v3::before {
    top: 0;
    margin-right: 2px;
} */
  </style>
</head>

<body>


  <!--Header -->

  <header>
    <headeritem></headeritem>
  </header>

  <!-- banner-->
  <section id="indexmain" v-cloak>
    <section class="banner-info">
      <div class="banner_main" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
        <div class="container">
          <div id="owl-demo-1" class="owl-carousel banner_text owl-theme">

            <div class="item" v-for="(banner,indx) in Banner.Banner_Title">
              <div class="banner-text">
                <h1>{{banner.Title_1}}</h1>
                <p>{{banner.Title_2}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!--End-banner-form-->
    <div class="container">
      <div class="booking-form">
        <div class="row">
          <div class="search-section">
            <div role="tabpanel">
              <!-- BEGIN: CATEGORY TAB -->
              <div class="booking-tab">
                <div class="col-md-12  tab-field">
                  <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                    <li role="presentation" class="active text-center"> <a href="#flight" aria-controls="flight"
                        role="tab" data-toggle="tab"> <span class="service-icon">

                          <svg viewBox="0 0 511.99928 511" xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="m241.21875 257.140625c-3.910156 3.898437-3.910156 10.230469 0 14.140625s10.238281 3.910156 14.140625 0c3.910156-3.910156 3.910156-10.242188 0-14.140625-3.902344-3.910156-10.230469-3.910156-14.140625 0zm0 0" />
                            <path
                              d="m400.226562 29.753906c-17.160156 13.285156-21.835937 20.132813-82.695312 80.363282l-36.484375-5.941407 16.742187-16.742187c11.726563-11.726563 11.730469-30.699219 0-42.425782-11.722656-11.722656-30.707031-11.726562-42.429687 0l-47.289063 47.289063-165.382812-26.925781c-10.6875-1.734375-21.621094 1.800781-29.269531 9.449218-14.707031 14.707032-12.710938 39.039063 4.066406 51.179688l164.808594 119.351562-30.855469 30.859376c-10.574219 10.574218-21.703125 25.117187-33.140625 43.277343l-76.859375-22.601562c-11.34375-3.332031-23.59375-.210938-31.972656 8.152343-14.265625 14.265626-12.109375 37.957032 4.460937 49.433594l63.007813 43.617188c-10.96875 24.207031-17.636719 41.710937-17.945313 42.519531-1.398437 3.679687-.503906 7.839844 2.277344 10.621094 2.796875 2.796875 6.960937 3.667969 10.621094 2.277343.808593-.304687 18.3125-6.976562 42.519531-17.945312l43.621094 63.011719c11.496094 16.597656 35.1875 18.699219 49.4375 4.449219 8.359375-8.371094 11.480468-20.621094 8.144531-31.964844l-22.597656-76.855469c18.171875-11.445313 32.707031-22.574219 43.277343-33.140625l30.859376-30.859375 119.347656 164.808594c12.160156 16.804687 36.492187 18.757812 51.183594 4.066406 7.644531-7.644531 11.179687-18.585937 9.449218-29.277344l-26.925781-165.371093 47.285156-47.285157c11.726563-11.726562 11.726563-30.710937 0-42.433593-11.722656-11.726563-30.695312-11.726563-42.421875 0l-16.746094 16.742187-5.9375-36.484375c60.292969-60.921875 67.03125-65.488281 80.324219-82.648438.015625-.019531.035157-.042968.050781-.066406 30.84375-39.972656 38.0625-80.34375 17.949219-100.464844-20.117187-20.105468-60.492187-12.894531-100.480469 17.964844zm-130.726562 29.398438c3.90625-3.910156 10.238281-3.910156 14.148438 0 3.910156 3.910156 3.90625 10.226562 0 14.136718l-26.929688 26.925782-24.324219-3.960938zm-240.289062 50.644531c-6.84375-4.949219-7.628907-14.859375-1.648438-20.835937 3.113281-3.117188 7.574219-4.558594 11.917969-3.851563l260.625 42.433594-103.488281 103.484375zm-5.605469 209.390625c3.195312-3.191406 7.867187-4.386719 12.191406-3.113281l71.886719 21.140625c-7.351563 12.875-14.769532 27.097656-22.167969 42.492187l-60.203125-41.675781c-6.316406-4.375-7.144531-13.410156-1.707031-18.84375zm169.710937 169.703125c-5.390625 5.390625-14.4375 4.664063-18.847656-1.703125l-41.675781-60.207031c15.40625-7.40625 29.632812-14.828125 42.492187-22.164063l21.136719 71.882813c1.273437 4.328125.082031 9-3.105469 12.191406zm245.894532-260.039063c3.90625-3.90625 10.226562-3.910156 14.136718 0 3.910156 3.910157 3.90625 10.238282 0 14.148438l-37.105468 37.101562-3.957032-24.324218zm-11.824219 244.15625c.707031 4.355469-.734375 8.816407-3.847657 11.929688-5.949218 5.949219-15.867187 5.222656-20.839843-1.652344l-121.230469-167.402344 103.488281-103.488281zm-205.238281-126.089843c-11.003907 11.007812-27.109376 22.890625-47.867188 35.324219-26.984375 16.160156-58.917969 31.464843-87.722656 43.699218 12.566406-29.585937 28.160156-62.035156 44.667968-89.328125 12.074219-19.976562 23.632813-35.542969 34.355469-46.261719 244.273438-243.6875 229.800781-231.117187 244.625-242.972656 16.445313-1.050781 30.921875 3.832032 41 13.910156 10.078125 10.078126 14.964844 24.558594 13.914063 41-11.882813 14.859376.539062.527344-242.972656 244.628907zm260.085937-270.90625c-3.195313-11.023438-8.871094-20.851563-16.882813-28.863281-8.011718-8.007813-17.839843-13.6875-28.859374-16.882813 14.472656-7.339844 38.84375-15.558594 50.074218-4.335937 8.867188 8.871093 6.664063 28.398437-4.332031 50.082031zm0 0" />
                            <path
                              d="m297.789062 200.570312-28.28125 28.277344c-3.90625 3.90625-3.90625 10.238282 0 14.144532s10.234376 3.902343 14.144532 0l28.277344-28.28125c3.90625-3.902344 3.90625-10.234376 0-14.140626s-10.234376-3.90625-14.140626 0zm0 0" />
                            <path
                              d="m354.359375 144-28.292969 28.289062c-3.902344 3.90625-3.902344 10.238282 0 14.144532 3.910156 3.902344 10.238282 3.902344 14.144532 0l28.289062-28.289063c3.90625-3.90625 3.90625-10.238281 0-14.144531s-10.234375-3.90625-14.140625 0zm0 0" />
                          </svg> </span>{{Homepage.Flight_Label}} </a></li>


                    <li role="presentation" class="text-center"> <a href="#hotel" aria-controls="hotel" role="tab"
                        data-toggle="tab"> <span class="service-icon">
                          <svg viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                            <g>
                              <g>
                                <path d="M43.787,40.549h-1.943V6.213c0-0.388-0.259-0.647-0.648-0.647H8.804c-0.389,0-0.647,0.259-0.647,0.647v34.336H6.213
			c-0.389,0-0.648,0.258-0.648,0.646v2.592c0,0.39,0.259,0.647,0.648,0.647h37.574c0.389,0,0.648-0.258,0.648-0.647v-2.592
			C44.436,40.807,44.176,40.549,43.787,40.549z M9.452,6.861h31.097v33.688h-9.72v-7.126c0-0.39-0.259-0.648-0.646-0.648H19.817
			c-0.389,0-0.647,0.259-0.647,0.648v7.126H9.452V6.861z M29.535,34.069v6.479h-3.888v-6.479H29.535z M24.352,34.069v6.479h-3.887
			v-6.479H24.352z M43.139,43.141H6.86v-1.297h36.278V43.141z M17.874,8.805h-5.183c-0.389,0-0.647,0.259-0.647,0.647v3.888
			c0,0.389,0.258,0.648,0.647,0.648h5.183c0.389,0,0.647-0.259,0.647-0.648V9.452C18.521,9.063,18.263,8.805,17.874,8.805z
			 M17.226,12.692h-3.887V10.1h3.887V12.692z M17.874,15.931h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887
			c0,0.388,0.258,0.646,0.647,0.646h5.183c0.389,0,0.647-0.258,0.647-0.646v-3.887C18.521,16.19,18.263,15.931,17.874,15.931z
			 M17.226,19.818h-3.887v-2.591h3.887V19.818z M22.408,21.114h5.183c0.388,0,0.648-0.259,0.648-0.647v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887C21.761,20.854,22.02,21.114,22.408,21.114z
			 M23.057,17.227h3.886v2.591h-3.886V17.227z M32.126,21.114h5.183c0.388,0,0.648-0.259,0.648-0.647v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.648,0.26-0.648,0.648v3.887C31.478,20.854,31.737,21.114,32.126,21.114z
			 M32.774,17.227h3.887v2.591h-3.887V17.227z M22.408,28.24h5.183c0.388,0,0.648-0.26,0.648-0.648v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887C21.761,27.98,22.02,28.24,22.408,28.24z
			 M23.057,24.353h3.886v2.59h-3.886V24.353z M32.126,28.24h5.183c0.388,0,0.648-0.26,0.648-0.648v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.648,0.26-0.648,0.648v3.887C31.478,27.98,31.737,28.24,32.126,28.24z
			 M32.774,24.353h3.887v2.59h-3.887V24.353z M17.874,23.057h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887
			c0,0.389,0.258,0.648,0.647,0.648h5.183c0.389,0,0.647-0.26,0.647-0.648v-3.887C18.521,23.316,18.263,23.057,17.874,23.057z
			 M17.226,26.943h-3.887v-2.59h3.887V26.943z M22.408,13.987h5.183c0.388,0,0.648-0.259,0.648-0.648V9.452
			c0-0.388-0.261-0.647-0.648-0.647h-5.183c-0.389,0-0.647,0.259-0.647,0.647v3.888C21.761,13.728,22.02,13.987,22.408,13.987z
			 M23.057,10.1h3.886v2.592h-3.886V10.1z M32.126,13.987h5.183c0.388,0,0.648-0.259,0.648-0.648V9.452
			c0-0.388-0.261-0.647-0.648-0.647h-5.183c-0.389,0-0.648,0.259-0.648,0.647v3.888C31.478,13.728,31.737,13.987,32.126,13.987z
			 M32.774,10.1h3.887v2.592h-3.887V10.1z M21.113,31.479h7.774c0.389,0,0.647-0.259,0.647-0.648c0-0.389-0.259-0.647-0.647-0.647
			h-7.774c-0.388,0-0.648,0.259-0.648,0.647C20.464,31.221,20.725,31.479,21.113,31.479z" />
                              </g>
                            </g>
                          </svg></span> {{Homepage.Hotel_Label}} </a></li>


                    <li class="text-center"> <a href="/CompareTicket/holidays.html"> <span class="service-icon">
                          <svg viewBox="0 0 480.002 480.002" style="enable-background:new 0 0 480.002 480.002;"
                            xml:space="preserve">
                            <g>
                              <g>
                                <path d="M472.001,392H163.313L53.657,282.344c-3.07-3.178-8.134-3.266-11.312-0.196s-3.266,8.134-0.196,11.312
			c0.064,0.067,0.13,0.132,0.196,0.196l38.528,38.528L36.001,392h-28c-4.418,0-8,3.582-8,8s3.582,8,8,8h41.056L9.345,467.56
			c-2.452,3.676-1.46,8.644,2.216,11.096s8.644,1.46,11.096-2.216L68.281,408h99.72v64c0,4.418,3.582,8,8,8s8-3.582,8-8v-64h219.72
			l45.6,68.44c2.452,3.676,7.42,4.668,11.096,2.216s4.668-7.42,2.216-11.096L422.945,408h49.056c4.418,0,8-3.582,8-8
			S476.419,392,472.001,392z M56.001,392l36.296-48.392L140.689,392H56.001z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path d="M448.001,336H195.313l-11.312-11.312V163.2c4.769,3.088,10.319,4.753,16,4.8c6.407-0.036,12.636-2.113,17.784-5.928
			c3.719-2.656,8.713-2.656,12.432,0c10.534,7.917,25.034,7.917,35.568,0c3.719-2.656,8.713-2.656,12.432,0
			c11.28,8.443,26.937,7.808,37.496-1.52c2.744-2.291,4.286-5.714,4.184-9.288C317.065,80.536,254.169,24,176.001,24
			C90.025,24,34.585,80.528,32.089,151.248c-0.089,3.581,1.456,7.008,4.2,9.312c5.477,4.746,12.466,7.383,19.712,7.44
			c6.407-0.036,12.636-2.113,17.784-5.928c3.719-2.656,8.713-2.656,12.432,0c10.534,7.917,25.034,7.917,35.568,0
			c3.719-2.656,8.713-2.656,12.432,0c9.886,7.492,23.42,7.944,33.784,1.128v145.52l-58.344-58.344
			c-3.124-3.123-8.188-3.123-11.312,0l-24,24c-3.123,3.124-3.123,8.188,0,11.312l96,96c1.505,1.489,3.539,2.32,5.656,2.312h272
			c4.418,0,8-3.582,8-8v-32C456.001,339.582,452.419,336,448.001,336z M160.369,149.136c-2.414,1.821-5.345,2.824-8.368,2.864
			c-3.023-0.043-5.953-1.046-8.368-2.864c-9.333-6.735-21.931-6.735-31.264,0c-4.923,3.825-11.813,3.825-16.736,0
			c-9.333-6.735-21.931-6.735-31.264,0c-2.414,1.821-5.345,2.824-8.368,2.864c-2.795-0.031-5.517-0.898-7.816-2.488
			C51.641,84.912,103.865,40,176.001,40c68.336,0,124,47.92,127.792,109.536c-2.296,1.576-5.008,2.433-7.792,2.464
			c-3.023-0.043-5.953-1.046-8.368-2.864c-9.333-6.736-21.931-6.736-31.264,0c-4.923,3.825-11.813,3.825-16.736,0
			c-9.333-6.736-21.931-6.736-31.264,0c-4.923,3.825-11.813,3.825-16.736,0C182.3,142.4,169.702,142.4,160.369,149.136z
			 M440.001,368H179.313l-88-88l12.688-12.688l66.336,66.336l16,16c1.501,1.505,3.539,2.352,5.664,2.352h248V368z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path d="M408.001,35.552C387.88,35.574,371.575,51.879,371.553,72c0,20.13,16.318,36.448,36.448,36.448
			c20.13,0,36.448-16.318,36.448-36.448S428.131,35.552,408.001,35.552z M408.001,92.448c-11.293,0-20.448-9.155-20.448-20.448
			c0.013-11.288,9.16-20.435,20.448-20.448c11.293,0,20.448,9.155,20.448,20.448S419.294,92.448,408.001,92.448z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M358.217,64h-14.216c-4.418,0-8,3.582-8,8s3.582,8,8,8h14.216c4.418,0,8-3.582,8-8S362.635,64,358.217,64z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path d="M378.465,31.152l-10.064-10.064c-3.178-3.069-8.243-2.981-11.312,0.197c-2.994,3.1-2.994,8.015,0,11.115l10.064,10.064
			c3.178,3.07,8.242,2.982,11.312-0.196C381.459,39.167,381.459,34.252,378.465,31.152z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M408.001,0c-4.418,0-8,3.582-8,8v14.216c0,4.418,3.582,8,8,8s8-3.582,8-8V8C416.001,3.582,412.419,0,408.001,0z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M458.913,21.088c-3.124-3.123-8.188-3.123-11.312,0l-10.064,10.064c-3.178,3.07-3.266,8.134-0.196,11.312
			s8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196L458.913,32.4C462.036,29.276,462.036,24.212,458.913,21.088z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path
                                  d="M472.001,64h-14.216c-4.418,0-8,3.582-8,8s3.582,8,8,8h14.216c4.418,0,8-3.582,8-8S476.419,64,472.001,64z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path d="M458.913,111.6l-10.064-10.064c-3.124-3.123-8.188-3.123-11.312,0c-3.123,3.124-3.123,8.188,0,11.312l10.064,10.064
			c3.178,3.07,8.242,2.982,11.312-0.196C461.907,119.615,461.907,114.7,458.913,111.6z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path d="M408.001,113.784c-4.418,0-8,3.582-8,8V136c0,4.418,3.582,8,8,8s8-3.582,8-8v-14.216
			C416.001,117.366,412.419,113.784,408.001,113.784z" />
                              </g>
                            </g>
                            <g>
                              <g>
                                <path d="M378.269,101.536c-3.1-2.994-8.015-2.994-11.116,0L357.089,111.6c-3.178,3.07-3.266,8.134-0.196,11.312
			c3.07,3.178,8.134,3.266,11.312,0.196c0.067-0.064,0.132-0.13,0.196-0.196l10.064-10.064
			C381.534,109.67,381.447,104.605,378.269,101.536z" />
                              </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                          </svg></span> {{Homepage.Holidays_Label}}</a></li>

                  </ul>
                </div>
                <!-- END: CATEGORY TAB -->

              </div>

              <div class="col-md-12 all-search-box">
                <!-- BEGIN: TAB PANELS -->
                <div class="tab-content">
                  <!-- BEGIN: FLIGHT SEARCH -->
                  <div role="tabpanel" class="tab-pane active" id="flight">
                    <div class="multi_shadow" v-if="triptype=='M'" v-on:click="clickoutside"
                      v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                    </div>
                    <div class="multicity" v-if="triptype =='M'"
                      v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                      <!--multi city section-->
                      <div>
                        <div class="multiSection">
                          <i class="fa fa-times-circle close" v-on:click="clickoutside"></i>
                          <label>Trip 1</label>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                            <div class="autocomplete flightauto">
                              <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="1">
                              </flightserch>
                              <span class="search-icon"><img src="images/map-marker.png"></span>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                            <div class="autocomplete flightauto">
                              <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                              <span class="search-icon"><img src="images/map-marker.png"></span>
                            </div>
                          </div>

                          <!-- <div class="col-md-2 col-sm-6 search-col-padding">
                          <div class="calendar">
                            <input type="text" id="txtLeg1Date" class="calendarSec1" placeholder="mm/dd/yyyy" readonly  class="calendar">
                            <span class="search-icon"><img src="images/calendar.png"></span>
                          </div>
                        </div> -->

                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                            <div class="calendar"><input type="text" id="txtLeg1Date" placeholder="Departing"
                                readonly="readonly" class="calendar">
                              <span class="search-icon"><img src="images/calendar.png"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--multi city section close-->
                      <!--multi city section-->
                      <div class="multiSection">
                        <label>Trip 2</label>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2"
                              :return-value="returnValue" place-holder-text="Leaving From"
                              @air-search-completed="Departurefrom" :leg="2">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2"
                              :return-value="returnValue" place-holder-text="Going To"
                              @air-search-completed="Arrivalfrom" :leg="2">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="calendar"><input type="text" id="txtLeg2Date" placeholder="Departing"
                              readonly="readonly" class="calendar">
                            <span class="search-icon"><img src="images/calendar.png"></span>
                          </div>
                        </div>
                      </div>
                      <!--multi city section close-->
                      <!--multi city section-->
                      <div class="multiSection" v-if="(legcount>2)">
                        <i class="fa fa-times-circle close" v-if="legcount==3" v-on:click="DeleteLeg(3)"></i>
                        <label>Trip 3</label>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3"
                              :return-value="returnValue" place-holder-text="Leaving From"
                              @air-search-completed="Departurefrom" :leg="3">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3"
                              :return-value="returnValue" place-holder-text="Going To"
                              @air-search-completed="Arrivalfrom" :leg="3">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="calendar"><input type="text" id="txtLeg3Date" placeholder="Departing"
                              readonly="readonly" class="calendar">
                            <span class="search-icon"><img src="images/calendar.png"></span>
                          </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                          <div class="calendarSec">
                            <input type="text" class="calendarSec1" id="txtLeg3Date" placeholder="Departing" readonly>
                            <i class="fa fa-calendar"></i>
                          </div>
                        </div> -->
                      </div>
                      <!--multi city section close-->
                      <!--multi city section-->
                      <div class="multiSection" v-if="(legcount>3)">
                        <i class="fa fa-times-circle close" v-if="legcount==4" v-on:click="DeleteLeg(4)"></i>
                        <label>Trip 4</label>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4"
                              :return-value="returnValue" place-holder-text="Leaving From"
                              @air-search-completed="Departurefrom" :leg="4">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4"
                              :return-value="returnValue" place-holder-text="Going To"
                              @air-search-completed="Arrivalfrom" :leg="4">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="calendar"><input type="text" id="txtLeg4Date" placeholder="Departing"
                              readonly="readonly" class="calendar">
                            <span class="search-icon"><img src="images/calendar.png"></span>
                          </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                          <div class="calendarSec">
                            <input type="text" id="txtLeg4Date" class="calendarSec1" placeholder="Departing" readonly>
                            <i class="fa fa-calendar"></i>
                          </div>
                        </div> -->
                      </div>
                      <!--multi city section close-->
                      <!--multi city section-->
                      <div class="multiSection" v-if="(legcount>4)">
                        <i class="fa fa-times-circle close" v-if="legcount==5" v-on:click="DeleteLeg(5)"></i>
                        <label>Trip 5</label>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5"
                              :return-value="returnValue" place-holder-text="Leaving From"
                              @air-search-completed="Departurefrom" :leg="5">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5"
                              :return-value="returnValue" place-holder-text="Going To"
                              @air-search-completed="Arrivalfrom" :leg="5">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="calendar"><input type="text" id="txtLeg5Date" placeholder="Departing"
                              readonly="readonly" class="calendar">
                            <span class="search-icon"><img src="images/calendar.png"></span>
                          </div>
                        </div>
                      </div>
                      <!--multi city section close-->
                      <!--multi city section-->
                      <div class="multiSection" v-if="(legcount>5)">
                        <i class="fa fa-times-circle close" v-if="legcount==6" v-on:click="DeleteLeg(6)"></i>
                        <label>Trip 6</label>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6"
                              :return-value="returnValue" place-holder-text="Leaving From"
                              @air-search-completed="Departurefrom" :leg="6">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="autocomplete flightauto">
                            <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6"
                              :return-value="returnValue" place-holder-text="Going To"
                              @air-search-completed="Arrivalfrom" :leg="6">
                            </flightserch>
                            <span class="search-icon"><img src="images/map-marker.png"></span>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                          <div class="calendar"><input type="text" id="txtLeg6Date" placeholder="Departing"
                              readonly="readonly" class="calendar">
                            <span class="search-icon"><img src="images/calendar.png"></span>
                          </div>
                        </div>
                      </div>
                      <!--multi city section close-->

                      <div class="add_flight" v-if="legcount!=6" v-cloak>Add up to {{6-legcount}} flights
                        <i class="fa fa-plus-circle plus" v-on:click="AddNewLeg();"></i></div>
                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                        <div class="travellerSec">
                          <div class="travellercout" v-cloak v-on:click="travellerdisplymul = !travellerdisplymul">
                            {{Totaltravaller}}</div>
                          <div class="travellerOptions5" v-show="travellerdisplymul">
                            <div class="passenger_area">
                              <p>Adults (12+)</p>
                              <div class="pass_click">
                                <a v-on:click="setpaxcount('adt','minus')"><i class="fa fa-minus-square"></i></a>
                                <span v-cloak>{{selected_adults}}</span>
                                <a v-on:click="setpaxcount('adt','plus')"><i class="fa fa-plus-square"></i></a>
                              </div>
                            </div>
                            <div class="passenger_area">
                              <p>Children (2-12)</p>
                              <div class="pass_click">
                                <a v-on:click="setpaxcount('chd','minus')"><i class="fa fa-minus-square"></i></a>
                                <span>{{selected_children}}</span>
                                <a v-on:click="setpaxcount('chd','plus')"><i class="fa fa-plus-square"></i></a>
                              </div>
                            </div>
                            <div class="passenger_area">
                              <p>Infant (0-2)</p>
                              <div class="pass_click">
                                <a v-on:click="setpaxcount('inf','minus')"><i class="fa fa-minus-square"></i></a>
                                <span>{{selected_infant}}</span>
                                <a v-on:click="setpaxcount('inf','plus')"><i class="fa fa-plus-square"></i></a>
                              </div>
                            </div>
                            <div class="classtype_area">
                              <div class="classsec_area">
                                <input type="radio" id="radio-btn-12" value="Y" v-model="selected_cabin"
                                  v-on:change="setpaxcount" name="radio-btns">
                                <label for="radio-btn-12">Economy</label>
                              </div>
                              <div class="classsec_area">
                                <input type="radio" value="C" v-model="selected_cabin" id="radio-btn-03"
                                  v-on:change="setpaxcount" name="radio-btns">
                                <label for="radio-btn-03">Business</label>
                              </div>
                              <div class="classsec_area">
                                <input type="radio" id="radio-btn-04" value="F" v-model="selected_cabin"
                                  v-on:change="setpaxcount" name="radio-btns">
                                <label for="radio-btn-04">First Class</label>
                              </div>
                            </div>
                            <div class="closeDropdown">
                              <span class="closeBtn closeLink"
                                v-on:click="travellerdisplymul = !travellerdisplymul">Done</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 padding0">
                        <button class="flightSearch" v-on:click="MultiSearchFlight" v-cloak>Search</button>
                      </div>

                    </div>
                    <form>
                      <div class="col-md-12 text-center m-t-10">
                        <div class="trip">
                          <ul>
                            <li><a v-on:click="triptype='R'"
                                v-bind:class="[ triptype === 'R' ? 'active' : '' ]">{{Homepage.Round_Trip_Label}}</a>
                            </li>
                            <li><a v-on:click="triptype='O'"
                                v-bind:class="[ triptype === 'O' ? 'active' : '' ]">{{Homepage.One_way_Label}}</a></li>
                            <li><a v-on:click="triptype='M'"
                                v-bind:class="[ triptype === 'M' ? 'active' : '' ]">{{Homepage.Multi_City_Label}}</a>
                            </li>
                          </ul>

                        </div>
                      </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="col-md-2  col-sm-6 search-col-padding">
                      <label>{{Homepage.From_Where_Label}}</label>
                      <div class="autocomplete flightauto">
                        <flightserch id="Cityfrom1" :return-value="returnValue" place-holder-text="Leaving From"
                          @air-search-completed="Departurefrom" :leg="0"></flightserch>
                        <span class="search-icon"><img src="images/map-marker.png"></span>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding">
                      <label>{{Homepage.To_Where_Label}}</label>
                      <div class="autocomplete flightauto">
                        <flightserch id="Cityto1" :return-value="returnValue" place-holder-text="Going To"
                          @air-search-completed="Arrivalfrom" :leg="0">
                        </flightserch>
                        <span class="search-icon"><img src="images/map-marker.png"></span>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-6 search-col-padding">
                      <label>{{Homepage.Departure_Label}}</label>

                      <div class="calendar"><input type="text" id="deptDate01" placeholder="Departing"
                          readonly="readonly" class="calendar">
                        <span class="search-icon"><img src="images/calendar.png"></span>
                      </div>
                    </div>

                    <div class="col-md-2 col-sm-6 search-col-padding" v-if="triptype !='M'"
                      v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                      <label>{{Homepage.Return_Label}}</label>

                      <div class="calendar"><input type="text" :disabled="triptype == 'O'" id="retDate"
                          placeholder="Returning" readonly="readonly" class="calendar"><span class="search-icon"><img
                            src="images/calendar.png"></span>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding custom-traveller">
                      <label>{{Homepage.Travelers_Label}}</label>
                      <div class="travellerSec">
                        <div class="travellercout" v-cloak>{{Totaltravaller}}
                        </div>
                        <div class="travellerOptions">
                          <div class="passenger_area">
                            <p>Adults (12+)</p>
                            <div class="pass_click"><a v-on:click="setpaxcount('adt','minus')"><i
                                  class="fa fa-minus-square"></i></a>
                              <span>{{selected_adults}}</span>
                              <a v-on:click="setpaxcount('adt','plus')"><i class="fa fa-plus-square"></i></a></div>
                          </div>
                          <div class="passenger_area">
                            <p>Children (2-12)</p>
                            <div class="pass_click"><a v-on:click="setpaxcount('chd','minus')"><i
                                  class="fa fa-minus-square"></i></a>
                              <span>{{selected_children}}</span>
                              <a v-on:click="setpaxcount('chd','plus')"><i class="fa fa-plus-square"></i></a></div>
                          </div>
                          <div class="passenger_area">
                            <p>Infant (0-2)</p>
                            <div class="pass_click"><a v-on:click="setpaxcount('inf','minus')"><i
                                  class="fa fa-minus-square"></i></a>
                              <span>{{selected_infant}}</span>
                              <a v-on:click="setpaxcount('inf','plus')"><i class="fa fa-plus-square"></i></a></div>
                          </div>
                          <div class="classtype_area">
                            <div class="classsec_area"><input type="radio" id="radio-btn-02" value="Y"
                                v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                              <label for="radio-btn-02" v-on:change="setpaxcount">Economy</label>
                            </div>
                            <div class="classsec_area"><input type="radio" value="C" v-model="selected_cabin"
                                id="radio-btn-03" name="radio-btns" v-on:change="setpaxcount"> <label
                                for="radio-btn-03">Business</label></div>
                            <div class="classsec_area"><input type="radio" id="radio-btn-04" value="F"
                                v-model="selected_cabin" name="radio-btns" v-on:change="setpaxcount"> <label
                                for="radio-btn-04">First
                                Class</label></div>
                          </div>
                          <div class="closeDropdown">
                            <span class="closeBtn closeLink" v-on:click="travellerdisply = !travellerdisply">Done</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-6 search-col-padding">
                      <button type="submit" class="search-button" v-on:click="SearchFlight">Search </button>
                    </div>
                  </div>
                  <!-- END: FLIGHT SEARCH -->


                  <!-- START: HOTEL SEARCH -->
                  <div role="tabpanel" class="tab-pane" id="hotel">
                    <hotel-search inline-template :key="hotelInit">
                      <div>
                        <div class="clearfix"></div>
                        <div class="col-md-4  col-sm-12 search-col-padding">
                          <label>To Where</label>
                          <input id="txtCity" type="text" class="form-control" placeholder="Destination"
                            autocomplete="off" v-model="keywordSearch" @input="onKeyUpAutoCompleteEvent(keywordSearch)"
                            @keydown.down="down" @keydown.up="up" @keydown.tab="isCompleted=false"
                            @keydown.esc="isCompleted=false"
                            @keydown.enter="updateResults(autoCompleteResult[highlightIndex])"
                            @click="onClickAutoCompleteEvent">
                          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                          <ul ref="searchautocomplete" class="autocomplete-results"
                            v-if="isCompleted&&autoCompleteResult.length!=0">
                            <li ref="options" :class="{'autocomplete-result-active' : index == highlightIndex}"
                              class="autocomplete-result" v-for="(item,index) in autoCompleteResult" :key="index"
                              @click="updateResults(item)" v-cloak>
                              {{ item.label }}
                            </li>
                          </ul>
                          <span class="search-icon"><img src="images/map-marker.png"></span>

                        </div>

                        <div class="col-md-2 col-sm-6 search-col-padding">
                          <label class="col-xs-12">Check In</label>
                          <input class="calendar" type="text" placeholder="checkin" id="txtCheckInDate"
                            v-model="checkIn" />

                          <span class="search-icon"><img src="images/calendar.png"></span>

                        </div>

                        <div class="col-md-2 col-sm-6 search-col-padding">
                          <label class="col-xs-12">Check Out</label>
                          <input class="calendar" type="text" placeholder="checkout" id="txtCheckOutDate"
                            v-model="checkOut" />
                          <span class="search-icon"><img src="images/calendar.png"></span>
                        </div>
                        <div class="col-md-2 col-sm-6 search-col-padding">
                          <label>{{Search_range_label}}</label>
                          <div class="slide">
                            <div id="rangeSlider"></div>

                            <label id="slider-step-value" v-cloak>{{KMrange}}
                              KM</label>
                          </div>
                        </div>


                        <div class="col-md-2 col-sm-6 search-col-padding custom-traveller">
                          <div class="travellersDropdown flt">
                            <div class="custom-select-v3 lg">

                              <label>Travelers</label>
                              <input :value="numberOfRooms+' Room '+(numberOfRooms>1?roomsLabel:roomLabel)"
                                type="button" class="form-control">
                            </div>
                            <div class="travelerSelectWindow active" style="display: none;">
                              <div id="travelRoundtrip">
                                <div class="travelDropdown">
                                  <div class="section-pass">
                                    <fieldset>
                                      <label class="htl_advc">Room</label>
                                      <div class="custom-select-v3 sm">
                                        <div class="custom-select-htl">
                                          <select v-model.number="numberOfRooms" id="classType">
                                            <option v-for="(room, index) in 5" :key="index" :value="index+1">
                                              {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}Room
                                            </option>
                                          </select>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                  <div class="section-pass">
                                    <fieldset>
                                      <label class="htl_advc">Nationality</label>
                                      <div class="custom-select-v3 sm">
                                        <div class="custom-select-htl">
                                          <select id="classType" v-model="nationality">
                                            <option :value="item.code" v-for="(item, index) in countries" :key="index">
                                              {{item.name}}</option>
                                          </select>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                  <div class="section-pass">
                                    <fieldset>
                                      <label class="htl_advc">Country of
                                        Residency</label>
                                      <div class="custom-select-v3 sm">
                                        <div class="custom-select-htl">
                                          <select id="classType" v-model="countryOfResidence">
                                            <option :value="item.code" v-for="(item, index) in countries" :key="index">
                                              {{item.name}}</option>
                                          </select>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                </div>
                              </div>
                              <div class="closeDropdown"> <span class="closeBtn closeLink"
                                  v-on:click="showroom = !showroom">Done</span> </div>
                            </div>
                          </div>
                          <span class="search-icon"><img src="images/traveller.png"></span>
                        </div>
                        <hotel-rooms :child-label="childLabel" :children-label="childrenLabel" :adult-label="adultLabel"
                          :adults-label="adultsLabel" :age-label="ageLabel" :ages-label="agesLabel"
                          :room-label="roomLabel" v-for="(room, index) in parseInt(numberOfRooms)" :key="index"
                          :room-id="index" @get-room-details="getRoomDetails" inline-template>
                          <div class="hotlsSec">
                            <div class="col-md-4 col-sm-12">
                              <span class="rooms" v-cloak><i class="fa fa-bed" aria-hidden="true"></i> Room
                                {{roomId+1}}</span>

                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                              <div class="form_sec en_dwn_htl">
                                <select class="form-control" v-model.number="selectedAdults">
                                  <option v-for="(adult, index) in adults" :value="adult.value" v-cloak>{{adult.value}}
                                    {{adult.value==1? adultLabel: adultsLabel}}Adult
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding1">
                              <div class="form_sec en_dwn_htl">
                                <select class="form-control" v-model.number="selectedChildren">
                                  <option v-for="(child, index) in children" :value="child.value" v-cloak>
                                    {{child.value}}
                                    {{child.value==1? childLabel: childrenLabel}}Children
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div v-for="(selectedChild, index) in parseInt(selectedChildren)" :key="index"
                              class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage padding1">
                              <div class="form_sec en_dwn_htl">
                                <select class="form-control"
                                  v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                  <option v-for="(childAge, index) in childrenAges" :value="childAge.value" v-cloak>
                                    {{childAge.value}}
                                    {{childAge.value==1? ageLabel: agesLabel}}Year
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </hotel-rooms>

                        <div class="searchButton">
                          <button type="submit" class="search-button" @click="searchHotels">Search</button>
                        </div>
                      </div>
                    </hotel-search>
                  </div>
                  <!-- END: HOTEL SEARCH -->
                </div>
              </div>
              <!-- END: TAB PANE -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End-Form-->

    <!--About Us-->
    <div class="container" v-if="!mobileView">
      <div class="about-main">
        <div class="row">

          <div class="col-md-4 col-sm-6 col-md-push-8 col-sm-push-6">
            <div class="about-img">
              <img src="images/about-img.jpg" alt="img">
            </div>
          </div>
          <div class="col-md-8 col-sm-6 col-md-pull-4 col-sm-pull-6">
            <div class="about-text">
              <h2>{{Homepage.About_Title}} <span>{{Homepage.Us_Title}} <br> {{Homepage.Welcome_To_Title}} </span>
                {{Homepage.Compare_Ticket_Title}}</h2>
              <p v-html="AboutUsData.About_Content"></p>
              <a class="btn" href="about.html">{{Homepage.Read_More_Button_Label}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End-AboutUs-->

    <!-- Offer-Section -->
    <section class="deals-holiday" v-if="!mobileView">
      <div class="container">
        <div class="deals-title">
          <h2>{{Homepage.Deals_Title}} <span>{{Homepage.And_Title}} <br> {{Homepage.Amazing_Title}} </span>
            {{Homepage.Holidays_Title}}</h2>
          <div class="more-deals">
            <a class="btn" href="holidays.html">{{Homepage.View_More_Button_Label}}</a>
          </div>
        </div>
        <div id="owl-demo-3" class="owl-carousel owl-theme">
          <div class="item" v-for="package in packages">
            <div class="deals-img">
              <img :src="package.Package_Card_Image" alt="deals-img">
            </div>
            <div class="deals-deatil">
              <h3><a href="#">{{package.Package_Name}}</a></h3>
              <hr>

              <div class="days">
                <img src="images/clock-icon.png">{{package.Days}} {{package.Days_Label}}
              </div>

              <p class="price">{{package.From_Label}} <span>
                  {{ $n((getAmount(package.Price)/CurrencyMultiplier), 'currency', selectedCurrency) }}</span></p>

              <div style="padding-top: 50px;">
                <a class="btn" @click="getmoreinfo(package.More_details_page_link)">{{package.Button_Label}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End-Offer -->

    <!--Book-Holiday -->
    <div class="container" v-if="!mobileView">
      <div class="book-holiday">
        <div class="row">
          <div class="col-md-6">
            <div class="holiday-text">
              <h2>{{Holidaypage.Book_Your_Title}}</h2>
              <h3>{{Holidaypage.Holiday_Title}} <span>{{Holidaypage.With_Us_Title}}</span></h3>
              <div class="book-btn">
                <a class="btn" href="holidays.html">{{Holidaypage.Book_Now_Button_Label}}</a>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="holiday-img">
              <img :src="Holidaypage.Image" alt="holidyas-image">
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--footer-->
  <footer v-if="!mobileView">
    <footeritem></footeritem>
  </footer>
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <!-- Bootstrap JQUERY -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="/CompareTicket/js/hotel-search.js"></script>
  <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
  <script src="master/js/index.js?v=20211122000"></script>
  <script>
    $(document).ready(function () {
      var vr;
      var sl;
      sl = "0";
      $(".travellerOptions").click(function () {
        sl = "1";
      });
      $(".travellercout, .travellercoutHtl").click(function () {
        if (sl == "0") {
          $(".travellerOptions").fadeToggle();
          vr = "1";
        }
        else {
          vr = "1";
          sl = "0";
        }

      });
      $("body, .closeLink").click(function () {
        if (sl == "0") {
          if (vr == "0") {

            $(".travellerOptions").hide();
          }
          else {
            vr = "0";
            sl = "0";
          }
        }
        else {
          vr = "0";
          sl = "0";
        }
      });


    });
  </script>
</body>

</html>