<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Privacy Policy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <link href="css/media.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none;
        }

        .about-info p {
            width: unset;
            text-align: justify;
        }
    </style>
</head>

<body>


    <!--Header -->

    <header>
        <headeritem></headeritem>
    </header>
    <div id="privacy" v-cloak>
        <section class="inner-title" :style="{ background: 'url(' + BannerSection.Banner_Image+ ')'}">
            <div class="container">
                <h2><span>{{BannerSection.Title}}</span></h2>

                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">{{BannerSection.Breadcrumb_1}}</a></li>
                        <li>{{BannerSection.Breadcrumb_2}}</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="about-info">
            <div class="container">
                <p v-html="privacySection.Privacy_Policy"></p>
            </div>
        </section>
        <div class="container">
            <div class="book-holiday">
                <div class="row">
                    <div class="col-md-6">
                        <div class="holiday-text">
                            <h2>{{BookSection.Book_Your_Title}}</h2>
                            <h3>{{BookSection.Holiday_Title}} <span>{{BookSection.With_Us_Title}}</span></h3>
                            <div class="book-btn">
                                <a class="btn" href="holidays.html">{{BookSection.Book_Now_Button_Label}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="holiday-img">
                            <img :src="BookSection.Image" alt="holidyas-image">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!--footer-->
    <footer>
        <footeritem></footeritem>
    </footer>
    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/pack.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>


    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/privacypolicy.js" type="text/javascript"></script>
</body>

</html>