/* @import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
.md-search {
    margin: 0 0 -64px !important;
}
/* LTR Style */


* {
	margin:0;
	padding:0;
}
img {
	outline:none;
}
body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
}

/*-----Header CSS Start-----*/

/*=====  Top CSS BOF  ======*/
.top {
	background: #fff;
	width: 100%;
	height: auto;
	padding: 0;
}
.top-index > .top {
	background: transparent !important;
	width: 100%;
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 998;
}
.logo {
	float: left;
	padding: 10px 0;
}
.login {
	float: right;
	padding: 6px 0;
    margin: 37px 0 0 0;	
}
.login i {
	color: #ebc868;
	font-size: 17px;
	float: left;
	margin: 3px 10px 0 0;
}
.login a {
	color: #471f58;
	font-size: 17px;
	font-weight: 700;
	cursor: pointer;
	margin: 0 10px;
}
.login a:hover {
	color: #ebc868;
	text-decoration: none;
}
.lang {
	float: right;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 45px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#471f58;
}
.lang:hover {
	color: #000;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	left: -60px;
	top: 31px;
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border:1px solid #ddd;
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff;
	border-bottom: 1px solid #ddd;
}
.lang .dropdown-menu li:last-child {
	border-bottom: none;
}
.lang .dropdown-menu li a {
	padding: 5px 12px;
	color: #471f58;
	font-size: 14px;
	border:none;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #471f58;
	text-decoration: none;
	background-color: #efefef;
}
.lang .dropdown-item:focus, .lang .dropdown-item:hover {
    color: #471f58 !important;
	text-decoration: none;
	background-color: #efefef !important;
}
.lang .dropdown a {
	color: #471f58;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 20px;
	font-weight: 700;
	/* border-bottom: 1px solid #471f58; */
}
.lang .dropdown a:hover, .crnc .dropdown a:hover {
	color: #ebc868;
	text-decoration: none;
}
.crnc {
	float: right;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 45px 15px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#471f58;
}
.crnc:hover {
	color: #000;
}
.crnc .caret {
	display:none;
}
.crnc .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	left: 0;
	top: 31px;
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border:1px solid #ddd;
}
.crnc .dropdown-menu li {
	display: block;
	border:0;
	color: #471f58;
	border-bottom: 1px solid #ddd;
}
.crnc .dropdown-menu li:last-child {
	border-bottom: none;
}
.crnc .dropdown-menu li a {
	padding: 5px 12px;
	color: #471f58;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	border:none;
}
.crnc .dropdown-menu li a:focus, .crnc .dropdown-menu li a:hover {
    color: #471f58;
    text-decoration: none;
    background-color: #efefef;
}
.crnc .dropdown-item:focus,
.crnc .dropdown-item:hover {
	color: #471f58 !important;
    text-decoration: none;
    background-color: #efefef !important;
}
.crnc .dropdown a {
	color: #471f58;
	text-decoration: none;
	font-size: 15px;
	padding: 10px 20px;
	font-weight: 700;
	/* border-bottom: 1px solid #471f58; */
}

.list-inline > li {
	padding: 0 0;
}
.toll-free {
	float: right;
	padding: 6px 0;
	margin:34px 0 0 26px;
	font-size: 22px;
	font-weight: 700;
}
.toll-free span {
	color: #ebc868;
	float: left;
	padding:0 5px 0 0;
}
.toll-free a {
	color: #471f58;
}
.toll-free a:hover {
	color: #ebc868;
	text-decoration: none;
}

/*-----Header CSS End-----*/



/*-----Footer CSS Start-----*/

/*=====  Newsletter CSS BOF  ======*/

#newsletter {
	/* background:url(../images/news-bg.jpg) no-repeat center center; */
	background-size:cover;
	display:block;
	width:100%;
	padding: 10px 0 15px 0;
	background-color: #ebc868;

}
#newsletter .title svg {
	width:28px;
	height:28px;
	fill: #471f58;
	text-align: center;
	margin: 0 auto 30px;
}
#newsletter .title h3 {
	font-size: 26px;
	font-weight: 400;
	color: #471f58;
	position: relative;
	text-align: center;
	line-height: normal;
}
#newsletter .title h3::before {
 content: "";
 background: #471f58;
 width: 102px;
 height: 2px;
 position: absolute;
 left: 0px;
 top: -30px;
 right: 0;
 margin: 0 auto;
}
#newsletter .title p {
	color: #471f58;
	text-align: center;
	padding-top:20px;
	line-height:26px;
	width: 55%;
	margin: 0 auto;
}
#newsletter form .input {
	background: #fff;
	border: none;
	width: 100%;
	padding: 10px 20px;
	color: #797778;
	font-size: 17px;
	font-weight: 400;
	border-radius:5px;
	margin-top:30px;
	height:35px;
}
#newsletter form .sub-btn {
	font-weight: 400;
	color: #fff;
	background: #006ace;
	width: 100%;
	padding: 0;
	font-size: 20px;
	display: block;
	text-align: center;
	border-radius:5px;
	border:none;
	margin-top:30px;
	height:35px;
	line-height:35px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#newsletter form .sub-btn:hover {
	color: #fff;
	background: #fc4f00;
	text-decoration: none;
}

footer {
	background:#471f58;
	display:block;
	width:100%;
	/*padding-top: 60px;*/
	position:relative;
}
footer .cont-sec ul li .size-34 {
	font-size: 44px !important;
}
footer .cont-sec ul li .size-42 {
	font-size: 52px !important;
}
footer .cont-sec {
	background: #ebc868;
	padding: 20px 0;
}
footer .cont-sec ul {
	list-style:none;
	margin:0;
	padding:0;
}
footer .cont-sec ul li {
	width:28%;
	list-style:none;
	padding: 15px 20px;
	float:left;
	border-right: 1px solid #dcb855;
	min-height: 96px;
}
footer .cont-sec ul li:first-child {
	width:17% ;
}
footer .cont-sec ul li:last-child {
	width:30%;
	border-right: none;
}
footer .cont-sec ul li:nth-child(2) {
	width:25%;
}
footer .cont-sec ul li h3 {
	font-size: 18px;
	color: #471f58;
	font-weight: 700;
	text-align: left;
	float: left;
	width: 100%;
	margin: 0;
	padding: 8px 0 0;
}
footer .cont-sec ul li h3 span {
	font-size: 13px;
	font-weight: 500;
}
footer .cont-sec ul li .icon {
    border-radius: 100px;
    display: block;
    float: left;
    text-align: center;
    color: #471f58;
    font-size: 60px;
    line-height: 52px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
footer .cont-sec ul li:hover .icon {
	color: #471f60;
}
footer .cont-sec ul li:hover .head {
	color: #471f58;
}
footer .cont-sec ul li .head {
	font-size: 15px;
	color: #471f58;
	font-weight: 500;
	text-align: left;
	padding: 5px 0 0 15px;
	float: left;
	width: auto;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
footer .cont-sec ul li p {
	font-size: 14px;
	color: #471f58;
	font-weight: 500;
	text-align: left;
	padding-left: 15px;
	float: left;
	width: 82%;
	margin: 0;
}
footer .cont-sec ul li:hover p, footer .cont-sec ul li:hover p a {
	color: #471f60;
}
footer .cont-sec ul li p a {
	font-size: 17px;
	color: #471f58;
	font-weight: 700;
	text-decoration: none;
	float: left;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
footer .cont-sec ul li p a:hover {
	color: #471f60;
	text-decoration: none;
}
footer .inner {
	display: block;
	width: 100%;
}
footer .about {
	width: 100%;
	display: block;
}
footer .about .ftr-logo {
	text-align: left;
	position: relative;
	margin:30px 0 0;
}

footer .link {
	width: 100%;
	display: inline-block;
}
footer .link h3 {
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 42px;
	margin: 30px 0 20px;
	position: relative;
	text-align: left;
	float: left;
	width: 100%;
	font-size: 20px;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
footer .link ul li {
	font-size: 14px;
	font-weight: 400;
	padding: 6px 0;
	width: 100%;
}
footer .link ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0;
}
footer .link ul li a i {
    padding-right: 8px;
    float: left;
    line-height: 20px;
}
footer .link ul li a:hover {
	color: #ebc868;
	text-decoration: none;
}
footer .ftr-btm {
    padding: 25px 0;
    margin-top: 25px;
    border-top: 1px solid #6e3985;
}
footer .copyright {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
	font-weight:400;
}
footer .powered-by {
	color: #fff;
	font-size: 16px;
	font-weight:400;
	float:right;
	margin-top: 8px;
}
.back-top {
	bottom: 22px;
	position: absolute;
	right: 0;
	left:0;
	width: 50px;
	margin: 0 auto;
}
.back-top #toTop {
	color: #ebc868;
	line-height: 42px;
	transition: all 0.8s ease-in-out 0s;
	z-index: 50;
}
.back-top i {
	font-size: 40px;
	position: relative;
	top: 9px;
}
.back-top #toTop:hover {
	color: #fff;
}


@media screen and (max-width: 480px) {
	.partner_area h4:before {
		display: none !important;
}
.partner_area h4:after {
		display: none !important;
}
.modal-smsp{
	width: 100% !important;
}
	.toll-free {
		font-size: 18px;
	}
	.login i, .login a {
		font-size: 12px;
		padding: 0;
	}
	.login i {
		margin: 2px 5px 0 0;
	}
	.crnc .dropdown a, .lang .dropdown a {
		font-size: 12px;
		padding: 10px;
	}
	.lang .open > .dropdown-menu {
		display: grid !important;
	}
	}
	@media screen and (max-width: 640px) {
	
	}
	@media screen and (max-width: 767px) {
	
	/*-----Header CSS Start-----*/
	.logo {
		width: 90px;
	}
	.logo img {
		width: 100%;
	}
	.toll-free {
		margin: -60px 0 0 0;
	}
	.login {
		margin: -2px 10px 0 0;
	}
	.lang {
		margin: 3px 0 0;
	}
	.lang .dropdown-menu {
		left:auto;
		right: 0;
		min-width: 120px;
	}
	.crnc {
		margin: 6px 10px 0 0;
	}
	.crnc .dropdown-menu {
		left:auto;
		right: 0;
	}
	
	/*-----Header CSS End-----*/
	
	/*-----Footer CSS Start-----*/
	footer .cont-sec ul li {
		width: 100% !important;
		padding: 15px 0;
		border-right: none;
		border-bottom:1px solid #dcb855;
		min-height: auto;
	}
	footer .cont-sec ul li:last-child {
		border-bottom:none;
	}
	footer .cont-sec ul li h3 {
		padding: 0;
	}
	
	#newsletter .title h3 {
		font-size: 24px;
	}
	#newsletter .title p {
		width: 100%;
	}
	footer {
		padding-top: 0;
	}
	footer .powered-by {
		float: left;
		margin-top: 0;
	}
	.back-top {
		right: 15px;
		left: auto;
		margin: 0;
	}
	
	footer .link h3 {
		font-size: 14px;
		margin: 20px 0 10px;
		line-height:25px;
	}
	footer .copyright, footer .powered-by {
		font-size: 13px;
	}
	footer .about .ftr-logo {
		width: 100px;
	}
	footer .about .ftr-logo img {
		width: 100%;
	}
	/*-----Footer CSS End-----*/
	}
	@media (min-width: 768px) and (max-width: 990px) {
		
	/*-----Header CSS Start-----*/
	.logo {
		width: 90px;
	}
	.logo img {
		width: 100%;
	}
	.login {
		margin: 26px 26px 0 0;
	}
	.login i, .login a {
		font-size: 14px;
	}
	.login i {
		margin: 6px 5px 0 0;
	}
	.toll-free {
		font-size: 17px;
		margin: 26px 0 0 26px;
	}
	.lang .dropdown-menu {
		left: -74px;
	}
	
	.crnc .dropdown a, .lang .dropdown a {
		font-size: 14px;
		padding: 10px;
	}
	.crnc {
		margin: 28px 15px 0 0;
	}
	.lang {
		margin: 28px 0 0;
	}
	/*-----Header CSS End-----*/
	footer .cont-sec ul li {
		width: 50% !important;
		padding: 15px;
		border-bottom: 1px solid #dcb855;
	}
	footer .cont-sec ul li:nth-child(2) {
		border-right: none;
	}
	footer .cont-sec ul li:nth-child(3), footer .cont-sec ul li:last-child {
		border-bottom: none;
	}
	footer .cont-sec ul li .icon {
		font-size: 50px;
	}
	footer .cont-sec ul li .size-34 {
		font-size: 36px !important;
	}
	footer .cont-sec ul li .size-42 {
		font-size: 42px !important;
	}
	footer .link h3 {
		font-size: 14px;
		margin: 30px 0 10px;
	}
	footer .link ul li {
		font-size: 12px;
	}
	footer .copyright, footer .powered-by {
		font-size: 13px;
	}
	footer .about .ftr-logo {
		width: 100px;
	}
	footer .about .ftr-logo img {
		width: 100%;
	}
	}
	@media (min-width: 991px) and (max-width: 1024px) {
	
	/*-----Header CSS Start-----*/
	.logo {
		width: 90px;
	}
	.logo img {
		width: 100%;
	}
	.login {
		margin: 24px 26px 0 0;
	}
	.login i, .login a {
		font-size: 16px;
	}
	.crnc {
		margin: 28px 15px 0 0;
	}
	.lang {
		margin: 28px 0 0;
	}
	.toll-free {
		margin: 18px 0 0 26px;
	}
	/*-----Header CSS End-----*/
	footer .cont-sec ul li {
		padding: 15px;
	}
	footer .cont-sec ul li h3 {
		font-size: 16px;
	}
	footer .cont-sec ul li .icon {
		font-size: 50px;
	}
	footer .cont-sec ul li p {
		width: 83%;
		font-size: 12px;
	}
	footer .cont-sec ul li p a {
		font-size: 14px;
	}
	footer .cont-sec ul li .size-34 {
		font-size: 36px !important;
	}
	footer .cont-sec ul li .size-42 {
		font-size: 42px !important;
	}
	}
	@media (min-width: 1025px) and (max-width: 1400px) {
	}
	
/*-----Footer CSS End-----*/


/* RTL style */

/*-----Header CSS Start-----*/

/*=====  Top CSS BOF  ======*/
.ar_direction1 .top {
	background: #fff;
	width: 100%;
	height: auto;
	padding: 0;
}
.ar_direction1 .logo {
	float: right;
	padding: 10px 0;
}
.ar_direction1 .login {
	float: left;
	padding: 6px 0;
	margin:37px 0 0 26px;	
}
.ar_direction1 .login i {
	color: #ebc868;
	font-size: 17px;
	float: right;
	margin: 3px 0 0 10px;
}
.ar_direction1 .lang .dropdown a:hover, .ar_direction1 .crnc .dropdown a:hover {
	color: #ebc868;
	text-decoration: none;
}
.ar_direction1 .login a {
color: #471f58;
	font-size: 17px;
	font-weight: 700;
}
.ar_direction1 .login a:hover {
	color: #ebc868;
	text-decoration: none;
}

.ar_direction1 .lang {
	float: left;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 45px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#471f58;
}
.ar_direction1 .lang:hover {
	color: #000;
}
.ar_direction1 .lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.ar_direction1 .lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: -60px;
	top: 31px;
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border:1px solid #ddd;
}
.ar_direction1 .lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff;
	border-bottom: 1px solid #ddd;
	text-align: right;
}
.ar_direction1 .lang .dropdown-menu li:last-child {
	border-bottom: none;
}
.ar_direction1 .lang .dropdown-menu li a {
	padding: 5px 12px;
	color: #471f58;
	font-size: 14px;
	border:none;
}
.ar_direction1 .lang .dropdown-menu li a:focus, .ar_direction1 .lang .dropdown-menu li a:hover {
	color: #471f58;
	text-decoration: none;
	background-color: #efefef;
}
.ar_direction1 .lang .dropdown a {
	color: #471f58;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
	font-weight: 700;
	/* border-bottom: 1px solid #471f58; */
}
.ar_direction1 .crnc {
	float: left;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 45px 0 0 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#471f58;
}
.ar_direction1 .crnc:hover {
	color: #000;
}
.ar_direction1 .crnc .caret {
	display:none;
}
.ar_direction1 .crnc .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: 0;
	top: 31px;
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border:1px solid #ddd;
}
.ar_direction1 .crnc .dropdown-menu li {
	display: block;
	border:0;
	color: #471f58;
	border-bottom: 1px solid #ddd;
	text-align: right;
}
.ar_direction1 .crnc .dropdown-menu li:last-child {
	border-bottom: none;
}
.ar_direction1 .crnc .dropdown-menu li a {
	padding: 5px 12px;
	color: #471f58;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	border:none;
}
.ar_direction1 .crnc .dropdown-menu li a:focus, .ar_direction1 .crnc .dropdown-menu li a:hover {
    color: #471f58;
    text-decoration: none;
    background-color: #efefef;
}
.ar_direction1 .crnc .dropdown a {
	color: #471f58;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 11px !important;
	font-weight: 700;
	/* border-bottom: 1px solid #471f58; */
	cursor: pointer;
}
.ar_direction1 .list-inline > li {
	padding: 0 0;
}
.ar_direction1 .toll-free {
	float: left;
	padding: 6px 0;
	margin:37px 26px 0 0;
	font-size: 22px;
	font-weight: 700;
}
.ar_direction1 .toll-free span {
	color: #ebc868;
	float: left;
	padding:0 5px 0 0;
}
.ar_direction1 .toll-free a {
	color: #471f58;
}
.ar_direction1 .toll-free a:hover {
	color: #ebc868;
	text-decoration: none;
}

/*-----Header CSS End-----*/


/*-----Footer CSS Start-----*/

/*=====  Newsletter CSS BOF  ======*/

.ar_direction1 #newsletter  {
	/* background:url(../images/news-bg.jpg) no-repeat center center; */
	background-size:cover;
	display:block;
	width:100%;
	padding:10px 0;
	background-color: #ebc868;
}
.ar_direction1 #newsletter .title svg {
	width:28px;
	height:28px;
    fill: #471f58;
    text-align: center;
	/* margin: 0 auto 60px; */
}
.ar_direction1 #newsletter .title h3 {
    font-size: 26px;
    font-weight: 400;
    color: #471f58;
    position: relative;
    text-align: center;
    line-height: normal;
}
.ar_direction1 #newsletter .title h3::before {
    content: "";
    background: #471f58;
    width: 102px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: -30px;
    right: 0;
    margin: 0 auto;
}
.ar_direction1 #newsletter .title p {
    color: #471f58;
    text-align: center;
	padding-top:20px;
	line-height:26px;
	width: 55%;
	margin: 0 auto;
}
.ar_direction1 #newsletter form .input {
    background: #fff;
    border: none;
    width: 100%;
    padding: 10px 20px;
    color: #797778;
    font-size: 17px;
    font-weight: 400;
	border-radius:5px;
	margin-top:30px;
	height:35px;
}
.ar_direction1 #newsletter form .sub-btn {
    font-weight: 400;
    color: #fff;
    background: #006ace;
    width: 100%;
    padding: 0;
    font-size: 20px;
    display: block;
    text-align: center;
	border-radius:5px;
	border:none;
	margin-top:30px;
	height:35px;
	line-height:35px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.ar_direction1 #newsletter form .sub-btn:hover {
    color: #fff;
    background: #fc4f00;
    text-decoration: none;
}

footer {
	background:#471f58;
	display:block;
	width:100%;
	/*padding-top: 60px;*/
	position:relative;
}
footer .ar_direction1 .cont-sec ul li .size-34 {
	font-size: 44px !important;
}
footer .ar_direction1 .cont-sec ul li .size-42 {
	font-size: 52px !important;
}
footer .ar_direction1 .cont-sec {
	background: #ebc868;
	padding: 20px 0;
}
footer .ar_direction1 .cont-sec ul {
	list-style:none;
	margin:0;
	padding:0;
}
footer .ar_direction1 .cont-sec ul li {
    width: 28%;
    list-style: none;
    padding: 15px 20px;
    float: right;
    border-left: 1px solid #dcb855;
    min-height: 96px;
}
footer .ar_direction1 .cont-sec ul li:first-child {
	width:17% ;
}
footer .cont-sec ul li:last-child {
	width:30%;
	border-left: none;
}
footer .ar_direction1 .cont-sec ul li:nth-child(2) {
	width:25%;
}
footer .ar_direction1 .cont-sec ul li h3 {
	font-size: 18px;
	color: #471f58;
	font-weight: 700;
	text-align: right;
	float: right;
	width: 100%;
	margin: 0;
	padding: 8px 0 0;
}
footer .ar_direction1 .cont-sec ul li h3 span {
	font-size: 13px;
	font-weight: 500;
}
footer .ar_direction1 .cont-sec ul li .icon {
    border-radius: 100px;
    display: block;
    float: right;
    text-align: center;
    color: #471f58;
    font-size: 60px;
    line-height: 52px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
footer .ar_direction1 .cont-sec ul li:hover .icon {
	color: #471f58;
}
footer .ar_direction1 .cont-sec ul li:hover .head {
	color: #471f58;
}
footer .ar_direction1 .cont-sec ul li .head {
	font-size: 15px;
	color: #471f58;
	font-weight: 500;
	text-align: left;
	padding: 5px 15px 0 0;
	float: right;
	width: auto;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
footer .ar_direction1 .cont-sec ul li p {
	font-size: 14px;
	color: #471f58;
	font-weight: 500;
	text-align: right;
	padding-right: 15px;
	float: right;
	width: 82%;
	margin: 0;
}
footer .ar_direction1 .cont-sec ul li:hover p, footer .ar_direction1 .cont-sec ul li:hover p a {
	color: #471f58;
}
footer .ar_direction1 .cont-sec ul li p a {
	font-size: 17px;
	color: #471f58;
	font-weight: 700;
	text-decoration: none;
	float: right;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
footer .ar_direction1 .cont-sec ul li p a:hover {
	color: #471f58;
	text-decoration: none;
}
footer .ar_direction1 .inner {
	display: block;
	width: 100%;
}
footer .ar_direction1 .about {
	width: 100%;
	display: block;
}
footer .ar_direction1 .about .ftr-logo {
	text-align: right;
	position: relative;
	margin:30px 0 0;
}

footer .ar_direction1 .link {
	width: 100%;
	display: inline-block;
}
footer .ar_direction1 .link h3 {
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 42px;
	margin: 30px 0 20px;
	position: relative;
	text-align: right;
	float: left;
	width: 100%;
	font-size: 20px;
}
footer .ar_direction1 .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
footer .ar_direction1 .link ul li {
	font-size: 14px;
	font-weight: 400;
	padding: 6px 0;
	width: 100%;
	text-align:right;
}
footer .ar_direction1 .link ul li a {
	color: #fff;
	text-decoration: none;
	padding: 0;
}
footer .ar_direction1 .link ul li a i {
    padding-left: 8px;
    float: right;
    line-height: 20px;
}
footer .ar_direction1 .link ul li a:hover {
	color: #ebc868;
	text-decoration: none;
}
footer .ar_direction1 .ftr-btm {
    padding: 25px 0;
    margin-top: 25px;
    border-top: 1px solid #6e3985;
}
footer .ar_direction1 .copyright {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
	font-weight:400;
	text-align: right;
}
footer .ar_direction1 .powered-by {
	color: #fff;
	font-size: 16px;
	font-weight:400;
	float:left;
	margin-top: 8px;
	text-align: left;
}
.ar_direction1 .back-top {
	bottom: 22px;
	position: absolute;
	right: 0;
	left:0;
	width: 50px;
	margin: 0 auto;
}
.ar_direction1 .back-top #toTop {
	color: #ebc868;
	line-height: 42px;
	transition: all 0.8s ease-in-out 0s;
	z-index: 50;
}
.ar_direction1 .back-top i {
	font-size: 40px;
	position: relative;
	top: 9px;
}
.ar_direction1 .back-top #toTop:hover {
	color: #fff;
}

/*-----Footer CSS End-----*/

/*RTL CSS*/

.ar_direction1 .pull-right {
    float: left !important;
}
.ar_direction1 .col-lg-1, .ar_direction1 .col-lg-10, .ar_direction1 .col-lg-11, .ar_direction1 .col-lg-12, .ar_direction1 .col-lg-2, .ar_direction1 .col-lg-3, .ar_direction1 .col-lg-4, .ar_direction1 .col-lg-5, .ar_direction1 .col-lg-6, .ar_direction1 .col-lg-7, .ar_direction1 .col-lg-8, .ar_direction1 .col-lg-9 {
    float: right;
}
.ar_direction1 .col-md-1, .ar_direction1 .col-md-10, .ar_direction1 .col-md-11, .ar_direction1 .col-md-12, .ar_direction1 .col-md-2, .ar_direction1 .col-md-3, .ar_direction1 .col-md-4, .ar_direction1 .col-md-5, .ar_direction1 .col-md-6, .ar_direction1 .col-md-7, .ar_direction1 .col-md-8, .ar_direction1 .col-md-9 {
    float: right;
}
.ar_direction1 .col-sm-1, .ar_direction1 .col-sm-10, .ar_direction1 .col-sm-11, .ar_direction1 .col-sm-12, .ar_direction1 .col-sm-2, .ar_direction1 .col-sm-3, .ar_direction1 .col-sm-4, .ar_direction1 .col-sm-5, .ar_direction1 .col-sm-6, .ar_direction1 .col-sm-7, .ar_direction1 .col-sm-8, .ar_direction1 .col-sm-9 {
    float: right;
}
.ar_direction1 .col-lg-offset-2 {
    margin-right: 16.66666667% !important;
}

.ar_direction1 .col-lg-offset-2 {
    margin-left: 0 !important;
}

@media screen and (max-width: 480px) {
	.ar_direction1 .toll-free {
		font-size: 18px;
	}
	.ar_direction1 .login i, .ar_direction1 .login a {
		font-size: 11px;
	}
	.ar_direction1 .login i {
		margin: 4px 0 0 5px;
	}
	.ar_direction1 .crnc .dropdown a, .ar_direction1 .lang .dropdown a {
		font-size: 12px;
		padding: 10px;
	}
	}
	@media screen and (max-width: 640px) {
	
	}
	@media screen and (max-width: 767px) {
	
	/*-----Header CSS Start-----*/	
	.ar_direction1 .logo {
		width: 78px;
	}
	.ar_direction1 .logo img {
		width: 100%;
	}
	.ar_direction1 .toll-free {
		margin: -60px 0 0 0;
	}
	.ar_direction1 .login {
		margin:-2px 0 0 10px;
	}
	.ar_direction1 .lang {
		margin: 6px 0 0;
	}
	.ar_direction1 .lang .dropdown-menu {
		right:auto;
		left: 0;
		min-width: 120px;
	}
	.ar_direction1 .crnc {
		margin: 6px 0 0 10px;
	}
	.ar_direction1 .crnc .dropdown-menu {
		right:auto;
		right: 0;
	}
	
	/*-----Header CSS End-----*/
	
	/*-----Footer CSS Start-----*/
	footer .ar_direction1 .cont-sec ul li {
		width: 100% !important;
		padding: 15px 0;
		border-left: none;
		border-bottom:1px solid #dcb855;
		min-height: auto;
	}
	footer .ar_direction1 .cont-sec ul li:last-child {
		border-bottom:none;
	}
	footer .ar_direction1 .cont-sec ul li h3 {
		padding: 0;
	}
	.ar_direction1 #newsletter .title h3 {
		font-size: 24px;
	}
	.ar_direction1 #newsletter .title p {
		width: 100%;
	}
	.ar_direction1 .col-lg-offset-2 {
		margin-right: 0 !important;
	}
	
	footer .ar_direction1  {
		padding-top: 0;
	}
	footer .ar_direction1 .link h3 {
		font-size: 14px;
		margin: 20px 0 10px;
		line-height:25px;
	}
	footer .ar_direction1 .copyright, footer .ar_direction1 .powered-by {
		font-size: 13px;
	}
	footer .ar_direction1 .about .ftr-logo {
		width: 80px;
		float: right;
	}
	footer .ar_direction1 .about .ftr-logo img {
		width: 100%;
	}
	footer .ar_direction1 .powered-by {
		float: right;
		margin-top: 0;
	}
	.ar_direction1 .back-top {
		right: auto;
		left: 15px;
		margin: 0;
	}
	/*-----Footer CSS End-----*/
	}
	@media (min-width: 768px) and (max-width: 990px) {
	
	/*-----Header CSS Start-----*/
	.ar_direction1 .logo {
		width: 62px;
	}
	.ar_direction1 .logo img {
		width: 100%;
	}
	.ar_direction1 .login {
		margin: 28px 0 0 26px;
	}
	.ar_direction1 .login i, .ar_direction1 .login a {
		font-size: 14px;
	}
	.ar_direction1 .login i {
		margin: 6px 0 0 5px;
	}
	.ar_direction1 .toll-free {
		font-size: 18px;
		margin: 26px 26px 0 0;
	}
	.ar_direction1 .lang .dropdown-menu {
		left: -74px;
	}
	.ar_direction1 .crnc .dropdown a, .ar_direction1 .lang .dropdown a {
		font-size: 14px;
		padding: 10px;
	}
	.ar_direction1 .crnc {
		margin: 28px 0 0 15px;
	}
	.ar_direction1 .lang {
		margin: 28px 0 0;
	}
	
	/*-----Header CSS End-----*/
	
	/*-----Footer CSS Start-----*/
	.ar_direction1 .col-lg-offset-2 {
		margin-right: 0 !important;
	}
	footer .ar_direction1 .cont-sec ul li {
		width: 50% !important;
		padding: 15px;
		border-bottom: 1px solid #dcb855;
	}
	footer .ar_direction1 .cont-sec ul li:nth-child(2) {
		border-left: none;
	}
	footer .ar_direction1 .cont-sec ul li:nth-child(3), footer .ar_direction1 .cont-sec ul li:last-child {
		border-bottom: none;
	}
	footer .ar_direction1 .cont-sec ul li .icon {
		font-size: 50px;
	}
	footer .ar_direction1 .cont-sec ul li .size-34 {
		font-size: 36px !important;
	}
	footer .ar_direction1 .cont-sec ul li .size-42 {
		font-size: 42px !important;
	}
	footer .ar_direction1 .link h3 {
		font-size: 14px;
		margin: 30px 0 10px;
	}
	footer .ar_direction1 .link ul li {
		font-size: 12px;
	}
	footer .ar_direction1 .copyright, footer .ar_direction1 .powered-by {
		font-size: 13px;
	}
	footer .ar_direction1 .about .ftr-logo {
		width: 62px;
	}
	footer .ar_direction1 .about .ftr-logo img {
		width: 100%;
	}
	/*-----Footer CSS End-----*/
	}
	@media (min-width: 991px) and (max-width: 1024px) {
	
	/*-----Header CSS Start-----*/
	.ar_direction1 .logo {
		width: 62px;
	}
	.ar_direction1 .logo img {
		width: 100%;
	}
	.ar_direction1 .login {
		margin: 28px 0 0 26px;
	}
	.ar_direction1 .login i {
		margin:3px 0 0 5px;
	}
	.ar_direction1 .toll-free {
		margin: 26px 26px 0 0;
	}
	.ar_direction1 .lang .dropdown-menu {
		left: -74px;
	}
	.ar_direction1 .crnc .dropdown a, .ar_direction1 .lang .dropdown a {
		padding: 10px;
	}
	.ar_direction1 .crnc {
		margin: 28px 0 0 15px;
	}
	.ar_direction1 .lang {
		margin: 28px 0 0;
	}
	/*-----Header CSS End-----*/
	
	/*-----Footer CSS Start-----*/
	.ar_direction1 .col-md-offset-1 {
		margin-right: 8.33333333% !important;
	}
	footer .ar_direction1 .cont-sec ul li {
		padding: 15px;
	}
	footer .ar_direction1 .cont-sec ul li h3 {
		font-size: 16px;
	}
	footer .ar_direction1 .cont-sec ul li .icon {
		font-size: 50px;
	}
	footer .ar_direction1 .cont-sec ul li p {
		width: 83%;
		font-size: 12px;
	}
	footer .ar_direction1 .cont-sec ul li p a {
		font-size: 14px;
	}
	footer .ar_direction1 .cont-sec ul li .size-34 {
		font-size: 36px !important;
	}
	footer .ar_direction1 .cont-sec ul li .size-42 {
		font-size: 42px !important;
	}
	footer .ar_direction1 .about .ftr-logo {
		width: 62px;
	}
	footer .ar_direction1 .about .ftr-logo img {
		width: 100%;
	}
	/*-----Footer CSS End-----*/
	}
	@media (min-width: 1025px) and (max-width: 1400px) {
	
	}
	




/* Sign IN Popup */

/*sing in popup start*/
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
    .lang .open > .dropdown-menu {
	display: grid !important;
}
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #471b58;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

/*singin popup end*/


/* view booking and profile */

.modal-content{
    border-radius: 0;
}
.modal-header{
    padding: 13px 15px;
}
.modal-title{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}
.modal-header .close {
    margin-top: -1px;
    color: #000;
    opacity: 0.8;
}
.user_login p label {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.viewradio_sec{
    width: 100%;
    float: left;
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
.btn-submit{
    width: 100%;
    text-align: center;
}
.btn-submit button{
    width: 100%;
    height: 44px;
    margin: auto;
    background: var(--primary-color);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.viewradio_sec .radio_view {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.radio_view input:checked~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #471b58;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* Profile */

.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 0 0 0 8px;
    background: none !important;
    padding: 4px 5px;
    cursor: pointer;
    /* border-bottom: 1px solid rgb(255, 255, 255) !important; */
    border-radius: 0;
	border-right: 0px !important;
	margin-top: -10px !important;

}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #471b58;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #000;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
    color: #471b58;
    font-family: 'Poppins', sans-serif;
    width: 86px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #471b58;
    position: absolute;
    top: 101%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 9999;
    padding-bottom: 4px;
}
.profile-dropdown ul li{
    border-bottom: 1px solid #484848;
}
.profile-dropdown ul li a {
    display: block;
    padding: 11px 10px !important;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #616161;
}

.profile-dropdown>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.customer-profile{
    margin-top: 0px;
}
.flight-step-review{
    margin-top: 1px;
}
.flight-listing{
    border-top: 1px solid #ddd;
}
@media only screen and (max-width:767px) {
	.profile-dropdown {
		margin-left: 0px !important;
		padding: 0px !important;
		margin-top: -6px !important;

	}
	.col-sm-6 {
		padding-left: 0px !important;
	}
	
}
@media (max-width: 990px) and (min-width: 768px){
	.profile-dropdown {
		margin-left: 0px !important;
		padding: 0px !important;
		margin-top: -6px !important;

	}
	.col-sm-6 {
		padding-left: 0px !important;
	}
}
@media (max-width: 1024px) and (min-width: 991px) {
	.profile-dropdown {
		margin-left: 0px !important;
		padding: 0px !important;
		margin-top: -6px !important;

	}
	.col-sm-6 {
		padding-left: 0px !important;
	}	
}
@media (max-width: 1366px) and (min-width: 1024px) {
	.profile-dropdown {
		margin-left: 0px !important;
		padding: 0px !important;
		margin-top: -6px !important;

	}
	.col-sm-6 {
		padding-left: 0px !important;
	}	
}
@media (max-width: 568px) and (min-width: 320px) {
	.profile-dropdown {
		margin-left: 0px !important;
		padding: 0px !important;
		margin-top: -6px !important;

	}
	.col-sm-6 {
		padding-left: 0px !important;
		padding-right: 0px !important;
		/* display: contents; */
	}
	.lang {
		
	    margin-left: -8px !important;
        margin-right: 6px !important;
	}
	/* .crnc 
		{
             margin-left: 0px !important;
		} */
		.crnc ol, .crnc ul {
			margin-top: 0;
			margin-bottom: 10px;
			padding: 0px;
		}
		.crnc {
			float: right;
			padding: 0 0;
			z-index: 5;
			font-weight: 400;
			margin: 3px 14px 0 0;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
			color: #fff;
		}
		/* .container {
			padding-right: 0px !important;
		    padding-left: 10px !important;
		} */

}

@media screen and (max-width: 320px){
	.crnc .dropdown a, .lang .dropdown a {
		font-size: 9px;
		padding: 9px;
	}
}
@media screen and (max-width: 375){
	.toll-free {
		font-size: 14px;
	}
}

.ar_direction1 .profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #471b58;
    position: absolute;
    top: 101%;
    right: 0;
    width: 112%;
    border-radius: 0;
    z-index: 9999;
    padding-bottom: 4px;
}

/* rtl signin popup */

.ar_direction1 #signin-email,
.ar_direction1 #signin-password {
    padding: 10px 50px 10px 20px !important;
}
.ar_direction1 .cd-signin-modal__label.cd-signin-modal__label--image-replace {
    left: inherit !important;
    right: 15px;
}
.ar_direction1 .cd-signin-modal__hide-password {
    right: inherit;
    left: 0;
}
.ar_direction1 .cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 10px 50px 10px 20px !important;
}
.ar_direction1 .profile-dropdown ul li a i {
    margin: 0 0 0 .75rem;
}


html {
	font-family: 'Philosopher', sans-serif !important;
}
html body {
	font-family: 'Philosopher', sans-serif !important;
}




.crnc .open>.dropdown-menu {
    display: grid !important;
}
.dropdown {
    list-style: none;
}

.dropdown-item {
    font-size: 12px !important;
}

.dropdown a {
    border:none;
	margin-bottom: 0px !important;
	cursor: pointer;
	float: none;
}
.crnc .dropdown-item {
    -webkit-transition: none !important;
     transition: none !important;
}
.lang .dropdown-item {
    -webkit-transition: none !important;
    transition: none !important;
}
#header .dropdown-menu a:hover{
	border: none !important;
	border-bottom: 1px solid #ddd;
}

#header .dropdown-menu a{
	border-bottom: 1px solid #ddd;
}

.search-section .nav-tabs2 > li.active > a > label, .search-section .nav-tabs2 > li.active > a:focus, .search-section .nav-tabs2 > li.active > a:hover {
    color: #eac868 !important;
}

.search-section label {
    cursor: pointer;
}

.ar_direction1 .crnc .dropdown-menu a {
    text-align: right;
}

#owl-demo .item img {
	width: 100%;
}
.customNavigation1 {
	text-align: right;
	margin-top: 29px;
	margin-bottom: 3px;
	padding-bottom: 3px;
}
.partner_area {
	width: 100%;
	text-align: center;
	padding-bottom: 13px;
	position: relative;
}

.partner_area h4 {
	display: inline-block;
	padding: 0 20px;
	position: relative;
	color: #292929;
	font-size: 30px;
	font-family: "Roboto", sans-serif !important;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 20px;
}

.partner_area h4:before,
.partner_area h4:after {
	background: #ddd;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 50%;
	width: 400%;
}

.partner_area h4:before {
	right: 100%;
	width: 150px;
}

.partner_area h4:after {
	left: 100%;
	width: 150px;
}

.partner_area .slider_icon {
	position: relative;
	top: 26px;
}

.sp_partner {
	position: relative;
	margin-top: -84px;
	margin-left: 0;
	margin-right: 9%;
}

.modal-smsp {
    width: 400px;
    margin: 10% auto !important;
}