.autocomplete {
    position: relative;
  }
  
  .autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: -15px;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
  }
  
  .autocomplete ul.autocomplete-results li {
    color: #3e3e3e;
    font-size: 13px;
    font-weight: 400;
  }
  
  .autocomplete ul.autocomplete-results li:hover {
    color: #FFF;
  }
  
  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
  }
  
  .autocomplete-results li:last-child {
    border-bottom: none;
  }
  
  .autocomplete-result:hover {
    background-color: var(--primary-color);
    color: #FFF;
  }
  .autocomplete-result-active{
    background-color: var(--primary-color) !important;
    color: #FFF !important;
  }
  
  .autocomplete-results::-webkit-scrollbar {
    width: 5px;
  }
  
  .autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
  }
  
  .autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
  }

  .validation_home{
	width: 100%;
    background: #c32033;
    padding: 11px 10px;
    text-align: center;
    color: #FFF;
}