@media(min-width: 1200px) {
input[type="submit"].button {
top: 0px
}
/*.header_margin_top {margin-top: 215px;}*/
.welcome-image-area5 {
height: 650px;
}
.welcome-image-area5.slider-v6 {
height: 500px;
}
.page-sub-title {
top: -340px;
}
.cost-btn {
top: 0.5px!important;
}
.fieldbtnshop {
top: -5.5px!important;
}
.about-tab .nav-tabs > li {
padding: 10px 21px;
}
}
@media(max-width: 1200px) {
.mainmenu .navbar-nav>li {
margin: 0px 2px;
}
.menu-4 .navbar-nav>li {
margin: 0px 15px;
}
.cutomer-loc {
display: block;
}
.right-content .post-details h2 {
margin-top: -17px;
font-size: 22px;
}
.nav-tabs.nav-justified>li>a {
font-size: 13px;
}
/*.welcome-image-area { height: 630px!important;}*/
.pagination>li:first-child>a, .pagination>li:first-child>span {
/*width: 32%;*/
}
.cost-btn {
top: 0.5px!important;
}
.page-sub-title {
top: -270px;
}
.subscribe input {
width: 390px;
margin: 0 5px 0 20px;
}
.welcome-image-area5 {
height: 650px;
}
.slide-detail form {
float: right;
}
.slider-v5 .slide-detail form {
float: none;
}
.welcome-image-area2 {
height: 650px;
}
.feature-block .feature i {
margin-right: 0px;
}
.header-form2 {
text-align: center;
}
.home-post .right-content .post-details p {
margin-bottom: 14px;
}
.single-review {
min-height: 335px;
}
.socialauthorsinglepost {
right: 160px;
}
.site-page-header .site-title h2 {
color: rgb(256, 256, 256);
font-size: 100px;
padding: 12px 0px;
text-transform: capitalize;
text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.51);
/* font-family: 'Arimo', sans- */
}
input[type="submit"].button {
top: -5px;
margin-top: 0px;
}
.content-booking .booking-detail {
padding-left: 50px;
}
.tor-det {
padding: 20px!important;
}
.slogin-btn {
padding: 10px 20px;
}
/*.header2-btns {
top: auto;
}
.header2-btns {
left: 20%;
}*/
.header2-btns a.button {
padding: 10px 15px;
}
.form-inline {
display: -webkit-inline-box;
}
/*.welcome-image-area .form-inline {
display: block;
}*/
a.button {
padding: 12px 16px;
}
.reviewcomm {
right: 16%;
top: 57%;
}
.cusreview-ltextimg {
background-size: cover;
width: 100%;
height: 280px;
}
.pagination li a {
padding: 10px 14px;
}
.sidebar .widget {
margin-top: 30px;
}
.tab-search-long .place {
margin-right: 19px;
}
/*.tour-cost {
top: 168px;
}*/
.tour-details {
padding: 20px 0;
}
.dropdown ul li {
padding: 5px 0 5px 10px;
}
}
@media (max-width: 1199px) {
.slider-v5 .slide-detail form {
margin: 0;
}
.services-sec .box, .about-tab .inr2 .box {
width: 45%;
}
.special-offers-sec .right .inr .box {
width: 46%;
}
}
@media(max-width: 991px) {
.mainmenu .navbar-nav>li {
margin: 0px 0px;
}
.header-area-2 .header-2 .mainmenu .navbar-nav>li {
margin: 0 2px;
}
.header-text p {
display: none;
}
.welcome-image-area .header-text p {
display: block;
margin-bottom: 0.2rem;
}
.slider-v5 {
height: auto;
padding: 100px 0;
}
.header-3-topbar .wel-col, .header-3-topbar .top-link-col .top_links, .header-v3 .mini-cart-col .header_tools {
text-align: center;
margin-bottom: 0;
}
.header-v3 .logo-col .header-logo {
width: 100%;
text-align: center;
}
.form-col .form-inline {
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items: center;
}
.feature-block .feature {
margin-bottom: 20px;
}
.ad .media-body {
padding: 30px 0px 30px 7px;
}
.ads-block1 .ad.margin_btm .media {
padding: 20px;
border-radius: 30px;
}
/*.tour-cost { top: 100px;}*/
.welcome-image-area .form-inline {
display: block;
}
.header-text h1 {
display: none;
}
.slider-v5 .header-text h1 {
display: block;
}
.welcome-image-area .header-text h1 {
display: block;
}
.reviewcomm {
right: 15%;
top: 41%;
}
a.button {
padding: 8px 3px;
}
.has-discount {
margin-bottom: 30px;
}
.owl-imge {
width: 100%;
}
/*.contentBanner-right .contentBanner_content {
padding: 0 15px 0 0px;
}*/
.form-inline {
display: table-cell;
}
.formind2 {
display: inline-block;
}
.welcome-image-area2.main-slider-2 .slider-div .slide .header-text2 .form-inline {
display: -webkit-inline-box;
}
.home-post .right-content .post-details {
padding: 35px;
height: auto;
}
.home-post .post-meta {
padding: 4px 0px;
}
.descriptionauthorsinglepost {
padding-top: 50px;
}
.nameauthorsinglepost {
display: inline-block;
}
.pagination li a {
padding: 10px 16px;
}
.cusreview-ltextimg {
background-size: contain;
height: 270px;
padding: 30px;
}
.icon_arrow:after {
right: 3%;
}
.blog-top-header .mainmenu .navbar-nav>li a {
padding-right: 5px;
}
.dashboard-infobox i {
font-size: 45px;
}
.myaccount-nav {
display: block;
}
.formnewsletter2 button {
right: -31px;
width: 42%;
}
.room_book {
border: none;
}
#top4 {
height: auto;
}
.rbutton {
padding: 10px 16px;
}
.explore-layout .image-wrapper {
width: 100%;
}
.explore-layout .image-wrapper .link {
display: inline-block;
}
.explore-layout .image-wrapper .link:before {
position: unset;
}
.tour-btns a.button {
position: unset;
}
/*.flight-in{
text-align: center;
}*/
.tab-search-long .place {
margin-right: 10px;
}
.tab-search-long .input-daterange {
margin-right: 8px;
}
.subscribe input {
width: 415px;
}
.news .product-thumb {
margin-bottom: 15px;
}
.product-thumb .image .matter p {
margin: 0 25px 45px;
}
.news .product-thumb .image .matter .des2 {
margin: 45px 24px;
}
#menu .nav>li>a, #menu1 .nav>li>a {
padding: 0;
}
.prod-thumb {
display: none;
}
.newsinner {
top: 150px;
}
.slide-detail {
display: none;
}
.slider-v5 .slide-detail {
display: block;
}
.btn.btn-blue {
font-size: 14px;
}
/* Newly Added */
#menu .nav>li>a {
padding: 20px 10px 10px 10px;
}
.about-tab .nav-tabs > li {
padding: 10px 21px;
}
.about-tab .tab-content .inr img {
width: 70%;
}
.about-tab .tab-content .inr .video img {
width: 100% !important;
}
.about-tab .tab-content .inr .video .dtl {
padding: 11% 40px 40px;
}
.about-tab .tab-content .inr img {
margin-bottom: 30px;
}
.p-width {
width: 90% !important;
}
.special-offers-sec .right {
margin-top: 50px;
}
}
@media(max-width: 768px) {
.bordertype1 {
border-right: none;
}
.form-inline {
display: none;
}
.site-page-header .site-title h2 {
font-size: 25px;
}
.display-table-cell5 .header-text h1.cursive {
font-size: 60px;
}
/*.header-text {margin-top: 40px;}*/
.blog-bar {
display: flow-root;
}
.tile-image {
padding: 15px 0;
}
.prod-thumb {
display: block;
}
.nav.nav-tabs.nav-justified {
margin-bottom: 0;
}
.blog-toggle {
position: unset;
}
.header-topbar .topbar-right {
justify-content: center;
}
.header-topbar .topbar-left {
justify-content: center;
}
.subscribe .btn-default {
bottom: 0;
}
.comming-pg {
height: auto;
}
.count-down>li {
margin-bottom: 10px;
}
.count-down li.coln {
display: none;
}
.count-down {
flex-direction: column;
}
.error-page h1 {
font-size: 160px;
}
.error-page h6 {
font-size: 34px;
}
.dropdown-menu {
/*background-color: unset;*/
}
.inner-header-v .mainmenu .navbar-nav li a {
padding: 25px 6px;
}
.mainmenu .navbar-nav>li.sm-list {
display: none;
}
.default-accordion .accordion {
font-size: 20px;
}
.default-accordion .accordion::before {
/*right: -40px;*/
}
/*.error-page {
height: 100%;
}*/
.error-page .text {
max-width: 100%;
}
.text h1 {
font-size: 100px;
}
.subscribe .submit_news {
width: 133px;
height: 40px;
}
.newsinner {
top: 170px;
}
.header-text2 h1.tagline {
font-size: 80px;
}
figure {
text-align: center;
}
.nav-tog {
top: 0;
}
.has-discount {
margin-top: 15px;
}
.flight-details {
padding: 30px;
border: none;
}
.flight-details a.rbutton {
float: left;
margin-right: 7px;
margin-left: 7px;
}
.nav.nav-tabs.nav-justified {
margin-bottom: 0;
position: relative;
display: flow-root;
float: none;
}
.abut {
display: block!important;
}
.lineStart>.col-lg-6:first-of-type:after, .lineStart>.col-md-6:first-of-type:after, .lineStart>.col-sm-6:first-of-type:after, .lineContinue>.col-lg-6:first-of-type:after, .lineContinue>.col-md-6:first-of-type:after, .lineContinue>.col-sm-6:first-of-type:after, .lineEnd>.col-lg-6:first-of-type:after, .lineEnd>.col-md-6:first-of-type:after, .lineEnd>.col-sm-6:first-of-type:after {
display: none;
}
.site-page-header .site-title h2 {
/*display: none;*/
font-size: 75px;
}
.page-sub-title {
top: -60px;
display: inline-block;
}
.right-content .post-details {
padding: 14px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.blog-toggle {
color: #333
}
.tour2-cost {
top: 130px;
}
/*.review-details .date {
margin-top: 41px;
}*/
li.product .price-add-to-cart>.price, .section-onsale-product .onsale-product .price-add-to-cart>.price, .section-onsale-product-carousel .onsale-product-carousel .onsale-product .onsale-product-content .price-add-to-cart>.price, .products-carousel .owl-item .product .price-add-to-cart>.price {
float: none;
}
/*.review-details .client-id {
left: 30%;
margin-top: 70px;
}*/
.about-tab .nav-tabs > li {
padding: 10px 21px;
}
.about-tab .tab-content .inr img {
width: 70%;
margin-bottom: 30px;
}
.about-tab .tab-content .inr .video img {
width: 100% !important;
}
.about-tab .tab-content .inr .video .dtl {
padding: 10% 20px 10px;
}
.about-tab .nav-tabs > li:first-child {
padding-left: 21px;
}
.about-tab .nav-tabs > li:last-child {
padding-right: 21px;
}
.p-width {
width: 90% !important;
}
.owl-theme .custom-nav {
top: 30%;
position: absolute;
left: 17px;
right: 17px;
}
}
@media(max-width: 580px) {
.login-2 {
top: 10.5px!important;
}
.tour2-cost {
top: unset;
bottom: 134px;
}
.groupindex {
display: none;
}
.location {
display: none;
}
.register-id {
margin-bottom: 20px;
}
.services-sec .box, .about-tab .inr2 .box {
width: 92% !important;
}
.inner-brn .bnr-text h1 {
font-size: 47px;
}
.title h2, .about-sec .title h2 {
font-size: 28px;
}
.about-tab .tab-content .inr .video .dtl svg {
width: 45px;
height: 45px;
margin: 5px auto 0;
}
.about-tab .tab-content .inr .video .dtl h4 {
font-size: 11px;
}
.about-tab .tab-content .inr .video .dtl span {
padding: 10px 0 0;
font-size: 11px;
line-height: normal;
}
.about-tab .tab-content .inr h3 {
font-size: 22px;
}
.about-tab .tab-content .inr p {
font-size: 16px;
line-height: 30px;
}
.about-tab .nav-tabs > li {
padding: 15px 21px;
width: 100%;
border-bottom: 1px solid #ccc;
}
.about-tab .nav-tabs > li:last-child {
border-bottom: none;
}
.about-tab .tab-content .inr ul {
width: 100%;
}
.special-offers-sec .right .inr .box {
width: 92% !important;
margin: 10px auto;
}
.special-offers-sec .right .pagination > li > a {
line-height: 40px;
font-size: 22px !important;
width: 40px;
height: 40px;
}
.special-offers-sec .right .inr .box .dtl h5 {
min-height:auto !important;
}
.daterangepicker .drp-buttons .btn {
margin-left: 3px !important;
}
.daterangepicker .drp-selected {
padding-right: 5px !important;
}
.heading-icon i {
font-size: 44px;
float: left;
}
.news-offers h2.heading {
font-size: 22px;
padding: 18px 0 0 55px;
}
.news-offers p, .blog-sec p {
max-width: 100% !important;
clear: both;
}
.staycations h2.heading {
font-size: 22px;
}
.heading-icon img {
float: left;
}
.blog-sec h2.heading {
font-size: 22px;
padding: 15px 0 0 55px;
}
}
@media (max-width: 575px) {
.formnewsletter2 button {
width: 30%;
right: 0;
}
.cusreview-ltextimg {
width: 100% !important;
height: 335px !important;
background-size: contain !important;
}
.reviewcomm {
right: 16% !important;
top: 64% !important;
transform: translateY(-37%);
}
.header-5 .hidden-xs {
display: none;
}
#top-links2 .top-left .footer-social, .blog-header-v .logo {
text-align: center;
}
.single-place {
padding: 0px;
}
.single-place .tour-des-hover {
width: 100%;
}
#top-links2 .header_top .pull-right {
float: none;
text-align: center;
}
.header-5 .social-icon .list-inline {
display: flex;
flex-direction: row;
align-content: center;
justify-content: center;
align-items: center;
}
.slider-v5 .header-text h1.cursive {
font-size: 50px;
}
.slider-v5 .header-text h2.rubike {
font-size: 24px;
}
#gallery .gallery-inner img {
width: 100%;
}
}
@media(max-width: 480px) {
.page-sub-title {
top: -60px;
display: none;
}
.inner-header-v .title-breadcrumb {
min-height: auto;
}
.site-page-header .site-title h2 {
font-size: 55px;
}
.single-place .tour-des-hover {
padding: 0;
}
.single-place .tour-des-hover h2 {
font-size: 16px;
}
.header-text2 h1.tagline {
font-size: 40px;
}
.ad .ad-action>a {
font-size: 17px;
}
.single-deal-overflow h2 {
font-size: 18px;
margin-top: 0;
}
.reviewcomm {
right: 16% !important;
top: 53% !important;
transform: translateY(-37%);
}
.header-top-v5 .hidden-xs {
display: none;
}
/* Newly Added */
.cusreview-ltextimg {
height: 300px !important;
}
.about-tab .tab-content .inr .video .dtl svg {
width: 35px;
height: 35px;
margin: 5px auto 0;
}
}
@media (max-width: 820px) {
.welcome-image-area2.main-slider-2 .slider-div .slide .header-text2 .form-inline {
display: none;
}
.welcome-image-area2.main-slider-2 {
padding: 100px 0;
}
.top-badge img {
position: absolute;
top: -78px;
right: 87px;
}
}
/*///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////*/
@media(max-width: 1025px) {
.mainmenu .navbar-nav>li {
margin: 0;
}
.header-area-2 .header-2 .mainmenu .navbar-nav>li {
margin: 0 2px;
}
}