@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  font-size: 14px;
  font-weight: 300;
  height: 100%;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

p {
  line-height: 29px;
  font-family: Poppins, sans-serif;
}

a.button {
  display: inline-block;
  color: #ffc62b;
  padding: 12px 25px;
  text-transform: capitalize;
  font-size: 14px;
  border: 1px solid #ffc62b;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0;
  background: 0 0;
}

a.button:hover {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #ffc62b;
  border: 1px solid #ffc62b;
}

.white-text {
  color: #fff;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.no-padding {
  padding: 0;
}
.d-flex {
  display: flex !important;
}
.section-padding {
  padding: 70px 0;
}

.section-title {
  margin-bottom: 60px;
}

.section-title-2 {
  margin-bottom: 0;
}

.section-title h2 {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: Poppins, sans-serif;
  display: inline-block;
}

a:focus,
a:hover {
  color: #000;
}

.scrollup {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 25px;
  color: #000;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  line-height: initial !important;
  cursor: pointer;
  display: none;
  z-index: 999999;
  background: #ffc62b;
}

.scrollup .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scrollup:hover {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.no-padding-right {
  padding-right: 0px;
}

.header_margin_top {
  margin-top: 300px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group > .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-header,
  .card-group > .card:not(:last-child) .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-footer,
  .card-group > .card:not(:last-child) .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-header,
  .card-group > .card:not(:first-child) .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-footer,
  .card-group > .card:not(:first-child) .card-img-bottom {
    border-bottom-left-radius: 0;
  }
}
.welcome-image-area {
  position: relative;
  background: url(/nirvanab2c/assets/images/bg/mainbg.jpg);
  background-size: cover;
  z-index: 1;
}

.welcome-image-area2 {
  position: relative;
  height: 100%;
  background: url(/nirvanab2c/assets/images/bg/home2bg.jpg);
  background-size: cover;
  z-index: 1;
  border-bottom: 15px solid #ffc62b;
}

.welcome-image-area3 {
  position: relative;
  height: 700px;
  background: url(/nirvanab2c/assets/images/bg/header4.jpg);
  background-size: cover;
  z-index: 1;
}

.welcome-image-area5 {
  position: relative;
  height: 100%;
  background: url(/nirvanab2c/assets/images/slide5/slide1.jpg);
  background-size: cover;
  z-index: 1;
}

.welcome-image-area:after {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.header-text h1 {
  color: #ff0;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

.header-text h1 span {
  color: #ffc62b;
}

.header-text h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 800;
}

.header-text p {
  color: #fff;
  font-size: 36px;
}

.header-text p.desc {
  font-size: 25px;
  font-weight: 200;
  max-width: 40%;
  margin-bottom: 3.5rem;
  line-height: 40px;
}

.header-text p.first-text {
  font-size: 16px;
  font-weight: 200;
}

.header-text p.first-text span {
  color: #fdc62d;
  font-size: 20px;
  font-weight: 600;
}

.header-top-area {
  position: absolute !important;
  background-color: unset !important;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.header-top-area.header-v4 {
  position: absolute;
}

.header_padding {
  padding: 30px 0;
}

.header-1 .header_padding {
  padding: 36px 0;
}

.logo {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mainmenu .navbar-nav {
  text-align: center;
  float: none;
}

.mainmenu .navbar-nav > li {
  margin: 0 8px;
  display: flex;
  float: none;
  padding: 40px 0;
  position: relative;
}

.header-area-2 .header-2 .mainmenu .navbar-nav {
  flex-direction: row;
}

.header-area-2 .header-2 .mainmenu .navbar-nav > li {
  padding: 0;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.menu-4 .navbar-nav > li {
  margin: 0 15px;
}

.mainmenu .popup > li {
  padding: 50px 0;
}

.about_menu .mainmenu .popup > li {
  padding: 40px 0;
}

.mainmenu .navbar-nav > li.sm-list {
  margin-left: 40px;
}

.header-1 .menu-home-1 .navbar {
  padding: 0;
  height: 64px;
}

.menu-home-1 .navbar-nav > li {
  margin: 0 20px 0 0;
  display: inline-block;
  float: none;
  padding: 30px 0;
  position: relative;
}

.header-1 .menu-home-1 .navbar-nav > li {
  padding: 20px 0;
}

.mainmenu .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  background: 0 0;
}

li.dropdown ul.dropdown-menu li a {
  padding: 10px;
}

.dropdown ul li {
  display: flex;
  padding-left: 10px;
}

.mainmenu .navbar-nav li li a {
  color: #999;
  padding: 5px;
}

.mainmenu .navbar-left li.active > a {
  background: 0 0;
  color: #ffc62b;
}

.mainmenu .navbar-left li a:hover {
  background: 0 0;
  color: #ffc62b;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.dropdown-menu {
  position: absolute;
  top: 13px;
  left: 5px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.mainmenu .navbar-left li.dropdown a {
  border-bottom: none;
}

.mainmenu .navbar-left li.active.dropdown > a {
  padding-bottom: 5px;
  border-bottom: 2px solid #fff;
}

.mainmenu .navbar-nav li .dropdown-menu a:hover {
  border-bottom: none;
  color: #ffc62b;
}

.nav li a:focus,
.nav li a:hover {
  background: 0 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  margin: 0;
}

.header-text a {
  display: inline-block;
  color: #fff;
  padding: 15px 35px;
  text-transform: capitalize;
  font-size: 16px;
  border: 1px solid #ffc62b;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  background: #ffc62b;
}

.header-text a:hover {
  color: #ffc62b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: 0 0;
}

.header_top {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-1 .header_top {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.top-left .header_top {
  padding-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.top-left .footer-social {
  padding-left: 0;
}

.navbar-collapse ul.popup li a {
  font-size: 14px;
}

.navbar-collapse ul.popup li a:hover {
  color: #ffc62b;
}

.header-area-2 {
  position: relative;
}

.header-2 {
  background: #333;
  position: relative;
}

.header-area-2 .header-2 .row {
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header-2 .navbar {
  padding-top: 0;
  justify-content: flex-end;
}

.header-area-2 .header-2 .navbar {
  padding: 0;
}

.header-2 .logo {
  padding-bottom: 20px;
}

.header-area-2 .header-2 .row .logo {
  padding: 0;
}

.header-2 .logo img {
  max-width: 130px;
}

.header-area-2 .header-2 .row .logo img {
  max-width: 100%;
}

.welcome-image-area3 .header-text h1 span {
  color: #fff;
  margin: 0 auto;
  text-align: right;
  font-size: 50px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.welcome-image-area3 .header-text h5 {
  font-size: 10px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  text-transform: uppercase;
  transform: rotate(90deg);
}

.welcome-image-area3 .header-text h1 {
  max-width: 500px;
  color: #fff;
  margin: 0 auto;
  text-align: right;
  font-size: 120px;
  font-weight: 500;
  line-height: 100px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.welcome-image-area3 .header-text p {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
}

.header-3 .dropdown ul li {
  padding: 0;
}

.header-logo-3 .logo {
  padding: 20px 0;
}

.social-h3 {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.social-h3 li {
  display: inline-block;
}

.social-h3 li a {
  font-size: 26px;
  padding: 0 5px;
}

.social-h3 li a:hover {
  color: #ffc62b;
}

.header-5 {
  margin: 30px 0;
}

nav .container {
  position: relative;
}

.white-logo-area {
  background: #fff;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.about-us-area {
  background: #f9f9f9;
  background: url(/nirvanab2c/assets/images/bg/whyusbg.jpg);
}

.about-text h2 {
  margin-bottom: 18px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0;
}

.about-text h2 span {
  color: #fff;
}

.about-text p {
  margin-bottom: 20px;
  color: #777;
  font-family: Poppins, sans-serif;
  font-weight: 500;
}

.about-image img {
  border-radius: 5px;
}

.about-area2 {
  background: url(/nirvanab2c/assets/images/bg/about2bg.jpg);
  background-size: cover;
}

.call-to-area {
  background: #f6f6f6;
  background-size: cover;
  padding: 70px 0;
  position: relative;
  z-index: 1;
  color: #333;
}

.call-to-area:after {
  position: absolute;
  background: rgba(246, 246, 246, 1);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}

.call-to-area-text h2 {
  color: #333;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 500;
}

.call-to-area-text p {
  text-transform: capitalize;
  color: #333;
  margin-bottom: 30px;
  font-size: 16px;
}

.call-to-area-text a {
  display: inline-block;
  color: #fff;
  padding: 12px 25px;
  text-transform: capitalize;
  font-size: 14px;
  border: 1px solid #ffc62b;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0;
  background: #ffc62b;
  margin-top: 30px;
}

.call-to-area-text a:hover {
  color: #ffc62b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: 0 0;
}

.deals-area {
  background-color: #f6f6f6;
}

.lg-show {
  display: none;
}

.sm-show {
  display: block;
}

.align-right {
  float: right;
}

.align-left {
  float: left;
}

.widget ul.instagram-list {
  padding: 0;
}

.widget ul.instagram-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0;
  width: 32%;
}

.navbar-right span {
  color: #fff;
}

.mainmenu .navbar-nav li.sm-list {
  vertical-align: middle;
}

.mainmenu .navbar-nav li.sm-list-2 {
  vertical-align: baseline;
  padding: 45px 0;
}

.mainmenu .navbar-nav li.sm-list-2 a {
  font-size: 26px;
}

.mainmenu .navbar-nav li a.sm-font {
  font-size: 13px;
}

p.content {
  color: #777;
}

.author-social {
  display: inline;
  padding-right: 20px;
}

.author-social li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
}

.author-social li a {
  border: 1px solid #ffc62b;
  padding: 5px 6px;
  border-radius: 50%;
  color: #ffc62b;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.author-social li a:hover {
  border: 1px solid #ffc62b;
  padding: 5px 6px;
  border-radius: 50%;
  color: #fff;
  background: #ffc62b;
}

.md-show {
  display: none;
}

.top-left ul li {
  display: inline-block;
}

.left-img {
  width: 44%;
  float: left;
}

.right-content {
  width: 55%;
  float: left;
}

.vertical-align {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  left: 0;
}

.content-left {
  display: table-cell;
  color: #ffc62b;
  font-size: 20px;
  font-weight: 500;
}

.content-right {
  display: table-cell;
  padding-left: 100px;
  color: #ffc62b;
  font-size: 20px;
  font-weight: 500;
}

.contact-area {
  background: #fff;
}

.contact-icon {
  margin-bottom: 30px;
  margin-right: 9px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.contact-icon i {
  font-size: 40px;
  color: #000;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-area {
  padding: 0;
  clear: both;
}

.footer-widgets {
  padding: 100px 0;
}

.footer-bottom {
  background: #0fa6df;
  padding: 16px 0;
}

.footer-bottom2 {
  background: #333;
  padding: 16px 0;
}

.footer-text h6 {
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.widget h4 {
  font-size: 16px;
  padding-bottom: 15px;
  text-transform: capitalize;
  font-weight: 500;
}

.widget p {
  padding-top: 30px;
  color: #333;
}

footer .widget ul {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  color: #777;
}

footer.footer-v4 .widget ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

footer .widget ul a {
  display: block;
  text-align: left;
  color: #777;
}

footer .widget ul a:hover {
  color: #14a7e0;
}

footer .widget ul.deals-list a {
  display: table-cell;
  text-align: left;
  color: #777;
}

footer .widget ul.widget-menu li {
  color: #5f5f5f;
  margin-bottom: 17px;
  padding-left: 40px;
  position: relative;
  letter-spacing: 1.5px;
  font-weight: 400;
}

footer .widget ul.widget-menu li i {
  color: #bbb;
}

footer .widget ul.widget-menu li span {
  padding-top: 20px;
  display: block;
  font-weight: 200;
  color: #000;
}

footer.footer-v6 .widget ul.widget-menu li span {
  color: #fff;
}

footer .widget ul.footer-addres li {
  margin-bottom: 30px;
  padding-left: 40px;
  position: relative;
}

footer .widget ul i {
  font-size: 29px;
  display: inline-block;
  color: #ffc62b;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 3px;
}

ul.instagram-list li img {
  width: 100%;
  height: auto;
}

footer .widget ul.instagram-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding: 0;
  width: 32%;
}

.footer-bottom .left-align {
  text-align: left;
}

.footer-bottom .right-align {
  text-align: right;
}

.footer-bottom .footer-social {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-bottom .footer-social li {
  display: inline-block;
  padding: 0 10px;
}

.header-social {
  float: right;
}

.header-text .header-social li {
  display: inline-block;
}

.header-text .header-social a {
  display: inline-block;
  color: #fff;
  padding: 40px 15px;
  font-size: 24px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0;
  background: 0 0;
}

.header-social li a {
  color: #fff;
}

.header-social li:hover a {
  color: #ffc62b;
}

.footer-bottom .footer-social a {
  font-size: 26px;
  color: #fff;
}

.footer-bottom .footer-social a:hover {
  color: #222;
}

.index-3-footer h3 {
  text-transform: capitalize;
}

.footer4 {
  background: url(/nirvanab2c/assets/images/bg/footer4.jpg);
}

.footer4 .widget img {
  max-width: 250px;
}

.footer4 {
  color: #fff;
}

.footer4 .widget p {
  padding-top: 30px;
  color: #fff;
  font-size: 16pt;
}

.footer5 {
  background: #09357a;
}

.footer5 .widget img {
  max-width: 250px;
}

.footer5 {
  color: #fff;
}

.footer5 .widget p {
  padding-top: 30px;
  color: #fff;
  font-size: 16pt;
}

.footer5 .widget ul {
  color: #fff;
}

.footer5 .widget ul a {
  color: #fff;
}

#top,
#top1 {
  background-color: #fff;
  min-height: 40px;
}

#logo img {
  margin: 0 auto;
  max-width: 180px;
}

header .social-icon {
  padding: 8px 0 0 0;
}

header .social-icon ul {
  margin: 0;
}

header .social-icon ul li {
  padding: 3px 8px 5px 7px;
  background: 0 0;
  line-height: 16px;
  margin-right: 4px;
}

header .social-icon ul li a {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  vertical-align: middle;
}

#menu,
#menu1 {
  min-height: 26px;
  border-radius: 0;
}

#menu.menu-v3 {
  min-height: 40px;
}

#menu .navbar,
#menu1 .navbar {
  margin-bottom: 0;
  border: 0 solid transparent;
}

#menu .navbar-nav,
#menu1 .navbar-nav {
  float: none !important;
  text-align: center !important;
}

#menu .navbar-nav > li,
#menu1 .navbar-nav > li {
  float: none;
  display: inline-block;
}

#menu .nav > li,
#menu1 .nav > li {
  margin: 0 14.5px;
  padding: 10px 0;
  cursor: pointer;
}

#menu .nav > li:first-child,
#menu1 .nav > li:first-child {
  margin: 0 14.5px 0 0;
}

#menu .nav > li > a,
#menu1 .nav > li > a {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 20px 10px 10px 10px;
  border-bottom: 5px solid transparent;
  line-height: 11px;
}

#menu .nav > li.dropdown > ul li a:before,
#menu1 .nav > li.dropdown > ul li a:before {
  content: "\f112";
  font-family: FontAwesome;
  font-size: 14px;
  padding-right: 10px;
}

#menu .nav > li > a:hover,
#menu1 .nav > li > a:hover {
  color: #fff;
  border-bottom: 5px solid #fff !important;
}

#menu .nav > li > a:hover:before {
  border-bottom: 7px solid transparent;
  border-top: 7px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  left: 44%;
  bottom: -18px;
  margin: 0 auto;
  display: block;
  content: "";
}

#menu.menu-v3 .nav > li > a:hover:before {
  visibility: hidden;
}

#menu .navbar-nav > .active > a,
#menu .navbar-nav > .active > a:focus,
#menu .navbar-nav > .active > a:hover,
#menu1 .navbar-nav > .active > a,
#menu1 .navbar-nav > .active > a:hover {
  color: #fcb714;
  background-color: #fcb714;
}

#menu .dropdown-menu,
#menu1 .dropdown-menu {
  padding: 5px 25px;
  border-radius: 0;
  min-width: 230px;
}

#menu .dropdown-menu li .fa,
#menu1 .dropdown-menu li .fa {
  margin-right: 15px;
}

#menu .dropdown-menu li,
#menu1 .dropdown-menu li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

#menu .dropdown-menu li:last-child,
#menu1 .dropdown-menu li:last-child {
  border-bottom: none;
}

#menu .dropdown-menu li a,
#menu1 .dropdown-menu li a {
  color: #999;
  font-weight: 500;
}

#menu .dropdown-menu li a:hover,
#menu1 .dropdown-menu li a:hover {
  color: #fcb714;
  padding-left: 15px;
}

#top4 {
  background-color: #fff;
  width: 100%;
  height: 120px;
}

.plus span {
  top: 40%;
}

.plus.style_5 span {
  top: 50%;
}

.text-xs-left {
  text-align: left !important;
}

.header-logo img {
  width: 190px;
}

#top2 {
  background: #333;
  padding: 20px 0;
}

#top3 {
  background: #333;
}

.footer-social li a {
  color: #fff;
}

#top3 .top-left ul li {
  padding: 10px 10px 10px 0;
}

#top2 a {
  color: #fff;
}

#top2 ul li a {
  font-size: 16px;
  margin-left: 0;
}

#top2 ul li a i {
  margin-right: 10px;
}

.navbar-nav .nav-link {
  line-height: 3.53em;
  font-weight: 700;
  font-size: 1.142em;
  color: #333e48;
}

.navbar-nav .nav-link i {
  font-size: 30px;
}

.media-body,
.media-left,
.media-right {
  display: table-cell !important;
  vertical-align: top;
}

.header-logo {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.header-v3 .header-logo {
  width: auto;
}

.header-v4 .header-main .navbar-header {
  text-align: center;
  margin-top: 30px;
}

.header-5 .row {
  display: flex;
  align-items: center;
}

.header-5 .head-v5-logo {
  text-align: center;
}

.image-block-en {
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
}

.section-title h2.font30 {
  font-size: 30px;
}

.header-01 .header-main {
  border-bottom: none;
}

.header-01 .header-main .navbar-header {
  display: block;
  float: none;
}

.header-01 .header-main .logo {
  text-align: center;
}

.header-01 .header-main .logo .header-logo img {
  max-width: 190px;
}

.header-01 .header-main .dropdown-menu-1 {
  top: 34px;
}

.sm-list {
  text-align: center;
}

@media (min-width: 992px) {
  .padding-left-60 {
    padding-left: 60px !important;
  }
}

button {
  background: #66a91e;
  line-height: 34px;
}

a.button,
button {
  border: none;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.padding-left-0 {
  padding-left: 0;
}

ul.ul-li li {
  list-style: none;
  display: inline-block;
}

.details i {
  float: left;
  color: #66a91e padding-right5px;
}

.details i.fa {
  font-size: 20px;
}

.padding20 {
  padding: 20px;
}

.line3 {
  background: #e8e8e8;
  height: 1px;
  margin: 0;
  padding: 0;
  display: block;
}

.line4 {
  background: #e8e8e8;
  height: 1px;
  margin: 17px 0 15px 0;
  padding: 0;
  display: block;
}

.welcome .section_description {
  padding: 0 20% 43px;
  text-align: center;
}

.welcome .section_description p {
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.contact_us {
  background: #ffc62b;
  padding: 25px 35px;
}

.contact_us a,
.contact_us h6,
.contact_us p {
  color: #fff;
}

.contact_us a:hover {
  color: #313a45;
}

.contact_us h6 {
  font-family: Poppins, sans-serif;
}

.contact_us p {
  font-size: 20px;
  margin: 0;
  margin-top: 5px;
  line-height: 22px;
  font-family: Poppins, sans-serif;
}

.contact_us ::-webkit-input-placeholder {
  color: #fff;
}

.contact_us ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

[class*="uk-overlay-slide"] {
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: opacity transform filter;
}

[class*="uk-overlay-slide"] {
  opacity: 0;
}

.latest_n_item:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.latest_n_item:hover:before {
  opacity: 1;
}

.latest_n_item .date {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #09357a;
  text-align: center;
  color: #fff;
  padding: 8px 20px;
  border-radius: 0;
  border: 1px solid #fff;
  border-left: none;
}

.latest_n_item .date h5 {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 0.66px;
  padding-top: 0;
  line-height: 22px;
  color: #fff;
}

.latest_n_item .date h5 span {
  font-size: 16px;
  line-height: 16px;
}

.social {
  margin: 0;
  padding: 0;
  text-align: center;
}

.social li {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 3px;
  font-size: 13px;
}

.social li a {
  border: 1px solid #fff;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ffff;
  line-height: 30px;
  font-size: 20px;
}

.social li a:hover {
  border-color: transparent;
  transform: translateY(-2px);
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.about-section {
  padding: 50px;
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: 100% auto;
}

.deals-list li {
  font-size: 20px;
  margin-bottom: 20px;
}

.deals-list li a {
  display: table-cell;
}

.clr-777 {
  color: #777;
}

.index-3-footer ul {
  padding: 0;
}

.index-3-footer ul li {
  margin-top: 10px;
  display: inline-block;
}

.index-3-footer ul li a {
  font-size: 26px;
  color: #fff;
  padding-right: 20px;
}

.index-3-footer ul li a:hover {
  font-size: 26px;
  color: #ffc62b;
}

.margin_left {
  margin-left: 20px;
}

.footer-widgets .widget h4 {
  text-transform: uppercase;
}

.footer-v6 .footer-widgets .widget h4 {
  color: #fff;
}

.google_fonts ul {
  padding-left: 0;
}

.google_fonts h1 {
  font-family: Poppins, sans-serif;
  color: #09357a;
  font-weight: 500;
  line-height: 2;
}

.Button_style h1 {
  color: #09357a;
}

.Button_style a {
  color: #fff;
}

.Button_style .Button_1 {
  padding: 12px 30px;
  border-radius: 30px;
  background-color: #ffc62b;
  border: none;
}

.Button_style .Button_2 {
  padding: 12px 30px;
  border-radius: 30px;
  background: #bf1b19;
  overflow: hidden;
}

.Button_style .Button_2 span i {
  color: #fff;
}

.Button_style .Button_3 {
  width: 40px;
}

.Button_style .Button_3 {
  padding: 6px;
  border-radius: 100px;
}

.Button_style .Button_3 i {
  font-size: 24px;
  text-align: center;
}

.Button_style .Button_4 {
  padding: 12px 30px;
  background-color: #fff;
  border: 1px solid #000;
  color: #333;
  border-radius: 30px;
}

.Button_style .Button_5 {
  padding: 12px 40px;
  background-color: #bf1b19;
  border: none;
  color: #ffff;
  border-radius: 30px;
}

.Button_style .Button_6 {
  padding: 12px 40px;
  background-color: #bf1b19;
  border: none;
  color: #ffff;
  border-radius: 30px;
}

.Button_style .Button_7 {
  padding: 12px 30px;
  background-color: #09357a;
  border: none;
  border-radius: 0;
  color: #ffff;
}

.Button_style .Button_8 {
  padding: 12px 25px;
  background-color: #bf1b19;
  border: none;
  border-radius: 0;
  color: #ffff;
}

.Button_style .Button_9 {
  padding: 8px 25px;
  background-color: #fdfdfd;
  border: none;
  border-radius: 0;
  color: #333;
}

.Button_style .Button_10 {
  padding: 12px 25px;
  background-color: #ffc62b;
  border: none;
  border-radius: 0;
  color: #ffff;
}

.Button_style .Button_11 {
  padding: 12px 25px;
  background-color: #fdfdfd;
  border: 1px solid #000;
  border-radius: 0;
  color: #bf1b19;
}

.Button_style .Button_12 {
  padding: 10px 25px;
  background-color: #fdfdfd;
  border: 1px solid #ffc62b;
  border-radius: 0;
  color: #ffc62b;
}

.Button_style .Button_13 {
  height: 50px;
  width: 150px;
  background-color: #fdfdfd;
  border: 1px solid #7777;
  border-radius: 0;
  color: #777;
  margin-bottom: 0;
}

.Button_style .Button_14 {
  height: 50px;
  width: 300px;
  background-color: #fdfdfd;
  border: 1px solid #7777;
  border-radius: 0;
  color: #ffc411;
  margin-bottom: 0;
}

.Button_style .Button_15 {
  height: 50px;
  width: 380px;
  background-color: #ffc62b;
  border: 1px solid #ffc62b;
  border-radius: 0;
  color: #ffff;
  margin-bottom: 0;
}

.Button_style .Button_16 {
  width: 50px;
  height: 80px;
  background-color: #bf1b19;
  border: 1px solid #bf1b19;
  border-radius: 0;
  color: #ffff;
  margin-bottom: 0;
}

.widget p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: #7777;
}

.footer_padding {
  padding: 40px 0 0;
}

.about-section h5 {
  font-size: 16px;
  text-transform: uppercase;
}

footer,
header,
main,
menu,
nav,
section {
  display: block;
}

.navbar-toggler {
  position: absolute;
  float: right;
  right: 0;
  top: -83px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
  float: none;
}

.nav-icon img {
  margin: -4px 10px 0 10px;
  width: 24px;
  height: auto;
}

.s-lang {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  margin: 2px 0 0 5px;
  font-weight: 600;
}

.menu-home-1 {
  margin-top: 20px;
}

.top-badge img {
  position: absolute;
  top: -5px;
  right: 29px;
}

.loc-icon {
  background-color: #fff !important;
  padding-left: 35px;
  background: url("/nirvanab2c/assets/images/icon/location.svg") no-repeat left;
  background-size: 20px;
  background-position: 8px 15px;
}

.cal-icon {
  background-color: #fff !important;
  padding-left: 35px;
  background: url("/nirvanab2c/assets/images/icon/calender.svg") no-repeat left;
  background-size: 20px;
  background-position: 8px 15px;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 3;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url("/nirvanab2c/assets/images/icon/down-arrow.svg") no-repeat left;
  background-size: 16px;
  opacity: 0.4;
}

.welcome-image-area input::-webkit-input-placeholder {
  color: #5d5d5d;
  font-size: 14px;
  line-height: 3;
}

/* Arrow */

.welcome-image-area select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  cursor: pointer;
}

/* Remove IE arrow */

.welcome-image-area select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */

.welcome-image-area .nirvana-select {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 0.3125rem;
  overflow: hidden;
}

/* Arrow */

.welcome-image-area .nirvana-select::after {
  content: "\f282";
  font-family: bootstrap-icons !important;
  color: #000;
  font-size: 24px;
  position: absolute;
  top: 0px;
  height: 50px;
  right: 0;
  padding: 1rem 0.6rem;
  background-color: #fec62c;
  transition: 0.25s all ease;
  pointer-events: none;
}

/* Transition */

.welcome-image-area .nirvana-select:hover::after {
  color: #fff;
}

.w-small {
  max-width: 9rem;
}

.flight-search .form-control,
.flight-search .form-select {
  height: 50px;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  margin-bottom: 15px;
}

.flight-search .nav-pills .nav-link.active,
.flight-search .nav-pills .show > .nav-link {
  color: #fec62c;
  background-color: #00000000;
}

.flight-search .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.flight-search .nav-item {
  font-size: 16px;
}

.flight-search .btn-primary {
  color: #000;
  background-color: #fec62c;
  border-color: #fec62c;
  height: 50px;
  border-radius: 0.7rem;
  padding: 0 35px;
}

.flight-search form {
  margin-bottom: 3.5rem;
}

section.news-offers {
  padding: 7rem 0;
  background-image: url("/nirvanab2c/assets/images/news-offers.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.news-offers h2.heading {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 5px;
  max-width: 100px;
}

.news-offers p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  max-width: 13.75rem;
}

.heading-icon i {
  font-size: 60px;
  color: #0fa6df;
}

section.staycations {
  padding: 4rem 0;
  background-image: url("/nirvanab2c/assets/images/staycations.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.staycations h2.heading {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 5px;
}

.title-sec {
  margin-bottom: 2rem;
}

.title-sec img {
  margin-right: 1.5rem;
}

/* Slider */

.owl-contain {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.owl-contain .item {
  align-items: center;
  justify-content: center;
}

.owl-contain .item .card-title {
  color: #231f20;
  font-size: 15px;
  font-weight: 600;
}

.owl-contain .item .card-text {
  color: #505050;
  font-size: 15px;
  line-height: 19px;
}

.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}

.owl-theme .custom-nav {
  position: relative;
  top: 7rem;
  left: 0;
  right: 0;
}

.owl-theme .custom-nav button {
  width: 50px;
  height: 50px;
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.owl-theme .custom-nav button:hover {
  background-color: #cbcbcb !important;
}

.owl-theme .custom-nav .owl-prev,
.owl-theme .custom-nav .owl-next {
  position: absolute;
  height: 50px;
  color: inherit;
  background: #fff;
  border: none;
  z-index: 100;
}

.owl-theme .custom-nav .owl-prev i,
.owl-theme .custom-nav .owl-next i {
  font-size: 2.5rem;
  color: #cecece;
}

.owl-theme .custom-nav .owl-prev {
  left: 0;
}

.owl-theme .custom-nav .owl-next {
  right: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 14px !important;
  height: 14px !important;
  margin: 5px 7px;
  background: #ffffff !important;
  border: 2px solid #2a2a2a !important;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2a2a2a !important;
}

.slid-container {
  position: relative;
  color: white;
}

.fot-title {
  padding: 0 0 40px 30px;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.fot-title h2 {
  color: #fff;
  font-size: 3.25rem;
  font-weight: 800;
}

.fot-title p {
  font-size: 1rem;
  max-width: 400px;
}

.btn-nirvana {
  color: #fff;
  background-color: #0fa6df;
  border-color: #0fa6df;
  border-radius: 10px;
  padding: 5px 15px;
}

.btn-nirvana:hover {
  color: #0fa6df;
  background-color: #fff;
  border-color: #0fa6df;
}

section.holidays {
  padding: 4rem 0;
  background-image: url("/nirvanab2c/assets/images/holidays.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.holidays h2.heading {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 5px;
}

.holiday-content p {
  font-size: 1.25rem;
  color: #505050;
  line-height: 2.5rem;
}

.holidays .title-sec img {
  margin-right: 1.5rem;
  margin-bottom: 1.063rem;
}

.holidays ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.holidays ul li {
  color: #505050;
  font-size: 18px;
  margin: 5px 0;
}

.holidays ul li span {
  color: #0fa6df;
  margin-right: 3px;
}

.holidays .card {
  border-radius: 0.5rem;
  margin-bottom: 15px;
}

.holidays .rating-block {
  text-align: center;
}

.holidays .rating-block i {
  color: #0fa6df;
  font-size: 22px;
  margin: 0 5px;
}

.holiday-footer {
  text-align: center;
}

.holiday-hero {
  position: relative;
  text-align: end;
  color: white;
}

.holiday-hero-title {
  position: absolute;
  bottom: 8px;
  right: 16px;
  padding: 0 15px 15px 0;
  font-weight: 800;
}

img.footer-logo {
  width: 190px;
  height: auto;
}

footer.footer-area {
  background-image: url("/nirvanab2c/assets/images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.footer-widgets .social-block h4 {
  color: #505050;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.social-icon a {
  color: #0fa6df;
  text-decoration: none;
}

.social-icon a:hover {
  color: #fec62b;
  text-decoration: none;
}

.social-icon i {
  font-size: 28px;
  margin: 0 5px;
}

.btn-subscribe {
  color: #fff;
  background-color: #0fa6df;
  border-color: #0fa6df;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  width: -moz-available;
  /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.widget .form-control {
  border: 1px solid transparent;
}

.widget input::-webkit-input-placeholder {
  color: #7c7c7c;
  font-size: 14px;
  line-height: 3;
}

.title-sec img {
  margin-right: 1.5rem;
  margin-bottom: 1.063rem;
}

section.blog-sec {
  padding: 7rem 0;
  background-image: url("/nirvanab2c/assets/images/holidays.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-sec h2.heading {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 5px;
}

.blog-sec p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  max-width: 13.75rem;
}

.heading-icon img {
  width: 50px;
  height: auto;
  margin-bottom: 15px;
}

.blog-sec .owl-theme .custom-nav2 .owl-prev {
  right: 33px;
  left: unset;
}

.blog-sec .owl-theme .custom-nav2 {
  position: relative;
  top: -38px;
  left: 0;
  right: 0;
}

.blog-sec .owl-theme .custom-nav2 button {
  height: 28px;
  width: 28px;
  background-color: #fff !important;
}

.blog-sec .owl-theme .custom-nav2 button:hover {
  background-color: #cbcbcb !important;
}

.blog-sec .owl-theme .custom-nav2 .owl-prev,
.blog-sec .owl-theme .custom-nav2 .owl-next {
  position: absolute;
  height: 28px;
  width: 28px;
  color: inherit;
  background: #fff;
  border: none;
  z-index: 100;
}

.blog-sec .owl-theme .custom-nav2 .owl-prev i,
.blog-sec .owl-theme .custom-nav2 .owl-next i {
  font-size: 1.2rem;
  color: #383838;
  position: relative;
  left: -2px;
  top: -4px;
}

.blog-sec .owl-theme .custom-nav2 .owl-next {
  right: 0;
}

.blog-sec .owl-theme .holiday-loc {
  position: relative;
  top: 7px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.blog-sec .card {
  background-color: transparent;
  border: 0;
}

.blog-sec .card-body {
  padding: 0;
}

.blog-sec .card .card-sub-title {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 6px;
  margin-top: 1rem;
}

.blog-sec .card .card-title {
  color: #231f20;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.blog-sec .card .card-text {
  color: #505050;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
}

.blog-sec .card .card-read-more {
  display: inline-flex;
  color: #231f20;
  font-size: 13px;
  font-weight: 300;
}

.blog-sec .card .card-read-more img {
  width: 44px;
  height: auto;
  margin-left: 10px;
}

.flight-search .btn-add-flight {
  color: #fcc52e;
  background-color: #ffffff00;
  border: 2px solid #fcc52e;
  border-radius: 0.7rem;
}

.flight-search .btn-add-flight:hover {
  color: #fcc52e;
  background-color: #231f20;
  border: 2px solid #231f20;
}

.flight-search .btn-clear-flight {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
  border-color: none;
  height: 50px;
  border: none;
  border-radius: 0.7rem;
  padding: 0 35px;
  line-height: 44px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 7px;
}

.mainmenu .navbar-right li.active > a {
  background: 0 0;
  color: #ffc62b;
}

.scrollup i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo img {
  width: 110px;
  height: auto;
}
.ui-datepicker-calendar {
  background: #fff;
}
.ui-datepicker-calendar span {
  /*   font-size: 0; */
  display: block;
}
.ui-datepicker-calendar th span::first-letter {
  font-size: 14px;
  display: block;
  color: #000;
}
.ui-datepicker-calendar th {
  text-align: center;
  background-color: #fec62c;
}

#ui-datepicker-div {
  background: #fff;
  padding: 10px;
  width: 300px;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  display: none;
}
#ui-datepicker-div table {
  margin-top: 5px;
  width: 100%;
}
#ui-datepicker-div a {
  text-decoration: none;
  color: #333;
}
.ui-datepicker-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
.ui-datepicker-header {
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  padding-bottom: 10px;
}
.ui-datepicker-calendar td {
  color: #444;
  padding: 3px;
  text-align: center;
}
.ui-datepicker-calendar td a {
  border: solid 1px #e6e6e6;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  padding: 3px;
  width: 100%;
  display: inline-block;
}

.ui-datepicker-calendar td a:hover,
.ui-datepicker-calendar .ui-state-active {
  border-color: #fec62c;
  background-color: #fec62c;
}
.ui-datepicker-prev {
  position: absolute;
  bottom: 5px;
  left: 0;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  font-size: 0;
}
.ui-datepicker-prev span:before {
  content: "\f100";
  font-family: FontAwesome;
  font-size: 16px;
}
.ui-datepicker-next span:before {
  content: "\f101";
  font-family: FontAwesome;
  font-size: 16px;
}
.ui-datepicker-next {
  position: absolute;
  bottom: 5px;
  right: 0;
}
.mybtn {
  cursor: pointer;
}
input {
  padding: 5px;
  border-radius: 5px;
}

td.ui-datepicker-unselectable.ui-state-disabled span {
  border: 1px solid #e6e6e6;
  color: #e6e6e6;
}
a.ui-state-disabled span {
  color: #e6e6e6;
}

.parent-nav.nav-tabs .nav-link {
  margin-bottom: -1px;
  background-color: #191919a3;
  border: 1px solid transparent;
  border-radius: 0.25rem 0.25rem 0 0;
}
.parent-nav.nav-tabs .nav-item.show .nav-link,
.parent-nav.nav-tabs .nav-link.active {
  color: #252626;
  background-color: #fec62c;
  border-color: #fec62c #fec62c #fec62c;
}
.parent-nav.nav-tabs {
  border-bottom: 1px solid #fec62c;
}
.parent-nav.nav-tabs .nav-link {
  display: block;
  padding: 0.6rem 1.6rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.welcome-image-area .form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
  margin-top: 9px;
}
.welcome-image-area .form-check-input:checked {
  background-color: #fec62c;
  border-color: #fec62ca1;
}

.welcome-image-area .number-spinner {
  max-width: 150px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  display: table;
}
.welcome-image-area .number-spinner input {
  height: 50px;
  max-height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 1em;
  padding: 0;
  margin: 0;
  border: none;
  position: relative;
  float: left;
  text-align: center;
  border-radius: 0;
}
.welcome-image-area .number-spinner input:focus {
  outline: none;
}
.welcome-image-area .number-spinner .ns-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}
.welcome-image-area .number-spinner .ns-btn a {
  height: 50px;
  min-height: 50px;
  width: 50px;
  padding: 0;
  max-width: 50px;
  line-height: 63px;
  border-radius: 0;
  border: none;
  text-align: center;
  position: relative;
  background: #fec62c;
  color: #333;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.welcome-image-area .number-spinner .ns-btn .icon-minus:after {
  content: "âˆ’";
  font-size: 35px;
  line-height: 38px;
  font-weight: bold;
}
.welcome-image-area .number-spinner .ns-btn .icon-plus:after {
  content: "+";
  font-size: 38px;
  line-height: 35px;
  font-weight: bold;
}
.welcome-image-area .num-spinner {
  color: #ffffff;
  font-size: 16px;
  margin-top: 1rem;
}
.welcome-image-area .num-spinner span {
  color: #fec62c;
}

.room-select .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 1.4rem 0.75rem;
}
.room-select .btn-secondary {
  color: #333;
  background-color: #ffffff;
  border-color: #6c757d;
  min-width: -webkit-fill-available;
}
.room-select .dropdown-menu {
  background-color: black !important;
  padding: 15px !important;
}
.room-select .dropdown-backdrop {
  position: static;
}
.btn-add-room {
  color: #333;
  background-color: #ffffff;
  border-color: #6c757d;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  margin-right: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-add-room:hover {
  color: #fec62c;
  background-color: #313131;
  border-color: #313131;
}
.btn-done-room:hover {
  color: #fec62c;
  background-color: #313131;
  border-color: #313131;
}
.btn-done-room {
  color: #333;
  background-color: #fec62c;
  border-color: #fec62c;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.875rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.room-no h5 {
  color: #fec62c;
  text-transform: uppercase;
  font-weight: 600;
}
.room-no {
  padding-bottom: 10px;
  border-bottom: 1px solid #fec62c;
}
.mob-menu-bar i {
  font-size: 36px;
  color: white;
  position: relative;
  top: -6px;
  left: 8px;
}
.ta-large-right {
  text-align: end !important;
}
.adult-icon {
  background-color: #fff !important;
  padding-left: 35px;
  background: url(/nirvanab2c/assets/images/icon/adult-ico.svg) no-repeat left;
  background-size: 23px;
  background-position: 6px 11px;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 3;
}
.child-icon {
  background-color: #fff !important;
  padding-left: 35px;
  background: url(/nirvanab2c/assets/images/icon/child-ico.svg) no-repeat left;
  background-size: 28px;
  background-position: 4px 10px;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 3;
}
.infant-icon {
  background-color: #fff !important;
  padding-left: 35px;
  background: url(/nirvanab2c/assets/images/icon/infant-ico.svg) no-repeat left;
  background-size: 26px;
  background-position: 4px 11px;
  color: #5d5d5d;
  font-size: 14px;
  line-height: 3;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #fff0;
  border: 1px solid transparent;
  border-bottom-color: transparent;
}
.parent-nav.nav-tabs > li.active > a,
.parent-nav.nav-tabs > li.active > a:focus,
.parent-nav.nav-tabs > li.active > a:hover {
  color: #252626;
  background-color: #fec62c;
  border-color: #fec62c #fec62c #fec62c;
}
.parent-nav li a {
  color: #fff;
  background: #191919a3;
}
.nav-tabs {
  border-bottom: 1px solid #ddd0;
}
#nirvanaSearchContent label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}
#nirvanaSearchContent li a {
  background: #3d3d3d00;
  border: none;
}
#pills-profile input {
  margin-bottom: 15px;
}
.flight-search .btn-nirvana-primary {
  color: #000;
  background-color: #fec62c;
  border-color: #fec62c;
  height: 50px;
  border-radius: 0.7rem;
  padding: 0 35px;
}
#hotels-search .dropdown-menu {
  position: absolute;
  top: 49px;
  left: 1px;
  min-width: 262px;
}
.room-select .arrange-l-p {
  margin-left: 0px !important;
}

.menu-home-1 .well {
  width: 100%;
  min-height: 20px;
  padding: 19px;
  top: -30px;
  position: relative;
  margin-bottom: 20px;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000 0, #000 100%);
  border: 1px solid #e3e3e300;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
ul.mob-nav-menu {
  position: relative;
  height: unset;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  list-style: none;
  margin-left: -35px;
}
.mob-nav-menu li {
  overflow: hidden;
  width: 100%;
  margin: 0 !important;
  height: unset;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 500;
  color: #fff;
}
.mob-nav-menu li a {
  text-decoration: none;
  color: #fff;
}
.mob-nav-menu li:hover a,
.mob-nav-menu li.active a {
  text-decoration: none;
  color: #ffc629;
}

.mob-nav-menu li.active a::after,
.mob-nav-menu li:hover a::after {
  content: "";
  display: block;
  width: 45px;
  padding-top: 3px;
  border-bottom: 2px solid #ffc629;
}
ul.well-foot {
  display: inline-flex;
  list-style: none;
  text-align: center;
}
ul.well-foot li:not(:last-child) {
  margin-right: 10px;
}
ul.well-foot li {
  margin-right: 15px;
  border: 1px solid #ffc629;
  padding: 15px 5px;
}
ul.well-foot li:last-child {
  padding: 15px 5px;
  width: 56px;
}
#collapseExample2 .well {
  top: 0;
  padding: 20px 0;
}
#collapseExample2 .well li a {
  text-decoration: none;
  color: #ffc62b;
  font-size: 16px;
}
ul.well-foot li a {
  color: #fff;
  text-decoration: none;
}
#nirvanaSearchContent .nav-tabs li.active a::before {
  content: "\f26b";
  color: #ffc62b;
  margin-right: 10px;
  font-family: bootstrap-icons !important;
}

.profile-dropdown {
  width: auto;
  display: block;
  position: relative;
  margin: auto;
  font-weight: 400;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  margin: 0 0 0 8px;
  background: #f1f1f1;
  padding: 2px 5px;
  cursor: pointer;
}

.profile-dropdown * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-dropdown input[type="checkbox"] {
  display: none;
}

.profile-dropdown input[type="checkbox"]:checked ~ ul {
  display: block;
  animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked ~ img {
  background: #3a7fc1;
}

.profile-dropdown input[type="checkbox"]:checked ~ label i {
  color: #000;
}

.profile-dropdown img {
  display: inline-block;
  background: #fff;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
  float: left;
}

.profile-dropdown span {
  display: inline-block;
  vertical-align: sub;
  width: auto;
  margin: 0 10px 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 30px;
  float: left;
}

.profile-dropdown ul {
  display: none;
  list-style: none;
  padding: 5px 0 0;
  marrgin: 0;
  background: #f1f1f1;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border-radius: 0;
  z-index: 1;
}

.profile-dropdown ul li a {
  display: block;
  padding: 5px 13px !important;
  text-decoration: none;
  color: #444;
  font-size: 13px;
  text-transform: none !important;
  font-size: 12px !important;
  text-align: left;
}

.profile-dropdown ul li a i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 0.75rem 0 -0.25rem;
}

.profile-dropdown ul li a:hover {
  background: #fff;
  color: #3a7fc1;
}

.profile-dropdown > label {
  position: relative;
  height: 30px;
  text-decoration: none;
  background: transparent;
  color: #333;
  padding: 0 5px 0 0;
  float: right;
  border-radius: 0;
  margin: 0;
  line-height: 33px;
  display: inline-block;
}

.profile-dropdown > label i {
  color: #b2b2b2;
  font-size: 1.75rem;
}

.profile-dropdown:after {
  content: "";
  display: table;
  clear: both;
}
/* Start The Inner Pages */
.inner-brn {
  min-height: 700px;
  position: relative;
  background-size: cover !important;
  background-position: top center !important;
  z-index: 1;
}
.inner-brn::after {
  position: absolute;
  background: url("../images/bg/transparentbg.png") top repeat-x;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
}
.inner-brn .bnr-text {
  text-align: center;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inner-brn .bnr-text h1 {
  font-size: 72px;
  font-weight: 800;
  line-height: normal;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
}
.services-sec,
.about-sec {
  padding: 7rem 0;
  background-image: url("../images/holidays.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.title h2,
.about-sec .title h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  color: #231f20;
}
.services-sec .inr {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: start;
  padding: 60px 0 0;
}
.services-sec .box {
  background: #fff;
  width: 31%;
  flex: 0 0 auto;
  margin: 12px;
  border-radius: 15px;
  padding: 30px 20px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.services-sec .box .dtl {
  width: 100%;
  /*   display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; */
  text-align: center;
}
.services-sec .box .dtl img {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
}
.services-sec .box .dtl h3 {
  color: #231f20;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  padding: 20px 0 0;
  letter-spacing: 2px;
}
.services-sec .box .dtl p {
  color: #505050;
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  font-weight: 400;
}
footer.footer-area2 {
  background-image: url("../images/footer-bg2.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.about-sec .title h2::after {
  background: #0fa6df;
  content: "";
  height: 4px;
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  width: 112px;
  margin: 0 auto;
}
.about-tab {
  width: 100%;
  display: inline-block;
  margin: 90px 0 0;
}
.about-tab .nav-tabs {
  border-bottom: none;
  text-align: center;
  display: block;
}
.about-tab .nav-tabs > li {
  float: none;
  padding: 10px 23px;
  border: none;
  display: inline-block;
}
.about-tab .nav-tabs > li:first-child {
  padding-left: 0;
}
.about-tab .nav-tabs > li:last-child {
  padding-right: 0;
}
.about-tab .nav-tabs > li > a {
  color: #7a7a7a;
  font-size: 18px;
  font-weight: 500;
  margin-right: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0;
  border: none;
}
.about-tab .nav-tabs > li.active > a,
.about-tab .nav-tabs > li > a:hover {
  border: none;
  color: #0fa6df;
}
.about-tab .nav-tabs > li.active > a,
.about-tab .nav-tabs > li.active > a:focus,
.about-tab .nav-tabs > li.active > a:hover {
  border: none;
  color: #0fa6df;
}
.about-tab .tab-pane {
  padding: 15px 0;
}
.about-tab .tab-content {
  padding: 0;
}
.about-tab .card {
  background: transparent;
  border: none;
}
.about-tab .tab-content .inr {
  margin: 70px 0 0;
  width: 100%;
}
.about-tab .tab-content .inr img {
  width: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.about-tab .tab-content .inr h3 {
  color: #231f20;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 35px;
  margin: 0;
  padding: 0 0 20px;
  text-transform: uppercase;
}
.about-tab .tab-content .inr p {
  color: #505050;
  padding: 10px 0 30px;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  text-align: justify;
  margin: 0;
}
.about-tab .tab-content .inr ul {
  width: 50%;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  float: left;
}
.about-tab .tab-content .inr ul h4 {
  color: #505050;
  font-size: 22px;
  font-weight: 600;
}
.about-tab .tab-content .inr ul li {
  color: #505050;
  padding: 10px 0 10px 15px;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}
.about-tab .tab-content .inr ul li::before {
  background: #505050;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5px;
  height: 5px;
  border-radius: 50px;
}
.txt-cntr {
  text-align: center;
}
.txt-indnt {
  text-indent: 40px;
}
.about-tab .tab-content .inr .video {
  width: 100%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
.about-tab .tab-content .inr .video .dtl {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 15% 40px 40px;
  overflow: hidden;
  z-index: 1;
  text-align: center;
}
.about-tab .tab-content .inr .video .dtl h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.about-tab .tab-content .inr .video .dtl span {
  font-family: Roboto, sans-serif;
  color: #fff;
  padding: 30px 0 0;
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
  letter-spacing: 2px;
}
.about-tab .tab-content .inr .video .dtl svg {
  width: 68px;
  height: 68px;
  fill: #fff;
  margin: 20px auto 0;
}
.p-t-b {
  padding: 0 0 50px !important;
}
.about-tab .tab-content .inr .name {
  font-family: Roboto, sans-serif;
  color: #231f20;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: normal;
  margin: 0;
  padding: 30px 0 0;
  text-transform: uppercase;
  text-align: center;
}
.about-tab .tab-content .inr .name span {
  color: #7a7a7a;
  font-size: 16px;
  padding: 10px 0 30px;
  text-transform: none;
  font-weight: 600;
  display: block;
}
.p-t-20 {
  padding: 20px 0 0 !important;
}
.p-t-5 {
  padding: 5px 0 30px !important;
}
.p-0 {
  padding: 0 !important;
}
.p-width {
  width: 60% !important;
  margin: 0 auto !important;
  padding: 20px 0 0 !important;
  text-align: center !important;
}
.about-tab .inr2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  align-content: start;
  padding: 60px 0 0;
}
.about-tab .inr2 .box {
  background: #fff;
  width: 31%;
  flex: 0 0 auto;
  margin: 12px;
  border-radius: 15px;
  padding: 30px 20px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.about-tab .inr2 .box .dtl {
  width: 100%;
  /*   display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; */
  text-align: center;
}
.about-tab .inr2 .box .dtl img {
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 0;
  box-shadow: none;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.2));
}
.about-tab .inr2 .box .dtl p {
  color: #505050;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  padding: 15px 0 0;
  margin: 0;
}
.special-offers-sec {
  padding: 7rem 0;
  background-image: url("../images/offer-sec-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.special-offers-sec::before {
  background: url("../images/secbg.png") no-repeat;
  content: "";
  height: 1171px;
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 496px;
  margin: 0 auto;
}
.special-offers-sec .left {
  width: 100%;
  display: block;
  float: left;
}
.special-offers-sec .left form {
  width: 100%;
  background: #fff;
  padding: 0 20px 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  float: left;
}
.special-offers-sec .left form .input-group,
.special-offers-sec .left form .input-group2 {
  width: 100%;
  padding: 25px 0 0;
  float: left;
}
.special-offers-sec .left form .input-group2 {
  width: 50% !important;
}
.special-offers-sec .left form .p-l {
  padding-left: 8px !important;
}
.special-offers-sec .left form .p-r {
  padding-right: 8px !important;
}
.special-offers-sec .left form .input-group label {
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px 10px;
  text-transform: uppercase;
  float: left;
}
.special-offers-sec .left form .input-group .selectbox {
  position: relative;
  float: left;
  width: 100%;
  background: #ebebeb;
  border-radius: 10px;
}
.special-offers-sec .left form .input-group .selectbox2 {
  position: relative;
  float: right;
  width: 38%;
  background: #fff;
  border-radius: 10px;
}
.special-offers-sec .left form .input-group .selectbox::before,
.special-offers-sec .left form .input-group .selectbox2::before {
  content: "";
  position: absolute;
  top: 13px;
  right: 15px;
  width: 0;
  height: 0;
  border: solid #5d5d5d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
.special-offers-sec .left form .input-group .selectbox2::before {
  top: 7px !important;
}
.special-offers-sec .left form .input-group select {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0;
  padding: 8px 10px;
  display: flex;
  background: transparent;
  outline: 0;
  cursor: pointer;
  appearance: none;
  width: 100%;
  font-size: 14px;
  color: #7a7a7a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}
.special-offers-sec .left form .input-group .selectbox2 select {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0;
  padding: 0 10px;
  display: flex;
  background: transparent;
  outline: 0;
  cursor: pointer;
  appearance: none;
  width: 100%;
  font-size: 18px;
  color: #414141;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.special-offers-sec .left form .input-group select option {
  background-color: #fff;
  font-size: 14px;
  color: #7a7a7a;
  text-transform: uppercase;
}
#slider-container {
  width: 92%;
  margin: 0px auto;
  position: relative;
}
.price-fltr {
  display: inline-block;
  width: 100%;
  padding-top: 40px;
}
.price-fltr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-project {
  max-width: 600px;
  background-color: #f2f2f2;
  padding: 20px;
}
.price-fltr .amount-box {
  width: 100%;
  margin-top: -42px;
  text-align: center;
}
.price-fltr .form-group {
  margin-bottom: 0px;
}
.price-fltr .amount-box input[type="text"],
.price-fltr .amount-box input[type="tel"] {
  font-family: Roboto, sans-serif;
  display: block;
  border: none;
  padding: 0;
  width: 100%;
  font-size: 16px;
  color: #414141;
  -webkit-appearance: none;
  border-radius: 0;
  font-weight: 600;
  margin: 0;
  float: left;
  text-align: center;
}
.left-div {
  width: 70px;
  float: left;
  margin-left: 30px;
}
.line-div {
  width: 30px;
  text-align: center;
  font-size: 16px;
  color: #414141;
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
}
.right-div {
  width: 70px;
  float: right;
  margin-right: 30px;
}
.price-fltr .ui-widget-header {
  border: none;
  background: #ffc629;
  color: #ffffff;
  font-weight: bold;
}
.price-fltr .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.price-fltr .ui-slider-horizontal {
  height: 8px;
}
.price-fltr .ui-widget-content {
  border: none;
  background: #ebebeb;
  border-radius: 50px !important;
}
.price-fltr .ui-corner-all {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}
.price-fltr .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
}
.price-fltr .ui-slider-horizontal .ui-slider-handle {
  top: -0.5em;
  margin-left: -0.6em;
}
.price-fltr .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  cursor: default;
  box-shadow: none;
}
.price-fltr .ui-state-default,
.price-fltr .ui-widget-content .ui-state-default {
  border: 5px solid #ffc629;
  background: #fff;
  font-weight: bold;
  outline: none;
  border-radius: 50%;
}
.btn-nirvana2 {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  color: #fff;
  background-color: #0fa6df;
  border-color: #0fa6df;
  border-radius: 8px;
  padding: 6px 15px 8px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 0 20px;
}
.btn-nirvana2 svg {
  width: 24px;
  height: 22px;
  fill: #fff;
  display: inline-block;
  margin-bottom: -4px;
}
.btn-nirvana2:hover svg {
  fill: #0fa6df;
}
.btn-nirvana2:hover {
  color: #0fa6df;
  background-color: #fff;
  border-color: #0fa6df;
}
.special-offers-sec .right {
  width: 100%;
  display: block;
  float: left;
}
.special-offers-sec .right h2 {
  color: #414141;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 10px 0 5px 10px;
  text-transform: uppercase;
  float: left;
}
.special-offers-sec .right .shorting {
  width: auto;
  float: right;
}
.special-offers-sec .right .shorting a svg {
  fill: #414141;
  margin: 15px 10px 0 0;
  float: left;
  width: 26px;
  height: 26px;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.special-offers-sec .right .shorting a svg:hover {
  fill: #0fa6df;
}
.special-offers-sec .right .inr {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  align-content: start;
  padding: 0;
}
.special-offers-sec .right .inr .box {
  background: #fff;
  width: 31%;
  flex: 0 0 auto;
  margin: 10px;
  border-radius: 20px;
  padding: 0;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.special-offers-sec .right .inr .box img {
  width: 100%;
}
.special-offers-sec .right .inr .box .dtl {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 20px 20px 30px;
}
.special-offers-sec .right .inr .box .dtl h6 {
  color: #231f20;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.special-offers-sec .right .inr .box .dtl h5 {
  color: #231f20;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  padding: 15px 0 0;
  float: left;
  min-height: 60px;
}
.special-offers-sec .right .inr .box .dtl ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  float: left;
}
.special-offers-sec .right .inr .box .dtl ul li {
  color: #505050;
  padding: 8px 0 8px 20px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.special-offers-sec .right .inr .box .dtl ul li::before {
  background: #fdc62d;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
.special-offers-sec .right .inr .box .dtl .link {
  color: #0fa6df;
  padding: 0;
  margin: 10px 0 0 20px;
  font-size: 14px;
  font-weight: 900;
  float: left;
}
.special-offers-sec .right .inr .box .dtl .link:hover {
  color: #fdc62d;
}
.special-offers-sec .right .pagination {
  border-radius: 0;
  display: inline-block;
  margin: 50px auto 0;
  width: 100%;
  list-style: none;
  text-align: center;
}
.special-offers-sec .right .pagination > li {
  display: inline-block;
  list-style: none;
}
.special-offers-sec .right .pagination > li > a {
  background-color: #fff;
  border: none;
  color: #5d5d5d;
  float: left;
  line-height: 60px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.special-offers-sec .right .pagination > li:first-child > a,
.special-offers-sec .right .pagination > li:last-child > a {
  font-size: 40px;
}
.special-offers-sec .right .pagination > li > a:focus,
.special-offers-sec .right .pagination > li > a:hover {
  background-color: #fdc62d;
  color: #fff;
  z-index: 1;
  border: none;
}
.special-offers-sec .right .pagination > li > a.active {
  background-color: #fdc62d;
  border: none;
  color: #fff;
  z-index: 1;
}
