/*********** AUTO COMPLETE ************/
.loading-circle {
	background-color: #ffffff;
	background-image: url("loading.gif");
	background-size: 16px 16px;
	background-position: right center;
	background-repeat: no-repeat;
}

.hide-loading-circle {
	background: none;
}

.form-textinput {
	padding: 8px 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
}

.autocomplete {
	position: relative;
}

.autocomplete-results {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 1px solid #ddd0d0;
	max-height: 223px;
	overflow: auto;
	background-color: #ffffff;
	border-radius: 0;
	position: absolute;
	z-index: 99999;
}

.autocomplete-result {
	list-style: none;
	text-align: left;
	padding: 7px 10px;
	cursor: pointer;
	border-bottom: 1px dashed #c5c5c5;
}

.autocomplete-results li:last-child {
	border-bottom: none;
}

.autocomplete-result:hover {
	background-color: #3a7fc1;
	color: white;
}

.autocomplete-results::-webkit-scrollbar {
	width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
	background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
	background-color: #d0d0d0;
	outline: 1px solid slategrey;
}

/********** AUTO COMPLETE ***********/

/*********************calander**************************/

/*******************calander****************************/




/***********************************************/

.summary-price ul li p,
.summary-price ul li span {
	color: #3a7fc1 !important;
	font-size: 14px !important;
}

.form-control.error {
	border-color: #E84444 !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(232, 68, 68, .6);
}

.custom-select-v3 select,
.form-control {
	margin-bottom: 0 !important;
}

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 35%;
	margin: 0px auto;
	padding: 5px 5px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
	max-height: 60%;
	overflow-y: auto;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
	text-transform: capitalize !important;
}

.modal-default-button {
	float: right;
	margin: 2px;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*====================================
=     extracted from style.css      =
====================================*/

.validation_hotel {
	background-color: #ec423f;
	margin-bottom: 5px;
	padding: 4px;
	position: absolute;
	top: -13px;
	left: 0;
	width: 100%;
	font-size: 12px;
	text-align: center;
	color: #FFF;
}

.search-section .tab-content {
	color: #07253f;
	padding-top: 18px;
	position: relative;
}

.hotel-list .image-wrapper {
	height: 230px !important;
}

.hotel-list .content-wrapper {
	vertical-align: top;
	padding: 18px 10px 10px 20px;
}

.price_sec5 {
	width: 100%;
	float: left;
	padding: 0 14px 0 10px;
}

.price_sec span {
	font-size: 14px;
	color: #646464;
	-webkit-appearance: none;
	border-radius: 0;
	font-weight: 500;
}

.price_sec {
	width: 100%;
	float: left;
	padding-top: 9px;
}

.price_sec>span:first {
	float: left;
}

.price_sec>span:last-child {
	float: right;
}

.stars i {
	float: left;
	margin-right: 3px;
}

.hotel-list .content-wrapper .address {
	padding: 7px 0 5px;
	width: 100%;
}

.htl-top .htl-dtl h3 {
	padding-bottom: 15px;
}

.htl-top .htl-dtl .stars span,
.hotel_dis .stars span,
.hotel_map_list .stars span {
	margin-left: 0;
}

.htl-top .htl-dtl .stars,
.hotel_dis .stars,
.hotel_map_list .stars {
	position: relative;
	/* display: block; */
	color: #ddd;
	margin: 2px;
}

.htl-top .htl-dtl .checked,
.hotel_dis .checked,
.hotel_map_list .checked {
	color: #ffbe00;
}

.htl-top .htl-dtl .stars::after {
	position: inherit;
}

.htl-info h4 {
	padding: 0;
}

.htl-info .single-room {
	box-sizing: border-box;
}

.htl-info .single-room .htl-room .htl-option i {
	padding: 0;
}

/* New Style Start*/
.htl-info h5 {
	font-size: 18px;
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	/* padding: 15px; */
	width: 100%;
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #dfdfdf;
}

.htl-info .htl-option .cancellation-policy {
	font-weight: 400;
	font-size: 12px;
	color: #555555;
	padding: 10px 0 0;
	clear: both;
	display: inline-block;
	position: relative;
}

.htl-info .htl-option .cancellation-policy:hover {
	color: #3a7fc1;
}

.htl-info .htl-option .cancellation-policy .tooltiptext {
	visibility: hidden;
	width: 400px;
	background-color: #fff;
	color: #000;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;
	border: 1px solid #3a7fc1;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: 400;
}

.htl-info .htl-option .cancellation-policy .tooltiptext .text {
	font-size: 12px;
	font-weight: 300;
	color: #444;
	padding: 0;
}

.htl-info .htl-option .cancellation-policy .tooltip-bottom::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent #3a7fc1 transparent;
}

.htl-info .htl-option .cancellation-policy:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.htl-info .htl-option .cancellation-policy .tooltip-bottom {
	top: 115%;
	left: -60%;
	/* margin-left: -127px; */
}

.htl-info .price-section .select-room {
	font-size: 12px;
	color: #3a7fc1;
	text-transform: none;
	padding: 4px 20px;
	display: block;
	text-decoration: none;
	font-weight: 500;
	text-align: center;
	float: right;
	border: 1px solid #3a7fc1;
	margin: 10px 0 0;
	cursor: pointer;
}

.htl-info .price-section .price {
	font-weight: 500;
	font-size: 20px;
	color: #000;
	padding: 10px 0 0;
}

.htl-info .price-section .price span {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

.htl-info .price-section .adult-night {
	font-weight: 500;
	font-size: 12px;
	color: #737373;
	padding: 5px 0;
	text-align: right;
}

.room-border {
	border-right: 1px solid #dfdfdf;
}

.htl-info .price-section {
	width: 100%;
	float: right;
	display: inline-block;
	padding: 0 15px;
	text-align: right;
	/* border-left: 1px solid #dfdfdf; */
}

.htl-inf .price-section .tax {
	font-size: 14px;
	color: #767676;
	font-weight: 300;
	padding: 0;
}

.htl-info .price-section .price {
	font-weight: 500;
	font-size: 20px;
	color: #000;
	padding: 10px 0 0;
}

.htl-info .price-section .price span {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

.htl-info .price-section .adult-night {
	font-weight: 500;
	font-size: 12px;
	color: #737373;
	padding: 5px 0;
	text-align: right;
}

#hotel-price-info .price-section-bundle {
	width: 50%;
	float: right;
	display: inline-block;
	padding: 0;
	text-align: right;
	margin: 0 10px 10px 0;
	/*border-left: 1px solid #dfdfdf;*/
}

#hotel-price-info .price-section-bundle span {
	font-size: 16px;
	margin: 5px;
	font-weight: 500;
	font-size: 16px;
	color: #000;
	/*padding: 29px 0 0 0;*/
}

#hotel-price-info .price-section-bundle .price {
	width: 100%;
	position: relative;
	margin: 5px;
	font-weight: 500;
	font-size: 22px;
	color: #000;
	/* padding: 29px 0 0 0; */
}

#hotel-price-info .price-section-bundle .select-room {
	text-transform: uppercase !important;
	font-size: 12px;
	color: #3a7fc1;
	text-transform: none;
	padding: 4px 20px;
	display: block;
	text-decoration: none;
	font-weight: 500;
	text-align: center;
	float: right;
	border: 1px solid #3a7fc1;
	margin: 10px 0 0;
}

#hotel-price-info .price-section-bundle .select-room:hover {
	color: #fff !important;
	background: #3a7fc1;
}

#hotel-room-info .single-room-nonbundle .htl-room {
	display: inline-block;
	width: 60%;
	padding: 15px;
}

#hotel-room-info .price-section-inner {
	width: 40%;
	float: right;
	display: inline-block;
	padding: 0;
	text-align: right;
	/* border-left: 1px solid #dfdfdf; */
}

.price-inner span {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

.price-inner {
	margin-right: 5px;
	float: left;
	font-weight: 500;
	font-size: 18px;
	color: #000;
	margin: 27px 0 0 0;
}

.select-room-inner {
	font-size: 13px;
	font-weight: 500;
	margin: 23px 20px 15px 0;
	padding: 4px 15px;
	border: 1px solid #3a7fc1;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: center;
	background: none;
	color: #3a7fc1;
}

.selected-room-inner {
	background: #3a7fc1;
	color: #fff;
	border: 1px solid #fff;
}

.confirmation-page-button {
	text-align: center;
}

.confirmation-page-button .btn {
	text-align: center;
	border-radius: 0;
	font-size: 12px;
	color: #0283df;
	border: 1px solid #0283df;
	margin: 5px;
}

/* New Style End */

.review-booking .detail .stars {
	position: relative;
	/* display: block; */
	color: #ddd;
	margin: 2px;
}

.review-booking .detail .float-star {
	float: right;
}

.review-booking .detail .checked {
	color: #ffbe00;
}

.confirmation .hotel-dtl .bkn-info ul li .inr .text {
	font-size: 14px;
	color: #444;
	font-weight: 400;
	padding: 10px 0 10px 0;
	display: block;
	border: 1px solid #ddd;
	border-width: 1px 0 0 0;
}

.checkin-info {
	text-align: center;
	display: inline-flex;
}

.checkin-info .info {
	width: 100%;
	display: inline-block;
	min-height: 40px;
	text-align: center;
}

.checkin-info .info .date {
	font-size: 16px;
	color: #3a7fc1;
	font-weight: 500;
	display: block;
}

.checkin-info .info .text {
	font-size: 14px;
	color: #444;
	font-weight: 400;
	padding: 5px 0 0;
	display: block;
}

.filter .facilities ul li p {
	max-width: 195px;
}


/*====================================
=       Loader CSS       =
====================================*/
.conf-bg {
	background: #A3A3A3;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
}

.conf-loader {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bckgrnd {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: transparent;
	z-index: 9999999999;
	cursor: not-allowed;
}

/* Map */
#map {
	height: 800px;
}

/* Info window */
.map_details {
	width: 300px;
	height: 100%;
	display: block;
	position: relative;
}

.view_map {
	width: 100%;
	height: auto;
	float: left;
	position: relative;
}

.hotel_img {
	width: 35%;
	max-height: 140px;
	float: left;
	overflow: hidden;
}

.hotel_img img {
	height: 140px;
	width: 100%;
	background-size: cover;
}

.hotel_dis {
	width: 65%;
	float: right;
	padding-left: 10px;
}

.hotel_dis h3 {
	font-size: 15px;
	color: #367cc0;
	font-weight: 600;
}

.hotel_dis h3 .float-star{
	font-size: 10px;
	margin: 1px;
	display: inline-block;
}

.hotel_dis h3 .float-star span{
	margin: 1px;
}

.hotel_location {
	margin-top: 5px;
}

.hotel_location span {
	color: #777;
	font-size: 12px;
}

.map_rate {
	font-weight: 500;
	font-size: 20px;
	color: #000;
	float: left;
	margin-top: 10px;
}

.map_rate span {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}

.map_hotel_select_btn{
	background-color: #367cc0;
	padding: 10px 20px;
	font-size: 12px;
	border: none;
	color: #fff;
	float: right;
}

.direction_btn {
    width: 100%;
    margin: 5px 0 48px 0;
    border-top: 1px solid #00000012;
}

.direction_btn1 {
	background: none;
    font-size: 11px;
    padding: 4px 0px;
    border: none;
    float: left;
}

.direction_btn2 {
    background: none;
    font-size: 11px;
    padding: 4px 0px;
    float: right;
    border: none;
}
/* 
.gm-style-iw-d + button {
	display: none !important;
} */

.gm-style .gm-style-iw-c{
	border-radius: 0 !important;
}

/* get direction */
.get_direction {
    width: 100%;
    float: left;
    background: #256fcc;
}

.get_direction_navs {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    border-bottom: 1px solid #ffffff30;
    padding: 10px;
}

    .get_direction_navs label {
        width: 30px;
        height: 30px;
        background: #00000052;
        border-radius: 50%;
        color: #FFF;
        text-align: center;
        line-height: 30px;
    }

    .get_direction_navs a {
        padding: 5px 12px;
        float: right;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #FFF;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer;
        margin-left: 2px;
    }

        .get_direction_navs a:hover {
            background: #194b8a;
        }

.get_direction_txt {
    width: 100%;
		float: left;
		padding: 0 10px 10px 0;
}

.fm_direction {
    width: 100%;
    float: left;
    margin-bottom: 3px;
    position: relative;
    padding-left: 30px;
}

    .fm_direction i {
        color: #FFF;
        font-size: 16px;
        position: absolute;
        left: 8px;
        top: 8px;
    }

.txt_direction1 {
    width: 100%;
    /* float: left; */
    height: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff82;
    color: #FFF;
    font-size: 13px;
}

.to_direction {
    width: 100%;
    float: left;
    margin-bottom: 3px;
    position: relative;
    padding-left: 30px;
}

    .to_direction i {
        color: #FFF;
        font-size: 19px;
        position: absolute;
        left: 9px;
        top: 6px;
    }

.txt_direction2 {
    width: 100%;
    float: left;
    height: 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff82;
    color: #FFF;
    font-size: 13px;
}

.line_direction {
    width: 100%;
    height: 19px;
    float: left;
    margin-bottom: 3px;
    position: relative;
    padding-left: 30px;
}

    .line_direction i {
        color: #FFF;
        font-size: 19px;
        position: absolute;
        left: 13px;
        top: 3px;
    }

.desti_place::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.desti_place:-moz-placeholder { /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.desti_place::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.desti_place:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff82;
    font-size: 12px;
    font-weight: normal;
}

.mapbtn {
    width: auto;
    height: auto;
    float: left;
    margin-right: 4px;
}

    .mapbtn input[type=radio] + label.btn {
        padding: 0px;
        margin: 0px;
        height: 30px;
        width: 30px;
        line-height: 29px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: normal;
        display: inline-block;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: #fff;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        border: none;
        border-radius: 50% !important;
        cursor: pointer;
        border: none !important;
    }

        .mapbtn input[type=radio] + label.btn:hover {
            background: #1a8fce;
            border-radius: 3px;
            color: #FFF !important;
        }

    .mapbtn input[type=radio]:checked + label.btn {
        background: #1a8fce;
        border-radius: 3px;
    }

    .mapbtn i {
        position: absolute;
        color: #FFF;
        left: 0px;
        top: 9px;
        width: 30px;
		}
		
.get_direction input[type=radio] {
    display: none;
}

.get_direction a:hover,.get_direction  a:focus {
    text-decoration: none;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */

.get_direction-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.get_direction-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.get_direction-enter-to, .get_direction-leave {
   max-height: 100px;
   overflow: hidden;
}

.get_direction-enter, .get_direction-leave-to {
   overflow: hidden;
   max-height: 0;
}

.hotel_map_list-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.hotel_map_list-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.hotel_map_list-enter-to, .hotel_map_list-leave {
   max-height: 760px;
   overflow: hidden;
}

.hotel_map_list-enter, .hotel_map_list-leave-to {
   overflow: hidden;
   max-height: 660px;
}

/* hotel map list */
.hotel_map_list {
	width: 100%;
	float: left;
	height: 760px;
	overflow: auto;
	padding: 7px;
    border-top: 1px solid #1a0e0e;
	}

.hotel_map_list_shrink {
	height: calc(760px - 156px) !important;
}

.htl_map_view {
	width: 100%;
	height: auto;
	float: right;
}

.hotel_map_list ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	/* height: 730px; */
}

.hotel_map_list ul li {
	width: 100%;
	float: left;
	padding: 5px;
	border-bottom: 1px solid #efefef;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	cursor: pointer;
}

.hotel_map_list ul li:hover {
	background: #808080;
}

.list_htlImg {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 6px;
}

.list_htlImg img {
	width: 70px;
	height: 70px;
}

.hotel_map_list ul li h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #313131;
	font-weight: normal;
	margin-bottom: 5px;
}

.hotel_map_list ul li h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #c53919;
	font-weight: 700;
}

.mode_change {
	width: 40px;
	height: 40px;
	float: right;
	background: #303030;
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 0;
	color: #FFF;
	font-size: 25px;
	border-right: 1px solid #303030;
}

.mode_change i {
	margin-left: 11px;
	margin-top: 7px;
	font-size: 18px;
}

.htl_list {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	z-index: 9;
}

.htl_list01 {
	width: 315px;
	float: left;
	background: #FFF;
	height: 100%;
	overflow: hidden;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */

.hide_list01-enter-active,.hide_list01-leave-active {
	transition: 1s;
}

.hide_list01-enter, .hide_list01-leave-to{
  width: 0;
}

/* map poi */
.point_int {
    width: 100%;
    height: 760px;
	float: left;
	overflow: auto;
}

#nav {
    display: block;
    width: 100%;
    list-style: none;
	margin: 0 auto;
	padding: 0;
}

    #nav > li > a {
        display: block;
        padding: 6px 12px;
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        background: #397ec1;
    }

        #nav > li > a:hover, #nav > li > a.open {
            color: #e9e9e9;
            border-bottom-color: #384f76;
            background: #859ad4;
        }

    #nav li ul {
		background:#c5daed;
		list-style: none;
		padding: 0;
    }

        #nav li ul li a {
            display: block;
            background: none;
            padding: 4px 0px;
            padding-left: 25px;
            font-size: 12px;
            text-decoration: none;
        }

            #nav li ul li a:hover {
				background: #394963;
				color: #fff !important;
            }

    #nav > li > a i {
        float: right;
        margin-top: 1px;
        font-size: 15px;
        margin-right: -5px;
    }

.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}



/* buttons */

.htl_view {
	width: 40px;
	height: 40px;
	float: right;
	background: #303030;
	cursor: pointer;
	position: absolute;
	right: -40px;
	color: #FFF;
	font-size: 25px;
	z-index: 999;
}

.htl_view i {
	margin-left: 13px;
	margin-top: 7px;
}

.web_view {
	width: 40px;
	height: 40px;
	float: right;
	background: #1f8fce;
	cursor: pointer;
	position: absolute;
	right: -40px;
	top: 40px;
	color: #FFF;
	font-size: 25px;
}

.web_view i {
	margin-left: 9px;
	margin-top: 7px;
}

.globe_view {
	width: 40px;
	height: 40px;
	float: right;
	background: #1f8fce;
	cursor: pointer;
	position: absolute;
	right: -40px;
	top: 80px;
	color: #FFF;
	font-size: 25px;
}

.globe_view i {
	margin-left: 9px;
	margin-top: 7px;
}

.print_view {
	width: 40px;
	height: 40px;
	float: right;
	background: #1f8fce;
	cursor: pointer;
	position: absolute;
	right: -40px;
	top: 120px;
	color: #FFF;
	font-size: 25px;
}

.print_view i {
	margin-left: 9px;
	margin-top: 7px;
}

.map_filter {
	width: 100%;
	float: left;
	border-bottom: 1px solid #efefef;
	/* padding: 3px 0px;
	margin-bottom: 10px; */
	position: relative;
}

.map_filter input[type="text"]:disabled {
	background:#fff;
}

.srch_filter {
	width: 100%;
	height: 33px;
	float: left;
	background: #FFF;
	border: none;
	/* padding: 0px 50px 0px 10px; */
	font-size: 11px;
	padding: 20px 8px;
}

.hotel_map_list .content {
	position: relative;
	/* margin: 10px 0 0 10px; */
	max-width: 100%;
	/* height: 357px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}



/* Map End */

.table-borderless td,
.table-borderless th, .table-borderless> thead > tr > th {
    border: 0 !important;
}

#ui-datepicker-div {
	display: none;
}

.amazingslider-text-wrapper-1{
	display: none;
}


@media screen and (max-width: 767px) {

	#hotel-room-info .single-room-nonbundle .htl-room {
		padding: 0;
	}

	.htl-info .single-room {
		padding: 10px;
	}

	.price-inner {
		margin-right: 0;
		float: none;
		margin: 0;
	}

	.select-room-inner {
		margin: 0;
	}

	.htl-info .price-section {
		text-align: center;
	}

	.htl-info .price-section .adult-night {
		text-align: center;
	}

	.htl-info .price-section .select-room {
		float: none;
		margin: 10px 0;
	}

	.htl-info .single-room-nonbundle {
		border-bottom: 1px solid #dfdfdf;
	}

	div.single-room:nth-child(12) > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > span:nth-child(1) {
		display: block;
	}

	.htl-info .htl-option .cancellation-policy .tooltiptext {
		width: 300px;
	}

	.htl-info .htl-option .cancellation-policy .tooltip-bottom {
		left: -17%;
	}

  p {
    padding: 0;
  }

}