﻿@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');
@import url('/assets/pluggins/google-fonts/roboto-display-swap.css?v=202008130000');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600&display=swap');

.modal-open{
    padding-right: 17px;
}
ul {
    list-style: none;
}

img,
object,
embed,
video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    outline: none !important;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #FFF;
}

::selection {
    background-color: #dfdae6;
    color: #FFF;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
}
.c_month{
    position: absolute;
    top: 19px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.c_day{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.c_week{
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.calendar input{
    width: 100%;
    float: left;
    position: absolute;
    left: 3px;
    top: 0;
    height: 100%;
    background: none;
    border: none;
    opacity: 0;
    z-index: 9;
}

/*Banner css*/
.bannerarea{
    width: 100%;
    float: left;
    padding: 50px 0px 0px 0px;
    background-size: cover;
    background-position: center;
}
.banner-title{
    width: 100%;
    float: left;
}
.banner-title h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    color: #231f20;
    text-align: center;
    font-weight: 700;
    text-shadow: -4px 3px 5px #fff;
    -webkit-text-shadow:-4px 3px 5px #fff;
}
.banner-title h3 span{
    font-size: 28px;
    color: #ed1c24;
}
.search-section{
    width: 100%;
    float: left;
    padding: 25px 0px;
    background: rgba(0, 0, 0, 0.42);
    margin-top: 155px;
}
/*===========================================
=            Radio Button Custom            =
===========================================*/
.radio {
	padding-left: 20px;
	margin-bottom: 20px;
}
.radio label {
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	position: relative;
	padding-left: 5px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	padding-top: 3px;
}
.radio label.active, .radio label:focus {
	color: #fff;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	margin-left: -18px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 4px;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
    width: 12px;
    height: 12px;
    left: 4px;
    top: 6px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
.radio.radio-inline {
	margin-top: 0;
}
.radio-success input[type="radio"] + label::after {
	background-color: #fff;
}
.radio-success input[type="radio"]:checked + label::before {
	border-color: #fff;
}
.radio-success input[type="radio"]:checked + label::after {
	background-color: #ed1c24;
}
.radio-success input[type="radio"]:checked + label {
	color: #fff;
}
/*form section*/
.search-section .search-col-padding {
    padding: 0;
}
.search-section .form-control {
    background-color: #fff;
    border: none;
    border-radius: 0px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #676767 !important;
    display: block;
    font-size: 14px;
    height: 58px;
    line-height: 1.42857;
    padding: 0 0 0 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin: 2px 2px 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.calendar {
    background: #fff;
    overflow: hidden;
    margin: 2px 4px !important;
    padding: 8px 0 8px 0;
    font-size: 17px;
    font-weight: 400;
    color: #676767;
    height: 118px;
    border: none;
    width: 99%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/*===========================================
=            Select2 Custom            =
===========================================*/

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px !important;
	width: 35px !important;
	background: transparent !important;
	margin: 2px;
	line-height: 53px;
	text-align: center;
	font-size: 20px !important;
	color: #005456;
	right: 2px !important;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 58px !important;
	border: none !important;
	border-radius: 0 !important;
	margin: 2px 2px 0 4px;
}
.select2-results__option {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #676767 !important;
	line-height: 58px !important;
	font-size: 14px;
	padding: 0 0 0 20px !important;
	background: #fff;
	border: none;
	float: left;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.select2-container--default .select2-selection--single {
	background: rgba(255, 255, 255, 0.4);
	/*     input background color */
	border: none !important;
	border-radius: 0 !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #ed1c24 !important;
	/*   option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #ed1c24 !important;
/*   option hover background */ }
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
}
.select2-dropdown {
	background-color: white;
	border: tranparant !important;
	border-radius: 0 !important;
	margin: 0;
}
.custom-traveller {
	margin: 2px 4px 0 2px;
}
.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}
.change-destination::after {
	content: url(../images/exchange-icon.png);
	position: absolute;
	right: -13px;
	top: 18px;
	z-index: 1;
}
.change-date::after {
	content: url(../images/exchange-date.png);
	position: absolute;
	right: -13px;
	top: 18px;
	z-index: 1;
}
/* Travellers CSS BOF ===================================================*/ 
.travellersDropdown {
	position: relative;
}
.custom-select-v3 {
	position: relative;
	cursor: pointer;
}
.custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 10px;
	color: #005456;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin-right: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 6;
	content: "\f107";
	font-family: 'FontAwesome';
}
.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 9px;
	z-index: 1;
}
.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	pointer-events: none;
}
.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
}
.custom-select-v3 select, .form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: normal;
	margin-bottom: 20px;
	padding: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	box-shadow: none;
	color: #000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.travelerSelectWindow {
	width: 303px;
	position: absolute;
	top: 59px;
	right: -2px;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 3;
	display: none;
}
.travelerSelectWindow.active {
	display: block;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow fieldset {
	padding: 0 13px 15px 0;
}
fieldset {
	min-width: 0;
	margin: 0;
}
.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: left;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
}
.trvFld {
	float: left;
	margin-right: 10px;
	width: 70px;
}
.trvFld .custom-select-v3 {
	display: block;
}
.trvFld .custom-select-v3::before {
	font-size: 17px;
	height: 27px;
	line-height: 13px;
}
.trvFld .custom-select-v3 select {
	text-align: left;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}
select option {
	padding: 2px 5px;
	background: #fff;
}
.trvFld .custom-select-v3 select {
	text-align: left;
	line-height: 35px;
	color: #000;
}
.travelerSelectWindow .ageRange {
	float: left;
	font-size: 13px;
	color: #a2a2a2;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
}
.classSec {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
	margin: 0 15px 15px;
	overflow: hidden;
}
.classSec .custom-select-v3::before {
	top: 0;
}
.classSec label {
	margin-top: 5px;
}
.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}
.classSec .custom-select-v3.lg select {
	margin: 0;
}
.classSec .custom-select-v3 select {
	cursor: pointer;
}
.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	text-indent: initial;
	color: #000;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
	border-radius: 0;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #231f20;
	display: inline-block;
	border-radius: 0;
    top: 8px;
    font-family: 'Poppins', sans-serif;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
.travelerSelectWindow .closeBtn:hover {
	background: #ed1c24;
}
.search-button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background: #ed1c24;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    height: 118px;
    margin: 2px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
.search-button:hover, .search-button:focus, .search-button:active {
    color: #fff;
    text-decoration: none;
    background: #c1060d;
   
}
.search-button i {
    font-size: 22px;
    padding: 0 0 10px;
    width: 100%;
}
.ui-datepicker {
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
}
.ui-datepicker-header {
height: 50px;
line-height: 50px;
color: #fff;
background: #ed1c24;
margin-bottom: 10px;
font-weight: 700;
font-size: 16px;
letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
width: 20px;
height: 20px;
text-indent: 9999px;
border: 2px solid #fff;
border-radius: 100%;
cursor: pointer;
overflow: hidden;
margin-top: 16px;
}
.ui-datepicker-prev {
float: left;
margin-left: 12px;
}
.ui-datepicker-prev::after {
transform: rotate(45deg);
margin: -45px 0px 0px 6px;
}
.ui-datepicker-next {
float: right;
margin-right: 12px;
}
.ui-datepicker-next:after {
transform: rotate(-135deg);
margin: -45px 0px 0px 4px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
content: '';
position: absolute;
display: block;
width: 6px;
height: 6px;
border-left: 2px solid #fff;
border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
border-color: #f55c44;
}
.ui-datepicker-title {
text-align: center;
font-family: 'Poppins', sans-serif;
}
.ui-datepicker-calendar {
width: 100%;
text-align: center;
}
.ui-datepicker-calendar thead tr th span {
display: block;
width: 40px;
color: #c1060d;
margin-bottom: 5px;
font-size: 13px;
text-align: center;
font-family: 'Poppins', sans-serif;
font-weight: 500;
}
.ui-state-default {
display: block;
text-decoration: none;
color: #42474d;
line-height: 40px;
font-size: 12px;
font-weight: 600;
font-family: 'Poppins', sans-serif;
}
.ui-state-default:hover {
background: #231f20;
color: #fff;
}
.ui-state-highlight {
color: #fff;
background: #231f20;
}
.ui-state-active {
background: #231f20 none repeat scroll 0 0;
color: #fff;
}
.ui-datepicker-unselectable .ui-state-default {
color: #afc2d8;
border: 2px solid transparent;
}
.ui-datepicker-trigger {
background-color: transparent;
border: medium none;
color: #ababab;
font-size: 18px;
padding: 0;
position: absolute;
left: 15px;
top: 15px;
}

/* Home About Us */
.hm_about{
    width: 100%;
    float: left;
    padding: 45px 0px;
}
.hm_about h1{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}
.hm_about h1::after{
    content: '';
    position: absolute;
    width: 14%;
    height: 2px;
    background: #e7e7e7;
    left: 43%;
    bottom: -14px;
}
.hm_about h1::before{
    content: '';
    position: absolute;
    width: 10%;
    height: 2px;
    background: #ed1c24;
    left: 45%;
    bottom: -14px;
    z-index: 1;
}
.hm_about h1 span{
    font-weight: 700;
}
.hm_about p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #181818;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
}
.about_points{
    width: 100%;
    float: left;
    padding-top: 60px;
}
.aboutIcons{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.aboutIcons::after{
    content: '';
    position: absolute;
    right: -11px;
    top: 37px;
    width: 70px;
    border-bottom: 2px solid #dfdfdf;
}
.aboutIcons::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 37px;
    width: 70px;
    border-bottom: 2px solid #dfdfdf;
}
.firstSec::before{
    display: none;
}
.lastSec::after{
    display: none;
}

.aboutIcons p{
    font-size: 14px;
    color: #212121;
    font-weight: 500;
}
.aboutIcons i{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
    font-size: 22px;
    line-height: 64px;
    color: #ed1c24;
    margin-bottom: 9px;
}
.partners_logo{
    width: 100%;
    float: left;
    padding: 13px 0px;
    background:#f8f8f8;
    border-top:1px solid #e5e5e5;
}
.airlinelogos{
    float: left;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: center;
    background: #FFF;
}
.innerbanner{
    width: 100%;
    float: left;
    padding: 61px 0px;
    position: relative;
    background-position: center;
    background-size: cover;
}
.innerbanner::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.42);
}
.innerbanner h2{
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    color: #ed1c24;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 9;
}
.innerbanner p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ed1c24;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 9;
}
.innerbanner p a{
color: #000;
}
.missionSec{
    width: 100%;
    float: left;
    padding-top: 30px;
}
.mission{
    text-align: right;
    border-right: 1px solid #e5e5e5;
}
.mission h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ed1c24;
    font-weight: 600;
    padding: 11px 0px 3px 0px;
}
.mission p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    text-align: right !important;
}
.vision{
    text-align: left;
}
.vision h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ed1c24;
    font-weight: 600;
    padding: 11px 0px 3px 0px;
}
.vision p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    text-align: left !important;
}
.mapSec{
    width: 100%;
    float: left;
}
.contact_fields{
    width: 100%;
    float: left;
    background: #fbf9fa;
    padding: 15px 0px;
}
.contact_fields h4{
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    color: #ed1c24;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.contact_fields p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #181818;
    text-align: center;
    font-weight: 400;
    line-height: 25px;
}
.contact_fields input{
    width: 100%;
    float: left;
    height: 54px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #181818;
    padding: 10px;
    border: 1px solid #dedede;
}
.contact_fields textarea{
    width: 100%;
    float: left;
    height: 114px;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #181818;
    padding: 10px;
    border: 1px solid #dedede;
    resize: none;
}
.typeSecbtn{
    text-align: center;
}
.contact_fields button {
    width: 173px;
    height: 48px;
    margin: auto;
    background: #ed1c24;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    border: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-top: 15px;
}
.autocomplete-results {
    width: 100%;
    padding: 0px;
    margin: 0;
    border: 1px solid #bbbbbb;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 61px;
    left: 2px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.13);
}
.autocomplete ul.autocomplete-results li {
    font-size: 13px;
    font-weight: 500;
    color: #3c3c3c;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #FFF;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
    color: #b1bdff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: #ed1c24;
    color: #FFF !important;
}

.autocomplete-result:hover {
    background-color: #ed1c24;
    color: #FFF;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}
.addbutton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#ed1c24;
    color: #FFF;
}
.deletebutton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#171717;
    color: #FFF;
}
.btnstyle5{
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 7px;
}
.paddingTop35{
    padding-top: 35px;
}
.multiSec{
    width: 100%;
    float: left;
    padding: 5px;
    margin-top: 8px;
    background: rgba(0, 0, 0, 0.32);
    border: 1px solid #FFF;
}
.autocomplete{
    position: relative;
}
.terms_sec{
    width: 100%;
    float: left;
    padding: 20px 0px;
}
.terms_sec h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #020202;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 24px;
}
.terms_sec p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #7d7d7d;
    margin-bottom: 10px;
    text-align: justify;
}

/* Whatsapp */
.fixed-bottom {
    position: fixed ;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.whatsappIconPosition{
    bottom:12px;
    width: 65px;
}
.whatsappIconSize{
    width: 3em;
}


/* Responsive Css*/
@media (max-width:500px){
    .mbpadding{
        padding: 0 0px;
    }
    .radio label{
        font-size: 12px;
    }
    .banner-title h3{
        font-size: 26px;
    }
    .banner-title h3 span {
        font-size: 18px;
    }
    .hm_about {
        padding: 20px 0px;
    }
}
@media (max-width:768px){
    .hm_about, .partners_logo, footer, .banner-title{
        display: none;
    }
    .bannerarea{
        background-image: none !important;
    }
    .search-section .form-control{
        margin: 2px 0px 0 !important;
    }
    .search-section{
        margin-top: 0px !important;
    }
    .hm_about h1{
        font-size: 33px;
    }
    .hm_about p{
        font-size: 14px;
    }
    .hm_about h1::after {
        width: 45%;
        left: 28%;
    }
    .hm_about h1::before {
        width: 30%;
        left: 35%;
    }
    .search-button{
        height: 56px;
        margin-left: 0px;
    }
    .calendar{
        margin: 2px 2px 0px 0px !important;
        width: 100%;
    }
    #from{
        border-right: 2px solid #b7b7b7;
    }
    .select2-container .select2-selection--single{
        margin: 2px 0px 0 0px;
        width: 100%;
    }
    .custom-traveller {
        margin: 2px 4px 0 0px;
        width: 100%;
    }
    .mission {
        border-right:none;
        border-bottom:1px solid #e5e5e5;
        text-align: center;
        padding-bottom: 9px;
        margin-bottom: 17px;
    }
    .mission h3{
        text-align: center;
    }
    .hm_about p{
        text-align: center !important;
    }
    .vision {
        text-align: center;
    }
    .vision h3{
        text-align: center;
    }
    .vision p{
        text-align: center !important;
    }
    .brdr-right{
        border-right: 2px solid #7d7d7d;
    }
}
@media (max-width:990px){
    .search-section{
        margin-top: 29px;
    }
    #indexmain .search-button{
        height: 68px;
    }
    #indexmain .search-button i{
        display: none;
    }
    .bannerarea{
        padding: 7px 0px 0px 0px;
    }
    .aboutIcons::after{
        display: none;
    }
    .aboutIcons::before{
        display: none;
    }
    .about_points {
        padding-top: 8px;
    }
    .aboutIcons {
        border: 1px solid #dcdcdc;
        padding: 14px;
        margin-top: 11px;
    }
    .contact_fields button {
        width: 100%;
    }
}
@media (max-width:400px){
    .c_month{
        font-size: 13px;
    }
    .c_week{
        font-size: 13px;
    }
    .c_day{
        font-size: 28px;
    }
}