/*----- Global -----*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('/assets/pluggins/google-fonts/roboto-display-swap.css?v=202008130000');


.wrap {
    padding: 60px 0px;
    background: #4a98d3;
    background: radial-gradient(at 40% 30%, #4a98d3, #00598f);
}



.site-header-wrap {
    margin-bottom: 0px;
    border-bottom: 1px solid #53a0dc;
}

/*----- Tabs -----*/
.tabs {
    width: 100%;
    display: inline-block;
    float: left;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links {
    padding: 0px;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: 9;
}

    .tab-links li {
        margin: 0px;
        float: left;
        list-style: none;
        margin: 11px;
        border: 5px solid rgba(255, 255, 255, 0.51);
        border-radius: 50%;
    }

    .tab-links a {
        padding: 0;
        display: inline-block;
        font-family: 'CenturyGothic-Regular';
        font-size: 13px;
        color: #FFF;
        font-weight: 400;
        transition: all linear 0.15s;
        text-transform: uppercase;
        text-align: center;
        width: 75px;
        height: 75px;
        background: #FFF;
        border-radius: 50%;
    }
    .tab-links a svg{
        width: 36px;
        height: 44px;
        margin-top: 14px;
    }
    .tab-links a span{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        padding-top: 24px;
        float: left;
        width: 100%;
    }
        .tab-links a:hover {
            background: #3d489e;
            text-decoration: none;
            color: #FFF;
        }

    .tab-links li.active a, .tab-links li.active a:hover {
        background: #3d489e;
        color: #FFF;
    }
    .tab-links a:hover svg, .tab-links li.active a svg{
        fill:#FFF;
    }

        .bannerForm .tab-links li.active a svg, .tab-links li.active a:hover svg {
            fill: #FFF;
        }

.sp_brdr_left {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;
}
/*----- Content of Tabs -----*/
.tab-content {
    width: 100%;
    float: left;
    /*background:url(../images/red_bg.jpg) repeat-y right;*/
}

.tab {
    display: none;
}

    .tab.active {
        display: block;
    }
}
