.md-search {
    margin: 0 0 -60px;
}

/* validation style for login & register */

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}

.Tkt .btn a,
input[type="submit"] {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 20px;
	background-color: #832253;
	color: #fff;
	padding: 10px 36px;
	border-radius: 0px;
	vertical-align: middle;
	border: 1px solid #842452;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.Tkt ul, .Tkt li, .Tkt label , .Tkt h5{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.Tkt h5{
font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
	margin: 0;
}
/* Profile */

/* .profile-dropdowns {
    width: auto;
    display: block; */
    /* position: relative; */
    /* margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 0 0 0 8px;
    background: none !important;
    padding: 4px 5px;
    cursor: pointer; */
    /* border-bottom: 1px solid rgb(255, 255, 255) !important; */
    /* border-radius: 0;
    border-right: 0px !important;

} */

.Tkt .profile-dropdowns * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Tkt .profile-dropdowns input[type="checkbox"] {
    display: none;
}

.Tkt .profile-dropdowns input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.Tkt .profile-dropdowns input[type="checkbox"]:checked~img {
    background: #a63b71;
}

.Tkt .profile-dropdowns input[type="checkbox"]:checked~label i {
    color: #000;
}

.Tkt .profile-dropdowns img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.Tkt .profile-dropdowns span {
    display: inline-block;
    vertical-align: sub;
    margin: 0 -10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 86px;
}

.Tkt .profile-dropdowns ul {
    display: none;
    list-style: none;
    padding: 0px 0px !important;
    background: #a63b71 !important;
    position: absolute;
    top: 44px;
    right: 223px;
    width: 140px;
    border-radius: 0 !important;
    z-index: 9999;
    padding-bottom: 4px !important;
}
.Tkt .profile-dropdowns ul li{
    border-bottom: 1px solid #484848;
}
.Tkt .profile-dropdowns ul li a {
    display: block;
    padding: 11px 0px !important;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.Tkt .profile-dropdowns ul li a i {
    font-size: 15px;
    margin: 3px 0.75rem 1px;
}

.Tkt .profile-dropdowns ul li a:hover {
    background: #e17db0;
    color: #fff;
}

.Tkt .profile-dropdowns>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.Tkt .profile-dropdowns>label i {
    color: #ffff;
    font-size: 22px;
	padding: 4px 0px 0px;
	cursor: pointer;
}

.Tkt .profile-dropdowns:after {
    content: '';
    display: table;
    clear: both;
}
.Tkt .customer-profile{
    margin-top: 0px;
}



.Tkt .profile-dropdowns {
	display: inline-block;
	padding: 5px 21px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 400;
    border: none;
	border-radius: 0;
	cursor: pointer;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
}

.Tkt .profile-dropdowns i {
	margin-left: 5px;
}

.Tkt .profile-dropdowns:hover {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=1);
	color: #fff;
}

@media(max-width:1024px) {
    .profile-dropdowns ul {
        display: none;
        list-style: none;
        background: #a63b71;
        position: absolute;
        top: 44px;
        left: 15px;
        width: 140px;
        border-radius: 0;
        z-index: 9999;
        padding-bottom: 4px;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .profile-dropdowns ul {
        display: none;
        list-style: none;
        background: #a63b71;
        position: absolute;
        top: 44px;
        left: 63px;
        width: 140px;
        border-radius: 0;
        z-index: 9999;
        padding-bottom: 4px;
    }
}


/* header section */
.Tkt .top-nav {
	background: #a63b71;
	border-bottom: 5px solid #832253;
}

.Tkt .header_logo {
	position: relative;
}

.Tkt .logo {
	z-index: 1;
	position: relative;
	margin-bottom: -55px;
	margin-top: 10px;
}

.Tkt .customer-service {
	border: 1px solid #d9d9d9;
	display: inline-block;
	margin: 10px 0;
	padding: 10px;
}

.Tkt .customer-service .customer-text {
	display: inline-block;
	vertical-align: middle
}

.Tkt .customer-service .customer-text h4 {
	text-transform: capitalize;
	padding: 0;
	color: #101010;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}

.Tkt .customer-service .customer-text h4 a {
	font-size: 20px;
	color: #a63b71;
	line-height: 23px;
}

.Tkt .customer-service .customer-text h4 a:hover {
	color: #d66da2;
}

.Tkt .customer-service .customer-text P {
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	color: #101010;
	line-height: 16px;
    max-width: 28ch;
     overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.Tkt .customer-icon {
	display: inline-block;
	margin-left: 20px;
}

.Tkt .customer-icon img {
	border: 6px solid #d66da2;
	border-radius: 50%;
}


/*==============Navigation==========*/

.Tkt .menu_nav {
	/* margin: 0; */
	min-height: 0;
	background-color: transparent !important;
}

.Tkt .navbar {
	border-radius: 0px;
	margin-bottom: 0;
	text-align: right;
}

.Tkt .nav.navbar-nav {
	float: left!important;
}

.Tkt .navbar-default {
	background: #fff;
	border: none;
}

.Tkt .navbar-nav>li>a {
	padding: 7px 20px;
	background-color: transparent;
	border-radius: 3px;
	text-transform: capitalize;
	font-size: 14px !important;
	color: #fff;
	font-weight: 400 !important;
	line-height: 26px;

}

.Tkt .navbar-default .navbar-nav>li>a,
.Tkt .navbar-default .navbar-brand {
	color: #fff;
}

.Tkt .navbar-default .navbar-brand:focus,
.Tkt .navbar-default .navbar-brand:hover {
	color: #000;
}

.Tkt .navbar-default .navbar-nav>.open>a,
.Tkt .navbar-default .navbar-nav>.open>a:focus,
.Tkt .navbar-default .navbar-nav>.open>a:hover {
	background: transparent;
	color: #000;
}

.Tkt .navbar-default .navbar-nav>.active>a,
.Tkt .navbar-default .navbar-nav>li>a:focus,
.Tkt .navbar-default .navbar-nav>li>a:hover {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
	color: #fff !important;
	border-radius: 0;
}

#bs-example-navbar-collapse-1 {
	padding: 0;
}

.Tkt .dropdown-menu {
	left: -44px;
	top: 44px;
}

.Tkt .navbar-default .navbar-toggle .icon-bar {
	background-color: #a63b71;
}

.Tkt .dropdown-menu {
	padding: 0;
	top: 41px;
}

.Tkt .dropdown-menu>li>a {
	background: #ed2c2e;
	color: #fff;
	padding: 7px 30px;
}

@media(max-width:767px) {
	.Tkt .dropdown-menu {
		left: 0;
		float: none;
		position: relative;
		top: 0;
	}
	.Tkt .dropdown-menu::after {
		display: none;
	}
	.Tkt .navbar-default .navbar-toggle:focus,
	.Tkt .navbar-default .navbar-toggle:hover {
		background: #024281;
	}
}
.Tkt .navbar{
    box-shadow: none
}


/*==============End - Navigation==========*/

.Tkt .header-right {
	float: right;
}

.Tkt .header-right .sign-r {
	/* display: inline-block;
	padding: 11px 20px; */
	 font-size: 14px;
	/*line-height: 18px; */
	color: #fff;
	font-weight: 400;
    border: none;
    border-radius: 0;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
}

.Tkt .header-right .sign-r i {
	margin-right: 5px;
}

.Tkt .header-right .sign-r:hover {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=1);
	color: #fff;
}

.Tkt .email-top {
	font-size: 14px;
	padding: 10px;
	color: #fff;
	background: #832253;
    float: left;
    line-height: 20px;
	font-weight: 500;
}

.Tkt .email-top i {
	margin-right: 5px;
}

.Tkt .email-top:hover {
	background: #e17db0;
	color: #832253;
}








/*========================================popup-css==========================================*/





.Tkt .popup{
    overflow: hidden;
    float: left;
}



.Tkt .popup .btn-info:focus{outline: none;}

.Tkt .modal.fade .modal-dialog{
    margin-top: 160px;
    width: 60%;
}
.Tkt .modal-content{
    background: #ba5086;
    overflow: hidden;
}

.Tkt .modal-header{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.Tkt .close{
    color: #fff;
    opacity: 1;
    font-weight: 400;
    font-size: 25px;
}
.Tkt .close:hover{
    color: #832253;
    opacity: 1;
}
.Tkt .modal-body{
    overflow: hidden;
    padding: 50px 30px;
}
.Tkt .model-text {
    float: left;
    width: 50%;
    text-align: left;
}
.Tkt .model-text h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    padding: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.Tkt .model-text h3  span{
    font-weight: 400;
}
.Tkt .model-text ul li {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    font-weight: 400;
    position: relative;
    padding-left: 27px;
    font-family: 'Open Sans', sans-serif;
}

.Tkt .model-text ul li i {
    margin-right: 10px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 19px;
}


.Tkt .model-form{
    background: #fff;
    width: 48%;
    float: right;
    padding: 15px;
    border-radius: 5px;
    
}
.Tkt .model-form p{
    font-weight: 400;
}

.Tkt .model-form h3{
    color: #832253;
    padding: 0;
    font-size: 28px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.Tkt .model-form hr{
    height: 4px;
    background: #ba5086;
    margin: 10px 0 0 0;
    width: 20%;
    border: none;
}


.Tkt .model-form ul li{
    float: left;
    width: 49%;
    height: 45px;
    text-align: center;
    position: relative;
}

.Tkt .fb-model{
    background: #21509b;
    color: #fff;
    margin: 15px 0;
}
.Tkt .fb-model:hover{
    background: #133978;
}
.Tkt .google-model{
    background: #de4e43;
    color: #fff;
    float: right!important;
    margin: 15px 0;
}
.Tkt .google-model:hover{background: #cf3e33;}

.Tkt .fb-model a, .Tkt .google-model a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    display: block;
    width: 100%;
}

.Tkt .fb-log, .gp-log{
    text-align: center;
    display: block;
    margin: 10px 0;
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 15px;
}
.Tkt .fb-log{padding-left: 0;}
.Tkt .gp-log{padding-right: 0;}
.Tkt .model-form .form-control{
    font-family: 'Open Sans', sans-serif;
    border-radius: 0;
    height: 39px;
    border: 1px solid #b5b5b5;
}
.Tkt .model-form input[type="submit"]{
    width: 100%;
    background: #832253;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: none;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    
}
.Tkt .model-form input[type="password"]{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.Tkt .model-form input[type="checkbox"]{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.Tkt .model-form input[type="submit"]:hover{
    background: #e17db0;
    color: #731746!important;
    font-family: 'Open Sans', sans-serif;
}

.Tkt .model-form select{
    float: left;
    width: 30%;
    border-radius: 0px;
    padding: 8px 10px;
    background: #fff!important;
    height: 39px;
    border: 1px solid #b5b5b5;
}
.Tkt .name-se{
    float: right!important;
    width: 68% !important;
}
.Tkt .forgot-pass{
    text-align: center;
    display: block;
    font-size: 16px;
    color: #ba5086;
    font-weight: 600;
    margin-top: 15px;
     font-family: 'Open Sans', sans-serif;
}
.Tkt .back-login{
    text-align: center;
    padding: 10px 0;
    display: block;
    color: #ba5086;
    font-weight: 600;
}

.Tkt .back-login:hover{
    color: #731746;
}

.Tkt .cr-ac{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
     font-family: 'Open Sans', sans-serif;
}
.Tkt .cr-ac p{
    color: #3b3b3b !important;
}
.Tkt .cr-ac a{
    color: #ba5086;
}
.Tkt .cr-ac a:hover, .forgot-pass:hover{
    color: #832253;
}

.Tkt .btn-blue{
    width: 100%;
    background: #0094d9;
    color: #fff;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 18px;
    border: none;
}
.Tkt .btn-blue:hover{
    background: #004f87;
}




/* mobile view */

@media(max-width:1200px) {
	.Tkt .email-top {
		padding: 13px 10px;
	}
	/* .Tkt .header-right .sign-r {
		padding: 11px 6px;
	} */
	.Tkt .navbar-nav>li>a {
		padding: 10px 12px;
	}
	.Tkt .offer-text {
		padding: 20px 10px;
	}
    .Tkt .model-text h3{
        font-size: 22px;
        line-height: 30px;
    }
    .Tkt .modal.fade .modal-dialog{width: 80%;}
}

@media(max-width:991px) {
	/* .Tkt .header-right .sign-r {
		padding: 11px 15px;
	} */
	header.Tkt  {
		position: relative;
	}
	.Tkt.navbar {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		clear: both;
		margin: 0 15px;
	}
	.Tkt .header-right {
		float: left;
	}
	.Tkt .navbar-nav>li>a {
		padding: 7px 17px;
		border-right: none;
	}
	.Tkt .navbar-right {
		margin-right: 0;
	}
	.Tkt.navbar-header {
		float: none;
	}
	.Tkt .navbar-left,
	.Tkt .navbar-right {
		float: none !important;
	}
	.Tkt .navbar-toggle {
		display: block;
	}
	.navbar-collapse {}
	.Tkt .navbar-collapse.collapse {
		display: none!important;
	}
	.Tkt .navbar-nav {
		float: none!important;
		background: #e17db0;
		float: left !important;
		position: absolute;
		top: 46px;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	.Tkt .navbar-nav>li {
		float: none;
		border-bottom: 1px solid #fff;
	}
	.Tkt .navbar-default .navbar-nav>.active>a:hover {
		background: #832253;
	}
	.Tkt .navbar-default .navbar-nav>.active>a,
	.Tkt .navbar-default .navbar-nav>li>a:focus,
	.Tkt .navbar-default .navbar-nav>li>a:hover {
		background: #832253 !important;
		color: #ffff !important;
	}
	.Tkt .navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		color: #fff !important;
	}
	.Tkt .collapse.in {
		display: block !important;
		border: none;
	}
	.Tkt .menu_nav .navbar-toggle {
		background: #fff;
		margin: 0;
		border-radius: 5px;
		height: 36px;
		width: 50px;
		text-align: center;
		padding: 9px 13px;
		position: absolute;
		right: 0;
		top: 3px;
	}
	.Tkt .navbar-toggle .icon-bar {
		height: 4px;
	}
	.Tkt .navbar-default .navbar-toggle:focus,
	.Tkt .navbar-default .navbar-toggle:hover {
		background: #e6e6e6;
		color: #fff;
	}
	.Tkt .logo {
		margin-bottom: 0;
	}
	.Tkt .customer-service {
		margin: 28px 0;
	}
	.Tkt .right-div {
		margin-top: 30px;
	}
    .Tkt .modal.fade .modal-dialog{
        width: 90%;
        margin-top: 110px;
    }
    .Tkt .phone-email .last-number{padding-left: 40px;}
}

@media(max-width:767px) {

	.Tkt .navbar-nav>li>a {
		font-size: 16px;
	}
	.Tkt .logo {
		text-align: left;
	}
	.Tkt .navbar-nav {
		margin: 5px 0;
	}
	.Tkt .navbar-default .navbar-collapse,
	.Tkt .navbar-default .navbar-form {
		border: none;
	}
	
	.Tkt .navbar-collapse {
		padding: 0 !important;
	}
	.Tkt .reserved {
		float: none;
		text-align: center;
	}
	.Tkt .Powered {
		float: none;
		text-align: center;
	}
	.Tkt .menu_nav {
		min-height: auto;
		margin-top: 0;
		padding: 0;
	}
	.Tkt .section-svg-inverse svg {
		display: none !important;
		overflow: hidden !important;
		height: 0 !important;
		width: 0 !important;
		left: 0 !important;
		-webkit-transform: none;
		transform: none;
	}
	footer {
		padding: 30px 0 15px 0;
	}
	.Tkt .footer-logo p {
		margin-bottom: 15px;
	}
	.Tkt .phone-email {
		margin-bottom: 15px;
	}
	.Tkt .footer-contact ul {
		margin: 20px 0;
	}
	.Tkt .all-reserved {
		margin-top: 10px;
	}
    .Tkt .model-text{display: none;}
    .Tkt .model-form{
        width: 100%;
        float: none;
    }
    .Tkt .modal.fade .modal-dialog{
        width: 70%;
        transform: translate(20%,0px)
    }
    .Tkt .model-form input[type="submit"]{margin-top: 13px;}	
    .Tkt .phone-email .last-number{padding-left: 0px;}		
}

@media(max-width:650px){
     .model-form ul li{
        width: 100%;
        float: none!important;
        clear: both;
    }
    .model-form input[type="checkbox"]{margin-bottom: 0;}
}


@media(max-width:500px) {
	.Tkt .email-top {
		display: none;
	}
	/* .Tkt .header-right .sign-r {
		padding: 11px 20px;
	} */
	.Tkt .nav-tabs2 {
		padding-left: 6px;
	}
	.Tkt .nav-tabs>li {
		float: none;
	}
	.Tkt .customer-icon {
		display: none;
	}

    .Tkt .modal.fade .modal-dialog{
        width: 80%;
        transform: translate(10%,0px);
    }
    .Tkt .name-se{
        width: 100%!important;
        float: none!important;
    }
    .Tkt .model-form select{
        width: 100%!important;
    }
    .Tkt .cr-ac, .Tkt .forgot-pass{font-size: 14px;}
    
}

@media(max-width:450px) {
	.Tkt .customer-service {
		margin: 10px 0;
	}
	.Tkt .offer-text p,
	.Tkt .offer-text a {
		float: none;
		display: block;
		text-align: center;
	}
    .Tkt .customer-service .customer-text P{
        overflow: visible;
        display: block;
    }
}

@media(max-width:330px) {
    .Tkt .header-right .sign-r{padding: 11px 8px;}
    
}

.Tkt .nav>li {

    padding: 0 !important;
}

.Tkt .navbar-default .navbar-nav>li>a::after{
    background: none !important;
}
/* @media (max-width: 1400px) and (min-width: 1025px){
    .nav>li {
        padding: 0 4px;
    }
} */




/*==========Footer===========*/

footer {
	background: url(/KhartoumTKT/images/footer-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 60px 0 15px 0;
}

.Tkt .footer-logo p {
	position: relative;
	padding-left: 40px;
	color: #000000;
	font-size: 15px;
	font-weight: 500;
	padding-top: 0;
	margin-top: 20px;
     overflow: hidden;
    
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 8; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.Tkt .footer-logo p i {
	position: absolute;
	top: 3px;
	left: 0;
	height: 33px;
	width: 33px;
	border: 1px solid #832253;
	border-radius: 50%;
	text-align: center;
	color: #832253;
	line-height: 33px;
	font-size: 20px;
}

.Tkt .phone-email {
	margin-bottom: 30px;
}

.Tkt .phone-email h5 {
	color: #832253;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}

.Tkt .phone-email a {
	position: relative;
	padding-left: 40px;
	display: inline-block;
	color: #221c1c;
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
}
.Tkt .phone-email .last-number{padding-left: 0;}
.Tkt .phone-email a:hover {
	color: #832253;
}

.Tkt .phone-email a i {
	position: absolute;
	top: 0px;
	left: 0;
	height: 33px;
	width: 33px;
	border: 1px solid #832253;
	border-radius: 50%;
	text-align: center;
	color: #832253;
	line-height: 30px;
	font-size: 17px;
}

.Tkt .footer-contact ul li {
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.Tkt .footer-contact ul li a {
	height: 33px;
	width: 33px;
	border-radius: 50%;
	border: 1px solid #832253;
	font-size: 18px;
	color: #832253;
	display: block;
	text-align: center;
	line-height: 32px;
}

.Tkt .footer-contact ul li a:hover {
	background: #832253;
	color: #fff;
}

.Tkt .quick-link h4 {
	color: #832253;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}

.Tkt .quick-link ul li {
	display: block;
	padding-bottom: 18px;
}

.Tkt .quick-link ul li a {
	color: #000000;
	font-size: 15px;
	font-weight: 500;
}

.Tkt .quick-link ul li a:hover {
	color: #832253;
}

.Tkt .all-reserved {
	padding: 10px 0;
	margin-top: 30px;
	border-top: 1px solid #ad8a9a;
}

.Tkt .reserved {
	float: left;
}

.Tkt .reserved p {
	color: #000;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0;
}

.Tkt .Powered {
	float: right;
}

.Tkt .Powered p {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 13px;
	font-weight: 500;
}

.Tkt .Powered a {
	display: inline-block;
}


.Tkt ol,
ul,
li {
	list-style: none;
}


.currency .dropdown a {
    position: relative;
    text-decoration: none;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 13px !important;
    color: #fad41a;
    text-align: initial;
    cursor: pointer;
    font-weight: 400;
}

.currency .dropdown a svg {
    margin: 6px 5px 0px 5px;
}

.currency .dropdown a span {
    margin-right: 3px;
}

.currency .dropdown-menu a::after {
    display: none;
}

.currency .dropdown-menu {
    border-radius: 0px;
    padding: 5px 4px;
	/* width: 195px; */
	left: 0;
	top: 38px !important;
}

.currency .dropdown-menu a {
    padding: 5px;
    width: 100%;
    float: left;
    font-family: tahoma;
    color: #292929;
    font-size: 13px;
    border: 1px solid #dadada;
    border-radius: 0px;
    text-decoration: none;
    /* margin-bottom: 4px; */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 3px;
}

.currency .header_top .dropdown-item {
    padding: 5px 5px !important;
}

.currency .dropdown-menu a:hover {
    color: #292929;
    border: 1px solid #00a8e1 !important;
    background: #e0e0e0;
}

.currency .dropdown-menu a:last-child {
    margin-bottom: 0px;
}

@media (max-width: 767px) {
	.currency .dropdown-menu {
		float: left;
		position: absolute;
		top: 41px;
	}
}

/* language */

.lang {
	float: right;
	padding: 0 0;
	z-index: 5;
	margin: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.lang:hover {
	color: #000;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	min-width: auto;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: 0px;
	left: 0px;
	top: 43px;
	padding: 0;
	background: #fff !important;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
	border:none !important;
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff !important;
	border-bottom: 1px solid #e17db0 !important;
}
.lang .dropdown-menu li:last-child {
	border-bottom: none !important;
}
.lang .dropdown-menu li a {
	padding: 5px 12px !important;
	color: #fff !important;
	font-size: 14px !important;
	border:none;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #832253 !important;
	text-decoration: none !important;
	background-color: #efefef !important;
}
.lang .dropdown {
    padding: 0px;
}
.lang .dropdown a {
    background: #832253 !important;
    color: #fff !important;
    text-decoration: none;
    font-size: 14px !important;
	padding: 10px 20px !important;
    font-weight: 500 !important;
    border-bottom: none;
    display: block;
	border:none;
border-radius: 0;
}
.lang .dropdown a:hover{
	color: #832253 !important;
    text-decoration: none !important;
    background-color: #efefef !important;
	border:none !important;
}

.lang .dropdown-menu a{
	margin-bottom:0px;
	border-bottom: 1px solid #e17db0 !important;
}
.lang .dropdown-menu a:last-child {
    border-bottom: none !important;
}
.modal {
	padding-right: 0px !important;
}
body { padding-right: 0 !important }
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.currency {
	margin-right: 10px;
	line-height: 18px;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 11px;
}
/* rtl-header */

.ar_direction1 .col-lg-1, .ar_direction1 .col-lg-10, .ar_direction1 .col-lg-11, .ar_direction1 .col-lg-12, .ar_direction1 .col-lg-2, .ar_direction1 .col-lg-3, .ar_direction1 .col-lg-4, .ar_direction1 .col-lg-5, .ar_direction1 .col-lg-6, .ar_direction1 .col-lg-7, .ar_direction1 .col-lg-8, .col-lg-9 {
	float: right;
}
.ar_direction1 .col-md-1, .ar_direction1 .col-md-10, .ar_direction1 .col-md-11, .ar_direction1 .col-md-12, .ar_direction1 .col-md-2, .ar_direction1 .col-md-3, .ar_direction1 .col-md-4, .ar_direction1 .col-md-5, .ar_direction1 .col-md-6, .ar_direction1 .col-md-7, .ar_direction1 .col-md-8, .ar_direction1 .col-md-9 {
	float: right;
}
.ar_direction1 .col-sm-1, .ar_direction1 .col-sm-10, .ar_direction1 .col-sm-11, .ar_direction1 .col-sm-12, .ar_direction1 .col-sm-2, .ar_direction1 .col-sm-3, .ar_direction1 .col-sm-4, .ar_direction1 .col-sm-5, .ar_direction1 .col-sm-6, .ar_direction1 .col-sm-7, .ar_direction1 .col-sm-8, .ar_direction1 .col-sm-9 {
	float: right;
}
.ar_direction1 .col-md-offset-6 {
    margin-right: 50%;
    margin-left: 0;
}
.ar_direction1 .col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: 0;
}
.ar_direction1 .col-lg-offset-3 {
    margin-right:0;
    margin-left: 0;
}

/* rtl Header and Footer CSS Start*/

.ar_direction1 .top-nav {
	background: #a63b71;
	border-bottom: 5px solid #832253;
}
.ar_direction1 .header_logo {
	position: relative;
}
.ar_direction1 .logo {
	z-index: 999;
	position: relative;
	margin-bottom: -55px;
	margin-top: 10px;
}
.ar_direction1 .customer-service {
	border: 1px solid #d9d9d9;
	display: inline-block;
	margin: 10px 0;
	padding: 10px;
}
.ar_direction1 .customer-service .customer-text {
	display: inline-block;
	vertical-align: middle
}
.ar_direction1 .customer-service .customer-text h4 {
	text-transform: capitalize;
	padding: 0;
	color: #101010;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}
.ar_direction1 .customer-service .customer-text h4 a {
	font-size: 20px;
	color: #a63b71;
	line-height: 23px;
}
.ar_direction1 .customer-service .customer-text h4 a:hover {
	color: #d66da2;
}
.ar_direction1 .customer-service .customer-text P {
	padding: 0;
	font-size: 13px;
	font-weight: 400;
	color: #101010;
	line-height: 16px;
	max-width: 28ch;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.ar_direction1 .customer-icon {
	display: inline-block;
	margin-right: 20px;
}
.ar_direction1 .customer-icon img {
	border: 6px solid #d66da2;
	border-radius: 50%;
}
.ar_direction1 .popup {
    overflow: hidden;
    float: right;
}
.ar_direction1 .header-right {
	float: right;
}
.ar_direction1 .header-right .sign-r {
	display: inline-block;
	padding: 15px 15px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 400;
	border: none;
	border-radius: 0;
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(34%, rgba(220, 38, 129, 1)), color-stop(81%, rgba(140, 34, 89, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(top, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(to bottom, rgba(220, 38, 129, 1) 0%, rgba(220, 38, 129, 1) 34%, rgba(140, 34, 89, 1) 81%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=0);
}
.ar_direction1 .header-right .sign-r i {
	margin-left: 5px;
}
.ar_direction1 .header-right .sign-r:hover {
	background: rgba(220, 38, 129, 1);
	background: -moz-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(220, 38, 129, 1)), color-stop(100%, rgba(140, 34, 89, 1)));
	background: -webkit-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: -ms-linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
	background: linear-gradient(45deg, rgba(220, 38, 129, 1) 0%, rgba(140, 34, 89, 1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc2681', endColorstr='#8c2259', GradientType=1);
	color: #fff;
}
.ar_direction1 .email-top {
	font-size: 16px;
	padding: 15px 20px;
	color: #fff;
	background: #832253;
	float: left;
	line-height: 18px;
	font-weight: 500;
}
.ar_direction1 .email-top i {
	margin-left: 5px;
}
.ar_direction1 .email-top:hover {
	background: #e17db0;
	color: #832253;
}
/*===End-Header=====*/



/*======================================== rtl popup-css==========================================*/

.ar_direction1 .popup {
	overflow: hidden;
	float: right;
}
.ar_direction1 .popup .btn-info:focus {
	outline: none;
}
.ar_direction1 .modal.fade .modal-dialog {
	margin-top: 160px;
	width: 60%;
}
.Tkt .ar_direction1 .modal-content {
	background: #ba5086;
	overflow: hidden;
}
.Tkt .ar_direction1 .modal-header {
	border: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.Tkt .ar_direction1 .close {
	color: #fff;
	opacity: 1;
	font-weight: 400;
	font-size: 25px;
}
.Tkt .ar_direction1 .close:hover {
	color: #832253;
	opacity: 1;
}
.Tkt .ar_direction1 .modal-body {
	overflow: hidden;
	padding: 50px 30px;
}
.Tkt .ar_direction1 .model-text {
	float: right;
	width: 50%;
	text-align: right;
}
.Tkt .ar_direction1 .model-text h3 {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	padding: 0;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}
.Tkt .ar_direction1 .model-text h3 span {
	font-weight: 400;
}
.Tkt .ar_direction1 .model-text ul li {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 15px 0;
	font-weight: 400;
	position: relative;
	padding-right: 27px;
	font-family: 'Open Sans', sans-serif;
}
.Tkt .ar_direction1 .model-text ul li i {
    margin-left: 10px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: 19px;
}
.Tkt .ar_direction1 .model-form {
	background: #fff;
	width: 48%;
	float: left;
	padding: 15px;
	border-radius: 5px;
}
.Tkt .ar_direction1 .model-form p {
	font-weight: 400;
}
.Tkt .ar_direction1 .model-form h3 {
	color: #832253;
	padding: 0;
	font-size: 28px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
}
.Tkt .ar_direction1 .model-form hr {
	height: 4px;
	background: #ba5086;
	margin: 10px 0 0 0;
	width: 20%;
	border: none;
}
.Tkt .ar_direction1 .model-form ul li {
	float: left;
	width: 49%;
	height: 45px;
	text-align: center;
	position: relative;
}
.Tkt .ar_direction1 .fb-model {
	background: #21509b;
	color: #fff;
	margin: 15px 0;
}
.Tkt .ar_direction1 .fb-model:hover {
	background: #133978;
}
.ar_direction1 .google-model {
	background: #de4e43;
	color: #fff;
	float: right!important;
	margin: 15px 0;
}
.ar_direction1 .google-model:hover {
	background: #cf3e33;
}
.ar_direction1 .fb-model a, .google-model a {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 44px;
	display: block;
	width: 100%;
}
.ar_direction1 .fb-log, .ar_direction1 .gp-log {
	text-align: center;
	display: block;
	margin: 10px 0;
	float: left;
	width: 50%;
	padding: 0 10px;
	margin-top: 15px;
}
.ar_direction1 .fb-log {
	padding-left: 0;
}
.ar_direction1 .gp-log {
	padding-right: 0;
}
.ar_direction1 .model-form .form-control {
	font-family: 'Open Sans', sans-serif;
	border-radius: 0;
	height: 39px;
	border: 1px solid #b5b5b5;
}
.ar_direction1 .model-form input[type="submit"] {
	width: 100%;
	background: #832253;
	color: #fff;
	text-align: center;
	font-size: 20px;
	border: none;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.ar_direction1 .model-form input[type="password"] {
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.ar_direction1 .model-form input[type="checkbox"] {
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.ar_direction1 .model-form input[type="submit"]:hover {
	background: #e17db0;
	color: #731746!important;
	font-family: 'Open Sans', sans-serif;
}
.ar_direction1 .model-form select {
	float: left;
	width: 30%;
	border-radius: 0px;
	padding: 8px 10px;
	background: #fff!important;
	height: 39px;
	border: 1px solid #b5b5b5;
}
.ar_direction1 .name-se {
	float: right!important;
	width: 68% !important;
}
.ar_direction1 .forgot-pass {
	text-align: center;
	display: block;
	font-size: 16px;
	color: #ba5086;
	font-weight: 600;
	margin-top: 15px;
	font-family: 'Open Sans', sans-serif;
}
.ar_direction1 .back-login {
	text-align: center;
	padding: 10px 0;
	display: block;
	color: #ba5086;
	font-weight: 600;
}
.ar_direction1 .back-login:hover {
	color: #731746;
}
.ar_direction1 .cr-ac {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.ar_direction1 .cr-ac p {
 color: #3b3b3b !important;
}
.ar_direction1 .cr-ac a {
	color: #ba5086;
}
.ar_direction1 .cr-ac a:hover, .forgot-pass:hover {
	color: #832253;
}


.ar_direction1 .our-partner {
	padding: 40px 0;
	background: #f5f5f5;
	margin-top: 30px;
}
.ar_direction1 .our-partner h2 {
    text-align: right;
    font-size: 26px;
    text-transform: capitalize;
    color: #832253;
    padding: 0 30px 40px 0;
}
.ar_direction1 .our-partner .owl-carousel {
	background: #fff;
	padding: 30px 60px;
	position: relative;
}
.ar_direction1 .partner-logo .owl-item img {
	width: auto;
	display: inline-block;
	border-radius: 0;
	width: 100%;
	padding: 7px 15px;
	border: 2px solid #efefef;
	margin: 2px 0;
}
.ar_direction1 .partner-logo .owl-item .item {
	text-align: center;
	border-radius: 0;
	padding: 0 10px;
}
.ar_direction1 .partner-logo .owl-buttons {
	display: block;
}
.ar_direction1 .partner-logo .owl-buttons div {
	position: absolute;
	top: 40%;
	background: #ba5086!important;
	color: #fff!important;
	height: 36px;
	width: 36px;
	border-radius: 50%;
	font-size: 24px !important;
	text-align: center;
	margin: 0 auto !important;
}
.ar_direction1 .partner-logo .owl-buttons .owl-prev {
	left: 15px;
}
.ar_direction1 .partner-logo .owl-buttons .owl-next {
	right: 15px;
}
.ar_direction1 .partner-logo .owl-pagination {
	display: none;
}
/*==========Footer===========*/

footer .ar_direction1  {
	background: url(../images/footer-bg.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 60px 0 15px 0;
}
.ar_direction1 .footer-logo p {
	position: relative;
	padding-right: 40px;
	color: #000000;
	font-size: 15px;
	font-weight: 500;
	padding-top: 0;
	margin-top: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 8; /* number of lines to show */
	-webkit-box-orient: vertical;
}
.ar_direction1 .footer-logo p i {
	position: absolute;
	top: 3px;
	right: 0;
	height: 33px;
	width: 33px;
	border: 1px solid #832253;
	border-radius: 50%;
	text-align: center;
	color: #832253;
	line-height: 33px;
	font-size: 20px;
}
.ar_direction1 .phone-email {
	margin-bottom: 30px;
}
.ar_direction1 .phone-email h5 {
	color: #832253;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}
.ar_direction1 .phone-email a {
	position: relative;
	padding-right: 40px;
	display: inline-block;
	color: #221c1c;
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
}
.ar_direction1 .phone-email .last-number {
	padding-right: 0;
}
.ar_direction1 .phone-email a:hover {
	color: #832253;
}
.ar_direction1 .phone-email a i {
	position: absolute;
	top: 0px;
	right: 0;
	height: 33px;
	width: 33px;
	border: 1px solid #832253;
	border-radius: 50%;
	text-align: center;
	color: #832253;
	line-height: 30px;
	font-size: 17px;
}
.ar_direction1 .footer-contact ul li {
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}
.ar_direction1 .footer-contact ul li a {
	height: 33px;
	width: 33px;
	border-radius: 50%;
	border: 1px solid #832253;
	font-size: 18px;
	color: #832253;
	display: block;
	text-align: center;
	line-height: 32px;
}
.ar_direction1 .footer-contact ul li a:hover {
	background: #832253;
	color: #fff;
}
.ar_direction1 .quick-link h4 {
	color: #832253;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
}
.ar_direction1 .quick-link ul li {
	display: block;
	padding-bottom: 18px;
}
.ar_direction1 .quick-link ul li a {
	color: #000000;
	font-size: 15px;
	font-weight: 500;
}
.ar_direction1 .quick-link ul li a:hover {
	color: #832253;
}
.all-reserved {
	padding: 10px 0;
	margin-top: 30px;
	border-top: 1px solid #ad8a9a;
}
.ar_direction1 .reserved {
	float: right;
}
.ar_direction1 .reserved p {
	color: #000;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0;
}
.ar_direction1 .Powered {
	float: left;
}
.ar_direction1 .Powered p {
	display: inline-block;
	vertical-align: middle;
	color: #000;
	font-size: 13px;
	font-weight: 500;
}
.ar_direction1 .Powered a {
	display: inline-block;
}
.ar_direction1 .scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	left: 15px;
	z-index: 999999;
	display: none;
	border-radius: 5px;
	background-color: #832253;
	border: 1px solid #832253;
}
.ar_direction1 .scrollToTop:hover, .scrollToTop:focus {
	background: #ba5086;
	color: #fff;
	border-color: #ba5086;
}



/* Mobile */


/*Header and Footer CSS Start*/
@media(max-width:1200px) {
	.email-top {
		padding: 11px 9px;
	}
	.header-right .sign-r {
		padding: 11px 3px;
	}
	.navbar-nav>li>a {
		padding: 10px 12px;
	}
	.model-text h3 {
		font-size: 22px;
		line-height: 30px;
	}
	.modal.fade .modal-dialog {
		width: 80%;
	}
	}
	@media(max-width:991px) {
	/* .header-right .sign-r {
		padding: 11px 15px;
	} */
	header {
		position: relative;
	}
	.navbar {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		clear: both;
		margin: 0 15px;
	}
	.header-right {
		float: left;
	}
	.navbar-nav>li>a {
		padding: 7px 17px;
		border-right: none;
	}
	.navbar-right {
		margin-right: 0;
	}
	.navbar-header {
		float: none;
	}
	.navbar-left,  .navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		background: #e17db0;
		float: left !important;
		position: absolute;
		top: 46px;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	.navbar-nav>li {
		float: none;
		border-bottom: 1px solid #fff;
	}
	.navbar-default .navbar-nav>.active>a:hover {
		background: #832253;
	}
	.navbar-default .navbar-nav>.active>a,  .navbar-default .navbar-nav>li>a:focus,  .navbar-default .navbar-nav>li>a:hover {
		background: #832253;
		color: #ffff !important;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: left;
		color: #fff !important;
	}
	.collapse.in {
		display: block !important;
		border: none;
	}
	.menu_nav .navbar-toggle {
		background: #fff;
		margin: 0;
		border-radius: 5px;
		height: 36px;
		width: 50px;
		text-align: center;
		padding: 9px 13px;
		position: absolute;
		right: 0;
		top: 3px;
	}
	.navbar-toggle .icon-bar {
		height: 4px;
	}
	.navbar-default .navbar-toggle:focus,  .navbar-default .navbar-toggle:hover {
		background: #e6e6e6;
		color: #fff;
	}
	.lang {
		float: left;
	}
	.lang .dropdown, .dropup {
		position: absolute;
	}
	.logo {
		margin-bottom: 0;
	}
	.customer-service {
		margin: 28px 0;
	}
	.news-event .item .date {
		width: 10%;
	}
	.modal.fade .modal-dialog {
		width: 90%;
		margin-top: 110px;
	}
	.phone-email .last-number {
		padding-left: 40px;
	}
	}
	@media(max-width:767px) {
	.navbar-nav>li>a {
		font-size: 16px;
	}
	.logo {
		text-align: left;
	}
	.navbar-nav {
		margin:0;
		top: 45px !important;
	}
	.navbar-default .navbar-collapse,  .navbar-default .navbar-form {
		border: none;
	}
	.Tkt .navbar {
		position: absolute;
		top: 0;
		right: -62px;
		left: 0;
		clear: both;
		margin: 0 15px;
	}
	.Tkt .lang {
		float: left;
		position: absolute;
		left: -110px;
	}
	.currency {
		margin-right: 10px;
		line-height: 17px;
		left: -185px !important;
	}
	.Tkt .lang .dropdown, .dropup {
		position: absolute;
	}
	.Tkt .lang .dropdown-menu {
		top: 0;
	}
	.Tkt .lang .dropdown a {
		padding: 8px 0px 13px 0 !important;
		text-align: center;
		width: 70px;
		font-size: 13px !important;
	}
	#btn-login {
		display: none;
	}
	.Tkt .email-top {
		display: none;
	}
	.Tkt .navbar-collapse {
		padding: 0 !important;
	}
	.Tkt .reserved {
		float: none;
		text-align: center;
	}
	.Tkt .Powered {
		float: none;
		text-align: center;
	}
	.Tkt .menu_nav {
		min-height: auto;
		margin-top: 0;
		padding: 0;
	}
	.Tkt .our-partner {
		padding: 30px 0;
	}
	.Tkt .our-partner h2 {
		padding-bottom: 25px;
	}
	.Tkt .bg-pattern {
		padding: 40px 0;
	}
	footer {
		padding: 30px 0 15px 0;
	}
	.Tkt .footer-logo p {
		margin-bottom: 15px;
	}
	.Tkt .phone-email {
		margin-bottom: 15px;
	}
	.footer-contact ul {
		margin: 20px 0;
	}
	.all-reserved {
		margin-top: 10px;
	}
	.Tkt .model-text {
		display: none;
	}
	.Tkt .model-form {
		width: 100%;
		float: none;
	}
	.Tkt .modal.fade .modal-dialog {
		width: 70%;
		transform: translate(20%, 0px)
	}
	.Tkt .model-form input[type="submit"] {
		margin-top: 13px;
	}
	.Tkt .phone-email .last-number {
		padding-left: 0px;
	}
	}
	
	@media(max-width:650px) {
	.model-form ul li {
		width: 100%;
		float: none!important;
		clear: both;
	}
	.model-form input[type="checkbox"] {
		margin-bottom: 0;
	}
	}
	@media(max-width:500px) {
	
	.header-right .sign-r {
		padding: 11px 12px;
		font-size: 12px;
	}
	.customer-icon {
		display: none;
	}
	.modal.fade .modal-dialog {
		width: 80%;
		transform: translate(10%, 0px);
	}
	.name-se {
		width: 100%!important;
		float: none!important;
	}
	.model-form select {
		width: 100%!important;
	}
	.cr-ac, .forgot-pass {
		font-size: 14px;
	}
	}
	@media(max-width:450px) {
	.customer-service {
		margin: 10px 0;
	}
	.offer-text p,  .offer-text a {
		float: none;
		display: block;
		text-align: center;
	}
	.customer-service .customer-text P {
		overflow: visible;
		display: block;
	}
	.search-section .nav-tabs2 li a {
		font-size: 12px;
	}
	.search-section .nav-tabs2 li a::before {
		top: -2px;
	}
	}
	@media(max-width:330px) {
	.header-right .sign-r {
		padding: 11px 7px;
	}
	.header-right .sign-r i {
		margin-right: 1px;
	}
	}
	/*Header and Footer CSS End*/
	
	
	
	
	
	
	
	@media(max-width:1200px) {
	.offer-text {
		padding: 20px 10px;
	}
	}
	/*=========END-1200px==========*/
	@media(max-width:320px) {
		.Tkt .header-right .sign-r {
			padding: 11px 4px;
		}
	}
	@media(width:768px) {
		.Tkt .lang {
			margin: -2px;
		}
		.lang .dropdown a {
			padding: 16px 23px 10px 16px !important;
		}
	}
	


	/* rtl -media */

	/*Header and Footer CSS Start*/
	@media(max-width:1200px) {
		.Tkt .ar_direction1 .email-top {
			padding: 14px 9px;
		}
		.Tkt .ar_direction1 .header-right .sign-r {
			padding: 14px 0px;
		}
		.Tkt .ar_direction1 .navbar-nav>li>a {
			padding: 13px 9px;
		}
		.Tkt .ar_direction1 .model-text h3 {
			font-size: 22px;
			line-height: 30px;
		}
		.Tkt .ar_direction1 .modal.fade .modal-dialog {
			width: 80%;
		}
		}
		@media(max-width:991px) {
			.Tkt .ar_direction1 .ar_direction1 .header-right .sign-r {
			padding: 11px 15px;
		}
		header .Tkt .ar_direction1{
			position: relative;
			overflow-x: hidden;
		}
		.Tkt .ar_direction1 .navbar {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			clear: both;
			margin: 0 15px;
		}
		.Tkt .ar_direction1 .header-right {
			float: right;
		}
		.Tkt .ar_direction1 .navbar-nav>li>a {
			padding: 7px 17px;
			border-right: none;
		}
		.Tkt .ar_direction1 .navbar-right {
			margin-right: 0;
		}
		.Tkt .ar_direction1 .navbar-header {
			float: none;
		}
		.Tkt .ar_direction1 .navbar-left,  .Tkt .ar_direction1 .navbar-right {
			float: none !important;
		}
		.Tkt .navbar-toggle {
			display: block;
		}
		.navbar-collapse {
		}
		.Tkt .ar_direction1 .navbar-collapse.collapse {
			display: none!important;
		}
		.Tkt .ar_direction1 .navbar-nav {
			float: none!important;
			background: #e17db0;
			float: left !important;
			position: absolute;
			top: 46px;
			left: 0;
			right: 0;
			z-index: 9999;
		}
		.Tkt .ar_direction1 .navbar-nav>li {
			float: none;
			border-bottom: 1px solid #fff;
		}
		.Tkt .ar_direction1 .navbar-default .navbar-nav>.active>a:hover {
			background: #832253;
		}
		.Tkt .ar_direction1 .navbar-default .navbar-nav>.active>a, .Tkt .ar_direction1 .navbar-default .navbar-nav>li>a:focus, .Tkt .ar_direction1 .navbar-default .navbar-nav>li>a:hover {
			background: #832253;
			color: #ffff !important;
		}
		.Tkt .ar_direction1 .navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: right;
			color: #fff !important;
		}
		.Tkt .ar_direction1 .collapse.in {
			display: block !important;
			border: none;
		}
		.Tkt .ar_direction1 .menu_nav .navbar-toggle {
			background: #fff;
			margin: 0;
			border-radius: 5px;
			height: 36px;
			width: 50px;
			text-align: center;
			padding: 9px 13px;
			position: absolute;
			left: 0 !important;
			top: 3px;
			right: unset;
		}
		.Tkt .ar_direction1 .navbar-toggle .icon-bar {
			height: 4px;
		}
		.Tkt .ar_direction1 .navbar-default .navbar-toggle:focus,  .Tkt .ar_direction1 .navbar-default .navbar-toggle:hover {
			background: #e6e6e6;
			color: #fff;
		}
		.Tkt .ar_direction1 .lang {
			float: right;
		}
		.Tkt .ar_direction1 .lang .dropdown, .Tkt .ar_direction1 .dropup {
			position: absolute;
		}
		.Tkt .ar_direction1 .logo {
			margin-bottom: 0;
		}
		.Tkt .ar_direction1 .customer-service {
			margin: 28px 0;
		}
		.Tkt .ar_direction1 .news-event .item .date {
			width: 10%;
		}
		.Tkt .ar_direction1 .modal.fade .modal-dialog {
			width: 90%;
			margin-top: 110px;
		}
		.Tkt .ar_direction1 .phone-email .last-number {
			padding-right: 40px;
		}
		.Tkt .ar_direction1 .col-md-offset-6 {
			margin-right: 0;
			margin-left: 0;
		}
		.Tkt .ar_direction1 .col-md-offset-8 {
			margin-right: 0;
			margin-left: 0;
		}
		.Tkt .ar_direction1 #flight-hotel .col-md-offset-8 {
			margin-right: 66.66666667%;
			margin-left: 0;
		} 
		}
		@media(max-width:767px) {
			.Tkt .ar_direction1 .navbar-nav>li>a {
			font-size: 16px;
		}
		.Tkt .ar_direction1 .logo {
			text-align: left;
		}
		.Tkt .ar_direction1 .navbar-nav {
			margin:0;
			top: 45px !important;
		}
		.Tkt .ar_direction1 .navbar-default .navbar-collapse, .Tkt .ar_direction1 .navbar-default .navbar-form {
			border: none;
		}
		.Tkt .ar_direction1 .navbar {
			position: absolute;
			top: 0;
			right: 0;
			left: -62px;
			clear: both;
			margin: 0 15px;
		}
		.Tkt .ar_direction1 .lang {
			float: right;
			position: absolute;
			right: -109px;
		}
		.Tkt .ar_direction1 .lang .dropdown, .Tkt .ar_direction1 .dropup {
			position: absolute;
		}
		.Tkt .ar_direction1 .lang .dropdown-menu {
			top: 0;
		}
		.Tkt .ar_direction1 .lang .dropdown a {
			padding: 9px 0 13px 9px !important;
			text-align: center;
			width: 70px;
			font-size: 13px !important;
			float: unset;
		}
		.Tkt .ar_direction1 .email-top {
			display: none;
		}
		.ar_direction1 .navbar-collapse {
			padding: 0 !important;
		}
		.Tkt .ar_direction1 .reserved {
			float: none;
			text-align: center;
		}
		.Tkt .ar_direction1 .Powered {
			float: none;
			text-align: center;
		}
		.Tkt .ar_direction1 .menu_nav {
			min-height: auto;
			margin-top: 0;
			padding: 0;
		}
		.Tkt .ar_direction1 .our-partner {
			padding: 30px 0;
		}
		.Tkt .ar_direction1 .our-partner h2 {
			padding-bottom: 25px;
		}
		.Tkt .ar_direction1 .bg-pattern {
			padding: 40px 0;
		}
		footer .ar_direction1  {
			padding: 30px 0 15px 0;
		}
		.Tkt .ar_direction1 .footer-logo p {
			margin-bottom: 15px;
		}
		.Tkt .ar_direction1 .phone-email {
			margin-bottom: 15px;
		}
		.Tkt .ar_direction1 .footer-contact ul {
			margin: 20px 0;
		}
		.Tkt .ar_direction1 .all-reserved {
			margin-top: 10px;
		}
		.Tkt .ar_direction1 .model-text {
			display: none;
		}
		.Tkt .ar_direction1 .model-form {
			width: 100%;
			float: none;
		}
		.Tkt .ar_direction1 .modal.fade .modal-dialog {
			width: 80%;
			transform: translate(0px, 0px);
			margin-left: auto;
			margin-right: auto;
		}
		.Tkt .ar_direction1 .model-form input[type="submit"] {
			margin-top: 13px;
		}
		.Tkt .ar_direction1 .phone-email .last-number {
			padding-right: 0px;
		}
		}
		
		@media(max-width:650px) {
			.Tkt .ar_direction1 .model-form ul li {
			width: 100%;
			float: none!important;
			clear: both;
		}
		.Tkt .ar_direction1 .model-form input[type="checkbox"] {
			margin-bottom: 0;
		}
		}
		@media(max-width:500px) {
		
			.Tkt .ar_direction1 .header-right .sign-r {
			padding: 11px 12px;
			font-size: 11px;
		}
		.Tkt .ar_direction1 .customer-icon {
			display: none;
		}
		
		.Tkt .ar_direction1 .name-se {
			width: 100%!important;
			float: none!important;
		}
		.Tkt .ar_direction1 .model-form select {
			width: 100%!important;
		}
		.Tkt .ar_direction1 .cr-ac, .Tkt .ar_direction1 .forgot-pass {
			font-size: 14px;
		}
		}
		@media(max-width:450px) {
			.Tkt .ar_direction1 .customer-service {
			margin: 10px 0;
		}
		.Tkt .ar_direction1 .offer-text p, .Tkt .ar_direction1 .offer-text a {
			float: none;
			display: block;
			text-align: center;
		}
		.ar_direction1 .customer-service .customer-text P {
			overflow: visible;
			display: block;
		}
		.Tkt .ar_direction1 .search-section .nav-tabs2 li a {
			font-size: 12px;
		}
		.Tkt .ar_direction1 .search-section .nav-tabs2 li a::before {
			top: -2px;
		}
		}
		@media(max-width:330px) {
		.Tkt .ar_direction1 .header-right .sign-r {
		padding: 11px 7px;
		}
		.Tkt .Tkt .ar_direction1 .header-right .sign-r i {
			margin-left: 1px;
		}
		}

		@media (max-width: 360px){
			.Tkt .ar_direction1 .header-right .sign-r {
			font-size: 10px;
	      }
	    }

		@media(width:768px) {
			.Tkt .ar_direction1 .lang .dropdown a {
				font-size: 17px !important;
			}
		}
		/*Header and Footer CSS End*/


		@media only screen and (max-width:990px) {
			.sticky {
				position: unset !important;
			}
			
		}