@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
@import url('/assets/pluggins/google-fonts/roboto-display-swap.css?v=202008130000');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
a,
       a:hover {
           text-decoration: none;
           cursor: pointer;
       }
       img {
        max-width: 100%;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;
        height: auto;
    } 
    ol, ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
:focus{
    outline: none;
}
/*==============Header==========*/
.top {
	background: #042c83;
	width: 100%;
	height: auto;
}
.contact-info {
	padding: 15px 0 15px 200px;
	float: left;
}
.contact-info div {
	margin-left: 40px;
	float: left;
	color: #147eb4;
}
.contact-info div i {
	color: #fff;
	font-size: 20px;
	margin-right: 8px;
}
.contact-info div a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #92dcff;
	text-decoration: none;
}
/*=====  Call to Actions Button CSS BOF  ======*/
.call-to-action {
	width: auto;
	float: right;
	display: inline-block;
	margin: 11px 0 8px 15px;
}
.btn-clta {
	border-radius: 5px;
	font-weight: 600;
	color: #012e81;
	background: #92dcff;
	padding: 6px 12px;
	font-size: 16px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin: 0 0 0 10px;
    float: left;
    border: none !important;
}
.btn-clta:hover, .btn-clta:focus {
	background: #fff;
    text-decoration: none;
    color: #23527c;
}
/* Navigation CSS BOF
=================================================== */
.navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
	background: transparent;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
	z-index: 1;
}
.navbar-nav {
	margin: 0;
	padding: 33px 0;
}
.navbar-brand img {
	width: 75% !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	float: left;
	margin-left: 175px;
}
.nav > li {
	position: relative;
	display: block;
	padding: 0 35px;
}
.nav > li > a {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
.navbar-default .navbar-nav > li::after {
	position: absolute;
	top: 0;
	transition: all 0.3s;
	content: "";
	background: #181818;
	right: 0;
	height: 17px;
	width: 2px;
}
.navbar-default .navbar-nav > li:last-child::after, .navbar-default .navbar-nav > li:nth-child(4)::after {
	display: none;
}
.navbar-default .navbar-nav > li:last-child, .navbar-default .navbar-nav > li:nth-child(4) {
	padding: 0 0 0 35px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	top: -53px;
	margin: 0 !important;
	left: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #1a79db;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #042c83;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #1a79db;
	background-color: transparent;
}
/*==========Header close===========*/

/*==========Footer===========*/

/*sing in popup start*/
@media only screen and (min-width:768px) {
    .navbar-right {
        float: right!important;
        margin-right: 0;
    }
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.user_login p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    padding: 0px;
    line-height: normal;
    font-size: 13px;
}
.user_login p label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.btn-submit {
    width: 100%;
    text-align: center;
}
.viewradio_sec {
    width: 100%;
    float: left;
}
.viewradio_sec .radio_view {
    font-family:  'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.radio_view input:checked~.checkmark {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}
.modal-header h4{
    padding: 0;
    font-size: 17px;
}
.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-submit button {
    width: 100%;
    height: 44px;
    margin: auto;
    background: var(--primary-color) !important;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 0 !important;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family:  'Open Sans', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Aaliaholidays/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Aaliaholidays/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Aaliaholidays/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Aaliaholidays/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}
.foot-newsletter #text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #c3c3c3;
}

/*singin popup end*/

.flight-step-review{
    margin-top: 0px;
}
.autocomplete-result-active, .autocomplete-result:hover{
    background-color: var(--primary-color);
    color: #FFF !important;
}
.add-room{
    border: 1px solid #042c83;
    background: #042c83;
    color: #FFF;
}
.add-room:hover, .add-room:focus {
    background: #000;
    border: 1px solid #000;
}
.noUi-handle {
    border: 2px solid #042c83;
    background: #FFF;
}
.room-title{
    color: #042c83;
}
/*login section*/
       
.profile-dropdown {
    width: auto;
    display: inline-block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 0 0 8px;
    padding: 5px 5px 4px 5px !important;
    cursor: pointer;
    float: left;
    border-right: none !important;
    font-family: 'Open Sans', sans-serif;
}

.ar_direction1 .profile-dropdown img,
.ar_direction1 .profile-dropdown span {
    float: right;
}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #FFF;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #042c83;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    width: auto;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    max-width: 78px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 0px 0 0;
    margin: 0;
    background: #92dcff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 9999;
    min-width: 142px;
    border-radius: 3px;
    overflow: hidden;
}

.profile-dropdown ul li {
    border-bottom: 1px solid #76bfe2;
    padding: 0px;
    width: 100%;
}

.profile-dropdown ul li:last-child {
    border-bottom: none;
}

.profile-dropdown ul li a {
    display: block;
    padding: 6px 10px !important;
    text-decoration: none;
    color: #444;
    font-size: 13px !important;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
}

.profile-dropdown ul li a i {
    font-size: 13px;
    vertical-align: middle;
    margin: 3px 0px 3px 0px;
    width: 24px;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #3a7fc1;
}

.profile-dropdown>label {
    position: relative;
    height: 25px;
    text-decoration: none;
    background: transparent;
    color: #292929;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 29px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #7f3f98;
    font-size: 18px;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.profile-dropdown label i{
    margin-top: 4px;
}

.customer-profile{
    margin-top: 0px !important;
}
.navbar-default .navbar-nav>.active>a::after{
    background: none;
}
/*====================Footer==================*/
footer {
	background: url(/Aaliaholidays/images/fotter-bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 150px;
    position: relative;
    padding-bottom: 0px;
}
.footer-contact {
	background: #fff;
	padding: 30px 0;
	border-radius: 30px;
	position: absolute;
	top: -262px;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.3);
	box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.3);
}
.footer-contact ul li {
	float: left;
	width: 33.33%;
	text-align: center;
	position: relative;
	list-style: none;
}
.footer-contact ul li::after {
	content: url(/Aaliaholidays/images/footer-pattern.png);
	position: absolute;
	right: 0;
	top: 10px;
}
.footer-contact ul li:last-child::after {
	display: none;
}
.footer-contact ul li i {
	color: #012e81;
	font-size: 42px;
}
.footer-contact ul li h3 {
	color: #012e81;
	font-size: 30px;
	padding: 20px 0 10px 0;
	font-weight: 600;
	line-height: normal;
}
.footer-contact ul li p {
	color: #000;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}
.footer-contact ul li p a {
	color: #000;
	font-weight: 400;
}
.footer-contact ul li p a:hover {
	color: #012e81;
	text-decoration: none;
}
.footer-logo img {
	margin-bottom: 20px;
}
.footer-logo p {
	color: #ededed;
	font-weight: 400;
	font-size: 16px;
}
.site-map h3 {
	font-size: 24px;
	color: #93ddfb;
	padding: 15px 0;
	line-height: normal;
	font-weight: 600;
}
.site-map hr {
	border: 1px solid #93ddfb;
	width: 22%;
	text-align: left;
	margin: 0;
}
.site-map ul {
	margin-top: 30px;
}
.site-map ul li {
	float: left;
	width: 50%;
	padding: 10px 0;
	list-style: none;
	font-size: 16px;
}
.site-map ul li i {
	color: #ededed;
	margin-right: 10px;
}
.site-map ul li a {
	color: #ededed;
}
.site-map ul li a:hover, .site-map ul li.active a {
	color: #93ddfb;
	text-decoration: none;
}
.newsletter p {
	color: #ededed;
	font-weight: 400;
	padding: 40px 0 20px 0;
	font-size: 16px;
}
.news-sub {
	position: relative;
}
.news-sub input[type="text"] {
	height: 44px;
	width: 100%;
	background: #fff;
	border-radius: 40px;
	margin: 0;
	border: none;
	padding: 0 0 0 25px;
}
.news-sub button {
	height: 33px;
	width: 22%;
	background: #92dcff;
	border-radius: 40px;
	cursor: pointer;
	border: none;
	position: absolute;
	top: 6px;
	right: 7px;
	color: #012e81;
	font-size: 20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news-sub button:hover {
	background: #012e81;
	color: #fff;
}
.foot-social {
	text-align: center;
	margin: 30px 0;
}
.foot-social ul li {
	display: inline-block;
	padding: 0 8px;
	list-style: none;
}
.foot-social ul li a {
	background: #fff;
	height: 53px;
	width: 53px;
	color: #012e81;
	display: block;
	border-radius: 50%;
	font-size: 23px;
	line-height: 55px;
}
.foot-social ul li a:hover {
	background: #92dcff;
}
.all-reserved {
	padding: 15px 0;
	border-top: 2px solid rgba(255,255,255,0.4);
	overflow: hidden;
}
.reserved {
	float: left;
}
.reserved p {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
}
.reserved a {
	color: #92dcff;
}
.reserved a:hover {
	color: #fff;
	text-decoration: none;
}
.Powered {
	float: right;
}
.Powered p {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.Powered a {
	display: inline-block;
}
/*back-to-top-css*/
.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #012e81;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 7px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #92dcff;
	border: 1px solid #92dcff;
}
.scrollToTop:hover, .scrollToTop:focus {
    background: #fff;
    color: var(--primary-color);
}
.navbar-default .navbar-nav>li>a:focus::after, .navbar-default .navbar-nav>li>a:hover::after {
    background: none;
}
.md-search {
    margin: 0px !important;
}
.flight-listing {
    margin-top: 0px !important;
}
.mbview{
    display: none !important;
}
.mbview .btn-clta{
    background: none;
}
@media screen and (max-width: 767px) {
    .call-to-action {
        margin: 7px 0 8px 15px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 0;
        margin: 12px 0;
        background-color: #012e81 !important;
        background-image: none;
        border: none;
        border-radius: 5px;
        width: 44px;
        height: 44px;
        text-align: center;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #1a79db !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent !important;
        float: none;
        margin-left: 0;
        width: 200px;
        z-index: 5;
        position: absolute;
        right: 15px;
        top: 56px;
        background: #042c83;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        margin: 0 auto;
    }
    .navbar-nav {
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 15px 17px;
        color: #fff;
        font-size: 16px;
    }
    .nav > li {
        border-bottom: 1px solid #1b4da9;
        padding: 0;
    }
    .navbar-default .navbar-nav > li:last-child{
        padding: 0 0 0 0;
        border-bottom: none;
    }
    .navbar-default .navbar-nav > li::after{
        display: none !important;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #92dcff;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #92dcff;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        top: -50px;
        width: 132px;
    }
    .flex {
        display: -webkit-block;
        display: block;
    }
    footer {
        padding-top: 50px;
    }
    .footer-contact {
        padding: 30px 0;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
    }
    .footer-contact ul li {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #012e81;
    }
    .footer-contact ul li::after {
        display: none;
    }
    .footer-contact ul li:last-child {
        border-bottom: none;
    }
    .reserved {
        float: none;
        text-align: center;
    }
    .Powered {
        float: none;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 990px) {
    .call-to-action {
        margin: 7px 0 8px 15px;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        top: -50px;
        width: 132px;
    }
    .navbar-nav {
        padding: 24px 0 0;
    }
    .nav > li {
        position: relative;
        display: block;
        padding: 0 25px;
    }
    .reserved {
        float: none;
        text-align: center;
    }
    .Powered {
        float: none;
        text-align: center;
    }
}
@media (min-width: 991px) and (max-width: 1024px) {
    .btn-clta {
        font-size: 15px;
    }
    .Powered {
        margin-right: 40px;
    }
}
@media (max-width: 768px){
.dskview{
    display: none;
}
.mbview{
    display: block !important;
}
.navbar-default .navbar-nav > li:last-child, .navbar-default .navbar-nav > li:nth-child(4){
    padding: 0px;
} 
}