@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
@import url('/assets/pluggins/google-fonts/roboto-display-swap.css?v=202008130000');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
a,
       a:hover {
           text-decoration: none;
           cursor: pointer;
       }
       img {
        max-width: 100%;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;
        height: auto;
    } 
    ol, ul, li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
/*back-to-top-css*/
.scrollToTop {
    height: 50px;
    width: 50px;
    padding-top: 2px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 999999;
    display: none;
    border-radius: 5px;
    background-color: #d86b18;
    border: 1px solid #d86b18;
    }
.scrollToTop:hover, .scrollToTop:focus{
    background: #000000;
    color: #fff;
    border-color: #fff;
    }
/*back-to-top-css*/
.right_area{
    position: absolute;
    right: 0px;
    top: -52px;
}
.right_area li a{
    padding: 16px 15px !important;
}
.right_area li{
    display: inline-block;
    padding: 0px 0px;
}
.right_area li a{
    color: #333333 !important;
    font-size: 14px !important;
    vertical-align: middle;
    text-transform: none !important;
    border-radius: 0px !important;
    border-right: 1px solid #dadada !important;
    font-weight: 400 !important;
}
.right_area li i{
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    color: #d86b18;
    font-size: 22px;
    float: left;
    margin-top: -2px;
}
header{
    border-top: 52px solid #FFF;
    }
.header_logo{
    position: relative;
    }
.logo{
    position: absolute;
    left: 0;
    top: -60px;
    z-index: 999;
    padding: 9px 5px;
    background: #fff;
   
    }
.top_phone_email{text-align: right;}
.top_phone_email ul li{
    display: inline-block;
    padding: 0 10px;
    }
.top_phone_email ul li i{
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    color: #d86b18;
    font-size: 22px;
    padding: 15px 0;
    }
.top_phone_email ul li a{
    color: #333333;
    font-size: 18px;
    vertical-align: middle;
    }
.top_phone_email ul li a:hover{
    color: #d86b18;
    }

/*===End-Header=====*/

/*==============Navigation==========*/

.main-navigation{
    background: #d86b18;
    padding: 0px;
    }
    .nav>li{
        padding: 0px;
    }
    .navbar-collapse, .navbar{
        box-shadow: none;
    }
    .navbar-default .navbar-nav>li>a::after{
        display: none;
    }
.menu_nav{
    margin:0;
    min-height: 0;
    background-color:transparent !important;
    }
.navbar {
    border-radius: 0px;
    margin-bottom: 0;
    text-align: right;
    }
.nav.navbar-nav{
    float: right;
    }
.navbar-default {
    background: #fff;
    border: none;
    }
.navbar-nav > li > a{
    padding: 29px 15px;
    background-color: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px !important;
    color: #fff;
    font-weight: 500;
    border-right: 1px solid #d19f76;
    }
    .md-search {
        margin: 0px 0 -68px;
    }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #fff;
    }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000;
    }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background: transparent; color: #000;
    }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    background: #fff !important;
    color: #d86b18 !important;
    border-radius: 0;
    }
.navbar-default .navbar-nav .active a:active{
    background: #ed2c2e;
    color: #fff;
    }
.navbar-default .navbar-nav > .active > a:hover{
     background: #ed2c2e;
    color: #fff;
    }
#bs-example-navbar-collapse-1{padding: 0;}

.dropdown-menu {
    left: -44px; top:44px;
    }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
        width: 26px;
    }
.dropdown-menu{
    padding: 0;
    top: 41px;
    }
.dropdown-menu > li > a{
    background: #ed2c2e;
    color: #fff;
    padding: 7px 30px;    
    }

@media(max-width:767px){
.dropdown-menu{
    left: 0; 
    float: none;
    position: relative;
    top: 0;
    }   
.dropdown-menu::after{display: none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: #024281;
    }
}
/*==============End - Navigation==========*/

/*==========Footer===========*/
footer{
    width: 100%;
    padding: 0px;
    background: none;
    } 
    .footerMain{
        background: #202020;
    padding: 60px 0 0px 0;
    }  
.footer-logo-desc img{
    border-radius: 100%;
    }
.footer-logo-desc h3 span{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    }
.footer-logo-desc .iata-logo{border-radius: 0;}
.footer-logo-desc p{
    color: #adadad;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 8px 0;
    }
.footer-logo-desc ul{padding-top: 10px;}
.footer-logo-desc ul li{
    display: inline-block;
    padding: 0 4px;
    }
footer h3{
    height: 50px;
     color: #d86b18;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0;
    font-size: 24px;
    }
.site-map ul li{
    padding: 6px 0;
    }
.site-map ul li a{
    font-size: 16px;
    color: #adadad;
    font-weight: 300;
    display: block;
    position: relative;
    padding-left: 15px;
    }
.site-map ul li a::before{
    content:"\f101";
    font-family:'FontAwesome';
    position: absolute;
    left: 0;
    top: 2px;
    }
.site-map ul li a:hover , .site-map ul li.active a{
    color: #d86b18;
    }
.get-in-touch ul li{
    position: relative;
    padding: 10px 0 15px 45px;
    }
.get-in-touch ul li a , .get-in-touch ul li{
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
    }
.get-in-touch ul li a{
    display: block;
    padding: 5px 0;
    }
.get-in-touch ul li i{
    position: absolute;
    top: 10px;
    left: 0;
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 0;
    text-align: center;
    font-size: 20px;
    line-height: 33px;
    }
.get-in-touch ul li a:hover{
    color: #d86b18;
    }
.foot-newsletter input[type="text"]{
    background: #dcdcdc;
    }
    .foot-newsletter input[type="text"], .foot-newsletter input[type="email"], .foot-newsletter input[type="tel"], .foot-newsletter input[type="number"], .foot-newsletter select, .foot-newsletter textarea {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        width: 100%;
        font-size: 16px;
        border: 1px solid #c3c3c3;
        padding: 8px 10px;
    }
.foot-newsletter input[type="submit"]{
    background: #fff;
    color: #d86b18;
    border: 1px solid #fff;
    padding: 7px 36px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    }
.foot-newsletter input[type="submit"]:hover{
    background: #d86b18;
    color: #fff !important;
    }

.all-reserved{
    background: #000000;
    padding: 10px 0;
    
    margin-top: 60px;
    }
.reserved{float: left;}
.reserved p{
    color: #adadad;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
    padding: 8px 0;
    }
.Powered{
    float: right;
    }
.Powered p{
    display: inline-block;
    vertical-align: middle;
    color: #adadad;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 8px 0;
    }
.Powered a{display: inline-block;}



@media(max-width:1200px) {
    .logo {
top: -28px;
}
 .navbar-nav > li > a {
font-size: 14px;
}
}
@media(max-width:991px) {
        header {
    border-top:none;
}
.right_area {
    position: inherit;
    right: inherit;
    top: inherit;
}
.right_area li:nth-child(1), .right_area li:nth-child(2){
   display: none;
}
.navbar-right{
    width: 100%;
   margin-right: 0px;
}
.right_area li{
  display: block;
}
.right_area li a{
   font-weight: 500 !important;
    text-transform: uppercase !important;
}
.logo{
   padding: 0px 5px;
     position: relative;
 top: 0;
 float: left;
}
.logo img{
    width: 85px;
    max-width: inherit;
}

     .navbar-nav > li > a {
 padding: 7px 17px;
 border-right: none;
}
    .top_social_media ul li {
padding: 0 3px;
}
     footer {
padding: 50px 0 0px 0;
}
    .navbar-header {
float: none;
}
 .navbar-left, .navbar-right {
float: none !important;
}
 .navbar-toggle {
display: block;
}
 .navbar-collapse {
 border-top: 1px solid transparent;
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
 .navbar-collapse.collapse {
display: none!important;
}
 .navbar-nav {
 float: none!important;
 background: #fff;
}
 .navbar-nav>li {
 float: none;
 border-bottom: 1px solid #d86b18;
}
 .navbar-default .navbar-nav > .active > a:hover {
background: #000;
}
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
background: #333333 !important;
color: #ffff !important;
}
 .navbar-nav>li>a {
 padding-top: 10px !important;
 padding-bottom: 10px !important;
 text-align: left;
 color: #d86b18 !important;
}
 .collapse.in {
display:block !important;
border: none;
}
 .menu_nav .navbar-toggle {
 float: right;
    background: none;
    border: none;
    margin: 16px 0 0 0;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 9px 13px;
}
 .navbar-toggle .icon-bar {
height: 4px;
}
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
 background: none;
 border: none;
 color: #fff;
}
 footer h3 {
margin-top: 20px;
}
 footer .col-md-2.col-sm-6 {
margin-bottom: 22px;
}
    .header_logo {
width: 80%;
}
}
@media(max-width:767px) {
    .navbar-nav > li > a {
font-size: 16px;
}
 .logo {
text-align: center;
}
    header{
        border-top:none; 
    }
 header .lang_drop {
margin-top: 10px;
}
 header .dropdown-menu {
 position: absolute;
 left: 0;
 right: 0;
 top: 25px;
}
 .navbar-nav {
margin: 0px 0;
padding-bottom: 2px;
}
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
border: none;
}
    footer .col-md-2.col-sm-6 {
margin-bottom: 0px;
}
 footer h3 {
margin-top: 0px;
}
 .get-in-touch ul li {
padding: 10px 0 0 45px;
}
    footer {
padding: 10px 0 0px 0
}
 .reserved {
 float: none;
 text-align: center;
}
 .Powered {
 float: none;
 text-align: center;
}
    .menu_nav {
 min-height:auto;
 margin-top: 0;
 padding:0;
}
 footer h3 {
 height: auto;
 padding-top: 15px;
 padding-bottom: 10px;
}
 .get-in-touch {
clear: both;
}
 .header_logo {
width: 50%;
}
 .section-svg-inverse svg {
 display: none !important;
 overflow: hidden !important;
 height: 0 !important;
 width: 0 !important;
 left: 0 !important;
 -webkit-transform: none;
 transform: none;
}
}
@media(max-width:500px) {
  header .col-xs-4, header .col-xs-8, header .col-xs-5, header .col-xs-3 {
width: 100%;
}
 .logo {
text-align: center;
}
 .top_phone_email {
 display: none;
}
 .top_social_media {
display: none;
}
    footer .col-xs-6 {
width: 100%;
}
 footer h3 {
height: auto;
margin-top: 0;
}
 footer {
padding: 10px 0 0px 0;
}
    .header_logo {
width: 70%;
}
}
@media(max-width:380px) {
     .header_logo {
width: 100%;
}
}
    
      

 @media (min-width: 768px){
        #myModal .modal-dialog {
            width: 354px;
            margin: 30px auto;
        }
    }
/*sing in popup start*/
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.user_login p{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0px;
    padding: 0px;
    line-height: normal;
    font-size: 13px;
}
.user_login p label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.btn-submit {
    width: 100%;
    text-align: center;
}
.viewradio_sec {
    width: 100%;
    float: left;
}
.viewradio_sec .radio_view {
    font-family:  'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #d86b18;
    border: 1px solid #d86b18;
}

.radio_view input:checked~.checkmark {
    background-color: #d86b18;
    border: 1px solid #d86b18;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}
.modal-header h4{
    padding: 0;
    font-size: 17px;
}
.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.btn-submit button {
    width: 100%;
    height: 44px;
    margin: auto;
    background: #d86b18 !important;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 0 !important;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0 !important;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family:  'Open Sans', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: #d69b6b;
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #c79c7a;
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}
.foot-newsletter #text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #c3c3c3;
}

/*singin popup end*/
@media (max-width: 1080px){
.collapse.in {
    display: block !important;
}
}

@media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right: 0px !important;
}
}
.flight-step-review{
    margin-top: 0px;
}
.autocomplete-result-active, .autocomplete-result:hover{
    background-color: #000;
    color: #FFF !important;
}
.add-room{
    border: 1px solid #d86b18;
    background: #d86b18;
    color: #FFF;
}
.add-room:hover, .add-room:focus {
    background: #000;
    border: 1px solid #000;
}
.noUi-handle {
    border: 2px solid #d86b18;
    background: #FFF;
}
.room-title{
    color: #d86b18;
}
/*login section*/
       
.profile-dropdown {
    width: auto;
    display: inline-block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 0 0 8px;
    padding: 13px 5px !important;
    cursor: pointer;
    float: left;
    border-right: 1px solid #e2e2e2;
    font-family: 'Open Sans', sans-serif;
}

.ar_direction1 .profile-dropdown img,
.ar_direction1 .profile-dropdown span {
    float: right;
}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #d86b18;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #d86b18;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    width: auto;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #f1f1f1;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 9999;
    min-width: 142px;
}

.profile-dropdown ul li {
    border-bottom: 1px solid #dedede;
    padding: 0px;
    width: 100%;
}

.profile-dropdown ul li:last-child {
    border-bottom: none;
}

.profile-dropdown ul li a {
    display: block;
    padding: 6px 10px !important;
    text-decoration: none;
    color: #444;
    font-size: 13px !important;
    text-align: left;
    font-weight: 400 !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
}

.profile-dropdown ul li a i {
    font-size: 13px;
    vertical-align: middle;
    margin: 3px 0px 3px 0px;
    width: 24px;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #3a7fc1;
}

.profile-dropdown>label {
    position: relative;
    height: 25px;
    text-decoration: none;
    background: transparent;
    color: #292929;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 29px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #7f3f98;
    font-size: 18px;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.profile-dropdown label i{
    margin-top: 4px;
}
@media(max-width:1200px) and (min-width:990px){
    .navbar-nav > li > a {
        padding: 29px 11px !important;
        font-size: 14px !important;
    }
    .right_area li a{
        padding: 16px 15px !important;
    }
}
@media (max-width: 990px){
    .foot-newsletter input[type="submit"]{
        width: 100%;
    }
    .elaan-logo-text{
        text-align: center;
    }
    .site-map{
        text-align: center;
        margin: 16px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    border-top: 1px solid #5d5959;
    border-bottom: 1px solid #5d5959;
    }
    .site-map ul li a::before{
        display: none;
    }
    .get-in-touch{
        text-align: center;
        border-bottom: 1px solid #5d5959;
        padding: 0px 0px 5px 0px;
    }
    .get-in-touch ul li {
        padding: 0px 0 0 0px !important;
    }
    .get-in-touch ul li i{
        position: relative;
        width: 100%;
    }
    .foot-newsletter{
        text-align: center;
    }
}

.customer-profile{
    margin-top: 0px !important;
}