.md-search {
    margin: 0 0 -68px;
}
.navbar-default .navbar-nav>li>a::after {
    background: none !important;
}
.lang .open > .dropdown-menu {
	display: grid !important;
}
.lag ul {
    list-style: none;
}

/*=====  Top CSS BOF  ======*/
.top {
	background: #ad2a31;
	width: 100%;
	height: auto;
	padding: 12px 0;
}
.contact-info {
	float: left;
	padding: 6px 0;
}
.contact-info div {
	margin-right: 22px;
	float: left;
}
.contact-info div i {
	color: #fff;
	font-size: 20px;
	float: left;
	margin: 3px 10px 0 0;
}
.contact-info div a {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #f6d12e;
	text-decoration: none;
}
.login {
	margin-left: 26px;
	float: left;
    /* padding: 6px 0; */
    position: relative;
    bottom: 0px;
}
.login i {
	color: #fff !important;
	font-size: 17px;
	float: left;
	margin: 3px 10px 0 0;
}
.login a {
	color: #fff;
	font-size: 17px;
    font-weight: 400;
    background: none !important;
}
.login a:hover {
	color: #f6d12e;
	text-decoration: none;
}
.lang {
	float: right;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 3px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#e2add9;
}
.lang:hover {
	color: #fff;
}
.lang .dropdown-item:focus,
.lang .dropdown-item:hover {
	color: #fff !important;
	text-decoration: none;
	background-color: #82171d !important;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	left: -44px;
	top: 48px;
	padding: 0;
	background: #ad2a31;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	z-index: 9999;
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff;
}
.lang .dropdown-menu li a {
	padding: 5px 12px;
	color: #fff;
	font-size: 14px;
	border-bottom: 1px solid #82171d;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #82171d;
}
.lang .dropdown a {
    color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
	font-weight: 400;
	background-color: none !important;
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #fff !important;
	cursor: pointer;
}
.list-inline > li {
	padding: 0 0;
}
/* .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #fff;
    border-radius: none !important;
} */
/* Navigation CSS BOF
=================================================== */
.navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
}
.navbar-nav {
	margin: 0;
	padding: 0;
}
.navbar-brand img {
	width: 100% !important;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	display: block;
	margin: 0;
	padding: 23px 25px;
	position: relative;
	border-bottom:3px solid #fff;
}
.navbar-default .navbar-nav > li:last-child::after {
 display: none;
}
.navbar-default .navbar-brand {
	position:relative !important;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	z-index: 1000;
	margin: 0 0 -28px !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #ad2a31;
	background-color: #fff;
	border-bottom:3px solid #ad2a31;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
 -webkit-transition: all .35s;
 transition: all .35s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ad2a31 !important;
	background-color: #fff;
	border-bottom:3px solid #ad2a31;
}
.safety-belt {
	background: #f6d12e;
	width: 100%;
	height: auto;
	padding: 5px 0;
}
.safety-belt img {
	float:left;
	padding: 3px 30px 3px 65px;
}
.safety-belt p {
	float:left;
	padding:11px 0 0;
	font-weight:500;
	color:#000;
}
.explore-btn {
	font-weight: 500;
	color: #fff;
	background: #000;
	width: auto;
	padding: 3px 15px;
	font-size: 16px;
	display: block;
	text-align: center;
	float:right;
	border-radius:5px;
	margin-top: 6px;
}
.explore-btn:hover {
	color: #fff;
	background: #ad2a31;
	text-decoration: none;
}

/* ltr-mobile-view-header */
@media screen and (max-width: 767px) {
    .back-top i {
        font-size: 40px;
        position: relative;
        top: 9px;
        right: 162px;
    }
    .login {
        margin-left: 0;
    }
    /*=====  Top CSS BOF  ======*/
    .lang .dropdown-menu {
        left: -20px;
        top: 43px;
        min-width: 120px;
    }
    .navbar-toggle {
        background-color: #ad2a31 !important;
        border: none;
        border-radius: 0;
        margin: 10px 0 10px;
        padding: 12px 10px;
    }
    .navbar-default .navbar-nav > li::after {
        display: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        float: none;
        margin-left: 0;
        background-color: #fff;
    }
    .navbar-nav {
        margin: 0;
        padding: 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }
    .nav > li {
        padding: 10px 0;
        border-bottom:1px solid #ddd;
    }
    .nav > li:last-child {
        border-bottom:none;
    }
    .nav > li > a, .navbar-default .navbar-nav > li > a {
        padding: 0;
        border-bottom: none;
        font-size: 16px;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ad2a31;
        border-bottom: none;
        background-color: transparent;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #ad2a31;
        border-bottom: none;
        background-color: transparent;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        width: 210px;
    }
    .safety-belt {
        padding: 5px 0 15px;
    }
    .safety-belt img {
        padding: 10px 0 0 0;
    }
    .safety-belt p {
        font-size: 14px;
        padding-right:15px;
        clear:both;
    }
    .explore-btn {
        float: left;
    }
    footer .powered-by {
        float: left;
        margin-top: 0;
    }
    .back-top {
        right: 15px;
        left: auto;
        margin: 0;
    }
}
@media screen and (min-width: 767px) {
.navbar .container .col-lg-12{
    display:-webkit-box;
}
}

@media (min-width: 768px) and (max-width: 990px) {

    .contact-info div {
        margin-right: 11px;
    }
    .contact-info div i, .login i {
        font-size: 15px;
    }
    .contact-info div a, .login a {
        font-size: 16px;
    }
    .lang .dropdown a {
        font-size: 13px;
    }
    .lang .dropdown-menu {
        left: -74px;
        top: 40px;
    }
    /*=====  Navbar CSS BOF  ======*/
    .navbar-default .navbar-brand {
        width: 232px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
    }
    .nav > li > a {
        padding: 23px 13px;
    }
    .safety-belt p {
        font-size: 14px;
    }
    .safety-belt img {
        padding: 3px 20px 3px 40px;
    }
}
@media (min-width: 991px) and (max-width: 1024px) {

    .navbar-default .navbar-brand {
        width: 250px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
    }
    .nav > li > a {
        padding: 23px 18px;
    }
    .safety-belt p {
        font-size: 14px;
    }
}
@media (max-width: 990px) and (min-width: 768px){
.col-sm-5 {
    width: 48%;
    position: relative;
    bottom: 30px;
}
}

/* arabic */

.ar_direction1 .top {
	background: #ad2a31;
	width: 100%;
	height: auto;
	padding: 12px 0;
}
.ar_direction1 .contact-info {
	float: right;
	padding: 6px 0;
}
.ar_direction1 .contact-info div {
    margin-left: 22px;
    float: right;
}
.ar_direction1 .contact-info div i {
	color: #fff;
	font-size: 20px;
	float: right;
	margin: 3px 0 0 10px;
}
.ar_direction1 .contact-info div a {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.ar_direction1 .contact-info div a:hover {
	color: #f6d12e;
	text-decoration: none;
}
.ar_direction1 .login {
    margin-right: 26px;
    float: right;
    position: relative;
    bottom: 4px;
	/* padding: 6px 0; */
}
.ar_direction1 .login i {
	color: #fff;
	font-size: 17px;
	float: right;
	margin: 3px 0 0 10px;
}
.ar_direction1 .login a {
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}
.ar_direction1 .login a:hover {
	color: #f6d12e;
	text-decoration: none;
}
.ar_direction1 .lang {
	float: left;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 3px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#e2add9;
}
.ar_direction1 .lang:hover {
	color: #fff;
}
.ar_direction1 .lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.ar_direction1 .lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: -61px;
	top: 48px;
	padding: 0;
	background: #ad2a31;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.ar_direction1 .lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff;
}
.ar_direction1 .lang .dropdown-menu li a {
    padding: 5px 12px;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #82171d;
	text-align: right;
}
.ar_direction1 .lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #82171d;
}
.ar_direction1 .lang .dropdown a {
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}
.ar_direction1 .list-inline > li {
	padding: 0 0;
}

.ar_direction1 .navbar-header {
    float: right;
}
.ar_direction1 .navbar-right {
    /* float: left !important; */
    margin-left: -15px;
}
.ar_direction1 .navbar-nav > li {
    float: right;
}
.ar_direction1 .navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.ar_direction1 .nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.ar_direction1 .navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
}
.ar_direction1 .navbar-nav {
	margin: 0;
	padding: 0;
}
.ar_direction1 .navbar-brand img {
	width: 100% !important;
}

.ar_direction1 .nav > li {
	position: relative;
	display: block;
}
.ar_direction1 .nav > li > a {
    display: block;
    margin: 0;
    padding: 23px 25px;
    position: relative;
	border-bottom:3px solid #fff;
}
.ar_direction1 .navbar-default .navbar-nav > li:last-child::after {
	display: none;
}
.ar_direction1 .navbar-default .navbar-brand {
	position:relative;
}
.ar_direction1 .navbar-default .navbar-brand, .ar_direction1 .navbar-default .navbar-brand:hover, .ar_direction1 .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	z-index: 1000;
	margin: 0 0 -28px !important;
}
.ar_direction1 .navbar-default .navbar-nav > .active > a, .ar_direction1 .navbar-default .navbar-nav > .active > a:focus, .ar_direction1 .navbar-default .navbar-nav > .active > a:hover {
	color: #ad2a31;
	background-color: #fff;
	border-bottom:3px solid #ad2a31;
}
.ar_direction1 .navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.ar_direction1 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ad2a31;
	background-color: #fff;
	border-bottom:3px solid #ad2a31;
}

.ar_direction1 .safety-belt {
	background: #f6d12e;
	width: 100%;
	height: auto;
	padding: 5px 0;
}
.ar_direction1 .safety-belt img {
    float: right !important;
    padding: 3px 65px 3px 30px;
}
.ar_direction1 .safety-belt p {
	float:right !important;
	padding:11px 0 0;
	font-weight:500;
	color:#000;
}
.ar_direction1 .explore-btn {
    font-weight: 500;
    color: #fff;
    background: #000;
    width: auto;
    padding: 3px 15px;
    font-size: 16px;
    display: block;
    text-align: center;
	float:left !important;
	border-radius:5px;
	margin-top: 6px;
}
.ar_direction1 .explore-btn:hover {
    color: #fff;
    background: #ad2a31;
    text-decoration: none;
}
.ar_direction1 .pull-right {
		float: left !important;
	}
	.ar_direction1 .align-menu-ar{
		padding:2px;
	}
	.ar_direction1 .hidden-xs{
		float: right;
		padding: 2px;
	}
/* mobile view  arabic header*/
@media screen and (max-width: 767px) {
    /* .open>.dropdown-menu {
        display: grid;
    } */
    .ar_direction1 .login {
    margin-right: 0;
}
footer .ar_direction1 .powered-by {
    float: right;
    margin-top: 0;
}
.ar_direction1 .back-top i {
    font-size: 40px;
    position: relative;
    top: 9px;
    left:133px;
}
/*=====  Top CSS BOF  ======*/
.ar_direction1 .lang .dropdown-menu {
	right:auto;
    left: 0;
    top: 43px;
	min-width: 120px !important;
	z-index: 9999;
}
.ar_direction1 .navbar-header {
    float: right;
    width: 100%;
}
.ar_direction1 .navbar-toggle {
    background-color: #ad2a31;
    border: none;
	border-radius: 0;
	margin: 10px 0 10px;
	padding: 12px 10px;
	float: left;
}
.ar_direction1 .navbar-default .navbar-nav > li::after {
	display: none;
}
.ar_direction1 .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.ar_direction1 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
.ar_direction1 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	float: none !important;
	margin-left: 0;
	background-color: #fff;
}
.ar_direction1 .navbar-nav {
    margin: 0;
    padding: 0;
}
.ar_direction1 .navbar-nav > li {
    float: none !important;
}
.ar_direction1 .navbar-default .navbar-nav > li > a {
    color: #000;
}
.ar_direction1 .nav > li {
    padding: 10px 0;
	border-bottom:1px solid #ddd;
}
.ar_direction1 .nav > li:last-child {
	border-bottom:none;
}
.ar_direction1 .nav > li > a, .ar_direction1 .navbar-default .navbar-nav > li > a {
    padding: 0;
	border-bottom: none;
	font-size: 16px;
}
.ar_direction1 .navbar-default .navbar-nav > li > a:hover, .ar_direction1 .navbar-default .navbar-nav > li > a:focus {
    color: #ad2a31;
	border-bottom: none;
	background-color: transparent;
}
.ar_direction1 .navbar-default .navbar-nav > .active > a, .ar_direction1 .navbar-default .navbar-nav > .active > a:focus, .ar_direction1 .navbar-default .navbar-nav > .active > a:hover {
    color: #ad2a31;
	border-bottom: none;
	background-color: transparent;
}
.ar_direction1 .navbar-default .navbar-brand, .ar_direction1 .navbar-default .navbar-brand:hover, .ar_direction1 .navbar-default .navbar-brand:focus {
    width: 210px;
	float: right;
}
.ar_direction1 .navbar-brand{
    float: right;
}
.ar_direction1 .safety-belt {
    padding: 5px 0 15px;
}
.ar_direction1 .safety-belt img {
    padding: 10px 0 0 0;
}
.ar_direction1 .safety-belt p {
    font-size: 14px;
	padding-left:15px;
	clear:both;
}
.ar_direction1 .explore-btn {
    float: right;
}
}



/*=====  Newsletter CSS BOF  ======*/

#newsletter {
	background:url(../images/news-bg.jpg) no-repeat center center;
	background-size:cover;
	display:block;
	width:100%;
	padding:60px 0; 
}
#newsletter .title svg {
	width:68px;
	height:68px;
	fill: #fff;
	text-align: center;
	margin: 0 auto 60px;
}
#newsletter .title h3 {
	font-size: 31px;
	font-weight: 400;
	color: #fff;
	position: relative;
	text-align: center;
	line-height: normal;
}
#newsletter .title h3::before {
 content: "";
 background: #fff;
 width: 102px;
 height: 2px;
 position: absolute;
 left: 0px;
 top: -30px;
 right: 0;
 margin: 0 auto;
}
#newsletter .title p {
	color: #fff;
	text-align: center;
	padding-top:20px;
	line-height:26px;
	width: 55%;
	margin: 0 auto;
}
#newsletter form .input {
	background: #fff;
	border: none;
	width: 100%;
	padding: 10px 20px;
	color: #797778;
	font-size: 17px;
	font-weight: 400;
	border-radius:5px;
	margin-top:30px;
	height:65px;
}
#newsletter form .sub-btn {
	font-weight: 400;
	color: #fff;
	background: #ad2a31;
	width: 100%;
	padding: 0;
	font-size: 20px;
	display: block;
	text-align: center;
	border-radius:5px;
	border:none;
	margin-top:30px;
	height:65px;
	line-height:65px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#newsletter form .sub-btn:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}
/* Footer CSS BOF
=================================================== */

footer {
	background:#fff;
	display:block;
	width:100%;
    position:relative;
    padding: 0px !important;
}
footer .inner {
	display: block;
	width: 100%;
}
footer .about {
	width: 100%;
	display: block;
}
footer .about .ftr-logo {
	text-align: left;
	position: relative;
	margin:30px 0 0;
}
footer .about p {
	font-weight: 400;
	text-align: left;
	margin-top: 20px;
	float: left;
	font-size: 16px;
	line-height: 24px;
	color: #575757;
	width: 82%;
}
/* Footer Social CSS BOF
=================================================== */
footer .about .social {
	display: inline-block;
	list-style: outside none none;
	margin: 15px 0;
	float: left;
	width: 100%;
	padding:0;
}
footer .about .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}
footer .about .social li a {
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 40px;
	font-size: 20px;
	border-radius:5px;
	background:#413d3d;
}
footer .about .social li a:hover {
	background: #ad2a31;
}
footer .link, footer .contact {
	width: 100%;
	display: inline-block;
}
footer .link h3, footer .contact h3 {
	color: #ad2a31;
	display: inline-block;
	font-weight: 700;
	line-height: 42px;
	margin: 30px 0 20px;
	position: relative;
	text-align: left;
	float: left;
	width: 100%;
	font-size: 28px;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
footer .link ul li {
	font-size: 16x;
	font-weight: 500;
	padding: 6px 0;
	width: 100%;
}
footer .link ul li i {
	font-size: 13px;
	padding-right:8px;
	color:#7f7f7f;
}
footer .link ul li a {
	color: #575757;
	text-decoration: none;
	padding: 0;
}
footer .link ul li a:hover {
	color: #ad2a31;
	text-decoration: none;
}
footer .contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .contact ul li {
	width:100%;
	clear: both;
	float: left;
	padding: 10px 0;
	font-size:20px;
	font-weight:500;
	color: #413d3d;
	line-height: normal;
}
footer .contact ul li i {
	color: #1c1c1c;
	float: left;
	margin-right: 10px;
	font-size:30px;
	width:30px;
	height: 28px;
}
.fnt-sz-24 {
	font-size: 24px !important;
}
footer .contact ul li span {
	width:100%;
	clear: both;
	float: left;
	font-size:16px;
	font-weight:400;
	color: #575757;
	line-height: 22px;
	padding-left: 41px;
}
footer .contact ul li span a {
	font-size:16px;
	font-weight:400;
	color: #575757;
	text-decoration: none;
}
footer .contact ul li span a:hover {
	color: #ad2a31;
	text-decoration: none;
}
footer .ftr-btm {
	background:#413d3d;
	padding: 10px 0;
	margin-top: 40px;
}
footer .copyright {
	color: #dfdfdf;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
	font-weight:400;
}
footer .powered-by {
	color: #dfdfdf;
	font-size: 16px;
	font-weight:400;
	float:right;
	margin-top: 8px;
}
.back-top {
	bottom: 10px;
	position: absolute;
	right: 0;
	left:0;
	width: 50px;
	margin: 0 auto;
}
.back-top #toTop {
	color: #f6d12e;
	line-height: 42px;
	transition: all 0.8s ease-in-out 0s;
	z-index: 50;
}
.back-top i {
	font-size: 40px;
	position: relative;
	top: 9px;
}
.back-top #toTop:hover {
	color: #fff;
}

/* arabic-footer */
/*=====  Newsletter CSS BOF  ======*/

#newsletter  {
	/* background:url(../images/news-bg.jpg) no-repeat center center; */
	background-size:cover;
	display:block;
	width:100%;
	padding:60px 0; 
}
#newsletter .title svg {
	width:68px;
	height:68px;
    fill: #fff;
    text-align: center;
	margin: 0 auto 60px;
}
#newsletter .title h3 {
    font-size: 31px;
    font-weight: 400;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: normal;
}
#newsletter .title h3::before {
    content: "";
    background: #fff;
    width: 102px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: -30px;
    right: 0;
    margin: 0 auto;
}
#newsletter .title p {
    color: #fff;
    text-align: center;
	padding-top:20px;
	line-height:26px;
	width: 55%;
	margin: 0 auto;
}
#newsletter form .input {
    background: #fff;
    border: none;
    width: 100%;
    padding: 10px 20px;
    color: #797778;
    font-size: 17px;
    font-weight: 400;
	border-radius:5px;
	margin-top:30px;
	height:65px;
}
#newsletter form .sub-btn {
    font-weight: 400;
    color: #fff;
    background: #ad2a31;
    width: 100%;
    padding: 0;
    font-size: 20px;
    display: block;
    text-align: center;
	border-radius:5px;
	border:none;
	margin-top:30px;
	height:65px;
	line-height:65px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#newsletter form .sub-btn:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
}
/* Footer CSS BOF
=================================================== */

footer .ar_direction1{
	background:#fff;
	display:block;
	width:100%;
	position:relative;
}
footer .ar_direction1 .inner {
    display: block;
	width: 100%;
}
footer .ar_direction1 .about {
	width: 100%;
	display: block;
}
footer .ar_direction1 .about .ftr-logo {
    text-align: right;
    position: relative;
    margin:30px 0 0;
}
footer .ar_direction1 .about p {
    font-weight: 400;
    text-align: right;
    margin-top: 20px;
    float: right;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
	width: 82%;
}

/* Footer Social CSS BOF
=================================================== */
footer.ar_direction1 .about .social {
	display: inline-block;
	list-style: outside none none;
	margin: 15px 0;
	float: left;
	width: 100%;
	padding:0;
}
footer .ar_direction1 .about .social li {
	text-align: center;
	padding: 0 0 0 15px;
	float: right;
}
footer .ar_direction1 .about .social li a {
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.8s ease-in-out 0s;
    width: 40px;
    font-size: 20px;
	border-radius:5px;
	background:#413d3d;
}
footer .ar_direction1 .about .social li a:hover {
	background: #ad2a31;
}
footer .ar_direction1 .link, footer .ar_direction1 .contact {
	width: 100%;
	display: inline-block;
}
footer .ar_direction1 .link h3, footer .ar_direction1 .contact h3 {
    color: #ad2a31;
    display: inline-block;
    font-weight: 700;
    line-height: 42px;
    margin: 30px 0 20px;
    position: relative;
    text-align: right;
    float: right;
    width: 100%;
    font-size: 28px;
}
footer .ar_direction1 .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}
footer .ar_direction1 .link ul li {
    font-size: 16x;
    font-weight: 500;
    padding: 6px 0;
    width: 100%;
}
footer .ar_direction1 .link ul li i{
    font-size: 13px;
	padding-left:8px;
	color:#7f7f7f;
}
footer .ar_direction1 .link ul li a {
	color: #575757;
	text-decoration: none;
	padding: 0;
}
footer .ar_direction1 .link ul li a:hover {
	color: #ad2a31;
	text-decoration: none;
}
footer .ar_direction1 .contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .ar_direction1 .contact ul li {
	width:100%;
    clear: both;
    float: right;
    padding: 10px 0;
	font-size:20px;
	font-weight:500;
    color: #413d3d;
	line-height: normal;
}
footer .ar_direction1 .contact ul li i {
	color: #1c1c1c;
	float: right;
	margin-left: 10px;
	font-size:30px;
	width:30px;
	height: 28px;
}
.ar_direction1 .fnt-sz-24 {
    font-size: 24px !important;
}
footer .ar_direction1 .contact ul li span {
	width:100%;
    clear: both;
    float: right;
	font-size:16px;
	font-weight:400;
    color: #575757;
	line-height: 22px;
	padding-right: 41px;
}
 footer .ar_direction1 .contact ul li span a {
	font-size:16px;
	font-weight:400;
	color: #575757;
	text-decoration: none;
}
footer .ar_direction1 .contact ul li span a:hover {
	color: #ad2a31;
	text-decoration: none;
}

footer .ar_direction1 .ftr-btm {
	background:#413d3d;
	padding: 10px 0;
	margin-top: 40px;
}
footer .ar_direction1 .copyright {
    color: #dfdfdf;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
	font-weight:400;
}
footer .ar_direction1 .powered-by {
    color: #dfdfdf;
    font-size: 16px;
    font-weight:400;
	float:left;
	margin-top: 8px;
}
.ar_direction1 .back-top {
    bottom: 10px;
    position: absolute;
    right: 0;
	left:0;
	width: 50px;
	margin: 0 auto;
}
.ar_direction1 .back-top #toTop {
	color: #f6d12e;
	line-height: 42px;
	transition: all 0.8s ease-in-out 0s;
	z-index: 50;
}
.ar_direction1 .back-top i {
	font-size: 40px;
	position: relative;
	top: 9px;
}
.ar_direction1 .back-top #toTop:hover {
	color: #fff;
}
.ar_direction1 .footer-align{
    float: right !important;
    }




/* Sign IN Popup */

/*sing in popup start*/
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
    .lang .open > .dropdown-menu {
	display: grid !important;
}
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

/*singin popup end*/


/* view booking and profile */

.modal-content{
    border-radius: 0;
}
.modal-header{
    padding: 13px 15px;
}
.modal-title{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}
.modal-header .close {
    margin-top: -1px;
    color: #000;
    opacity: 0.8;
}
.user_login p label {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.viewradio_sec{
    width: 100%;
    float: left;
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
.btn-submit{
    width: 100%;
    text-align: center;
}
.btn-submit button{
    width: 100%;
    height: 44px;
    margin: auto;
    background: var(--primary-color);
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.viewradio_sec .radio_view {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
} */

.radio_view:hover input~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.radio_view input:checked~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #006ace;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




/* Profile */

.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 0 0 0 8px;
    background: none !important;
    padding: 4px 5px;
    cursor: pointer;
    /* border-bottom: 1px solid rgb(255, 255, 255) !important; */
    border-radius: 0;
    border-right: 0px !important;

}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #ad2a31;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #000;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    width: 86px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 11px 10px !important;
    background: #ad2a31;
    position: absolute;
    top: 101%;
    right: 0;
    width: 92%;
    border-radius: 0 !important;
    z-index: 9999;
    padding-bottom: 4px !important;
}
.profile-dropdown ul li{
    border-bottom: 1px solid #484848;
}
.profile-dropdown ul li a {
    display: block;
    padding: 11px 21px !important;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.ar_direction1 .profile-dropdown ul li a {
    display: block;
    padding: 11px 10px !important;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    margin: 3px -1.25rem 0 -1.25rem !important;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #616161;
}

.profile-dropdown>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.profile-dropdown>label i {
    /* color: #b2b2b2; */
    font-size: 1.75rem;
    font-size: 1.75rem;
    padding: 4px 0px 0px;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.customer-profile{
    margin-top: 0px;
}
.flight-step-review{
    margin-top: 1px;
}
.flight-listing{
    border-top: 1px solid #ddd;
}

/* Blog */
.right-div .right-main .categories ul {
   
    float: none !important;
}
@media screen and (max-width: 767px) {
     .ar_direction1 .back-top {
         right: -143px !important;
         margin: 0 !important;
     }
}
@media (max-width: 568px) and (min-width: 320px) {
    .back-top {
        left: 45px !important;
    }
}

.room-title {	
    color: #ad2a31 !important;
}