<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holidays</title>
    <link rel="shortcut icon" href="/assets/images/SGS_Demo1.png">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202007280000">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="css/signin.css" rel="stylesheet" type="text/css">
    <link href="css/package.css" rel="stylesheet" type="text/css">
    <link href="css/ar_main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="carouselowl/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
    <link rel='stylesheet' href='/assets/css/vue-loading.css?v=202007070000'>
</head>

<body>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <div id="home">
        <header>
            <headeritem></headeritem>
        </header>
        <section class="customer-profile popular_sec sp_padding" id="holiday">
            <div class="vld-parent">
                <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
            </div>
            <div class="inner-banners" :style="{ background: 'url(' +pagebanner.Banner_Image+ ')'}">
                <div class="container" v-cloak>
                    <h1>{{pagebanner.Banner_Title}}</h1>
                    <p><a href="/">{{pagebanner.Breadcrumb1}} ></a> {{pagebanner.Breadcrumb2}}</p>
                </div>
            </div>

            <div class="holidaypage ar_direction" v-cloak>

                <div class="container flxSex_direction">

                    <div class="clearfix"></div>
                    <div class="col-md-9  col-sm-8 search-col-padding pl-0">
                        <input autocomplete="off" class="form-control b-radius-left" required=""
                            :placeholder="pagebanner.Search_Placeholder" v-model="pkgSearch" type="text">
                        <!-- v-on:keyup="packageListing(pkgSearch)"> -->
                        <!-- <div class="empty"></div> -->
                    </div>
                    <div class="col-md-3 col-sm-4 search-col-padding pack-search">
                        <button style="height: 42px; margin-bottom:12px;" type="submit" class="search-button"
                            @click.prevent="packageListing(pkgSearch)">{{pagebanner.Search_Label}}
                        </button>
                    </div>

                    <!-- <div class="clearfix"></div> -->
                    <div v-if="packages.length && !visible" id="owl-demo-3">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" :key="index"
                            v-for="(holidy, index) in package">
                            <a href="#" v-on:click="getmoreinfo(holidy.More_details_page_link)">
                                <div class="package_list">
                                    <div class="packageImg">
                                        <img :src="holidy.Image" alt="package">

                                        <span>{{ $n((holidy.Price/CurrencyMultiplier), 'currency', selectedCurrency)
                                            }}</span>
                                    </div>

                                    <div class="package-text">
                                        <div class="pck_desti">
                                            <h5>{{holidy.Title}}</h5>
                                            <p>{{holidy.Package_Subtitle}}</p>
                                        </div>
                                        <div class="pck-btn-sec">
                                            <button>{{pagebanner.Book_Now_Label}}</button>
                                            <div class="pck-right">
                                                <div class="star-rating">
                                                    <i v-for="rowindex in 5"
                                                        v-bind:class="[getrating(holidy.More_details_page_link)>=rowindex?'fa fa-star':'fa fa-star-o' ]"
                                                        class="fa fa-star"></i>
                                                    <!-- <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i> -->
                                                </div>
                                                <div class="days"><i class="fa fa-clock-o"></i> {{holidy.Days}}
                                                    {{pagebanner.Day_Label}} {{holidy.Night}} {{pagebanner.Night_Label}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div v-else-if="visible">
                        <div class="no-results">
                            <loading :active.sync="visible" :can-cancel="false" :loader="'dots'"></loading>
                        </div>
                    </div>
                    <div v-else class="no-results">
                        <p>{{'No Results'}}</p>
                    </div>
                </div>
                <div class="pagination-in" style="display: flex; justify-content: center;">
                    <ul class="pagination">
                        <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i
                                    class="fa fa fa-angle-double-left"></i></a></li>
                        <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectPacakges(ind)" class=""
                            :class="rowindex==currentPages ? 'active' :'' ">
                            <a href="#">{{rowindex}}
                                <!-- <span class="sr-only">(current)</span> -->
                            </a>
                        </li>

                        <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i
                                    class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
    </div>
    </section>
    <footer>
        <footeritem></footeritem>
    </footer>
    </div>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="js/jquery.leanModal.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/SGS_Demo1/demo-page/js/detect.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202007280000"></script>
    <script src="js/select2.min.js"></script>
    <script src="carouselowl/js/owl.carousel_mini.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pack.js"></script>
    <script src="/SGS_Demo1/demo-page/js/demoVue.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ad_srch").click(function () {
                $(".ad_view").toggle();
            });
        });

    </script>

</body>

</html>