<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Congress Abu Dhabi 2020</title>
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../assets/css/nouislider.min.css?v=201906200000">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="hotels" v-cloak>
    <div class="hm_main">
      <div class="bannersec" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
        <div class="container">
          <div class="search-section">
            <div role="tabpanel">
              <div class="tab-content">
                <hotels :labels="labels" inline-template role="tabpanel" class="tab-pane active" id="hotel">
                  <div id="div_hotel">
                    <div v-if="validationMessage" class="validation_hotel">{{validationMessage}}</div>
                    <div class="row sp_padding">
                      <div class="col-md-4 col-sm-6 col-xs-12 search-col-padding">
                        <label>City</label>
                        <city-search :labels="labels" @city-search-completed="citySearchCompleted"></city-search>
                      </div>
                      <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                        <label>Check In</label>
                        <div class="input-group">
                          <input id="checkInId" placeholder="DD/MM/YYYY" readonly="readonly" class="calendar form-control textbox" type="text" />
                          <button type="button" class="ui-datepicker-trigger"><i class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                        <label>Check Out</label>
                        <div class="input-group">
                          <input id="CheckOutId" placeholder="DD/MM/YYYY" readonly="readonly" class="calendar form-control textbox" type="text" />
                          <button type="button" class="ui-datepicker-trigger"><i class="fa fa-calendar"></i></button>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding">
                        <div class="km_slider">
                          <label class="within_sec">Include cities within</label>
                          <div id="rangeSlider"></div>
                          <label id="slider-step-value"></label>
                        </div>
                      </div>
                      <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                        <label>Occupancy</label>
                        <div class="travellersDropdown flt">
                          <div class="custom-select-v3 lg">
                            <input class="form-control" readonly autocomplete="off" id="_totStrhtl" v-bind:value="totalcount"
                              type="button">
                          </div>
                          <div class="travelerSelectWindow">
                            <div id="travelRoundtrip">
                              <!-- <div id="div_Iteratetxt"> -->
                              <div v-for="todo in todos" :key="todo.id">
                                <todo-item  :labels="labels" :id="todo.id" :value="todo.value"></todo-item>
                              </div>
                              <div class="add-room" href="#" v-on:click="addNewTodo">
                                <i class="fa fa-plus" aria-hidden="true"></i>Add Room
                              </div>
                              <div class="remove-room" href="#" v-show="dspl" v-on:click="RemoveNewTodo">
                                <i class="fa fa-trash" aria-hidden="true"></i>Delete
                              </div>
                            </div>
                            <div class="closeDropdown">
                              <span class="closeBtn closeLink" v-on:click="done">Done</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row sp_padding">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="search-button"  v-on:click="search">SEARCH&nbsp;&nbsp;<i aria-hidden="true" class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </hotels>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" v-for="(banners,indx) in bannerImages"
              :class="{ 'active': parseInt(indx) == 0 }" :data-slide-to="indx"></li>

          </ol>
          <div class="carousel-inner">
            <div class="item" v-for="(banner,indx) in bannerImages" :class="{ 'active': parseInt(indx) == 0 }">
              <img :src="banner.Image" alt="banner image">
              <div class="banner-info">
                <div class="container">
                  <div class="row">
                    <div class="banner-text" v-if="banner.Name">
                      <h1>{{banner.Name}}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i
              class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs"
            href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
        
      </div>
      </div> -->

  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/ICA/master/js/hotel-search.js?v=2020011170000"></script>
  <script src="/ICA/ServiceJs/hotel.js?v=2020011170000"></script>
  <script src="/assets/js/pack.js?v=201904080000"></script>

</body>

</html>