<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Congress Abu Dhabi 2020</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="Hoteldetails" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
              <h2>Hotel Details</h2>
            </div>
        </div>
        <section class="mainCont_area">
       
            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="search_card">
                                <div class="card_head">Reservation</div>
                                <div class="cmn_area_modify">
                                    <div class="cmn_modify">
                                        <h6>Guest Name</h6>
                                        <input type="text" v-model="name">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Email ID</h6>
                                        <input type="email" v-model="email">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Check In </h6>
                                        <input type="text" placeholder="Check In Date" id="from1" autocomplete="off"  v-on:focus="dateChecker">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Check Out </h6>
                                        <input type="text" placeholder="Check Out Date" id="from2" autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Select Rooms</h6>
                                        <select class="myselect" id="roomno" v-on:change="checkPrice()">
                                            <option selected disabled hidden value="">Select Rooms</option>
                                            <option :value="no" v-for="no in 10">{{no}}</option>
                                        </select>
                                    </div>
                                    <div class="cmn_modify">
                                        <div class="side_sec">
                                            <h6>INITIAL PRICE</h6>
                                            <h5><span>AED </span>{{maincontent.Rate}}</h5>
                                        </div>
                                        <div class="side_sec">
                                            <h6>Your PRICE</h6>
                                            <h5><span>AED </span>{{roomtotal}}</h5>
                                        </div>
                                    </div>

                                </div>
                                <button class="modify_srch_btn" v-on:click="checkReservation">Check Reservation</button>
                            </div>



                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 hotel_details">
                                    <h4>{{maincontent.Hotel_Name}}</h4>
                                    <div class="hotel_detailsImg">
                                        <span>AED {{maincontent.Rate}}</span>
                                        <img :src="details.Hotel_Image_Banner" alt="">
                                    </div>
                                    <div class="details-sec">
                                        <h3>Informations</h3>
                                        <p>{{details.Informations}}</p>
                                    </div>
                                    <div class="details-sec aminities">
                                        <h3>AMENITIES</h3>
                                        <ul>
                                            <div v-for="feature in details.Amenities">
                                                <li>{{feature.Amenities_Area}}</li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="details-sec booking-dates">
                                        <h3>Booking Dates</h3>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Main Check In Date</th>
                                                    <th>Main Check Out Date</th>
                                                    <th>Number of Nights</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{dateFormat(Bookingdetails.inDate)}}</td>
                                                    <td>{{dateFormat(Bookingdetails.outDate)}}</td>
                                                    <td>{{Bookingdetails.nights}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul>
                                            <div v-for="rule in Bookingdetails.instructions ">
                                                <li>{{rule.Instructions}}</li>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="details-sec booking-dates">
                                        <h3>Rooms and Rates</h3>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Room Type</th>
                                                    <th>Occupancy</th>
                                                    <th>Number of Rooms</th>
                                                    <th>Rate Including Breakfast</th>
                                                    <th>Rate Including Half Board</th>
                                                    <th>Rate Including Full Board</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="room in Roomdetails.Room_Details">
                                                    <td>{{room.Room_Type}}</td>
                                                    <td>{{room.Occupancy}}</td>
                                                    <td>{{room.Number_of_Rooms}}</td>
                                                    <td>{{room.Rate_Including_Breakfast}}</td>
                                                    <td>{{room.Rate_Including_Half_Board}}</td>
                                                    <td>{{room.Rate_Including_Full_Board}}</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">Total Number of Rooms</td>
                                                    <td>{{Roomdetails.Total_Rooms}}</td>
                                                    <td colspan="4"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <ul>
                                            <div v-for="rules in Roomdetails.Instructions">
                                                <li>{{rules.Instructions}}</li>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </section>
    </section>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/ICA/ServiceJs/hotel-details.js"></script>
</body>

</html>