<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Congress Abu Dhabi 2020</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="Hotels" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
                <h2>Hotel Results</h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="search_card">
                                <div class="card_head">Modify Search</div>
                                <div class="cmn_area_modify">
                                    <div class="cmn_modify">
                                        <h6>Choose Location</h6>
                                        <select class="myselect" id="city" v-model="cityName">
                                            <option v-for="locationHotel in locationHotels" :value="locationHotel">
                                                {{locationHotel}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Check In </h6>
                                        <input type="text" placeholder="Check In Date" id="from1" autocomplete="off" v-on:focus="dateChecker">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Check Out </h6>
                                        <input type="text" placeholder="Check Out Date" id="from2" autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Occupancy</h6>
                                        <select class="myselect" id="occupancy" v-model="occupancyName">
                                            <option v-for="OccupancyHotel in OccupancyHotels" :value="OccupancyHotel">
                                                {{OccupancyHotel}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <button class="modify_srch_btn" v-on:click="modifySearch">Modify Search</button>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <!-- Room area -->
                                    <div v-if="pageLoad">
                                        <div class="hotelsec" v-for="package in Hotels">
                                            <div class="hotelImg">
                                                <img :src="package.Holtel_Image" alt="">
                                            </div>
                                            <div class="hoteldetails">
                                                <h3>{{package.Hotel_Name}}</h3>
                                                <h4>{{package.Room_Category}}</h4>

                                                <div class="staring">
                                                    <i v-for="rowindex in 5"
                                                        :style="package.Hotel_Rating>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                                                        <i class="fa fa-star"
                                                            :style="package.Hotel_Rating>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                                                    </i>
                                                </div>
                                                <div class="sml_description">
                                                    {{package.Hotel_Description}}
                                                </div>
                                                <div class="selectSec">
                                                    <button
                                                        v-on:click="getmoreinfo(package.More_details_page_link)">Select
                                                        Room</button>
                                                    <div class="price_area">
                                                        <span>Price :</span> AED {{package.Rate}}
                                                        <p>Price per night</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="no-result" v-if="!pageLoad">
                                        <img src="images/search.jpg" alt="">
                                        <h2>No matching search results</h2>
                                        <p>Try again using more general search terms</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </section>
    </section>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/ICA/ServiceJs/hotel-results.js"></script>
</body>

</html>