<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Congress Abu Dhabi 2020</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="css/media.css" rel="stylesheet" type="text/css">
<link href="css/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
<header>
  <headeritem></headeritem>
</header>

<section class="p-0 relative"  id="Packagedetails" v-cloak>
      <div class="service_banner" style="background-image: url(images/innerbanner.png);">
        <div class="container">
          <h2>Tour details</h2>
        </div>
    </div>
    <section class="mainCont_area">
        
       <div class="main_tour_sec">
           <div class="container">
               <div class="col-lg-9 col-md-8">
                   <div class="tour_tabs">
                       <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Information</a></li>  
                        <li><a href="#tab2" data-toggle="tab">Inclusions </a></li>
                        <li><a href="#tab3" data-toggle="tab">Terms & conditions</a></li>
                        <li><a href="#tab4" data-toggle="tab">Gallery</a></li>
                      </ul>

<div class="tab-content">
<div class="tab-pane active" id="tab1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">Information</a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
         <div class="tourpackageimg">
             <img :src="maincontent.Image" alt="package">
             <h4>AED {{grandtotal}}</h4>              
         </div>
          <h3>{{maincontent.Title}}</h3>
          <h5>{{maincontent.Hours}} HOURS / {{maincontent.Minutes}} MINUTES</h5>              
          <p v-html="maincontent.Description"></p>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane" id="tab2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseTwo">Inclusions</a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body" v-html="Inclusions.Inclusion">
      </div>
    </div>
  </div>
</div>
<div class="tab-pane" id="tab3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseThree">Terms & conditions</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body" v-html="Terms.Term">
      </div>
    </div>
  </div>
</div>
<div class="tab-pane" id="tab4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseThree">Gallery</a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
         <div class="tour_gallery">
             <div class="row">
                 <div class="col-lg-3 col-md-3 col-sm-6 gallery" v-for="image in Gallery.Images">
                     <a :href="image.Image" data-fancybox="images" data-caption="My caption">
                     <img :src="image.Image" alt="gallery">
                     </a>
                 </div>
             </div>
         </div>    
      </div>
    </div>
  </div>
</div>
</div>
                   </div>
               </div>
               <div class="col-lg-3 col-md-4">
                   <div class="tour_book">
                       <h3>Tour Booking</h3>
                       <div class="bookform">
                           <input type="text" class="booktxt" placeholder="Name" v-model="name">
                           <input type="text" class="booktxt" placeholder="Email ID" v-model="email">
                           <input type="text" class="booktxt" placeholder="Phone" v-model="phone">
                           <div class="cmnsec">
                            <input type="text" class="booktxt" placeholder="Booking Date" id="from" autocomplete="off" v-model="searchCriteria.date"/>
                           </div>
                           <select class="booktxt" id="adult" v-model="searchCriteria.adult" v-on:change="calc()">
                            <option value="1">1 Adult</option>
                            <option value="2">2 Adults</option>
                            <option value="3">3 Adults</option>
                            <option value="4">4 Adults</option>
                            <option value="5">5 Adults</option>
                            <option value="6">6 Adults</option>
                        </select>
                        <select class="booktxt" id="childdropdown" v-model="child" v-on:change="calc()">
                          <option value="0" selected="selected">0 child</option>
                          <option value="1">1 child</option>
                          <option value="2">2 child</option>
                          <option value="3">3 child</option>
                      </select>
                           <textarea class="booktxt01" placeholder="Message" v-model="message"></textarea>
                           <input type="button" class="bookbtn" value="BOOK NOW" v-on:click="sendbooking">
                       </div>
                   </div>
               </div>
           </div>
       </div>
       
    </section>
</section>

<footer :key="key">
  <footeritem :key="key"></footeritem>
</footer>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>

    <script src="js/bootstrap.min.js"></script> 
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script src="ServiceJs/tour-details.js"></script>

<script type="text/javascript">
	$('[data-fancybox]').fancybox({
  protect: true,
  buttons : [
    'zoom',
    'thumbs',
    'close'
  ]
});


$('[data-fancybox="watermark"]').fancybox({
  protect    : true,
  slideClass : 'watermark',
  toolbar    : false,
  smallBtn   : true
});

// Preload watermark image
// Please, use your own image
(new Image()).src = "http://fancyapps.com/GJbkSPU.png";
</script>
</body>
</html>