<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Congress Abu Dhabi 2020</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="transfer-results" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
              <h2>Transfer Results</h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="search_card">
                                <div class="card_head">Modify SEARCH</div>
                                <div class="cmn_area_modify none_sec">
                                    <div class="cmn_modify">
                                        <h6>City</h6>
                                        <!-- <div class="dwnarw"> -->
                                            <select class="myselect" id="city" v-model="cityName">
                                                <option value="" selected disabled hidden>City</option>
                                                <option v-for="cityList in cityList" :value="cityList">{{cityList}}</option>
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Pickup Location</h6>
                                        <!-- <div class="dwnarw"> -->
                                            <select class="myselect" id="tFrom" v-model="fromL">
                                                <option value="" selected disabled hidden>Pick Up Location</option>
                                                <option v-for="froms in resultFrom" :value="froms">
                                                    {{froms}}</option>
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Drop off Location</h6>
                                        <!-- <div class="dwnarw"> -->
                                            <select class="myselect" id="tTo" v-model="toL">
                                                <option value="" selected disabled hidden>Drop Off Location</option>
                                                <option v-for="tos in resultTo" :value="tos">
                                                    {{tos}}</option>
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Transfer Date</h6>
                                        <input type="text" class="transfer_calender" placeholder="DD/MM/YYYY" id="from2"
                                            autocomplete="off">

                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Travellers</h6>
                                        <!-- <div class="dwnarw"> -->
                                            <select class="myselect" id="guestId" v-model="guest">
                                                <option value="" selected disabled hidden>0</option>
                                                <option v-for="guests in numberPassenger" :value="guests">
                                                    {{guests}}</option>
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Pick-Up Time (H)</h6>
                                        <!-- <div class="dwnarw"> -->
                                            <select class="myselect" id="pickuphour" v-model="pickUpH">
                                                <option value="" selected disabled hidden>Pick-Up Time (H)</option>
                                                <option v-for="index in 24" :value="index">
                                                    {{ ("0"+(index-1)).slice(-2) }}
                                                </option>
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Pick-Up Time (M)</h6>
                                        <!-- <div class="dwnarw"> -->
                                            <select class="myselect" id="pickupmin" v-model="pickUpM">
                                                <option value="" selected disabled hidden>Pick-Up Time (M)</option>
                                                <option v-for="index in 60" :value="index">
                                                    {{ ("0"+(index-1)).slice(-2) }}
                                            </select>
                                        <!-- </div> -->
                                    </div>
                                </div>

                                <button class="modify_srch_btn" v-on:click="modifySearch">Modify Search</button>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div v-if="pageLoad">
                                        <div class="main_transfer_sec" v-for="Packages in Packages">
                                            <div class="transferImg"><img :src="Packages.Vehicle_Image" alt="transfer">
                                            </div>
                                            <div class="transfer_cont">
                                                <h2>{{Packages.Vehicle_Name}}</h2>
                                                <div class="transfer_table">
                                                    <table style="width:100%; border: 0px;" cellpading="0"
                                                        cellspacing="0">
                                                        <tr>
                                                            <td style="width: 80px;">Max pax</td>
                                                            <td style="width: 10px;">:</td>
                                                            <td style="width: 170px;">
                                                                {{Packages._Max_Number_of_Passengers}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 80px;">Rate Basis</td>
                                                            <td style="width: 10px;">:</td>
                                                            <td style="width: 170px;">{{Packages.Rate_Basis}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 80px;">Status</td>
                                                            <td style="width: 10px;">:</td>
                                                            <td v-if="Packages.Availability_Status"
                                                                style="width: 170px;">
                                                                <span class="green">Available</span> </td>
                                                            <td v-if="!Packages.Availability_Status"
                                                                style="width: 170px;"><span class="red">Not
                                                                    Available</span> </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="transfer_rate">

                                                <h5>AED <span>{{Packages.Price}}</span></h5>
                                                <input type="button" class="transferbtn" value="BOOK NOW"
                                                    v-on:click="getmoreinfo(Packages.More_details_page_link)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="no-result" v-if="!pageLoad">
                                        <img src="images/search.jpg" alt="">
                                        <h2>No matching search results</h2>
                                        <p>Try again using more general search terms</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </section>
    </section>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/ICA/ServiceJs/transfer-results.js"></script>

</body>

</html>