<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Congress Abu Dhabi 2020</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="transfer-booking" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
                <h2>Transfer Booking</h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="transfer_booking">
                    <h3><span>1</span>SELECTED TRANSFERS DETAILS</h3>
                    <div class="transfer_book_sec">
                        <div class="img_sectransfer">
                            <div class="img_transfer"><img :src="Transfer.Vehicle_Image" alt="transferimg"></div>
                            <h4>{{Transfer.Vehicle_Name}}</h4>
                            <table cellpading="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48%">Destination From</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;">{{Transfer.Destination_From}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 48%">Destination To</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;">{{Transfer.Destination_To}}</td>
                                    </tr>
                                    <tr>
                                        <td>Max. Number Of Passengers </td>
                                        <td>:</td>
                                        <td>{{Transfer.Max_Number_of_Passengers}}</td>
                                    </tr>
                                    <tr>
                                        <td>Guest</td>
                                        <td>:</td>
                                        <td>{{searchCriteria.guest}}</td>
                                    </tr>
                                    <tr>
                                        <td>Extra Hour</td>
                                        <td>:</td>
                                        <td>AED <span>{{Transfer.Extra_Hour_Rate}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>Full Day Rent</td>
                                        <td>:</td>
                                        <td>AED <span>{{Transfer.Full_Day_Rent}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h4>{{Transfer.Description_Title}}</h4>
                            <p>{{Transfer.Description}}</p>
                            <h4>{{Transfer.Cancellation_Policy_Title}}</h4>
                            <p>{{Transfer.Cancellation_Policy}}</p>
                        </div>
                        <div class="bookright_area">
                            <div class="available_sec" v-if="Transfer.Availability_Status"><i
                                    class="fa fa-check-circle"></i>AVAILABLE</div>
                            <div class="notavailable_sec" v-else><i class="fa fa-times-circle"></i>NOT AVAILABLE</div>
                            <div class="book_price"><span>AED </span>{{Transfer.Price}}</div>
                        </div>

                    </div>
                    <h3><span>2</span>TRAVELLER(S) DETAILS</h3>
                    <div class="transfer_book_sec">
                        <p>{{Traveler_Details.Description}}</p>
                        <div class="book_transfer_form">
                            <div>
                                <input class="booktxt_transfer" type="text" placeholder="First Name"
                                    v-model="travellerInfo.firstName">
                                <input class="booktxt_transfer" type="text" placeholder="Last Name"
                                    v-model="travellerInfo.lastName">
                                <input class="booktxt_transfer" type="text" placeholder="Email"
                                    v-model="travellerInfo.email">

                                <input class="booktxt_transfer" type="number" placeholder="Contact Number"
                                    v-model="travellerInfo.contactNumber">
                                <div class="bookbtnsec">
                                    <button class="transferbtn" v-on:click="bookingDeatils">Submit</button>

                                </div>
                            </div>
                        </div>
                        <div class="condition_checkbox">
                            <label class="checkbook">{{Traveler_Details.Terms_and_Conditions}}<input type="checkbox"
                                    checked="checked" v-model="checked"><span class="checkmark6"></span></label>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/ICA/ServiceJs/transfer-booking.js"></script>

</body>

</html>