

/* Google Font Link */
/* Import All CSS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: url(../)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #004f87;
	color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 15px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}

.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	      font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	display: inline-block;
	font-size: 18px;
	background-color: transparent;
	color: #fff !important;
	padding: 12px 45px;
	border-radius: 5px;
	vertical-align: middle;
	text-transform: capitalize;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.section {
	padding: 50px 0;
	overflow: hidden;
}

p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #404041;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 70px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #fc4f00;
	line-height: 44px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}

body {
	      font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: '';
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 4px solid #004f87;
  border-top-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*=======Start-homepage-css=========*/

/* .wp-btn{
    height: 55px;
    width: 55px;
    font-size: 30px;
    text-align: center;
    background: #25D365;
    position: fixed;
	bottom: 40px;
	left: 15px;
    z-index: 999;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 49px;
}
.wp-btn:hover, .wp-btn:focus{
    background: #128c7e;
    color: #fff;
} */

/*back-to-top-css*/

/* .scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999;
	display: none;
	border-radius: 50%;
	background-color: #004f87;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #fcd228;
	color: #000;
}

.header-top{
    background: #fff;
    position: relative;
    padding: 20px 0;    
}
.relative{position: relative;}
header .logo{
    position: absolute;
    top: -22px;
    z-index: 99;
    background: #fff;
    padding: 24px 0px;
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 22px 0px rgba(0,0,0,0.3);
}
header .logo a{display: block;}
header .logo img{
    background: #fff;
} */



/*=====  Call to Actions Button CSS BOF  ======*/

/* .call-to-action {
	margin: 0;
    float: right;
    font-family: 'Open Sans', sans-serif;
}
.btn-clta {
	font-weight: 400;
	color: #333;
	background: #fff;
	border: none !important;
	padding: 10px 20px;
	font-size: 15px;
    font-weight: 600;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin: 0 0 0 8px;
	float: left;
    text-align: center;
    
}
.btn-clta i {
	font-size: 15px;
	padding: 2px 2px 0 0;
}
.btn-clta:hover, .btn-clta:focus, .btn-clta.active {
	
	color: #0094d9;
	text-decoration: none;
}
.lang, .currency {
	float: left;
	margin: 0 0 0 8px;
}
.lang .bootstrap-select.fit-width {
	width: 90px !important;
}
.currency .bootstrap-select.fit-width {
	width: 154px !important;
}
.lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn {
	width: 100%;
	padding-right: 20px;
	border-radius: 0;
	font-size: 12px;
	padding: 10px 20px 10px 8px;
    margin-top: 0;
    border-radius: 4px;
}
.lang .bootstrap-select > .btn:hover, .currency .bootstrap-select > .btn:hover {
	color: #000;
}
.lang .bootstrap-select.btn-group .dropdown-menu, .currency .bootstrap-select.btn-group .dropdown-menu {
	background: #fff;
	border-radius: 0;
	top: 95%;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a, .currency .bootstrap-select.btn-group .dropdown-menu a {
	color: #333;
	background: transparent !important;
	padding: 5px 5px;
	border: 1px solid #d1d1d1;
	margin: 4px 5px;
	font-size: 12px;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:hover, .lang .bootstrap-select.btn-group .dropdown-menu li a:focus, .currency .bootstrap-select.btn-group .dropdown-menu a:hover, .currency .bootstrap-select.btn-group .dropdown-menu a:focus {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #e8e8e8 !important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:active, .currency .bootstrap-select.btn-group .dropdown-menu li a:active {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #f1f1f1;
}
.lang .btn-group.open .dropdown-toggle, .currency .btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.currency .bootstrap-select.fit-width{width: 100% !important;} */


/*===popup-css====*/

/* #lean_overlay {
	position: fixed;
	z-index: 9999;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}
.popupContainer {
	position: absolute;
	width: 400px;
	height: auto;
	left: 45%;
	top: 128px !important;
	background: #fff;
	text-align: left;
}
#modal_trigger {
	display: block;
} */

/* Popup Styles*/

/* .popupHeader {
	font-size: 16px;
	text-transform: none;
}
.popupHeader {
    color: #0094d9;
    font-size: 22px;
	position: relative;
	padding: 15px 20px 10px 20px;
	font-weight: bold;
	width: auto;
    font-family: 'Open Sans', sans-serif;
}
.popupHeader .modal_close {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: 0px;
	background: #0094d9 url(../images/cd-icon-close.svg) no-repeat center center;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}
.popupHeader .modal_close:hover {
	color: #000;
}
.popupBody {
	padding:0 20px 20px 20px;
}

.user_login small{margin: 10px 0;}
.user_login small{
    font-size: 14px;
     font-family: 'Open Sans', sans-serif;
}
.user_login label{
    font-size: 16px;
    clear: both;
    display: block;
    margin-top: 10px;
    font-weight: 600;
     font-family: 'Open Sans', sans-serif;
    }
.user_login input{
    margin: 10px 0;
}

.user_login .btn-blue{
    margin-top: 15px;
    font-weight: 600;
} */

/* User Login Form */
/* 
.profile-tab{
    float: left;
    margin-left: 10px;
}
.profile-tab .dropdown{
    background: #0094d9;
    border-radius: 5px;
    padding: 4px 10px;
    color: #fff;
    font-size: 16px;
}
.profile-tab .btn{
    margin-top: 0!important;
    color: #fff;
     font-size: 16px;
    vertical-align: middle;
        font-weight: 600;

}
.profile-tab .btn:hover{color: #fff;}
.profile-tab .btn i{
    margin-left: 10px;
}
.profile-user{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.dropdown-item{
    width: 100%!important;
    display: block!important;
    background: #0094d9;
    color: #fff;
    padding: 7px 10px;
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    line-height: 22px;
    font-weight: 600;
}
.dropdown-item:hover{
    background: #fcd228;
    color: #000;
}
.dropdown-item i{
    margin-right: 5px;
}
.dropdown-item:last-child{
    border-bottom: none;
}
.dropdown-menu{
    padding: 0;
    border-radius: 0;
    min-width: 135px;
    right: 0;
    left: inherit;
}
.popup{
    overflow: hidden;
    float: left;
}

.popup .btn-info{
    float: left;
    padding: 8px 20px;
    margin-top: 0;
    font-size: 15px;
    margin-left: 10px;
    background: #0094d9;
    border: 2px solid #0094d9;
    font-weight: 600;
}
.popup .cr-btn{
    background: #0094d9!important;
     border: 2px solid #0094d9;
}
.popup .btn-info:hover{
    background-color: transparent;
    color: #004f87;
    
}
.popup .btn-info:focus{outline: none;}
.popup .cr-btn:hover{
    background-color: transparent!important;
     color: #0094d9;
}
.modal.fade .modal-dialog{
    margin-top: 160px;
    width: 60%;
}
.modal-content{
    background: #004f87;
    overflow: hidden;
}

.modal-header{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.close{
    color: #fff;
    opacity: 1;
    font-weight: 400;
    font-size: 25px;
}
.close:hover{
    color: #fcd228;
    opacity: 1;
}
.modal-body{
    overflow: hidden;
    padding: 50px 30px;
}
.model-text {
    float: left;
    width: 50%;
    text-align: left;
}
.model-text h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    padding: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.model-text h3  span{
    font-weight: 400;
}
.model-text ul li {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    font-weight: 400;
    position: relative;
    padding-left: 27px;
    font-family: 'Open Sans', sans-serif;
}

.model-text ul li i {
    margin-right: 10px;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 19px;
}


.model-form{
    background: #fff;
    width: 48%;
    float: right;
    padding: 15px;
    border-radius: 5px;
    
}

.model-form h3{
    color: #004f87;
    padding: 0;
    font-size: 28px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

#forgot-pass .model-form p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}

.model-form hr{
    height: 4px;
    background: #0094d9;
    margin: 10px 0 0 0;
    width: 20%;
    border: none;
}


.model-form ul li{
    float: left;
    width: 49%;
    height: 45px;
    text-align: center;
    position: relative;
}

.fb-model{
    background: #21509b;
    color: #fff;
    margin: 15px 0;
}
.fb-model:hover{
    background: #133978;
}
.google-model{
    background: #de4e43;
    color: #fff;
    float: right!important;
    margin: 15px 0;
}
.google-model:hover{background: #cf3e33;}
.fb-model i, .google-model i{
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background: rgba(255,255,255,0.1);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 43px;
}
.fb-model a, .google-model a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    display: block;
}

.fb-log, .gp-log{
    text-align: center;
    display: block;
    margin: 10px 0;
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 15px;
}
.fb-log{padding-left: 0;}
.gp-log{padding-right: 0;}
.model-form .form-control{
    font-family: 'Open Sans', sans-serif;
}
.model-form input[type="submit"]{
    width: 100%;
    background: #0094d9;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
    
}
.model-form input[type="password"]{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.model-form input[type="checkbox"]{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.model-form input[type="submit"]:hover{
    background: #004f87;
    color: #fff!important;
    font-family: 'Open Sans', sans-serif;
}

.model-form select{
    width: 100%;
    border-radius: 3px;
    padding: 8px 10px;
    background: #fff!important;
    float: right;
}
.name-se{
    width: 100% !important;
}
.forgot-pass{
    text-align: center;
    display: block;
    font-size: 16px;
    color: #004f87;
    font-weight: 600;
    margin-top: 15px;
     font-family: 'Open Sans', sans-serif;
}
.cr-ac{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
     font-family: 'Open Sans', sans-serif;
}
.back-login {
    text-align: center;
    padding: 10px 0;
    display: block;
    color: #004f87;
    font-weight: 600;
}
.cr-ac p{
    color: #3b3b3b !important;
}
.cr-ac a{
    color: #004f87;
}
.cr-ac a:hover, .forgot-pass:hover{
    color: #0094d9;
}

.btn-blue{
    width: 100%;
    background: #0094d9;
    color: #fff;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 18px;
    border: none;
}
.btn-blue:hover{
    background: #004f87;
}



.top-contact{
    float: left;
    line-height: 48px;
}
.top-contact li{
    display: inline-block;
    color: #fff;
    font-size: 18px;
}
.top-contact li i{
    border: 1px solid #0094d9;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    text-align: center; 
    line-height: 27px;
    color: #0094d9;
}
.top-contact li a{
    color: #231f20;
    font-size: 18px;
    
}
.top-contact li a:hover{color: #0094d9;}

.buttons{
    text-align: right;
    float: right;
}
.buttons .btn{
    font-size: 18px;
    color: #146194;
    border-radius: 0;
    display: block;
    float: left;
    
}
.buttons .login-btn{
    color: #231f20;
    font-size: 17px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 20px;
    float: left;
    line-height: 48px;
}
.buttons .login-btn i{
    margin-right: 10px;
}

.buttons .login-btn:hover{
    color: #004f87;
}

.buttons .booking-btn{
    color: #004f87;
    font-size: 16px;
    border: 2px solid #004f87;
    padding: 14px 38px;
    border-radius: 5px; 
    float: left;
}

.buttons .booking-btn:hover{
    background: #004f87;
    color: #fff;
} */

/*==============================Navigation================================*/

/* .header-bottom{
    background: #004f87;
}
.navbar-default {
	border: none;
	z-index: 9;
	background: #004f87;
	position: relative;
	margin: 0;
}

.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
    float: right!important;
}

.nav>li {
	position: relative;
	display: block;
	color: #fff;
	font-size: 20px;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 24px 30px;
	position: relative;
	font-weight: 600;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: -40px 0 0 !important;
}

.top-nav-collapse {
	padding: 0;
	top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	background-color: #fcd228;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 18px;
	font-weight:600;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #000;
    background: #fcd228;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
} */



/*========banner=======*/

.banner-info{
    position: relative;
}

.banner_main {
	/* background: url(../images/banner-bg.jpg) no-repeat; */
	background-position: center;
	padding: 255px 0 305px 0;
	background-size: cover;
}

.banner_main .item {
	display: block;
	width: 100%;
	text-align: left;
}

.banner_main .banner-text h1 {
	color: #fff;
    font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 96px;
    line-height: 94px;
	text-transform: uppercase;
    text-align: center;
    font-family: 'Bell MT';
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); 
    margin-bottom: 100px;
}
.banner_main .banner-text h1 span{
   font-size: 84px; 
}
.banner_main .banner-text p {
	color: #146194;
	font-size: 35px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 36px;
    text-align: center;
    letter-spacing: 11px;
}

.banner_main .owl-buttons {
	display: none;
}
.banner_main .owl-theme .owl-controls{display: none!important;}

.banner_main .owl-pagination {
	position: absolute;
	bottom: -140px;
	left: 0;
	right: 0;
}

.owl-theme .owl-controls .owl-page span {
	background: #fff;
	opacity: 1;
	height: 5px;
	width: 30px;
	border-radius: 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fc4f00;
}


/*====FORM======*/


/*================Booking-Form-Css================*/

.booking-form {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background: rgba(255,255,255,0.6);
    z-index: 9;
	padding: 40px 0 50px 0;
	-webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
}

.search-section {
	position: relative;
}

.all-search-box {
	padding: 0;
}

.booking-tab {
	border-radius: 0;
	overflow: hidden;
	margin-top: -124px;
}

.tab-field {
	padding: 0;
}

.search-section .nav-tabs {
	border-bottom: none;
	text-align: center;
    padding-top: 20px;
}

.search-section .nav-tabs>li {
	float: none;
	text-align: center;
	
    margin-right: 1px;
    display: inline-block;
}

.search-section .nav-tabs .active {
	position: relative;
}

.search-section .nav-tabs>li>a {
	color: #484848;
	background-color: #f4f4f4;
	font-weight: 400;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
    border-radius: 5px 5px 0 0;
}

.search-section .nav>li>a {
	padding: 15px 30px;
	font-size: 16px;
	color: #004f87;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	      font-family: 'Open Sans', sans-serif;
}

.service-icon svg {
	fill:#004f87;
	margin: 0 auto;
    width: 35px;
    vertical-align: middle;
    margin-right: 5px;
}

.search-section .nav-tabs>li:hover i {
	color: #484848;
}

.search-section .nav-tabs>li.active svg {
	fill: #fff;
    display: inline-block;
}



.search-section .nav-tabs>li.active>a,
.search-section .nav-tabs>li.active>a:focus,
.search-section .nav-tabs>li.active>a:hover {
	border: none;
	background: #004f87;
	color: #fff;
}

.search-section .tab-content {
	color: #07253f;
}

.search-section .tab-content form {
	padding-top: 47px;
}

.search-col-padding .input-group {
	display: block;
}

.search-section label {
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	line-height: 16px;
}

.search-section .form-control {
	background-color: #fff;
	border: none;
	border-right: 1px solid #146194;
	border-radius: 0px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	display: block;
	font-size: 16px;
	height: 81px;
	line-height: 1.42857;
	padding: 0 0 0 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	color: #1c1c1c !important;
    font-weight: 600;
	/*z-index: 1;
    */
	margin: 0;
	position: relative;
}
.b-radius-left{border-radius: 5px 0 0 5px !important;}
.search-section .plane-icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}

.search-section .form-control::-moz-placeholder {
	color: #1c1c1c!important;
	opacity: 1!important;
}
.search-section .calendar::-moz-placeholder {
	color: #1c1c1c!important;
	opacity: 1!important;
}

.search-section .form-control:-ms-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .form-control::-webkit-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .form-control::-o-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}


.search-section .input-group-addon {
	background: transparent;
	color: #BEC4C8;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}

.search-section .search-col-padding {
	padding: 0;
}

.search-section option {
	color: #07253F;
}

.calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 20px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 81px;
	border: none !important;
	border-right: 1px solid #146194 !important;
}
.search-section .form-control, .calendar{
        font-size: 15px!important;
        font-weight: 400!important;
    }

.calendar ::placeholder{
	color: #1c1c1c!important;
}

.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 99 !important;
}

.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background-color: transparent;
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 1px;
	height: 1px;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.ui-datepicker-prev:after {
	margin: -60px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 30px;
}

.ui-datepicker-next:after {
	margin: -60px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content:"\f190";
	position: absolute;
	display: block;
	font-family:'FontAwesome';
    font-size: 18px;
    color: #000;
    font-weight: 400;
	
}
.ui-datepicker-next:after{
  content:"\f18e"; 
}
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {color: #004f87;}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #000;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #004f87;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
    padding-top: 10px;
}

.ui-state-default {
	display: block;
	text-decoration: none;
	color: #004f87;
	line-height: 40px;
	font-size: 15px;
	font-weight: 600;
    border-radius: 50%;
}

.ui-state-default:hover {
	background: #146194;
	color: #fff;
    border-radius: 50%;
}

.ui-state-highlight {
	color: #fff;
	background: #004f87;
    border-radius: 50%;
}

.ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
    border-radius: 50%;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}

.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}

.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btn:hover {
	color: #da434a;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.search-button::before {
	background: #000 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0 0;
	-moz-transform-origin: 50% 0 0;
	-o-transform-origin: 50% 0 0;
	transform-origin: 50% 0 0;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-property: transform;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	z-index: -1;
	border-radius: 20px;
}

.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #004f87;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	      font-family: 'Open Sans', sans-serif;
	padding: 5px;
	border: none;
	text-transform: capitalize;
	width: 100%;
	border-radius: 0 5px 5px 0;
	height: 81px;
}

.search-button i {
	font-size: 20px;
	padding-left: 15px;
}

.search-col-padding input[type="radio"] {
	margin-top: 2px;
}

.search-col-padding .active {
	color: #fff;
}

.trip-button {
	margin-top: 10px !important;
}

.search-button:hover,
.search-button:focus,
.search-button:active {
	color: #fff;
	text-decoration: none;
	background: #0094d9;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}


/*-----Select Box CSS-----*/

.bootstrap-select {
	width: 220px;
}

.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}

.bootstrap-select.fit-width {
	width: auto!important
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}

.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}

.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
	padding: 4px 8px
}

.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-actionsbox .btn-group button {
	width: 50%
}

.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-donebutton .btn-group button {
	width: 100%
}

.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}

.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}

select.bs-select-hidden,
select.selectpicker {
	display: none!important
}

select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}

#flight form .input-group {
	display: block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}

.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #646060 !important;
	/* text color */
	line-height: 34px;
	background: #ffff;
	border-radius: 0px;
	font-size: 14px;
	      font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	color: #646060;
}

 ::placeholder {
	font-size: 16px;
	color: #1c1c1c !important;
	      font-family: 'Open Sans', sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 17px;
	width: 40px;
	text-align: center;
	line-height: 30px;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	/* input background color */
	border: none;
	border-radius: 0px;
	height: 68px !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #96a9bf;
	/* option hover background */
	color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #96a9bf;
	/* option hover background */
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #ababab;
	padding: 7px;
	font-size: 20px;
}

.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}

.select2-dropdown {
	border-color: #6e8095;
}

.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}

.select-label {
	font-size: 15px !important;
	font-weight: 600 !important;
	text-transform: capitalize!important;
	padding-bottom: 10px;
}

.change-destination::after {
	content: url(../images/exchange-icon.png);
	position: absolute;
	right: -16px;
	top: 25px;
	z-index: 9;
}

.change-date::after {
	content: url(../images/exchange-date.png);
	position: absolute;
	right: -16px;
	top: 25px;
	z-index: 9;
}

.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 4px;
	width: 40px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}

.booking-form1 .form-group2 .select2-container .select2-selection--single,
.booking-form1 .form-group .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
}

.booking-form1 .form-group2 .select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #fff;
	padding: 7px;
	font-size: 15px;
}


/* Travellers CSS BOF ===================================================*/

.travellersDropdown {
	position: relative;
}

.custom-select-v3 {
	position: relative;
	cursor: pointer;
}

.custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 20px;
	color: #1c1c1c;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin-right: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 6;
	font-weight: 700;
	content: "\f107";
	font-family: 'FontAwesome';
}

.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 9px;
	z-index: 1;
}

.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	pointer-events: none;
}

.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
	padding-left: 10px !important;
	font-size: 14px !important;
	      font-family: 'Open Sans', sans-serif;
	color: #646060 !important;
}

.custom-select-v3 select,
.form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: normal;
	margin-bottom: 20px;
	padding: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	box-shadow: none;
	color: #000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.travelerSelectWindow {
	width: 330px;
	position: absolute;
	top: 81px;
	right: 0;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .1);
	z-index: 3;
	display: none;
}

.travelerSelectWindow.active {
	display: block;
}

.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}

.travelerSelectWindow fieldset {
	padding: 0 13px 15px 0;
}

fieldset {
	min-width: 0;
	margin: 0;
}

.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: left;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
	max-width: 100%;
}

.trvFld {
	float: left;
	margin-right: 10px;
	width: 70px;
}

.trvFld .custom-select-v3 {
	display: block;
}

.trvFld .custom-select-v3::before {
	font-size: 12px;
	height: 35px;
	line-height: 6px;
}

.trvFld .custom-select-v3 select {
	text-align: left;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}

.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}

.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}

select option {
	padding: 2px 5px;
	background: #fff;
}

.trvFld .custom-select-v3 select {
	text-align: left;
	line-height: 35px;
	color: #000;
}

.travelerSelectWindow .ageRange {
	float: left;
	font-size: 14px;
	color: #c2c2c2;
	padding-top: 10px;
}

.classSec {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
	margin: 0 15px 15px;
	overflow: hidden;
}

.classSec .custom-select-v3::before {
	top: 0;
}

.classSec label {
	margin-top: 5px;
}

.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}

.classSec .custom-select-v3.lg select {
	margin: 0;
}

.classSec .custom-select-v3 select {
	cursor: pointer;
}

.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	text-indent: initial;
	color: #000;
}

.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
}

.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}

.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
    overflow: hidden;
}

.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}

.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #004f87;
	display: inline-block;
	border-radius: 3px;
	opacity: .8;
	top: 8px;
}

.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}

.travelerSelectWindow .closeBtn:hover {
	opacity: 1;
}

.travellersDropdown.arrow::after {
	border-color: transparent transparent #fff;
	border-style: solid;
	border-width: 12px;
	bottom: -21px;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 0;
	z-index: 1;
}

.travellersDropdown.arrow::after {
	bottom: -15px;
	z-index: 6;
}


/*===========================================
=            Radio Button Custom            =
===========================================*/

.radio {
	padding-left: 20px;
	margin-bottom: 45px;
}

.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	font-size: 16px;
	color: #292929;
	font-weight: 600;
	padding-top: 3px;
	text-transform: uppercase;
}

.radio label.active,
.radio label:focus {
	color: #fc4f00;
}

.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -13px;
	border: 2px solid #696969;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 4px;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 6px;
	height: 6px;
	left: 11px;
	top: 8px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
	opacity: 0;
}

.radio input[type="radio"]:checked+label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio.radio-inline {
	margin-top: 0;
}

.radio-success input[type="radio"]+label::after {
	background-color: #146194;
}

.radio-success input[type="radio"]:checked+label::before {
	border-color: #146194;
}

.radio-success input[type="radio"]:checked+label::after {
	background-color: #146194;
}

.radio-success input[type="radio"]:checked+label {
	color: #146194;
}
.child-age{
    float: left;
}
.add-room{
    text-align: right;
    clear: both;
    margin-bottom: 15px;
    float: right;
}
.remove-room{float: left;}
.add-room a, .remove-room a{
    padding: 7px 13px;
    background: #146194;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 600;
    display: inline-block;
    margin-right: 15px;
}
.remove-room a{
    margin-left: 15px;
    margin-right: 0;
}
.add-room a:hover, .remove-room a:hover{
    background: #fcd228;
    color: #000;
}
.add-room a i, .remove-room a i{margin-right: 4px;}
.sm::before{top: 17px!important;}
.room-select{
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: 15px;
}
.room-select h3{
    color: #146194;
    font-size: 18px;
    padding: 0 0 10px 0;
    font-weight: 600;
}
.ui-datepicker-group{
    float: left;
    width: 50%;
}
.ui-datepicker{
    width: auto!important;
    height: auto!important;
    border-radius: 10px;
    padding: 0 10px;
}
.ui-datepicker-title{
    color: #146194;
    
}
.ui-datepicker-calendar{
    border-top: 1px solid #e3e2e2;
}
.ui-datepicker-group-first .ui-datepicker-calendar{
    border-right: 1px solid #e3e2e2;
}




/*==============End-Booking-Form-Css===========*/






.search-section .nav-tabs2 > li {
	margin: 10px 10px 0;
}
.search-section .nav-tabs2 li a {
	padding: 0 6px;
	color: #000;
	background-color: transparent !important;
	font-weight: 500;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	text-transform:none;
}
.search-section .nav-tabs2 > li.active > a, .search-section .nav-tabs2 > li.active > a:focus, .search-section .nav-tabs2 > li.active > a:hover {
	border: none;
	background: transparent !important;
	color: #004f87 !important;
}
.search-section .nav-tabs2 > li.active > a::before, .search-section .nav-tabs2 > li.active > a:focus::before, .search-section .nav-tabs2 > li.active > a:hover::before {
	border: 2px solid #fff;
	background:#004f87;
}
.search-section .nav-tabs2 li a::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	left: 0;
	margin-left: -15px;
	border: 2px solid #000;
	border-radius: 50%;
	top: 6px;
	background-color: transparent;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


.close-btn{
    display: inline-block;
    margin: 0 15px;
}
.close-btn a{font-size: 20px;}

.add-btn{
    background: #004f87;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 18px;
    margin-bottom: 20px;
}
.add-btn:hover{
    background: #0094d9;
    color: #fff;
}
.pad-top{padding-top: 10px!important;}
.multi-search{border-radius: 5px;}


/*==============About-Us===========*/

/*==============End-About-Us===========*/

.about-main{
    padding: 60px 0 0;
}

.about-text h2{
    font-size: 50px;
    color: #0094d9;
}
.about-text hr{
    height: 4px;
    background: #0094d9;
    width: 18%;
    text-align: left;
    margin: 0;
    border-radius: 50px;
    position: relative;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
}

.about-text hr::after{
    content: "";
position: absolute;
right: 10px;
top: 0;
height: 4px;
width: 10px;
background: #fff;
}

.about-text p{
    font-size: 16px;
    color: #7f7f7f;
    line-height: 22px;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.about-text ul li {
    font-size: 16px;
    color: #7f7f7f;
    padding: 8px 0 8px 25px;
    position: relative;
    font-weight: 400;
}
.about-text ul{
    margin-top: 10px;
    margin-top: 10px;
}
.about-text ul li i{
    position: absolute;
    top: 10px;
    left: 0;
    color: #25448f;
}

.about-text .btn a{
    background: #004f87;
    color: #fff;
}
.about-text .btn a i{
    margin-left: 10px;
}

.about-text .btn a:hover{
    background: #0094d9;
    color: #fff !important;
}


.about-img img{
    width: 100%;
    border-radius: 5px;
}

/*==============Holiday-Packages===========*/

.holidays-main {
	background: url(../images/holiday-bg.jpg);
    width: 100%;
	position: relative;
	padding: 60px 0;
}

.holidays-main h2 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 50px;
	line-height: 40px;
	font-weight: 700;
	color: #0094d9;
	margin-bottom: 20px;
	padding-bottom: 0px;
}

.holidays-main hr {
	height: 4px;
	background: #0094d9;
	width: 10%;
	margin-bottom: 40px;
	margin-top: 10px;
    border-radius: 50px;
    position: relative;
    border: none;
}
.holidays-main hr::after{
    content: "";
    position: absolute;
    right: 10px;
    top: 0;
    height: 4px;
    width: 10px;
    background: #fff;
}

.holiday-img img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.package-detail{
    padding: 30px 20px 20px 20px;
    position: relative;
}
.package-detail h3{
    padding: 0;
    margin-bottom: 20px;
}
.package-detail h3 a{
    font-size: 33px;
    color: #231f20;
    line-height: 40px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.package-detail .day-night li{
    font-size: 18px;
    color: #7b7b7b;
    display: inline-block;
    padding: 0 10px;
    font-weight: 400;
}

.package-detail .day-night li i{
    color: #004f87;
}
.package-detail .day-night li:first-child{
    border-right: 2px solid #7b7b7b;
    padding-left: 0;
}

.package-detail .star-rating{
    margin-top: 20px;
}
.package-detail .star-rating li{
    display: inline-block;
    color: #fcd228;
    font-size: 18px;
    
}
.package-detail .star-rating li:last-child{
    color: #b0b0b0;
}

.p-price{
    background: #fcd228;
    position: absolute;
    top: -50px;
    right: 30px;
    border-radius: 5px;
    padding: 10px;
}
.p-price h3{
   color: #231f20;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    line-height: 27px;
}
.p-price h3 span{
    font-weight: 400;
    font-size: 20px;
}
.book-btn{
    text-align: right;
}
.book-btn a{
    background-color: transparent;
    border: 2px solid #231f20;
    border-radius: 5px;
    padding: 10px 30px;
    display: inline-block;
    font-size: 18p;
    color: #231f20;
    font-weight: 600;
    margin-top: 10px;
}
.holidays-main .item:hover .book-btn a{
    background: #004f87;
    border-color: #004f87;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.book-btn a i{
    margin-left: 10px;
}

.holidays-main .item:hover .package-detail h3 a{
    color: #004f87;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.holidays-main .item {
	background: #fff;
	margin: 10px 15px;
	position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);
}


.holidays-main .item:hover {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.holidays-main .owl-pagination {
    margin-top: 20px;
}
.holidays-main .owl-buttons{display: none;}


.holidays-main .owl-theme .owl-controls .owl-page span{
    height: 20px;
    width: 20px;
    background: #777577;
    border-radius: 50%;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #004f87;
}


/*==============End-Holiday-Packages===========*/


/*==============Newsletter===========*/
/* 
.newsletter-in{
    background: url(../images/newslettter-bg.jpg);
    width: 100%;
    background-size: cover;
    margin: 100px 0 0px 0;
}
.newsletter {
	border-radius: 10px;
    padding: 125px 0;
    position: relative;
}

.newsletter h3 {
	color: #231f20;
	font-size: 47px;
    line-height: 54px;
	font-weight: 700;
	padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.newsletter p {
	color: #1c1c1c;
	letter-spacing: 0;
	font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
    margin-bottom: 15px;
}

.input-form {
	position: relative;
	margin-top: 9px;
    width: 60%;
    -webkit-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.33);
box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.33);
}

.input-form input[type="email"] {
	margin: 0;
	height: 65px;
	padding: 0 20px;
    border-radius: 5px 0 0 5px;
}

.input-form button {
	background: #004f87;
	color: #fff;
	font-size: 26px;
	border: none;
	padding: 0 30px;
	position: absolute;
	top: 0;
	right: 0;
	height: 65px;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
}

.input-form button:hover {
	background: #0094d9;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.news-text{
    width: 60%;
}


.photographer-img{
    position: absolute;
    top: -61px;
    right: -100px;
    bottom: 0;
}

.photographer-img img{width: 85%;} */


/*==============End-Newsletter===========*/




/* Footer CSS BOF
=================================================== */
/* 
footer {
	background: #fff;
	display: block;
	width: 100%;
	padding:60px 0 0 0 ;
	background-size: cover;
   position: relative;
    z-index: 99;
        overflow: hidden;

}

footer::before{
    content: url(../images/footer-left-pattern.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

footer::after{
    content: url(../images/footer-right-pattern.png);
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: -1;
}


footer .footer-in{
    overflow: hidden;
     border-bottom: 1px solid #d2d2d2;
}

.about-footer{padding: 30px 0;}

.footer-border {
	border-right: 1px solid #d2d2d2;
	min-height: 362px;
	margin:0 0 30px 0;
}

.footer-border:last-child {
	border-right: none;
}

footer .ftr-logo {
	text-align: left;
}

footer .about-footer p {
	font-size: 16px;
    line-height: 24px;
	color: #575757;
	line-height: 25px;
	padding: 20px 0 15px 0;
    font-weight: 400;
} */


/* Footer Social CSS BOF
=================================================== */
/* 
footer .social {
	display: inline-block;
	list-style: outside none none;
	width: auto;
}

footer .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}

footer .social li a {
	color: #1c1c1c;
	display: block;
	height: 41px;
	line-height: 38px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 41px;
	background: #ffffff;
	font-size: 20px;
	border: 2px solid #1c1c1c;
	border-radius: 50%;
}

footer .social li a:hover {
	background: #004f87;
	color: #fff;
    border-color: #004f87;
}

.contact-footer,
.quick-link {
	padding: 30px 0;
}

.contact-footer h3,
.quick-link h3 {
	font-size: 28px;
	color: #1c1c1c;
	font-weight: 700;
	padding: 0;
	margin-bottom: 30px;
}

.contact-footer ul li {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 20px;
}

.contact-footer ul li:last-child {
	margin-bottom: 0;
}

.contact-footer ul li .fa-map-marker {
	font-size: 30px;
}

.contact-footer ul li i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 22px;
	color: #1c1c1c;
}

.contact-footer ul li h4 {
	font-size: 20px;
	font-weight: 600;
	color: #004f87;
	text-transform: capitalize;
	letter-spacing: 0;
	padding: 0;
}

.contact-footer ul li p,
.contact-footer ul li a {
	font-size: 16px;
	line-height: 24px;
	color: #575757;
	padding: 5px 0;
	display: block;
    font-weight: 400;
}

.contact-footer ul li a:hover {
	color: #004f87;
}

.quick-link ul li {
	font-size: 16px;
	margin-bottom: 12px;
}

.quick-link ul li i {
	color: #1c1c1c;
}

.quick-link ul li a {
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 400;
	padding-left: 15px;
}

.quick-link ul li a:hover {
	color: #004f87;
}

.ftr-btm {
	background: #fff;
	padding: 10px 0;
    overflow: hidden;
}

.copyright {
	color: #575757;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0;
	font-weight: 400;
}

.powered-by {
	color: #575757;
	font-size: 15px;
	font-weight: 400;
	float: right;
	margin-top: 8px;
} */



/*========================About-Us===========================*/

.inner-banner {
	background: url(../images/inner-banner.jpg) no-repeat;
	background-size: cover;
    padding: 30px 0 30px 0;
}

.inner-banner h1 {
	text-align: center;
	color: #004f87;
	font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
}

.bradcomes {
	text-align: center;
    margin-top: 10px;
}

.bradcomes ul {
	color: #231f20;
}

.bradcomes ul li {
	display: inline-block;
	padding: 10px;
	color: #231f20;
	font-size: 16px;
}

.bradcomes ul li a {
	color: #231f20;
}

.bradcomes ul li a:hover {
	color: #004f87;
}

.about-in {
	margin: 60px 0;
}



.about-text {
	text-align: left;
}

.about-title span {
	color: #231f20;
	font-weight: 500;
}

.about-title h2 {
	font-size: 50px;
    line-height: 55px;
	font-weight: 700;
	color: #231f20;
	text-align: center;
	text-transform: capitalize;
	line-height: 35px;
	margin-bottom: 40px;
}

.about-text p {
	font-weight: 400;
	color: #7f7f7f;
    text-align: left;
    line-height:26px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    padding: 0;
    margin: 10px 0;
}
.about-in-text p{
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 11;
-webkit-box-orient: vertical;
    padding: 0;
    margin: 0 0 10px 0;
    }


.our-mission-in {
	padding: 0;
}

.flex-box {
	display: flex;
}

.about-info {
	text-align: center;
	padding: 30px 15px;
	height: 100%;
	position: relative;
	border-radius: 5px;
	background-color: transparent;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.33);
}

.vi-mi-icon {
	background: #004f87;
	border-radius: 50%;
	height: 92px;
	width: 92px;
	text-align: center;
	margin: 0 auto;
}

.about-info svg {
	fill: #fff;
	margin-top: 16px;
	width: 60px;
	text-align: center;
}

.about-info h4 {
	font-size: 33px;
	color: #231f20;
	padding-bottom: 0;
	font-weight: 700;
	letter-spacing: 0;
	padding: 20px 0;
	text-transform: capitalize;
}

.about-info p {
	font-size: 16px;
	color: #7f7f7f;
	font-weight: 400;
	line-height: 26px;
    text-align: center;
}



/*===================Contact-Us=================*/

.contact-in {
	padding: 60px 0;
}

.contact-in .row {
	display: flex;
}

.contact-dtl {
	text-align: center;
	padding: 30px;
	height: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
}

.contact-dtl i {
	height: 74px;
	width: 74px;
	text-align: center;
	font-size: 30px;
	border: 1px solid #004f87;
	border-radius: 50%;
	color: #004f87;
	line-height: 72px;
}

.contact-dtl h4 {
	font-size: 26px;
	font-weight: 700;
	color: #004f87;
	text-transform: capitalize;
	padding: 15px 0;
}

.contact-dtl p,
.contact-dtl a {
	font-size: 16px;
	color: #231f20;
	font-weight: 400;
	line-height: 22px;
	padding: 0;
	display: block;
}

.contact-dtl:hover {
	background: #004f87;
	box-shadow: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.contact-dtl:hover i {
	background: #fff;
	border-color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.contact-dtl:hover h4,
.contact-dtl:hover p,
.contact-dtl:hover a {
	color: #fff;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


.contact-info h3 {
	text-align: center;
	font-size: 44px;
	color: #004f87;
	line-height: 46px;
	padding: 0;
}

.contact-info p {
	text-align: center;
	color: #231f20;
	font-size: 17px;
	font-weight: 500;
}

.contact-info form {
	padding: 30px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
}

.contact-info form .form-control {
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	height: 56px;
	border: none;
	border-radius: 0;
	margin-bottom: 20px;
	color: #757575;
	font-size: 17px;
	padding: 0 20px;
}

.contact-info form textarea {
	height: auto !important;
	color: #757575!important;
	padding: 20px!important;
}

textarea ::placeholder {
	color: #757575!important;
}

.contact-info form input[type="submit"] {
	text-align: center;
	display: block;
	margin: 0 auto;
	background: #004f87;
	border: none;
	font-size: 17px;
	font-weight: 500;
	height: 45px;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 0;
}

.contact-info form input[type="submit"]:hover {
	background: #fcd228;
	color: #000;
}

.contact-info form,
.contact-info iframe {
	margin-top: 60px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
	box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.21);
}

/*=====================Package=======================*/

.holiday-in{
    padding: 45px 0;
}
.holiday-in .item{
    margin: 15px 0;
}
.pagination-in{clear: both;}
.pagination-in nav{
    text-align: right;
    clear: both;
}

.pagination > li > a, .pagination > li > span{
    border: none;
    margin: 0 4px;
    border-radius: 0;
    background: #e2e2e2;
    color: #231f20;
    font-weight: 600;
    font-size: 18px;
    padding: 7px 16px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background: #004f87;
    color: #fff;
}
.pagination > li > a:hover{
    background: #004f87;
    color: #fff;
}
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: 0;
    background: #fcd228;
    color: #231f20;
}


/*===================Package-Detail=========================================*/


.package-detail-inner{
    padding: 60px 0 0 0;
    overflow: hidden;
    }
.package-name{
    border-bottom: 1px solid #dedede;   
    }
.package-name h2{
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    color: #146194;
    }
.package-name p{
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 600;
    }
.package-name p span{
    color: #146194;
    font-size: 20px;
    font-weight: 600;
    }
.package-days{
    border-bottom: 1px solid #dedede; 
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 30px;
    }
.package-days .day-night p{
    font-weight: 400;
    padding: 0;
    display: inline-block;
    }
.package-days .day-night{
    font-size: 16px;
    color: #181818;
    font-weight: 600;
    vertical-align: middle;
    float: left;
    padding: 0;
    border: none;
    }
.day-night p::after {
    content: "|";
    color: #1c1c1c;
    padding: 0 5px;
}
.day-night p:last-child::after{content: " ";}
.package-days .day-night i{
    color: #181818;
    font-size: 16px;
    padding-right: 10px;
    vertical-align: middle;
    }
.package-media{
    float: right;
    }
.package-media ul li{
    display: inline-block;
    padding-left: 6px;
    }
.package-media ul li a{
    height: 27px;
    width: 27px;
    font-size: 14px;
    color: #fff;
    background: #146194;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    border: 1px solid #146194;
    }
.package-media ul li a:hover{
    border: 1px solid #146194;
    background-color: transparent;
    color: #146194;
    }
.detail-form{
    background: #004f87;
    padding:15px 20px 35px 20px;
    overflow: hidden;
    }
.detail-form h3{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    margin: 0px 20px 20px 20px ;
    }
.detail-form input[type="text"], .detail-form input[type="email"], .detail-form input[type="tel"], .detail-form input[type="number"], .detail-form select, .detail-form textarea{margin-top: 0;}
.detail-form .search-section .form-control{
    background: #fff;
    border: 1px solid #fff;
    color: #1c1c1c !important;
    padding-left: 5px;
    }
.detail-form .search-section .form-control:focus, .detail-form .search-section textarea:focus{
    background: rgba(255,255,255,1);
    }
.detail-form placeholder{color: #fff;}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #f4f4f1;
    color: #222931 !important;
    border: 1px solid #f4f4f1;
    padding-top: 8px;
    }
.detail-form .input-group-addon{
    position: absolute;
    z-index: 999;
    right: 31px;
    top: 21px;
    color: #1c1c1c;
    font-size: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    }
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered:focus{background: rgba(255,255,255,0.4);}
.detail-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    color: #fff;
    top: 14px;
    right: 6px;
    line-height: 25px;
    }
.detail-form .select2-container--default .select2-selection--single{
    border-color: #f4f4f1;
    background: #f4f4f1;
    height: 50px!important;
    }
.detail-form .search-section .form-control{
    height: 50px;
    }
.detail-form ::placeholder {
  color: #222931 !important;
    }
.detail-form textarea{
    background: #fff;
    border-color: #fff;
    border-radius: 0px;
    }
.detail-form .search-section .search-col-padding{
    padding:5px;
    background-color: transparent;
    overflow: hidden;
    }
.detail-form .search-button{
    background: #fff;
    color: #1c1c1c;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    box-shadow: none;
    padding:5px 70px;
    height: 50px !important;
    border-radius: 30px;
    }
.detail-form .search-button:hover{
    background-color: #fcd228;
    color: #000;
    border-color: #fff;
    }
.desc-detail{
    padding-top: 60px;
    overflow: hidden;
    }
.desc-detail .tab-pane h4{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    }
.desc-detail .tab-pane p{
    font-size: 16px;
    color: #898680;
    font-weight: 300;
    line-height: 28px;
    }

.desc-detail .table {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	float: left;
	margin-bottom: 0;
}
.desc-detail table {
	width: 100%;
   
}
.desc-detail .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 0;
	line-height: 1.42857143;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	border-top: none;
    font-weight: 600;
}
.desc-detail .table{margin-bottom: 30px;}
.desc-detail .table span {
	color: #212121;
	font-weight: 300;
	float: left;
	text-align: left;
	font-size: 14px;
}
.desc-detail .table span i {
	font-size: 14px;
	padding-right: 5px;
    font-weight: 300;
}
.desc-detail .fist-td {
	width: 30%;
}
.desc-detail .second-td {
	width: 50%;
}
.desc-detail .nav-tabs{
    text-align:left;
    position: absolute;
    top:0px;
    border-bottom: none;
    padding-top: 0;
    }
.desc-detail .nav > li{width: auto;}
.desc-detail .nav > li > a{
    padding: 10px 20px;
    background: #1c1c1c!important;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    text-transform: capitalize;
    }
.desc-detail .nav-tabs > li.active > a, .desc-detail .nav-tabs > li.active > a:focus, .desc-detail .nav-tabs > li.active > a:hover{
    background: #004f87!important;
    color: #fff;
    }
.desc-detail .search-section .tab-content{
    display: inline-block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding:45px 25px;
    }

.comment-div .user{
    float: left;
    padding-left: 0;
    text-align: left;
    width: 10%;
    }
.comment-div .user img{border-radius: 50%;}
.comment-div .comment-block{
    float: left;
    width: 88%;
    }
.comment-div .comment-block .heading{
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 700;
    text-transform: inherit;
    width: 100%;
}
.comment-div .comment-block .heading span{
    color: #808080;
    font-weight: 500;
    }
.desc-detail .rating {
    display: inline-block;
    padding: 10px 0 0;
}
.desc-detail .rating li{display: inline-block;}
.desc-detail .rating li i{color: #fcd228;}
.comment-block p{
    color: #333;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    width: 100%;
}
.review-form h4{
    color: #333333;
float: left;
font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
text-align: left;
text-transform: uppercase;
width: 100%;
    }
.review-form p {
    color: #444444;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
    padding-bottom: 15px;
}
.review-form .add-rws {
    width: 100%;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-bottom: 20px;
    }

.review-form-field input[type="text"], .review-form-field input[type="email"]{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius:0px;
    }
.review-form-field input[type="text"]:focus, .review-form-field input[type="email"]:focus{
    border-color: #b8b8b8;
    }
.review-form-field input[type="submit"]{
    padding: 13px 50px;
    background: #004f87;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    }
.review-form-field input[type="submit"]:hover{
    background: #fcd228;
    color: #1c1c1c!important;
    }

.detail-form .calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 8px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 50px;
	border: none !important;
	border-right: 1px solid #146194 !important;
}

.detail-form .calendar ::placeholder {
	color: #1c1c1c!important;
}

.detail-form .ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 99!important;
}

.detail-form .ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #146194;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.detail-form .ui-datepicker-prev,
.detail-form .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.detail-form .ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.detail-form .ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.detail-form .ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.detail-form .ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.detail-form .ui-datepicker-prev:after,
.detail-form .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.detail-form .ui-datepicker-prev:hover,
.detail-form .ui-datepicker-next:hover,
.detail-form .ui-datepicker-prev:hover:after,
.detail-form .ui-datepicker-next:hover:after {
	border-color: #000;
}

.detail-form .ui-datepicker-title {
	text-align: center;
}

.detail-form .ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.detail-form .ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #146194;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
}

.detail-form .ui-state-default {
	display: block;
	text-decoration: none;
	color: #146194;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}

.detail-form .ui-state-default:hover {
	background: #146194;
	color: #fff;
}

.detail-form .ui-state-highlight {
	color: #fff;
	background: #146194;
}

.detail-form .ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

.detail-form .ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.detail-form .ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}
.detail-form .search-col-padding .myselect{height: 50px;}
.detail-form .select2-container--default .select2-selection--single{
    border-radius: 0!important;
    background: #fff!important;
}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background:#fff;
    border: none;
}
.detail-form .select2-selection__arrow i{
    color: #1c1c1c;
    padding: 0;
}
.package-img{width: 100%;}


.four-zero{
    margin: 60px 0;
    text-align: center;
}
.four-zero h3{
    color: #146194;
    font-size: 250px;
    font-weight: 700;
    line-height: 175px;
}
.four-zero h3 span{color: #fcd228;}
.four-zero h4{
    color: #1c1c1c;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0 15px 0;
}
.four-zero p{
    color: #1c1c1c;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0;
    padding: 0;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.four-zero .btn{
    background: #0094d9;
    color: #fff;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
}
.four-zero .btn:hover{
    background: #fcd228;
    color: #1c1c1c;
}

.no-results{
    text-align: center;
}
.no-results p{
    font-size: 30px;
    font-weight: 700;
}

