.cd-signin-modal {
    top: 0 !important;
}

#myNavbar .btn-clta {
    display: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    position: relative !important;
}
.call-to-action {
    width: 50%;
    float: right;
    display: inline-block;
    padding: 17px 0 0 20px;
    margin:0px;
}
.flxBox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ar_direction1 .call-to-action{
    width: 49%;
    padding: 17px 70px 0 0px;
}
.ar_direction1 .lag{
    float: left;
    margin: 0 0px 0 8px;
}
.ar_direction1 .navbar-nav>li {
    float: right;
}
.ar_direction1 .cd-main-nav{
    float: left;
}
.ar_direction1 .btn-clta{
    float: left;
}
.flx_package {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ar_direction1 .dropdown a svg{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}
@media (min-width: 768px){
.navbar-header {
    float: left;
    width: 33%;
}
.ar_direction1 .navbar-header {
    float: left;
    width: auto;
}
}
@media (max-width: 1200px) and (min-width: 990px){
    .ar_direction1 .call-to-action {
        width: 56%;
        padding: 17px 7px 0 0px;
    }
    .navbar-header {
        float: left;
        width: 29%;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 11px;
    }
    .navbar-nav{
        padding-right: 0px;
    }
}
@media (max-width: 990px) and (min-width: 768px){
.call-to-action {
    width: auto;
    padding: 17px 0 0 1px;
}
.navbar-header{
    width: 180px;
}
.ar_direction1 .call-to-action {
    width: 80%;
    padding: 17px 7px 6px 0px;
}
.ar_direction1 #myNavbar{
    display: none !important;
}
.navbar-header {
    float: left;
    width: 26%;
}
.navbar-default .navbar-nav>li>a {
    font-size: 11px;
}
.navbar-nav{
    padding-right: 0px;
}
.navbar-brand img {
    width: 79%;
    float: right;
}
.cd-main-nav__item.cd-main-nav__item--signin, .btn-clta, .dropdown a{
    font-size: 10px;
}
.cd-main-nav, .profile-dropdown, .btn-clta, .lag{
    float: left;
}
}




@media screen and (max-width: 767px) {
    .add-btn {
        margin: -12px auto !important;
    }
    #offer_section .item {
        margin-top: 0px;
    }
}
@media (min-width:200px) and (max-width:768px) {
    .flxBox{
        display: block;
    }
    .ar_direction1 .navbar-toggle{
        float: left;
    }
    .ar_direction1 .navbar-brand{
        float: right;
    }
    .ar_direction1 .cd-main-nav, .profile-dropdown,.btn-clta, .lag{
        float: left;
    }
    .ar_direction1 .call-to-action{
        width: 100%;
        padding: 17px 0px 0 0px;
        display: flex;
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        padding: 9px 12px 10px 12px !important;
        border-radius: 0;
        margin-left: 8px;
        background: #004608;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        display: inline-block;
        height: auto;
        line-height: normal;
    }
    .cd-main-nav__list {
        top: 34px !important;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        position: relative;
    }
    .sorting .dropdown {
        width: 100%;
    }
    .call-to-action{
        width: 100% !important;
        margin-bottom: 7px;
        padding-left: 0px;
        display: flex;
    }
    .cd-main-nav__item.cd-main-nav__item--signin{
        width: 100%;
        text-align: center;
        margin-left: 0px !important;
    }
    .cd-main-nav__list li{
        width: 100%;
    }
    .cd-main-nav{
        width: 25% !important;
        padding: 0 1px;
    }
    .btn-clta{
        width: 25%;
        text-align: center;
        margin: 0px;
    }
    .lag{
        width: 25%;
        padding: 0 1px;
        margin: 0px;
    }
    .currency .dropdown, .lag .dropdown{
        width: 100%;
    }
    .dropdown a{
        width: 100%;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 5px 21px 5px 10px;
    }
    .dropdown a svg {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .ar_direction1 .dropdown a svg{
        right: initial; 
        left: 7px;
    }
    .ar_direction1 .dropdown a{
        text-align: right;
        padding: 5px 10px 5px 10px;
    }
    .ar_direction1 .cd-main-nav__item.cd-main-nav__item--signin{
        font-size: 11px;
    }
    }
    @media (min-width:200px) and (max-width:416px) {
        .ar_direction1 .cd-main-nav__list{
            top: 40px !important;
        }
        .ar_direction1 .cd-main-nav__item.cd-main-nav__item--signin{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .lang,
        .currency {
            margin: 0 0 2px 3px !important;
            width: 100% !important;
        }
        .dropdown {
            width: 100%;
        }
        .dropdown a {
            width: 100%;
        }
        .btn-clta {
            margin: 0 0 2px 0 !important;
            width: 100%;
        }
        .cd-main-nav__list {
            margin-bottom: 3px;
            width: 100%;
        }
        .cd-main-nav__item.cd-main-nav__item--signin {
            margin-left: 0px !important;
        }
        .cd-main-nav {
            width: 33.3% !important;
        }
        .cd-main-nav__list li {
            width: 100%;
        }
        .cd-main-nav__item {
            width: 100%;
            text-align: center;
        }
        #main_banner {
            padding-top: 280px;
        }
        
        .call-to-action {
            width: 100%;
        }
        .lang,
        .currency {
            margin: 0px !important;
            width: 33% !important;
            float: left;
        }
        .dropdown a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            padding: 5px 21px 5px 10px;
        }
        .dropdown a svg {
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .currency {
            padding-right: 1px;
        }
        
        #main_banner {
            padding-top: 99px;
        }
        .search-section .form-control {
            height: 48px;
        }
        .calendar {
            height: 48px;
        }
        .search-button {
            height: 48px;
        }
        .change-destination {
            top: -20px;
        }
        .custom-select-v3::before {
            top: 4px;
        }
        .travelerSelectWindow {
            width: 100%;
            top: 48px;
        }
        .trvFld .custom-select-v3::before {
            top: 15px;
            right: -7px;
        }
    }
    .ar_direction1 .dropdown-menu a{
        text-align: right;
    }
    .ar_direction1 .dropdown a span{
        margin-right: 0px !important;
        margin-left: 3px;
    }
    .ar_direction1 .list-block::after{
        display: none;
    }
    .ar_direction1 .list-block>ul li a, .ar_direction1 .list-block2>ul li a{
        padding: 5px 20px 5px 0px;
    }
    .ar_direction1 .list-block>ul li a::before, .ar_direction1 .list-block2>ul li a::before{
        left: initial;
        right: 6px
    }
    .ar_direction1 .store-btn{
        float: left;
    }
    .ar_direction1 .list-block2>ul li{
        margin-right: 0px !important;
        margin-left: 2% !important;
    }
    @media (min-width:200px) and (max-width:742px) {
        .ar_direction1 .btn-clta{
            display: none;
        }
        .cd-main-nav {
            width: 33.3% !important;
        }
        .lang, .currency {
            margin: 0px !important;
            width: 33% !important;
            float: left;
        }
    }
    @media (min-width:200px) and (max-width:530px) {
        .call-to-action #modal_retrieve {
            display: none;
        }
        #myNavbar .btn-clta {
            display: inherit;
            border: none;
            background: #f8f8f8;
            width: 100%;
            text-align: left;
        }
        .scrollToTop{
            display: none !important;
        }
    }
    .ui-datepicker-calendar th{
        text-align: center;
    }
    #ui-datepicker-div .ui-datepicker-group-first {
        border-right: 1px solid #f2f2f2;
    }