﻿.loadsec {
    width: 100%;
    float: left;
    background: #FFF;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.animated-background {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    position: relative;
}


/*---- Flight Listing CSS ----*/

.common-ld {
    width: 100%;
    height: 17px;
    float: left;
}

.day-time-ld {
    width: 70%;
    height: 18px;
    float: left;
    margin: 8px 0 0;
}

.degree-ld {
    width: 50px;
    height: 50px;
    float: left;
    margin: 8px 0 0;
}

.bwc-data-ld {
    position: relative;
    margin: 0;
    float: left;
    width: 100%;
}

.bwc-ld2 {
    float: right;
    width: 50px;
    height: 50px;
    margin: 8px 0 0;
}

.left-div-ld {
    width: 60px;
    height: 17px;
    float: left;
    margin: 8px 0 0;
}

.right-div-ld {
    width: 60px;
    float: right;
    height: 17px;
    margin: 8px 0 0;
}

.common-ld2 {
    width: 10%;
    height: 17px;
    float: left;
    margin: 5px 0;
}

.common-ld3 {
    width: 87%;
    height: 17px;
    float: right;
    margin: 5px 0;
}

.common-ld4 {
    width: 50%;
    height: 17px;
    float: left;
}

.depart-time-grid-ld {
    width: 100%;
    float: left;
    margin: 10px 0 0;
    padding: 0;
}

.d-a-time {
    width: 24%;
    float: left;
    list-style: none;
    margin: 0 1px;
    height: 60px;
}

.departure-ld {
    float: left;
    padding: 5px 0;
    width: 15%;
    height: 30px;
}

.all-flight-list:hover,
.hotel-list:hover {
    border: 1px solid #ddd !important;
}

.flight-price-ld {
    float: right;
    padding: 10px 0;
    width: 15%;
    height: 30px;
}

.flight-logo-name .img {
    float: left;
    width: 50px;
    height: 50px;
}

.common-ld5 {
    width: 100%;
    height: 13px;
    float: left;
    margin-top: 8px;
}

.flightlogo-ld {
    width: 62%;
    float: left;
    padding-left: 5px;
}

.flg-departure {
    float: left;
    width: 90%;
}

.flg-arrival {
    float: right;
    width: 90%;
}

.bk-button {
    float: right;
    width: 90%;
    height: 30px;
}

.place-itineray p {
    width: 30%;
    height: 13px;
    margin: 0 auto;
}

.flight-destination ul li svg {
    z-index: 100;
    position: relative;
}

.flight-destination ul li:nth-last-child(2)::before {
    border-bottom: 1px solid #eee;
    top: 25px;
}

.flt-dtl-ld {
    float: left;
    width: 14%;
    height: 13px;
    margin: 0 15px 0 0;
}

.ref-ld {
    float: right;
    width: 14%;
    height: 13px;
}

.star-ld {
    float: left;
    width: 20%;
    height: 13px;
    margin: 10px 0 0 0;
}


/*---- Hotel Listing CSS ----*/

.hotel-list .image-wrapper .img {
    width: 100%;
    height: 100%;
}

.star-ld {
    float: left;
    width: 20%;
    height: 13px;
    margin: 10px 0 0 0;
}

.hotel-list .image-wrapper {
    height: 180px !important;
}

.adult-night-ld {
    width: 80%;
    height: 13px;
    float: right;
    margin: 8px 0;
}

.price-ld {
    width: 80%;
    height: 17px;
    float: right;
}

@-webkit-keyframes move {
    0 {
        background-position: 0 0;
    }
    100% {
        background-position: -30px -30px;
    }
}

@-moz-keyframes move {
    0 {
        background-position: 0 0;
    }
    100% {
        background-position: -30px -30px;
    }
}

@-moz-keyframes fullWidth {
    0 {
        width: 5%;
    }
    100% {
        width: 100%;
    }
}


/*Media Queries*/

@media(max-width:500px) {
    .flg-departure,
    .flg-arrival {
        width: 100%;
    }
    .flight-destination ul li {
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px) {
    .bk-button {
        width: 100%;
    }
    .adult-night-ld {
        float: none;
        margin: 8px auto;
    }
    .price-ld {
        float: none;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .flightlogo-ld {
        width: 60%;
    }
    .flight-logo-name .img {
        width: 38px;
        height: 38px;
    }
    .bk-button {
        width: 80%;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    .flightlogo-ld {
        width: 60%;
    }
    .flight-logo-name .img {
        width: 38px;
        height: 38px;
    }
    .bk-button {
        width: 80%;
    }
}