@media(max-width:320px) {}

@media(max-width:500px) {
    .customer-profile .right .profile-bnr h1 {
        font-size: 22px;
    }
    .search-section .nav-tabs2 li a {
        padding: 4px 6px !important;
    }
    .search-section .nav-tabs li a {
        padding: 14px 6px;
    }
    .service-icon svg {
        margin: 0 2px 0 0 !important;
        width: 20px !important;
    }
    .currency .bootstrap-select.fit-width {
        width: 75px !important;
    }
    .lang,
    .currency {
        margin: 0 0 0 3px;
    }
    .lang .bootstrap-select.fit-width {
        width: 70px !important;
    }
    .flight-destination ul li {
        width: 100%;
        text-align: center;
    }
    .flg-arrival {
        text-align: center;
        float: none;
    }
    .flg-departure {
        float: none;
    }
    .flight-destination ul li:nth-last-child(2) {
        width: 100% !important;
    }
    .flight-all-detail .padding-right {
        padding-right: 15px;
    }
    .book-flight {
        margin: 0;
    }
    .book-flight a {
        width: 100%;
    }
    .modify_btn {
        background: url(../images/modify-btn-m.png) no-repeat;
        position: absolute;
        right: 0;
        width: 42px;
        height: 81px;
    }
    .checkbox-title p {
        padding: 0;
    }
    #airline_matrix .airline-name {
        width: 100%;
    }
    .Flight-itinerary-detail ul li {
        display: block;
        padding: 3px 0;
    }
    .itineray-time li {
        font-size: 12px !important;
    }
    .itinery-flight-detail .col-xs-3,
    .itinery-flight-detail .col-xs-5,
    .itinery-flight-detail .col-xs-4 {
        width: 100%;
    }
    .itinery-flight-detail .flight-logo-name {
        text-align: center;
        margin-bottom: 15px;
    }
    .flight-destination ul li {
        width: 100% !important;
        text-align: center;
    }
    .place-itineray p {
        padding: 8px 0;
    }
    .itinery-flight-detail .flight-duration {
        text-align: center;
        border-left: none;
        border-top: 1px dashed #cccccc;
    }
    .itinery-flight-detail .flight-duration p {
        text-align: center !important;
        padding: 0;
    }
    .flight-detail-btm .nav-tabs3>li {
        border-right: none;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
    .flight-detail-btm .tab a {
        font-size: 12px;
    }
    .fr-rls {
        font-size: 12px;
    }
    .fare-info ul li p,
    .fare-info ul li span {
        font-size: 13px;
    }
    .flight-destination ul li:nth-last-child(2)::before {
        top: 25px !important;
    }
    .flight-destination {
        padding: 0 !important;
    }
    .book-flight {
        margin: 10px 0 0;
    }
    .ref,
    .non-ref {
        font-size: 11px;
    }
    .fare-change .popup .popup-body .price-main {
        width: 80%;
    }
    #error {
        width: 100%;
    }
    #error .text-2 {
        font-size: 22px;
    }
    #error .text-3 {
        font-size: 15px;
    }
    #error a {
        margin-top: 30px;
    }
    .fare-change .popup .popup-body .btn-blue,
    .fare-change .popup .popup-body .btn-grey {
        width: 135px;
    }
    .customer-profile .right .profile-bnr h1 {
        font-size: 22px;
    }
}

@media screen and (max-width:767px) {
    .call-to-action {
        width: auto;
    }
    .lang .bootstrap-select>.btn,
    .currency .bootstrap-select>.btn {
        padding: 4px 20px 5px 8px;
    }
    section {
        padding: 30px 0;
    }
    p {
        padding: 25px 0 0;
    }
    .popupContainer {
        top: 160px !important;
    }
    .btn-clta {
        float: right;
        font-size: 12px;
        margin: 0 0 0 5px;
    }
    .btn-clta i {
        font-size: 13px;
    }
    .call-to-action {
        margin: 15px 0 15px 0;
    }
    .navbar-default .navbar-brand {
        width: 200px;
    }
    .navbar-toggle {
        margin-top: 19px;
        margin-right: 3px;
        border: none;
        border-radius: 0;
        background: none;
        padding: 0px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #3a7fc1;
        width: 27px;
    height: 3px;
    }
    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {
        background: #3a7fc1;
    }
    .nav>li {
        padding: 0 0;
        border-bottom: 1px solid #ddd;
    }
    .nav>li>a {
        padding: 15px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        background: #f8f8f8;
        width: 100%;
    }
    .near-airport {
        margin: 10px 0;
    }
    #main_banner {
        min-height: auto;
        padding-top: 130px;
    }
    .search-section .nav-tabs li a {
        font-size: 12px;
    }
    .search-section .nav-tabs {
        border-bottom: none;
        text-align: center;
        padding: 0;
        border: none;
    }
    .change-destination::after {
        right: 11px;
        top: 53px;
    }
    .close-btn {
        margin: 8px auto;
    }
    .add-btn {
        margin: 10px auto;
    }
    .mgn-tp {
        margin-top: 15px;
    }
    .flgt-htl {
        display: block;
    }
    .pdn-rght {
        padding-right: 15px;
    }
    .ui-datepicker-trigger {
        right: 12px;
    }
    .owl-theme .owl-controls {
        display: none !important;
    }
    #best_deal .deal .image {
        width: 100%;
        float: left;
    }
    #best_deal .deal .detail {
        width: 100%;
        padding: 20px;
    }
    .mobile-add h3 {
        font-size: 19px;
        padding: 18px 25px 5px;
    }
    .mobile-add h5 {
        font-size: 14px;
        padding: 0 25px;
    }
    .mobile-add {
        padding: 10px 0 70px 0;
        min-height: 478px;
    }
    .mobile-add .store-btn {
        width: 140px;
    }
    .mobile-add img {
        width: 100%;
    }
    .mrgn-lft {
        margin-left: 25px !important;
    }
    .list-block>ul li,
    .list-block2>ul li {
        width: 50%;
        margin-right: 0;
    }
    .list-block::after {
        border-right: none;
    }
    .list-block2 h4 {
        margin-top: 30px;
    }
    .list-block {
        padding-bottom: 20px;
        border-bottom: 1px solid #2387c0;
    }
    .scrollToTop {
        bottom: 25px;
    }
    footer .link ul {
        margin: 0 0 10px;
        display: inline-block;
    }
    .c-text {
        text-align: left;
        margin-top: 15px;
    }
    .cd-signin-modal {
        position: fixed;
        top: 118px !important;
    }
    .cd-signin-modal__switcher li {
        width: 50% !important;
    }
    .md-search {
        margin: -2px 0 -68px !important;
    }
    .flight-listing-text {
        padding: 20px 0;
    }
    .flight-listing-text ul {
        width: 80%; 
    }
    .flight-listing-text h1 {
        font-size: 17px;
    }
    .flight-listing-text ul li p {
        padding: 0;
    }
    .sorting {
        padding: 0 15px 15px;
    }
    .sorting h4 {
        border-right: none;
    }
    .sorting ul {
        margin: 0 0 0 0;
        width: 100%;
    }
    .sorting ul li {
        width: 50%;
    }
    .flight-list-drop .btn {
        width: 100%;
    }
    .departure-icon {
        width: 35%;
    }
    .modify_btn {
        right: 22px;
        background: none;
    }
    .modify_srch span {
        display: none;
    }
    .modify_srch {
        width: 41px;
        border-radius: 5px;
        left: 51px;
    }
    .itineray-time li:first-child {
        border-left: none;
    }
    .itineray-time li {
        border-top: 1px solid #aeaeae;
        margin: 0 !important;
        width: 50% !important;
    }
    #airline_matrix {
        margin: 12px 0;
    }
    .flight-destination ul li:nth-last-child(2)::before {
        top: 34px;
    }
    .place-itineray p {
        padding: 0;
    }
    .flight-destination {
        padding: 15px 0 0;
    }
    .flight-detail-btm .nav-tabs3 li a {
        padding: 10px 10px;
        font-size: 12px;
    }
    .flight-detail-btm .tabcontent .button {
        height: 41px;
        line-height: 41px;
    }
    .fare-info ul li p {
        padding: 0;
    }
    .flight-destination ul li h3,
    .flight-destination ul li h3 span {
        font-size: 12px;
    }
    .book-flight a {
        float: none;
    }
    .flight-listing-text ul {
        width: 80%;
    }
    .htl-sort .sorting h4 {
        border-right: none;
        width: 100%;
    }
    .htl-sort .sorting ul {
        margin: 0;
        width: auto;
    }
    .htl-sort .sorting {
        margin-top: 20px;
    }
    .htl-sort .sorting ul li a {
        width: 66px;
    }
    .view ul li a {
        width: 33px !important;
    }
    .htl-sort .sorting ul li {
        width: auto;
    }
    .hotel-list .price-wrapper {
        display: inline-block;
        vertical-align: auto;
        padding: 20px;
        width: 100%;
        border: 1px solid #ddd;
    }
    .hotel-list .content-wrapper {
        display: inline-block;
        vertical-align: auto;
        padding: 10px 20px;
        width: 100%;
        border-right: none;
    }
    .hotel-list .image-wrapper {
        display: inline-block;
        width: 100%;
    }
    .hotel-list .price-wrapper .select-room {
        float: left;
        width: 100%;
    }
    .hotel-list .price-wrapper .price,
    .hotel-list .price-wrapper .adult-night {
        text-align: center;
    }
    .htl-top {
        margin: 120px 0 14px;
    }
    .htl-top img {
        width: 100%;
        height: 200px;
    }
    .htl-top .htl-dtl {
        width: 100%;
        padding: 15px 15px 5px;
    }
    .htl-top .htl-dtl2 {
        width: 100%;
        padding: 0 15px 15px;
        text-align: left;
    }
    .htl-top .htl-dtl2 .select-room {
        float: none;
        width: 100%;
    }
    .htl-top .htl-dtl2 .price {
        padding: 25px 0 0;
        text-align: center;
    }
    .htl-top .htl-dtl2 .onofnights {
        text-align: center;
    }
    .photo-gallery {
        height: auto;
        padding-bottom: 100px;
    }
    .photo-gallery .carousel-inner>.item>img {
        height: 300px;
    }
    .photo-gallery .carousel-indicators {
        display: none;
    }
    .show-room h5 {
        width: 100%;
    }
    .show-room .form__checkbox {
        margin: 10px 0 0;
    }
    .htl-info .single-room .price-section {
        border-top: 1px solid #dfdfdf;
        border-left: none;
        text-align: center;
    }
    .htl-info .single-room .price-section .select-room {
        float: none;
    }
    .htl-info .single-room .price-section .adult-night {
        text-align: center;
    }
    .p-r-0 {
        padding-right: 15px;
    }
    .p-l-0 {
        padding-left: 15px;
    }
    .min-hght {
        min-height: auto;
    }
    .flight-step-review {
        margin-top: 118px;
    }
    .flight-review-bar {
        margin-bottom: 10px;
        overflow: hidden;
    }
    .sign-in-travel .sign-in {
        float: none;
        margin-top: 10px;
        text-align: center;
    }
    .sign-in-travel .btn-grey {
        margin-top: 0;
    }
    .sign-in-travel p {
        font-size: 15px;
        padding: 0;
    }
    .travel-form-info .pd-left {
        padding-left: 15px;
    }
    .pd-right {
        padding-right: 15px;
    }
    .travel-form-info .travel-form .form__checkbox {
        margin-top: 20px;
    }
    #insurance .form__checkbox {
        margin-bottom: 45px;
    }
    .detail-title .pd-left {
        padding: 0;
    }
    .detail-title p {
        font-size: 18px;
    }
    .payment-btn a {
        display: inline-block;
        margin-bottom: 30px;
        width: 100%;
    }
    .affix {
        position: relative;
        width: auto;
        top: auto;
    }
    .review-booking figure {
        width: 100%;
        display: block;
        float: none;
        margin: 0 auto;
    }
    .review-booking .detail {
        width: 100%;
        padding-left: 0;
        padding-top: 15px;
    }
    .review-booking .detail .date {
        width: 100%;
    }
    .review-booking .detail .rm-dtl {
        width: 100%;
    }
    .payment-div {
        width: 100%;
    }
    .payment-card {
        width: 100%;
        margin: 15px 0;
    }
    .profile-dropdown>label {
        height: 25px;
        line-height: 28px;
        display: none;
    }
    .profile-dropdown img {
        height: 25px;
        display: none;
    }
    .confirmation {
        width: 100%;
        margin: 100px auto 0;
    }
    .navbar-brand img {
        width: 158px;
        margin: 0 auto;
        float: left;
    }
    .confirmation .header .navbar-brand {
        width: 100%;
        padding: 15px 8px;
    }
    .confirmation .contact-info {
        float: right;
        display: inline-block;
        width: auto;
        text-align: center;
    }
    .confirmation .contact-info a {
        float: none;
        font-size: 14px;
    }
    .confirmation .contact-info svg {
        top: 3px;
        width: 26px;
    }
    .confirmation .welcome {
        display: inline-block;
        padding: 25px 30px 10px;
        width: 100%;
        text-align: center;
    }
    .confirmation .welcome figure {
        float: none;
        margin-bottom: 15px;
    }
    .confirmation .welcome .content h3 {
        font-size: 19px;
        line-height: 24px;
    }
    .confirmation .welcome .content h4 {
        font-size: 16px;
        text-transform: none;
        line-height: 23px;
    }
    .confirmation .hotel-dtl .bkn-info ul li,
    .customer-support ul li,
    .customer-support ul li:first-child {
        width: 100%;
        border-right: none;
    }
    .confirmation .hotel-dtl .inner h5 .stars {
        margin: 0 0 25px;
    }
    .confirmation .hotel-dtl .inner h5 .stars::after {
        top: 6px;
        position: absolute;
        left: 0;
    }
    .customer-profile {
        margin-top: 120px;
    }
    .customer-profile .left {
        min-height: auto;
        margin-bottom: 30px;
    }
    .customer-profile .right .trips-sec .trips-block {
        border-right: none;
        border-bottom: 1px solid #dfe0e1;
    }
    .customer-profile .right .trips-sec .bdr-b-t-m {
        border-bottom: none;
    }
    .my-profile .inner .field {
        width: 100%;
    }
    .my-profile .inner .field-50 {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .my-profile .inner {
        padding: 0;
    }
    .my-profile .inner .save,
    .feedback .inner .save {
        width: 100%;
        margin-top: 10px;
    }
    .my-profile .inner .field-10 {
        width: 100%;
        margin-bottom: 10px;
    }
    .my-profile .inner .field-30 {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .feedback .inner .field-50,
    .co-travelers .inner .field-50 {
        width: 100%;
        margin: 0;
    }
    .my-booking .sort {
        width: 100%;
        margin-bottom: 20px;
    }
    .my-booking .tabs {
        width: 100%;
    }
    .co-travelers .inner .name {
        width: 79%;
        padding: 10px 15px;
    }
    #error {
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:990px) {
    .call-to-action {
        width: auto;
    }
    .navbar-default .navbar-brand {
        width: 200px;
    }
    .cd-signin-modal {
        top: 130px !important;
    }
    .popupContainer {
        top: 178px !important;
    }
    .near-airport {
        margin: 10px 0;
    }
    #main_banner {
        min-height: auto;
        padding-top: 300px;
    }
    .ui-datepicker-trigger {
        right: 12px;
    }
    .pdn-rght {
        padding-right: 15px;
    }
    #best_deal .deal .detail h3 {
        padding-top: 0;
    }
    #best_deal .deal .detail {
        padding: 10px 15px;
    }
    #best_deal .deal .detail .btn-blue {
        margin-top: 0;
    }
    .mobile-add h3 {
        font-size: 22px;
        padding: 18px 0 5px 50px;
    }
    .mobile-add h5 {
        font-size: 16px;
        padding-left: 50px;
    }
    .mobile-add {
        padding: 85px 0;
    }
    .mobile-add .store-btn {
        width: 150px;
    }
    .mobile-add img {
        width: 100%;
    }
    .mrgn-lft {
        margin-left: 50px !important;
    }
    .list-block>ul li {
        width: 50%;
        margin-right: 0;
    }
    .list-block {
        padding-bottom: 20px;
        border-bottom: 1px solid #2387c0;
    }
    .list-block::after {
        border-right: none;
    }
    .list-block2 h4 {
        margin-top: 30px;
    }
    .owl-theme .owl-controls {
        display: none !important;
    }
    footer .link ul li {
        padding: 0 17px 0 0;
    }
    footer .link ul li a {
        font-size: 11px;
    }
    .md-search {
        margin: 68px 0 -68px;
    }
    .modify_btn {
        right: 0;
    }
    #airline_matrix {
        margin-top: 30px;
    }
    .flight-destination ul li {
        width: 25%;
    }
    .place-itineray {
        width: 50% !important;
    }
    .flight-logo-name img {
        width: 38px;
    }
    .htl-sort .sorting {
        margin-top: 20px;
    }
    .hotel-list .price-wrapper .select-room {
        padding: 4px 15px;
    }
    .hotel-list .content-wrapper ul li a {
        width: 32px;
        height: 32px;
        line-height: 42px;
    }
    .htl-top {
        margin: 120px 0 14px;
    }
    .htl-top .htl-dtl {
        width: 56%;
        padding: 15px 15px 0 20px;
    }
    .htl-top .htl-dtl2 {
        padding: 15px 20px 0 0;
    }
    .photo-gallery .carousel-indicators {
        top: 405px;
        left: 211px;
    }
    .photo-gallery .carousel-indicators li {
        width: 116px;
    }
    .min-hght {
        min-height: 22.7vh;
    }
    .payment-btn a {
        margin-bottom: 30px;
        display: inline-block;
    }
    .flight-step-review {
        margin-top: 130px;
    }
    .flight-review-bar {
        margin-bottom: 20px;
        overflow: hidden;
        height: 50px;
    }
    .affix {
        position: relative;
        width: auto;
        top: auto;
    }
    .review-booking figure {
        width: 203px;
    }
    .review-booking .detail {
        width: 70%;
    }
    .review-booking .detail .date {
        width: 45%;
    }
    .review-booking .detail .rm-dtl {
        width: 55%;
    }
    .confirmation {
        width: 100%;
        margin: 100px auto 0;
    }
    .confirmation .welcome .content {
        width: 80%;
    }
    .confirmation .welcome .content h3 {
        font-size: 21px;
    }
    .confirmation .welcome .content h4 {
        font-size: 18px;
    }
    .customer-support ul li:first-child {
        width: 50%;
    }
    .customer-support ul li {
        width: 25%;
        min-height: 109px;
    }
    .customer-profile {
        margin-top: 120px;
    }
    .customer-profile .left {
        min-height: auto;
        margin-bottom: 30px;
    }
    .my-profile .inner .field {
        width: 78%;
    }
    .my-profile .inner .field-10 {
        width: 12%;
    }
    .my-profile .inner .field-30 {
        width: 27%;
    }
    .feedback .inner .field-50,
    .co-travelers .inner .field-50 {
        width: 48%;
        margin: 0 6px;
    }
    .my-booking .tabs li a {
        padding: 10px 12px;
    }
}

@media (min-width:991px) and (max-width:1024px) {
    .call-to-action {
        width: auto;
    }
    .navbar-brand img {
        width: 52%;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        margin-top: 24px;
    }
    .nav>li {
        padding: 0 8px;
    }
    #main_banner {
        min-height: auto;
        padding-top: 300px;
    }
    #best_deal .deal .detail {
        padding: 50px 20px 20px;
    }
    .list-block::after {
        right: 30px;
    }
    .owl-prev,
    .owl-next {
        margin: 0 0 0 -15px !important;
    }
    .owl-next {
        margin: 0 -15px 0 0 !important;
    }
    .modify_btn {
        right: 26px;
    }
    .sorting h4 {
        padding: 15px 10px 15px 0;
    }
    .sorting ul {
        margin: 0 0 0 10px;
    }
    .sorting .dropdown-menu {
        left: -10px
    }
    .departure-icon {
        width: 20%;
    }
    .flight-destination ul li {
        width: 25%;
    }
    .place-itineray {
        width: 50% !important;
    }
    .flight-destination ul li h3,
    .flight-destination ul li h3 span {
        font-size: 12px;
    }
    .flight-logo-name img {
        width: 38px;
    }
    .hotel-list .image-wrapper {
        height: 252px;
    }
    .hotel-list .price-wrapper {
        padding: 10px 15px 10px 10px;
    }
    .hotel-list .price-wrapper .select-room {
        padding: 4px 8px;
    }
    .htl-top .htl-dtl {
        width: 65%;
    }
    .htl-top .htl-dtl2 {
        width: 17%;
    }
    .photo-gallery .carousel-indicators {
        left: 182px;
    }
    .photo-gallery .carousel-indicators li {
        width: 98px;
    }
    .min-hght {
        min-height: 30.1vh;
    }
    .flight-review-bar p {
        font-size: 16px;
    }
    .review-booking figure {
        width: 150px;
    }
    .review-booking .detail {
        width: 73%;
    }
    .review-booking .detail .date {
        width: 43%;
    }
    .review-booking .detail .date .dt-dtl {
        width: 78px;
        margin-right: 6px;
    }
    .review-booking .detail .rm-dtl {
        width: 57%;
    }
    .review-booking .detail .rm-dtl li a {
        width: 32px;
        height: 32px;
        line-height: 42px;
    }
    .affix {
        width: 28.5%;
    }
    .payment-card {
        width: 30%;
        text-align: right;
    }
    .payment-div {
        width: 70%;
    }
    .confirmation {
        width: 95%;
    }
    .my-profile .inner .field {
        width: 77%;
    }
    .feedback .inner .field-50,
    .co-travelers .inner .field-50 {
        margin: 0 6px;
    }
    .my-booking .tabs {
        width: 50%;
    }
    .my-booking .sort {
        width: 50%;
    }
}

@media (min-width:1025px) and (max-width:1400px) {
    #main_banner {
        min-height: auto;
        padding-top: 300px;
    }
    .nav>li {
        padding: 0 8px;
    }
    .call-to-action {
        width: auto;
    }
    .navbar-brand img {
        width: 52%;
    }
    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        margin-top: 24px;
    }
    .modify_btn {
        right: 8%;
    }
    .affix {
        width: 19.1%;
    }
}

@media(max-width:500px) {
    .reset-pass {
        width: 90% !important;
    }
    .modify_srch {
        left: 2px;
    }
}

@media screen and (max-width:767px) {
    .reset-pass {
        width: 80%;
    }
}

@media (min-width:768px) and (max-width:990px) {
    .reset-pass {
        width: 60%;
    }
}

@media (min-width:991px) and (max-width:1024px) {
    .reset-pass {
        width: 50%;
    }
}
