.cd-main-header{position:relative;z-index:1;height:50px;background:#343642;}
.cd-main-header::after{content:'';display:table;clear:both;}
@media only screen and (min-width:768px){.cd-main-header{height:80px;}
.cd-main-header__logo{margin:20px 0 0 5%;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
}
.cd-main-nav{float:right;width:auto;height:auto;cursor:pointer;}
.cd-main-nav__list{position:relative;top:25px;left:0;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);list-style:none;padding:0;margin:0;}
.cd-main-nav__list.cd-main-nav__list--is-visible{-webkit-transform:translateY(50px);-ms-transform:translateY(50px);transform:translateY(50px);}
.cd-main-nav__item{padding:7px 8px 6px;border-radius:0;margin-left:8px;background:#3a7fc1;color:#fff;font-size:13px;font-weight:400;}
.cd-main-nav__item:hover{background:#faa71a;text-decoration:none;}
@media only screen and (min-width:768px){.cd-main-nav{width:auto;height:auto;background:none;cursor:auto;}
.cd-main-nav__list{position:static;width:auto;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);line-height:normal;padding:0;margin:0;}
.cd-main-nav__list.cd-main-nav__list--is-visible{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
.cd-main-nav__list li{display:inline-block;margin-left:0;}
.cd-main-nav__list li:nth-last-child(2){margin-left:2em;}
.cd-main-nav__item{display:inline-block;height:auto;line-height:normal;background:transparent;}
.cd-main-nav__item.cd-main-nav__item--signin{padding:9px 12px;border-radius:0;margin-left:8px;background:#3a7fc1;color:#fff;font-size:13px;font-weight:400;}
.cd-main-nav__item.cd-main-nav__item--signin:hover{background:#faa71a;text-decoration:none;}
.cd-main-nav__item.cd-main-nav__item--signin{border:none;}
}
.cd-signin-modal{position:fixed;top:68px;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index:3;overflow-y:auto;cursor:pointer;visibility:hidden;opacity:0;-webkit-transition:opacity 0.3s, visibility 0.3s;transition:opacity 0.3s, visibility 0.3s;}
.cd-signin-modal.cd-signin-modal--is-visible{visibility:visible;opacity:1;}
.cd-signin-modal__container{position:relative;width:90%;max-width:375px;background:#FFF;margin:3em auto 4em;cursor:auto;border-radius:0;-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px);-webkit-transition:-webkit-transform 0.3s;transition:-webkit-transform 0.3s;transition:transform 0.3s;transition:transform 0.3s, -webkit-transform 0.3s;}
.cd-signin-modal--is-visible .cd-signin-modal__container{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
.cd-signin-modal__container ul{list-style:none;padding:0;margin:0;}
.cd-signin-modal__switcher:after{content:"";display:table;clear:both;}
.cd-signin-modal__switcher li{width:50%;float:left;text-align:center;}
.cd-signin-modal__switcher li:first-child a{border-radius:0;}
.cd-signin-modal__switcher li:last-child a{border-radius:0;}
.cd-signin-modal__switcher a{display:block;width:100%;height:50px;line-height:50px;background:#3a7fc1;color:#fff;text-decoration:none;font-size:14px;font-weight:500;}
.cd-signin-modal__switcher a.cd-selected{background:#FFF;color:#3a7fc1 !important;}
@media only screen and (min-width:600px){.cd-signin-modal__container{margin:4em auto;}
.cd-signin-modal__switcher a{height:70px;line-height:70px;}
}
.cd-signin-modal__form{padding:1.4em;}
.cd-signin-modal__form .connect{display:block;width:100%;text-align:center;padding-bottom:15px;border-bottom:1px solid #e3e3e3;}
.cd-signin-modal__form .connect img{width:auto;margin-bottom:10px;}
.cd-signin-modal__fieldset{position:relative;margin:1.4em 0;padding:0;}
.cd-signin-modal__fieldset label{display:inline;}
.cd-signin-modal__fieldset:first-child{margin-top:0;}
.cd-signin-modal__fieldset:last-child{margin-bottom:0;}
.cd-signin-modal__label{font-size:1.4rem;}
.cd-signin-modal__label.cd-signin-modal__label--image-replace{display:inline-block;position:absolute;left:15px;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);height:20px;width:20px;overflow:hidden;text-indent:100%;white-space:nowrap;color:transparent;background-repeat:no-repeat;background-position:50% 0;}
.cd-signin-modal__label.cd-signin-modal__label--username{background-image:url(../images/cd-icon-username.svg);}
.cd-signin-modal__label.cd-signin-modal__label--email{background-image:url(../images/cd-icon-email.svg);}
.cd-signin-modal__label.cd-signin-modal__label--password{background-image:url(../images/cd-icon-password.svg);}
.cd-signin-modal__input{margin:0;padding:0;border-radius:0;}
.cd-signin-modal__input.cd-signin-modal__input--full-width{width:100%;}
.cd-signin-modal__input.cd-signin-modal__input--has-padding{padding:12px 20px 12px 50px;}
.cd-signin-modal__input.cd-signin-modal__input--has-border{border:1px solid #d2d8d8;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.cd-signin-modal__input.cd-signin-modal__input--has-border:focus{border-color:#3a7fc1;-webkit-box-shadow:0 0 5px rgba(52, 54, 66, 0.1);box-shadow:0 0 5px rgba(52, 54, 66, 0.1);outline:none;}
.cd-signin-modal__input.cd-signin-modal__input--has-error{border:1px solid #d76666;}
.cd-signin-modal__input[type=submit]{padding:15px 0;cursor:pointer;background:#3a7fc1;color:#FFF;font-weight:bold;border:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.cd-signin-modal__input[type=submit]:hover, .cd-signin-modal__input[type=submit]:focus{background:#faa71a;outline:none;}
.cd-signin-modal__hide-password{display:inline-block;position:absolute;right:0;top:0;padding:6px 15px;border-left:1px solid #d2d8d8;top:50%;bottom:auto;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:1.4rem;color:#343642;text-decoration:none;}
.cd-signin-modal__error{display:inline-block;position:absolute;left:-5px;bottom:-35px;background:rgba(215, 102, 102, 0.9);padding:.8em;z-index:2;color:#FFF;font-size:1.3rem;border-radius:0.25em;pointer-events:none;visibility:hidden;opacity:0;-webkit-transition:opacity 0.2s 0s, visibility 0s 0.2s;transition:opacity 0.2s 0s, visibility 0s 0.2s;}
.cd-signin-modal__error::after{content:'';position:absolute;left:22px;bottom:100%;height:0;width:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid rgba(215, 102, 102, 0.9);}
.cd-signin-modal__error.cd-signin-modal__error--is-visible{opacity:1;visibility:visible;-webkit-transition:opacity 0.2s 0s, visibility 0s 0s;transition:opacity 0.2s 0s, visibility 0s 0s;}
@media only screen and (min-width:600px){.cd-signin-modal__form{padding:1.5em;}
.cd-signin-modal__fieldset{margin:2em 0;}
.cd-signin-modal__fieldset:first-child{margin-top:0;}
.cd-signin-modal__fieldset:last-child{margin-bottom:0;}
.cd-signin-modal__input.cd-signin-modal__input--has-padding{padding:10px 20px 10px 50px;}
.cd-signin-modal__input[type=submit]{padding:16px 0;}
}
.cd-signin-modal__message{padding:1.4em 1.4em 0;font-size:1.4rem;line-height:1.4;text-align:center;}
@media only screen and (min-width:600px){.cd-signin-modal__message{padding:2em 2em 0;}
}
.cd-signin-modal__bottom-message{width:100%;left:0;bottom:0;text-align:center;font-size:14px;padding:0 0 20px;font-weight:500;margin-top:28px;display:inline-block;}
.cd-signin-modal__bottom-message a{color:#444;text-decoration:underline;}
.cd-signin-modal__close{display:block;position:absolute;width:40px;height:40px;right:0;top:-40px;background:#000 url(../images/cd-icon-close.svg) no-repeat center center;color:transparent;text-indent:100%;white-space:nowrap;overflow:hidden;}
.cd-signin-modal__block{display:none;}
.cd-signin-modal__block.cd-signin-modal__block--is-selected{display:block;}