:root {
    --blue-color: #232c57;
    --red-color: #e1141b;
    --heading-color: #02234c;
    --paragraph-color: #4d4d4d;
    --darkgrey-color: #333333;
    --white-color: #fff;
    --black-color: #000
}

:root {
    --bukra-lt: '29LT Bukra Light';
    --bukra-rg: '29LTBukra-Regular';
    --bukra-bd: '29LT Bukra Bold';
    --din-ult: 'DIN NEXTTM ARABIC ULTRALIGHT';
    --din-lt: 'DIN NEXTTM ARABIC LIGHT';
    --din-rg: 'DIN NEXTTM ARABIC REGULAR';
    --din-md: 'DIN NEXTTM ARABIC MEDIUM';
    --din-bd: 'DIN NEXTTM ARABIC BOLD';
    --din-bk: 'DIN NEXTTM ARABIC HEAVY';
    --din-hv: 'DIN NEXTTM ARABIC HEAVY';
}

body {
    font-family: var(--din-rg);
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

a:focus {
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

img {
    outline: none;
}

iframe {
    border: medium none;
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #393939;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #393939;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #393939;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #393939;
}

/* 02 : Heading Style CSS BOF
=================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: normal;
}

/* 03 : Paragraph Style CSS BOF
=================================================== */
p {
    padding: 0px;
    margin: 0;
    font-size: 16px;
    color: var (--paragraph-color);
    font-weight: 400;
    line-height: 26px;
}

section {
    padding: 80px 0;
}

/*=====  Top CSS BOF  ======*/

header .container {
    width: 1400px !important;
}

.top {
    background: var(--blue-color);
    width: 100%;
    height: auto;
}

.contact-info {
    font-family: var(--bukra-rg);
    float: left;
    padding: 11px 0;
}

.contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info ul li {
    font-size: 13px;
    font-weight: 400;
    float: left;
    color: var(--white-color);
    padding: 0 25px 0 0;
}

.contact-info ul li svg {
    fill: var(--white-color);
    width: 11px;
    margin-right: 5px;
    height: 14px;
}

.lang {
    float: right;
    padding: 6px 48px 7px;
    z-index: 5;
    margin: 0;
}

.lang .caret {
    display: inherit;
    margin-left: 0;
    vertical-align: middle;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0px;
}

.lang .caret svg {
    width: 11px !important;
    height: 8px !important;
    fill: var(--white-color);
    position: relative;
    top: -2px !important;
    left: -2px !important;
}

.lang .dropdown-menu {
    min-width: 58px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    left: 0;
    top: 33px;
    padding: 0;
    background: var(--blue-color);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    transition: all 0.3s;
    margin: 0;
}

.lang .dropdown-menu a {
    display: block;
    border-bottom: 1px solid #343e6d;
}

.lang .dropdown-menu a:last-child {
    border-bottom: none;
}

.lang .dropdown-menu a {
    padding: 5px 0;
    color: var(--white-color);
    text-align: center;
}

.dropdown-menu a {
    margin-bottom: unset;
}

.dropdown-menu a:hover {
    border: unset !important;
}

.lang .dropdown-menu a:focus,
.lang .dropdown-menu a:hover {
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--red-color) !important;
}

.lang .dropdown a {
    font-family: var(--bukra-bd) !important;
    color: var(--white-color) !important;
    text-decoration: none !important;
    font-size: 14px !important;
    background-color: unset !important;
    padding: unset !important;
}

.dropdown a {
    border: unset !important;
}

.lang .dropdown svg {
    width: 12px;
    height: 19px;
    fill: var(--white-color);
    position: relative;
    top: 5px;
    left: -1px;
}

.list-inline>li {
    padding: 0 0;
}


/*=====  Navbar CSS BOF  ======*/
.navbar-default {
    background: #fff;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
}

.navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-nav {
    margin: 0;
}

.navbar-brand img {
    width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    padding: 0;
}

.nav>li {
    position: relative;
    display: block;
    padding: 20px 20px;
}

.nav>li:last-child {
    padding: 20px 0px 20px 20px;
}

.nav>li>a {
    font-family: var(--din-rg);
    display: block;
    margin: 0;
    position: relative;
    padding: 0;
}

.nav>li>a svg {
    fill: var(--red-color);
    width: 27px;
    height: 25px;
    float: left;
    margin-right: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    height: auto;
    padding: 0;
    z-index: 1000;
    margin-left: 0 !important;
    margin: 12px 40px 12px 0;
}

.top-nav-collapse {
    padding: 0;
    top: 0;
}

.navbar-default .navbar-nav>li>a {
    color: var(--blue-color);
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: var(--red-color);
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: var(--red-color) !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    color: var(--red-color);
    background: transparent;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--red-color);
    background-color: transparent;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.navbar-right .dropdown-menu {
    right: 20px;
    left: auto !important;
}

.navbar-default .navbar-nav .dropdown .dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.navbar-default .navbar-nav .dropdown-menu {
    left: 20px;
    top: 66px;
    background-color: var(--blue-color) !important;
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 200px;
    padding: 0;
    margin: 0;
}

.navbar-default .navbar-nav .dropdown.open .dropdown-menu {
    transition: max-height 1s;
    max-height: 100vh;
    opacity: 1;
}

.navbar-default .navbar-nav .dropdown-menu>li {
    border-bottom: 1px solid #363f6d;
}

.navbar-default .navbar-nav .dropdown-menu>li:last-child {
    border-bottom: none;
}

.navbar-default .navbar-nav .dropdown-menu>li>a {
    padding: 8px 20px;
    color: var(--white-color);
}

.navbar-default .navbar-nav .dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--red-color);
}

.affix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    animation: smoothScroll 1s forwards;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

.affix::after {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    content: "";
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.affix .navbar-brand {
    top: 0;
}

.affix .navbar-brand img {
    width: 97% !important;
}

.navbar-right {
    margin-right: 49px;
}

.svg-img {
    width: 21px;
    height: 21px;
    fill: var(--white-color);
    position: relative;
    top: 10px;
    left: 53px;
}

ol,
ul,
li {
    list-style: none;
}

.navbar-default .navbar-nav>li>a::after {
    background: none;
}

.dropdown a svg {
    margin-top: 0;
    float: none;
    margin-left: 0;
}

.navbar-nav .dropdown li a {
    background-color: #232c57;
}

/*=====  Footer CSS BOF  ======*/
footer {
    background: var(--blue-color);
    width: 100%;
    display: block;
    position: relative;
    padding: 0;
}

footer .contact {
    background: #1b2344;
    width: 100%;
    display: block;
    padding: 25px 0;
}

footer .contact .cnt-inr {
    width: 100%;
    display: inline-block;
}

footer .contact .cnt-inr h2 {
    font-family: var(--bukra-bd);
    font-size: 31px;
    color: var(--white-color);
}

footer .contact .cnt-inr p {
    font-family: var(--din-lt);
    font-size: 26px;
    color: var(--white-color);
    line-height: 28px;
}

footer .contact .email {
    font-family: var(--bukra-md);
    font-size: 22px;
    color: var(--white-color);
    text-align: right;
    margin-top: 40px;
}

footer .contact .email a {
    color: var(--white-color);
}

footer .contact .email a svg {
    width: 37px;
    height: 27px;
    margin: 0 10px -5px 0;
    fill: var(--white-color);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

footer .contact .email a:hover {
    color: var(--red-color);
}

footer .contact .email a:hover svg {
    fill: var(--red-color);
}

footer .contact .phone {
    text-align: right;
    margin-top: 35px;
}

footer .contact .phone a svg {
    width: 63px;
    height: 41.634px;
    margin: 0 10px -5px 0;
    fill: var(--white-color);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

footer .contact .phone a:hover svg {
    fill: var(--red-color);
}

footer .inner {
    display: block;
    width: 100%;
    padding: 50px 0;
}

footer .social {
    display: flex;
    list-style: outside none none;
    margin: 35px 0 0 !important;
    float: left;
    width: 100%;
    padding: 0;
}

footer .social li {
    text-align: center;
    padding: 0 5px 0 0 !important;
    float: left;
}

footer .social li a {
    color: var(--heading-color) !important;
    display: block;
    height: 22px;
    line-height: 20px;
    text-decoration: none;
    width: 22px;
    background: var(--white-color);
    font-size: 13px;
    border-radius: 100px;
}

footer .social li a:hover {
    background: var(--red-color);
    color: var(--white-color) !important;
}

footer .link {
    width: 100%;
    display: inline-block;
}

footer .link h4 {
    font-family: var(--bukra-bd);
    color: var(--white-color);
    display: inline-block;
    line-height: normal;
    position: relative;
    text-align: left;
    float: left;
    width: 100%;
    font-size: 21px;
    padding-bottom: 15px;
}

footer .link ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

footer .link ul li {
    font-family: var(--din-lt);
    font-size: 20px !important;
    padding: 3px 0;
    width: auto;
    float: unset;
}
/* footer .link ul li a {
    font-size: 20px;
} */

footer .link p a {
    font-family: var(--din-lt);
    font-size: 20px;
    padding: 3px 0 0;
    color: var(--white-color);
}

footer .link p a:hover {
    color: var(--red-color);
}

footer .link ul li a {
    color: var(--white-color);
    text-decoration: none;
    padding: 0;
}

footer .link ul li a:hover {
    color: var(--red-color);
    text-decoration: none;
}

.p-l {
    padding-left: 90px;
}

.ftr-btm {
    padding: 25px 0;
    border-top: 2px solid #181f3d;
    margin: 10px 0 0;
    position: relative;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
}

.copyright p {
    font-family: var(--din-lt);
    color: var(--white-color);
    font-size: 16px;
}

.ftr-logo {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0 0;
}

.back-top {
    background: var(--blue-color);
    position: absolute;
    right: 0;
    top: -13px;
    left: 0;
    width: 88px;
    margin: 0 auto;
}

.back-top #totop {
    color: var(--white-color);
    height: 34px;
    line-height: 0;
    transition: all 0.8s ease-in-out 0s;
    width: 34px;
    z-index: 50;
    background: #181f3d;
    border-radius: 50%;
    padding: 8px 11px;
}

.back-top i {
    font-size: 22px;
    position: relative;
    top: 0;
    font-weight: 700;
}

.back-top #totop:hover {
    background: var(--red-color);
    color: var(--white-color);
}


.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    position: unset;
}


/* ltr-media */

@media screen and (max-width: 480px) {

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        width: 100% !important;
        right: 0 !important;
    }

    footer .contact .cnt-inr p {
        font-size: 18px;
        line-height: 22px;
    }

    footer .contact .email {
        font-size: 18px;
    }

    footer .link ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    header .container {
        width: inherit !important;
    }

    /*=====  Navbar CSS BOF  ======*/
    .navbar-toggle {
        background-color: var(--blue-color) !important;
        border: none !important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 16px 0;
        padding: 9px 10px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: var(--white-color) !important;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: var(--red-color);
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-top: 0;
        position: absolute;
        right: 15px;
        width: 70%;
        z-index: 999;
        padding: 0;
        background: var(--blue-color) !important;
        border: none;
    }

    .navbar-nav {
        margin: 0;
    }

    .nav>li {
        padding: 0;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #363f6d;
    }

    .nav>li:last-child {
        padding: 0px;
    }

    .nav>li>a {
        color: var(--white-color) !important;
        margin: 0;
        padding: 15px 20px;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: #ffff !important;
        background-color: var(--red-color);
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .navbar-default .navbar-nav>.active>a svg,
    .navbar-default .navbar-nav>.active>a:focus svg,
    .navbar-default .navbar-nav>.active>a:hover svg {
        fill: var(--white-color);
    }

    .navbar-default .navbar-nav>li>a:hover svg,
    .navbar-default .navbar-nav>li>a:focus svg {
        fill: var(--white-color);
    }

    .navbar-right .dropdown-menu {
        left: 0;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: var(--white-color);
        font-weight: inherit;
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px !important;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 8px 20px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: var(--red-color);
        background-color: transparent;
    }

    .navbar-default .navbar-nav .dropdown-menu {
        background-color: transparent;
        transition: none !important;
    }

    footer .contact .email,
    footer .contact .phone {
        text-align: left;
    }

    footer .contact .cnt-inr h2 {
        font-size: 25px;
    }

    .p-l {
        padding-left: 0;
    }

    footer .inner {
        padding: 20px 0;
    }

    footer .link h4 {
        font-size: 16px;
        margin: 20px 0;
        padding-bottom: 0;
    }

    .navbar-nav .dropdown a {
        background-color: #232c57;
    }
}


@media (min-width: 768px) and (max-width: 990px) {
    header .container {
        width: inherit !important;
    }

    /*=====  Navbar CSS BOF  ======*/
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-toggle {
        background-color: var(--blue-color);
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 16px 0;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: var(--white-color) !important;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: var(--red-color);
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        margin-top: 0;
        position: absolute;
        right: 15px;
        width: 50%;
        z-index: 999;
        padding: 0;
        background: var(--blue-color) !important;
        border: none;
    }

    .navbar-nav {
        margin: 0;
        float: none !important;
    }

    .nav>li {
        padding: 0;
        text-align: left;
        width: 100%;
        border-bottom: 1px solid #363f6d;
    }

    .nav>li:last-child {
        padding: 0px;
    }

    .nav>li>a {
        color: var(--white-color) !important;
        margin: 0;
        padding: 15px 20px;
    }

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .navbar-default .navbar-nav>.active>a svg,
    .navbar-default .navbar-nav>.active>a:focus svg,
    .navbar-default .navbar-nav>.active>a:hover svg {
        fill: var(--white-color);
    }

    .navbar-default .navbar-nav>li>a:hover svg,
    .navbar-default .navbar-nav>li>a:focus svg {
        fill: var(--white-color);
    }

    .navbar-right .dropdown-menu {
        left: 0;
    }

    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: var(--white-color);
        font-weight: inherit;
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 8px 20px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: var(--red-color);
        background-color: transparent;
    }

    .navbar-default .navbar-nav .dropdown-menu {
        background-color: transparent;
        overflow: auto !important;
        transition: none !important;
    }

    footer .contact .email,
    footer .contact .phone {
        text-align: left;
    }

    .p-l {
        padding-left: 0;
    }

    footer .link h4 {
        margin: 20px 0;
        padding-bottom: 0;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    header .container {
        width: inherit !important;
    }

    .contact-info ul li {
        font-size: 12px;
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        margin: 12px 30px 12px 0;
    }

    .nav>li {
        padding: 20px 10px;
    }

    .nav>li:last-child {
        padding: 20px 0px 20px 10px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }

    .nav>li>a svg {
        width: 22px;
        height: 20px;
        margin-right: 3px;
    }

    .navbar-default .navbar-nav .dropdown-menu {
        min-width: 170px;
    }

    footer .contact .cnt-inr p {
        font-size: 24px;
    }

    .p-l {
        padding-left: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    header .container {
        width: inherit !important;
    }
}

@media (max-width: 768px) {
    .dropdown-menu{margin-top:55px}
    .lang {
        float: right;
        padding: 6px 0 7px;
        z-index: 5;
        margin: 0;
    }
}

@media (width: 768px) {
    .svg-img {
        top: 10px !important;
        left: 4px;
    }
}

@media (width: 360px) {
    .svg-img {
        left: 236px !important;
    }
}

@media (width: 375px) {
    .svg-img {
        left: 251px !important;
    }
}

@media (width: 414px) {
    .svg-img {
        top: 9px !important;
        left: 290px !important;
    }
}

@media (width: 1024px) {
    .svg-img {
        left: -64px !important;
    }
}

@media (width: 320px) {
    .svg-img {
        top: 9px !important;
        left: 197px !important;
    }

}
@media (width: 411px) {
    .svg-img {
        top: 9px;
        left: 286px;
    }

}





/* rtl-style */

/*=====  Top CSS BOF  ======*/
header .ar_direction1 .container {
    width: 1400px;
}

.ar_direction1 .top {
    background: var(--blue-color);
    width: 100%;
    height: auto;
}

.ar_direction1 .contact-info {
    font-family: var(--bukra-rg);
    float: right;
    padding: 11px 0;
}

.ar_direction1 .contact-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ar_direction1 .contact-info ul li {
    font-size: 13px;
    font-weight: 400;
    float: right;
    color: var(--white-color);
    padding: 0 0 0 25px;
}

.ar_direction1 .contact-info ul li svg {
    fill: var(--white-color);
    width: 11px;
    margin-left: 5px;
    height: 14px;
}

.ar_direction1 .lang {
    float: left;
    padding: 6px 6px 7px;
    z-index: 5;
    margin: 0;
}

.ar_direction1 .lang .caret {
    display: inherit;
    margin-left: 0;
    vertical-align: middle;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0px;
}

.ar_direction1 .lang .caret svg {
    width: 11px !important;
    height: 8px !important;
    fill: var(--white-color);
    position: relative;
    top: -2px !important;
    right: -2px !important;
}

.ar_direction1 .lang .dropdown-menu {
    min-width: 58px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    right: 0;
    top: 33px;
    padding: 0;
    background: var(--blue-color);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    transition: all 0.3s;
    margin: 0;
}

.ar_direction1 .lang .dropdown-menu a {
    display: block;
    border-bottom: 1px solid #343e6d;
}

.ar_direction1 .lang .dropdown-menu a:last-child {
    border-bottom: none;
}

.ar_direction1 .lang .dropdown-menu a {
    padding: 5px 0;
    color: var(--white-color);
    text-align: center;
}

.ar_direction1 .lang .dropdown-menu a:focus,
.ar_direction1 .lang .dropdown-menu a:hover {
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--red-color);
}

.ar_direction1 .lang .dropdown a {
    font-family: var(--bukra-bd);
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
}

.ar_direction1 .lang .dropdown svg {
    width: 12px;
    height: 19px;
    fill: var(--white-color);
    position: relative;
    top: 5px;
    right: -1px;
}

.ar_direction1 .list-inline>li {
    padding: 0 0;
}

/*=====  Navbar CSS BOF  ======*/
.ar_direction1 .navbar-default {
    background: #fff;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    border: 0px;
    z-index: 2;
}

.ar_direction1 .navbar {
    margin-bottom: 0px;
    z-index: 999;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ar_direction1 .navbar-nav {
    margin: 0;
    float: right;
}

.ar_direction1 .navbar-header {
    float: right;
}

.ar_direction1 .navbar-right {
    float: left !important;
    margin-left: 60px;
}

.ar_direction1 .navbar-brand img {
    width: 100% !important;
}

.ar_direction1 .navbar-default .navbar-collapse,
.ar_direction1 .navbar-default .navbar-form {
    padding: 0;
}

.ar_direction1 .nav>li {
    position: relative;
    display: block;
    padding: 20px 20px;
}

.ar_direction1 .navbar-nav>li {
    float: right;
}

.ar_direction1 .nav>li:last-child {
    padding: 20px 20px 20px 0;
}

.ar_direction1 .nav>li>a {
    font-family: var(--din-rg);
    display: block;
    margin: 0;
    position: relative;
    padding: 0;
}

.ar_direction1 .nav>li>a svg {
    fill: var(--red-color);
    width: 27px;
    height: 25px;
    float: right;
    margin-left: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.ar_direction1 .navbar-default .navbar-brand,
.ar_direction1 .navbar-default .navbar-brand:hover,
.ar_direction1 .navbar-default .navbar-brand:focus {
    height: auto;
    padding: 0;
    z-index: 1000;
    margin-left: 0 !important;
    margin: 12px 0 12px 40px !important;
}

.ar_direction1 .top-nav-collapse {
    padding: 0;
    top: 0;
}

.ar_direction1 .navbar-default .navbar-nav>li>a {
    color: var(--blue-color);
    font-size: 16px;
    float: right;
}

.ar_direction1 .navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: var(--red-color);
    background-color: transparent;
}

.ar_direction1 .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: var(--red-color);
}

.ar_direction1 .nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    color: var(--red-color);
    background: transparent;
}

.ar_direction1 .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: var(--red-color);
    background-color: transparent;
}

.ar_direction1 .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.ar_direction1 .navbar-right .dropdown-menu {
    left: 20px;
    right: auto !important;
}

.ar_direction1 .navbar-default .navbar-nav .dropdown .dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.ar_direction1 .navbar-default .navbar-nav .dropdown-menu {
    right: 20px;
    top: 66px;
    background-color: var(--blue-color);
    background-clip: padding-box;
    border: none;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-width: 200px;
    padding: 0;
    margin: 0;
}

.ar_direction1 .navbar-default .navbar-nav .dropdown.open .dropdown-menu {
    transition: max-height 1s;
    max-height: 100vh;
    opacity: 1;
}

.ar_direction1 .navbar-default .navbar-nav .dropdown-menu>li {
    border-bottom: 1px solid #363f6d;
}

.navbar-default .navbar-nav .dropdown-menu>li:last-child {
    border-bottom: none;
}

.navbar-default .navbar-nav .dropdown-menu>li>a {
    padding: 8px 20px;
    color: var(--white-color);
    text-align: right;
}

.navbar-default .navbar-nav .dropdown-menu>li>a:focus,
.ar_direction1 .dropdown-menu>li>a:hover {
    color: var(--white-color);
    text-decoration: none;
    background-color: var(--red-color);
}

.ar_direction1 .affix {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9998;
    animation: smoothScroll 1s forwards;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
}

.ar_direction1 .affix::after {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 10px;
    content: "";
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}

.ar_direction1 .affix .navbar-brand {
    top: 0;
}

.ar_direction1 .affix .navbar-brand img {
    width: 97% !important;
}

.ar_direction1 .col-lg-1,
.ar_direction1 .col-lg-10,
.ar_direction1 .col-lg-11,
.ar_direction1 .col-lg-12,
.ar_direction1 .col-lg-2,
.ar_direction1 .col-lg-3,
.ar_direction1 .col-lg-4,
.ar_direction1 .col-lg-5,
.ar_direction1 .col-lg-6,
.ar_direction1 .col-lg-7,
.ar_direction1 .col-lg-8,
.ar_direction1 .col-lg-9 {
    float: right;
}

.ar_direction1 .col-md-1,
.ar_direction1 .col-md-10,
.ar_direction1 .col-md-11,
.ar_direction1 .col-md-12,
.ar_direction1 .col-md-2,
.ar_direction1 .col-md-3,
.ar_direction1 .col-md-4,
.ar_direction1 .col-md-5,
.ar_direction1 .col-md-6,
.ar_direction1 .col-md-7,
.ar_direction1 .col-md-8,
.ar_direction1 .col-md-9 {
    float: right;
}

.ar_direction1 .col-sm-1,
.ar_direction1 .col-sm-10,
.ar_direction1 .col-sm-11,
.ar_direction1 .col-sm-12,
.ar_direction1 .col-sm-2,
.ar_direction1 .col-sm-3,
.ar_direction1 .col-sm-4,
.ar_direction1 .col-sm-5,
.ar_direction1 .col-sm-6,
.ar_direction1 .col-sm-7,
.ar_direction1 .col-sm-8,
.ar_direction1 .col-sm-9 {
    float: right;
}

.ar_direction1 .col-lg-offset-4 {
    margin-right: 33.33333333%;
}

.ar_direction1 .svg-img {
    width: 21px;
    height: 21px;
    fill: var(--white-color);
    position: relative;
    top: 10px;
    left: -118px;
}

/*=====  Footer CSS BOF  ======*/
footer {
    background: var(--blue-color);
    width: 100%;
    display: block;
    position: relative;
    padding: 0;
}

footer .ar_direction1 .contact {
    background: #1b2344;
    width: 100%;
    display: block;
    padding: 25px 0;
}

footer .ar_direction1 .contact .cnt-inr {
    width: 100%;
    display: inline-block;
}

footer.ar_direction1 .contact .cnt-inr h2 {
    font-family: var(--bukra-bd);
    font-size: 31px;
    color: var(--white-color);
}

footer .ar_direction1 .contact .cnt-inr p {
    font-family: var(--din-lt);
    font-size: 26px;
    color: var(--white-color);
    line-height: 28px;
}

footer .ar_direction1 .contact .email {
    font-family: var(--bukra-md);
    font-size: 22px;
    color: var(--white-color);
    text-align: left;
    margin-top: 40px;
}

footer .ar_direction1 .contact .email a {
    color: var(--white-color);
}

footer .ar_direction1 .contact .email a svg {
    width: 37px;
    height: 27px;
    margin: 0 0 -5px 10px;
    fill: var(--white-color);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

footer .ar_direction1 .contact .email a:hover {
    color: var(--red-color);
}

footer .ar_direction1 .contact .email a:hover svg {
    fill: var(--red-color);
}

footer .ar_direction1 .contact .phone {
    text-align: left;
    margin-top: 35px;
}

footer .ar_direction1 .contact .phone a svg {
    width: 63px;
    height: 41.634px;
    margin: 0 0 -5px 10px;
    fill: var(--white-color);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

footer .ar_direction1 .contact .phone a:hover svg {
    fill: var(--red-color);
}

footer .ar_direction1 .inner {
    display: block;
    width: 100%;
    padding: 50px 0;
}

footer .ar_direction1 .social {
    display: inline-block;
    list-style: outside none none;
    margin: 35px 0 0 !important;
    float: right;
    width: 100%;
    padding: 0;
}

footer .ar_direction1 .social li {
    text-align: center;
    padding: 0 5px 0 0 !important;
    float: right;
}

footer .ar_direction1 .social li a {
    color: var(--heading-color) !important;
    display: block;
    height: 22px;
    line-height: 20px;
    text-decoration: none;
    width: 22px;
    background: var(--white-color);
    font-size: 13px;
    border-radius: 100px;
}

footer .ar_direction1 .social li a:hover {
    background: var(--red-color);
    color: var(--white-color) !important;
}

footer .ar_direction1 .link {
    width: 100%;
    display: inline-block;
}

footer .ar_direction1 .link h4 {
    font-family: var(--bukra-bd);
    color: var(--white-color);
    display: inline-block;
    line-height: normal;
    position: relative;
    text-align: right;
    float: right;
    width: 100%;
    font-size: 21px;
    padding-bottom: 15px;
}

footer .ar_direction1 .link ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}

footer .ar_direction1 .link ul li {
    font-family: var(--din-lt);
    font-size: 20px !important;
    padding: 3px 0;
    width: auto;
}

footer .ar_direction1 .link p a {
    font-family: var(--din-lt);
    font-size: 20px;
    padding: 3px 0 0;
    color: var(--white-color);
}

footer .ar_direction1 .link p a:hover {
    color: var(--red-color);
}

footer .ar_direction1 .link ul li a {
    color: var(--white-color);
    text-decoration: none;
    padding: 0;
}

footer .ar_direction1 .link ul li a:hover {
    color: var(--red-color);
    text-decoration: none;
}

.ar_direction1 .p-l {
    padding-right: 90px;
}

.ar_direction1 .ftr-btm {
    padding: 25px 0;
    border-top: 2px solid #181f3d;
    margin: 10px 0 0;
    position: relative;
}

.ar_direction1 .copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
}

.ar_direction1 .copyright p {
    font-family: var(--din-lt);
    color: var(--white-color);
    font-size: 16px;
}

.ar_direction1 .ftr-logo {
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0 0;
}

.ar_direction1 .back-top {
    background: var(--blue-color);
    position: absolute;
    right: 0;
    top: -13px;
    left: 0;
    width: 88px;
    margin: 0 auto;
}

.ar_direction1 .back-top #totop {
    color: var(--white-color);
    height: 34px;
    line-height: 0;
    transition: all 0.8s ease-in-out 0s;
    width: 34px;
    z-index: 50;
    background: #181f3d;
    border-radius: 50%;
    padding: 8px 11px;
}

.ar_direction1 .back-top i {
    font-size: 22px;
    position: relative;
    top: 0;
    font-weight: 700;
}

.ar_direction1 .back-top #totop:hover {
    background: var(--red-color);
    color: var(--white-color);
}


/* rtl-media */

@media screen and (max-width: 480px) {

    .ar_direction1 .navbar-default .navbar-collapse,
    .ar_direction1 .navbar-default .navbar-form {
        width: 100% !important;
        right: 0 !important;
    }

    footer .ar_direction1 .contact .cnt-inr p {
        font-size: 18px;
        line-height: 22px;
    }

    footer .ar_direction1 .contact .email {
        font-size: 18px;
    }

    footer .ar_direction1 .link ul li {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {

    header .ar_direction1 .container {
        width: inherit !important;
    }

    /*=====  Navbar CSS BOF  ======*/
    .ar_direction1 .navbar-header {
        float: none;
    }

    .ar_direction1 .navbar-brand {
        float: right;
    }

    .ar_direction1 .navbar-toggle {
        background-color: var(--blue-color);
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 16px 0;
        float: left;
    }

    .ar_direction1 .navbar-default .navbar-toggle .icon-bar {
        background-color: var(--white-color) !important;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .ar_direction1 .navbar-default .navbar-toggle:focus,
    .ar_direction1 .navbar-default .navbar-toggle:hover {
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-collapse,
    .ar_direction1 .navbar-default .navbar-form {
        margin-top: 0;
        position: absolute;
        left: 15px;
        width: 70%;
        z-index: 999;
        padding: 0;
        background: var(--blue-color) !important;
        border: none;
    }

    .ar_direction1 .navbar-nav {
        margin: 0;
    }

    .ar_direction1 .nav>li {
        padding: 0;
        text-align: right;
        width: 100%;
        border-bottom: 1px solid #363f6d;
    }

    .ar_direction1 .nav>li:last-child {
        padding: 0px;
    }

    .ar_direction1 .nav>li>a {
        color: var(--white-color) !important;
        margin: 0;
        padding: 15px 20px;
    }

    .ar_direction1 .navbar-right {
        float: right !important;
        width: 100%;
    }

    .ar_direction1 .navbar-default .navbar-nav>.active>a,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:focus,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-nav>li>a:hover,
    .ar_direction1 .navbar-default .navbar-nav>li>a:focus {
        color: #ffff !important;
        background-color: var(--red-color);
    }

    .ar_direction1 .nav>li>a:focus,
    .ar_direction1 .nav>li>a:hover {
        text-decoration: none;
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-nav>.active>a svg,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:focus svg,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:hover svg {
        fill: var(--white-color);
    }

    .ar_direction1 .navbar-default .navbar-nav>li>a:hover svg,
    .ar_direction1 .navbar-default .navbar-nav>li>a:focus svg {
        fill: var(--white-color);
    }

    .ar_direction1 .navbar-right .dropdown-menu {
        left: 0;
    }

    .ar_direction1 .navbar-default .navbar-nav>.open>a,
    .ar_direction1 .navbar-default .navbar-nav>.open>a:focus,
    .ar_direction1 .navbar-default .navbar-nav>.open>a:hover {
        color: #ffff !important;
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: var(--white-color);
        font-weight: inherit;
    }

    .ar_direction1 .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }

    .ar_direction1 .navbar-nav .open .dropdown-menu .dropdown-header,
    .ar_direction1 .navbar-nav .open .dropdown-menu>li>a {
        padding: 8px 20px;
    }

    .ar_direction1 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .ar_direction1 .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: var(--red-color);
        background-color: transparent;
    }

    .ar_direction1 .navbar-default .navbar-nav .dropdown-menu {
        background-color: transparent;
        transition: none !important;
    }

    footer .ar_direction1 .contact .email,
    footer .ar_direction1 .contact .phone {
        text-align: right;
    }

    footer .ar_direction1 .contact .cnt-inr h2 {
        font-size: 25px;
    }

    .ar_direction1 .p-l {
        padding-right: 0;
    }

    footer .ar_direction1 .inner {
        padding: 20px 0;
    }

    footer .ar_direction1 .link h4 {
        font-size: 16px;
        margin: 20px 0;
        padding-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    header .ar_direction1 .container {
        width: inherit;
    }

    /*=====  Navbar CSS BOF  ======*/
    .ar_direction1 .navbar-header {
        float: none;
    }

    .ar_direction1 .navbar-default .navbar-brand,
    .ar_direction1 .navbar-default .navbar-brand:hover,
    .ar_direction1 .navbar-default .navbar-brand:focus {
        float: right;
    }

    .ar_direction1 .navbar-collapse.collapse {
        display: none !important;
    }

    .ar_direction1 .navbar-toggle {
        background-color: var(--blue-color);
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        margin: 16px 0;
        display: block;
        float: left;
    }

    .ar_direction1 .navbar-default .navbar-toggle .icon-bar {
        background-color: var(--white-color) !important;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    .ar_direction1 .navbar-default .navbar-toggle:focus,
    .ar_direction1 .navbar-default .navbar-toggle:hover {
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-collapse,
    .ar_direction1 .navbar-default .navbar-form {
        margin-top: 0;
        position: absolute;
        left: 15px;
        width: 50%;
        z-index: 999;
        padding: 0;
        background: var(--blue-color) !important;
        border: none;
    }

    .ar_direction1 .navbar-nav {
        margin: 0;
        float: none !important;
    }

    .ar_direction1 .nav>li {
        padding: 0;
        text-align: right;
        width: 100%;
        border-bottom: 1px solid #363f6d;
    }

    .ar_direction1 .nav>li:last-child {
        padding: 0px;
    }

    .ar_direction1 .nav>li>a {
        color: var(--white-color) !important;
        margin: 0;
        padding: 15px 20px;
    }

    .ar_direction1 .navbar-default .navbar-nav>.active>a,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:focus,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-nav>li>a:hover,
    .ar_direction1 .navbar-default .navbar-nav>li>a:focus {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .ar_direction1 .nav>li>a:focus,
    .ar_direction1 .nav>li>a:hover {
        text-decoration: none;
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-default .navbar-nav>.active>a svg,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:focus svg,
    .ar_direction1 .navbar-default .navbar-nav>.active>a:hover svg {
        fill: var(--white-color);
    }

    .ar_direction1 .navbar-default .navbar-nav>li>a:hover svg,
    .ar_direction1 .navbar-default .navbar-nav>li>a:focus svg {
        fill: var(--white-color);
    }

    .ar_direction1 .navbar-right .dropdown-menu {
        left: 0;
    }

    .ar_direction1 .navbar-default .navbar-nav>.open>a,
    .ar_direction1 .navbar-default .navbar-nav>.open>a:focus,
    .ar_direction1 .navbar-default .navbar-nav>.open>a:hover {
        color: var(--white-color);
        background-color: var(--red-color);
    }

    .ar_direction1 .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ar_direction1 .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: var(--white-color);
        font-weight: inherit;
    }

    .ar_direction1 .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px;
    }

    .ar_direction1 .navbar-nav .open .dropdown-menu .dropdown-header,
    .ar_direction1 .navbar-nav .open .dropdown-menu>li>a {
        padding: 8px 20px;
    }

    .ar_direction1 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .ar_direction1 .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: var(--red-color);
        background-color: transparent;
    }

    .ar_direction1 .navbar-default .navbar-nav .dropdown-menu {
        background-color: transparent;
        overflow: auto !important;
        transition: none !important;
    }

    .ar_direction1 .collapse.in {
        display: block !important;
        margin-bottom: 0;
    }

    footer .ar_direction1 .contact .email,
    footer.ar_direction1 .contact .phone {
        text-align: right;
    }

    .ar_direction1 .p-l {
        padding-right: 0;
    }

    footer .ar_direction1 .link h4 {
        margin: 20px 0;
        padding-bottom: 0;
    }
}

@media (min-width: 991px) and (max-width: 1024px) {
    header .ar_direction1 .container {
        width: inherit;
    }

    .ar_direction1 .contact-info ul li {
        font-size: 12px;
    }

    .ar_direction1 .navbar-default .navbar-brand,
    .ar_direction1 .navbar-default .navbar-brand:hover,
    .ar_direction1 .navbar-default .navbar-brand:focus {
        margin: 12px 0 12px 30px;
    }

    .ar_direction1 .nav>li {
        padding: 20px 10px;
    }

    .ar_direction1 .nav>li:last-child {
        padding: 20px 10px 20px 0;
    }

    .ar_direction1 .navbar-default .navbar-nav>li>a {
        font-size: 13px;
    }

    .ar_direction1 .nav>li>a svg {
        width: 22px;
        height: 20px;
        margin-left: 3px;
    }

    .ar_direction1 .navbar-default .navbar-nav .dropdown-menu {
        min-width: 170px;
    }

    footer .ar_direction1 .contact .cnt-inr p {
        font-size: 24px;
    }

    .ar_direction1 .p-l {
        padding-right: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    header .ar_direction1 .container {
        width: inherit;
    }
}

@media (width: 768px) {
    .ar_direction1 .svg-img {
        top: 10px !important;
        left: -20px !important;
    }
}

@media (width: 360px) {
    .ar_direction1 .svg-img {
        left: -253px !important;
    }
}

@media (width: 375px) {
    .ar_direction1 .svg-img {
        left: -268px !important;
    }
}

@media (width: 414px) {
    .ar_direction1 .svg-img {
        top: 9px !important;
        left: -307px !important;
    }
}

@media (width: 1024px) {
    .ar_direction1 .svg-img {
        left: -64px !important;
    }
}

@media (width: 320px) {
    .ar_direction1 .svg-img {
        top: 9px !important;
        left: -211px !important;
    }

}
@media (width: 411px) {
    .ar_direction1 .svg-img {
    left: -301px !important;
    top: 8px !important;
    }

}



















/* signin */

/* Sign IN Popup */

/*sing in popup start*/
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }

    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }

    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }

    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }

    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }

    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }

    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }

    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }

    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/flyonline/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/flyonline/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/flyonline/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }

    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }

    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }

    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }

    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }

    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/flyonline/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

/*singin popup end*/


.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 13px 15px;
}

.modal-title {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}

.modal-header .close {
    margin-top: -1px;
    color: #000;
    opacity: 0.8;
}

.user_login p label {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}

.viewradio_sec {
    width: 100%;
    float: left;
}

.validation_sec {
    position: relative;
    margin-bottom: 10px;
}

.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

.btn-submit {
    width: 100%;
    text-align: center;
}

.btn-submit button {
    width: 100%;
    height: 44px;
    margin: auto;
    background: #006ace !important;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.viewradio_sec .radio_view {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.radio_view input:checked~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #006ace;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* Profile */

.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 18px 0 0 0px !important;
    /* background: #ffffff; */
    /* padding: 29px 8px 28px 9px; */
    cursor: pointer;
    border: none;
    background: #FFFF;
    /* right: 99px; */
    height: 48px !important;

}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #00a0c6;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #000;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
    color: #000;
    font-family: 'Poppins', sans-serif;
    width: 110px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #146194;
    position: absolute;
    top: 101%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    padding-bottom: 4px;
}

.profile-dropdown ul li {
    border-bottom: 1px solid #484848;
}

.profile-dropdown ul li a {
    display: block;
    padding: 11px 10px !important;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #616161;
}

.profile-dropdown>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}

.customer-profile {
    margin-top: 0px;
}

.flight-step-review {
    margin-top: 1px;
}

.flight-listing {
    border-top: 1px solid #ddd;
}

/* --------------------------------------------- */




/* Font Face CSS BOF
========================================================== */
@font-face {
	font-family: 'Adinda Melia';
	src: url('../fonts/Adinda Melia regular.eot');
	src: url('../fonts/Adinda Melia regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Adinda Melia regular.woff2') format('woff2'),  url('../fonts/Adinda Melia regular.woff') format('woff'),  url('../fonts/Adinda Melia regular.svg#Adinda Melia regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: "BinaryITC-Bold_0";
	src: url('../fonts/BinaryITC-Bold_0.woff') format('woff'), url('../fonts/BinaryITC-Bold_0.woff2') format('woff2'), url('../fonts/BinaryITC-Bold_0.svg#BinaryITC-Bold_0') format('svg'), url('../fonts/BinaryITC-Bold_0.eot'), url('../fonts/BinaryITC-Bold_0.eot?#iefix') format('embedded-opentype'), url('../fonts/BinaryITC-Bold_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*Bukra Fonts Family*/
@font-face {
	font-family: '29LT Bukra Light';
	src: url('../fonts/29LT Bukra Light.eot');
	src: url('../fonts/29LT Bukra Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/29LT Bukra Light.woff2') format('woff2'),  url('../fonts/29LT Bukra Light.woff') format('woff'),  url('../fonts/29LT Bukra Light.svg#29LT Bukra Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: '29LTBukra-Regular';
	src: url('../fonts/29LTBukra-Regular.eot');
	src: url('../fonts/29LTBukra-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/29LTBukra-Regular.woff2') format('woff2'),  url('../fonts/29LTBukra-Regular.woff') format('woff'),  url('../fonts/29LTBukra-Regular.svg#29LTBukra-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: '29LT Bukra Bold';
	src: url('../fonts/29LT Bukra Bold.eot');
	src: url('../fonts/29LT Bukra Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/29LT Bukra Bold.woff2') format('woff2'),  url('../fonts/29LT Bukra Bold.woff') format('woff'),  url('../fonts/29LT Bukra Bold.svg#29LT Bukra Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
/*DIN NEXTTM ARABIC Fonts Family*/
@font-face {
	font-family: 'DIN NEXTTM ARABIC ULTRALIGHT';
	src: url('../fonts/3 UltraLight.eot');
	src: url('../fonts/3 UltraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 UltraLight.woff2') format('woff2'),  url('../fonts/3 UltraLight.woff') format('woff'),  url('../fonts/3 UltraLight.svg#3 UltraLight') format('svg');
	font-weight: 250;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC LIGHT';
	src: url('../fonts/3 Light.eot');
	src: url('../fonts/3 Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Light.woff2') format('woff2'),  url('../fonts/3 Light.woff') format('woff'),  url('../fonts/3 Light.svg#3 Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC REGULAR';
	src: url('../fonts/3 Regular.eot');
	src: url('../fonts/3 Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Regular.woff2') format('woff2'),  url('../fonts/3 Regular.woff') format('woff'),  url('../fonts/3 Regular.svg#3 Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC MEDIUM';
	src: url('../fonts/3 Medium.eot');
	src: url('../fonts/3 Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Medium.woff2') format('woff2'),  url('../fonts/3 Medium.woff') format('woff'),  url('../fonts/3 Medium.svg#3 Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC BOLD';
	src: url('../fonts/3 Bold.eot');
	src: url('../fonts/3 Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Bold.woff2') format('woff2'),  url('../fonts/3 Bold.woff') format('woff'),  url('../fonts/3 Bold.svg#3 Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC BLACK';
	src: url('../fonts/3 Black.eot');
	src: url('../fonts/3 Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Black.woff2') format('woff2'),  url('../fonts/3 Black.woff') format('woff'),  url('../fonts/3 Black.svg#3 Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@font-face {
	font-family: 'DIN NEXTTM ARABIC HEAVY';
	src: url('../fonts/3 Heavy.eot');
	src: url('../fonts/3 Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/3 Heavy.woff2') format('woff2'),  url('../fonts/3 Heavy.woff') format('woff'),  url('../fonts/3 Heavy.svg#3 Heavy') format('svg');
	font-weight: 750;
	font-style: normal;
	font-stretch: normal;
 unicode-range: U+0020-00FE;
}
@media screen and (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu {margin-top:35px;
/* padding: 8px 20px; */
}}