﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="css/bootslider.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div v-cloak id="aboutUsPage">
        <!--common header-->
        <div class="common_header spHeader">
            <div class="container">
                <h5>{{spTitle}}</h5>
                <div v-html="Page_Description"></div>
            </div>
        </div>
        <!--common header close-->
        <!--About us section-->
        <div class="cmn_about">
            <div class="first_about">
                <div class="container">
                    <h3>{{descTitle}}</h3>
                    <p v-html="desc"></p>
                    <div class="about_map">
                        <img :src="pageImage" v-if="pageImage" alt="map" usemap="#aboutmap" >
                    </div>
                    <!-- <div class="about_map">
                        <img src="images/about_map.png" alt="map" usemap="#aboutmap" width="890" height="465">
                        <map name="aboutmap">
                            <area shape="circle" coords="548,220,12" alt="" onclick="activemap('abudhabi')">
                            <area shape="circle" coords="730,165,8" alt="" onclick="activemap('china')">
                            <area shape="circle" coords="521,226,8" alt="" onclick="activemap('ksa')">
                            <area shape="circle" coords="509,203,8" alt="" onclick="activemap('jordan')">
                            <area shape="circle" coords="492,236,8" alt="" onclick="activemap('egypt')">
                            <area shape="circle" coords="403,172,8" alt="" onclick="activemap('spain')">
                            <area shape="circle" coords="405,136,8" alt="" onclick="activemap('uk')">
                        </map>
                    </div> 
                    <div class="map_loc_view">
                        <div class="col-xs-1 col-sm-2 col-md-2"></div>
                        <div class="col-xs-10 col-sm-8 col-md-8">
                            <div class="slidesec" id="abudhabi">
                                <div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="3000">
                                   
                                    <div class="carousel-inner">
                                        <div v-for="a,index in abudhabi" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                 
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel2" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel2" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                            <div class="slidesec" id="china">
                                <div id="myCarousel3" class="carousel slide" data-ride="carousel" data-interval="3000">
                                   
                                    <div class="carousel-inner">
                                        <div v-for="a,index in China" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel3" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel3" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                            <div class="slidesec" id="ksa">
                                <div id="myCarousel4" class="carousel slide" data-ride="carousel" data-interval="3000">
                                   
                                    <div class="carousel-inner">
                                        <div v-for="a,index in Ksa" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel4" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel4" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                            <div class="slidesec" id="jordan">
                                <div id="myCarousel5" class="carousel slide" data-ride="carousel" data-interval="3000">
                                   
                                    <div class="carousel-inner">
                                        <div v-for="a,index in Jordan" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel5" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel5" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                            <div class="slidesec" id="egypt">
                                <div id="myCarousel6" class="carousel slide" data-ride="carousel" data-interval="3000">
                                   
                                    <div class="carousel-inner">
                                        <div v-for="a,index in Egypt" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel6" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel6" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                            <div class="slidesec" id="spain">
                                <div id="myCarousel7" class="carousel slide" data-ride="carousel" data-interval="3000">
                                   
                                    <div class="carousel-inner">
                                        <div v-for="a,index in Spain" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel7" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel7" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                            <div class="slidesec" id="uk">
                                <div id="myCarousel8" class="carousel slide" data-ride="carousel" data-interval="3000">
                                  
                                    <div class="carousel-inner">
                                        <div v-for="a,index in Uk" class="item full-height" :class="{ 'active': index === 0 }">
                                            <div class="row flx_package">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                    <img :src="a.Image" class="img-fullwidth" alt="">
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text_description">
                                                    <h3>{{a.Name}}</h3>
                                                    <p v-html="a.Description"></p>
                                                    <a :href="a.Google_Map_Link"><img src="images/map_link.png" alt="maplink"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                 
                                    <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel8" data-slide="prev">
                                        <img src="images/contact-icon/left-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                    <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel8" data-slide="next">
                                        <img src="images/contact-icon/right-arrow2.png" alt="" style="width: 50px;" class="">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-1 col-sm-2 col-md-2"></div>
                    </div>-->

                </div>

            </div>
            <div class="container">
                <div class="common_nml_heade">
                    <h4>{{Sister_companies_label}}</h4>
                </div>
                <div class="sisters_slide">
                    <div class="col-xs-1 col-sm-3 col-md-3"></div>
                    <div class="col-xs-10 col-sm-6 col-md-6">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div v-for="sis,index in sisters" class="item full-height" :class="{ 'active': index === 0 }" style="border-radius: 15px !important;">
                                    <div class="row" style="margin-right: 0px; margin-left: 0px; height: 70px;">
                                        <div class="col-xs-3 col-sm-4 col-md-4"></div>
                                        <div class="col-xs-6 col-sm-4 col-md-4 logosec">
                                            <img :src="sis.Image" class="img-responsive" alt="company">
                                        </div>
                                        <div class="col-xs-3 col-sm-4 col-md-4"></div>
                                    </div><br />
                                    <div class="row full-heightp">
                                        <div class="col-md-12">
                                            <p v-html="sis.Description"></p>
                                            <a :href="sis.Link">{{Read_button_label}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" style="background: none !important; color: #808080" href="#myCarousel" data-slide="prev">
                                <img src="images/contact-icon/left-arrow.png" alt="" style="width: 50px;" class="">
                            </a>
                            <a class="right carousel-control" style="background: none !important; color: #808080" href="#myCarousel" data-slide="next">
                                <img src="images/contact-icon/right-arrow.png" alt="" style="width: 50px;" class="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-4"></div>
                </div>

                <div class="common_nml_heade">
                    <h4>{{Chairman_message_label}}</h4>
                </div>
                <div class="chairman_sec">
                    <div class="col-md-4">
                        <img alt="about-img" class="chairman-img img-responsive" :src="chairImg">
                    </div>
                    <div v-html="chairMsg" class="col-md-8">

                    </div>
                </div>
                <div class="mission_sec_area">
                    <div class="common_nml_heade">
                        <h4>{{Mission_vision_label}}</h4>
                    </div>
                    <div class="mission_sec flx_package">

                        <div v-for="visMis in visionMission" class="col-md-4">
                            <div class="mission-box">
                                <img :src="visMis.Image" alt="Mission" class="img-responsive imgroundcorner">
                                <h3>{{visMis.Title}}</h3>
                            </div>
                            <div class="mission-content">
                                <p v-html="visMis.Description"></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="abouttxt_sec flx_package">
                                <h5>Our Governance, Risk Management and Compliance Statement</h5>
                                <p>We strongly believe that not any business is good business: only ethical, right and fair business is!</p>
                                <p>Nirvana Travel and Tourism adopts adequate governance, risk management and compliance practices in order to be a healthy and sustainable organization and achieve our vision and mission.</p>
                                <p>This is aligned with the ambitious plans and growth aspirations we have, and we continuously work on embedding sensible GRC standards into our day to day activities. </p>
                            </div>
                </div>
            </div>
        </div>
        <!--About us section close-->

    </div>
    <!--footer-->
    <footer :key="key">
        <footeritem :key="key"></footeritem>

    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/common.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Nirvana/js/jquery.rwdImageMaps.js"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
    <script src="js/map_click.js"></script>
    <script src="/Nirvana/servicejs/aboutus.js"></script>
    <script>
        $(document).ready(function(e) {
            $(document).ready(function(e) {
                $('img[usemap]').rwdImageMaps();

            });
        });
    </script>

</body>

</html>