<!doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <link rel='stylesheet' href='/Nirvana/css/jquery.fancybox.min.css'>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

</head>

<body>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->

    <div class="awards" id="awardPage">
        <!--common header-->
        <div class="common_header awardsbanner">
            <div v-if="getdata"></div>
            <div v-cloak class="container" v-else v-for="item in pluck('main',content.area_List)">
                <h5>{{pluckcom('Title',item.component)}}</h5>
                <div v-html="pluckcom('Page_Description',item.component)"></div>
            </div>
        </div>
        <!--common header close-->
        <div class="award-section">
            <div class="container">
                <ul class="nav nav-pills">
                    <li v-for="(item,index) in yearResult" :class="{ 'active': index === 0 }">
                        <a data-toggle="pill" :href="'#'+item.Year">{{item.Year}}</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div :id="item.Year" class="tab-pane fade in" :class="{ 'active': index === 0 }" v-for="(item,index) in yearResult">
                        <div v-for="(itemaward,awardindex) in item.Awards_List" class="award-data">
                            <div class="row flx_package">
                                <div class="col-sm-3">
                                    <div class="award-image">
                                        <img :src="itemaward.Logo" class="img-responsive" alt="byf-info-img">
                                        <div class="award-title"> {{itemaward.Logo_title}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="description_cont" v-html="itemaward.Description">

                                    </div>
                                    <div class="awards-btn">
                                        <a href="javaScript:void(0)" :id="'award_'+item.Year+ awardindex" v-on:click="showMoreImages($event)"><span> {{itemaward.Button_Label}}</span></a>
                                    </div>
                                </div>

                            </div>
                            <div class="awards_pic_scroll" :id="'photo_'+item.Year+awardindex">
                                <div class="owl-carousel owl-theme owl-custom-arrow awards_pic">
                                    <div class="item" v-for="photos in itemaward.Image_List">
                                        <div class="main-block tour-block tourimg">
                                            <div class="award-img">
                                                <a :href="photos.Image" data-fancybox="itemaward.Image_List" :data-caption="photos.Image">
                                                    <img img-responsive :src="photos.Image" class="img-responsive" alt="tour-img" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Book now section close-->

    </div>

    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>

    </footer>
    <!--footer close-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>


    <script src="/Nirvana/js/jquery.fancybox.min.js"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Nirvana/servicejs/awards.js"></script>
    <script>
    </script>


</body>

</html>