<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <!-- Blog-Header--->
    <div v-cloak id="blogInfopage" v-show="getData">
        <section class="blog-head">
            <div class="container">
                <ul>
                    <li><a style="color: #777b7e;display: inline-block;font-size: 32px;list-style: none;font-weight: 400;" href="/Nirvana/blog.html">{{titleMainData.Title}}</a></li>
                    <li v-for="headerItem in headerData"><a @click="redirectCategoryPage(headerItem)" href="#">{{headerItem.Name}}</a></li>
                </ul>
            </div>
        </section>
        <!-- Blog-Image-Section--->
        <section class="blog-main blog-deatil-left">
            <div class="container">
                <div class="row flex-box">
                    <div class="col-md-9 col-sm-7">
                        <div class="blog-in-left">
                            <div class="title-detail">
                                <h2><span>{{titleData.tagValue}}</span> <br> {{titleData.Title}}
                                </h2>
                                <hr>
                            </div>
                            <div class="blog-detail-in">
                                <img v-if="titleData.Blog_Image" :src="titleData.Blog_Image" alt="img">
                                <span style="text-align: justify;" v-html="titleData.Header_Description"></span>
                            </div>
                            <div class="blog-detail-in">
                                <img v-if="titleData.Footer_Image" :src="titleData.Footer_Image" alt="img">
                                <span style="text-align: justify;" v-html="titleData.Footer_Description"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-5">
                        <div class="addthis_inline_share_toolbox blog-media-right ">
                        </div>
                        <div class="blog-newsletter-right">
                            <h3>{{titleMainData.News_Letter_Title}}</h3>
                            <p>{{titleMainData.News_Letter_Description}}</p>
                            <form>
                                <input v-model="nameEmail" required class="form-control" type="text" id="text2" name="text" :placeholder="titleMainData.Name_Place_Holder">
                                <span></span>
                                <input style="margin-top: 2px;" v-model="emailAddress" required class="form-control" type="text" id="text1" name="text" :placeholder="titleMainData.Email_Place_Holder">
                                <button @click.prevent="addSubscribe" class="form-control" type="submit">{{titleMainData.Subscribe_Button}}</button>
                            </form>
                        </div>
                        <div class="popular-post-right">
                            <h3>{{titleMainData.Recent_Post_Title}}</h3>
                            <ul>
                                <li v-for="recentItem in recentPostList">
                                    <img :src="recentItem.image" alt="post">
                                    <a href="#" @click="redirectBlogPage(recentItem.rowObject)">{{recentItem.title}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="categories-right">
                            <h3>{{titleMainData.Blog_Category_Title}}</h3>
                            <ul>
                                <li v-for="headerItem in headerData"><a @click="redirectCategoryPage(headerItem)" href="#">{{headerItem.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="pluggins/owl.carousel/custom-owl.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/bloginfo.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d92ef3b08499f31"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>

</body>

</html>