<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <!-- Blog-Header--->
    <div class="ar_direction">

        <div v-cloak id="blogpage" v-if="getData">
            <section class="blog-head">
                <div class="container">
                    <ul>
                        <li>
                            <a style="color: #777b7e;display: inline-block;font-size: 32px;list-style: none;font-weight: 400;" href="#">{{titleData.Title}}</a></li>
                        <li v-for="headerItem in headerData"><a @click.prevent="redirectCategoryPage(headerItem)" href="#">{{headerItem.Name}}</a></li>
                    </ul>
                </div>
            </section>
            <!-- Blog-Image-Section--->
            <section class="blog-main">
                <div class="container">
                    <div class="row">
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-box" style="padding: 0px;">
                            <div class="col-md-8 col-sm-12 pa-lr">
                                <div class="blog-one cusr" @click="redirectBlogPage(box1Data.rowObject)">
                                    <img v-if="box1Data.image" :src="box1Data.image" alt="blog">
                                    <div class="blog-tag">{{box1Data.tag}}</div>
                                    <div class="blog-text-social">
                                        <h2><a href="#" @click="redirectBlogPage(box1Data.rowObject)">{{box1Data.title}} </a></h2>
                                        <div class="view-media">
                                            <ul class="view">
                                                <li>{{box1Data.createdDate}} </li>
                                                <li><i v-if="box1Data.views" class="fa fa-eye"></i>{{box1Data.views}} </li>
                                                <li style="display: none;"><i class="fa  fa-comments-o"></i>{{box1Data.comments}} </li>
                                            </ul>
                                            <ul class="media">
                                                <li v-for="socialItem in box1Data.socialMedia">
                                                    <a :href="socialItem.url" target="_blank"><i :class="socialItem.icon"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 pa-lr">
                                <div class="blog-right cusr" @click="redirectBlogPage(box2Data.rowObject)">
                                    <img v-if="box2Data.image" :src="box2Data.image" alt="blog">
                                    <div class="blog-R-text">
                                        <h2> <a href="#" @click="redirectBlogPage(box2Data.rowObject)">{{box2Data.title}} </a></h2>
                                    </div>
                                </div>
                                <div class="blog-right cusr mr-top" @click="redirectBlogPage(box2Data.rowObject)">
                                    <img v-if="box3Data.image" :src="box3Data.image" alt="blog">
                                    <div class="blog-R-text">
                                        <h2> <a href="#" @click="redirectBlogPage(box2Data.rowObject)">{{box3Data.title}} </a></h2>
                                    </div>
                                </div>
                            </div>
                       </div>
                    </div>
                </div>
            </section>
            <!-----------------------------featured Stories----------------->
            <section class="feature-story">
                <div class="container">
                    <div class="title flex-box" style="position: relative;">
                        <h2 style="background: #fff;padding: 0 10px;text-align: center;">{{titleData.Story_Title}}</h2>
                        <hr style="border-top: 1px dotted #000;position: absolute;top: 0;z-index: -1;">
                    </div>

                    <div class="row flex-box">
                        <div class="Col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="featureItem in featuredStory">
                            <a style="cursor: pointer;" href="#" @click="redirectBlogPage(featureItem)">
                                <div class="story">
                                    <img v-if="featureItem.Blog_Image" :src="featureItem.Blog_Image" alt="image-1">
                                    <h3>{{featureItem.Title}}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-----------------------------End-featured Stories----------------->
            <!-----------------------------Blog-Section----------------->
            <section class="blog-tab">
                <div class="container">
                    <div class="row flex-box">
                        <div class="col-md-12 col-sm-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#popular" aria-controls="messages" role="tab" data-toggle="tab">{{titleData.Tab_1_Title}}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#trending" aria-controls="home" role="tab" data-toggle="tab">{{titleData.Tab_2_Title}}</a>
                                </li>
                                <li role="presentation">
                                    <a href="#mostview" aria-controls="profile" role="tab" data-toggle="tab">{{titleData.Tab_3_Title}}</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="popular">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-box" style="padding: 0px;">
                                            <div class="col-md-8 col-sm-12  ls-rs">
                                                <div class="tranding-blog flex-box" v-for="blogItem in popularList">
                                                    <div class="blog-img">
                                                        <img :src="blogItem.Blog_Image" alt="blog">
                                                        <div class="blog-calendar" :style="direction=='rtl'? 'left:unset' : '' ">
                                                            <p><span><i class="fa fa-minus"></i></span></p>
                                                            <h3>{{blogItem.dayNumber}} <br><span>{{blogItem.monthStr}}</span></h3>
                                                        </div>
                                                    </div>
                                                    <div class="blog-detail-text">
                                                        <h3>{{blogItem.Title}}</h3>
                                                        <ul>
                                                            <li><img src="images/pin-push-icon.png"> {{blogItem.tagStr}}</li>
                                                            <li style="display: none;"><i class="fa fa-comment"></i> {{blogItem.comments}}</li>
                                                        </ul>
                                                        <p> {{blogItem.Short_Description}} </p>
                                                        <a class="btn" @click="redirectBlogPage(blogItem)" href="#">{{titleData.Link_Title}} <i class="" :class="direction=='rtl'? 'fa  fa-angle-double-left' : 'fa  fa-angle-double-right' "></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12  ls-rs">
                                                <div class="right-sidebar">
                                                    <div class="right-all-sec">
                                                        <h3>{{titleData.postword1}} <span>{{titleData.postword2}}</span></h3>
                                                        <ul class="recent-post">
                                                            <li v-for="recentItem in recentPostList">
                                                                <h4><a href="#" @click="redirectBlogPage(recentItem.rowObject)">{{recentItem.title}}</a></h4>
                                                                <p>{{recentItem.createdDate}} <a style="display: none;" href="#">{{recentItem.comments}} Comments</a></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right-all-sec">
                                                        <h3>{{titleData.category1}} <span>{{titleData.category2}}</span></h3>
                                                        <ul class="recent-post blog-categ">
                                                            <li v-for="headerItem in headerData">
                                                                <h4><a @click="redirectCategoryPage(headerItem)" href="#">{{headerItem.Name}}</a> ({{headerItem.Count}})</h4>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="trending">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-box" style="padding: 0px;">
                                            <div class="col-md-8 col-sm-12  ls-rs">
                                                <div class="tranding-blog flex-box" v-for="blogItem in trendingList">
                                                    <div class="blog-img">
                                                        <img :src="blogItem.Blog_Image" alt="blog">
                                                        <div class="blog-calendar" :style="direction=='rtl'? 'left:unset' : '' ">
                                                            <p><span><i class="fa fa-minus"></i></span></p>
                                                            <h3>{{blogItem.dayNumber}} <br><span>{{blogItem.monthStr}}</span></h3>
                                                        </div>
                                                    </div>
                                                    <div class="blog-detail-text">
                                                        <h3>{{blogItem.Title}}</h3>
                                                        <ul>
                                                            <li><img src="images/pin-push-icon.png"> {{blogItem.tagStr}}</li>
                                                            <li style="display: none;"><i class="fa fa-comment"></i> {{blogItem.comments}}</li>
                                                        </ul>
                                                        <p> {{blogItem.Short_Description}} </p>
                                                        <a class="btn" @click="redirectBlogPage(blogItem)" href="#">{{titleData.Link_Title}} <i class="" :class="direction=='rtl'? 'fa  fa-angle-double-left' : 'fa  fa-angle-double-right' "></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12  ls-rs">
                                                <div class="right-sidebar">
                                                    <div class="right-all-sec">
                                                        <h3>{{titleData.postword1}} <span>{{titleData.postword2}}</span></h3>
                                                        <ul class="recent-post">
                                                            <li v-for="recentItem in recentPostList">
                                                                <h4><a href="#" @click="redirectBlogPage(recentItem.rowObject)">{{recentItem.title}}</a></h4>
                                                                <p>{{recentItem.createdDate}} <a style="display: none;" @click="redirectBlogPage(recentItem.rowObject)" href="#">{{recentItem.comments}} Comments</a></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right-all-sec">
                                                        <h3>{{titleData.category1}} <span>{{titleData.category2}}</span></h3>
                                                        <ul class="recent-post blog-categ">
                                                            <li v-for="headerItem in headerData">
                                                                <h4><a href="#">{{headerItem.Name}}</a> ({{headerItem.Count}})</h4>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mostview">
                                    <div class="row ">
                                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-box" style="padding: 0px;">
                                            <div class="col-md-8 col-sm-12  ls-rs">
                                                <div class="tranding-blog flex-box" v-for="blogItem in mostViewList">
                                                    <div class="blog-img">
                                                        <img :src="blogItem.Blog_Image" alt="blog">
                                                        <div class="blog-calendar" :style="direction=='rtl'? 'left:unset' : '' ">
                                                            <p><span><i class="fa fa-minus"></i></span></p>
                                                            <h3>{{blogItem.dayNumber}} <br><span>{{blogItem.monthStr}}</span></h3>
                                                        </div>
                                                    </div>
                                                    <div class="blog-detail-text">
                                                        <h3>{{blogItem.Title}}</h3>
                                                        <ul>
                                                            <li><img src="images/pin-push-icon.png"> {{blogItem.tagStr}}</li>
                                                            <li style="display: none;"><i class="fa fa-comment"></i> {{blogItem.comments}}</li>
                                                        </ul>
                                                        <p> {{blogItem.Short_Description}} </p>
                                                        <a class="btn" @click="redirectBlogPage(blogItem)" href="#">{{titleData.Link_Title}} <i class="" :class="direction=='rtl'? 'fa  fa-angle-double-left' : 'fa  fa-angle-double-right' "></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12  ls-rs">
                                                <div class="right-sidebar">
                                                    <div class="right-all-sec">
                                                        <h3>{{titleData.postword1}} <span>{{titleData.postword2}}</span></h3>
                                                        <ul class="recent-post">
                                                            <li v-for="recentItem in recentPostList">
                                                                <h4><a href="#" @click="redirectBlogPage(recentItem.rowObject)">{{recentItem.title}}</a></h4>
                                                                <p>{{recentItem.createdDate}} <a style="display: none;" href="#">{{recentItem.comments}} Comments</a></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="right-all-sec">
                                                        <h3>{{titleData.category1}} <span>{{titleData.category2}}</span></h3>
                                                        <ul class="recent-post blog-categ">
                                                            <li v-for="headerItem in headerData">
                                                                <h4><a href="#">{{headerItem.Name}}</a> ({{headerItem.Count}})</h4>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/common.js"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/blog.js"></script>

    <script src="js/bootstrap.min.js"></script>

    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="pluggins/owl.carousel/custom-owl.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>

</body>

</html>