<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->

    <div id="Packageinfo">

        <!--Book now section-->
        <div v-if="!getdata" class="booknow_sec">
            <div class="container" v-for="item in pluck('main',content.area_List)">
                <div class="wdth_sec_scr">
                    <div class="details_img_scroll">
                        <div class="scroll_package" v-if="galleryon">
                            <div class="owl-carousel owl-theme" id="owl-tour-offersnew" style="text-align: center">
                                <div class="item" v-for="img in gallery">
                                    <div class="main-block hotel-block">
                                        <div class="main-img">
                                            <img :src="img.Image" class="img-responsive" style="border-radius: 10px !important;" alt="hotel-img" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="wdth_sec_scr ar_direction">
                    <div v-if="!getpagecontent" class="book-now-body">
                        <div class="book-now-close">
                            <a onclick="history.back();" class="close close-btn" role="button">×</a>
                        </div>
                        <div class="booksec flx_package">
                            <div class="booknow_content">
                                <h2 v-cloak>{{pluckcom('Title',item.component)}}</h2>
                                <h5 v-cloak v-for="pagitem in pluck('main',pagecontent.area_List)"> {{pluckcom('RefrenceNo_text',pagitem.component)}} <span>{{pluckcom('Reference_No',item.component)}}</span></h5>
                                <h3 v-cloak>
                                    {{ $n((pluckcom('Price',item.component)/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}
                                </h3>
                                <h4 v-if="pluckcom('Days',item.component)!='' && pluckcom('Nights',item.component)!=''" v-cloak>{{pluckcom('Days',item.component)}} /{{pluckcom('Nights',item.component)}}</h4>
                            </div>
                            <div v-if="hasCity" class="book_weather">
                                <span v-cloak>
                                    <h5>{{cityPkg}}</h5>
                                    <h6>{{weatherData.data.main.temp}}° C</h6>
                                    <h4><img :src="weatherImg+weatherData.data.weather[0].icon+'.png'" :alt="weatherData.data.weather[0].description" :title="weatherData.data.weather[0].description"></h4>
                                </span>
                            </div>
                        </div>
                        <div v-cloak class="book-now-list" id="desktop">
                            <ul class="nav nav-tabs book-now-detail">
                                <li :class="{ 'active': index === 0 }" class="book-now-tab" v-for="(item, index) in packagetabs"><a :href="'#tab_' + index" data-toggle="tab">{{item.Tab_name}}</a></li>
                                <li v-if="getpagecontent"></li>
                                <li class="book-now-tab" v-else v-for="pagitem in pluck('main',pagecontent.area_List)"><a href="#book" data-toggle="tab">{{pluckcom('Book_button_text',pagitem.component)}}</a></li>

                            </ul>
                        </div>
                        <div class="tab-content">
                            <div :class="{ 'active': index === 0 }" class="tab-pane fade in" v-for="(item, index) in packagetabs" :id="'tab_' + index">
                                <div class="collapse">
                                    <div class="summary">
                                        <h3>{{item.Tab_name}}</h3>
                                        <div v-html="item.Description">{{item.Description}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="book">
                                <div class="collapse book-now-form-wrap">
                                    <div v-if="getpagecontent"></div>
                                    <div class="row flx_package" v-else v-for="pagitem in pluck('main',pagecontent.area_List)">
                                        <div class="col-md-4">

                                            <input type="text" class="book-form" name="name" id="txtpkgbookname" :placeholder="pluckcom('Name_place_holder',pagitem.component)" v-model="username" title="* Please provide your name">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="email" class="book-form" name="email" id="txtpkgbookemail" :placeholder="pluckcom('Email_placeholder',pagitem.component)" v-model="Emailid" title="* Please provide your email address">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="book-form" id="txtpkgbookphone" :placeholder="pluckcom('phone_placeholder',pagitem.component)" v-model="contactno" title="* Provide your mobile no" onkeydown="return ((((event.keyCode>=48)&&(event.keyCode<=57))||((event.keyCode>=96)&&(event.keyCode<=105))||((event.keyCode==08))||((event.keyCode==46))) && event.keyCode!=32);"
                                                maxlength="15">
                                        </div>

                                        <div class="col-md-3">
                                            <select class="book-form" id="ddlpkgadult" v-model="adtcount">
                                                <option value="1">1 {{pluckcom('Adult_placeholder_',pagitem.component)}}</option>
                                                <option value="2">2 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="3">3 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="4">4 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="5">5 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="6">6 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="7">7 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="8">8 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                                <option value="9">9 {{pluckcom('Adults_placeholder_',pagitem.component)}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="book-form" id="ddlpkgchild" v-model="chdcount">
                                                <option value="0">{{pluckcom('child_main_placeholder',pagitem.component)}}</option>
                                                <option value="1">1 {{pluckcom('Child_placeholder',pagitem.component)}}</option>
                                                <option value="2">2 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="3">3 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="4">4 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="5">5 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="6">6 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="7">7 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="8">8 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                                <option value="9">9 {{pluckcom('Children_placeholder',pagitem.component)}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="book-form" id="ddlpkginfant" v-model="infcount">
                                                <option value="0">{{pluckcom('Infant_placeholder',pagitem.component)}}</option>
                                                <option value="1">1 {{pluckcom('Infant_placeholder',pagitem.component)}}</option>
                                                <option value="2">2 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="3">3 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="4">4 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="5">5 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="6">6 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="7">7 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="8">8 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                                <option value="9">9 {{pluckcom('Infants_placeholder',pagitem.component)}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" class="book-form" id="traveldate" v-model="bookdate" :placeholder="pluckcom('Travel_date_placeholder',pagitem.component)" title="* Provide your travel date" readonly>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea name="message" class="mt-30 ht-0" rows="5" cols="50" v-model="message" id="txtpkgmsg" :placeholder="pluckcom('Comment_placeholder',pagitem.component)" title="* Please type a message"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <a class="sendbtn" v-on:click="bookpackage" id="package-submit">{{pluckcom('Send_Message_Label',pagitem.component)}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Book now section close-->
    </div>








    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Nirvana/servicejs/packageinfo.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/package_scroll.js"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="pluggins/owl.carousel/custom-owl.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>


</body>

</html>