﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
        type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">

    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div v-cloak id="csrMainPage">
        <!-- Blog-Header--->
        <section class="blog-head" style="float: inherit">
            <div class="container">
                <ul>
                    <li><a style="color: #777b7e;display: inline-block;font-size: 32px;list-style: none;font-weight: 400;"
                            href="#" @click.prevent="redirectCategoryPage()">{{generalPageData.CSR_Title}}</a></li>
                    <li v-for="item in listOfCategories">
                        <a :style="categoryType== item.Id ? 'color:#FFF;' : ''" href="#"
                            @click.prevent="redirectCategoryPage(item)">{{item.Name}}</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Csr-Image-Section--->
        <div class="container">
            <div class="csr-main-banner" v-for="item in listOfBannerItem">
                <a href="#" @click="redirectURL(item)"><img v-if="generalPageData.Banner_Image" class="csr-in-img-1"
                        :src="generalPageData.Banner_Image" alt="img"></a>
                <div class="csr-main-text">
                    <div id="csr" class="owl-carousel owl-theme">
                        <div class="item">
                            <p> {{item.createdDate}} <span>- {{item.Category_Name}}</span></p>
                            <h2>{{item.Title}}</h2>
                            <ul class="name-comment">
                                <li><img style="width: unset; " v-if="item.User_Image" :src="item.User_Image" alt="img">
                                </li>
                                <li>
                                    <p>{{item.User_Name}}</p>
                                </li>
                                <li class="eyes"><a href="#"><i class="fas fa-eye"></i> {{item.views}}</a></li>
                            </ul>
                            <div class="story-next">
                                <p>Next Story</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row flex-box">
                <div class="col-md-8">
                    <div class="csr-left">
                        <div class="row flex-box">
                            <div class="col-lg-8 col-md-12 col-sm-12" v-if="box1Data.length>0">
                                <div class="csr-left-img" v-for="item in box1Data" v-on:click="redirectURL(item)" style="cursor: pointer;">
                                    <img class="csr-in-img-1" :src="item.Banner_Image"  alt="img" />
                                    <div class="csr-title-detail">
                                        <h4><a href="#" @click="redirectURL(item)">{{item.Title}}</a> </h4>
                                        <ul class="name-comment">
                                            <li><img v-if="item.User_Image" :src="item.User_Image" alt="img">
                                            </li>
                                            <li>
                                                <p>{{item.User_Name}}</p>
                                            </li>
                                            <li class="eyes"><i class="fas fa-eye"></i> {{item.views}}</li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" v-if="box2Data.length>0">
                                        <div class="csr-left-img" v-for="item in box2Data">
                                            <img class="csr-in-img" :src="item.Banner_Image" alt="img">
                                            <div class="csr-title-detail">
                                                <h4><a href="#" @click="redirectURL(item)">{{item.Title}}</a> </h4>
                                                <ul class="name-comment">
                                                    <li><img v-if="item.User_Image" :src="item.User_Image" alt="img">
                                                    </li>
                                                    <li>
                                                        <p>{{item.User_Name}}</p>
                                                    </li>
                                                    <li class="eyes"><a href="#"><i class="fas fa-eye"></i>
                                                            {{item.views}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12" v-if="box3Data.length>0">
                                        <div class="csr-left-img" v-for="item in box3Data">
                                            <img class="csr-in-img" :src="item.Banner_Image" alt="img">
                                            <div class="csr-title-detail">
                                                <h4><a href="#" @click="redirectURL(item)">{{item.Title}}</a> </h4>
                                                <ul class="name-comment">
                                                    <li><img v-if="item.User_Image" :src="item.User_Image" alt="img">
                                                    </li>
                                                    <li>
                                                        <p>{{item.User_Name}}</p>
                                                    </li>
                                                    <li class="eyes"><a href="#"><i class="fas fa-eye"></i>
                                                            {{item.views}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flex-box">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" v-for="item in allCsrData">
                                <div class="csr-left-img">
                                    <img class="csr-in-img" :src="item.Banner_Image" alt="img">
                                    <div class="csr-title-detail">
                                        <h4><a href="#" @click="redirectURL(item)">{{item.Title}}</a> </h4>
                                        <ul class="name-comment">
                                            <li><img v-if="item.User_Image" :src="item.User_Image" alt="img"></li>
                                            <li>
                                                <p>{{item.User_Name}}</p>
                                            </li>
                                            <li class="eyes"><a href="#"><i class="fas fa-eye"></i> {{item.views}}</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="csr-right">
                        <div class="csr-media" style="display: none;">
                            <ul>
                                <li class="fb" v-if="followersPageData.Facebook">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <h3>{{followersPageData.Facebook}} <br><span>Followers</span></h3>
                                </li>
                                <li class="tw" v-if="followersPageData.Twitter">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <h3>{{followersPageData.Twitter}}<br><span>Followers</span></h3>
                                </li>
                                <li class="youtube" v-if="followersPageData.YouTube">
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <h3>{{followersPageData.YouTube}}<br><span>Followers</span></h3>
                                </li>
                                <li class="insta" v-if="followersPageData.Instagram">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <h3>{{followersPageData.Instagram}} <br><span>Followers</span></h3>
                                </li>
                                <li class="pint" v-if="followersPageData.Pinterest">
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    <h3>{{followersPageData.Pinterest}} <br><span>Followers</span></h3>
                                </li>
                                <li class="wifi" v-if="followersPageData.Wifi">
                                    <a href="#"><i class="fas fa-wifi"></i></a>
                                    <h3>{{followersPageData.Wifi}} <br><span>Followers</span></h3>
                                </li>
                            </ul>
                        </div>
                        <div class="what-hot" v-if="popularCsrData.length>0">
                            <h3>{{generalPageData.Side_Section_1_Title}}</h3>
                            <ul>
                                <li v-for="item in popularCsrData">
                                    <div class="hot-img">
                                        <img :src="item.Banner_Image" alt="img">
                                    </div>
                                    <div class="hot-text">
                                        <h4><a href="#" @click="redirectURL(item)">{{item.Title}}</a></h4>
                                        <p>{{item.createdDate}} <span> - {{item.Category_Name}}</span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="what-hot instagram-post" v-if="instaListData.length>0">
                            <h3>{{generalPageData.Side_Section_2_Title}}</h3>

                            <ul>
                                <li v-for="item in instaListData">
                                    <a :href="'https://www.instagram.com/'+instagramAccount" target="_blank"><img
                                            :src="item.Image" alt="img"></a>
                                </li>

                            </ul>
                        </div>
                        <div class="what-hot csr-categ" v-if="listOfCategories.length>0">
                            <h3>{{generalPageData.Side_Section_3_Title}}</h3>
                            <ul>
                                <li v-for="item in listOfCategories"><i class="fas fa-angle-right"></i> <a href="#"
                                        @click.prevent="redirectCategoryPage(item)">{{item.Name}} </a>
                                    <p>({{item.Count}})</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/csrmain.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script
        src="/assets/js/bootstrap-datepicker.min.js?v=202008130000"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function () {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
</body>

</html>