﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-datepicker.min.css?v=202008130000" rel="stylesheet" type="text/css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div class="ar_direction">
        <div v-cloak id="galleryListPage" v-if="getData">
            <section class="gallery-banner">
                <div class="container">
                    <h1>{{pageContentData.Banner_Title}}</h1>
                    <button class="btn-default filter-button " v-for="item in listOfCategories" v-bind:data-filter="item.uniqueID">{{item.Name}}</button>
                </div>
            </section>
            <section class="gallery-in">
                <div class="container">
                    <!-- <p style="text-align: justify;"  v-html="pageContentData.Description"></p> -->
                    <div class="filter-gallery">

                        <div class="flx_package">
                            <div v-for="item in listOfImages" class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter yoga" :class="item.uniqueID">
                                <div class="filter-gallery-vid" style="width: 100%;">
                                    <a href="#" @click="redirectURL(item)">
                                        <div class="video-img">
                                            <img :src="item.Home_Image" alt="img">
                                            <p><i class="far fa-clock" v-if="item.Video_Minutes"></i> {{item.Video_Minutes}} </p>
                                            <div class="cate-name">
                                                <h4>{{item.Category_Name}}</h4>
                                            </div>
                                        </div>
                                        <div class="video-detail">
                                            <p><a href="#" @click="redirectURL(item)">{{item.Name}}</a> <br></p>
                                            <div class="viewer"><i class="fas fa-user-friends"></i> {{item.Views}}</div>
                                        </div>
                                        <div class="top-pop-tag">
                                            <a href="#" @click="redirectURL(item)"><img v-if="item.Tag_Image" :src="item.Tag_Image" alt="tag"></a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/gallerymain.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js?v=202008130000"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
</body>

</html>