﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-datepicker.min.css?v=202008130000" rel="stylesheet" type="text/css">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <link rel="import" href="paper-toggle-button/paper-toggle-button.html">
    <link rel='stylesheet' href='/Nirvana/css/jquery.fancybox.min.css'>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div v-cloak id="galleryInfoPage" v-if="getData">
        <section class="gallery-banner">
            <div class="container">
                <h1>{{pageDetailInfo.Name}}</h1>
            </div>
        </section>
        <section class="gallery-in">
            <div class="container">
                <h1 style="text-align: center;font-family: 'Raleway', sans-serif;color: #898a8e;margin-bottom: 15px;">{{videoSectionData.Title}}</h1>
                <div class="ifram-container" style="text-align: justify;" v-html="videoSectionData.Description"></div>
                <div class="row flx_sec">
                    <div class="col-md-8 col-sm-12">
                        <div class="video-main ifram-container" v-if="videoPlayObjec.Video">
                            <iframe width="100%" height="454" :src="videoPlayObjec.Video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h4><a href="#">{{videoPlayObjec.Title}}</a></h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="video-sidebar" v-if="upNextVideos.length>0">
                            <div class="up-play">
                                <a href="#">Up Next</a>
                            </div>
                            <div class="upcomming-video" v-for=" item in upNextVideos">
                                <div class="up-img">
                                    <a href="#" @click.prevent="changeVideo(item)"><img :src="item.Video_Image" alt="img"></a>
                                    <p>{{item.Video_Duration}}</p>
                                </div>
                                <div class="up-video-text">
                                    <p><a href="#" @click.prevent="changeVideo(item)">{{item.Title}}</a></p>
                                    <a class="up-view" href="#">{{item.Views}} views</a>
                                    <a style="display: none;" href="#" class="up-percentage"><i class="far fa-circle"></i>83%</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="photo-section">
            <div class="container">
                <h1>{{photoSectionData.Title}}</h1>
                <span style="text-align: justify;" v-html="photoSectionData.Description"></span>

                <div class="row flx_sec" v-if="allPhotos.length>0">
                    <div class="col-md-3 col-sm-6 col-xs-12 padding5" v-for="item in allPhotos">
                        <div class="up-img rel-img pakGalleryList">
                            <a :href="item.Image" data-fancybox="images" :data-caption="item.Name"><img :src="item.Image" alt="img" :title="item.Name"></a>
                            <div class="downloadIcon" >
                                <a href="#" @click.prevent="downlaodImage(item)" >
                                    <svg  xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="7.4072452mm" height="7.4086132mm" viewBox="0 0 7.4072452 7.4086132" version="1.1" id="svg8" inkscape:version="0.92.3 (2405546, 2018-03-11)"> <defs id="defs2"/> <sodipodi:namedview id="base" borderopacity="1.0" inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="22.627417" inkscape:cx="19.476555" inkscape:cy="10.496586" inkscape:document-units="mm" inkscape:current-layer="g849" showgrid="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:window-width="1920" inkscape:window-height="1017" inkscape:window-x="-8" inkscape:window-y="-8" inkscape:window-maximized="1"/> <metadata id="metadata5"> <rdf:RDF> <cc:Work rdf:about=""> <dc:format>image/svg+xml</dc:format> <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/> <dc:title/> </cc:Work> </rdf:RDF> </metadata> <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1" transform="translate(-120.07993,-91.228418)"> <g id="g849" transform="matrix(0.0141721,0,0,0.0141721,120.55069,92.844352)"> <g id="g1942" transform="matrix(1.0064687,0,0,1.0064687,-30.048215,-108.74036)"> <g id="g1876"> <g id="g1874"> <path id="path1872" d="M 382.56,233.376 C 379.968,227.648 374.272,224 368,224 H 304 V 16 C 304,7.168 296.832,0 288,0 h -64 c -8.832,0 -16,7.168 -16,16 v 208 h -64 c -6.272,0 -11.968,3.68 -14.56,9.376 -2.624,5.728 -1.6,12.416 2.528,17.152 l 112,128 c 3.04,3.488 7.424,5.472 12.032,5.472 4.608,0 8.992,-2.016 12.032,-5.472 l 112,-128 c 4.16,-4.704 5.12,-11.424 2.528,-17.152 z" inkscape:connector-curvature="0"/> </g> </g> <g id="g1882"> <g id="g1880"> <path id="path1878" d="m 432,352 v 96 H 80 V 352 H 16 v 128 c 0,17.696 14.336,32 32,32 h 416 c 17.696,0 32,-14.304 32,-32 V 352 Z" inkscape:connector-curvature="0"/> </g> </g> <g id="g1884"> </g> <g id="g1886"> </g> <g id="g1888"> </g> <g id="g1890"> </g> <g id="g1892"> </g> <g id="g1894"> </g> <g id="g1896"> </g> <g id="g1898"> </g> <g id="g1900"> </g> <g id="g1902"> </g> <g id="g1904"> </g> <g id="g1906"> </g> <g id="g1908"> </g> <g id="g1910"> </g> <g id="g1912"> </g> </g> </g> </g> </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12" v-if="photoSectionData.Photos.length>allPhotos.length">
                        <div class="up-img rel-img">
                            <a class="btn" href="#" @click.prevent="construtcAllPhotos"> <i class="fas fa-chevron-right"></i> <br> view more</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/galleryinfo.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js?v=202008130000"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="webcomponentsjs/webcomponents-lite.js"></script>
    <script src="/Nirvana/js/jquery.fancybox.min.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script type="text/javascript" src="/Nirvana/js/s3.js"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('[data-fancybox]').fancybox({
            protect: true,
            buttons: [
                'zoom',
                'thumbs',
                'close'
            ]
        });


        $('[data-fancybox="watermark"]').fancybox({
            protect: true,
            slideClass: 'watermark',
            toolbar: false,
            smallBtn: true
        });

        // Preload watermark image
        // Please, use your own image
        (new Image()).src = "https://fancyapps.com/GJbkSPU.png";
    </script>
</body>

</html>