﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="pluggins/owl.carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            overflow: hidden;
        }
        
        .validation_home {
            background-color: #ec423f;
            margin-bottom: 5px;
            padding: 4px;
            position: absolute;
            top: -13px;
            left: 0;
            width: 100%;
            font-size: 14px;
            text-align: center;
            color: #FFF;
            display: block;
            border-radius: 4px
        }
    </style>
</head>

<body>
    <div class="pageload">
        <span class="Centerer"></span>
        <img src="/Nirvana/images/nirvana-load.gif" alt="load">
    </div>
    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->

    <div id="indexmain">


        <!--Banner sec-->
        <div v-if="getdata"></div>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" v-else v-for="item in pluck('main',content.area_List)">
            <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
            <!-- Indicators -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item" v-for="(banner,indx) in pluckcom('Image_or_video',item.component)" :class="{ 'active': parseInt(indx) == 0 }">
                    <a href="#" @click="redirectToLink(banner.Link)" :style="!banner.Link?'cursor:context-menu':''" style="position: relative;z-index: 9999999;">
                    <video width="100%" v-if="banner.Video" class="video-fluid" autoplay loop muted> <source :src="banner.Upload_Video" type="video/mp4" /> </video>
                    <img v-else :src="banner.Image" alt="nirvana" style="width:100%;">
                    <div class="carousel-caption">
                        <h3><span>{{BannerTitle_1}}</span></h3>
                    </div>
                    </a>
                </div>

            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!--Banner sec close-->
        <!--search area-->
        <div class="dash_form" id="searchform">
            <div class="container hometab">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tabs animated-fade search-tabs ar_direction search_nav_new">
                            <ul class="nav nav-tabs tab-links center-tabs new_nav_tabs">
                                <li class="active">
                                    <a href="#flight" id="flightTab" data-toggle="tab">
                                        <img class="img-fluid img40" src="images/search-icons/flights.png">
                                        <p id="flights1">{{Flight_tab_name}}</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#hotel" id="hotelTab"  @click="hotelInit=Math.random()">
                                        <img class="img-fluid img40" src="images/search-icons/hotels.png">
                                        <p>{{Hotel_tab_name}}</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#packageForm"  id="packageTab" >
                                        <img class="img-fluid img40" src="images/search-icons/packages.png">
                                        <p id="multidestination1">{{Package_tab_name}}</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tabs animated-fade search-tabs ar_direction new_search_form">
                            <div class="tab-content mrg-0">
                                <div id="flight" class="tab active">
                                    <div class="search_field tab_p">
                                        <h6>{{Flight_form_caption}}</h6>
                                        <div class="trip_area">
                                            <div class="flight_type">
                                                <div class="btnsec01">
                                                    <input type="radio" id="radio-btn-1" value="O" v-model="triptype" name="TripType" v-on:click="onCheck($event)" checked="checked">
                                                    <label for="radio-btn-1">{{Oneway}}</label>
                                                </div>
                                                <div class="btnsec01">
                                                    <input type="radio" id="radio-btn-2" value="R" v-model="triptype" name="TripType" v-on:click="onCheck($event)">
                                                    <label for="radio-btn-2">{{Round_trip}}</label>
                                                </div>
                                                <div class="btnsec01">
                                                    <input type="radio" id="radio-btn-3" value="M" v-model="triptype" name="TripType" v-on:click="onCheck($event)">
                                                    <label for="radio-btn-3">{{Multicity}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-sm-6 mb_sp">
                                                <div class="form_sec">
                                                    <flightserch id="Departurefrom" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6 mb_sp">
                                                <div class="form_sec">
                                                    <flightserch id="DepartureTo" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="0"></flightserch>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6">
                                                <div class="form_sec">
                                                    <input value="" id="deptDate01" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-6" v-if="triptype !='M'" v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                                                <div class="form_sec">
                                                    <input id="retDate" :disabled="triptype == 'O'" value="" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderReturnDate">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="multi_area_sec" v-if="(triptype == 'M')">
                                            <div id="multi_leg_2" class="multi_area" v-if="(legcount>0)">
                                                <h2>
                                                    {{tripLabel}} 2
                                                </h2>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="DeparturefromLeg2" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="1">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="1">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <input id="txtLeg2Date" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="multi_leg_3" class="multi_area" v-if="(legcount>1)">
                                                <h2 :class="arabic_dropdown">
                                                    {{tripLabel}} 3<a id="closeCity-3" v-on:click="DeleteLeg(2)" v-if="legcount==2"><i class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="2">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="2">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <input id="txtLeg3Date" readonly="readonly" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="multi_leg_4" class="multi_area" v-if="(legcount>2)">
                                                <h2 :class="arabic_dropdown">
                                                    {{tripLabel}} 4
                                                    <a id="closeCity-4" v-on:click="DeleteLeg(3)" v-if="legcount==3"><i class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="3">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="3">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <input id="txtLeg4Date" readonly="readonly" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="multi_leg_5" class="multi_area" v-if="(legcount>3)">
                                                <h2 :class="arabic_dropdown">
                                                    {{tripLabel}} 5<a id="closeCity-5" v-on:click="DeleteLeg(4)" v-if="legcount==4"><i class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="4">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="4">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <input id="txtLeg5Date" readonly="readonly" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="multi_leg_6" class="multi_area" v-if="(legcount>4)">
                                                <h2 :class="arabic_dropdown">
                                                    {{tripLabel}} 6<a id="closeCity-3" v-on:click="DeleteLeg(5)" v-if="legcount==5"><i class="fa fa-times-circle pull-right" aria-hidden="true"></i></a></h2>
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="5">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <flightserch id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="5">
                                                            </flightserch>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 mb_sp">
                                                        <div class="form_sec">
                                                            <input id="txtLeg6Date" readonly="readonly" readonly="readonly" class="calender_area calenderhome_sec" :placeholder="placeholderDepartureDate">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divAddLeg" class="add_multi_sec" v-if="legcount!=5">
                                                <a id="addCity" v-on:click="AddNewLeg();">
                                                    {{addUptoLabel}} {{5-legcount}}
                                                    {{tripsLabel}}<i class="fa fa-plus-circle" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="clearfix"> </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 mb_sp">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 mb_sp">
                                                        <div class="form_sec en_dwn" :class="arabic_dropdown">
                                                            <select v-model="selected_adult" class="cont_txt downhome_sec" id="adultdrp" onchange="onPaxChange(this)">
                                                                <option v-for="adult in adults" :value="adult.value">
                                                                    {{adult.value}} {{adult.value==1?adultLabel:adultsLabel}}
                                                                </option>
                                                            </select>
                                                            <i class="fa fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 mb_sp">
                                                        <div class="form_sec en_dwn" :class="arabic_dropdown">
                                                            <select v-model="selected_child" class="cont_txt downhome_sec" id="childdrp" onchange="onPaxChange(this)">
                                                                <option v-for="child in children" :value="child.value">
                                                                    {{child.value>0?child.value:''}} {{child.value==0?(childrenLabel+' (2-11 '+agesLabel+')'):(child.value==1?childLabel:childrenLabel)}}
                                                                </option>
                                                            </select>
                                                            <i class="fa fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 mb_sp">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 mb_sp">
                                                        <div class="form_sec en_dwn" :class="arabic_dropdown">
                                                            <select v-model="selected_infant" class="cont_txt downhome_sec" id="infantdrp" onchange="onPaxChange(this)">
                                                                <option v-for="infant in infants" :value="infant.value">
                                                                    {{infant.value>0?infant.value:''}} {{infant.value==0?(infantLabel+' (0-2 '+ageLabel+')'):(infant.value==1?infantLabel:infantLabel)}}
                                                                </option>
                                                            </select>
                                                            <i class="fa fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 mb_sp">
                                                        <div class="form_sec en_dwn" :class="arabic_dropdown">
                                                            <select v-model="selected_cabin" class="cont_txt downhome_sec">
                                                                <option v-for="cabin in cabinclass" :value="cabin.value">{{cabin.text}}</option>
                                                            </select>
                                                            <i class="fa fa-chevron-down"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row block_sec">
                                            <div class="col-lg-12 flx_sec">
                                                <div id="advanceSearch" class="ad_srch">{{Advance_search_label}}<i class="fa fa-plus"></i></div>
                                            </div>
                                            <div class="ad_view">
                                                <div class="flx_sec">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 mb_sp">
                                                        <div class="form_sec">
                                                            <div class="autocomplete">
                                                                <input value="" id="ddlAirline" type="text" class="cont_txt01 hide-loading-circle preferairline" data-val="" :placeholder="preferred_airline_placeholder" autocomplete="off">
                                                                <input type="hidden" id="hdnAirline" v-model="preferAirline">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 mb_sp">
                                                        <div class="trip_area margintop25">
                                                            <div class="form_sec bg_none">
                                                                <div class="checkBox_area01">
                                                                    <input id="checkbox-list-6" name="DirectFlightsOnly" type="checkbox">
                                                                    <label for="web" class="formsfont">{{Direct_flight_option_label}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 ar_direction">
                                                <div v-if="validationMessage" class="validation_home" v-cloak>
                                                    {{validationMessage}}</div>
                                                <input type="submit" class="search" v-on:click="SearchFlight" :value="searchBtnLabel.toUpperCase()">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="hotel" class="tab">
                                    <hotel-search :key="hotelInit"></hotel-search>
                                </div>
                                <div id="packageForm" class="tab">
                                        <div>
                                            <div class="search_field tab_p">
                                                <h6>{{package_form_caption}}</h6>
                                                <div class="row">
                                                    <div class="htl_sec flx_sec">
                                                        <div class="col-md-12 col-sm-12 search-col-padding_new" >
                                                            <div class="autocomplete">
                                                                <input id="txtSearchPkg" type="text" class="cont_txt01 htl_txt ui-autocomplete-input"  
                                                                    :placeholder="package_search_field" autocomplete="off" style="padding-right: 20px;" 
                                                                    @input="onKeyUpAutoCompleteEvent($event)" >
                                                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                                <ul ref="searchautocomplete" class="autocomplete-results" v-if="packageSearchResult.length!=0">
                                                                    <li ref="options" class="autocomplete-result" v-for="(item,index) in packageSearchResult" :key="index" @click="updateResults(item)">
                                                                            {{ item.Destination }}
                                                                    </li>
                                                                </ul>        
                                                            </div>
                                                        </div>
                                                   </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--search area close-->
        <!--Tour Package-->
        <div class="tour_package" v-if="false">
            <div class="container" v-for="item in pluck('Top_package_Section',content.area_List)">
                <h4 v-cloak>{{packagePag.Page_Title}}</h4>
                <h5>{{packagePag.Home_Page_Short_Description}}</h5>
                 <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-tour-offers" v-html="pkgHtml">
                    </div>
                <div class="view-all">
                    <a href="/Nirvana/package.html">{{packagePag.View_Button_Name}}</a>
                    </div>
                </div>
        </div>

        <!--Tour Package close-->
        <!--Hotel section-->
        <!-- <div class="hotel_section" v-show="getSpecialPackage" v-if="false"> -->
        <div class="tour_package">
            <div v-if="getdata"></div>
            <div class="container" v-else v-for="item in pluck('Home_offer_section',content.area_List)">
                <h4 v-cloak>{{packageTitle}}</h4>
                <h5>{{packageSubtitle}}</h5>
                <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-hotel-offers">
                    <div class="item" v-for="(offer, index) in OfferPackages">
                        <a :href="getmoreinfo(offer.More_details_page_link,'pkg')">
                            <div class="tour_offer">
                                <div class="tour_offer_cont">
                                    <h3 v-cloak>{{offer.Name}}</h3>
                                    <!-- <div class="dis_sec" v-cloak v-html="offer.Description">
                                        {{offer.Description}}
                                    </div> -->
                                </div>
                                <img img-responsive :src="offer.Thumbnail_Image" class="img-responsive" :alt="offer.Name" />
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!--Hotel section close-->

        <!--UAE Attractions-->

        <div class="uae_attraction">
            <!-- <div class="container">
                <h4 v-cloak>{{ServiceTitle}}</h4>  
                <div class="owl-carousel owl-theme owl-custom-arrow" id="owl-uae-attractions">
                    <div class="item" v-for="service in Services">
                        <a :href="'/Nirvana/serviceinfo.html?page='+service.More_details_page_link+'&from=home'"  >
                            <div class="tour_offer">
                                <img :src="service.Image" class="img-responsive" :alt="service.Title" />
                                <div class="tour_offer_cont">
                                    <h3>{{service.Title}}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> -->
        </div>
        <!--UAE Attractions close-->
        <!--partner area-->
        <div class="partner_area">
            <div v-if="getdata"></div>
            <div class="container" v-else v-for="item in pluck('Partner_section',content.area_List)">
                <h4 v-cloak>{{pluckcom('Title',item.component)}}</h4>
                <div class="customNavigation1 slider_icon1">
                    <a class="btn prev pull-left"><img src="images/back.png" alt=""></a>
                    <a class="btn next"><img src="images/next.png" alt=""></a>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 sp_partner">

                    <div id="owl-demo" class="owl-carousel">
                        <div class="item" v-for="(partner, index) in pluckcom('Partners_list',item.component)"><img :src="partner.Image" alt="partner.Title"></div>

                    </div>
                </div>
            </div>
        </div>
        <!--partner area close-->

    </div>


    <!--footer-->
    <footer :key="key">
        <footeritem :key="key"></footeritem>

    </footer>
    <!--footer close-->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/Nirvana/js/bootstrap.min.js"></script>
    <script src="/Nirvana/js/tabs.js"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/datepicker-i18n.js?v=201907110000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/Nirvana/js/hotel-search.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Nirvana/js/common.js"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=202008180000"></script>
    <script src="/Nirvana/master/js/index.js?v=202010110000"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="/Nirvana/js/custom.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".ad_srch").click(function() {
                $(".ad_view").toggle();
            });
        });
    </script>
</body>

</html>