<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->

    <!--common header-->
    <div v-cloak id="packagepage">
        <div class="common_header spHeader" :style="pageCommonData.Page_Image?'background-image: url(' + pageCommonData.Page_Image + ')':''">
            <div class="container">
                <h5 v-cloak>{{pageCommonData.Page_Title}}</h5>
                <div v-html="pageCommonData.Page_Description"></div>
            </div>
        </div>
        <!--common header close-->

        <!--Package section-->



        <div v-cloak class="package_sec">
            <div class="special_pack_section" v-if="specialPackage.length>0">
                <h1 v-cloak>{{pageCommonData.Section_Title}}</h1>
                <div class="container flx_sec">
                    <div class="row br_sp5">
                        <div class="col-lg-12 flx_package" v-if="getpackage">
                            <div class="col-md-4" v-for="package in specialPackage">
                                <a href="#" @click.prevent="getmoreinfo(package.More_details_page_link)">
                                    <div class="offer-tag2" v-if="package.Offer_Title_10_Chars_Max!=''&& package.Offer_Title_10_Chars_Max.trim() != ''" >
                                        <img v-if="package.Offer_Title_10_Chars_Max" src="images/gold-shape-1.png" alt="tag img">
                                        
                                    </div>
                                    <div class="offer-text2" v-if="package.Offer_Title_10_Chars_Max!=''&& package.Offer_Title_10_Chars_Max.trim() != ''" >
                                        <p>{{package.Offer_Title_10_Chars_Max}}</p>
                                    </div>
                                    <div class="smallbox">
                                        <img :src="package.Thumbnail_Image" :alt="package.Name" style="width: 100%; height: 381px;">
                                        <div class="cnt_sec">
                                            <div class="package_cont">
                                                <div class="content-packages">
                                                    <h4 v-cloak>{{package.Destination}}</h4>
                                                </div>
                                                <div class="content-name">
                                                    <h4 v-cloak>{{package.Name}}</h4>
                                                </div>
                                                <div class="content-menu">
                                                    <h5 v-cloak>{{package.Applicable_Title}}</h5>
                                                    <h6 v-cloak>
                                                        {{ $n((package.Price/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}
                                                    </h6>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa fa-sun-o"></i><span v-cloak>{{package.Days}} </span><i class="fa fa-moon-o"></i><span v-cloak>{{package.Nights}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container " v-if="holidayPackage.length>0">

                <div class="row special_pack_section">
                    <h1 v-cloak>{{pageCommonData.Section_2_Title}}</h1>
                    <div class="col-lg-12 flx_package" v-if="holidayPackage.length>0">

                        <div class="col-md-4" v-for="package in holidayPackage">
                            <a href="#" @click="getmoreinfo(package.More_details_page_link)">
                                <div class="offer-tag2" v-if="package.Offer_Title_10_Chars_Max!=''&& package.Offer_Title_10_Chars_Max.trim() != ''">
                                    <img v-if="package.Offer_Title_10_Chars_Max" src="images/gold-shape-1.png" alt="tag img">
                                    
                                </div>
                                <div class="offer-text2" v-if="package.Offer_Title_10_Chars_Max!='' && package.Offer_Title_10_Chars_Max.trim() != ''">
                                    <p>{{package.Offer_Title_10_Chars_Max}}</p>
                                </div>
                                <div class="smallbox">
                                    <img :src="package.Thumbnail_Image" :alt="package.Name" style="width: 100%; height: 381px;">
                                    <div class="cnt_sec">
                                        <div class="package_cont">
                                            <div class="content-packages">
                                                <h4 v-cloak>{{package.Destination}}</h4>
                                            </div>
                                            <div class="content-name">
                                                <h4 v-cloak>{{package.Name}}</h4>
                                            </div>
                                            <div class="content-menu">
                                                <h5 v-cloak>{{package.Applicable_title}}</h5>
                                                <h6 v-cloak>
                                                    {{ $n((package.Price/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}
                                                </h6>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-sun-o"></i><span v-cloak>{{package.Days}} </span><i class="fa fa-moon-o"></i><span v-cloak>{{package.Nights}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Package section close-->
    </div>








    <!--footer-->
    <footer>

        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->


    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/package.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
    <script src="js/common.js"></script>

</body>

</html>