﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" xmlns="http://s3.amazonaws.com/doc/2006-03-01/">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="css/formtab.css" rel="stylesheet" type="text/css">
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap-datepicker.min.css?v=202008130000" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <link rel='stylesheet' href='/Nirvana/css/jquery.fancybox.min.css'>
    
    <style>
        [v-cloak] {
            display: none;
        }
        
        .package-table .selector-box::before {
            z-index: -1;
        }
        
        input[type='number'] {
            -moz-appearance: textfield;
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div v-cloak id="packageDetailInfo" v-if="getData">
        <section class="packae-in-banner" :style="{ 'background-image': 'url(' + pageContentData.Banner_Image + ')' }">
            <div class="container">
                <h2>{{pageContentData.Banner_Title}}</h2>
                <p>{{pageContentData.Banner_Short_Description}}</p>
            </div>
        </section>
        <section class="package-in-main" id="downloadDIV">
            <div class="container" >
                <div class="package-in-deatil">
                    <div class="row flex-box">
                        <div class="col-lg-8">
                            <div id="package-in-item" class="owl-carousel owl-theme">
                                <div class="item" v-for="item in pageContentData.Package_Gallery">
                                    <a :href="item.Image" data-fancybox="images" :data-caption="item.Image">
                                        <img :baseURI="item.Image" :src="item.Image" alt="img" :title="item.Name">
                                    </a>
                                </div>

                            </div>
                            <div class="package-overview" style="margin-top: 10px;">
                                <ul class="nav nav-tabs" role="tablist" style="justify-content: flex-start;">
                                    <li role="presentation" class="active nav-ac"><a href="#overview" aria-controls="home" role="tab" data-toggle="tab">{{pageCommonData.Tab_1_Title}}</a></li>
                                    <li role="presentation" v-if="itme.Status" v-for="(itme, index) in extraTab" ><a :href="'#'+index" aria-controls="home" role="tab" data-toggle="tab">{{itme.Tab_Name}}</a></li>
                                </ul>
                                <div class="tab-content" id="MainTab">
                                    <div role="tabpanel" class="tab-pane active" id="overview">
                                        <div v-if="itme.Status" class="package-in-tab" v-for="itme in pageContentData.Package_Overview">
                                            <h3>{{itme.Tab_name}}</h3>
                                            <span style="text-align: justify;" v-html="itme.Description"></span>
                                        </div>
                                        <div class="package-in-tab" id="priceTab">
                                            <h3>{{pageCommonData.Price_Title}}</h3>
                                            <div class="m-t-20 table-responsive">
                                                <table class="table table-bordered " style="page-break-inside:avoid;">
                                                    <thead>
                                                        <tr id="priceHeadr">
                                                            <th>{{pageContentData.Price_Column_1_Title}}</th>
                                                            <th v-if="checkIfNumber('Adult')">{{pageContentData.Price_Column_2_Title}}</th>
                                                            <th v-if="checkIfNumber('Child')">{{pageContentData.Price_Column_3_Title}}</th>
                                                            <th v-if="checkIfNumber('Infant')">{{pageContentData.Price_Column_4_Title}}</th>
                                                            <th> </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="priceBodyContent">
                                                        <tr v-for="item in pageContentData.Price" style="page-break-inside:avoid;">
                                                            <td>{{item.Name}}</td>
                                                            <td v-if="checkIfNumber('Adult')">
                                                                <span v-if="isNaN(item.Adult)">{{item.Adult}}</span>
                                                                <span v-else>{{$n((item.Adult/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</span>
                                                            </td>
                                                            <td v-if="checkIfNumber('Child')">

                                                                <span v-if="isNaN(item.Child)">{{item.Child}}</span>
                                                                <span v-else>{{$n((item.Child/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</span>
                                                            </td>
                                                            <td v-if="checkIfNumber('Infant')">
                                                                <span v-if="isNaN(item.Infant)">{{item.Infant}}</span>
                                                                <span v-else>{{$n((item.Infant/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</span>

                                                            </td>
                                                            <td> <a class="btn" href="#" @click.prevent="constructEnquiryButton(item)">{{pageCommonData.Inquiry_Button_Name}} </a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane"  v-for="(newTab, index) in extraTab"  :id="index">
                                        
                                        <div v-if="itme.Status" class="package-in-tab" v-for="itme in newTab.Inner_Tab">
                                            
                                            <h3>{{itme.Tab_name}}</h3>
                                            <span style="text-align: justify;" v-html="itme.Description"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 ar_direction">
                            <div class="package-in-right" >
                                <div id="packageDetails">
                                <div class="package-price" >
                                    <div v-if="weatherData.data" class="weather" id="weatherID">
                                        <h4>{{weatherCity}}</h4>
                                        <p>{{weatherData.data.main.temp_max}}° C</p>
                                        <h4><img :src="weatherImg+weatherData.data.weather[0].icon+'.png'" :alt="weatherData.data.weather[0].description" :title="weatherData.data.weather[0].description"></h4>
                                    </div>
                                    <h1>{{packageInfoDetail.Name}}</h1>
                                    <h3><span class="spstle5">{{packageInfoDetail.Applicable_Title}}</span><br><span id="totalRateTxt">{{$n((packageInfo.TotalRate/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</span></h3>
                                    <div class="icon">
                                        <i class="fa fa-sun-o"></i><span v-cloak>{{bookingInfoData.Days}} </span><i class="fa fa-moon-o"></i><span v-cloak>{{bookingInfoData.Nights}}</span>
                                    </div>
                                    <ul>
                                        <li v-for="item in selectedList" v-if="item.show">{{item.Value}} </li>
                                    </ul>
                                </div>
                            </div>
                                <div class="package-book-tour" id="booktourForm">
                                    <div class="book-text" id="bookingDiv">
                                        <h2>{{bookFormData.Title}}</h2>
                                        <p>{{bookFormData.Short_Description}}</p>
                                    </div>
                                    <div class="package-table">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>{{bookFormData.Category_Title}}</td>
                                                    <td class="selector-box">
                                                        <select id="categorySel" class="form-control" v-model="selCategory">
                                                                <option value="0" >Select</option>
                                                                <option v-for="item in pageContentData.Price" :value="item.Name">{{item.Name}}</option>
                                                            </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>{{bookFormData.Column_1_Title}}</th>
                                                    <th>{{bookFormData.Column_2_Title}}</th>
                                                    <th>{{bookFormData.Column_3_Title}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="checkIfNumber('Adult')">
                                                    <td>{{pageContentData.Price_Column_2_Title}}</td>
                                                    <td class="selector-box">
                                                        <select :disabled="selCategory==0" id="adultSel" class="form-control" v-model="packageInfo.AdultSize">
                                                                <!-- <option value="0" >Select</option> -->
                                                                <option v-for="item in quantityList" :value="item.Value">{{item.Name}}</option>
                                                            </select>
                                                    </td>
                                                    <td>{{$n((packageInfo.AdultTotal/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</td>
                                                </tr>
                                                <tr v-if="checkIfNumber('Child')">
                                                    <td>{{pageContentData.Price_Column_3_Title}}</td>
                                                    <td class="selector-box">
                                                        <select :disabled="selCategory==0||quantityListChild" id="childSel" class="form-control" v-model="packageInfo.ChildSize">
                                                                <option value="0" >Select</option>
                                                                <option v-for="item in quantityList" :value="item.Value">{{item.Name}}</option>
                                                            </select>
                                                    </td>
                                                    <td>{{$n((packageInfo.ChildTotal/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</td>
                                                </tr>
                                                <tr  v-if="checkIfNumber('Infant')">
                                                    <td>{{pageContentData.Price_Column_4_Title}}</td>
                                                    <td class="selector-box">
                                                        <select :disabled="selCategory==0||quantityListInfant" id="infantSel" class="form-control" v-model="packageInfo.InfantSize">
                                                                <option value="0">Select</option>
                                                                <option v-for="item in quantityList" :value="item.Value">{{item.Name}}</option>
                                                            </select>
                                                    </td>
                                                    <td> {{$n((packageInfo.InfantTotal/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</td>
                                                </tr>
                                               
                                                <tr class="package-total" v-if="!CoupenInfo.ApplyCoupen">
                                                    <!-- <td>Grand Total</td> -->
                                                    <td>{{bookFormData.Total_Title}}</td>
                                                    <td>{{packageInfo.Total_Quantity}}</td>
                                                    <td>{{$n((packageInfo.TotalAmount/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</td>
                                                </tr>
                                                <tr class="package-total" v-if="CoupenInfo.ApplyCoupen">
                                                        <td>{{bookFormData.Total_Title}}</td>
                                                        <td>{{packageInfo.Total_Quantity}}</td>
                                                        <td>{{$n((packageInfo.TotalAmount/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</td>
                                                    </tr>
                                                <tr  v-if="CoupenInfo.ApplyCoupen">
                                                    <td><span class="green_coupon">Promo Code</span></td>
                                                    <td><span class="green_coupon">{{CoupenInfo.CoupenCode}}</span></td>
                                                    <td><span class="green_coupon">-{{$n((CoupenInfo.Amount/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}  <i v-on:click="clearCoupon()" class="fa fa-times-circle" aria-hidden="true"></i></span> </td>
                                                </tr>
                                                <tr class="package-total" v-if="CoupenInfo.ApplyCoupen">

                                                    <!-- <td>{{bookFormData.Total_Title}}</td> -->
                                                    <td>Grand Total</td>
                                                    <td></td>
                                                    <td>{{$n((CoupenInfo.newPrice/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="coupon_code">
                                            <input type="text" v-model="CoupenCode" placeholder="Enter coupon code">
                                            <button @click.prevent="getGlobalcoupencode()" :disabled='packageInfo.TotalAmount==0'>Apply</button>
                                            <p v-if="CoupenInfo.ApplyCoupen">Coupon applied successfully <i class="fa fa-check" aria-hidden="true"></i></p>
                                    </div>
                                    <div class="form-package">
                                        <form>
                                            <!-- Datepicker as text field -->
                                            <label>{{bookFormData.Book_Date_Title}}</label>
                                            <div class="input-group date">
                                                <input v-model="packageInfo.TravelDate" id="traveldate" autocomplete="off" type="text" class="form-control" :placeholder="bookFormData.Book_Date_Place_Holder">
                                                <div class="input-group-addon"> <i class="fa fa-calendar"></i></div>
                                            </div>
                                            <label>{{bookFormData.Name_Title}}</label>
                                            <input class="form-control" v-on:keyup="inputFieldChange($event,'User Name')" v-model="packageInfo.UserName" autocomplete="off" type="text" id="textBooking" name="text" :placeholder="bookFormData.Name_Place_Holder">
                                            <label>{{bookFormData.Email_Title}}</label>
                                            <input class="form-control" v-on:keyup="inputFieldChange($event,'Email')" v-model="packageInfo.UserEmail" autocomplete="off" type="text" id="emailBooking" name="email" :placeholder="bookFormData.Email_Place_Holder">
                                            <label>{{bookFormData.Phone_Title}}</label>
                                            <input class="form-control" v-on:keyup="inputFieldChange($event,'Phone')" v-model="packageInfo.UserPhone" autocomplete="off" type="number" id="telNumberBooking" name="text" :placeholder="bookFormData.Phone_Place_Holder" v-on:keyup="mobileNumberValidation">
                                            <label>{{bookFormData.CaptchaConsValue}}</label>
                                            <input class="form-control" v-on:keyup="inputFieldChange($event,'Capcha')" autocomplete="off" v-model="packageInfo.UserCaptcha" type="number" type="text" id="checkNumberBooking" name="text" :placeholder="bookFormData.Captcha_Place_Holder">
                                            
                                            <button type="submit" @click.prevent="BookNow()"> {{bookFormData.Book_Button_Name}} </button>
                                        </form>
                                    </div>
                                    <div class="social-media-package addthis_inline_share_toolbox"></div>
                                    <div class="social-media-package" >
                                        <ul class="print-m" >
                                            <li><a href="#" @click.prevent="downloadPDF()"><i class="fas fa-download"></i> Download</a></li>
                                            <li @click.prevent="print()" ><a href="#"><i class="fa fa-print"></i> Print</a></li>
                                            <li style="display: none;"><a href="#"><i class="fas fa-envelope"></i> Email</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="need_assistance ar_direction">
                                    <h3>Need Assistance</h3>
                                    <h4>Book Via Phone</h4>
                                    <h5 v-cloak>{{headerComponent.Header_phonenumber}}</h5>
                                    <a href="#" data-toggle="modal" data-target="#emialRequest">Request a call back <i class="fa fa-angle-right"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#emialRequest">Send email request <i class="fa fa-angle-right"></i></a>
                                </div>


                                <!-- popup emialRequest-->
                                <div class="modal fade" id="emialRequest" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Enquiry</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="enquiryTxt">
                                                    <input type="text" v-model="enqtxtname" placeholder="First Name">
                                                    <i class="fa fa-user"></i>
                                                </div>
                                                <div class="enquiryTxt">
                                                    <input type="text" v-model="enqtxtemail"  placeholder="Email ID">
                                                    <i class="fa fa-envelope"></i>
                                                </div>
                                                <div class="enquiryTxt">
                                                    <input type="text" v-model="enqtxtphone" placeholder="Phone Number" maxlength="15" onkeydown="return ((((event.keyCode >= 48) &amp;&amp; (event.keyCode <= 57)) || ((event.keyCode >= 96) &amp;&amp; (event.keyCode <= 105)) || ((event.keyCode == 08)) || ((event.keyCode == 46))) &amp;&amp; event.keyCode != 32);">
                                                    <i class="fa fa-phone"></i>
                                                </div>
                                                <div class="enquiryTxt">
                                                    <textarea  v-model="enqtxtmsg" placeholder="Aditional Information"></textarea>
                                                    <i class="fa fa-file-text-o"></i>
                                                </div>
                                                <div class="enquiryTxt">
                                                    <button @click="sendAssistance">Submit</button>
                                                    <!-- <input type="submit" class="newbtn_create" value="SUBMIT" id="enqsubmitbutton" @click="sendAssistance">
                                                    <div class="load_btn" id="load_btncall" style="top: 0;"><i class="fa fa-spinner fa-spin"></i></div> -->
                                                </div>
                                            </div>
                                
                                        </div>
                                
                                    </div>
                                </div>
                                <!-- popup emialRequest-->

                                
                                <div class="tour-package popular-pack" v-if="popularPackage.Banner_Image">
                                    <img :src="popularPackage.Banner_Image" alt="package-img">
                                    <div class="package-name">
                                        <div class="duratin-name">
                                            <h3>{{popularPackage.Name}} <br>
                                                <span style="display: none;">{{popularPackage.Destination}} Duration {{popularPackage.Days}}</span>
                                            </h3>
                                            <div class="specialpackSec">
                                                <i class="fa fa-sun-o"></i><span v-cloak>{{popularPackage.Days}} </span><i class="fa fa-moon-o"></i><span v-cloak>{{popularPackage.Nights}}</span>
                                            </div>
                                        </div>
                                        <div class="pack-rating">
                                            <div class="eye-icon">
                                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <g> <g> <path d="M508.177,245.995C503.607,240.897,393.682,121,256,121S8.394,240.897,3.823,245.995c-5.098,5.698-5.098,14.312,0,20.01 C8.394,271.103,118.32,391,256,391s247.606-119.897,252.177-124.995C513.274,260.307,513.274,251.693,508.177,245.995z M256,361 c-57.891,0-105-47.109-105-105s47.109-105,105-105s105,47.109,105,105S313.891,361,256,361z"/> </g> </g> <g> <g> <path d="M271,226c0-15.09,7.491-28.365,18.887-36.53C279.661,184.235,268.255,181,256,181c-41.353,0-75,33.647-75,75 c0,41.353,33.647,75,75,75c37.024,0,67.668-27.034,73.722-62.358C299.516,278.367,271,255.522,271,226z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                                            </div>
                                            <p>{{popularPackage.Rating}}</p>
                                        </div>
                                        
                                    </div>
                                    <div class="tour-package-price">
                                        <p>{{$n((popularPackage.Price/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</p>
                                    </div>
                                    <div class="popular-tag" style="display: none;">
                                        <img src="images/popular-tag.png" alt="tag img">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Related Tour-->
        <section class="related-tour" v-if="relatedTours.length>0" style="display: none;">
            <div class="container">
                <h2>{{pageCommonData.Related_Tours_Title}}</h2>
                <div class="row flex-box" style="justify-content: unset;">
                    <div class="col-lg-3 col-md-6 col-sm-6" v-for="item in relatedTours">
                        <div class="tour-package">
                            <img class="csr-in-img" :src="item.Banner_Image" alt="package-img">
                            <div class="package-name">
                                <div class="duratin-name">
                                    <h3>{{item.Name}} <br><span> {{item.Destination}} Duration {{item.Days}}</span></h3>
                                </div>
                                <div class="pack-rating">
                                    <p>{{item.Ratings}}</p>
                                </div>
                            </div>
                            <div class="tour-package-price">
                                <p>{{$n((item.Price/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/packageDetail.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/common.js"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="pluggins/owl.carousel/custom-owl.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-datepicker.min.js?v=202008130000"></script>
    <script src="js/custom.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d92ef3b08499f31"></script>

    <script src="/Nirvana/js/jquery.fancybox.min.js"></script>
    <script src="/assets/js/jspdf-1-3-3.min.js?v=202008130000"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
    <script type="text/javascript" src="/Nirvana/js/s3.js"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
</body>

</html>