﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
        type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="css/bootslider.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div v-cloak id="aboutUsPage">
        <!--common header-->
        <div class="common_header">
            <div class="container">
                <h2>{{pageTitle}}</h2>
            </div>
        </div>
        <!--common header close-->

        <!--About us section-->
        <div class="cmn_about">
            <div class="first_about">
                <div v-html="pageBody" class="container">
                   
                </div>

            </div>

        </div>
    </div>
    <!--About us section close-->

    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>

    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Nirvana/js/jquery.rwdImageMaps.js"></script>
    <script>
        $(function () {
            $('#dl-menu').dlmenu({
                animationClasses: { classin: 'dl-animate-in-3', classout: 'dl-animate-out-3' }
            });
        });

    </script>
    <script src="js/common.js"></script>
    <script src="js/map_click.js"></script>
    <script src="/Nirvana/servicejs/qualityobj.js"></script>
    <script>
        $(document).ready(function (e) {
            $(document).ready(function (e) {
                $('img[usemap]').rwdImageMaps();

            });
        });
    </script>
</body>

</html>