<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="css/bootslider.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="css/owl.carousel.min.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel='stylesheet' href='/Nirvana/css/jquery.fancybox.min.css'>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div id="serivcesPage">
        <div v-show="getservice">
            <!--common header-->
            <div class="common_header servicesinfo_banner">
                <div class="container ar_direction">
                    <h5 v-cloak>{{Services.Title}}</h5>
                    <p v-cloak>{{Services.ShortDesc}}</p>
                </div>
            </div>
            <!--common header close-->
            <!--Services info  section-->

            <div class="eventsmain">

                <div class="container">
                    <div class="eventsmain5">
                        <h4 v-cloak>{{Services.Title2}}</h4>
                        <div class="eventsmain-deatil">
                            <div id="eventinfo" class="owl-carousel owl-theme" v-show="servivsegallery">
                                <div class="item" v-for="images in Services.Gallery">
                                    <a href="#">
                                        <!-- <img :src="images.Image" :alt="images.Name" :title="images.Name"> -->
                                        <a :href="images.Image" data-fancybox="images1" :data-caption="images.Name"><img :src="images.Image" alt="img" :title="images.Name"></a>

                                    </a>
                                </div>

                            </div>
                            <div class="row p10">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-box" style="padding: 0px;">
                                    <div class="col-lg-8 eventCont ar_direction">
                                        <h5 v-cloak>{{Services.Title}}</h5>
                                        <div v-html="Services.Description"></div>
                                        <h5 v-cloak>{{Services.SubTitle}}</h5>
                                        <div v-html="Services.SubDesc"></div>
                                        <div class="ex_services" v-show="servivsegallery">
                                            <div class="col-lg-3 col-md-3 col-sm-4 padding5" v-for="images in Services.Gallery">
                                                <!-- <img :src="images.Image" :alt="images.Name"> -->
                                                <a :href="images.Image" data-fancybox="images2" :data-caption="images.Name"><img :src="images.Image" alt="img" :title="images.Name"></a>
                                    
                                                <h6 v-cloak>{{images.Name}}</h6>
                                            </div>
                                    
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="addthis_inline_share_toolbox social-media-links"></div>
                                    
                                    
                                        <div class="need_assistance ar_direction">
                                            <h3>Need Assistance</h3>
                                            <h4>Book Via Phone</h4>
                                            <h5 v-cloak>{{headerComponent.Header_phonenumber}}</h5>
                                            <a href="#" data-toggle="modal" data-target="#emialRequest">Request a call back <i class="fa fa-angle-right"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#emialRequest">Send email request <i class="fa fa-angle-right"></i></a>
                                    
                                            <!-- popup emialRequest-->
                                            <div class="modal fade" id="emialRequest" role="dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Enquiry</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="enquiryTxt">
                                                                <input type="text" v-model="enqtxtname" placeholder="First Name">
                                                                <i class="fa fa-user"></i>
                                                            </div>
                                                            <div class="enquiryTxt">
                                                                <input type="text" v-model="enqtxtemail" placeholder="Email ID">
                                                                <i class="fa fa-envelope"></i>
                                                            </div>
                                                            <div class="enquiryTxt">
                                                                <input type="text" v-model="enqtxtphone" placeholder="Phone Number" maxlength="15" onkeydown="return ((((event.keyCode >= 48) &amp;&amp; (event.keyCode <= 57)) || ((event.keyCode >= 96) &amp;&amp; (event.keyCode <= 105)) || ((event.keyCode == 08)) || ((event.keyCode == 46))) &amp;&amp; event.keyCode != 32);">
                                                                <i class="fa fa-phone"></i>
                                                            </div>
                                                            <div class="enquiryTxt">
                                                                <textarea v-model="enqtxtmsg" placeholder="Aditional Information"></textarea>
                                                                <i class="fa fa-file-text-o"></i>
                                                            </div>
                                                            <div class="enquiryTxt">
                                                                <button @click="sendAssistance">Submit</button>
                                                                <!-- <input type="submit" class="newbtn_create" value="SUBMIT" id="enqsubmitbutton" @click="sendAssistance">
                                                                                                <div class="load_btn" id="load_btncall" style="top: 0;"><i class="fa fa-spinner fa-spin"></i></div> -->
                                                            </div>
                                                        </div>
                                    
                                                    </div>
                                    
                                                </div>
                                            </div>
                                            <!-- popup emialRequest-->
                                        </div>
                                    
                                        <div class="right-all-sec-services">
                                            <h3>Other Services</h3>
                                            <ul class="recent-post blog-categ">
                                                <li v-cloak v-for="service in servicesList">
                                                    <h5><a href="#" @click.prevent="getmoreinfo(service.More_details_page_link)">{{service.Title}}</a></h5>
                                                </li>
                                            </ul>
                                        </div>
                                    
                                        <div class="tour-package popular-pack ar_direction" v-if="popularPackage.Banner_Image" style="display: none;">
                                            <img :src="popularPackage.Banner_Image" alt="package-img">
                                            <div class="package-name">
                                                <div class="duratin-name">
                                                    <h3 v-cloak>{{popularPackage.Name}} <br>
                                                        <span style="display: none;">{{popularPackage.Destination}} Duration {{popularPackage.Days}}</span>
                                                    </h3>
                                                    <div class="specialpackSec">
                                                        <i class="fa fa-sun-o"></i><span v-cloak>{{popularPackage.Days}} </span><i class="fa fa-moon-o"></i><span v-cloak>{{popularPackage.Nights}}</span>
                                                    </div>
                                                </div>
                                                <div class="pack-rating">
                                                    <div class="eye-icon">
                                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                            <g>
                                                                <g>
                                                                    <path d="M508.177,245.995C503.607,240.897,393.682,121,256,121S8.394,240.897,3.823,245.995c-5.098,5.698-5.098,14.312,0,20.01 C8.394,271.103,118.32,391,256,391s247.606-119.897,252.177-124.995C513.274,260.307,513.274,251.693,508.177,245.995z M256,361 c-57.891,0-105-47.109-105-105s47.109-105,105-105s105,47.109,105,105S313.891,361,256,361z" />
                                                                </g>
                                                            </g>
                                                            <g>
                                                                <g>
                                                                    <path d="M271,226c0-15.09,7.491-28.365,18.887-36.53C279.661,184.235,268.255,181,256,181c-41.353,0-75,33.647-75,75 c0,41.353,33.647,75,75,75c37.024,0,67.668-27.034,73.722-62.358C299.516,278.367,271,255.522,271,226z" />
                                                                </g>
                                                            </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                            <g> </g>
                                                        </svg>
                                                    </div>
                                                    <p v-cloak>{{popularPackage.Rating}}</p>
                                                </div>
                                    
                                            </div>
                                            <div class="tour-package-price">
                                                <p v-cloak>{{$n((popularPackage.Price/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</p>
                                            </div>
                                            <div class="popular-tag" style="display: none;">
                                                <img src="images/popular-tag.png" alt="tag img">
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Services info  section close-->
        </div>
    </div>
    <!--footer-->
    <footer :key="key">
        <footeritem :key="key"></footeritem>

    </footer>
    <!--footer close-->
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="pluggins/owl.carousel/owl.carousel.min.js"></script>
    <script src="pluggins/owl.carousel/custom-owl.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="servicejs/serviceinfo.js"></script>
    <script src="js/common.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="js/custom.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d92ef3b08499f31"></script>
    <script src="/Nirvana/js/jquery.fancybox.min.js"></script>
    <script>
        $(function () {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
    <script type="text/javascript">
        $('[data-fancybox]').fancybox({
            protect: true,
            buttons: [
                'zoom',
                'thumbs',
                'close'
            ]
        });


        $('[data-fancybox="watermark"]').fancybox({
            protect: true,
            slideClass: 'watermark',
            toolbar: false,
            smallBtn: true
        });

        // Preload watermark image
        // Please, use your own image
        (new Image()).src = "https://fancyapps.com/GJbkSPU.png";
    </script>


</body>

</html>