<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nirvana</title>
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>

</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->
    <div id="uaeattraction" v-cloak>
        <!--common header-->
        <div class="common_header">
            <div v-cloak class="container">
                <h2>{{pageCommonData.Page_Title}}</h2>
            </div>
        </div>
        <!--common header close-->

        <!--Package section-->
        <div class="package_sec" :style="pageCommonData.Page_Image?'background-image: url(' + pageCommonData.Page_Image + ')':''">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 flx_package">
                        <div class="col-md-4" v-for="package in uaeAttractionPackages">
                            <a href="#" @click="getmoreinfo(package.More_details_page_link)">
                                <div class="smallbox">
                                    <img :src="package.Banner_Image" :alt="package.Name" style="width: 100%; height: 381px;">
                                    <div class="cnt_sec">
                                        <div class="package_cont">
                                            <div class="content-packages">
                                                <h4 v-cloak>{{package.Destination}}</h4>
                                            </div>
                                            <div class="content-name">
                                                <h4 v-cloak>{{package.Name}}</h4>
                                            </div>
                                            <div class="content-menu">
                                                <h5 v-cloak>{{package.Applicable_Title}}</h5>
                                                <h6 v-cloak>{{ $n((package.Price/CurrencyMultiplier), 'currencyNoCents', selectedCurrency)}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--Package section close-->
    </div>








    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Nirvana/servicejs/blogMgr.js"></script>
    <script src="/Nirvana/servicejs/uaeattractions.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
    <script src="js/common.js"></script>

</body>

</html>