<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103982747-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-103982747-2');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="website-informations/favicon/favi.png">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/responsive.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="css/component.css" rel="stylesheet" type="text/css">
    <link href="/Nirvana/master/css/master.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" type="text/css" />
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery-1.12.4.min.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!--Header-->
    <header>
        <headeritem></headeritem>
    </header>
    <!--Header close-->

    <!--common header-->
    <div id="photosPage">
        <div class="common_header">
            <div v-if="getdata"></div>
            <div v-cloak class="container" v-else v-for="item in pluck('main',content.area_List)">
                <h2>{{pluckcom('Title',item.component)}}</h2>
            </div>
        </div>
        <!--common header close-->

        <!--Package section-->
        <div class="package_sec" style="padding-bottom: 30px;">
            <div class="container">
                <div class="row">
                    <div v-if="!getdata" class="col-lg-12">

                        <!-- Grid row -->
                        <div class="row">
                            <!-- Grid column -->
                            <div v-cloak class="col-md-12 d-flex justify-content-center mb-5">
                                <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="all">{{pluckcom('All_Label',content.area_List[0].main.component)}}</button>
                                <button v-for="cat in cats" type="button" class="btn btn-outline-black waves-effect filter" :data-rel="cat.Name">{{cat.Name}}</button>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <!-- Grid row -->
                        <div class="gallery flx_package" id="gallery">
                            <div v-for="ph in Photos" class="mb-3 pics animation all" v-bind:class="ph.cat">
                                <video width="100%" height="240" controls autoplay>
                  <source :src="ph.imgLink" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                </div>
            </div>
        </div>
        <!--Package section close-->
    </div>

    <!--footer-->
    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!--footer close-->

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/Nirvana/servicejs/videos.js?ver=2"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dlmenu.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script>
        $(function() {
            $('#dl-menu').dlmenu({
                animationClasses: {
                    classin: 'dl-animate-in-3',
                    classout: 'dl-animate-out-3'
                }
            });
        });
    </script>
    <script src="js/common.js"></script>
</body>

</html>