/* Google Font Link */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* Import All CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: url(../)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

html {
    -webkit-text-size-adjust: none;
}

* {
    outline: none;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

 ::-moz-selection {
    background: #da434a;
    color: #fff;
}


/* input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%; 

padding: 8px 10px;
margin: 10px 0;
font-size: 16px;
border: 1px solid #d4d4d4;

}
*/

.btn {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

.btn.active,
.btn:active {
    box-shadow: none;
}

.btn a,
input[type="submit"] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    display: inline-block;
    font-size: 14px;
    background-color: transparent;
    color: #fff !important;
    padding: 10px 30px;
    border-radius: 50px;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid #fff;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
    background-color: #fff;
    color: #333333 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.section {
    padding: 50px 0;
    overflow: hidden;
}


/* p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #333333;
    padding: 8px 0;
    font-weight: 300;
} */

h1,
h2,
h3,
h4 {
    margin-top: 0;
    color: #404041;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fc4f00;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

h4 {
    font-size: 20px;
    padding: 0px 0;
    text-transform: uppercase;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
}

a {
    -webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    -moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    -ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    -o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a {
    text-decoration: none;
    color: #5e6d77;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #FFF;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


/*=======Start-homepage-css=========*/


/*back-to-top-css*/

.scrollToTop {
    height: 50px;
    width: 50px;
    padding-top: 2px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 999999;
    display: none;
    border-radius: 50%;
    background-color: #006ace;
    border: 1px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
    background: #fc4f00;
    color: #fff;
}


/*back-to-top-css*/

.top-bar {
    background: #006ace;
    text-align: right;
}

.social-media-top ul li {
    display: inline-block;
}

.social-media-top {
    display: inline-block;
    float: left;
    padding-top: 6px;
}

.social-media-top ul li a {
    color: #fff;
    font-size: 16px;
    padding-right: 25px;
}

.social-media-top ul li a:hover {
    color: #7ac5ff;
}

.sl-nav {
    display: inline-block;
    /* border-left: 1px solid #fff; */
}

.sl-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
}

.sl-nav li {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    float: inherit;
    border-left: 1px solid #FFF;
}

.ar_direction1 .profile-dropdown {
    float: left;
    border-right: none !important;
}

.ar_direction1 .profile-dropdown ul li a {
    text-align: right;
}

.ar_direction1 .profile-dropdown ul li a i {
    margin-right: 0px;
    margin-left: 5px;
}

.sl-nav li a {
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 8px 25px;
    display: block;
    background: none;
    border: none;
    float: inherit;
}

.sl-nav li a svg {
    width: 10px;
    padding-top: 3px;
}

.sl-nav li a::after {
    display: none;
}


}
.sl-nav li ul {
    display: none;
}
.sl-nav li:hover ul {
    position: absolute;
    top: 29px;
    right: -15px;
    display: block;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
}
.sl-nav li:hover .triangle:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.sl-nav .dropdown-menu {
    padding: 0px 0px;
}
.sl-nav .dropdown-menu a {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 10px 15px;
    z-index: 2;
    font-size: 14px;
    color: #3c3c3c !important;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 0px;
    float: initial;
}
.sl-nav .dropdown-menu a:hover {
    border: none !important;
    border-bottom: 1px solid #e4e4e4;
    background: #e4e4e4;
}
.sl-nav .dropdown-menu a:last-child {
    border-bottom: none;
}
.sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
}
.sl-nav li ul li span {
    padding-left: 5px;
}
.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
    color: #006ace;
}
.login-reg {
    display: inline-block;
}
.login-reg li {
    display: inline-block;
    border-left: 1px solid #fff;
    padding: 6px 25px;
}
.login-reg li div {
    cursor: pointer;
}
.login-reg li:last-child {
    border-right: 1px solid #fff;
}
.login-reg li a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.login-reg li a:hover {
    color: #5cb0ff;
}
.top-email {
    display: inline-block;
    text-align: left;
    float: right;
    margin-top: 25px;
}
.login-reg {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.top-email ul li {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 0 30px;
    font-weight: 600;
    border-right: 1px solid #000;
}
.top-email ul li:last-child {
    border-right: none;
    padding-right: 0;
}
.top-email ul li a {
    color: #222931;
    font-size: 17px;
    padding-left: 10px;
}
.top-email ul li i {
    height: 33px;
    width: 33px;
    background: #fc4f00;
    text-align: center;
    line-height: 33px;
    border-radius: 5px;
}
.top-email ul li a:hover {
    color: #da434a;
}
header {
    background: #fff;
    position: relative;
}
.header_logo {
    position: relative;
    background: #fff;
    width: 100%;
    padding: 10px 0;
}
.logo {
    position: relative;
    background: #fff;
    text-align: left;
}
.modal-open {
    padding-right: 0px !important;
}

/*===End-Header=====*/

/*==============Navigation==========*/
.menu-nav {
    background: #006adb!important;
    border-bottom: 1px solid #fff;
}
.menu-nav .navbar {
    border-radius: 0px;
    margin-bottom: 0;
    text-align: center;
    min-height: auto;
}
.menu-nav .navbar-default {
    border: none;
    background-color: transparent;
}
.menu-nav .navbar-nav>li {
    border-right: 1px solid #fff;
}
.menu-nav .navbar-nav li:first-child {
    border-left: 1px solid #fff;
}
.menu-nav .navbar-nav>li>a {
    padding: 12px 26px;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 15px;
    color: #fff !important;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #71b6ff!important;
}
.menu-nav .navbar-nav {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.menu-nav .navbar-nav>li {
    float: none;
    display: inline-block;
    padding: 0;
}
.menu-nav .navbar-default .navbar-nav>li>a::after {
    display: none;
}
.menu-nav .navbar-default .navbar-nav .active a:active {
    background-color: transparent;
    color: #71b6ff;
}
.menu-nav .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #71b6ff;
}
#bs-example-navbar-collapse-1 {
    padding: 0;
}
.menu-nav .dropdown-menu {
    left: -44px;
    top: 44px;
}
.menu-nav .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: #177ddf;
    color: #fff;
}
.menu-nav .dropdown-menu {
    padding: 5px 0 10px;
    top: 50px;
    right: -1px !important;
    min-width: 110px !important;
    background: #1781e7;
    border: none;
    border-radius: 0;
}
.dropdown-menu>li>a {
    background: #1781e7;
    color: #fff;
    padding: 7px 0 7px 0 !important;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    margin: 0 15px;
    font-weight: bold;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}

/*==============End - Navigation==========*/

/*==============footer-contact-detail============================*/
.foot-contact {
    text-align: left;
    margin: 0 auto;
}
.foot-contact ul li {
    padding: 0px 0 0px 50px;
    position: relative;
    line-height: 30px;
    margin-bottom: 20px;
}
.foot-contact ul li i {
    color: #45423f;
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    background: #7f7f7f;
    text-align: center;
    border-radius: 5px;
    line-height: 35px;
}
.foot-contact ul li a,
.foot-contact ul li {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.foot-contact a:hover {
    color: #fc4f00;
}
.foot-contact p {
    display: inline-block;
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*==============Footer===========*/
footer {
    background: #292929;
    padding: 30px 0 0px 0;
    margin-top: 120px;
}
.foot-logo p {
    color: #c0c0c0;
}
.foot-logo img {
    width: 182px;
    margin-bottom: 5px;
}
.footer-newsletter {
    background: #fc4f00;
    border: 3px solid #fff;
    padding: 20px;
    text-align: center;
    margin-top: -90px;
}
.footer-newsletter h3 {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    border-bottom: 1px dashed #fff;
    line-height: 40px;
    padding: 0 0 15px 0;
    text-transform: capitalize;
}
.footer-newsletter .form-control {
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    padding: 17px 20px;
    margin-top: 30px;
    color: #fff;
}
::placeholder {
    color: #fff!important;
    font-size: 14px;
}
.footer-newsletter button {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background: #292929;
    padding: 12px 50px;
    display: inline-block;
    border-radius: 0;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}
.footer-newsletter button:hover {
    background: #fff;
    color: #fc4f00;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.foot-links {
    text-align: center;
    margin-top: 30px;
}
.foot-links li {
    display: inline-block;
}
.foot-links li::after {
    content: "|";
    color: #9ca6b1;
}
.foot-links li:last-child::after {
    content: "";
}
.foot-links li:first-child a {
    padding-left: 0;
}
.foot-links li a {
    color: #c0c0c0;
    font-size: 15px;
    padding: 0 7px;
    font-weight: 500;
}
.foot-links li a:hover {
    color: #fc4f00;
}
.foot-social li {
    display: inline-block;
    padding: 0 10px;
}
.foot-social li:first-child {
    padding-left: 0;
}
.footer-detail {
    margin: 9px 0;
}
.foot-social {
    margin-top: 10px;
}
.foot-social li a {
    background: #7f7f7f;
    height: 30px;
    width: 30px;
    color: #45423f;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.foot-social li a:hover {
    background: #fc4f00;
    color: #fff;
}
.all-reserved {
    background: #1b1b1b;
    padding: 5px 0;
    margin-top: 30px;
}
.reserved {
    float: left;
}
.reserved p {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 0px;
}
.Powered {
    float: right;
}
.Powered p {
    display: inline-block;
    vertical-align: middle;
    color: #c0c0c0;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.Powered a {
    display: inline-block;
}
#sign-bt-area ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.cd-main-header {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #343642;
}
.cd-main-header::after {
    content: '';
    display: table;
    clear: both;
}
.navbar {
    box-shadow: none;
}
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}
.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}
.cd-main-nav__item {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    text-transform: uppercase;
    background: none !important;
    margin: 0;
}
.search_field .row {
    display: flex;
}
@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 13px;
        color: #FFF;
        line-height: 20px;
        margin: 0;
        background: none;
        text-transform: capitalize;
        cursor: pointer;
        padding: 0px;
    }
    
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}
.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}
.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}
.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}
.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}
.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}
.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: #006ace;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}
.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}
@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}
.cd-signin-modal__form {
    padding: 1.5em !important;
}
.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}
.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}
.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}
.cd-signin-modal__fieldset label {
    display: inline;
}
.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}
.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}
.cd-signin-modal__label {
    font-size: 1.4rem;
}
.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}
.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}
.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}
.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}
.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}
.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}
.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}
.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}
.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}
.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}
.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}
.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: #006ace !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}
.cd-signin-modal__input[type=submit]:hover {
    background: #006ace !important;
    color: #FFF !important;
}
.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}
.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}
.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}
.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}
.down_select {
    -webkit-appearance: menulist !important;
}
@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}
.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}
.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}
.txt-2 {
    color: #FFF;
    font-weight: normal;
}
.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.cd-signin-modal__block {
    display: none;
}
.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}
.lang .dropdown-menu a,
.currency .dropdown-menu a {
    border-left: 1px solid #dadada !important;
    border-top: 1px solid #dadada !important;
    border-right: 1px solid #dadada !important;
    border-bottom: 1px solid #dadada !important;
}
.lang .dropdown-menu a:hover,
.currency .dropdown-menu a:hover {
    border: 1px solid #cccbcb !important;
    background: #e0e0e0 !important;
}
.profile-dropdown {
    background: none !important;
    color: #fad41a !important;
}
.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #fff;
}

/*Arabic version*/
.flx_sec {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ar_direction1 .logo {
    text-align: right;
}
.ar_direction1 .social-media-top ul li a {
    padding-right: 0px;
    padding-left: 25px;
}
.ar_direction1 .login-reg li:last-child {
    border-right: none;
}
.ar_direction1 .sl-nav {
    border-left: 1px solid #fff;
}
.ar_direction1 .top-email {
    float: left;
}
.ar_direction1 .sl-nav .dropdown {
    border-right: 1px solid #fff;
    border-left: none;
}
.ar_direction1 .social-media-top {
    float: right;
}
.ar_direction1 .top-right {
    float: left;
}
.dropdown-menu a svg {
    display: none;
}
.ar_direction1 .menu-nav .navbar-nav li:first-child {
    border-left: none;
}
.ar_direction1 .menu-nav .navbar-nav li:last-child {
    border-left: 1px solid #fff;
}
.ar_direction1 .top-email ul li {
    border-right: none;
    border-left: 1px solid #000;
}
.ar_direction1 .top-email ul li:last-child {
    border-right: none;
    border-left: none;
    padding-left: 0px;
    padding-right: 30px;
}
.tab-content .ar_direction1 .change-destination::after,
.tab-content .ar_direction1 .change-date::after {
    left: -13px;
    right: inherit;
}
.tab-content .ar_direction1 .calendar {
    padding: 8px 20px 8px 0px !important;
}
.tab-content .ar_direction1 .form-control {
    padding: 0 20px 0 0px;
    text-align: right;
    direction: rtl;
}
.tab-content .ar_direction1 .custom-select-v3::before {
    left: 0;
    right: inherit;
}
.travelDropdown .ar_direction1 fieldset {
    padding: 0 0px 15px 13px;
}
.travelDropdown .ar_direction1 fieldset label {
    float: right;
}
.travelDropdown .ar_direction1 fieldset .trvFld {
    float: right;
    margin-right: 0px;
    margin-left: 10px;
}
.travelDropdown .ar_direction1 fieldset .ageRange {
    float: right;
}
.ar_direction1 .classSec label {
    float: right;
}
.ar_direction1 .closeDropdown {
    text-align: left;
}
.ar_direction1 .about-img {
    -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 48% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 48% 100%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 48% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 48% 100%);
}
.ar_direction1 .about-text h2 {
    text-align: right;
}
.ar_direction1 .owl-wrapper-outer {
    direction: ltr;
}
.ar_direction1 .pack-home-detail {
    text-align: right;
}
.ar_direction1 .day-night p i {
    float: right;
    margin-left: 5px;
}
.ar_direction1 .day-night p {
    text-align: right;
    line-height: 14px;
    position: relative;
    float: right;
    padding-left: 15px;
}
.ar_direction1 .day-night p::after {
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: 0;
}
.ar_direction1 .pack-home-detail p {
    direction: rtl;
}
.ar_direction1 .promotion-package {
    -moz-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 13% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 13% 100%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 13% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 13% 100%);
    text-align: right;
    padding: 120px 150px 120px 0px;
}
.summer-promo.ar_direction1 .container-fluid {
    padding-right: 0;
}
.ar_direction1 .promotion-package h2 {
    text-align: right;
}
.ar_direction1 .foot-contact ul li {
    padding: 0px 50px 0px 0px;
    text-align: right;
}
.ar_direction1 .foot-contact ul li i {
    left: inherit;
    right: 0;
    margin-right: inherit;
    margin-left: 10px;
}
.ar_direction1 .foot-links li:first-child a {
    padding-left: 20px;
}
.ar_direction1 .reserved {
    float: right !important;
}
.ar_direction1 .Powered {
    float: left !important;
}
.ar_direction1 .about-text .btn i {
    transform: rotate(180deg);
}
.calendar_flx .ui-datepicker-next:after {
    margin: -44px 6px 0px 6px;
}
.calendar_flx .ui-datepicker-prev:after {
    margin: -44px 5px 0px 8px;
}
.ar_direction1 .twise_sec i {
    right: inherit;
    left: 10px;
}
.ar_direction1 .firstSec_days {
    float: right;
}
.ar_direction1 .media_package {
    float: left;
}
.ar_direction1 .firstSec_days p {
    float: right;
}
.ar_direction1 .firstSec_days p:first-child {
    padding-right: 0 !important;
    margin-right: 0 !important;
    border-right: 0 !important;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #000;
}
.ar_direction1 .detailspage_tab .nav-tabs>li {
    float: right;
}
.modal-smsp .modal-header {
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #f3f3f3;
    color: #484848;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.modal-smsp .modal-content {
    border-radius: 0px;
}
.modal-smsp .modal-title {
    font-size: 16px;
    padding: 0;
    text-align: left;
    color: #484848;
}
.modal-smsp .close {
    font-size: 29px;
    margin-top: -8px;
}
.user_login p {
    padding: 0px;
    margin: 0px;
}
.user_login label {
    display: block;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 13px;
    text-transform: none;
    color: #000;
    text-align: left;
}
.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    color: #555;
    border: 1px solid #dddd;
    margin: 0px;
}
.viewradio_sec {
    padding: 10px 0px;
    display: flex;
}
.user_login label {
    display: block;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
}
.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.validation_sec {
    margin-bottom: 5px;
    position: relative;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}
.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}
.radio_view:hover input~.checkmark {
    background-color: #fc4f00;
    border: 1px solid #fc4f00;
}
#retrieve-booking {
    padding: 11px 0 !important;
    cursor: pointer;
    background: #006ace !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    width: 100%;
}
.radio_view input:checked~.checkmark {
    background-color: #fc4f00;
    border: 1px solid #fc4f00;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio_view input:checked~.checkmark:after {
    display: block;
}
.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.viewradio_sec {
    padding: 10px 0px;
    display: flex;
}
@media (max-width: 766px) {
    .ar_direction1 .top-email ul li {
        padding: 0 5px !important;
        border-left: none;
        float: right;
    }
    
    .menu-nav .navbar-nav>li {
        width: 100%;
        border-right: none;
    }
    
    .menu-nav .navbar-nav {
        display: block;
    }
}
@media (min-width: 768px) {
    .modal-smsp {
        width: 400px;
        margin: 10% auto !important;
    }
}
.flight-listing {
    margin-top: 0px !important;
}
.md-search {
    margin: 0px !important;
}
.htl-top {
    margin: 0px 0 14px;
}

/*login section*/
.profile-dropdown {
    width: auto;
    display: inline-block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0 0 8px;
    background: #f1f1f1;
    padding: 4px 5px 5px 5px !important;
    cursor: pointer;
    float: right;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}
.ar_direction1 .profile-dropdown img,
.ar_direction1 .profile-dropdown span {
    float: right;
}
.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.profile-dropdown input[type="checkbox"] {
    display: none;
}
.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}
.profile-dropdown input[type="checkbox"]:checked~img {
    background: #3a7fc1;
}
.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #fad41a;
}
.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
}
.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    width: auto;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    float: left;
    font-family: 'Lato', sans-serif;
}
.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #f1f1f1;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 9999;
    min-width: 150px;
}
.profile-dropdown ul li {
    border-bottom: 1px solid #dedede;
}
.profile-dropdown ul li:last-child {
    border-bottom: none;
}
.profile-dropdown ul li a {
    display: block;
    padding: 6px 10px;
    text-decoration: none;
    color: #444;
    font-size: 13px;
    text-align: left;
}
.profile-dropdown ul li a i {
    font-size: 13px;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}
.profile-dropdown ul li a:hover {
    background: #fff;
    color: #3a7fc1;
}
.profile-dropdown>label {
    position: relative;
    height: 25px;
    text-decoration: none;
    background: transparent;
    color: #292929;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 29px;
    display: inline-block;
}
.profile-dropdown>label i {
    color: #ffffff;
    font-size: 18px;
}
.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
#el_hotelDetail {
    float: inherit;
}
.retrive_booking_sec {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    padding: 8px 25px;
    border-left: 1px solid #FFF;
    cursor: pointer;
}
.ar_direction1 #myModal .checkmark {
    left: inherit;
    right: 0;
}
.ar_direction1 #myModal .radio_view {
    padding-left: 10px !important;
    padding-right: 27px !important;
}
.ar_direction1 .modal-smsp .modal-title {
    text-align: right;
}
.ar_direction1 #myModal .close {
    float: left !important;
}
.ar_direction1 #myModal .user_login label {
    text-align: right;
}
.cmn_conditionTxt h4 span {
    background: #fc4f00;
    color: #FFF;
    padding: 0px 7px;
    line-height: 13px;
    margin-right: 5px;
    border-radius: 2px;
}
@media (max-width: 730px) {
    .sl-nav li {
        border-left: none;
    }
    
    .retrive_booking_sec {
        border-left: none;
        width: 100%;
    }
    
    .profile-dropdown {
        width: 100%;
        border-left: none;
        border-right: none;
        border-top: 1px solid #FFF;
        padding: 11px 14px 10px 12px !important;
    }
    
    .social-media-top {
        display: none;
    }
    
    .top-right {
        border-top: none;
    }
    
    .top-bar .retrive_booking_sec {
        border-bottom: 1px solid #FFF;
    }
    
    .packages-main {
        padding-bottom: 30px;
    }
}
.flight-step-review {
    margin-top: 0px;
}
.ar_direction1 #signin-email,
.ar_direction1 #signin-password {
    padding: 10px 50px 10px 20px !important;
}
.ar_direction1 .cd-signin-modal__label.cd-signin-modal__label--image-replace {
    left: inherit !important;
    right: 15px;
}
.ar_direction1 .cd-signin-modal__hide-password {
    right: inherit;
    left: 0;
}
.ar_direction1 .cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 10px 50px 10px 20px !important;
}
.ar_direction1 .profile-dropdown ul li a i {
    margin: 0 0 0 .75rem;
}
@media screen and (max-width: 767px) {
    .customer-profile {
        margin-top: 13px !important;
    }
}
@media (max-width: 730px) {
    .sl-nav {
        float: left;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #FFF;
        padding: 0px 10px;
    }
    
    .top-right {
        text-align: center;
        border-top: 1px solid #fff;
        width: 100%;
        float: left;
    }
    
    .top-bar .container {
        padding: 0;
    }
    
    .ar_direction1 .sl-nav .dropdown {
        border-right: none;
    }
    
    .profile-dropdown {
        border-top: none !important
    }
    
    .ar_direction1 .profile-dropdown>label {
        float: left !important;
    }
}
@media (max-width: 767px) {
    .top-email ul li i {
        height: 28px !important;
        width: 28px !important;
        line-height: 26px !important;
    }
    
    .top-email ul li a {
        font-size: 15px !important;
    }
    
    .top-email ul li {
        font-size: 16px !important;
        border-right: none !important;
        margin-bottom: 3px;
    }
}
@media (max-width: 500px) {
    header .col-md-8.col-xs-8 {
        display: none;
    }
    
    header .col-xs-4 {
        width: 100%;
    }
    
    .logo {
        text-align: center !important;
    }
}

/*New css*/
.headerSec {
    width: 100%;
    background: #FFF;
    float: left;
    padding: 10px 0px;
    position: absolute;
    z-index: 9;
}
.logosec {
    float: left;
}
.headerRight {
    float: right;
    margin-top: 11px;
}
.headerRight ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.headerRight ul li {
    display: inline-block;
    margin-left: 10px;
}
.headerRight ul li a {
    font-size: 14px;
    color: #232323;
    font-weight: 500;
    display: block;
    font-family: 'Open Sans', sans-serif;
}
.headerRight ul li a i {
    margin-right: 5px;
    font-size: 15px;
    color: #1f8fce;
}
.footermain {
    width: 100%;
    float: left;
    background: #10252e;
    border-top: 1px solid #142b35;
    padding: 26px 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 14px;
}
.footermain a {
    color: #1f8fce;
}
#indexmain {
    padding-bottom: 40px;
}
@media only screen and (min-width:200px) and (max-width:550px) {
    .logosec {
        width: 100%;
        text-align: center;
    }
    
    .headerRight {
        width: 100%;
    }
    
    .headerRight ul li {
        margin-left: 0px;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #d2d2d2;
        padding: 6px;
    }
    
    .headerRight ul li:last-child {
        border-bottom: none;
    }
    
    .headerSec {
        position: relative;
    }
    
    .booking-form {
        padding: 4px 0;
    }
    
    .search-section .nav>li {
        width: 50%;
    }
    
    .search-section .tab-content .form {
        padding-top: 0;
    }
}