.cd-signin-modal {
    top: 0 !important;
}

#myNavbar .btn-clta {
    display: none;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    position: relative !important;
}
.call-to-action {
    width: 50%;
    float: right;
    display: inline-block;
    padding: 17px 0 0 20px;
    margin:0px;
}
.flxBox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ar_direction1 .call-to-action{
    width: 49%;
    padding: 17px 70px 0 0px;
}
.ar_direction1 .lag{
    float: left;
    margin: 0 0px 0 8px;
}
.ar_direction1 .navbar-nav>li {
    float: right;
}
.ar_direction1 .cd-main-nav{
    float: left;
}
.ar_direction1 .btn-clta{
    float: left;
}
.flx_package {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ar_direction1 .dropdown a svg{
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}
@media (min-width: 768px){
.navbar-header {
    float: left;
    width: 33%;
}
.ar_direction1 .navbar-header {
    float: left;
    width: auto;
}
}
@media (max-width: 1200px) and (min-width: 990px){
    .ar_direction1 .call-to-action {
        width: 56%;
        padding: 17px 7px 0 0px;
    }
    .navbar-header {
        float: left;
        width: 29%;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 11px;
    }
    .navbar-nav{
        padding-right: 0px;
    }
}
@media (max-width: 990px) and (min-width: 768px){
.call-to-action {
    width: auto;
    padding: 17px 0 0 1px;
}
.navbar-header{
    width: 180px;
}
.ar_direction1 .call-to-action {
    width: 80%;
    padding: 17px 7px 6px 0px;
}
.ar_direction1 #myNavbar{
    display: none !important;
}
.navbar-header {
    float: left;
    width: 26%;
}
.navbar-default .navbar-nav>li>a {
    font-size: 11px;
}
.navbar-nav{
    padding-right: 0px;
}
.navbar-brand img {
    width: 79%;
    float: right;
}
.cd-main-nav__item.cd-main-nav__item--signin, .btn-clta, .dropdown a{
    font-size: 10px;
}
.cd-main-nav, .profile-dropdown, .btn-clta, .lag{
    float: left;
}
}




@media screen and (max-width: 767px) {
    .add-btn {
        margin: -12px auto !important;
    }
    #offer_section .item {
        margin-top: 0px;
    }
}
@media (min-width:200px) and (max-width:768px) {
    .flxBox{
        display: block;
    }
    .ar_direction1 .navbar-toggle{
        float: left;
    }
    .ar_direction1 .navbar-brand{
        float: right;
    }
    .ar_direction1 .cd-main-nav, .profile-dropdown,.btn-clta, .lag{
        float: left;
    }
    .ar_direction1 .call-to-action{
        width: 100%;
        padding: 17px 0px 0 0px;
        display: flex;
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        padding: 9px 12px 10px 12px !important;
        border-radius: 0;
        margin-left: 8px;
        background: #3a7fc1;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        display: inline-block;
        height: auto;
        line-height: normal;
    }
    .cd-main-nav__list {
        top: 34px !important;
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        position: relative;
    }
    .sorting .dropdown {
        width: 100%;
    }
    .call-to-action{
        width: 100% !important;
        margin-bottom: 7px;
        padding-left: 0px;
        display: flex;
    }
    .cd-main-nav__item.cd-main-nav__item--signin{
        width: 100%;
        text-align: center;
        margin-left: 0px !important;
    }
    .cd-main-nav__list li{
        width: 100%;
    }
    .cd-main-nav{
        width: 25% !important;
        padding: 0 1px;
    }
    .btn-clta{
        width: 25%;
        text-align: center;
        margin: 0px;
    }
    .lag{
        width: 25%;
        padding: 0 1px;
        margin: 0px;
    }
    .currency .dropdown, .lag .dropdown{
        width: 100%;
    }
    .dropdown a{
        width: 100%;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 5px 21px 5px 10px;
    }
    .dropdown a svg {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .ar_direction1 .dropdown a svg{
        right: initial; 
        left: 7px;
    }
    .ar_direction1 .dropdown a{
        text-align: right;
        padding: 5px 10px 5px 10px;
    }
    .ar_direction1 .cd-main-nav__item.cd-main-nav__item--signin{
        font-size: 11px;
    }
    }
    @media (min-width:200px) and (max-width:416px) {
        .ar_direction1 .cd-main-nav__list{
            top: 40px !important;
        }
        .ar_direction1 .cd-main-nav__item.cd-main-nav__item--signin{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .lang,
        .currency {
            margin: 0 0 2px 3px !important;
            width: 100% !important;
        }
        .dropdown {
            width: 100%;
        }
        .dropdown a {
            width: 100%;
        }
        .btn-clta {
            margin: 0 0 2px 0 !important;
            width: 100%;
        }
        .cd-main-nav__list {
            margin-bottom: 3px;
            width: 100%;
        }
        .cd-main-nav__item.cd-main-nav__item--signin {
            margin-left: 0px !important;
        }
        .cd-main-nav {
            width: 33.3% !important;
        }
        .cd-main-nav__list li {
            width: 100%;
        }
        .cd-main-nav__item {
            width: 100%;
            text-align: center;
        }
        #main_banner {
            padding-top: 280px;
        }
        
        .call-to-action {
            width: 100%;
        }
        .lang,
        .currency {
            margin: 0px !important;
            width: 33% !important;
            float: left;
        }
        .dropdown a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            padding: 5px 21px 5px 10px;
        }
        .dropdown a svg {
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .currency {
            padding-right: 1px;
        }
        
        #main_banner {
            padding-top: 99px;
        }
        .search-section .form-control {
            height: 48px;
        }
        .calendar {
            height: 48px;
        }
        .search-button {
            height: 48px;
        }
        .change-destination {
            top: -20px;
        }
        .custom-select-v3::before {
            top: 4px;
        }
        .travelerSelectWindow {
            width: 100%;
            top: 48px;
        }
        .trvFld .custom-select-v3::before {
            top: 15px;
            right: -7px;
        }
    }
    .ar_direction1 .dropdown-menu a{
        text-align: right;
    }
    .ar_direction1 .dropdown a span{
        margin-right: 0px !important;
        margin-left: 3px;
    }
    .ar_direction1 .list-block::after{
        display: none;
    }
    .ar_direction1 .list-block>ul li a, .ar_direction1 .list-block2>ul li a{
        padding: 5px 20px 5px 0px;
    }
    .ar_direction1 .list-block>ul li a::before, .ar_direction1 .list-block2>ul li a::before{
        left: initial;
        right: 6px
    }
    .ar_direction1 .store-btn{
        float: left;
    }
    .ar_direction1 .list-block2>ul li{
        margin-right: 0px !important;
        margin-left: 2% !important;
    }
    @media (min-width:200px) and (max-width:742px) {
        .ar_direction1 .btn-clta{
            display: none;
        }
        .cd-main-nav {
            width: 33.3% !important;
        }
        .lang, .currency {
            margin: 0px !important;
            width: 33% !important;
            float: left;
        }
    }
    @media (min-width:200px) and (max-width:530px) {
        .call-to-action #modal_retrieve {
            display: none;
        }
        #myNavbar .btn-clta {
            display: inherit;
            border: none;
            background: #f8f8f8;
            width: 100%;
            text-align: left;
        }
        .scrollToTop{
            display: none !important;
        }
    }
    .ui-datepicker-calendar th{
        text-align: center;
    }
    #ui-datepicker-div .ui-datepicker-group-first {
        border-right: 1px solid #f2f2f2;
    }

.customer-profile {
    padding: 20px 0 !important;
}

@media screen and (max-width: 767px) {
    .customer-profile {
        margin-top: 0 !important;
    }
}

#div_bookinginfo {
    margin-top: 70px;
}




#onboarding input[type="text"], 
#onboarding input[type="email"], 
#onboarding input[type="tel"], 
#onboarding input[type="number"],
#onboarding input[type="password"] {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 8px 10px;
    margin: 15px 0 !important;
    font-size: 16px;
    border: 1px solid #d4d4d4;
}

#onboarding input[type="password"], #onboarding input[type="email"] {
    margin-bottom: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

#onboarding .form-control {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: normal;
    margin-bottom: 20px;
    padding: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    box-shadow: none;
    color: #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}


.btn a, #onboarding input[type="submit"] {
	display: inline-block;
	color: #fff !important;
	padding: 12px 45px;
	border-radius: 5px;
	vertical-align: middle;
    text-transform: capitalize;
    margin-top: 15px;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
#onboarding input[type="submit"]:hover {
	background-color: #fff;
	color: #333333;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.modal.fade .modal-dialog{
    margin-top: 70px;
    width: 60%;
}
#onboarding .modal-content{
    background: #004f87;
    overflow: hidden;
}

#onboarding .modal-header{
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
#onboarding .close{
    color: #fff;
    opacity: 1;
    font-weight: 400;
    font-size: 25px;
}
#onboarding .close:hover{
    color: #fcd228;
    opacity: 1;
}
#onboarding .modal-body{
    overflow: hidden;
    padding: 50px 30px;
}
.model-text {
    float: left;
    width: 50%;
    text-align: left;
}
.model-text h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    padding: 0;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: unset !important;
}
.model-text h3  span{
    font-weight: 400;
}
.model-text ul li {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
    font-weight: 400;
    position: relative;
    padding-left: 27px;
    font-family: 'Open Sans', sans-serif;
}

.model-text ul li i {
    /* margin-right: 10px; */
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 19px;
}

.model-text ul {
    list-style: none;
    padding: 0;
}

.model-form{
    background: #fff;
    width: 48%;
    float: right;
    padding: 15px;
    border-radius: 5px;
    
}

.model-form h3{
    color: #004f87;
    padding: 0;
    font-size: 28px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    text-transform: unset !important;
}
.model-form hr{
    height: 4px;
    background: #0094d9;
    margin: 10px 0 0 0;
    width: 20%;
    border: none;
}


.model-form ul li{
    float: left;
    width: 49%;
    height: 45px;
    text-align: center;
    position: relative;
}

.fb-model{
    background: #21509b;
    color: #fff;
    margin: 15px 0;
}
.fb-model:hover{
    background: #133978;
}
.google-model{
    background: #de4e43;
    color: #fff;
    float: right!important;
    margin: 15px 0;
}
.google-model:hover{background: #cf3e33;}
.fb-model i, .google-model i{
    position: absolute;
    left: 0;
    top: 0;
    height: 45px;
    width: 45px;
    background: rgba(255,255,255,0.1);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 43px;
}
.fb-model a, .google-model a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    display: block;
}

.fb-log, .gp-log{
    text-align: center;
    display: block;
    margin: 10px 0;
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-top: 15px;
}
.fb-log{padding-left: 0;}
.gp-log{padding-right: 0;}
.model-form .form-control{
    font-family: 'Open Sans', sans-serif;
}

.model-form ul{
    padding: 0;
    list-style: none;
}

.model-form ul li a {
    padding-left: 30px;
}

.model-form input[type="submit"]{
    width: 100%;
    background: #0094d9;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    
}
.model-form input[type="password"]{
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.model-form input[type="checkbox"]{
    margin-top: 15px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
}
.model-form input[type="submit"]:hover{
    background: #004f87 !important;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;
}

.model-form select{
    float: left;
    width: 30%;
    border-radius: 3px;
    padding: 8px 10px;
    background: #fff !important;
    margin: 15px 0 !important;
    border: 1px solid #d4d4d4;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 42px;
}
.name-se{
    float: right!important;
    width: 68% !important;
}
.forgot-pass{
    text-align: center;
    display: block;
    font-size: 16px;
    color: #004f87;
    font-weight: 600;
    margin-top: 15px;
     font-family: 'Open Sans', sans-serif;
}
.cr-ac{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #333333;
    padding: 8px 0;

}
.cr-ac p{
    color: #3b3b3b !important;
}
.cr-ac a{
    color: #004f87;
}
.cr-ac a:hover, .forgot-pass:hover{
    color: #0094d9;
}

.btn-blue{
    width: 100%;
    background: #0094d9;
    color: #fff;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 18px;
    border: none;
}
.btn-blue:hover{
    background: #004f87;
}



@media(max-width:450px){
    .modal.fade .modal-dialog{
        width: 90%;
        transform: translate(3%,0px);
    }
}

@media (max-width: 991px) {
    .modal.fade .modal-dialog {
        margin-top: 110px;
    }
}

@media (max-width: 767px){
    .model-text {
        display: none;
    }
}

@media (max-width: 767px) {
    .model-form {
        width: 100%;
        float: none;
    }
}

@media (max-width: 767px) {
    h3 {
        font-size: 24px;
        line-height: 40px;
        padding: 10px 0;
    }
}

@media (max-width: 500px){
    .cr-ac, .forgot-pass {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .model-form ul li {
        width: 100%;
        float: none!important;
        clear: both;
    }

    .model-form ul
    {
        padding: 0;
    }
}

#el_hotelDetail section {
    padding: 80px 0;
}