.section {
	padding: 50px 0;
	overflow: hidden;
}
/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #146194;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #1c1c1c;
	color: #fff;
}

header{
    background: #146194;
}
.relative{position: relative;}
header .logo img{
    background: #fff;
    padding: 10px;
}
.top-contact{
    margin-top: 28px;
    float: left;
}
.top-contact li{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 0 20px;
    border-right: 1px solid #8ab0ca;
}
.top-contact li i{padding-right: 10px;}
.top-contact li a{
    color: #fff;
    font-size: 18px;
}
.top-contact li a:hover{color: #68bcf4;}

.corporate-btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 2s ease-in-out infinite;
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
 0% {
 transform: translatex(0px);
}
 50% {
 transform: translatex(-20px);
}
 100% {
 transform: translatex(0px);
}
}



.lang, .currency {
	float: left;
    margin-left: 15px;
}
.lang .bootstrap-select.fit-width {
	width: 90px !important;
}

.lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn, .currency ul {
	width: 100%;
	padding-right: 20px;
	border-radius: 0;
	font-size: 16px;
    color: #fff;
	padding: 7px 20px 7px 8px;
    background-color: transparent;
    border: none;
    margin-top: 22px;
}
.lang .bootstrap-select > .btn:hover, .currency .bootstrap-select > .btn:hover {
	color: #fff;
    border: none;
    background-color: transparent!important;
}
.lang .bootstrap-select.btn-group .dropdown-menu, .currency .bootstrap-select.btn-group .dropdown-menu {
	background: #fff;
	border-radius: 0;
	top: 95%;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a, .currency .bootstrap-select.btn-group .dropdown-menu a {
	color: #333;
	background: transparent !important;
	padding: 5px 5px;
	border: 1px solid #d1d1d1;
	margin: 4px 5px;
	font-size: 16px;
}
.currency .btn-default.active.focus, .currency .btn-default.active:focus, .currency .btn-default.active:hover, .btn-default:active.focus, .currency .btn-default:active:focus, .currency .btn-default:active:hover, .currency .open > .dropdown-toggle.btn-default.focus, .currency .open > .dropdown-toggle.btn-default:focus, .open > .currency .dropdown-toggle.btn-default:hover{
    background-color: transparent!important;
    border: none!important;
}
.currency .bootstrap-select .dropdown-toggle:focus{
    outline: none!important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:hover, .lang .bootstrap-select.btn-group .dropdown-menu li a:focus, .currency .bootstrap-select.btn-group .dropdown-menu a:hover, .currency .bootstrap-select.btn-group .dropdown-menu a:focus {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #e8e8e8 !important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:active, .currency .bootstrap-select.btn-group .dropdown-menu li a:active {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #f1f1f1;
}
.lang .btn-group.open .dropdown-toggle, .currency .btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}



/*==============================Navigation================================*/

.header-bottom{
    background: #fff;
}
.navbar-default {
	border: none;
	z-index: 9;
	background: #fff;
	position: relative;
    margin: 0;
    -webkit-box-shadow: none !important;
	box-shadow: none;
}

.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
    float: left !important;
}

.nav>li {
	position: relative;
	display: block;
	color: #000;
	font-size: 20px;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 28px 40px;
	position: relative;
	font-weight: 500;
}

.nav>li>a:first-child {
    padding-left: 0;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: -40px 0 0 !important;
}

.top-nav-collapse {
	padding: 0;
	top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #146194;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #1c1c1c;
	font-size: 20px;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #146194;
}
.navbar-default .navbar-nav>li>a::after {
    background: none !important;
}
.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}

.buttons{
    text-align: left;
}
.buttons .btn{
    font-size: 18px;
    color: #146194;
    border: 1px solid #146194;
    display: inline-block;
    text-transform: uppercase;
    padding:10px 30px; 
    border-radius: 0;
    font-weight: 500;
    margin: 14px 5px;
    
}
.buttons .login-btn{margin-left: 0;}
.buttons .login-btn{
    border: 1px solid #1c1c1c;
    color: #1c1c1c;
}
.buttons .btn:hover{
    background: #146194;
    color: #fff;
}
.buttons .login-btn:hover{
    background: #1c1c1c;
    color: #fff;
}


/* Footer CSS BOF
=================================================== */
footer {
	padding:0 !important;
}
.footer {
	background: #fff;
	display: block;
	width: 100%;
	padding: 60px 0;
	background-size: cover;
   position: relative;
	z-index: 999;
	padding-bottom:0;
}

.footer::before{
    content: url(/flyonline/images/pattern-left.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.footer::after{
    content: url(/flyonline/images/pattern-right.png);
    position: absolute;
    right: 0;
    bottom: -7px;
    z-index: -1;
}


.footer .footer-in{
    overflow: hidden;
     border-bottom: 1px solid #d2d2d2;
    border-top: 1px solid #d2d2d2;
}

.newsletter {
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 60px;
}

.newsletter h3 {
	color: #1c1c1c;
	font-size: 28px;
	font-weight: 600;
	padding: 0;
}

.newsletter p {
	color: #1c1c1c;
	letter-spacing: 0;
	font-size: 16px;
}

.input-form {
	position: relative;
	margin-top: 9px;
}

.input-form input[type="email"] {
	margin: 0;
	border: 1px solid #cdcdcd;
	height: 50px;
	padding: 0 20px;
}

.input-form button {
	background: #146194;
	color: #fff;
	font-size: 26px;
	border: none;
	padding: 0 30px;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
}

.input-form button:hover {
	background: #1c1c1c;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.footer-border {
	border-right: 1px solid #d2d2d2;
	min-height: 362px;
	margin:30px 0;
}

.footer-border:last-child {
	border-right: none;
}

.footer .ftr-logo {
	text-align: left;
}

.footer .about-footer p {
	font-size: 15px;
	color: #1c1c1c;
	line-height: 25px;
	padding: 25px 0;
}


/* Footer Social CSS BOF
=================================================== */

.footer .social {
	display: inline-block;
	list-style: outside none none;
	width: auto;
}

.footer .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}

.footer .social li a {
	color: #1c1c1c;
	display: block;
	height: 41px;
	line-height: 38px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 41px;
	background: #ffffff;
	font-size: 20px;
	border: 2px solid #1c1c1c;
	border-radius: 50%;
}

.footer .social li a:hover {
	background: #146194;
	color: #fff;
    border-color: #146194;
}

.contact-footer,
.quick-link {
    padding: 30px 0;
    padding-bottom: 15px;
}

.contact-footer h3,
.quick-link h3 {
	font-size: 28px;
	color: #1c1c1c;
	font-weight: 600;
	padding: 0;
    margin-bottom: 30px;
    margin-top: 0px;
}

.contact-footer ul li {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 5px;
}

.contact-footer ul li:last-child {
	margin-bottom: 0;
}

.contact-footer ul li .fa-map-marker {
	font-size: 30px;
}

.contact-footer ul li i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 22px;
	color: #1c1c1c;
}

.contact-footer ul li h4 {
	font-size: 20px;
	font-weight: 600;
	color: #146194;
	text-transform: capitalize;
	letter-spacing: 0;
    padding: 0;
    margin: 0px;
}

.contact-footer ul li p,
.contact-footer ul li a {
	font-size: 16px;
	line-height: 24px;
	color: #1c1c1c;
	padding: 5px 0;
	display: block;
}

.contact-footer ul li a:hover {
	color: #146194;
}

.quick-link ul li {
	font-size: 16px;
	margin-bottom: 7px;
}

.quick-link ul li i {
	color: #1c1c1c;
}

.quick-link ul li a {
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 400;
	padding-left: 15px;
}

.quick-link ul li a:hover {
	color: #146194;
}

.ftr-btm {
	background: #146194;
	padding: 10px 0;
	border-top: 1px solid #4381a9;
}

.copyright {
	color: #ffff;
	font-size: 16px;
	font-weight: normal;
	padding: 10px 0;
	font-weight: 400;
}

.powered-by {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	float: right;
	margin-top: 8px;
}
.card-img{
    text-align: center;
    margin-top: 6px;
}
@media(max-width:400px){
    .buttons .btn{
        margin: 15px 2px;
        padding: 10px 8px;
        font-size: 12px;
    }
}


@media(max-width:1200px) {
    .buttons .btn{
      font-size: 10px;
    } 
}
@media(max-width:1200px) {
    .nav > li > a{padding: 28px 25px;}
}
/* @media(max-width:991px) {
    .logo{text-align: center;}
    .top-contact{display: none;}
    .lang, .currency{
        float: none;
        text-align: center;
    }
    header .logo img{
        padding: 15px;
        border-radius: 0 0 5px 5px;
    }
	.footer .social li {
		padding: 0 10px 0 0;
	}
    .buttons .btn{
        padding: 10px;
        font-size: 15px;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 16px;
        padding: 28px 9px;
    }
} */
@media(max-width:767px) {
    .navbar-toggle {
		background-color: #146194;
		border: none;
		border-radius: 0;
		margin-right: 0;
		padding: 12px 14px;
		border-radius: 3px;
        float: left;
        margin: 15px 0 0 0;
	}
    .navbar-default{
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        background-color: transparent;
    }
    .buttons{
        
        text-align: right;
    }
    
    .buttons .btn{
        position: relative;
        z-index: 99;
        width: 100%;
    }
    
    
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		width: 27px;
		height: 3px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #000000;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
		margin-top: 15px;
        float: none !important;
        margin-left: -15px;
        width: 100%;
        background: #f8f8f8;
	}
	.nav>li {
		padding: 0;
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		padding: 15px 10px;
		background: #146194;
		border-bottom: 1px solid #fff;
        font-size: 16px;
        padding-left: 10px;
       
	}
	.nav>li>a {
		padding: 0;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		border-bottom: 1px solid #fff!important;
		/* background: #1c1c1c;
        color: #fff; */
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		position: relative;
		margin: 0!important;
		padding: 10px 0;
	}
	.booking-form {
		position: relative;
		bottom: 0;
	}
	.navbar-nav>li>a {
		font-size: 16px;
	}
    .footer::before{display: none;}
    .footer::after{display: none;}
    .footer{padding: 30px 0;}
    .footer-border{
        min-height: auto;
        border-right: none;
        border-bottom: 1px solid #d2d2d2;
        margin: 0;
    }
    .footer-border:last-child{border-bottom: none;}
    .footer .footer-in{border-bottom: none;}
    .contact-footer h3, .quick-link h3{margin-bottom: 15px;}
    .newsletter{margin-bottom: 30px;}
    .powered-by{float: none;}
    .card-img{margin: 15px 0;}
    .navbar-default .navbar-nav > .active > a:hover{
        background: #1c1c1c;
        color: #fff;
    }
    .lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn{margin-top: 0;}
    .currency .bootstrap-select.fit-width {margin-bottom: 0!important;}
}

/* Sign IN Popup */

/*sing in popup start*/
@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    background: none !important;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        background: none;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #FFF;
    color: #000 !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/flyonline/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/flyonline/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/flyonline/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
    color: #000 !important;
    font-size: 13px !important;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #d4d4d4;
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: var(--primary-color) !important;
    color: #FFF;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    border-radius: 0px;
    font-weight: normal !important;
}

.cd-signin-modal__input[type=submit]:hover {
    background: var(--primaryDark-color) !important;
    color: #FFF !important;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #006ace;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #343642;
    text-decoration: none;
    cursor: pointer;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
        margin: 0;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: #020202;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #000;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/flyonline/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

/*singin popup end*/


.modal-content{
    border-radius: 0;
}
.modal-header{
    padding: 13px 15px;
}
.modal-title{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
}
.modal-header .close {
    margin-top: -1px;
    color: #000;
    opacity: 0.8;
}
.user_login p label {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
.viewradio_sec{
    width: 100%;
    float: left;
}
.validation_sec {
    position: relative;
    margin-bottom: 10px;
}
.validation_sec input {
    width: 100%;
    height: 44px;
    padding: 10px;
    border: 1px solid #d4d3d4;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background: #fcfcfc;
    border-radius: 3px;
}
.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    background: rgba(215, 102, 102, 0.9);
    padding: 7px 14px;
    z-index: 2;
    color: #FFF;
    font-size: 14px;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}
.btn-submit{
    width: 100%;
    text-align: center;
}
.btn-submit button{
    width: 100%;
    height: 44px;
    margin: auto;
    background: #006ace !important;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.viewradio_sec .radio_view {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.radio_view input:checked~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #006ace;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



/* Profile */

.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px !important ;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin: 14px 104px 0 0px !important;
    /* background: #ffffff; */
    /* padding: 29px 8px 28px 9px; */
    cursor: pointer;
    border: none;
    background: #FFFF;
    /* right: 99px; */
    height: 48px !important;

}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #00a0c6;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #000;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 26px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    margin-top: 2px;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 30px;
    float: left;
    color: #000;
    font-family: 'Poppins', sans-serif;
    width: 110px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #146194;
    position: absolute;
    top: 101%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    padding-bottom: 4px;
}
.profile-dropdown ul li{
    border-bottom: 1px solid #484848;
}
.profile-dropdown ul li a {
    display: block;
    padding: 11px 10px !important;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #616161;
}

.profile-dropdown>label {
    position: relative;
    height: 30px;
    text-decoration: none;
    background: transparent;
    color: #333;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 33px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}
.customer-profile{
    margin-top: 0px;
}
.flight-step-review{
    margin-top: 1px;
}
.flight-listing{
    border-top: 1px solid #ddd;
}

/* --------------------------------------------- */


ol,
ul,
li {
	list-style: none;
}
.footer .footer-in ul{
padding: 0;
}
.footer .container .newsletter div,
.footer .container .newsletter h3,
.footer .container .newsletter p
{
    margin: 0px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select,
textarea {
	      font-family: 'Poppins', sans-serif;
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	/* margin: 10px 0; */
	font-size: 16px;
	border: 1px solid #d4d4d4;
}
.email {
    height: 50px !important;
    margin: 0 !important;
}

a {
	text-decoration: none;
	color: #5e6d77;
}
a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}
.head{
    background: #146194;
}
.mainHead{
    font-family: 'Poppins', sans-serif;
    background: #FFF !important;
}


/*==============================Navigation================================*/

/* .header-bottom{
    background: #fff;
}*/
.navbar-default {
	border: none;
	z-index: 9;
	background: #fff;
	position: relative;
    margin: 0;
    -webkit-box-shadow: none !important;
	box-shadow: none;
}

/* Currency */
 .dropdown-menu {
border-radius: 0px;
padding: 5px 4px;         
}

.currency .dropdown-menu a {
    padding: 5px 0;
    width: 100%;
    float: left;
    font-size: 12px;
    color: #070707;
    border-bottom: 1px solid #dadada;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 1px;
    text-decoration: none;
    margin-bottom: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-left: 5px;
}

.currency ul li a{
    color: #FFF;
}
#dropdown09{
    background-color:#2f6194 ;
    border: none;
    font-size: 14px;
    float: none;
    cursor: pointer;
} 

.email{
    height: 50px !important;
    margin: 0 !important;
}
.md-search {
    margin: 0 0 -68px;
}
.nav>li {
    padding: 0px;
}


@media (min-width:1024px) and (max-width:1200px) {
    .nav>li>a {
        padding: 28px 20px;
    }
    .buttons .btn {
        margin: 14px 2px;
    }
}
@media(max-width:991px) {
    .logo{text-align: center;}
    .top-contact{display: none;}
    .lang, .currency{
        float: none;
        text-align: center;
    }
    header .logo img{
        padding: 15px;
        border-radius: 0 0 5px 5px;
    }
    .buttons .btn{
        padding: 10px;
        font-size: 15px;
        margin: 14px 2px;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 16px;
        padding: 28px 9px;
    }
    .currency .dropdown {
        float:none;
    }
}
@media(max-width:767px) {
  
    .buttons .btn{
        width: 100%;
        margin: 10px 2px;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 16px;
        padding: 15px 10px;
        position: relative;
    }
    
}
