<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elite Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/tabs02.css" rel="stylesheet" type="text/css" />
    <style>
            [v-cloak] {
                display: none;
            }
        </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>
    <div id="contactuspage" v-cloak>
        <div class="inner-banners" :style="{ background: 'url(' +banner.Banner_Image+ ')'}">
            <div class="container">
                <h1>{{banner.Banner_Title}}</h1>
                <p><a href="/Elitetravel/index.html">Home ></a> Contact Us</p>
            </div>
        </div>

        <div class="contactus-sec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-contact">
                        <h5>{{pagecontent.Title}}</h5>
                        <p>{{pagecontent.Description}}</p>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="contact-txt">
                                    <input type="text" :placeholder="form.Name_Placeholder" v-model="cntusername">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="contact-txt">
                                    <input type="email" :placeholder="form.Email_Placeholder" v-model="cntemail">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="contact-txt">
                                    <input type="text" :placeholder="form.Phone_Placeholder" v-model="cntcontact">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="contact-txt">
                                    <input type="text" :placeholder="form.Website_Placeholder" v-model="cntwebsite">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="contact-txt">
                                    <textarea :placeholder="form.Message_Placeholder" v-model="cntmessage"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="contact-txt">
                                    <button v-on:click="sendcontactus">{{form.Button_Label}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 contact-info">
                        <h4>Contact Info</h4>
                        <ul>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <span>{{contact.Phone_Label}}:</span> {{contact.Phone_Number}}
                            </li>
                            <li>
                                <i class="	fa fa-envelope-o"></i>
                                <span>{{contact.Email_Us_Label}}:</span> {{contact.Email}}
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span>{{contact.Address_Label}}:</span> {{contact.Address}}
                            </li>
                        </ul>
                        <div class="mediaIcons">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48888.478104787864!2d54.706799582054146!3d24.393202322143193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e440f723ef2b9%3A0xc7cc2e9341971108!2sAbu%20Dhabi%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1575611811082!5m2!1sen!2sin"
                    height="300" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
        </div>


    </div>

    <footer :key="key">
        <footeritem :key="key" :item="5"></footeritem>
    </footer>


    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="servicejs/Contact-Us.js"></script>
    


</body>

</html>