<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elite Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/tabs02.css" rel="stylesheet" type="text/css" />
    <style>
            [v-cloak] {
                display: none;
            }
        </style>
</head>
<body>

<header>
        <headeritem></headeritem>
</header>
<div id="Holidaydetails" v-cloak>
<div class="inner-banners" :style="{ background: 'url(' +banner.Banner_Image+ ')'}">
    <div class="container">
        <h1>{{banner.Banner_Title}}</h1>
        <p><a href="/Elitetravel/index.html">{{pagecontent.Breadcrum1}} ></a> {{pagecontent.Breadcrumb2}}</p>
    </div>
</div>
<div class="packagelist">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right ">
                    <div class="bookingHead">
                            <div class="booking-price">AED {{maincontent.Price}}</div>
                            <div class="per-person">Per Person</div>
                        </div>
                        <div class="package-booking">
                            <label>{{booking.Full_Name_Label}}</label>
                            <div class="packagefields">
                                <input type="text" :placeholder="booking.Full_Name_Placeholder" v-model="cntusername">
                            </div>
                            <label>{{booking.Email_Address_Label}}</label>
                            <div class="packagefields">
                                <input type="email" :placeholder="booking.Email_Address_Placeholder" v-model="cntemail">
                            </div>
                            <label>{{booking.Phone_Number_Label}}</label>
                            <div class="packagefields">
                                <input type="text" :placeholder="booking.Phone_Number_Placeholder" v-model="cntcontact">
                            </div>
                            <label>{{booking.Tour_Date_Label}}</label>
                            <div class="packagefields">
                                    <input type="text" id="from" placeholder="Select Date"/>
                                <!-- <input type="date" v-model="cntdate"> -->
                            </div>
                            <label>{{booking.Number_of_Person_Label}}</label>
                            <div class="packagefields">
                                <input type="text":placeholder="booking.Number_of_Person_Placeholder" v-model="cntperson">
                            </div>
                            <button v-on:click="sendbooking">{{booking.Button_Label}}</button>
                        </div>
                   
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mainpackage">
                 <h4>{{maincontent.Title}}</h4>
                 <div class="package_days">
                     <!-- <h3>{{item.}}</h3> -->
                     <!-- <p>Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art party Pitchfork selfies master cleanse.</p> -->
                        <img :src="maincontent.Image" alt="package">
                        <p class="wp-caption-text">{{maincontent.Image_Caption}}</p>
                    </div>
                    <div class="package_days" v-for="item in maincontent.Itinerary">
                            <p v-html="item.Itinerary"></p>                               
                    </div>
                    <!-- <div class="package_days">
                            <h3>Days 3</h3>
                            <p>Foam padding in the insoles leather finest quality staple flat slip-on design pointed toe off-duty shoe. Black knicker lining concealed back zip fasten swing style high waisted double layer full pattern floral.</p>                               
                    </div> -->
                    <div class="review_sec">
                        <h4>{{review.Reviews_Title}}</h4>
                        <ul>
                            <li v-for="review in allReview">
                                <div class="review_author">
                                    <img src="images/pic.png" alt="avatar">
                                </div>
                                <div class="review_description">
                                    <h5>{{review.Name}}</h5>
                                    <div class="star-rating5">
                                    <ul>
                                            <li v-for="rowindex in 5"
                                              :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                                              <i class="fa fa-star"
                                                :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                                            </li>
                                          </ul>
                                        </div>
                                    <p><span>{{review.Date}}</span></p>
                                    <p>{{review.comment}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="write_review">
                        <h4>{{review.Write_A_Review_Label}}</h4>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>Rating<span>*</span></label>
                                    <div class="star-rating5">
                                            <ul class="rating" id="ratingID">
                                              <li><i class="fa fa-star" aria-hidden="true" @click="userRating(1)"></i></li>
                                              <li><i class="fa fa-star" aria-hidden="true" @click="userRating(2)"></i></li>
                                              <li><i class="fa fa-star" aria-hidden="true" @click="userRating(3)"></i></li>
                                              <li><i class="fa fa-star" aria-hidden="true" @click="userRating(4)"></i></li>
                                              <li><i class="fa fa-star" aria-hidden="true" @click="userRating(5)"></i></li>
                                            </ul>
                                          </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label>{{review.Name_Label}}<span>*</span></label>
                                <input type="text" class="review-text" v-model="username">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label>{{review.Email_Label}}<span>*</span></label>
                                <input type="email" class="review-text" v-model="email">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label>{{review.Phone_number_Label}}<span>*</span></label>
                                <input type="text" class="review-text" v-model="contact">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <label>{{review.Comment_Label}}<span>*</span></label>
                                    <textarea class="review-textarea" v-model="comment"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button v-on:click="sendReview">{{review.Button_Label}}</button>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
       
    </div>
</div>


</div>
<footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>




    





<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/custom.js"></script>

    <script src="js/jquery-ui.min.js"></script>
    <script src="servicejs/HolidayDetails.js"></script>
   
    
</body>
</html>