<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elite Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/tabs02.css" rel="stylesheet" type="text/css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

<header>
        <headeritem></headeritem>
</header>
<div id="holidayPackages" v-cloak>

<div class="inner-banners" :style="{ background: 'url(' +banner.Banner_Image+ ')'}">
    <div class="container">
        <h1>{{banner.Banner_Title}}</h1>
        <p><a href="/Elitetravel/index.html">Home ></a> Package List</p>
    </div>
</div>
<div class="packagelist">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="package-modify">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding5"><h6>Advanced Search</h6></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="modify-txt destinationIcon">
                                    <input type="text" placeholder="Destination, city" v-model="search">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="modify-txt traveldateIcon">
                                    <input type="text" placeholder="Travel Days" v-model="daysearch">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="modify-txt sortIcon">
                                    <div class="modify-txt1">
                                            <select v-model="sortBy">
                                                    <option value="" disabled>Sort By</option>
                                                    <option value="price_low">Price Low to High</option>
                                                    <option value="price_high">Price High to Low</option>
                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="pack in filteredList">
                        <a href="#" @click="getmoreinfo(pack.More_details_page_link)">
                    <div class="package_list"> 
                        <div class="packageImg">
                            <img :src="pack.Image" alt="package">
                            
                            <span>AED {{pack.Price}}</span>
                        </div>
                   
                        <div class="package-text">
                            <div class="pck_desti">
                                <h5>{{pack.Title}}</h5>
                                <p>{{pack.Destination}}</p>
                            </div>
                            <div class="pck-btn-sec">
                                <button>{{pack.Book_Now_Label}}</button>
                                <div class="pck-right">
                                    <div class="star-rating">
                                        <i  v-for="rowindex in 5" v-bind:class="[getrating(pack.More_details_page_link)>=rowindex?'fa fa-star':'fa fa-star-o' ]" class="fa fa-star"></i>
                                        <!-- <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i> -->
                                    </div>
                                    <div class="days"><i class="fa fa-clock-o"></i> {{pack.Days}} {{pack.Days_Label}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <div v-if="filteredList.length === 0"><p >No Results Found</p></div>
            </div>
        </div>
    </div>


</div>
<footer :key="key">
        <footeritem :key="key" ></footeritem>
    </footer>




    





<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="servicejs/holiday-packages.js"></script>
    
     
</body>
</html>