<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elite Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/tabs02.css" rel="stylesheet" type="text/css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="pageload">
        <span class="Centerer"></span>
        <img src="/Elitetravel/images/loader.svg" alt="load">
    </div>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="indexmain" v-cloak>
        <section class="banner">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->


                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item" v-for="(ban,indx) in banner" :class="{ 'active': parseInt(indx) == 0 }">
                        <img :src="ban.Image" alt="banner1" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>{{titleComponent.Banner_Title}}</h3>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <img src="images/banner1.png" alt="banner2" style="width:100%;">
                        <div class="carousel-caption">
                            <h3>{{titleComponent.Banner_Title}}</h3>
                        </div>
                    </div> -->

                </div>

            </div>
        </section>


        <!-- search area -->
        <section class="search-form">
            <div class="tabs animated-fade">
                <div class="container">
                    <ul class="tab-links">
                        <li :class="{ active : actvetab == 1 }">
                            <a href="#flight" id="flightTab">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.1 26.9"
                                    enable-background="new 0 0 44.1 26.9" xml:space="preserve">
                                    <path
                                        d="M22.9,22.5c0,0-2.6,3.1-4.8,3.7s1.9-6.8,1.9-6.8S6.4,25.7,5.6,26.3s-3.1-0.3,0-3.8c0,0,0.5-0.9-1.3-3 s-4.3-5.3-3.7-7.2s9.2,4.1,9.2,4.1s1.1,0.6,4.4-1.7c2.6-1.8,5.3-3.5,8-5.2c2.9-1.8,5.8-3.7,8.7-5.5c1.2-0.8,2.4-1.6,3.8-2.2 c1.4-0.6,2.8-0.9,4.3-1c0.8-0.1,1.5-0.1,2.3,0.1c1.8,0.4,3.7,1.9,1.3,4.4S28.4,15.9,28.4,15.9L22.9,22.5z" />
                                </svg>
                                <span>{{MainArea.Flights_Label}}</span></a>
                        </li>
                        <li :class="{ active : actvetab == 2 }">
                            <a href="#hotel">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="564.76px"
                                    height="564.76px" viewBox="0 0 564.76 564.76"
                                    style="enable-background:new 0 0 564.76 564.76;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path
                                                d="M458.149,72.602h-83.415v35.153v12.497c0,12.485-4.676,23.751-13.52,32.589c-8.844,8.843-20.116,13.519-32.589,13.519 h-92.498c-12.472,0-23.739-4.676-32.583-13.513c-8.85-8.844-13.525-20.11-13.525-32.595v-12.497V72.602h-83.416 c-4.761,0-8.886,1.738-12.362,5.214c-3.477,3.488-5.221,7.607-5.221,12.356v457.011c0,4.754,1.738,8.879,5.221,12.355 c3.476,3.477,7.595,5.221,12.362,5.221h117.437c-0.428-2.02-0.691-4.1-0.691-6.285V529.6v-51.162 c0-7.98,2.907-14.896,8.758-20.754c5.838-5.82,12.754-8.752,20.753-8.752h59.027c7.986,0,14.902,2.939,20.753,8.752 c5.838,5.857,8.764,12.773,8.764,20.754V529.6v28.875c0,2.186-0.257,4.266-0.691,6.285h117.442c4.756,0,8.881-1.744,12.362-5.221 c3.477-3.482,5.221-7.602,5.221-12.355V90.172c0-4.755-1.744-8.874-5.221-12.356C467.029,74.34,462.911,72.602,458.149,72.602z M428.511,404.58c-2.112,2.113-4.608,3.164-7.497,3.164h-21.328c-2.889,0-5.393-1.051-7.504-3.164 c-2.111-2.111-3.164-4.607-3.164-7.496v-21.328c0-2.883,1.053-5.385,3.164-7.496c2.111-2.105,4.608-3.172,7.504-3.172h21.328 c2.889,0,5.385,1.066,7.497,3.172c2.111,2.117,3.17,4.613,3.17,7.496v21.328C431.681,399.973,430.622,402.477,428.511,404.58z M431.681,461.068v21.328c0,2.895-1.059,5.398-3.17,7.498c-2.112,2.117-4.608,3.164-7.497,3.164h-21.328 c-2.889,0-5.393-1.047-7.504-3.164c-2.111-2.105-3.164-4.604-3.164-7.498v-21.328c0-2.883,1.053-5.385,3.164-7.496 c2.111-2.105,4.608-3.164,7.504-3.164h21.328c2.889,0,5.385,1.059,7.497,3.164C430.622,455.689,431.681,458.186,431.681,461.068z M428.511,319.262c-2.112,2.117-4.608,3.17-7.497,3.17h-21.328c-2.889,0-5.393-1.053-7.504-3.17 c-2.111-2.105-3.164-4.602-3.164-7.496v-21.322c0-2.889,1.053-5.393,3.164-7.498c2.111-2.111,4.608-3.169,7.504-3.169h21.328 c2.889,0,5.385,1.059,7.497,3.169c2.111,2.111,3.17,4.609,3.17,7.498v21.322C431.681,314.66,430.622,317.162,428.511,319.262z M428.511,233.949c-2.112,2.118-4.608,3.17-7.497,3.17h-21.328c-2.889,0-5.393-1.053-7.504-3.17 c-2.111-2.105-3.164-4.602-3.164-7.497v-21.328c0-2.882,1.053-5.386,3.164-7.497c2.111-2.105,4.608-3.164,7.504-3.164h21.328 c2.889,0,5.385,1.059,7.497,3.164c2.111,2.118,3.17,4.615,3.17,7.497v21.328C431.681,229.347,430.622,231.85,428.511,233.949z M428.511,148.636c-2.112,2.118-4.608,3.164-7.497,3.164h-21.328c-2.889,0-5.393-1.046-7.504-3.164 c-2.111-2.105-3.164-4.602-3.164-7.497v-21.329c0-2.882,1.053-5.385,3.164-7.497c2.111-2.105,4.608-3.164,7.504-3.164h21.328 c2.889,0,5.385,1.059,7.497,3.164c2.111,2.117,3.17,4.614,3.17,7.497v21.329C431.681,144.034,430.622,146.537,428.511,148.636z M303.705,205.124c0-2.882,1.053-5.386,3.164-7.497c2.111-2.105,4.608-3.164,7.497-3.164h21.328c2.883,0,5.38,1.059,7.497,3.164 c2.111,2.118,3.164,4.615,3.164,7.497v21.328c0,2.895-1.053,5.398-3.164,7.497c-2.117,2.118-4.614,3.17-7.497,3.17h-21.328 c-2.889,0-5.386-1.053-7.497-3.17c-2.111-2.105-3.164-4.602-3.164-7.497V205.124z M303.705,290.443 c0-2.889,1.053-5.393,3.164-7.498c2.111-2.111,4.608-3.169,7.497-3.169h21.328c2.883,0,5.38,1.059,7.497,3.169 c2.111,2.111,3.164,4.609,3.164,7.498v21.322c0,2.895-1.053,5.396-3.164,7.496c-2.117,2.117-4.614,3.17-7.497,3.17h-21.328 c-2.889,0-5.386-1.053-7.497-3.17c-2.111-2.105-3.164-4.602-3.164-7.496V290.443z M172.572,404.58 c-2.117,2.113-4.614,3.164-7.503,3.164h-21.328c-2.889,0-5.392-1.051-7.497-3.164c-2.118-2.111-3.17-4.607-3.17-7.496v-21.328 c0-2.883,1.053-5.385,3.17-7.496c2.105-2.105,4.608-3.172,7.497-3.172h21.328c2.889,0,5.386,1.066,7.503,3.172 c2.105,2.117,3.164,4.613,3.164,7.496v21.328C175.736,399.973,174.677,402.477,172.572,404.58z M175.736,461.068v21.328 c0,2.895-1.059,5.398-3.164,7.498c-2.117,2.117-4.614,3.164-7.503,3.164h-21.328c-2.889,0-5.392-1.047-7.497-3.164 c-2.118-2.105-3.17-4.604-3.17-7.498v-21.328c0-2.883,1.053-5.385,3.17-7.496c2.105-2.105,4.608-3.164,7.497-3.164h21.328 c2.889,0,5.386,1.059,7.503,3.164C174.677,455.689,175.736,458.186,175.736,461.068z M172.572,319.262 c-2.117,2.117-4.614,3.17-7.503,3.17h-21.328c-2.889,0-5.392-1.053-7.497-3.17c-2.118-2.105-3.17-4.602-3.17-7.496v-21.322 c0-2.889,1.053-5.393,3.17-7.498c2.105-2.111,4.608-3.169,7.497-3.169h21.328c2.889,0,5.386,1.059,7.503,3.169 c2.105,2.111,3.164,4.609,3.164,7.498v21.322C175.736,314.66,174.677,317.162,172.572,319.262z M172.572,233.949 c-2.117,2.118-4.614,3.17-7.503,3.17h-21.328c-2.889,0-5.392-1.053-7.497-3.17c-2.118-2.105-3.17-4.602-3.17-7.497v-21.328 c0-2.882,1.053-5.386,3.17-7.497c2.105-2.105,4.608-3.164,7.497-3.164h21.328c2.889,0,5.386,1.059,7.503,3.164 c2.105,2.118,3.164,4.615,3.164,7.497v21.328C175.736,229.347,174.677,231.85,172.572,233.949z M172.572,148.636 c-2.117,2.118-4.614,3.164-7.503,3.164h-21.328c-2.889,0-5.392-1.046-7.497-3.164c-2.118-2.105-3.17-4.602-3.17-7.497v-21.329 c0-2.882,1.053-5.385,3.17-7.497c2.105-2.105,4.608-3.164,7.497-3.164h21.328c2.889,0,5.386,1.059,7.503,3.164 c2.105,2.117,3.164,4.614,3.164,7.497v21.329C175.736,144.034,174.677,146.537,172.572,148.636z M261.049,397.084 c0,2.889-1.059,5.393-3.164,7.496c-2.118,2.111-4.615,3.164-7.503,3.164h-21.329c-2.889,0-5.385-1.053-7.497-3.164 c-2.112-2.111-3.164-4.607-3.164-7.496v-21.328c0-2.883,1.052-5.385,3.164-7.498c2.111-2.104,4.608-3.17,7.497-3.17h21.329 c2.882,0,5.385,1.066,7.503,3.17c2.105,2.119,3.164,4.615,3.164,7.498V397.084z M261.049,311.766c0,2.895-1.059,5.396-3.164,7.496 c-2.118,2.117-4.615,3.17-7.503,3.17h-21.329c-2.889,0-5.385-1.053-7.497-3.17c-2.112-2.105-3.164-4.602-3.164-7.496v-21.322 c0-2.889,1.052-5.393,3.164-7.498c2.111-2.111,4.608-3.169,7.497-3.169h21.329c2.882,0,5.385,1.059,7.503,3.169 c2.105,2.111,3.164,4.609,3.164,7.498V311.766z M261.049,226.452c0,2.895-1.059,5.398-3.164,7.497 c-2.118,2.118-4.615,3.17-7.503,3.17h-21.329c-2.889,0-5.385-1.053-7.497-3.17c-2.112-2.105-3.164-4.602-3.164-7.497v-21.328 c0-2.882,1.052-5.386,3.164-7.497c2.111-2.105,4.608-3.164,7.497-3.164h21.329c2.882,0,5.385,1.059,7.503,3.164 c2.105,2.118,3.164,4.615,3.164,7.497V226.452z M335.7,407.744h-21.328c-2.889,0-5.386-1.051-7.497-3.164 c-2.111-2.111-3.164-4.607-3.164-7.496v-21.328c0-2.883,1.053-5.385,3.164-7.496c2.111-2.105,4.608-3.172,7.497-3.172H335.7 c2.883,0,5.38,1.066,7.497,3.172c2.111,2.117,3.164,4.613,3.164,7.496v21.328c0,2.889-1.053,5.393-3.164,7.496 C341.08,406.691,338.583,407.744,335.7,407.744z" />
                                            <path
                                                d="M218.417,141.439c5.043,4.29,10.912,6.561,17.711,6.561h22.295h47.919h22.289c6.793,0,12.662-2.271,17.711-6.561 c0.631-0.533,1.292-0.979,1.897-1.579c5.429-5.428,8.146-11.964,8.146-19.608v-12.497V72.602V27.754 c0-7.644-2.711-14.18-8.146-19.608C342.812,2.717,336.275,0,328.632,0h-92.504c-7.644,0-14.18,2.717-19.608,8.146 c-5.428,5.428-8.146,11.964-8.146,19.608v44.847v35.153v12.497c0,7.644,2.711,14.18,8.146,19.608 C217.125,140.46,217.792,140.901,218.417,141.439z M233.043,72.602V30.833c0-1.665,0.612-3.115,1.83-4.333s2.668-1.83,4.333-1.83 h12.332c1.671,0,3.115,0.612,4.333,1.83c1.218,1.224,1.83,2.668,1.83,4.333v30.833h49.333V30.833c0-1.665,0.612-3.115,1.83-4.333 s2.668-1.83,4.333-1.83h12.332c1.671,0,3.115,0.612,4.333,1.83c1.218,1.224,1.829,2.668,1.829,4.333v41.769v35.153v1.396v8.017 c0,1.671-0.611,3.115-1.829,4.333c-1.225,1.224-2.669,1.83-4.333,1.83h-12.332c-1.671,0-3.115-0.606-4.333-1.83 c-1.224-1.218-1.83-2.662-1.83-4.333v-5v-4.413v-21.42h-49.321v21.42v4.413v5c0,1.671-0.612,3.115-1.83,4.333 c-1.224,1.224-2.668,1.83-4.333,1.83h-12.332c-1.671,0-3.115-0.606-4.333-1.83c-1.224-1.218-1.83-2.662-1.83-4.333v-8.017v-1.396 V72.602H233.043z" />
                                        </g>
                                    </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                    <g> </g>
                                </svg>
                                <span>{{MainArea.Hotels_Label}}</span></a>
                        </li>
                        <li>
                            <a href="/Elitetravel/Holidaypackages.html">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="90 183.3 313.1 259.5" enable-background="new 90 183.3 313.1 259.5"
                                    xml:space="preserve">
                                    <g>
                                        <path
                                            d="M237.8,250.6c9.1,0,16.6-7.3,16.6-16.6c0-9.1-7.5-16.6-16.6-16.6s-16.6,7.5-16.6,16.6S228.7,250.6,237.8,250.6z" />
                                        <path
                                            d="M234.5,262.2v9.9c0,1.8,1.5,3.3,3.3,3.3s3.3-1.5,3.3-3.3v-9.9c0-1.8-1.5-3.3-3.3-3.3S234.5,260.3,234.5,262.2z" />
                                        <path
                                            d="M237.8,209.3c1.8,0,3.3-1.5,3.3-3.3V196c0-1.8-1.5-3.3-3.3-3.3s-3.3,1.5-3.3,3.3v9.9C234.5,207.8,236,209.3,237.8,209.3z" />
                                        <path
                                            d="M199.9,237.3h9.9c1.8,0,3.3-1.5,3.3-3.3s-1.5-3.3-3.3-3.3h-9.9c-1.8,0-3.3,1.5-3.3,3.3S198.1,237.3,199.9,237.3z" />
                                        <path
                                            d="M262.5,234c0,1.8,1.5,3.3,3.3,3.3h9.9c1.8,0,3.3-1.5,3.3-3.3s-1.5-3.3-3.3-3.3h-9.9C264,230.7,262.5,232.2,262.5,234z" />
                                        <path
                                            d="M215.6,251.6l-7,7c-1.3,1.3-1.3,3.3,0,4.6c0.7,0.7,1.5,1,2.3,1s1.7-0.3,2.3-1l7-7c1.3-1.3,1.3-3.3,0-4.6 C218.9,250.2,216.9,250.2,215.6,251.6z" />
                                        <path
                                            d="M257.7,217.6c0.8,0,1.7-0.3,2.3-1l7-7c1.3-1.3,1.3-3.3,0-4.6s-3.3-1.3-4.6,0l-7,7c-1.3,1.3-1.3,3.3,0,4.6 C256,217.3,256.9,217.6,257.7,217.6z" />
                                        <path
                                            d="M215.6,216.6c0.7,0.7,1.5,1,2.3,1s1.7-0.3,2.3-1c1.3-1.3,1.3-3.3,0-4.6l-7-7c-1.3-1.3-3.3-1.3-4.6,0s-1.3,3.3,0,4.6 L215.6,216.6z" />
                                        <path
                                            d="M262.3,263.3c0.7,0.7,1.5,1,2.3,1c0.8,0,1.7-0.3,2.3-1c1.3-1.3,1.3-3.3,0-4.6l-7-7c-1.3-1.3-3.3-1.3-4.6,0s-1.3,3.3,0,4.6 L262.3,263.3z" />
                                        <path
                                            d="M402.2,303.1l-1.9-2c-1.2-1.2-3.2-1.3-4.5-0.1L262.6,431.1c-0.4-1-1.1-1.9-2-2.6l-13.2-9.5h13.9c6.2,0,12-2.5,16.3-6.8 l69.6-69c4.3-4.3,6.8-10.2,7.1-16.6c0-6.2-2.5-12-6.8-16.6c-8.9-9.2-24-9.2-32.9-0.3l-62.8,62.5h-3.1l73.7-117.4l0,0 c6-9.5,10.9-17.3,10.9-17.3c3.3,2.5,6.2,5.5,8.8,8.9l0.7,1l1.1,0.5c8.1,3.4,15.5,8.1,22,13.9l4,3.6l2.9-4.6 c7.2-11.4,9.5-24.9,6.6-38.1c-2.6-11.7-9.1-21.8-18.5-29l3.4-5.4l-7.8-4.9l-3.4,5.4c-23-11.8-51.7-4.2-65.7,18l-2.9,4.6l5,2.1 c8.1,3.4,15.5,8.1,22,13.9l0.9,0.8l1.2,0.3c0.2,0,0.3,0.1,0.5,0.1c4,0.9,7.8,2.2,11.3,4c0,0-4.9,7.7-10.9,17.3l0,0l-0.9,1.4 c-9.6,15.2-21.7,34.3-21.7,34.3l0.1,0l-54.4,86.6H120.8c-12.9,0-23.4,10.5-23.4,23.4c0,12.9,10.5,23.4,23.4,23.4h12.9l-12.6,9.5 c-1.7,1.3-2.6,3.3-2.5,5.2H93.2c-1.7,0-3.2,1.4-3.2,3.2v2.8c0,1.7,1.4,3.2,3.2,3.2H351c0.1,0,0.1,0,0.2,0c0.8,0.1,1.7-0.2,2.4-0.8 l2.1-1.8c1.3-1.2,1.4-3.2,0.2-4.5l-39.7-44.2l86-84C403.4,306.3,403.4,304.3,402.2,303.1z M154.9,419h71.7l20.1,14.8h-112 L154.9,419z M341.9,433.7h-69l36.7-35.9L341.9,433.7z" />
                                    </g>
                                </svg>
                                <span>{{MainArea.Holidays_Label}}</span></a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content bg_shade">
                    <div class="container">
                        <div id="flight" class="tab" :class="{ active : actvetab == 1 }">
                            <!---->
                            <div class="multi_shadow" v-if="triptype=='M'" v-on:click="clickoutside"
                                v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                            </div>
                            <div class="multicity" v-if="triptype =='M'"
                                v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                                <!--multi city section-->
                                <div class="multiSection">
                                    <i class="fa fa-times-circle close" v-on:click="clickoutside"></i>
                                    <label>Trip 1</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1"
                                            :return-value="returnValue" place-holder-text="Leaving From"
                                            @air-search-completed="Departurefrom" :leg="1">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1"
                                            :return-value="returnValue" place-holder-text="Going To"
                                            @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec">
                                            <input type="text" id="txtLeg1Date" class="calendarSec1"
                                                placeholder="Departing" readonly>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--multi city section close-->
                                <!--multi city section-->
                                <div class="multiSection">
                                    <label>Trip 2</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2"
                                            :return-value="returnValue" place-holder-text="Leaving From"
                                            @air-search-completed="Departurefrom" :leg="2">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2"
                                            :return-value="returnValue" place-holder-text="Going To"
                                            @air-search-completed="Arrivalfrom" :leg="2">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec">
                                            <input type="text" id="txtLeg2Date" class="calendarSec1"
                                                placeholder="Departing" readonly>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--multi city section close-->
                                <!--multi city section-->
                                <div class="multiSection" v-if="(legcount>2)">
                                    <i class="fa fa-times-circle close" v-if="legcount==3"
                                        v-on:click="DeleteLeg(3)"></i>
                                    <label>Trip 3</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3"
                                            :return-value="returnValue" place-holder-text="Leaving From"
                                            @air-search-completed="Departurefrom" :leg="3">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3"
                                            :return-value="returnValue" place-holder-text="Going To"
                                            @air-search-completed="Arrivalfrom" :leg="3">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec">
                                            <input type="text" class="calendarSec1" id="txtLeg3Date"
                                                placeholder="Departing" readonly>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--multi city section close-->
                                <!--multi city section-->
                                <div class="multiSection" v-if="(legcount>3)">
                                    <i class="fa fa-times-circle close" v-if="legcount==4"
                                        v-on:click="DeleteLeg(4)"></i>
                                    <label>Trip 4</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4"
                                            :return-value="returnValue" place-holder-text="Leaving From"
                                            @air-search-completed="Departurefrom" :leg="4">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4"
                                            :return-value="returnValue" place-holder-text="Going To"
                                            @air-search-completed="Arrivalfrom" :leg="4">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec">
                                            <input type="text" id="txtLeg4Date" class="calendarSec1"
                                                placeholder="Departing" readonly>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--multi city section close-->
                                <!--multi city section-->
                                <div class="multiSection" v-if="(legcount>4)">
                                    <i class="fa fa-times-circle close" v-if="legcount==5"
                                        v-on:click="DeleteLeg(5)"></i>
                                    <label>Trip 5</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5"
                                            :return-value="returnValue" place-holder-text="Leaving From"
                                            @air-search-completed="Departurefrom" :leg="5">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5"
                                            :return-value="returnValue" place-holder-text="Going To"
                                            @air-search-completed="Arrivalfrom" :leg="5">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec">
                                            <input type="text" id="txtLeg5Date" class="calendarSec1"
                                                placeholder="Departing" readonly>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--multi city section close-->
                                <!--multi city section-->
                                <div class="multiSection" v-if="(legcount>5)">
                                    <i class="fa fa-times-circle close" v-if="legcount==6"
                                        v-on:click="DeleteLeg(6)"></i>
                                    <label>Trip 6</label>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6"
                                            :return-value="returnValue" place-holder-text="Leaving From"
                                            @air-search-completed="Departurefrom" :leg="6">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6"
                                            :return-value="returnValue" place-holder-text="Going To"
                                            @air-search-completed="Arrivalfrom" :leg="6">
                                        </flightserch>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec">
                                            <input type="text" id="txtLeg6Date" class="calendarSec1"
                                                placeholder="Departing" readonly>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--multi city section close-->

                                <div class="add_flight" v-if="legcount!=6" v-cloak>Add up to {{6-legcount}} flights
                                    <i class="fa fa-plus-circle" v-on:click="AddNewLeg();"></i></div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                    <div class="travellerSec">
                                        <div class="travellercout" v-cloak
                                            v-on:click="travellerdisplymul = !travellerdisplymul">{{Totaltravaller}}
                                        </div>
                                        <div class="travellerOptions5" v-show="travellerdisplymul">
                                            <div class="passenger_area">
                                                <p>Adults (12+)</p>
                                                <div class="pass_click">
                                                    <a v-on:click="setpaxcount('adt','minus')"><i
                                                            class="fa fa-minus-square"></i></a>
                                                    <span v-cloak>{{selected_adults}}</span>
                                                    <a v-on:click="setpaxcount('adt','plus')"><i
                                                            class="fa fa-plus-square"></i></a>
                                                </div>
                                            </div>
                                            <div class="passenger_area">
                                                <p>Children (2-12)</p>
                                                <div class="pass_click">
                                                    <a v-on:click="setpaxcount('chd','minus')"><i
                                                            class="fa fa-minus-square"></i></a>
                                                    <span>{{selected_children}}</span>
                                                    <a v-on:click="setpaxcount('chd','plus')"><i
                                                            class="fa fa-plus-square"></i></a>
                                                </div>
                                            </div>
                                            <div class="passenger_area">
                                                <p>Infant (0-2)</p>
                                                <div class="pass_click">
                                                    <a v-on:click="setpaxcount('inf','minus')"><i
                                                            class="fa fa-minus-square"></i></a>
                                                    <span>{{selected_infant}}</span>
                                                    <a v-on:click="setpaxcount('inf','plus')"><i
                                                            class="fa fa-plus-square"></i></a>
                                                </div>
                                            </div>
                                            <div class="classtype_area">
                                                <div class="classsec_area">
                                                    <input type="radio" id="radio-btn-12" value="Y"
                                                        v-model="selected_cabin" v-on:change="setpaxcount"
                                                        name="radio-btns">
                                                    <label for="radio-btn-12">Economy</label>
                                                </div>
                                                <div class="classsec_area">
                                                    <input type="radio" value="C" v-model="selected_cabin"
                                                        id="radio-btn-03" v-on:change="setpaxcount" name="radio-btns">
                                                    <label for="radio-btn-03">Business</label>
                                                </div>
                                                <div class="classsec_area">
                                                    <input type="radio" id="radio-btn-04" value="F"
                                                        v-model="selected_cabin" v-on:change="setpaxcount"
                                                        name="radio-btns">
                                                    <label for="radio-btn-04">First Class</label>
                                                </div>
                                            </div>
                                            <div class="closeDropdown">
                                                <span class="closeBtn closeLink"
                                                    v-on:click="travellerdisplymul = !travellerdisplymul">Done</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 padding0">
                                    <button class="flightSearch" v-on:click="MultiSearchFlight" v-cloak>Search</button>
                                </div>

                            </div>
                            <!---->
                            <div class="oneway_btn">
                                <div class="traveltype flx_sec">
                                    <div class="bt">
                                        <input type="radio" value="R" v-model="triptype" id="radio-btn-2"
                                            name="triptype">
                                        <label for="radio-btn-2">{{MainArea.Round_Trip_Label}}</label>
                                    </div>
                                    <div class="bt">
                                        <input type="radio" value="O" v-model="triptype" id="radio-btn-1"
                                            name="triptype" checked="checked">
                                        <label for="radio-btn-1">{{MainArea.Oneway_Label}}</label>
                                    </div>
                                    <div class="bt">
                                        <input type="radio" value="M" v-model="triptype" id="radio-btn-3"
                                            name="triptype">
                                        <label for="radio-btn-3">{{MainArea.Multi_City_Label}}</label>
                                    </div>
                                </div>
                                <!-- <div class="checkAreaform flexibleSec">
                                    My Dates are Flexible! <input type="checkbox" id="radio-btn-8"> <label
                                        for="radio-btn-8">(-/+ 3 days)</label></div> -->
                            </div>
                            <div class="flightForm_sec flx_sec">
                                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 padding1">
                                    <div class="autocomplete flightauto">
                                        <flightserch id="Cityfrom1" :return-value="returnValue"
                                            place-holder-text="Leaving From" @air-search-completed="Departurefrom"
                                            :leg="0"></flightserch>
                                        <i v-on:click="swapLocations(1)"><img src="images/swap.png" alt=""></i>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 padding1">
                                    <div class="autocomplete flightauto">
                                        <flightserch id="Cityto1" :return-value="returnValue"
                                            place-holder-text="Going To" @air-search-completed="Arrivalfrom" :leg="0">
                                        </flightserch>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding1">
                                        <div class="calendarSec"><input type="text" id="deptDate01"
                                                placeholder="Departing" readonly="readonly" class="calendarSec1"> <i
                                                class="fa fa-calendar"></i></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding1" v-if="triptype !='M'"
                                        v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                                        <div class="calendarSec"><input type="text" :disabled="triptype == 'O'"
                                                id="retDate" placeholder="Returning" readonly="readonly"
                                                class="calendarSec1 "></div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding1">
                                    <div class="travellerSec">
                                        <div class="travellercout" v-cloak>{{Totaltravaller}}
                                        </div>
                                        <div class="travellerOptions">
                                            <div class="passenger_area">
                                                <p>Adults (12+)</p>
                                                <div class="pass_click"><a v-on:click="setpaxcount('adt','minus')"><i
                                                            class="fa fa-minus-square"></i></a>
                                                    <span>{{selected_adults}}</span>
                                                    <a v-on:click="setpaxcount('adt','plus')"><i
                                                            class="fa fa-plus-square"></i></a></div>
                                            </div>
                                            <div class="passenger_area">
                                                <p>Children (2-12)</p>
                                                <div class="pass_click"><a v-on:click="setpaxcount('chd','minus')"><i
                                                            class="fa fa-minus-square"></i></a>
                                                    <span>{{selected_children}}</span>
                                                    <a v-on:click="setpaxcount('chd','plus')"><i
                                                            class="fa fa-plus-square"></i></a></div>
                                            </div>
                                            <div class="passenger_area">
                                                <p>Infant (0-2)</p>
                                                <div class="pass_click"><a v-on:click="setpaxcount('inf','minus')"><i
                                                            class="fa fa-minus-square"></i></a>
                                                    <span>{{selected_infant}}</span>
                                                    <a v-on:click="setpaxcount('inf','plus')"><i
                                                            class="fa fa-plus-square"></i></a></div>
                                            </div>
                                            <div class="classtype_area">
                                                <div class="classsec_area"><input type="radio" id="radio-btn-02"
                                                        value="Y" v-model="selected_cabin" v-on:change="setpaxcount"
                                                        name="radio-btns">
                                                    <label for="radio-btn-02" v-on:change="setpaxcount">Economy</label>
                                                </div>
                                                <div class="classsec_area"><input type="radio" value="C"
                                                        v-model="selected_cabin" id="radio-btn-03" name="radio-btns"
                                                        v-on:change="setpaxcount"> <label
                                                        for="radio-btn-03">Business</label></div>
                                                <div class="classsec_area"><input type="radio" id="radio-btn-04"
                                                        value="F" v-model="selected_cabin" name="radio-btns"
                                                        v-on:change="setpaxcount"> <label for="radio-btn-04">First
                                                        Class</label></div>
                                            </div>
                                            <div class="closeDropdown">
                                                <span class="closeBtn closeLink"
                                                    v-on:click="travellerdisply = !travellerdisply">Done</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding1">
                                    <div class="searchButton flghtbtn"><button v-on:click="SearchFlight">Search</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="hotel" class="tab" :class="{ active : actvetab == 2 }">
                            <hotel-search inline-template :key="hotelInit">
                                <div>
                                    <div class="flightForm_sec flx_sec">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                                            <input id="txtCity" type="text" class="formtxt ui-autocomplete-input"
                                                placeholder="Destination" autocomplete="off" v-model="keywordSearch"
                                                @input="onKeyUpAutoCompleteEvent(keywordSearch)" @keydown.down="down"
                                                @keydown.up="up" @keydown.tab="isCompleted=false"
                                                @keydown.esc="isCompleted=false"
                                                @keydown.enter="updateResults(autoCompleteResult[highlightIndex])"
                                                @click="onClickAutoCompleteEvent">
                                            <span role="status" aria-live="polite"
                                                class="ui-helper-hidden-accessible"></span>
                                            <ul ref="searchautocomplete" class="autocomplete-results"
                                                v-if="isCompleted&&autoCompleteResult.length!=0">
                                                <li ref="options"
                                                    :class="{'autocomplete-result-active' : index == highlightIndex}"
                                                    class="autocomplete-result"
                                                    v-for="(item,index) in autoCompleteResult" :key="index"
                                                    @click="updateResults(item)" v-cloak>
                                                    {{ item.label }}
                                                </li>
                                            </ul>
                                            <!---->
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding1">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtCheckInDate" v-model="checkIn"
                                                        placeholder="checkin" readonly="readonly" class="calendarSec1">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding1">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtCheckOutDate" v-model="checkOut"
                                                        placeholder="checkout" readonly="readonly" class="calendarSec1">
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col-md-2 col-sm-12 col-xs-12 search-col-padding custom-traveller padding0">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding1">
                                                <div class="kmsliderSec">
                                                    <label class="within_sec">{{Search_range_label}}</label>
                                                    <div id="rangeSlider"></div>
                                                    <label id="slider-step-value" v-cloak>{{KMrange}}
                                                        KM</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding1">
                                            <div class="travellerSecHtl">
                                                <div class="travellercoutHtl">
                                                    <input
                                                        :value="numberOfRooms+' Room '+(numberOfRooms>1?roomsLabel:roomLabel)"
                                                        type="button" class="form-control txtelips">
                                                </div>
                                                <div class="travellerOptions">
                                                    <div class="classtype_area">
                                                        <div id="travelRoundtrip">
                                                            <div class="travelDropdown"></div>
                                                        </div>
                                                        <div class="classSec">
                                                            <label class="htl_advc" v-cloak> Room</label>
                                                            <div class="custom-select-htl">
                                                                <select v-model.number="numberOfRooms" id="classType">
                                                                    <option v-for="(room, index) in 5" :key="index"
                                                                        :value="index+1">
                                                                        {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}Room
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="classSec">
                                                            <label class="htl_advc">Nationality</label>
                                                            <div class="custom-select-htl">
                                                                <select id="classType" v-model="nationality">
                                                                    <option :value="item.code"
                                                                        v-for="(item, index) in countries" :key="index">
                                                                        {{item.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="classSec">
                                                            <label class="htl_advc">Country of
                                                                Residency</label>
                                                            <div class="custom-select-htl">
                                                                <select id="classType" v-model="countryOfResidence">
                                                                    <option :value="item.code"
                                                                        v-for="(item, index) in countries" :key="index">
                                                                        {{item.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="closeDropdown">
                                                            <span class="closeBtn closeLink"
                                                                v-on:click="showroom = !showroom">Done</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hotel-rooms :child-label="childLabel" :children-label="childrenLabel"
                                            :adult-label="adultLabel" :adults-label="adultsLabel" :age-label="ageLabel"
                                            :ages-label="agesLabel" :room-label="roomLabel"
                                            v-for="(room, index) in parseInt(numberOfRooms)" :key="index"
                                            :room-id="index" @get-room-details="getRoomDetails" inline-template>
                                            <div class="hotlsSec flx_sec ar_direction">
                                                <div class="col-md-4 col-sm-12 padding5">
                                                    <span class="rooms" v-cloak><i class="fa fa-bed"
                                                            aria-hidden="true"></i> Room
                                                        {{roomId+1}}</span>

                                                </div>
                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding1">
                                                    <div class="form_sec en_dwn_htl">
                                                        <select class="form-control" v-model.number="selectedAdults">
                                                            <option v-for="(adult, index) in adults"
                                                                :value="adult.value" v-cloak>{{adult.value}}
                                                                {{adult.value==1? adultLabel: adultsLabel}}Adult
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding1">
                                                    <div class="form_sec en_dwn_htl">
                                                        <select class="form-control" v-model.number="selectedChildren">
                                                            <option v-for="(child, index) in children"
                                                                :value="child.value" v-cloak>{{child.value}}
                                                                {{child.value==1? childLabel: childrenLabel}}Children
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div v-for="(selectedChild, index) in parseInt(selectedChildren)"
                                                    :key="index"
                                                    class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage padding1">
                                                    <div class="form_sec en_dwn_htl">
                                                        <select class="form-control"
                                                            v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                                            <option v-for="(childAge, index) in childrenAges"
                                                                :value="childAge.value" v-cloak>
                                                                {{childAge.value}}
                                                                {{childAge.value==1? ageLabel: agesLabel}}Year
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </hotel-rooms>
                                    </div>
                                    <div class="searchButton">
                                        <button type="submit" class="search-button" @click="searchHotels"
                                            v-cloak>SEARCH</button>
                                    </div>
                                </div>
                            </hotel-search>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- search area close-->


        <!-- package section -->
        <section class="holiday-package" v-if="!isMobileOrNot">
            <h3><span>{{MainArea.Package_Title}}</span></h3>
            <!-- package list-->
            <div v-if="getpackage">
                <ul id="holidaypackage">
                    <li class="item" v-for="packages in holidayPackages">
                        <a href="#" @click="getmoreinfo(packages.More_details_page_link)">
                            <div class="packageSec">
                                <div class="p_first_sec">
                                    <div class="p_img_sec">
                                        <img :src="packages.Image" alt="package">
                                    </div>
                                    <div class="price_sec">
                                        <h5><span>AED</span><br>{{packages.Price}}</h5>
                                    </div>
                                    <div class="p_txt">
                                        <h4>{{packages.Title}}</h4>
                                        <h5><i class="fa fa-sun-o"></i> {{packages.Days}} Days <span>|</span> <i
                                                class="fa fa-moon-o"></i> {{packages.Night}}
                                            {{packages.Night_Label}}</h5>
                                        <p>{{packages.Destination}}</p>
                                    </div>
                                </div>
                                <div class="book_btn">
                                    <button>{{packages.Book_Now_Label}} <i class="fa fa-paper-plane-o"></i></button>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- package section close-->

        <!-- booking banner -->
        <section class="booking-banner" :style="{ background: 'url(' + PromotionArea.Image+ ')'}" v-if="!isMobileOrNot">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 htlbok">
                    <h2>{{PromotionArea.Save_More_On_Label}}</h2>
                    <h3>{{PromotionArea.Title}}</h3>
                    <p>{{PromotionArea.Description}}</p>
                    <button>Book Now</button>
                </div>
            </div>
        </section>
        <!-- booking banner close-->

        <!-- airline links -->
        <section class="airlinslinks parent" v-if="!isMobileOrNot">
            <div class="col-sm-5 left-padding0">
                <div class="top-destinations">
                    <div class="col-lg-6 col-md-6 col-sm-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <h4><span>{{packageArea.Destination_Title}}</span></h4>
                        <ul>
                            <li v-for="(desti,index) in destinations" v-if="index % 2 === 0"><a
                                    :href="desti.Link">...{{desti.Name}}</a></li>

                        </ul>
                        <ul>
                            <li v-for="(desti,index) in destinations" v-if="index % 2 !== 0"><a
                                    :href="desti.Link">...{{desti.Name}}</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 right-padding0">
                <div class="top-airlines">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h4><span>{{packageArea.Airline_Title}}</span></h4>
                        <ul>
                            <li v-for="(airlin,index) in air" v-if="index % 2 === 0 &&(index % 3 !== 0)"><a
                                    :href="airlin.Link">...{{airlin.Name}}</a></li>
                        </ul>
                        <ul>
                            <li v-for="(airlin,index) in air" v-if="(index % 3 === 0)"><a
                                    :href="airlin.Link">...{{airlin.Name}}</a></li>
                        </ul>
                        <ul>
                            <li v-for="(airlin,index) in air" v-if="(index % 2 !== 0) && (index %3 !== 0)"><a
                                    :href="airlin.Link">...{{airlin.Name}}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12"></div>
                </div>
            </div>
        </section>
        <!-- airline links close-->









    </div>
    <footer :key="key" v-if="!isMobileOrNot">
        <footeritem :key="key" :item="1"></footeritem>
    </footer>










    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/tabs.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/Elitetravel/js/hotel-search.js"></script>
    <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
    <script src="master/js/index.js?v=20211122000"></script>
    <script>
        $(document).ready(function () {
            var vr;
            var sl;
            sl = "0";
            $(".travellerOptions").click(function () {
                sl = "1";
            });
            $(".travellercout, .travellercoutHtl").click(function () {
                if (sl == "0") {
                    $(".travellerOptions").fadeToggle();
                    vr = "1";
                }
                else {
                    vr = "1";
                    sl = "0";
                }

            });
            $("body, .closeLink").click(function () {
                if (sl == "0") {
                    if (vr == "0") {

                        $(".travellerOptions").hide();
                    }
                    else {
                        vr = "0";
                        sl = "0";
                    }
                }
                else {
                    vr = "0";
                    sl = "0";
                }
            });


        });
    </script>

</body>

</html>