<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elite Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/tabs02.css" rel="stylesheet" type="text/css" />
    <style>
            [v-cloak] {
                display: none;
            }
        </style>
</head>
<body>

<header>
        <headeritem></headeritem>
</header>
<div id="termsandconditions" v-cloak>
<div class="inner-banners" :style="{ background: 'url(' +banner.Banner_Image+ ')'}">
    <div class="container">
        <h1>{{banner.Banner_Title}}</h1>
        <p><a href="/Elitetravel/index.html">{{pagecontent.Breadcrumb_1}} ></a> {{pagecontent.Breadcrumb_2}}</p>
    </div>
</div>

<div class="terms_sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" v-html="pagecontent.Terms_and_Condition">
                
            </div>
        </div>
    </div>
</div>


</div>


<footer :key="key">
        <footeritem :key="key" :item="6"></footeritem>
    </footer>




    





<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="servicejs/Terms-and-Conditions.js"></script>

    
</body>
</html>