
/*back-to-top-css*/
.scrollToTop {
    height: 50px;
    width: 50px;
    padding-top: 2px;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 999999;
    display: none;
    border-radius: 5px;
    background-color: #d86b18;
    border: 1px solid #d86b18;
    }
.scrollToTop:hover, .scrollToTop:focus{
    background: #000000;
    color: #fff;
    border-color: #fff;
    }
/*back-to-top-css*/
.right_area{
    position: absolute;
    right: -15px;
    top: -52px;
}
.right_area li a{
    padding: 16px 15px !important;
}
.right_area li{
    display: inline-block;
    padding: 0px 0px;
}
.right_area li a{
    color: #333333 !important;
    font-size: 14px !important;
    vertical-align: middle;
    text-transform: capitalize !important;
    border-radius: 0px !important;
    border-right: 1px solid #dadada !important;
    font-weight: 400 !important;
}
.right_area li i{
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    color: #d86b18;
    font-size: 22px;
    float: left;
    margin-top: -2px;
}
header{
    border-top: 52px solid #FFF;
    }
.header_logo{
    position: relative;
    }
.logo{
    position: absolute;
    left: 0;
    top: -60px;
    z-index: 999;
    padding: 9px 5px;
    background: #fff;
   
    }
.top_phone_email{text-align: right;}
.top_phone_email ul li{
    display: inline-block;
    padding: 0 10px;
    }
.top_phone_email ul li i{
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin-right: 5px;
    color: #d86b18;
    font-size: 22px;
    padding: 15px 0;
    }
.top_phone_email ul li a{
    color: #333333;
    font-size: 18px;
    vertical-align: middle;
    }
.top_phone_email ul li a:hover{
    color: #d86b18;
    }

/*===End-Header=====*/

/*==============Navigation==========*/

.main-navigation{
    background: #d86b18;
    }
.menu_nav{
    margin:0;
    min-height: 0;
    background-color:transparent !important;
    }
.navbar {
    border-radius: 0px;
    margin-bottom: 0;
    text-align: right;
    }
.nav.navbar-nav{
    float: right;
    }
.navbar-default {
    background: #fff;
    border: none;
    }
.navbar-nav > li > a{
    padding: 29px 15px;
    background-color: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border-right: 1px solid #ff6786;
    }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
    color: #fff;
    }
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000;
    }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    background: transparent; color: #000;
    }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
    background: #fff;
    color: #d86b18;
    border-radius: 0;
    }
.navbar-default .navbar-nav .active a:active{
    background: #d86b18;
    color: #fff;
    }
.navbar-default .navbar-nav > .active > a:hover{
     background: #d86b18;
    color: #fff;
    }
#bs-example-navbar-collapse-1{padding: 0;}

.dropdown-menu {
    left: -44px; top:44px;
    }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
        width: 26px;
    }
.dropdown-menu{
    padding: 0;
    top: 41px;
    }
.dropdown-menu > li > a{
    background: #d86b18;
    color: #fff;
    padding: 7px 30px;    
    }

@media(max-width:767px){
.dropdown-menu{
    left: 0; 
    float: none;
    position: relative;
    top: 0;
    }   
.dropdown-menu::after{display: none;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: #024281;
    }
}
/*==============End - Navigation==========*/

/*==========Footer===========*/
footer{
    background: #202020;
    padding: 60px 0;
    }   
.footer-logo-desc img{
    border-radius: 100%;
    }
.footer-logo-desc h3 span{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    }
.footer-logo-desc .iata-logo{border-radius: 0;}
.footer-logo-desc p{
    color: #adadad;
    font-size: 15px;
    font-weight: 400;
    }
.footer-logo-desc ul{padding-top: 10px;}
.footer-logo-desc ul li{
    display: inline-block;
    padding: 0 4px;
    }
footer h3{
    height: 50px;
     color: #d86b18;
    text-transform: uppercase;
    line-height: 22px;
    padding: 0;
    font-size: 24px;
    }
.site-map ul li{
    padding: 6px 0;
    }
.site-map ul li a{
    font-size: 16px;
    color: #adadad;
    font-weight: 300;
    display: block;
    position: relative;
    padding-left: 15px;
    }
.site-map ul li a::before{
    content:"\f101";
    font-family:'FontAwesome';
    position: absolute;
    left: 0;
    top: 2px;
    }
.site-map ul li a:hover{
    color: #d86b18;
    }
.get-in-touch ul li{
    position: relative;
    padding: 10px 0 15px 45px;
    }
.get-in-touch ul li a , .get-in-touch ul li{
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
    }
.get-in-touch ul li a{
    display: block;
    padding: 5px 0;
    }
.get-in-touch ul li i{
    position: absolute;
    top: 10px;
    left: 0;
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 0;
    text-align: center;
    font-size: 20px;
    line-height: 33px;
    }
.get-in-touch ul li a:hover{
    color: #d86b18;
    }
.foot-newsletter input[type="text"]{
    background: #dcdcdc;
    }
.foot-newsletter input[type="submit"]{
    background: #fff;
    color: #d86b18;
    border: 1px solid #fff;
    padding: 7px 36px;
    margin-top: 10px;
    }
.foot-newsletter input[type="submit"]:hover{
    background: #d86b18;
    color: #fff !important;
    }

.all-reserved{
    background: #000000;
    padding: 10px 0;
    }
.reserved{float: left;}
.reserved p{
    color: #adadad;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0;
    }
.Powered{
    float: right;
    }
.Powered p{
    display: inline-block;
    vertical-align: middle;
    color: #adadad;
    font-size: 13px;
    font-weight: 400;
    }
.Powered a{display: inline-block;}



@media(max-width:1200px) {
    .logo {
top: -28px;
}
 .navbar-nav > li > a {
font-size: 14px;
}
}
@media(max-width:991px) {
        header {
    border-top:none;
}
.right_area {
    position: inherit;
    right: inherit;
    top: inherit;
}
.right_area li:nth-child(1), .right_area li:nth-child(2){
   display: none;
}
.navbar-right{
   margin-right: 0px;
}
.right_area li{
  display: block;
}
.right_area li a{
   font-weight: 500 !important;
    text-transform: uppercase !important;
}
.logo{
   padding: 0px 5px;
     position: relative;
 top: 0;
}
     .navbar-nav > li > a {
 padding: 7px 17px;
 border-right: none;
}
    .top_social_media ul li {
padding: 0 3px;
}
     footer {
padding: 50px 0
}
    .navbar-header {
float: none;
}
 .navbar-left, .navbar-right {
float: none !important;
}
 .navbar-toggle {
display: block;
}
 .navbar-collapse {
 border-top: 1px solid transparent;
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
 .navbar-collapse.collapse {
display: none!important;
}
 .navbar-nav {
 float: none!important;
 background: #fff;
}
 .navbar-nav>li {
 float: none;
 border-bottom: 1px solid #d86b18;
}
 .navbar-default .navbar-nav > .active > a:hover {
background: #000;
}
 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
background: #333333;
color: #ffff !important;
}
 .navbar-nav>li>a {
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: left;
 color: #d86b18 !important;
}
 .collapse.in {
display:block !important;
border: none;
}
 .menu_nav .navbar-toggle {
 float: right;
    background: none;
    border: none;
    margin: 16px 0 0 0;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 9px 13px;
}
 .navbar-toggle .icon-bar {
height: 4px;
}
 .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
 background: none;
 border: none;
 color: #fff;
}
 footer h3 {
margin-top: 20px;
}
 footer .col-md-2.col-sm-6 {
margin-bottom: 22px;
}
    .header_logo {
width: 80%;
}
}
@media(max-width:767px) {
    .navbar-nav > li > a {
font-size: 16px;
}
 .logo {
text-align: center;
}
    header{
        border-top:none; 
    }
 header .lang_drop {
margin-top: 10px;
}
 header .dropdown-menu {
 position: absolute;
 left: 0;
 right: 0;
 top: 25px;
}
 .navbar-nav {
margin: 5px 0;
}
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
border: none;
}
    footer .col-md-2.col-sm-6 {
margin-bottom: 0px;
}
 footer h3 {
margin-top: 0px;
}
 .get-in-touch ul li {
padding: 10px 0 0 45px;
}
    footer {
padding: 10px 0 30px 0
}
 .reserved {
 float: none;
 text-align: center;
}
 .Powered {
 float: none;
 text-align: center;
}
    .menu_nav {
 min-height:auto;
 margin-top: 0;
 padding:0;
}
 footer h3 {
 height: auto;
 padding-top: 15px;
 padding-bottom: 10px;
}
 .get-in-touch {
clear: both;
}
 .header_logo {
width: 50%;
}
 .section-svg-inverse svg {
 display: none !important;
 overflow: hidden !important;
 height: 0 !important;
 width: 0 !important;
 left: 0 !important;
 -webkit-transform: none;
 transform: none;
}
}
@media(max-width:500px) {
  header .col-xs-4, header .col-xs-8, header .col-xs-5, header .col-xs-3 {
width: 100%;
}
 .logo {
text-align: center;
}
 .top_phone_email {
 display: none;
}
 .top_social_media {
display: none;
}
    footer .col-xs-6 {
width: 100%;
}
 footer h3 {
height: auto;
margin-top: 0;
}
 footer {
padding: 10px 0 30px 0;
}
    .header_logo {
width: 70%;
}
}
@media(max-width:380px) {
     .header_logo {
width: 100%;
}
}
