@media(max-width:1200px) {
 
 
 .banner_text h1 {
font-size: 50px;
}
 .section-lg-30 {
height: 300px;
}
.map-responsive {
    padding-bottom: 325px;
}
.comment-div .user {
    width: 20%;
}
.comment-div .comment-block {
    width: 80%;
}
.search-field {
    width: 88% !important;
}
.media-content {
    width: 74%;
}
#package-detail .detail-content h3 {
    text-align: left;
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    line-height: 30px;
    padding: 30px 0 0;
}
.review .comment-div .user {
    width: 14%;
}
.review .comment-div .comment-block {
    width: 86%;
}
}

/*=========END-1200px==========*/

@media(max-width:991px) {
    .packageImg img{
        max-height: auto;
    }
    #package-detail .detail-content h3, #package-detail .detail-content p{
        text-align: center !important;
    }
 .banner_text h1 {
 font-size: 50px;
 line-height:65px;
}
 .banner_text p {
width: 85%;
}

 .about-info h3 span {
font-size: 22px;
}
 
 .search-button {
padding: 5px 0;
}

 .our-partner {
padding: 50px 0;
}
 
    /*#bs-example-navbar-collapse-1{padding:0 15px;}*/
    .title-pattern {
padding: 10px 0;
}
 .about-info {
margin-top: 30px;
}
 
#service-sec .single_srvc h4 {
    font-size: 18px;
}
.map-responsive {
    padding-bottom: 325px;
}
#news-event-detail .detail-content h3 {
    font-size: 22px;
}
.comment-div .user {
    width: 100%;
}
.comment-div .comment-block {
    width: 100%;
}
.search-field {
    width: 83% !important;
}
.media img {
    width: 100%;
    height: 80px;
}
.media-content {
    width: 100%;
    margin: 10px 0 0 0;
}
.right-div .right-main .recent .popular-tags ul li a {
    padding: 5px 12px;
}
#package-detail .detail-content h3 {
    text-align: left;
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    line-height: 30px;
    padding: 30px 0 0;
}
.days img {
    width: 100%;
}
.days .days-detail {
    padding: 15px 0 0;
    width: 100%;
}
.review .comment-div .user {
    width: 18%;
}
.review .comment-div .comment-block {
    width: 82%;
}
.not-found{padding: 70px 0;}
    .packages-info{padding: 30px 0;}
    .packages-info .title-pattern{margin-bottom: 20px;}
    .pagination-in .pagination{margin: 0;}
    .packages-info .section-lg-30{padding: 20px;}
    .pagination-in .pagination > li > a, .pagination-in .pagination > li > span{padding: 10px 18px;}
}

/*=========END-991px==========*/

@media(max-width:767px) {
    .service-txt{
        height: auto;
    }
 .booking-form {
 position: relative;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
}
.searchButton {
    margin-bottom: 3px;
}
.searchButton button{
    width: 100%;
}
.hotlsSec{
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 5px;
}
 .banner_main img {
min-height: auto;
}
 
 .banner_text h1 {
 line-height: 50px;
 font-size: 30px;
 padding: 0 15px;
}
 .banner_text p {
 font-size: 16px;
 line-height: 22px;
}
 .banner_text {
 top: 0;
     padding: 56px 0px;
}
 .banner_text .item {
padding: 30px 0;
}
 .banner_text .owl-controls .owl-buttons div {
 position: absolute;
 top: 50%;
}
 .banner_text .owl-buttons .owl-next {
right: 0;
}
 .banner_text .owl-buttons .owl-prev {
left: 0;
}
 .search-section .search-col-padding {
 padding: 6px 0;
 clear: both;
}
 .news-img {
width: 100%;
}
 .news-detail {
width: 100%;
}
 
 .about-info {
margin: 10px 0;
}
 .about-info h3 {
line-height: 30px;
}
 .all-search-box {
padding-bottom: 0;
}
 .tab-pane h3 {
padding-left: 0;
}
 .search-section label {
font-size: 12px;
}
 .ui-datepicker-trigger {
    left: 0px !important;
    bottom: 17px !important;
}
 .search-section .plane-icon {
right: 8px;
}
 .search-button {
margin-top: 10px;
}
 .navbar-collapse {
padding: 0 !important;
}
 .about_main {
padding: 30px 0;
}
 .about_company p {
padding: 10px 0;
}
 .about_company .btn {
margin-top: 10px;
}
 .cell-lg-6 {
width: 100%;
}
 .section-lg-30, .box-offer img {
height: auto;
}
 .section-lg-30 h3 {
 font-size: 30px;
 line-height: 0px;
}
 .news-events {
margin-top: 20px;
}
 .news-main {
padding: 30px 0;
}
 .our-partner {
padding: 30px 0;
}
 
 .our-partner {
padding: 30px 0;
}
 .search-section .nav > li > a {
 padding: 10px 14px 10px 5px;
 font-size: 15px;
}
 
.inner_banner {
    min-height: 150px;
}
.inner_banner .banner_text h1 {
    font-size: 26px;
}
#about-sec .single_abt {
	position: relative;
	margin:20px 0;
}
.flex {
	display: -webkit-block;
	display: block;
}
.contact-form .btn-grey {
    width: 100%;
}
.map-responsive {
    padding-bottom: 454px;
}
.contact-form .search-col-padding {
    padding-top: 15px;
    display: inline-block;
}
.comment-div .user {
    width: 100%;
}
.comment-div .comment-block {
    width: 100%;
}
.comment-post .cmn-form .search-col-padding {
    width: 100%;
}
.comment-post .cmn-form .btn-grey {
    width: 100%;
}
.search-form {
    margin-top: 15px;
}
.search-field {
    width: 88% !important;
}
.media-content {
    width: 71%;
}
#news-event-detail .detail-content h3 {
    font-size: 22px;
}
#package-detail .detail-content h3 {
    text-align: left;
    color: #000;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0;
    line-height: 30px;
    padding: 30px 0 0;
}
.days img {
    width: 100%;
}
.days .days-detail {
    padding: 15px 0 0;
    width: 100%;
}
.review .comment-div .user {
   width: 100%;
}
.review .comment-div .comment-block {
    float: left;
    width: 100%;
}
.review .review-form .search-col-padding {
    width: 100%;
}
#package-detail, #news-event-detail, #about-sec, #contact-sec, #service-sec {
    padding: 30px 0;
}
#contact-sec h2, #service-sec h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 0px;
}
    .not-found{padding: 60px 0;}
    .not-found h3{font-size: 24px;}
    .not-found span{
        font-size: 200px;
        line-height: 200px;
        }
    .not-found p{font-size: 16px;}
    .not-found a{margin-top: 20px;}
	.booking-info .search-section .tab-content{padding: 0;}
	.partner-info{padding:30px 0 10px 0;}
}
/*=========END-767px==========*/


@media(max-width:500px) {
 
 .banner_text {
display: none !important;
}
    .banner_main {
    padding-top: 54px;
}
 .banner_text h1 {
 font-size: 30px;
 line-height: 40px;
}
 .search-section .nav-tabs > li {
 float: none;
 border-bottom: 1px solid #fff;
 margin-right: 0;
}
 .search-section .nav > li > a {
font-size: 16px;
}
 .search-section .nav > li > a {
 padding: 10px 9px;
}
 .search-section .tab-content {
 padding: 0 0 15px 0;
}
 .checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
margin-left: 0;
}
 .banner_text .owl-buttons {
display: none;
}
 .banner_text .item {
padding: 0;
}
 .banner_text p {
font-size: 12px;
line-height: 16px;
}
 .banner_text h1 {
font-size: 18px;
line-height: 26px;
}
 .booking-tab {
padding: 0;
}
 .sale-offer {
padding: 50px 0;
}
 .sale-offer h2 {
font-size: 40px;
}
 .sale-offer p {
font-size: 16px;
}
 
 .partner-logo {
margin-bottom: 15px;
}
 .nav-tabs > li {
float: none;
}
 .packge-tab .nav-tabs > li > a {
 border-right: none;
 border-bottom: 1px solid #d9d3af !important;
 padding:15px 32px !important;
}
 
    .not-found{padding: 30px 0;}
    .not-found h3{
        font-size: 20px;
        line-height: 24px;
        }
    .not-found span{
        font-size: 150px;
        line-height: 150px;
        }
    .not-found p{font-size: 16px;}
    .not-found a{margin-top: 20px;}
	.partner-info .col-md-3.col-sm-4.col-xs-6{width: 100%;} 
}
@media(max-width:380px) {

#service-sec .single_srvc h4 {
    font-size: 13px;
}
.social_wrapper {
    float: left;
    width: 100%;
    margin-top: 10px;
}
}
