
/* Import All CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
.modal-open{
    padding-right: 17px;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
ol,ul,li {
    list-style: none;
}

blockquote,q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
html {
    -webkit-text-size-adjust: none;
}
*{
    outline: none;
}
input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
::-moz-selection {
    background: #404041;
    color: #fff;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 16px;
	border: 1px solid #c3c3c3;
	padding: 8px 10px;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
    border-color: #d86b18;
    box-shadow: none;
}

.btn {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
.btn a::after{
    content:"\f1d8";
    font-family:'FontAwesome';
    font-size: 20px;
    padding-left: 10px;
    }
.btn.active, .btn:active{box-shadow: none;}
.btn a,
input[type="submit"] {
font-family: 'Roboto', sans-serif;
	font-weight: 700;
    display: inline-block;
    font-size: 20px;
    background-color:#d86b18;
    color: #fff;
    padding: 10px 36px;
	border-radius:0px;
    vertical-align: middle;
	text-transform:uppercase;
    border: 1px solid #d86b18;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.btn a:hover,
input[type="submit"]:hover {
    background-color:transparent;
    color: #d86b18 !important;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.section {
    padding: 50px 0;
    overflow: hidden;
}
p {
    font-size: 15px;	
    line-height: 24px;
	letter-spacing: 0.5px;
    color: #333333;
    padding: 8px 0;
	font-weight: 300;
}
h1,h2,h3,h4 {  
    margin-top: 0;
    color: #404041;
}
h1 {
    font-size: 60px;
    line-height: 80px;
	font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
h2 {
	text-align:center;
	font-size:40px;
	font-weight:700;
	text-transform:uppercase;
	color:#d86b18;
	line-height:44px;
    font-family: 'Open Sans', sans-serif;
}
h3 {
	font-size:30px;
	font-weight:700;
	color:#d86b18;
	padding:10px 0;
	line-height:36px;
    font-family: 'Roboto', sans-serif;
}
h4 {
    font-size: 20px;
    line-height: 26px;
    padding: 10px 0;
	text-transform:uppercase;
	font-weight:700;
	letter-spacing:0;
    color: #d86b18;
}
h5 {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    margin: 0;
}
@media(max-width:991px) {
    h1 {
        font-size: 40px;
        line-height: 45px;
    }
	h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
}
@media(max-width:767px) {
    h1 {
        font-size: 30px;
        line-height: 35px;
    }
    h2 {
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 0px;
    }
    h3 {
        font-size: 24px;
        line-height: 40px;
        padding: 10px 0;
    }
}
a {
    -webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    -moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    -ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    -o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
    transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
    	 -o-transition: all 0.5s ease-in-out;
   			transition: all 0.5s ease-in-out;
}
img {
	
    max-width: 100%;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    height: auto;
}
body {
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
    background-color: #fff;
    color: #404040;
}




/*========banner=======*/
.banner_main{
	position: relative;
	background-size: cover;
    }
.banner_main img{
    width: 100%;
    min-height: 700px;
    }
.banner_text{
       text-align: center;
    margin: 0 auto;
    padding: 86px 0px;
    }
.banner_text h1{
    color: #fff;
    text-shadow: 0px 3px 0px #3c2311; 
    line-height: 90px;
    
    }
.banner_text p{
    font-weight: 600;
    color: #fff;
    width: 70%;
    text-align: center;
    margin: 0 auto; 
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    }		
.banner_text .owl-controls .owl-buttons div{
    background: #fff;
    color: #333333 !important;
    opacity: 1;
    border-radius: 0;
    height: 40px;
    width: 36px;
    font-size: 22px;
    line-height: 36px;
    }
.banner_text .owl-buttons .owl-prev{
    float: left;
    margin: 0 !important;
    }
.banner_text .owl-buttons .owl-next{
    float: right;
    margin: 0 !important;
    }
.owl-theme .owl-controls .owl-buttons div:hover{
    background: #d86b18;
    color: #fff !important;
     -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
    	 -o-transition: all 0.5s ease-in-out;
   			transition: all 0.5s ease-in-out;
    }

/*================Booking-Form-Css================*/

.booking-form {
	width: 100%;
}
.search-section {
	position: relative;
}
.all-search-box {
	background: #d86b18;
	padding-bottom: 5px;
}
.booking-tab {
	padding-left: 0;
}
.search-section .nav-tabs {
	border-bottom: none;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs > li > a {
	color: #d86b18 !important;
	background: #fff;
	font-weight: 400;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
    vertical-align: middle;
}
.search-section .nav > li > a {
	padding: 13px 34px 10px 15px;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	display: block;
}

.search-section .nav-tabs > li {
	margin-bottom: 0px;
	float: left;
    margin-right: 3px;
}
.search-section .nav-tabs > li i{
    font-size: 18px;
    padding-right: 5px;
    }
.search-section .nav-tabs > li > a:hover {
	background: #d86b18;
	border: 1px solid transparent;
    color: #fff !important;
}

.search-section .nav-tabs > li.active > a, .search-section .nav-tabs > li.active > a:focus, .search-section .nav-tabs > li.active > a:hover {
	border: none;
	background: #d86b18;
	color: #fff !important;
}
.search-section .tab-content {
	color: #07253f;
}
.search-col-padding .input-group {
	display: block;
}

.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 9999999999 !important;
}

.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #d86b18;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #000;
}

.ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 46px;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 17px;
	padding: 2px;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
	color: #2e475d;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
	font-size: 14px;
	padding: 2px;
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #d86b18;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}

.ui-state-default {
	display: block;
	text-decoration: none;
	color: #42474d;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
}

.ui-state-default:hover {
	background: #d86b18;
	color: #fff;
}

.ui-state-highlight {
	color: #fff;
	background: #d86b18;
}

.ui-state-active {
	background: #95a9bf none repeat scroll 0 0;
	/* border-radius: 50%; */
	color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #ababab;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}

.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #ababab;
	font-size: 18px;
	padding: 5px 10px;
	position: absolute;
	right: 20px;
	bottom: 7px;
    border-left: 1px solid #a3a3a3;
}
.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn:hover {
	color: #d86b18;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}



.search-col-padding .active {
	color: #fff;
}
.trip-button {
	margin-top: 10px !important;
}

#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}
/*-----Select Box CSS-----*/

.bootstrap-select {
	width: 220px;
}
.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}
.bootstrap-select.fit-width {
	width: auto!important
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}
.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}
.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}
.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}
.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}
.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}
.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}
.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
	padding: 4px 8px
}
.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-actionsbox .btn-group button {
	width: 50%
}
.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-donebutton .btn-group button {
	width: 100%
}
.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}
.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}
select.bs-select-hidden, select.selectpicker {
	display: none!important
}
select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}
#flight form .input-group {
	display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #333333 !important;   /*   text color */
	line-height: 34px;
	background-color: #fff;
	border-radius: 0px;
	font-size: 16px;
	font-weight: 400;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 34px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 40px;
	text-align: center;
	line-height: 34px;
    border-left: 1px solid #a3a3a3;
}
.select2-container--default .select2-selection--single {
	background-color:transparent; /*     input background color */
	border: 1px solid #c3c3c3;
	border-radius: 0px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #d86b18; /*   option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #d86b18; /*   option hover background */
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 0;
	color: #ababab;
	padding: 5px 10px;
	font-size: 18px;
}
.adult-select {
	background: #fff url(../images/newsletter-icon.png);
	background-position: center left;
}
.select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}
.select2-dropdown {
	border-color: #6e8095;
}
.tab-pane h3 {
	font-size: 21px;
	font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-left: 15px;
    color: #fff;
}
.select-label {
	font-size: 14px !important;
	font-weight: 500 !important;
	text-transform: uppercase;
	padding-bottom: 10px;
}
/*===========end-form-search-flight================================*/

/*About-css-start*/
.about_main{
    background: #fff;
    padding: 60px 0;
    }   
.about_company h2{
    position: relative;
    }
.title-pattern{
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    padding-bottom: 20px;
    opacity: 0.5;
    }
.about-info h3{
    padding-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    }
.about-info h3 span{
    color: #000;
    font-size: 24px;
    }
.about-info img{width: 100%;}
.about-info p{
    font-size: 15px;
    color: #333333;
    text-align: left;
    font-weight: 300;
    padding: 30px 0 0;
	display:inline-block;
    }

/*=============Packages===========*/
/*=====  Packages CSS BOF  ======*/
.range-sm-middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.range-sm-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.cell-lg-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  width: 50%;
  float: left; }

.box-offer img {
  position: relative;
  width: 100%;
    height: 300px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.offset-lg-top-0 {
  margin-top: 0; }

.section-svg {
  position: relative; }

.section-lg-30 {
  padding: 20px 25px;
  display: inline-block;
  text-align: center;
  background-color: #e9e9e9;
  height: 300px;
    }
  .section-lg-30 h3 {
    font-size: 40px;
    display: inline-block !important;
    font-family: 'Open Sans', sans-serif;  
    color: #000;
    text-transform: uppercase;
    font-weight: 700; 
    }

.section-lg-30 span{
    color: #d86b18;
    font-weight: 700;
    margin-top: 9px;
    display: block;
    }
  .section-lg-30 h3 a {
    color: #000 !important; }
  .section-lg-30 h3 a:hover {
    color: #e00024 !important;
    text-decoration: none; }
  .section-lg-30 h4 {
    font-size: 26px;
    display: inline-block !important;
    color: #000;
    padding-top: 15px;
    font-weight: 900; }
  .section-lg-30 p {
    color: #444 !important;
    padding-top: 10px; 
    }
  .section-lg-30 .btn-red {
    background: #a6a6a6;
    width: 160px;
    margin-top: 10px !important;
    display: inline-block; 
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-weight: 700;
    }
  .section-lg-30 .btn-red:hover {
    color: #fff;
    background: #d86b18;
    text-decoration: none; 
    }

.box-offer .section-svg svg {
  position: absolute;
  top: 62px;
  left: -45px;
  width: 60px;
  height: 30px;
  -webkit-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  fill: #e9e9e9; }

.box-offer .section-svg-inverse svg {
  left: auto;
  right: -45px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
  fill: #e9e9e9; }

.pdng {
  padding: 0; }
/*=============End-Packages===========*/   

/*=============News & Events===========*/
.news-main{
    padding: 60px 0 60px 0;
    }

.news-events{
    background: #e9e9e9;
    border-radius: 0;
    overflow: hidden;
    border: 1px solid #cfcfcf;
    position: relative;
    margin-bottom: 15px;
    }
.news-img{
    display: block;
    position: relative;
    float: left;
    width: 50%;
    }
.news-img img{
	width: 100%;
	height: 200px;
    }
.news-date{
    position: absolute;
    top: 0;
    left: 0;
    background:#d86b18;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 5px;
    }
.news-date span{
    font-size:19px;
    font-weight: 700;
    }

.news-detail{
    padding: 22px 15px;
    float: left;
    width: 50%;
    text-align: left;
    background: #e9e9e9;
    }
.news-detail p {
    font-size: 15px;
    font-weight: 300;
    color: #6a6a6a;
    line-height: 27px;
    padding-bottom: 0;
    margin-bottom: 10px;
    min-height: 96px;
}
.news-title{
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    }
.news-main .owl-carousel .item{
    border-radius: 0;
    margin:10px;
    }
.news-detail ul{
    float: left;
    }
.news-detail ul li{
    display: inline-block;
    padding-right: 10px;
    color: #a6a6a6;
    }
.news-detail .btn{
    float: right;
    margin-top: 0;
    }
.news-detail .btn a{
    padding: 0;
    background-color: transparent;
    color: #a6a6a6;
    border: none;
    font-size: 15px;
    }
.news-detail .btn a::after{
    display: none;
    }
.news-detail .btn a:hover{
    color:#d86b18 !important;
    }
.news-main .owl-controls .owl-buttons div{
    background: #d86b18;
    color: #fff !important;
    opacity: 1;
    border-radius: 0;
    height: 35px;
    width: 35px;
    font-size: 22px;
    line-height: 30px;
    }

.news-main .owl-theme .owl-controls .owl-buttons div:hover{
    background: #000;
    color: #fff !important;
     -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
    	 -o-transition: all 0.5s ease-in-out;
   			transition: all 0.5s ease-in-out;
    }
/*==============End News-Event===========*/



/*=============sale-offer ============*/
.sale-offer{
    background: url(../images/sale-offer-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    }
.book-btn{
    background: #fff;
    color: #d86b18;
    text-transform: capitalize;
    padding: 10px 30px;
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    }
.book-btn:hover{
    background: #d86b18;
    color: #fff;
    }
.sale-offer h2{
    color: #fff;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding: 15px 0;
    }
.sale-offer p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    line-height: 26px;
    }



/*==============our-partner===========*/
.our-partner{
    padding: 60px 0;
    background: #ffff;
    }
.partner-logo .owl-item img{
    width: auto;
    display: inline-block;
    border-radius: 0;
    width: 100%;
    filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .5s ease-in-out;  
    }
.partner-logo .owl-item img:hover{
     filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }
.partner-logo .owl-item .item{
    text-align: center;
    border-radius: 0;
    margin:10px;
    }
.partner-logo .owl-buttons{
    display: none;
    }
.owl-pagination{display: none;}






/*=================Home-Page-End-Css========================*/


/* About Us Page CSS BOF
=================================================== */

.inner_banner {
	min-height: 252px;
	position: relative;
	background-size: cover !important;
	background-position: top center!important;
}
.inner_banner::before {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.inner_banner .banner_text {
    position: relative;
    width: auto;
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
}
.inner_banner .banner_text h1 {
    color: #fff;
    text-shadow: 0px 3px 0px #3c2311;
    line-height:normal;
	font-size:40px;
	text-align:center;
}
.breadcrumbs1_wrapper {
	background: #fff;
	margin-top: -1px;
	display: block;
	position: relative;
}
.breadcrumbs1 {
	padding: 10px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #474646;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
}
.breadcrumbs1 a {
	color: #000;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #474646;
	text-decoration: none;
}
.breadcrumbs1 i {
	display: inline-block;
	margin: 0 10px;
	vertical-align: middle;
}

#about-sec {
    background: #f8f8f8;
	display:block;
	padding:60px 0;
}
#about-sec .single_abt, #service-sec .single_srvc, #contact-sec .single_cntc {
	position: relative;
}
#about-sec .single_abt i, #service-sec .single_srvc i, #contact-sec .single_cntc i {
    color: #d86b18;
    display: block;
    float: left;
    font-size: 30px;
    padding: 15px;
    border: 1px solid #d5d5d5;
    margin-right: 15px;
}
#about-sec .single_abt h4, #service-sec .single_srvc h4, #contact-sec .single_cntc h4 {
	color: #000;
	font-size: 20px;
	margin: 0;
	padding: 18px 0 0;
	text-align: left;
}
#about-sec .single_abt p, #service-sec .single_srvc p, #contact-sec .single_cntc p {
	display: block;
	overflow: hidden;
	text-align: left;
	width: 100%;
	padding: 20px 0 0;
}

/* Our Services Page CSS BOF
=================================================== */
.flex {
	display: -webkit-flex;
	display: flex;
}
.m-t-30 {
    margin-top: 30px;
}
#service-sec, #contact-sec {
	display:block;
	padding:60px 0;
	border-bottom: 1px solid #f0f0f0;
}  
#service-sec h2, #contact-sec h2{
    position: relative;
}
#service-sec p {
    font-size: 15px;
    color: #333333;
    text-align: left;
    font-weight: 300;
    padding: 30px 0 0;
    display: inline-block;
}
#service-sec .single_srvc {
    border: 1px solid #e5e5e5;
    padding: 20px;
    position: relative;
	min-height: 100%;
	float: left;
    width: 100%;
}
.service-txt{
	width: 100%;
	float: left;
	height: 109px;
	overflow: auto;
	margin-top: 5px;
}
.service-txt::-webkit-scrollbar {
	width: 5px;
}

.service-txt::-webkit-scrollbar-track {
	background: #e6e6e6;
}

.service-txt::-webkit-scrollbar-thumb {
	background-color: #d0d0d0;
	outline: 1px solid slategrey;
}
.service-txt p{
	padding-top: 0px !important;
}
/* Contact Us Page CSS BOF
=================================================== */
.p-0 {
    padding: 0;
}
#contact-sec {
	border-bottom: none;
}
#contact-sec .single_cntc {
	position: relative;
	text-align:center;
}
#contact-sec .single_cntc i {
    float: none;
    padding: 0;
    margin: 0 auto;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
#contact-sec .single_cntc h4 {
    padding: 15px 0 0;
    clear: both;
	text-align:center;
}
#contact-sec .single_cntc p {
    padding: 15px 0 0;
	text-align:center;
}
#contact-sec .single_cntc p a{
	color:#333;
	text-decoration:none;
}
#contact-sec .single_cntc p a:hover{
	color:#d86b18;
	text-decoration:none;
}

#contact-form {
	width: 100%;
	display: block;
	min-height: 860px;
}
.contact-form textarea.form-control, .comment-post .cmn-form textarea.form-control, .review .review-form textarea.form-control{
	height: 120px;
	resize: none;
}
.contact-form .form-control, .comment-post .cmn-form .form-control, .review .review-form .form-control {
    background-color:#fff;
    color: #000;
    display: block;
    font-size: 11px;
    height: 42px;
    line-height: 1.42857;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
	border: 1px solid #d7d7d7;
}
.contact-form input:focus, .comment-post .cmn-form input:focus, .review .review-form input:focus{border-color:#d7d7d7;}
.contact-form .btn-grey, .comment-post .cmn-form .btn-grey, .review .review-form .btn-grey {
	width: 250px;
	float: right;
	margin-top: 10px;
	padding: 12px 9px;
    background: #a6a6a6;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
	border:none;
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
.contact-form .btn-grey:hover, .comment-post .cmn-form .btn-grey:hover, .review .review-form .btn-grey:hover {
    color: #fff;
    background: #d86b18;
    text-decoration: none;
}
#contact-form {
	background: transparent;
	min-height: auto;
}
.contact-form {
	padding: 30px 10% 50px;
	background:#f8f8f8;
}
.contact-form .search-col-padding, .comment-post .cmn-form .search-col-padding, .review .review-form .search-col-padding{
    padding-top: 15px;
    display: inline-block;
}
.contact-form label, .comment-post .cmn-form label, .review .review-form label {
    font-size: 11px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    margin: 0;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 454px;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 454px;
	width: 100%;
	position: absolute;
}

/* News & Events Detail Page CSS BOF
=================================================== */
#news-event-detail {
	display: block;
	padding:0px 0 60px 0;
	border-bottom: 1px solid #f0f0f0;
}
.newsDetails{
	width: 100%;
	padding-top: 60px;
}
/*Left Section CSS*/
#news-event-detail .detail-content {
	width: 100%;
	margin: 0px auto 0;
}
#news-event-detail .detail-content img {
	width: 100%;
	display: block;
	position: relative;
}
#news-event-detail .detail-content .grey2 {
	width: 100%;
	display: block;
	padding: 12px 0;
	float: left;
	border-top: 1px dashed #e1e1e1;
	border-bottom: 1px dashed #e1e1e1;
}
#news-event-detail .detail-content h3 {
	color: #000;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	padding: 30px 0;
	float: left;
	line-height: 30px;
}
#news-event-detail .detail-content .grey2 .date {
	color: #919191;
	font-size: 13px;
	font-weight: 500;
	float: left;
	text-transform: uppercase;
	padding-top: 3px;
	margin-right: 20px;
}
#news-event-detail .detail-content .grey2 .date i {
	color: #919191;
	padding-right: 5px;
}
#news-event-detail .detail-content .grey2 .news-comment {
	float: right;
	padding: 0;
	margin: 0;
}
#news-event-detail .detail-content .grey2 .news-comment .comnt {
	display: inline-block;
}
#news-event-detail .detail-content .grey2 .news-comment .comnt i {
	color: #919191;
}
#news-event-detail .detail-content .grey2 .news-comment .fa span {
	font-family: 'Roboto', sans-serif;
	color: #919191;
	font-size: 13px;
	font-weight: 500;
	padding-left: 5px;
}
#news-event-detail .detail-content .inner {
	width: 100%;
	display: inline-block;
	border-top: 1px dashed #e1e1e1;
	border-bottom: 1px dashed #e1e1e1;
	padding: 12px 0 8px;
	margin: 10px 0;
	float: left;
}
#news-event-detail .detail-content .inner .tag-cnt {
	float: left;
}
#news-event-detail .detail-content .inner .tag-cnt ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#news-event-detail .detail-content .inner .tag-cnt ul li {
	padding: 0 8px 0 0;
	font-size: 15px;
	color: #737373;
	float: left;
}
#news-event-detail .detail-content .inner .tag-cnt ul li i {
	color: #d86b18;
}
.social_wrapper {
	float: right;
}
.social2 {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.social2 li {
	display: inline-block;
	margin: 0 4px;
	float: left;
}
.social2 li a {
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #b9b9b9;
	text-align: center;
	line-height: 19px;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border: 1px solid #fff;
	width: 28px;
	height: 28px;
	padding: 3px;
}
.social2 li a:hover {
	background: #d86b18;
	border: 1px solid #d86b18;
	color: #fff;
}
.detail-content p {
	text-align: left;
	padding-top: 15px;
	float: left;
}
.comment-main {
	width: 100%;
	float: left;
	display: block;
}
.comment-main h4, .comment-post h4 {
	color: #000;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 400;
	float: left;
	border-bottom: 1px solid #d86b18;
	width: 100%;
	padding-bottom: 15px;
	margin: 30px 0 0;
}
.comment-div {
	width: 100%;
	float: left;
	padding: 20px 0;
	border-bottom: 1px dashed #e1e1e1;
}
.comment-div .user {
	width: 16%;
	text-align: center;
	float: left;
	padding-right: 10px;
}
.comment-div .user img {
	border-radius: 0;
	height: 105px;
	width: 105px;
}
.comment-div .comment-block {
	width: 84%;
	float: left;
}
.comment-div .comment-block .heading {
	width: 100%;
	color: #333;
	font-size: 18px;
	font-weight: 400;
	float: left;
	margin: 0;
	text-align: left;
	padding: 0;
}
.comment-div .comment-block .heading span {
	color: #333;
	font-size: 13px;
	font-weight: 500;
	float: right;
}
.comment-div .comment-block p {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0;
}
.comment-div .reply {
	font-size: 13px;
	font-weight: 500;
	color: #444;
	margin-top: 10px;
	float: left;
	text-decoration: underline;
}
.comment-div .reply:hover {
	color: #d86b18;
	text-decoration: none;
}
.comment-post {
	float: left;
	width: 100%;
	display: block;
	margin-top: 40px;
}
.comment-post h4 {
	padding: 15px 0 15px 0;
	margin: 0;
}
.comment-post .cmn-form {
	padding: 10px 0 0;
	width: 100%;
	float: left;
	display: inline-block;
}
.comment-post .cmn-form .form-control {
    background-color:#f8f8f8;
}

/*=====  Right Section Start  ======*/
.right-div {
	width: 100%;
	display: block;
	float: right;
	min-height: 100%;
}
.right-div .right-main {
	background: #fff;
	width: 100%;
	border: 1px solid #eaeaea;
	padding: 0;
	float: left;
	margin-bottom: 20px;
}
.search-form {
	width: 100%;
	float: left;
	background: #f6f6f6 !important;
	border: none !important;
}
.search-form .rslt{
	background: #fff;
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 0;
    float: left;
}
.form-container {
	width: 100%;
	overflow: hidden;
	text-align: left;
	float: right;
	padding: 25px 15px;
	background-color: #acacac;
}
.search-field {
	color: #555 !important;
	float: left !important;
	font-size: 14px !important;
	font-weight: 300 !important;
	height: 37px !important;
	width: 90% !important;
	border: none !important;
	margin:0 !important;
}
.form-container button {
	padding: 8px 8px 9px;
	float: left;
	border: none;
	background: #fff;
}
.form-container i {
	color: #d5d5d5;
}
.right-div .right-main .categories {
	width: 100%;
}
.right-div .right-main .categories h5, .right-div .right-main .recent h5 {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin: 0;
	padding: 18px 15px;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
	background: #acacac;
}
.right-div .right-main .categories ul {
	list-style: none;
	padding: 10px 0;
	float: left;
}
.right-div .right-main .categories li {
	font-size: 13px;
	font-weight: 500;
	width: 100%;
	float: left;
	padding: 10px;
}
.right-div .right-main .categories li i {
	font-size: 8px;
	color: #d86b18;
	float: left;
	padding: 5px 10px 0 0;
}
.right-div .right-main .categories li span {
	float: right;
}
.right-div .right-main .categories ul li a {
	color: #555;
	text-decoration: none;
	width: 100%;
	display: block;
	position: relative;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.right-div .right-main .categories ul li a:hover {
	color: #d86b18;
	text-decoration: none;
}
.right-div .right-main .categories li:last-child {
	border-bottom: none;
}
.right-div .right-main .recent {
	width: 100%;
}
.recent-posts {
	width: 100%;
	float: left;
	padding: 15px 10px;
	border-bottom: 1px dashed #eaeaea;
}
.recent-posts:last-child{
	border-bottom: none;
}
.media {
	width: 100%;
	float: left;
	padding: 8px 10px;
	margin: 3px 0 0;
	border-bottom:1px solid #f0f0f0;
}
.recent-posts .media:last-child {
	border-bottom:none;
}
.media img {
	width: 55px;
	float: left;
	border: 1px solid #969696;
	height: 55px;
}
.media-content {
	width: 78%;
	float: left;
	margin-left: 10px;
}
.media-content h6 {
	width: 100%;
	float: left;
	font-weight: 500;
	color: #000;
	line-height: 20px;
	text-transform: none;
	padding: 0;
	font-size: 14px;
	margin: 0 !important;
}
.media-content h6:hover {
	color: #d86b18;
}
.media-content p {
	width: 100%;
	float: left;
	font-weight: 400;
	color: #444;
	font-size: 13px;
	line-height: 20px;
	padding-top: 8px;
	text-align: left !important;
}
.right-div .right-main .recent .popular-tags {
	width: 100%;
	float: left;
	padding: 10px 6px;
}
.right-div .right-main .recent .popular-tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.right-div .right-main .recent .popular-tags ul li {
	float: left;
	font-size: 15px;
	font-weight: 300;
	padding: 0px;
	width: auto;
	text-align: center;
}
.right-div .right-main .recent .popular-tags ul li a {
	color: #000;
	float: left;
	margin: 8px;
	padding: 5px 15px;
	text-decoration: none;
	background: #f6f6f6;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.right-div .right-main .recent .popular-tags ul li a:hover {
	color: #fff;
	text-decoration: none;
	background: #d86b18;
}

/* Package Detail Page CSS BOF
=================================================== */
#package-detail {
	display: block;
	padding:60px 0;
	border-bottom: 1px solid #f0f0f0;
}
#package-detail .detail-content {
	text-align: left;
}
#package-detail .detail-content h3 {
    text-align: left;
    margin: 30px 0 10px;
    color: #000;
    text-transform: uppercase;
    font-size: 28px;
}
#package-detail .detail-content p {
	font-size: 15px;
	text-align: left;
	float: none;
	line-height: 24px;
}
#package-detail .btn.btn-orange.text-center {
	padding: 17px 60px;
	font-size: 16px;
	text-transform: uppercase;
}
#package-detail .btn-grey1 {
	width:100%;
	text-align:center;
	margin-top: 30px;
	padding: 15px 9px;
    background: #a6a6a6;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
	border:none;
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}
#package-detail .btn-grey1:hover {
    color: #fff;
    background: #d86b18;
    text-decoration: none;
}
#package-detail .table > caption + thead > tr:first-child > th, #package-detail .table > colgroup + thead > tr:first-child > th, #package-detail .table > thead:first-child > tr:first-child > th, #package-detail .table > caption + thead > tr:first-child > td, #package-detail .table > colgroup + thead > tr:first-child > td, #package-detail .table > thead:first-child > tr:first-child > td {
	border-bottom: 0;
	border-top: 0;
	background: #f4f4f4;
	text-align: center;
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
	font-weight:500;
}
#package-detail .table > thead > tr > th, #package-detail .table > tbody > tr > th, #package-detail .table > tfoot > tr > th, #package-detail .table > thead > tr > td, #package-detail .table > tbody > tr > td, #package-detail .table > tfoot > tr > td {
	padding: 15px;
	font-size: 13px;
	font-weight: 300;
	color: #555555;
	text-align: center;
}
#package-detail .vid {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom: 30px;
}
#package-detail .vid iframe, #package-detail .vid object, #package-detail .vid embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
#package-detail h5 {
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #d86b18;
	padding: 0 0 15px;
	margin-bottom: 20px;
	color: #000;
}
#package-detail .map-responsive {
	overflow: hidden;
	padding-bottom: 220px;
	position: relative;
	height: 0;
}
#package-detail .map-responsive iframe {
    left: 0;
    top: 0;
    height: 220px !important;
    width: 100%;
    position: absolute;
}
/*=====  Tab start  ======*/
.packge-tab {
    width: 100%;
    display: block;
    margin-top: 40px;
    padding-top: 50px;
    border-top: 1px solid #e2e2e2;
}
.packge-tab .nav-tabs {
	border-bottom: 1px solid #ebebeb;
}
.packge-tab .nav-tabs > li {
	padding: 0 !important;
}
.packge-tab .nav-tabs>li.active>a, .packge-tab .nav-tabs>li.active>a:focus, .packge-tab .nav-tabs>li.active>a:hover {
	border: none;
	color: #fff !important;
	background: #d86b18;
	border-radius: 0 !important;
	border-right: 1px solid #ebebeb;
}
.packge-tab .nav-tabs>li>a {
	border: none;
	color: #444444;
	font-size: 16px;
	padding: 22px 40px !important;
	border-right: 1px solid #ebebeb;
	border-radius: 0;
	font-weight: 500;
	margin-right: 0;
	text-transform: uppercase;
}
.packge-tab .nav-tabs>li.active>a, .packge-tab .nav-tabs>li>a:hover {
	border: none;
	color: #fff !important;
	background: #d86b18;
	border-radius: 0 !important;
	border-right: 1px solid #ebebeb;
}
.packge-tab .tab-pane {
	padding: 15px 0;
}
.packge-tab .tab-content {
	padding: 10px 20px;
}
.packge-tab .card {
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #ebebeb;
}
.packageImg img{
	width: 100%;
	max-height: 420px;
}
/*Itinerary Content*/

.days {
	width: 100%;
	display: inline-block;
	padding: 0px 10px 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dedede;
}
.days img {
	float: left;
	width: 25%;
}
.days .days-detail {
	display: block;
	float: left;
	padding-left: 15px;
	width: 73%;
}
.days .days-detail .day-text {
	font-size: 14px;
	color: #d86b18;
	text-align: left;
}
.days .days-detail h6 {
	color: #333333;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	text-align: left;
	text-transform: uppercase;
}
.days .days-detail p {
	color: #444444;
	font-size: 15px;
	line-height: 22px;
	text-align: left;
	padding: 0;
}
.days .days-detail span {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: 500;
}
/*Gallery Content*/

.gallery {
	width: 100%;
	display: block;
}
.gallery .mrgn {
	margin: 10px 0;
}
/*Review Content*/
.review {
	width: 100%;
	display: block;
	padding: 10px 0;
}
.review h3 {
	color: #333333;
	font-size: 20px;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
	font-weight: 500;
}
.review .comment-div {
	float: left;
	padding: 20px 0;
	width: 100%;
}
.review .comment-div .user {
	float: left;
	padding-left: 0;
	text-align: left;
	width: 10%;
	margin: 0;
}
.review .comment-div .user img {
    border-radius: 100%;
    height: 105px;
    width: 105px;
}
.review .comment-div .comment-block {
	float: right;
	width: 88%;
}
.review .comment-div .comment-block .heading {
	color: #333333;
	float: left;
	font-size: 15px;
	font-weight: 500;
	text-transform: inherit;
	width: 100%;
}
.review .comment-div .comment-block .heading span {
	color: #808080;
	font-weight: 500;
}
.review .rating {
	display: inline-block;
	padding: 10px 0 0;
	list-style: none;
}
.review .rating li {
	display: inline-block;

}
.review .rating li i {
	color: #d86b18;
	font-size: 15px;
	
}
.review .review-form {
	width: 100%;
	display: block;
}
.review .review-form h4 {
	color: #333333;
	float: left;
	font-family: "Roboto", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	margin: 20px 0;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}
.review .review-form p {
	color: #444444;
	font-size: 15px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding:0 0 15px;
}
.review .review-form .form-control {
    background-color: #f8f8f8;
}

/* 404 Page CSS BOF
=================================================== */

.not-found{
    padding: 133px 0;
    text-align: center;
    }
.not-found h3{
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
    }
.not-found span{
    font-size: 321px;
    font-weight: 900;
    color: #dedede;
    line-height: 320px;
    }
.not-found p{
    font-size: 21px;
    color: #5d5d5d;
    }
.not-found a{
    background: #a5a5a5;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 35px;
    color: #fff;
    margin-top: 50px;
    display: inline-block;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    }
.not-found a:hover{
    background: #d86b18;
    }

/* Booking  Page CSS BOF
=================================================== */

.booking-info .booking-form{
    position: relative;
    }
.booking-info  .all-search-box{
    background: #fff;
    padding-bottom: 0;
    }
.booking-info .search-section .form-control{
    background: #f8f8f8;
    height: 40px;
    
    }
.booking-info .calendar{
    background: #f8f8f8;
    padding: 11px 6px !important;
    }
.booking-info .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #f8f8f8;
    line-height: 37px;
    }
.booking-info textarea{
    background: #f8f8f8;
    margin-top: 0;
    }
.booking-info .search-section label{color: #444444;}
.booking-info .search-button{
    margin-top: 10px;
    background: #a5a5a5;
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    }
.booking-info .search-button:hover{
    background: #fe0136;
    color: #fff;
    }
.booking-info .ui-datepicker-trigger{padding: 8px 10px;}
.booking-info .select2-container .select2-selection--single{height: 40px;}
.booking-info .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 39px;
    }
	
	/* Partner logo Page CSS BOF
=================================================== */
.partner-info{
    padding: 60px 0 30px 0;
    }
.partner-inner{
    border: 1px solid #dedede;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    }
	
	/* News & Events Listing Page CSS BOF
=================================================== */

.news-inner .news-detail{padding: 20px 15px;}
.news-inner .news-events{margin-bottom: 30px;}


/* Packages Listing Page CSS BOF
=================================================== */

.packages-info{
    padding: 60px 0;
    border-bottom: 1px solid #f0f0f0;
    }
.packages-info .title-pattern{margin-bottom: 50px;}
.packages-info .section-lg-30 h3{
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 15px;
    line-height: 30px;
    }
.packages-info .section-lg-30{
    height: auto;
    padding: 40px 20px;
    }
.pagination-in .pagination{margin-bottom: 0;}
.packages-info .section-lg-30 span{margin-top: 0;}
.packages-info .box-offer{margin-bottom: 30px;}
.pagination-in{text-align: center;width: 100%;float: left;}
.pagination-in .pagination > li > a, .pagination-in .pagination > li > span{
    padding: 12px 20px;
    color: #949494;
    }
.pagination-in .pagination > .active > a, 
.pagination-in .pagination > .active > a:focus, 
.pagination-in .pagination > .active > a:hover, 
.pagination-in .pagination > .active > span, 
.pagination-in .pagination > .active > span:focus, 
.pagination-in .pagination > .active > span:hover{background: #d86b18; border-color: #d86b18; color: #fff;}

.pagination-in .pagination > li > a:hover, 
.pagination-in .pagination > li > span:hover{
    background: #d86b18;
    border-color: #d86b18;
    color:#fff;
	}

	/* search form css*/
	.oneway_btn {
		width: 100%;
		float: left;
		margin-bottom: 10px;
    padding-top: 15px;
	}
	
	.traveltype {
		width: 326px;
		float: left;
	}
	
	.bt {
		float: left;
		margin-right: 13px;
	}
	
	.bt input[type="radio"] {
		position: absolute;
		width: 16px;
		height: 16px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		opacity: 0;
		cursor: pointer;
	}
	
	.bt input[type="radio"]+label:before {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		margin-right: 4px;
		background: #FFF;
		content: " ";
		vertical-align: top;
		cursor: pointer;
		margin-top: -1px;
	}
	
	.bt input[type="radio"]:checked+label:before {
		background: #000;
		border: 1px solid #FFF;
	}
	
	.bt input[type="radio"]+label:before {
		background: #FFF;
	}
	
	.bt label {
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #FFF;
		font-weight: normal;
		line-height: 13px;
	}
	.flightForm_sec {
		margin-left: -5px;
    margin-right: -5px;
	}
	
	.padding5 {
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.padding0 {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.formtxt {
		width: 100%;
		height: 45px;
		background: #FFF;
		padding: 0 10px;
		font-family: 'Open Sans', sans-serif !important;
		font-size: 14px !important;
		color: #222222;
		border: none;
		font-weight: 600 !important;
		margin-bottom: 13px;
		border: none !important;
	}
	
	.formtxt::-webkit-input-placeholder {
		color: #222222;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	
	.formtxt:-ms-input-placeholder {
		color: #222222;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	
	.formtxt::placeholder {
		color: #222222;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	
	.calendarSec {
		width: 100%;
		float: left;
		background: #FFF;
		position: relative;
	}
	
	.calendarSec1 {
		width: 100% !important;
		height: 45px;
		background: none;
		padding: 0 10px !important;
		font-family: 'Open Sans', sans-serif !important;
		font-size: 14px !important;
		color: #222222;
		border: none;
		font-weight: 600 !important;
		position: relative;
		z-index: 99;
		margin: 0 !important;
		border: none !important;
	}
	
	.calendarSec1::-webkit-input-placeholder {
		color: #222222;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	
	.calendarSec1:-ms-input-placeholder {
		color: #222222;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	
	.calendarSec1::placeholder {
		color: #222222;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	
	.calendarSec i {
		font-size: 20px;
		color: #d86b18;
		position: absolute;
		right: 14px;
		top: 13px;
		z-index: 9;
	}
	
	.travellerSec {
		width: 100%;
		height: 45px;
		float: left;
		background: #FFF;
		padding: 0 30px 0 10px;
		position: relative;
	}
	
	.travellerSecHtl {
		width: 100%;
		height: 45px;
		float: left;
		background: #FFF;
		padding: 0 0px 0 0px;
		position: relative;
	}
	
	.travellercoutHtl {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #222222;
		font-weight: 600;
		line-height: 45px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	
	.travellercoutHtl>input {
		height: 45px;
		width: 100%;
		border: none;
		border-radius: 0px;
		position: relative;
		z-index: 9;
		background: none ;
		text-align: left;
	}
	
	.travellerSecHtl::after {
		content: '\f107';
		font-family: FontAwesome;
		position: absolute;
		right: 10px;
		top: 13px;
		font-size: 22px;
		color: #d86b18;
	}
	
	.travellercout {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #222222;
		font-weight: 600;
		line-height: 45px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}
	
	.travellerSec::after {
		content: '\f107';
		font-family: FontAwesome;
		position: absolute;
		right: 10px;
		top: 8px;
		font-size: 22px;
		color: #d86b18;
	}
	
	.travellerOptions {
		width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 57px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.21);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid #d4d4d4;
	}
	
	.travellerOptions::after {
		content: '';
		width: 0px;
		height: 0px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 10px solid #FFF;
		position: absolute;
		left: 26px;
		top: -10px;
	}
	
	.passenger_area {
		width: 100%;
		float: left;
		margin-bottom: 6px;
		border-bottom: 1px dashed #0003;
		padding-bottom: 4px;
	}
	
	.passenger_area p {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #272727;
		float: left;
		padding: 0;
		font-weight: 600;
	}
	
	.pass_click {
		width: auto;
		float: right;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #646060;
	}
	
	.pass_click a {
		float: left;
	}
	
	.pass_click a i {
		font-size: 20px;
		color: #d86b18;
		cursor: pointer;
	}
	
	.pass_click span {
		width: 21px;
		float: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		color: #000;
		text-align: center;
		font-weight: 600;
	}
	
	.classtype_area {
		width: 100%;
		float: left;
		padding-top: 5px;
	}
	
	.classsec_area {
		width: 100%;
		float: left;
		margin-bottom: 10px;
	}
	
	.classsec_area label {
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #272727 !important;
		font-weight: normal;
		text-transform: uppercase;
		font-weight: 600;
	}
	
	.classsec_area input[type="radio"] {
		position: absolute;
		width: 19px;
		height: 19px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		opacity: 0;
		cursor: pointer;
	}
	
	.classsec_area input[type="radio"]+label:before {
		display: inline-block;
		width: 19px;
		height: 19px;
		margin-right: 4px;
		background: #d8d8d8;
		content: " ";
		vertical-align: top;
		cursor: pointer;
		margin-top: -1px;
		border-radius: 50%;
		border: 1px solid #afafaf;
	}
	
	.classsec_area input[type="radio"] {
		position: absolute;
		width: 19px;
		height: 19px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		opacity: 0;
		cursor: pointer;
	}
	
	.classsec_area input[type="radio"]+label:before {
		display: inline-block;
		width: 19px;
		height: 19px;
		margin-right: 4px;
		background: #d8d8d8;
		content: " ";
		vertical-align: top;
		cursor: pointer;
		margin-top: -1px;
		border-radius: 50%;
		border: 1px solid #afafaf;
	}
	
	.classsec_area input[type="radio"]:checked+label:before {
		background: #d86b18;
		border: 1px solid #d86b18;
	}
	
	.classsec_area input[type="radio"]+label:before {
		background: #d8d8d8;
	}
	
	.searchButton {
		width: 100%;
		/* float: left; */
	}
	
	.searchButton button {
		width: 189px;
		height: 45px;
		margin: auto;
		border: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		color: #000;
		text-align: center;
		font-weight: 600;
		display: block;
		line-height: 41px;
		-webkit-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-ms-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		text-transform: uppercase;
		background: #000;
		color: #FFF;
	}
	.flghtbtn button {
		margin-top: 0px;
		width: 100%;
		border-radius: 0px;
		height: 45px;
	}
	.searchButton button:hover {
		background: #FFF;
		color: #d86b18;
	}
	
	.time {
		width: 100%;
		float: left;
		height: 50px;
		background: #efefef;
		padding: 0 10px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #222222;
		margin-bottom: 7px;
	}
	
	.time:last-child {
		margin-bottom: 0px;
	}
	
	.timerSec {
		width: 100%;
		float: left;
	}
	
	.timerSec label {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #222222;
		width: 100%;
		float: left;
		margin-bottom: 6px;
		font-weight: 500;
	}
	
	
	.closeDropdown {
		float: right;
	}
	.closeDropdown .closeLink {
		padding: 7px 12px;
		background: #000;
		color: #FFF;
		font-size: 13px;
		cursor: pointer;
		border-radius: 3px;
	}
	.search-section h6{
		font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
	color: #fff;
	padding-top: 14px;
	}
	.multiSection{
		width: 100%;
		float: left;
		position: relative;
		border: 1px dashed #000000;
		padding: 10px;
		margin-bottom: 4px;
	}
	.multiSection i.close {
		position: absolute;
		right: 4px;
		top: 5px;
		color: #FFF;
		font-size: 20px;
		opacity: 1;
	}
	.multiSection label {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #FFF;
		font-weight: 600;
		width: 100%;
		float: left;
		margin-bottom: 5px;
		padding-left: 5px;
	}
	.add_flight {
		float: right;
    padding: 3px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-top: 13px;
    cursor: pointer;
    font-size: 14px;
	}
	.add_flight i {
		font-size: 21px;
		margin-left: 6px;
		float: right;
	}
	.flightSearch {
		font-family: 'Open Sans', sans-serif;
		color: #FFF;
		font-size: 15px;
		padding: 12px 32px;
		background: #000;
		float: right;
		border: none;
		text-transform: uppercase;
		font-weight: 600;
		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		transition: all .3s ease;
		margin-top: 6px;
		margin-bottom: 13px;
	}
	.flightSearch:hover{
		background: #FFF;
		color: #fe0136;
	}
	.autocomplete-results {
		width: 100%;
		padding: 0;
		margin: 0;
		border: 1px solid #ddd0d0;
		max-height: 276px;
		overflow: auto;
		background-color: #ffffff;
		border-radius: 0;
		position: absolute;
		z-index: 99999;
		top: 45px;
	}
	
	.autocomplete ul.autocomplete-results li {
		font-size: 13px;
		font-weight: 600;
		color: #000;
		font-family: 'Open Sans', sans-serif;
	}
	
	.autocomplete ul.autocomplete-results li:hover {
		color: #FFF;
	}
	.autocomplete{
		position: relative;
	}
	.autocomplete-result {
		list-style: none;
		text-align: left;
		padding: 10px 10px;
		cursor: pointer;
		border-bottom: 1px dashed #c5c5c5;
		color: #000;
		font-size: 13px;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
	}
	
	.autocomplete-results li:last-child {
		border-bottom: none;
	}
	
	
	.autocomplete-result:hover {
		background-color: #000;
		color: #FFF;
	}
	
	.autocomplete-results::-webkit-scrollbar {
		width: 5px;
	}
	
	.autocomplete-results::-webkit-scrollbar-track {
		background: #e6e6e6;
	}
	
	.autocomplete-results::-webkit-scrollbar-thumb {
		background-color: #d0d0d0;
		outline: 1px solid slategrey;
	}
	.kmsliderSec {
		background: #FFF;
		padding: 0px 10px;
		height: 45px;
		text-align: center;
	}
	.kmsliderSec label {
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
    font-weight: 600;
	}
	.within_sec {
		font-size: 12px !important;
		font-weight: 400 !important;
		font-family: 'Open Sans', sans-serif !important;
		margin-bottom: 1px;
	}
	.htl_advc {
		width: 100%;
		float: left;
		font-size: 13px;
		color: #272727;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 3px;
	}
	.custom-select-htl {
		width: 100%;
		float: left;
		position: relative;
		margin-bottom: 10px;
	}
	.custom-select-htl select {
		width: 100%;
		height: 38px;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		background: none;
		z-index: 9;
		position: relative;
		padding: 0 10px;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
	}
	.custom-select-htl::after {
		content: '\f107';
		font-family: FontAwesome;
		position: absolute;
		right: 6px;
		top: 8px;
		font-size: 22px;
		color: #d86b18;
	}
	.hotlsSec {
		width: 100%;
		float: left;
		background: rgba(0, 0, 0, 0.17);
		margin-bottom: 5px;
		border-radius: 4px;
	}
	.flx_sec {
		flex-wrap: wrap;
		align-content: flex-start;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.hotlsSec .rooms {
		font-size: 15px;
		color: #FFF;
		font-weight: 600;
		font-family: 'Open Sans', sans-serif;
		line-height: 54px;
	}
	.hotlsSec .rooms i {
		font-size: 17px;
		color: #ffffff;
		margin-left: 7px;
		margin-right: 4px;
	}
	.form_sec {
		width: 100%;
		float: left;
		position: relative;
		background: #FFF;
		margin: 5px 0px;
	}
	.form_sec .form-control {
		height: 45px;
		background: none;
		border: none;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-moz-appearance: none;
		position: relative;
		z-index: 9;
	}
	.en_dwn_htl::after {
		content: '\f107';
		font-family: FontAwesome;
		position: absolute;
		right: 6px;
		top: 11px;
		font-size: 22px;
		color: #fe0136;
	}
	#flight-hotel h6{
		margin-bottom: 8px;
	}
	/*search form close*/
.bookingform .ui-datepicker-trigger{
	border-left: none;
	left: 16px;
	bottom: 11px;
	right: initial;
}
.bookingform input{
	height: 40px !important;
	border-radius: 0px !important;
	margin-bottom: 10px;
	font-size: 13px;
}
.bookingform .calendar{
	padding-left: 35px !important;
}
.booking-form .select-label{
	padding-bottom: 4px !important;
}
.booking-form .select2{
	padding-bottom: 10px !important;
	
}
.booking-form .select2-container--default .select2-selection--single .select2-selection__rendered{
	font-size: 13px;
}
.booking-form textarea{
	resize: none;
	font-size: 13px;
	padding: 9px;
}

.formtxt[disabled] {
	cursor: not-allowed;
}