<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAQ</title>
    <link rel="shortcut icon" href="assets/images/sgs_demo.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css?v=201909240000">
    <link href="assets/css/package.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="assets/css/media.css" rel="stylesheet" type="text/css">
    <link href="assets/css/signin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link href="/assets/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/nouislider.min.css?v=201906200000">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css?v=202007070000">
</head>

<body>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile popular_sec sp_padding" id="FAQ" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
        <div class="inner-banners" :style="{ background: 'url(' +pagebanner.Banner_Image+ ')'}">
            <div class="container">
                <h1>{{pagebanner.Banner_Title}}</h1>
                <p><a href="/">{{pagebanner.Breadcrumb1}} ></a>{{pagebanner.Breadcrumb2}}</p>
            </div>
        </div>
        <div class="inner_faq ar_direction">
            <div class="container">
                <h3>{{Flight.Flight_Title}}</h3>
                <div v-for="item in Flight.Content">
                    <h4>{{item.Title}} </h4>
                    <p class="dark">
                        {{item.Content}}
                    </p>
                </div>
                <h3>Hotels</h3>
                <div v-for="items in Hotel.Content">
                    <h4>{{items.Title}}</h4>
                    <p class="dark">
                        {{items.Content}}
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <footeritem></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.leanModal.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202007280000"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="/assets/js/pack.js"></script>
    <script src="servicejs/FAQ.js"></script>


</body>

</html>