<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dartex Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2_4-0-3.css?v=202008140000">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css?v=202001070000" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css?v=202001070000">
    <link href="master/css/master.css?v=202008060000" rel="stylesheet" type="text/css">
    <link href="css/main.css?v=202008101908" rel="stylesheet" type="text/css">
    <link href="css/slick-theme.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link href="css/slick.css?v=202001140000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css?v=202007070000">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>
    <div id="aboutUS" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>
        <section class="innerbanner" style="background-image: url(images/about-banner.jpg);">
            <div class="container">
                <h2>{{contactUsPage.Banner_Title}}</h2>
                <p><a href="/">Home ></a> About Us</p>
            </div>
        </section>

        <!-- Aboout -->
        <section class="hm_about" style="display: block;">
            <div class="container">
                <h1>{{contactUsPage.Page_Title.split(' ')[0]}} <span>{{contactUsPage.Page_Title.split(' ')[1]}}
                    </span></h1>

                <p>{{contactUsPage.Page_Description}}</p>
                <div class="missionSec">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mission">
                            <div class="icon_mission">
                                <img :src="contactUsPage.Our_Mission_Image">
                            </div>
                            <h3>{{contactUsPage.Our_Mission_Title}}</h3>
                            <p>{{contactUsPage.Our_Mission_Description}}</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vision">
                            <div class="icon_mission">
                                <img :src="contactUsPage.Our_Vision_Image">
                            </div>
                            <h3>{{contactUsPage.Our_Vision_Title}}</h3>
                            <p>{{contactUsPage.Our_Vision_Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Aboout close-->
        <!-- partners logo -->
        <div class="partners_logo">
            <div class="slider autoplay">
                <div class="item" v-for="item in commonPageDetails.Partner_Details">
                    <div class="airlinelogos"><img :src="item.Logo" :alt="item.Name"></div>
                </div>
            </div>
            <!-- partners logo close-->
        </div>
        </div>




        <footer :key="key">
            <footeritem :key="key" :item="1"></footeritem>
        </footer>




        <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
        <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
        <script src="/assets/js/axios.min.js?v=201906280000"></script>
        <script src="/assets/js/jquery.min.js?v=202008130000"></script>
        <script src="js/jquery.min.js?v=202001070000"></script>
        <script src="/assets/js/jquery-ui.min.js?v=202008130000"></script>
        <script src="js/bootstrap.min.js?v=202001070000"></script>
        <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
        <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
        <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
        <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000?v=202001070000"></script>
        <script src="/assets/js/underscore-min.js?v=201904100000"></script>
        <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
        <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
        <script src="/Flights/assets/js/Airlines.js"></script>
        <script src="/assets/js/common.js?v=202008200000"></script>
        <script src="/assets/js/select2.min.js?v=201905150000"></script>
        <script src="js/pack.js?v=202001070000"></script>
        <script src="js/custom.js?v=202008060000"></script>
        <script src="js/slick.js?v=202001070000"></script>
        <script src="serviceJS/aboutUS.js?v=202001070000"></script>

</body>

</html>