﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dartex Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2_4-0-3.css?v=202008140000">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css?v=202001070000" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css?v=202001070000">
    <link href="css/main.css?v=202008101908" rel="stylesheet" type="text/css">

    <link href="css/tabs02.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link href="css/slick-theme.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link href="css/slick.css?v=202001140000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css?v=202007070000">
    <link rel="stylesheet" type="text/css" href="css/custom-splash.css?v=202008060000">

    <style>
      [v-cloak] {
          display: none;
      }
  </style>
</head>

<body>


  <!-- PRELOADER -->
<div id="preloader">
  <div id="preloader-status">
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      <div class="lds-circle"><div></div></div>
      <div id="preloader-title">Loading</div>
  </div>
</div>
<!-- /PRELOADER -->

  <header>
    <headeritem></headeritem>
</header>
<div id="indexmain" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
</div>
    <section class="bannerarea" :style="homepageDetails.Banner_Image?'background-image: url(' + homepageDetails.Banner_Image + ')':''">
        <div class="banner-title">
            <div class="continer">
                <h3><span>{{homepageDetails.Banner_Title_1}}</span><br>{{homepageDetails.Banner_Title_2}}</h3>
            </div>
        </div>
        <div class="search-section">
            <div class="container">
                <div class="tab-content"> 
                    <!-- BEGIN: FLIGHT SEARCH -->
                    <div role="tabpanel" class="tab-pane active" id="flight">
                      <form>
                        <div class="col-md-12 text-center m-t-10 mbpadding">
                          <div class="radio radio-success radio-inline">
                            <input type="radio" id="inlineRadio1" value="R" v-model="triptype" name="radioInline" checked="" v-on:click="onCheck($event)">
                            <label for="inlineRadio1">{{homepageDetails.Round_Trip_Label}}</label>
                          </div>
                          <div class="radio radio-success radio-inline">
                            <input type="radio" id="inlineRadio2" value="O" v-model="triptype" name="radioInline" v-on:click="onCheck($event)">
                            <label for="inlineRadio2">{{homepageDetails.One_Way_Label}}</label>
                          </div>
                          <div class="radio radio-success radio-inline">
                            <input type="radio" id="inlineRadio3" value="M" v-model="triptype" name="radioInline" v-on:click="onCheck($event)">
                            <label for="inlineRadio3">{{homepageDetails.Multi_City_Label}}</label>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="  " :class="triptype == 'M'?'col-md-6 col-sm-12 search-col-padding':'col-md-4 col-sm-12 search-col-padding'">
                          <flightserch id="Departurefrom1" :return-value="returnValue" :place-holder-text="homepageDetails.Origin_Label" @air-search-completed="Departurefrom" :leg="0"></flightserch>
                          <flightserch id="DepartureTo1" :return-value="returnValue" :place-holder-text="homepageDetails.Destination_Label" @air-search-completed="Arrivalfrom" :leg="0"></flightserch>
                        </div>
                        <div class="" :class="triptype == 'M'?'col-md-3 col-sm-12 col-xs-12 search-col-padding':'col-md-2 col-sm-6 col-xs-6 search-col-padding'">
                          <div class="calendar brdr-right">
                          <input id="from1" v-model="tripDates.from1" autocomplete="false" class="" type="text" :placeholder="homepageDetails.Departure_Date_Label" />
                          <span class="c_month">{{getMonthofDate(tripDates.from1)}}</span>
                          <span class="c_day">{{getDateofDate(tripDates.from1)}}</span>
                          <span class="c_week">{{getDayofDate(tripDates.from1)}}</span>
                        </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-6 search-col-padding" :style="[triptype != 'M' ? {'display':'block'} : {'display':'none'}]"  :style="[triptype == 'O' ? {'pointer-events':'none'} : {'pointer-events':'unset'}]" >
                          <div class="calendar" :style="[triptype == 'O' ? {'opacity':'0.5'} : {'opacity':'unset'}]">
                          <input id="to1" v-model="tripDates.to1" :style="[triptype == 'O' ? {'pointer-events':'none'} : {'pointer-events':'unset'}]" autocomplete="false"  class="" type="text" :placeholder="homepageDetails.Arrival_Date_Label" />
                          <span class="c_month">{{getMonthofDate(tripDates.to1)}}</span>
                          <span class="c_day">{{getDateofDate(tripDates.to1)}}</span>
                          <span class="c_week">{{getDayofDate(tripDates.to1)}}</span>
                        </div>
                        </div>
                        <div class="" :class="triptype == 'M'?'col-md-3 col-sm-12 search-col-padding':'col-md-2 col-sm-12 search-col-padding'">
                          <select class="myselect" id="cabinValue" v-model="selected_cabin" onchange="onCabinChange(this)">
                            <option v-for="cabin in cabinclass" :value="cabin.value">{{cabin.text}}</option>
                          </select>
                          <div class="custom-traveller">
                            <div class="travellersDropdown flt">
                              <div class="custom-select-v3 lg">
                                <input class="form-control" v-model="Totaltravaller" placeholder=" 1 Passenger" type="button">
                              </div>
                              <div class="travelerSelectWindow active" style="display: none;">
                                <div id="travelRoundtrip">
                                  <div class="travelDropdown">
                                    <div class="section-pass">
                                      <fieldset>
                                        <label>Adults</label>
                                        <div class="trvFld"><span class="custom-select-v3 sm">
                                          <select v-model="selected_adults" @change="setpaxcount('Adult')">
                                            <option value="1" selected="selected">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                          </select>
                                          </span></div>
                                        <span class="ageRange">(12+ yrs)</span>
                                      </fieldset>
                                    </div>
                                    <div class="section-pass">
                                      <fieldset>
                                        <label>Children</label>
                                        <div class="trvFld"><span class="custom-select-v3 sm">
                                          
                                          <select v-model="selected_children" @change="setpaxcount('Children')">
                                            <option v-for="respItem in flightInChild" :value="respItem.Value" >{{respItem.Name}}</option>
                                          </select>
                                          </span></div>
                                        <span class="ageRange">(2-12 yrs)</span>
                                      </fieldset>
                                    </div>
                                    <div class="section-pass">
                                      <fieldset>
                                        <label>Infant</label>
                                        <div class="trvFld"><span class="custom-select-v3 sm">

                                          <select v-model="selected_infant" @change="setpaxcount('Infant')">
                                            <option v-for="respItem in flight_infant" :value="respItem.Value" >{{respItem.Name}}</option>
                                          </select>
                                          </span></div>
                                        <span class="ageRange">Under 2 yrs</span>
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                                <div class="closeDropdown"> <span class="closeBtn closeLink">Done</span> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2 col-sm-12 search-col-padding" v-if="(triptype != 'M')">
                          <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                        </div>
                        <div class="clearfix"></div>
                        <div v-if="(triptype == 'M')" >
                          <div class="multiSec" v-if="(legcount>0)">

                            <div class="col-md-6  col-sm-12 search-col-padding">
                              <flightserch id="Departurefrom2" :return-value="returnValue" :place-holder-text="homepageDetails.Origin_Label" @air-search-completed="Departurefrom" :leg="1"></flightserch>
                              <flightserch id="DepartureTo2" :return-value="returnValue" :place-holder-text="homepageDetails.Destination_Label" @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                            </div>
                            <div class="col-md-3 col-sm-10 col-xs-10 search-col-padding">
                              <div class="calendar">
                                <input id="from2" v-model="tripDates.from2" autocomplete="false" class="calendar" type="text" placeholder="Depart Date" />
                                <span class="c_month">{{getMonthofDate(tripDates.from2)}}</span>
                                <span class="c_day">{{getDateofDate(tripDates.from2)}}</span>
                                <span class="c_week">{{getDayofDate(tripDates.from2)}}</span>
                              </div>

                              
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2 search-col-padding" v-if="(legcount==1)" >
                              <div class="btnstyle5 paddingTop35">
                                <button type="button" class="addbutton" v-on:click="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              </div>

                             
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding" v-if="(legcount==1)" >
                              <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="multiSec" v-if="(legcount>1)" >
                            <div class="col-md-6  col-sm-12 search-col-padding">
                              <flightserch id="Departurefrom3" :return-value="returnValue" :place-holder-text="homepageDetails.Origin_Label" @air-search-completed="Departurefrom" :leg="2"></flightserch>
                              <flightserch id="DepartureTo3" :return-value="returnValue" :place-holder-text="homepageDetails.Destination_Label" @air-search-completed="Arrivalfrom" :leg="2"></flightserch>
                            </div>
                            <div class="col-md-3 col-sm-10 col-xs-10 search-col-padding">
                               
                              <div class="calendar">
                                <input id="from3" v-model="tripDates.from3" autocomplete="false" class="calendar" type="text" placeholder="Depart Date" />
                                <span class="c_month">{{getMonthofDate(tripDates.from3)}}</span>
                                <span class="c_day">{{getDateofDate(tripDates.from3)}}</span>
                                <span class="c_week">{{getDayofDate(tripDates.from3)}}</span>
                              </div>
                            </div>
                           
                            <div class="col-md-1 col-sm-2 col-xs-2 search-col-padding" v-if="(legcount==2)"  >
                              <div class="btnstyle5">
                                <button type="button" class="addbutton" v-on:click="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              </div>
                              <div class="btnstyle5">
                                <button type="button" class="deletebutton" v-on:click="DeleteLeg(2)"><i class="fa fa-close" aria-hidden="true"></i></button>
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding" v-if="(legcount==2)" >
                              <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                            </div>
                          </div>
  
                          <div class="clearfix"></div>
                          <div class="multiSec" v-if="(legcount>2)" >
                            <div class="col-md-6  col-sm-12 search-col-padding">
                              <flightserch id="Departurefrom4" :return-value="returnValue" :place-holder-text="homepageDetails.Origin_Label" @air-search-completed="Departurefrom" :leg="3"></flightserch>
                              <flightserch id="DepartureTo4" :return-value="returnValue" :place-holder-text="homepageDetails.Destination_Label" @air-search-completed="Arrivalfrom" :leg="3"></flightserch>
                            </div>
                            <div class="col-md-3 col-sm-10 col-xs-10 search-col-padding">

                              <div class="calendar">
                                <input id="from4" v-model="tripDates.from4" autocomplete="false" class="calendar" type="text" placeholder="Depart Date" />
                                <span class="c_month">{{getMonthofDate(tripDates.from4)}}</span>
                                <span class="c_day">{{getDateofDate(tripDates.from4)}}</span>
                                <span class="c_week">{{getDayofDate(tripDates.from4)}}</span>
                              </div>

                              
                            </div>
                            
                           
                            <div class="col-md-1 col-sm-2 col-xs-2 search-col-padding" v-if="(legcount==3)"  >
                              <div class="btnstyle5">
                                <button type="button" class="addbutton" v-on:click="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              </div>
                              <div class="btnstyle5">
                                <button type="button" class="deletebutton" v-on:click="DeleteLeg(3)"><i class="fa fa-close" aria-hidden="true"></i></button>
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding" v-if="(legcount==3)" >
                              <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                            </div>
                          </div>
  
                          <div class="clearfix"></div>
                          <div class="multiSec" v-if="(legcount>3)" >
                            <div class="col-md-6  col-sm-12 search-col-padding">
                              <flightserch id="Departurefrom5" :return-value="returnValue" :place-holder-text="homepageDetails.Origin_Label" @air-search-completed="Departurefrom" :leg="4"></flightserch>
                              <flightserch id="DepartureTo5" :return-value="returnValue" :place-holder-text="homepageDetails.Destination_Label" @air-search-completed="Arrivalfrom" :leg="4"></flightserch>
                            </div>
                            <div class="col-md-3 col-sm-10 col-xs-10 search-col-padding">
                              <div class="calendar">
                                <input id="from5" v-model="tripDates.from5" autocomplete="false" class="calendar" type="text" placeholder="Depart Date" />
                                <span class="c_month">{{getMonthofDate(tripDates.from5)}}</span>
                                <span class="c_day">{{getDateofDate(tripDates.from5)}}</span>
                                <span class="c_week">{{getDayofDate(tripDates.from5)}}</span>
                              </div>
                              
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2 search-col-padding" v-if="(legcount==4)"  >
                              <div class="btnstyle5">
                                <button type="button" class="addbutton" v-on:click="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              </div>
                              <div class="btnstyle5">
                                <button type="button" class="deletebutton" v-on:click="DeleteLeg(4)"><i class="fa fa-close" aria-hidden="true"></i></button>
                              </div>
                              
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding" v-if="(legcount==4)" >
                              <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                            </div>
                          </div>
  
                          <div class="clearfix"></div>
                          <div class="multiSec" v-if="(legcount>4)" >
                            <div class="col-md-6  col-sm-6 search-col-padding">
                              <flightserch id="Departurefrom6" :return-value="returnValue" :place-holder-text="homepageDetails.Origin_Label" @air-search-completed="Departurefrom" :leg="5"></flightserch>
                              <flightserch id="DepartureTo6" :return-value="returnValue" :place-holder-text="homepageDetails.Destination_Label" @air-search-completed="Arrivalfrom" :leg="5"></flightserch>
                            </div>
                            <div class="col-md-3 col-sm-10 col-xs-10 search-col-padding">
                              <div class="calendar">
                                <input id="from6" v-model="tripDates.from6" autocomplete="false" class="calendar" type="text" placeholder="Depart Date" />
                                <span class="c_month">{{getMonthofDate(tripDates.from6)}}</span>
                                <span class="c_day">{{getDateofDate(tripDates.from6)}}</span>
                                <span class="c_week">{{getDayofDate(tripDates.from6)}}</span>
                              </div>
                              
                            </div>
                            
                           

                            <div class="col-md-1 col-sm-2 col-xs-2 search-col-padding" v-if="(legcount==5)" >
                              <div class="btnstyle5">
                                <button type="button" class="addbutton" v-on:click="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                              </div>
                              <div class="btnstyle5">
                                <button type="button" class="deletebutton" v-on:click="DeleteLeg(5)"><i class="fa fa-close" aria-hidden="true"></i></button>
                              </div>
                            </div>
                            
                            
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding" v-if="(legcount==5)" >
                              <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="multiSec" v-if="(legcount>5)" >
                            <div class="col-md-6  col-sm-6 search-col-padding">
                              <flightserch id="Departurefrom7" :return-value="returnValue" :place-holder-text="placeholderfrom" @air-search-completed="Departurefrom" :leg="6"></flightserch>
                              <flightserch id="DepartureTo7" :return-value="returnValue" :place-holder-text="placeholderTo" @air-search-completed="Arrivalfrom" :leg="6"></flightserch>
                            </div>
                            <div class="col-md-3 col-sm-10 col-xs-10 search-col-padding">
                              <div class="calendar">
                                <input id="from7" v-model="tripDates.from7" autocomplete="false" class="calendar" type="text" placeholder="Depart Date" />
                                <span class="c_month">{{getMonthofDate(tripDates.from7)}}</span>
                                <span class="c_day">{{getDateofDate(tripDates.from7)}}</span>
                                <span class="c_week">{{getDayofDate(tripDates.from7)}}</span>
                              </div>
                              
                            </div>
                            
                            <div class="col-md-1 col-sm-2 col-xs-2 search-col-padding" v-if="(legcount==6)"  >
                              
                              <div class="btnstyle5 paddingTop35">
                                <button type="button" class="deletebutton" v-on:click="DeleteLeg(6)"><i class="fa fa-close" aria-hidden="true"></i></button>
                              </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding" >
                              <button type="button" class="search-button " v-on:click.prevent="SearchFlight"><i class="fa fa-search" aria-hidden="true"></i>{{homepageDetails.Search_Button_Label}} </button>
                            </div>
                          </div>

                        </div>
                        
                        

                        
                        
                       
                        
                      </form>
                    </div>
                    <!-- END: FLIGHT SEARCH --> 
                   
                  </div>
            </div>
        </div>
    </section>

<!-- Home Aboout -->
<section class="hm_about">
    <div class="container">
        <h1>{{homepageDetails.About_US_Title.split(' ')[0]}} <span>{{homepageDetails.About_US_Title.split(' ')[1]}} </span></h1>
        <p>{{homepageDetails.About_US_Description}}</p>
        <div class="about_points">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" v-for="(item, index) in homepageDetails.About_Us_Points">

                <div class="aboutIcons" :class="index==0?' firstSec' : (index==(homepageDetails.About_Us_Points.length-1) ? 'lastSec' :'')">
                  <i :class="item.Font_Awesome_Icon"></i>
                  <p>{{item.Title}}</p>
                </div>

              </div>
            </div>
        </div>
    </div>
</section>
<!-- Home Aboout close-->
<!-- partners logo -->
<div class="partners_logo">
    <div class="slider autoplay">
        <div class="item" v-for="item in commonPageDetails.Partner_Details">
            <div class="airlinelogos"><img :src="item.Logo" :alt="item.Name"></div>
        </div>
        
      </div>
</div>
<!-- partners logo close-->

</div>



<footer :key="key" >
  <footeritem :key="key" :item="1"></footeritem>
</footer>



  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js?v=202001070000"></script>
    <script src="/assets/js/jquery-ui.min.js?v=202008130000"></script>
    <script src="js/bootstrap.min.js?v=202001070000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
     <script src="/assets/js/select2.min.js?v=201905150000"></script>
    
   
    <script src="js/slick.js?v=202001070000"></script>
    <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
    <script src="master/js/index.js?v=20211122000"></script>
    <script src="js/pack.js?v=202001070000"></script>
    <script src="js/custom.js?v=202008060000"></script>
    <script>
      // jQuery(window).load(function () {
      //   $('#preloader').delay(100).fadeOut(100);
      // })
    </script>
</body>

</html>