<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dartex Travel</title>
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2_4-0-3.css?v=202008140000">
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css?v=202001070000" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/owl.carousel.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css?v=202001070000">
    <link href="css/main.css?v=202008101908" rel="stylesheet" type="text/css">

    <link href="css/tabs02.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link href="css/slick-theme.css?v=202001070000" rel="stylesheet" type="text/css" />
    <link href="css/slick.css?v=202001140000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css?v=202007070000">
    <style>
            [v-cloak] {
                display: none;
            }
        </style>
</head>
<body>

<header>
        <headeritem></headeritem>
</header>
<div id="privacyPolicy" v-cloak>
    <div class="vld-parent">
        <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
<div class="innerbanner" style="background:url(images/about-banner.jpg)">
    <div class="container">
        <h2>Privacy Policy</h2>
        <p><a href="/Dartex/index.html">{{termsPageDetails.Breadcrumb_1}} ></a> {{termsPageDetails.Breadcrumb_2}}</p>
    </div>
</div>

<div class="terms_sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <span v-html="termsPageDetails.Privacy_and_Policy"></span>
            </div>
        </div>
    </div>
</div>

<div class="partners_logo">
    <div class="slider autoplay">
        <div class="item" v-for="item in commonPageDetails.Partner_Details">
            <div class="airlinelogos"><img :src="item.Logo" :alt="item.Name"></div>
        </div>
        
      </div>
</div>

</div>


<footer :key="key">
        <footeritem :key="key" :item="6"></footeritem>
    </footer>




    




    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js?v=202001070000"></script>
    <script src="/assets/js/jquery-ui.min.js?v=202008130000"></script>
    <script src="js/bootstrap.min.js?v=202001070000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
     <script src="/assets/js/select2.min.js?v=201905150000"></script>
    
   
    <script src="js/slick.js?v=202001070000"></script>
    <script src="serviceJS/privacyPolicy.js?v=202001070000"></script>
    <script src="js/pack.js?v=202001070000"></script>
    <script src="js/custom.js?v=202008060000"></script>

    
</body>
</html>