<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blogs</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<style>
  [v-cloak] {
    display: none;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
    </header>
<div id="blog" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
</div>
  <section class="inner_banner p-0" :style="{ background: 'url(' +banner.Banner_Image_1920_x317_px + ')'}">
    <div class="container">
      <div class="row">
      	<div class="banner_text">
            <h1 class="text-center">{{banner.Banner_Heading1}} <span>{{banner.Banner_Heading2}} </span></h1>
      </div>
      </div>
    </div>
  </section>
  <div class="breadcrumbs">
      <div class="container">
      	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<ul>
                    <li><a href="index.html">{{banner.Home_Label}}</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li>{{banner.Blogs_Label}}</li>
               </ul>
            </div>
        </div>
      </div>
    </div>
  <section id="artcl_section" class="blogs">
  <div class="container">
    <div class="row title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>{{banner.Blogs_Label}}</h2>
                </div>
    </div>
    <div class="row m-t-30">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" v-for="(item,index) in blogList" :key="index">
        <div class="inner" v-on:click="getmoreinfo(item.More_details_page_link)"> <img :src="item.Blog_Image_360x402px" alt="">
          <div class="art_title">
            <h4><a href="#" v-on:click="getmoreinfo(item.More_details_page_link)">{{item.Blog_Title}}</a></h4>
            <ul>
             <li>{{dateConvert(item.Date)}}</li> 
                <li>|</li>
                <li>{{item.Author_Name}} </li>
            </ul>
            
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-2.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> -->
        <!-- <div class="inner"> <img src="images/art-3.jpg" alt=""> -->
          <!-- <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-1.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-2.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-3.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-1.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-2.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner"> <img src="images/art-3.jpg" alt="">
          <div class="art_title">
            <h4><a href="#">How to travel with paper map</a></h4>
            <ul>
            	<li>June 6, 2020</li>
                <li>|</li>
                <li>John Smith</li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row m-t-50">
    	<div class="col-lg-12 text-center">
              <!-- <li class="next-pre"><a href="#"><i class="fa  fa  fa-angle-double-left"></i></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li class="next-pre"><a href="#"><i class="fa fa-angle-double-right"></i></a></li> -->
              <ul class="pagination">
                <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i
                      class="fa fa-angle-double-left"></i></a></li>
                <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectBlogs(ind)" class=""
                  :class="rowindex==currentPages ? 'active' :'' ">
                  <a href="#">{{rowindex}}
                  </a>
                </li>
                <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i
                      class="fa fa-angle-double-right"></i></a></li>
              </ul>
        </div>
    </div>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
  </footer>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="/assets/js/bootstrap-select.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/pack.js"></script>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/blogs.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
</body>
</html>