<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog Detail</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
    <link rel="stylesheet" type="text/css" href="css/common-style.css">
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="blog" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>
        <section class="inner_banner p-0" :style="{ background: 'url(' + BannerSection.Banner_Image_1920_x317_px+ ')'}">
            <div class="container">
                <div class="row">
                    <div class="banner_text">
                        <h1 class="text-center">{{BannerSection.Banner_Heading}} <span>{{BannerSection.Banner_SubHeading}}</span></h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ul>
                            <li><a href="index.html">{{BannerSection.Home_Label}}</a></li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                            <li><a href="blogs.html">{{BannerSection.Blogs_Label}}</a></li>
                            <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                            <li>{{BannerSection.Blog_Detail_Label}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section id="blog-detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                        <aside class="right-div">
                            <!-- <div class="right-main search-form">
                                <div class="form-container">
                                    <button style="cursor: pointer;"><i :class="BlogDetailSection.Search_Icon" aria-hidden="true" v-on:click="search" ></i></button>
                                    <input class="search-field" value="" type="text" v-model="searchItem" :placeholder="BlogDetailSection.Search_Placeholder">
                                </div>
                            </div> -->
                            <div class="right-main">
                                <div class="categories">
                                    <h5>{{BlogDetailSection.Categories_Label}}</h5>
                                    <ul>
                                        <li v-for="item in CategoryList"><i class="fa fa-circle" aria-hidden="true"></i><a href="#" v-on:click="passQuery('category',item.Name)">{{item.Name}}<span>({{item.count}})</span></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="right-main">
                                <div class="categories">
                                    <h5>{{BlogDetailSection.Recent_Posts_Label}}</h5>
                                    <div class="recent-posts">
                                        <div class="media" v-for="(item,index) in RecentPost" v-if ="index < 5">
                                            <a href="#" v-on:click="getmoreinfo(item.Link)"><img :src="item.Thumb" alt=""></a>
                                            <div class="media-content">
                                                <a href="#" v-on:click="getmoreinfo(item.Link)">
                                                    <h6>{{item.Title}}</h6>
                                                </a>
                                                <p>{{item.Date}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right-main">
                                <div class="recent">
                                    <h5>{{BlogDetailSection.Popular_Tags_Label}}</h5>
                                    <div class="popular-tags">
                                        <ul>
                                            <li v-for="item in TagList"><a href="#" v-on:click="passQuery('tag',item)">{{item}}</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
                        <div class="detail-content"> <img :src="Blog.Blog_Detail_Image_750x328px" alt="" class="img-responsive">
                            <h3>{{Blog.Blog_Title}}</h3>
                            <div class="grey2"><span class="date"><i :class="BlogDetailSection.User_Icon"></i> {{Blog.Author_Name}}</span><span class="date"><i :class="BlogDetailSection.Calendar_Icon"></i> {{dateConvert(Blog.Date)}}</span>
                                <div class="news-comment">
                                    <div class="comnt"><i :class="BlogDetailSection.Comment_Icon"><span>{{allComment.length}}</span></i></div>
                                </div>
                            </div>
                            <p v-html="Blog.Blog_Description"></p>

                            <div class="inner">
                                <div class="tag-cnt">
                                    <ul>
                                        <li><i :class="BlogDetailSection.Tag_Icon"></i></li>
                                        <li v-for="item in Blog.Tag_List">{{item.Name}}</li>

                                    </ul>
                                </div>
                                <div class="social_wrapper">
                                    <ul class="social2">
                                        <li v-for="item in BlogDetailSection.Social_Media_List"><a @click="navigateSocialPage(item.Url)"><i class="fa" v-bind:class="item.Item_Icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="comment-main">
                                <h4>{{BlogDetailSection.Comment_Label}} ({{allComment.length}})</h4>
                                <div class="comment-div" v-for="item in allComment">
                                    <div class="user"><img :src="BlogDetailSection.User_Image_105_x_105_px" alt=""></div>
                                    <div class="comment-block">
                                        <h5 class="heading">{{item.Name}}<span>{{item.Date}}</span></h5>
                                        <p v-html="item.comment"></p>
                                        <!-- <a href="#" class="reply" title="Reply">{{BlogDetailSection.Reply_Label}}</a>  -->
                                    </div>
                                </div>
                            </div>
                            <div class="comment-post">
                                <h4>{{BlogDetailSection.Post_Comment_Label}}</h4>
                                <div class="cmn-form">
                                    <div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                                                <label>{{BlogDetailSection.Name_Label}}</label>
                                                <div class="input-group">
                                                    <input name="name" class="form-control" v-model="blogusername" required :placeholder="BlogDetailSection.Name_Placeholder" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                                                <label>{{BlogDetailSection.Email_Label}}</label>
                                                <div class="input-group">
                                                    <input name="email" class="form-control" v-model="blogemail" required :placeholder="BlogDetailSection.Email_Placeholder" type="text">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-col-padding">
                                                <label>{{BlogDetailSection.Website_Label}}</label>
                                                <div class="input-group">
                                                    <input name="website" class="form-control" v-model="blogwebsite" required :placeholder="BlogDetailSection.Website_Plceholder" type="text">
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-col-padding">
                                                <label>{{BlogDetailSection.Comment_Label}}</label>
                                                <div class="input-group">
                                                    <textarea class="form-control" id="exampleTextarea" v-model="blogcomment" rows="5" :placeholder="BlogDetailSection.Comment_Placeholder"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-col-padding text-center">
                                                <button class="post-btn" v-on:click="postcomment"><span>{{BlogDetailSection.Button_Label}}</span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!-- <div class="multi_shadow" v-if="showSearch == true" 
                    v-bind:style="[showSearch == true ? {'display':'block !important',} : {'display':'none'}]">
                  </div>
                  <div class="recep5" v-if="showSearch == true"
                  v-bind:style="[showSearch == true ? {'display':'block !important'} : {'display':'none'}]">
                  <div class="multiSection">
                    <div class="categories">
                        <i class="fa fa-times-circle close" v-on:click="clickoutside"></i>
                        <h5>{{BlogDetailSection.Recent_Posts_Label}}</h5>
                        <div class="recent-posts">
                            <div class="media" v-for="item in searchRecentItem">
                                <a href="#" v-on:click="getmoreinfo(item.Link)"><img :src="item.Image" alt=""></a>
                                <div class="media-content">
                                    <a href="#" v-on:click="getmoreinfo(item.Link)">
                                        <h6 style="color: white !important;">{{item.Tittle}}</h6>
                                    </a>
                                    <p style="color: white !important;">{{item.Date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  </div> -->
                </div>
            </div>
        </section>
    </div>
    <footer>
        <footeritem></footeritem>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pack.js"></script>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script>
    <script src="servicejs/blog-detail.js"></script>
</body>

</html>