<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Contact Us</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<style>
  [v-cloak] {
      display: none !important;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
    </header>
<div id="contact" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
</div>
  <section class="inner_banner p-0"  :style="{ background: 'url(' + BannerSection.Banner_Image_1920x317_px+ ')'}">
    <div class="container">
      <div class="row">
      	<div class="banner_text">
            <h1 class="text-center">{{BannerSection.Banner_Heading}}<span>{{BannerSection.Banner_SubHeading}}</span></h1>
      </div>
      </div>
    </div>
  </section>
  <div class="breadcrumbs">
      <div class="container">
      	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<ul>
                    <li><a href="index.html">{{BannerSection.Home_Label}}</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li>{{ContactSection.Contact_Label}}</li>
               </ul>
            </div>
        </div>
      </div>
    </div>
  <section id="contact-us">
  <div class="container">
  	<div class="row title">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>{{ContactSection.Contact_Label}}</h2>
        </div>
      </div>
    <div class="row flex m-t-70">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
            <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="18.5" y="18.526" width="33" height="33"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" d="M46.282,38.196c-0.723-0.743-1.59-1.144-2.511-1.144c-0.914,0-1.792,0.393-2.541,1.139
		l-2.348,2.331c-0.19-0.104-0.384-0.2-0.571-0.299c-0.267-0.132-0.519-0.257-0.733-0.394c-2.199-1.388-4.196-3.2-6.114-5.54
		c-0.926-1.169-1.551-2.155-2.004-3.15c0.611-0.556,1.175-1.131,1.724-1.687c0.21-0.206,0.415-0.418,0.625-0.63
		c1.559-1.549,1.559-3.558,0-5.114l-2.026-2.017c-0.231-0.23-0.47-0.465-0.69-0.703c-0.446-0.457-0.916-0.932-1.398-1.375
		c-0.72-0.708-1.581-1.084-2.488-1.084c-0.905,0-1.782,0.375-2.524,1.084l-0.014,0.018l-2.526,2.534
		c-0.951,0.948-1.493,2.098-1.611,3.438c-0.178,2.157,0.459,4.167,0.952,5.484c1.202,3.229,2.997,6.222,5.679,9.435
		c3.253,3.863,7.167,6.916,11.635,9.065c1.708,0.808,3.988,1.76,6.533,1.926c0.156,0.005,0.322,0.013,0.471,0.013
		c1.713,0,3.155-0.612,4.283-1.834c0.008-0.013,0.024-0.019,0.032-0.034c0.384-0.466,0.83-0.888,1.297-1.337
		c0.319-0.308,0.647-0.626,0.967-0.955c0.736-0.762,1.12-1.651,1.12-2.561c0-0.917-0.393-1.797-1.145-2.532L46.282,38.196z
		 M48.938,45.981C48.933,45.981,48.933,45.99,48.938,45.981c-0.287,0.311-0.585,0.594-0.904,0.901
		c-0.483,0.46-0.973,0.941-1.435,1.479c-0.749,0.799-1.633,1.179-2.793,1.179c-0.11,0-0.228,0-0.341-0.008
		c-2.205-0.142-4.254-0.997-5.79-1.732c-4.206-2.021-7.893-4.9-10.962-8.544c-2.53-3.037-4.224-5.847-5.346-8.862
		c-0.69-1.842-0.944-3.276-0.831-4.629c0.075-0.865,0.407-1.582,1.023-2.198l2.533-2.519c0.367-0.339,0.752-0.526,1.128-0.526
		c0.47,0,0.85,0.282,1.086,0.521l0.021,0.019c0.454,0.424,0.883,0.859,1.337,1.325c0.231,0.238,0.467,0.473,0.706,0.718l2.026,2.017
		c0.787,0.783,0.787,1.508,0,2.291c-0.216,0.214-0.423,0.431-0.641,0.635c-0.622,0.639-1.215,1.227-1.861,1.804
		c-0.018,0.014-0.031,0.021-0.039,0.036c-0.638,0.638-0.517,1.259-0.385,1.678l0.023,0.068c0.527,1.274,1.27,2.47,2.398,3.896
		l0.008,0.008c2.049,2.514,4.209,4.471,6.593,5.97c0.304,0.195,0.618,0.348,0.913,0.498c0.269,0.133,0.521,0.259,0.736,0.39
		c0.029,0.014,0.059,0.038,0.088,0.051c0.253,0.129,0.492,0.185,0.736,0.185c0.615,0,1.002-0.38,1.128-0.505l2.54-2.532
		c0.25-0.251,0.652-0.551,1.12-0.551c0.462,0,0.838,0.283,1.069,0.535l4.108,4.088C49.695,44.423,49.695,45.201,48.938,45.981"/>
</g>
</svg> </div>
            <h3>{{ContactSection.Phone_Label}}</h3>
            <p><a :href="'tel:'+ ContactSection.Phone_Number">{{ContactSection.Phone_Number}}</a></p>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
            <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="18.5" y="22.444" width="33" height="25.111"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" d="M47.472,22.444H22.533c-2.224,0-4.033,1.81-4.033,4.035v17.04c0,2.227,1.81,4.036,4.033,4.036
		h24.931c2.227,0,4.036-1.81,4.036-4.036V26.486C51.508,24.263,49.698,22.444,47.472,22.444 M49.663,43.52
		c0,1.21-0.984,2.196-2.191,2.196H22.533c-1.207,0-2.19-0.986-2.19-2.196V26.486c0-1.209,0.983-2.191,2.19-2.191h24.931
		c1.208,0,2.194,0.982,2.194,2.191V43.52H49.663z"/>
	<path clip-path="url(#SVGID_2_)" d="M39.313,34.789l8.069-7.237c0.376-0.344,0.411-0.922,0.069-1.305
		c-0.345-0.376-0.923-0.408-1.307-0.068l-11.128,9.988l-2.173-1.939c-0.005-0.005-0.013-0.013-0.013-0.02
		c-0.048-0.049-0.097-0.09-0.15-0.13l-8.836-7.907c-0.383-0.341-0.961-0.308-1.303,0.076c-0.342,0.383-0.31,0.961,0.075,1.305
		l8.166,7.298l-8.131,7.614c-0.371,0.347-0.391,0.927-0.042,1.304c0.185,0.193,0.431,0.293,0.677,0.293
		c0.224,0,0.45-0.08,0.627-0.243l8.255-7.725l2.239,2.003c0.178,0.154,0.396,0.229,0.617,0.229c0.215,0,0.441-0.08,0.615-0.238
		l2.3-2.061l8.206,7.797c0.179,0.169,0.411,0.253,0.635,0.253c0.248,0,0.485-0.095,0.672-0.288c0.347-0.366,0.334-0.956-0.037-1.304
		L39.313,34.789z"/>
</g>
</svg> </div>
            <h3>{{ContactSection.Email_Label}}</h3>
            <p><a :href="'mailto:'+ ContactSection.Email_Id">{{ContactSection.Email_Id}}</a></p>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="inner">
            <div class="round-shape"> <svg x="0px" y="0px" width="70px" height="70px" viewBox="0 0 70 70" enable-background="new 0 0 70 70" xml:space="preserve">
<g>
	<defs>
		<rect id="SVGID_1_" x="21.5" y="18.169" width="27" height="33.662"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  overflow="visible"/>
	</clipPath>
	<path clip-path="url(#SVGID_2_)" d="M34.992,18.168c-7.438,0-13.492,6.057-13.492,13.492c0,0.849,0.076,1.702,0.241,2.534
		c0.006,0.05,0.033,0.198,0.092,0.452c0.204,0.911,0.505,1.806,0.902,2.66c1.454,3.424,4.65,8.682,11.667,14.313
		c0.176,0.141,0.387,0.209,0.599,0.209c0.213,0,0.422-0.068,0.6-0.209c7.008-5.632,10.211-10.89,11.666-14.313
		c0.395-0.854,0.698-1.742,0.902-2.66c0.058-0.254,0.086-0.402,0.093-0.452c0.155-0.832,0.239-1.686,0.239-2.534
		C48.486,24.225,42.432,18.168,34.992,18.168 M46.369,33.862c0,0.015-0.007,0.03-0.007,0.043c-0.007,0.037-0.028,0.143-0.063,0.305
		v0.014c-0.176,0.789-0.438,1.559-0.785,2.302c-0.006,0.006-0.006,0.02-0.013,0.025c-1.321,3.129-4.212,7.899-10.509,13.101
		c-6.295-5.201-9.189-9.972-10.507-13.101c-0.006-0.006-0.006-0.02-0.013-0.025c-0.339-0.735-0.601-1.513-0.785-2.302V34.21
		c-0.041-0.162-0.054-0.268-0.063-0.305c0-0.013-0.006-0.028-0.006-0.049c-0.142-0.727-0.212-1.46-0.212-2.201
		c0-6.387,5.2-11.589,11.587-11.589c6.387,0,11.588,5.202,11.588,11.589C46.58,32.403,46.51,33.144,46.369,33.862"/>
	<path clip-path="url(#SVGID_2_)" d="M34.993,23.243c-4.723,0-8.568,3.846-8.568,8.568c0,4.72,3.845,8.567,8.568,8.567
		c4.72,0,8.567-3.848,8.567-8.567C43.561,27.089,39.713,23.243,34.993,23.243 M34.993,38.472c-3.676,0-6.662-2.992-6.662-6.66
		c0-3.67,2.993-6.663,6.662-6.663c3.67,0,6.662,2.993,6.662,6.663C41.655,35.479,38.67,38.472,34.993,38.472"/>
</g>
</svg> </div>
            <h3>{{ContactSection.Address_Label}}</h3>
            <p v-html="ContactSection.Addres_Description"></p>
          </div>
      </div>
    </div>
  </div>
</section>
  <section id="contact-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-0">
        <div class="contact-form">
          <div>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                <div class="input-group">
                  <input name="name" class="form-control" v-model="cntusername"  :placeholder="ContactSection.Name_Placeholder" type="text">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                <div class="input-group">
                  <input name="email" class="form-control"  v-model="cntemail" :placeholder="ContactSection.Email_Placeholder" type="text">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                <div class="input-group">
                  <input name="phone" class="form-control"  v-model="cntcontact" :placeholder="ContactSection.Phone_Number_Placeholder" type="text">
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                <div class="input-group">
                  <input name="subject" class="form-control"  v-model="cntsubject" :placeholder="ContactSection.Subject_Placeholder" type="text">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 col-sm-12 col-xs-12 search-col-padding">
                <div class="input-group">
                  <textarea class="form-control" id="exampleTextarea" rows="5"  v-model="cntmessage" :placeholder="ContactSection.Message_Placeholder"></textarea>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 search-col-padding text-center">
                <button class="send-btn" v-on:click="sendcontactus" ><span>{{ContactSection.Button_Label}}</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-0">
        <div class="map-responsive">
          <iframe :src="MapSection.Map_Path" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
  </footer>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>  -->
<script src="/assets/js/bootstrap-select.min.js"></script>
<script src="js/jquery-ui.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/pack.js"></script>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vuex.min.js"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
    <script src="servicejs/contact-us.js"></script>
</body>
</html>