<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Holiday Detail</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<style>
  [v-cloak] {
      display: none !important;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
    </header>
<div id="holiday-detail" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
  </div>
  <section class="inner_banner p-0" :style="{ background: 'url(' + bannerSection.Banner_Image_1920_x_246px + ')'}">
    <div class="container">
      <div class="row">
      	<div class="banner_text">
            <h1 class="text-center">{{bannerSection.Title_1}} <span>{{bannerSection.Title_2}}</span></h1>
      </div>
      </div>
    </div>
  </section>
  <div class="breadcrumbs">
      <div class="container">
      	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<ul>
                    <li><a href="index.html">{{bannerSection.Breadcrumb_1}}</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li><a href="holidays.html">{{bannerSection.Breadcrumb_2}}</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li>{{bannerSection.Breadcrumb_3}}</li>
               </ul>
            </div>
        </div>
      </div>
    </div>
  <section id="holiday-detail">
  <div class="container">
  <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="holiday-place-info">
          <div class="holiday-name">
            <h2>{{mainContent.Package_Name}}</h2>
            <p>{{labelSection.Price_Label}}: <span>{{ $n((mainContent.Price/CurrencyMultiplier), 'currency', selectedCurrency) }}</span></p>
          </div>
          <div class="holiday-days">
            <div class="day-night">
              <p><i class="fa fa-sun-o"></i> {{mainContent.No_of_Days}} {{labelSection.Days_Label}} </p>
              <p><i class="fa fa-moon-o"></i> {{mainContent.No_of_Nights}} {{labelSection.Nights_Label}} </p>
            </div>
            <div class="holiday-media">
              <ul>
                <li v-for="icon in socialMedia.Social_Media_Share" style="padding: 2px;"><a href="#"><i class="fa" v-bind:class="icon.Icon_Name" @click="navigateSocialPage(icon.Url)"></i></a></li>
                <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
              </ul>
            </div>
          </div>
          <div class="imge"><img :src="mainContent.Package_Image_750_x_485" alt=""></div>
          </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="detail-form">
          <h3>{{formLabel.Title}}</h3>
          <div class="search-section"> 
              <div>
                <div class="col-md-12 col-sm-6 col-xs-12 search-col-padding">
                  <div class="input-group">
                    <input name="neame" class="form-control" :placeholder="formLabel.First_Name_Placeholder" type="text" v-model="fname">
                  </div>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-12 search-col-padding">
                  <div class="input-group">
                    <input name="name" class="form-control" :placeholder="formLabel.Last_Name_Placeholder" type="text" v-model="lname">
                  </div>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-12 search-col-padding">
                  <div class="input-group">
                    <input name="email" class="form-control" :placeholder="formLabel.Email_Placeholder" type="email" v-model="femail">
                  </div>
                </div>
                <div class="col-md-12 col-sm-6 col-xs-12 search-col-padding">
                  <div class="input-group">
                    <input name="phone" class="form-control" :placeholder="formLabel.Phone_Placeholder" type="tel" v-model="fphone">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 search-col-padding">
                  <div class="input-group">
                    <input id="from" :placeholder="formLabel.Book_Date_Placeholder" class="calendar form-control textbox" type="text" v-model="fdate" autocomplete="off"/>
                   </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 search-col-padding">
                  <select class="myselect" v-model="fadult" id="Adultmyselect">
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-6 col-xs-6 search-col-padding">
                  <select class="myselect" v-model="finfants" id="Infantmyselect">
                  </select>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 search-col-padding">
                  <select class="myselect" v-model="fchild" id="Childmyselect">
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-col-padding">
                  <div class="input-group">
                   <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="formLabel.Message_Label" v-model="fmessage"></textarea>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-col-padding">
                  <button type="submit" class="book-button" v-on:click="bookingPackage">{{formLabel.Button_Label}}</button>
                </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
     <div class="holiday-tab">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
        <!-- Nav tabs -->
        <div class="card">
          <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{labelSection.Description_Label}}</a></li>
            <li role="presentation"><a href="#itinerary" aria-controls="itinerary" role="tab" data-toggle="tab">{{labelSection.Itinerary_Label}}</a></li>
            <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">{{labelSection.Location_Label}}</a></li>
            <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">{{labelSection.Gallery_Label}}</a></li>
            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">{{reviewSection.Review_Label}} ({{ratingcount}})</a></li>
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
			  <h5>{{labelSection.Description_Label}}</h5>
			  <p v-html="Description.Content_1"></p>
			  <table class="table">
				<tbody>
				  <tr>
					<td class="fist-td">{{labelSection.Departure_Label}}</td>
					<td class="second-td"><span>{{Description.Departure}}</span></td>
				  </tr>
				  <tr>
					<td class="fist-td">{{labelSection.Departure_Time_Label}}</td>
					<td class="second-td"><span>{{Description.Departure_Time}}</span></td>
				  </tr>
				  <tr>
					<td class="fist-td">{{labelSection.Return_Time_Label}}</td>
					<td class="second-td"><span>{{Description.Return_Time}}</span></td>
				  </tr>
				  <tr>
					<td class="fist-td">{{labelSection.Included_Label}}</td>
					<td class="second-td">
            <table>
						<tr>
						  <td class="third-td" v-for="(included,index) in Description.Included"
              v-if="index % 2 === 0"><span><i class="fa fa-check" aria-hidden="true"></i>{{included.Items}}</span></td>
						</tr>
						<tr>
						  <td v-for="(included,index) in Description.Included" v-if="index % 2 !== 0"><span><i class="fa fa-check" aria-hidden="true"></i>{{included.Items}}</span></td>
						</tr>
            </table>
          </td>
				  </tr>
				  <tr>
					<td class="fist-td">{{labelSection.Not_Included_Label}} </td>
					<td class="second-td"><table>
						<tr>
						  <td class="third-td" v-for="(notincluded,index) in Description.Not_Included"
              v-if="index % 2 === 0"><span><i class="fa fa-close" aria-hidden="true"></i>{{notincluded.Items}}</span></td>
            </tr>
            <tr>
						  <td v-for="(notincluded,index) in Description.Not_Included"
              v-if="index % 2 !== 0"><span><i class="fa fa-close" aria-hidden="true"></i>{{notincluded.Items}}</span></td>
						</tr>
					  </table></td>
				  </tr>
				</tbody>
			  </table>
			  <p v-html="Description.Content_2"></p>
           </div>
            <div role="tabpanel" class="tab-pane" id="itinerary">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" v-for="(itinerary,index) in Itinerary.Itinerary_Item" v-if="index % 2 === 0">
                  <div class="days">
                    <figure><img :src="itinerary.Image_164_x_124px" class="vc_single_image-img attachment-full" alt=""></figure>
                    <div class="days-detail"> <span class="day-text">{{itinerary.Title_1}}</span>
                      <h5>{{itinerary.Title_2}}</h5>
                      <p v-html="itinerary.Description"></p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" v-for="(itinerary,index) in Itinerary.Itinerary_Item" v-if="index % 2 !== 0">
                  <div class="days">
                    <figure><img :src="itinerary.Image_164_x_124px" class="vc_single_image-img attachment-full" alt=""></figure>
                    <div class="days-detail"> <span class="day-text">{{itinerary.Title_1}}</span>
                      <h5>{{itinerary.Title_2}}</h5>
                      <p v-html="itinerary.Description"></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="location">
              <div class="row">
				<section class="map-responsive">
				  <iframe :src="Location.Location_Link" style="border:0" allowfullscreen="" width="600" height="450" frameborder="0"></iframe>
				</section>              
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="gallery">
              <div class="row">
                <div class="gallery">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mrgn" v-for="image in Gallery.Image_List">
                    <a href="#"><img :src="image.Image_668_x_300px" alt="" class="img-responsive"></a></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="reviews">
              <div class="review">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 v-if="reviewAvailable">{{avgrating}} {{reviewSection.Based_On_Label}} {{ratingcount}} {{reviewSection.Review_Label}}</h3>
                    <h4 v-else>{{reviewSection.No_Review_Label}}</h4>
                    <div class="comment-div" v-for="review in allReview">
                      <div class="user"><img src="images/user.png" alt=""></div>
                      <div class="comment-block"> <span class="heading">{{review.Name}} – <span>{{review.Date}}</span></span>
                        <ul class="rating">
                          <li v-for="rowindex in 5"
                            :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                            <i class="fa fa-star"
                              :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                          </li>
                        </ul>
                        <p>{{review.comment}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="review-form">
                  <h4>{{reviewSection.Add_A_Review_Label}}</h4>
                  <p>{{reviewSection.Description}}</p>
                  <div class="add-rws"> <span>{{reviewSection.Your_Rating_Label}}</span>
                    <ul class="rating" id="ratingID">
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(1)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(2)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(3)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(4)"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(5)"></i></li>
                  </div>
                  <div id="fields">
                    <form>
                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding">
                          <div class="input-group">
                            <input name="name" class="form-control" :placeholder="reviewSection.Name_Placeholder" type="text" v-model="Name">
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding">
                          <div class="input-group">
                            <input name="email" class="form-control" :placeholder="reviewSection.Email_Placeholder" type="text" v-model="Email">
                          </div>
                        </div>
                          <div class="clearfix"></div>
                          <div class="col-md-12 col-sm-12 col-xs-12 padding">
                            <div class="input-group">
                              <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="reviewSection.Review_Placeholder" v-model="Review"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 padding text-center">
                            <button class="submit-button" v-on:click.prevent="addReviews">{{reviewSection.Button_Label}}</button>
                          </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</div>
</section>
</div>
<footer>
  <footeritem></footeritem>
  </footer>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="/assets/js/bootstrap-select.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/pack.js"></script>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="servicejs/HolidayDetails.js"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
</body>
</html>