<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Holidays</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/vue-loading.css?v=202007070000">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<style>
  [v-cloak] {
      display: none;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
    </header>
<div id="holidays" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
  </div>
  <section class="inner_banner p-0" :style="{ background: 'url(' + BannerSection.Banner_Image_1920_x_246px + ')'}">
    <div class="container">
      <div class="row">
      	<div class="banner_text">
            <h1 class="text-center">{{BannerSection.Title_1}} <span>{{BannerSection.Title_2}}</span></h1>
      </div>
      </div>
    </div>
  </section>
  <div class="breadcrumbs">
      <div class="container">
      	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<ul>
                    <li><a href="index.html">{{BannerSection.Breadcrumb_1}}</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li>{{BannerSection.Breadcrumb_2}}</li>
               </ul>
            </div>
        </div>
      </div>
    </div>
  <section id="pckg_section" class="holidays">
  <div class="container">
    <div class="row title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>{{Labels.Title}}</h2>
                </div>
    </div>
    <div class="row m-t-30">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 item" v-for="package in package">
        <div class="hldy">
              <div class="hldy_image">
                <a href="#"> <img :src="package.Package_Image_750_x_485" alt="image"></a>
                <ul>
                  <li><i v-for="rowindex in 5" v-bind:class="[getrating(package.More_details_page_link)>=rowindex ? 'fa fa-star':'fa fa-star-o' ]" style="padding: 4px;"></i></li>
                  <!-- <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star-o"></i></li> -->
                </ul>
              </div>
              <div class="hldy_detail"> <a href="#">
                <h3 v-cloak>{{package.Package_Name}}</h3>
                </a>
                <ul class="text">
                	<li><i class="fa fa-sun-o" aria-hidden="true"></i> {{package.No_of_Days}} {{Labels.Days_Label}}</li>
                    <li>|</li>
                    <li><i class="fa fa-moon-o" aria-hidden="true"></i> {{package.No_of_Nights}} {{Labels.Nights_Label}}</li>
                </ul>
                <div class="price"><span></span>{{ $n((package.Price/CurrencyMultiplier), 'currency', selectedCurrency) }}</div>
                <a href="#" class="btn1" v-on:click="getmoreinfo(package.More_details_page_link)">{{Labels.Button_Label}}</a> </div>
            </div>
      </div>
    </div>
    <div class="row m-t-50">
    	<div class="col-lg-12 text-center">
        <ul class="pagination">
          <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i
                class="fa fa-angle-left"></i></a></li>
          <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectPacakges(ind)" class=""
            :class="rowindex==currentPages ? 'active' :'' ">
            <a href="#">{{rowindex}}
            </a>
          </li>
          <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i
                class="fa fa-angle-right"></i></a></li>
        </ul>
        </div>
    </div>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
  </footer>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="/assets/js/bootstrap-select.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/pack.js"></script>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="servicejs/holidays.js"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
</body>
</html>