<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>EuroAfrica-Travel</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/css/nouislider.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<!-- <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents\assets\css\hotel.css?v=201907270000"> -->
<link href="css/custom-splash.css" rel="stylesheet">
<link href="css/common-style.css" rel="stylesheet">
<style>
  [v-cloak] {
    display: none !important;
  }
</style>
</head>
<body>
     <!-- PRELOADER -->
     <div id="preloader">
      <div id="preloader-status">
          <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
          </div>
          <div class="lds-circle">
              <div></div>
          </div>
          <div id="preloader-title">Loading</div>
      </div>
  </div>
  <!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
    </header>
<div id="indexmain" v-cloak>
<section id="bnr" class="p-0">
  <div class="container-fluid">
    <div class="row"> 
      <!-- Carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item" v-for="(banner,index) in banner.Banner_Image_List" :class="{ 'active': parseInt(index) == 0 }"> 
            <img :src="banner.Banner_Image_1920x764px" alt="First slide"> 
            <!-- Static Header -->
            <div class="banner-text">
              <h1>{{banner.Title_1}} <span>{{banner.Title_2}}</span></h1>
              <p v-html="banner.Description"></p>
            </div>
          </div>
        </div>
        <!-- Controls --> 
        <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a> </div>
      <!-- /carousel --> 
    </div>
  </div>
  <div class="booking-form">
  <div class="container">
    <div class="row">
      <div class="search-section">
        <div role="tabbable boxed parentTabs"> 
          <!-- BEGIN: CATEGORY TAB -->
          <div class="booking-tab">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  tab-field">
              <ul class="nav nav-tabs">
				<li class="active"><a href="#flight" data-toggle="tab"><span class="service-icon"><svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                  <path   d="M37.962,5.497l-0.068-0.638c-0.134-1.31-1.209-2.317-2.553-2.418l-0.537-0.033
        C33.19,2.34,31.612,2.944,30.47,4.086l-5.375,5.339L7.492,9.391c-1.478,0-2.922,0.604-3.998,1.679l-0.739,0.739
        c-0.235,0.236-0.336,0.638-0.269,0.974c0.101,0.336,0.336,0.604,0.672,0.705l14.009,3.828l-3.259,3.256l-5.913,0.202
        c-0.604,0-1.176,0.235-1.612,0.704l-0.571,0.572c-0.235,0.234-0.336,0.604-0.269,0.939c0.101,0.336,0.336,0.57,0.638,0.705
        l7.525,2.854l3.023,7.791c0.134,0.336,0.437,0.57,0.773,0.604c0.336,0.035,0.638-0.066,0.873-0.336l0.605-0.604
        c0.403-0.402,0.638-0.939,0.706-1.611l0.201-5.943l3.293-3.225l3.795,14.037c0.102,0.334,0.37,0.604,0.706,0.705
        C27.782,38,27.85,38,27.95,38c0.27,0,0.537-0.102,0.739-0.303l0.739-0.738c1.074-1.074,1.68-2.52,1.68-4.029V15.334l5.207-5.238
        C37.558,8.888,38.163,7.175,37.962,5.497z M35.374,9.156l-5.441,5.44c-0.135,0.134-0.201,0.302-0.201,0.47V32.93
        c0,1.176-0.471,2.25-1.277,3.09l-0.336,0.336L24.12,21.814c-0.066-0.234-0.234-0.402-0.47-0.469c-0.067,0-0.101-0.035-0.168-0.035
        c-0.168,0-0.336,0.068-0.47,0.203l-4.301,4.23c-0.134,0.133-0.201,0.268-0.201,0.469l-0.202,6.18c0,0.201-0.067,0.504-0.302,0.705
        l-0.235,0.234l-2.923-7.555c-0.067-0.168-0.201-0.303-0.403-0.369l-7.29-2.787l0.202-0.201c0.101-0.102,0.37-0.303,0.706-0.303
        l6.215-0.201c0.168,0,0.336-0.068,0.437-0.201l4.267-4.265c0.167-0.168,0.235-0.403,0.167-0.638c-0.066-0.235-0.235-0.403-0.47-0.47
        l-14.58-3.996l0.336-0.336c0.807-0.806,1.915-1.276,3.057-1.276l17.873,0.034c0.168,0,0.336-0.067,0.47-0.201l5.577-5.541
        c0.873-0.873,2.082-1.343,3.325-1.276l0.538,0.034c0.672,0.034,1.209,0.571,1.275,1.209l0.068,0.638
        C36.752,6.94,36.315,8.216,35.374,9.156z"/>
                  </svg></span> {{bookingForm.Flight_Label}}</a></li>
                <li><a href="#hotels" data-toggle="tab"><span class="service-icon"><svg width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                  <path display="none" d="M37.962,6.497l-0.068-0.638c-0.134-1.31-1.209-2.317-2.553-2.418l-0.537-0.033
	C33.19,3.34,31.612,3.944,30.47,5.086l-5.375,5.339L7.492,10.391c-1.478,0-2.922,0.604-3.998,1.679l-0.739,0.739
	c-0.235,0.236-0.336,0.638-0.269,0.974c0.101,0.336,0.336,0.604,0.672,0.705l14.009,3.828l-3.259,3.256l-5.913,0.202
	c-0.604,0-1.176,0.235-1.612,0.704l-0.571,0.572c-0.235,0.234-0.336,0.604-0.269,0.939c0.101,0.336,0.336,0.57,0.638,0.705
	l7.525,2.854l3.023,7.791c0.134,0.336,0.437,0.57,0.773,0.604c0.336,0.035,0.638-0.066,0.873-0.336l0.605-0.604
	c0.403-0.402,0.638-0.939,0.706-1.611l0.201-5.943l3.293-3.225l3.795,14.037c0.102,0.334,0.37,0.604,0.706,0.705
	C27.782,39,27.85,39,27.95,39c0.27,0,0.537-0.102,0.739-0.303l0.739-0.738c1.074-1.074,1.68-2.52,1.68-4.029V16.334l5.207-5.238
	C37.558,9.888,38.163,8.175,37.962,6.497z M35.374,10.156l-5.441,5.44c-0.135,0.134-0.201,0.302-0.201,0.47V33.93
	c0,1.176-0.471,2.25-1.277,3.09l-0.336,0.336L24.12,22.814c-0.066-0.234-0.234-0.402-0.47-0.469c-0.067,0-0.101-0.035-0.168-0.035
	c-0.168,0-0.336,0.068-0.47,0.203l-4.301,4.23c-0.134,0.133-0.201,0.268-0.201,0.469l-0.202,6.18c0,0.201-0.067,0.504-0.302,0.705
	l-0.235,0.234l-2.923-7.555c-0.067-0.168-0.201-0.303-0.403-0.369l-7.29-2.787l0.202-0.201c0.101-0.102,0.37-0.303,0.706-0.303
	l6.215-0.201c0.168,0,0.336-0.068,0.437-0.201l4.267-4.265c0.167-0.168,0.235-0.403,0.167-0.638c-0.066-0.235-0.235-0.403-0.47-0.47
	l-14.58-3.996l0.336-0.336c0.807-0.806,1.915-1.276,3.057-1.276l17.873,0.034c0.168,0,0.336-0.067,0.47-0.201l5.577-5.541
	c0.873-0.873,2.082-1.343,3.325-1.276l0.538,0.034c0.672,0.034,1.209,0.571,1.275,1.209l0.068,0.638
	C36.752,7.94,36.315,9.216,35.374,10.156z"></path>
                  <g>
                    <g>
                      <path d="M35.463,32.775h-1.612V4.293c0-0.323-0.215-0.538-0.538-0.538H6.443c-0.323,0-0.538,0.215-0.538,0.538v28.482H4.293
			c-0.322,0-0.537,0.215-0.537,0.537v2.15C3.756,35.785,3.971,36,4.293,36h31.17C35.785,36,36,35.785,36,35.463v-2.15
			C36,32.99,35.785,32.775,35.463,32.775z M6.98,4.831h25.795v27.945h-8.061v-5.912c0-0.322-0.215-0.537-0.538-0.537h-8.598
			c-0.322,0-0.538,0.215-0.538,0.537v5.912H6.98V4.831z M23.64,27.402v5.373h-3.225v-5.373H23.64z M19.34,27.402v5.373h-3.224
			v-5.373H19.34z M34.925,34.926H4.831V33.85h30.094V34.926z M13.966,6.443H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
			c0,0.322,0.215,0.538,0.537,0.538h4.299c0.323,0,0.538-0.215,0.538-0.538V6.98C14.504,6.658,14.289,6.443,13.966,6.443z
			 M13.429,9.667h-3.225v-2.15h3.225V9.667z M13.966,12.354H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
			c0,0.322,0.215,0.537,0.537,0.537h4.299c0.323,0,0.538-0.215,0.538-0.537v-3.225C14.504,12.569,14.289,12.354,13.966,12.354z
			 M13.429,15.579h-3.225v-2.15h3.225V15.579z M17.729,16.654h4.299c0.322,0,0.537-0.216,0.537-0.538v-3.225
			c0-0.322-0.215-0.537-0.537-0.537h-4.299c-0.322,0-0.537,0.215-0.537,0.537v3.225C17.191,16.438,17.406,16.654,17.729,16.654z
			 M18.266,13.429h3.225v2.15h-3.225V13.429z M25.789,16.654h4.3c0.322,0,0.537-0.216,0.537-0.538v-3.225
			c0-0.322-0.215-0.537-0.537-0.537h-4.3c-0.322,0-0.537,0.215-0.537,0.537v3.225C25.252,16.438,25.467,16.654,25.789,16.654z
			 M26.326,13.429h3.225v2.15h-3.225V13.429z M17.729,22.564h4.299c0.322,0,0.537-0.215,0.537-0.537v-3.224
			c0-0.323-0.215-0.538-0.537-0.538h-4.299c-0.322,0-0.537,0.215-0.537,0.538v3.224C17.191,22.35,17.406,22.564,17.729,22.564z
			 M18.266,19.341h3.225v2.149h-3.225V19.341z M25.789,22.564h4.3c0.322,0,0.537-0.215,0.537-0.537v-3.224
			c0-0.323-0.215-0.538-0.537-0.538h-4.3c-0.322,0-0.537,0.215-0.537,0.538v3.224C25.252,22.35,25.467,22.564,25.789,22.564z
			 M26.326,19.341h3.225v2.149h-3.225V19.341z M13.966,18.266H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
			c0,0.322,0.215,0.537,0.537,0.537h4.299c0.323,0,0.538-0.215,0.538-0.537v-3.225C14.504,18.48,14.289,18.266,13.966,18.266z
			 M13.429,21.49h-3.225v-2.149h3.225V21.49z M17.729,10.742h4.299c0.322,0,0.537-0.215,0.537-0.537V6.98
			c0-0.322-0.215-0.537-0.537-0.537h-4.299c-0.322,0-0.537,0.215-0.537,0.537v3.225C17.191,10.527,17.406,10.742,17.729,10.742z
			 M18.266,7.518h3.225v2.15h-3.225V7.518z M25.789,10.742h4.3c0.322,0,0.537-0.215,0.537-0.537V6.98
			c0-0.322-0.215-0.537-0.537-0.537h-4.3c-0.322,0-0.537,0.215-0.537,0.537v3.225C25.252,10.527,25.467,10.742,25.789,10.742z
			 M26.326,7.518h3.225v2.15h-3.225V7.518z M16.653,25.252h6.449c0.322,0,0.537-0.215,0.537-0.537s-0.215-0.537-0.537-0.537h-6.449
			c-0.322,0-0.537,0.215-0.537,0.537S16.331,25.252,16.653,25.252z"></path>
                    </g>
                  </g>
                  </svg></span> {{bookingForm.Hotel_Label}}</a> </li>
                <li><a href="/EuroAfrica/holidays.html"><span class="service-icon"><svg x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
<g>
	<path d="M38.082,35.668c-6.198-4.828-13.485-2-20.668-0.127l-3.237-12.08c0.633,0.007,1.275,0.165,1.871,0.488   c0.52,0.301,1.172,0.119,1.472-0.377c1.019-1.684,3.204-2.543,5.386-1.427c0.835,0.427,1.779-0.339,1.541-1.241   c-1.568-5.939-7.396-9.527-13.237-8.521l-0.515-1.919C10.54,9.885,9.946,9.542,9.368,9.697c-0.579,0.155-0.921,0.75-0.767,1.328   l0.514,1.919c-5.585,2.059-8.813,8.1-7.2,14.01c0.249,0.913,1.48,1.093,1.974,0.274c1.063-1.762,3.337-2.525,5.379-1.436   c0.513,0.272,1.143,0.093,1.438-0.395c0.354-0.584,0.831-1.047,1.378-1.373l3.224,12.031c-4.144,0.932-8.309,1.297-12.271-0.52   c-0.544-0.249-1.188-0.01-1.437,0.534s-0.01,1.188,0.534,1.438c12.421,5.694,25.462-7.263,34.617-0.13   c0.472,0.367,1.153,0.283,1.521-0.189C38.639,36.717,38.554,36.036,38.082,35.668L38.082,35.668z M21.597,19.5   c-1.556-0.166-3.122,0.269-4.37,1.215c-0.714-2.423-2.052-4.618-3.96-6.333C16.713,14.413,19.973,16.363,21.597,19.5L21.597,19.5z    M3.678,24.305c-0.16-3.451,1.619-6.816,4.666-8.606c-0.789,2.416-0.865,4.984-0.265,7.466C6.52,22.969,4.943,23.379,3.678,24.305z    M10.199,22.709c-0.617-2.498-0.44-5.099,0.651-7.492c2.14,1.525,3.595,3.685,4.312,6.162   C13.394,21.077,11.578,21.564,10.199,22.709z"/>
	<path d="M22.116,11.825h1.153c0.599,0,1.084-0.485,1.084-1.084s-0.485-1.084-1.084-1.084h-1.153   c-0.599,0-1.084,0.485-1.084,1.084S21.518,11.825,22.116,11.825z"/>
	<path d="M29.76,14.383c2.008,0,3.642-1.634,3.642-3.643c0-2.008-1.634-3.643-3.642-3.643   c-2.009,0-3.643,1.634-3.643,3.643C26.117,12.75,27.751,14.383,29.76,14.383z M29.76,9.266c0.813,0,1.474,0.662,1.474,1.475   s-0.661,1.475-1.474,1.475c-0.813,0-1.475-0.662-1.475-1.475S28.946,9.266,29.76,9.266z"/>
	<path d="M29.76,5.321c0.599,0,1.084-0.485,1.084-1.084V3.084C30.844,2.485,30.358,2,29.76,2   s-1.084,0.485-1.084,1.084v1.153C28.676,4.835,29.161,5.321,29.76,5.321z"/>
	<path d="M24.395,6.908c0.423,0.423,1.109,0.423,1.532,0c0.424-0.423,0.424-1.11,0-1.533L25.112,4.56   c-0.424-0.423-1.109-0.423-1.533,0c-0.423,0.423-0.423,1.11,0,1.533L24.395,6.908z"/>
	<path d="M24.395,14.573l-0.815,0.815c-0.423,0.423-0.423,1.109,0,1.533s1.109,0.423,1.533,0l0.814-0.815   c0.424-0.423,0.424-1.109,0-1.533C25.504,14.15,24.817,14.15,24.395,14.573z"/>
	<path d="M28.676,17.245v1.152c0,0.599,0.485,1.084,1.084,1.084s1.084-0.485,1.084-1.084v-1.152   c0-0.599-0.485-1.084-1.084-1.084S28.676,16.646,28.676,17.245z"/>
	<path d="M33.592,14.573c-0.424,0.423-0.424,1.11,0,1.533l0.815,0.815c0.423,0.423,1.109,0.423,1.532,0   c0.424-0.423,0.424-1.109,0-1.533l-0.814-0.815C34.701,14.15,34.015,14.15,33.592,14.573z"/>
	<path d="M35.179,10.741c0,0.599,0.485,1.084,1.084,1.084h1.153c0.599,0,1.084-0.485,1.084-1.084   s-0.485-1.084-1.084-1.084h-1.153C35.664,9.657,35.179,10.142,35.179,10.741z"/>
	<path d="M35.125,6.908l0.814-0.815c0.424-0.423,0.424-1.11,0-1.533c-0.423-0.423-1.109-0.423-1.532,0l-0.815,0.815   c-0.424,0.423-0.424,1.11,0,1.533C34.015,7.332,34.701,7.332,35.125,6.908L35.125,6.908z"/>
</g>
</svg></span> {{bookingForm.Package_Label}}</a> </li>
              </ul>
            </div>
            <!-- END: CATEGORY TAB --> 
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 all-search-box"> 
            <!-- BEGIN: TAB PANELS -->
            <div class="tab-content"> 
              <!-- BEGIN: FLIGHT SEARCH -->
              <div class="tab-pane active" id="flight">
              	<div class="tabbable">
                    <ul class="nav-tabs nav-tabs2">
                      <li class="active m-left"><a href="#one-way" data-toggle="tab" v-on:click="setTripType('O')">{{bookingForm.One_Way_Label}}</a> </li>
                      <li><a href="#round-trip" data-toggle="tab" v-on:click="setTripType('R')">{{bookingForm.Round_Trip_Label}}</a> </li>
                      <li><a href="#multi-city" data-toggle="tab" v-on:click="setTripType('M')">{{bookingForm.Multi_City_Label}}</a> </li>
                      <label class="chck">{{bookingForm.Search_Direct_Flight_Label}}
                      <input type="checkbox" v-model="direct_flight">
                      <span class="checkmark"></span>
                    </label>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade active in" id="one-way" role="tabpanel">
                      	<div class="shadow">
                        <div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch id="Cityfrom1" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                            <span class="change-destination" v-on:click="swapLocations(1)"></span>
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch id="Cityto1" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="0"></flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="deptDate01" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <!-- <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding" style="display: none;">
                            <input id="retDate" value="" readonly="readonly" class="calendar" type="text" placeholder="ReturnDate" />
                          </div> -->
                           <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                             <div class="travellersDropdown flt">
                        <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                          <input class="form-control" v-model="Totaltravaller" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                        </div>
                        <div class="travelerSelectWindow active" v-show="travellerdisply">
                          <div id="travelRoundtrip">
                            <div class="travelDropdown">
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Adults_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmAdult _apxSelection" id="adultdrp"
                                    v-on:change="setCHDINFTravellers" v-model="selected_adult">
                                    <option v-for="adult in adults"
                                    :value="adult.value"
                                    v-cloak>
                                    {{adult.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                </fieldset>
                              </div>
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmChild _apxSelection" v-model="selected_child"
                                    id="childdrp" v-on:change="SetInfantTravellers">
                                    <option
                                    v-for="child in children"
                                    :value="child.value"
                                    v-cloak>
                                    {{child.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                </fieldset>
                              </div>
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Infant_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                    v-on:change="setTravelInfo">
                                    <option
                                    v-for="infant in infants"
                                    :value="infant.value">
                                    {{infant.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="classSec">
                            <label>{{bookingForm.Class_Label}}</label>
                            <div class="custom-select-v3 lg">
                              <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo">
                                <option v-for="cabin in bookingForm.Class_Item_List" :value="cabin.Value">{{cabin.Name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="closeDropdown" v-on:click="showhidetraveller"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                        </div>
                      </div>
                           </div>       
                          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus2 m-t-100">
                              <button type="submit" class="search-button" v-on:click="SearchFlight">{{bookingForm.Button_Label}} </button>
                          </div>
                        </div>
                        </div>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="round-trip">
                      	<div class="shadow">
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch id="Cityfrom1" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                            <span class="change-destination"></span>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch id="Cityto1" :return-value="returnValue":place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="0"></flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="from1" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="retDate" :disabled="triptype == 'O'" value="" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Return_Placeholder" />
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                            <div class="travellersDropdown flt">
                        <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                          <input class="form-control" v-model="Totaltravaller" placeholder=" 1 Travellers, Economy" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                        </div>
                        <div class="travelerSelectWindow active" v-show="travellerdisply">
                          <div id="travelRoundtrip">
                            <div class="travelDropdown">
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Adults_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmAdult _apxSelection" id="adultdrp"
                                    v-on:change="setCHDINFTravellers" v-model="selected_adult">
                                    <option v-for="adult in adults"
                                    :value="adult.value"
                                    v-cloak>
                                    {{adult.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                </fieldset>
                              </div>
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmChild _apxSelection" v-model="selected_child"
                                    id="childdrp" v-on:change="SetInfantTravellers">
                                    <option
                                    v-for="child in children"
                                    :value="child.value"
                                    v-cloak>
                                    {{child.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                </fieldset>
                              </div>
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                    v-on:change="setTravelInfo">
                                    <option
                                    v-for="infant in infants"
                                    :value="infant.value">
                                    {{infant.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="classSec">
                            <label>{{bookingForm.Class_Label}}</label>
                            <div class="custom-select-v3 lg">
                              <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo">
                                <option v-for="cabin in bookingForm.Class_Item_List" :value="cabin.Value">{{cabin.Name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="closeDropdown" v-on:click="showhidetraveller"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                        </div>
                      </div>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding brdr-rdus2 m-t-100">
                              <button type="submit" class="search-button" v-on:click="SearchFlight">{{bookingForm.Button_Label}} </button>
                          </div>
                        </div>
                      </div>

                              <!-- multi-city -->

                      <div class="tab-pane fade" id="multi-city">
                      <div class="shadow">
                        <form>
                          <!-- trip 1 -->
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="1">
                            </flightsearch>
                            <span class="change-destination"></span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="1"></flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="txtLeg1Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding custom-traveller brdr-rdus2">
                            <div class="travellersDropdown flt">
                        <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                          <input class="form-control" v-model="Totaltravaller" placeholder=" 1 Travellers, Economy" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                        </div>
                        <div class="travelerSelectWindow active" v-show="travellerdisply">
                          <div id="travelRoundtrip">
                            <div class="travelDropdown">
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Adults_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmAdult _apxSelection" id="adultdrp"
                                    v-on:change="setCHDINFTravellers" v-model="selected_adult">
                                    <option v-for="adult in adults"
                                    :value="adult.value"
                                    v-cloak>
                                    {{adult.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                </fieldset>
                              </div>
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmChild _apxSelection" v-model="selected_child"
                                    id="childdrp" v-on:change="SetInfantTravellers">
                                    <option
                                    v-for="child in children"
                                    :value="child.value"
                                    v-cloak>
                                    {{child.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                </fieldset>
                              </div>
                              <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                    v-on:change="setTravelInfo">
                                    <option
                                    v-for="infant in infants"
                                    :value="infant.value">
                                    {{infant.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                </fieldset>
                              </div>
                            </div>
                          </div>
                          <div class="classSec">
                            <label>{{bookingForm.Class_Label}}</label>
                            <div class="custom-select-v3 lg">
                              <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo">
                                <option v-for="cabin in bookingForm.Class_Item_List" :value="cabin.Value">{{cabin.Name}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="closeDropdown" v-on:click="showhidetraveller"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                        </div>
                      </div>
                          </div>
                        </form>
                        <!-- trip 2 -->
                        <form class="mgn-tp">
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="2">
                            </flightsearch>
                            <span class="change-destination"></span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="2">
                            </flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="txtLeg2Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" v-if="legcount!=6">
                            <div class="close-btn"><a href="#"></i></a></div>
                            <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> {{bookingForm.Add_Label}}</a> 
                          </div>
                        </form>
                        <!-- trip 3 -->
                        <form class="mgn-tp" v-if="(legcount>2)">
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="3">
                            </flightsearch>
                            <span class="change-destination"></span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="3">
                            </flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="txtLeg3Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="close-btn" v-on:click.prevent="DeleteLeg(3)" v-if="legcount==3"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                            <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a>  -->
                          </div>
                        </form>
                           <!-- trip 4 -->
                        <form class="mgn-tp" v-if="(legcount>3)">
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="4">
                            </flightsearch>
                            <span class="change-destination"></span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="4">
                            </flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="txtLeg4Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="close-btn" v-on:click.prevent="DeleteLeg(4)" v-if="legcount==4"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                            <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a>  -->
                          </div>
                        </form>
                         <!-- trip 5 -->
                        <form class="mgn-tp" v-if="(legcount>4)">
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="5">
                            </flightsearch>
                            <span class="change-destination"></span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="5">
                            </flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="txtLeg5Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="close-btn" v-on:click.prevent="DeleteLeg(5)" v-if="legcount==5"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                            <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a> -->
                             </div>
                        </form>
                        <!-- trip 6 -->
                        <form class="mgn-tp" v-if="(legcount>5)">
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                            <flightsearch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="6">
                            </flightsearch>
                            <span class="change-destination"></span> </div>
                          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                            <flightsearch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="6">
                            </flightsearch>
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                            <input id="txtLeg6Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                            <span class="change-date"></span>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="close-btn" v-on:click.prevent="DeleteLeg(6)" v-if="legcount==6"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                            <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a> -->
                           </div>
                        </form>
                           <!-- <div v-if="legcount!=6">
                            <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City {{6-legcount}}</a>
                          </div> -->
                        <form>
                          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-md-offset-6 search-col-padding brdr-rdus2 m-t-100">
                              <button type="submit" class="search-button" v-on:click.prevent="MultiSearchFlight">{{bookingForm.Button_Label}} </button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- END: FLIGHT SEARCH --> 
              <!-- BEGIN: HOTEL SEARCH -->
              <hotels :labels="bookingForm" role="tabpanel" inline-template class="tab-pane fade" id="hotels">
                <div class="tab-content p-tp">
                	<div class="shadow">
                    <form>
                        <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                          <div class="input-group">
                            <city-search :labels="labels" @city-search-completed="citySearchCompleted"></city-search>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                          <input id="checkInId" class="calendar" readonly="readonly" placeholder="Check In Date" />
                          <span class="change-date"></span> </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                          <input id="CheckOutId" class="calendar" readonly="readonly" placeholder="Check Out Date" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                          <div class="km_slider">
                              <label class="within_sec">{{labels.Include_City_Label}}</label>
                              <div id="rangeSlider"></div>
                              <label id="slider-step-value"></label>
                          </div>
                      </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                          <div class="travellersDropdown flt">
                            <div class="custom-select-v3 lg"  v-on:click="hoteldropdown = !hoteldropdown">
                              <input class="form-control" readonly autocomplete="off" id="_totStrhtl" v-bind:value="totalcount" type="button">
                            </div>
                            <div class="travelerSelectWindow" v-show="hoteldropdown">
                              <div id="travelRoundtrip">
                                <div v-for="todo in todos" :key="todo.id">
                                  <todo-item :labels="labels" :id="todo.id" :value="todo.value"></todo-item>
                              </div>
                              <a class="add-room" href="#" v-on:click.prevent="addNewTodo"><i class="fa fa-plus" aria-hidden="true"></i> {{' '+labels.Room_Label}}</a> 
                              <a class="delete-room" href="#" v-show="dspl" v-on:click.prevent="RemoveNewTodo"><i class="fa fa-trash" aria-hidden="true"></i>{{' '+labels.Delete_Label}}</a>
                              </div>
                              <div class="closeDropdown" v-on:click="done"> <span class="closeBtn closeLink">{{labels.Done_Label}}</span> </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding brdr-rdus2">
                          <button type="submit" class="search-button" v-on:click.prevent="search">{{labels.Button_Label}} </button>
                        </div>
                    </form>
                    </div>
                  </div>
              </hotels>
              <!-- END: HOTEL SEARCH --> 
            </div>
          </div>
          <!-- END: TAB PANE --> 
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section id="deals_section">
  <div class="container">
    <div class="row title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>{{dealsSection.Hot_Deals_Label}}</h2>
                </div>
    </div>
    <div class="row">
      <div id="owl-demo-2" class="owl-carousel owl-theme m-t-20">
        <div class="item" v-for="item in deals">
          <div class="deals"><a class="deals_image"> <img :src="item.Image_360_x_187px" alt="image"> </a>
          	<i class="fa" v-bind:class="item.Icon" aria-hidden="true"></i>
            <div class="deals_detail"> <a>
              <h4>{{item.Title}}</h4>
              </a>
              <p v-html="item.Description"></p>
              <div class="text">
              	<div class="date">{{dealsSection.Valid_Till_Label}} {{dateConvert(item.Valid_Date)}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pckg_section" class="p-0">
  <div class="container-fluid">
    <div class="row flex">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p_0">
        <div class="left title text-center" :style="{ background: 'url(' + packageSection.Background_Image_935_x_625px+ ')'}">
          <h2>{{packageSection.Title}}</h2>
          <p class="m-t-30" v-html="packageSection.Description"></p>
          <a href="/EuroAfrica/holidays.html" class="view-btn">{{packageSection.View_More_Label}}</a> </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 p_0">
        <div class="right">
          <div id="owl-demo-1" class="owl-carousel owl-theme">
            <div class="item" v-for="pack in packages">
              <div class="hldy">
                <div class="hldy_image"> <a href=""> <img :src="pack.Package_Image_750_x_485" alt="image"></a>
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa  fa-star"></i></li>
                  </ul>
                </div>
                <div class="hldy_detail"> <a href="#" v-on:click="getmoreinfo(pack.More_details_page_link)">
                  <h3>{{pack.Package_Name}}</h3>
                  </a>
                  <ul class="text">
                    <li><i class="fa fa-sun-o" aria-hidden="true"></i> {{pack.No_of_Days}} {{packageSection.Days_Label}}</li>
                    <li>|</li>
                    <li><i class="fa fa-moon-o" aria-hidden="true"></i> {{pack.No_of_Nights}} {{packageSection.Nights_Label}}</li>
                  </ul>
                  <div class="price"><span></span>{{ $n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency) }}</div>
                  <a href="#" class="btn1" v-on:click="getmoreinfo(pack.More_details_page_link)">{{packageSection.Book_Now_Label}}</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="artcl_section">
  <div class="container">
    <div class="row title">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2>{{articlesSection.Title}}</h2>
                </div>
    </div>
    <div class="row m-t-30">
      <div class="col-lg-4 col-sm-4 col-sm-4 col-xs-12" v-for="article in articles">
        <div class="inner"> <img :src="article.Blog_Image_360x402px" alt="">
          <div class="art_title">
            <h4><a href="#" v-on:click="getMoreInfoArticle(article.More_details_page_link)">{{article.Blog_Title}}</a></h4>
            <ul>
            	<li>{{dateConvert(article.Date)}}</li>
                <li>|</li>
                <li>{{article.Author_Name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<footer>
  <footeritem></footeritem>
  </footer>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="master/js/hotel-search.js"></script>
  <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>

  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
  <script src="master/js/index.js?v=20211122000"></script>
</body>
</html>