<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Safety</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/rtl-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/rtl-media.css" id="mediaid">
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<style>
  [v-cloak] {
    display: none;
  }
</style></head>
<body>
  <header>
    <headeritem></headeritem>
    </header>
<div id="safety" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
</div>
  <section class="inner_banner p-0" :style="{ background: 'url(' + banner.Image_1920_x_245px+ ')'}">
    <div class="container">
      <div class="row">
      	<div class="banner_text">
            <h1 class="text-center">{{banner.Title_1}} <span>{{banner.Title_2}}</span></h1>
      </div>
      </div>
    </div>
  </section>
  <div class="breadcrumbs">
      <div class="container">
      	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<ul>
                    <li><a href="index.html">{{banner.Breadcrumb_1}}</a></li>
                    <li><i class="fa fa-arrow-right" aria-hidden="true"></i></li>
                    <li>{{banner.Breadcrumb_2}}</li>
               </ul>
            </div>
        </div>
      </div>
    </div>
  <section id="intro">
    <div class="container">
      <div class="row title">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>{{mainSection.Title}}</h2>
          <p class="m-t-20" v-html="mainSection.Content"></p>
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <footeritem></footeritem>
  </footer>
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="/assets/js/bootstrap-select.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/pack.js"></script>

<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
     <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
     <script src="/assets/js/common.js?v=202008200000"></script> 
      <script src="servicejs/safety.js"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
  
</body>
</html>