﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Triathlon Abu Dhabi</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="car-rental-booking" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
                <h2>{{headerArea.Title}}</h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="transfer_booking">
                    <h3><span>1</span>{{rentalDetails.Car_Rental_Details_Title_}}</h3>
                    <div class="transfer_book_sec">
                        <div class="img_sectransfer">
                            <div class="img_transfer"><img :src="CarRental.Vehicle_Image" alt="car image"></div>
                            <h4>{{CarRental.Vehicle_Name}}</h4>
                            <table cellpading="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48%">{{rentalDetails.Destination_From_Label}}</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;">{{CarRental.Destination_From}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 48%">{{rentalDetails.Destination_To_Label}}</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;">{{CarRental.Destination_To}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{rentalDetails.Number_Of_Passengers_Label}} </td>
                                        <td>:</td>
                                        <td>{{CarRental.Max_Number_of_Passengers}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{rentalDetails.Number_Of_Days_Label}}</td>
                                        <td>:</td>
                                        <td>{{searchCriteria.noOfDays}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td>{{rentalDetails.Extra_Hour_Label}}</td>
                                        <td>:</td>
                                        <td> <span>
                                                {{$n((CarRental.Extra_Hour_Rate/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                            </span></td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td>{{rentalDetails.Full_Day_Rent_Label}}</td>
                                        <td>:</td>
                                        <td><span>
                                                {{$n((CarRental.Full_Day_Rent/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                            </span></td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <h4>{{CarRental.Description_Title}}</h4>
                            <p>{{CarRental.Description}}</p>
                            <h4>{{CarRental.Cancellation_Policy_Title}}</h4>
                            <div class="facilites" v-html="CarRental.Cancellation_Policies">
                            </div>
                            <!-- <p>{{CarRental.Cancellation_Policy}}</p> -->
                        </div>
                        <div class="bookright_area">
                            <div class="available_sec" v-if="CarRental.Availability_Status"><i
                                    class="fa fa-check-circle"></i>{{rentalDetails.Available_Label}}</div>
                            <div class="notavailable_sec" v-else><i
                                    class="fa fa-times-circle"></i>{{rentalDetails.Not_Available_Label}}</div>
                            <div v-if="searchCriteria.noOfDays" class="book_price"><span>
                                </span>
                                {{$n((CarRental.Price*searchCriteria.noOfDays/CurrencyMultiplier), 'currency', selectedCurrency)}}
                            </div>
                        </div>

                    </div>
                    <h3><span>2</span>{{travelerDetails.Heading}}</h3>
                    <div class="transfer_book_sec">
                        <p>{{Traveler_Details.Description}}</p>
                        <div class="book_transfer_form">
                            <div>
                                <input class="booktxt_transfer" type="text"
                                    :placeholder="travelerDetails.First_Name_Placeholder"
                                    v-model="travellerInfo.firstName">
                                <input class="booktxt_transfer" type="text"
                                    :placeholder="travelerDetails.Last_Name_Placeholder"
                                    v-model="travellerInfo.lastName">
                                <input class="booktxt_transfer" type="text"
                                    :placeholder="travelerDetails.Email_Placeholder" v-model="travellerInfo.email">

                                <input class="booktxt_transfer" type="number"
                                    :placeholder="travelerDetails.Contact_Number_Placeholder"
                                    v-model="travellerInfo.contactNumber">
                                <div class="bookbtnsec">
                                    <button class="transferbtn" :style="isBooking?'pointer-events:none':''"
                                        v-on:click="bookingDeatils">{{isBooking ? travelerDetails.Processing_Label :travelerDetails.Submit_Label}}</button>

                                </div>
                            </div>
                        </div>
                        <div class="condition_checkbox">
                            <label class="checkbook">{{Traveler_Details.Terms_and_Conditions}}<input type="checkbox"
                                    checked="checked" v-model="checked"><span class="checkmark6"></span></label>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/WTAD/ServiceJs/car-rental-booking.js?v=202105240000"></script>

</body>

</html>