<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Triathlon Abu Dhabi</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202105280000">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=202105280000"> -->
    <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202105280000" rel="stylesheet">
    <link href="/assets/css/intlTelInput.css?v=201904080000" rel="stylesheet" type="text/css" />
    <link href="css/fotorama.css" rel="stylesheet">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="Hoteldetails" v-cloak>
        <div class="service_banner">
            <div class="container">
                <h2>{{headerArea.Title}}</h2>
            </div>
        </div>
        <section class="mainCont_area">

            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <!-- <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="search_card">
                                <div class="card_head">Reservation</div>
                                <div class="cmn_area_modify">
                                    <div class="cmn_modify">
                                        <h6>Select Rooms</h6>
                                        <select class="myselect" id="roomno">
                                            <option selected disabled hidden value="">Select Rooms</option>
                                            <option :value="val" v-for="val in 5">{{val}}</option>
                                        </select>
                                    </div>

                                    <div class="roomlist" v-for="(adult,i) in (Number(norooms))">
                                        <div class="cmn_modify">
                                            <h6>{{'Room '+(i+1)}}</h6>
                                        </div>
                                        <div class="cmn_modify">
                                            <h6>Adult</h6>
                                            <select class="myselect" :id="'Adult-'+i">
                                                <option selected disabled hidden value="">Adult</option>
                                                <option :value="val" v-for="val in maxAdults">{{val}}</option>
                                            </select>
                                        </div>
                                        <div class="cmn_modify" v-if="maxChild">
                                            <h6>Child</h6>
                                            <select class="myselect" :id="'Child-'+i">
                                                <option selected hidden value="">0</option>
                                                <option :value="val" v-for="val in maxChild">{{val}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="cmn_modify">
                                        <h6>Check In </h6>
                                        <input type="text" placeholder="Check In Date" id="from1" autocomplete="off"
                                            v-on:focus="dateChecker">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>Check Out </h6>
                                        <input type="text" placeholder="Check Out Date" id="from2" autocomplete="off">
                                    </div>


                                    <div class="cmn_modify">
                                        <div class="side_sec">
                                            <h6>INITIAL PRICE</h6>
                                            <h5>
                                                {{$n((price/CurrencyMultiplier), 'currency', selectedCurrency) || N/A}}
                                            </h5>
                                        </div>
                                        <div class="side_sec">
                                            <h6>Your PRICE</h6>
                                            <h5>{{$n((roomtotal/CurrencyMultiplier), 'currency', selectedCurrency) || N/A}}
                                            </h5>
                                        </div>
                                    </div>

                                </div>

                                <button class="modify_srch_btn" v-on:click.prevent="checkReservation">
                                    <div v-if="false">
                                        Processing<span class="loader__dot">.</span><span
                                            class="loader__dot">.</span><span class="loader__dot">.</span>
                                    </div>
                                    <div v-else>{{'Book'}}</div>
                                </button>
                            </div>
                        </div> -->
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right">
                            <div class="summary-detail">
                                <h3>{{mainData.Summary_Detail_Label}}</h3>
                                <div class="summary-departure">
                                    <div class="summary-place m-l-0">
                                        <h4 class="pdng-lft">
                                            <i class="fa fa-hotel htl-icon" aria-hidden="true"></i>
                                            {{maincontent.Hotel_Name}}
                                        </h4>
                                        <p>{{maincontent.Hotel_Address}}</p>
                                    </div>
                                </div>

                                <div class="summary-price">
                                    <!-- <p>2 Nights: 15/02/2019 TO 17/02/2019</p> -->
                                    <p>{{noOfNights>1?noOfNights + ' ' + mainData.Nights_Label :'1 ' +  mainData.Nights_Label }}
                                        {{checkIn + ' ' + mainData.To_Label + ' ' + checkOut}}
                                    </p>
                                    <ul>
                                        <li v-for="(room,index) in SelectedRooms" :key="index">
                                            <div class="rm-txt">
                                                {{mainData.Room_Label+' '+(index+1)}}
                                                (<template v-if="room.Bed_and_Breakfast">Bed and Breakfast</template>
                        <template v-else-if="room.Half_Board">Half Board</template>
                        <template v-else="room.Full_Board">Full Board</template>)
                                            </div>
                                            <p>
                                                {{room.Occupancy_ID==1?'1 ' + mainData.Adult_Label:room.Occupancy_ID==2?'2 ' + mainData.Adults_Label:room.Occupancy_ID==3?'2 ' +mainData.Adults_Label+' 1'+mainData.Child_Label:room.Occupancy_ID==4?'3 '+mainData.Adults_Label:'1 '+mainData.Adult_Label}}
                                            </p>
                                            <span>
                                                {{$n(((room.Price*noOfNights)/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>

                                            <!-- <div class="rm-txt">Room 1: STUDIO APARTMENT</div>
                                            <p>1 Room: 1 Adult</p>
                                            <p>1 Room: 1 Adult</p>
                                            <span>
                                                {{$n((total/CurrencyMultiplier), 'currency', selectedCurrency)}}</span> -->

                                        </li>
                                    </ul>
                                    <div class="summary-total">
                                        <p>{{mainData.Total_Label}}</p>
                                        <span>{{$n((total/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>
                                    </div>
                                    <!-- <div class="summary-included">
                                        <p>{{mainData.Price_Description}}</p>
                                        <p v-if="isSupplement">{{mainData.Supplement_Charges_Content}}</p>
                                    </div> -->
                                </div>
                            </div>
                            <!-- <button class="modify_srch_btn" v-on:click.prevent="checkReservation">
                                <div v-if="false">
                                    {{mainData.Processing_Label}}<span class="loader__dot">.</span><span class="loader__dot">.</span><span
                                        class="loader__dot">.</span>
                                </div>
                                <div v-else>{{mainData.Book_Label}}</div>
                            </button> -->
                        </div>


                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="traveller-detatail">
                                <div class="detail-title">
                                    <span>1</span>
                                    <p>{{mainData.Review_Your_Booking_Label}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 hotel_details">
                                        <div class="hotel-header">
                                            <h4>{{maincontent.Hotel_Name}}</h4>
                                            <span>{{$n((total/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>
                                        </div>
                                        <div class="hotel_detailsImg">
                                            <div style="position: relative;">
                                                <div class="fotorama" data-auto="false" data-nav="thumbs" data-fit="cover" data-width="100%">
                                                    <img v-for="(image, index) in details.Images" :key="index" :src="image.Image" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="details-sec" v-if="details.Informations">
                                            <h3>{{mainData.Information_Label}}</h3>
                                            <p>{{details.Informations}}</p>
                                        </div> -->
                                        <!-- <div class="details-sec aminities" v-if="details.Amenities">
                                            <h3>{{mainData.Amenities_Label}}</h3>
                                            <ul>
                                                <div v-for="feature in details.Amenities">
                                                    <li>{{feature.Amenities_Area}}</li>
                                                </div>
                                            </ul>
                                        </div> -->
                                        <div class="details-sec booking-dates" v-if="Bookingdetails.instructions">
                                            <h3>{{mainData.Booking_Instruction_Label}}</h3>
                                            <!-- <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Main Check In Date</th>
                                                        <th>Main Check Out Date</th>
                                                        <th>Minimum Number Of Nights</th>
                                                        <th>Total Rooms</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{dateFormat(Bookingdetails.Main_Check_In_Date)}}</td>
                                                        <td>{{dateFormat(Bookingdetails.Main_Check_Out_Date)}}</td>
                                                        <td>{{Bookingdetails.Minimum_Number_of_Nights}}</td>
                                                    </tr>
                                                </tbody>
                                            </table> -->
                                            <ul>
                                                <div v-for="rule in Bookingdetails.instructions ">
                                                    <li>{{rule.Instructions}}</li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="details-sec booking-dates">
                                            <h3>{{mainData.Rooms_Instructions_Label}}</h3>
                                            <!-- <table class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Room</th>
                                                        <th>Occupancy</th>
                                                        <th>Number of Rooms</th>
                                                        <th>Rate</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="room in Roomdetails.Room_Details">
                                                        <td>{{room.Room_Type}}</td>
                                                        <td>{{room.Occupancy}}</td>
                                                        <td>{{room.Number_of_Rooms}}</td>
                                                        <td>
                                                            {{$n((room.Price/CurrencyMultiplier), 'currency', selectedCurrency) || N/A}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table> -->
                                            <ul>
                                                <div v-for="rules in Roomdetails.Instructions">
                                                    <li>{{rules.Instructions}}</li>
                                                </div>
                                                <div v-if="withPark == 'true'">
                                                <div v-for="rules in instructions.Instruction_For_Park_Access">
                                                    <li>{{rules.Instructions}}</li>
                                                </div>
                                               </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Booking Details -->
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" v-if="paxDetails.length">
                            <div class="traveller-detatail travel-form-info" id="htlbooking">
                                <div class="detail-title">
                                    <span>2</span>
                                    <p>{{mainData.Guest_Details_Label}}</p>
                                </div>
                                <div class="travel-form" v-for="(room, rIndex) in paxDetails" :key="'room'+rIndex"
                                    :class="[rIndex != 0 ? 'bdr-tp m-t-15' :'']">
                                    <p>
                                        <span>{{mainData.Room_Label+ ' '+ (rIndex + 1) + ':'}}</span>
                                    </p>
                                    <div v-for="(pax, pIndex) in room" :key="'pax'+pIndex">
                                        <div class="travel-form">
                                            <h6>{{pax.type == 'Adult' ? mainData.Adult_Label: mainData.Child_Label}}</h6>
                                        </div>
                                        <div class="col-md-2 col-sm-4" v-cloak>
                                            <label class="select-label">{{mainData.Title_Label}}</label>
                                            <select v-if="pax.type=='Adult'" class="simple_dropdown sel_co_trvlr" v-model="pax.title">
                                                <option value="Mr">Mr</option>
                                                <option value="Mrs">Mrs</option>
                                                <option value="Ms">Ms</option>
                                            </select>
                                            <select v-else class="simple_dropdown sel_co_trvlr" v-model="pax.title">
                                                <option value="Miss">Miss</option>
                                                <option value="Mstr">Mstr</option>
                                            </select>
                                        </div>
                                        <div class="flx_package">
                                            <div class="col-md-4 col-sm-4">
                                                <label class="select-label">{{mainData.First_Name_Label}} </label>
                                                <input type="text" :id="'firstName'+rIndex+pIndex"
                                                    :name="'firstName'+rIndex+pIndex" :placeholder="mainData.First_Name_Label"
                                                    v-model="pax.name" :class="{'form-control': true}" />
                                                <!-- <span class="text-danger">{{ errors.first('firstName'+rIndex+pIndex) }}</span> -->
                                            </div>
                                            <div class="col-md-4 col-sm-4 pd-right">
                                                <label class="select-label">{{mainData.Last_Name_Label}}</label>
                                                <input type="text" :id="'lastName'+rIndex+pIndex"
                                                    :name="'lastName'+rIndex+pIndex" :placeholder="mainData.Last_Name_Label"
                                                    v-model="pax.surName" :class="{'form-control': true }" />
                                                <!-- <span class="text-danger">{{ errors.first('lastName'+rIndex+pIndex) }}</span> -->
                                            </div>
                                            <div class="col-md-3 col-sm-3 pd-right">
                                                <label class="select-label">Group Name</label>
                                                <select class="simple_dropdown sel_co_trvlr" v-model="pax.group">
                                                    <option value="Elite">Elite</option>
                                                    <option value="Age">Age</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="travel-form bdr-tp m-t-15">
                                    <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                          <label for="Message">Additional Remarks</label>
                                          <textarea v-model="message" class="form-control" rows="5" placeholder="Additional Remarks" maxlength="500"></textarea>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="travel-form bdr-tp m-t-15">
                                    <p>
                                        <span>{{mainData.Contact_Details_Label}}<span>
                                    </p>
                                    <form>
                                        <div class="col-md-7 col-sm-7 pd-left travel-form">
                                            <label class="select-label">{{mainData.Email_Label}} </label>
                                            <input type="text" id="emailll" name="email" :placeholder="mainData.Email_Label"
                                                v-model="email" :class="{'form-control': true}" />
                                        </div>
                                        <div class="col-md-5 col-sm-5 travel-form pd-right">
                                            <label class="select-label">{{mainData.Phone_Number_Label}}</label>
                                            <input id="phone" type="tel" v-model="phone" :placeholder="mainData.Phone_Placeholder"
                                                class="form-control" />
                                        </div>
                                    </form>
                                </div>
                                <div class="travel-form bdr-tp m-t-15">
                                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pd-right">
                                        <!-- <div class="col-md-7 col-sm-7 pd-left travel-form"> -->
                                        <button class="modify_srch_btn" v-on:click.prevent="bookHotel"
                                            :disabled="isLoading">
                                            <div v-if="isLoading">
                                                {{mainData.Processing_Label}}<span class="loader__dot">.</span><span
                                                    class="loader__dot">.</span><span class="loader__dot">.</span>
                                            </div>
                                            <div v-else>{{mainData.Make_Payment_Label}}</div>
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Booking Details End -->

                    </div>

                </div>
            </section>
        </section>
    </section>
    <div id="payformbind"></div>
    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script src="js/fotorama.js"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <!-- <script src="/assets/js/underscore-min.js?v=201904100000"></script> -->
    <script src="/assets/js/lodash.min.js?v=202105240000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/pgWay.js?v=202106012000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/Flights/assets/js/Countries.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/intlTelInput.js?v=202105280000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/WTAD/ServiceJs/hotel-details.js?v=20220330000"></script>
</body>

</html>