<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>World Triathlon Abu Dhabi</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link rel="stylesheet" href="css/custom-splash.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <!-- <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div> -->
  <div id="preloader">
    <div id="preloader-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="lds-circle"><div></div></div>
        <div id="preloader-title">Loading</div>
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>
  <section class="p-0 relative" id="hotels" v-cloak>
    <div class="hm_main">
      <div class="bannersec" :style="{ 'background-image': 'url(' + Banner.Banner_Image+ ')'}">
        <div class="container">
       
        </div>
      </div>
      <div style="width: 1005; margin: 20px 0;">
        <!-- <img style="width: 100%;" src="images/sponsors.png" alt="sponsors"> -->
        <img style="width: 100%;" src="images/hotels-logo.png" alt="hotels">
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" v-for="(banners,indx) in bannerImages"
              :class="{ 'active': parseInt(indx) == 0 }" :data-slide-to="indx"></li>

          </ol>
          <div class="carousel-inner">
            <div class="item" v-for="(banner,indx) in bannerImages" :class="{ 'active': parseInt(indx) == 0 }">
              <img :src="banner.Image" alt="banner image">
              <div class="banner-info">
                <div class="container">
                  <div class="row">
                    <div class="banner-text" v-if="banner.Name">
                      <h1>{{banner.Name}}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i
              class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs"
            href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
        
      </div>
      </div> -->

  </section>
  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/lodash.min.js?v=202105240000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/WTAD/ServiceJs/hotel.js?v=20210530000"></script>
</body>

</html>