<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>World Triathlon Abu Dhabi</title>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202105280000"> -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=202102170000"> -->
  <link href="/assets/css/intlTelInput.css?v=201904080000" rel="stylesheet" type="text/css" />

  <!-- <link href="css/media.css?v=202102170000" rel="stylesheet" type="text/css"> -->
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
  <link rel="stylesheet" href="css/custom-splash.css">
  <style>
    [v-cloak] {
      display: none;
    }
    .select-label {
        font-size: 15px !important;
        font-weight: 600 !important;
        text-transform: capitalize!important;
        padding-bottom: 10px !important;
    }
    .search-col-padding .input-group {
        display: block;
    }
    .detail-title {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        line-height: normal;
        display: inline-block;
        width: 100%;
    }
    .detail-title p {
        display: inline-block;
        font-size: 20px;
        color: #333;
        font-weight: 400;
        padding: 10px 0 0 10px;
    }
    .flx_package {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .simple_dropdown {
        width: 100%;
        background: #fff;
        height: 42px;
        border: 1px solid #ddd;
        position: relative;
        font-size: 14px;
        margin: 0px !important;
    }
    .traveller-detatail {
        padding: 20px;
        background: #fff;
        border: 1px solid #ddd;
        margin-bottom: 30px;
        vertical-align: middle;
    }
  </style>
</head>

<body>
  <!-- <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div> -->
  <div id="preloader">
    <div id="preloader-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div class="lds-circle"><div></div></div>
        <div id="preloader-title">Loading</div>
    </div>
  </div>
  <!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="planmytrip" v-cloak>
    <div>
      <div class="service_banner" style="background-image: url(images/innerbanner.png);">
        <div class="container">
          <h2>{{LabelSection.Banner_Label}}</h2>
        </div>
      </div>
      <div class="mainCont_area" id="bkng">
        <div class="container">
          <div class="tours_sec">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="traveller-detatail">
                  <div class="detail-title">
                    <p v-html="LabelSection.Trip_Header_Label"></p>
                  </div>
                  <div class="row">
                    <div class="travel-form" class="bdr-tp m-t-15">
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input v-model="hasFlight" type="checkbox" name="Checkbox" class="form-control" id="check_1">
                            <label for="check_1">{{LabelSection.Flights_Label}}</label>
                          </div>
                        </div>
                        <div v-show="hasFlight" class="plan-trip sub-form row no_padding_side">
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Departure_Airport}}</label>
                            <div class="input-group">
                              <input v-model="depAirport" id="dep-airport" :placeholder="LabelSection.Departure_Airport" class="form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Arrival_Airport}}</label>
                            <div class="input-group">
                              <input v-model="arrAirport" id="arr-airport" :placeholder="LabelSection.Arrival_Airport" class="form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Class_Of_Travel}}</label>
                            <select v-model="cabinValue" id="cabinValue" class="simple_dropdown sel_co_trvlr">
                              <option value="0">Economy</option>
                              <option value="1">Business</option>
                              <option value="2">First Class</option>
                            </select>
                          </div>
                          <div class="col-md-12 col-sm-12 search-col-padding">
                            <div style="margin:10px;"></div>
                          </div>
                          <div class="col-md-3 col-sm-3 search-col-padding">
                            <label>{{LabelSection.Arrival_Travel_Date_Label}}</label>
                            <div class="input-group">
                              <input id="flightfrom" readonly :placeholder="LabelSection.Arrival_Travel_Date_Label" class="calendar form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 search-col-padding">
                            <label>{{LabelSection.Departure_Travel_Date_Label}}</label>
                            <div class="input-group">
                              <input id="flightto" readonly :placeholder="LabelSection.Departure_Travel_Date_Label" class="calendar form-control textbox" type="text" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input @click="resetValues" v-model="hasAccomodation" type="checkbox" name="Checkbox" class="form-control" id="check_2">
                            <label for="check_2">{{LabelSection.Accommodation_Label}}</label>
                          </div>
                        </div>
                      </div>
                      <div v-show="hasAccomodation" class="col-md-12 col-sm-12">
                        <div class="plan-trip sub-form row no_padding_side">
                          <div class="col-md-12 col-sm-12">
                            <div class="plan-trip">
                              <div>
                                <input v-model="hasHotel" type="checkbox" name="Checkbox" class="form-control" id="check_7">
                                <label class="select-label" style="margin-top: 0 !important;" for="check_7">{{LabelSection.Hotel_Label}}</label>
                              </div>
                            </div>
                            <div v-show="hasHotel" class="plan-trip row" style="margin: 0 auto;">
                              <div class="col-md-3 col-sm-12 search-col-padding no_padding_side">
                                <label class="select-label">{{LabelSection.Hotel_Check_In_Date}}</label>
                                <div class="input-group">
                                  <input id="hotelin" readonly :placeholder="LabelSection.Hotel_Check_In_Date" class="calendar form-control textbox" type="text" />
                                </div>
                              </div>
                              <div class="col-md-3 col-sm-12 search-col-padding no_padding_side">
                                <label class="select-label">{{LabelSection.Hotel_Check_Out_Date}}</label>
                                <div class="input-group">
                                  <input id="hotelout" readonly :placeholder="LabelSection.Hotel_Check_Out_Date" class="calendar form-control textbox" type="text" />
                                </div>
                              </div>
                            </div>
                            <div class="plan-trip">
                              <div>
                                <input v-model="hasTent" type="checkbox" name="Checkbox" class="form-control" id="check_8">
                                <label class="select-label" for="check_8">{{LabelSection.Tent_Label}}</label>
                              </div>
                            </div>
                            <div v-show="hasTent" class="plan-trip row" style="margin: 0 auto;">
                              <div class="col-md-3 col-sm-12 search-col-padding no_padding_side">
                                <label class="select-label">{{LabelSection.Tent_Check_In_Date}}</label>
                                <div class="input-group">
                                  <input id="tentin" readonly :placeholder="LabelSection.Tent_Check_In_Date" class="calendar form-control textbox" type="text"/>
                                </div>
                              </div>
                              <div class="col-md-3 col-sm-12 search-col-padding no_padding_side">
                                <label class="select-label">{{LabelSection.Tent_Check_Out_Date}}</label>
                                <div class="input-group">
                                  <input id="tentout" readonly :placeholder="LabelSection.Tent_Check_Out_Date" class="calendar form-control textbox" type="text"/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input v-model="hasCarRental" type="checkbox" name="Checkbox" class="form-control" id="check_3">
                            <label for="check_3">{{LabelSection.Car_Rental_Label}}</label>
                          </div>
                        </div>
                        <div v-show="hasCarRental" class="plan-trip sub-form row no_padding_side">
                          <div class="col-md-3 col-sm-3 search-col-padding">
                            <label>{{LabelSection.Pick_Up_Date}}</label>
                            <div class="input-group">
                              <input id="rentalfrom" readonly :placeholder="LabelSection.Pick_Up_Date" class="calendar form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Pick_Up_Location}}</label>
                            <div class="input-group">
                              <input v-model="carRentalPickUp" id="carRentalPickUp" :placeholder="LabelSection.Pick_Up_Location" class="form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 search-col-padding">
                            <div style="margin:10px;"></div>
                          </div>
                          <div class="col-md-3 col-sm-3 search-col-padding">
                            <label>{{LabelSection.Return_Date}}</label>
                            <div class="input-group">
                              <input id="rentalto" readonly :placeholder="LabelSection.Return_Date" class="calendar form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Return_Location}}</label>
                            <div class="input-group">
                              <input v-model="carRentalReturn" id="carRentalReturn" :placeholder="LabelSection.Return_Location" class="form-control textbox" type="text" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input v-model="hasTransfers" type="checkbox" name="Checkbox" class="form-control" id="check_4">
                            <label for="check_4">{{LabelSection.Transfers_Label}}</label>
                          </div>
                        </div>
                        <div v-show="hasTransfers" class="plan-trip sub-form row no_padding_side">
                          <div class="col-md-3 col-sm-3 search-col-padding">
                            <label>{{LabelSection.Pick_Up_Date}}</label>
                            <div class="input-group">
                              <input id="transferfrom" readonly :placeholder="LabelSection.Pick_Up_Date" class="calendar form-control textbox" type="text" />
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Pick_Up_Location}}</label>
                            <div class="input-group">
                              <input v-model="transferPickUp" id="transferPickUp" :placeholder="LabelSection.Pick_Up_Location" class="form-control textbox" type="text" />
                            </div>
                          </div>
                          <!-- <div class="col-md-12 col-sm-12 search-col-padding">
                            <div style="margin:10px;"></div>
                          </div> -->
                          <!-- <div class="col-md-3 col-sm-3 search-col-padding">
                            <label>{{LabelSection.Return_Date}}</label>
                            <div class="input-group">
                              <input id="transferto" readonly :placeholder="LabelSection.Return_Date" class="calendar form-control textbox" type="text" />
                            </div>
                          </div> -->
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <label>{{LabelSection.Drop_Off_Location}}</label>
                            <div class="input-group">
                              <input v-model="transferDropOff" id="transferDropOff" :placeholder="LabelSection.Drop_Off_Location" class="form-control textbox" type="text" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input v-model="hasUAETour" type="checkbox" name="Checkbox" class="form-control" id="check_5">
                            <label for="check_5">{{LabelSection.UAE_Tour_Label}}</label>
                          </div>
                        </div>
                        <div v-show="hasUAETour" class="plan-trip sub-form row no_padding_side">
                          <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                              <label for="Message">{{LabelSection.Tour_Description}}</label>
                              <textarea v-model="UAETourDesc" class="form-control" rows="5" :placeholder="LabelSection.Tour_Description" maxlength="500"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input v-model="hasVisa" type="checkbox" name="Checkbox" class="form-control" id="check_6">
                            <label for="check_6">{{LabelSection.Visa_Label}}</label>
                          </div>
                        </div>
                        <div v-show="hasVisa" class="plan-trip sub-form row no_padding_side">
                          <div class="col-md-4 col-sm-4">
                            <label class="select-label">{{LabelSection.Nationality}}</label>
                            <select v-model="visaNationNality" class="simple_dropdown sel_co_trvlr">
                              <option value="" disabled>{{LabelSection.Nationality}}</option>
                              <option v-for="country in countryList" :key="country.twoLetter" :value="country.name">{{ country.name }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <div class="plan-trip">
                          <div>
                            <input v-model="hasTravelInsurance" readonly type="checkbox" name="Checkbox" class="form-control" id="check_9">
                            <label for="check_9" style="cursor: default;">{{LabelSection.Travel_Insurance}}&nbsp;&nbsp;<span><em style="color:red;">{{LabelSection.Mandatory_Insurance}}</em></span></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="traveller-detatail">
                  <div class="detail-title">
                    <p>{{LabelSection.Passengers}}</p>
                  </div>
                  <div class="travel-form" class="bdr-tp m-t-15">
                    <div class="row m-t-15">
                      <div class="col-md-2 col-sm-2">
                        <label class="select-label">{{LabelSection.Adult}}</label>
                        <select v-model="adult" class="simple_dropdown sel_co_trvlr">
                          <option value="" disabled>{{LabelSection.Adult}}</option>
                          <option v-for="adult in 10" :key="adult" :value="adult">{{ adult }}</option>
                        </select>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <label class="select-label">{{LabelSection.Child}}</label>
                        <select v-model="child" class="simple_dropdown sel_co_trvlr">
                          <option value="" disabled>{{LabelSection.Child}}</option>
                          <option v-for="adult in 10" :key="adult" :value="adult">{{ adult }}</option>
                        </select>
                      </div>
                      <div class="col-md-2 col-sm-2">
                        <label class="select-label">{{LabelSection.Infant}}</label>
                        <select v-model="infant" class="simple_dropdown sel_co_trvlr">
                          <option value="" disabled>{{LabelSection.Infant}}</option>
                          <option v-for="adult in 10" :key="adult" :value="adult">{{ adult }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="traveller-detatail">
                  <div class="detail-title">
                    <p>{{LabelSection.Contact_Details_Label}}</p>
                  </div>
                  <div class="travel-form" class="bdr-tp m-t-15">
                    <div class="row m-t-15">
                      <div class="col-md-12 col-sm-12">
                        <div class="row">
                        <div class="col-md-1 col-sm-12 col-xs-12">
                          <label class="select-label">{{LabelSection.Title_Label}}</label>
                          <select v-model="title" class="simple_dropdown sel_co_trvlr">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                          </select>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <label class="select-label">{{LabelSection.First_Name_Label}}</label>
                          <input v-model="firstName" type="text" id="'firstName'" name="'firstName'" :placeholder="LabelSection.First_Name_Label" class="form-control" />
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <label class="select-label">{{LabelSection.Last_Name_Label}}</label>
                          <input v-model="lastName" type="text" id="'lastName'" name="'lastName'" :placeholder="LabelSection.Last_Name_Label" class="form-control" />
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 col-sm-3">
                        <label class="select-label">{{LabelSection.Email_Label}}</label>
                        <input v-model="email" type="text" id="emailll" name="email" :placeholder="LabelSection.Email_Label" class="form-control" />
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <label class="select-label">{{LabelSection.Phone_Number_Label}}</label>
                        <input v-model="phone" id="phone" type="tel" :placeholder="LabelSection.Phone_Number_Label" class="form-control" />
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <label class="select-label">{{LabelSection.Country_Of_Residence_Label}}</label>
                        <select v-model="countryOfResidence" class="simple_dropdown sel_co_trvlr">
                          <option value="" disabled>{{LabelSection.Country_Of_Residence_Label}}</option>
                          <option v-for="country in countryList" :key="country.twoLetter" :value="country.name">{{ country.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                          <label for="Message">{{LabelSection.Traveller_Detail_Label}}</label>
                          <textarea v-model="message" class="form-control" rows="5" :placeholder="LabelSection.Traveller_Detail_Label" maxlength="500"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row sp_padding">
                      <div class="clearfix"></div>
                      <div class="col-md-12 col-sm-12 search-col-padding text-center">
                        <button class="btn-green3" v-on:click.prevent="sendPlanMyTrip" :disabled="isBooking">
                          <div v-if="isBooking">
                            Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span class="loader__dot">.</span>
                          </div>
                          <div v-else>{{LabelSection.Submit_Label}}</div>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-5 col-md-4 col-sm-12">
                <div class="summary-detail">
                  <h3>{{LabelSection.Why_Book_With_Us_Label}}</h3>
                  <div class="summary-departure m-t-15">
                    <p>{{LabelSection.Why_Book_With_Us_Text}}</p>
                  </div>
                </div>
                <div style="margin:30px;"></div>
                <div class="summary-detail">
                  <h3>{{LabelSection.Our_Team_Label}}</h3>
                  <div class="summary-departure m-t-15" v-html="LabelSection.Our_Team_Text">
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
  <script src="/assets/js/intlTelInput.js?v=201903150000"></script>

  <script src="/Flights/assets/js/Countries.js"></script>
  <script src="js/bootstrap.min.js?v=202102170000"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/bootstrap-fileselect.js?v=202102170000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/custom.js?v=202102170000"></script>
  <script src="ServiceJs/plan-my-trip.js?v=202100826000"></script>
</body>

</html>