<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>World Triathlon Abu Dhabi</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202105280000">
  <link rel="stylesheet" type="text/css" href="css/style.css?v=202105280000">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="../Hotels/HotelComponents/assets/css/hotel.css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="../assets/images/conf-loader.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>
  <section id="tentconfirmation" v-cloak>
    <div class="container ar_direction">
      <div class="confirmation">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <a class="logosec" href="#">
                    <img v-bind:src="logoUrl" alt />
                  </a>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-6 pull-right">
                  <div class="contact-info" v-if="phoneNumberAgency">
                    <a :href="'tel:'+telephonecode+phoneNumberAgency">
                      <svg x="0px" y="0px" viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;">
                        <path
                          d="M13.9,11.4C13.6,11.1,13.3,11,13,11c-0.3,0-0.7,0.1-0.9,0.4l-0.9,0.9c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1  c-0.8-0.5-1.5-1.2-2.2-2C8.1,9.6,7.9,9.2,7.7,8.8C8,8.6,8.2,8.4,8.4,8.2C8.5,8.1,8.5,8.1,8.6,8c0.6-0.6,0.6-1.3,0-1.9L7.9,5.4  C7.8,5.3,7.7,5.2,7.6,5.1C7.5,5,7.3,4.8,7.1,4.6C6.8,4.4,6.5,4.2,6.2,4.2c-0.3,0-0.6,0.1-0.9,0.4l0,0L4.4,5.6C4,5.9,3.8,6.3,3.8,6.8  c-0.1,0.8,0.2,1.5,0.3,2c0.4,1.2,1.1,2.3,2.1,3.4c1.2,1.4,2.6,2.5,4.2,3.3c0.6,0.3,1.5,0.6,2.4,0.7c0.1,0,0.1,0,0.2,0  c0.6,0,1.1-0.2,1.6-0.7c0,0,0,0,0,0c0.1-0.2,0.3-0.3,0.5-0.5c0.1-0.1,0.2-0.2,0.4-0.3c0.3-0.3,0.4-0.6,0.4-0.9  c0-0.3-0.1-0.7-0.4-0.9L13.9,11.4z M14.8,14.3C14.8,14.3,14.8,14.3,14.8,14.3c-0.1,0.1-0.2,0.2-0.3,0.3c-0.2,0.2-0.4,0.3-0.5,0.5  c-0.3,0.3-0.6,0.4-1,0.4c0,0-0.1,0-0.1,0c-0.8-0.1-1.5-0.4-2.1-0.6c-1.5-0.7-2.9-1.8-4-3.1c-0.9-1.1-1.5-2.1-1.9-3.2  C4.6,7.9,4.5,7.4,4.5,6.9c0-0.3,0.1-0.6,0.4-0.8l0.9-0.9C5.9,5,6.1,5,6.2,5c0.2,0,0.3,0.1,0.4,0.2l0,0c0.2,0.2,0.3,0.3,0.5,0.5  c0.1,0.1,0.2,0.2,0.3,0.3l0.7,0.7c0.3,0.3,0.3,0.6,0,0.8C8,7.5,7.9,7.6,7.9,7.7C7.6,7.9,7.4,8.1,7.2,8.4c0,0,0,0,0,0  C6.9,8.6,7,8.8,7,9l0,0c0.2,0.5,0.5,0.9,0.9,1.4l0,0c0.7,0.9,1.5,1.6,2.4,2.2c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0,0.2,0.1,0.3,0.1  c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.4-0.2l0.9-0.9c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2l1.5,1.5  C15.1,13.7,15.1,14,14.8,14.3L14.8,14.3z M14.8,14.3" />
                        <!-- </svg> +9712 441 8565 -->
                      </svg>
                      {{telephonecode+phoneNumberAgency}}
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="welcome">
                  <figure v-if="divHtlBkngSucces">
                    <img src="../assets/images/con-hotel.png" alt />
                  </figure>
                  <figure v-if="!divHtlBkngSucces">
                    <img src="../assets/images/con-hote-errorl.png" alt />
                  </figure>

                  <div class="content">
                    <h5>{{labels.Dear_Label}} {{tentDetails.personName}}</h5>
                    <h3 v-if="divHtlBkngSucces">{{labels.Successfull_Message}}</h3>
                    <h3 v-if="!divHtlBkngSucces">{{labels.Not_Successful_Message}}</h3>
                    <h4>
                      {{tentDetails.Booking_Reference_Number_Label}}:
                      <span>{{tentDetails.referenceNumber}}</span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="divHtlBkngSucces">
              <div class="col-md-12 confirmation-page-button">
                <div class="row">
                  <div class="col-md-12">
                    <div class="alert alert-info">
                      <span>{{labelsSection.Hotel_voucher_sent_label}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-if="!isLoading">
          <div class="col-md-12">
            <div class="hotel-dtl">
              <div class="detail-title">
                <p>{{labels.Tent_Details_Label}}</p>
              </div>
              <div class="inner">
                <div class="col-md-6">
                  <h5>
                    {{maincontent.Tent_Name}}&lrm;
                    <br />
                    <span v-show="maincontent.Tent_Rating" v-for="(item, index) in 5" :key="index"
                      :class="{checked : index < maincontent.Tent_Rating}" class="stars fa fa-star"></span>
                  </h5>
                  <div class="txt">
                    <span>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                    {{maincontent.Tent_Address}}
                  </div>
                </div>
                <div class="col-md-6 checkin-info">
                  <div class="col-md-6">
                    <div class="head">{{labels.Check_In_Label}}</div>
                    <div class="info" v-if="!isLoading">
                      <span class="text">{{dayFromDate(bookDetailsfromCMS.date1)}}</span>
                      <div class="date">{{formatDate(bookDetailsfromCMS.date1)}}</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="head">{{labels.CheckOut_Label}}</div>
                    <div class="info" v-if="!isLoading">
                      <span class="text">{{dayFromDate(bookDetailsfromCMS.date2)}}</span>
                      <div class="date">{{formatDate(bookDetailsfromCMS.date2)}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bkn-info">
                <table class="table text-center table-borderless">
                  <thead>
                    <tr class="text-center">
                      <th scope="col" class="text-center">{{labels.Tent_Number_Label}}</th>
                      <th scope="col" class="text-center">{{labels.Tent_Type_Label}}</th>
                      <th scope="col" class="text-center">{{labels.Guests_Label}}</th>
                      <th scope="col" class="text-center">{{labels.Guest_Name_Label}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(room,tentno) in paxDetails">
                      <td>{{labels.Tent_Label}} {{tentno+1}}</td>
                      <td>{{SelectedTents[tentno].Room_Type}}</td>
                      <td>{{guestCounts(room.length)}}</td>
                      <td>{{leadPax(room)}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class=" row" v-if="!isLoading">
          <div class="col-md-12">
            <div class="hotel-dtl">
              <div class="detail-title">
                <p>{{labels.Payment_Details}}</p>
              </div>
              <div class="fare-info baggage-info">
                <ul>
                  <li>
                    <p>
                      <!-- <strong> -->
                      {{labels.Total_Roomcharge_Label}}
                      <!-- </strong> -->
                    </p>
                    <span>
                      <strong>
                        {{$n((tentDetails.amount/CurrencyMultiplier), 'currency', selectedCurrency)}}
                      </strong>
                    </span>
                  </li>
                  <!-- <li>
                    <p>{{'TAXAED '}}</p>
                    <span>{{ '$100' }}</span>
                  </li> -->
                  <!-- <li>
                    <p>
                      <strong>{{'Total incl. TAX'}}</strong>
                    </p>
                    <span>
                      <strong>{{ '$200' }}</strong>
                    </span>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m-b-20">
            <div class="traveller-detatail bdr-nn">
              <div class="detail-title b-b-n">
                <p>{{labels.Customer_Support_Label}}</p>
              </div>
              <div class="customer-support bdr b-b-n">
                <ul>
                  <li>
                    <div class="inr">
                      <div class="head grey-bg">
                        {{labels.Address_Label}}
                      </div>
                      <span class="text m-t-10" id="address">{{user.loginNode.address}}</span>
                    </div>
                  </li>
                  <li>
                    <div class="inr">
                      <div class="head grey-bg">
                        {{labels.Phone_Label}}
                      </div>
                      <span class="text m-t-10" v-if="user.loginNode.phoneList[1].number"><a
                          :href=" 'tel:+'+ user.loginNode.country.telephonecode+user.loginNode.phoneList[1].number "
                          id="phoneNo">{{user.loginNode.phoneList[1].number ? ('+' + user.loginNode.country.telephonecode + user.loginNode.phoneList[1].number) : ""}}</a></span>
                      <span class="text m-t-10" v-else><a href="" id="phoneNo">{{'N/A'}}</a></span>
                    </div>
                  </li>
                  <li>
                    <div class="inr">
                      <div class="head grey-bg">
                        {{labels.Email_Label}}
                      </div>
                      <span class="text m-t-10"><a :href="'mailto:' +user.loginNode.email "
                          id="email">{{user.loginNode.email}}</a></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/WTAD/ServiceJs/tentconfirmation.js"></script>
</body>

</html>