<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>World Triathlon Abu Dhabi</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202105280000">
  <link rel="stylesheet" type="text/css" href="css/style.css?v=202105280000">
  <link href="css/media.css" rel="stylesheet" type="text/css">
  <!-- <link rel="stylesheet" type="text/css" href="../Hotels/HotelComponents/assets/css/hotel.css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="../assets/images/conf-loader.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>
  <section id="transferconfirmation" v-cloak>
    <div class="container ar_direction">
      <div class="confirmation">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            
            <div class="row">
              <div class="col-md-12">
                <div class="welcome">
                  <figure v-if="divHtlBkngSucces">
                    <img src="../assets/images/con-hotel.png" alt />
                  </figure>
                  <figure v-if="divHtlBkngFailed || divHtlBkngCancel">
                    <img src="../assets/images/con-hote-errorl.png" alt />
                  </figure>

                  <div class="content">
                    <h5>{{labels.Dear_Label}} {{bookDetailsfromCMS.text23}}</h5>
                    <h3 v-if="divHtlBkngSucces">{{labels.Successful_Content}}</h3>
                    <h3 v-if="divHtlBkngFailed">{{labels.Not_successful_Content}}</h3>
                    <h3 v-if="divHtlBkngCancel">{{labels.Cancel_Content}}</h3>
                    <h4>
                      {{labels.Booking_Reference_Number_Label}}:
                      <span>{{bookDetailsfromCMS.keyword12}}</span>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" v-if="divHtlBkngSucces">
              <div class="col-md-12 confirmation-page-button">
                <div class="row">
                  <div class="col-md-12">
                    <div class="alert alert-info">
                      <span>{{labels.Transfer_Voucher_Alert_Info}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" v-if="!isLoading">
          <div class="col-md-12">
            <div class="hotel-dtl">
              <div class="detail-title">
                <p>{{labels.Transfer_Details_Label}}</p>
              </div>
              <div class="inner">
                <div class="col-md-6">
                  <h5>
                    {{bookDetailsfromCMS.text15}}&lrm;
                    <br />
                  </h5>
                  <div class="txt">
                    <strong>{{bookDetailsfromCMS.text10}}</strong> to  <strong>{{bookDetailsfromCMS.text11}}</strong>
                  </div>
                </div>
                <div class="col-md-6 checkin-info">
                  <div class="col-md-6">
                    <div class="head">{{labels.Pick_Up_Date_}}</div>
                    <div class="info">
                      <div class="date">
                        <strong>
                      {{bookDetailsfromCMS.text12}} @ {{bookDetailsfromCMS.text14}}
                      </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" v-if="bookDetailsfromCMS.text13 != 'NA'">
                    <div class="head">{{labels.Return}}</div>
                    <div class="info">
                      <div class="date">
                        <strong>
                      {{bookDetailsfromCMS.text13}}
                      </strong>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="head">{{labels.Total_Amount}}</div>
                    <div class="info" v-if="!isLoading">
                      <div class="date">
                        <strong>
                          {{$n((bookDetailsfromCMS.amount1/CurrencyMultiplier), 'currency', selectedCurrency)}}
                        </strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 m-b-20">
            <div class="traveller-detatail bdr-nn">
              <div class="detail-title b-b-n">
                <p>{{labels.Customer_Support_Label}}</p>
              </div>
              <div class="customer-support bdr b-b-n">
                <ul>
                  <li style="width: 50%;">
                    <div class="inr">
                      <div class="head grey-bg">
                        {{labels.Address_Label}}
                      </div>
                      <span class="text m-t-10" id="address">{{user.loginNode.address}}</span>
                    </div>
                  </li>
                  <li style="width: 50%;">
                    <div class="inr">
                      <div class="head grey-bg">
                        {{labels.Email_Label}}
                      </div>
                      <span class="text m-t-10"><a :href="'mailto:' +user.loginNode.email "
                          id="email">{{user.loginNode.email}}</a></span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/WTAD/ServiceJs/transferconfirmation.js?v=20220330000"></script>
</body>

</html>