﻿<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Triathlon Abu Dhabi</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202105280000">

    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="transfer-booking" v-cloak>
        <div class="service_banner">
            <div class="container">
                <h2>{{banner.Title}}</h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="transfer_booking">
                    <h3><span>1</span>{{labels.Transfer_Details_Label}}</h3>
                    <div class="transfer_book_sec">
                        <div class="img_sectransfer">
                            <div class="img_transfer"><img :src="Transfer.Vehicle_Image" alt="transferimg"></div>
                            <h4>{{Transfer.Vehicle_Name}}</h4>
                            <table cellpading="0" cellspacing="0" border="0">
                                <tbody>
                                    <tr>
                                        <td style="width: 48%">{{labels.Destination_From_Label}}</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;">{{Transfer.Destination_From}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 48%">{{labels.Destination_To_Label}}</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;">{{Transfer.Destination_To}}</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 48%">{{labels.Trip_Type_Label}}</td>
                                        <td style="width: 10px;">:</td>
                                        <td style="width: 50%;" v-if="searchCriteria.rdate == undefined || searchCriteria.rdate ==''">{{labels.One_way_Label}}</td>
                                        <td style="width: 50%;" v-else>{{labels.Return_Included_Label}}</td>

                                    </tr>
                                    <tr>
                                        <td>{{labels.Number_Of_Passengers_Label}} </td>
                                        <td>:</td>
                                        <td>{{Transfer.Max_Number_of_Passengers}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{labels.Guest_Label}}</td>
                                        <td>:</td>
                                        <td>{{searchCriteria.guest}}</td>
                                    </tr>
                                    <!-- <tr>
                                        <td>{{labels.Extra_Hour_Label}}</td>
                                        <td>:</td>
                                        <td>
                                            <span>
                                                {{$n((Transfer.Extra_Hour_Rate/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                            </span></td>
                                    </tr> -->
                                    <!-- <tr>
                                        <td>{{labels.Full_Day_Rent_Label}}</td>
                                        <td>:</td>
                                        <td>
                                            <span>
                                                {{$n((Transfer.Full_Day_Rent/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                            </span></td>
                                    </tr> -->
                                </tbody>
                            </table>
                            <h4>{{labels.Description_Label}}</h4>
                            <p>{{labels.Traveler_Details_Description}}</p>
                            <h4>{{labels.Cancellation_Policy_Title}}</h4>
                            <p>{{labels.Cancellation_Policy}}</p>
                        </div>
                        <div class="bookright_area">
                            <div class="available_sec" v-if="Transfer.Availability_Status"><i
                                    class="fa fa-check-circle"></i>{{labels.Available_Label}}</div>
                            <div class="notavailable_sec" v-else><i class="fa fa-times-circle"></i>NOT AVAILABLE</div>
                            <div class="book_price">
                                <span v-if="searchCriteria.rdate == 'undefined' || searchCriteria.rdate ==''">
                                    {{$n((Transfer.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                </span>
                                <span v-else>
                                    {{$n(((Transfer.Price * 2)/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                </span>

                            </div>
                        </div>

                    </div>
                    <h3><span>2</span>{{labels.Travelers_Details_Label_}}</h3>
                    <!-- Booking Details -->
                    <div class="transfer_book_sec">
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="travel-form m-t-15">
                                    <!-- <div class="travel-form">
                                        <h6>{{pax.type}}</h6>
                                    </div> -->
                                    <!-- <div class="col-md-2 col-sm-4" v-cloak>
                                        <label class="select-label">Title</label>
                                        <select class="simple_dropdown sel_co_trvlr">
                                            <option value="Mr">Mr</option>
                                            <option value="Mrs">Mrs</option>
                                            <option value="Ms">Ms</option>
                                        </select>
                                    </div> -->
                                    <div class="flx_package">
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">{{labels.First_Name_Placeholder_}}</label>
                                            <input type="text" :placeholder="labels.First_Name_Placeholder_"
                                                v-model="travellerInfo.firstName" class="form-control" />
                                            <!-- <span class="text-danger">{{ errors.first('firstName'+rIndex+pIndex) }}</span> -->
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">{{labels.Last_Name_Placeholder}}</label>
                                            <input type="text" :placeholder="labels.Last_Name_Placeholder"
                                                v-model="travellerInfo.lastName" class="form-control" />
                                            <!-- <span class="text-danger">{{ errors.first('lastName'+rIndex+pIndex) }}</span> -->
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">{{labels.Email_Placeholder}}</label>
                                            <input type="text" id="emailll" name="email" :placeholder="labels.Email_Placeholder"
                                                v-model="travellerInfo.email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="flx_package">
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">{{labels.Contact_Number_Placeholder}}</label>
                                            <input type="text" :placeholder="labels.Contact_Number_Placeholder"
                                                v-model="travellerInfo.contactNumber" class="form-control" />
                                            <!-- <span class="text-danger">{{ errors.first('firstName'+rIndex+pIndex) }}</span> -->
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">Flight Number</label>
                                            <input type="text" placeholder="Flight Number"
                                                v-model="travellerInfo.flightNumber" class="form-control" />
                                            <!-- <span class="text-danger">{{ errors.first('lastName'+rIndex+pIndex) }}</span> -->
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">Flight Date & Time</label>
                                            <input type="text" name="email" placeholder="ex. 03/24/2022 10AM"
                                                v-model="travellerInfo.flightDateTime" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="flx_package ">
                                        <div class="col-md-4 col-sm-4">
                                            <label class="select-label">Departure/Arrival Airport</label>
                                            <input type="text" placeholder="Departure/Arrival Airport"
                                                v-model="travellerInfo.airport" class="form-control" />
                                            <!-- <span class="text-danger">{{ errors.first('firstName'+rIndex+pIndex) }}</span> -->
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label class="select-label">Hotel Name</label>
                                            <select v-model="travellerInfo.hotelName" id="departurePlace" class="simple_dropdown sel_co_trvlr">
                                                <option value="NA" disabled selected>Hotel Name</option>
                                                <option value="Shangri-La Abu Dhabi">Shangri-La Abu Dhabi</option>
                                                <option value="Hilton Yas Island">Hilton Yas Island</option>
                                                <option value="W Hotel - Yas Island">W Hotel - Yas Island</option>
                                                <option value="Park Rotana">Park Rotana</option>
                                                <option value="Warner Bros - Yas Island">Warner Bros - Yas Island</option>
                                                <option value="Crowne Plaza Yas Island">Crowne Plaza Yas Island</option>
                                                <option value="Radisson Blu Yas Island">Radisson Blu Yas Island</option>
                                                <option value="Rotana Yas Island">Rotana Yas Island</option>
                                                <option value="Traders Abu Dhabi">Traders Abu Dhabi</option>
                                                <option value="Novotel Gate">Novotel Gate</option>
                                                <option value="Novotel Abu Dhabi Al Bustan">Novotel Abu Dhabi Al Bustan</option>
                                                <option value="DoubleTree - Yas Island">DoubleTree - Yas Island</option>
                                                <option value="Park In Yas Island">Park In Yas Island</option>
                                                <option value="Centro Yas Island">Centro Yas Island</option>
                                                <option value="Ibis Gate">Ibis Gate</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="flx_package ">
                                    <div class="condition_checkbox">
                                        <label class="checkbook">{{labels.Accept_Content}}<input type="checkbox"
                                                checked="checked" v-model="checked"><span class="checkmark6"></span></label>
                                    </div>
                                </div>
                                    <div class="travel-form m-t-15 ">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pd-right">
                                            <button class="modify_srch_btn" :style="isBooking?'pointer-events:none':''"
                                                v-on:click="bookingDeatils">{{isBooking ? labels.Processing_Label :labels.Booking_Label}}</button>
                                            </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
    <div id="payformbind"></div>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/pgWay.js?v=202106012000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/WTAD/ServiceJs/transfer-booking.js?v=20220404000"></script>

</body>

</html>