﻿<template>
    <div id="flt-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="col-lg-6">
                        From
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-lg-6">
                        To
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="flt-top">
                        <img src="/assets/images/hotel-img2.jpg" class="img-responsive" alt="" />
                        <div class="flt-dtl">
                            <h3>The Oberoi Dubai Hotel</h3>
                            <div class="stars stars5"><span>4.5</span></div>
                            <div class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> Business Bay, 71847 Dubai, United Arab Emirates</div>
                        </div>
                        <div class="flt-dtl2">
                            <div class="price"><span>AED</span> 4,937</div>
                            <p class="onofnights">2 Adults, 1 Night</p>
                            <a href="#select-room" class="select-room">Select Room</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>