<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms of Use</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css?v=202009080000">
    <link href="css/media.css" rel="stylesheet" type="text/css">
    <link href="css/signin.css" rel="stylesheet" type="text/css">
    <link href="css/package.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="carouselowl/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="https://codepen.io/VadimMalykhin/pen/QajOaj">
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
    <link href="/assets/css/animate.min.css?v=202008130000" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css" href="/assets/css/flag.css">
    <link rel='stylesheet' href='/assets/css/vue-loading.css?v=202007070000'>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body id="home">
    <header>
        <headeritem></headeritem>
    </header>
    <section class="customer-profile popular_sec sp_padding" id="terms" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
        </div>
            <div class="inner-banners" :style="{ background: 'url(' +pagebanner.Banner_Image+ ')'}">
                    <div class="container">
                        <h1>{{pagebanner.Banner_Title}}</h1>
                        <p><a href="/">{{pagebanner.Breadcrumb1}} ></a>{{pagebanner.Breadcrumb2}}</p>
                    </div>
                </div>
       

                <div class="inner_faq ar_direction" v-for="item in pagecontents.Terms_of_Use">
                    <div class="container">
                        <h4>{{item.Heading}}</h4>
                        <p class="dark" v-html="item.Content"></p>
                    </div>
                </div>


       
    </section>
    <footer>
        <footeritem></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="js/jquery.leanModal.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/A2Z_India/demo-page/js/detect.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/select2.min.js"></script>
    <script src="carouselowl/js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/pack.js"></script>
    <script src="/A2Z_India/demo-page/servicejs/termsofuse.js"></script>
</body>

</html>