<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Telecommunications and Digital Government Regulatory Authority</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.css?v=201905150000">
  <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link href="css/fotorama.css" rel="stylesheet">
  <link rel="stylesheet" href="css/custom-splash.css">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <!-- <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div> -->
        <!-- PRELOADER -->
<div id="preloader">
  <div id="preloader-status">
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      <div class="lds-circle"><div></div></div>
      <div id="preloader-title">Loading</div>
  </div>
</div>
<!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="indexmain" v-cloak>
    <div class="hm_main">
      <div class="hotel_detailsImg">
        <div style="position: relative;">
            <div class="fotorama" data-autoplay="true" data-autoplay="3000" data-loop="true" data-fit="cover" data-width="100%">
                <img v-for="image in 5" :key="image" :src="'images/wtad'+image+'.jpg'" :alt="image" />
            </div>
        </div>
      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>
  <script src="js/fotorama.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=202008180000"></script>
  <script src="/TDRA/master/js/index.js?v=20210825000"></script>
</body>

</html>