﻿<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Telecommunications and Digital Government Regulatory Authority</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css"> -->
  <link href="css/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="Packagedetails" v-cloak>
    <div class="service_banner" style="background-image: url(images/innerbanner.png);">
      <div class="container">
        <h2>{{headerArea.Title}}</h2>
      </div>
    </div>
    <section class="mainCont_area">

      <div class="main_tour_sec">
        <div class="container">
          <div class="col-lg-9 col-md-8">
            <div class="tour_tabs">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">{{MainData.Information_Label}}</a></li>
                <li><a href="#tab2" data-toggle="tab">{{MainData.Inclusions_Label}} </a></li>
                <li><a href="#tab3" data-toggle="tab">{{MainData.Terms_And_Conditions_Label}}</a></li>
                <li><a href="#tab4" data-toggle="tab">{{MainData.Gallery_Label}}</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">{{MainData.Information_Label}}</a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <div class="tourpackageimg">
                          <img :src="maincontent.Image" alt="package">
                          <h4>
                            {{$n((grandtotal/CurrencyMultiplier), 'currency', selectedCurrency)}}
                          </h4>
                        </div>
                        <h3>{{maincontent.Title}}</h3>
                        <h5>{{maincontent.Hours}} {{MainData.Hours_Label}} / {{maincontent.Minutes}}{{MainData.Minutes_Label}}</h5>
                        <p v-html="maincontent.Description"></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseTwo">{{MainData.Inclusions_Label}}</a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body" v-html="Inclusions.Inclusion">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab3">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseThree">{{MainData.Terms_And_Conditions_Label}}</a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body" v-html="Terms.Term">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="tab4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseThree">{{MainData.Gallery_Label}}</a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <div class="tour_gallery">
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 gallery" v-for="image in Gallery.Images">
                              <a :href="image.Image" data-fancybox="images" data-caption="My caption">
                                <img :src="image.Image" alt="gallery">
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="tour_book">
              <h3>{{MainData.Tour_Booking_Title}}</h3>
              <div class="bookform">
                <input type="text" class="booktxt" :placeholder="MainData.Name_Placeholder" v-model="name">
                <input type="text" class="booktxt" :placeholder="MainData.Email_Placeholder" v-model="email">
                <input type="text" class="booktxt" :placeholder="MainData.Phone_Placeholder" v-model="phone">
                <div class="cmnsec">
                  <input type="text" class="booktxt" :placeholder="MainData.Booking_Date_Placeholder" id="from" autocomplete="off"
                    v-model="searchCriteria.date" />
                </div>
                <select class="booktxt" id="adult" v-model="searchCriteria.adult" v-on:change="calc()">
                  <option value="1">1 {{MainData.Adult_Label}}</option>
                  <option value="2">2 {{MainData.Adults_Label}}</option>
                  <option value="3">3 {{MainData.Adults_Label}}</option>
                  <option value="4">4 {{MainData.Adults_Label}}</option>
                  <option value="5">5 {{MainData.Adults_Label}}</option>
                  <option value="6">6 {{MainData.Adults_Label}}</option>
                </select>
                <select class="booktxt" id="childdropdown" v-model="child" v-on:change="calc()">
                  <option value="0" selected="selected">0 {{MainData.Child_Label}}</option>
                  <option value="1">1 {{MainData.Child_Label}}</option>
                  <option value="2">2 {{MainData.Child_Label}}</option>
                  <option value="3">3 {{MainData.Child_Label}}</option>
                </select>
                <textarea class="booktxt01" :placeholder="MainData.Message_Placeholder" v-model="message"></textarea>
                <input type="button" class="bookbtn" :value="isBooking? MainData.Processing_Label:MainData.Book_Now_Button_Label"
                  v-on:click="sendbooking" :style="isBooking?'pointer-events:none':''">

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>

  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
  <script src="ServiceJs/tour-details.js?v=202105272258"></script>

  <script type="text/javascript">
    $('[data-fancybox]').fancybox({
      protect: true,
      buttons: [
        'zoom',
        'thumbs',
        'close'
      ]
    });


    $('[data-fancybox="watermark"]').fancybox({
      protect: true,
      slideClass: 'watermark',
      toolbar: false,
      smallBtn: true
    });

    // Preload watermark image
    // Please, use your own image
    (new Image()).src = "http://fancyapps.com/GJbkSPU.png";
  </script>
</body>

</html>