
@media screen and (max-width: 767px) {

.main_banner {
	margin: -68px 0 0;
	min-height: 300px;
	background-position: top right !important;
}
.termsofuse{
	padding-bottom: 10px;
}
#intro_section figure {
	margin: 50px auto 0;
}
#mn-ser-sec .mn-ser-box {
	background: transparent;
	border-bottom: 1px solid #012e81;
	margin-top: 30px;
}

.search-section .form-control, .calendar {
	border-right: none !important;
	box-shadow: none !important;
}
.search-section .form-control {
	border-bottom: 1px solid  #012e81 !important;
}
.calendar {
	border-bottom: 1px solid  #012e81 !important;
}
.search-col-padding .input-group {
	display: inline-block;
	width: 100%;
}
.change-date::after {
	width: 100%;
	left: 0;
	text-align: center;
	right: 0;
	top: 38px;
}
.change-destination::after {
	right: 0;
	top: 38px;
	left: 0;
	text-align: center;
}
#intro_section h2, .title h2 {
	font-size: 40px;
	padding-bottom: 0;
}
#intro_section h3 {
	font-size: 20px;
	line-height: normal;
}
section {
	padding: 50px 0;
}
/* About Us Page CSS BOF
=================================================== */
.inner_banner {
    margin: -68px 0 0;
}
.inner_banner .banner_text h1 {
    font-size: 40px;
}
#mission_vision .msn-vsn {
    margin: 15px 0;
}
/* Contact Us Page CSS BOF
=================================================== */
.contact_form {
    padding: 15px 20px 35px;
}
}
@media (min-width: 768px) and (max-width: 990px) {
.contact-info {
	padding: 15px 0 15px 140px;
	float: left;
}
.contact-info div {
	margin-left: 23px;
}
.contact-info div i {
	font-size: 16px;
}
.contact-info div a {
	font-size: 12px;
}

.main_banner h1 {
	width: 100%;
	font-size: 100px;
	margin-top: 50px;
	line-height: 70px;
}
.main_banner h1 span {
	font-size: 40px;
}
.main_banner {
	margin: -50px 0 0;
	min-height: 400px;
}
#intro_section figure {
	margin: 50px auto 0;
	width: 500px;
}

.search-section .form-control {
	border-bottom: 1px solid  #012e81;
}
.calendar {
	border-bottom: 1px solid  #012e81 !important;
}

/* About Us Page CSS BOF
=================================================== */
.inner_banner {
    margin: -50px 0 0;
}
}
@media (min-width: 991px) and (max-width: 1024px) {

.main_banner {
	min-height: 610px;
}
.main_banner h1 {
	width: 100%;
}

}
@media (min-width: 1025px) and (max-width: 1400px) {
.main_banner {
	min-height: 610px;
}
}
@media screen and (max-width: 500px) {
.travelerSelectWindow{
	width: 100%;
}
}
@media screen and (max-width: 768px) {
	.booking-form {
		margin-top: 95px;
	}
}
@media (min-width: 768px) and (max-width: 1200px) {
	.main_banner h1{
		margin-bottom: 150px;
	}
}