@font-face {
	font-family: 'Brush Script MT';
	src: url('../fonts/BrushScriptMT.eot');
	src: url('../fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'), url('../fonts/BrushScriptMT.woff2') format('woff2'), url('../fonts/BrushScriptMT.woff') format('woff'), url('../fonts/BrushScriptMT.ttf') format('truetype'), url('../fonts/BrushScriptMT.svg#BrushScriptMT') format('svg');
	font-weight: normal;
	font-style: italic;
}
/* 01 : Website Global CSS BOF
========================================================== */
body {
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0px;
	padding: 0px;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	line-height: normal;
	outline: none;
} /*Same class available in Boostrap (.img-responsive)*/
iframe {
	border: medium none;
	outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #393939;
}
::-moz-placeholder { /* Firefox 19+ */
 color: #393939;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #393939;
}
:-moz-placeholder { /* Firefox 18- */
 color: #393939;
}
/* 02 : Heading Style CSS BOF
=================================================== */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-weight: normal;
}
/* 03 : Paragraph Style CSS BOF
=================================================== */
p {
	padding: 0px;
	margin: 0;
	font-size: 16px;
	color: #262626;
	font-weight: 400;
	line-height: 26px;
}
section {
	padding: 80px 0;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-60 {
	margin-top: 60px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-t-120 {
	margin-top: 120px !important;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-0 {
	padding-bottom: 0;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/* Top CSS BOF
=================================================== */

/*=====  Banner CSS BOF  ======*/
.main_banner {
	min-height:10px;
	background-size: cover !important;
	background-position: top center !important;
	margin: -86px 0 0;
	position: relative;
}
.main_banner h1 {
	color: #012e81;
    font-size: 85px;
    margin-top: 60px;
    font-family: 'Brush Script MT';
    font-weight: normal;
    font-style: italic;
    line-height: 64px;
    text-align: center;
	width: 100%;
	margin-bottom: 300px;
}
.main_banner h1 span {
	font-family: 'Roboto', sans-serif;
    color: #012e81;
    font-size: 30px;
    text-align: center;
    font-style: normal;
}
/*================Booking-Form-Css================*/
.shadow {
	-webkit-box-shadow: 0px 0px 28px 0 rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 28px 0 rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0  rgba(0,0,0,0.4);
	display: inline-block;
	width: 100%;
}

.booking-form input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
 color: #012e81;
}
 .booking-form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #012e81;
}
 .booking-form input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
 color: #012e81;
}
.search-section .radio label::before{
	display: none;
}
.search-section .radio label::after{
	display: none;
}
.search-section .radio-success input[type="radio"]:checked + label {
    color: #ffffff !important;
}
.booking-form {
	background: rgba(0, 0, 0, 0.79);
	padding: 0;
	width: 100%;
	-webkit-box-shadow: 0 0px 28px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0px 28px 5px rgba(0,0,0,0.4);
	box-shadow: 0 0px 28px 5px rgba(0,0,0,0.4);
}
.search-section {
	margin-top: -74px;
	padding: 0 0 20px;
	display: inline-block;
	width: 100%;
}
.tab-field {
	padding: 0;
}
.search-section .nav-tabs {
	border-bottom: none;
	text-align: center;
}
.search-section .nav-tabs > li {
	float: none;
	text-align: center;
	display: inline-block;
	padding: 0;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs > li > a {
	color: #012e81;
	background-color: #d9f1f8;
	font-weight: 700;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
}
.search-section .nav > li > a {
	padding: 18px 30px;
	font-size: 18px;
	color: #012e81;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	display: block;
	line-height: 38px;
}
.service-icon svg {
	fill: #012e81;
	margin: 0 10px 0 0;
	width: 35px;
	height: 35px;
	float: left;
}
.search-section .nav-tabs > li.active svg {
	fill: #aee4fc;
}
.search-section .nav-tabs > li.active > a, .search-section .nav-tabs > li.active > a:focus, .search-section .nav-tabs > li.active > a:hover {
	border: none;
	background: #012e81;
	color: #aee4fc;
}
.search-section .tab-content {
	color: #07253f;
	padding-top: 30px;
}
.search-col-padding .input-group {
	display: block;
}
.search-section label {
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	line-height: 16px;
}
.flightauto{
	position: relative;
}
.flightauto i{
	position: absolute;
    top: 14px;
    right: -12px;
    z-index: 9;
}
.search-section .flightauto input,.search-section .dwnSec {
	background-color: transparent;
	border: none;
	border-right: 1px solid #012e81;
	border-radius: 0px !important;
	color: #012e81 !important;
	display: block;
	font-size: 14px;
	height: 54px;
	line-height: 1.42857;
	padding: 0 0 0 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	margin: 0;
	position: relative;
	font-weight: 500;
}
.search-section .plane-icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}
 .search-section .form-control::-moz-placeholder {
 color: #b4b4b4;
 opacity: 1;
}
 .search-section .form-control:-ms-input-placeholder {
 color: #b4b4b4;
}
 .search-section .form-control::-webkit-input-placeholder {
 color: #b4b4b4;
}
 .search-section .form-control::-o-input-placeholder {
 color: #b4b4b4;
}
.search-section .input-group-addon {
	background: transparent;
	color: #BEC4C8;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}
.search-section .search-col-padding {
	padding: 0;
	background: #d9f1f8;
}
.search-section option {
	color: #07253F;
}
.calendar {
	background: #d9f1f8;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 20px;
	font-size: 14px;
	font-weight: 500;
	color: #012e81;
	height: 54px;
	border: none;
	border-right: 1px solid #012e81;
	width: 100%;
}
.calendar ::placeholder {
 color:#012e81!important;
}
.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
	display: none;
}
.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #012e81;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 16px;
}
.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}
.ui-datepicker-prev::after {
	transform: rotate(45deg);
	margin: -45px 0px 0px 6px;
}
.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}
.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -45px 0px 0px 4px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	border-color: #d9f1f8;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #012e81;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.ui-state-default {
	display: block;
	text-decoration: none;
	color: #012e81;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
}
.ui-state-default:hover {
	background: #012e81;
	color: #fff;
	text-decoration: none;
}
.ui-state-highlight {
	color: #fff;
	background: #012e81;
}
.ui-state-active {
	background: #6dbade none repeat scroll 0 0;
	border-radius: 0%;
	color: #fff !important;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}
.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #ababab;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}
.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn:hover {
	color: #da434a;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #012e81;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 5px;
	border: none;
	text-transform: uppercase;
	width: 100%;
	border-radius: 0;
	height: 54px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search-col-padding input[type="radio"] {
	margin-top: 2px;
}
.search-col-padding .active {
	color: #fff;
}
.trip-button {
	margin-top: 10px !important;
}
.search-button:hover, .search-button:focus, .search-button:active {
	color: #fff;
	text-decoration: none;
	background: #1a79db;
}
#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}
/*-----Select Box CSS-----*/
.bootstrap-select {
	width: 220px;
}
.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}
.bootstrap-select.fit-width {
	width: auto!important
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}
.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}
.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}
.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}
.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}
.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}
.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}
.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
	padding: 4px 8px
}
.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-actionsbox .btn-group button {
	width: 50%
}
.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-donebutton .btn-group button {
	width: 100%
}
.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}
.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}
select.bs-select-hidden, select.selectpicker {
	display: none!important
}
select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}
#flight form .input-group {
	display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #676767 !important;
	/* text color */
	line-height: 34px;
	background: #fff;
	border-radius: 0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	color: #646060;
}
.search-section .form-control::-moz-placeholder {
 color: #b4b4b4;
 opacity: 1;
}
.search-section .form-control::-ms-input-placeholder {
 color: #b4b4b4;
}
.search-section .form-control::-webkit-input-placeholder {
 color: #b4b4b4;
}
.search-section .form-control::-o-input-placeholder {
 color: #b4b4b4;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 17px;
	width: 40px;
	text-align: center;
	line-height: 30px;
}
.select2-container--default .select2-selection--single {
	background-color: #fff;
	/* input background color */
	border: none;
	border-radius: 0px;
	height: 68px !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #96a9bf;
	/* option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #96a9bf;/* option hover background */
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #ababab;
	padding: 7px;
	font-size: 20px;
}
.select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}
.select2-dropdown {
	border-color: #6e8095;
}
.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}
.select-label {
	font-size: 15px !important;
	font-weight: 600 !important;
	text-transform: capitalize!important;
	padding-bottom: 10px;
}
.change-destination::after {
	content: url(../images/exchange-icon.png);
	position: absolute;
	right: -14px;
	top: 15px;
	z-index: 1;
}
.change-date::after {
	content: url(../images/exchange-date.png);
	position: absolute;
	right: -14px;
	top: 15px;
	z-index: 1;
}
.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 4px;
	width: 40px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
.booking-form1 .form-group2 .select2-container .select2-selection--single, .booking-form1 .form-group .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
}
.booking-form1 .form-group2 .select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #fff;
	padding: 7px;
	font-size: 15px;
}
/* Travellers CSS BOF ===================================================*/ 
.travellersDropdown {
	position: relative;
}
.custom-select-v3 {
	position: relative;
	cursor: pointer;
}
.custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 14px;
	color: #012e81;
	display: block;
	font-size: 16px;
	height: 42px;
	line-height: 28px;
	margin-right: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 6;
	font-weight: 700;
	content: "\f107";
	font-family: 'FontAwesome';
}
.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 9px;
	z-index: 1;
}
.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	pointer-events: none;
}
.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
	background-color: transparent !important;
}
.custom-select-v3 select, .form-control {
	background-color: transparent;
    border: none;
    border-right: 1px solid #012e81;
    border-radius: 0px !important;
    color: #012e81 !important;
    display: block;
    font-size: 14px;
    height: 54px;
    line-height: 1.42857;
    padding: 0 10px 0 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin: 0;
    position: relative;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-col-padding:last-child .form-control{
	border-right:none;
}
.travelerSelectWindow {
	width: 330px;
	position: absolute;
	top: 54px;
	right: 0;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 3;
	display: none;
}
.travelerSelectWindow.active {
	display: block;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow fieldset {
	padding: 0 13px 15px 0;
}
fieldset {
	min-width: 0;
	margin: 0;
}
.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: left;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
	max-width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 29%;
    font-size: 14px;
    padding: 2px;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 16px;
    margin: 1px 0;
    color: #2e475d;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.trvFld {
	float: left;
	margin-right: 10px;
	width: 70px;
}
.trvFld .custom-select-v3 {
	display: block;
}
.trvFld .custom-select-v3::before {
	font-size: 12px;
	height: 35px;
	line-height: 6px;
}
.trvFld .custom-select-v3 select {
	text-align: left;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}
select option {
	padding: 2px 5px;
	background: #fff;
}
.trvFld .custom-select-v3 select {
	text-align: left;
	line-height: 35px;
	color: #000;
}
.travelerSelectWindow .ageRange {
	float: left;
	font-size: 14px;
	color: #c2c2c2;
	padding-top: 10px;
}
.classSec {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
	margin: 0 15px 15px;
	overflow: hidden;
}
.classSec .custom-select-v3::before {
	top: 9px;
}
.classSec label {
	margin-top: 5px;
}
.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}
.classSec .custom-select-v3.lg select {
	margin: 0;
}
.classSec .custom-select-v3 select {
	cursor: pointer;
}
.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	text-indent: initial;
	color: #000;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
	border-radius: 0;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #012e81;
	display: inline-block;
	border-radius: 0;
	opacity: .8;
	top: 8px;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
.travelerSelectWindow .closeBtn:hover {
	opacity: 1;
}
/*===========================================
=            Radio Button Custom            =
===========================================*/
.radio {
	padding-left: 20px;
	margin-bottom: 20px;
}
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 0;
	font-size: 16px;
	color: #93ddfb;
	font-weight: 600;
	padding-top: 0;
	text-transform: uppercase;
}
.radio label.active, .radio label:focus {
	color: #012e81;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -13px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 4px;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 6px;
	height: 6px;
	left: 11px;
	top: 8px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
	margin: 0;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
.radio.radio-inline {
	margin: 0 0 20px;
	padding: 0 10px;
}
.radio-success input[type="radio"] + label::after {
	background-color: #fff;
}
.radio-success input[type="radio"]:checked + label::before {
	border-color: #fff;
}
.radio-success input[type="radio"]:checked + label::after {
	background-color: #fff;
}
.radio-success input[type="radio"]:checked + label {
	color: #012e81;
}
/*==============End-Booking-Form-Css===========*/


/*=====  Intro CSS BOF  ======*/
#intro_section, #mn-ser-sec, #why-choose-sec, #mission_vision, #contact_sec {
	width: 100%;
	display: block;
}
#intro_section h2 {
	font-family: 'Lora', serif;
	font-size: 66px;
	font-weight: 700;
	color: #012e81;
	font-style: italic;
	line-height: 52px;
}
#intro_section h2 span {
	color: #9b9595;
}
#intro_section h3 {
	font-family: 'Lora', serif;
	font-size: 28px;
	font-weight: 700;
	color: #676767;
	font-style: italic;
	line-height: 55px;
}
#intro_section p {
	text-align: left;
	padding-top: 30px;
}
#intro_section figure {
	display: block;
	position: relative;
	margin: 0 auto;
}
#intro_section figure img {
	display: block;
	width: 100%;
	position: relative;
}
a.btn1.black {
	cursor: pointer;
	width: auto;
	z-index: 1;
	background: #012e81;
}
a.btn1:link, a.btn1:visited {
	position: relative;
	display: inline-block;
	margin: 35px 0 0;
	padding: 8px 40px;
	color: #fff;
	font-size: 22px;
	border-radius: 0;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.btn1.black:hover {
	color: #fff !important;
	background: #1a79db;
}
/* Main Services Sec CSS BOF
=================================================== */
.title h2 {
	font-family: 'Lora', serif;
	font-size: 66px;
	font-weight: 700;
	color: #012e81;
	font-style: italic;
	line-height: 52px;
	text-align: center;
	padding-bottom: 40px;
}
.title h2 span {
	color: #9b9595;
}
#mn-ser-sec {
	background: url(../images/main-ser-bg.jpg) top center/cover no-repeat;
	padding-bottom: 0;
}
#mn-ser-sec .bg-rgt {
	background: none !important;
}
#mn-ser-sec .mn-ser-box {
	background: url(../images/devider.jpg) bottom right no-repeat;
	width: 100%;
	min-height: 100%;
	text-align: center;
	padding-bottom: 70px;
	margin-top: 30px;
}
#mn-ser-sec .mn-ser-box .svg-wrap {
	display: inline-block;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
#mn-ser-sec .mn-ser-box .svg-wrap svg {
	fill: #012e81;
	position: static;
}
#mn-ser-sec .mn-ser-box:hover .svg-wrap {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
}
#mn-ser-sec .mn-ser-box h4 {
	font-size: 24px;
	color: #012e81;
	line-height: normal;
	margin-top: 10px;
	font-weight: 700;
}
#mn-ser-sec .mn-ser-box p {
	width: 100%;
	text-align: center;
	padding: 25px 0 0;
	color: #2f2f2f;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
/* Why Choose Sec CSS BOF
=================================================== */

#why-choose-sec .why-box {
	width: 100%;
	min-height: 100%;
	text-align: center;
	margin-top: 30px;
}
#why-choose-sec .why-box .svg-wrap {
	display: inline-block;
}
#why-choose-sec .why-box .svg-wrap svg {
	fill: #858585;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#why-choose-sec .why-box:hover svg {
	fill: #012e81;
}
#why-choose-sec .why-box h4 {
	font-size: 25px;
	color: #012e81;
	line-height: normal;
	margin-top: 10px;
	font-weight: 500;
}
#why-choose-sec .why-box p {
	width: 100%;
	text-align: center;
	padding: 20px 0 0;
	color: #2f2f2f;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 339px;
	position: relative;
	height: auto;
	margin-bottom: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 419px;
	width: 100%;
	position: absolute;
}


/* About Us Page CSS BOF
=================================================== */
.inner_banner {
	min-height: 239px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
	margin:-86px 0 0;
}
.inner_banner::before {
	background: rgba(166, 223, 242, 0.8) none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.inner_banner .banner_text {
	text-align: center;
	padding: 0;
	position: absolute;
	width: 100%;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.inner_banner .banner_text h1 {
	font-size: 56px;
	font-weight: 400;
	line-height: normal;
	color: #012e81;
}
.breadcrumbs1_wrapper {
	background: #042c83;
	display: block;
	position: relative;
}
.breadcrumbs1 {
	padding: 14px 0;
	margin-top: 0px;
	line-height: 20px;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
.breadcrumbs1 a {
	color: #93ddfb;
	text-decoration: none;
}
.breadcrumbs1 a:hover {
	color: #fff;
	text-decoration: none;
}
.breadcrumbs1 i {
	display: inline-block;
	margin: 0 15px;
	vertical-align: middle;
	color: #fff;
}
#mission_vision {
	background: #dff2fb;
}
#mission_vision .msn-vsn {
	width: 100%;
	min-height: 100%;
	text-align: center;
}
#mission_vision .msn-vsn .svg-wrap {
	display: inline-block;
}
#mission_vision .msn-vsn .svg-wrap svg {
	fill: #858585;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#mission_vision .msn-vsn:hover svg {
	fill: #012e81;
}
#mission_vision .msn-vsn h4 {
	font-size: 25px;
	color: #012e81;
	line-height: normal;
	margin-top: 10px;
	font-weight: 500;
}
#mission_vision .msn-vsn p {
	width: 100%;
	text-align: center;
	padding: 20px 0 0;
	color: #2f2f2f;
}
/* Contact Us Page CSS BOF
=================================================== */
.contact_form {
	padding: 15px 35px 35px;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	-ms-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.15);
}
.contact_form .padding {
	padding-top: 25px;
}
.contact_form label {
	font-size: 18px;
	font-weight: 500;
	color: #012e81;
	margin: 0 0 8px 0;
}
.contact_form .input-group {
	background-color: #fff;
	border: none;
	-webkit-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0 0px 5px 0px rgba(0,0,0,0.5);
	display: inline-block;
	width: 100%;
	margin-top: 0;
	font-weight: 400;
}
.contact_form .form-control {
	background-color: transparent;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	color: #1f1f1f;
	display: block;
	font-size: 16px;
	height: 60px;
	line-height: 1.42857;
	padding: 6px 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.contact_form textarea.form-control {
	height: 110px;
	resize: none;
	padding: 20px 35px;
}
.send {
	background: #012e81;
	font-size: 32px;
	color: #fff;
	padding: 7px 0;
	text-align: center;
	width: 226px;
	border: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 20px auto 0;
	display: block;
	font-weight: 700;
	-webkit-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.4);
}
.send:hover {
	background: #1a79db;
	text-decoration: none;
}
.travel-type select{
	height: 38px;
}
.travel-type::before{
	height: 38px !important;
	line-height: 37px !important;
	top: 0px !important;
}
.add_multi_sec {
    width: 100%;
    float: left;
}
.add_multi_sec button {
    padding: 5px;
    background: var(--primary-color);
    color: #FFF;
    font-size: 13px;
    border: none;
    margin: 6px 0px;
    float: right;
}
.multilegSec {
    width: 100%;
    float: left;
}
.multiSec {
    width: 100%;
    float: left;
}

.multiSec h4 {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    padding-bottom: 3px;
	padding-top: 24px;
	line-height: 18px;
	position: relative;
}
.multiSec h4 i {
	font-size: 22px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 19px;
}
.multiSec_area{
	width: 100%;
    float: left;
}
.multilegSec .change-date::after {
    right: 8px !important;
    top: 12px !important;
}
.multiLast {
    width: 100%;
    float: left;
}

.flx_sec {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.mrg2 {
    margin-top: 2px;
}
.htlbtn {
    float: right;
}
.kmsliderSec{
	border-right: 1px solid #012e81;
    float: left;
    width: 100%;
    padding: 0 7px;
}
.kmsliderSec label {
	text-align: center;
	width: 100%;
	color: var(--primary-color);
}
#slider-step-value {
	padding-top: 7px;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 0px;
    line-height: 13px;
}
.widthSec {
    width: 100% !important;
    float: left;
}
.widthSec select{
	height: 42px;
}
.mrg10 {
    margin-bottom: 10px;
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.travelerSelectWindow .classSec:first-child{
	border-top: none !important;

}
.hotlsSec {
    width: 100%;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
}
.hotlsSec .rooms {
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 52px;
}
.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 55px;
}

.autocomplete ul.autocomplete-results li {
    color: #3e3e3e;
    font-size: 13px;
    font-weight: 400;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #fff;
}

.autocomplete-result {
    list-style: none;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}
#mn-ser-sec .mn-ser-box:last-child{
	background: none !important;
}
.termsofuse{
	padding-top: 20px;
	width: 100%;
	padding-bottom: 130px;
}
.termsofuse h4{
	font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 20px;
    text-transform: capitalize;
}
.termsofuse p {
    font-size: 14px;
    color: #3e3e3e;
    font-weight: 400;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 10px;
}