@media only screen and (max-width: 1316px) and (min-width: 1200px) {
    .about-img img {
        min-height: 375px;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 990px) {
    .about-img img {
        min-height: 502px;
    }
}
@media only screen and (max-width: 990px) and (min-width: 200px) {
    .about-img img {
        min-height: 10px;
    }
    .about-main .col-md-6{
        padding-left: 0px;
        padding-right: 0px;
    }
    .about-text {
        padding: 0px 15px 30px 15px !important;
    }
    .about_description{
        height: auto !important;
    }
    .summer-promo .promotion-package{
        width: 100% !important;
    }
    .promotion-package {
        padding: 80px 50px 80px 80px !important;
    }
    .summer-promo .col-lg-7{
        padding-right: 0px !important;
    }
}



@media(max-width:1200px) {
    .about-text {
        position: relative;
        width: 100%;
        top: 0;
    }
    .pack-home-detail h3 {
        font-size: 22px;
        padding: 0 0 6px 0;
    }
    .promotion-package {
        padding: 80px 0 80px 80px;
    }
    .about-text {
        height: 300px;
        max-width: 450px;
        padding: 30px 0;
    }
}


/*=========END-1200px==========*/


/*=========END-1024px==========*/

@media(max-width:991px) {
    h1 {
        font-size: 40px;
        line-height: 45px;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .top-email ul li {
        padding: 0 5px;
    }
    .booking-form {
        width: 100%;
    }
    .banner_main {
        padding: 160px 0 200px 0;
    }
    .banner_main .banner-text h1 {
        font-size: 70px;
        line-height: 75px;
    }
    .banner_main .banner-text p {
        width: 91%;
    }
    .search-section .form-control {
        border-bottom: 1px solid #bfbfbf;
    }
    .calendar {
        border-bottom: 1px solid #bfbfbf !important;
    }
    .all-search-box {
        display: inline-block;
        width: 100%;
    }
    .search-button {
        padding: 10px 0;
    }
    .dropdown-menu {
        top: 34px;
        right: 0px;
    }
    .travelerSelectWindow {
        left: 0;
        width: 100%;
    }
    /* .navbar-default {
        clip-path: polygon(9% 1%, 100% 1%, 100% 100%, 0% 100%);
    } */
    .about-text {
        margin: 20px 0 0 0;
    }
    .about-img {
        clip-path: none;
    }
    .about-main {
        padding: 0 15px 0 15px;
    }
    .about-text {
        max-width: 100%;
        padding: 50px 15px 30px 15px;
    }
    .about-text h2 {
        line-height: 77px;
        text-align: center;
    }
    .about-text img {
        line-height: 40px;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .promotion-package {
        width: 80%;
    }
    .foot-social li {
        padding: 0 6px 0 0;
    }
    .foot-links li a {
        padding: 0 2px;
        font-size: 14px;
    }
    .footer-newsletter h3 {
        font-size: 23px;
    }
}


/*=========END-991px==========*/

@media(max-width:767px) {
    h1 {
        font-size: 30px;
        line-height: 35px;
    }
    h2 {
        font-size: 26px;
        line-height: 35px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 24px;
        line-height: 40px;
        padding: 10px 0;
    }
    .booking-form {
        position: relative;
        bottom: 0;
    }
    .navbar-nav>li>a {
        font-size: 16px;
    }
    header .dropdown-menu {
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
    }
    .top-email ul li a {
        font-size: 15px !important;
    }
    .top-email ul li {
        font-size: 16px !important;
        border-right: none !important;
        margin-bottom: 3px;
    }
    .top-email ul li i {
        height: 28px !important;
        width: 28px !important;
        line-height: 26px !important;
    }
    .search-col-padding .input-group {
        width: 100%;
        display: inline-block;
    }
    .search-section .form-control,
    .calendar {
        border-right: none !important;
        box-shadow: none !important;
    }
    .menu-nav .navbar-nav>li {
        float: none;
        display: block;
        border: none;
    }
    .navbar-toggle {
        padding: 8px 11px;
        margin-top: 21px;
    }
    .menu_nav {
        text-align: left;
    }
    .navbar-toggle .icon-bar {
        height: 3px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background: #fc4f00;
        border: 1px solid #fc4f00;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-nav>li>a {
        border-radius: 0;
        background: #fff;
        color: #404040 !important;
        border-bottom: 1px solid #fff;
        padding: 10px 30px !important;
    }
    .navbar-toggle{
        background: #fc4f00;
        border: 1px solid #fc4f00;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a:hover {
        border-bottom: 1px solid #439eff;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: none;
    }
    .about-main {
        margin: 30px 0;
    }
    .promotion-package {
        padding: 30px;
        margin: 15px 0;
        width: 100%;
        clip-path: none;
    }
    .promotion-package p {
        width: 100%;
    }
    .promotion-package h2 {
        font-size: 70px;
        line-height: 80px;
    }
    .promotion-package span {
        font-size: 23px;
    }
    .summer-promo .container-fluid {
        padding-left: 15px;
    }
    .summer-promo {
        margin: 30px 0 0px 0;
    }
    footer {
        margin-top: 0px !important;
    }
    .footer-newsletter {
        margin-top: 30px !important;
    }
    .foot-contact ul li i {
        position: relative !important;
    }
    .foot-contact {
        text-align: center;
    }
    .foot-contact ul li {
        padding: 0;
        text-align: center;
    }
    .foot-links {
        margin: 20px 0;
    }
    .reserved {
        float: none;
        text-align: center;
    }
    .Powered {
        float: none;
        text-align: center;
    }
    .menu_nav {
        min-height: auto;
        margin-top: 0;
        padding: 0;
    }
    .search-section .nav-tabs>li {
        clip-path: inherit;
        width: auto;
    }
    .search-section .nav>li>a::before {
        left: auto;
        top: 8px;
        right: 4px;
        position: absolute;
    }
    .reserved p {
        padding-top: 0;
    }
    .all-reserved {
        padding: 10px 0;
    }
    .change-destination::after {
        right: 0;
        top: 51px;
        left: 0;
        text-align: center;
    }
    .banner_main .banner-text h1 {
        line-height: 50px;
        font-size: 40px;
    }
    .banner_main .banner-text p {
        font-size: 18px;
        line-height: 26px;
    }
    .banner_main {
        padding: 100px 0 100px 0;
    }
    .banner_main .owl-pagination {
        bottom: -60px;
    }
    .booking-tab {
        margin-top: 0;
    }
    .all-search-box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .change-date::after {
        width: 100%;
        left: 0;
        text-align: center;
        right: 0;
        top: 51px;
    }
    .search-section .nav>li>a {
        padding: 15px;
        background: #006adb;
        color: #fff;
    }
    .service-icon i {
        color: #fff;
    }
    .search-section .nav-tabs>li:hover i {
        color: #fff;
    }
    .packages-main h2 {
        margin-bottom: 10px;
    }
    .foot-logo {
        text-align: center;
    }
    .foot-links {
        margin-top: 20px;
        text-align: center;
    }
    .foot-links li a {
        line-height: 30px;
    }
    .foot-links li:first-child a {
        padding-left: 8px;
    }
    .foot-social {
        text-align: center;
    }
}


/*=========END-767px==========*/

@media(max-width:600px) {
    footer .col-xs-4 {
        width: 100%;
    }
    .top-right {
        text-align: center;
        border-top: 1px solid #fff;
    }
    .top-bar .container {
        padding: 0;
    }
    .top-email {
        float: none;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
    .top-email ul li {
        margin-bottom: 5px !important;
        border-right: none !important;
        display: block;
    }
    .social-media-top {
        float: none;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
    .menu_nav .navbar-toggle {
        margin: 25px 50px;
    }
}


/*=========Start-500px==========*/

@media(max-width:500px) {
    header .col-md-8.col-xs-8 {
        display: none;
    }
    header .col-xs-4 {
        width: 100%;
    }
    .social-media-top {
        display: block;
        text-align: center;
    }
    .top-email {
        display: block;
        text-align: center;
    }
    .top-email ul li {
        padding-left: 15px;
    }
    .login-reg li {
        padding: 12px 10px;
    }
    .sl-nav {
        padding: 12px 10px;
    }
    .logo {
        text-align: center !important;
    }
    .menu_nav .navbar-toggle {
        margin: 25px 26px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        text-align: center;
        margin: 5px auto;
    }
    .search-section .nav>li>a {
        padding: 13px 0;
        font-size: 16px;
        width: 100%;
    }
    .search-section .nav>li {
        float: left;
        width: 33%;
        border: none;
        border-left: 4px solid #fff;
    }
    .search-section .tab-content form {
        padding: 0;
    }
    .search-section .tab-content {
        padding: 15px 0 0 0;
    }
    .top-email ul li {
        display: block;
        padding: 5px 0;
    }
    .banner_main {
        padding: 50px 0 80px 0;
    }
}

@media (max-width: 730px) {
    .social-media-top {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .top-right {
        text-align: center;
        border-top: 1px solid #fff;
        width: 100%;
        float: left;
    }
    .top-bar .container {
        padding: 0;
    }
    .sl-nav {
        float: left;
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #FFF;
        padding: 0px 10px;
    }
    .login-reg li {
        padding: 12px 9px !important;
    }
}