<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>about Us</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style-ltr.css" rel="stylesheet" type="text/css" id="styleid" />
    <link href="css/media-ltr.css" rel="stylesheet" type="text/css" id="mediaid" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>

    <div id="about" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>

        <!-- banner-->
        <section class="banner_main inner-banner"
            :style="'background:url('+BannerSection.Banner_Image_1920x268px+') no-repeat;'">
            <div class="container">
                <h1>{{BannerSection.About_Us_Title}}</h1>
            </div>
            <div class="bradcomes">
                <div class="container">
                    <ul>
                        <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> |
                        <li>{{BannerSection.About_Us_Title}}</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="about-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about-img">
                            <img :src="AboutSection.Image_555x352px" alt="about-img">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="about-text about-in-text">
                            <h2><span>{{AboutSection.Heading1}}</span> <br>
                                {{AboutSection.Heading_2}}</h2>
                            <p v-html="AboutSection.About__Us_Description"></p>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="our-mission-in">
            <div class="container">
                <div class="row flex-box">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="about-info">

                            <div class="vi-mi-icon">
                                <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <path d="M61.486,15.198c0-1.211-0.98-2.192-2.192-2.192H36.052c-1.211,0-2.193,0.981-2.193,2.192v13.95
	c0,1.211,0.981,2.192,2.193,2.192H57.1v6.198L36.052,58.591l-5.42-5.422c-0.46-0.46-1.103-0.691-1.747-0.636
	c-0.647,0.058-1.235,0.4-1.606,0.933L6.363,83.548c-0.466,0.669-0.521,1.545-0.143,2.268c0.378,0.725,1.127,1.179,1.943,1.179
	h83.665c0.004,0,0.006,0,0.008,0c1.212,0,2.192-0.983,2.192-2.194c0-0.522-0.182-1.001-0.486-1.378L61.486,37.752V15.198z
	 M38.246,26.954v-9.561H57.1v9.561H38.246z M12.361,82.604l17.022-24.479l5.117,5.12c0.412,0.411,0.97,0.642,1.551,0.642
	c0.583,0,1.14-0.23,1.552-0.642l21.394-21.402l28.611,40.761H12.361L12.361,82.604z"></path>
                                </svg>
                            </div>

                            <h4>{{AboutSection.Mission_Label}} </h4>
                            <p v-html="AboutSection.Mission_Description"></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="about-info">

                            <div class="vi-mi-icon">
                                <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M93.745,48.355c-0.197-0.232-4.968-5.709-12.694-11.237C70.713,29.722,59.977,25.813,50,25.813
			c-9.974,0-20.712,3.909-31.049,11.306C11.223,42.646,6.455,48.123,6.255,48.355c-0.816,0.944-0.816,2.347,0,3.291
			c0.2,0.23,4.968,5.707,12.696,11.236C29.287,70.277,40.023,74.188,50,74.188c9.977,0,20.713-3.91,31.051-11.305
			c7.727-5.529,12.497-11.006,12.694-11.236C94.562,50.702,94.562,49.3,93.745,48.355z M78.035,58.863
			C71.447,63.561,61.233,69.16,50,69.16c-11.233,0-21.445-5.6-28.033-10.297c-4.807-3.428-8.448-6.893-10.376-8.862
			c1.93-1.972,5.569-5.437,10.376-8.862C28.554,36.441,38.766,30.84,50,30.84c11.234,0,21.448,5.602,28.036,10.299
			c4.807,3.426,8.446,6.891,10.374,8.862C86.481,51.973,82.842,55.438,78.035,58.863z M63.045,47.486
			c-1.383,0-2.509,1.125-2.509,2.515c0,5.821-4.725,10.558-10.537,10.558c-5.809,0-10.536-4.736-10.536-10.558
			c0-5.822,4.728-10.558,10.536-10.558c2.556,0,5.02,0.928,6.941,2.612c1.042,0.915,2.627,0.809,3.539-0.235
			c0.914-1.044,0.809-2.631-0.233-3.545c-2.835-2.488-6.473-3.858-10.247-3.858c-8.576,0-15.553,6.991-15.553,15.584
			S41.424,65.584,50,65.584c8.579,0,15.554-6.99,15.554-15.583C65.554,48.611,64.431,47.486,63.045,47.486z M44.982,50.001
			c0,2.771,2.252,5.026,5.017,5.026c2.768,0,5.018-2.256,5.018-5.026c0-2.772-2.25-5.029-5.018-5.029
			C47.235,44.972,44.982,47.229,44.982,50.001z"></path>
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <h4>{{AboutSection.Vision_Label}}</h4>
                            <p v-html="AboutSection.Vision_Description"></p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="about-info">

                            <div class="vi-mi-icon">
                                <svg id="outline" viewBox="0 0 512 512">
                                    <path
                                        d="M488,176H435.2002a103.81249,103.81249,0,0,1-91.76465-55.05859L333.647,102.58789A87.85219,87.85219,0,0,0,288,62.002V48a32,32,0,0,0-64,0V62.002a87.85457,87.85457,0,0,0-45.64746,40.58594l-9.7876,18.35352A103.81381,103.81381,0,0,1,76.7998,176H24a8.00008,8.00008,0,0,0-8,8v32a8.00008,8.00008,0,0,0,8,8H76.57812L50.39624,296H40a8.00008,8.00008,0,0,0-8,8,64,64,0,0,0,128,0,8.00008,8.00008,0,0,0-8-8H141.60376l-26.18188-72h19.51367a95.96823,95.96823,0,0,0,63.21631-23.75293l21.05371-18.42285A55.85554,55.85554,0,0,1,224,178.08691V390.11133L211.05566,416H192a7.99927,7.99927,0,0,0-6.3999,3.2002L164.00024,448H128a8.00008,8.00008,0,0,0-8,8v32a8.00008,8.00008,0,0,0,8,8H384a8.00008,8.00008,0,0,0,8-8V456a8.00008,8.00008,0,0,0-8-8H347.99976L326.3999,419.2002A7.99927,7.99927,0,0,0,320,416H300.94434L288,390.11133V178.08691a55.85554,55.85554,0,0,1,4.79443,3.73731H292.794l21.05419,18.42285A95.96823,95.96823,0,0,0,377.06445,224h19.51367l-26.18188,72H360a8.00008,8.00008,0,0,0-8,8,64,64,0,0,0,128,0,8.00008,8.00008,0,0,0-8-8H461.60376l-26.18188-72H488a8.00008,8.00008,0,0,0,8-8V184A8.00008,8.00008,0,0,0,488,176ZM240,48a16,16,0,0,1,32,0v9.46777a87.941,87.941,0,0,0-32,0ZM96,352a48.07871,48.07871,0,0,1-47.3335-40h94.667A48.07871,48.07871,0,0,1,96,352Zm28.57812-56H67.42188l26.18188-72h4.79248ZM376,480H136V464H376Zm-48-32H184l12-16H316Zm-55.15527-52.42188L283.05566,416H228.94434l10.21093-20.42188A7.99934,7.99934,0,0,0,240,392V170.35352a55.56338,55.56338,0,0,1,32,0V392A7.99934,7.99934,0,0,0,272.84473,395.57812ZM416,352a48.07871,48.07871,0,0,1-47.3335-40h94.667A48.07871,48.07871,0,0,1,416,352Zm28.57812-56H387.42188l26.18188-72h4.79248ZM480,208H377.06445a79.97228,79.97228,0,0,1-52.68017-19.79395l-21.0542-18.42285h-.00049a71.87558,71.87558,0,0,0-94.65967,0l-21.0542,18.42285A79.97228,79.97228,0,0,1,134.93555,208H32V192H76.7998a119.78374,119.78374,0,0,0,105.88282-63.5293l9.78759-18.35351a72.00063,72.00063,0,0,1,127.05909,0l9.78857,18.35351A119.78241,119.78241,0,0,0,435.2002,192H480Z" />
                                    <path
                                        d="M256,88a24,24,0,1,0,24,24A24.02718,24.02718,0,0,0,256,88Zm0,32a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,256,120Z" />
                                </svg>
                            </div>

                            <h4>{{AboutSection.Principles_Label}}</h4>
                            <p v-html="AboutSection.Principles_Description"></p>
                        </div>
                    </div>


                </div>
            </div>
        </section>






        <!-- About Us-->

    </div>
    <section id="partner">
        <partneritem :key="key"></partneritem>
    </section>
    <!-- Footer -->

    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!-- end-Footer -->



    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>

    <!-- Main JQUERY -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Bootstrap JQUERY -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>


    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="serviceJs/about.js"></script>
</body>

</html>