<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Contact Us</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style-ltr.css" rel="stylesheet" type="text/css" id="styleid" />
    <link href="css/media-ltr.css" rel="stylesheet" type="text/css" id="mediaid" />
    <link href="master/css/master.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>


    <div id="contact" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>

        <!-- banner-->
        <section class="banner_main inner-banner"
            :style="'background:url('+BannerSection.Banner_Image_1920x268px+') no-repeat;'">
            <div class="container">
                <h1>{{BannerSection.Contact_Us_Label}}</h1>
            </div>
            <div class="bradcomes">
                <div class="container">
                    <ul>
                        <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> |
                        <li>{{BannerSection.Contact_Us_Label}}</li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="contact-in">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-dtl">
                            <i class="fa fa-map-marker"></i>
                            <h4>{{ContactSection.Address_Label}}</h4>
                            <p v-html="ContactSection.Address_Description"></p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-dtl">
                            <i class="fa fa-envelope"></i>
                            <h4>{{ContactSection.Email_Label}}</h4>
                            <a :href="'mailto:'+ ContactSection.EmailId">{{ContactSection.EmailId}}</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="contact-dtl">
                            <i class="fa fa-phone"></i>
                            <h4>{{ContactSection.Phone_Number_Label}}</h4>
                            <a :href="'tel:'+ ContactSection.Phone_Number_Description">
                                {{ContactSection.Phone_Number_Description}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="contact-info">
                <h3>{{ContactSection.Drop_A_Query_Label}}</h3>
                <p v-html="ContactSection.Drop_A_Query_Description"></p>


                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <form>
                            <input type="text" id="text" class="form-control" v-model="cntusername"
                                :placeholder="ContactSection.Your_Name_Placeholder">

                            <input type="email" id="email" class="form-control" v-model="cntemail"
                                :placeholder="ContactSection.Your_Email_Placeholder">

                            <input type="text" id="text" class="form-control" v-model="cntcontact"
                                :placeholder="ContactSection.Your_Phone_Number_Placeholder">

                            <input type="text" id="text" class="form-control" v-model="cntsubject"
                                :placeholder="ContactSection.Your_Subject_Placeholder">

                            <textarea rows="3" class="form-control" v-model="cntmessage"
                                :placeholder="ContactSection.Your_Message_Placeholder"></textarea>

                            <input type="submit" id="submit" :value="ContactSection.Save_Button_Label"
                                v-on:click.prevent="sendcontactus">

                        </form>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <iframe :src="MapSection.Map_Url" width="100%" height="570" frameborder="0" style="border:0;"
                            allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                    </div>

                </div>

            </div>
        </div>



        <!-- About Us-->

    </div>
    <section id="partner">
        <partneritem :key="key"></partneritem>
    </section>


    <!-- Footer -->

    <footer>
        <footeritem :key="key"></footeritem>

    </footer>
    <!-- end-Footer -->



    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <!-- Main JQUERY -->
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>

    <!-- Main JQUERY -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Bootstrap JQUERY -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>


    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="serviceJs/contact.js"></script>


</body>

</html>