<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Khartoum TKT</title>
  <link rel="icon" href="images/favicon.ico" type="icon" />
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style-ltr.css" rel="stylesheet" type="text/css" id="styleid" />
  <link href="css/media-ltr.css" rel="stylesheet" type="text/css" id="mediaid" />
  <link href="css/customstyle.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
  <link rel='stylesheet' href='/assets/css/flag.css'>
  <link href="css/custom-splash.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <!-- PRELOADER -->
  <div id="preloader">
    <div id="preloader-status">
      <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="lds-circle">
        <div></div>
      </div>
      <div id="preloader-title">Loading</div>
    </div>
  </div>
  <!-- /PRELOADER -->
  <header>
    <headeritem></headeritem>
  </header>

  <!-- Navigation -->



  <!-- banner-->
  <div id="indexmain" v-cloak>
    <section class="banner_main" :style="'background:url('+ banner.Banner_Image_1920x488px+')'">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-0 col-xs-offset-0 col-sm-12 col-xs-12">
            <div class="booking-form">
              <div class="search-section">
                <div role="tabpanel">
                  <!-- BEGIN: CATEGORY TAB -->
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 booking-tab">
                    <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                      <li role="presentation" class="active text-center"> <a href="#flight" aria-controls="flight"
                          role="tab" data-toggle="tab"> <i class="fa  fa-plane"></i>{{banner.Flight_Label}} </a> </li>
                      <li role="presentation" class="text-center"> <a href="#flight-hotel" aria-controls="hotel"
                          role="tab" data-toggle="tab"> <i class="fa  fa-hotel"></i>{{banner.Hotel_Label}} </a> </li>
                    </ul>
                    <!-- END: CATEGORY TAB -->
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 all-search-box">
                    <!-- BEGIN: TAB PANELS -->
                    <div class="tab-content">
                      <!-- BEGIN: FLIGHT SEARCH -->
                      <div role="tabpanel" class="tab-pane active" id="flight">
                        <ul class="nav-tabs nav-tabs2">
                          <li class="active"><a href="#one-way" data-toggle="tab"
                              v-on:click="setTripType('O')">{{banner.Oneway_Trip_Label}}</a> </li>
                          <li><a href="#round-trip" data-toggle="tab"
                              v-on:click="setTripType('R')">{{banner.Round_Trip_Label}}</a> </li>
                          <li><a href="#multi-city" data-toggle="tab"
                              v-on:click="setTripType('M')">{{banner.Multicity_Label}}</a> </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade active in" id="one-way">
                            <form>
                              <div class="clearfix"></div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch id="Cityfrom1" :return-value="returnValue"
                                  :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                                <!-- <input name="Flying From?" class="form-control" required="" placeholder="E.g. New York" type="text"> -->
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
		l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
		c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
		l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
		L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
		c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
		l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
		c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#" v-on:click="swapLocations(1)"><img
                                    src="images/swipe-button.jpg" alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch id="Cityto1" :return-value="returnValue"
                                  :place-holder-text="banner.Leaving_To_Placeholder" @air-search-completed="Arrivalfrom"
                                  :leg="0"></flightsearch>
                                <!-- <input name="Flying To?" class="form-control" required="" placeholder="E.g. Dubai" type="text"> -->
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
			c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
			c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
			c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
			C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
			c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
			l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="deptDate01" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Adult_Label}}</label>
                                <select class="myselect" v-model="selected_adult" id="adultdrp"
                                  onchange="onPaxChange(this)">
                                  <option v-for="adult in adults" :value="adult.value">
                                    {{adult.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Child_Label}}</label>
                                <select class="myselect" v-model="selected_child" id="childdrp"
                                  onchange="onPaxChange(this)">
                                  <option v-for="child in children" :value="child.value">
                                    {{child.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Infant_Label}}</label>
                                <select class="myselect" v-model="selected_infant" id="infantdrp"
                                  onchange="onPaxChange(this)">
                                  <option v-for="infant in infants" :value="infant.value">
                                    {{infant.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Class_Label}}</label>
                                <select class="myselect" v-model="selected_cabin" id="cabindrp">
                                  <option v-for="cabin in banner.Class_List" :value="cabin.Code">{{cabin.Class_Name}}
                                  </option>
                                </select>
                              </div>

                              <div
                                class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 search-col-padding">
                                <button type="submit" class="search-button" v-on:click.prevent="SearchFlight"><i
                                    class="fa fa-search"></i>{{banner.Search_Button_Label}} </button>
                              </div>
                            </form>
                          </div>

                          <div class="tab-pane fade" id="round-trip">
                            <form>
                              <div class="clearfix"></div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch id="Cityfrom1" :return-value="returnValue"
                                  :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
		l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
		c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
		l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
		L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
		c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
		l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
		c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch id="Cityto1" :return-value="returnValue"
                                  :place-holder-text="banner.Leaving_To_Placeholder" @air-search-completed="Arrivalfrom"
                                  :leg="0"></flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
			c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
			c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
			c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
			C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
			c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
			l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="from1" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Return_Label}}</label>
                                <input id="retDate" value="" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Return_Placeholder" />
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Adult_Label}}</label>
                                <select class="myselect" v-model="selected_adult" id="radultdrp"
                                  onchange="onPaxChangeRound(this)">
                                  <option v-for="adult in adults" :value="adult.value">
                                    {{adult.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Child_Label}}</label>
                                <select class="myselect" v-model="selected_child" id="rchilddrp"
                                  onchange="onPaxChangeRound(this)">
                                  <option v-for="child in children" :value="child.value">
                                    {{child.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Infant_Label}}</label>
                                <select class="myselect" v-model="selected_infant" id="rinfantdrp"
                                  onchange="onPaxChangeRound(this)">
                                  <option v-for="infant in infants" :value="infant.value">
                                    {{infant.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Class_Label}}</label>
                                <select class="myselect" v-model="selected_cabin" id="rcabindrp">
                                  <option v-for="cabin in banner.Class_List" :value="cabin.Code">{{cabin.Class_Name}}
                                  </option>
                                </select>
                              </div>

                              <div
                                class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-8 col-sm-offset-0 col-xs-offset-0 search-col-padding">
                                <button type="submit" class="search-button" v-on:click.prevent="SearchFlight"><i
                                    class="fa fa-search"></i>{{banner.Search_Button_Label}} </button>
                              </div>
                            </form>
                          </div>

                          <div class="tab-pane fade" id="multi-city">
                            <form>
                              <div class="clearfix"></div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="1">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
		l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
		c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
		l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
		L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
		c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
		l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
		c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="1"></flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
			c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
			c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
			c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
			C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
			c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
			l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="txtLeg1Date" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Adult_Label}}</label>
                                <select class="myselect" v-model="selected_adult" id="madultdrp"
                                  onchange="onPaxChangeMulticity(this)">
                                  <option v-for="adult in adults" :value="adult.value">
                                    {{adult.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Child_Label}}</label>
                                <select class="myselect" v-model="selected_child" id="mchilddrp"
                                  onchange="onPaxChangeMulticity(this)">
                                  <option v-for="child in children" :value="child.value">
                                    {{child.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Infant_Label}}</label>
                                <select class="myselect" v-model="selected_infant" id="minfantdrp"
                                  onchange="onPaxChangeMulticity(this)">
                                  <option v-for="infant in infants" :value="infant.value">
                                    {{infant.value}}
                                  </option>
                                </select>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12search-col-padding">
                                <label class="select-label">{{banner.Class_Label}}</label>
                                <select class="myselect" v-model="selected_cabin" id="mcabindrp">
                                  <option v-for="cabin in banner.Class_List" :value="cabin.Code">{{cabin.Class_Name}}
                                  </option>
                                </select>
                              </div>
                            </form>
                            <!-- trip 2 -->
                            <form>
                              <div class="clearfix"></div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="2">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
		l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
		c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
		l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
		L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
		c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
		l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
		c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="2">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
			c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
			c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
			c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
			C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
			c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
			l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="txtLeg2Date" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>
                              <div class="col-md-6 col-sm-4 search-col-padding">
                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==2"><i
                                    class="fa fa-plus" aria-hidden="true"></i> {{banner.Add_Up_To_Label}} {{6-legcount}}
                                  {{banner.Trips_Label}}</a>
                              </div>
                            </form>
                            <!-- trip 3 -->
                            <form v-if="(legcount>2)">
                              <div class="clearfix"></div>
                              <div class="col-md-6  col-sm-4 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="3">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
      l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
      c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
      l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
      L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
      c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
      l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
      c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="3">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path
                                          d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
        c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
        c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
        c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
        C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
        c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
        l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="txtLeg3Date" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>

                              <div class="col-md-6 col-sm-4 search-col-padding">
                                <div class="close-btn">
                                  <a href="#" v-on:click.prevent="DeleteLeg(3)" v-if="legcount==3"><i
                                      class="fa fa-close" aria-hidden="true"></i></a>
                                </div>
                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==3"><i
                                    class="fa fa-plus" aria-hidden="true"></i> {{banner.Add_Up_To_Label}} {{6-legcount}}
                                  {{banner.Trips_Label}}</a>
                              </div>
                            </form>
                            <!-- trip 4 -->
                            <form v-if="(legcount>3)">
                              <div class="clearfix"></div>
                              <div class="col-md-6  col-sm-4 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="4">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
      l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
      c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
      l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
      L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
      c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
      l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
      c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="4">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path
                                          d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
        c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
        c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
        c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
        C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
        c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
        l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="txtLeg4Date" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>

                              <div class="col-md-6 col-sm-4 search-col-padding">
                                <div class="close-btn">
                                  <a href="#" v-on:click.prevent="DeleteLeg(4)" v-if="legcount==4"><i
                                      class="fa fa-close" aria-hidden="true"></i></a>
                                </div>
                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==4"><i
                                    class="fa fa-plus" aria-hidden="true"></i> {{banner.Add_Up_To_Label}} {{6-legcount}}
                                  {{banner.Trips_Label}}</a>
                              </div>
                            </form>
                            <!-- trip 5 -->
                            <form v-if="(legcount>4)">
                              <div class="clearfix"></div>
                              <div class="col-md-6  col-sm-4 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="5">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
      l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
      c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
      l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
      L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
      c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
      l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
      c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="5">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path
                                          d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
        c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
        c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
        c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
        C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
        c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
        l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="txtLeg5Date" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>

                              <div class="col-md-6 col-sm-4 search-col-padding">
                                <div class="close-btn">
                                  <a href="#" v-on:click.prevent="DeleteLeg(5)" v-if="legcount==5"><i
                                      class="fa fa-close" aria-hidden="true"></i></a>
                                </div>
                                <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==5"><i
                                    class="fa fa-plus" aria-hidden="true"></i> {{banner.Add_Up_To_Label}} {{6-legcount}}
                                  {{banner.Trips_Label}}</a>
                              </div>
                            </form>
                            <!-- trip 6 -->
                            <form v-if="(legcount>5)">
                              <div class="clearfix"></div>
                              <div class="col-md-6  col-sm-4 search-col-padding">
                                <label class="select-label">{{banner.Leaving_From_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="6">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 485.794 485.794" style="enable-background:new 0 0 485.794 485.794;"
                                    xml:space="preserve">
                                    <g>
                                      <rect x="15.794" y="404.368" width="460" height="20" />
                                      <path d="M468.829,89.302c-33.408-19.471-71.368-9.128-97.325,2.976l-77.378,36.082l-133.08-66.934l-79.253,3.405l109.893,111.408
      l-70.035,33.269l-72.865-27.731L0,204.525l44.089,54.749c-4.658,5.557-8.879,13.381-5.047,21.599
      c5.005,10.732,19.798,16.141,44.063,16.14c4.976,0,10.351-0.227,16.12-0.683c26.636-2.104,55.514-8.903,73.571-17.323
      l276.596-128.979c23.89-11.141,35.79-22.839,36.38-35.765C486.078,107.559,483.387,97.784,468.829,89.302z M440.938,131.901
      L164.343,260.881c-15.384,7.174-40.641,13.185-64.345,15.313c-24.228,2.175-37.182-0.556-41.5-2.875
      c0.889-1.217,2.549-3.129,5.612-5.825l7.184-6.323l-39.708-49.308l17.986-8.388l72.943,27.763l103.169-49.009l-98-99.352
      l29.021-1.247l137.089,68.949l86.16-40.176c31.467-14.673,57.979-15.957,78.803-3.823l0.001,0.001
      c5.247,3.057,7.081,5.724,7.033,6.77C465.789,113.423,465.188,120.595,440.938,131.901z" />
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                                <a class="change-destination" href="#"><img src="images/swipe-button.jpg"
                                    alt="swipe-button"></a>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Leaving_To_Label}}</label>
                                <flightsearch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6"
                                  :return-value="returnValue" :place-holder-text="banner.Leaving_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="6">
                                </flightsearch>
                                <span class="plane-icon"><svg id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px"
                                    y="0px" viewBox="0 0 430 430" style="enable-background:new 0 0 430 430;"
                                    xml:space="preserve">
                                    <g>
                                      <g>
                                        <path
                                          d="M331.92,193.937l-79.04-13.68l-65.12-79.36c-1.032-1.268-2.428-2.189-4-2.64l-47.04-13.2
        c-4.268-1.141-8.654,1.394-9.795,5.663c-0.373,1.396-0.361,2.867,0.035,4.257l17.52,64l-48-6.8
        c-6.4-14.64-29.44-59.68-70.64-64.88c-4.384-0.547-8.382,2.563-8.929,6.948c-0.07,0.561-0.08,1.129-0.031,1.692l8,84
        c0.097,3.123,2.003,5.903,4.88,7.12l347.84,111.6c4.203,1.363,8.715-0.939,10.078-5.142c0.1-0.307,0.181-0.621,0.242-0.938
        C393.36,264.657,388.72,208.097,331.92,193.937z M373.28,281.057l-333.6-107.6l-6.16-67.68c32.16,11.68,49.36,56.16,49.52,56.64
        c1.017,2.73,3.438,4.691,6.32,5.12l64.64,9.2c2.666,0.374,5.342-0.618,7.12-2.64c1.732-1.934,2.418-4.589,1.84-7.12l-16.96-62.4
        l31.04,8.72l65.52,80c1.214,1.477,2.917,2.47,4.8,2.8l81.36,14.08C372.16,220.977,374.56,262.417,373.28,281.057z" />
                                      </g>
                                    </g>
                                    <g>
                                      <g>
                                        <path
                                          d="M422,329.217H8c-4.418,0-8,3.582-8,8s3.582,8,8,8h414c4.418,0,8-3.582,8-8S426.418,329.217,422,329.217z" />
                                      </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                  </svg></span>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 search-col-padding">
                                <label class="select-label">{{banner.Departure_Label}}</label>
                                <input id="txtLeg6Date" readonly="readonly" class="calendar" type="text"
                                  :placeholder="banner.Departure_Placeholder" />
                              </div>
                              <div class="col-md-6 col-sm-4 search-col-padding">
                                <div class="close-btn" style="padding-top: 37px;">
                                  <a href="#" v-on:click.prevent="DeleteLeg(6)" v-if="legcount==6"><i
                                      class="fa fa-close" aria-hidden="true"></i></a>
                                </div>
                                <!-- <a class="add-btn" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add up to 3 Trips</a> -->
                              </div>
                            </form>
                            <div class="col-md-4 col-sm-4 col-md-offset-8 search-col-padding">
                              <button type="submit" class="search-button" v-on:click.prevent="MultiSearchFlight"><i
                                  class="fa fa-search"></i>{{banner.Search_Button_Label}} </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END: FLIGHT SEARCH -->
                      <!-- START: Flight-HOTEL SEARCH -->
                      <div role="tabpanel" class="tab-pane" id="flight-hotel">
                        <hotel-search :key="hotelInit" :hotelLabel="banner"></hotel-search>
                      </div>
                      <!-- END: HOTEL SEARCH -->
                      <!-- START: BEGIN CHECK MY TRIP -->
                      <div role="tabpanel" class="tab-pane" id="check-my-trip">
                        <h3>Check My all Trip</h3>
                        <form>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <div class="input-group">
                              <label class="select-label">Reservation Number</label>
                              <input name="pack-departure-city" class="form-control" required=""
                                placeholder="Reservation Number [PNR]" type="text">
                              <!--<span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>-->
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <div class="input-group">
                              <label class="select-label">Passanger's Last Name</label>
                              <input name="pack-destination-city" class="form-control" required=""
                                placeholder="Passanger's Last Name" type="text">
                              <!--<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>-->
                            </div>
                          </div>
                          <div class="col-md-4 col-sm-4 search-col-padding">
                            <button type="submit" class="search-button ">Check Trip</button>
                          </div>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                      <!-- END: CHECK MY TRIP -->
                    </div>
                  </div>
                  <!-- END: TAB PANE -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Us-->
    <section class="bg-pattern">
      <div class="container">
        <div class="row">
          <div class="about-event">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pa-0">
              <div class="row pd-t">
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                  <div class="about-img">
                    <img :src="HomeMain.About_Image_220_x_311px" alt="about-img">
                  </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                  <div class="about-text">
                    <h2><span>{{aboutDetails.Heading1}}</span> <br>
                      {{aboutDetails.Heading_2}}</h2>
                    <p>{{aboutDetails.About__Us_Description | aboutStr}}</p>
                    <div class="btn"><a href="/KhartoumTKT/about.html">{{HomeMain.Read_More_Label}} <i
                          class="fa fa-chevron-right"></i></a></div>

                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pa-0">
              <div class="news-event">
                <h3><i class="fa fa-comments-o"></i>{{HomeMain.News_And_Events_Label}}</h3>
                <div id="owl-demo-2" class="owl-carousel  owl-theme">
                  <div class="item" v-for="news in newsEvent">
                    <div class="date">{{datenumberFormatter(news.Date)}}
                      <br><span>{{datemonthFormatter(news.Date)}}</span></div>
                    <h4>{{news.Title}}</h4>

                    <p>{{news.Description_List | newsStr}}</p>

                    <div class="btn"><a href="#"
                        v-on:click="getmoreinfo(news.More_details_page_link)">{{HomeMain.Read_More_Label}} <i
                          class="fa fa-chevron-right"></i></a></div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- partner -->


  <!-- Footer -->
  <section id="partner">
    <partneritem :key="key"></partneritem>
  </section>
  <footer>
    <footeritem :key="key"></footeritem>
  </footer>
  <!-- end-Footer -->



  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>

  <!-- Main JQUERY -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- Bootstrap JQUERY -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>

  <script src="js/custom.js"></script>



  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
  <script src="js/hotel-search.js"></script>
  <script src="master/js/index.js?v=20211122000"></script>



</body>

</html>