<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>News Detail</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="css/customstyle.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style-ltr.css" rel="stylesheet" type="text/css" id="styleid" />
  <link href="css/media-ltr.css" rel="stylesheet" type="text/css" id="mediaid" />
  <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/assets/css/flag.css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="news" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>

    <!-- banner-->
    <section class="banner_main inner-banner"
      :style="{ background: 'url(' + bannerSection.Banner_Image_1920x268px+ ')'}">
      <div class="container">
        <h1>{{bannerSection.News_And_Event_Title}}</h1>
      </div>
      <div class="bradcomes">
        <div class="container">
          <ul>
            <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> |
            <li>{{bannerSection.News_And_Event_Title}}</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="news-event-detail">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="detail-content"> <img :src="newsDeatilsData.Image_750x449px" alt="" class="img-responsive">
              <h3>{{newsDeatilsData.Title}}</h3>
              <div class="grey2"><span class="date"><i class="fa fa-calendar-check-o"></i>
                  {{dateConvert1(newsDeatilsData.Date)}}</span><span class="date"><i class="fa fa-user"></i>
                  {{newsDeatilsData.Author_Name}}</span><span class="date"><i
                    class="fa  fa-comments"></i>{{cmntLength}}</span>
              </div>
              <p v-html='newsDeatilsData.Description_List'></p>
              <div class="comment-main">
                <h4>{{newsSection.Latest_Comments_Label}}</h4>
                <div class="comment-div" v-for="(item,index) in allComment" :key="index">
                  <div class="user"><img :src="newsSection.User_Image_90x90px" alt="">
                    <p>{{item.Name}}</p>
                  </div>
                  <div class="comment-block">
                    <h5 class="heading">{{dateConvert(item.Date)}}</h5>
                    <p>{{item.comment}}</p>
                  </div>
                </div>
                <!-- <div class="comment-div">
              <div class="user"><img src="images/user-commet.png" alt=""> <p>J Walker</p></div>
              <div class="comment-block">
                <h5 class="heading">june 19,2018</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincidid ut labore et dolore magna aliqua. Utjij enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi utjjij aliquip ex ea commodo consequat.</p>
                </div>
            </div> -->
                <!-- <p class="comment-all"> <a href="#"  v-if="cmntLength>=5 && expand==true" v-on:click.prevent="showAll">{{newsSection.Show_All_Label}}</a>
              <a href="#"  v-if="expand==false" v-on:click.prevent="collapseAll">{{newsSection.Collapse_Label}}</a>
              </p> -->
                <!-- <p class="comment-all"> <a href="#"  v-if="cmntLength>=5 && expand==true" v-on:click.prevent="showAll"><i class="fa fa-angle-double-down"></i></a>
                <a href="#"  v-if="expand==false" v-on:click.prevent="collapseAll">{{newsSection.Collapse_Label}}</a>
                </p> -->
              </div>
              <div class="comment-post">
                <h4>{{newsSection.Leave_A_Reply_Label}} </h4>
                <div class="leave-form">
                  <form>
                    <label>{{newsSection.Your_Name_Label}}</label>
                    <div class="input-group">
                      <input v-model="name" class="form-control" :placeholder="newsSection.Your_Name_Placeholder"
                        type="text">
                    </div>
                    <label>{{newsSection.Your_Email_ID_Label}}</label>
                    <div class="input-group">
                      <input v-model="email" class="form-control" :placeholder="newsSection.Your_Email_ID_Placeholder"
                        type="text">
                    </div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <label>{{newsSection.Your_Comment_Label}}</label>
                    <div class="input-group">
                      <textarea class="form-control" v-model="comment" id="exampleTextarea" rows="5"
                        :placeholder="newsSection.Your_Comment_Placeholder"></textarea>
                    </div>
                    <button type="submit" class="btn"
                      v-on:click.prevent="postcomment">{{newsSection.Submit_Button_Label}}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <aside class="right-div">
              <!--<div class="right-main search-form">
            <form class="form-container">
              <input value="" type="text" placeholder="Type To Search">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
          </div>-->
              <div class="right-main">
                <div class="categories">
                  <h5>{{newsSection.Category_Label}}</h5>
                  <ul>
                    <li v-for="(item,index) in categories" :key="index"><i class="fa fa-angle-double-right"
                        aria-hidden="true"></i><a href="#" v-on:click.prevent="passQuery('category',item)">{{item}} </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="right-main">
                <div class="categories">
                  <h5>{{newsSection.Popular_Posts_Label}}</h5>
                  <div class="recent-posts">
                    <div class="media" v-for="(item,index) in newsList" :key="index" v-if="item.Popular==true">
                      <div class="media-content">
                        <a :href="getmoreinfo(item.More_details_page_link)">
                          <h6>{{item.Title}}</h6>
                        </a>
                        <p>{{dateConvert(item.Date)}}</p>
                      </div>
                    </div>
                    <!-- <div class="media">
                  <div class="media-content"> <a href="#">
                    <h6>Lorem ipsum dolor sit amet</h6>
                    </a>
                    <p>June 19, 2018</p>
                  </div>
                </div> -->
                    <!-- <div class="media"> 
                  <div class="media-content"> <a href="#">
                    <h6>Lorem ipsum dolor sit amet</h6>
                    </a>
                    <p>June 19, 2018</p>
                  </div>
                </div> -->
                    <!-- <div class="media">
                  <div class="media-content"> <a href="#">
                    <h6>Lorem ipsum dolor sit amet</h6>
                    </a>
                    <p>June 19, 2018</p>
                  </div>
                </div> -->
                  </div>
                </div>
              </div>
              <div class="right-main">
                <div class="recent">
                  <h5>{{newsSection.Popular_Tags_Label}}</h5>
                  <div class="popular-tags">
                    <ul v-for="(tags,index) in  tagList" :key="index">
                      <li><a href="#" v-on:click.prevent="passQuery('tag',tags)">{{tags}}</a></li>
                      <!-- <li><a href="#">Cultural</a></li>
                  <li><a href="#">Tour</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Relax</a></li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>

  </div>
  <!-- Partner-->
  <section id="partner">
    <partneritem :key="key"></partneritem>
  </section>
  <!-- Footer -->

  <footer>

    <footeritem :key="key"></footeritem>
  </footer>
  <!-- end-Footer -->
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap JQUERY -->
  <!-- Main JQUERY -->
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>

  <!-- Main JQUERY -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- Bootstrap JQUERY -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>


  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="serviceJs/newsandevents.js"></script>
</body>

</html>