<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Privacy &amp; Policy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style-ltr.css" rel="stylesheet" type="text/css" id="styleid" />
    <link href="css/media-ltr.css" rel="stylesheet" type="text/css" id="mediaid" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>
    <div id="policy" v-cloak>
        <!-- banner-->
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>

        <section class="banner_main inner-banner"
            :style="{ background: 'url(' + bannerSection.Banner_Image_1920x268px+ ')'}">
            <div class="container">
                <h1>{{bannerSection.Banner_Title}}</h1>
            </div>
            <div class="bradcomes">
                <div class="container">
                    <ul>
                        <li><a href="index.html">{{bannerSection.Home_Label}}
                            </a></li> |
                        <li>{{bannerSection.Banner_Title}}</li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="terms-condition">
                <div v-for="(item,index) in policySection.Privacy_Policy_List" :key="index">
                    <h4>{{item.Title}}</h4>
                    <p v-html="item.Policy"> </p>
                </div>

                <!-- <h4>Use License</h4>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        -->
                <!-- <ul>
           <li>Modify or copy the materials;</li>
           <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
           <li>Attempt to decompile or reverse engineer any software contained on Oneview IT Solutions's website;</li>
           <li>Remove any copyright or other proprietary notations from the materials; or</li>
           <li>Transfer the materials to another person or "mirror" the materials on any other server.</li>
       </ul> -->

                <!-- <h4>Disclaimer</h4>
       
       <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean interdum lectus vel facilisis eleifend. Etiam turpis lectus, pellentesque vitae malesuada sed, maximus in eros. Aliquam semper maximus tellus vitae aliquet. Curabitur quis augue felis. Aenean a sodales nunc, fringilla sagittis felis. </p>
       
       <p>Fusce condimentum porttitor enim, vehicula mattis nulla mollis et. Duis molestie gravida odio vitae ornare. Quisque mauris massa, euismod nec nisl nec, sagittis maximus massa. Suspendisse nec rhoncus erat, sit amet maximus erat. Suspendisse porttitor risus vel odio malesuada, et pretium justo luctus. Vivamus vel tortor sed libero ultrices ultrices in eu tortor. Sed eget vehicula turpis. Vivamus tempor quam in leo cursus elementum. In efficitur ante quis nunc porttitor lobortis. Donec vel ullamcorper ligula, sit amet elementum metus. </p>
       
       <h4>Limitations</h4>
       
       <p>Vivamus ac lacus vel lorem sodales feugiat. Suspendisse semper odio felis, ut lacinia lacus accumsan ut. Pellentesque enim dolor, aliquet vel nisi vitae, placerat blandit sapien. Sed rutrum sollicitudin magna vel vehicula. Sed accumsan iaculis ligula id elementum. Praesent facilisis elementum metus, ut pretium mi scelerisque non. Fusce leo neque, viverra at condimentum ac, rhoncus et diam. Nulla convallis magna mauris, sed lacinia orci eleifend ac. Nunc a ornare ante. </p>
       
       <h4> Governing Law</h4>
       
       <p>These terms and conditions are governed by and construed in accordance with the laws of Abu Dhabi and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p> -->


            </div>
        </div>
    </div>

    <!-- Footer -->

    <section id="partner">
        <partneritem :key="key"></partneritem>
    </section>
    <!-- Footer -->

    <footer>
        <footeritem :key="key"></footeritem>
    </footer>
    <!-- end-Footer -->



    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>

    <!-- Main JQUERY -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Bootstrap JQUERY -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>


    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="serviceJs/privacypolicy.js"></script>

</body>

</html>
</body>

</html>