<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Promotions</title>
    <link rel="icon" href="images/favicon.ico" type="icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="css/style-ltr.css" rel="stylesheet" type="text/css" id="styleid" />
    <link href="css/media-ltr.css" rel="stylesheet" type="text/css" id="mediaid" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="promotions" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
        </div>
        <!-- banner-->
        <section class="banner_main inner-banner"
            :style="{ background: 'url(' + bannerSection.Banner_Image_1920x268px+ ')'}">
            <div class="container">
                <h1>{{bannerSection.Promotion_Title}}</h1>
            </div>
            <div class="bradcomes">
                <div class="container">
                    <ul>
                        <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> |
                        <li>{{bannerSection.Promotion_Title}}</li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="container">
            <div class="promotions">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"
                        v-for="(item,index) in promotionSection.Promotion__List" :key="index">
                        <div class="offer">
                            <img :src="item.Image_360X181px" alt="offer">
                            <div class="offer-text">
                                <h4>{{item.Title}}</h4>
                                <p> {{promotionSection.Valid_Till_Label}} : {{dateConvert(item.Date)}}</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <section id="partner">
        <partneritem :key="key"></partneritem>
    </section>
    <!-- Footer -->

    <footer>
        <footeritem :key="key"></footeritem>
    </footer>




    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>

    <!-- Main JQUERY -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    <!-- Bootstrap JQUERY -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>


    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="serviceJs/promotions.js"></script>


</body>

</html>