<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>
    <!-- banner-->
    <div id="aboutuspage" v-cloak>

        <div class="inner_banner">
            <div class="pageTitle cmn_head" :style="{ background: 'url(' + aboutUsContent.titleImage+ ')'}">
                <div class="container">
                    <h1><span>{{aboutUsContent.title}}</span></h1>
                    <div class="breadcrumb_nav"><a href="/">{{aboutUsContent.home}} --&gt;</a>
                        <b>{{aboutUsContent.breadcrumb}}</b></div>
                </div>
            </div>
        </div>

        <!--End-banner-form-->
        <div class="outer_about">
            <div class="inner_about">
                <div class="container">
                    <div class="inner_about01">

                        <div class="girl">

                            <img class="lazy" :src="aboutUsContent.descriptionImage" style="display: inline;"></div>

                        <p class="dark">
                            {{aboutUsContent.description}}
                        </p>



                    </div>
                </div>
            </div>
        </div>
        <div class="main_mission_area">
            <div class="container">

                <ul>
                    <li v-for="items in visionContent">
                        <h4>{{items.Title}}</h4>

                        <div class="cmn_content" v-html="items.content">
                            {{items.content}}
                        </div>
                    </li>

                </ul>


            </div>

        </div>


    </div>
    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>




    <!-- Bootstrap JQUERY -->


    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/custom.js"></script>
    <script src="servicejs/about-us.js"></script>
</body>

</html>