<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> Biscordint</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000" rel="stylesheet" type="text/css" />
  <link href="css/main.css" rel="stylesheet" type="text/css" />
  <link href="css/responsive.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
  <link rel='stylesheet' href='/assets/css/flag.css'>
  <link rel='stylesheet' href='css/easy-responsive-tabs-form.css'>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <style>
    [v-cloak] {
      display: none
    }
    .disabled {
    pointer-events:none; 
    opacity:0.6;         
}
  </style>
</head>

<body>


  <header>
    <headeritem></headeritem>
  </header>
  <div id="visa">
    <div>
      <!-- banner-->
      <div class="inner_banner" style="border-bottom: none;">
        <div class="pageTitle cmn_head" :style="{ backgroundImage: 'url(\'' + pageTitle.Banner_image + '\')' }">
          <div class="container" v-cloak>
            <h1><span>{{pageTitle.Title}}</span></h1>
            <div class="breadcrumb_nav"><a href="/">{{pageTitle.Breadcrumb_path1}} --&gt;</a> <b>{{pageTitle.Breadcrumb_path2}}</b></div>
          </div>
        </div>
      </div>
    </div>
    <!--End-banner-form-->
    <div class="visa-main-title">
      <div class="container">
        <h5>Fill out the application form.</h5>
        <p>Enter the details for the applicant. Entering incorrect information could lead to a delay or even a refusal of your application.</p>
      </div>
    </div>
    <div class="apply-visaformSec">
      <div class="container">
        <div id="verticalTab"  style="display: none;">
          <ul class="resp-tabs-list">
            <li style="" :style="currentTraveller>=index?';':'pointer-events:none;opacity:0.6'" v-for="(item, index) in numberOfTraveller" :key="index" :id="'tab'+index" >
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
                <path d="M140,70c0-38.6-31.4-70-70-70S0,31.4,0,70c0,20.4,8.8,38.8,22.7,51.6l-0.1,0.1l2.3,1.9c0.1,0.1,0.3,0.2,0.5,0.3 c1.2,1,2.5,1.9,3.7,2.9c0.4,0.3,0.8,0.6,1.2,0.9c1.4,0.9,2.8,1.8,4.2,2.7c0.3,0.2,0.6,0.4,0.9,0.5c1.6,0.9,3.2,1.7,4.8,2.5 c0.1,0.1,0.2,0.1,0.4,0.2c5.3,2.5,11,4.3,16.9,5.4c0.2,0,0.3,0.1,0.5,0.1c1.8,0.3,3.7,0.6,5.6,0.7c0.2,0,0.5,0,0.7,0.1 c1.9,0.2,3.8,0.3,5.7,0.3c1.9,0,3.8-0.1,5.7-0.2c0.2,0,0.5,0,0.7-0.1c1.9-0.2,3.7-0.4,5.5-0.7c0.2,0,0.3-0.1,0.5-0.1 c5.8-1,11.4-2.8,16.7-5.2c0.2-0.1,0.4-0.2,0.6-0.3c1.6-0.7,3.1-1.5,4.6-2.4c0.4-0.2,0.7-0.4,1.1-0.6c1.4-0.8,2.7-1.6,4-2.5 c0.5-0.3,0.9-0.7,1.4-1c1.1-0.8,2.2-1.6,3.3-2.5c0.2-0.2,0.5-0.4,0.7-0.6l2.3-1.9l-0.1-0.1C131.1,109,140,90.5,140,70z M5.1,70 C5.1,34.2,34.2,5.1,70,5.1s64.9,29.1,64.9,64.9c0,19.3-8.5,36.6-21.9,48.5c-0.7-0.5-1.5-1-2.3-1.4l-21.6-10.8 c-1.9-1-3.1-2.9-3.1-5.1v-7.5c0.5-0.6,1-1.3,1.6-2.1c2.8-3.9,5-8.3,6.7-13c3.2-1.5,5.3-4.7,5.3-8.4v-9c0-2.2-0.8-4.3-2.3-6V43.4 c0.1-1.3,0.6-8.8-4.8-14.9c-4.7-5.4-12.3-8.1-22.6-8.1s-17.9,2.7-22.6,8.1C42,34.6,42.5,42,42.6,43.4v11.9c-1.4,1.7-2.3,3.8-2.3,6v9 c0,2.8,1.3,5.4,3.4,7.2c2.1,8.1,6.3,14.2,7.9,16.3v7.4c0,2.1-1.1,4-3,5l-20.1,11c-0.6,0.3-1.3,0.8-1.9,1.2 C13.4,106.4,5.1,89.1,5.1,70z" />
              </svg>
              Traveller {{index+1}}
            </li>
          </ul>
          <div class="resp-tabs-container">
            <div v-for="(data, index1) in visaFields"  :key="index1" >
              <div class="flex-row row" :id="'travller'+index1">
                

                <!-- <div :id="'visa'+index2" class="col-xs-12 col-lg-6 col-md-6 col-sm-6" v-for="(item, index2) in data.fields" :key="index2" v-if="item.show&&item.type!=null">
                  <label class="inp">
                    <label v-if="item.type.toLowerCase()!='file upload'">{{item.label}}</label>
                    <input :type="item.type.toLowerCase()=='date'?'date':'text'" placeholder=" " v-if="item.type.toLowerCase()=='date'||item.type.toLowerCase()=='text'||item.type.toLowerCase()=='text area'" v-model="item.inputValue">
                    <select v-if="item.type.toLowerCase()=='dropdown'||item.type.toLowerCase()=='drop down'" v-model="item.inputValue">
                      <option v-for="(value, index3) in item.dropdown" :key="index3" :value="value.Name">{{value.Name}}</option>
                    </select>
                    <i class="fa fa-chevron-down" v-if="item.type.toLowerCase()=='dropdown'||item.type.toLowerCase()=='drop down'"></i>
                    <label class="file-upload btn btn-primary" v-if="item.type.toLowerCase()=='file upload'">
                      {{item.label}} <input type="file" :ref="'file'+index2" @change="handleFileUpload(item,index2)" accept="application/jpeg,application/png,application/jpg" />
                    </label>
                    <button class="fileupload" v-if="item.type.toLowerCase()=='file upload'" @click.prevent="submitFile(item,index2)">Upload</button>
                    <label class="visa_status" v-if="item.type.toLowerCase()=='option'">Yes
                      <input type="radio" value="Yes" :name="'visa'+index2" @click="hideUnhide(item)" v-model="item.inputValue">
                      <span class="visa_status_checkmark"></span>
                    </label>
                    <label class="visa_status" v-if="item.type.toLowerCase()=='option'">No
                      <input type="radio" value="No" :name="'visa'+index2" @click="hideUnhide(item)" v-model="item.inputValue">
                      <span class="visa_status_checkmark"></span>
                    </label>
                  </label>
                </div> -->

                <component :ref="'visa'+(currentQuestion.key+index1.toString())"  :is="currentQuestion.type" :data="currentQuestion" v-model="currentQuestion.answer" v-for="(currentQuestion, index) in data.fields" :key="index" :parent-key="index1.toString()"></component>
                <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="inp">
                    <label class="file-upload btn btn-primary inp">
                      Upload Your passport copy <input id="passport" ref="file" name="passport" type="file" @change="handleFileUpload_passport()" accept="application/jpeg,application/png,application/jpg" />
                    </label>
                    <button class="fileupload" @click.prevent="submitFile()">upload</button>
                    <i class="fa fa-upload"></i>
                  </div>
                </div>
                 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="inp">
                    <label class="file-upload btn btn-primary inp">
                      Upload Additional documents <input id="Add-doc" ref="file" name="Add-doc" type="file" @change="handleFileUpload_Add_doc()" accept="application/jpeg,application/png,application/jpg,application/pdf" />
                    </label>
                    <button class="fileupload" @click.prevent="submitFile_add_doc()">upload</button>                    
                    <i class="fa fa-upload"></i>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="inp">
                    <label class="file-upload btn btn-primary">
                      Upload a passport size photo <input id="photo" ref="file" name="photo" type="file" @change="handleFileUpload_photo()" accept="application/jpeg,application/png,application/jpg" />
                    </label>
                    <button class="fileupload" @click.prevent="submitFile_photo()">upload</button>
                    <i class="fa fa-upload"></i>
                  </div>
                </div> -->
                <!--<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-md-offset-4">
                  <button class="form_submit">Submit Information</button>
                </div> -->
              </div>
              <div class="flex-row row"   >
                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <button class="form_submit" style="margin-left: 0px;" v-if="index1 >0" @click.prevent="backTraveller(index1,'Back')" >Back</button>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" v-if="(visaFields.length-1)==index1" v-show="visaFields.length>0" >
                      <div class="inp">
                          <label class="visa_check">I declare that all statements are true.
                            <input name="accepttc" data-vv-as=" " v-validate="'required'" type="checkbox" checked="checked">
                            <span class="checkmark_visa"></span>
                            <span class="text-danger">{{ errors.first('accepttc') }}</span>
                          </label>
                        </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" else  ></div>

                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                      <button class="form_submit" style="margin-right: 0px;" v-if="visaFields.length>1 && (visaFields.length-1)!=index1" @click.prevent="nextTraveller(index1,'Next')">Next</button>
                  </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-4" v-if="(visaFields.length-1)==index1" v-show="visaFields.length>0">
                  <button class="form_submit" @click.prevent="submitForm">Submit Information</button>
                </div>
              </div>
             
            </div>
            
          </div>

          
        </div>

      </div>
    </div>
  </div>

  <footer :key="key">
    <partners></partners>
    <footeritem :key="key"></footeritem>
  </footer>

  <!-- Main JQUERY -->
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>

  <script src="../assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/assets/js/pgWay.js?v=202007280000"></script>
  <script src="/assets/js/vee-validate.min.js?v=202008140000"></script>

  <script>
    Vue.use(VeeValidate, {
      classes: true,
      validity: true
    }); // good to go.
    
  </script>

  <script src="/assets/js/vuejs-datepicker.min.js?v=201912240000"></script>
  
  <!-- Bootstrap JQUERY -->

  <!-- <script src="/assets/js/bootstrap4-3-1.min.js?v=202008140000"></script> -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/easy-responsive-tabs.js"></script>
  <script src="js/file-upload.js"></script>
  <script src="servicejs/visa.js"></script>




</body>

</html>