<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>

    <header>
        <headeritem></headeritem>
    </header>
    <div id="visa">
        <div>
            <div class="check_success" v-if="dontShowPopUp">
                <div class="check_middle" v-if="visaApplicationSuccess">
                    <div class="svg_sec">
                        <svg class="checkmark5" viewBox="0 0 52 52">
                            <circle class="checkmark-circle" fill="none" cx="26" cy="26" r="25" />
                            <path class="checkmark-check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                        </svg>
                        <h2>Visa Application success!</h2>
                        <p>We will get back soon</p>
                    </div>
                </div>
                <div class="check_middle" v-else>
                    <div class="svg_sec">
                        <svg class="close5" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="230 0 140 140" enable-background="new 230 0 140 140" xml:space="preserve">
                            <circle class="close-circle" fill="none" cx="300" cy="70" r="67.3" />
                            <path class="close-check" fill="none" d="M330.6,97.7l-23.8-29.1L328.3,40c0.9-1.2,0.7-2.9-0.6-3.8l-2-1.5c-1.2-0.9-2.9-0.7-3.8,0.6l-20.2,27
                    	l-22.2-27.1c-1-1.2-2.7-1.3-3.9-0.4l-2,1.6c-1.2,1-1.3,2.7-0.4,3.9l23.4,28.7L273.4,100c-0.9,1.2-0.7,2.9,0.6,3.8l2,1.5
                    	c1.2,0.9,2.9,0.7,3.8-0.6l22.1-29.5l22.5,27.5c1,1.2,2.7,1.3,3.9,0.4l2-1.6C331.4,100.6,331.6,98.9,330.6,97.7z" />
                        </svg>
                        <h2>Visa Application failed!</h2>
                        <p>We will get back soon</p>
                    </div>
                </div>
            </div>
            <!-- banner-->
            <div class="inner_banner">
                <div class="pageTitle cmn_head" :style="{ backgroundImage: 'url(\'' + pageTitle.Banner_image + '\')' }">
                    <div class="container" v-cloak>
                        <h1><span>{{pageTitle.Title}}</span></h1>
                        <div class="breadcrumb_nav"><a href="/">{{pageTitle.Breadcrumb_path1}} --&gt;</a> <b>{{pageTitle.Breadcrumb_path2}}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-banner-form-->
        <div class="apply-visa">
            <div class="container">
                <div class="apply-visa-form" style="padding:20px 10px 20px 10px;">
                    <h5>Your visa request send successfully</h5>
                    <p>Reference ID : {{pgRef}}</p>

                </div>
                <div v-for="(item, index) in requestFormTraveller" :key="index">
                    <div class="traveller_visa">
                        <h6>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
                                <path d="M140,70c0-38.6-31.4-70-70-70S0,31.4,0,70c0,20.4,8.8,38.8,22.7,51.6l-0.1,0.1l2.3,1.9c0.1,0.1,0.3,0.2,0.5,0.3 c1.2,1,2.5,1.9,3.7,2.9c0.4,0.3,0.8,0.6,1.2,0.9c1.4,0.9,2.8,1.8,4.2,2.7c0.3,0.2,0.6,0.4,0.9,0.5c1.6,0.9,3.2,1.7,4.8,2.5 c0.1,0.1,0.2,0.1,0.4,0.2c5.3,2.5,11,4.3,16.9,5.4c0.2,0,0.3,0.1,0.5,0.1c1.8,0.3,3.7,0.6,5.6,0.7c0.2,0,0.5,0,0.7,0.1 c1.9,0.2,3.8,0.3,5.7,0.3c1.9,0,3.8-0.1,5.7-0.2c0.2,0,0.5,0,0.7-0.1c1.9-0.2,3.7-0.4,5.5-0.7c0.2,0,0.3-0.1,0.5-0.1 c5.8-1,11.4-2.8,16.7-5.2c0.2-0.1,0.4-0.2,0.6-0.3c1.6-0.7,3.1-1.5,4.6-2.4c0.4-0.2,0.7-0.4,1.1-0.6c1.4-0.8,2.7-1.6,4-2.5 c0.5-0.3,0.9-0.7,1.4-1c1.1-0.8,2.2-1.6,3.3-2.5c0.2-0.2,0.5-0.4,0.7-0.6l2.3-1.9l-0.1-0.1C131.1,109,140,90.5,140,70z M5.1,70 C5.1,34.2,34.2,5.1,70,5.1s64.9,29.1,64.9,64.9c0,19.3-8.5,36.6-21.9,48.5c-0.7-0.5-1.5-1-2.3-1.4l-21.6-10.8 c-1.9-1-3.1-2.9-3.1-5.1v-7.5c0.5-0.6,1-1.3,1.6-2.1c2.8-3.9,5-8.3,6.7-13c3.2-1.5,5.3-4.7,5.3-8.4v-9c0-2.2-0.8-4.3-2.3-6V43.4 c0.1-1.3,0.6-8.8-4.8-14.9c-4.7-5.4-12.3-8.1-22.6-8.1s-17.9,2.7-22.6,8.1C42,34.6,42.5,42,42.6,43.4v11.9c-1.4,1.7-2.3,3.8-2.3,6v9 c0,2.8,1.3,5.4,3.4,7.2c2.1,8.1,6.3,14.2,7.9,16.3v7.4c0,2.1-1.1,4-3,5l-20.1,11c-0.6,0.3-1.3,0.8-1.9,1.2 C13.4,106.4,5.1,89.1,5.1,70z" /> </svg>
                            Traveller {{index+1}}
                        </h6>
                    </div>
                    <div class="visa-requirements" v-cloak>
                        <h2>{{item.nameValue}}</h2>
                        <div>
                            <ul>
                                <li>Passport: {{item.passportID}}</li>
                                <li v-if="item.travelDate">Travel Date: {{item.travelDate}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>

    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="../assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/js/vuejs-datepicker.min.js?v=201912240000"></script>
    <script src="servicejs/visa.js"></script>

    <!-- Bootstrap JQUERY -->

    <script src="/assets/js/bootstrap4-3-1.min.js?v=202008140000"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script type="text/javascript">
        setTimeout(function () {
            $('.check_success').hide();// or fade, css display however you'd like.
        }, 3000);
    </script>




</body>

</html>