<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="applyvisa" v-cloak>
        <div>
            <!-- banner-->
            <div class="inner_banner">
                <div class="pageTitle cmn_head" :style="{ backgroundImage: 'url(\'' + commonarea.Banner_image + '\')' }">
                    <div class="container" v-cloak>
                        <h1><span>{{commonarea.Title}}</span></h1>
                        <div class="breadcrumb_nav"><a href="/">{{commonarea.Breadcrumb_path1}} --&gt;</a> <b>{{commonarea.Breadcrumb_path2}}</b></div>
                    </div>
                </div>
            </div>
        </div>
        <!--End-banner-form-->
        <div class="apply-visa">
            <div class="container">
                <div class="apply-visa-form">
                    
                    <p v-html="Header_Information" v-cloak></p>
                    <div class="nmbr_traveler_sec">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                                    <div class="trvler_dwn">
                                        <select id="visatyp" v-model="selectedvisa" v-cloak>
                                            <!-- <option>Business visa</option>
                                            <option>Visiting visa</option>
                                            <option>Job visa</option> -->
                                            <option  v-bind:value="visa" v-for="visa in visatyp" v-cloak>{{visa.Name}}</option>
        
                                        </select>
                                    </div>
                                </div>
                                
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                            <div class="nmbr_traveler">
                                Number of Travellers
                                <span class="chg_nbr" v-cloak>
                                    <span class="icon_nmbr"><svg @click="decrement" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <g> <path d="M256,0C114.8,0,0,114.8,0,256s114.8,256,256,256s256-114.8,256-256S397.2,0,256,0z M256,480C132.5,480,32,379.5,32,256 S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z"/> <path d="M368,240H144c-8.8,0-16,7.2-16,16s7.2,16,16,16h224c8.8,0,16-7.2,16-16S376.8,240,368,240z"/> </g> </svg></span>
                                    <span class="nbr_tvler" id="number">{{number}}</span>
                                    <span class="icon_nmbr"><svg @click="increment" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <g> <path d="M256,0C114.8,0,0,114.8,0,256s114.8,256,256,256s256-114.8,256-256S397.2,0,256,0z M256,480C132.5,480,32,379.5,32,256 S132.5,32,256,32s224,100.5,224,224S379.5,480,256,480z"/> <path d="M368,240h-97v-96c0-8.8-7.2-16-16-16s-16,7.2-16,16v96h-95c-8.8,0-16,7.2-16,16s7.2,16,16,16h95v96c0,8.8,7.2,16,16,16 s16-7.2,16-16v-96h97c8.8,0,16-7.2,16-16S376.8,240,368,240z"/> </g> </svg></span>
                                </span>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                            <div class="nmbr_traveler">
                                Cost of visas
                                <span class="chg_nbr"> 
                                    <!-- <span id="visaorgcost" style="visibility:hidden">{{selectedvisa.Price}}</span>-->
                                    <span class="nbr_tvler">{{ $n(((totalVisaCost)/CurrencyMultiplier), 'currency', selectedCurrency) }}</span> 
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                            <button class="apply_btn" @click="applyNow">Apply Now</button>
                        </div>
                    </div>
                </div>
                <div class="visa-requirements" v-html="visadet.info">
                    
                </div>
            </div>
        </div>
    </div>

    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>


    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/js/vee-validate.min.js?v=202008140000"></script>
    <!-- <script src="js/jquery-1.12.4.min.js"></script> -->
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="./servicejs/apply-visa.js"></script>
</body>

</html>