<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="booknow">
        <!-- banner-->
        <div class="inner_banner">
            <div class="pageTitle cmn_head" style="background-image: url(https://s3.ap-south-1.amazonaws.com/images.oneviewitsolutions.com/biscordint/3637.jpg);">
                <div class="container" v-cloak>
                    <h1>{{banner.title}}</h1>
                    <div class="breadcrumb_nav"><a href="/">{{banner.breadcrumb_path1}} --&gt;</a> <b>{{banner.breadcrumb_path2}}</b></div>
                </div>
            </div>
        </div>

        <!--End-banner-form-->
        <div class="booking_area01" v-cloak>
            <div class="container">
                <div class="booking_form">
                    <div class="mainBooking">
                        <div class="booking_area">
                            <div class="booking_frm">
                                <div class="txt_area">
                                    <label>{{banner.NameLabel}}</label>
                                    <input type="text" class="txt_area01" v-model="bookname">
                                </div>
                                <div class="txt_area">
                                    <label>{{banner.EmailLabel}}</label>
                                    <input type="text" class="txt_area01" v-model="bookemail">
                                </div>
                                <div class="txt_area">
                                    <label>{{banner.PhoneLabel}}</label>
                                    <input type="text" class="txt_area01" v-model="bookphone">
                                </div>
                                <div class="txt_area">
                                    <label>{{banner.Package_Name_label}}</label>
                                    <input type="text" class="txt_area01" readonly="true" v-model="Package.Subtitle">
                                </div>
                            </div>
                            <div class="booking_frm">
                                <div class="txt_area">
                                    <label>{{banner.Tentative_Travel_Date_Label}}</label>
                                    <input type="text" class="txt_area02" readonly="true" id="traveldate">
                                </div>
                                <div class="txt_area">
                                    <label>{{banner.Select_of_Adults_Label}}</label>
                                    <select class="txt_area01" v-model="bookadult">
                                        <option selected="selected">1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="txt_area">
                                    <label>{{banner.Number_of_Children_Label}}</label>
                                    <select class="txt_area01" v-model="bookchild">
                                        <option selected="selected">0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="txt_area">
                                    <label>{{banner.Number_of_Infants}}</label>
                                    <select class="txt_area01" v-model="bookinfant">
                                        <option selected="selected">0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="booking_frm">
                                <div class="txt_area03">
                                    <label>{{banner.Additional_Information_Label}}</label>
                                    <textarea class="txt_area04" v-model="bookmessage"></textarea>
                                </div>

                                <input type="submit" value="SUBMIT" class="booking_btn01" @click="booknow">



                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
     

    </div>
    <footer :key="key">
            <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>

    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="./servicejs/Booknow.js"></script>

    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>





</body>

</html>