<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="contactuspage" v-cloak>
        <!-- banner-->

        <div class="inner_banner">
            <div class="pageTitle cmn_head" v-show="getdata" :style="{ background: 'url(' + pageContent.Title_Image+ ')'}">
                <div class="container">
                    <h1><span>{{pageContent.Title}}</span></h1>
                    <div class="breadcrumb_nav"><a href="/">{{pageContent.Breadcrumb_Label}} --&gt;</a> <b>{{pageContent.Breadcrumblabel2}}</b></div>
                </div>
            </div>
        </div>
        <!--End-banner-form-->
        <div class="contact_area">
            <div class="container">
                <div class="main_contact_form">
                    <div class="main_contact_form01">
                        <h5>{{form.Form_Title}}</h5>

                        <div class="text_first">
                            <div class="text01 mrg01">
                                <label>{{form.Name_label}}</label>
                                <input v-model="cntusername" type="text" id="ContentPlaceHolder1_txtname" class="txt_field icon01">
                                <i class="fa fa-user-o"></i>
                            </div>
                            <div class="text01">
                                <label>{{form.Email_label}}</label>
                                <input v-model="cntemail" type="text" id="ContentPlaceHolder1_cntmail" class="txt_field icon02">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="text_first">
                            <div class="text01 mrg01">
                                <label>{{form.Phone_Label}}</label>
                                <input v-model="cntcontact" type="text" id="ContentPlaceHolder1_txtphone" maxlength="15" class="txt_field icon03" onkeydown="return ((((event.keyCode>=48)&amp;&amp;(event.keyCode<=57))||((event.keyCode>=96)&amp;&amp;(event.keyCode<=105))||((event.keyCode==08))||((event.keyCode==46))) &amp;&amp; event.keyCode!=32);"
                                    validationgroup="contact">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="text01">
                                <label>{{form.Nationality_label}}</label>
                                <select v-model="cntnationality" id="ContentPlaceHolder1_ddlnation" class="txt_field select">
									<option value="">Select</option>
									<option value="US">United States</option>
									<option value="CA">Canada</option>
									<option value="AF">Afghanistan</option>
									<option value="AL">Albania</option>
									<option value="DZ">Algeria</option>
									<option value="DS">American Samoa</option>
									<option value="AD">Andorra</option>
									<option value="AO">Angola</option>
									<option value="AI">Anguilla</option>
									<option value="AQ">Antarctica</option>
									<option value="AG">Antigua and/or Barbuda</option>
									<option value="AR">Argentina</option>
									<option value="AM">Armenia</option>
									<option value="AW">Aruba</option>
									<option value="AU">Australia</option>
									<option value="AT">Austria</option>
									<option value="AZ">Azerbaijan</option>
									<option value="BS">Bahamas</option>
									<option value="BH">Bahrain</option>
									<option value="BD">Bangladesh</option>
									<option value="BB">Barbados</option>
									<option value="BY">Belarus</option>
									<option value="BE">Belgium</option>
									<option value="BZ">Belize</option>
									<option value="BJ">Benin</option>
									<option value="BM">Bermuda</option>
									<option value="BT">Bhutan</option>
									<option value="BO">Bolivia</option>
									<option value="BA">Bosnia and Herzegovina</option>
									<option value="BW">Botswana</option>
									<option value="BV">Bouvet Island</option>
									<option value="BR">Brazil</option>
									<option value="IO">British lndian Ocean Territory</option>
									<option value="BN">Brunei Darussalam</option>
									<option value="BG">Bulgaria</option>
									<option value="BF">Burkina Faso</option>
									<option value="BI">Burundi</option>
									<option value="KH">Cambodia</option>
									<option value="CM">Cameroon</option>
									<option value="CV">Cape Verde</option>
									<option value="KY">Cayman Islands</option>
									<option value="CF">Central African Republic</option>
									<option value="TD">Chad</option>
									<option value="CL">Chile</option>
									<option value="CN">China</option>
									<option value="CX">Christmas Island</option>
									<option value="CC">Cocos (Keeling) Islands</option>
									<option value="CO">Colombia</option>
									<option value="KM">Comoros</option>
									<option value="CG">Congo</option>
									<option value="CK">Cook Islands</option>
									<option value="CR">Costa Rica</option>
									<option value="HR">Croatia (Hrvatska)</option>
									<option value="CU">Cuba</option>
									<option value="CY">Cyprus</option>
									<option value="CZ">Czech Republic</option>
									<option value="DK">Denmark</option>
									<option value="DJ">Djibouti</option>
									<option value="DM">Dominica</option>
									<option value="DO">Dominican Republic</option>
									<option value="TP">East Timor</option>
									<option value="EC">Ecuador</option>
									<option value="EG">Egypt</option>
									<option value="SV">El Salvador</option>
									<option value="GQ">Equatorial Guinea</option>
									<option value="ER">Eritrea</option>
									<option value="EE">Estonia</option>
									<option value="ET">Ethiopia</option>
									<option value="FK">Falkland Islands (Malvinas)</option>
									<option value="FO">Faroe Islands</option>
									<option value="FJ">Fiji</option>
									<option value="FI">Finland</option>
									<option value="FR">France</option>
									<option value="FX">France, Metropolitan</option>
									<option value="GF">French Guiana</option>
									<option value="PF">French Polynesia</option>
									<option value="TF">French Southern Territories</option>
									<option value="GA">Gabon</option>
									<option value="GM">Gambia</option>
									<option value="GE">Georgia</option>
									<option value="DE">Germany</option>
									<option value="GH">Ghana</option>
									<option value="GI">Gibraltar</option>
									<option value="GR">Greece</option>
									<option value="GL">Greenland</option>
									<option value="GD">Grenada</option>
									<option value="GP">Guadeloupe</option>
									<option value="GU">Guam</option>
									<option value="GT">Guatemala</option>
									<option value="GN">Guinea</option>
									<option value="GW">Guinea-Bissau</option>
									<option value="GY">Guyana</option>
									<option value="HT">Haiti</option>
									<option value="HM">Heard and Mc Donald Islands</option>
									<option value="HN">Honduras</option>
									<option value="HK">Hong Kong</option>
									<option value="HU">Hungary</option>
									<option value="IS">Iceland</option>
									<option value="IN">India</option>
									<option value="ID">Indonesia</option>
									<option value="IR">Iran (Islamic Republic of)</option>
									<option value="IQ">Iraq</option>
									<option value="IE">Ireland</option>
									<option value="IL">Israel</option>
									<option value="IT">Italy</option>
									<option value="CI">Ivory Coast</option>
									<option value="JM">Jamaica</option>
									<option value="JP">Japan</option>
									<option value="JO">Jordan</option>
									<option value="KZ">Kazakhstan</option>
									<option value="KE">Kenya</option>
									<option value="KI">Kiribati</option>
									<option value="KP">Korea, Democratic People's Republic of</option>
									<option value="KR">Korea, Republic of</option>
									<option value="XK">Kosovo</option>
									<option value="KW">Kuwait</option>
									<option value="KG">Kyrgyzstan</option>
									<option value="LA">Lao People's Democratic Republic</option>
									<option value="LV">Latvia</option>
									<option value="LB">Lebanon</option>
									<option value="LS">Lesotho</option>
									<option value="LR">Liberia</option>
									<option value="LY">Libyan Arab Jamahiriya</option>
									<option value="LI">Liechtenstein</option>
									<option value="LT">Lithuania</option>
									<option value="LU">Luxembourg</option>
									<option value="MO">Macau</option>
									<option value="MK">Macedonia</option>
									<option value="MG">Madagascar</option>
									<option value="MW">Malawi</option>
									<option value="MY">Malaysia</option>
									<option value="MV">Maldives</option>
									<option value="ML">Mali</option>
									<option value="MT">Malta</option>
									<option value="MH">Marshall Islands</option>
									<option value="MQ">Martinique</option>
									<option value="MR">Mauritania</option>
									<option value="MU">Mauritius</option>
									<option value="TY">Mayotte</option>
									<option value="MX">Mexico</option>
									<option value="FM">Micronesia, Federated States of</option>
									<option value="MD">Moldova, Republic of</option>
									<option value="MC">Monaco</option>
									<option value="MN">Mongolia</option>
									<option value="ME">Montenegro</option>
									<option value="MS">Montserrat</option>
									<option value="MA">Morocco</option>
									<option value="MZ">Mozambique</option>
									<option value="MM">Myanmar</option>
									<option value="NA">Namibia</option>
									<option value="NR">Nauru</option>
									<option value="NP">Nepal</option>
									<option value="NL">Netherlands</option>
									<option value="AN">Netherlands Antilles</option>
									<option value="NC">New Caledonia</option>
									<option value="NZ">New Zealand</option>
									<option value="NI">Nicaragua</option>
									<option value="NE">Niger</option>
									<option value="NG">Nigeria</option>
									<option value="NU">Niue</option>
									<option value="NF">Norfork Island</option>
									<option value="MP">Northern Mariana Islands</option>
									<option value="NO">Norway</option>
									<option value="OM">Oman</option>
									<option value="PK">Pakistan</option>
									<option value="PW">Palau</option>
									<option value="PA">Panama</option>
									<option value="PG">Papua New Guinea</option>
									<option value="PY">Paraguay</option>
									<option value="PE">Peru</option>
									<option value="PH">Philippines</option>
									<option value="PN">Pitcairn</option>
									<option value="PL">Poland</option>
									<option value="PT">Portugal</option>
									<option value="PR">Puerto Rico</option>
									<option value="QA">Qatar</option>
									<option value="RE">Reunion</option>
									<option value="RO">Romania</option>
									<option value="RU">Russian Federation</option>
									<option value="RW">Rwanda</option>
									<option value="KN">Saint Kitts and Nevis</option>
									<option value="LC">Saint Lucia</option>
									<option value="VC">Saint Vincent and the Grenadines</option>
									<option value="WS">Samoa</option>
									<option value="SM">San Marino</option>
									<option value="ST">Sao Tome and Principe</option>
									<option value="SA">Saudi Arabia</option>
									<option value="SN">Senegal</option>
									<option value="RS">Serbia</option>
									<option value="SC">Seychelles</option>
									<option value="SL">Sierra Leone</option>
									<option value="SG">Singapore</option>
									<option value="SK">Slovakia</option>
									<option value="SI">Slovenia</option>
									<option value="SB">Solomon Islands</option>
									<option value="SO">Somalia</option>
									<option value="ZA">South Africa</option>
									<option value="GS">South Georgia South Sandwich Islands</option>
									<option value="ES">Spain</option>
									<option value="LK">Sri Lanka</option>
									<option value="SH">St. Helena</option>
									<option value="PM">St. Pierre and Miquelon</option>
									<option value="SD">Sudan</option>
									<option value="SR">Suriname</option>
									<option value="SJ">Svalbarn and Jan Mayen Islands</option>
									<option value="SZ">Swaziland</option>
									<option value="SE">Sweden</option>
									<option value="CH">Switzerland</option>
									<option value="SY">Syrian Arab Republic</option>
									<option value="TW">Taiwan</option>
									<option value="TJ">Tajikistan</option>
									<option value="TZ">Tanzania</option>
									<option value="TH">Thailand</option>
									<option value="TG">Togo</option>
									<option value="TK">Tokelau</option>
									<option value="TO">Tonga</option>
									<option value="TT">Trinidad and Tobago</option>
									<option value="TN">Tunisia</option>
									<option value="TR">Turkey</option>
									<option value="TM">Turkmenistan</option>
									<option value="TC">Turks and Caicos Islands</option>
									<option value="TV">Tuvalu</option>
									<option value="UG">Uganda</option>
									<option value="UA">Ukraine</option>
									<option value="AE">United Arab Emirates</option>
									<option value="GB">United Kingdom</option>
									<option value="UM">United States minor outlying islands</option>
									<option value="UY">Uruguay</option>
									<option value="UZ">Uzbekistan</option>
									<option value="VU">Vanuatu</option>
									<option value="VA">Vatican City State</option>
									<option value="VE">Venezuela</option>
									<option value="VN">Vietnam</option>
									<option value="VG">Virgin Islands (British)</option>
									<option value="VI">Virgin Islands (U.S.)</option>
									<option value="WF">Wallis and Futuna Islands</option>
									<option value="EH">Western Sahara</option>
									<option value="YE">Yemen</option>
									<option value="YU">Yugoslavia</option>
									<option value="ZR">Zaire</option>
									<option value="ZM">Zambia</option>
									<option value="ZW">Zimbabwe</option>
									<option value="PS">Palestine</option>
									<option value="ab">scotland </option>
									<option value="XW">Wales</option>

								</select>
                                <i class="fa fa-globe"></i>


                            </div>
                        </div>

                        <div class="text_first">
                            <textarea v-model="cntmessage" :placeholder="form.Message_Placeholder" id="ContentPlaceHolder1_txtmsg" class="txt_field01"></textarea>

                        </div>
                        <div class="send_btn">
                            <button class="send_btn01" v-on:click="sendcontactus">{{form.Button_label}}</button>
                            <!--input type="submit" class="send_btn01" value="Send message"-->
                        </div>


                    </div>
                </div>
                <div class="main_contact_address">
                    <div class="address">
                        <h5>{{form.Address_Title}}</h5>
                        <img src="images/location1.png">

                        <p>{{form.Address_Field}}</p>
                    </div>
                    <div class="phone">
                        <h5>{{form.Contact_Title}}</h5>
                        <img src="images/phone1.png">
                        <p>
                            {{form.Phone_subtitle}}<br> {{form.Phone_content}}
                        </p>
                    </div>
                    <div class="email">
                        <img src="images/mail1.png">
                        <p>
                            {{form.Mail_Title}}<br>
                            <a href="mailto:reservations@biscordint.com">{{form.Mail_Content}}</a>
                        </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="our_branches">
            <div class="container">
                <h6>{{title.Branches_Title}}</h6>
                <ul>

                    <li v-for="br in branches">
                        <div class="our_addrs">
                            <h4>{{br.SLNO}}</h4>
                            <p>{{br.Address}}</p>
                        </div>
                        <div class="our_numbers one">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p><span>{{br.PhoneLabel}}</span>{{br.PhoneNo}}</p>
                        </div>
                        <div class="our_numbers two">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <p><span>{{br.EmailLabel}}</span> <a href="mailto:reservations@biscordint.com">{{br.Email}}</a></p>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="location_map">
            <h4 class="round">{{title.LocationTitle}}</h4>
            <div class="map-container">
                <div id="map" style="width: 100%;height: 242px;"></div>
                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31651.238616530765!2d3.901757848392335!3d7.420370117468695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x99a2dd85962fb42b!2sBiscordint%20travel%20agency%20%26%20tours!5e0!3m2!1sen!2sin!4v1568701690958!5m2!1sen!2sin" width="100%" height="242" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
            </div>
        </div>
        

    </div>
    <footer :key="key">
			<partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>
    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/contactus.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKa_kynkfHmybgphNWerMjm8WLFrMc6kM&sensor=false"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>

</body>

</html>