<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="flightdeals" v-cloak>
        <div class="inner_banner">
            <div class="pageTitle cmn_head" v-show="getdata" :style="{ background: 'url(' + pagecontent.background_Image+ ')'}">
                <div class="container">
                    <h1><span>{{pagecontent.Title}}</span></h1>
                    <div class="breadcrumb_nav"><a href="/">{{pagecontent.Breadcrumb1}} --&gt;</a> <b>{{pagecontent.Breadcrumb2}}</b></div>
                </div>
            </div>
        </div>

        <!--End-banner-form-->
        <div class="package_area inner" v-show="getpackage">
            <div class="container">

                <div id="content" class="defaults">
                    <ul id="itemContainer" class="flight">


                        <li v-for="card in packages">
                            <a href="#" @click="getmoreinfo(card.More_details_page_link)">
                                <div class="hm_packages_area">
                                    <img width="100%" height="226px" :src="card.Image">
                                    <div class="hm_package_details"></div>
                                </div>
                            </a>
                            <div class="hm_holiday_name">
                                <h5>{{card.From}}</h5>
                                <h6>{{card.To}}</h6>
                            </div>
                            <div class="pkg_btn_area">
                                <h5><small>{{card.Starting_From_Label}}</small><br>{{ $n((getAmount(card.Price)/CurrencyMultiplier), 'currency', selectedCurrency) }}</h5>
                                <a class="book_btn" :href="card.BookNowUrl" target="blank">{{card.ButtonLabel}}</a>
                            </div>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/flightdeals.js"></script>

    <!-- Bootstrap JQUERY -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>



</body>

</html>