<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="tab_accordian/easy-responsive-tabs.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link href="/Biscordint/tab_accordian/easy-responsive-tabs.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="flightdealsdetails" v-cloak>
        <!-- banner-->
        <div class="inner_banner">
            <div class="pageTitle cmn_head" v-show="getdata" :style="{ background: 'url(' + pagecontent.Image+ ')'}">
                <div class="container">
                    <h1><span>{{pagecontent.Title}}</span></h1>
                    <div class="breadcrumb_nav"><a href="/">{{pagecontent.Breadcrum1}} --&gt;</a> <b>{{pagecontent.Breadcrumb2}}</b></div>
                </div>
            </div>
        </div>
        <!--End-banner-form-->
        <div class="outer_about">
            <div class="package_view">
                <div class="container">
                    <div class="package_view_left">
                        <h4>{{maincontent.Title}}</h4>
                        <div class="package_viewImg">
                            <img class="lazy" style="width:100%; display: inline;" alt="" :src="maincontent.Image">
                        </div>
                    </div>

                    <div class="package_right">
                        <div class="starting_area01">
                            <p class="strt"> {{maincontent.Starting_From_Label}} </p>
                            <p><span>{{ $n((getAmount(maincontent.Price)/CurrencyMultiplier), 'currency', selectedCurrency) }}</span></p>
                        </div>
                        <a class="starting_area02" :href="maincontent.BookNowUrl">
                            <p>{{maincontent.BookLabel}}<br>
                                <span>{{maincontent.NowLabel}}</span>
                            </p>
                        </a>
                        <div class="addthis_inline_share_toolbox_d7da"></div>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="thead">{{maincontent.DurationLabel}}</td>
                                    <td>
                                        <span class="days"><i class="fa fa-clock-o" aria-hidden="true"></i><strong>{{maincontent.Duration}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="thead">{{maincontent.FromLabel}}</td>
                                    <td>{{maincontent.From}}</td>
                                </tr>
                                <tr>
                                    <td class="thead">{{maincontent.ToLabel}}</td>
                                    <td>{{maincontent.To}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="call01">
                            <img src="/Biscordint/images/ph.png" alt="">
                            <p><span> {{maincontent.CallusLabel}} :</span>{{maincontent.CallNo}}</p>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <div class="outer_about">
            <div class="tabarea">
                <div class="container">
                    <div class="tabarea01">
                        <div id="parentVerticalTab" class="resp-vtabs hor_1">
                            <ul class="resp-tabs-list hor_1" style="margin-top: 3px;">
                                <li class="flight" v-for="items in overitems">
                                    <img :src="items.icons"> {{items.title}}
                                </li>

                            </ul>
                            <div class="resp-tabs-container hor_1 azr">
                                <div  v-for="items in overitems"  v-html="items.details"></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>
    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/FlightDealsDetails.js"></script>

    <!-- Bootstrap JQUERY -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script type="text/javascript" src="/Biscordint/highslide/highslide-with-gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="/Biscordint/highslide/highslide.css" />
    <script src="/Biscordint/tab_accordian/easyResponsiveTabs.js"></script>
    <!--
	2) Optionally override the settings defined at the top
	of the highslide.js file. The parameter hs.graphicsDir is important!
-->

    <script type="text/javascript">
        hs.graphicsDir = '/Biscordint/highslide/graphics/';
        hs.align = 'center';
        hs.transitions = ['expand', 'crossfade'];
        hs.wrapperClassName = 'dark borderless floating-caption';
        hs.fadeInOut = true;
        hs.dimmingOpacity = .75;

        // Add the controlbar
        if (hs.addSlideshow) hs.addSlideshow({
            //slideshowGroup: 'group1',
            interval: 5000,
            repeat: false,
            useControls: true,
            fixedControls: 'fit',
            overlayOptions: {
                opacity: .6,
                position: 'bottom center',
                hideOnMouseOut: true,
            }
        });
    </script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d89ab46e737f6c6"></script>
</body>

</html>