<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="tab_accordian/easy-responsive-tabs.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="Packageinfo">
        <!-- banner-->
        <div class="inner_banner">
            <div class="pageTitle cmn_head" :style="{ backgroundImage: 'url(\'' + pageContent.Common_image + '\')' }">
                <div class="container" v-cloak>
                    <h1><span>{{pageContent.Inner_page_title}}</span></h1>
                    <div class="breadcrumb_nav"><a href="/">{{pageContent.inner_BreadcrumbPath1}} --&gt;</a>
                        <b>{{pageContent.inner_BreadcrumbPath2}}</b></div>
                </div>
            </div>
        </div>
        <!--End-banner-form-->
        <div class="outer_about">
            <div class="package_view">
                <div class="container">
                    <div class="package_view_left">
                        <h4 v-cloak>{{Package.Subtitle}}</h4>
                        <div class="package_viewImg">
                            <img class="lazy" style="width: 100%; display: inline;" alt="" :src="Package.Image">
                        </div>
                    </div>

                    <div class="package_right" v-cloak>
                        <div class="starting_area01">
                            <p class="strt">{{pagelabel.starting_from_label}} </p>
                            <p><span>{{ $n((getAmount(Package.Price)/CurrencyMultiplier), 'currency', selectedCurrency) }}</span></p>
                        </div>
                        <a class="starting_area02" href="#" @click="bookNow">
                            <p>
                                {{pagelabel.booknow_label_1}}<br>
                                <span>{{pagelabel.booknow_label_2}}</span>
                            </p>
                        </a>
                        <div class="addthis_inline_share_toolbox_d7da"></div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="thead">{{pagelabel.Duration_label}}</td>
                                    <td>
                                        <span class="days"><i class="fa fa-sun-o"
                                                aria-hidden="true"></i><strong>{{Package.Days}} </strong></span>
                                        <span class="nights"><i class="fa fa-moon-o"
                                                aria-hidden="true"></i><strong>{{Package.Nights}}</strong></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="thead">{{pagelabel.Validity_label}}</td>
                                    <td>{{dateFormatter(Package.Validity_From)}} to {{dateFormatter(Package.Validity_To)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="thead">{{pagelabel.Region_label}}</td>
                                    <td>{{Package.Region}}</td>
                                </tr>
                                <tr>
                                    <td class="thead">{{pagelabel.Destination_label}}</td>
                                    <td>{{Package.Destination}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="call01">
                            <img src="../Biscordint/images/ph.png" alt="">
                            <p><span>{{pagelabel.Call_us_label}}</span> {{pagelabel.phone_number}}</p>
                        </div>
                        <!-- <div class="fbs" id="DetailDiv">

                            <p style="padding-left: 90px;">{{pagelabel.Share_on_text}}
                                <strong>{{pagelabel.facebook}}<strong></strong></strong></p><strong><strong>
                                </strong></strong>
                             <div><a rel="nofollow" title="Share this post on Facebook" onclick="FbApp_Login('Discover Greece (Athens &amp; Santorini)(5 Nights,6 Days)','http://www.biscordint.com/holiday-packages/discover-greece-athens-santorini','https://s3.ap-south-1.amazonaws.com/images.oneviewitsolutions.com/biscordint/10377.jpg','NO INFO','NGN680,000');"> <img src="/images/fb.png" alt="" style="margin-top: -44px;"> </a></div> 
                        </div> -->
                        <strong><strong>
                            </strong></strong>
                    </div>
                </div><strong><strong>
                    </strong></strong>
            </div>
        </div>
        <div class="outer_about" v-cloak>
            <div class="tabarea">
                <div class="container">
                    <div class="tabarea01">
                        <div id="parentVerticalTab" class="resp-vtabs hor_1">
                            <ul class="resp-tabs-list hor_1" style="margin-top: 3px;">
                                <li class="flight" v-for="tab in tabs">
                                    <img :src="tab.icons"> {{tab.title}} </li>
                            </ul>
                            <div class="resp-tabs-container hor_1 azr">
                                <div v-for="(tab,ind) in tabs" v-html="tab.details"></div>                               
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <footer :key="key">
            <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>
    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="../assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/holiday-packagesview.js"></script>


    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="tab_accordian/easyResponsiveTabs.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
    <link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d89ab46e737f6c6"></script>

    <!--
	2) Optionally override the settings defined at the top
	of the highslide.js file. The parameter hs.graphicsDir is important!
-->

    <!-- <script type="text/javascript">
        hs.graphicsDir = '/highslide/graphics/';
        hs.align = 'center';
        hs.transitions = ['expand', 'crossfade'];
        hs.wrapperClassName = 'dark borderless floating-caption';
        hs.fadeInOut = true;
        hs.dimmingOpacity = .75;

        // Add the controlbar
        if (hs.addSlideshow) hs.addSlideshow({
            //slideshowGroup: 'group1',
            interval: 5000,
            repeat: false,
            useControls: true,
            fixedControls: 'fit',
            overlayOptions: {
                opacity: .6,
                position: 'bottom center',
                hideOnMouseOut: true,

            }
        });
    </script> -->
   
</body>

</html>