<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/tabs02.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-select-country.min.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <header>
        <headeritem></headeritem>
    </header>
    <div id="indexmain" v-cloak>
        <!-- banner-->
        <div class="banner">
            <h4>{{titleDetails.Title}}</h4>
            <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item" v-for="(banner,indx) in banner" :class="{ 'active': parseInt(indx) == 0 }">
                        <img :src="banner.Image" :alt="banner.Image_Name" style="width: 100%;">
                    </div>


                </div>
            </div> -->



            <div class="bannerForm">
                <div class="epower_form">
                    <div class="tabs animated-fade">
                        <div class="container">
                            <ul class="tab-links">
                                <li class="active" >
                                    <a href="#flight" id="flightTab">
                                        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="24.315163mm" height="24.321985mm" viewBox="0 0 24.315163 24.321985" version="1.1" id="svg8" inkscape:version="0.92.3 (2405546, 2018-03-11)" sodipodi:docname="flight.svg">
                                            <defs id="defs2"></defs>
                                            <sodipodi:namedview id="base" borderopacity="1.0" inkscape:pageopacity="0.0"
                                                inkscape:pageshadow="2" inkscape:zoom="1.979899" inkscape:cx="65.267465"
                                                inkscape:cy="-10.005229" inkscape:document-units="mm"
                                                inkscape:current-layer="layer1" showgrid="false"
                                                inkscape:pagecheckerboard="true" fit-margin-top="0" fit-margin-left="0"
                                                fit-margin-right="0" fit-margin-bottom="0" inkscape:window-width="1920"
                                                inkscape:window-height="1017" inkscape:window-x="-8"
                                                inkscape:window-y="-8" inkscape:window-maximized="1">
                                            </sodipodi:namedview>
                                            <metadata id="metadata5">
                                                <rdf:rdf>
                                                    <cc:work rdf:about="">
                                                        <dc:format>image/svg+xml</dc:format>
                                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage">
                                                        </dc:type>
                                                        <dc:title></dc:title>
                                                    </cc:work>
                                                </rdf:rdf>
                                            </metadata>
                                            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                                                transform="translate(-83.868552,-93.337565)">
                                                <path
                                                    d="m 85.096975,98.288273 2.669456,-2.799384 11.740888,2.89388 c 3.389831,-4.211157 6.222321,-5.86505 7.970131,-4.662839 2.25984,1.832034 -1.37796,5.687951 -4.23762,8.39536 l 2.74033,12.37871 -2.83482,1.98438 -5.197174,-9.11868 -4.582962,4.48847 1.039435,3.73251 -2.220609,2.07887 -3.401787,-4.63021 -4.913691,-3.63802 2.220611,-2.3151 c 1.212701,0.36212 2.425351,0.72441 3.638021,1.08664 l 4.488468,-4.6302 z"
                                                    id="path832" inkscape:connector-curvature="0"
                                                    sodipodi:nodetypes="ccccccccccccccccc"
                                                    style="opacity: 1; fill-opacity: 1; stroke: none; stroke-width: 0.264583; stroke-opacity: 1;">
                                                </path>
                                            </g>
                                        </svg>
                                        <span>{{formSearch.flightTab}}</span></a>
                                </li>
                                <li>
                                    <a href="#hotel"><svg xmlns:dc="http://purl.org/dc/elements/1.1/"
                                            xmlns:cc="http://creativecommons.org/ns#"
                                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                            xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                            width="24.315163mm" height="24.321985mm" viewBox="0 0 24.315163 24.321985"
                                            version="1.1" id="svg8" inkscape:version="0.92.3 (2405546, 2018-03-11)"
                                            sodipodi:docname="hotel.svg">
                                            <defs id="defs2"></defs>
                                            <sodipodi:namedview id="base" borderopacity="1.0" inkscape:pageopacity="0.0"
                                                inkscape:pageshadow="2" inkscape:zoom="3.959798" inkscape:cx="25.778117"
                                                inkscape:cy="6.3631908" inkscape:document-units="mm"
                                                inkscape:current-layer="layer1" showgrid="false"
                                                inkscape:pagecheckerboard="true" fit-margin-top="0" fit-margin-left="0"
                                                fit-margin-right="0" fit-margin-bottom="0" inkscape:window-width="1920"
                                                inkscape:window-height="1017" inkscape:window-x="-8"
                                                inkscape:window-y="-8" inkscape:window-maximized="1">
                                            </sodipodi:namedview>
                                            <metadata id="metadata5">
                                                <rdf:rdf>
                                                    <cc:work rdf:about="">
                                                        <dc:format>image/svg+xml</dc:format>
                                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage">
                                                        </dc:type>
                                                        <dc:title></dc:title>
                                                    </cc:work>
                                                </rdf:rdf>
                                            </metadata>
                                            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                                                transform="translate(-83.868552,-93.337565)">
                                                <circle id="path853" cx="91.569252" cy="103.54437" r="2.4889474"
                                                    style="opacity: 1; fill-opacity: 1; stroke: none; stroke-width: 0.264583; stroke-opacity: 1;">
                                                </circle>
                                                <rect id="rect855" width="3.2072344" height="15.301181" x="84.93763"
                                                    y="98.449554"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <rect id="rect857" width="19.109772" height="3.6415472" x="88.04464"
                                                    y="106.93536"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <rect id="rect859" width="3.1404185" height="3.0401866" x="104.01399"
                                                    y="110.57691"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <path
                                                    d="m 84.93763,98.449554 h 3.207237 l -0.100227,8.485806 h 19.10977 v 6.68174 h -3.14042 v -3.04019 H 88.04464 l 0.100227,3.17382 H 84.93763 Z"
                                                    id="path861" inkscape:connector-curvature="0"
                                                    style="opacity: 1; fill-opacity: 0; stroke: none; stroke-width: 0.264583; stroke-opacity: 1;">
                                                </path>
                                                <path sodipodi:type="inkscape:offset" inkscape:radius="0"
                                                    inkscape:original="M 84.9375 98.449219 L 84.9375 113.75 L 88.144531 113.75 L 88.144531 98.449219 L 84.9375 98.449219 z "
                                                    id="rect863"
                                                    d="M 84.9375,98.449219 V 113.75 h 3.207031 V 98.449219 Z"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583;"></path>
                                                <rect id="rect878" width="19.109772" height="3.3408699" x="88.04464"
                                                    y="106.93536"
                                                    style="opacity: 1; fill-opacity: 0; stroke: none; stroke-width: 0.253425; stroke-opacity: 1;">
                                                </rect>
                                                <path d="m 88.04464,106.93536 h 19.10977 v 3.34087 H 88.04464 Z"
                                                    id="path882" inkscape:connector-curvature="0"
                                                    style="opacity: 1; fill-opacity: 1;"></path>
                                                <path d="m 104.0258,109.58472 -0.0118,4.03238 h 3.14042 v -4.07586 z"
                                                    id="path884" inkscape:connector-curvature="0"
                                                    sodipodi:nodetypes="ccccc"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.264583;"></path>
                                                <path
                                                    d="m 94.960237,101.02202 0.06682,5.01131 11.759853,0.0334 c 0,0 0.53454,-0.26727 0.23386,-1.45327 -0.30067,-1.18601 -1.36975,-3.47451 -3.97563,-3.52462 -2.60588,-0.0501 -8.084901,-0.0668 -8.084901,-0.0668 z"
                                                    id="path886" inkscape:connector-curvature="0"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.264583;"></path>
                                            </g>
                                        </svg>
                                        <span>{{formSearch.hotelTab}}</span></a>
                                </li>
                                <li>
                                    <a href="#car">
                                        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="24.315163mm" height="24.321985mm" viewBox="0 0 24.315163 24.321985" version="1.1" id="svg8" inkscape:version="0.92.3 (2405546, 2018-03-11)" sodipodi:docname="car.svg">
                                            <defs id="defs2"></defs>
                                            <sodipodi:namedview id="base" borderopacity="1.0" inkscape:pageopacity="0.0"
                                                inkscape:pageshadow="2" inkscape:zoom="7.9195959"
                                                inkscape:cx="40.567222" inkscape:cy="51.664274"
                                                inkscape:document-units="mm" inkscape:current-layer="layer1"
                                                showgrid="false" inkscape:pagecheckerboard="true" fit-margin-top="0"
                                                fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0"
                                                inkscape:window-width="1920" inkscape:window-height="1017"
                                                inkscape:window-x="-8" inkscape:window-y="-8"
                                                inkscape:window-maximized="1"></sodipodi:namedview>
                                            <metadata id="metadata5">
                                                <rdf:rdf>
                                                    <cc:work rdf:about="">
                                                        <dc:format>image/svg+xml</dc:format>
                                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage">
                                                        </dc:type>
                                                        <dc:title></dc:title>
                                                    </cc:work>
                                                </rdf:rdf>
                                            </metadata>
                                            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                                                transform="translate(-83.868552,-93.337565)">
                                                <rect id="rect855" width="3.2072344" height="15.301181" x="84.93763"
                                                    y="98.449554"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <rect id="rect857" width="19.109772" height="3.6415472" x="88.04464"
                                                    y="106.93536"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <rect id="rect859" width="3.1404185" height="3.0401866" x="104.01399"
                                                    y="110.57691"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <path
                                                    d="m 84.93763,98.449554 h 3.207237 l -0.100227,8.485806 h 19.10977 v 6.68174 h -3.14042 v -3.04019 H 88.04464 l 0.100227,3.17382 H 84.93763 Z"
                                                    id="path861" inkscape:connector-curvature="0"
                                                    style="opacity: 1; fill-opacity: 0; stroke: none; stroke-width: 0.264583; stroke-opacity: 1;">
                                                </path>
                                                <rect id="rect878" width="19.109772" height="3.3408699" x="88.04464"
                                                    y="106.93536"
                                                    style="opacity: 1; fill-opacity: 0; stroke: none; stroke-width: 0.253425; stroke-opacity: 1;">
                                                </rect>
                                                <path
                                                    d="m 93.631457,98.364248 c -0.783016,-0.002 -1.40248,-0.003 -1.661397,0.002 -1.03567,0.0167 -1.60352,0.51779 -1.60352,0.51779 l -2.321822,2.188502 c 0,0 -0.150405,-0.36751 -0.250631,-0.7183 -0.100226,-0.35079 -0.952217,-0.26731 -1.586983,-0.15038 -0.634766,0.11693 -0.801449,0.50088 -0.600997,1.05213 0.200452,0.55124 1.102259,0.81856 1.102259,0.81856 l 0.116788,0.017 c 0,0 -0.317179,0.35058 -1.20251,1.20251 -0.88533,0.85192 -0.985486,2.17134 -1.035596,2.43861 -0.05012,0.26727 -0.01687,1.78728 0.01654,2.99 0.03341,1.20271 0.818554,1.65416 0.818554,1.65416 0,0 -0.03342,0.51749 -0.05013,1.3193 -0.0167,0.80181 1.002523,0.80202 1.002523,0.80202 0,0 1.102106,0.0169 1.837097,0.0336 0.73499,0.0167 0.768429,-0.68523 0.768429,-0.68523 l 0.03359,-0.83509 h 0.166915 l 13.564024,-0.0667 c 0,0 0.0167,-0.11724 0.0501,0.8015 0.0334,0.91874 0.93534,0.81855 0.93534,0.81855 0,0 0.91905,-2e-5 1.82108,-0.0501 0.90202,-0.0501 0.83509,-0.98547 0.83509,-0.98547 l -0.0336,-1.21957 c 0,0 0.017,0.0168 0.48472,-0.41754 0.46772,-0.43431 0.40087,-1.73735 0.46767,-2.97347 0.0668,-1.23612 -0.2006,-2.13806 -0.60151,-2.93987 -0.4009,-0.80181 -1.73736,-1.83709 -1.73736,-1.83709 0,0 0.26737,-0.10057 1.06918,-0.63511 0.80181,-0.53454 0.0668,-1.1524 -0.15037,-1.25263 -0.21716,-0.10023 -1.11927,-0.1502 -1.63711,-0.11679 -0.51782,0.0334 -0.48421,0.86816 -0.48421,0.86816 0,0 -1.67053,-1.586952 -2.30529,-2.104782 -0.63477,-0.51783 -1.653629,-0.50075 -1.653629,-0.50075 0,0 -3.824226,-0.0281 -6.173274,-0.0351 z m -1.661397,0.9369 c 0.801808,0 7.784541,0.017 7.784541,0.017 0,0 0.517559,-0.0337 0.951869,0.38396 0.43431,0.417612 2.99052,2.756422 2.99052,2.756422 l -15.501893,-0.017 2.538863,-2.572462 c 0,0 0.434291,-0.56792 1.2361,-0.56792 z m -5.251359,4.812622 c 0.241755,0.004 0.487755,0.0602 0.700732,0.1416 0.56795,0.21715 1.736845,1.16892 1.736845,1.16892 0.45102,0.33409 0.835486,1.0527 -0.283703,1.25315 -1.119191,0.20045 -2.472338,0.11687 -3.023588,-0.25063 -0.55124,-0.36749 -0.467416,-1.15273 -0.133326,-1.78749 0.208807,-0.39673 0.600114,-0.53256 1.00304,-0.52555 z m 18.362699,0.007 c 0.0806,-10e-4 0.16096,0.003 0.23926,0.014 0.31321,0.0438 0.59828,0.19422 0.76533,0.5116 0.33409,0.63476 0.41636,1.41948 -0.13488,1.78697 -0.55125,0.3675 -1.90388,0.45263 -3.02307,0.25218 -1.11919,-0.20045 -0.73421,-0.9201 -0.28319,-1.25419 0,0 1.16838,-0.9528 1.73633,-1.16995 0.21298,-0.0814 0.45851,-0.13647 0.70022,-0.14056 z m -14.213599,1.52807 c 0.551243,0 9.955979,0.0165 9.955979,0.0165 0,0 0.41752,-0.0168 0.31729,0.36742 -0.10022,0.3842 -0.23408,1.45336 -0.85214,1.68723 -0.618049,0.23386 -8.235154,0.16692 -8.235154,0.16692 0,0 -0.768327,0.0336 -1.035596,-0.48421 -0.26727,-0.51783 -0.467672,-1.35289 -0.467672,-1.35289 0,0 -0.233951,-0.40101 0.317293,-0.40101 z m -4.034895,2.38694 c 0.66713,0.007 1.662947,0.0351 1.662947,0.0351 0,0 0.200558,0.05 0.40101,0.31729 0.200451,0.26727 1.369425,1.45314 1.369425,1.45314 0,0 0.150414,0.18397 -0.36742,0.18397 -0.517835,0 -2.588989,-0.0336 -2.588989,-0.0336 0,0 -0.668437,2.4e-4 -1.002523,-0.43408 -0.334087,-0.43431 -0.25063,-1.10278 -0.25063,-1.10278 0,0 -0.13322,-0.40084 0.267684,-0.41754 0.100226,-0.004 0.286119,-0.004 0.508496,-0.002 z m 18.125504,0.0434 c 0.22237,-0.002 0.40827,-0.003 0.50849,0.002 0.4009,0.0167 0.26717,0.41755 0.26717,0.41755 0,0 0.0835,0.66846 -0.25063,1.10277 -0.33408,0.43432 -1.00201,0.43409 -1.00201,0.43409 0,0 -2.07167,0.0336 -2.5895,0.0336 -0.51783,0 -0.36742,-0.18397 -0.36742,-0.18397 0,0 1.16949,-1.18587 1.36994,-1.45314 0.20045,-0.26728 0.40101,-0.3173 0.40101,-0.3173 0,0 0.99582,-0.0281 1.66295,-0.0351 z m -9.052156,0.51987 c 2.236295,0.002 4.432796,0.006 4.432796,0.006 0,0 0.5181,-0.0331 0.38447,0.38447 -0.13364,0.41761 -0.585,0.88524 -0.68522,0.93535 -0.100219,0.0501 -0.166739,0.13348 -0.801499,0.11678 -0.634765,-0.0167 -7.049183,-0.0331 -7.049183,-0.0331 0,0 -0.518006,-0.0171 -0.65164,-0.26768 -0.133635,-0.25056 -0.434082,-0.81856 -0.434082,-0.81856 0,0 -0.184057,-0.30059 0.133325,-0.31729 0.158691,-0.008 2.434737,-0.008 4.671033,-0.006 z"
                                                    id="path899" inkscape:connector-curvature="0"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.264583;"></path>
                                            </g>
                                        </svg>
                                        <span>{{formSearch.carTab}}</span></a>
                                </li>
                                <li>
                                    <a href="#evisa">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 19.8 19.9" enable-background="new 0 0 19.8 19.9" xml:space="preserve"> <g> <path d="M16.1,1.6h-0.7c0.8,0.7,1.3,1.6,1.3,2.6v12.4c0,1-0.5,1.9-1.3,2.6h0.7c1.6,0,3-1.2,3-2.6V4.2 C19.1,2.8,17.7,1.6,16.1,1.6z"/> <path d="M4.9,8.3h1.1c0.1-0.8,0.2-1.5,0.5-2.1C5.7,6.7,5.1,7.4,4.9,8.3z"/> <path d="M8.4,5.8c-0.4,0-1,1-1.2,2.6h2.3C9.4,6.7,8.8,5.8,8.4,5.8z"/> <path d="M8.4,11.9c0.4,0,1-1,1.2-2.6H7.3C7.4,11,8,11.9,8.4,11.9z"/> <path d="M10.3,6.2c0.3,0.6,0.4,1.3,0.5,2.1h1.1C11.7,7.4,11.1,6.7,10.3,6.2z"/> <path d="M10.3,11.5c0.9-0.5,1.5-1.2,1.6-2.1h-1.1C10.7,10.1,10.5,10.9,10.3,11.5z"/> <path d="M15.5,4.2c0-1.4-1.3-2.6-3-2.6H4.3c-1.6,0-3,1.2-3,2.6v12.4c0,1.4,1.3,2.6,3,2.6h8.3c1.6,0,3-1.2,3-2.6V4.2 z M10.2,17.1H6.6c-0.3,0-0.6-0.2-0.6-0.5c0-0.3,0.3-0.5,0.6-0.5h3.6c0.3,0,0.6,0.2,0.6,0.5C10.8,16.9,10.5,17.1,10.2,17.1z M11.4,15H5.5c-0.3,0-0.6-0.2-0.6-0.5c0-0.3,0.3-0.5,0.6-0.5h5.9c0.3,0,0.6,0.2,0.6,0.5C12,14.8,11.7,15,11.4,15z M8.4,13 c-2.6,0-4.7-1.8-4.7-4.1s2.1-4.1,4.7-4.1s4.7,1.8,4.7,4.1S11,13,8.4,13z"/> <path d="M4.9,9.4c0.2,0.9,0.8,1.6,1.6,2.1c-0.3-0.6-0.4-1.3-0.5-2.1H4.9z"/> </g> </svg>
                                        <span>E-Visa</span></a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#insurance"><svg
                                            xmlns:dc="http://purl.org/dc/elements/1.1/"
                                            xmlns:cc="http://creativecommons.org/ns#"
                                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                            xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                            width="24.315163mm" height="24.321985mm" viewBox="0 0 24.315163 24.321985"
                                            version="1.1" id="svg8" inkscape:version="0.92.3 (2405546, 2018-03-11)"
                                            sodipodi:docname="insurance.svg">
                                            <defs id="defs2"></defs>
                                            <sodipodi:namedview id="base" borderopacity="1.0" inkscape:pageopacity="0.0"
                                                inkscape:pageshadow="2" inkscape:zoom="5.6568543"
                                                inkscape:cx="-7.5219158" inkscape:cy="42.291369"
                                                inkscape:document-units="mm" inkscape:current-layer="layer1"
                                                showgrid="false" inkscape:pagecheckerboard="true" fit-margin-top="0"
                                                fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0"
                                                inkscape:window-width="1920" inkscape:window-height="1017"
                                                inkscape:window-x="-8" inkscape:window-y="-8"
                                                inkscape:window-maximized="1"></sodipodi:namedview>
                                            <metadata id="metadata5">
                                                <rdf:rdf>
                                                    <cc:work rdf:about="">
                                                        <dc:format>image/svg+xml</dc:format>
                                                        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage">
                                                        </dc:type>
                                                        <dc:title></dc:title>
                                                    </cc:work>
                                                </rdf:rdf>
                                            </metadata>
                                            <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1"
                                                transform="translate(-83.868552,-93.337565)">
                                                <rect id="rect855" width="3.2072344" height="15.301181" x="84.93763"
                                                    y="98.449554"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <rect id="rect857" width="19.109772" height="3.6415472" x="88.04464"
                                                    y="106.93536"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <rect id="rect859" width="3.1404185" height="3.0401866" x="104.01399"
                                                    y="110.57691"
                                                    style="fill-rule: evenodd; stroke-width: 0.264583; fill-opacity: 0;">
                                                </rect>
                                                <path
                                                    d="m 84.93763,98.449554 h 3.207237 l -0.100227,8.485806 h 19.10977 v 6.68174 h -3.14042 v -3.04019 H 88.04464 l 0.100227,3.17382 H 84.93763 Z"
                                                    id="path861" inkscape:connector-curvature="0"
                                                    style="opacity: 1; fill-opacity: 0; stroke: none; stroke-width: 0.264583; stroke-opacity: 1;">
                                                </path>
                                                <rect id="rect878" width="19.109772" height="3.3408699" x="88.04464"
                                                    y="106.93536"
                                                    style="opacity: 1; fill-opacity: 0; stroke: none; stroke-width: 0.253425; stroke-opacity: 1;">
                                                </rect>
                                                <path
                                                    d="m 102.1059,95.925919 c -0.004,-0.01758 0.47092,0.523255 0.68378,1.427073 0.16632,0.706217 -0.25363,0.878725 -0.58928,0.911655 -0.54775,-0.02399 -1.19572,-0.500792 -0.0945,-2.338728 z"
                                                    id="path1049" inkscape:connector-curvature="0"
                                                    sodipodi:nodetypes="cscc"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.264583;"></path>
                                                <path
                                                    d="m 104.79243,97.308205 c -0.005,-0.02193 0.58744,0.652724 0.85297,1.780174 0.20747,0.880957 -0.31639,1.096151 -0.73509,1.137231 -0.68328,-0.0299 -1.49157,-0.624708 -0.11788,-2.917405 z"
                                                    id="path1049-9" inkscape:connector-curvature="0"
                                                    sodipodi:nodetypes="cscc"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.330049;"></path>
                                                <rect id="rect1066" width="1.2695302" height="17.205477" x="95.027054"
                                                    y="97.113205" ry="0.63476509"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.264583;"></rect>
                                                <path
                                                    d="M 44.003906 18.183594 A 42.110736 42.110736 0 0 0 2.9941406 51.193359 A 12.690041 12.690041 0 0 1 12.248047 47.164062 A 12.690041 12.690041 0 0 1 23.306641 53.660156 A 12.690041 12.690041 0 0 1 34.21875 47.416016 A 12.690041 12.690041 0 0 1 44.892578 53.244141 A 12.690041 12.690041 0 0 1 55.496094 47.478516 A 12.690041 12.690041 0 0 1 65.851562 52.863281 A 14.773481 14.773481 0 0 1 76.898438 47.857422 A 14.773481 14.773481 0 0 1 84.859375 50.205078 A 42.110736 42.110736 0 0 0 44.003906 18.183594 z "
                                                    transform="matrix(0.26458333,0,0,0.26458333,83.868552,93.337565)"
                                                    id="path1070"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 1.02615;"></path>
                                                <path
                                                    d="m 95.026584,113.73229 c 0.194097,1.43998 1.422945,2.55304 2.909959,2.55736 1.622032,0.005 2.937077,-1.31141 2.937177,-2.93979 -0.0227,-0.61638 -0.41038,-0.71909 -0.72534,-0.71748 -0.657763,-0.0351 -0.593572,0.69206 -0.614047,0.69714 0.02482,0.74723 -0.745225,1.66821 -1.664192,1.66545 -0.724484,-0.002 -1.463377,-0.43971 -1.575382,-1.17347 -0.0093,-0.80736 -0.346853,-0.12357 -0.474018,-0.33768 -0.275639,-0.4641 -0.207748,-0.41493 -0.394544,0.18015 -0.05648,0.17993 -0.42394,-0.22173 -0.399613,0.0683 z"
                                                    id="path1113" inkscape:connector-curvature="0"
                                                    sodipodi:nodetypes="cccccccssc"
                                                    style="opacity: 1; fill-opacity: 1; stroke-width: 0.23719;"></path>
                                            </g>
                                        </svg>
                                        <span>{{formSearch.insuranceTab}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content bg_shade">
                            <div class="container">
                                <div id="flight" class="tab active">
                                    <!---->
                                    <div class="multi_shadow" v-if="triptype=='M'" v-on:click="clickoutside" v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                                    </div>
                                    <div class="multicity" v-if="triptype =='M'" v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                                        <!--multi city section-->
                                        <div class="multiSection">
                                            <i class="fa fa-times-circle close" v-on:click="clickoutside"></i>
                                            <label>Trip 1</label>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="1">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtLeg1Date" class="calendarSec1" placeholder="Departing" readonly>
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--multi city section close-->
                                        <!--multi city section-->
                                        <div class="multiSection">
                                            <label>Trip 2</label>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="2">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="2">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtLeg2Date" class="calendarSec1" placeholder="Departing" readonly>
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--multi city section close-->
                                        <!--multi city section-->
                                        <div class="multiSection" v-if="(legcount>2)">
                                            <i class="fa fa-times-circle close" v-if="legcount==3" v-on:click="DeleteLeg(3)"></i>
                                            <label>Trip 3</label>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="3">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="3">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec">
                                                    <input type="text" class="calendarSec1" id="txtLeg3Date" placeholder="Departing" readonly>
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--multi city section close-->
                                        <!--multi city section-->
                                        <div class="multiSection" v-if="(legcount>3)">
                                            <i class="fa fa-times-circle close" v-if="legcount==4" v-on:click="DeleteLeg(4)"></i>
                                            <label>Trip 4</label>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="4">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="4">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtLeg4Date" class="calendarSec1" placeholder="Departing" readonly>
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--multi city section close-->
                                        <!--multi city section-->
                                        <div class="multiSection" v-if="(legcount>4)">
                                            <i class="fa fa-times-circle close" v-if="legcount==5" v-on:click="DeleteLeg(5)"></i>
                                            <label>Trip 5</label>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="5">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="5">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtLeg5Date" class="calendarSec1" placeholder="Departing" readonly>
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--multi city section close-->
                                        <!--multi city section-->
                                        <div class="multiSection" v-if="(legcount>5)">
                                            <i class="fa fa-times-circle close" v-if="legcount==6" v-on:click="DeleteLeg(6)"></i>
                                            <label>Trip 6</label>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="6">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="6">
                                                </flightserch>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec">
                                                    <input type="text" id="txtLeg6Date" class="calendarSec1" placeholder="Departing" readonly>
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!--multi city section close-->

                                        <div class="add_flight" v-if="legcount!=6" v-cloak>Add up to {{6-legcount}} flights
                                            <i class="fa fa-plus-circle" v-on:click="AddNewLeg();"></i></div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                            <div class="travellerSec">
                                                <div class="travellercout" v-cloak v-on:click="travellerdisplymul = !travellerdisplymul">{{Totaltravaller}}
                                                </div>
                                                <div class="travellerOptions" v-show="travellerdisplymul">
                                                    <div class="passenger_area">
                                                        <p>Adults (12+)</p>
                                                        <div class="pass_click">
                                                            <a v-on:click="setpaxcount('adt','minus')"><i
                                                                    class="fa fa-minus-square"></i></a>
                                                            <span v-cloak>{{selected_adults}}</span>
                                                            <a v-on:click="setpaxcount('adt','plus')"><i
                                                                    class="fa fa-plus-square"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="passenger_area">
                                                        <p>Children (2-12)</p>
                                                        <div class="pass_click">
                                                            <a v-on:click="setpaxcount('chd','minus')"><i
                                                                    class="fa fa-minus-square"></i></a>
                                                            <span>{{selected_children}}</span>
                                                            <a v-on:click="setpaxcount('chd','plus')"><i
                                                                    class="fa fa-plus-square"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="passenger_area">
                                                        <p>Infant (0-2)</p>
                                                        <div class="pass_click">
                                                            <a v-on:click="setpaxcount('inf','minus')"><i
                                                                    class="fa fa-minus-square"></i></a>
                                                            <span>{{selected_infant}}</span>
                                                            <a v-on:click="setpaxcount('inf','plus')"><i
                                                                    class="fa fa-plus-square"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="classtype_area">
                                                        <div class="classsec_area">
                                                            <input type="radio" id="radio-btn-12" value="Y" v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                                            <label for="radio-btn-12">Economy</label>
                                                        </div>
                                                        <div class="classsec_area">
                                                            <input type="radio" value="C" v-model="selected_cabin" id="radio-btn-03" v-on:change="setpaxcount" name="radio-btns">
                                                            <label for="radio-btn-03">Business</label>
                                                        </div>
                                                        <div class="classsec_area">
                                                            <input type="radio" id="radio-btn-04" value="F" v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                                            <label for="radio-btn-04">First Class</label>
                                                        </div>
                                                    </div>
                                                    <div class="closeDropdown">
                                                        <span class="closeBtn closeLink" v-on:click="travellerdisplymul = !travellerdisplymul">Done</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 padding5">
                                            <button class="flightSearch" v-on:click="MultiSearchFlight" v-cloak>{{formSearch.buttonLabel}}</button>
                                        </div>

                                    </div>
                                    <!---->
                                    <div class="oneway_btn">
                                        <div class="traveltype flx_sec">
                                            <div class="bt"><input type="radio" value="O" v-model="triptype" id="radio-btn-1" name="triptype" checked="checked"> <label for="radio-btn-1">{{formSearch.oneWay}}</label></div>
                                            <div class="bt"><input type="radio" value="R" v-model="triptype" id="radio-btn-2" name="triptype"> <label for="radio-btn-2">{{formSearch.roundTrip}}</label></div>
                                            <div class="bt"><input type="radio" value="M" v-model="triptype" id="radio-btn-3" name="triptype"> <label for="radio-btn-3">{{formSearch.multiCity}}</label></div>
                                        </div>
                                        <!-- <div class="checkAreaform flexibleSec">
                                            My Dates are Flexible! <input type="checkbox" id="radio-btn-8"> <label
                                                for="radio-btn-8">(-/+ 3 days)</label></div> -->
                                    </div>
                                    <div class="flightForm_sec flx_sec">
                                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 padding5">
                                            <div class="autocomplete flightauto">
                                                <flightserch id="Cityfrom1" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 padding5">
                                            <div class="autocomplete flightauto">
                                                <flightserch id="Cityto1" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="0"></flightserch>
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec"><input type="text" id="deptDate01" :placeholder="formSearch.flightDatePlaceholderD" readonly="readonly" class="calendarSec1"> <i class="fa fa-calendar"></i></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5" v-if="triptype !='M'" v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                                                <div class="calendarSec"><input type="text" :disabled="triptype == 'O'" id="retDate" :placeholder="formSearch.flightDatePlaceholderR" readonly="readonly" class="calendarSec1 "> <i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                                            <div class="travellerSec">
                                                <div class="travellercout" v-cloak v-on:click="travellerdisply = !travellerdisply">{{Totaltravaller}}
                                                </div>
                                                <div class="travellerOptions" v-show="travellerdisply">
                                                    <div class="passenger_area">
                                                        <p>{{formSearch.adults}}</p>
                                                        <div class="pass_click"><a v-on:click="setpaxcount('adt','minus')"><i
                                                                    class="fa fa-minus-square"></i></a>
                                                            <span>{{selected_adults}}</span>
                                                            <a v-on:click="setpaxcount('adt','plus')"><i
                                                                    class="fa fa-plus-square"></i></a></div>
                                                    </div>
                                                    <div class="passenger_area">
                                                        <p>{{formSearch.children}}</p>
                                                        <div class="pass_click"><a v-on:click="setpaxcount('chd','minus')"><i
                                                                    class="fa fa-minus-square"></i></a>
                                                            <span>{{selected_children}}</span>
                                                            <a v-on:click="setpaxcount('chd','plus')"><i
                                                                    class="fa fa-plus-square"></i></a></div>
                                                    </div>
                                                    <div class="passenger_area">
                                                        <p>{{formSearch.infants}}</p>
                                                        <div class="pass_click"><a v-on:click="setpaxcount('inf','minus')"><i
                                                                    class="fa fa-minus-square"></i></a>
                                                            <span>{{selected_infant}}</span>
                                                            <a v-on:click="setpaxcount('inf','plus')"><i
                                                                    class="fa fa-plus-square"></i></a></div>
                                                    </div>
                                                    <div class="classtype_area">
                                                        <div class="classsec_area"><input type="radio" id="radio-btn-02" value="Y" v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                                            <label for="radio-btn-02" v-on:change="setpaxcount">{{formSearch.economy}}</label>
                                                        </div>
                                                        <div class="classsec_area"><input type="radio" value="C" v-model="selected_cabin" id="radio-btn-03" name="radio-btns" v-on:change="setpaxcount"> <label for="radio-btn-03">{{formSearch.business}}</label></div>
                                                        <div class="classsec_area"><input type="radio" id="radio-btn-04" value="F" v-model="selected_cabin" name="radio-btns" v-on:change="setpaxcount"> <label for="radio-btn-04">{{formSearch.first}}</label></div>
                                                    </div>
                                                    <div class="closeDropdown">
                                                        <span class="closeBtn closeLink" v-on:click="travellerdisply = !travellerdisply">Done</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                                            <div class="searchButton flghtbtn"><button v-on:click="SearchFlight">{{formSearch.buttonLabel}}</button></div>
                                        </div>
                                    </div>

                                </div>
                                <div id="hotel" class="tab">
                                    <hotel-search inline-template :key="hotelInit">
                                        <div>
                                            <div class="flightForm_sec flx_sec">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                                    <input id="txtCity" type="text" class="formtxt ui-autocomplete-input" :placeholder="Hotel_city_placeholder" autocomplete="off" v-model="keywordSearch" @input="onKeyUpAutoCompleteEvent(keywordSearch)" @keydown.down="down" @keydown.up="up" @keydown.tab="isCompleted=false"
                                                        @keydown.esc="isCompleted=false" @keydown.enter="updateResults(autoCompleteResult[highlightIndex])" @click="onClickAutoCompleteEvent">
                                                    <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                                    <ul ref="searchautocomplete" class="autocomplete-results" v-if="isCompleted&&autoCompleteResult.length!=0">
                                                        <li ref="options" :class="{'autocomplete-result-active' : index == highlightIndex}" class="autocomplete-result" v-for="(item,index) in autoCompleteResult" :key="index" @click="updateResults(item)" v-cloak>
                                                            {{ item.label }}
                                                        </li>
                                                    </ul>
                                                    <!---->
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                        <div class="calendarSec">
                                                            <input type="text" id="txtCheckInDate" v-model="checkIn" placeholder="checkin" readonly="readonly" class="calendarSec1">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                        <div class="calendarSec">
                                                            <input type="text" id="txtCheckOutDate" v-model="checkOut" placeholder="checkout" readonly="readonly" class="calendarSec1">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding custom-traveller padding0">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding5">
                                                        <div class="kmsliderSec">
                                                            <label class="within_sec">{{Search_range_label}}</label>
                                                            <div id="rangeSlider"></div>
                                                            <label id="slider-step-value" v-cloak>{{KMrange}}
                                                                {{rangeLabel}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                                                    <div class="travellerSecHtl">
                                                        <div class="travellercoutHtl" v-on:click="showroom = !showroom">
                                                            <input :value="numberOfRooms+' '+(numberOfRooms>1?roomsLabel:roomLabel)" type="button" class="form-control txtelips">
                                                        </div>
                                                        <div class="travellerOptions" v-show="showroom">
                                                            <div class="classtype_area">
                                                                <div id="travelRoundtrip">
                                                                    <div class="travelDropdown"></div>
                                                                </div>
                                                                <div class="classSec">
                                                                    <label class="htl_advc" v-cloak>{{roomLabel}}</label>
                                                                    <div class="custom-select-htl">
                                                                        <select v-model.number="numberOfRooms" id="classType">
                                                                            <option v-for="(room, index) in 5"
                                                                                :key="index" :value="index+1">
                                                                                {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="classSec">
                                                                    <label class="htl_advc">Nationality</label>
                                                                    <div class="custom-select-htl">
                                                                        <select id="classType" v-model="nationality">
                                                                            <option :value="item.code"
                                                                                v-for="(item, index) in countries"
                                                                                :key="index">{{item.name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="classSec">
                                                                    <label class="htl_advc">Country of
                                                                        Residency</label>
                                                                    <div class="custom-select-htl">
                                                                        <select id="classType" v-model="countryOfResidence">
                                                                            <option :value="item.code"
                                                                                v-for="(item, index) in countries"
                                                                                :key="index">{{item.name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="closeDropdown">
                                                                    <span class="closeBtn closeLink" v-on:click="showroom = !showroom">Done</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hotel-rooms :child-label="childLabel" :children-label="childrenLabel" :adult-label="adultLabel" :adults-label="adultsLabel" :age-label="ageLabel" :ages-label="agesLabel" :room-label="roomLabel" v-for="(room, index) in parseInt(numberOfRooms)" :key="index"
                                                    :room-id="index" @get-room-details="getRoomDetails" inline-template>
                                                    <div class="hotlsSec flx_sec ar_direction">
                                                        <div class="col-md-4 col-sm-12 padding5">
                                                            <span class="rooms" v-cloak><i class="fa fa-bed"
                                                                    aria-hidden="true"></i>{{roomLabel}}
                                                                {{roomId+1}}</span>

                                                        </div>
                                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding5">
                                                            <div class="form_sec en_dwn_htl">
                                                                <select class="form-control" v-model.number="selectedAdults">
                                                                    <option v-for="(adult, index) in adults"
                                                                        :value="adult.value" v-cloak>{{adult.value}}
                                                                        {{adult.value==1? adultLabel: adultsLabel}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding5">
                                                            <div class="form_sec en_dwn_htl">
                                                                <select class="form-control" v-model.number="selectedChildren">
                                                                    <option v-for="(child, index) in children"
                                                                        :value="child.value" v-cloak>{{child.value}}
                                                                        {{child.value==1? childLabel: childrenLabel}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div v-for="(selectedChild, index) in parseInt(selectedChildren)" :key="index" class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage padding5">
                                                            <div class="form_sec en_dwn_htl">
                                                                <select class="form-control" v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                                                    <option v-for="(childAge, index) in childrenAges"
                                                                        :value="childAge.value" v-cloak>
                                                                        {{childAge.value}}
                                                                        {{childAge.value==1? ageLabel: agesLabel}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </hotel-rooms>
                                            </div>
                                            <div class="searchButton">
                                                <button type="submit" class="search-button" @click="searchHotels" v-cloak>{{searchBtnLabel.toUpperCase()}}</button>
                                            </div>
                                        </div>
                                    </hotel-search>
                                </div>
                                <div id="car" class="tab">
                                    <div class="flightForm_sec flx_sec">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                                            <div class="autocomplete flightauto"><input type="text" :placeholder="formSearch.carStartingLocation" id="txtcarpickup" data-aircode="txtcarpickup" autocomplete="off" class="formtxt hide-loading-circle">
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                                            <div class="autocomplete flightauto"><input type="text" :placeholder="formSearch.carDropoffLocation" id="txtcardropoff" data-aircode="txtcardropoff" autocomplete="off" class="formtxt hide-loading-circle">
                                                <!---->
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec"><input type="text" id="pickupdate" :placeholder="formSearch.carPickupDateP" readonly="readonly" class="calendarSec1 hasDatepicker"> <i class="fa fa-calendar"></i></div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                <div class="calendarSec"><input type="text" id="dropoffdate" :placeholder="formSearch.carDropDateP" readonly="readonly" class="calendarSec1 hasDatepicker"> <i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                                            <div class="travellerSec">
                                                <div class="travellercout" v-on:click="cartimedisplay = !cartimedisplay">{{formSearch.carPickupTimeP}}</div>
                                                <div class="travellerOptions" v-show="cartimedisplay">
                                                    <div class="timerSec"><label>{{formSearch.carPickupTimeL}}</label>
                                                        <select class="time">
                                                            <option value="00:01">00:00</option>
                                                            <option value="02:00">02:00</option>
                                                            <option value="03:00">03:00</option>
                                                            <option value="04:00">04:00</option>
                                                            <option value="05:00">05:00</option>
                                                            <option value="06:00">06:00</option>
                                                            <option value="07:00">07:00</option>
                                                            <option value="08:00">08:00</option>
                                                            <option value="09:00" selected="selected">09:00</option>
                                                            <option value="10:00">10:00</option>
                                                            <option value="11:00">11:00</option>
                                                            <option value="12:00">12:00</option>
                                                            <option value="13:00">13:00</option>
                                                            <option value="14:00">14:00</option>
                                                            <option value="15:00">15:00</option>
                                                            <option value="16:00">16:00</option>
                                                            <option value="17:00">17:00</option>
                                                            <option value="18:00">18:00</option>
                                                            <option value="19:00">19:00</option>
                                                            <option value="20:00">20:00</option>
                                                            <option value="21:00">21:00</option>
                                                            <option value="22:00">22:00</option>
                                                            <option value="23:00">23:00</option>
                                                        </select> <label>{{formSearch.carDropTimeL}}</label> <select class="time">
                                                            <option value="00:01">00:00</option>
                                                            <option value="02:00">02:00</option>
                                                            <option value="03:00">03:00</option>
                                                            <option value="04:00">04:00</option>
                                                            <option value="05:00">05:00</option>
                                                            <option value="06:00">06:00</option>
                                                            <option value="07:00">07:00</option>
                                                            <option value="08:00">08:00</option>
                                                            <option value="09:00" selected="selected">09:00</option>
                                                            <option value="10:00">10:00</option>
                                                            <option value="11:00">11:00</option>
                                                            <option value="12:00">12:00</option>
                                                            <option value="13:00">13:00</option>
                                                            <option value="14:00">14:00</option>
                                                            <option value="15:00">15:00</option>
                                                            <option value="16:00">16:00</option>
                                                            <option value="17:00">17:00</option>
                                                            <option value="18:00">18:00</option>
                                                            <option value="19:00">19:00</option>
                                                            <option value="20:00">20:00</option>
                                                            <option value="21:00">21:00</option>
                                                            <option value="22:00">22:00</option>
                                                            <option value="23:00">23:00</option>
                                                        </select></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="searchButton"><button>{{formSearch.buttonLabel}}</button></div>
                                </div>
                                <div id="evisa" class="tab">
                                    <div class="flightForm_sec flx_sec evisa_select">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding5">
                                            <label class="visaBtn">Visa Requirement
                                                <input type="radio" checked="checked" value="R" v-model="visatype" name="visa">
                                                <span class="visa-checkmark"></span>
                                            </label>
                                            <label class="visaBtn">Apply for E-Visa
                                                <input type="radio" name="visa" v-model="visatype" value="A">
                                                <span class="visa-checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="evisa_requirement" v-show="visatype=='R'">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                <label>Where are you from?</label>
                                                <select class="selectpicker countrypicker" data-live-search="true" id="visaCountryOrigin" data-flag="true" title="Choose your country"></select>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                                <label>Where are you going?</label>
                                                <select class="selectpicker countrypicker" data-live-search="true" id="visaCountryDestination" data-flag="true" title="Choose your destination"></select>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding5 visa_result" v-if="visaResponse.length>0||isSameCountry">
                                                <div v-if="isSameCountry">
                                                    <span class='p-normal'>You don't need a visa!</span>
                                                    <p>You are home :)</p>
                                                </div>
                                                <div v-else>
                                                    <span :class="'p-'+visaResponse[0].textual.class">{{visaResponse[0].textual.text[0]}}</span>
                                                    <p v-if="visaResponse[0].textual.text.length-1!=0">{{visaResponse[0].textual.text[visaResponse[0].textual.text.length-1]}}</p>
                                                    <p v-for="(item, index) in visaResponse[0].notes" :key="index">{{item}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding5 visa_result loader" v-if="showLoader"></div>
                                        </div>
                                        <div class="evisa_apply" v-show="visatype=='A'">
                                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 padding5">
                                                <label>{{Header_Text_Label}}</label>
                                                <select class="apply-visa" v-model="countrySelected">
                                                    <option :value="item" v-for="(item, index) in eVisaCountryList" :key="index">{{item}}</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 padding5">
                                                <label>&nbsp;</label>
                                                <div class="searchButton flghtbtn"><button  @click=getvisapage(countrySelected)>{{Go_Button_Label}}</button></div>
                                            </div>
                                            <!-- onclick="window.location='apply-visa.html'" -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--booking-form-->

        <!--End-banner-form-->


        <!-- Holiday-Section -->
        <div class="mainScroll">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 flightDeals info-slide">
                <h6>{{dealsArea.title1}}<span>{{dealsArea.title2}}</span></h6>
                <ul id="flightdeals">
                    <li class="item" v-for="deals in flightDeals">
                        <div class="dealsPackage">
                            <a @click="getmoreinfo(deals.More_details_page_link,'flight-deals-details')">
                                <div class="dealImg">
                                    <img :src="deals.Image" alt="deal1">
                                    <h3><span>{{deals.Title}}</span></h3>
                                </div>
                                <div class="dealsPrice">
                                    <span class="from">From</span>
                                    <span class="dealsRate">{{ $n((getAmount(deals.Price)/CurrencyMultiplier), 'currency', selectedCurrency) }} </span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 holidayPackage info-slide">
                <h6>{{packageArea.title1}}<span>{{packageArea.title2}}</span></h6>
                <ul id="holidaypackages">
                    <li class="item" v-for="packages in holidayPackages">
                        <div class="dealsPackage">
                            <a href="#" @click="getmoreinfo(packages.More_details_page_link,'holiday-packagesview')">
                                <div class="dealImg">
                                    <img :src="packages.Image" alt="deals">
                                    <h3><span>{{packages.Title}}</span></h3>
                                </div>
                                <div class="dealsPrice">
                                    <span class="from">From</span>
                                    <span class="dealsRate">{{ $n((getAmount(packages.Price)/CurrencyMultiplier), 'currency', selectedCurrency) }} </span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End-Holiday -->


        <!-- Modal -->
        <div class="modal fade" id="insurance" role="dialog" @click="closeInsurance()">
            <div class="modal-dialog  modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" @click="closeInsurance()" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{insuranceForm.Form_Title}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="insurance">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Name_of_Insured_label}}</label>
                                    <input type="text" class="insureTxt" v-model="iName">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 pos_rel">
                                    <label>{{insuranceForm.Date_of_birth_label}}</label>
                                    <input type="text" class="insureTxt" v-model="iDob" id="insdob">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Passport_number_label}}</label>
                                    <input type="text" class="insureTxt" v-model="iPassportNo">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.gender}}</label>
                                    <select class="insureTxt" v-model="iGender">
                                        <option>{{insuranceForm.gender_male_label}}</option>
                                        <option>{{insuranceForm.gender_female_label}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Telephone_number_label}}</label>
                                    <input type="text" class="insureTxt" v-model="iPhoneno">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Email_address_label}}</label>
                                    <input type="text" class="insureTxt" v-model="iEmail">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Occupation_label}}</label>
                                    <input type="text" class="insureTxt" v-model="iOccupation">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Destination_Label}}</label>
                                    <input type="text" class="insureTxt" v-model="iDestination">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Period_of_insurance__Label}}</label>
                                    <input type="text" class="insureTxt" v-model="iPeriod">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 pos_rel">
                                    <label>{{insuranceForm.Departure_date_Label}}</label>
                                    <input type="text" class="insureTxt" v-model="iDepartureDate" id="insdeparture">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 pos_rel">
                                    <label>{{insuranceForm.Return_date_Label}}</label>
                                    <input type="text" class="insureTxt" v-model="iReturnDate" id="insreturn">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label>{{insuranceForm.Trip_Purpose__label}}</label>
                                    <input type="text" class="insureTxt" v-model="iPurpose">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>{{insuranceForm.Address_Home_label}}</label>
                                    <textarea class="addessTxt" v-model="iAddress"></textarea>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label>{{insuranceForm.Address_Office_Label}}</label>
                                    <textarea class="addessTxt" v-model="iAddressOffice"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form_description">
                            <h5>{{insuranceForm.DECLARATION_Label}}</h5>
                            <div v-html="insuranceForm.Declaration_content">{{insuranceForm.Declaration_content}}</div>
                            <div class="checkArea">
                                <input type="checkbox" v-model="insterms" class="checkboxDlc">
                                <div v-html="insuranceForm.Accept_Declaration_statement">
                                    {{insuranceForm.Accept_Declaration_statement}} </div>
                            </div>
                            <div class="dateshow">
                                <span>{{insuranceForm.Date_Label}} :</span>
                                <input type="text" class="showdateSec" readonly :value="dateConvert()">
                            </div>
                            <button class="insuranceSbt" :disabled="!insterms" v-on:click="sendTravelInsurance">{{insuranceForm.Button_Submit}}</button>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <!-- Onload popup -->
<div class="modal fade" id="onloadmodel" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <img :src="popupcontent.Notice_Image" alt="onload">
            <p v-html="popupcontent.Notice_content"></p>
        </div>
       
      </div>
      
    </div>
  </div>

        <!-- insurance popup -->
    
    


    </div>
    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>
<!-- Onload popup -->

    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>

    <!-- Bootstrap JQUERY -->
 

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
    <script src="js/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="js/select2.min.js"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/jquery-ui.min.js"></script>
    <!-- <script src="js/custom.js"></script> -->
    <script src="js/tabs.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/Biscordint/js/hotel-search.js"></script>
    <script src="js/countrypicker.js"></script>
    <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
    <script src="master/js/index.js?v=20211122000"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <!-- <script src="js/bootstrap-select-country.min.js"></script> -->
    
    <script src="js/bootstrap.min.js"></script>
    <!-- <script src="js/banner.js"></script> -->
    <!-- Bootstrap JQUERY -->

</body>

</html>