<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Biscordint</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/assets/css/flag.css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>
    <div id="testmonials">
        <!-- banner-->
        <div class="inner_banner">
            <div class="pageTitle cmn_head" :style="{ backgroundImage: 'url(\'' + pageTitle.Banner_image + '\')' }">
                <div class="container" v-cloak>
                    <h1><span>{{pageTitle.Title}}</span></h1>
                    <div class="breadcrumb_nav"><a href="/">{{pageTitle.Breadcrumb_path1}} --&gt;</a> <b>{{pageTitle.Breadcrumb_path2}}</b></div>
                </div>
            </div>
        </div>

        <!--End-banner-form-->
        <div class="testimonial_area" v-cloak>
            <div class="container">
                <div class="testimonialsArea">
                    <div class="leftTestimonial">
                        <label v-cloak>{{pageContent.Name_Label}}</label>
                        <input type="text" class="inPtStyl" v-model="fname">
                        <label v-cloak>{{pageContent.Email_Label}}</label>
                        <input type="text" class="inPtStyl" v-model="femail">
                        <!-- <label v-cloak>{{pageContent.Image_Label}}</label>
                        <label class="custom-file-upload">
                            <input type="file">
                        </label> -->
                        <!--input type="file" class="chooseImg"-->
                        <label v-cloak>{{pageContent.Feedback_Label}}</label>

                        <textarea class="feedback" v-model="fmessage"></textarea>
                        <button class="areaFrmBtn" @click="submitFeedback" v-cloak>{{pageContent.SubmitLabel}}</button>
                        <!-- <input type="submit" value="SUBMIT" class="areaFrmBtn"> -->
                        <!--input type="submit" value="SUBMIT" class="areaFrmBtn"-->
                    </div>
                </div>

                <div id="content" class="defaults" v-for="(review,ind) in allReview" v-cloak>
                    <ul id="itemContainer">

                        <li>

                            <div class="testimonials">
                                <div class="testiImg">
                                    <div class="testiImg01">
                                        <img style="width: 112px; height: 112px;" src="images/user.png">
                                    </div>
                                </div>
                                <!-- <--content-->
                                <div class="testi_cont">
                                    <h3>{{review.comment | subStr}}</h3>
                                </div>
                                <div class="test-foot">
                                    <h5>{{review.Name}}</h5>
                                    <strong>{{review.Email}}</strong>

                                    <div class="testi_more">
                                        <a data-toggle="modal" :data-target="'#abcd'+ind" hreslif="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" :id="'abcd'+ind" role="dialog">
                                <div class="modal-dialog  modal-lg">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Testimonials</h4>
                                        </div>
                                        <div class="modal-body testiCont">
                                            <div class="test_popup">
                                                <div class="testiImg01">
                                                    <img style="width: 112px; height: 112px;" src="images/user.png">
                                                </div>
                                            </div>
                                            <h5>{{review.Name}}</h5>
                                            <h6>{{review.Email}}</h6>
                                            <h3>{{review.comment}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal popup -->
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <footer :key="key">
        <partners></partners>
        <footeritem :key="key"></footeritem>
    </footer>

    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="../assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="servicejs/testimonials.js"></script>

    <!-- Bootstrap JQUERY -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/owl.carousel.min.js"></script>





</body>

</html>