<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Alwafra Travel & Tourism - Booking</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Main Custom CSS -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/media.css" rel="stylesheet" type="text/css" />
<link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  [v-cloak] {
      display: none;
  }
</style>
</head>
<body>

  <header>
    <headeritem></headeritem>
</header>

<!-- Banner-->
<div id="booking" v-cloak>
<section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
  <div class="container">
    <div class="row">
      <div class="banner_text">
        <div class="col-lg-12">
          <h1>{{Banner.Title}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumbs-->
<section class="breadcrumbs1_wrapper">
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i>/</i></span>
        <a href="index.html">Packages  </a><span><i>/</i></span><a href="#">{{Banner.Breadcrumb_2}}  </a><span><i>/</i></span>{{Banner.Breadcrumb_3}}</div>
  </div>
</section>
    
    
    
    <!--booking-form--->
    
    <!--packages-->  
<section class="packages-info booking-info" id="booking">
    <div class="container">
       <div class="row">
        <h2>Booking</h2>
        <img class="title-pattern" src="images/title_pattern.png" alt="patten-img" >
     
      <div class="booking-form">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
        <div class="search-section">
          <div role="tabpanel"> 
            <!-- BEGIN: CATEGORY TAB -->
            
            <div class="col-md-12 all-search-box"> 
              <!-- BEGIN: TAB PANELS -->
              <div class="tab-content"> 
                <!-- BEGIN: FLIGHT SEARCH -->
                <div role="tabpanel" class="tab-pane active bookingform">
                   
                    
                    
                  <form>
                    <div class="clearfix"></div>
                    <div class="col-md-4  col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Name_Label}}</label>
                        <input name="text" id="text" class="form-control" v-model="addBookingForm.fname" required="" :placeholder="labelBooking.Name_Placeholder" type="text">
                       
                    </div>
                      
                      
                      <div class="col-md-4  col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Email_Label}}</label>
                      <input name="email" id="email" class="form-control" required="" v-model="addBookingForm.femail" :placeholder="labelBooking.Email_Placeholder" type="text">
                       
                    </div>
                      
                      
                      <div class="col-md-4  col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Phone_Label}} </label>
                        <input name="text" id="text" class="form-control" required="" v-model="addBookingForm.fphone" :placeholder="labelBooking.Phone_Placeholder" type="text">
                    </div>
                      
                      
                       <div class="col-md-4  col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Package_Title_Label}}</label>
                        <input name="text" id="text" class="form-control" required=""  type="text" v-model="Package.package_name" readonly>
                    </div>
                    
                      
                      
                      
                    <div class="col-md-4 col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Book_Date_Label}}</label>
                      <input id="from" class="calendar" type="text" v-model="addBookingForm.fdate" :placeholder="labelBooking.Book_Date_Placeholder" />
                    </div>
                    
                    <div class="col-md-4 col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Adult_Label}}</label>
                      <select class="myselect" id="Adultmyselect" v-model="addBookingForm.fadult">
                        <option :value="adult"  v-for="adult in adultcount">{{adult}}</option>
                        <!-- <option value="2">1</option>
                        <option value="3">2</option> -->
                      </select>
                    </div>
                    <div class="col-md-4 col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Child_Label}}</label>
                      <select class="myselect" id="Childmyselect" v-model="addBookingForm.fchild">
                        <option :value="child"  v-for="child in childcount">{{child}}</option>
                        <!-- <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option> -->
                      </select>
                    </div>
                      <div class="col-md-4 col-sm-4 search-col-padding">
                      <label class="select-label">{{labelBooking.Infants_Label}}</label>
                      <select class="myselect" id="Infantmyselect" v-model="addBookingForm.finfants">
                        <option :value="infant"  v-for="infant in infantcount">{{infant}}</option>
                        <!-- <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option> -->
                      </select>
                    </div>
                      <div class="col-md-12  col-sm-12 search-col-padding">
                      <label class="select-label">{{labelBooking.Message_Label}} </label>
                          <textarea name="text" id="text" rows="4"  required="" v-model="addBookingForm.fmessage" :placeholder="labelBooking.Message_Placeholder" type="text"></textarea>
                    </div>
                      
                      
                    
                      <div class="col-md-3 col-md-offset-9 search-col-padding clearfix">
                      <button type="submit" @click.prevent="addbooking" class="search-button ">{{labelBooking.Book_Button_Label}}</button>
                    </div>
                  </form>
                </div>
                <!-- END: FLIGHT SEARCH --> 
                
                
              </div>
            </div>
            <!-- END: TAB PANE --> 
          </div>
        </div>
      </div>
    </div>
  </div>
        </div>
    </div>
    
    </div>
</section>      
</div>
<!-- Footer -->
  
<footer :key="key">
  <partners></partners>
  <footeritem :key="key"></footeritem>
</footer>
<!-- end-Footer -->
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 


<!-- Main JQUERY --> 
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script> 
<!-- Bootstrap JQUERY --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-ui.min.js"></script> 
<script src="js/select2.min.js"></script> 

<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="Servicejs/booking.js"></script>
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script>

</body>
</html>