<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Alwafra Travel & Tourism - Contact Us</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>

  <header>
    <headeritem></headeritem>
  </header>
  <div id="contactuspage" v-cloak>
  <!-- Banner-->
  <section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
    <div class="container">
      <div class="row">
        <div class="banner_text">
          <div class="col-lg-12">
            <h1>{{Banner.Title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumbs-->
  <section class="breadcrumbs1_wrapper">
    <div class="container">
      <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i>/</i></span>{{Banner.Breadcrumb_2}}</div>
    </div>
  </section>

  <!-- Contact Us -->
    <section id="contact-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>{{pageContent.Title}}</h2>
            <img class="title-pattern" src="images/title_pattern.png" alt="patten-img">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 m-t-30">
            <div class="single_cntc"> <i class="fa fa-map-marker"></i>
              <h4>{{Form.Address_Title}}</h4>
              <p>{{Form.Address_Field}}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 m-t-30">
            <div class="single_cntc"> <i class="fa fa-phone"></i>
              <h4>{{Form.Contact_Title}}</h4>
              <p><a href="tel:249183403301"> {{Form.Contact_Field}} </a></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 m-t-30">
            <div class="single_cntc"> <i class="fa fa-envelope"></i>
              <h4>{{Form.Email_Title}}</h4>
              <p><a href="mailto:wafratravelagency@gmail.com"> {{Form.Email_Field}} </a></p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section id="contact-form">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div class="contact-form">
              <!-- <form> -->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                  <label>{{Form.Name_label}}</label>
                  <div class="input-group">
                    <input name="name" class="form-control" :placeholder="Form.Name_Placeholder" type="text"
                      v-model="cntusername">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                  <label>{{Form.Email_label}}</label>
                  <div class="input-group">
                    <input name="email" class="form-control" :placeholder="Form.Email_Placeholder" type="text"
                      v-model="cntemail">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                  <label>{{Form.Phone_Label}}</label>
                  <div class="input-group">
                    <input name="phone" class="form-control" :placeholder="Form.Phone_Placeholder" type="text"
                      v-model="cntcontact">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                  <label>{{Form.Subject_Label}}</label>
                  <div class="input-group">
                    <input name="subject" class="form-control" :placeholder="Form.Subject_Placeholder" type="text"
                      v-model="cntsuject">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-col-padding">
                  <label>{{Form.Message_Label}}</label>
                  <div class="input-group">
                    <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="Form.Message_Placeholder"
                      v-model="cntmessage"></textarea>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 search-col-padding text-center">
                  <button class="btn-grey" v-on:click="sendcontactus"><span>{{Form.Button_label}}</span></button>
                </div>
              </div>
              <!-- </form> -->
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div class="map-responsive">
              <iframe :src="Locations.Location_Link" style="border:0" allowfullscreen="" width="600" height="450"
                frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- partner -->
  </div>
  <!-- Footer -->

  <footer :key="key">
    <partners></partners>
    <footeritem :key="key" :item="6"></footeritem>
</footer>
  <!-- end-Footer -->

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <!-- Bootstrap JQUERY -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="Servicejs/contactus.js"></script>
</body>

</html>