<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Alwafra Travel & Tourism</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Main Custom CSS -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" /> 
<link href="/assets/css/bootstrap-3-4-0.min.css?v=202008140000" rel="stylesheet" type="text/css" />
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/nouislider.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/media.css" rel="stylesheet" type="text/css" />
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />  
<link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">   
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">     
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

  
<header>
    <headeritem></headeritem>
</header>
 <div id="indexmain" v-cloak>
<!-- banner-->
   
<section class="banner_main"  :style="{ background: 'url(' + Homebanner.Banner_Image+ ')'}">
    
            <div id="owl-demo-1" class="owl-carousel banner_text owl-theme">
            <div class="item">
                <h1>{{Homebanner.Title_1}}</h1>
                <p>{{Homebanner.Description_1}}</p>
            </div>
           
                
                <div class="item">
                <h1>{{Homebanner.Title_2}}</h1>
                <p>{{Homebanner.Description_2}}</p>
            </div>
                
          </div>
    
    <div class="booking-form">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
        <div class="search-section">
          <div role="tabpanel"> 
            <!-- BEGIN: CATEGORY TAB -->
            <div class="col-md-12 booking-tab">
              <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                <li role="presentation" class="active text-center"> <a href="#flight" aria-controls="flight" role="tab" data-toggle="tab"> <i class="fa  fa-plane"></i>FLIGHTS </a> </li>
                <li role="presentation" class="text-center"> <a href="#flight-hotel" aria-controls="hotel" role="tab" data-toggle="tab"> <i class="fa  fa-hotel"></i>Hotels </a> </li>
              </ul>
              <!-- END: CATEGORY TAB --> 
            </div>
            <div class="col-md-12 all-search-box"> 
              <!-- BEGIN: TAB PANELS -->
              <div class="tab-content"> 
                <!-- BEGIN: FLIGHT SEARCH -->
                <div role="tabpanel" class="tab-pane active" id="flight">
                  <h6>BOOK FLIGHT TICKET</h6>
                    
                    <div class="oneway_btn">
                        <div class="traveltype flx_sec">
                            <div class="bt"><input type="radio" value="O" v-model="triptype" id="radio-btn-1" name="triptype" checked="checked"> <label for="radio-btn-1">{{formSearch.oneWay}}</label></div>
                            <div class="bt"><input type="radio" value="R" v-model="triptype" id="radio-btn-2" name="triptype"> <label for="radio-btn-2">{{formSearch.roundTrip}}</label></div>
                            <div class="bt"><input type="radio" value="M" v-model="triptype" id="radio-btn-3" name="triptype"> <label for="radio-btn-3">{{formSearch.multiCity}}</label></div>
                        </div>
                        <!-- <div class="checkAreaform flexibleSec">
                            My Dates are Flexible! <input type="checkbox" id="radio-btn-8"> <label
                                for="radio-btn-8">(-/+ 3 days)</label></div> -->
                    </div>
                     <!---->
                     <div class="multi_shadow" v-if="triptype=='M'" v-on:click="clickoutside" v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                    </div>
                    <div class="multicity" v-if="triptype =='M'" v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                        <!--multi city section-->
                        <div class="multiSection">
                            <i class="fa fa-times-circle close" v-on:click="clickoutside"></i>
                            <label>Trip 1</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="1">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec">
                                    <input type="text" id="txtLeg1Date" class="calendarSec1" placeholder="Departing" readonly>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--multi city section close-->
                        <!--multi city section-->
                        <div class="multiSection">
                            <label>Trip 2</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="2">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="2">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec">
                                    <input type="text" id="txtLeg2Date" class="calendarSec1" placeholder="Departing" readonly>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--multi city section close-->
                        <!--multi city section-->
                        <div class="multiSection" v-if="(legcount>2)">
                            <i class="fa fa-times-circle close" v-if="legcount==3" v-on:click="DeleteLeg(3)"></i>
                            <label>Trip 3</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="3">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="3">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec">
                                    <input type="text" class="calendarSec1" id="txtLeg3Date" placeholder="Departing" readonly>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--multi city section close-->
                        <!--multi city section-->
                        <div class="multiSection" v-if="(legcount>3)">
                            <i class="fa fa-times-circle close" v-if="legcount==4" v-on:click="DeleteLeg(4)"></i>
                            <label>Trip 4</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="4">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="4">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec">
                                    <input type="text" id="txtLeg4Date" class="calendarSec1" placeholder="Departing" readonly>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--multi city section close-->
                        <!--multi city section-->
                        <div class="multiSection" v-if="(legcount>4)">
                            <i class="fa fa-times-circle close" v-if="legcount==5" v-on:click="DeleteLeg(5)"></i>
                            <label>Trip 5</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="5">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="5">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec">
                                    <input type="text" id="txtLeg5Date" class="calendarSec1" placeholder="Departing" readonly>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--multi city section close-->
                        <!--multi city section-->
                        <div class="multiSection" v-if="(legcount>5)">
                            <i class="fa fa-times-circle close" v-if="legcount==6" v-on:click="DeleteLeg(6)"></i>
                            <label>Trip 6</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="6">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="6">
                                </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec">
                                    <input type="text" id="txtLeg6Date" class="calendarSec1" placeholder="Departing" readonly>
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--multi city section close-->

                        <div class="add_flight" v-if="legcount!=6" v-cloak>Add up to {{6-legcount}} flights
                            <i class="fa fa-plus-circle" v-on:click="AddNewLeg();"></i></div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                            <div class="travellerSec">
                                <div class="travellercout" v-cloak v-on:click="travellerdisplymul = !travellerdisplymul">{{Totaltravaller}}
                                </div>
                                <div class="travellerOptions" v-show="travellerdisplymul">
                                    <div class="passenger_area">
                                        <p>Adults (12+)</p>
                                        <div class="pass_click">
                                            <a v-on:click="setpaxcount('adt','minus')"><i
                                                    class="fa fa-minus-square"></i></a>
                                            <span v-cloak>{{selected_adults}}</span>
                                            <a v-on:click="setpaxcount('adt','plus')"><i
                                                    class="fa fa-plus-square"></i></a>
                                        </div>
                                    </div>
                                    <div class="passenger_area">
                                        <p>Children (2-12)</p>
                                        <div class="pass_click">
                                            <a v-on:click="setpaxcount('chd','minus')"><i
                                                    class="fa fa-minus-square"></i></a>
                                            <span>{{selected_children}}</span>
                                            <a v-on:click="setpaxcount('chd','plus')"><i
                                                    class="fa fa-plus-square"></i></a>
                                        </div>
                                    </div>
                                    <div class="passenger_area">
                                        <p>Infant (0-2)</p>
                                        <div class="pass_click">
                                            <a v-on:click="setpaxcount('inf','minus')"><i
                                                    class="fa fa-minus-square"></i></a>
                                            <span>{{selected_infant}}</span>
                                            <a v-on:click="setpaxcount('inf','plus')"><i
                                                    class="fa fa-plus-square"></i></a>
                                        </div>
                                    </div>
                                    <div class="classtype_area">
                                        <div class="classsec_area">
                                            <input type="radio" id="radio-btn-12" value="Y" v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                            <label for="radio-btn-12">Economy</label>
                                        </div>
                                        <div class="classsec_area">
                                            <input type="radio" value="C" v-model="selected_cabin" id="radio-btn-03" v-on:change="setpaxcount" name="radio-btns">
                                            <label for="radio-btn-03">Business</label>
                                        </div>
                                        <div class="classsec_area">
                                            <input type="radio" id="radio-btn-04" value="F" v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                            <label for="radio-btn-04">First Class</label>
                                        </div>
                                    </div>
                                    <div class="closeDropdown">
                                        <span class="closeBtn closeLink" v-on:click="travellerdisplymul = !travellerdisplymul">Done</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 padding5">
                            <button class="flightSearch" v-on:click="MultiSearchFlight" v-cloak>{{formSearch.buttonLabel}}</button>
                        </div>

                    </div>
                    <!---->
                    <div class="flightForm_sec flx_sec" v-if="triptype!='M'">
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 padding5">
                            <div class="autocomplete flightauto">
                                <flightserch id="Cityfrom1" :return-value="returnValue" :place-holder-text="formSearch.flightDeparturePlaceholder" @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                <!---->
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 padding5">
                            <div class="autocomplete flightauto">
                                <flightserch id="Cityto1" :return-value="returnValue" :place-holder-text="formSearch.flightArrivalPlaceholder" @air-search-completed="Arrivalfrom" :leg="0"></flightserch>
                                <!---->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                <div class="calendarSec"><input type="text" id="deptDate01" :placeholder="formSearch.flightDatePlaceholderD" readonly="readonly" class="calendarSec1"> <i class="fa fa-calendar"></i></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5" v-if="triptype !='M'" v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                                <div class="calendarSec"><input type="text" :disabled="triptype == 'O'" id="retDate" :placeholder="formSearch.flightDatePlaceholderR" readonly="readonly" class="calendarSec1 "> <i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                            <div class="travellerSec">
                                <div class="travellercout" v-cloak v-on:click="travellerdisply = !travellerdisply">{{Totaltravaller}}
                                </div>
                                <div class="travellerOptions" v-show="travellerdisply">
                                    <div class="passenger_area">
                                        <p>{{formSearch.adults}}</p>
                                        <div class="pass_click"><a v-on:click="setpaxcount('adt','minus')"><i
                                                    class="fa fa-minus-square"></i></a>
                                            <span>{{selected_adults}}</span>
                                            <a v-on:click="setpaxcount('adt','plus')"><i
                                                    class="fa fa-plus-square"></i></a></div>
                                    </div>
                                    <div class="passenger_area">
                                        <p>{{formSearch.children}}</p>
                                        <div class="pass_click"><a v-on:click="setpaxcount('chd','minus')"><i
                                                    class="fa fa-minus-square"></i></a>
                                            <span>{{selected_children}}</span>
                                            <a v-on:click="setpaxcount('chd','plus')"><i
                                                    class="fa fa-plus-square"></i></a></div>
                                    </div>
                                    <div class="passenger_area">
                                        <p>{{formSearch.infants}}</p>
                                        <div class="pass_click"><a v-on:click="setpaxcount('inf','minus')"><i
                                                    class="fa fa-minus-square"></i></a>
                                            <span>{{selected_infant}}</span>
                                            <a v-on:click="setpaxcount('inf','plus')"><i
                                                    class="fa fa-plus-square"></i></a></div>
                                    </div>
                                    <div class="classtype_area">
                                        <div class="classsec_area"><input type="radio" id="radio-btn-02" value="Y" v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                            <label for="radio-btn-02" v-on:change="setpaxcount">{{formSearch.economy}}</label>
                                        </div>
                                        <div class="classsec_area"><input type="radio" value="C" v-model="selected_cabin" id="radio-btn-03" name="radio-btns" v-on:change="setpaxcount"> <label for="radio-btn-03">{{formSearch.business}}</label></div>
                                        <div class="classsec_area"><input type="radio" id="radio-btn-04" value="F" v-model="selected_cabin" name="radio-btns" v-on:change="setpaxcount"> <label for="radio-btn-04">{{formSearch.first}}</label></div>
                                    </div>
                                    <div class="closeDropdown">
                                        <span class="closeBtn closeLink" v-on:click="travellerdisply = !travellerdisply">Done</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                            <div class="searchButton flghtbtn"><button v-on:click="SearchFlight">{{formSearch.buttonLabel}}</button></div>
                        </div>
                    </div>
                   
                </div>
                <!-- END: FLIGHT SEARCH --> 
                
                <!-- START: Flight-HOTEL SEARCH -->
                <div role="tabpanel" class="tab-pane" id="flight-hotel">
                  <h6>HOTEL BOOKINGS</h6>
                  <hotel-search inline-template :key="hotelInit">
                    <div>
                        <div class="flightForm_sec flx_sec">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding5">
                                <input id="txtCity" type="text" class="formtxt ui-autocomplete-input" :placeholder="Hotel_city_placeholder" autocomplete="off" v-model="keywordSearch" @input="onKeyUpAutoCompleteEvent(keywordSearch)" @keydown.down="down" @keydown.up="up" @keydown.tab="isCompleted=false"
                                    @keydown.esc="isCompleted=false" @keydown.enter="updateResults(autoCompleteResult[highlightIndex])" @click="onClickAutoCompleteEvent">
                                <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                                <ul ref="searchautocomplete" class="autocomplete-results" v-if="isCompleted&&autoCompleteResult.length!=0">
                                    <li ref="options" :class="{'autocomplete-result-active' : index == highlightIndex}" class="autocomplete-result" v-for="(item,index) in autoCompleteResult" :key="index" @click="updateResults(item)" v-cloak>
                                        {{ item.label }}
                                    </li>
                                </ul>
                                <!---->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding0">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                    <div class="calendarSec">
                                        <input type="text" id="txtCheckInDate" v-model="checkIn" placeholder="checkin" readonly="readonly" class="calendarSec1">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding5">
                                    <div class="calendarSec">
                                        <input type="text" id="txtCheckOutDate" v-model="checkOut" placeholder="checkout" readonly="readonly" class="calendarSec1">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-xs-12 search-col-padding custom-traveller padding0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding5">
                                    <div class="kmsliderSec">
                                        <label class="within_sec">{{Search_range_label}}</label>
                                        <div id="rangeSlider"></div>
                                        <label id="slider-step-value" v-cloak>{{KMrange}}
                                            {{rangeLabel}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 padding5">
                                <div class="travellerSecHtl">
                                    <div class="travellercoutHtl" v-on:click="showroom = !showroom">
                                        <input :value="numberOfRooms+' '+(numberOfRooms>1?roomsLabel:roomLabel)" type="button" class="form-control txtelips">
                                    </div>
                                    <div class="travellerOptions" v-show="showroom">
                                        <div class="classtype_area">
                                            <div id="travelRoundtrip">
                                                <div class="travelDropdown"></div>
                                            </div>
                                            <div class="classSec">
                                                <label class="htl_advc" v-cloak>{{roomLabel}}</label>
                                                <div class="custom-select-htl">
                                                    <select v-model.number="numberOfRooms" id="classType">
                                                        <option v-for="(room, index) in 5"
                                                            :key="index" :value="index+1">
                                                            {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="classSec">
                                                <label class="htl_advc">Nationality</label>
                                                <div class="custom-select-htl">
                                                    <select id="classType" v-model="nationality">
                                                        <option :value="item.code"
                                                            v-for="(item, index) in countries"
                                                            :key="index">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="classSec">
                                                <label class="htl_advc">Country of
                                                    Residency</label>
                                                <div class="custom-select-htl">
                                                    <select id="classType" v-model="countryOfResidence">
                                                        <option :value="item.code"
                                                            v-for="(item, index) in countries"
                                                            :key="index">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="closeDropdown">
                                                <span class="closeBtn closeLink" v-on:click="showroom = !showroom">Done</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hotel-rooms :child-label="childLabel" :children-label="childrenLabel" :adult-label="adultLabel" :adults-label="adultsLabel" :age-label="ageLabel" :ages-label="agesLabel" :room-label="roomLabel" v-for="(room, index) in parseInt(numberOfRooms)" :key="index"
                                :room-id="index" @get-room-details="getRoomDetails" inline-template>
                                <div class="hotlsSec flx_sec ar_direction">
                                    <div class="col-md-4 col-sm-12 padding5">
                                        <span class="rooms" v-cloak><i class="fa fa-bed"
                                                aria-hidden="true"></i>{{roomLabel}}
                                            {{roomId+1}}</span>

                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding5">
                                        <div class="form_sec en_dwn_htl">
                                            <select class="form-control" v-model.number="selectedAdults">
                                                <option v-for="(adult, index) in adults"
                                                    :value="adult.value" v-cloak>{{adult.value}}
                                                    {{adult.value==1? adultLabel: adultsLabel}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding5">
                                        <div class="form_sec en_dwn_htl">
                                            <select class="form-control" v-model.number="selectedChildren">
                                                <option v-for="(child, index) in children"
                                                    :value="child.value" v-cloak>{{child.value}}
                                                    {{child.value==1? childLabel: childrenLabel}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div v-for="(selectedChild, index) in parseInt(selectedChildren)" :key="index" class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage padding5">
                                        <div class="form_sec en_dwn_htl">
                                            <select class="form-control" v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                                <option v-for="(childAge, index) in childrenAges"
                                                    :value="childAge.value" v-cloak>
                                                    {{childAge.value}}
                                                    {{childAge.value==1? ageLabel: agesLabel}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </hotel-rooms>
                        </div>
                        <div class="searchButton">
                            <button type="submit" class="search-button" @click="searchHotels" v-cloak>{{searchBtnLabel.toUpperCase()}}</button>
                        </div>
                    </div>
                </hotel-search>
                 
                </div>
                <!-- END: HOTEL SEARCH --> 
                
                
                
              </div>
            </div>
            <!-- END: TAB PANE --> 
          </div>
        </div>
      </div>
    </div>
  </div>
        </div>
</section>    
    
<!-- About-US -->
<section class="about_main" v-if="!mobileView">
    <div class="container">
        <div class="row">
        <div class="about_company">
            <h2>{{Content.Main_Title}}</h2>
            <img class="title-pattern" src="images/title_pattern.png" alt="patten-img">
            
            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <img :src="Content.Image" alt="about">
                </div>
            </div>
            
            <div class="col-md-6 col-sm-6">
                <div class="about-info">
                    <h3>{{Content.Title_1}} <br><span>{{Content.Title_2}}</span></h3>
                    <p>{{Content.Content}}</p>
                    
                </div>
            </div>
            
            
        </div>
        </div>
    </div>
</section>  
    
<!-- Packges -->    
    
 <section v-if="!mobileView">
  <div class="container-fluid" >
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pdng" v-for="(pack,index) in packages">
        <div class="box-offer">
          <div class="range range-sm-center range-condensed range-sm-middle">
            <div class="cell-sm-5 cell-lg-6" v-bind:class="[{'pull-right':index==2},{'pull-right':index==3}]"><figure><img :src="pack.package_image" alt="" class="img-responsive center-block" width="480" height="350"><div class="news-overlay"></div></figure></div>
            <div class="cell-sm-5 cell-lg-6 section-lg-30 section-svg" v-bind:class="[{'section-svg-inverse':index==2},{'section-svg-inverse':index==3}]">
              <svg xmlns="" version="1.1" class="veil reveal-lg-inline-block">
                <defs>
                  <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                    <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"></stop>
                  </linearGradient>
                </defs>
                <polyline points="0,0 60,0 29,29" fill=""></polyline>
              </svg>
              <div>
                <h3><a href="#" @click="getmoreinfo(pack.More_details_page_link)" :title="pack.package_name">{{pack.package_name | packacgetitleStr}}</a></h3><br>
                  <span><i class="fa fa-clock-o"></i> {{pack.No_of_Days}} Days {{pack.No_of_Nights}} Nights</span>
                <p>{{pack.inner_Description | subStr}} </p>
              </div>
              <div>
              </div>
              <a href="#" @click="getmoreinfo(pack.More_details_page_link)" class="btn-red">View More</a> </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
    
<!-- News & Events --> 
<section class="news-main" v-if="!mobileView">
    <div class="container">
        <div class="row">
            <h2>{{Content.News_and_Events_Title}}</h2>
            <img class="title-pattern" src="images/title_pattern.png" alt="patten-img">
            <div id="owl-demo-2" class="owl-carousel owl-theme">
                <div class="item" v-for="(item,ind) in newsevents">
                <div class="news-events">
            <div class="news-img"> <img :src="item.News_or_Event_Image" alt="image"> </div>
            <div class="news-date">
                <span>{{datenumberFormatter(item.News_or_Event_Date)}}</span><br> {{datemonthFormatter(item.News_or_Event_Date)}} {{dateyearFormatter(item.News_or_Event_Date)}}
              </div>  
            <div class="news-detail">
                <div class="news-title" :title="item.News_or_Event_Title">{{item.News_or_Event_Title | titleStr}}</div>
              <p>{{item.News_or_Event_Content | subStr}}</p>
                
                <ul>
                    <i class="fa fa-comments"> {{commentCount(item.More_details_page_link)}}</i>
                </ul>
              <div class="btn"><a href="#" @click.prevent="getmoreinfonews(item.More_details_page_link)"> View More</a></div>
            </div>
          </div>
            </div>
               
          </div>
     
            
            
        </div>
    </div>
</section>    

    
<!-- sale-banner-section-->
    
<section class="sale-offer" :style="{ background: 'url(' + Promotion.Image+ ')'}" v-if="!mobileView">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-6 col-md-6">
                <h2>{{Promotion.Title}}</h2>
                <p>{{Promotion.Description}}</p>
                <a href="packages.html" class="book-btn">{{Promotion.Button_Label}}</a>
            </div>
        </div>
    </div>
</section>    
</div>
<!-- Footer -->
<footer :key="key" v-if="!mobileView">
    <partners></partners>
  <footeritem :key="key"></footeritem>
</footer>

<!-- end-Footer -->    
    

    
    
<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>    


<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
<script src="js/jquery.min.js"></script>
<script src="/assets/js/jquery-ui.min.js?v=202008130000"></script>
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/underscore-min.js?v=201904100000"></script>
<script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
<script src="/assets/js/nouislider.min.js?v=201905150000"></script>
<script src="/Flights/assets/js/Airlines.js"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
 <script src="/assets/js/select2.min.js?v=201905150000"></script>
 <script src="/Alwafra/js/hotel-search.js"></script>
 <script src="js/countrypicker.js"></script>
<!-- <script src="js/pack.js"></script> -->
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script>
<script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
<script src="master/js/index.js?v=20211122000"></script>


</body>
</html>