<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Alwafra Travel & Tourism - News Detail</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Main Custom CSS -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/media.css" rel="stylesheet" type="text/css" />
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  [v-cloak] {
      display: none !important;
  }
</style>
</head>
<body>

  <header>
    <headeritem></headeritem>
</header>
<div id="news-event-detail" v-cloak>
<!-- Banner-->
<section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}" v-cloak>
  <div class="container">
    <div class="row">
      <div class="banner_text">
        <div class="col-lg-12">
          <h1 v-cloak> {{Banner.Title}} </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumbs-->
<section class="breadcrumbs1_wrapper" v-cloak>
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">Home</a><span><i>/</i></span><a href="news-event.html">News &amp; Events</a><span><i>/</i></span>News &amp; Events Detail</div>
  </div>
</section>

<!-- News & Events Detail -->
<section class="newsDetails">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-sm-8 col-md-8 col-xs-12">
        <div class="detail-content"> <img :src="newsandevent.event_image" alt="" class="img-responsive">
          <h3>{{newsandevent.Page_title}}</h3>
          <div class="grey2"><span class="date"><i class="fa fa-user"></i> {{newsandevent.User_Type}}</span><span class="date"><i class="fa fa-calendar"></i> {{datemonthFormatter(newsandevent.date)}}, {{dateonlyFormatter(newsandevent.date)}}</span>
            <div class="news-comment">
              <div class="comnt"><i class="fa fa-comments text-right"><span>{{commentCount}}</span></i></div>
            </div>
          </div>
          <p v-html="newsandevent.content">{{newsandevent.content}}</p>
          
          <div class="inner">
            <div class="tag-cnt" v-for="tags in moretagsaval"  v-if="commatags">
              <ul >
                <li ><i class="fa fa-tag"></i>
                <li >{{tags}}</li>
              </li>
              </ul>
            </div>
            <div class="tag-cnt" v-if="!commatags">
              <ul>
                <li><i class="fa fa-tag"></i></li>
                <li >{{newsandevent.Tags_Type}}</li>
              </ul>
            </div>
            
          </div>
          <div class="social_wrapper">
            <ul class="social2">
              <li><a :href="links.facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a :href="links.twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a :href="links.insta"><i class="fa fa-instagram"></i></a></li>
              <li><a :href="links.linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a :href="links.youtube"><i class="fa fa-youtube-play"></i></a></li>
              <!-- <li><a :href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li> -->
            </ul>
          </div>
          <div class="comment-main" v-if="commentAvailable">
            <h4>Comment ({{commentCount}})</h4>
            <div class="comment-div" v-for="comments in allComment">
              <div class="user"><img src="images/testi-user.jpg" alt=""></div>
              <div class="comment-block">
                <h5 class="heading">{{comments.Name}}<span>{{datemonthFormatter(comments.Date)}}, {{dateonlyFormatter(comments.Date)}}</span></h5>
                <p>{{comments.comment}}</p>
                <!-- <a href="#" class="reply" title="Reply">Reply</a>  -->
              </div>
            </div>
           
          </div>
          <div >
            
            <div class="comment-div" v-if="!commentAvailable">
              <h4>No Comments Available</h4>
            </div>
           
          </div>
          <div class="comment-post">
            <h4>post a comment</h4>
            <div class="cmn-form">
              <form>
                <div class="row">
                  <div class="col-md-6 col-sm-6 search-col-padding">
                    <label>Name</label>
                    <div class="input-group">
                      <input name="name" class="form-control" required="" placeholder="Enter Name" type="text" v-model="addCommentForm.Name">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 search-col-padding">
                    <label>Email</label>
                    <div class="input-group">
                      <input name="email" class="form-control" required="" placeholder="Enter Email" type="text" v-model="addCommentForm.Email">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12 search-col-padding">
                    <label>Website</label>
                    <div class="input-group">
                      <input name="website" class="form-control" required="" placeholder="Enter Website URL" type="text" v-model="addCommentForm.WebURL">
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-md-12 col-sm-12 search-col-padding">
                    <label>Comment</label>
                    <div class="input-group">
                      <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Enter Comment" v-model="addCommentForm.Comment"></textarea>
                    </div>
                  </div>
                  <div class="col-md-12 col-sm-12 search-col-padding text-center">
                    <button class="btn-grey" @click.prevent="addComment"><span>Post Comment</span></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <aside class="right-div">
          <div class="right-main search-form">
            <form class="form-container">
              <!-- <button><i class="fa fa-search" aria-hidden="true"></i></button> -->
              <input class="search-field" value="" type="text" id="textbox1" v-model="search" autocomplete="off" placeholder="  Search...">
            </form>
            <div class="rslt">
              <div class="categories">
                <div v-if="!searhRes" class="recent-posts">No Results Found</div>
                <div class="recent-posts" v-for="items in searchList" v-if="searhRes">
                  <div class="media"> <a href="#" @click.prevent="getmoreinfo(items.More_details_page_link)"><img :src="items.News_or_Event_Image" alt=""></a>
                    <div class="media-content"> <a href="#" @click.prevent="getmoreinfo(items.More_details_page_link)">
                      <h6>{{items.News_or_Event_Title}}</h6>
                      </a>
                      <p>{{datemonthFormatter(items.News_or_Event_Date)}}, {{dateonlyFormatter(items.News_or_Event_Date)}}</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="right-main">
            <div class="categories">
              <h5>Categories</h5>
              <ul >
                <li><i class="fa fa-circle" aria-hidden="true"></i><a href="news-event.html">All <span>({{categorycount}})</span></a></li>
                <li v-for="(name,index) in categoryposts"><i class="fa fa-circle" aria-hidden="true"></i><a href="#" @click="gotopagecategory(index)">{{index}} <span>({{ name}})</span></a></li>
                
              </ul>
            </div>
          </div>
          <div class="right-main">
            <div class="categories">
              <h5>Recent Posts</h5>
              <div class="recent-posts" v-for="items in filteredList">
                <div class="media"> <a href="#" @click.prevent="getmoreinfo(items.More_details_page_link)"><img :src="items.News_or_Event_Image" alt=""></a>
                  <div class="media-content"> <a href="#" @click.prevent="getmoreinfo(items.More_details_page_link)">
                    <h6>{{items.News_or_Event_Title}}</h6>
                    </a>
                    <p>{{datemonthFormatter(items.News_or_Event_Date)}}, {{dateonlyFormatter(items.News_or_Event_Date)}}</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="right-main">
            <div class="recent">
              <h5>Popular Tags</h5>
              <div class="popular-tags">
                <ul  v-for="tags in filteredtagarray">
                  <li><a href="#" @click="gotopage(tags)">{{tags}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
</div>
<!-- Footer -->

<footer :key="key">
  <partners></partners>
  <footeritem :key="key" :item="3"></footeritem>
</footer>
<!-- end-Footer -->

<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 
<!-- Main JQUERY --> 
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script> 
<!-- Bootstrap JQUERY --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-ui.min.js"></script> 
<script src="js/select2.min.js"></script> 

<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="Servicejs/newsdetails.js"></script>
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script>
<script>
$("#textbox1").on('keypress',function(event) {
					{
						if (event.which == 13)
						
						{
              event.preventDefault();
						}
					}
					
				});
</script>
</body>
</html>