<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Alwafra Travel & Tourism - News & Events</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>
  <div id="newsevent" v-cloak>
    <!-- Banner-->
    <section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
      <div class="container">
        <div class="row">
          <div class="banner_text">
            <div class="col-lg-12">
              <h1>{{Banner.Title}}</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Breadcrumbs-->
    <section class="breadcrumbs1_wrapper" v-cloak>
      <div class="container">
        <div class="breadcrumbs1"><a
            href="index.html">{{Banner.Breadcrumb_1}}</a><span><i>/</i></span>{{Banner.Breadcrumb_2}}</div>
      </div>
    </section>


    <!--News & Events-->
    <section class="packages-info news-inner">
      <div class="container">
        <div class="row">
          <h2>News & Events</h2>
          <img class="title-pattern" src="images/title_pattern.png" alt="patten-img">
          <div class="col-md-6" v-for="(news,ind) in showNews">
            <div class="item">
              <div class="news-events">
                <div class="news-img"> <img :src="news.News_or_Event_Image" alt="image"> </div>
                <div class="news-date">
                  <span>{{datenumberFormatter(news.News_or_Event_Date)}}</span><br>
                  {{datemonthFormatter(news.News_or_Event_Date)}} {{dateyearFormatter(news.News_or_Event_Date)}}
                </div>
                <div class="news-detail">
                  <div class="news-title" :title="news.News_or_Event_Title">{{news.News_or_Event_Title | titleStr}}</div>
                  <p>{{news.News_or_Event_Content | subStr}}</p>

                  <ul>
                    <!-- <li ><i class="fa fa-comments" > 0 </i></li> -->
                    <i class="fa fa-comments"> {{commentCount(news.More_details_page_link)}}</i>


                    <!-- <li><i class="fa fa-share-alt"> 0 </i></li> -->
                  </ul>
                  <div class="btn"><a href="#" @click.prevent="getmoreinfo(news.More_details_page_link)"> View
                      More</a></div>
                </div>
              </div>
            </div>
          </div>


          <div class="pagination-in">
            <ul class="pagination">
              <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i
                    class="fa  fa  fa-angle-double-left"></i></a></li>

              <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectNewEvent(ind)" class=""
              :class="rowindex==currentPages ? 'active' :'' ">
                <a href="#">{{rowindex}}
                  <!-- <span class="sr-only">(current)</span> -->
                </a>
              </li>

              <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i
                    class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>

        </div>

      </div>
    </section>
  </div>
  <!-- Footer -->
  <footer :key="key">
    <partners></partners>
      <footeritem :key="key" :item="3"></footeritem>
  </footer>
  <!-- end-Footer -->

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <!-- Bootstrap JQUERY -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="Servicejs/newsevent.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>