<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Alwafra Travel & Tourism - Packages</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <headeritem></headeritem>
  </header>


<div id="Package" v-cloak>
  <!-- Banner-->
  <section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
    <div class="container">
      <div class="row">
        <div class="banner_text">
          <div class="col-lg-12">
            <h1>{{Banner.Title}}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumbs-->
  <section class="breadcrumbs1_wrapper" v-cloak>
    <div class="container">
      <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i>/</i></span>{{Banner.Breadcrumb_2}}</div>
    </div>
  </section>


  <!--packages-->
  <section class="packages-info">
    <div class="container">
      <div class="row">
        <h2>Packages</h2>
        <img class="title-pattern" src="images/title_pattern.png" alt="patten-img" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 " v-for="(packageItem,index) in showNews">
          <div class="box-offer">
            <div class="range range-sm-center range-condensed range-sm-middle">
              <figure><img :src="packageItem.package_image" alt="" class="img-responsive center-block" width="480"
                  height="350">
                <div class="news-overlay"></div>
              </figure>
              <div class="section-lg-30 section-svg">
                <div>
                  <h3><a href="#" v-on:click="getmoreinfo(packageItem.More_details_page_link)" :title="packageItem.package_name">{{packageItem.package_name | titleStr}} </a></h3><br>
                  <span><i class="fa fa-clock-o"></i> {{packageItem.No_of_Days}} Days {{packageItem.No_of_Nights}} Nights</span>
                  <p >{{packageItem.inner_Description | subStr}}
                  </p>
                </div>
                <div>
                </div>
                <a href="#" @click="getmoreinfo(packageItem.More_details_page_link)" class="btn-red">View More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-in">
          <ul class="pagination">
            <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Previous')"><i class="fa  fa  fa-angle-double-left"></i></a></li>
            
            <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectNewEvent(ind)" class=""
            :class="rowindex==currentPages ? 'active' :'' ">
              <a href="#">{{rowindex}} 
                <!-- <span class="sr-only">(current)</span> -->
              </a>
            </li>
            
            <li class="next-pre"><a href="#" @click.prevent="prevNextEvent('Next')"><i class="fa fa-angle-double-right"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
   
  </section>
</div>

  <footer :key="key">
    <partners></partners>
    <footeritem :key="key" :item="1"></footeritem>
  </footer>
  <!-- end-Footer -->

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->




  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <!-- Bootstrap JQUERY -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="Servicejs/packages.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>