<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Alwafra Travel & Tourism - Package Detail</title>
<meta name="description" content="">
<meta name="author" content="">
<!-- Main Custom CSS -->
<link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/media.css" rel="stylesheet" type="text/css" />
<link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
  [v-cloak] {
      display: none;
  }
</style>
</head>
<body>

  <header>
    <headeritem></headeritem>
</header>
<div id="package-detail" v-cloak>
<!-- Banner-->
<section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
  <div class="container" v-cloak>
    <div class="row">
      <div class="banner_text">
        <div class="col-lg-12">
          <h1>{{Banner.Title}}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumbs-->
<section class="breadcrumbs1_wrapper" v-cloak>
  <div class="container">
    <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i>/</i></span><a href="packages.html">{{Banner.Breadcrumb_2}}</a><span><i>/</i></span>Package Detail</div>
  </div>
</section>

<!-- Package Detail -->
<section v-cloak> 
  <div class="container">
    <div class="row">
      <div class="col-lg-12 packageImg"> <img :src="Package.package_image" alt="" class="img-responsive"> </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <div class="detail-content">
          <h3>{{Package.inner_Page_title}}</h3>
          <p v-html="Package.inner_Description">{{Package.inner_Description}}</p>
          <div class="m-t-30 table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{{labelPackageDet.Destination_Label}}</th>
                  <th>{{labelPackageDet.Duration_Label}}</th>
                  <th>{{labelPackageDet.Dates_Label}}</th>
                  <th>{{labelPackageDet.Hotel_Label}}</th>
                  <th>{{labelPackageDet.Meals_Label}}</th>
                  <th>{{labelPackageDet.Price_Label}}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,ind) in Locations_table" v-cloak>
                  <td>{{item.Destination}}</td>
                  <td>{{item.Duration}}</td>
                  <td>{{dateFormatter(item.from_date)}} - {{dateFormatter(item.to_date)}}</td>
                  <td>{{item.hotel_type}}</td>
                  <td>{{item.meal_type}}</td>
                  <td>{{item.price}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4" v-cloak>
        <div class="main-div">
          <h5 class="m-t-30">{{labelPackageDet.Tour_Videos_Label}}</h5>
          <div class="vid">
            <iframe :src="Package.Tour_video_link"></iframe>
          </div>
        </div>
        <div class="main-div">
          <h5 class="m-t-30">{{labelPackageDet.Location_Map_Label}}</h5>
          <div class="lacation map-responsive">
            <iframe :src="Package.Map_location_Link" style="border:0; height:300px;"></iframe>
          </div>
        </div>
        <div><a href="#" @click="bookNow" class="btn-grey1">{{labelPackageDet.Button_Label}}</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="packge-tab"> 
          <!-- Nav tabs -->
          <div class="card" v-cloak>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#itinerary" aria-controls="itinerary" role="tab" data-toggle="tab">{{labelPackageDet.Itinerary_Tab_Label}}</a></li>
              <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">{{labelPackageDet.Review_Tab_Label}} ({{ratingcount}})</a></li>
              <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">{{labelPackageDet.Gallery_Tab_Label}}</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="itinerary">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v-for="(items,indexs) in itinerary">
                    <div class="days">
                      <figure><img :src="items.image" alt=""></figure>
                      <div class="days-detail"> <span class="day-text">{{items.title}}</span>
                        <h6>{{items.subtitle}}</h6>
                        <p v-html="items.content">{{items.content}}</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
              </div>
              <div role="tabpanel" class="tab-pane" id="reviews">
                <div class="review">
                  <div class="row">
                    <div class="col-lg-12">
                      <h3 v-if="reviewAvailable">{{avgrating}} {{labelPackageDet.Based_on_Label}} {{ratingcount}} {{labelPackageDet.Review_Label}}</h3>
                      <h3 v-if="!reviewAvailable">No Reviews Available</h3 v-if="reviewAvailable">
                      <div class="comment-div" v-for="review in allReview">
                        <div class="user"><img src="images/user.png" alt=""></div>
                        <div class="comment-block"> <span class="heading">{{review.Name}}  <span>{{review.Date}}</span></span>
                          <ul class="rating">
                            <li v-for="rowindex in 5"
                                  :style="review.Ratings>=rowindex ? 'color:rgb(213, 225, 77)':'color:rgb(196, 196, 196)'">
                                  <i class="fa fa-star"
                                    :style="review.Ratings>=rowindex ? 'color:rgb(213, 225, 77)':'color:rgb(196, 196, 196)'"></i>
                                </li>
                          </ul>
                          <p>{{review.comment}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="review-form">
                    <h4>{{labelPackageDet.Add_a_Review_Label}}</h4>
                    <p v-html="labelPackageDet.Add_a_Review_Condition_Label">{{labelPackageDet.Add_a_Review_Condition_Label}} *</p>
                    <div class="add-rws"> <span>{{labelPackageDet.Your_Rating_Label}}</span>
                      <ul class="rating" id="ratingID">
                        <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(1)"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(2)"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(3)"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(4)"></i></li>
                        <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(5)"></i></li>
                      </ul>
                    </div>
                    <div>
                      <form>
                        <div class="row">
                          <div class="col-md-6 col-sm-6 search-col-padding">
                            <label>{{labelPackageDet.Name_Label}}</label>
                            <div class="input-group">
                              <input name="name" class="form-control" required="" :placeholder="labelPackageDet.Name_Placeholder" type="text" v-model="addReviewForm.Name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 search-col-padding">
                            <label>{{labelPackageDet.Email_Label}}</label>
                            <div class="input-group">
                              <input name="email" class="form-control" required="" :placeholder="labelPackageDet.Email_Placeholder" type="text" v-model="addReviewForm.Email">
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-md-12 col-sm-12 search-col-padding">
                            <label>{{labelPackageDet.Review_Text_Label}}</label>
                            <div class="input-group">
                              <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="labelPackageDet.Review_Text_Placeholder" v-model="addReviewForm.Review"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 col-sm-12 search-col-padding text-center">
                            <button class="btn-grey" @click.prevent="addReviews()"><span>{{labelPackageDet.Submit_Review_Button_Label}}</span></button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="gallery">
                <div class="row">
                  <div class="gallery">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mrgn" v-for="(images,inde) in gallery_images">
                      <a :href="images.images" data-fancybox="images" data-caption="">
                        <img :src="images.images" alt="" class="img-responsive">
                      </a>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- Footer -->
<footer :key="key">
  <partners></partners>
  <footeritem :key="key" :item="1"></footeritem>
</footer>
<!-- end-Footer -->

<a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a> 







<!-- Main JQUERY --> 
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script> 
<!-- Bootstrap JQUERY --> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/jquery.min.js"></script> 
<script src="js/jquery-ui.min.js"></script> 
<script src="js/select2.min.js"></script> 

<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="Servicejs/packagedetails.js"></script>
<script src="js/owl.carousel.min.js"></script> 
<script src="js/custom.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
<script type="text/javascript">
	$('[data-fancybox]').fancybox({
  protect: true,
  buttons : [
    'zoom',
    'thumbs',
    'close'
  ]
});


$('[data-fancybox="watermark"]').fancybox({
  protect    : true,
  slideClass : 'watermark',
  toolbar    : false,
  smallBtn   : true
});

// Preload watermark image
// Please, use your own image
(new Image()).src = "http://fancyapps.com/GJbkSPU.png";
</script>
</body>
</html>