<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Alwafra Travel & Tourism - Partners</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/google-fonts/roboto.css?v=202008130000" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>

  <header>
    <headeritem></headeritem>
  </header>
  <div id="partnerspage" v-cloak>

    <!-- Banner-->
    <section class="inner_banner" :style="{ background: 'url(' + Banner.Banner_Image+ ')'}">
      <div class="container">
        <div class="row">
          <div class="banner_text">
            <div class="col-lg-12">
              <h1>{{Banner.Title}}</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Breadcrumbs-->
    <section class="breadcrumbs1_wrapper" v-cloak>
      <div class="container">
        <div class="breadcrumbs1"><a href="index.html">{{Banner.Breadcrumb_1}}</a><span><i>/</i></span>{{Banner.Breadcrumb_2}}</div>
      </div>
    </section>

    <!--Partners-->
    <section class="packages-info partner-info">
      <div class="container">
        <div class="row">
          <h2>Partners</h2>
          <img class="title-pattern" src="images/title_pattern.png" alt="patten-img">

          <div class="col-md-3 col-sm-4 col-xs-6" v-for="logo in pageContent.Partners_Image">
            <div class="partner-inner">
              <img :src="logo.Partner_logo" alt="logo">
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>
  <!-- Footer -->
  <footer :key="key">
    <footeritem :key="key" :item="4"></footeritem>
</footer>
  <!-- end-Footer -->

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <!-- Bootstrap JQUERY -->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="Servicejs/partners.js"></script>
</body>

</html>