.flxSec{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ar_direction1 .search-section .nav-tabs2 li a::before{
	left: inherit;
	right: -15px;
}
.ar_direction1 .search-section .nav-tabs2 li.active a::after, .ar_direction1 .search-section .nav-tabs2>li.active>a:focus::after, .ar_direction1 .search-section .nav-tabs2>li.active>a:hover::after{
	left: inherit;
	right: -11px;
}
.ar_direction1 .map-icon{
	float: left;
}
.ar_direction1 .advance-detail .row{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
#holiday .ar_direction1 .flxSex_direction{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.ar_direction1 .packageImg span{
	right: inherit;
	left: 0;
	-webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
.ar_direction1 .pck_desti h5{
	text-align: right;
}
.ar_direction1 .star-rating{
	display: flex;
}

#Holidaydetails .ar_direction1 .pull-right{
	float:  left !important;
}
.ar_direction1 .packagefields button {
    right: inherit;
    left: -2px;
}
.ar_direction1 .couponCode{
	display: flex;
}
.ar_direction1 .couponCode input{
	-webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.ar_direction1 .couponCode button{
	-webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.ar_direction1 .review_author{
	float: right;
	padding-right: 0px;
	padding-left: 10px;
}
.ar_direction1 .review_description h5{
	text-align: right;
}
.ar_direction1 .star-rating5{
	display: flex;
}
.ar_direction1 .star-rating5 ul li{
	float: right;
}
#FAQ .ar_direction1 h3, #FAQ .ar_direction1 h4, #FAQ .ar_direction1 p, #privacy .ar_direction1 h4, 
#privacy .ar_direction1 p, #terms .ar_direction1 h4, #terms .ar_direction1 p, #claim .ar_direction1 h4, #claim .ar_direction1 p{
	text-align: right;
}
.ar_direction1 .wsec{
	width: 100%;
	float: left;
}
.legarea{
	width: 100%;
	float: left;
}
.range_sec .noUi-origin {
    right: inherit;
    left: -98% !important;
}
.ar_direction1 .noUi-horizontal .noUi-handle {
    left: 100% !important;
}

.ar_direction1 .package-media{
    float: right !important;
    position: relative;
    bottom: 14px;
    right: -36px !important;
    }
@media (min-width: 992px){
	.ar_direction1 .ar_dSec .col-md-offset-6 {
		margin-left: 0 !important;
		margin-right: 50% !important;
		float: right;
	}
}

@media screen and (max-width: 767px) {
	.ar_direction1 .advance-detail .row{
		display: block;
	}
	.ar_direction1 .change-destination {
		left: 0px;
		top: 30px;
		transform: rotate(-90deg);
		z-index: 9;
		width: 36px;
		height: 36px;
	}
	.ar_direction1 .change-destination::after{
		left: 1px !important;
		top: 1px !important;
		right: initial !important;
	}
	#holiday .ar_direction1 .flxSex_direction{
		display: block;
	}
}
@media screen and (max-width: 380px) {
	.ar_direction1 .couponCode{
		display: block;
	}
	.ar_direction1 .couponCode input{
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.ar_direction1 .couponCode button {
		-webkit-border-top-right-radius: 0px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius:0px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius:0px;
		border-bottom-left-radius: 0px;
	}
}
@media screen and (max-width: 550px) {
	.ar_direction1 .review_description h5{
		text-align: center;
	}
	.ar_direction1 .star-rating5 ul{
		width: 74px;
		margin: auto;
	}
	.ar_direction1 .write_review .star-rating5 ul{
		float: right;
		margin: 0;
		width: auto;
	}
}