@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
/*packages css*/
.inner-banners{
    width: 100%;
    float: left;
    padding: 80px 0px;
    position: relative;
    text-align: center;
    background-position: 100% 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.inner-banners::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
}
.inner-banners h1{
    font-size: 31px;
    color: #FFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index:1;
    margin-bottom: 5px;
}
.inner-banners p{
    font-size: 15px;
    color: #febf10;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index:1;
}
.inner-banners p a{
    color: #FFF;
}
.holidaypage{
	width: 100%;
	float: left;
	padding-top: 40px;
}
.package-modify{
    width: 100%;
    float: left;
    background: #FFF;
    border: 1px solid #ebebeb;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 19px;
}
.modify-txt{
    position: relative;
    width: 100%;
    float: left;
}
.padding5{
    padding-left: 5px;
    padding-right: 5px;
}
.modify-txt input{
    width: 100%;
    height: 43px;
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #387ec1;
    padding:0 35px  0 10px;
}
.modify-txt select{
    width: 100%;
    height: 43px;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #a1a1a1;
    padding:0 0px  0 10px;
    line-height: 43px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border:none;
    position: relative;
    z-index: 1;
}
.modify-txt button{
    width: 100%;
    height: 45px;
    background: #febf10;
    border: 1px solid #febf10;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    line-height: 45px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.modify-txt button:hover{
    background: #02a6cd;
    border: 1px solid #02a6cd;
    color: #FFF;
}
.modify-txt1{
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    
}
.modify-txt input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #a1a1a1;
}
.destinationIcon::after{
    content: '';
    position: absolute;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: url(../images/sprint.png) 0px 0px no-repeat;
}
.traveldateIcon::after{
    content: '';
    position: absolute;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: url(../images/sprint.png) 0px -35px no-repeat;
}
.sortIcon::after{
    content: '';
    position: absolute;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: url(../images/sprint.png) 0px -63px no-repeat;
}
.package_list{
    width: 100%;
    float: left;
    border:1px solid #e3e3e3;
    background: #FFF;
    border-radius: 7px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 24px;
}
.package_list:hover{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
}
.packageImg{
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.packageImg span{
    position: absolute;
    right: 0;
    bottom: 20px;
    background:#febf10;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    padding: 10px;
    -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
.packageImg img{
    width: 100%;
    height: 239px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.package_list:hover .packageImg img{
    transform: scale(1.2);
}
.package-text{
    width: 100%;
    float: left;
    padding: 10px;
}
.pck_desti{
    width: 100%;
    float: left;
}
.pck_desti h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
	margin-bottom: 5px;
	text-align: left;
    letter-spacing: 0;
}
.pck_desti p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
	color: #757575;
    padding: 0px;
    min-height: 49px;
}
.pck-btn-sec{
    width: 100%;
    float: left;
    padding-top: 11px;
}
.pck-btn-sec button{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 15px;
    background: #387ec1;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    float: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.pck-btn-sec button:hover{
    background: #febf10;
    color: #000;
}
.pck-right{
    float: right;
    text-align: right;
    margin-bottom: 5px;
}
.star-rating{
	width: auto;
	float: right;
}
.star-rating i{
    color: #febf10;
    font-size: 16px;
    float: left;
    margin-left: 2px;
}
.days{
	float: right;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #757575;
}
.days i{
    color: #00a0c6;
}
.package-modify h6{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #484848;
    padding: 0px 0px 8px 0px;
}
.package-booking{
    width: 100%;
    float: left;
    border-left: 1px solid #dce0e0;
    border-right: 1px solid #dce0e0;
    border-bottom: 1px solid #dce0e0;
    border-radius: 4px;
    background: #FFF;
    padding: 10px 20px 20px 20px;
    margin-bottom: 21px;
}
.bookingHead{
    width: 100%;
    float: left;
    min-height: 50px;
    background:#387ec1;
    -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.booking-price{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    padding: 15px 18px;
}
.per-person{
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    padding: 15px 18px;
}
.package-booking label{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size:13px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 3px;
}
.packagefields{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.packagefields input{
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #555555;
    border:1px solid #dce0e0;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size:13px;
    font-weight: 300;
}
.packagefields select{
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #555555;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    height: 29px;
    padding: 0px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.package-booking button{
    width: 100%;
    float: left;
    background-color: #faa716;
    color: #000;
    border: 1px solid #febf10;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.book_description{
    float: left;
    width: 100%;
    border-top: 1px dashed #dce0e0;
    padding: 20px 0 0px 0;
    margin-top: 28px;
}
.des_txt{
    width: 80%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size:13px;
    font-weight: 300;
    color: #7d7d7d;
}
.des_icon{
    width: 10%;
    float: right;
}
.des_icon i{
    font-size: 27px;
}
.mainpackage h4{
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dce0e0;
}
.package_days{
    width: 100%;
    float: left;
}
.package_days h3{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    margin-top: 10px;
}
.package_days p{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 5px;
    line-height: 22px;
    text-align: justify;
}
.package_days img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}
.wp-caption-text{
    font-size:12px !important;
    font-weight: 300;
    color: #a7a7a7 !important;
    text-align: center !important;
}
.review_sec{
    width: 100%;
    float: left;
    padding: 10px 0;
    border-top: 1px dashed #dce0e0;
    border-bottom: 1px dashed #dce0e0;
    margin-top: 20px;
}
.review_sec h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 5px;
    border-bottom: none;
}
.review_sec ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.review_sec ul li{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    display: table;
    width: 100%;
    border-bottom: 1px dashed #dce0e0;
    padding-bottom: 10px;
}
.review_sec ul li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.review_author{
    width: 10%;
    float: left;
    padding-right: 10px;
}
.review_author img{
	width: 100%;
    border-radius: 50%;
}
.packagefields button{
	width: auto;
    top: -2px;
    right: -1px;
    height: 40px;
    line-height: 14px;
}
.review_description{
    width: 90%;
    float: left;
}
.review_description h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
	color: #222222;
	text-align: left;
    letter-spacing: 0;
    margin-bottom: 0;
}
.review_description p span{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #a2a2a2;
    margin-bottom: 5px;
}
.review_description p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #222222;
    text-align: justify;
	line-height: 22px;
	padding: 0px;
}
.write_review{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.write_review h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 5px;
    border-bottom: none;
}
.write_review label{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 3px;
}
.write_review label span{
    color: #f70000;
}
.review-text{
    width: 100%;
    float: left;
    background-color: #f3f3f3;
    color: #555555;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.review-textarea{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #f3f3f3;
    color: #555555;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    resize: none;
}
.write_review button{
    width: 150px;
    float: right;
    background-color: #febf10;
    color: #000;
    border: 1px solid #febf10;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.sp_padding{
	padding-top: 0px;
    margin-top: 69px;
}
.ui-datepicker{
	width: 250px;
}
.ui-datepicker-calendar th{
	text-align: center;
}
.star-rating5{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.star-rating5 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.star-rating5 ul li{
    float: left;
    color: #a9a9a9;
    margin-right: 2px;
    width: auto;
    border-bottom: none;
}
.review_description .star-rating5 ul li i{
    font-size: 12px;
}
.review_description .star-rating5 ul li{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.review_description .star-rating5{
    margin-bottom: 0px;
}
.star-rating5 ul li i{
    font-size: 16px;
}
.star-rating5 ul li:hover i, .star-rating5 ul li:focus i{
    color:rgb(239, 158, 8);
}
.packagelist{
	width: 100%;
    float: left;
    padding: 20px 0;
}
.typeSec_area{
    width: 100%;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 5px;
}
.typeSec_area span{
    color:#04880e;
}
.typeSec_area thead{
    background: #dedede !important;
    color: #616161;
}
.typeSec_area th{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500 !important;
    padding: 6px !important; /* added by alex */
}
.typeSec_area td{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #222222;
    padding: 6px !important; /* added by alex */
    line-height: 30px !important;
}
.typeSec_area .packagefields{
    margin-bottom: 0px;
}
.totalSec td{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500 !important;
    color: #222222;
    border-bottom: 1px solid #bfbfbf;
}
/* added by alex */
.fa-times-circle {
    position: absolute;
    padding: 12px;
    left: 345px;
    color: #d80b0b;
}
/* added by alex end here */
.totalSec td:nth-child(2){
    text-align: center;
}
.couponCode{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-top: 10px;
}
.couponCode p{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #04880e;
    float: left;
    width: 100%;
    padding-top: 6px;
}
.couponCode input {
    width: 70%;
    float: left;
    height: 40px;
    border: 1px solid #cccccc;
    padding: 10px;
    background: #f4f4f4;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    -webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.couponCode button {
    width: 30%;
    float: left;
    height: 40px;
    border: 1px solid #027029;
    background: #04880e;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    line-height: 17px;
    font-size: 13px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 0px;
-webkit-border-bottom-right-radius: 4px;
-webkit-border-bottom-left-radius:0px;
-moz-border-radius-topright: 4px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 0px;
border-top-right-radius: 4px;
border-top-left-radius: 0px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 0px;
font-weight: 400 !important;
}

.inner_about{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.inner_about01{
    width: 100%;
    float: left;
}
.inner_about01 h3{
    font-size: 26px;
    color: #3e3e3e;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
.inner_about01 h3 span{
    position: relative;
}
.inner_about01 h3 span::before{
    content: '';
    width: 50px;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    bottom: -3px;
    left: 33%;
    right: 0;
}
.inner_about01 h3 span::after{
    content: '';
    width: 25px;
    height: 3px;
    background: var(--secondary-color);
    position: absolute;
    bottom: -3px;
    left: 33%;
    right: 0;
}
.inner_about01 p{
    font-size: 14px;
    color: #3e3e3e;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 24px;
}
.missionSec{
    width: 100%;
    float: left;
    padding-top: 100px;
    padding-bottom: 52px;
}
.missionSec ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
.missionSec ul li{
    width: 33.3%;
    float: left;
}
.missionSec .icon{
    font-size: 157px;
    font-weight: 700;
    color: #efefef;
    position: relative;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 65px;
}
.missionIcon{
    position: absolute;
    font-size: 40px;
    color: var(--secondary-color);
    top: 178%;
    right: 0;
    left: 0;
    max-width: 100px;
    margin: auto;
}
.missionIcon::after{
    content: '\f140';
    font-family: FontAwesome;
}
.visionIcon{
    position: absolute;
    font-size: 40px;
    color: var(--secondary-color);
    top: 178%;
    right: 0;
    left: 0;
    max-width: 100px;
    margin: auto;
}
.visionIcon::after{
    content: '\f06e';
    font-family: FontAwesome;
}
.valueIcon{
    position: absolute;
    font-size: 40px;
    color: var(--secondary-color);
    top: 178%;
    right: 0;
    left: 0;
    max-width: 100px;
    margin: auto;
}
.valueIcon::after{
    content: '\f0eb';
    font-family: FontAwesome;
}
.missionSec ul li h6{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    color: var(--primary-color);
    margin-bottom: 6px;
}
.missionSec ul li p{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #5f5e5e;
    padding: 0 74px;
}
.inner_faq{
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 30px;
}
.inner_faq h3{
    font-size: 23px;
    color: #3e3e3e;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
    text-align: left;
    margin-top: 10px;
    border-bottom: 1px solid rgb(220, 220, 220);
    padding-bottom: 11px;
    text-transform: capitalize;
}
.inner_faq h4{
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
    text-align: left;
    margin-top: 20px;
    text-transform: capitalize;
}
.inner_faq p{
    font-size: 14px;
    color: #3e3e3e;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 10px;
}
.book_d_list{
    width: 100%;
    float: left;
}
.book_d_list select{
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #555555;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.flight_visible_Sec{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dce0e0;
}
.package-flight-info{
    width: 100%;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-bottom: 5px;
}
.package_flight{
    width: 100%;
    float: left;
}
.package-flight-info .flight-logo-name p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding-left: 0px;
}
.package-flight-info .flg-departure, .package-flight-info .place-itineray{
    font-family: 'Poppins', sans-serif;
}
.package-flight-info .flight-destination ul li:nth-last-child(2)::before {    
    top: 38px;
}
.package-flight-info .flight-destination ul li h3{
    padding-top: 0px;
}
.package-flight-info .flight-destination ul li {
    padding: 9px 0px;
}
.flight_visible_Sec h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}
.packageDay_sec{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #dce0e0;
}
.packageDay_sec p{
    font-family: 'Poppins', sans-serif;
}
.packageDay_sec p:first-child{
    text-transform: uppercase;
}
.packageDay_sec h3{
    font-weight: 300;
    font-size: 16px;
}
.packageDay_sec ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.packageDay_sec ul li{
    position: relative;
    padding-left: 13px;
}
.packageDay_sec ul li::before{
    content:'\f101';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    top: 0;
    color: var(--primary-color);
    font-size: 16px;
}
.package-flight-info>.name>a.link {
    color: rgb(62,80,180);
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
}
.package-flight-info>.rating>li {
    display: inline-block;
    float: left;
}
.room-type {
    border-bottom: 1px solid rgb(223,223,223);
    padding: 10px 0;
}

.check_in_info>strong>i {
    border: 2px solid;
    border-radius: 30px;
    display: inline-block;
    font-size: 7px;
    font-weight: bolder;
    height: 14px;
    line-height: 10px;
    margin-right: 4px;
    position: relative;
    text-align: center;
    top: -1px;
    width: 14px;
}
.check_in_info>strong>i.green {
    color: rgb(71,189,137);
    transform: rotate(0deg);
}
.check_in_info>strong>i.red {
    color: rgb(197,63,63);
    transform: rotate(0deg);
}

/*package hotel css*/
.htl_package{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.package-hotel-info{
    width: 100%;
    float: left;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding: 12px;
}
.package-hotel-info h3{
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.htlImg-area{
    width: 100%;
    float: left;
}
.htlImg-area img{
    width: 100%;
}
.padding0{
    padding-left: 0px;
    padding-right: 0px;
}
.check_in_info{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dashed #e8e8e8;
    padding-bottom: 6px;
    margin-bottom: 5px;
}
.check_in_info span{
    font-weight: 500;
    padding-right: 6px;
}
.check_in_info span:nth-child(1){
    color: #0d8605;
}
.check_in_info span:nth-child(2){
    padding-left:16px ;
    color: #d80b0b;
}
.room-type5{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dashed #e8e8e8;
    padding-bottom: 6px;
    margin-bottom: 6px;
    padding: 0px 0px 5px 0px;
}

.day_package{
    padding-left: 5px;
    padding-right: 5px;
}
.day_bottom_shade{
    border-bottom: solid 1px #e5d9d9;
    border-radius: 6px;
    margin: 1em 0em .7em 0em;
}
.day_title{
    padding-bottom: 10px;
    margin-left: .5em;
    margin-right: .5em;
    padding-right: 23px;
}
.day_title > h6{
    font-weight: 500;
    color: #4184c4;
    font-size: 20px;
}

.day_content{
    padding: 0px 8px 1em 8px;
}
.day_images{
    padding: 6px 5px 0px 5px;
   
}

/* package social media css */

.package-media{
    float: left;
    position: relative;
    bottom: 14px;
    right: 36px;
    }
.package-media ul li{
    display: inline-block;
    padding-left: 0px;
    }
.package-media ul li a{
    height: 27px;
    width: 27px;
    font-size: 14px;
    color: #fff;
    background: #387ec1;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    border: 1px solid #387ec1;
    }
.package-media ul li a:hover{
    border: 1px solid #387ec1;
    background-color: transparent;
    color: #387ec1;
    }

@media (max-width: 990px){
	.inner-banners {
        padding: 23px 0px;
    }
    .inner-banners h1 {
        font-size: 23px;
    }
    .write_review button{
        width: 100%;
    }
    .missionSec ul li{
        width: 100%;
        padding-bottom: 86px;
    }
    .missionSec ul{
        display: block;
    }
}
@media (max-width: 768px){
	.sp_padding {
		margin-top: 0;
    }
    .package-flight-info .flight-logo-name{
        text-align: center;
    }
    .package-flight-info .flight-logo-name img{
        float: initial;
    }
    .package-flight-info .flight-destination ul li{
        width: 33.3% !important;
    }
    .package-flight-info .flight-destination ul li:nth-last-child(2)::before {
        top: 38px !important;
    }
    .padding0{
        padding-left: 15px;
        padding-right: 15px;
    }
    #htl-in-item{
        margin-bottom: 10px;
    }
    .room-type5 p{
        padding: 0;
    }

}
@media (max-width: 400px){
	.days{
		width: auto;
	}
	.star-rating{
		float: initial;
	}
}
@media (max-width: 440px){
    .package-flight-info .flight-destination ul li {
        width: 100% !important;
    }
}
@media (max-width: 550px){
	.review_author {
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.review_author img {
		width: auto;
		margin-bottom: 5px;
	}
	.review_description{
		width: 100%;
	}
	.review_description h5, .review_description p{
		text-align: center;
    }
}
@media (min-width:991px) and (max-width:1200px) {
    .couponCode input {
        width: 61%;
    }
    .couponCode button {
        width: 39%;
    }
}
@media (min-width:200px) and (max-width:380px) {
    .couponCode input {
        width: 100%;
        border-radius: 0px;
    }
    .couponCode button {
        width: 100%;
        border-radius: 0px;
    }
}