
    .autocomplete-results {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 1px solid #ddd0d0;
        max-height: 223px;
        overflow: auto;
        background-color: #ffffff;
        border-radius: 0;
        position: absolute;
        z-index: 99999;
        top: 75px;
        font-family: 'Poppins', sans-serif;
    }
    
    .autocomplete ul.autocomplete-results li {
        font-size: 13px;
        font-weight: 300;
        color: #000;
        font-family: 'Poppins', sans-serif;
    }
    
    .autocomplete ul.autocomplete-results li:hover {
        color: #ffffff;
    }
    
    .autocomplete-result {
        list-style: none;
        text-align: left;
        padding: 7px 10px;
        cursor: pointer;
        border-bottom: 1px dashed #c5c5c5;
        color: #b1bdff;
        font-size: 13px;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }
    
    .autocomplete-results li:last-child {
        border-bottom: none;
    }
    
    .autocomplete-result-active {
        background-color: var(--primary-color) !important;
        color: #FFF !important;
    }
    
    .autocomplete-result:hover {
        background-color: var(--primary-color);
        color: #FFF;
    }
    
    .autocomplete-results::-webkit-scrollbar {
        width: 5px;
    }
    
    .autocomplete-results::-webkit-scrollbar-track {
        background: #e6e6e6;
    }
    
    .autocomplete-results::-webkit-scrollbar-thumb {
        background-color: #d0d0d0;
        outline: 1px solid slategrey;
    }

    .within_sec {
        font-size: 12px !important;
        font-weight: 400 !important;
        text-transform: capitalize;
        color: #505050 !important;
        line-height: 16px;
        margin-bottom: 10px;
    }

    #slider-step-value {
        font-size: 12px;
        font-weight: 600;
        text-transform: capitalize;
        color: #505050;
        line-height: 16px;
    }
    .recep5 {
        width: 50%;
        position: absolute;
        z-index: 999;
        background: var(--primary-color);
        padding: 17px 11px;
        margin-left: 110px;
    }
  
   