* {
	margin:0;
	padding:0;
}
img {
	outline:none;
}
body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a:focus {
	outline: none;
	text-decoration: none;
}
p {
	line-height: 22px;
	margin: 0;
	padding: 0;
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 400;
}
section {
	padding: 60px 0;
}
/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/*=====  Top CSS BOF  ======*/
.top {
	background: #ad2a31;
	width: 100%;
	height: auto;
	padding: 12px 0;
}
/* .contact-info {
	float: left;
	padding: 6px 0;
}
.contact-info div {
	margin-right: 22px;
	float: left;
}
.contact-info div i {
	color: #fff;
	font-size: 20px;
	float: left;
	margin: 3px 10px 0 0;
}
.contact-info div a {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #f6d12e;
	text-decoration: none;
}
.login {
	margin-left: 26px;
	float: left;
	padding: 6px 0;
}
.login i {
	color: #fff;
	font-size: 17px;
	float: left;
	margin: 3px 10px 0 0;
}
.login a {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}
.login a:hover {
	color: #f6d12e;
	text-decoration: none;
}
.lang {
	float: right;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 3px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#e2add9;
}
.lang:hover {
	color: #fff;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	left: -61px;
	top: 48px;
	padding: 0;
	background: #ad2a31;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff;
}
.lang .dropdown-menu li a {
	padding: 5px 12px;
	color: #fff;
	font-size: 14px;
	border-bottom: 1px solid #82171d;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #82171d;
}
.lang .dropdown a {
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}
.list-inline > li {
	padding: 0 0;
} */
/* Navigation CSS BOF
=================================================== */
/* .navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
}
.navbar-nav {
	margin: 0;
	padding: 0;
}
.navbar-brand img {
	width: 100% !important;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	display: block;
	margin: 0;
	padding: 23px 25px;
	position: relative;
	border-bottom:3px solid #fff;
}
.navbar-default .navbar-nav > li:last-child::after {
 display: none;
}
.navbar-default .navbar-brand {
	position:relative;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	z-index: 1000;
	margin: 0 0 -28px !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #ad2a31;
	background-color: #fff;
	border-bottom:3px solid #ad2a31;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
 -webkit-transition: all .35s;
 transition: all .35s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ad2a31;
	background-color: #fff;
	border-bottom:3px solid #ad2a31;
}
.safety-belt {
	background: #f6d12e;
	width: 100%;
	height: auto;
	padding: 5px 0;
}
.safety-belt img {
	float:left;
	padding: 3px 30px 3px 65px;
}
.safety-belt p {
	float:left;
	padding:11px 0 0;
	font-weight:500;
	color:#000;
}
.explore-btn {
	font-weight: 500;
	color: #fff;
	background: #000;
	width: auto;
	padding: 3px 15px;
	font-size: 16px;
	display: block;
	text-align: center;
	float:right;
	border-radius:5px;
	margin-top: 6px;
}
.explore-btn:hover {
	color: #fff;
	background: #ad2a31;
	text-decoration: none;
} */
/*=====  Banner CSS BOF  ======*/
#bnr {
	position:relative;
}
.carousel {
	min-height: 764px;
}
.carousel-inner img {
	width: 100%;
	height: 764px !important;
}
.carousel-indicators {
	display: none;
}
.carousel-control.right {
	right: 50px !important;
	left: auto !important;
}
.carousel-control.left, .carousel-control.right {
	width: 38px;
	height: 52px;
	left: 50px;
	right: auto;
	top: 25%;
	background: rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
	z-index: 3;
}
.carousel-control.left i, .carousel-control.right i {
	line-height: 52px;
	font-size: 32px;
	color: #000;
}
.carousel-control:focus, .carousel-control:hover {
	background: rgba(255, 255, 255, 1);
	color: #000;
}
.banner-text {
	position: absolute;
	top: 60px;
	left: 20%;
	width: 42%;
	margin: 0;
}
.banner-text p {
	font-size: 20px;
	font-weight: 400;
	padding: 8px 0 0;
	display: block;
	color: #fff;
}
.banner-text h1 {
	font-size: 90px;
	font-weight: 700;
	display: block;
	color: #fff;
	line-height: normal;
}
.banner-text h1 span {
	font-weight: 400;
}
/*================Booking-Form-Css================*/
.shadow {
	display: inline-block;
	width: 100%;
}
.form-control:focus {
	border-color: none;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.m-left {
	margin-left: 16% !important;
}
.p-tp {
	padding-top: 0 !important;
}
.chck {
	display: inline-block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:16px !important;
	font-weight:500 !important;
	color:#413d3d !important;
	float: right;
	top: 4px;
}
/* Hide the browser's default checkbox */
.chck input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	left: 0;
}
/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: -5px;
		left: 0;
		height: 23px;
		width: 23px;
		background-color: #413d3d;
	}

/* On mouse-over, add a grey background color */
.chck:hover input ~ .checkmark {
 background-color: #413d3d;
}

/* When the checkbox is checked, add a blue background */
.chck input:checked ~ .checkmark {
 background-color: #413d3d;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.chck input:checked ~ .checkmark:after {
 display: block;
}
/* Style the checkmark/indicator */
.chck .checkmark:after {
	left: 9px;
	top: 5px;
	width: 6px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.close-btn {
	display: block;
	margin: 0;
	font-size: 18px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 24px 0 0 10px;
}
.close-btn a {
	display: block;
	color: #000;
}
.add-btn {
	width: 85px;
	height: auto;
	display: block;
	font-size: 13px;
	text-align: center;
	color: #fff;
	padding: 2px 5px;
	font-weight: 400;
	margin: -25px 0 0 70px;
	background:#000;
	border-radius: 3px;
}
.add-btn:hover, .add-btn:focus {
	background: #ad2a31;
	color: #fff;
	text-decoration: none;
}
.room-title {	
    display: block;	
    font-size: 17px;	
    text-align: left;	
    border-bottom: 1px solid #ddd;	
    color: #ad2a31;	
    padding: 5px 0;	
    font-weight: 500;	
    margin-bottom: 10px;	
}	
.add-room {	
    width: 100px;	
    height: auto;	
    display: block;	
    font-size: 13px;	
    text-align: center;	
    border: 1px solid #000;	
    background: #000;	
    color: #fff;	
    padding: 2px 5px;	
    font-weight: 400;	
    margin: 0 15px 10px 0;	
    float: right;	
}	
.add-room:hover, .add-room:focus {	
    background: #ad2a31;	
    border: 1px solid #ad2a31;	
    color: #fff;	
    text-decoration: none;	
}	
.delete-room {	
    width: 100px;	
    height: auto;	
    display: block;	
    font-size: 13px;	
    text-align: center;	
    border: 1px solid #000;	
    background: #000;	
    color: #fff;	
    padding: 2px 5px;	
    font-weight: 400;	
    margin: 0 0 10px 15px;	
    float: left;	
}	
.delete-room:hover, .delete-room:focus {	
    background: #ad2a31;	
    border: 1px solid #ad2a31;	
    color: #fff;	
    text-decoration: none;	
}
.brdr-rdus {
	border-radius: 5px 0 0 5px;
}
.brdr-rdus2 {
	border-radius: 0 5px 5px 0;
}

.booking-form input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
 color: #767676;
}
 .booking-form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #767676;
}
 .booking-form input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
 color: #767676;
}
.booking-form {
	background: rgba(255, 255, 255, 0.84);
	padding: 0;
	width: 100%;
	-webkit-box-shadow: 0 0px 22px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0px 22px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0px 22px 2px rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom:0;
}
.search-section {
	margin-top: -68px;
	padding: 0 0 40px;
	display: inline-block;
	width: 100%;
}
.tab-field {
	padding: 0;
}
.search-section .nav-tabs {
	border-bottom: none;
	text-align: center;
	margin: 0;
}
.search-section .nav-tabs > li {
	float: none;
	text-align: center;
	display: inline-block;
	padding: 0;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs > li > a {
	color: #413d3d;
	background-color: #fff;
	font-weight: 700;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
}
.search-section .nav > li > a {
	padding: 15px 30px;
	font-size: 18px;
	color: #413d3d;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	display: block;
	line-height: 38px;
	border-radius: 5px 5px 0 0;
}
.service-icon svg {
	fill: #413d3d;
	margin: 0 10px 0 0;
	width: 35px;
	height: 35px;
	float: left;
}
.search-section .nav-tabs > li.active svg {
	fill: #fff;
}
.search-section .nav-tabs2 > li {
	margin: 0 10px 0;
}
.search-section .nav-tabs2 li a {
	padding: 0;
	color: #231f20;
	background-color: transparent !important;
	font-weight: 500;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
	font-size: 16px;
	text-decoration: none;
	position: relative;
	text-transform:none;
}
.search-section .nav-tabs2 > li.active > a, .search-section .nav-tabs2 > li.active > a:focus, .search-section .nav-tabs2 > li.active > a:hover {
	border: none;
	background: transparent !important;
	color: #ad2a31 !important;
}
.search-section .nav-tabs > li.active > a, .search-section .nav-tabs > li.active > a:focus, .search-section .nav-tabs > li.active > a:hover {
	border: none;
	background: #ad2a31;
	color: #fff;
}
.search-section form {
	width: 100%;
	display: inline-block;
}
.search-section .tab-content {
	color: #07253f;
	padding-top: 50px;
}
.search-col-padding .input-group {
	display: block;
}
.search-section label {
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	line-height: 16px;
}
.search-section .form-control {
	background-color: transparent;
	border: none;
	border-right: 1px solid #bdbbbc;
	border-radius: 0px !important;
	color: #767676 !important;
	display: block;
	font-size: 14px;
	height: 80px;
	line-height: 1.42857;
	padding: 0 0 0 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	margin: 0;
	position: relative;
	font-weight: 500;
}
.search-section .plane-icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}
.search-section .input-group-addon {
	background: transparent;
	color: #bdbbbc;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}
.search-section .search-col-padding {
	padding: 0;
	background: #fff;
}
.search-section option {
	color: #07253F;
}
.calendar {
	background: #fff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 20px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	height: 80px;
	border: none;
	border-right: 1px solid #bdbbbc;
	width: 100%;
}
.calendar ::placeholder {
 color:#000!important;
}
.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
}
.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #ad2a31;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 16px;
}
.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}
.ui-datepicker-prev::after {
 transform: rotate(45deg);
 margin: -45px 0px 0px 6px;
}
.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}
.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -45px 0px 0px 4px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	border-color: #f6d12e;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #ad2a31;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.ui-state-default {
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
}
.ui-state-default:hover {
	background: #f6d12e;
	color: #000;
	text-decoration: none;
}
.ui-state-highlight {
	color: #000;
	background: #f6d12e;
}
.ui-state-active {
	background: #012e81 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}
.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #ababab;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
	display: none;
}
.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
 width: 100%;
}
.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn:hover {
	color: #da434a;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #ad2a31;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	padding: 5px;
	border: none;
	width: 100%;
	border-radius: 0 5px 5px 0;
	height: 80px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#multi-city .search-button {border-radius: 5px;}
.search-col-padding input[type="radio"] {
	margin-top: 2px;
}
.search-col-padding .active {
	color: #fff;
}
.trip-button {
	margin-top: 10px !important;
}
.search-button:hover, .search-button:focus, .search-button:active {
	color: #fff;
	text-decoration: none;
	background: #000;
}
#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}
/*-----Select Box CSS-----*/
.bootstrap-select {
	width: 220px;
}
.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}
.bootstrap-select.fit-width {
	width: auto!important
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
 width: 220px
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}
.bootstrap-select.form-control:not([class*=col-]) {
 width: 100%
}
.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
 float: none;
 display: inline-block;
 margin-left: 0
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
 float: right
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}
.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}
.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
 width: 100%
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}
.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}
.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}
.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
	padding: 4px 8px
}
.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-actionsbox .btn-group button {
	width: 50%
}
.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-donebutton .btn-group button {
	width: 100%
}
.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}
.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}
select.bs-select-hidden, select.selectpicker {
	display: none!important
}
select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}
#flight form .input-group {
	display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #676767 !important;
	/* text color */
	line-height: 34px;
	background: #fff;
	border-radius: 0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	color: #646060;
}
.search-section .form-control::-moz-placeholder {
 color: #b4b4b4;
 opacity: 1;
}
.search-section .form-control::-ms-input-placeholder {
 color: #b4b4b4;
}
.search-section .form-control::-webkit-input-placeholder {
 color: #b4b4b4;
}
.search-section .form-control::-o-input-placeholder {
 color: #b4b4b4;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 17px;
	width: 40px;
	text-align: center;
	line-height: 30px;
}
.select2-container--default .select2-selection--single {
	background-color: #fff;
	/* input background color */
	border: none;
	border-radius: 0px;
	height: 68px !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #96a9bf;
	/* option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #96a9bf;/* option hover background */
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #ababab;
	padding: 7px;
	font-size: 20px;
}
.select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}
.select2-dropdown {
	border-color: #6e8095;
}
.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}
.select-label {
	font-size: 15px !important;
	font-weight: 600 !important;
	text-transform: capitalize!important;
	padding-bottom: 10px;
}
.change-destination::after {
 content: url(../images/exchange-icon.png);
 position: absolute;
 right: -14px;
 top: 25px;
 z-index: 1;
}
.change-date::after {
 content: url(../images/exchange-date.png);
 position: absolute;
 right: -14px;
 top: 25px;
 z-index: 1;
}
.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 4px;
	width: 40px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
.booking-form1 .form-group2 .select2-container .select2-selection--single, .booking-form1 .form-group .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
}
.booking-form1 .form-group2 .select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #fff;
	padding: 7px;
	font-size: 15px;
}
/* Travellers CSS BOF ===================================================*/ 
.travellersDropdown {
	position: relative;
}
.custom-select-v3 {
	position: relative;
	cursor: pointer;
}
.custom-select-v3::before {
 background: 0 0;
 border: 0;
 top: 25px;
 color: #000;
 display: block;
 font-size: 16px;
 height: 42px;
 line-height: 28px;
 margin-right: 0;
 pointer-events: none;
 position: absolute;
 right: 0;
 width: 24px;
 z-index: 6;
 font-weight: 700;
 content: "\f107";
 font-family: 'FontAwesome';
}
.travellersDropdown span[class^="icon-"] {
 color: #a0a0a0;
 font-size: 22px;
 left: 10px;
 pointer-events: none;
 position: absolute;
 top: 9px;
 z-index: 1;
}
.travellersDropdown span[class^="icon-"] {
 color: #a0a0a0;
 font-size: 22px;
 pointer-events: none;
}
.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
}
.custom-select-v3 select, .form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: normal;
	margin-bottom: 20px;
	padding: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	box-shadow: none;
	color: #000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.travelerSelectWindow {
	width: 330px;
	position: absolute;
	top: 80px;
	right: 0;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .1);
	z-index: 3;
	/* display: none; */
}
.travelerSelectWindow.active {
	display: block;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow fieldset {
	padding: 0 13px 15px 0;
}
fieldset {
	min-width: 0;
	margin: 0;
}
.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: left;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
	max-width: 100%;
}
.trvFld {
	float: left;
	margin-right: 10px;
	width: 70px;
}
.trvFld .custom-select-v3 {
	display: block;
}
.trvFld .custom-select-v3::before {
 font-size: 12px;
 height: 35px;
 line-height: 6px;
 top: 14px;
}
.trvFld .custom-select-v3 select {
	text-align: left;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}
select option {
	padding: 2px 5px;
	background: #fff;
}
.trvFld .custom-select-v3 select {
	text-align: left;
	line-height: 35px;
	color: #000;
}
.travelerSelectWindow .ageRange {
	float: left;
	font-size: 14px;
	color: #c2c2c2;
	padding-top: 10px;
}
.classSec {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
	margin: 0 15px 15px;
	overflow: hidden;
}
.classSec .custom-select-v3::before {
 top: 9px;
}
.classSec label {
	margin-top: 5px;
}
.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}
.classSec .custom-select-v3.lg select {
	margin: 0;
}
.classSec .custom-select-v3 select {
	cursor: pointer;
}
.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	text-indent: initial;
	color: #000;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
	border-radius: 0;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #ad2a31;
	display: inline-block;
	border-radius: 0;
	opacity: 1;
	top: 8px;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
.travelerSelectWindow .closeBtn:hover {
	opacity: 1;
	background: #000;
}
/*===========================================
=            Radio Button Custom            =
===========================================*/
.radio {
	padding-left: 20px;
	margin-bottom: 20px;
}
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 0;
	font-size: 16px;
	color: #231f20;
	font-weight: 500;
	padding-top: 0;
}
.radio label.active, .radio label:focus {
	color: #000;
}
.radio label::before {
 content: "";
 display: inline-block;
 position: absolute;
 width: 14px;
 height: 14px;
 left: 0;
 margin-left: -13px;
 border: 2px solid transparent;
 border-radius: 50%;
 -webkit-transition: border 0.15s ease-in-out;
 -o-transition: border 0.15s ease-in-out;
 transition: border 0.15s ease-in-out;
 top: 4px;
}
.radio label::after {
 display: inline-block;
 position: absolute;
 content: " ";
 width: 6px;
 height: 6px;
 left: 11px;
 top: 8px;
 margin-left: -20px;
 border-radius: 50%;
 background-color: #fff;
 -webkit-transform: scale(0, 0);
 -ms-transform: scale(0, 0);
 -o-transform: scale(0, 0);
 transform: scale(0, 0);
 -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
 -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
 -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
 transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
	margin: 0;
}
.radio input[type="radio"]:checked + label::after {
 -webkit-transform: scale(1, 1);
 -ms-transform: scale(1, 1);
 -o-transform: scale(1, 1);
 transform: scale(1, 1);
}
.radio.radio-inline {
	margin: 0 0 30px;
	padding: 0 10px;
}
.radio-success input[type="radio"] + label::after {
 background-color:transparent;
}
.radio-success input[type="radio"]:checked + label::before {
 border-color: transparent;
}
.radio-success input[type="radio"]:checked + label::after {
 background-color: transparent;
}
.radio-success input[type="radio"]:checked + label {
	color: #ad2a31;
}
/*==============End-Booking-Form-Css===========*/


/*=====  Deals Section CSS BOF  ======*/
#deals_section, #pckg_section, #artcl_section {
	width: 100%;
	display: block;
}
.title h2 {
	font-size: 50px;
	font-weight: 700;
	color: #ad2a31;
	position: relative;
	text-align: center;
	line-height: normal;
}
.title h2::before {
	 content: "";
	 background: #413d3d;
	 width: 70px;
	 height: 4px;
	 position: absolute;
	 left: 0px;
	 bottom: -10px;
	 right: 0;
	 margin: 0 auto;
}
#deals_section .item .deals {
	background: #f3f3f3;
	overflow: hidden;
	border-radius: 10px;
}
#deals_section .item .deals_image {
	display: block;
	overflow: hidden;
	position: relative;
}
#deals_section .item .deals_image img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#deals_section .item .deals:hover img {
	transform: scale(1.1);
}
#deals_section .item .deals i {
	background: #fff;
	border-radius: 0 0 50px 50px;
	width: 56px;
	height: 60px;
	line-height: 60px;
	font-size: 28px;
	color: #ad2a31;
	position: absolute;
	top: 0;
	left: 40px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#deals_section .item .deals:hover i {
	background: #ad2a31;
	color: #fff;
}
#deals_section .item .deals_detail {
	padding: 30px;
	overflow: hidden;
	text-align: left;
	position: relative;
}
#deals_section .item .deals_detail h4 {
	padding: 0;
	font-size: 22px;
	font-weight: 500;
	color: #413d3d;
	display: inline-block;
	line-height: 25px;
	z-index: 1;
	position: relative;
	text-transform: none;
}
#deals_section .item .deals_detail p {
	padding: 15px 0 0;
	font-size: 18px;
	font-weight: 400;
	color: #474747;
	display: inline-block;
	line-height: 22px;
	z-index: 1;
	position: relative;
	text-transform: none;
}
#deals_section .item .deals_detail .text {
	padding: 15px 0 0;
	display: inline-block;
	width: 100%;
}
#deals_section .item .deals_detail .date {
	font-size: 16px;
	font-weight: 400;
	color: #474747;
	float:left;
}
#deals_section .owl-carousel {
	padding-top: 15px;
}
#deals_section .item {
	position: relative;
	display: block;
	overflow: hidden;
	height: auto;
	padding: 0 15px;
	margin-top: 30px;
}
#deals_section .owl-theme .owl-controls {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
}
#deals_section .owl-prev, #deals_section .owl-next {
	background: #f5f5f5 !important;
	display: inline-block !important;
	margin: 0 0 0 -50px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #413d3d !important;
	opacity: 1 !important;
	border-radius: 50% !important;
	line-height: 42px;
	float: left;
	width:42px;
	height:42px;
}
#deals_section .owl-next {
	float: right;
	margin: 0 -50px 0 0 !important;
}
#deals_section .owl-prev:hover, #deals_section .owl-next:hover {
	background: #ad2a31 !important;
	color: #fff !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1 !important;
}
#deals_section .owl-pagination {
	display: none;
}
/* #deals_section .item .deals_detail .text a {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	float: right;
	clear: both;
	background: #413d3d;
	position: absolute;
	padding: 7px 30px;
	width: 170px;
	right: 0;
	text-align: center;
	bottom: 0;
	border-radius: 10px 0 0 0;
}
#deals_section .item .deals_detail .text a:hover {
	color: #fff;
	text-decoration: none;
	background:#ad2a31;
} */
/*=====  Holiday Packages CSS BOF  ======*/

#pckg_section .left {
	float:left;
	display:inline-block;
	width:100%;
	background:url(../images/pckg-left.jpg) no-repeat top left;
	padding:50px;
	min-height: 100%;
	background-size: cover;
}
#pckg_section .title h2 {
	color: #fff;
	font-size:50px;
	font-weight:500;
}
#pckg_section .title h2::before {
 background: #fff;
 width: 100px;
 bottom: -24px;
}
#pckg_section .left p {
	color:#fff;
	line-height:25px;
	padding:20px 0 0;
	font-size:15px;
}
#pckg_section .left .view-btn {
	font-weight: 400;
	color: #fff;
	background: #ad2a31;
	width: 215px;
	padding: 6px 15px;
	font-size: 20px;
	display: block;
	text-align: center;
	border-radius:5px;
	margin: 25px auto 0;
	border:2px solid #fff;
}
#pckg_section .left .view-btn:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
	border:2px solid #fff;
}
.p_0 {
	padding: 0;
}
#pckg_section .right {
	float:left;
	display:inline-block;
	width:100%;
	background:#f3f3f3;
	padding: 19px 100px 43px;
}
#pckg_section .item {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 20px;
	margin-top: 30px;
}
#pckg_section .item .hldy {
	width: 100%;
	background: #fff;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
	margin: 8px;
}
#pckg_section .item .hldy_image {
	display: block;
	overflow: hidden;
	position: relative;
}
#pckg_section .item .hldy_image img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#pckg_section .item .hldy:hover img {
	transform: scale(1.1);
}
#pckg_section .item .hldy_detail {	
	padding: 25px 40px;	
	overflow: hidden;	
	text-align: center;	
	position: relative;	
}	
#pckg_section .item .hldy_detail a h3 {	
	padding: 0;	
	font-size: 30px;	
	font-weight: 500;	
	color: #413d3d;	
	line-height: normal;	
	z-index: 1;	
	position: relative;	
	height: 2.4em;	
	display: table-cell;	
	vertical-align: middle;	
	width: 100%;	
}
#pckg_section .item .hldy_detail a:hover h3 {
	color: #ad2a31;
	text-decoration: none;
}
#pckg_section .item .hldy_detail ul.text {
	margin:0;
	padding:0;
	list-style:none;
	z-index: 1;
	position: relative;
	border: 1px solid #4e4e4e;
	border-right: none;
	border-left: none;
	margin-top: 15px;
}
#pckg_section .item .hldy_detail ul.text li {
    font-size: 18px;
    font-weight: 400;
    color: #7b7b7b;
    padding: 10px 3px;
    display: inline-block;
}
#pckg_section .item .hldy_detail ul.text li i {
	font-size: 18px;
	color: #ad2a31;
}
#pckg_section .item .hldy_image ul {
	display: inline-block;
	padding: 2px 10px 2px 15px;
	position: relative;
	float: left;
	margin: -29px 0 0;
	background: rgba(255, 255, 255, 0.85);
}
#pckg_section .item .hldy_image ul::before {
 content: "'";
 height: 30px;
 background: rgba(255, 255, 255, 0.85);
 position: absolute;
 bottom: 0;
 right: -16px;
 width: 10%;
 -moz-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
 -webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
 -o-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
 clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
}
#pckg_section .item .hldy_image ul li {
	font-size: 18px;
	list-style: none;
	display: inline-block;
	color: #ad2a31;
	float: left;
	padding: 0 5px;
}
#pckg_section .item .hldy_image ul li .fa-star-o {
	color: #b0b0b0;
}
#pckg_section .item .hldy_detail .price {
	padding: 15px 0;
	font-size: 35px;
	font-weight: 700;
	color: #231f20;
	display: inline-block;
	line-height: normal;
	margin-bottom:20px;
}
#pckg_section .item .hldy_detail .price span {
	font-size: 25px;
	font-weight: 500;
	color: #231f20;
	text-transform:uppercase;
}
#pckg_section .item .hldy_detail .btn1 {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	float: right;
	clear: both;
	background: #413d3d;
	position: absolute;
	padding: 7px 30px;
	width: 170px;
	right: 0;
	text-align: center;
	bottom: 0;
	border-radius: 10px 0 0 0;
}
#pckg_section .item .hldy_detail .btn1:hover {
	color: #fff;
	text-decoration: none;
	background:#ad2a31;
}
#pckg_section .owl-pagination {
	display: none !important;
}
#pckg_section .owl-theme .owl-controls {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 40%;
}
#pckg_section .owl-prev, #pckg_section .owl-next {
	background: #f3f3f3 !important;
	display: inline-block !important;
	margin: 0 0 0 -50px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #413d3d !important;
	opacity: 1 !important;
	border-radius: 50% !important;
	line-height: 38px;
	float: left;
	width:42px;
	height:42px;
	border:1px solid #413d3d;
}
#pckg_section .owl-next {
	float: right;
	margin: 0 -50px 0 0 !important;
}
#pckg_section .owl-prev:hover, #pckg_section .owl-next:hover {
	background: #ad2a31 !important;
	color: #fff !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1 !important;
	border:1px solid #ad2a31;
}
/*=====  Recent Articles CSS BOF  ======*/

#artcl_section {
	background:#fff;
	position:relative;
}
#artcl_section::before {
 content: "'";
 height: 191px;
 background: url(../images/recent-bg.jpg) no-repeat;
 position: absolute;
 top: 10px;
 left: 10px;
 width: 191px;
}
#artcl_section::after {
 content: "'";
 height: 191px;
 background: url(../images/recent-bg.jpg) no-repeat;
 position: absolute;
 bottom: 10px;
 right: 10px;
 width: 191px;
}
#artcl_section .inner {
	position: relative;
	overflow: hidden;
	margin: 30px 0 0;
	border-radius:10px;
	z-index: 1;
}
#artcl_section .inner::before {
 content: "'";
 height: 100%;
 background: rgba(61, 61, 61, 0.7);
 position: absolute;
 width: 100%;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
}
#artcl_section .inner:hover::before {
 background: rgba(61, 61, 61, 0.9);
}
#artcl_section .inner img {
	width: 100%;
}
#artcl_section .inner .art_title {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	z-index: 2;
	padding: 40px 35px;
}
#artcl_section .inner .art_title h4 {
	margin: 0;
	text-align: left;
}
#artcl_section .inner .art_title h4 a {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	transition: 0.5s all ease 0s;
	-webkit-transition: 0.5s all ease 0s;
	-moz-transition: 0.5s all ease 0s;
	-o-transition: 0.5s all ease 0s;
	text-decoration: none;
	line-height: 20px;
}
#artcl_section .inner .art_title h4 a:hover {
	color: #f6d12e;
	text-decoration: none;
}
#artcl_section .inner .art_title ul {
	list-style:none;
	margin:0;
	padding:0;
}
#artcl_section .inner .art_title ul li {
	font-size: 16px;
	font-weight: 300;
	float: left;
	color:#fff;
	padding: 14px 10px 0 0;
}
/*=====  Newsletter CSS BOF  ======*/

#newsletter {
	background:url(../images/news-bg.jpg) no-repeat center center;
	background-size:cover;
	display:block;
	width:100%;
	padding:60px 0; 
}
#newsletter .title svg {
	width:68px;
	height:68px;
	fill: #fff;
	text-align: center;
	margin: 0 auto 60px;
}
#newsletter .title h3 {
	font-size: 31px;
	font-weight: 400;
	color: #fff;
	position: relative;
	text-align: center;
	line-height: normal;
}
#newsletter .title h3::before {
 content: "";
 background: #fff;
 width: 102px;
 height: 2px;
 position: absolute;
 left: 0px;
 top: -30px;
 right: 0;
 margin: 0 auto;
}
#newsletter .title p {
	color: #fff;
	text-align: center;
	padding-top:20px;
	line-height:26px;
	width: 55%;
	margin: 0 auto;
}
#newsletter form .input {
	background: #fff;
	border: none;
	width: 100%;
	padding: 10px 20px;
	color: #797778;
	font-size: 17px;
	font-weight: 400;
	border-radius:5px;
	margin-top:30px;
	height:65px;
}
#newsletter form .sub-btn {
	font-weight: 400;
	color: #fff;
	background: #ad2a31;
	width: 100%;
	padding: 0;
	font-size: 20px;
	display: block;
	text-align: center;
	border-radius:5px;
	border:none;
	margin-top:30px;
	height:65px;
	line-height:65px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#newsletter form .sub-btn:hover {
	color: #fff;
	background: #000;
	text-decoration: none;
}
/* Footer CSS BOF
=================================================== */

footer {
	background:#fff;
	display:block;
	width:100%;
	position:relative;
}
footer .inner {
	display: block;
	width: 100%;
}
footer .about {
	width: 100%;
	display: block;
}
footer .about .ftr-logo {
	text-align: left;
	position: relative;
	margin:30px 0 0;
}
footer .about p {
	font-weight: 400;
	text-align: left;
	margin-top: 20px;
	float: left;
	font-size: 16px;
	line-height: 24px;
	color: #575757;
	width: 82%;
}
/* Footer Social CSS BOF
=================================================== */
footer .about .social {
	display: inline-block;
	list-style: outside none none;
	margin: 15px 0;
	float: left;
	width: 100%;
	padding:0;
}
footer .about .social li {
	text-align: center;
	padding: 0 15px 0 0;
	float: left;
}
footer .about .social li a {
	color: #fff;
	display: block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	transition: all 0.8s ease-in-out 0s;
	width: 40px;
	font-size: 20px;
	border-radius:5px;
	background:#413d3d;
}
footer .about .social li a:hover {
	background: #ad2a31;
}
footer .link, footer .contact {
	width: 100%;
	display: inline-block;
}
footer .link h3, footer .contact h3 {
	color: #ad2a31;
	display: inline-block;
	font-weight: 700;
	line-height: 42px;
	margin: 30px 0 20px;
	position: relative;
	text-align: left;
	float: left;
	width: 100%;
	font-size: 28px;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
footer .link ul li {
	font-size: 16x;
	font-weight: 500;
	padding: 6px 0;
	width: 100%;
}
footer .link ul li i {
	font-size: 13px;
	padding-right:8px;
	color:#7f7f7f;
}
footer .link ul li a {
	color: #575757;
	text-decoration: none;
	padding: 0;
}
footer .link ul li a:hover {
	color: #ad2a31;
	text-decoration: none;
}
footer .contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .contact ul li {
	width:100%;
	clear: both;
	float: left;
	padding: 10px 0;
	font-size:20px;
	font-weight:500;
	color: #413d3d;
	line-height: normal;
}
footer .contact ul li i {
	color: #1c1c1c;
	float: left;
	margin-right: 10px;
	font-size:30px;
	width:30px;
	height: 28px;
}
.fnt-sz-24 {
	font-size: 24px !important;
}
footer .contact ul li span {
	width:100%;
	clear: both;
	float: left;
	font-size:16px;
	font-weight:400;
	color: #575757;
	line-height: 22px;
	padding-left: 41px;
}
footer .contact ul li span a {
	font-size:16px;
	font-weight:400;
	color: #575757;
	text-decoration: none;
}
footer .contact ul li span a:hover {
	color: #ad2a31;
	text-decoration: none;
}
footer .ftr-btm {
	background:#413d3d;
	padding: 10px 0;
	margin-top: 40px;
}
footer .copyright {
	color: #dfdfdf;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
	font-weight:400;
}
footer .powered-by {
	color: #dfdfdf;
	font-size: 16px;
	font-weight:400;
	float:right;
	margin-top: 8px;
}
.back-top {
	bottom: 10px;
	position: absolute;
	right: 0;
	left:0;
	width: 50px;
	margin: 0 auto;
}
.back-top #toTop {
	color: #f6d12e;
	line-height: 42px;
	transition: all 0.8s ease-in-out 0s;
	z-index: 50;
}
.back-top i {
	font-size: 40px;
	position: relative;
	top: 9px;
}
.back-top #toTop:hover {
	color: #fff;
}


/* About Us Page CSS BOF
=================================================== */
.inner_banner {
	min-height: 317px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner .banner_text {
	position: absolute;
	width: auto;
	color: #fff;
	margin: 0 auto;
	top: 50%;
	left: auto;
	-webkit-transform: translate(15px, -50%);
	-moz-transform: translate(15px, -50%);
	transform: translate(15px, -50%);
}
.inner_banner .banner_text h1 {
	font-size: 70px;
	font-weight: 700;
	display: block;
	color: #fff;
	line-height: normal;
}
.inner_banner .banner_text h1 span {
	font-weight: 400;
}
.breadcrumbs {
	background: rgba(255,255,255,0.8);
	margin-top: -52px;
	display: block;
	display:block;
	width:100%;
	position: relative;
	-webkit-box-shadow: 0 0px 22px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0px 22px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0px 22px 2px rgba(0, 0, 0, 0.3);
}
.breadcrumbs ul {
    list-style: none;
    padding: 14px 0;
    margin: 0;
}
.breadcrumbs ul li {
	display: inline-block;
	color: #363434;
	font-size: 17px;
	font-weight: 400;
	padding: 0 4px;
}
.breadcrumbs ul li i {
	font-size: 11px;
}
.breadcrumbs ul li a {
	color: #ad2a31;
	text-decoration: none;
}
.breadcrumbs ul li a:hover {
	color: #363434;
}
#intro, #intro-inr, #contact-us, #contact-form, #holiday-detail {
    width: 100%;
    display: block;
}
#intro p{
	padding:30px 0 0;
	line-height:28px;
}
#intro-inr {
	background:#f3f3f3;
}
.flex {
	display: -webkit-flex;
	display: flex;
}
#intro-inr .inner, #contact-us .inner {
	padding: 30px 20px;
	min-height: 100%;
	text-align: center;
	background: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 0px 1px 15px rgba(0,0,0,0.21);
	-moz-box-shadow: 0px 1px 15px rgba(0,0,0,0.21);
	-o-box-shadow: 0px 1px 15px rgba(0,0,0,0.21);
	box-shadow: 0px 1px 15px rgba(0,0,0,0.21);
}
#intro-inr .inner:hover, #contact-us .inner:hover {
	background: #ad2a31;
}
#intro-inr .inner, .round-shape, svg, h3, p, #contact-us .inner {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#intro-inr .inner .round-shape, #contact-us .inner .round-shape {
	background: #f6d12e;
	display: inline-block;
	line-height: 70px;
	text-align: center;
	width: 70px;
	height: 70px;
	border-radius: 100%;
	position: relative;
}
#intro-inr .inner:hover .round-shape, #contact-us .inner:hover .round-shape {
	background: #f6d12e;
}
#intro-inr .inner .round-shape svg, #contact-us .inner .round-shape svg {
	display: inline-block;
	fill: #2f2f2f;
	text-align: center;
	width: 70px;
	height: 70px;
}
#intro-inr .inner:hover svg, , #contact-us .inner:hover svg {
	fill: #000;
}
#intro-inr .inner h3, #contact-us .inner h3 {
	color: #ad2a31;
	font-size: 30px;
	padding-top: 15px;
	text-transform: none;
	font-weight: 500;
	line-height: normal;
}
#intro-inr .inner:hover h3, #contact-us .inner:hover h3 {
	color: #fff;
}
#intro-inr .inner p, #contact-us .inner p {
	padding-top: 15px;
	line-height:26px;
}
#intro-inr .inner:hover p, #contact-us .inner:hover p, #contact-us .inner:hover p a {
	color: #fff;
}

/* Blogs Page CSS BOF
=================================================== */
.blogs::before {
 background: none !important;
}
.blogs::after {
 background: none !important;
}
.pagination {
	margin-bottom: 0;
}
.packages-info .section-lg-30 span {
	margin-top: 0;
}
.packages-info .box-offer {
	margin-bottom: 30px;
}
.pagination > li > a, .pagination > li > span {
	padding: 15px 23px;
	color: #000;
	font-size:17px;
	border: 1px solid #ad2a31;
	font-weight:400;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background: #f6d12e;
	border-color: #ad2a31;
	color: #000;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	background: #f6d12e;
	border-color: #ad2a31;
	color: #000;
}
/* Holidays Page CSS BOF
=================================================== */
.holidays .title h2 {
	font-size: 50px;
	font-weight: 700;
	color: #ad2a31 !important;
	position: relative;
	text-align: center;
	line-height: normal;
}
.holidays .title h2::before {
	 content: "";
	 background: #413d3d !important;
	 width: 70px !important;
	 height: 4px !important;
	 position: absolute;
	 left: 0px;
	 bottom: -10px !important;
	 right: 0;
	 margin: 0 auto;
}
/* Conatct Us Page CSS BOF
=================================================== */
#contact-us .inner p a {
    color: #2f2f2f;
}
#contact-us .inner p a:hover {
    color: #f6d12e;
    text-decoration: none;
}
#contact-form {
	padding: 0;
}
.contact-form {
	padding: 50px 10% 80px;
	background: #f3f3f3;
}
.contact-form textarea.form-control, .review-form textarea.form-control, .comment-post .cmn-form textarea.form-control {
	height: 120px;
	resize: none;
	padding: 20px 15px;
}
.contact-form .form-control, .review-form .form-control, .comment-post .cmn-form .form-control {
	background-color: #fff;
	color: #797778;
	display: block;
	font-size: 17px;
	height: 46px;
	line-height: 1.42857;
	padding: 6px 15px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: 1px solid #a7a7a7;
	border-radius: 5px !important;
}
.contact-form input:focus, .contact-form textarea:focus, .comment-post .cmn-form input:focus, .comment-post .cmn-form textarea:focus, .review-form input:focus, .review-form textarea:focus {
	border-color: #fdbf1b;
}
.contact-form .send-btn, .comment-post .cmn-form .post-btn, .review-form .submit-button {
	width: 220px;
	background: #ad2a31;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin: 10px 0 0 0;
	padding: 8px 35px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.contact-form .send-btn:hover, .comment-post .cmn-form .post-btn:hover, .review-form .submit-button:hover {
	background: #000;
	color: #fff;
	text-decoration: none;
}
.contact-form .search-col-padding, .comment-post .cmn-form .search-col-padding, .review-form .padding {
	padding-top: 30px;
	display: inline-block;
}
.input-group {
	position: relative;
	display: inline-block;
	border-collapse: separate;
	width: 100%;
}
.map-responsive {
	overflow: hidden;
	padding-bottom: 519px;
	position: relative;
	height: 0;
}
.map-responsive iframe {
	left: 0;
	top: 0;
	height: 519px;
	width: 100%;
	position: absolute;
}

/* Faq Page CSS BOF
=================================================== */
.faq .inner {
	display: inline-block;
	width: 100%;
}
.panel-group {
    margin-top: 40px;
	margin-bottom: 0;
}
.panel-group .panel {
	background-color: transparent;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
    box-shadow: none;
	margin-bottom: 20px;
	border-radius: 10px;
}
.panel-default > .panel-heading {
    background-color: #f3f3f3;
    border-color: #ddd;
	padding: 0;
	border-radius: 10px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-group .panel-heading a {
    display: block;
    background: #f3f3f3;
    color: #201f1f;
    padding: 20px;
    text-decoration: none;
    position: relative;
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
    text-transform: none;
    border-radius: 10px;
}
.panel-group .panel-heading a::after {
    content: '-';
    position: absolute;
    right: 20px;
    top: 14px;
    font-size: 30px;
	color:#ad2a31;
}
.panel-group .panel-heading a.collapsed::after {
    content: '+';
}
.panel-group .panel-collapse {
    margin-top: 0 !important;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
    padding: 15px;
    font-size: 15px;
    color: #2f2f2f;
    line-height: 28px;
    border-top: none;
    font-weight: 400;
}
.panel-group .panel + .panel {
    margin-top: 0;
}
.panel-group .panel-heading a.collapsed {
    background: #f3f3f3;
    color: inherit;
}

/* Blog Detail Page CSS BOF
=================================================== */
#blog-detail {
	display: block;
}
/*Left Section CSS*/
#blog-detail .detail-content {
	width: 100%;
	margin: 0px auto 0;
}
#blog-detail .detail-content img {
	display: block;
	position: relative;
}
#blog-detail .detail-content .grey2 {
	width: 100%;
	display: block;
	padding: 12px 0;
	float: left;
	border-top: 1px dashed #e1e1e1;
	border-bottom: 1px dashed #e1e1e1;
}
#blog-detail .detail-content h3 {
	color: #ad2a31;
	font-size: 30px;
	font-weight: 500;
	margin: 0;
	padding: 30px 0;
	float: left;
	line-height: 30px;
}
#blog-detail .detail-content .grey2 .date {
	color: #000;
	font-size: 13px;
	font-weight: 500;
	float: left;
	text-transform: uppercase;
	padding-top: 3px;
	margin-right: 20px;
}
#blog-detail .detail-content .grey2 .date i {
	color: #000;
	padding-right: 5px;
}
#blog-detail .detail-content .grey2 .news-comment {
	float: right;
	padding: 0;
	margin: 0;
}
#blog-detail .detail-content .grey2 .news-comment .comnt {
	display: inline-block;
}
#blog-detail .detail-content .grey2 .news-comment .comnt i {
	color: #000;
}
#blog-detail .detail-content .grey2 .news-comment .fa span {
	color: #000;
	font-size: 13px;
	font-weight: 500;
	padding-left: 5px;
}
#blog-detail .detail-content .inner {
	width: 100%;
	display: inline-block;
	border-top: 1px dashed #e1e1e1;
	border-bottom: 1px dashed #e1e1e1;
	padding: 12px 0 8px;
	margin: 10px 0;
	float: left;
}
#blog-detail .detail-content .inner .tag-cnt {
	float: left;
}
#blog-detail .detail-content .inner .tag-cnt ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#blog-detail .detail-content .inner .tag-cnt ul li {
	padding: 0 8px 0 0;
	font-size: 15px;
	color: #000;
	float: left;
	font-weight:400;
}
#blog-detail .detail-content .inner .tag-cnt ul li i {
	color: #ad2a31;
}
.social_wrapper {
	float: right;
}
.social2 {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.social2 li {
	display: inline-block;
	margin: 0 4px;
	float: left;
}
.social2 li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    color: #444;
    text-align: center;
    line-height: 19px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1px solid #ddd;
    width: 28px;
    height: 28px;
    padding: 3px;
    border-radius: 50px;
}
.social2 li a:hover {
	background: #ad2a31;
	border: 1px solid #ad2a31;
	color: #fff;
}
.detail-content p {
	text-align: left;
	padding-top: 15px;
	float: left;
	line-height: 28px;
}
.comment-main {
	width: 100%;
	float: left;
	display: block;
}
.comment-main h4, .comment-post h4 {
    color: #2f2f2f;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 500;
    float: left;
    border-bottom: 1px solid #ad2a31;
    width: 100%;
    padding-bottom: 15px;
    margin: 30px 0 0;
}
.comment-div {
	width: 100%;
	float: left;
	padding: 20px 0;
	border-bottom: 1px dashed #e1e1e1;
}
.comment-div .user {
	width: 16%;
	text-align: center;
	float: left;
	margin-top: 12px;
}
.comment-div .user img {
	border-radius: 100px;
	height: 105px;
	width: 105px;
}
.comment-div .comment-block {
	width: 84%;
	float: left;
}
.comment-div .comment-block .heading {
	width: 100%;
	color: #333;
	font-size: 18px;
	font-weight: 500;
	float: left;
	margin: 0;
	text-align: left;
	padding: 10px 0;
}
.comment-div .comment-block .heading span {
	color: #333;
	font-size: 13px;
	font-weight: 500;
	float: right;
}
.comment-div .comment-block p {
    float: left;
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
}
.comment-div .reply {
	font-size: 13px;
	font-weight: 500;
	color: #2f2f2f;
	margin-top: 10px;
	float: left;
	text-decoration: underline;
}
.comment-div .reply:hover {
	color: #ad2a31;
	text-decoration: none;
}
.comment-post {
	float: left;
	width: 100%;
	display: block;
	margin-top: 40px;
}
.comment-post h4 {
	padding: 15px 0 15px 0;
	margin: 0;
}
.comment-post .cmn-form {
	padding: 10px 0 0;
	width: 100%;
	float: left;
	display: inline-block;
}
.comment-post .cmn-form .form-control {
    background-color: #fff;
    border-color: #ddd;
}
.comment-post .cmn-form label {
    color: #2f2f2f;
}
/*=====  Right Section Start  ======*/
.right-div {
	width: 100%;
	display: block;
	float: right;
	min-height: 100%;
}
.right-div .right-main {
	background: #fff;
	width: 100%;
	border: 1px solid #ddd;
	padding: 0;
	float: left;
	margin-bottom: 20px;
	border-radius: 10px;
}
/* .form-container {
	width: 100%;
	overflow: hidden;
	text-align: left;
	float: right;
	padding: 25px 15px;
}
.search-field {
    color: #555 !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    height: 40px !important;
    width: 100% !important;
    margin: 0 !important;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 15px;
}
.form-container button {
    padding: 9px 12px;
    border: none;
    background: #ad2a31;
    position: absolute;
    right: 31px;
    z-index: 1;
    border-radius: 5px;
}
.form-container i {
	color: #fff;
} */
.right-div .right-main .categories {
	width: 100%;
}
.right-div .right-main .categories h5, .right-div .right-main .recent h5 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 18px 15px;
    text-align: center;
    width: 100%;
    background: #ad2a31;
    border-radius: 10px 10px 0 0;
}
.right-div .right-main .categories ul {
	list-style: none;
	padding: 10px 0;
	float: left;
}
.right-div .right-main .categories li {
	font-size: 15px;
	font-weight: 500;
	width: 100%;
	float: left;
	padding: 10px;
}
.right-div .right-main .categories li i {
	font-size: 8px;
	color: #f6d12e;
	float: left;
	padding: 5px 10px 0 0;
}
.right-div .right-main .categories li span {
	float: right;
}
.right-div .right-main .categories ul li a {
	color: #2f2f2f;
	text-decoration: none;
	width: 100%;
	display: block;
	position: relative;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.right-div .right-main .categories ul li a:hover {
	color: #ad2a31;
	text-decoration: none;
}
.right-div .right-main .categories li:last-child {
	border-bottom: none;
}
.right-div .right-main .recent {
	width: 100%;
}
.recent-posts {
	width: 100%;
	float: left;
	padding: 15px 10px;
}
.media {
	width: 100%;
	float: left;
	padding: 8px 10px;
	margin: 3px 0 0;
	border-bottom:1px solid #f0f0f0;
}
.recent-posts .media:last-child {
	border-bottom:none;
}
.media img {
	width: 55px;
	float: left;
	border: 1px solid #969696;
	height: 55px;
}
.media-content {
	width: 78%;
	float: left;
	margin-left: 10px;
}
.media-content h6 {
	width: 100%;
	float: left;
	font-weight: 500;
	color: #2f2f2f;
	line-height: 20px;
	text-transform: none;
	padding: 0;
	font-size: 14px;
	margin: 0 !important;
}
.media-content h6:hover {
	color: #ad2a31;
}
.media-content p {
	width: 100%;
	float: left;
	font-weight: 400;
	color: #444;
	font-size: 13px;
	line-height: 20px;
	padding-top: 8px;
	text-align: left !important;
}
.right-div .right-main .recent .popular-tags {
	width: 100%;
	float: left;
	padding: 10px 6px;
}
.right-div .right-main .recent .popular-tags ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.right-div .right-main .recent .popular-tags ul li {
	float: left;
	font-size: 15px;
	font-weight: 300;
	padding: 0px;
	width: auto;
	text-align: center;
}
.right-div .right-main .recent .popular-tags ul li a {
	color: #2f2f2f;
	float: left;
	margin: 8px;
	padding: 5px 15px;
	text-decoration: none;
	background: #f6f6f6;
	transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-radius:5px;
}
.right-div .right-main .recent .popular-tags ul li a:hover {
	color: #000;
	text-decoration: none;
	background: #f6d12e;
}


/* Holiday Detail Page CSS BOF
=================================================== */
.holiday-name {
	border-bottom: 1px solid #dedede;
	padding: 0 0 10px;
}
.holiday-name h2 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 0;
    color: #ad2a31;
}
.holiday-name h2::before, .holiday-name h2::after {
	display: none;
}
.holiday-name p {
	font-size: 16px;
	color: #444444;
	font-weight: 500;
	padding-top:15px;
}
.holiday-name p span {
	color: #ad2a31;
	font-size: 20px;
}
.holiday-days {
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
	overflow: hidden;
	margin-bottom: 30px;
}
.holiday-days .day-night p {
	font-size: 14px;
	color: #181818;
	font-weight: 500;
	padding: 0 15px 0 0;
	float: left;
}
.holiday-days .day-night {
	vertical-align: middle;
	float: left;
}
.holiday-days .day-night i {
	color: #ad2a31;
	font-size: 16px;
}
.holiday-media {
	float: right;
}
.holiday-media ul {
	margin:0;
}
.holiday-media ul li {
	display: inline-block;
}
.holiday-media ul li a {
	height: 27px;
	width: 27px;
	font-size: 14px;
	color: #000;
	background: #f6d12e;
	display: block;
	border-radius: 50%;
	text-align: center;
	line-height: 29px;
}
.holiday-media ul li a:hover {
	background: #ad2a31;
	color: #fff;
}
.detail-form {
    width: 100%;
    margin: 0 auto 30px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 0 15px;
    height: 680px;
    border-radius: 10px;
}
.detail-form h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    padding: 18px 15px;
    text-align: center;
    width: 100%;
    background: #ad2a31;
    border-radius: 10px 10px 0 0;
}
.detail-form .ui-datepicker-trigger {
    z-index: 4;
    top: 5px;
    background: #ad2a31;
    color: #fff;
    margin: 0;
    right: 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block;
    left: auto;
    border-radius: 50px;
    font-size: 17px;
}
.detail-form .search-section .search-col-padding {
	padding: 9px 5px;
}
.detail-form textarea.form-control {
	height: 90px;
}
.detail-form .book-button {
	width: 240px;
	margin: 0 auto;
	display: block;
}
.imge {
    width: 100%;
}
.imge img {
    max-width: 100%;
}

/*Tab Section CSS*/
.holiday-tab {
    width: 100%;
    display: inline-block;
    margin: 30px 0 0;
}
.holiday-tab .nav-tabs {
	border-bottom: none;
	margin-top: -23px;
}
.holiday-tab .nav > li > a::after {
	border-right: none;
}
.holiday-tab .nav-tabs > li {
	float: left;
	margin-bottom: 0;
	padding: 0;
	margin-right: 6px;
	border: none;
}
.holiday-tab .nav-tabs>li.active>a, .holiday-tab .nav-tabs>li.active>a:focus, .holiday-tab .nav-tabs>li.active>a:hover {
	border: none;
	color: #fff !important;
	background: #ad2a31;
}
.holiday-tab .nav-tabs > li > a {
	border: none;
	color: #000;
	font-size: 14px;
	padding: 12px 30px !important;
	border-radius: 5px;
	font-weight: 700;
	margin-right: 0;
	background: #dddddd;
}
.holiday-tab .nav-tabs>li.active>a, .holiday-tab .nav-tabs>li>a:hover {
	border: none;
	color: #fff !important;
	background: #ad2a31;
}
.holiday-tab .tab-pane {
	padding: 15px 0;
}
.holiday-tab .tab-content {
	padding: 10px 20px;
	text-align: left;
}
.holiday-tab .card {
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #ebebeb;
}
/*Itinerary Content*/

.days {
	width: 100%;
	display: inline-block;
	padding: 15px 0;
}
.days img {
	float: left;
	width: 25%;
}
.days .days-detail {
	display: block;
	float: left;
	padding-left: 15px;
	width: 73%;
}
.days .days-detail .day-text {
	font-size: 14px;
	color: #ad2a31;
	text-align: left;
	font-weight: 600;
}
.days .days-detail h5 {
	color: #000;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	text-align: left;
}
.days .days-detail p {
	color: #444444;
	font-size: 14px;
	line-height: 20px !important;
	text-align: left;
	padding: 0!important;
}

/*Gallery Content*/

.gallery {
	width: 100%;
	display: block;
}
.gallery .mrgn {
	margin: 10px 0;
}
/*Review Content*/

.review {
	width: 100%;
	display: block;
	padding: 10px 0;
}
.review h3 {
	color: #000;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0;
	text-align: left;
	font-weight: 600;
}
.review .comment-div {
	float: left;
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px dashed #e1e1e1;
}
.review .comment-div .user {
	float: left;
	padding-left: 0;
	text-align: left;
	width: 10%;
}
.review .comment-div .user img {
    border: 2px solid #fff;
    border-radius: 50px;
    height: 80px;
    width: 80px;
}
.review .comment-div .comment-block {
	float: left;
	width: 88%;
}
.review .comment-div .comment-block .heading {
	color: #333333;
	float: left;
	font-size: 15px;
	font-weight: 500;
	text-transform: inherit;
	width: 100%;
}
.review .comment-div .comment-block .heading span {
	color: #808080;
	font-weight: 500;
	float: none;
}
.review .rating {
	display: inline-block;
	padding: 10px 0 0;
	margin: 0;
	list-style: none;
}
.review .rating li {
	float:left;
	padding: 0 2px;
	color: #f6d12e;
	font-size: 15px;
}

.review .review-form {
	width: 100%;
	display: block;
}
.review .review-form h4 {
    color: #333333;
    float: left;
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0;
    text-align: left;
    width: 100%;
    font-weight: 500;
}
.review .review-form p {
	color: #444444;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 0 0 15px !important;
}
.review .review-form .add-rws {
	width: 100%;
	font-size: 16px;
	color: #333;
	font-weight: 500;
}
.add-rws span {
    float: left;
    padding: 8px 10px 0 0;
}
.review .review-form .button {
	width: 240px;
	margin-top: 0;
}
/*Description Content*/
.holiday-tab .tab-content h5 {
	color: #000;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: normal;
	text-align: left;
	width: 100%;
	padding: 10px 0 10px;
	line-height: normal;
}
.holiday-tab .tab-content p {
	font-weight: 300;
	margin-bottom: 0;
	text-align: left;
	padding: 10px 0 0;
	line-height: 26px;
}
.holiday-tab .tab-content .table {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	margin-bottom: 0;
}
.holiday-tab .tab-content table {
	width: 100%;
}
.holiday-tab .tab-content .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 0;
	line-height: 1.42857143;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	border-top: none;
}
.holiday-tab .tab-content .table span {
    color: #444;
    font-weight: 300;
    float: left;
    text-align: left;
    font-size: 16px;
}
.holiday-tab .tab-content .table span i {
	font-size: 14px;
	padding-right: 5px;
}
.fist-td {
	width: 30%;
}
.second-td {
	width: 50%;
}
.third-td {
	width: 50%;
}
#location .map-responsive {
    overflow: hidden;
    padding-bottom: 390px;
    position: relative;
    height: 0;
	margin:0;
	border:none;
}
#location .map-responsive iframe {
    left: 0;
    top: 0;
    height: 450px;
    width: 100%;
    position: absolute;
}

.detail-form .search-section {
    position: relative;
    top: 0;
	margin: 0;    
	padding: 10px 10px 0;
}
.review-form .form-control {
	border-color: #ddd;
}
.detail-form .input-group, .review-form .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
}
.detail-form .search-section .form-control {
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	border-radius: 5px !important;
	color: #707070;
	display: block;
	font-size: 14px;
	height: 48px;
	line-height: 1.42857;
	padding: 0 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
}
.detail-form .search-section textarea.form-control {
	height: 110px;
	resize: none;
	padding: 15px 20px;
}
.detail-form .search-section .book-button{
	width: 240px;
	background: #ad2a31;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin: 0 auto;
	padding: 0;
	border: none;
	border-radius: 5px;
	display: block;
	vertical-align: middle;
	box-shadow: 0 0 1px transparent;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	line-height: 45px;
}
.detail-form .search-section .book-button:hover {
	background: #000;
	color: #fff;
}
/*================================
=            Select2            =
================================*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
    background: #ad2a31;
    height: 38px !important;
    position: absolute;
    width: 38px !important;
    text-align: center;
    line-height: 38px;
    right: 5px !important;
    top: 5px !important;
    border-radius: 100px;
	color:#fff;
}
.detail-form .search-section .select2-selection__arrow i {
    background-color: transparent;
    border-radius: 50%;
    color: #fff;
    padding: 7px;
    font-size: 17px;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 48px !important;
}
.select2-results__option {
	width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #a8a8a8 !important;
	line-height:46px !important;
	font-size: 14px;
	padding: 0 !important;
}
.select2-container--default .select2-selection--single {
    background: #fff !important;
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 0 20px;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #ad2a31 !important; /*   option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #f6d12e !important; /*   option hover background */
	color: #000 !important;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: none;
	width: 100%;
}
.select2-dropdown {
	border: 1px solid rgba(0,0,0,.1) !important;
	border-radius: 0 !important;
}


.km_slider {
	background: #fff;
	overflow: hidden;
	margin: 0 !important;
	padding: 6px 13px 8px 13px;
	font-size: 14px;
	font-weight: 400;
	color: #676767;
	height: 80px;
	border: none;
	border-right: 1px solid #cfcfcf;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}