@media screen and (max-width: 450px) {	
    .social2 li {	
            margin: 10px 0 0 8px !important;	
            float: right !important;	
    }	
    .social_wrapper {	
        float: right !important;	
    }	
    }


@media screen and (max-width: 480px) {
    .inner_banner .banner_text h1 {
        font-size: 35px !important;
    }
    #pckg_section .right {
        padding: 15px 15px 38px !important;
    }
    #pckg_section .item {
        padding: 0 !important;
    }
    #pckg_section .item .hldy {
        margin: 0px !important;
    }
    }
     @media screen and (max-width: 767px) {
    .login {
        margin-right: 0;
    }
    /*=====  Top CSS BOF  ======*/
    .lang .dropdown-menu {
        right:auto;
        left: 0;
        top: 43px;
        min-width: 120px !important;
    }
    .navbar-header {
        float: right;
        width: 100%;
    }
    .navbar-toggle {
        background-color: #ad2a31;
        border: none;
        border-radius: 0;
        margin: 10px 0 10px;
        padding: 12px 10px;
        float: left;
    }
    .navbar-default .navbar-nav > li::after {
        display: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #000;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        float: none !important;
        margin-left: 0;
        background-color: #fff;
    }
    .navbar-nav {
        margin: 0;
        padding: 0;
    }
    .navbar-nav > li {
        float: none !important;
    }
    .navbar-default .navbar-nav > li > a {
        color: #000;
    }
    .nav > li {
        padding: 10px 0;
        border-bottom:1px solid #ddd;
    }
    .nav > li:last-child {
        border-bottom:none;
    }
    .nav > li > a, .navbar-default .navbar-nav > li > a {
        padding: 0;
        border-bottom: none;
        font-size: 16px;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ad2a31;
        border-bottom: none;
        background-color: transparent;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #ad2a31;
        border-bottom: none;
        background-color: transparent;
    }
    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        width: 210px;
        float: right;
    }
    .safety-belt {
        padding: 5px 0 15px;
    }
    .safety-belt img {
        padding: 10px 0 0 0;
    }
    .safety-belt p {
        font-size: 14px;
        padding-left:15px;
        clear:both;
    }
    .explore-btn {
        float: right;
    }
    /*=====  Banner CSS BOF  ======*/
    #bnr .carousel-control, .banner-text {
        display:none;
    }
    .brdr-rdus, .search-button, #multi-city .search-button {
        border-radius: 0 !important;
    }
    .carousel {
        min-height: auto;
    }
    .carousel-inner img {
        height: auto !important;
    }
    .close-btn {
        margin: 20px auto 8px;
    }
    .add-btn {
        margin: 10px auto;
    }
    .booking-form {
        background: #f2f2f2;
        position:inherit;
        margin-top: 0;
    }
    .col-md-offset-6 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .search-section {
        margin-top: -44px;
    }
    .search-section .form-control, .calendar {
        border-bottom: 1px solid #bdbbbc;
        border-left: none;
    }
    .change-destination::after, .change-date::after{
        right: 0;
        top: 60px;
        left: 0;
        text-align: center;
    }
    .search-section .nav > li > a {
        padding: 10px 10px;
        font-size: 12px;
        line-height: 25px;
    }
    .service-icon svg {
        width: 25px;
        height: 25px;
    }
    .m-t-100 {
        margin-top: 70px;
    }
    .title h2 {
        font-size: 40px;
    }
    #deals_section .owl-theme .owl-controls {
        display: none !important;
    }
    #pckg_section .left {
        min-height: auto;
        padding: 50px 35px;
    }
    #pckg_section .owl-theme .owl-controls {
        display: none !important;
    }
    #pckg_section .item .hldy_detail {
        padding: 25px 14px;
    }
    #pckg_section .right {
        padding: 15px 72px 38px;
    }
    #pckg_section .item {
        padding: 0 10px;
    }
    #pckg_section .title h2 {
        font-size: 30px;
    }
    #pckg_section .item .hldy_detail a h3 {
        font-size: 25px;
    }
    #newsletter .title h3 {
        font-size: 24px;
    }
    #newsletter .title p {
        width: 100%;
    }
    footer .powered-by {
        float: right;
        margin-top: 0;
    }
    .back-top {
        right: auto;
        left: 15px;
        margin: 0;
    }
    .m-left {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .radio label {
        font-size: 14px;
    }
    .chck {
        font-size: 14px !important;
        bottom: 116px;
        right: 15px;
        float: right;
        top: auto;
        position: absolute;
    }
    
    .col-lg-offset-2 {
        margin-right: 0 !important;
    }
    
    /* About Us Page CSS BOF
    =================================================== */
    .inner_banner .banner_text {
        top: 30%;
        left: 0;
        -webkit-transform: translate(0, -30%);
        -moz-transform: translate(0, -30%);
        transform: translate(0, -30%);
        right: 0;
        text-align: center;
    }
    .inner_banner .banner_text h1 {
        font-size: 50px;
    }
    .inner_banner {
        min-height: 240px;
    }
    .flex {
        display: -webkit-block;
        display: block;
    }
    #intro-inr .inner, #contact-us .inner {
        margin:15px 0;
    }
    
    /* Holidays Page CSS BOF
    =================================================== */
    .holidays .item .hldy {
        width: auto !important;
    }
    .map-responsive {
        padding-bottom: 325px;
    }
    .map-responsive iframe {
        height: 325px;
    }
    /* Faq Page CSS BOF
    =================================================== */
    .panel-group .panel-heading a {
        font-size: 15px;
        padding:15px;
    }
    /* Blog Detail Page CSS BOF
    =================================================== */
    #blog-detail .detail-content h3 {
        font-size: 22px;
    }
    .media img {
        width: 100%;
        height: 80px;
    }
    .media-content {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .comment-div .user {
        width: 100%;
    }
    .comment-div .comment-block {
        width: 100%;
    }
    .search-form {
        margin-top: 30px;
    }
    /* Holiday Detail Page CSS BOF
    =================================================== */
    .detail-form {
        margin-top: 30px;
        height: auto;
    }
    .holiday-tab .nav-tabs > li {
        padding: 0;
        text-align: right;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #fff;
    }
    .days img {
        width: 100%;
    }
    .days .days-detail {
        padding-left: 0;
        width: 100%;
        padding-top: 10px;
    }
    .review .comment-div .user {
        width: 100%;
    }
    .review .comment-div .comment-block {
        width: 100%;
    }
    }
    @media (min-width: 768px) and (max-width: 990px) {
    
    .contact-info div {
        margin-left: 15px;
    }
    .contact-info div i, .login i {
        font-size: 15px;
    }
    .contact-info div a, .login a {
        font-size: 15px;
    }
    .lang .dropdown a {
        font-size: 13px;
    }
    .lang .dropdown-menu {
        left: 0px;
        top: 40px;
    }
    /*=====  Navbar CSS BOF  ======*/
    .navbar-default .navbar-brand {
        width: 232px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
    }
    .nav > li > a {
        padding: 23px 13px;
    }
    .safety-belt p {
        font-size: 14px;
    }
    .safety-belt img {
        padding: 3px 40px 3px 20px;
    }
    .col-lg-offset-2 {
        margin-right: 0 !important;
    }
    /*=====  Banner CSS BOF  ======*/
    #bnr .carousel-control {
        display:none;
    }
    .banner-text {
        top: 60px;
        right: 7%;
        width: 70%;
        margin: 0;
    }
    .banner-text h1 {
        font-size: 44px;
    }
    .banner-text p {
        font-size: 16px;
        padding: 0;
    }
    .brdr-rdus, .search-button {
        border-radius: 0 !important;
    }
    .carousel {
        min-height: auto;
    }
    .carousel-inner img {
        height: auto !important;
    }
    .col-md-offset-6 {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .booking-form {
        background: #f2f2f2;
        position:inherit;
        margin-top: 0;
    }
    .search-section .form-control, .calendar {
        border-bottom: 1px solid #bdbbbc;
    }
    #deals_section .owl-theme .owl-controls {
        display: none !important;
    }
    #pckg_section .left {
        min-height: auto;
    }
    #pckg_section .owl-theme .owl-controls {
        display: none !important;
    }
    #pckg_section .item .hldy_detail {
        padding: 25px 28px;
    }
    #pckg_section .right {
        padding: 20px 94px 30px;
    }
    #pckg_section .item {
        padding: 0 10px;
    }
    #artcl_section .inner .art_title {
        padding: 30px 20px;
    }
    #artcl_section .inner .art_title h4 {
        line-height: 17px;
    }
    #artcl_section .inner .art_title h4 a {
        font-size: 16px;
    }
    #artcl_section .inner .art_title ul li {
        font-size: 14px;
        padding: 14px 8px 0 0;
    }
    .inner_banner .banner_text {
        top: 30%;
        left: 0;
        -webkit-transform: translate(0, -30%);
        -moz-transform: translate(0, -30%);
        transform: translate(0, -30%);
        right: 0;
        text-align: center;
    }
    /* Faq Page CSS BOF
    =================================================== */
    .panel-group .panel-heading a {
        font-size: 18px;
    }
    /* Blog Detail Page CSS BOF
    =================================================== */
    #blog-detail .detail-content h3 {
        font-size: 22px;
    }
    .media img {
        width: 100%;
        height: 80px;
    }
    .media-content {
        width: 100%;
        margin: 10px 0 0 0;
    }
    .comment-div .user {
        width: 100%;
    }
    .comment-div .comment-block {
        width: 100%;
    }
    /* Holiday Detail Page CSS BOF
    =================================================== */
    .detail-form {
        margin-top: 30px;
        height: auto;
    }
    .days img {
        width: 100%;
    }
    .days .days-detail {
        padding-left: 0;
        width: 100%;
        padding-top: 10px;
    }
    .review .comment-div .user {
        width: 14%;
    }
    .review .comment-div .comment-block {
        width: 86%;
    }
    }
    @media (min-width: 991px) and (max-width: 1024px) {
    
    .navbar-default .navbar-brand {
        width: 250px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
    }
    .nav > li > a {
        padding: 23px 18px;
    }
    .safety-belt p {
        font-size: 14px;
    }
    .banner-text {
        position: absolute;
        top: 100px;
        right: 7%;
        width: 70%;
        margin: 0;
    }
    .carousel {
        min-height: auto;
    }
    .carousel-inner img {
        height: auto !important;
    }
    .carousel-control.right {
        right: 20px !important;
    }
    .carousel-control.left, .carousel-control.right {
        left: 20px;
    }
    .booking-form {
        background: #f2f2f2;
        position:inherit;
        margin-top: 0;
    }
    #deals_section .owl-prev, #deals_section .owl-next {
        margin: 0 0 0 -20px !important;
    }
    #deals_section .owl-next {
        margin: 0 -20px 0 0 !important;
    }
    #pckg_section .title h2 {
        font-size: 38px;
    }
    #pckg_section .right {
        padding: 15px 72px 38px;
    }
    .col-md-offset-1 {
        margin-right: 8.33333333% !important;
    }
    /* Blog Detail Page CSS BOF
    =================================================== */
    .media-content {
        width: 74%;
    }
    .comment-div .user {
        width: 20%;
    }
    .comment-div .comment-block {
        width: 80%;
    }
    }
    @media (min-width: 1025px) and (max-width: 1400px) {
    
    .banner-text {
        position: absolute;
        top: 52px;
        right: 7%;
        width: 54%;
        margin: 0;
    }
    .carousel-control.right {
        right: 20px !important;
    }
    .carousel-control.left, .carousel-control.right {
        left: 20px;
    }
    .carousel-inner img {
        width: 100%;
        height: 764px !important;
    }
    #pckg_section .right {
        padding: 19px 94px 40px;
    }
    #pckg_section .item {
        padding: 0 10px;
    }
    #pckg_section .item .hldy_detail {
        padding: 25px 35px;
    }
    #pckg_section .item .hldy_detail a h3 {
        font-size: 22px;
    }
    }

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
        @-ms-viewport { width: 1024px;}
        #pckg_section .item .hldy_detail ul.text li {
            font-size: 15px;
            zoom: normal;
        }
        #pckg_section .title h2 {
            color: #fff;
            font-size: 35px;
        }
        #pckg_section .left p {
            color: #fff;
            line-height: 24px;
            padding: 20px 0 0;
            font-size: 15px;
            zoom: normal;
        }
        #pckg_section .left {
            padding: 30px 20px;
        }
        #pckg_section .item .hldy_detail a h3 {
            font-size: 20px;
            zoom: normal;
        }
        #pckg_section .item .hldy_detail .price {
            font-size: 25px;
            zoom: normal;
        }
        #pckg_section .item .hldy_detail .price span {
            font-size: 20px;
            zoom: normal;
        }
        }
        @media screen and (max-width: 1085px) {
        #pckg_section .item .hldy_detail a h3 {
            font-size: 18px !important;
            zoom: normal;
        }
        #pckg_section .item .hldy_detail ul.text li {
            font-size: 12px !important;
        }
        #pckg_section .left p {
            font-size: 13px !important;
        }
        }
        @media (min-width: 1367px) and (max-width: 1450px) {
        #pckg_section .item .hldy_detail a h3 {
            font-size: 18px !important;
            zoom: normal;
        }
        #pckg_section .item .hldy_detail ul.text li {
            font-size: 12px !important;
        }
        #pckg_section .left p {
            font-size: 13px !important;
        }
        }