       a,
       a:hover {
           text-decoration: none;
           cursor: pointer;
       }
       
       header {
           width: 100%;
           float: left;
           flex-wrap: wrap;
           align-content: flex-start;
           display: -webkit-box;
           display: -moz-box;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
       }
       
       header>div {
           width: 100%;
           float: left;
       }
       
       .topSec {
           width: 100%;
           float: left;
           background: #FFF;
           padding: 10px 0px;
       }
       
       .headerContact ul {
           margin: 0px;
           padding: 0px;
           list-style: none;
           display: inline-block;
           float: left;
           /* flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: flex-end; */
           position: relative;
       }
       
       .headerContact>ul::after {
           content: '';
           position: absolute;
           height: 19px;
           border-right: 1px solid #e2e2e2;
           right: 0;
           top: 22px;
       }
       
       .login-reg::after {
           display: none;
       }
       
       .sl-nav {
           display: inline-block;
           float: left;
           position: relative;
       }
       
       .sl-nav svg {
           width: 9px;
           margin-top: 5px;
           float: right;
           margin-left: 6px;
       }
       
       .sl-nav li {
           position: relative;
       }
       
       .sl-nav li::after {
           content: '';
           position: absolute;
           height: 19px;
           border-right: 1px solid #e2e2e2;
           right: 0;
           top: 22px;
       }
       
       .retrive_booking_sec {
           display: inline-block;
           font-family: 'Open Sans', sans-serif;
           font-size: 13px;
           color: #404040;
           font-weight: 400;
           padding: 22px 12px 20px 12px;
           float: left;
           position: relative;
       }
       
       .retrive_booking_sec span {
           cursor: pointer;
       }
       
       .retrive_booking_sec::after {
           content: '';
           position: absolute;
           height: 19px;
           border-right: 1px solid #e2e2e2;
           right: 0;
           top: 23px;
       }
       
       .headerContact ul li {
           font-family: 'Open Sans', sans-serif;
           font-size: 14px;
           color: #404040;
           font-weight: 600;
           padding: 22px 13px 5px 13px;
           float: right;
       }
       
       .headerContact ul li a {
           font-family: 'Open Sans', sans-serif;
           font-size: 13px !important;
           color: #404040 !important;
           font-weight: 400 !important;
           padding: 0;
           border: none;
           cursor: pointer;
       }
       
       .sl-nav .dropdown-menu {
           padding: 0px 0px;
       }
       
       .sl-nav .dropdown-menu a {
           position: relative;
           text-align: left;
           background: transparent;
           padding: 10px 15px;
           z-index: 2;
           font-size: 14px;
           color: #3c3c3c !important;
           border-bottom: 1px solid #e4e4e4;
           margin-bottom: 0px;
           float: initial;
           display: block;
       }
       
       .open .dropdown-menu svg {
           display: none;
       }
       
       .sl-nav .dropdown-menu a:hover {
           border: none !important;
           border-bottom: 1px solid #e4e4e4;
           background: #e4e4e4;
       }
       
       .sl-nav .dropdown-menu a:last-child {
           border-bottom: none;
       }
       
       .headerContact ul li i {
           width: 20px;
           height: 20px;
           /* border: 1px solid #b8b8b8; */
           text-align: center;
           line-height: 21px;
           border-radius: 50%;
           color: #FFF;
           background: #7f3e98;
           font-size: 10px;
       }
       
       .headerContact ul li:first-child i {
           font-size: 10px;
       }
       
       .hd_right {
           float: left;
       }
       
       .navSec {
           width: 100%;
           float: left;
           background: #7F3F98;
       }
       
       .navbar-brand {
           display: none;
       }
       
       .navSec .navbar {
           margin-bottom: 0px;
       }
       
       .navbar-inverse {
           background-color: #7F3F98;
           border-color: #7F3F98;
           box-shadow: none;
       }
       
       .navbar-inverse .navbar-nav>.active>a,
       .navbar-inverse .navbar-nav>.active>a:focus,
       .navbar-inverse .navbar-nav>.active>a:hover {
           color: #fff;
           background-color: #6b2e83;
       }
       
       .navbar-inverse .navbar-nav>li>a:focus,
       .navbar-inverse .navbar-nav>li>a:hover {
           color: #fff !important;
           background-color: #6b2e83;
       }
       
       .navbar-inverse .navbar-nav>li>a {
           color: #cba2da;
           font-family: 'Open Sans', sans-serif;
           font-size: 15px;
           font-weight: 400;
           -webkit-transition: all 0.5s ease-in-out;
           -moz-transition: all 0.5s ease-in-out;
           -o-transition: all 0.5s ease-in-out;
           transition: all 0.5s ease-in-out;
       }
       
       .navSec .navbar-nav {
           width: 100%;
           text-align: center;
       }
       
       .navSec .navbar-nav>li {
           float: none;
           display: inline-block;
       }
       
       .bgimg-1 {
           position: relative;
           background-attachment: fixed;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
       }
       
       .serviceSec {
           width: 100%;
           float: left;
           position: relative;
           z-index: 9;
       }
       
       .serviceArea {
           width: 100%;
           float: left;
           background: #FFF;
           padding: 10px;
       }
       
       .servicesArea1 {
           width: 100%;
           float: left;
           border: 1px dashed #e1e1e1;
           padding: 20px 10px;
           text-align: center;
           min-height: 166px;
       }
       
       .servicesArea1 p {
           font-family: 'Open Sans', sans-serif;
           color: #000;
           font-size: 18px;
           font-weight: 600;
           padding-top: 5px;
       }
       
       .partners {
           width: 100%;
           float: left;
           background: #FFF;
           padding: 30px 0px;
           overflow: hidden;
       }
       
       .partnersLogos {
           width: 100%;
           float: left;
           background: #FFF;
           border: 1px solid #dddddd;
           text-align: center;
       }
       
       footer {
           width: 100%;
           float: left;
           background-image: url(/Biscordint/images/footer.jpg);
           position: relative;
           padding: 0px;
       }
       
       footer .bgimg-1::after {
           content: '';
           width: 100%;
           height: 100%;
           position: absolute;
           left: 0;
           top: 0;
           background: rgba(0, 0, 0, 0.71);
       }
       
       .addressSec {
           width: 100%;
           background: #000;
           padding: 30px;
           position: relative;
           z-index: 99;
       }
       
       .addressSec ul {
           margin: 0px;
           padding: 0px;
           list-style: none;
           padding-top: 18px;
       }
       
       .addressSec ul li {
           margin-bottom: 14px;
       }
       
       .icon i {
           width: 32px;
           height: 32px;
           background: #2e2f2f;
           border-radius: 50%;
           color: #FFF;
           text-align: center;
           line-height: 32px;
       }
       
       .iconDetails {
           font-family: 'Poppins', sans-serif;
           font-size: 15px;
           color: #FFF;
           padding-top: 5px;
           padding-left: 11px;
       }
       
       .iconDetails a {
           font-family: 'Poppins', sans-serif;
           font-size: 15px;
           color: #FFF;
           -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
           -ms-transition: 0.3s ease-in-out;
           -o-transition: 0.3s ease-in-out;
           transition: 0.3s ease-in-out;
       }
       
       .iconDetails a:hover {
           color: #c450f1;
       }
       
       .socialIcons {
           width: 100%;
           padding-top: 30px;
       }
       
       .socialIcons i {
           width: 32px;
           height: 32px;
           background: #2e2f2f;
           color: #FFF;
           text-align: center;
           line-height: 33px;
           -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
           -ms-transition: 0.3s ease-in-out;
           -o-transition: 0.3s ease-in-out;
           transition: 0.3s ease-in-out;
           border-radius: 50%;
       }
       
       .socialIcons i:hover {
           background: #7F3F98;
       }
       
       .socialIcons img {
           float: right;
       }
       
       .sitemap {
           width: 100%;
           padding: 50px 0px 0px 0px;
           position: relative;
           z-index: 9;
           min-height: 290px;
       }
       
       .siteMap_sec {
           width: 100%;
           border-right: 1px solid #868686;
           padding-left: 20px;
           padding-right: 14px;
           height: 100%;
           position: absolute;
       }
       
       .siteMap_sec h4 {
           font-family: 'Open Sans', sans-serif;
           color: #FFF;
           font-size: 22px;
           font-weight: 600;
           border-bottom: 1px solid #868686;
           padding-bottom: 18px;
           margin-bottom: 30px;
       }
       
       .siteMap_sec ul {
           width: 50%;
           margin: 0px;
           padding: 0px;
           list-style: none;
       }
       
       .siteMap_sec ul li {
           margin-bottom: 20px;
       }
       
       .siteMap_sec ul li a {
           font-family: 'Poppins', sans-serif;
           font-size: 16px;
           color: #FFF;
           -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
           -ms-transition: 0.3s ease-in-out;
           -o-transition: 0.3s ease-in-out;
           transition: 0.3s ease-in-out;
       }
       
       .siteMap_sec ul li a:hover,
       .siteMap_sec ul li.active a {
           color: #cd84e9;
       }
       
       .newsletter {
           width: 100%;
           padding: 50px 0px;
           position: relative;
           z-index: 9;
           ;
       }
       
       .newsletter h4 {
           font-family: 'Open Sans', sans-serif;
           color: #FFF;
           font-size: 22px;
           font-weight: 600;
           border-bottom: 1px solid #868686;
           padding-bottom: 18px;
           margin-bottom: 30px;
       }
       
       .newsletter p {
           font-family: 'Poppins', sans-serif;
           color: #FFF;
           font-size: 15px;
           font-weight: 400;
           margin-bottom: 10px;
       }
       
       .newstxt {
           width: 100%;
           height: 46px;
           float: left;
           background: #575858;
           margin-bottom: 10px;
           font-family: 'Open Sans', sans-serif;
           color: #FFF;
           font-size: 13px;
           padding: 0 24px;
           border: none;
           border-radius: 43px;
       }
       
       .newsletter button {
           width: 100%;
           height: 46px;
           float: left;
           background: #7F3F98;
           margin-bottom: 6px;
           font-family: 'Open Sans', sans-serif;
           color: #FFF;
           font-size: 16px;
           padding: 0 20px;
           border: none;
           border-radius: 43px;
           -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
           -ms-transition: 0.3s ease-in-out;
           -o-transition: 0.3s ease-in-out;
           transition: 0.3s ease-in-out;
           font-weight: 600;
       }
       
       .newsletter button:hover {
           background: #FFF;
           color: #7F3F98;
       }
       
       .newsletter .newbutton {
           width: 100%;
           height: 46px;
           float: left;
           background: #7F3F98;
           margin-bottom: 6px;
           font-family: 'Open Sans', sans-serif;
           color: #FFF;
           font-size: 16px;
           padding: 0 20px;
           border: none;
           border-radius: 43px;
           -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
           -ms-transition: 0.3s ease-in-out;
           -o-transition: 0.3s ease-in-out;
           transition: 0.3s ease-in-out;
           font-weight: 600;
       }
       
       .newsletter .newbutton:hover {
           background: #FFF;
           color: #7F3F98;
       }
       
       .newstxt::-webkit-input-placeholder {
           color: #FFF;
           font-style: italic;
       }
       
       .newstxt:-ms-input-placeholder {
           color: #FFF;
           font-style: italic;
       }
       
       .newstxt::placeholder {
           color: #FFF;
           font-style: italic;
       }
       
       .copyright {
           width: 100%;
           float: left;
           padding: 18px 0px;
           background: #000;
           position: relative;
           z-index: 9;
       }
       
       .copyright p {
           font-family: 'Open Sans', sans-serif;
           font-size: 14px;
           color: #ababab;
           font-weight: 200;
           padding: 10px 0px;
       }
       
       .copyright p img {
           padding: 0 5px;
       }
       /* popup */
       
       .cd-main-header {
           position: relative;
           z-index: 1;
           height: 50px;
           background: #343642;
       }
       
       .cd-main-header::after {
           content: '';
           display: table;
           clear: both;
       }
       
       @media only screen and (min-width:768px) {
           .cd-main-header {
               height: 80px;
           }
           .cd-main-header__logo {
               margin: 20px 0 0 5%;
               -webkit-transform: scale(1);
               -ms-transform: scale(1);
               transform: scale(1);
           }
       }
       
       .cd-main-nav {
           float: right;
           width: auto;
           height: auto;
           cursor: pointer;
       }
       
       .cd-main-nav__list {
           position: relative;
           list-style: none;
           padding: 0;
           margin: 0;
       }
       
       .cd-main-nav__list.cd-main-nav__list--is-visible {
           -webkit-transform: translateY(50px);
           -ms-transform: translateY(50px);
           transform: translateY(50px);
       }
       
       .cd-main-nav__item {
           font-size: 14px;
           color: #FFF;
           padding: 0px 5px;
           background: none !important;
           margin: 0;
       }
       
       @media only screen and (min-width:768px) {
           .cd-main-nav {
               width: auto;
               height: auto;
               background: none;
               cursor: auto;
           }
           .cd-main-nav__list {
               position: static;
               width: auto;
               -webkit-transform: translateY(0);
               -ms-transform: translateY(0);
               transform: translateY(0);
               line-height: normal;
               padding: 0;
               margin: 0;
           }
           .cd-main-nav__list.cd-main-nav__list--is-visible {
               -webkit-transform: translateY(0);
               -ms-transform: translateY(0);
               transform: translateY(0);
           }
           .cd-main-nav__list li {
               display: inline-block;
               margin-left: 0;
           }
           .cd-main-nav__list li:nth-last-child(2) {
               margin-left: 2em;
           }
           .cd-main-nav__item {
               display: inline-block;
               height: auto;
               line-height: normal;
               background: transparent;
           }
           .cd-main-nav__item.cd-main-nav__item--signin {
               font-size: 14px;
               line-height: 20px;
               margin: 0;
               background: none;
               cursor: pointer;
               padding: 0px;
           }
           .cd-main-nav__item.cd-main-nav__item--signin {
               border: none;
               background: none !important;
           }
       }
       
       .cd-signin-modal {
           position: fixed;
           padding-top: 68px;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
           background: rgba(0, 0, 0, 0.6);
           z-index: 9999999;
           overflow-y: auto;
           cursor: pointer;
           visibility: hidden;
           opacity: 0;
           -webkit-transition: opacity 0.3s, visibility 0.3s;
           transition: opacity 0.3s, visibility 0.3s;
       }
       
       .cd-signin-modal.cd-signin-modal--is-visible {
           visibility: visible;
           opacity: 1;
       }
       
       .cd-signin-modal__container {
           position: relative;
           width: 90%;
           max-width: 375px;
           background: #FFF;
           margin: 3em auto 4em;
           cursor: auto;
           border-radius: 0px;
           -webkit-transform: translateY(-30px);
           -ms-transform: translateY(-30px);
           transform: translateY(-30px);
           -webkit-transition: -webkit-transform 0.3s;
           transition: -webkit-transform 0.3s;
           transition: transform 0.3s;
           transition: transform 0.3s, -webkit-transform 0.3s;
       }
       
       .cd-signin-modal--is-visible .cd-signin-modal__container {
           -webkit-transform: translateY(0);
           -ms-transform: translateY(0);
           transform: translateY(0);
       }
       
       .cd-signin-modal__container ul {
           list-style: none;
           padding: 0;
           margin: 0;
       }
       
       .cd-signin-modal__switcher:after {
           content: "";
           display: table;
           clear: both;
       }
       
       .cd-signin-modal__switcher li {
           width: 50%;
           float: left;
           text-align: center;
       }
       
       .cd-signin-modal__switcher li:first-child a {
           border-radius: 0;
       }
       
       .cd-signin-modal__switcher li:last-child a {
           border-radius: 0;
       }
       
       .cd-signin-modal__switcher a {
           display: block;
           width: 100%;
           line-height: 50px;
           background: var(--primary-color);
           color: #ffffff;
           text-decoration: none;
           font-size: 15px;
           font-weight: 500;
           font-family: 'Lato', sans-serif;
           height: 57px !important;
           line-height: 55px !important;
           text-transform: uppercase;
       }
       
       .cd-signin-modal__switcher a.cd-selected {
           background: #FFF;
           color: #000 !important;
       }
       
       @media only screen and (min-width:600px) {
           .cd-signin-modal__container {
               margin: 4em auto;
           }
           .cd-signin-modal__switcher a {
               height: 70px;
               line-height: 70px;
           }
       }
       
       .cd-signin-modal__form {
           padding: 1.5em !important;
       }
       
       .cd-signin-modal__form .connect {
           display: block;
           width: 100%;
           text-align: center;
           padding-bottom: 15px;
           border-bottom: 1px solid #e3e3e3;
       }
       
       .cd-signin-modal__form .connect img {
           width: auto;
           margin-bottom: 10px;
       }
       
       .cd-signin-modal__fieldset {
           position: relative;
           margin: 0px 0px 19px 0px !important;
           padding: 0;
       }
       
       .cd-signin-modal__fieldset label {
           display: inline;
       }
       
       .cd-signin-modal__fieldset:first-child {
           margin-top: 0;
       }
       
       .cd-signin-modal__fieldset:last-child {
           margin-bottom: 0;
       }
       
       .cd-signin-modal__label {
           font-size: 1.4rem;
       }
       
       .cd-signin-modal__label.cd-signin-modal__label--image-replace {
           display: inline-block;
           position: absolute;
           left: 15px;
           top: 50%;
           bottom: auto;
           -webkit-transform: translateY(-50%);
           -ms-transform: translateY(-50%);
           transform: translateY(-50%);
           height: 20px;
           width: 20px;
           overflow: hidden;
           text-indent: 100%;
           white-space: nowrap;
           color: transparent;
           background-repeat: no-repeat;
           background-position: 50% 0;
       }
       
       .cd-signin-modal__label.cd-signin-modal__label--username {
           background-image: url(/Nirvana/images/cd-icon-username.svg);
       }
       
       .cd-signin-modal__label.cd-signin-modal__label--email {
           background-image: url(/Nirvana/images/cd-icon-email.svg);
       }
       
       .cd-signin-modal__label.cd-signin-modal__label--password {
           background-image: url(/Nirvana/images/cd-icon-password.svg);
       }
       
       .cd-signin-modal__input {
           margin: 0;
           padding: 0;
           border-radius: 0;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--full-width {
           width: 100%;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--full-width::placeholder {
           color: #000 !important;
           font-size: 13px !important;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--full-width::-webkit-input-placeholder {
           color: #000 !important;
           font-size: 13px !important;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--full-width::-moz-placeholder {
           color: #000 !important;
           font-size: 13px !important;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--has-padding {
           padding: 12px 20px 12px 50px;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--has-border {
           border: 1px solid #d2d8d8;
           -webkit-appearance: none;
           -moz-appearance: none;
           appearance: none;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
           border-color: #d4d4d4;
           outline: none;
       }
       
       .cd-signin-modal__input.cd-signin-modal__input--has-error {
           border: 1px solid #d76666;
       }
       
       .cd-signin-modal__input[type=submit] {
           padding: 11px 0 !important;
           cursor: pointer;
           background: var(--primary-color) !important;
           color: #FFF;
           border: none;
           -webkit-appearance: none;
           -moz-appearance: none;
           appearance: none;
           -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale;
           -webkit-transition: all 0.5s ease-in-out;
           -moz-transition: all 0.5s ease-in-out;
           -o-transition: all 0.5s ease-in-out;
           transition: all 0.5s ease-in-out;
           font-size: 16px;
           border-radius: 0px;
           font-weight: normal !important;
       }
       
       .cd-signin-modal__input[type=submit]:hover {
           background: var(--primaryDark-color) !important;
           color: #FFF !important;
       }
       
       .cd-signin-modal__input[type=submit]:hover,
       .cd-signin-modal__input[type=submit]:focus {
           background: #006ace;
           outline: none;
       }
       
       .cd-signin-modal__hide-password {
           display: inline-block;
           position: absolute;
           right: 0;
           top: 0;
           padding: 6px 15px;
           border-left: 1px solid #d2d8d8;
           top: 50%;
           bottom: auto;
           -webkit-transform: translateY(-50%);
           -ms-transform: translateY(-50%);
           transform: translateY(-50%);
           font-size: 14px;
           color: #343642;
           text-decoration: none;
           cursor: pointer;
       }
       
       .cd-signin-modal__error {
           display: inline-block;
           position: absolute;
           left: 0px;
           bottom: -31px;
           background: rgba(215, 102, 102, 0.9);
           padding: 7px 14px;
           z-index: 2;
           color: #FFF;
           font-size: 14px;
           border-radius: 0.25em;
           pointer-events: none;
           visibility: hidden;
           opacity: 0;
           -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
           transition: opacity 0.2s 0s, visibility 0s 0.2s;
           width: 100%;
           font-family: 'Open Sans', sans-serif;
           font-size: 13px;
           font-weight: 500;
       }
       
       .cd-signin-modal__error::after {
           content: '';
           position: absolute;
           left: 22px;
           bottom: 100%;
           height: 0;
           width: 0;
           border-left: 8px solid transparent;
           border-right: 8px solid transparent;
           border-bottom: 8px solid rgba(215, 102, 102, 0.9);
       }
       
       .cd-signin-modal__error.cd-signin-modal__error--is-visible {
           opacity: 1;
           visibility: visible;
           -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
           transition: opacity 0.2s 0s, visibility 0s 0s;
       }
       
       @media only screen and (min-width:600px) {
           .cd-signin-modal__form {
               padding: 1.5em;
               font-family: 'Lato', sans-serif;
           }
           .cd-signin-modal__fieldset {
               margin: 2em 0;
           }
           .cd-signin-modal__fieldset:first-child {
               margin-top: 0;
           }
           .cd-signin-modal__fieldset:last-child {
               margin-bottom: 0;
           }
           .cd-signin-modal__input.cd-signin-modal__input--has-padding {
               padding: 10px 20px 10px 50px;
               font-family: 'Lato', sans-serif;
               margin: 0;
           }
           .cd-signin-modal__input[type=submit] {
               padding: 16px 0;
           }
       }
       
       .cd-signin-modal__message {
           font-size: 14px;
           line-height: 1.4;
           text-align: center;
           color: #020202;
       }
       
       .down_select {
           -webkit-appearance: menulist !important;
       }
       
       @media only screen and (min-width:600px) {
           .cd-signin-modal__message {
               padding: 2em 2em 0;
           }
       }
       
       .cd-signin-modal__bottom-message {
           width: 100%;
           left: 0;
           bottom: 0;
           text-align: center;
           font-size: 14px;
           padding: 0 0 20px;
           font-weight: 500;
           margin-top: 6px;
           display: inline-block;
       }
       
       .cd-signin-modal__bottom-message a {
           color: #000;
           text-decoration: underline;
       }
       
       .txt-2 {
           color: #FFF;
           font-weight: normal;
       }
       
       .cd-signin-modal__close {
           display: block;
           position: absolute;
           width: 25px;
           height: 24px;
           right: -28px;
           top: -3px;
           background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
           color: transparent;
           text-indent: 100%;
           white-space: nowrap;
           overflow: hidden;
       }
       
       .cd-signin-modal__block {
           display: none;
       }
       
       .cd-signin-modal__block.cd-signin-modal__block--is-selected {
           display: block;
           font-family: 'Lato', sans-serif;
       }
       
       .topSec .modal-header {
           background: #7F3F98;
       }
       
       .topSec .modal-header .modal-title {
           font-family: 'Open Sans', sans-serif;
           font-size: 14px;
           color: #FFF;
           font-weight: 600;
       }
       
       .user_login p label {
           font-family: 'Open Sans', sans-serif;
           font-size: 13px;
           font-weight: 500;
           margin-bottom: 5px;
       }
       
       .validation_sec {
           position: relative;
           margin-bottom: 10px;
       }
       
       .validation_sec input {
           width: 100%;
           height: 41px;
           padding: 10px;
           border: 1px solid #d4d3d4;
           font-family: 'Open Sans', sans-serif;
           font-size: 13px;
           font-weight: 500;
       }
       
       .viewradio_sec .radio_view {
           font-family: 'Open Sans', sans-serif;
           font-size: 13px;
           font-weight: 600;
       }
       
       .radio_view {
           display: block;
           position: relative;
           padding-left: 27px !important;
           margin-bottom: 12px !important;
           cursor: pointer;
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;
           float: left;
           padding-right: 10px;
       }
       
       .radio_view input {
           position: absolute;
           opacity: 0;
           cursor: pointer;
           height: 0;
           width: 0;
       }
       
       .checkmark {
           position: absolute;
           top: -2px;
           left: 0;
           height: 21px;
           width: 21px;
           background-color: #eee;
           border-radius: 3px;
           border: 1px solid #d0d0d0;
       }
       
       .radio_view:hover input~.checkmark {
           background-color: #7F3F98;
           border: 1px solid #7F3F98;
       }
       
       .radio_view input:checked~.checkmark {
           background-color: #7F3F98;
           border: 1px solid #7F3F98;
       }
       
       .checkmark:after {
           content: "";
           position: absolute;
           display: none;
       }
       
       .radio_view input:checked~.checkmark:after {
           display: block;
       }
       
       .radio_view .checkmark:after {
           left: 8px;
           top: 4px;
           width: 5px;
           height: 10px;
           border: solid #ffffff;
           border-width: 0 3px 3px 0;
           -webkit-transform: rotate(45deg);
           -ms-transform: rotate(45deg);
           transform: rotate(45deg);
       }
       
       #retrieve-booking {
           width: 100%;
           height: 41px;
           background: var(--primary-color);
           color: #FFF;
           font-family: 'Open Sans', sans-serif;
           font-size: 14px;
           font-weight: 600;
           border: none;
           line-height: 41px;
           padding: 0;
       }
       
       #retrieve-booking:hover {
           background: var(--primaryDark-color)
       }
       
       .md-search {
           margin: 0px !important;
       }
       
       .flight-listing {
           margin-top: 0px;
       }
       
       #hotelListDiv .flight-count {
           padding-top: 12px;
       }
       
       #hotelListDiv {
           width: 100%;
           float: left;
       }
       
       @media (min-width: 768px) {
           #myModal .modal-dialog {
               width: 500px;
               margin: 30px auto;
           }
       }
       
       .nav>li>a {
           padding: 15px 15px;
       }
       
       .nav>li {
           padding: 0px;
       }
       
       @media (max-width: 1080px) {
           .banner::before,
           .banner::after {
               display: none;
           }
           #myCarousel {
               display: none;
           }
           .navSec .navbar-nav>li {
               float: left;
               display: block;
               width: 100%;
           }
           .navbar-header {
               float: none;
           }
           .navbar-toggle {
               display: block;
           }
           .bannerForm {
               background-image: url(/images/banner.jpg) !important;
           }
           .navbar-collapse {
               border-top: 1px solid transparent;
               box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
           }
           .navbar-nav {
               float: none !important;
               margin: 0;
           }
           .navbar-nav>li {
               float: none;
           }
           .navbar-nav>li>a {
               padding-top: 10px;
               padding-bottom: 10px;
           }
           .navbar-brand {
               display: block;
               height: auto;
               padding: 7px 8px;
           }
           .navbar-inverse {
               background-color: #FFF;
               border-color: #FFF;
           }
           .navSec {
               background: #FFF;
               border-bottom: 1px solid #f1f1f1;
           }
           .navbar-toggle {
               margin-top: 16px;
               background-color: #7F3F98;
               border-radius: 50%;
               padding: 13px 10px;
           }
           .navbar-inverse .navbar-toggle {
               border-color: #7F3F98;
           }
           .navbar-inverse .navbar-toggle:focus,
           .navbar-inverse .navbar-toggle:hover {
               background-color: #7F3F98;
               border-color: #7F3F98;
           }
           .navbar-nav>li>a {
               padding-top: 10px !important;
               padding-bottom: 10px !important;
           }
           .navbar-inverse .navbar-nav>li>a {
               color: #de89ff;
               font-size: 14px !important;
           }
           .navbar-nav {
               background: #7F3F98;
           }
           .navbar-inverse .navbar-collapse {
               border: none;
           }
           .siteMap_sec {
               border-right: none;
               position: relative;
           }
           .sitemap {
               min-height: 10px;
           }
           .bannerForm .tab-links li {
               width: auto;
               padding: 0px 0px;
           }
           .bannerForm .tab-links li a span {
               display: none;
           }
           .bannerForm .tab-links li a {
               display: block;
               float: left;
               padding: 0px 8px;
           }
           .bannerForm .tab-links li a svg {
               width: 25px;
               height: 24px;
               float: none;
               margin-right: 0px;
               margin-top: 7px;
           }
           .banner::after {
               display: none;
           }
           .bannerForm {
               margin-top: 0px !important;
               background: rgba(0, 0, 0, 0.55);
               padding-top: 20px;
           }
           .formtxt,
           .calendarSec {
               margin-bottom: 5px;
           }
           .bannerForm .tab-content {
               padding-top: 20px;
           }
           .profile-dropdown {
               margin-top: 0px !important;
               padding: 2px 5px 3px 5px !important;
           }
       }
       
       @media (max-width: 768px) {
           .navbar-nav>li>a {
               padding-top: 18px;
               padding-bottom: 18px;
           }
           .des_Sec .twt {
               padding: 10px;
               border: 1px solid #e0e0e0;
               margin-bottom: 14px;
           }
           .serviceArea {
               margin-bottom: 10px;
           }
           .siteMap_sec {
               border-right: none;
               position: relative;
           }
           .sitemap {
               min-height: 10px;
           }
           .copyright p {
               text-align: center;
           }
       }
       
       @media (max-width: 1200px) {
           .navbar-inverse .navbar-nav>li>a {
               font-size: 12px;
           }
       }
       
       @media (max-width: 1040px) {
           .banner .carousel-inner .item img {
               height: auto;
           }
       }
       
       @media (max-width: 1080px) {
           .bannerForm {
               position: relative;
               bottom: 0px;
               background: #7f3f98;
               padding-top: 17px;
           }
           .bannerForm .tab-content {
               margin-top: 16px;
           }
       }
       
       @media (max-width: 600px) {
           .choosesIcon {
               width: 100%;
               text-align: center;
               margin-bottom: 5px;
           }
           .chooseDescription {
               padding-left: 0px;
               width: 100%;
               text-align: center;
           }
           .whyChooseus h6 {
               text-align: center;
           }
           .whyChooseus h6 span::after {
               width: 100%;
           }
           .whyChooseus h6 span::before {
               left: 42%;
           }
           .whyChooseus h5 {
               text-align: center;
           }
           .bt label {
               font-size: 12px;
           }
           .flightSearch {
               width: 100%;
           }
       }
       
       @media (max-width: 326px) {
           .traveltype {
               width: auto;
           }
       }
       
       @media (max-width: 674px) {
           .flexibleSec {
               font-size: 12px;
               margin-top: 15px;
           }
           input[id="radio-btn-8"]+label {
               position: relative;
               font-size: 12px;
           }
           .checkAreaform {
               width: 247px;
               float: none;
               margin: auto;
           }
           input[id="radio-btn-8"]+label::before {
               width: 22px;
               height: 21px;
           }
           input[id="radio-btn-8"]:checked+label::after {
               width: 13px;
               height: 6px;
               top: 6px;
               left: 4px;
           }
           .traveltype {
               width: 293px;
               float: initial;
               margin: auto;
           }
       }
       
       @media only screen and (min-width: 990px) and (max-width: 1290px) {
           .travellerOptions {
               width: 179px;
           }
       }
       
       @media only screen and (min-width: 200px) and (max-width: 992px) {
           .travellerOptions {
               width: 100%;
               top: 56px;
           }
           .kmsliderSec {
               margin-bottom: 5px;
               width: 100%;
               float: left;
           }
           .travellerSecHtl {
               margin-bottom: 5px;
           }
       }
       
       @media only screen and (min-width: 200px) and (max-width: 1200px) {
           .headerContact>ul {
               display: none;
           }
       }
       
       @media only screen and (min-width: 200px) and (max-width: 500px) {
           #sign-bt-area li {
               padding: 0px 0px !important;
           }
           .topSec .headerContact ul li {
               padding: 0px 6px !important;
           }
           .headerContact ul li a {
               font-size: 12px !important;
           }
           .retrive_booking_sec {
               font-size: 12px;
           }
       }
       
       @media (max-width: 1080px) {
           .navbar-header {
               float: none;
           }
           .navbar-left,
           .navbar-right {
               float: none !important;
           }
           .navbar-toggle {
               display: block;
           }
           .navbar-collapse {
               border-top: 1px solid transparent;
               box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
           }
           .navbar-fixed-top {
               top: 0;
               border-width: 0 0 1px;
           }
           .navbar-collapse.collapse {
               display: none!important;
           }
           .navbar-nav {
               float: none!important;
               margin-top: 7.5px;
           }
           .navbar-nav>li {
               float: none;
           }
           .navbar-nav>li>a {
               padding-top: 10px;
               padding-bottom: 10px;
           }
           .collapse.in {
               display: block !important;
           }
           /*top section*/
           .topSec {
               padding: 0px;
               border-bottom: 1px solid #e2e2e2;
           }
           .topSec .col-sm-3 {
               display: none;
           }
           .topSec .headerContact {
               width: 100%;
           }
           .topSec .headerContact ul li {
               padding: 4px 13px;
           }
           .topSec .headerContact ul li a {
               font-size: 13px;
               padding: 6px 0px;
           }
           .sl-nav li::after {
               height: 18px;
               top: 5px;
           }
           .retrive_booking_sec {
               font-size: 13px;
               padding: 8px 12px 3px 12px;
           }
           .retrive_booking_sec::after {
               height: 18px;
               top: 9px;
           }
           .headerContact ul li i {
               width: 21px;
               height: 22px;
               line-height: 22px;
           }
           #sign-bt-area {
               margin-top: 5px;
               margin-bottom: 5px;
           }
           .sl-nav {
               padding-top: 4px;
           }
       }
       
       .flx_package {
           flex-wrap: wrap;
           align-content: flex-start;
           display: -webkit-box;
           display: -moz-box;
           display: -ms-flexbox;
           display: -webkit-flex;
           display: flex;
       }
       /*login section*/
       
       .profile-dropdown {
           width: auto;
           display: inline-block;
           position: relative;
           margin: auto;
           font-weight: 400;
           font-size: 14px;
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;
           margin: 16px 0 0 8px;
           padding: 4px 5px 5px 5px !important;
           cursor: pointer;
           float: left;
           border: 1px solid #e2e2e2;
           font-family: 'Open Sans', sans-serif;
       }
       
       .ar_direction1 .profile-dropdown img,
       .ar_direction1 .profile-dropdown span {
           float: right;
       }
       
       .profile-dropdown * {
           -webkit-user-select: none;
           -moz-user-select: none;
           -ms-user-select: none;
           user-select: none;
       }
       
       .profile-dropdown input[type="checkbox"] {
           display: none;
       }
       
       .profile-dropdown input[type="checkbox"]:checked~ul {
           display: block;
           animation: pulse 0.5s;
       }
       
       .profile-dropdown input[type="checkbox"]:checked~img {
           background: #7f3f98;
       }
       
       .profile-dropdown input[type="checkbox"]:checked~label i {
           color: #7f3f98;
       }
       
       .profile-dropdown img {
           display: inline-block;
           background: #fff;
           height: 25px;
           vertical-align: middle;
           border-radius: 50%;
           float: left;
       }
       
       .profile-dropdown span {
           display: inline-block;
           vertical-align: sub;
           width: auto;
           margin: 0 10px 0 4px;
           overflow: hidden;
           white-space: nowrap;
           text-overflow: ellipsis;
           line-height: 25px;
           float: left;
           font-family: 'Open Sans', sans-serif;
           font-size: 13px;
       }
       
       .profile-dropdown ul {
           display: none;
           list-style: none;
           padding: 5px 0 0;
           margin: 0;
           background: #f1f1f1;
           position: absolute;
           top: 100%;
           right: 0;
           width: 100%;
           border-radius: 0;
           z-index: 9999;
           min-width: 150px;
       }
       
       .profile-dropdown ul li {
           border-bottom: 1px solid #dedede;
           padding: 0px;
           width: 100%;
       }
       
       .profile-dropdown ul li:last-child {
           border-bottom: none;
       }
       
       .profile-dropdown ul li a {
           display: block;
           padding: 6px 10px;
           text-decoration: none;
           color: #444;
           font-size: 13px;
           text-align: left;
           font-weight: 400 !important;
           font-size: 12px !important;
       }
       
       .profile-dropdown ul li a i {
           font-size: 13px;
           vertical-align: middle;
           margin: 0 .75rem 0 -.25rem;
       }
       
       .profile-dropdown ul li a:hover {
           background: #fff;
           color: #3a7fc1;
       }
       
       .profile-dropdown>label {
           position: relative;
           height: 25px;
           text-decoration: none;
           background: transparent;
           color: #292929;
           padding: 0 5px 0 0;
           float: right;
           border-radius: 0;
           margin: 0;
           line-height: 29px;
           display: inline-block;
       }
       
       .profile-dropdown>label i {
           color: #7f3f98;
           font-size: 18px;
       }
       
       .profile-dropdown:after {
           content: '';
           display: table;
           clear: both;
       }
       
       .h_top {
           float: right;
       }
       
       section {
           padding: 30px 0;
       }
       
       .customer-profile {
           margin-top: 0px;
           float: left;
       }
       
       .addressSec ul .flx_sec {
           flex-wrap: inherit;
       }
       
       .flight-step-review {
           display: inline-block;
           width: 100%;
           margin-top: 0px;
       }

.p-advisory {
    color: #ff9d43;
    font-weight: 600;
    font-size: 18px
}

.p-warning {
    color: #ff9d43;
    font-weight: 600;
    font-size: 18px
}

.p-alert {
    color: #ff4343;
    font-weight: 600;
    font-size: 18px
}

.p-normal {
    color: #78c96a;
    font-weight: 600;
    font-size: 18px
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5px;
}