

@media(max-width:1200px) {
    .header-bottom .nav > li > a{padding:1px 15px;}
    .holiday-text .book-btn{
        text-align: left;
        margin-top: 0;
    }
    .holiday-text{padding: 20px 0 20px 20px;}
    .holiday-text h3{
        font-size: 45px;
        line-height: 50px;
    }
    .holiday-text h2{
        font-size: 36px;
        line-height: 27px;
    }
    .link-media ul li{padding: 0 5px;}
}


/*=========END-1200px==========*/


/*=========Start-991px==========*/

@media(max-width:991px) {
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
    .header-right{
        float: none;
        text-align: center;
    }
    .logo{text-align: center;}
    .top-contact{display: none;}
    .lang, .currency{
        float: none;
        text-align: center;
    }
    .buttons .btn{padding: 7px 16px;}
	
	.booking-form {
		width: 100%;
        position: relative;
        padding: 40px 0;
	}
    .booking-tab{margin-top: -95px;}
    .search-section .nav-tabs > li{width: 19%;}
    .service-icon svg{width: 22%;}
    .search-section .form-control{
        background: #fff;
    }
    .calendar{
        background: #fff;
        border-right: none !important;
    }
    .detail-form .calendar{
        background: #fff!important;
        border-right: none !important;
    }
    .search-section .search-col-padding{
        margin-top: 15px;
        background-color: transparent;
    }
    .trip{margin-bottom: 15px;}
	.banner_main .banner-text h1 {
		font-size: 50px;
		line-height: 60px;
	}
	.banner_main .banner-text p {
		width: 100%;
        font-size: 26px;
        line-height: 34px;
	}
	.search-section .form-control {
		border-bottom: 1px solid #bfbfbf;
	}
	.calendar {
		border-bottom: 1px solid #bfbfbf !important;
	}
	.all-search-box {
		display: inline-block;
		width: 100%;
	}
	.search-button {
		padding: 10px 0;
	}
	.dropdown-menu {
		top: 34px;
		right: 0px;
	}
	.travelerSelectWindow {
		left: 0;
		width: 100%;
	}
	
    .owl-theme .owl-controls .owl-buttons div {
		position: relative;
		top: 0;
		margin-top: 20px;
        float: none!important;
	}
    .navbar-default .navbar-nav > li > a{
        font-size: 14px;
        padding: 1px 9px;
    }
    .search-col-padding .input-group{display: block;}
    .detail-form .search-section .search-col-padding{overflow: hidden;}
    .about-main .about-text h2, .deals-holiday h2{
        font-size: 30px;
        line-height: 35px;
    }
    .about-main .about-text p{margin-top: 10px;}
    .holiday-img{
        clip-path:inherit;
    }
    .holiday-text .book-btn{margin-top: 10px;}
    .newsletter{margin-top: 30px;}
    .copy-right{padding: 30px 0;}
    .contact-fm .map iframe{height: 563px;}
    .holidays-in .col-md-12{
        clear: both;
        overflow: hidden;
    }
    .detail-form{margin-top: 30px;}
    .desc-detail .nav-tabs{width: 100%;}
}


/*=========END-991px==========*/

@media(max-width:767px) {
    #compare-ticket-currency .dropdown-menu {
        position: absolute;
        background-color: #fff;
    }
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
    .nav-logo{overflow: visible;}
    .logo{margin-bottom: 15px;}
    .booking-form{margin-top: 0;}
   
    .navbar-default::before {
		display: none;
	}
  
    
	.navbar-toggle {
		background-color: #000;
		border: none;
		border-radius: 0;
		margin-right: 0;
		padding: 12px 14px;
		border-radius: 3px;
        float: left;
        margin:0;
	}
    .navbar-default{
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        background-color: transparent;
        margin: 0;
    }
    .buttons{
        text-align: right;
    }
    
    .buttons .btn{
        position: relative;
        z-index: 99;
        margin: 0;
    }
    
    
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
		width: 27px;
		height: 3px;
	}
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background-color: #f27506;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: transparent;
		margin-top: 12px;
        float: none !important;
	}
	.nav>li {
		padding: 0;
		color: #fff;
	}
	.navbar-default .navbar-nav>li>a {
		color: #fff;
		padding: 11px 10px;
		background: #f27506;
		border-bottom: 1px solid #fff;
        font-size: 15px;
	}
	.nav>li>a {
		border-left: none;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		border-bottom: 1px solid #fff!important;
		background: #000;
		color: #fff;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-default .navbar-brand,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
		position: relative;
		margin: 0!important;
		padding: 10px 0;
	}
	.booking-form {
		position: relative;
		bottom: 0;
	}
	
	.search-col-padding .input-group {
		width: 100%;
		display: block;
	}
	.search-section .form-control,
	.calendar {
		border-right: none !important;
		box-shadow: none !important;
	}
    .search-section .form-control{padding: 0 20px!important;}
    .travellersDropdown.arrow::after{display: none!important;}
	.search-section .nav-tabs>li {
		clip-path: inherit;
		width: 27%;
	}
	.search-section .nav>li>a::before {
		left: auto;
		top: 8px;
		right: 4px;
		position: absolute;
	}
    .booking-tab{margin-top:  -113px;}
	
	.banner_main .banner-text h1 {
		font-size: 40px;
        line-height: 50px;
	}
	.banner_main .banner-text p {
		font-size: 24px;
		line-height: 34px;
        margin: 0;
	}
	.banner_main {
        padding: 150px 0 200px 0;
	}
	
	
	.all-search-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	
    .search-section .nav>li{
        margin-bottom: 2px;
    }
	.search-section .nav>li>a {
	}
    .radio{margin-bottom: 20px;}
	.search-section .nav-tabs>li:hover i {
		color: #fff;
	}
    
    .navbar-default .navbar-nav > .active > a:hover{
        background: #1c1c1c;
        color: #fff;
    }
    .lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn{margin-top: 0;}
    .currency .bootstrap-select.fit-width {margin-bottom: 0!important;}
    .search-button, .search-section .form-control, .calendar{height: 50px!important;}
    .search-icon{bottom: 15px;}
    .travelerSelectWindow{top: 60px;}
    .custom-select-v3::before{top: 24px;}
    .search-button{margin-top: 0;}
    .about-img{
        text-align: center;
        margin-bottom: 20px;
    }
    .about-img img{width: auto;}
    .about-main .about-text h2,.deals-holiday h2 {
        font-size: 22px;
        line-height: 28px;
    }
    .about-main{padding: 30px 0;}
    .deals-deatil .btn{
    float: none;
        width: 100%;
        text-align: center;
    }
    .deals-holiday{padding-top: 30px;}
    .deals-holiday .owl-carousel{margin-bottom: -267px;}
    .holiday-text h2{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 0;
    }
    .holiday-text h3{
        font-size: 40px;
        line-height: 45px;
        
    }
    footer{
        padding-top: 90px;
        margin-top:-60px;
    }
    .copy-right p{line-height: 21px;}
    .log-in, .currency{margin-top: 20px;}
    .about-vision .flex{
        display: block;
        width: 100%;
    }
    .about-vision .row{display: block;}
    .about-vm-in{margin-bottom: 30px;}
    .about-vision{padding: 30px 0;}
    .about-info p{width: 100%;}
    .about-info h2{
        font-size: 33px;
        line-height: 40px;
    }
    .about-info{padding-top: 45px;}
    .inner-title{padding: 125px 0 76px 0;}
    .inner-title h2{
        font-size: 40px;
        line-height: 45px;
    }
    
     .contact-fm .map iframe{height: 300px;}
    .contact-fm{margin-bottom: 30px;}
    .contact-form button{margin-top: 14px;}
    .holidays-in{margin-bottom: 30px;}
    .desc-detail .nav > li{width: 21%;}
    .desc-detail .search-section .tab-content{padding: 20px 10px;}
    .comment-div .user{
        float: none;
        width: 100%;
    }
    .comment-div .comment-block{
        width: 100%;
        float: none;
        margin-top: 10px;
    }
    .package-detail-inner{padding: 45px 0 30px 0;}
    .detail-form{padding: 15px 10px 15px 10px;}
}


/*=========END-767px==========*/

@media(max-width:600px) {
    footer .col-xs-8, footer .col-xs-5, footer .col-xs-4, footer .col-xs-7{
        width: 100%;
    }
    .link-media{
        padding: 20px 0;
    }
    .link-media .f-media{
        text-align: left;
        margin-top: 15px;
    }
    .copy-right{padding: 20px 0;}
    
    .powerd-by{
        float: none;
        margin-top: 15px;
    }
    .newsletter{margin-top: 10px;}
    .footer-logo .f-logo{padding: 20px;}
    .footer-logo ul{padding: 0 20px  20px;}
    .footer-logo ul li{margin: 25px 0;}
    .holidays-in .col-md-4.col-sm-6.col-xs-6{width: 100%;}
    .inner-pagination .pagination > li > a, 
    .inner-pagination .pagination > li > span{
        height: 30px;
        width: 30px;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        margin: 0 3px;
    }
    
    .desc-detail .nav > li{
        width: 100%;
        margin-bottom: 5px;
    }
    .desc-detail .nav-tabs{position: relative;}
    
}


/*=========Start-500px==========*/

@media(max-width:500px) {
    .booking-form{padding: 20px 0 30px 0;}
	.search-section .nav>li>a {
		padding: 13px 0;
		font-size: 16px;
		width: 100%;
	}
    .banner_main .banner-text h1 {
		font-size: 30px;
        line-height: 40px;
	}
	.banner_main .banner-text p {
		font-size: 20px;
		line-height: 28px;
        margin: 0;
	}
	.banner_main {
        padding: 100px 0 200px 0;
	}
   
    .radio{margin-bottom: 5px;}
	.search-section .nav>li {
		float: left;
		width: 32%;
		border: none;
        margin-left: 5px;
	}
    .search-section .nav>li:first-child{margin-left: 0;}
    .service-icon{display: block;}
    .search-section .nav > li{margin-bottom: 4px;}
	.search-section .tab-content form {
		padding: 0;
	}
	.search-section .tab-content {
		padding: 30px 0 0 0;
	}
	
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        border-bottom: none;
    }
    .service-icon svg{width: 28%;}
    .deals-holiday h2{
        float: none;
    }
    .more-deals{float: none;}
    .more-deals .btn{margin-top: 0;}
    .link-media ul li{padding: 0 4px;}
    .holiday-text h3{
        font-size: 36px;
        line-height: 45px;
    }
    .holiday-text h3 span{
        font-size: 20px;
    }
    .package-media{
        float: none;
        margin-top: 10px;
    }
    .package-days .day-night{float: none;}
    .desc-detail .nav > li{
        width: 100% !important;
        margin-left: 0;
    }
    .review-form-field input[type="submit"]{padding: 10px 20px;}
}


@media(max-width:400px){

    .log-in, .currency{
        display: block;
        border-left: none;
        border-bottom: 1px dashed #fff;
        margin-top: 0!important;
        padding: 10px 0;
    }
    .agent-login {
        padding: 0 !important;
        border: none !important;
    }
    .language{border-bottom: none;}
    .header-bottom{top: 140px;}
    .trip ul li{
        margin: 0;
    }
    .trip ul li a{
        padding: 5px 7px;
        font-size: 12px;
    }
    .search-section .nav > li{width: 31%;}
}



