/* Google Font Link */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/* Import All CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: url(../)
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul,
li {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

html {
	-webkit-text-size-adjust: none;
}

* {
	outline: none;
}

input[type='submit'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
}

 ::-moz-selection {
	background: #f27506;
	color: #fff;
}



.btn {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.btn.active,
.btn:active {
	box-shadow: none;
}

.btn a,
input[type="submit"] {
	            font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	background-color: transparent;
	color: #fff !important;
	padding: 10px 30px;
	border-radius: 50px;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #fff;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}

.btn a:hover,
input[type="submit"]:hover {
	background-color: #fff;
	color: #333333 !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.section {
	padding: 50px 0;
	overflow: hidden;
}

p {
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: #333333;
	padding: 8px 0;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
	color: #404041;
	      font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 70px;
	line-height: 80px;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	text-align: left;
	font-size: 50px;
	font-weight: 700;
	text-transform: capitalize;
	color: #fc4f00;
	line-height: 44px;
          font-family: 'Open Sans', sans-serif;
}

h3 {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
	padding: 10px;
	line-height: 28px;
}

h4 {
	font-size: 20px;
	line-height: 26px;
	padding: 15px 0;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

h5 {
	font-size: 20px;
	line-height: 24px;
	padding: 10px 0;
	margin: 0;
}

a {
	-webkit-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-moz-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-ms-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	-o-transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
	transition: color 0.1s linear, border 0.1s linear, opacity 0.1s linear, background-color 0.1s linear;
}

.navigation_mobile_click,
.navigation_mobile_click:before,
.go-up {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

a {
	text-decoration: none;
	color: #5e6d77;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

img {
	max-width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	height: auto;
}

body {
	            font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #FFF;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/*=======Start-homepage-css=========*/


/*back-to-top-css*/

.scrollToTop {
	height: 50px;
	width: 50px;
	padding-top: 2px;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	right: 15px;
	z-index: 999999;
	display: none;
	border-radius: 50%;
	background-color: #000;
	border: 2px solid #fff;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background: #f27506;
	color: #fff;
}

header{
    background: #f27506;
    padding-bottom: 77px;
}

.header-right{
    float: right;
}
.log-in, .currency{
  display: inline-block;
    margin-top: 28px;
    vertical-align: middle;
    border-left: 1px dashed #fff;
    padding: 0 15px;
}
 .log-in a{
    color: #fff;
     font-size: 15px;
}
.log-in a:hover{color: #000;}
.log-in a i{
    margin-right: 5px;
}

.log-in{
    border-left: none;
}
.currency .bootstrap-select > .btn{
     padding-right: 15px !important;
}

.relative{position: relative;}

.top-contact{
    margin-top: 28px;
    float: left;
}
.top-contact li{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 0 20px;
    border-left: 1px dashed #fff;
}
.top-contact li:first-child{
    padding-left: 0;
    border-left: none;
}
.top-contact li i{padding-right: 10px;}
.top-contact li a{
    color: #fff;
    font-size: 15px;
}
.top-contact li a:hover{color: #000;}





.lang .bootstrap-select.fit-width {
	width: 90px !important;
}

.lang .bootstrap-select > .btn, .currency .bootstrap-select > .btn {
	width: 100%;
	border-radius: 0;
	font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: none;
    line-height: 20px;
    margin: 0;
}
.fit-width{margin-bottom: 0!important;}
.lang .bootstrap-select > .btn:hover, .currency .bootstrap-select > .btn:hover {
	color: #fff;
    border: none;
    background-color: transparent!important;
}
.lang .bootstrap-select.btn-group .dropdown-menu, .currency .bootstrap-select.btn-group .dropdown-menu {
	background: #fff;
	border-radius: 0;
	top: 95%;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a, .currency .bootstrap-select.btn-group .dropdown-menu a {
	color: #333;
	background: transparent !important;
	padding: 5px 5px;
	border: 1px solid #d1d1d1;
	margin: 4px 5px;
	font-size: 16px;
}
.currency .btn-default.active.focus, .currency .btn-default.active:focus, .currency .btn-default.active:hover, .btn-default:active.focus, .currency .btn-default:active:focus, .currency .btn-default:active:hover, .currency .open > .dropdown-toggle.btn-default.focus, .currency .open > .dropdown-toggle.btn-default:focus, .open > .currency .dropdown-toggle.btn-default:hover{
    background-color: transparent!important;
    border: none!important;
}
.currency .bootstrap-select .dropdown-toggle:focus{
    outline: none!important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:hover, .lang .bootstrap-select.btn-group .dropdown-menu li a:focus, .currency .bootstrap-select.btn-group .dropdown-menu a:hover, .currency .bootstrap-select.btn-group .dropdown-menu a:focus {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #e8e8e8 !important;
}
.lang .bootstrap-select.btn-group .dropdown-menu li a:active, .currency .bootstrap-select.btn-group .dropdown-menu li a:active {
	color: #000;
	border: 1px solid #3a7fc1 !important;
	background: #f1f1f1;
}
.lang .btn-group.open .dropdown-toggle, .currency .btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
	box-shadow: none;
}



/*==============================Navigation================================*/
/* 
.header-bottom{
    position: absolute;
    width: 100%;
    top: 75px;
    left: 0;
    right: 0;
    z-index: 99;
    
} */
.nav-logo{
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
}
.navbar-default {
	border: none;
	z-index: 9;
	background: #fff;
	position: relative;
	margin: 23px 0 0 0;
    min-height: auto;
}

.navbar-brand img {
	width: 100% !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	padding: 0;
    float: left !important;
}

.nav>li {
	position: relative;
	display: block;
	color: #000;
	font-size: 20px;
}

.nav>li>a {
	display: block;
	margin: 0;
	padding: 1px 30px;
	position: relative;
	font-weight: 500;
    border-left: 1px dashed #a6a6a6;
}

.nav li:first-child  a {
    padding-left: 0;
    border-left: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	position: absolute;
	z-index: 1000;
	margin: -40px 0 0 !important;
}

.top-nav-collapse {
	padding: 0;
	top: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #f27506;
	background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: #000;
	font-size: 16px;
    text-transform: uppercase;
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: #f27506;
}

.nav>li>a:focus,
.nav>li>a:hover {
	text-decoration: none;
	color: #fff;
	background: transparent;
}

.buttons{
    text-align: right;
}
.buttons .btn{
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding:7px 30px; 
    border-radius: 0;
    font-weight: 600;
    margin: 14px 5px;
    background: #f27506;
    border-radius: 5px;
    
}

.buttons .btn:hover{
    background: #000;
    color: #fff;
}


/*========banner=======*/

.banner-info{
    position: relative;
}

.banner_main {
	/* background: url(../images/banner-bg.jpg) no-repeat; */
	background-position: center;
	padding: 130px 0 350px 0;
	background-size: cover;
}

.banner_main .item {
	display: block;
	width: 100%;
	text-align: left;
}

.banner_main .banner-text h1 {
	color: #e2e2e2;
	font-weight: 700;
	font-size: 63px;
    line-height: 65px;
	text-transform: uppercase;
    text-align: center;
}

.banner_main .banner-text p {
	color: #fff;
	font-size: 31px;
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 36px;
    text-align: center;
    letter-spacing: 0;
    margin-top: 10px;
}

.banner_main .owl-buttons {
	display: none;
}
.banner_main .owl-theme .owl-controls{display: none!important;}

.banner_main .owl-pagination {
	position: absolute;
	bottom: -140px;
	left: 0;
	right: 0;
}

.owl-theme .owl-controls .owl-page span {
	background: #fff;
	opacity: 1;
	height: 5px;
	width: 30px;
	border-radius: 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fc4f00;
}


/*====FORM======*/


/*================Booking-Form-Css================*/

.booking-form {
    position: relative;
	background: rgba(255,255,255,1);
    z-index: 9;
	padding: 40px 0 30px 0;
	-webkit-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.35);
box-shadow: 0px 0px 29px 0px rgba(0,0,0,0.35);
    margin-top: -100px;
    clear: both;
}

.search-section {
	position: relative;
}

.all-search-box {
	padding: 0 15px;
}

.booking-tab {
	border-radius: 0;
	overflow: hidden;
	margin-top: -106px;
}


.search-section .nav-tabs {
	border-bottom: none;
	text-align: center;
}

.search-section .nav-tabs>li {
	float: none;
	text-align: center;
	width: 14.2%;
    margin-right: 1px;
    display: inline-block;
}

.search-section .nav-tabs .active {
	position: relative;
}

.search-section .nav-tabs>li>a {
	color: #fff;
	background-color:rgba(0,0,0,0.5);
	font-weight: 400;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
    border-radius: 5px;
}

.search-section .nav>li>a {
	padding: 10px 7px;
	font-size: 14px;
	color: #fff;
	font-weight:600;
	text-transform: uppercase;
	position: relative;
	display: block;
	            font-family: 'Open Sans', sans-serif;
}

.service-icon svg {
	fill:#fff;
	margin: 0 auto;
    width: 20%;
    vertical-align: middle;
    margin-right: 5px;
}

.search-section .nav-tabs>li:hover i {
	color: #fff;
}

.search-section .nav-tabs>li.active svg {
	fill: #fff;
}

.search-section .nav-tabs>li.active>a,
.search-section .nav-tabs>li.active>a:focus,
.search-section .nav-tabs>li.active>a:hover {
	border: none;
	background: #f27506;
	color: #fff;
}

.search-section .tab-content {
	color: #07253f;
}

.search-section .tab-content form {
	padding-top: 40px;
}

.search-col-padding .input-group {
	display: block;
}

.search-section label {
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	color: #000;
	line-height: 16px;
	padding-top: 10px;
}

.search-section .form-control {
	background-color: #fff;
	border: none;
	border-radius: 0px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	display: block;
	font-size: 16px;
	height: 60px;
	line-height: 1.42857;
	padding: 0 0 0 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	color: #1c1c1c !important;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid #eaeaea;
	/*z-index: 1;
    */
	margin: 0;
	position: relative;
}

.search-section .plane-icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}

.search-section .form-control::-moz-placeholder {
	color: #1c1c1c!important;
	opacity: 1!important;
}

.search-section .form-control:-ms-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .form-control::-webkit-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .form-control::-o-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .input-group-addon {
	background: transparent;
	color: #BEC4C8;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}

.search-section .search-col-padding {
	background: #fff;
}

.search-section option {
	color: #07253F;
}

.calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 3px 0 8px 20px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height:60px;
	border: none !important;
    border-bottom: 2px solid #eaeaea !important;
}

::placeholder {
	color: #1c1c1c!important;
}

.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 99 !important;
}

.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #f27506;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #000;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #f27506;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
}

.ui-state-default {
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}

.ui-state-default:hover {
	background: #f27506;
	color: #fff;
}

.ui-state-highlight {
	color: #fff;
	background: #f27506;
}

.ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #797979;
	border: 2px solid transparent;
}

.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}

.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}

.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btn:hover {
	color: #da434a;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.search-button::before {
	background: #000 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0 0;
	-moz-transform-origin: 50% 0 0;
	-o-transform-origin: 50% 0 0;
	transform-origin: 50% 0 0;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-property: transform;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	z-index: -1;
	border-radius: 20px;
}

.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #f27506;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
    font-family: 'Open Sans', sans-serif;
	padding: 5px;
	border: none;
	text-transform: capitalize;
	width: 100%;
	border-radius: 0;
	height: 60px;
    border-radius: 5px;
    margin-top: 21px;
}

.search-button i {
	font-size: 20px;
	padding-left: 15px;
}

.search-col-padding input[type="radio"] {
	margin-top: 2px;
}

.search-col-padding .active {
	color: #fff;
}

.trip-button {
	margin-top: 10px !important;
}

.search-button:hover,
.search-button:focus,
.search-button:active {
	color: #fff;
	text-decoration: none;
	background: #484848;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}


/*-----Select Box CSS-----*/

.bootstrap-select {
	width: 220px;
}

.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}

.bootstrap-select.fit-width {
	width: auto!important
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}

.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}

.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
	padding: 4px 8px
}

.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-actionsbox .btn-group button {
	width: 50%
}

.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-donebutton .btn-group button {
	width: 100%
}

.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}

.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}

select.bs-select-hidden,
select.selectpicker {
	display: none!important
}

select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}

#flight form .input-group {
	display: block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}

.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #646060 !important;
	/* text color */
	line-height: 34px;
	background: #ffff;
	border-radius: 0px;
	font-size: 14px;
	            font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	color: #646060;
}

 ::placeholder {
	font-size: 16px;
	color: #1c1c1c !important;
	            font-family: 'Open Sans', sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 17px;
	width: 40px;
	text-align: center;
	line-height: 30px;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	/* input background color */
	border: none;
	border-radius: 0px;
	height: 68px !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #96a9bf;
	/* option hover background */
	color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #96a9bf;
	/* option hover background */
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #ababab;
	padding: 7px;
	font-size: 20px;
}

.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}

.select2-dropdown {
	border-color: #6e8095;
}

.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}

.select-label {
	font-size: 15px !important;
	font-weight: 600 !important;
	text-transform: capitalize!important;
	padding-bottom: 10px;
}

.change-destination::after {
	content: url(../images/exchange-icon.png);
	position: absolute;
	right: -15px;
	top: 27px;
	z-index: 9;
}

.change-date::after {
	content: url(../images/exchange-date.png);
	position: absolute;
	right: -13px;
	top: 27px;
	z-index: 9;
}

.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 4px;
	width: 40px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}

.booking-form1 .form-group2 .select2-container .select2-selection--single,
.booking-form1 .form-group .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
}

.booking-form1 .form-group2 .select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #fff;
	padding: 7px;
	font-size: 15px;
}


/* Travellers CSS BOF ===================================================*/

.travellersDropdown {
	position: relative;
}

.custom-select-v3 {
	position: relative;
	cursor: pointer;
}

.custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 31px;
	color: #1c1c1c;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin-right: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 6;
	font-weight: 700;
	content: "\f107";
	font-family: 'FontAwesome';
}

.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 9px;
	z-index: 1;
}

.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	pointer-events: none;
}

.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
	padding-left: 20px !important;
	font-size: 14px !important;
	            font-family: 'Open Sans', sans-serif;
	color: #646060 !important;
}

.custom-select-v3 select,
.form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: normal;
	margin-bottom: 20px;
	padding: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	box-shadow: none;
	color: #000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.travelerSelectWindow {
	width: 330px;
	position: absolute;
	top: 81px;
	right: 0;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .1);
	z-index: 3;
	display: none;
}

.travelerSelectWindow.active {
	display: block;
}

.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}

.travelerSelectWindow fieldset {
	padding: 0 13px 15px 0;
}

fieldset {
	min-width: 0;
	margin: 0;
}

.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: left;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
	max-width: 100%;
}

.trvFld {
	float: left;
	margin-right: 10px;
	width: 70px;
}

.trvFld .custom-select-v3 {
	display: block;
}

.trvFld .custom-select-v3::before {
	font-size: 16px;
	height: 35px;
	line-height: 6px;
    top: 15px;
}

.trvFld .custom-select-v3 select {
	text-align: left;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}

.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}

.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}

select option {
	padding: 2px 5px;
	background: #fff;
}

.trvFld .custom-select-v3 select {
	text-align: left;
	line-height: 35px;
	color: #000;
}

.travelerSelectWindow .ageRange {
	float: left;
	font-size: 14px;
	color: #272727;
	padding-top: 10px;
}

.classSec {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
	margin: 0 15px 15px;
	overflow: hidden;
}

.classSec .custom-select-v3::before {
	top: 0;
}

.classSec label {
	margin-top: 5px;
}

.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}

.classSec .custom-select-v3.lg select {
	margin: 0;
}

.classSec .custom-select-v3 select {
	cursor: pointer;
}

.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	text-indent: initial;
	color: #000;
}

.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
}

.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}

.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}

.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}

.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #f27506;
	display: inline-block;
	border-radius: 3px;
	opacity: .8;
	top: 8px;
}

.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}

.travelerSelectWindow .closeBtn:hover {
	opacity: 1;
}

.travellersDropdown.arrow::after {
	border-color: transparent transparent #fff;
	border-style: solid;
	border-width: 12px;
	bottom: -21px;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 0;
	z-index: 1;
}

.travellersDropdown.arrow::after {
	bottom: -15px;
	z-index: 6;
}


/*===========================================
=            Radio Button Custom            =
===========================================*/

.radio {
	padding-left: 20px;
	margin-bottom: 25px;
}

.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	font-size: 16px;
	color: #292929;
	font-weight: 600;
	padding-top: 3px;
	text-transform: uppercase;
}

.radio label.active,
.radio label:focus {
	color: #fc4f00;
}

/*.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -13px;
	border: 2px solid #696969;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 4px;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 6px;
	height: 6px;
	left: 11px;
	top: 8px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
	opacity: 0;
}

.radio input[type="radio"]:checked+label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio.radio-inline {
	margin-top: 0;
}

.radio-success input[type="radio"]+label::after {
	background-color: #146194;
}

.radio-success input[type="radio"]:checked+label::before {
	border-color: #146194;
}

.radio-success input[type="radio"]:checked+label::after {
	background-color: #146194;
}

.radio-success input[type="radio"]:checked+label {
	color: #146194;
}*/
.trip{margin-bottom: 30px;}
.trip ul li{
    display: inline-block;
    margin: 0 5px;
}
.trip ul li a{
    text-transform: uppercase;
    display: block;
    color: #3b444f;
    font-size: 14px;    
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 3px;
}
.trip ul li .active, .trip ul li a:hover{
	background: #ffcfa4;
	cursor: pointer;
}

.search-icon{
    position: absolute;
    left: 10px;
    bottom: 22px;
}
/*==============End-Booking-Form-Css===========*/


/*==============About-Us===========*/

.about-main{
    padding: 60px 0;
}

.about-main .about-text h2{
    font-size: 40px;
    font-weight: 900;
    color: #000;
    line-height: 48px;
    border-left: 2px solid #000;
    padding-left: 20px;
}

.about-main .about-text h2 span{
    font-weight: 400;
}
.about-main .about-text p{
    color: #565555;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-top:30px;
}
.about-main .about-text .btn{
    background: #f27506;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}
.about-main .about-text .btn:hover{
    background: #000;
}
.about-img img{width: 100%;}

/*==============End-Aboutus===========*/







/*==============Holiday-Packages===========*/


.deals-holiday{
    background: url(../images/deals-holiday-bg.jpg) no-repeat;
    padding-top: 60px;
    background-size: cover;
    position: relative;
    margin-bottom: 295px;
}

.deals-holiday::before{
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(242,117,6,0.75);
    
}

.deals-holiday .owl-carousel{
    margin-bottom: -215px;
    margin-top: 30px;
}

.deals-holiday h2{
    font-size: 40px;
    font-weight: 900;
    color: #fff;
    line-height: 48px;
    border-left: 2px solid #fff;
    padding-left: 20px;
    position: relative;
    z-index: 9999;
    float: left;
}

.deals-holiday h2 span{
    font-weight: 400;
}

.more-deals{ 
    float: right;
    position: relative;
    z-index: 99;
}
.more-deals .btn{
    background: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    border-radius: 5px;
    padding:8px 28px;
}
.more-deals .btn:hover{
    background: #000;
    color: #fff;
}

.deals-title{
    clear: both;
    overflow: hidden;
}



.deals-deatil hr{
    background: #eeeeee;
    height: 2px;
    width: 30%;
   text-align: left;
    margin: 0;
    }
.deals-holiday .item h3{
    text-align: left;
	margin-bottom: 12px!important;
    padding: 0;
	margin-bottom: 0;
}
.deals-holiday .item h3 a {
	font-size: 24px;
	line-height: 32px;
	font-weight: 900;
	color: #000;
    display: block;
}
.deals-deatil .days{
    text-align: left;
    color: #5d5d5d;
    font-size: 17px;
    font-weight:400;
    vertical-align: middle;
    margin-top: 20px;
} 
.deals-deatil .days img{
    margin-right: 10px;
}

.deals-deatil .price{
    font-size: 15px;
    color: #a0a0a0;
    line-height: 35px;
    font-weight: 700;
    float: left;
    padding: 0;
    margin-top: 15px;
}
.deals-deatil .price span{
    color: #000;
    font-size:22px;
    line-height: 35px;
    }

.deals-deatil .btn{
    border-radius: 5px;
    padding: 7px 20px;
    font-size: 15px;
    background: #f27506;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff;
    /* margin-top: ; */
    float: right;
}

.deals-holiday .item:hover .deals-deatil .btn{
    background: #000;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.deals-img{position: relative;}
.deals-img img {
	width: 100%;
    border-radius: 5px 5px 0 0;
}
.deals-holiday .item {
	background: #fff;
	margin: 10px 15px;
	position: relative;
    border-radius: 5px;

}

.deals-deatil {
	text-align: center;
	padding: 30px;
    overflow: hidden;
  -webkit-box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.15);
box-shadow: 0px 1px 23px 0px rgba(0,0,0,0.15);
}
.deals-holiday .item:hover.item h3 a {
	color: #f27506;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.deals-holiday .item:hover {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.deals-holiday .owl-pagination {
	display: none;
}

.deals-holiday .owl-buttons .owl-prev {
	float: left;
	margin-left: -40px !important;
	left: 0;
}

.deals-holiday .owl-buttons .owl-next {
	float: right;
	margin-right: -40px !important;
	right: 0;
}

.owl-theme .owl-controls .owl-buttons div {
	background-color: transparent;
	color: #1c1c1c;
	opacity: 1;
	font-size: 35px;
    font-weight: 400;
	padding: 0;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 2px solid #1c1c1c;
	line-height: 40px;
	position: absolute;
	top: 50%;
	text-align: center;
}
.owl-theme .owl-controls .owl-buttons div:hover {
	color: #FFF;
	background: #146194;
	border-color: #146194;
}
.owl-theme .owl-controls .owl-buttons{display: none;}

/*=======================End-deals-Holidays=============================*/




/*=======================Book-Holidays=============================*/

.book-holiday{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
    position: relative;
}

.holiday-text{
    padding: 50px 0 0 20px;
}
.holiday-text h2{
    text-transform: uppercase;
    color: #000;
    font-size:40px;
    font-weight: 400;
}

.holiday-text h3{
    text-transform: uppercase;
    color: #f27506;
    font-size:55px;
    font-weight: 900;
    line-height: 65px;
    padding: 0;
}


.holiday-text h3 span{
    font-size: 30px;
    color: #000;
    font-weight: 400;
}

.holiday-text .book-btn{
    text-align: right;
        margin-top: -62px;

}


.holiday-text .btn{
    background: #000;
    border-radius: 5px;
    padding: 8px 28px;
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.holiday-text .btn:hover{
    background: #f27506;
    
}


.holiday-img{
    	-moz-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
	-o-clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
	clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.holiday-img img{width: 100%;}


/*=======================ENd-Book-Holidays=============================*/




/*===========================Footer==========================*/
footer{
    background: #0f172b;
    padding-top: 160px;
    margin-top: -100px;
}
.footer-logo{
    background: #162039;
    border-bottom: 1px solid #283149;
}

.footer-logo img{
     
}
.footer-logo .f-logo{
    display: block;
    border-bottom: 1px solid #283149;
    padding: 30px 30px 20px 30px;
}

.footer-logo ul{
   padding: 0px 30px 20px 30px; 
}
.footer-logo ul li{
    position: relative;
    padding-left: 45px;
    display: block;
    margin: 20px 0;
}
.footer-logo ul li i{
    font-size: 19px;
    color: #f27506;
    height: 33px;
    width: 33px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 33px;
    position: absolute;
    left: 0;
    top: 0;
}
.footer-logo ul li i.fa-envelope-o{font-size: 15px;}

.footer-logo ul li a, .footer-logo ul li{
    font-size: 15px;
    color: #99a7c9;
    line-height: 25px;
}

.footer-logo ul li a:hover{
    color: #c85501;
}
/* 
.newsletter{
    border-bottom: 1px solid #22293c;
    padding-bottom: 30px;
}
.newsletter h3{
    color: #f27506;
    padding-left: 0;
}

.newsletter p{
    color: #99a7c9;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.newsletter input[type="text"]{
    height: 50px;
    border-radius: 5px;
    position: relative;
    
}

.newsletter button{
    background: #f27506;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    position: absolute;
    right: 13px;
    top: 10px;
}
.newsletter button:hover{
    background: #0f172b;
    color: #fff;
} */

.link-media{
    padding: 30px 0;
    border-bottom: 1px solid #22293c;
}

.link-media ul li{
    display: inline-block;
    padding: 0 8px;
}
.link-media ul li a{
    font-size: 13px;
    text-transform: uppercase;
    color: #99a7c9;
}

.link-media ul li a:hover{
    color: #f27506;
}

.link-media ul li:first-child{padding-left: 0;}
.link-media .f-media{
    text-align: right;
}

.link-media .f-media li{
    display: inline-block;
    padding: 0 4px;
}

.link-media .f-media li a{
    font-size: 15px;
    height: 30px;
    width: 30px;
    line-height: 27px;
    color: #f27506;
    text-align: center;
    border: 1px solid #8e9bbc;
    display: block;
    border-radius: 50%;
}
.link-media .f-media li a:hover{
    background: #f27506;
    color: #fff;
    border-color: #f27506;
}
.copy-right{
    padding: 30px 0 20px 0;
}
.copy-right p{
    font-size: 14px;
    line-height: 16px;
    color: #99a7c9;
    display: inline-block;
}

.powerd-by{
    float: right;
}
.powerd-by p{
    float:left;
    padding-right: 7px;
    }
.powerd-by img{float: left;}



/*===========================Footer-End==========================*/




.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
    max-height: 223px;
    overflow: auto;
    background-color: #3d489e;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 75px;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li {
    font-size: 13px;
    font-weight: 300;
    color: #b1bdff;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #000;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
    color: #b1bdff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: #f27506;
    color: #000 !important;
}

.autocomplete-result:hover {
    background-color: #f27506;
    color: #000;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}



.flightauto i{
    position: absolute;
    right: -15px;
    top: 23px;
    z-index: 9;
    background: #00a0c6;
    padding: 6px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    text-align: center;
    cursor: pointer; 
}
.flightauto i img{
    float: left;
    margin-top: 1px;
}

.formtxt {
	background-color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    height: 60px;
    line-height: 1.42857;
    width: 100%;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    box-shadow: none;
    position: relative;
    color: rgb(28, 28, 28) !important;
    padding: 0px 0px 0px 22px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    border-style: none none solid;
    border-image: initial;
    border-bottom: 2px solid rgb(234, 234, 234);
    margin: 0px;
    border-radius: 0px !important;
}
.multiSection{
    width: 100%;
    float: left;
    position: relative;
}
.multiSection label{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.multiSection i.close {
    position: absolute;
    right: 1px;
    top: 0px;
    color: rgb(242, 117, 6);
    font-size: 22px;
    opacity: 1;
}
.plus {
    color: rgb(242, 117, 6);
}
.multi_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.63);
    z-index: 9;
}
.multicity {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 999;
    top: 38px;
    background: #fff;
    padding: 17px 11px;
    display: none;
}
.padding1{
    padding-left: 1px;
    padding-right: 0px;
}
.add_flight i {
    font-size: 21px;
    margin-left: 6px;
    float: right;
}
.add_flight {
    float: right;
    padding: 3px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-top: 14px;
    cursor: pointer;
}
.flightSearch {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 15px;
    padding: 12px 32px;
    background: #f27506;
    float: right;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 6px;
}
.travellerSec {
    width: 100%;
    height: 74px;
    float: left;
    background: #FFF;
    position: relative;
}
.passenger_area {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0003;
    padding-bottom: 4px;
}
.passenger_area p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #272727;
    float: left;
    padding: 0;
    font-weight: 300;
}
.travellerOptions5 {
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 76px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.travellerOptions {
	display: none;
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 76px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.classsec_area {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.classsec_area label {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #272727 !important;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 300;
}
.travellerSec::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 24px;
    font-size: 22px;
    color: #9ca6b0;
    z-index: 1;
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"]:checked+label:before {
    background: #f27506;
}

.classsec_area input[type="radio"]+label:before {
    background: #d8d8d8;
}
.pass_click a i {
    font-size: 20px;
    color: #f27506;
    cursor: pointer;
}
.travellercout {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    line-height: 77px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 30px 0 10px;
    z-index: 9;
	position: relative;
	height: 60px;
    border: none !important;
    border-bottom: 2px solid #eaeaea !important;
}
.padding1 {
    padding-left: 1px;
    padding-right: 0px;
}
.padding5 {
	padding-left: 5px;
	padding-right: 5px;
}
.closeDropdown .closeLink {
    padding: 7px 12px;
    background: #f27506;
    color: #000;
    font-size: 13px;
    cursor: pointer;
	border-radius: 3px;
	float: right;
}


/*==============About-Us=========================*/
.inner-title{
    background-size: cover;
    padding: 115px 0;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}

.inner-title h2{
    text-align: center;
    color: #fff;
    font-size: 54px;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;

    
    
}

.inner-title ul{
    background: #f27506;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 5px;
    
  text-align: center;
}
.inner-title ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    padding: 0 20px;
    color: #fff;
}

.inner-title ul li a{
    color:#fff;
    display: block;
}
.inner-title ul li a:hover{color:#000;}

.inner-title ul li::after{
     content: "\f061";
    font-family: 'FontAwesome';
    position: absolute;
    right: -10px;
    top: 0;
    font-size: 16px;
}
.inner-title ul li:last-child{padding-right: 0;}
.inner-title ul li:first-child{padding-left: 0;}
.inner-title ul li:last-child::after{
    content: "";
}

.breadcrumbs{
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    z-index: 9;
}

.about-info{
    padding: 60px 0 0;
    text-align: center;
}

.about-info h2{
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 400;
}
.about-info h2 span{
    font-weight: 900;
}

.about-info p{
    font-weight: 400;
    color: #565555;
    font-size: 15px;
    line-height: 26px;
    width: 85%;
    text-align: center; 
    margin: 0 auto;
}

.about-vision{
    padding: 60px 0;
}
.about-vision .row{
    display: flex;
}
.about-vision .flex{
    display: flex;
    width: 100%;
    z-index: 9;
}
.about-vm-in{
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	-ms-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
	box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.29);
    text-align: center;
}

.about-vm-in:hover .v-m-icon{
    background: #000;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


.about-vm-in h3{
    color: #000;
    font-size: 30px;
    padding: 0;
    margin: 20px 0 10px 0;
    font-weight: 700;
}
.about-vm-in p{
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    color: #565555;
}

.v-m-icon{
    height: 71px;
    width: 71px;
    background: #f27506;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}
.v-m-icon svg{
    fill:#000;
    width: 60%;
    padding-top: 13px;
}
.about-vm-in:hover .v-m-icon svg{
    fill:#ffffff!important;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}


/*=========================Contact-Us==========================*/
.contact-in{background: #fff;}
.contact-in h2{
    margin-bottom: 50px;
}
.get-in-touch{width: 100%;}
.get-in-touch p a, .get-in-touch p{
    font-size: 16px;
    font-weight: 6  00;
    color: #2f2f2f;
    line-height: 24px;
}
.get-in-touch:hover a{
    color: #f27506;
}

.contact-fm{
    background: #f7f8fc;
    margin-bottom: 60px;
}

.contact-form{
    padding: 30px 0;
    overflow: hidden;
}
.contact-form .form-control{
    height: 45px;
    border: 1px solid #c4c7d3;
    border-radius: 5px;
    padding: 0 20px;
    margin:15px 0;
}
.contact-form textarea{
    border: 1px solid #c4c7d3;
    border-radius: 5px;
    padding:  30px 20px;
    margin: 15px 0;
}

.contact-form button{
    background: #f27506;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

.contact-form button:hover{
    background: #000;
    color: #fff;
}

.contact-fm .map{
    padding-right: 0;
   
}
.contact-fm .map iframe{
     height:542px;
}
.holidays-in{
    background-image: none;
    margin-bottom: 60px;
}
.holidays-in::before{display: none;}

.holidays-in .deals-title h2{
    text-align: center;
    color: #000;
    margin: 0 auto;
    border: none;
    width: 100%;
}
.holidays-in .item{
    margin: 0;
    margin-top: 30px;
}


.inner-pagination {
    text-align: center;
    clear: both;
    margin-top: 30px;
}
.inner-pagination .pagination {
    margin: 0;
}
.pagination > li {
    display: inline-block;
}
.inner-pagination .pagination > li > a, .inner-pagination .pagination > li > span {
    margin: 0 5px;
    background: #fff;
    color: #222931;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 27px;
    font-size: 18px;
    border: 1px solid #222931;
    border-radius: 3px;
}
.inner-pagination .pagination .next-pre a {
    background: #f27506;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    font-weight: 700;
    border-color: #f27506;
    border-radius: 3px;
}
.inner-pagination .pagination > li > a:hover, .inner-pagination .pagination .active a {
    background: #000;
    color: #fff;
    border-color: #1c1c1c;
}



/*============Holiday-Details========================*/

/*===================Package-Detail=========================================*/


.package-detail-inner{
    padding: 60px 0 60px 0;
    overflow: hidden;
    }
.package-name{
    border-bottom: 1px solid #dedede;   
    }
.package-name h2{
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    color: #f27506;
    }
.package-name p{
    font-size: 16px;
    color: #000;
    font-weight: 600;
    }
.package-name p span{
    color: #f27506;
    font-size: 20px;
    font-weight: 600;
    }
.package-days{
    border-bottom: 1px solid #dedede; 
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 30px;
    }
.package-days .day-night p{
    font-weight: 400;
    padding: 0;
    display: inline-block;
    }
.package-days .day-night{
    font-size: 16px;
    color: #000;
    font-weight: 600;
    vertical-align: middle;
    float: left;
    padding: 0;
    border: none;
    }
.day-night p::after {
    content: "|";
    color: #000;
    padding: 0 5px;
}
.day-night p:last-child::after{content: " ";}
.package-days .day-night i{
    color: #000;
    font-size: 16px;
    padding-right: 10px;
    vertical-align: middle;
    }
.package-media{
    float: right;
    }
.package-media ul li{
    display: inline-block;
    padding-left: 6px;
    }
.package-media ul li a{
    height: 27px;
    width: 27px;
    font-size: 14px;
    color: #fff;
    background: #f27506;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    border: 1px solid #f27506;
    }
.package-media ul li a:hover{
    border: 1px solid #f27506;
    background-color: transparent;
    color: #f27506;
    }
.detail-form{
    background: #f27506;
    padding:15px 20px 35px 20px;
    overflow: hidden;
    }
.detail-form h3{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    margin: 0px 20px 20px 20px ;
    }
.detail-form input[type="text"], .detail-form input[type="email"], .detail-form input[type="tel"], .detail-form input[type="number"], .detail-form select, .detail-form textarea{margin-top: 0;}
.detail-form .search-section .form-control{
    background: #fff;
    border: 1px solid #fff;
    color: #000 !important;
    }
.detail-form .search-section .form-control:focus, .detail-form .search-section textarea:focus{
    background: rgba(255,255,255,1);
    }
.detail-form placeholder{color: #fff;}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #f4f4f1;
    color: #000 !important;
    border: 1px solid #f4f4f1;
    padding-top: 8px;
    }
.detail-form .input-group-addon{
    position: absolute;
    z-index: 999;
    right: 31px;
    top: 21px;
    color: #000;
    font-size: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    }
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered:focus{background: rgba(255,255,255,0.4);}
.detail-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    color: #fff;
    top: 14px;
    right: 6px;
    line-height: 25px;
    }
.detail-form .select2-container--default .select2-selection--single{
    border-color: #f4f4f1;
    background: #f4f4f1;
    height: 50px!important;
    }
.detail-form .search-section .form-control{
    height: 50px;
    }
.detail-form ::placeholder {
  color: #000 !important;
    }
.detail-form textarea{
    background: #fff;
    border-color: #fff;
    border-radius: 0px;
    }
.detail-form .search-section .search-col-padding{
    padding:5px;
    background-color: transparent;
    }
.detail-form .search-button{
    background: #fff;
    color: #000;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    box-shadow: none;
    padding:5px 70px;
    height: 50px !important;
    border-radius: 5px;
    }
.detail-form .search-button:hover{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    }
.desc-detail{
    padding-top: 60px;
    overflow: hidden;
    }
.desc-detail .tab-pane h4{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    }
.desc-detail .tab-pane p{
    font-size: 16px;
    color: #898680;
    font-weight: 300;
    line-height: 28px;
    }

.desc-detail .table {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	float: left;
	margin-bottom: 0;
}
.desc-detail table {
	width: 100%;
}
.desc-detail .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 0;
	line-height: 1.42857143;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	border-top: none;
    font-weight: 600;
}
.desc-detail .table{margin-bottom: 30px;}
.desc-detail .table span {
	color: #212121;
	font-weight: 300;
	float: left;
	text-align: left;
	font-size: 14px;
}
.desc-detail .table span i {
	font-size: 14px;
	padding-right: 5px;
    font-weight: 300;
}
.desc-detail .fist-td {
	width: 30%;
}
.desc-detail .second-td {
	width: 50%;
}
.desc-detail .nav-tabs{
    text-align:left;
    position: absolute;
    top: -25px;
    border-bottom: none;
    }
.desc-detail .nav > li{width: auto;}
.desc-detail .nav > li > a{
    padding: 10px 20px;
    background: #1c1c1c!important;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    }
.desc-detail .nav-tabs > li.active > a, .desc-detail .nav-tabs > li.active > a:focus, .desc-detail .nav-tabs > li.active > a:hover{
    background: #f27506!important;
    color: #fff;
    }
.desc-detail .search-section .tab-content{
    display: inline-block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding:45px 25px;
    }

.comment-div .user{
    float: left;
    padding-left: 0;
    text-align: left;
    width: 10%;
    }
.comment-div .user img{border-radius: 50%;}
.comment-div .comment-block{
    float: left;
    width: 88%;
    }
.comment-div .comment-block .heading{
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 700;
    text-transform: inherit;
    width: 100%;
}
.comment-div .comment-block .heading span{
    color: #808080;
    font-weight: 500;
    }
.desc-detail .rating {
    display: inline-block;
    padding: 10px 0 0;
}
.desc-detail .rating li{display: inline-block;}
.desc-detail .rating li i{color: #10100f;}
.comment-block p{
    color: #333;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    width: 100%;
}
.review-form h4{
    color: #333333;
float: left;
font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
margin-bottom: 20px;
text-align: left;
text-transform: uppercase;
width: 100%;
    }
.review-form p {
    color: #444444;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
    padding-bottom: 15px;
}
.review-form .add-rws {
    width: 100%;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-bottom: 20px;
    }

.review-form-field input[type="text"], .review-form-field input[type="email"]{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius:0px;
    }
.review-form-field input[type="text"]:focus, .review-form-field input[type="email"]:focus{
    border-color: #b8b8b8;
    }
.review-form-field input[type="submit"]{
    padding: 13px 50px;
    background: #f27506;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    }
.review-form-field input[type="submit"]:hover{
    background: #333333;
    color: #fff!important;
    }

.detail-form .calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 8px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 50px;
	border: none !important;
	border-right: 1px solid #f27506 !important;
}

.detail-form .calendar ::placeholder {
	color: #1c1c1c!important;
}

.detail-form .ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 99!important;
}

.detail-form .ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #f27506;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.detail-form .ui-datepicker-prev,
.detail-form .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.detail-form .ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.detail-form .ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.detail-form .ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.detail-form .ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.detail-form .ui-datepicker-prev:after,
.detail-form .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.detail-form .ui-datepicker-prev:hover,
.detail-form .ui-datepicker-next:hover,
.detail-form .ui-datepicker-prev:hover:after,
.detail-form .ui-datepicker-next:hover:after {
	border-color: #000;
}

.detail-form .ui-datepicker-title {
	text-align: center;
}

.detail-form .ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.detail-form .ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #f27506;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
}

.detail-form .ui-state-default {
	display: block;
	text-decoration: none;
	color: #f27506;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}

.detail-form .ui-state-default:hover {
	background: #f27506;
	color: #fff;
}

.detail-form .ui-state-highlight {
	color: #fff;
	background: #f27506;
}

.detail-form .ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

.detail-form .ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.detail-form .ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}
.detail-form .search-col-padding .myselect{height: 50px; width: 150px;}
.detail-form .select2-container--default .select2-selection--single{
    border-radius: 0!important;
    background: #fff!important;
}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background:#fff;
    border: none;
}
.detail-form .select2-selection__arrow i{
    color: #1c1c1c;
    padding: 0;
}
.package-img{width: 100%;}
.custom-select-htl {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom:-24px;;
}
.custom-select-htl select {
    width: 100%;
    height: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: none;
    z-index: 9;
    position: relative;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.hotlsSec {
    width: 100%;
    float: left;
    background: rgba(235, 235, 235, 0.17);
    margin-bottom: 5px;
    border-radius: 4px;
}
.slide{
margin: 29px 0px !important;
border-bottom: 2px solid #eaeaea !important;
}
.htl_advc {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #272727;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
}
.pass_click {
    width: auto;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #646060;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: black;
}
.ui-datepicker {
	display: none;
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 99 !important;
}



input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
	      
	font-weight: 400;
	width: 100%;
	padding: 8px 10px;
	margin: 10px 0;
	font-size: 16px;
	border: 1px solid #d4d4d4;
}
.flx_sec {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

/*arabic*/

.ar_direction1.holiday-text .book-btn {
    text-align: left;
    margin-top: -62px;
}

