<template>
  <div>
    <section class="flight-step-review">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="flight-review-bar">
              <a class="active" href="#">
                <i class="fa fa-check"></i>
              </a>
              <p>Review Hotel Details</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="flight-review-bar traveller-review">
              <a class="active" href="#">2</a>
              <p>Traveller Details</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="flight-review-bar traveller-review">
              <a href="#">3</a>
              <p>Payment</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="flight-review-bar">
              <a href="#">4</a>
              <p>Confirmation</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="traveller-detail-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-8">
            <div class="traveller-detatail travel-form-info">
              <div class="detail-title">
                <span>3</span>
                <p>How would you like to pay?</p>
              </div>
              <div class="travel-form">
                <div class="payment-div">
                  <div class="heading">Credit/Debit Card Payment</div>
                  <div class="payment-text">Enter your card details to continue payment process</div>
                </div>
                <div class="payment-card">
                  <img src="../assets/images/payment-card.png" alt>
                </div>
                <form>
                  <div class="col-md-6 col-sm-6 travel-form pd-left">
                    <label class="select-label">Card Number *</label>
                    <input type="text" id="text" name="text" placeholder="Card Number" required>
                  </div>
                  <div class="col-md-6 col-sm-6 travel-form pd-right">
                    <label class="select-label">Card Holder Name *</label>
                    <input
                      type="text"
                      id="text"
                      name="text"
                      placeholder="Card Holder Name"
                      required
                    >
                  </div>
                  <div class="col-md-3 col-sm-3 pd-left travel-form">
                    <label class="select-label">Expiry Date (Month) *</label>
                    <select class="myselect">
                      <option value="1">Month</option>
                      <option value="2">January</option>
                      <option value="3">February</option>
                      <option value="4">March</option>
                      <option value="5">April</option>
                      <option value="6">May</option>
                      <option value="7">June</option>
                      <option value="8">July</option>
                      <option value="9">August</option>
                      <option value="10">September</option>
                      <option value="11">October</option>
                      <option value="12">November</option>
                      <option value="13">December</option>
                    </select>
                  </div>
                  <div class="col-md-3 col-sm-3 travel-form">
                    <label class="select-label">Expiry Date (Year) *</label>
                    <select class="myselect">
                      <option value="1">Year</option>
                      <option value="2">2019</option>
                      <option value="3">2020</option>
                      <option value="4">2021</option>
                      <option value="5">2022</option>
                      <option value="6">2023</option>
                      <option value="7">2024</option>
                      <option value="8">2025</option>
                      <option value="9">2026</option>
                    </select>
                  </div>
                  <div class="col-md-6 col-sm-6 travel-form pd-right">
                    <label class="select-label">CVV No *</label>
                    <input type="text" id="text" name="text" placeholder="CVV No" required>
                    <span class="emailtxt">
                      <i class="fa fa-info-circle" aria-hidden="true"></i> The 3 digit number printed on the back of the card
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="travel-payment">
              <form>
                <div class="col-md-12 col-sm-12 travel-form pd-right pd-left">
                  <div class="form__checkbox">
                    <input id="checkbox-list-1" name="checkbox-list-1" type="checkbox">
                    <label for="checkbox-list-1">
                      By completing this booking. I acknowledge and agree to the
                      <a
                        href="#"
                      >privacy policy</a>, the
                      <a href="#">terms &amp; conditions</a> that are applicable to this itinerary.
                    </label>
                    <span class="checkbox"></span>
                  </div>
                </div>
              </form>
            </div>
            <div class="payment-btn">
              <router-link class="select-room" to="/hotelConfirmation">Pay Now AED 1500</router-link>
              <!-- <router-link   @click.native='alter' class="select-room" to="/hotelConfirmation">Pay Now AED 1500 </router-link> -->
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="summary-detail">
              <h3>Summary Detail</h3>
              <div class="summary-departure">
                <div class="summary-place m-l-0">
                  <h4 class="pdng-lft">
                    <i class="fa fa-hotel htl-icon" aria-hidden="true"></i>
                    Emirates Grand Hotel Apartments
                  </h4>
                  <p>Business Bay, 71847 Dubai, United Arab Emirates</p>
                </div>
              </div>

              <div class="summary-price">
                <p>2 Nights: 15/02/2019 TO 17/02/2019</p>
                <ul>
                  <li>
                    <p>1 Room: 1 Adult</p>
                    <span>AED 1500</span>
                  </li>
                  <li>
                    <div class="rm-txt">Room 1: STUDIO APARTMENT</div>
                    <div class="rm-txt2">Max occupancy 1 Adult</div>
                  </li>
                </ul>
                <div class="summary-total">
                  <p>Total</p>
                  <span>AED 1500</span>
                </div>
                <div class="summary-included">
                  <p>Price includes all taxes except Tourism Fee</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
//import * as Detailsa from "/hotel-detail.vue";
module.exports = {
  data: function() {
    return {};
  },
  methods: {},
  created(){
    this.$nextTick(function () {
      // Code that will run only after the
      // entire view has been rendered
      $(document).ready(function () {
        $('.myselect').select2({ minimumResultsForSearch: Infinity, 'width': '100%' });
        $('b[role="presentation"]').hide();
        $('.select2-selection__arrow').append('<i class="fa fa-angle-down"></i>');
      });
    
    })
  }
};
</script>

