<template>
  <div>
    <div class="conf-bg" v-if="_.isEmpty(bookingInformation)">
      <div class="conf-loader">
        <img
          :src="isRetrieveBooking ? '../assets/images/conf-loader.gif':'../assets/images/conf-loader.gif'"
          alt
        />
      </div>
    </div>
    <section>
      <div class="container ar_direction">
        <div class="print_btn">
          <button v-if="showButtons" @click="printVoucher()">
            <i class="fa fa-print"></i>Print Voucher
          </button>
          <button v-if="showButtons" @click="getPdf(this)">
            <i class="fa fa-download"></i>{{showSpinnerHtml ? 'Processing' : 'Download Voucher'}}
          </button>
        </div>
        <div v-if="!_.isEmpty(bookingInformation)" class="confirmation">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="header">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <a class="logosec" href="#">
                      <img v-bind:src="logoUrl" alt />
                    </a>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-6 pull-right">
                    <div class="contact-info">
                      <a :href="'tel:'+phoneNumber">
                        <svg
                          x="0px"
                          y="0px"
                          viewBox="0 0 20 20"
                          style="enable-background:new 0 0 20 20;"
                        >
                          <path
                            d="M13.9,11.4C13.6,11.1,13.3,11,13,11c-0.3,0-0.7,0.1-0.9,0.4l-0.9,0.9c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3-0.1  c-0.8-0.5-1.5-1.2-2.2-2C8.1,9.6,7.9,9.2,7.7,8.8C8,8.6,8.2,8.4,8.4,8.2C8.5,8.1,8.5,8.1,8.6,8c0.6-0.6,0.6-1.3,0-1.9L7.9,5.4  C7.8,5.3,7.7,5.2,7.6,5.1C7.5,5,7.3,4.8,7.1,4.6C6.8,4.4,6.5,4.2,6.2,4.2c-0.3,0-0.6,0.1-0.9,0.4l0,0L4.4,5.6C4,5.9,3.8,6.3,3.8,6.8  c-0.1,0.8,0.2,1.5,0.3,2c0.4,1.2,1.1,2.3,2.1,3.4c1.2,1.4,2.6,2.5,4.2,3.3c0.6,0.3,1.5,0.6,2.4,0.7c0.1,0,0.1,0,0.2,0  c0.6,0,1.1-0.2,1.6-0.7c0,0,0,0,0,0c0.1-0.2,0.3-0.3,0.5-0.5c0.1-0.1,0.2-0.2,0.4-0.3c0.3-0.3,0.4-0.6,0.4-0.9  c0-0.3-0.1-0.7-0.4-0.9L13.9,11.4z M14.8,14.3C14.8,14.3,14.8,14.3,14.8,14.3c-0.1,0.1-0.2,0.2-0.3,0.3c-0.2,0.2-0.4,0.3-0.5,0.5  c-0.3,0.3-0.6,0.4-1,0.4c0,0-0.1,0-0.1,0c-0.8-0.1-1.5-0.4-2.1-0.6c-1.5-0.7-2.9-1.8-4-3.1c-0.9-1.1-1.5-2.1-1.9-3.2  C4.6,7.9,4.5,7.4,4.5,6.9c0-0.3,0.1-0.6,0.4-0.8l0.9-0.9C5.9,5,6.1,5,6.2,5c0.2,0,0.3,0.1,0.4,0.2l0,0c0.2,0.2,0.3,0.3,0.5,0.5  c0.1,0.1,0.2,0.2,0.3,0.3l0.7,0.7c0.3,0.3,0.3,0.6,0,0.8C8,7.5,7.9,7.6,7.9,7.7C7.6,7.9,7.4,8.1,7.2,8.4c0,0,0,0,0,0  C6.9,8.6,7,8.8,7,9l0,0c0.2,0.5,0.5,0.9,0.9,1.4l0,0c0.7,0.9,1.5,1.6,2.4,2.2c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0,0.2,0.1,0.3,0.1  c0,0,0,0,0,0c0.1,0,0.2,0.1,0.3,0.1c0.2,0,0.4-0.1,0.4-0.2l0.9-0.9c0.1-0.1,0.2-0.2,0.4-0.2c0.2,0,0.3,0.1,0.4,0.2l1.5,1.5  C15.1,13.7,15.1,14,14.8,14.3L14.8,14.3z M14.8,14.3"
                          />
                          <!-- </svg> +9712 441 8565 -->
                        </svg>
                        {{phoneNumber}}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="welcome">
                    <figure v-if="divHtlBkngSucces">
                      <img src="../assets/images/con-hotel.png" alt />
                    </figure>
                    <figure v-if="divHtlBkngFail">
                      <img src="../assets/images/con-hote-errorl.png" alt />
                    </figure>

                    <div class="content">
                      <h5>{{DearHeader_Label}} {{header.leadTravellerName}}</h5>
                      <h3 v-if="divHtlBkngSucces">{{BookingSuccessHeader}} {{header.bookingStatus}}.</h3>
                      <h3 v-if="divHtlBkngFail">{{BookingFailureHeader}} {{header.bookingStatus}}.</h3>
                      <h4>
                        {{BookingReferenceNumber_Label}}:
                        <span>{{header.agencyReference}}</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 confirmation-page-button">
                  <div
                    v-for="(button, index) in pageControls.callToActionButtons.filter(function (btn) { return btn.show==true })"
                    :key="index"
                    type="button"
                    class="btn btn-default"
                    @click="function(){button.action();}"
                  >{{button.label}}</div>
                  <!-- <button type="button" class="btn btn-default">Cancel</button>
                  <button type="button" class="btn btn-default">Request Cancellation</button>
                  <button
                    type="button"
                    class="btn btn-default"
                    @click="downloadVoucher"
                  >Download Voucher</button>
                  <button type="button" class="btn btn-default">Email Voucher</button>
                  <button type="button" class="btn btn-default">Edit Voucher</button>
                  </div>-->
                  <div class="row" v-if="isRetrieveBooking==false">
                    <div class="col-md-12">
                      <div class="alert alert-info">
                        <span v-if="sendVoucher">{{BookingEmailNotes_Label}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="hotel-dtl">
                    <div class="detail-title">
                      <p>{{HotelDetails_Label}}</p>
                      <div
                        class="con-no"
                      >{{SupplierReferenceNumber_Label}}: {{hotelDetails.supplierReferenceNumber || NoInformation_Label}}</div>
                    </div>
                    <div class="inner">
                      <div class="col-md-6">
                        <h5>
                          {{hotelDetails.hotelName}}&lrm;
                          <br />
                          <span
                            v-for="(item, index) in 5"
                            :key="index"
                            :class="{checked : index < hotelDetails.starRating}"
                            class="stars fa fa-star"
                          ></span>
                        </h5>
                        <div class="txt">
                          <span>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                          {{decodeURI(hotelDetails.hotelAddress)}}
                        </div>
                        <!-- <div class="txt">
                          <span>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                          {{hotelDetails.hotelPhoneNo}}
                        </div>-->
                      </div>
                      <div class="col-md-6 checkin-info">
                        <div class="col-md-6">
                          <div class="head">{{CheckIn_Label}}</div>
                          <div class="info">
                            <span class="text">{{hotelDetails.cInDate.day}}</span>
                            <div class="date">{{hotelDetails.cInDate.fullDate}}</div>
                            <!-- <span class="text">12:00 PM</span> -->
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="head">{{CheckOut_Label}}</div>
                          <div class="info">
                            <span class="text">{{hotelDetails.cOutDate.day}}</span>
                            <div class="date">{{hotelDetails.cOutDate.fullDate}}</div>
                            <!-- <span class="text">12:00 PM</span> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bkn-info">
                      <table class="table text-center table-borderless">
                        <thead>
                          <tr class="text-center">
                            <th scope="col" class="text-center">{{RoomNumber_Label}}</th>
                            <th scope="col" class="text-center">{{RoomType_Label}}</th>
                            <th scope="col" class="text-center">{{Guests_Label}}</th>
                            <th scope="col" class="text-center">{{GuestName_Label}}</th>
                            <!-- <th scope="col" class="text-center">Inclusions</th> -->
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in roomDetails" :key="index">
                            <td>{{index+1}}</td>
                            <td style="max-width: 220px;">{{_.unescape(item.roomType +" - " + item.meal)}}</td>
                            <td>{{item.traveller}}</td>
                            <td>{{item.guestName}}</td>
                            <!-- <td>{{item.inclusions}}</td> -->
                          </tr>
                        </tbody>
                      </table>
                      <!-- <ul>
                        <li>
                          <div class="inr">
                            <div class="head">Room No.</div>
                            <div class="info">
                              <span
                                v-for="(item, index) in roomDetails"
                                :key="index"
                                class="text"
                              >{{index}}</span>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="inr">
                            <div class="head">Room Type</div>
                            <div class="info">
                              <span
                                v-for="(item, index) in roomDetails"
                                :key="index"
                                class="text"
                              >{{item.roomType}}</span>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="inr">
                            <div class="head">Traveller</div>
                            <div class="info">
                              <span
                                v-for="(item, index) in roomDetails"
                                :key="index"
                                class="text"
                              >{{item.traveller}}</span>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="inr">
                            <div class="head">Guest Name</div>
                            <div class="info">
                              <span
                                v-for="(item, index) in roomDetails"
                                :key="index"
                                class="text"
                              >{{item.guestName}}</span>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="inr">
                            <div class="head">Inclusions</div>
                            <div class="info">
                              <span
                                v-for="(item, index) in roomDetails"
                                :key="index"
                                class="text"
                              >{{item.inclusions}}</span>
                            </div>
                          </div>
                        </li>
                      </ul>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="hotel-dtl">
                    <div class="detail-title">
                      <p>{{GuestDetails_Label}}</p>
                    </div>
                    <div class="inner">
                      <h5>{{guestDetails.title + ' ' + guestDetails.leadTravellerName}}</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="hotel-dtl">
                    <div class="detail-title">
                      <p>{{PaymentDetails_Label}}</p>
                    </div>
                    <div class="fare-info baggage-info">
                      <ul>
                        <li>
                          <p>{{TotalRoomCharges_Label}}</p>
                          <span>{{ $n(( paymentDetails.roomCharges/sharedStateHotel.currencyMultiplier), 'currency', sharedStateHotel.selectedCurrency) }}</span>
                        </li>
                        <li>
                          <p>{{Tax_Label}}</p>
                          <span>{{ $n((paymentDetails.vat/sharedStateHotel.currencyMultiplier), 'currency', sharedStateHotel.selectedCurrency) }}</span>
                        </li>
                        <li>
                          <p>
                            <strong>{{TotalPrice_Label}}</strong>
                          </p>
                          <span>
                            <strong>{{ $n((paymentDetails.totalAmount/sharedStateHotel.currencyMultiplier), 'currency', sharedStateHotel.selectedCurrency) }}</strong>
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="hotel-dtl">
                    <div class="detail-title">
                      <p>{{CancellationPolicy_Label}}</p>
                    </div>
                    <div class="inner confirmation_cancel">
                      <h4>{{DetailedCancellationPolicy_Label}}</h4>
                      <div
                        v-for="(xPolicyPerRoom, index) in cancellationDetails.cancellationParsed"
                        :key="'xPolicyPerRoom'+index"
                      >
                        <p v-if="cancellationDetails.cancellationParsed.length>1">
                          <b>{{Room_Label}} {{index+1}}</b>
                        </p>
                        <p
                          v-for="(xPolicy, index) in xPolicyPerRoom"
                          :key="'xPolicy'+index"
                          v-html="xPolicy"
                        ></p>
                      </div>
                      <p>
                        <span style="font-size:12px;font-style:italic;">{{CancellationNotes_Label}}</span>
                      </p>
                      <!-- <p>
                        <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</strong>
                      </p>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
                      <!-- <h4 class="p-t-20">Amendment Policy</h4> -->
                      <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p> -->
                      <!-- <p>{{cancellationDetails.amendmentPolicy}}</p> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" v-if="bookingNotes!=''">
                <div class="col-md-12">
                  <div class="hotel-dtl">
                    <div class="detail-title">
                      <p>{{BookingNotes_Label}}</p>
                    </div>
                    <div
                      class="inner"
                      v-html="(bookingNotes||'').replace('<br>', '').indexOf('No information available.')>-1?NoInformation_Label:(bookingNotes||'').replace('<br>', '')"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="row m-b-30">
                <div class="col-md-12">
                  <div class="hotel-dtl b-b-n">
                    <div class="detail-title">
                      <p>{{CustomerSupport_Label}}</p>
                    </div>
                    <div class="customer-support">
                      <ul>
                        <li>
                          <div class="inr">
                            <div class="head">{{Address_Label}}</div>
                            <span class="text">{{supportDetails.address}}</span>
                          </div>
                        </li>
                        <li>
                          <div class="inr">
                            <div class="head">{{Phone_Label}}</div>
                            <span class="text">
                              <a :href="'tel:' + supportDetails.phone">{{supportDetails.phone}}</a>
                            </span>
                          </div>
                        </li>
                        <li>
                          <div class="inr">
                            <div class="head">{{Email_Label}}</div>
                            <span class="text">
                              <a :href="'mailto:'+ supportDetails.email">{{supportDetails.email}}</a>
                            </span>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script src="/Hotels/HotelComponents/assets/js/hotel-confirmation.js?v=202007280000"></script>

<style>
</style>



