/* autoSelect */

.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 50px;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #ffffff;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
    color: #b1bdff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: var(--primary-color) !important;
    color: #FFF !important;
}

.autocomplete-result:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}
    
    

     /* banner */

     .innerbanner{
        width: 100%;
        float: left;
        padding: 61px 0px;
        position: relative;
        background-position: center;
        background-size: cover;
        margin-bottom: 20px;
    }
    .innerbanner::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, 0.42);
    }
    .innerbanner h2{
        font-family: 'Poppins', sans-serif;
        font-size: 33px;
        color: #ad2a31;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        z-index: 9;
    }
    .innerbanner p{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #ad2a31;
        font-weight: 400;
        text-align: center;
        position: relative;
        z-index: 9;
    }
    .innerbanner p a{
    color: #000;
    }

    .privacy-content{
        padding: 60px 0;
    }
    
    .privacy-content h4{
        color: #ad2a31;
        letter-spacing: 0;
        text-transform: capitalize;
        font-size: 22px;
        padding: 10px 0;
        line-height: 28px;
    }
    .privacy-content p{
        font-size: 15px;
        color: #1c1c1c;
        line-height: 25px;
    }



    .design_your_trip {
        width: 100%;
        height: auto;
        background: #fff;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
        margin-top: 75px;
        padding: 25px 50px;
        overflow: hidden;
        position: relative;
    }
    
    .design_your_trip h3 {
        color: #471b58;
        margin-bottom: 35px;
    }
    
    .design_your_trip .btn1 {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        background: #471b58;
        padding: 12px;
        width: 170px;
        text-align: center;
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
    }
    .design_your_trip .custom-select-v3 {
        margin-bottom: 15px;
    }
    
    .design_your_trip .custom-select-v3::before {
        top: 20px;
    }


    #pckg_sections .left {
        float: left;
        display: inline-block;
        width: 100%;
        padding: 50px;
        /* min-height: 625px; */
    }

    /*Review Content*/

.review {
	width: 100%;
	display: block;
	padding: 10px 0;
}
.review h3 {
	color: #000;
	font-size: 20px;
	line-height: 20px;
	padding: 10px 0;
	text-align: left;
	font-weight: 600;
}
.review .comment-div {
	float: left;
	padding: 20px 0;
	width: 100%;
	border-bottom: 1px dashed #e1e1e1;
}
.review .comment-div .user {
	float: left;
	padding-left: 0;
	text-align: left;
	width: 10%;
}
.review .comment-div .user img {
    border: 2px solid #fff;
    border-radius: 50px;
    height: 80px;
    width: 80px;
}
.review .comment-div .comment-block {
	float: left;
	width: 88%;
}
.review .comment-div .comment-block .heading {
	color: #333333;
	float: left;
	font-size: 15px;
	font-weight: 500;
	text-transform: inherit;
	width: 100%;
}
.review .comment-div .comment-block .heading span {
	color: #808080;
	font-weight: 500;
	float: none;
}
.review .rating {
	display: inline-block;
	padding:0px 0 0;
	margin: 0;
	list-style: none;
}
.review .rating li {
	float:left;
	padding: 0 2px;
	color: #f6d12e;
	font-size: 15px;
}

.review .review-form {
	width: 100%;
	display: block;
}
.review .review-form h4 {
    color: #333333;
    float: left;
    font-size: 22px;
    line-height: 28px;
    margin: 20px 0;
    text-align: left;
    width: 100%;
    font-weight: 500;
}
.review .review-form p {
	color: #444444;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	display: inline-block;
	padding: 0 0 15px !important;
}
.review .review-form .add-rws {
	width: 100%;
	font-size: 16px;
	color: #333;
	font-weight: 500;
}
.add-rws span {
    float: left;
    padding: 8px 10px 0 0;
}
.review .review-form .button {
	width: 240px;
	margin-top: 0;
}

.review-form .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
}
.review-form .form-control {
	border-color: #ddd;
}

 .review-form textarea.form-control, .comment-post .cmn-form textarea.form-control {
	height: 120px;
	resize: none;
	padding: 20px 15px;
}
 .review-form .form-control, .comment-post .cmn-form .form-control {
	background-color: #fff;
	color: #797778;
	display: block;
	font-size: 17px;
	height: 46px;
	line-height: 1.42857;
	padding: 6px 15px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	border: 1px solid #a7a7a7;
	border-radius: 5px !important;
}
 .review-form input:focus, .review-form textarea:focus {
	border-color: #fdbf1b;
}
.review-form .submit-button {
	width: 220px;
	background: #eac868;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin: 10px 0 0 0;
	padding: 8px 35px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.review-form .submit-button:hover {
	background: #FFF;
    color: #eac868;
	text-decoration: none;
}
.review-form .padding {
	padding-top: 30px;
	display: inline-block;
}


/* App Section */
.downloadApp {
    color: #fff;
    position: relative;
    background-size: 100%;
    min-height: 200px;
    background: #471f58;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.downloadApp h3, .downloadApp h6 {
    color: #fff;
}
.downloadApp h3 {
    font-size: 24px;
    line-height: 32px;
}
.downloadApp h6 {
    font-size: 16px;
    line-height: 24px;
}
.appBtns_container {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
.appBtns {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 230px;
}
.appBtns a {
    border-radius: 6px;
    padding: 6px 10px;
    /* width: 168px; */
    transition: all .1s linear;
    position: relative;
    top: 0;
}
.alhRegL, .alhRegL .alLogo {
    display: inline-block;
}
.downloadApp img{
    width: 160px;
}
@media (max-width: 1200px){
    .downloadApp .dapCont {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0;
    }
}
@media (max-width: 1200px){
    .downloadApp .dapCont, .our-awards, .our-awards p, .our-awards>.col-lg-6, .vision-mission .col-lg-5, .vision-mission .col-lg-5 p {
        text-align: center;
    }
}
@media (max-width: 1024px){
    .dapCont {
        background-image: none !important;
    }
    .downloadApp h3, .downloadApp h6{
        display: none;
    }
}

.country-drp .custom-select-v3 select, .form-control {
      margin-bottom: 0;
      height: 50px;
}

/* Clearable text inputs */
.clearable{
position: relative;
display: block;
}
.clearable input[type=text]{
padding-right: 24px;
width: 100%;
box-sizing: border-box;
}
.flwng-info div i {
	font-size:15px;
	color:#ebc868;
	padding-right:10px;
}
.clearable__clear{
display: none;
position: absolute;
right:7px; top:0;
padding: 10px;
font-style: normal;
font-size: 1.5em;
user-select: none;
cursor: pointer;
z-index: 5;
}
.clearable__clearCityto1, 
.clearable__clearArrivalfromLeg1,
.clearable__clearArrivalfromLeg2,
.clearable__clearArrivalfromLeg3,
.clearable__clearArrivalfromLeg4,
.clearable__clearArrivalfromLeg5,
.clearable__clearArrivalfromLeg6 {
    padding-right: 0;
}
.clearable input::-ms-clear {  /* Remove IE default X */
display: none;
}

.hidden {
visibility: hidden;
/* display: block !important;
visibility: visible; */
}

#tip {
background-color: #F3F3EF;
padding:2px;
text-align: center;
border-radius: 5px;
border: 1px solid gray;
position: absolute;
top: 51px;
margin-top: 15px;
z-index: 100;
/* width: 520px; */
}

#tip:after {
content: " ";
position: absolute;
top: -15px;
left: 20px;
border-top: none;
border-right: 15px solid transparent;
border-left: 15px solid transparent;
border-bottom: 15px solid #F3F3EF;
}

.search-ul {
    list-style: none;
    margin: 0;
}
.prdctvList {
background: #F7F8FC;
padding: 7px;
color: #203152;
font-weight: 500;
display: block;
width: 100%;
pointer-events: none;
}

.tpDest {
display: inline-block;
width: 124px;
vertical-align: top;
padding: 2px;
position: relative;
cursor: pointer;
}

.tpDest a {
    color: #203152;
    display: block;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    padding: 8px 6px 8px 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
}

.tpDest a:hover {
    background-color: #471b58;
    color: #FFF;
    border-radius: 2px;
}

.close-icon-n::before {
    content: "\2715" !important;
}
.close-icon-c::before {
    content: "\2715" !important;
}