@media screen and (max-width: 480px) {
.chck {
    /* margin: 30px auto 0 !important; */
    font-size: 14px !important;
    float: none !important;
    color: #000 !important;
}
.search-section .nav > li > a {
    font-size: 10px !important;
}
.search-section {
    top: -30px !important;
}
.search-section .nav > li > a {
    padding: 5px 5px !important;
    font-size: 10px !important;
}
/*=====  Detail  Request Page CSS Start  ======*/
#progressbar li {
    font-size: 11px;
}
#progressbar li::before {
    bottom: -40px;
}
.frm-div label {
    font-size: 14px;
    line-height: 15px;
}
.form__checkbox label {
    font-size: 13px !important;
}
/*=====  Detail  Request Page CSS End  ======*/
}
@media screen and (max-width: 640px) {
#pckg_section .right {
    padding: 15px 15px 38px !important;
}
#pckg_section .item .hldy {
    margin: 0px !important;
}
#pckg_section .item {
    padding: 0 !important;
}
/*=====  Detail  Request Page CSS Start  ======*/
.inr-cnt .comment-div .comment-block h2, .inr-cnt .slct-img h2 {
    font-size: 18px;
    line-height: 26px;
}
.uploaded-pics .col-xs-12 {
    width: 100% !important;
}
.inr-cnt .slct-img .uploaded-pics .chk-div label img {
    height: 100% !important;
}
.inr-cnt .comment-div .user {
    width: 100px !important;
}
.inr-cnt .comment-div .user img {
    height: 100px;
    width: 100px;
}
#msform .action-button {
    min-width: 100px;
	font-size: 14px;
}
.form__checkbox label {
    line-height: 16px;
    font-size: 14px;
}
/*=====  Detail  Request Page CSS End  ======*/
}
 @media screen and (max-width: 767px) {
/* .login {
    margin-left: 0;
}
.login i, .login a {
    font-size: 12px;
}
.login i {
	margin: 6px 5px 0 0;
}
.lang .dropdown-menu {
	left:auto;
    right: 0;
    top: 40px;
    min-width: 120px;
}
.crnc .dropdown-menu {
    top: 40px;
}
.login {
    margin-left: 0;
}
.crnc .dropdown a, .lang .dropdown a {
    font-size: 12px;
    padding: 10px;
} */
/*=====  Top CSS BOF  ======*/

/* .navbar-toggle {
    background-color: #eac868;
    border: none;
	border-radius: 0;
	margin: 10px 0 10px;
	padding: 12px 10px;
}
.navbar-default .navbar-nav > li::after {
	display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	float: none;
	margin-left: 0;
	background-color: #fff;
}
.navbar-nav {
    margin: 20px 0 0;
    padding: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.nav > li {
    padding: 10px 0;
}
.nav > li:last-child {
	border-bottom:none;
}
.nav > li > a, .navbar-default .navbar-nav > li > a {
    padding: 0;
	border-bottom: none;
	font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #eac868;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #eac868;
	border-bottom: none;
	background-color: transparent;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    width: 210px;
} */
/*=====  Banner CSS BOF  ======*/
.banner-text {display:none;}
.booking-form {
    margin-top: 110px;
}
.brdr-rdus, .search-button, #multi-city .search-button {
    border-radius: 0;
}
.close-btn {
    margin: 20px auto 8px;
}
.add-btn {
    margin: 10px auto;
}
.search-section .form-control, .calendar {
    border-bottom: 1px solid #bdbbbc;
	border-right: none;
}
.change-destination::after, .change-date::after{
    right: 0;
    top: 60px;
    left: 0;
    text-align: center;
}
.search-section .nav > li > a {
    padding: 10px;
    font-size: 12px;
    line-height: 20px;
}
.search-section {
    top: -40px;
}
.service-icon svg {
    width: 20px;
    height: 20px;
	margin: 0 2px 0 0;
}
.title h2 {
    font-size: 40px;
}
#deals_section .owl-theme .owl-controls {
	display: none !important;
}
#pckg_section .left {
    min-height: auto;
	padding: 25px 25px;
}
#pckg_section .left p {
    line-height: 22px;
}
#pckg_section .owl-theme .owl-controls {
	display: none !important;
}
#pckg_section .item .hldy_detail {
    padding: 25px 14px;
}
#pckg_section .right {
    padding: 15px 72px 38px;
}
#pckg_section .item {
    padding: 0 10px;
}
#pckg_section .title h2 {
    font-size: 30px;
}
#pckg_section .item .hldy_detail a h3 {
    font-size: 25px;
}
#newsletter .title h3 {
    font-size: 24px;
}
#newsletter .title p {
    width: 100%;
}
/* footer {
    padding-top: 0;
}
footer .powered-by {
    float: left;
    margin-top: 0;
}
.back-top {
    right: 15px;
    left: auto;
    margin: 0;
} */
.mgn-tp {
    margin-top: 15px;
}
.m-left {
    margin-left: 0 !important;
}
.radio label {
    font-size: 14px;
}
.chck {
    margin-bottom: 20px;
    font-size: 14px !important;
    color: #000 !important;
}
/*=====  Detail  Request Page CSS Start  ======*/
.inr-cnt .comment-div .user {
    width: 140px;
    margin: 0 auto;
}
.inr-cnt .comment-div .comment-block {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
}
.inr-cnt .slct-img .uploaded-pics .chk-div label img {
    height: 200px;
}
.uploaded-pics .col-xs-12 {
    width: 50%;
}
aside{
	margin-top:50px;
}
.inr-cnt .review-div .review-block {
    width: 71%;
}
.slct-img .inr {
	width:100%;
}
/*=====  Detail  Request Page CSS End  ======*/
}
@media (min-width: 768px) and (max-width: 990px) {
.chck {
    color: #000 !important;
}
/* .contact-info div {
    margin-right: 10px;
}
.contact-info div a, .contact-info div i, .login i, .login a {
    font-size: 12px;
}
.contact-info div i, .login i {
	margin: 6px 5px 0 0;
}
.lang .dropdown-menu {
    left: -74px;
    top: 40px;
}
.crnc .dropdown-menu {
    top: 40px;
}
.login {
    margin-left: 0;
}
.crnc .dropdown a, .lang .dropdown a {
    font-size: 14px;
    padding: 10px;
} */
/*=====  Navbar CSS BOF  ======*/
/* .navbar-default .navbar-brand {
    width: 232px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 15px;
}
.nav > li > a {
    padding: 23px 13px;
} */

/*=====  Banner CSS BOF  ======*/
.banner-text h1 {
    font-size: 44px;
}
.banner-text p {
    font-size: 16px;
    padding: 0;
}
.brdr-rdus, .search-button, #multi-city .search-button {
    border-radius: 0;
}
.search-section .form-control, .calendar {
    border-bottom: 1px solid #bdbbbc;
}
#deals_section .owl-theme .owl-controls {
	display: none !important;
}
#pckg_section .left {
    min-height: auto;
}
#pckg_section .owl-theme .owl-controls {
	display: none !important;
}
#pckg_section .item .hldy_detail {
    padding: 25px 28px;
}
#pckg_section .right {
    padding: 20px 94px 30px;
}
#pckg_section .item {
    padding: 0 10px;
}
/*=====  Detail  Request Page CSS Start  ======*/
aside{
	margin-top:50px;
}
/*=====  Detail  Request Page CSS End  ======*/
}
@media (min-width: 991px) and (max-width: 1024px) {
/* .contact-info div a, .contact-info div i, .login i, .login a {
    font-size: 16px;
}
.lang .dropdown-menu, .crnc .dropdown-menu {
    top: 43px;
}
.navbar-default .navbar-brand {
    width: 250px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 18px;
}
.nav > li > a {
    padding: 23px 18px;
} */
#deals_section .owl-prev, #deals_section .owl-next {
	margin: 0 0 0 -20px !important;
}
#deals_section .owl-next {
	margin: 0 -20px 0 0 !important;
}
#pckg_section .title h2 {
    font-size: 38px;
}
#pckg_section .right {
    padding: 15px 72px 38px;
}
/*=====  Detail  Request Page CSS Start  ======*/
.inr-cnt .comment-div .comment-block {
    width: 84%;
}
.inr-cnt .slct-img .uploaded-pics .chk-div label img {
    height: 200px;
}
aside{
	margin-top:50px;
}
/*=====  Detail  Request Page CSS End  ======*/
}
@media (min-width: 1025px) and (max-width: 1400px) {

#pckg_section .right {
    padding: 40px 94px 50px;
}
#pckg_section .item {
    padding: 0 10px;
}
#pckg_section .left {
    min-height: 542px;
}
}
