* {margin:0; padding:0;}
img {outline:none;}
body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 300;
	direction: rtl;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a:focus {
	outline: none;
	text-decoration: none;
}

p {
	line-height: 22px;
	margin: 0;
	padding: 0;
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 400;
}
section {
	padding: 60px 0;
}

/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.p-0 {
	padding: 0;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}
/*=====  Top CSS BOF  ======*/
/* .top {
	background: #471b58;
	width: 100%;
	height: auto;
	padding: 12px 0;
}
.contact-info {
	float: right;
	padding: 6px 0;
}
.contact-info div {
    margin-left: 22px;
    float: right;
}
.contact-info div i {
	color: #fff;
	font-size: 20px;
	float: right;
	margin: 3px 0 0 10px;
}
.contact-info div a {
	color: #fff;
	font-size: 20px;
	font-weight: 400;
}
.contact-info div a:hover {
	color: #91aff5;
	text-decoration: none;
}
.login {
    margin-right: 26px;
	float: right;
	padding: 6px 0;
}
.login i {
	color: #fff;
	font-size: 17px;
	float: right;
	margin: 3px 0 0 10px;
}
.login a {
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}
.login a:hover {
	color: #91aff5;
	text-decoration: none;
}
.lang {
	float: left;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 3px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#fff;
}
.lang:hover {
	color: #fff;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: -61px;
	top: 48px;
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #000;
}
.lang .dropdown-menu li a {
    padding: 5px 12px;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
	text-align: right;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #eac868;
}
.lang .dropdown a {
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}

.crnc {
	float: left;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 3px 0 0 15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#fff;
}
.crnc:hover {
	color: #fff;
}
.crnc .caret {
	display:none;
}
.crnc .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	right: 0;
	top: 48px;
	padding: 0;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.crnc .dropdown-menu li {
	display: block;
	border:0;
	color: #000;
}
.crnc .dropdown-menu li a {
	padding: 5px 12px;
	color: #000;
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}
.crnc .dropdown-menu li a:focus, .crnc .dropdown-menu li a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #eac868;
}
.crnc .dropdown a {
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
	font-weight: 400;
	border-bottom: 1px solid #fff;
}

.list-inline > li {
	padding: 0 0;
} */
/* Navigation CSS BOF
=================================================== */
/* .navbar-header {
    float: right;
}
.navbar-right {
    float: left !important;
    margin-left: -15px;
}
.navbar-nav > li {
    float: right;
}
.navbar {
	border-radius: 0px;
	position: relative;
	top: 0;
	margin-bottom: 0px;
	border: 0px;
}
.nav-bg {
	display: block;
	position: absolute;
	z-index: 1000;
	width: 100%;
}
.navbar-default {
	background: #fff;
	transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	border: 0px;
	margin: 0;
}
.navbar-nav {
	margin: 0;
	padding: 0;
}
.navbar-brand img {
	width: 100% !important;
}

.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
    display: block;
    margin: 0;
    padding: 23px 25px;
    position: relative;
	border-bottom:3px solid #fff;
}
.navbar-default .navbar-nav > li:last-child::after {
	display: none;
}
.navbar-default .navbar-brand {
	position:relative;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	padding: 0;
	z-index: 10;
	margin: 0 0 -28px !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #eac868;
	background-color: #fff;
	border-bottom:3px solid #eac868;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 20px;
	font-weight: 500;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all .35s;
	transition: all .35s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #eac868;
	background-color: #fff;
	border-bottom:3px solid #eac868;
} */
/*=====  Banner CSS BOF  ======*/
#bnr {
	position:relative;
	min-height: auto;
	padding-top: 200px;
	background-size: cover !important;
	background-position: center center !important;
}
.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    margin: 0 auto;
    right: 0;
    text-align: center;
}
.banner-text p {
	font-size: 18px;
	font-weight: 400;
	padding: 8px 0 0;
	display: block;
	color: #fff;
}
.banner-text h1 {
	font-size:50px;
	font-weight: 700;
	display: block;
	color: #fff;
	line-height: normal;
}
.banner-text h1 span {
	font-weight: 400;
}

/*================Booking-Form-Css================*/
.shadow {
    display: inline-block;
    width: 100%;
}
.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.m-left {
    margin-right: 16% !important;
}
.p-tp {
	padding-top: 0 !important;
}
.chck {
  display: inline-block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size:16px !important;
  font-weight:500 !important;
  color:#fff !important;
	top: 10px;
}

/* Hide the browser's default checkbox */
.chck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  right: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -5px;
  right: 0;
  height: 23px;
  width: 23px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.chck:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.chck input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-btn {
	display: block;
	margin: 0;
	font-size: 18px;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin: 15px 10px 0 0;
}
.close-btn a {
	display: block;
	color: #000;
}
.add-btn {
	width: 115px;
	height: auto;
	display: block;
	font-size: 13px;
	text-align: center;
	color: #000;
	padding: 2px 5px;
	font-weight: 400;
	margin: -22px 70px 0 0;
	background:#fff;
	border-radius: 3px;
}
.add-btn:hover, .add-btn:focus {
	background: #eac868;
	color: #fff;
	text-decoration: none;
}

.room-title {
    display: block;
    font-size: 17px;
    text-align: right;
    border-bottom: 1px solid #ddd;
    color: #471b58;
    padding: 5px 0;
    font-weight: 500;
    margin-bottom: 10px;
}
.add-room {
    width: 100px;
    height: auto;
    display: block;
    font-size: 13px;
    text-align: center;
    border: 1px solid #eac868;
    background: #eac868;
    color: #fff;
    padding: 2px 5px;
    font-weight: 400;
    margin: 0 0 10px 15px;
    float: left;
}
.add-room:hover, .add-room:focus {
    background: #471b58;
    border: 1px solid #471b58;
    color: #fff;
    text-decoration: none;
}
.delete-room {
    width: 100px;
    height: auto;
    display: block;
    font-size: 13px;
    text-align: center;
    border: 1px solid #eac868;
    background: #eac868;
    color: #fff;
    padding: 2px 5px;
    font-weight: 400;
    margin: 0 15px 10px 0;
    float: right;
}
.delete-room:hover, .delete-room:focus {
    background: #471b58;
    border: 1px solid #471b58;
    color: #fff;
    text-decoration: none;
}
.col-md-offset-6 {
    margin-right: 50% !important;
	margin-left: 0 !important;
}
.brdr-rdus{border-radius: 0 5px 5px 0 !important;}
.brdr-rdus2{border-radius: 5px 0 0 5px !important;}
.booking-form input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
 color: #767676;
}
 .booking-form input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #767676;
}
 .booking-form input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
 color: #767676;
}
.booking-form {
	background: rgba(0, 0, 0, 0);
	padding: 0;
	width: 100%;
	position: unset;
	margin-top: 210px;
}
.search-section {
	margin-top: 0;
	width: 100%;
	top: -50px;
	position:relative;
}
.tab-field {
	padding: 0;
}
.search-section .nav-tabs {
	border-bottom: none;
	text-align: center;
}
.search-section .nav-tabs > li {
	float: none;
	text-align: center;
	display: inline-block;
	padding: 0;
}
.search-section .nav-tabs .active {
	position: relative;
}
.search-section .nav-tabs > li > a {
	color: #413d3d;
	background-color: rgba(216, 213, 213, 0.8);
	font-weight: 700;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
}
.search-section .nav > li > a {
	padding: 10px 20px;
	font-size: 16px;
	color: #000;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	display: block;
	line-height: 30px;
	border-radius: 5px 5px 0 0;
}
.service-icon svg {
    fill: #000;
    margin: 0 0 0 10px;
    width: 30px;
    height: 30px;
    float: right;
}
.search-section .nav-tabs2 > li {
	margin: 0 10px 0;
}
.search-section .nav-tabs2 li a {
	padding: 0;
	color: #fff;
	background-color: transparent !important;
	font-weight: 500;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
	font-size: 16px;
	text-decoration: none;
	position: relative;
	text-transform:none;
}
.search-section .nav-tabs2 > li.active > a, .search-section .nav-tabs2 > li.active > a:focus, .search-section .nav-tabs2 > li.active > a:hover {
	border: none;
	background: transparent !important;
	color: #eac868 !important;
}
.search-section .nav-tabs > li.active svg {
	fill: #fff;
}
.search-section .nav-tabs > li.active > a, .search-section .nav-tabs > li.active > a:focus, .search-section .nav-tabs > li.active > a:hover {
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}
.search-section form {
	width: 100%;
	display: inline-block;
}
.search-section .tab-content {
	color: #07253f;
	padding-top: 30px;
}
.search-col-padding .input-group {
	display: block;
}
.search-section label {
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
	color: #fff;
	line-height: 16px;
}
.search-section .form-control {
	background-color: transparent;
	border: none;
	border-left: 1px solid #bdbbbc;
	border-radius: 0px !important;
	color: #767676 !important;
	display: block;
	font-size: 14px;
	height: 50px;
	line-height: 1.42857;
	padding: 0 20px 0 0;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	margin: 0;
	position: relative;
	font-weight: 500;
	text-align: right;
}
.search-section .plane-icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}

.search-section .input-group-addon {
	background: transparent;
	color: #bdbbbc;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}
.search-section .search-col-padding {
	padding: 0;
	background: #fff;
}
.search-section option {
	color: #07253F;
}
.calendar {
	background: #fff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 20px 8px 0;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	height: 50px;
	border: none;
	border-left: 1px solid #bdbbbc;
	width: 100%;
}
.calendar ::placeholder {
	 color:#000!important;
}
.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
}
.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #eac868;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 16px;
}
.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}
.ui-datepicker-prev::after {
	transform: rotate(45deg);
	margin: -45px 4px 0px 6px;
}
.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}
.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -45px 6px 0px 4px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	border-color: #f6d12e;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #000;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.ui-state-default {
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 40px;
	font-size: 12px;
	font-weight: 700;
}
.ui-state-default:hover {
	background: #471b58;
	color: #fff;
	text-decoration: none;
}
.ui-state-highlight {
	color: #fff;
	background: #471b58;
}
.ui-state-active {
	background: #012e81 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}
.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #ababab;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
	display: none;
}
.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}
.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}
.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}
.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}
.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn:hover {
	color: #da434a;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #471b58;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	padding: 5px;
	border: none;
	width: 100%;
	border-radius: 5px 0 0 5px;
	height: 50px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#multi-city .search-button {border-radius: 5px;}
.search-col-padding input[type="radio"] {
	margin-top: 2px;
}
.search-col-padding .active {
	color: #fff;
}
.trip-button {
	margin-top: 10px !important;
}
.search-button:hover, .search-button:focus, .search-button:active {
	color: #fff;
	text-decoration: none;
	background: #eac868;
}
#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}
/*-----Select Box CSS-----*/
.bootstrap-select {
	width: 220px;
}
.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}
.bootstrap-select.fit-width {
	width: auto!important
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}
.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}
.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}
.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}
.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}
.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}
.bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}
.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}
.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}
.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}
.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}
.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}
.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
	padding: 4px 8px
}
.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-actionsbox .btn-group button {
	width: 50%
}
.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.bs-donebutton .btn-group button {
	width: 100%
}
.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}
.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}
select.bs-select-hidden, select.selectpicker {
	display: none!important
}
select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}
#flight form .input-group {
	display: block;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #676767 !important;
	/* text color */
	line-height: 34px;
	background: #fff;
	border-radius: 0px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	color: #646060;
}
.search-section .form-control::-moz-placeholder {
 color: #b4b4b4;
 opacity: 1;
}
.search-section .form-control::-ms-input-placeholder {
 color: #b4b4b4;
}
.search-section .form-control::-webkit-input-placeholder {
 color: #b4b4b4;
}
.search-section .form-control::-o-input-placeholder {
 color: #b4b4b4;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 17px;
	width: 40px;
	text-align: center;
	line-height: 30px;
}
.select2-container--default .select2-selection--single {
	background-color: #fff;
	/* input background color */
	border: none;
	border-radius: 0px;
	height: 68px !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #96a9bf;
	/* option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #96a9bf;/* option hover background */
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #ababab;
	padding: 7px;
	font-size: 20px;
}
.select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}
.select2-dropdown {
	border-color: #6e8095;
}
.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}
.select-label {
	font-size: 15px !important;
	font-weight: 600 !important;
	text-transform: capitalize!important;
	padding-bottom: 10px;
}
.change-destination::after {
	content: url(../images/exchange-icon.png);
	position: absolute;
	left: -16px;
	top: 8px;
	z-index: 1;
}
.change-date::after {
	content: url(../images/exchange-date.png);
	position: absolute;
	left: -16px;
	top: 8px;
	z-index: 1;
}
.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 4px;
	width: 40px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}
.booking-form1 .form-group2 .select2-container .select2-selection--single, .booking-form1 .form-group .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
}
.booking-form1 .form-group2 .select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #fff;
	padding: 7px;
	font-size: 15px;
}
/* Travellers CSS BOF ===================================================*/ 
.travellersDropdown {
	position: relative;
}
.custom-select-v3 {
	position: relative;
	cursor: pointer;
}
.custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 25px;
	color: #000;
	display: block;
	font-size: 16px;
	height: 42px;
	line-height: 0px;
	margin-right: 0;
	pointer-events: none;
	position: absolute;
	left: 0;
	width: 24px;
	z-index: 6;
	font-weight: 700;
	content: "\f107";
	font-family: 'FontAwesome';
}
.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 9px;
	z-index: 1;
}
.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	pointer-events: none;
}
.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
}
.custom-select-v3 select, .form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: normal;
	margin-bottom: 20px;
	padding: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	box-shadow: none;
	color: #000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}
.travelerSelectWindow {
	width: 330px;
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 3;
	/* display: none; */
}
.travelerSelectWindow.active {
	display: block;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow fieldset {
    padding: 0 0 15px 13px;
}
fieldset {
	min-width: 0;
	margin: 0;
}
.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: right;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
	max-width: 100%;
}
.trvFld {
	float: right;
	margin-left: 10px;
	width: 70px;
}
.trvFld .custom-select-v3 {
	display: block;
}
.trvFld .custom-select-v3::before {
	font-size: 12px;
	height: 35px;
	line-height: 6px;
	top: 14px;
}
.trvFld .custom-select-v3 select {
	text-align: right;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}
select option {
	padding: 2px 5px;
	background: #fff;
}
.trvFld .custom-select-v3 select {
	text-align: right;
	line-height: 35px;
	color: #000;
}
.travelerSelectWindow .ageRange {
	float: right;
	font-size: 14px;
	color: #c2c2c2;
	padding-top: 10px;
}
.classSec {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
	margin: 0 15px 15px;
	overflow: hidden;
}
.classSec .custom-select-v3::before {
	top: 20px;
}
.classSec label {
	margin-top: 5px;
}
.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}
.classSec .custom-select-v3.lg select {
	margin: 0;
}
.classSec .custom-select-v3 select {
	cursor: pointer;
}
.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: right;
	text-indent: initial;
	color: #000;
}
.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
	border-radius: 0;
}
.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}
.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}
.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: left;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #471b58;
	display: inline-block;
	border-radius: 0;
	opacity: 1;
	top: 8px;
}
.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
.travelerSelectWindow .closeBtn:hover {
	opacity: 1;
	background: #000;
}
/*===========================================
=            Radio Button Custom            =
===========================================*/
.radio {
	padding-left: 20px;
	margin-bottom: 20px;
}
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 0;
	font-size: 16px;
	color: #231f20;
	font-weight: 500;
	padding-top: 0;
}
.radio label.active, .radio label:focus {
	color: #000;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -13px;
	border: 2px solid transparent;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 4px;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 6px;
	height: 6px;
	left: 11px;
	top: 8px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
	margin: 0;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
.radio.radio-inline {
	margin: 0 0 30px;
	padding: 0 10px;
}
.radio-success input[type="radio"] + label::after {
	background-color:transparent;
}
.radio-success input[type="radio"]:checked + label::before {
	border-color: transparent;
}
.radio-success input[type="radio"]:checked + label::after {
	background-color: transparent;
}
.radio-success input[type="radio"]:checked + label {
	color: #ad2a31;
}
/*==============End-Booking-Form-Css===========*/


/*=====  Deals Section CSS BOF  ======*/
#deals_section, #pckg_section  {
	width: 100%;
	display: block;
}
.title h2 {
    font-size: 50px;
    font-weight: 700;
    color: #471b58;
    position: relative;
    text-align: center;
    line-height: normal;
}
.title h2::before {
    content: "";
    background: #eac868;
    width: 70px;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: -10px;
    right: 0;
    margin: 0 auto;
}
#deals_section .item .deals {
    background: #f3f3f3;
    overflow: hidden;
    border-radius: 10px;
}
#deals_section .item .deals_image {
	display: block;
	overflow: hidden;
	position: relative;
}
#deals_section .item .deals_image img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#deals_section .item .deals:hover img {
	transform: scale(1.1);
}
#deals_section .item .deals i {
    background: #fff;
    border-radius: 0 0 50px 50px;
    width: 56px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    color: #eac868;
    position: absolute;
    top: 0;
    right: 40px;
    text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#deals_section .item .deals:hover i {
    background: #eac868;
    color: #fff;
}
#deals_section .item .deals_detail {
	padding: 30px;
	overflow: hidden;
	text-align: right;
	position: relative;
}
#deals_section .item .deals_detail a h4 {
	padding: 0;
	font-size: 22px;
	font-weight: 500;
	color: #413d3d;
	display: inline-block;
	line-height: 25px;
	z-index: 1;
	position: relative;
	text-transform: none;
}
#deals_section .item .deals_detail a:hover h4 {
	color: #eac868;
	text-decoration: none;
}
#deals_section .item .deals_detail p {
	padding: 15px 0 0;
	font-size: 18px;
	font-weight: 400;
	color: #474747;
	display: inline-block;
	line-height: 22px;
	z-index: 1;
	position: relative;
	text-transform: none;
}
#deals_section .item .deals_detail .text {
	padding: 15px 0 0;
	display: inline-block;
	width: 100%;
}
#deals_section .item .deals_detail .date {
	font-size: 16px;
	font-weight: 400;
	color: #474747;
	float:right;
	margin-bottom: 28px;
}
#deals_section .item .deals_detail .text a {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    float: left;
    clear: both;
    background: #471b58;
    position: absolute;
    padding: 7px 30px;
    width: 170px;
    left: 0;
    text-align: center;
    bottom: 0;
    border-radius: 0 10px 0 0;
}
#deals_section .item .deals_detail .text a:hover {
	color: #fff;
	text-decoration: none;
	background:#eac868;
}
#deals_section .owl-carousel {
	padding-top: 15px;
}
#deals_section .item {
	position: relative;
	display: block;
	overflow: hidden;
	height: auto;
	padding: 0 15px;
	margin-top: 30px;
}
#deals_section .owl-theme .owl-controls {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
}
#deals_section .owl-prev, #deals_section .owl-next {
	background: #f5f5f5 !important;
	display: inline-block !important;
	margin: 0 0 0 -50px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #413d3d !important;
	opacity: 1 !important;
	border-radius: 50% !important;
	line-height: 42px;
	float: left;
	width:42px;
	height:42px;
}
#deals_section .owl-next {
	float: right;
	margin: 0 -50px 0 0 !important;
}
#deals_section .owl-prev:hover, #deals_section .owl-next:hover {
	background: #471b58 !important;
	color: #fff !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1 !important;
}
#deals_section .owl-pagination {
	display: none;
}

/*=====  Holiday Packages CSS BOF  ======*/

#pckg_section .left {float:left; display:inline-block; width:100%; background:url(../images/pckg-left.jpg) no-repeat top left; padding:50px; min-height: 625px;}

#pckg_section .title h2 {
    color: #fff;
	font-size:50px;
	font-weight:500;
}
#pckg_section .title h2::before {
    background: #fff;
	width: 100px;
	bottom: -24px;
}
#pckg_section .left p {
	color:#fff;
	line-height:25px;
	padding:20px 0 0;
	font-size:15px;
}
#pckg_section .left .view-btn {
    font-weight: 400;
    color: #fff;
    background: #eac868;
    width: 215px;
    padding: 6px 15px;
    font-size: 20px;
    display: block;
    text-align: center;
	border-radius:5px;
	margin: 25px auto 0;
	border:2px solid #fff;
}
#pckg_section .left .view-btn:hover {
    color: #fff;
    background: #471b58;
    text-decoration: none;
	border:2px solid #fff;
}
.p_0 {
	padding: 0;
}
#pckg_section .right {float:left; display:inline-block; width:100%; background:#f3f3f3; padding: 19px 100px 29px;}
#pckg_section .item {
	position: relative;
	display: block;
	overflow: hidden;
	height: auto;
	padding: 0 20px;
	margin-top: 30px;
}
#pckg_section .item .hldy {
    width: 100%;
    height: auto;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
    margin: 8px;
}
#pckg_section .item .hldy_image {
	display: block;
	overflow: hidden;
	position: relative;
}
#pckg_section .item .hldy_image img {
	height: 187px;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#pckg_section .item .hldy:hover img {
	transform: scale(1.1);
}
#pckg_section .item .hldy_detail {
	padding: 25px 50px;
	overflow: hidden;
	text-align: center;
	position: relative;
}
#pckg_section .item .hldy_detail a h3 {
	padding: 0;
	font-size: 20px;
	font-weight: 500;
	color: #413d3d;
	display: inline-block;
	line-height: normal;
	z-index: 1;
	position: relative;
}
#pckg_section .item .hldy_detail a:hover h3 {
	color: #eac868;
	text-decoration: none;
}
#pckg_section .item .hldy_detail .text {
    font-size: 13px;
    font-weight: 400;
    color: #7b7b7b;
    padding: 15px 0;
    z-index: 1;
    position: relative;
    border: 1px solid #4e4e4e;
    border-right: none;
    border-left: none;
    margin-top: 15px;
}
#pckg_section .item .hldy_detail .text i {
	font-size: 14px;
	color: #eac868;
}
#pckg_section .item .hldy_image ul {
    display: inline-block;
    padding: 2px 10px 2px 15px;
    position: relative;
    float: left;
	margin: -29px 0 0;
    background: rgba(255,255,255,0.85);
	
}
#pckg_section .item .hldy_image ul::before {
    content: "'";
    height: 30px;
    background: rgba(255,255,255,0.85);
    position: absolute;
    bottom: 0;
    right: -16px;
    width: 10%;
    -moz-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
	-o-clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 100%, 100% 100%, 0% 100%);
}
#pckg_section .item .hldy_image ul li {
	font-size: 18px;
	list-style: none;
	display: inline-block;
	color: #eac868;
	float: left;
	padding: 0 5px;
}
#pckg_section .item .hldy_image ul li:last-child {
	color: #b0b0b0;
}
#pckg_section .item .hldy_detail .price {
	padding-bottom: 15px;
	font-size: 35px;
	font-weight: 700;
	color: #231f20;
	display: inline-block;
	line-height: normal;
	margin-bottom:20px;
}
#pckg_section .item .hldy_detail .price span {
	font-size: 18px;
	font-weight: 500;
	color: #231f20;
	text-transform:uppercase;
}
#pckg_section .item .hldy_detail .btn1 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    float: left;
    clear: both;
    background: #471b58;
    position: absolute;
    padding: 7px 30px;
    width: 170px;
    left: 0;
    text-align: center;
    bottom: 0;
    border-radius: 0 10px 0 0;
}
#pckg_section .item .hldy_detail .btn1:hover {
	color: #fff;
	text-decoration: none;
	background:#eac868;
}
#pckg_section .owl-pagination {
	display: none !important;
}
#pckg_section .owl-theme .owl-controls {
	display: block;
	text-align: center;
	position: absolute;
	width: 100%;
	top: 40%;
}
#pckg_section .owl-prev, #pckg_section .owl-next {
	background: #f3f3f3 !important;
	display: inline-block !important;
	margin: 0 0 0 -50px !important;
	text-align: center !important;
	font-size: 18px !important;
	color: #413d3d !important;
	opacity: 1 !important;
	border-radius: 50% !important;
	line-height: 38px;
	float: left;
	width:42px;
	height:42px;
	border:1px solid #413d3d;
}
#pckg_section .owl-next {
	float: right;
	margin: 0 -50px 0 0 !important;
}
#pckg_section .owl-prev:hover, #pckg_section .owl-next:hover {
	background: #471b58 !important;
	color: #fff !important;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 1 !important;
	border:1px solid #471b58;
}



/*=====  Newsletter CSS BOF  ======*/
/* 
#newsletter  {
	background:url(../images/news-bg.jpg) no-repeat center center;
	background-size:cover;
	display:block;
	width:100%;
	padding:60px 0;
}
#newsletter .title svg {
	width:68px;
	height:68px;
    fill: #fff;
    text-align: center;
	margin: 0 auto 60px;
}
#newsletter .title h3 {
    font-size: 31px;
    font-weight: 400;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: normal;
}
#newsletter .title h3::before {
    content: "";
    background: #fff;
    width: 102px;
    height: 2px;
    position: absolute;
    left: 0px;
    top: -30px;
    right: 0;
    margin: 0 auto;
}
#newsletter .title p {
    color: #fff;
    text-align: center;
	padding-top:20px;
	line-height:26px;
	width: 55%;
	margin: 0 auto;
}
#newsletter form .input {
    background: #fff;
    border: none;
    width: 100%;
    padding: 10px 20px;
    color: #797778;
    font-size: 17px;
    font-weight: 400;
	border-radius:5px;
	margin-top:30px;
	height:65px;
}
#newsletter form .sub-btn {
    font-weight: 400;
    color: #fff;
    background: #471b58;
    width: 100%;
    padding: 0;
    font-size: 20px;
    display: block;
    text-align: center;
	border-radius:5px;
	border:none;
	margin-top:30px;
	height:65px;
	line-height:65px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#newsletter form .sub-btn:hover {
    color: #fff;
    background: #eac868;
    text-decoration: none;
} */

/* Footer CSS BOF
=================================================== */

/* footer {
	background:#fff;
	display:block;
	width:100%;
	padding-top: 60px;
	position:relative;
}
footer .inner {
    display: block;
	width: 100%;
}
footer .about {
	width: 100%;
	display: block;
}
footer .about .ftr-logo {
    text-align: right;
    position: relative;
    margin:30px 0 0;
}
footer .about p {
    font-weight: 400;
    text-align: right;
    margin-top: 20px;
    float: right;
    font-size: 16px;
    line-height: 24px;
    color: #575757;
	width: 82%;
} */
/* Footer Social CSS BOF
=================================================== */
/* footer .about .social {
	display: inline-block;
	list-style: outside none none;
	margin: 15px 0;
	float: left;
	width: 100%;
	padding:0;
}
footer .about .social li {
	text-align: center;
	padding: 0 0 0 15px;
	float: right;
}
footer .about .social li a {
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    transition: all 0.8s ease-in-out 0s;
    width: 40px;
    font-size: 20px;
	border-radius:5px;
	background:#471b58;
}
footer .about .social li a:hover {
	background: #eac868;
}
footer .link, footer .contact {
	width: 100%;
	display: inline-block;
}
footer .link h3, footer .contact h3 {
    color: #eac868;
    display: inline-block;
    font-weight: 700;
    line-height: 42px;
    margin: 30px 0 20px;
    position: relative;
    text-align: right;
    float: right;
    width: 100%;
    font-size: 28px;
}
footer .link ul {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}
footer .link ul li {
    font-size: 16x;
    font-weight: 500;
    padding: 6px 0;
    width: 100%;
}
footer .link ul li i{
    font-size: 13px;
	padding-left:8px;
	color:#7f7f7f;
}
footer .link ul li a {
	color: #575757;
	text-decoration: none;
	padding: 0;
}
footer .link ul li a:hover {
	color: #eac868;
	text-decoration: none;
}
footer .contact ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
footer .contact ul li {
	width:100%;
    clear: both;
    float: right;
    padding: 10px 0;
	font-size:20px;
	font-weight:500;
    color: #413d3d;
	line-height: normal;
}
footer .contact ul li i {
	color: #1c1c1c;
	float: right;
	margin-left: 10px;
	font-size:30px;
	width:30px;
	height: 28px;
}
.fnt-sz-24 {
    font-size: 24px !important;
}
footer .contact ul li span {
	width:100%;
    clear: both;
    float: right;
	font-size:16px;
	font-weight:400;
    color: #575757;
	line-height: 22px;
	padding-right: 41px;
}
footer .contact ul li span a {
	font-size:16px;
	font-weight:400;
	color: #575757;
	text-decoration: none;
}
footer .contact ul li span a:hover {
	color: #eac868;
	text-decoration: none;
}

footer .ftr-btm {
	background:#0f0f0f;
	padding: 10px 0;
	margin-top: 40px;
}
footer .copyright {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
	font-weight:400;
}
footer .powered-by {
    color: #fff;
    font-size: 16px;
    font-weight:400;
	float:left;
	margin-top: 8px;
}
.back-top {
    bottom: 10px;
    position: absolute;
    right: 0;
	left:0;
	width: 50px;
	margin: 0 auto;
}
.back-top #toTop {
	color: #eac868;
	line-height: 42px;
	transition: all 0.8s ease-in-out 0s;
	z-index: 50;
}
.back-top i {
	font-size: 40px;
	position: relative;
	top: 9px;
}
.back-top #toTop:hover {
	color: #fff;
} */

/*RTL CSS*/
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
	direction:ltr;
}
.pull-right {
    float: left !important;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: right;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
}
.col-lg-offset-2 {
    margin-right: 16.66666667% !important;
}

.col-lg-offset-2 {
    margin-left: 0 !important;
}


/*=====  Detail  Request Page CSS Start  ======*/
.inner_banner {
	min-height: 360px;
	position: relative;
	background-size: cover !important;
	background-position: center center !important;
}
.inner_banner::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
}
.inner_banner .banner_text {
	text-align: center;
	color: #fff;
	padding: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin-top: 60px;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}
.inner_banner .banner_text h1 {
	font-size: 65px;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	margin: 0;
}
.inner_banner .banner_text h1 span {
	font-size: 25px;
	display: block;
}
.inner_banner .banner_text p {
	font-size: 20px;
	font-weight: 400;
	line-height: normal;
	margin: 0;
}
.dtl-sec {
	width:100%;
	display:block;
	position:relative;
	min-height:100%;
}
/*-----Left Side CSS Start-----*/
.left-side {
	width: 100%;
	display: inline-block;
	float:left;
}
#notComplete, #submitGood, #dbError {
	display: none;
}
#results {
	margin: 0 auto;
	text-align: center;
	width: 600px;
	margin-top: 50px;
	color: #222;
}
/*form styles*/
#msform {
	width: auto;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	box-sizing: border-box;
	width: 100%;
	margin: 50px 0 0;
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*buttons*/
#msform .action-button {
	min-width: 150px;
	background: #471f58;
	font-weight: 500;
	color: #fff;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 20px;
	margin: 0;
	float: left;
	font-size: 18px;
	border-radius: 4px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#msform .action-button:hover, #msform .action-button:focus {
	background: #d7d7d7;
	color: #505050;
	text-decoration: none;
}
.previous {
	background: #d7d7d7 !important;
	color: #505050 !important;
	float: right !important;
}
.previous:hover, .previous:focus {
	background: #471f58 !important;
	color: #fff !important;
	text-decoration: none;
}
/*progressbar*/
#progressbar {
	overflow: hidden;
	counter-reset: step;
	padding: 10px 0 40px;
}
#progressbar li {
	list-style-type: none;
	color: #b8b8b8;
	font-size: 15px;
	width: 33.33%;
	float: right;
	position: relative;
	font-weight: 500;
}
#progressbar li:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f00c";
	width: 25px;
	height: 25px;
	line-height: 21px;
	display: block;
	font-size: 11px;
	color: #fff;
	background: #fff;
	border-radius: 100px;
	margin: 0 auto 5px auto;
	border: 3px solid #d3d3d3;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -36px;
}
/*progressbar connectors*/
#progressbar li::after {
	content: '';
	width: 100%;
	height: 3px;
	background: #d3d3d3;
	position: absolute;
	right: -50%;
	top: 38px;
	z-index: -1;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
	background: #471f58;
	color: #fff;
	border: 3px solid #471f58;
}
#progressbar li.active {
	color: #471f58;
}
.inr-cnt {
	background: #fff;
	box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
	width: 100%;
	margin: 0 0 35px;
	border: 1px solid #ddd;
	float: left;
}
.inr-cnt .comment-div {
	width: 100%;
	float: left;
	padding: 30px 20px;
}
.inr-cnt .comment-div .user {
	width: auto;
	text-align: center;
	float: right;
	border: 1px solid #ddd;
	overflow: hidden;
	border-radius: 100px;
}
.inr-cnt .comment-div .user img {
	height: 140px;
	width: 140px;
}
.inr-cnt .comment-div .comment-block {
	width: 78%;
	float: right;
	padding-right: 25px;
}
.inr-cnt .comment-div .comment-block h2 {
	width: 100%;
	color: #282828;
	font-size: 22px;
	font-weight: 500;
	float: right;
	margin: 0;
	text-align: right;
}
.inr-cnt .comment-div .comment-block p {
	float: right;
	width: 100%;
	text-align: right;
	padding: 18px 0 0;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	font-weight: 400;
	margin: 0;
}
.inr-cnt .slct-img {
	width: 100%;
	float: right;
	padding: 30px;
}
.inr-cnt .slct-img h2 {
	width: 100%;
	color: #282828;
	font-size: 22px;
	font-weight: 500;
	float: right;
	margin: 0;
	text-align: right;
}
.inr-cnt .slct-img p {
	float: right;
	width: 100%;
	text-align: right;
	padding: 10px 0 0;
	font-size: 15px;
	line-height: normal;
	color: #333333;
	font-weight: 400;
	margin: 0;
}
.inr-cnt .slct-img .uploaded-pics {
	list-style-type: none;
	margin: 10px 0 0;
	padding: 0;
}
.inr-cnt .slct-img .uploaded-pics .chk-div {
	display: inline-table;
	margin-top: 30px;
}
.inr-cnt .slct-img .uploaded-pics .chk-div span {
	position: absolute;
	bottom: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 100%;
	text-align: right;
	padding: 0 20px;
	overflow-wrap: break-word;
	line-height: 16px;
}
.txt-cntr {
	text-align: center !important;
	color: #000 !important;
}
.inr-cnt .slct-img .uploaded-pics .chk-div img {
	border: 1px solid #ddd;
}
.inr-cnt .slct-img .uploaded-pics .chk-div input[type="checkbox"][id^="checkthis"] {
	display: none;
	margin: 0;
}
.inr-cnt .slct-img .uploaded-pics .chk-div input[type="checkbox"][id^="echeckthis"] {
	display: none;
	margin: 0;
}
.inr-cnt .slct-img .uploaded-pics .chk-div input[type="checkbox"][id^="tcheckthis"] {
	display: none;
	margin: 0;
}
.inr-cnt .slct-img .uploaded-pics .chk-div input[type="checkbox"][id^="atcheckthis"] {
	display: none;
	margin: 0;
}
.inr-cnt .slct-img .uploaded-pics .chk-div label {
	padding: 0px;
	display: block;
	position: relative;
	cursor: pointer;
	margin: 0;
}
.inr-cnt .slct-img .uploaded-pics .chk-div label::before {
	font-size: 15px;
	background-color: #471f58;
	color: #fff;
	content: "";
	display: block;
	border-radius: 50%;
	border: 1px solid #471f58;
	position: absolute;
	top: -13px;
	left: -13px;
	width: 29px;
	height: 29px;
	line-height: 26px !important;
	text-align: center;
	transition-duration: 0.4s;
	transform: scale(0);
}
.inr-cnt .slct-img .uploaded-pics .chk-div label img {
	width: 100%;
	transition-duration: 0.2s;
	transform-origin: 50% 50%;
	height: 152px;
	border: 1px solid #ddd;
}
.inr-cnt .slct-img .uploaded-pics .chk-div :checked + label:before {
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f00c";
	transform: scale(1);
	z-index: 2;
}
.inr-cnt .slct-img .uploaded-pics .chk-div :checked + label img {
	padding: 7px;
	z-index: -1;
	border: 2px dashed #ebc868;
	width: 96%;
}
.inr-cnt .slct-img .uploaded-pics .chk-div :checked + label span {
	width: 96%;
}
.inr-cnt .slct-img .pull-right .btn {
	margin-right: 5px;
}
.p_0 {
	padding: 0;
}
.slct-img .inr {
	width:36%;
	float:right;
	margin: 10px 0 0;
}
.slct-img .inr ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.slct-img .inr ul li {
	padding: 10px 0;
	list-style: none;
	height: 70px;
}
.slct-img .inr ul li:last-child {
	padding: 10px 0 0;
}
.slct-img .inr ul li .text {
	float: right;
	display: block;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slct-img .inr ul li h5 {
	text-align:right;
	width: 100%;
	line-height: normal;
	font-size: 16px;
	color: #471f58;
	font-weight: 500;
	display: block;
	margin:0;
}
.slct-img .inr ul li p {
    font-size: 14px;
    color: #282828;
    font-weight: 400;
    display: block;
    padding: 5px 0 0;
}
.slct-img .inr ul li .number-spinner {
	max-width: 120px;
	line-height: 40px;
	padding: 3px;
	margin: 0;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: table;
	float: left;
	direction: rtl;
}
.slct-img .inr ul li .number-spinner input {
	height: 35px;
	max-height: 35px;
	line-height: 35px;
	font-size: 20px;
	padding: 0;
	margin: 0;
	border: none;
	position: relative;
	float: right;
	width: 100%;
	text-align: center;
	color: #2e3134;
	font-weight: 500;
}
.slct-img .inr ul li .number-spinner input:focus {
	outline: none;
}
.slct-img .inr ul li .number-spinner .ns-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	vertical-align: middle;
	display: table-cell;
	cursor: pointer;
}
.slct-img .inr ul li .number-spinner .ns-btn a {
    height: 40px;
    width: 40px;
    padding: 0;
    line-height: 40px;
    border-radius: 100px;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
    background: #ededed;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.slct-img .inr ul li .number-spinner .ns-btn .icon-minus::after {
    content: "\002212";
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
}
.slct-img .inr ul li .number-spinner .ns-btn .icon-plus::after {
	content: "\00002B";
    font-size: 28px;
    line-height: 40px;
    font-weight: 500;
}
.frm {
    float: right;
    width: 100%;
}
.frm-div {
	float: right;
	width: 100%;
	padding:25px 0 0;
}
.frm-div label {
	font-size: 15px;
	font-weight: 500;
	color: #471f58;
	float: right;
	width: 100%;
	text-align:right;
	padding:0 0 5px;
}
.frm-div label span {
	font-weight: 400;
}
.frm-div .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
	padding: 0;
}
.frm-div input[type="text"] {
	color: #5f5f5f !important;
}
.frm-div .form-control {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-radius: 0px !important;
	box-shadow: none;
	color: #5f5f5f !important;
	display: block;
	font-size: 14px;
	height: 50px;
	line-height: 1.42857;
	padding: 0 15px 0 0;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	margin: 0;
	position: relative;
	font-weight:400;
	text-align: right;
}
.frm-div textarea.form-control {
    height: 120px;
    resize: none;
	padding: 15px;
}
.frm-div .calendar {
	background: transparent;
	overflow: hidden;
	margin: 0 0 0 -2px !important;
	padding: 0 15px 0 0;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	height: 50px;
	border: 1px solid #dddddd;
	width: 100%;
	text-align: right;
}
.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
	z-index: 6 !important;
}
.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #471f58;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 16px;
}
.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}
.ui-datepicker-prev::after {
	transform: rotate(45deg);
	margin: -45px 0px 0px 6px;
}
.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}
.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -45px 0px 0px 4px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 6px;
	height: 6px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	border-color: #fff;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #471f58;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.ui-state-default {
	display: block;
	text-decoration: none;
	color: #471f58;
	line-height: 40px;

	font-size: 12px;
	font-weight: 700;
}
.ui-state-default:hover {
	background: #ebc868;
	color: #000;
	text-decoration:none;
}
.ui-state-highlight {
	color: #000;
	background: #ebc868;
}
.ui-state-active {
	background: #ebc868 none repeat scroll 0 0;
	color: #000;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}
.frm-div .ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #717171;
	font-size: 16px;
	padding: 0;
	position: absolute;
	left: 14px;
	bottom: 14px;
}
.frm-div .form-control::-moz-placeholder {
 color: #7d7d7d;
 opacity: 1;
}
.frm-div .form-control::-ms-input-placeholder {
 color: #7d7d7d;
}
.frm-div .form-control::-webkit-input-placeholder {
 color: #7d7d7d;
}
.frm-div .form-control::-o-input-placeholder {
 color: #7d7d7d;
}
.distance {width:100%; display:inline-block; margin:15px 0 25px;}
.distance .range-slider {
    margin:0;
	width: 100%;
	position:relative;
	direction: rtl;
}
.distance .range-slider__range::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border: 5px solid #471f58;
    border-radius: 50%;
    background: #ebc868;
    cursor: pointer;
    -moz-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}
.distance .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (0px));
    height: 5px;
    border-radius: 100px;
    background: #e4e4e4;
    outline: none;
    padding: 0;
    margin: 0;
}
.distance .range-slider__range::-moz-range-progress {
    height: 5px;
    border-radius: 100px;
    background: #471f58;
    outline: none;
    padding: 0;
    margin: 0;
}
.distance .range-slider__value {
    display: inline-block;
    position: absolute;
    width: auto;
    color: #2e2e2e;
    line-height: 20px;
    text-align: right;
    padding: 5px 0;
    margin-left: 0;
    font-size: 15px;
    top: 10px;
    font-weight: 400;
    right: 3px;
}
.days {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    position: absolute;
    left: 3px;
    top: 14px;
    color: #2e2e2e;
}

.frm-div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #ddd !important;
  background: #fff;
  background-image: none;
}
/* Remove IE arrow */
.frm-div select::-ms-expand {
  display: none;
}
/* Custom Select */
.frm-div .select {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: 0;
	direction: rtl;
}
.frm-div select {
    flex: 1;
    padding: 0 15px 0 0;
    color: #7d7d7d !important;
    cursor: pointer;
	font-size:15px;
	font-weight:400;
	text-align: right;
}
.frm-div #slct {
	text-align: right;
}
/* Arrow */
.frm-div .select::after {
    font: normal normal normal 22px FontAwesome;
    content: "\f107";
    position: absolute;
    top: 14px;
    left: 16px;
    padding: 0 15px 0 0;
    background: #fff;
    cursor: pointer;
    pointer-events: none;
    color: #717171;
}

.form__checkbox {
    position: relative;
    display: block;
	float: right;
	margin: 10px 0 0;
}
.form__checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}
.form__checkbox label {
	font-weight: 500;
    color: #3c3c3c;
    margin: 0;
    padding: 0 30px 0 0;
    line-height: 18px;
    font-size: 15px;
	position: relative;
	z-index: 9;
	height: 20px;
	cursor: pointer;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.form__checkbox input[type="checkbox"]:checked ~ label {
    color: #3c3c3c;
}
.form__checkbox .checkbox {
    height: 20px;
    width: 20px;
    border: 2px solid #b8b8b8;
    box-shadow: none;
    border-radius: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    background-color: #fff;
    background-image: none;
    -moz-transition: border 0.2s ease-in-out;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
    margin-top: -12px;
}
.form__checkbox .checkbox::before {
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
	position: absolute;
	top: 50%;
	right: 50%;
	display: block;
	width: 6px;
	height: 12px;
	content: '';
	-moz-transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
	-o-transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
	transition: background 0.2s ease-in-out, transform 0.15s ease-in-out;
	-webkit-transform: scale(0) rotate(45deg);
	-moz-transform: scale(0) rotate(45deg);
	-ms-transform: scale(0) rotate(45deg);
	-o-transform: scale(0) rotate(45deg);
	transform: scale(0) rotate(45deg);
	margin: -7px -3px 0 0;
}
.form__checkbox input[type="checkbox"]:checked ~ .checkbox {
    background-color: #471f58;
	border: 2px solid #471f58;
}
.form__checkbox input[type="checkbox"]:checked ~ .checkbox::before {
    -webkit-transform: scale(1) rotate(45deg);
    -moz-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}
.wdt {
    width: 100%;
    text-align: right;
    float: left;
}
.flwng-info {
    width: 100%;
    float: right;
}
.flwng-info h4 {
    width: 100%;
    color: #282828;
    font-size: 16px;
    font-weight: 500;
    float: right;
    margin: 0;
    text-align: right;
}
.flwng-info ul {
	list-style:none;
	margin:0;
	padding:10px 0 0;
	width:100%;
	display: inline-block;
}
.flwng-info ul li {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    list-style: none;
    padding: 5px 0;
    width: 100%;
    float: right;
}
.flwng-info ul li i {
	font-size:15px;
	color:#ebc868;
	padding-left:10px;
	float: right;
}
/*-----Left Side CSS End-----*/

/*-----Right Side CSS Start-----*/
aside {
    min-height: 100%;
}
aside .inr-cnt {
    margin: 10px 0 25px;
}
.inr-cnt .review-div {
	width: 100%;
	float: left;
	padding: 30px;
}
.inr-cnt .review-div .user {
	width: auto;
	text-align: center;
	float: right;
	border: 1px solid #ddd;
	overflow: hidden;
	border-radius: 100px;
}
.inr-cnt .review-div .user img {
	height: 64px;
	width: 64px;
}
.inr-cnt .review-div .review-block {
	width: 77%;
	float: right;
	padding-right: 15px;
}
.inr-cnt .review-div .review-block h5 {
	width: 100%;
	color: #282828;
	font-size: 16px;
	font-weight: 500;
	float: right;
	margin: 0;
	text-align: right;
	padding-top:5px;
}
.inr-cnt .review-div .review-block .date {
	width: 100%;
	color: #7e7e7e;
	font-size: 13px;
	font-weight: 300;
	float: right;
	margin: 0;
	text-align: right;
}
.inr-cnt .review-div .review-block .ratting{
	width: 100%;
	float: right;
	padding-top:3px;
}
.inr-cnt .review-div .review-block .ratting svg {
    float: right;
    color: #ebc868;
    width: 13px;
    height: 13px;
}
.inr-cnt .review-div p {
	float: right;
	width: 100%;
	text-align: right;
	padding: 18px 0 0;
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	font-weight: 400;
	margin: 0;
}
ul.need-cntc {
	width:100%;
	margin:0;
	list-style:none;
	float:left;
	padding: 30px;
}
ul.need-cntc h4 {
	width: 100%;
	color: #282828;
	font-size: 20px;
	font-weight: 500;
	float: left;
	margin: 0;
	text-align: center;
	padding-bottom:15px;
}
ul.need-cntc li {
	font-size:15px;
	color:#272727;
	font-weight:300;
	list-style:none;
	padding: 12px 0;
	border-bottom:1px solid #ddd;
	line-height:22px;
	text-align:center;
	float: left;
	width: 100%;
}
ul.need-cntc li:last-child {
	padding: 12px 0 0;
	border-bottom:none;
}
ul.need-cntc li a{
	font-size:18px;
	color:#471f58;
	font-weight:400;
	padding: 10px 0;
}
ul.need-cntc li a:hover{
	color:#000;
	text-decoration:none;
}

/*-----Right Side CSS End-----*/

/*=====  Detail  Request Page CSS End  ======*/
.downloadApp .dapCont {
	padding: 50px 55% 0 0;
    background-position: bottom -180px right 100px;
}
.travel-drp .form-control{
	padding: 0 7px 0 0;
}

.clearable__clear{ 
	left: 10px;
	right: unset !important;
}