@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*========banner=======*/

.banner_main {
    position: relative;
}


/* .bannerSec {
    background: url(../images/banner-bg.jpg) no-repeat;
    background-position: center !important;
    
    background-size: cover !important;
} */

.bannerSec {
    width: 100%;
}

.bannerSec .banner-text h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-transform: capitalize;
    text-align: left;
}

.bannerSec .banner-text p {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.owl-theme .owl-controls .owl-page span {
    background: #fff;
    opacity: 1;
    height: 5px;
    width: 30px;
    border-radius: 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #eac868;
}


/*====FORM======*/


/*================Booking-Form-Css================*/

.booking-form {
    position: relative;
    background: #f4f4f4;
    padding: 20px 0 9px 0;
    -webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
}

.search-section {
    position: relative;
}

.all-search-box {
    padding: 0;
}

.booking-tab {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-top: -74px;
}

.tab-field {
    padding: 0;
}

.search-section .nav-tabs {
    border-bottom: none;
    text-align: center;
}

.search-section .nav-tabs>li {
    float: none;
    text-align: center;
    display: inline-block;
    width: 151px;
}

.search-section .nav-tabs .active {
    position: relative;
}

.search-section .nav-tabs>li>a {
    color: #484848;
    background-color: #f4f4f4;
    font-weight: 400;
    border-radius: 0;
    margin-right: 0;
    border: none !important;
}

.search-section .nav>li>a {
    padding: 15px;
    font-size: 18px;
    color: #484848;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.service-icon i {
    color: #484848;
    margin: 0 auto;
    padding: 0 6px;
}

.search-section .nav-tabs>li:hover i {
    color: #484848;
}

.search-section .nav-tabs>li.active i {
    color: #fff;
}

.search-section .nav-tabs>li.active>a,
.search-section .nav-tabs>li.active>a:focus,
.search-section .nav-tabs>li.active>a:hover {
    border: none;
    background: #eac868;
    color: #fff;
}

.search-section .tab-content {
    color: #07253f;
}

.search-section .tab-content .form {
    padding-top: 12px;
}

.search-col-padding .input-group {
    display: block;
}

.search-section label {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    line-height: 16px;
}

.search-section .form-control {
    background-color: transparent;
    border: none;
    border-right: 1px solid #65686c;
    border-radius: 0px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #07253F;
    display: block;
    font-size: 14px;
    height: 68px;
    line-height: 1.42857;
    padding: 0 0 0 20px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    color: #9ca6b0 !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    /*z-index: 1;
    */
    margin: 0;
    position: relative;
}

.en_dwn {
    position: relative;
}

.en_dwn::after {
    content: '\f107';
    position: absolute;
    right: 11px;
    top: 24px;
    font-family: FontAwesome;
    color: #eaebeb;
}

.kmsliderSec {
    width: 100%;
    height: 68px;
    border-right: 1px solid #65686c !important;
    padding: 5px;
    font-size: 14px;
    color: #9ca6b0 !important;
    text-align: center;
}

.search-section .plane-icon {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.search-section .form-control::-moz-placeholder {
    color: #9ca6b0;
    opacity: 1;
}

.search-section .form-control:-ms-input-placeholder {
    color: #9ca6b0;
}

.search-section .form-control::-webkit-input-placeholder {
    color: #9ca6b0;
}

.search-section .form-control::-o-input-placeholder {
    color: #9ca6b0;
}

.search-section .input-group-addon {
    background: transparent;
    color: #BEC4C8;
    border-top: 1px solid #BEC4C8;
    border-right: 1px solid #BEC4C8;
    border-bottom: 1px solid #BEC4C8;
    border-radius: 0;
}

.search-section .search-col-padding {
    padding: 0;
    background: #484848;
}

.search-section option {
    color: #07253F;
}

.calendar {
    width: 100%;
    background: #484848;
    overflow: hidden;
    margin: 0 !important;
    padding: 8px 0 8px 20px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #9ca6b0!important;
    height: 68px;
    border: none !important;
    border-right: 1px solid #65686c !important;
}

.calendar ::placeholder {
    color: #9ca6b0!important;
}

.ui-datepicker {
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    display: none;
}

.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #fff !important;
    background: #eac868 !important;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.04em;
    margin-bottom: 0px !important;
}
.ui-widget-header .ui-icon{
    display: none !important;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px !important;
    height: 20px !important;
    text-indent: 9999px !important;
    border: 2px solid #fff !important;
    border-radius: 100% !important;
    cursor: pointer !important;
    overflow: hidden !important;
    margin-top: 12px !important;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: 6px 0px 0px 6px;
}

.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}

.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: 6px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color:#000 !important;
}
.ui-datepicker-header a:hover{
    border:2px solid #000 !important;
}

.ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 37px !important;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 2px;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
    color: #2e475d;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
    font-size: 14px;
    padding: 2px;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

.ui-datepicker-calendar thead tr th span {
    display: block;
    /* width: 40px; */
    color: #eac868;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #42474d;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
}

.ui-state-default:hover {
    background: #471b58 !important;
    color: #fff !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #471b58 !important;
    color: #fff !important;
}

.ui-state-highlight {
    color: #fff;
    background: #eac868;
}

.ui-state-active {
    background: #95a9bf none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #afc2d8;
    border: 2px solid transparent;
}

.ui-datepicker-trigger {
    background-color: transparent;
    border: medium none;
    color: #ababab;
    font-size: 22px;
    padding: 0;
    position: absolute;
    left: 10px;
    bottom: 20px;
}

.custom-select-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 0;
    height: 40px;
}

.bootstrap-select.btn-group .dropdown-menu {
    background: #3a7fc1;
    border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu li {
    display: contents;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    color: #ffffff;
    background: #3a7fc1 !important;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
    color: #00ADEF;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.btn-group.open .dropdown-toggle {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btn:hover {
    color: #da434a;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-button::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0 0;
    -moz-transform-origin: 50% 0 0;
    -o-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-property: transform;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    z-index: -1;
    border-radius: 20px;
}

.search-button {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    background: #eac868;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    border: none;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    height: 68px;
}

.search-button i {
    font-size: 20px;
    padding-left: 15px;
}

.search-col-padding input[type="radio"] {
    margin-top: 2px;
}

.search-col-padding .active {
    color: #fff;
}

.trip-button {
    margin-top: 10px !important;
}

.search-button:hover {
    color: #fff;
    text-decoration: none;
    background: #484848;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#flight_direct {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    background: white;
    font-size: 16px;
}


/*-----Select Box CSS-----*/

.bootstrap-select {
    width: 220px;
}

.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48
}

.bootstrap-select.fit-width {
    width: auto!important
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 220px
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none
}

.bootstrap-select.form-control:not([class*=col-]) {
    width: 100%
}

.bootstrap-select.form-control.input-group-btn {
    z-index: auto
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
    float: right
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group {
    margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
    width: 100%
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group>.disabled {
    cursor: not-allowed
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group>.disabled:focus {
    outline: 0!important
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 1035;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
    position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
    cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: .5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    pointer-events: none;
    opacity: .9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
    z-index: 1036
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, .2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, .2);
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid #fff;
    border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
    display: block
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
    padding: 4px 8px
}

.bs-actionsbox {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bs-actionsbox .btn-group button {
    width: 50%
}

.bs-donebutton {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.bs-donebutton .btn-group button {
    width: 100%
}

.bs-searchbox+.bs-actionsbox {
    padding: 0 8px 4px
}

.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%
}

select.bs-select-hidden,
select.selectpicker {
    display: none!important
}

select.mobile-device {
    position: absolute!important;
    top: 0;
    left: 0;
    display: block!important;
    width: 100%;
    height: 100%!important;
    opacity: 0
}

#flight form .input-group {
    display: block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-color: transparent;
    color: #979797;
}

.select2-container .select2-selection--single {
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #646060 !important;
    /* text color */
    line-height: 34px;
    background: #ffff;
    border-radius: 0px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    color: #646060;
}

 ::placeholder {
    font-size: 14px;
    color: #9ca6b0 !important;
    font-family: 'Open Sans', sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    position: absolute;
    right: 1px;
    top: 17px;
    width: 40px;
    text-align: center;
    line-height: 30px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    /* input background color */
    border: none;
    border-radius: 0px;
    height: 68px !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #96a9bf;
    /* option hover background */
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #96a9bf;
    /* option hover background */
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.select2-selection__arrow i {
    background-color: transparent;
    border-radius: 50%;
    color: #ababab;
    padding: 7px;
    font-size: 20px;
}

.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus {
    border-color: #6e8095;
}

.select2-dropdown {
    border-color: #6e8095;
}

.tab-pane h3 {
    font-size: 23px;
    font-weight: 700;
}

.select-label {
    font-size: 15px !important;
    font-weight: 600 !important;
    text-transform: capitalize!important;
    padding-bottom: 10px;
}

.change-destination::after {
    content: url(../images/exchange-icon.png);
    position: absolute;
    right: -13px;
    top: 18px;
    z-index: 1;
}

.change-date::after {
    content: url(../images/exchange-date.png);
    position: absolute;
    right: -13px;
    top: 18px;
    z-index: 1;
}

.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    position: absolute;
    right: 1px;
    top: 4px;
    width: 40px;
    text-align: center;
    line-height: 30px;
    z-index: 1;
}

.booking-form1 .form-group2 .select2-container .select2-selection--single,
.booking-form1 .form-group .select2-container .select2-selection--single {
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px !important;
}

.booking-form1 .form-group2 .select2-selection__arrow i {
    background-color: transparent;
    border-radius: 50%;
    color: #fff;
    padding: 7px;
    font-size: 15px;
}


/* Travellers CSS BOF ===================================================*/

.travellersDropdown {
    position: relative;
}

.custom-select-v3 {
    position: relative;
    cursor: pointer;
}

.custom-select-v3::before {
    background: 0 0;
    border: 0;
    top: 14px;
    color: #9ca6b0;
    display: block;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
    margin-right: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 24px;
    z-index: 6;
    font-weight: 700;
    content: "\f107";
    font-family: 'FontAwesome';
}

.travellersDropdown span[class^="icon-"] {
    color: #a0a0a0;
    font-size: 22px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 9px;
    z-index: 1;
}

.travellersDropdown span[class^="icon-"] {
    color: #a0a0a0;
    font-size: 22px;
    pointer-events: none;
}

.custom-select-v3 input {
    text-overflow: ellipsis;
    padding-right: 30px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    padding-left: 10px !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    color: #646060 !important;
}

.custom-select-v3 select,
.form-control {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: normal;
    margin-bottom: 20px;
    padding: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    box-shadow: none;
    color: #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.travelerSelectWindow {
    width: 330px;
    position: absolute;
    top: 68px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    z-index: 3;
    display: none;
}

.travelerSelectWindow.active {
    display: block;
}

.travelerSelectWindow .travelDropdown {
    margin: 15px 15px 0;
}

.travelerSelectWindow fieldset {
    padding: 0 13px 15px 0;
}

fieldset {
    min-width: 0;
    margin: 0;
}

.travellersDropdown .travelerSelectWindow label {
    font-size: 14px;
    color: #000;
    float: left;
    min-width: 100px;
    padding-top: 10px;
    display: inline-block;
    font-weight: 400;
    max-width: 100%;
}

.trvFld {
    float: left;
    margin-right: 10px;
    width: 70px;
}

.trvFld .custom-select-v3 {
    display: block;
}

.trvFld .custom-select-v3::before {
    font-size: 12px;
    height: 35px;
    line-height: 6px;
}

.trvFld .custom-select-v3 select {
    text-align: left;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
    color: #000;
    padding: 0 8px;
}

.travelerSelectWindow .custom-select-v3 select {
    border: 1px solid #ccc;
}

.custom-select-v3 select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #000;
    cursor: pointer;
}

select option {
    padding: 2px 5px;
    background: #fff;
}

.trvFld .custom-select-v3 select {
    text-align: left;
    line-height: 35px;
    color: #000;
}

.travelerSelectWindow .ageRange {
    float: left;
    font-size: 14px;
    color: #c2c2c2;
    padding-top: 10px;
}

.classSec {
    border-top: 1px solid #d1d1d1;
    padding-top: 15px;
    margin: 0 15px 15px;
    overflow: hidden;
}

.classSec .custom-select-v3::before {
    top: 0;
}

.classSec label {
    margin-top: 5px;
}

.classSec .custom-select-v3.lg {
    float: right;
    width: 65%;
}

.classSec .custom-select-v3.lg select {
    margin: 0;
}

.classSec .custom-select-v3 select {
    cursor: pointer;
}

.classSec .custom-select-v3 select {
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    text-indent: initial;
    color: #000;
}

.travelerSelectWindow .custom-select-v3 select {
    border: 1px solid #ccc;
    margin-top: 0;
}

.custom-select-v3 select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #000;
}

.travelerSelectWindow .travelDropdown {
    margin: 15px 15px 0;
}

.travelerSelectWindow .closeDropdown {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #d1d1d1;
    background: #f5f5f5;
    border-radius: 0 0 2px 2px;
    position: relative;
}

.travelerSelectWindow .closeBtn {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    z-index: 1;
    padding: 7px 10px;
    background: #eac868;
    display: inline-block;
    border-radius: 3px;
    opacity: .8;
    top: 8px;
}

.travelerSelectWindow .closeBtn {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.travelerSelectWindow .closeBtn:hover {
    opacity: 1;
}

.travellersDropdown.arrow::after {
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 12px;
    bottom: -21px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -12px;
    position: absolute;
    width: 0;
    z-index: 1;
}

.travellersDropdown.arrow::after {
    bottom: -15px;
    z-index: 6;
}


/*===========================================
=            Radio Button Custom            =
===========================================*/

.radio {
    padding-left: 20px;
    margin-bottom: 12px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    font-size: 15px;
    color: #292929;
    font-weight: 700;
    padding-top: 3px;
    text-transform: uppercase;
}

.radio label.active,
.radio label:focus {
    color: #eac868;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    margin-left: -13px;
    border: 2px solid #696969;
    border-radius: 50%;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
    top: 4px;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 6px;
    height: 6px;
    left: 11px;
    top: 8px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-success input[type="radio"]+label::after {
    background-color: #eac868;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #eac868;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #eac868;
}

.radio-success input[type="radio"]:checked+label {
    color: #eac868;
}


/*==============End-Booking-Form-Css===========*/


/*==============About-Section===========*/
.easyContent{
    display: table;
    width: 100%;
    margin: 7px 0;
}
.about-main {
    background: #f9f9f9;
    display: table;
    width: 100%;
}

.about-img img {
    width: 100%;
    max-height: 325px;
    min-height: 325px;
}
.about_description{
    height: 120px;
    overflow: auto;
}
.about_description::-webkit-scrollbar {
    width: 5px;
}
.about_description::-webkit-scrollbar-track {
    background: #e6e6e6;
}
.about_description::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}
.offer_description{
    height: 120px;
    overflow: auto;
    padding-right: 11px;
}
.offer_description::-webkit-scrollbar {
    width: 5px;
}
.offer_description::-webkit-scrollbar-track {
    background: #e6e6e6;
}
.offer_description::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}


.about-img {
    -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.about-text-main {
    position: relative;
}

.about-text {
    max-width: 570px;
    width: 100%;
    /* display: table-cell;
    vertical-align: middle;
    height: 560px; */
    padding-top: 16px;
    padding-bottom: 16px;
}

.about-text h2 {
    font-weight: 700;
    color: #eac868;
    line-height: 40px;
}

.about-text p {
    font-size: 16px;
    color: #323232;
    line-height: 28px;
    padding: 8px 0px;
}

.about-text .btn {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: #292929;
    padding: 12px 34px;
    border-radius: 10px;
}

.about-text .btn:hover {
    color: #fff;
    background: #eac868;
}

.about-text .btn i {
    padding-left: 5px;
}


/*==============End-About us-css===========*/


/*==============Holiday-Packages===========*/

.title-pattern {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.packages-main {
    background: #fff;
    position: relative;
    padding-top: 16px;
}

.packages-main h2 {
    text-align: center;
    margin-bottom: 16px;
}

.packages-main .item {
    background: #f4f4f1;
    margin: 0 15px;
    position: relative;
}

.packages-main .item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    -webkit-box-shadow: inset 0px -129px 124px -4px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: inset 0px -129px 124px -4px rgba(0, 0, 0, 0.67);
    box-shadow: inset 0px -129px 124px -4px rgba(0, 0, 0, 0.67);
}

.packages-main .item:hover::before {
    -webkit-box-shadow: inset 40px -154px 150px 16px rgba(252, 80, 0, 0.81);
    -moz-box-shadow: inset 40px -154px 150px 16px rgba(252, 80, 0, 0.81);
    box-shadow: inset 40px -154px 150px 16px rgba(252, 80, 0, 0.81);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.packages-main .package-image img {
    width: 100%;
}

.pack-home-detail {
    text-align: left;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.pack-home-detail h3 {
    color: #181818;
    font-size: 30px;
    padding: 0 0 20px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    line-height: 35px;
    display: inline-block;
    margin-bottom: 15px;
}

.pack-home-detail h3 a {
    color: #fff;
}

.pack-home-detail h3 a:hover {
    color: #000;
}

.pack-home-detail p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    padding: 0;
}

.pack-home-detail p span {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.day-night {
    margin-top: 10px;
}

.day-night p {
    color: #fff;
    display: inline-block;
    font-size: 14px;
}

.day-night p::after {
    content: "|";
    color: #fff;
    padding: 0 5px;
}

.day-night p:last-child::after {
    content: "";
    display: none;
}

.packages-main .owl-pagination {
    display: none;
}

.packages-main .owl-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
}

.packages-main .owl-buttons .owl-prev {
    float: left;
    margin-left: -6px !important;
}

.packages-main .owl-buttons .owl-next {
    float: right;
    margin-right: -6px !important;
}

.owl-theme .owl-controls .owl-buttons div {
    background-color: #eac868;
    color: #fff;
    opacity: 1;
    font-size: 28px;
    padding: 0;
    height: 58px;
    width: 58px;
    border-radius: 5px;
    border: 5px solid #fff;
    line-height: 48px;
}

.owl-theme .owl-controls .owl-buttons div:hover {
    color: #FFF;
    background: #471b58;
}


/*==============End-Holiday-Packages===========*/


/*==============Summer-Promotion===========*/
.no-padding{
    padding-left: 0px;
    padding-right:0px
}
.summer-promo {
    background: url(../images/offer-banner.jpg) no-repeat;
    background-size: cover;
    margin:0px;
}

.summer-promo .container-fluid {
    padding-left: 0;
}

.promotion-package {
    text-align: left;
    -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 23px 23px 20px;
}

.promotion-package h2 {
    text-align: left;
    color: #fff;
    font-size: 59px;
    font-weight: 800;
    line-height: 54px;
    text-transform: uppercase;
    color: #eac868;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
}

.promotion-package p {
    color: #292929;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    width: 60%;
}

.promotion-package span {
    color: #292929;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 700;
    line-height: 50px;
}

.promotion-package .btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background: #292929;
    padding: 12px 34px;
    display: inline-block;
    border-radius: 0;
    margin-top: 20px;
    border-radius: 5px;
}

.promotion-package .btn:hover {
    background: #eac868;
    color: #fff;
}


/*==============End-Summer-Promotion===========*/


/*Inner pages*/

.common_header {
    width: 100%;
    padding: 180px 0px;
    background-size: cover;
    background-position: top;
}

.breadcrums_sec {
    width: 100%;
}

.breadcrumsArea {
    width: 670px;
    margin: auto;
}

.breadcrumsArea1 {
    width: 100%;
    background: #FFF;
    padding: 30px 10px;
    text-align: center;
    position: relative;
    /* margin-top: -100px; */
    /* box-shadow: 4px 0px 9px #0000001f; */
}

.breadcrumsArea1 h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #471b58;
    font-weight: bold;
    text-transform: capitalize;
    line-height: normal;
    margin-bottom: 5px;
}

.breadcrumsArea1 h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #eac868;
    font-weight: 600;
    text-transform: capitalize;
}

.breadcrumsArea1 h6 a {
    font-weight: 600;
    color: #000;
}

.breadcrumsArea1 h6 i {
    padding: 0 10px;
    color: #000;
}

.cmn_area {
    width: 100%;
    padding: 61px 0px 0px 0px;
}

.packageSection {
    width: 100%;
    float: left;
    margin-bottom: 54px;
    background: #FFF;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.packageImgArea {
    width: 100%;
    overflow: hidden;
}

.packageImgArea img {
    width: 100%;
    transition: 0.4s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 240px;
}

.packageHover:hover img {
    transform: scale(1.1);
}

.specialOffers {
    padding: 7px 25px 7px 12px;
    background: #FFF;
    position: absolute;
    left: 0;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #eac868;
    font-weight: 700;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.packageContent {
    width: 100%;
    padding: 23px 23px 53px 23px;
}

.packageContent h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #eac868;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    line-height: inherit;
    margin-bottom: 10px;
}

.packageContent h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: #363636;
    font-weight: 800;
    padding: 0;
}

.packageContent h5 span {
    font-weight: 500;
    font-size: 17px;
}

.viewoffers {
    width: 100%;
    float: left;
    position: relative;
}

.viewoffers a {
    background: #292929;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding: 9px 29px;
    margin: auto;
    display: table;
    position: relative;
    margin-top: -78px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.packageHover:hover .viewoffers a {
    background: #eac868;
}

.ar_direction1 .specialOffers {
    left: inherit;
    right: 0;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 7px 12px 7px 25px;
}

.packageviewSec {
    width: 100%;
    float: left;
}

.packageviewSec h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: #471b58;
    font-weight: 700;
    letter-spacing: 0;
    padding-bottom: 6px;
}

.packageviewSec h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.packageviewSec h5 span {
    color: #eac868;
}

.daysSec {
    width: 100%;
    float: left;
    padding: 8px 0px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
}

.firstSec_days {
    float: left;
}

.firstSec_days p {
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding: 0px;
}

.firstSec_days p:first-child {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #000;
}

.media_package {
    float: right;
    clear: inherit !important;
}

.media_package i {
    width: 27px;
    height: 27px;
    background: #471b58;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    font-size: 13px;
}

.packageviewImg {
    width: 100%;
    float: left;
    position: relative;
}

.packageviewImg img {
    width: 100%;
}

.Booking_form {
    width: 100%;
    float: left;
    background: #471b58;
    padding: 18px;
}

.Booking_form h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 29px;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 23px;
    border-bottom: 1px solid #FFF;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-txt {
    width: 100%;
    float: left;
}

.booktxt {
    width: 100%;
    height: 47px;
    padding: 0px 10px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222931;
    border: none !important;
    font-weight: 400 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: none;
    z-index: 9;
    position: relative;
}

.sp_bk_color {
    background: #f4f4f1 !important;
    margin: 0px 0 15px 0 !important;
}

.booktxtArea {
    width: 100%;
    height: 98px;
    background: #f4f4f1 !important;
    padding: 10px 10px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222931;
    margin: 0px 0 10px 0 !important;
    border: none !important;
    font-weight: 400 !important;
    resize: none;
}

.booktxt::placeholder {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    color: #222931 !important;
    font-weight: 400;
}

.booktxt:-ms-input-placeholder {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    color: #222931 !important;
    font-weight: 400;
}

.booktxt::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    color: #222931 !important;
    font-weight: 400;
}

.booktxtArea::placeholder {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    color: #222931 !important;
    font-weight: 400;
}

.booktxtArea:-ms-input-placeholder {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    color: #222931 !important;
    font-weight: 400;
}

.booktxtArea::-webkit-input-placeholder {
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px !important;
    color: #222931 !important;
    font-weight: 400;
}

.form-txt button {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background: #eac868;
    padding: 12px 70px;
    display: block;
    border-radius: 0;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    margin: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.form-txt button:hover {
    background: #FFF;
    color: #eac868;
}

.twise_sec {
    width: 48.4%;
    float: left;
    position: relative;
}

.twise_sec:last-child {
    float: right;
}

.twise_sec i {
    position: absolute;
    right: 10px;
    top: 15px;
}

.detailspage_tab {
    width: 100%;
    float: left;
    border: 1px solid #eaeaea;
    margin-top: 57px;
}

.detailspage_tab .nav-tabs {
    border-bottom: none;
    margin-top: -23px;
}

.detailspage_tab .nav-tabs>li>a {
    background: #f4f4f1;
    border-radius: 45px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.detailspage_tab .nav-tabs>li.active a {
    background: #eac868;
    color: #FFF;
}

.detailspage_tab .tab-content {
    padding: 14px;
}

.detailspage_tab .tab-content h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #212121;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}

.detailspage_tab .tab-content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
}

.detailspage_tab table {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #212121;
}

.packageMap {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.contactus_map {
    width: 100%;
    height: 550px;
}

.contactusArea {
    width: 100%;
    padding: 61px 0px 109px 0px;
}

.contactusArea h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: #292929;
    font-weight: 700;
    border-left: 5px solid #eac868;
    padding-left: 17px;
    margin-bottom: 10px;
}

.contactusArea p {
    font-family: 'Open Sans', sans-serif;
    color: #434343;
    font-size: 16px;
}

.contactFrom_sec {
    width: 100%;
    padding-top: 27px;
}

.Txt_sec {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: none !important;
    border-bottom: 1px solid #d3d3d3 !important;
    font-family: 'Open Sans', sans-serif;
    color: #434343;
    font-size: 16px !important;
    margin-bottom: 24px !important;
    margin-top: 0px !important;
}

.Txt_sec01 {
    width: 100%;
    height: 150px;
    background: #FFF;
    border: none !important;
    border-bottom: 1px solid #d3d3d3 !important;
    font-family: 'Open Sans', sans-serif;
    color: #434343;
    font-size: 16px !important;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
    resize: none;
}

.Txt_sec::-moz-placeholder {
    color: #b5b5b5 !important;
    opacity: 1 !important;
    font-size: 16px !important;
}

.Txt_sec:-ms-input-placeholder {
    color: #b5b5b5 !important;
    font-size: 16px !important;
}

.Txt_sec::-webkit-input-placeholder {
    color: #b5b5b5 !important;
    font-size: 16px !important;
}

.Txt_sec::-o-input-placeholder {
    color: #b5b5b5 !important;
    font-size: 16px !important;
}

.Txt_sec01::-moz-placeholder {
    color: #b5b5b5 !important;
    opacity: 1 !important;
    font-size: 16px !important;
}

.Txt_sec01:-ms-input-placeholder {
    color: #b5b5b5 !important;
    font-size: 16px !important;
}

.Txt_sec01::-webkit-input-placeholder {
    color: #b5b5b5 !important;
    font-size: 16px !important;
}

.Txt_sec01::-o-input-placeholder {
    color: #b5b5b5 !important;
    font-size: 16px !important;
}

.contactSend {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    background: #eac868;
    padding: 12px 50px;
    border-radius: 0;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}

.contactSend:hover {
    background: #471b58;
    color: #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contact_address {
    width: 100%;
    float: left;
    background: #471b58;
    padding: 48px 24px;
}

.addressSec {
    width: 100%;
    float: left;
    margin-bottom: 34px;
}

.addressSec h4 {
    font-weight: 700;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    border-left: 5px solid #eac868;
    padding: 0px;
    padding-left: 13px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.addressSec p,
.addressSec p a {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #d7d7d7;
    padding: 0;
}

.contactMedia_icons {
    width: 100%;
    float: left;
}

.contactMedia_icons i {
    color: #d7d7d7;
    font-size: 24px;
}

.contactMedia_icons a {
    margin-right: 24px;
}

.ar_direction1 .addressSec h4 {
    border-left: 0;
    border-right: 5px solid #eac868;
    padding-left: 0px;
    padding-right: 13px;
}

.ar_direction1 .contactMedia_icons a {
    margin-right: 0px;
    margin-left: 24px;
}

#contactuspage .ar_direction1 h3 {
    border-left: 0;
    border-right: 5px solid #eac868;
    padding-left: 0px;
    padding-right: 13px;
}

.aboutUs {
    width: 100%;
    padding: 61px 0px 0px 0px;
}

.aboutUs h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: #000;
}

.aboutUs h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #000;
}

.aboutUs p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: justify;
    padding: 8px 0px;
    line-height: 25px;
}

.aboutUs p span {
    color: #eac868;
    font-weight: 600;
}

.aboutImg img {
    width: 100%;
}

.what-we-do h4 {
    padding: 0;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 19px;
}

.what-we-do ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.what-we-do ul li {
    margin-bottom: 11px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.what-we-do ul li i {
    color: #eac868;
    margin-right: 10px;
}

.ar_direction1 .what-we-do ul li i {
    transform: rotate(180deg);
    margin-left: 9px;
}

.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 67px;
}

.autocomplete ul.autocomplete-results li {
    color: #3e3e3e;
    font-size: 13px;
    font-weight: 400;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #fff;
}

.autocomplete-result {
    list-style: none;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}

.hotelSearch {
    width: 100%;
    float: left;
}

.htlbtn {
    float: right;
}

.ar_direction1 .htlbtn {
    float: left;
}

.hotlsSec {
    width: 100%;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

.hotlsSec .rooms {
    font-size: 15px;
    color: #000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 68px;
}

.hotlsSec .rooms i {
    font-size: 21px !important;
    color: #eac868;
}

.multilegSec {
    width: 100%;
    float: left;
}

.multiSec_area {
    width: 100%;
    float: left;
    padding: 2px 0px;
}

.multiLast {
    width: 100%;
    float: left;
}

.mrg2 {
    margin-top: 2px;
}

.multiSec {
    width: 100%;
    float: left;
}

.multiSec h4 {
    font-family: 'Open Sans', sans-serif;
    color: #eac868;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    padding-bottom: 3px;
    padding-top: 24px;
}

.multiSec h4 i {
    font-size: 22px;
    cursor: pointer;
}

.add_multi_sec {
    width: 100%;
    float: left;
}

.add_multi_sec button {
    padding: 5px;
    background: #eac868;
    color: #FFF;
    font-size: 13px;
    border: none;
    margin: 6px 0px;
    float: right;
}

.multiSec1 i {
    float: left !important;
    margin-left: 0px !important;
}

.ar_direction1 .en_dwn::after {
    left: 11px;
    right: inherit;
}

.advance_search {
    width: 100%;
    float: left;
}

.advSearch {
    padding: 10px 0px 6px 0px;
}

.direct {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #eac868 !important;
    line-height: 27px !important;
    margin-top: 8px;
    float: left;
}


/* Hide the browser's default checkbox */

.direct input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkMark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #a1a1a1;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.direct:hover input~.checkMark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.direct input:checked~.checkMark {
    background-color: #eac868;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkMark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.direct input:checked~.checkMark:after {
    display: block;
}


/* Style the checkmark/indicator */

.direct .checkMark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.advSearch span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    color: #eac868;
}

.advSearchView {
    width: 100%;
    float: left;
    border: 1px dashed #c2c2c2;
    padding: 9px;
    background: #ededed;
}

.multiselect__tags {
    /* height: 40px; */
    display: block;
    padding: 12px 40px 0 8px !important;
    border-radius: 0px !important;
    border: none !important;
    background: #484848 !important;
    font-size: 14px;
}

.multiselect__input,
.multiselect__single {
    background: none !important;
    color: #9ca6b0 !important;
    font-size: 14px !important;
}

.multiselect__input,
.multiselect__single {
    background: none !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
    color: #9ca6b0 !important;
    font-size: 14px !important;
}

.multiselect__input::placeholder {
    color: #9ca6b0 !important;
    font-size: 14px !important;
}

.multiselect__input::-webkit-input-placeholder {
    color: #9ca6b0 !important;
    font-size: 14px !important;
}

.multiselect__input::-moz-placeholder {
    color: #9ca6b0 !important;
    font-size: 14px !important;
}

.multiselect__option--highlight {
    background: #eac868 !important;
    color: #FFF !important;
}

.multiselect__option--highlight:after {
    content: attr(data-select);
    background: #eac868 !important;
    color: #FFF !important;
}

.multiselect__option--highlight span {
    color: #FFF !important;
}

.multiselect {
    color: #c6cbd0 !important;
}

.custom__tag {
    padding-right: 5px !important;
}

.custom__remove {
    margin-left: 5px;
}

.multiselect__option {
    color: #464646 !important;
}

.widthSec {
    width: 100% !important;
    float: left;
}

.mrg10 {
    margin-bottom: 10px;
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.txtelips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 18px !important;
}

.ar_direction1 .ar_flx {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ar_direction1 .direct {
    float: right;
    padding-left: 0px;
    padding-right: 35px;
}

.ar_direction1 .direct .checkMark {
    left: inherit;
    right: 0;
}

.ar_direction1 .multiselect__tags {
    padding: 12px 8px 0 40px !important;
}

@media (max-width: 768px) {
    .breadcrumsArea {
        width: 100%;
    }
    .breadcrumsArea1 {
        padding: 13px 10px;
        margin-top: 0;
        box-shadow: none;
    }
    .breadcrumsArea1 h1 {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 8px;
    }
    .breadcrumsArea1 h6 {
        font-size: 15px;
    }
    .cmn_area {
        padding: 0px 0px 0px 0px;
    }
    footer .flx_sec .col-md-3,
    footer .flx_sec .col-md-6,
    .reserved,
    .Powered {
        width: 100%;
        float: left;
    }
    .common_header {
        padding: 80px 0px;
    }
}

@media (max-width: 990px) {
    .contact_address {
        margin-top: 10px;
    }
    .contactusArea {
        padding: 47px 0px 29px 0px;
    }
    .contactSend {
        width: 100%;
    }
    .aboutUs {
        padding: 47px 0px 29px 0px;
    }
}

.autocomplete-result-active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

#slider-step-value {
    padding-top: 7px;
}

.kmsliderSec label {
    padding-bottom: 7px;
}

.ar_direction1 .travelerSelectWindow {
    right: inherit;
    left: 0;
}

.ar_direction1 .banner-text p {
    text-align: right;
    float: right;
}

.ar_direction1 .banner-text h1 {
    text-align: right;
}

.range_sec .noUi-origin {
    right: inherit;
    left: -98%;
}

.bannerSec .carousel-indicators {
    bottom: 63px;
    z-index: 1;
}

.bannerSec #myCarousel .item img {
    max-height: 320px;
}

.bannerSec .carousel-indicators li {
    display: inline-block;
    width: 33px;
    height: 7px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background: #FFF;
    border: none;
    border-radius: 0px;
}

.carousel-indicators .active {
    width: 33px;
    height: 7px;
    margin: 0;
    background: #eac868 !important;
}

.bannerSec .carousel-caption {
    padding: 117px 0 122px 0;
}

.packageGallery {
    width: 100%;
    float: left;
    padding: 0px 15px;
}

.pakGalleryList {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.pakGalleryList img {
    width: 100%;
    height: 150px;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

.atss {
    z-index: 9 !important;
}

.terms {
    width: 100%;
    padding: 26px 0px 0px 0px;
}

.terms h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    color: #000;
    font-weight: 600;
    text-transform: inherit;
    margin-bottom: 10px;
    margin-top: 21px;
}

.terms p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    text-transform: inherit;
    margin-bottom: 10px;
}

.terms h4 span {
    background: #eac868;
    color: #FFF;
    padding: 0px 9px;
    line-height: 13px;
    margin-right: 5px;
    border-radius: 2px;
}

#aboutUsPage .ar_direction1 h4 span {
    margin-right: 0px;
    margin-left: 5px;
}

@media (max-width: 930px) {
    .bannerSec .carousel-caption {
        padding: 207px 0 76px 0;
    }
    .bannerSec .banner-text h1 {
        font-size: 30px;
        line-height: normal;
    }
    .bannerSec .banner-text p {
        font-size: 13px;
    }
}

@media (max-width: 580px) {
    .bannerSec .carousel-caption {
        display: none;
    }
    .bannerSec .carousel-indicators {
        display: none;
    }
}

@media (max-width: 768px) {
    .pakGalleryList img {
        height: auto;
    }
}
#ui-datepicker-div .ui-datepicker-group-first{
    width: 49.8%;
    display: inline-block;
}
#ui-datepicker-div .ui-datepicker-group-last{
    width: 50%;
    display: inline-block;
    float: right;
}

*:not(i){
	font-family: 'Philosopher', sans-serif !important;
}
html {
	font-family: 'Philosopher', sans-serif !important;
}
html body {
	font-family: 'Philosopher', sans-serif !important;
}