
@media screen and (max-width: 767px) {
    /*=====  Top CSS BOF  ======*/
    .lang {
        float: right !important;
        margin: -65px 45px 0 0;
    
    }  
    .top::before {
        width: 100%;
        -moz-clip-path: none;
        -webkit-clip-path: none;
        -o-clip-path: none;
        clip-path: none;
        left: 0; 
    }
    
    .contact-info {
        float: left;
        padding: 14px 0 10px;
    }
    .contact-info div {
        margin:0 10px;
    }
    .contact-info div i {
        font-size: 15px;
    }
    .contact-info div a {
        font-size: 14px;
    }
    .search-section .form-control {
        width: 100%;
        margin: 0px 0 2px 0px;
    }
    
    .select2-container .select2-selection--single {
        margin: 0px;
    }
    #bkng .search-section {
        padding: 20px 20px 20px;
    }
    /*=====  Banner CSS BOF  ======*/

    /* camp overview */
        .campImage{
            width: 100%; 
         }
    }
    @media (min-width: 768px) and (max-width: 990px) {
        .lang {
            float: right !important;
            margin: -65px 45px 0 0 !important;
        
    }
    .contact-info div {
        margin-left: 20px;
        float: left;
    }
    .top::before {
        width: 66%;
        left: 34%;
    }
    
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff !important;
    }
    .navbar-nav > li > .dropdown-menu {
        position: static !important;
        float: none !important;
        background: transparent !important;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
    .affix .navbar-brand, .affix .navbar-brand:hover, .affix .navbar-brand:focus {
        top: 46px;
        z-index: 9999;
    }
    .affix .navbar-brand img {
        width: 98% ;
    }
     /*=====  Banner CSS BOF  ======*/
    .carousel-control.left, .carousel-control.right {
        top: 75%;
    }
    .bannersec .container {
        width: auto;
    }
    }
    @media (min-width: 991px) and (max-width: 1024px) {
    
    .top::before {
        width: 60%;
        left: 40%;
    }
    .contact-info div {
        margin-left: 20px;
    }
    /*=====  Navbar CSS BOF  ======*/
    .navbar-brand {
        width: 34%;
    }
    .navbar-nav {
        margin: 0;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
     /*=====  Banner CSS BOF  ======*/
    .carousel-control.left, .carousel-control.right {
        top: 75%;
    }
    .lang {
        margin: 28px 0 0 15px !important;
    }
    .lang .dropdown a {
        font-size: 13px !important;
        padding: 10px 15px !important;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px !important;
    }
    }
    @media (min-width: 1025px) and (max-width: 1400px) {
    .top::before {
        width: 53%;
        left: 47%;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }
    }
    