<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> About Us</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
        type="text/css" />
    <link href="css/select2.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/style.css?v=202009100000" rel="stylesheet" type="text/css" />
    <link href="css/media.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css"
        href="/assets/css/flag.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>

    <div id="about" v-cloak>
        <!--inner-banner-->
        <section class="inner-banner" :style="{ background: 'url(' + bannerImage+ ')'}">
            <div class="container">
                <div class="row">
                    <h2>{{bannerName}}</h2>
                    <div class="breadcrumbs">

                        <div class="bread-position">
                            <ul>
                                <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                                <li>{{breadcrumb}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!--About-text-->
        <section class="about-in">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-img">
                            <img :src=bodyContentImage alt="about-img">
                        </div>
                    </div>

                    <div class="col-md-6 col-md-offset-1">
                        <div class="about-text">
                            <h3>{{contentTitle}} </h3>
                            <div v-html=contentDescription>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <!--Our-mission-->
        <section class="our-mission-in">
            <div class="container">
                <div class="row flex-box">
                    <div class="col-md-6 col-sm-6" v-for="item in missionAndVisionArray">
                        <div class="about-info">

                            <div class="vi-mi-icon">
                                <image :src=item.Image>
                            </div>

                            <h4>{{item.Title}} </h4>
                            <div v-html=item.Description>
                            </div>
                        </div>
                    </div>


                    <!-- <div class="col-md-6 col-sm-6">
                        <div class="about-info">

                            <div class="vi-mi-icon">
                                <svg viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M93.745,48.355c-0.197-0.232-4.968-5.709-12.694-11.237C70.713,29.722,59.977,25.813,50,25.813
			c-9.974,0-20.712,3.909-31.049,11.306C11.223,42.646,6.455,48.123,6.255,48.355c-0.816,0.944-0.816,2.347,0,3.291
			c0.2,0.23,4.968,5.707,12.696,11.236C29.287,70.277,40.023,74.188,50,74.188c9.977,0,20.713-3.91,31.051-11.305
			c7.727-5.529,12.497-11.006,12.694-11.236C94.562,50.702,94.562,49.3,93.745,48.355z M78.035,58.863
			C71.447,63.561,61.233,69.16,50,69.16c-11.233,0-21.445-5.6-28.033-10.297c-4.807-3.428-8.448-6.893-10.376-8.862
			c1.93-1.972,5.569-5.437,10.376-8.862C28.554,36.441,38.766,30.84,50,30.84c11.234,0,21.448,5.602,28.036,10.299
			c4.807,3.426,8.446,6.891,10.374,8.862C86.481,51.973,82.842,55.438,78.035,58.863z M63.045,47.486
			c-1.383,0-2.509,1.125-2.509,2.515c0,5.821-4.725,10.558-10.537,10.558c-5.809,0-10.536-4.736-10.536-10.558
			c0-5.822,4.728-10.558,10.536-10.558c2.556,0,5.02,0.928,6.941,2.612c1.042,0.915,2.627,0.809,3.539-0.235
			c0.914-1.044,0.809-2.631-0.233-3.545c-2.835-2.488-6.473-3.858-10.247-3.858c-8.576,0-15.553,6.991-15.553,15.584
			S41.424,65.584,50,65.584c8.579,0,15.554-6.99,15.554-15.583C65.554,48.611,64.431,47.486,63.045,47.486z M44.982,50.001
			c0,2.771,2.252,5.026,5.017,5.026c2.768,0,5.018-2.256,5.018-5.026c0-2.772-2.25-5.029-5.018-5.029
			C47.235,44.972,44.982,47.229,44.982,50.001z" />
                                        </g>
                                    </g>
                                </svg>
                            </div>

                            <h4>Our Vision</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmoda tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
    </div>
    <footer :key="key">
        <footeritem :key="key"></footeritem>
        <!-- <copyright></copyright> -->
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>


    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js?v=202004130000"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js?v=202004130000"></script>

    <script src="js/jquery-ui.min.js?v=202004130000"></script>
    <script src="js/select2.min.js?v=202004130000"></script>
    <script src="js/owl.carousel.min.js?v=202004130000"></script>
    <script type="text/javascript" src="js/pack.js?v=202004130000"></script>
    <script src="js/custom.js?v=202005080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <!-- <script src="master/js/masterpage.js"></script> -->
    <script src="servicejs/about.js?v=202004290000"></script>

    <script>
        /*--------Banner-Slider---------*/
        $(document).ready(function () {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script>

</body>

</html>