<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Contact Us</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
        type="text/css" />
    <link href="css/select2.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/style.css?v=202009100000" rel="stylesheet" type="text/css" />

    <link href="css/media.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css"
        href="/assets/css/flag.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>

    <div id="contact" v-cloak>
        <!--inner-banner-->
        <section class="inner-banner" :style="'background:url(' + bannerDetails.Image + ') no-repeat;'">
            <div class="container">
                <div class="row">
                    <h2>{{bannerDetails.Title}}</h2>
                    <div class="breadcrumbs">

                        <div class="bread-position">
                            <ul>
                                <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                                <li>{{bannerDetails.Breadcrumb}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <section class="about-in">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="contact-form">
                            <h3>{{contents.Title}}</h3>
                            <div v-html="contents.Description"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input v-model="cntusername" type="text" id="text" class="form-control"
                                        placeholder="Your Name*">
                                </div>

                                <div class="col-md-6">
                                    <input v-model="cntemail" type="email" id="email" class="form-control"
                                        placeholder="Email*">
                                </div>

                                <div class="col-md-6">
                                    <input v-model="cntcontact" type="text" id="text" class="form-control"
                                        placeholder="Phone Number*">
                                </div>


                                <div class="col-md-6">
                                    <input v-model="cntsubject" type="text" id="text" class="form-control"
                                        placeholder="Subject*">
                                </div>

                                <div class="col-md-12">
                                    <textarea v-model="cntmessage" rows="5" cols="5" class="form-control"
                                        placeholder="Message*"></textarea>
                                </div>


                                <div class="col-md-12">
                                    <button v-on:click="sendcontactus">Send Message</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-in">

                            <div class="get-touch">
                                <h3>Address</h3>
                                <p v-html="addressDetails.Address"></p>
                            </div>
                            <div class="get-touch">
                                <h3>Phone</h3>
                                <a :href="'tel:'+addressDetails.Phone_Number">{{addressDetails.Phone_Number}}</a>
                                <p>Helpline:<a href="#">{{addressDetails.Helpline_Phone_number}}</a></p>
                            </div>
                            <div class="get-touch">
                                <h3>Email</h3>
                                <a :href="'mailto:'+addressDetails.Email">{{addressDetails.Email}}</a>
                            </div>
                            <ul>
                                <li v-for="items in socialmedia.items"><a :href="items.Url"
                                        target="_blank"><i aria-hidden="true" :class="items.fa_icon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="map">
            <iframe :src="contents.Embed_Map_Link" width="100%" height="514" frameborder="0" style="border:0;"
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </div>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js?v=202004130000"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js?v=202004130000"></script>

    <script src="js/jquery-ui.min.js?v=202004130000"></script>
    <script src="js/select2.min.js?v=202004130000"></script>
    <script src="js/owl.carousel.min.js?v=202004130000"></script>
    <script type="text/javascript" src="js/pack.js?v=202004130000"></script>
    <script src="js/custom.js?v=202005080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <!-- <script src="master/js/masterpage.js"></script> -->
    <script src="servicejs/contact.js?v=202005060000"></script>
    <script>
        /*--------Banner-Slider---------*/
        $(document).ready(function () {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script>
</body>

</html>