<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> Flyonline</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css?v=202004130000" rel="stylesheet" type="text/css" />
  <link href="css/nouislider.min.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css?v=202004130000" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
    type="text/css" />
  <link href="css/select2.min.css?v=202004130000" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="css/style.css?v=202009100000" rel="stylesheet" type="text/css" />
  <link href="css/media.css?v=202004130000" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" type="text/css" href="/Hotels/HotelComponents/assets/css/hotel.css?v=201907270000"> -->
  <link rel="stylesheet" type="text/css"
    href="/assets/css/bootstrap-select.min.css?v=202008130000">
  <link rel="stylesheet" type="text/css"
    href="/assets/css/flag.css">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
</head>

<body>

  <header>
    <headeritem></headeritem>
  </header>
  <div id="indexmain" v-cloak>
    <!-- banner-->
    <section class="banner-info">
      <div class="banner_main" :style="'background:url('+banner.Image +')' + 'no-repeat;'">
        <div class="container">
          <div id="owl-demo-1" class="owl-carousel banner_text owl-theme">

            <div class="item" v-for="cap in banner.Captions">

              <div class="banner-text">
                <h1>{{cap.Banner_Head}}</h1>
                <p>{{cap.Caption}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--booking-form-->
      <div class="booking-form">
        <div class="container">
          <div class="row">
            <div class="search-section">
              <div role="tabpanel">
                <!-- BEGIN: CATEGORY TAB -->
                <div class="booking-tab">
                  <div class="col-md-12  tab-field">
                    <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                      <li role="presentation" class="text-center" :class="{ active : actvetab == 1 }"> <a href="#flight"
                          aria-controls="flight" role="tab" data-toggle="tab"> <span class="service-icon">
                            <svg viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                              <path d="M47.958,6.009l-0.089-0.824c-0.174-1.691-1.566-2.992-3.306-3.122L43.866,2.02c-2.087-0.087-4.131,0.694-5.61,2.168
	l-6.96,6.896L8.501,11.041c-1.914,0-3.785,0.781-5.177,2.168l-0.957,0.954c-0.304,0.304-0.435,0.825-0.348,1.258
	c0.129,0.434,0.435,0.78,0.87,0.911l18.14,4.943l-4.22,4.207l-7.657,0.26c-0.783,0-1.523,0.303-2.087,0.909l-0.739,0.738
	c-0.305,0.303-0.436,0.78-0.349,1.215c0.131,0.433,0.435,0.737,0.826,0.91l9.744,3.687l3.916,10.061
	c0.174,0.434,0.566,0.736,1.001,0.78c0.435,0.044,0.827-0.086,1.13-0.434l0.784-0.78c0.522-0.52,0.826-1.214,0.914-2.082
	l0.261-7.675l4.263-4.162l4.916,18.125c0.129,0.435,0.478,0.78,0.912,0.912c0.132,0.041,0.218,0.041,0.349,0.041
	c0.348,0,0.694-0.129,0.957-0.389l0.956-0.955c1.393-1.388,2.176-3.252,2.176-5.203V18.716l6.743-6.764
	C47.435,10.39,48.216,8.178,47.958,6.009z M44.608,10.737l-7.049,7.025c-0.175,0.173-0.263,0.39-0.263,0.606v23.071
	c0,1.517-0.607,2.905-1.65,3.99l-0.435,0.433l-5.177-18.778c-0.088-0.302-0.306-0.519-0.611-0.604c-0.087,0-0.129-0.045-0.218-0.045
	c-0.217,0-0.435,0.087-0.606,0.261l-5.568,5.463c-0.175,0.174-0.262,0.348-0.262,0.608l-0.262,7.979c0,0.261-0.086,0.65-0.39,0.911
	l-0.305,0.304l-3.785-9.759c-0.087-0.215-0.261-0.388-0.522-0.476l-9.44-3.599l0.262-0.262c0.131-0.13,0.479-0.39,0.914-0.39
	l8.048-0.261c0.217,0,0.435-0.086,0.566-0.261l5.524-5.505c0.217-0.217,0.304-0.521,0.217-0.825
	c-0.087-0.303-0.304-0.52-0.608-0.606l-18.88-5.161l0.435-0.433c1.044-1.042,2.48-1.648,3.959-1.648l23.143,0.043
	c0.217,0,0.436-0.086,0.607-0.26l7.221-7.156c1.133-1.128,2.696-1.735,4.307-1.648l0.696,0.043c0.871,0.044,1.566,0.737,1.653,1.562
	l0.088,0.824C46.391,7.874,45.825,9.523,44.608,10.737z" />
                            </svg> </span>FLIGHTS </a></li>


                      <li role="presentation" class="text-center" :class="{ active : actvetab == 2 }"> <a href="#hotel"
                          aria-controls="hotel" role="tab" data-toggle="tab"> <span class="service-icon">
                            <svg viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                              <g>
                                <g>
                                  <path d="M43.787,40.549h-1.943V6.213c0-0.388-0.259-0.647-0.648-0.647H8.804c-0.389,0-0.647,0.259-0.647,0.647v34.336H6.213
			c-0.389,0-0.648,0.258-0.648,0.646v2.592c0,0.39,0.259,0.647,0.648,0.647h37.574c0.389,0,0.648-0.258,0.648-0.647v-2.592
			C44.436,40.807,44.176,40.549,43.787,40.549z M9.452,6.861h31.097v33.688h-9.72v-7.126c0-0.39-0.259-0.648-0.646-0.648H19.817
			c-0.389,0-0.647,0.259-0.647,0.648v7.126H9.452V6.861z M29.535,34.069v6.479h-3.888v-6.479H29.535z M24.352,34.069v6.479h-3.887
			v-6.479H24.352z M43.139,43.141H6.86v-1.297h36.278V43.141z M17.874,8.805h-5.183c-0.389,0-0.647,0.259-0.647,0.647v3.888
			c0,0.389,0.258,0.648,0.647,0.648h5.183c0.389,0,0.647-0.259,0.647-0.648V9.452C18.521,9.063,18.263,8.805,17.874,8.805z
			 M17.226,12.692h-3.887V10.1h3.887V12.692z M17.874,15.931h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887
			c0,0.388,0.258,0.646,0.647,0.646h5.183c0.389,0,0.647-0.258,0.647-0.646v-3.887C18.521,16.19,18.263,15.931,17.874,15.931z
			 M17.226,19.818h-3.887v-2.591h3.887V19.818z M22.408,21.114h5.183c0.388,0,0.648-0.259,0.648-0.647v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887C21.761,20.854,22.02,21.114,22.408,21.114z
			 M23.057,17.227h3.886v2.591h-3.886V17.227z M32.126,21.114h5.183c0.388,0,0.648-0.259,0.648-0.647v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.648,0.26-0.648,0.648v3.887C31.478,20.854,31.737,21.114,32.126,21.114z
			 M32.774,17.227h3.887v2.591h-3.887V17.227z M22.408,28.24h5.183c0.388,0,0.648-0.26,0.648-0.648v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887C21.761,27.98,22.02,28.24,22.408,28.24z
			 M23.057,24.353h3.886v2.59h-3.886V24.353z M32.126,28.24h5.183c0.388,0,0.648-0.26,0.648-0.648v-3.887
			c0-0.389-0.261-0.648-0.648-0.648h-5.183c-0.389,0-0.648,0.26-0.648,0.648v3.887C31.478,27.98,31.737,28.24,32.126,28.24z
			 M32.774,24.353h3.887v2.59h-3.887V24.353z M17.874,23.057h-5.183c-0.389,0-0.647,0.26-0.647,0.648v3.887
			c0,0.389,0.258,0.648,0.647,0.648h5.183c0.389,0,0.647-0.26,0.647-0.648v-3.887C18.521,23.316,18.263,23.057,17.874,23.057z
			 M17.226,26.943h-3.887v-2.59h3.887V26.943z M22.408,13.987h5.183c0.388,0,0.648-0.259,0.648-0.648V9.452
			c0-0.388-0.261-0.647-0.648-0.647h-5.183c-0.389,0-0.647,0.259-0.647,0.647v3.888C21.761,13.728,22.02,13.987,22.408,13.987z
			 M23.057,10.1h3.886v2.592h-3.886V10.1z M32.126,13.987h5.183c0.388,0,0.648-0.259,0.648-0.648V9.452
			c0-0.388-0.261-0.647-0.648-0.647h-5.183c-0.389,0-0.648,0.259-0.648,0.647v3.888C31.478,13.728,31.737,13.987,32.126,13.987z
			 M32.774,10.1h3.887v2.592h-3.887V10.1z M21.113,31.479h7.774c0.389,0,0.647-0.259,0.647-0.648c0-0.389-0.259-0.647-0.647-0.647
			h-7.774c-0.388,0-0.648,0.259-0.648,0.647C20.464,31.221,20.725,31.479,21.113,31.479z" />
                                </g>
                              </g>
                            </svg></span> Hotels </a></li>


                      <li role="presentation" class="text-center"> <a href="package.html" aria-controls="holidays"
                          role="tab"> <span class="service-icon">
                            <svg viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
                              <g>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M44.719,19.838c-0.102,0.627-0.158,1.265-0.316,1.878
		c-0.256,0.999-0.578,1.981-0.881,2.999c-0.551-0.301-1.033-0.563-1.514-0.827c-1.865-1.024-3.857-1.688-5.934-2.12
		c-0.166-0.034-0.324-0.131-0.467-0.229c-0.852-0.586-1.697-1.18-2.615-1.821c-1.752,4.815-3.461,9.51-5.191,14.258
		c2.449,0.223,4.783,0.693,7.063,1.431c2.271,0.735,4.432,1.713,6.473,2.938c-0.701,0.443-1.393,0.89-2.1,1.311
		c-0.08,0.047-0.262-0.031-0.375-0.091c-2.057-1.082-4.207-1.92-6.457-2.498c-2.607-0.67-5.258-0.963-7.95-0.918
		c-4.731,0.08-9.179,1.239-13.364,3.437c-0.106,0.056-0.285,0.098-0.371,0.046c-0.69-0.411-1.366-0.846-2.119-1.318
		c1.155-0.577,2.28-1.175,3.434-1.707c2.486-1.148,5.099-1.901,7.797-2.344c1.733-0.284,3.483-0.442,5.244-0.403
		c0.234,0.005,0.365-0.044,0.454-0.287c1.73-4.782,3.47-9.56,5.207-14.34c0.018-0.046,0.027-0.096,0.064-0.232
		c-0.697-0.106-1.373-0.305-2.043-0.288c-0.988,0.024-1.836-0.269-2.689-0.719c-1.942-1.021-4.043-1.568-6.197-1.927
		c-0.062-0.01-0.123-0.024-0.185-0.036c1.258-5.513,7.312-11.148,15.564-9.221c0.18-0.478,0.361-0.961,0.557-1.48
		c0.715,0.259,1.406,0.51,2.133,0.773c-0.18,0.504-0.35,0.99-0.506,1.43c0.809,0.529,1.625,0.991,2.361,1.559
		c2.561,1.98,4.098,4.599,4.693,7.774c0.098,0.525,0.154,1.059,0.23,1.589C44.719,18.914,44.719,19.375,44.719,19.838z
		 M22.78,14.334c1.771,0.458,3.435,1.104,5.021,1.948c0.117,0.063,0.268,0.071,0.404,0.087c0.762,0.088,1.535,0.122,2.287,0.265
		c2.248,0.428,4.279,1.358,6.096,2.758c0.174,0.135,0.398,0.219,0.613,0.285c1.012,0.31,2.035,0.583,3.041,0.914
		c0.646,0.212,1.268,0.502,1.902,0.758c1.254-4.909-1.77-10.369-6.621-12.063C30.18,7.421,24.843,10.132,22.78,14.334z" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.281,40.096c1.296-0.026,2.458,0.36,3.542,1.069
		c0.626,0.409,1.272,0.841,1.972,1.072c1.163,0.384,2.301,0.167,3.323-0.542c0.916-0.636,1.83-1.272,2.962-1.477
		c1.69-0.305,3.279-0.092,4.746,0.86c0.642,0.415,1.279,0.895,1.989,1.135c1.207,0.409,2.387,0.199,3.475-0.523
		c0.689-0.458,1.391-0.952,2.158-1.227c1.926-0.689,3.793-0.482,5.547,0.628c0.676,0.428,1.357,0.898,2.105,1.148
		c1.145,0.383,2.275,0.169,3.287-0.532c0.928-0.643,1.85-1.301,2.998-1.486c0.441-0.07,0.891-0.085,1.334-0.126
		c0,0.745,0,1.489,0,2.234c-0.727,0.078-1.445,0.182-2.07,0.61c-0.369,0.254-0.742,0.503-1.115,0.751
		c-1.498,0.991-3.137,1.154-4.859,0.823c-1.09-0.209-1.959-0.849-2.85-1.45c-1.408-0.95-3.096-0.946-4.506-0.003
		c-0.309,0.206-0.615,0.417-0.924,0.623c-1.496,0.998-3.137,1.16-4.858,0.833c-1.09-0.207-1.97-0.834-2.85-1.452
		c-0.987-0.694-2.073-0.816-3.224-0.589c-0.807,0.159-1.426,0.677-2.079,1.122c-1.645,1.121-3.429,1.302-5.318,0.832
		c-0.968-0.24-1.742-0.842-2.55-1.38c-0.677-0.449-1.401-0.737-2.234-0.645C5.281,41.637,5.281,40.866,5.281,40.096z" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.754,33.104c-0.522-0.987-1.001-1.891-1.5-2.834
		c-0.905,0.566-1.788,1.118-2.719,1.701c0.042-1.096,0.081-2.125,0.121-3.151c-1.057,0-2.086,0-3.166,0
		c0.552-0.88,1.093-1.743,1.663-2.651c-0.932-0.494-1.852-0.981-2.834-1.502c0.967-0.512,1.883-0.997,2.833-1.5
		c-0.559-0.891-1.107-1.765-1.669-2.659c1.066,0,2.103,0,3.171,0c-0.039-1.018-0.078-2.051-0.12-3.147
		c0.915,0.573,1.799,1.128,2.719,1.705c0.496-0.934,0.982-1.852,1.502-2.833c0.515,0.972,0.997,1.883,1.5,2.834
		c0.898-0.564,1.781-1.118,2.722-1.709c-0.043,1.091-0.085,2.126-0.126,3.149c1.064,0,2.098,0,3.173,0
		c-0.543,0.866-1.091,1.739-1.668,2.657c0.933,0.495,1.854,0.983,2.833,1.502c-0.958,0.508-1.877,0.995-2.833,1.501
		c0.56,0.893,1.106,1.763,1.665,2.653c-1.075,0-2.104,0-3.169,0c0.041,1.021,0.081,2.052,0.125,3.153
		c-0.926-0.58-1.81-1.134-2.721-1.704C14.757,31.21,14.275,32.12,13.754,33.104z M17.99,24.667c0-2.36-1.899-4.257-4.249-4.241
		c-2.355,0.016-4.223,1.885-4.224,4.225c-0.001,2.36,1.886,4.267,4.227,4.269C16.09,28.923,17.99,27.02,17.99,24.667z" />
                              </g>
                            </svg></span> Holidays</a></li>


                    </ul>
                  </div>
                  <!-- END: CATEGORY TAB -->

                </div>
                <div class="col-md-12 all-search-box">
                  <!-- BEGIN: TAB PANELS -->
                  <div class="tab-content">
                    <!-- BEGIN: FLIGHT SEARCH -->
                    <div role="tabpanel" class="tab-pane" id="flight" :class="{ active : actvetab == 1 }">
                      <div class="col-md-12 text-center m-t-10">
                        <div class="radio radio-success radio-inline">
                          <input type="radio" id="inlineRadio1" value="R" v-model="triptype" name="radioInline"
                            checked="">
                          <label for="inlineRadio1">Round Trip</label>
                        </div>
                        <div class="radio radio-success radio-inline">
                          <input type="radio" id="inlineRadio2" value="O" v-model="triptype" name="radioInline">
                          <label for="inlineRadio2">One Way</label>
                        </div>
                        <div class="radio radio-success radio-inline">
                          <input type="radio" id="inlineRadio3" value="M" v-model="triptype" name="radioInline">
                          <label for="inlineRadio3">Multi Leg</label>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="flightForm_sec flx_sec">

                        <div class="multi_shadow" v-if="triptype=='M'" v-on:click="clickoutside"
                          v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                        </div>
                        <div class="multicity" v-if="triptype =='M'"
                          v-bind:style="[triptype=='M' ? {'display':'block !important',} : {'display':'none'}]">
                          <!--multi city section-->
                          <div class="multiSection">
                            <i class="fa fa-times-circle close" v-on:click="clickoutside"></i>
                            <label>Trip 1</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="1">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <div class="calendarSec">
                                <input type="text" id="txtLeg1Date" placeholder="Departing" readonly="readonly"
                                  class="calendarM">
                              </div>
                            </div>
                          </div>
                          <!--multi city section close-->
                          <!--multi city section-->
                          <div class="multiSection">
                            <label>Trip 2</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="2">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="2">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <div class="calendarSec">
                                <input type="text" id="txtLeg2Date" placeholder="Departing" readonly="readonly"
                                  class="calendarM">
                              </div>
                            </div>
                          </div>
                          <!--multi city section close-->
                          <!--multi city section-->
                          <div class="multiSection" v-if="(legcount>2)">
                            <i class="fa fa-times-circle close" v-if="legcount==3" v-on:click="DeleteLeg(3)"></i>
                            <label>Trip 3</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="3">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="3">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <div class="calendarSec">
                                <input type="text" id="txtLeg3Date" placeholder="Departing" readonly="readonly"
                                  class="calendarM">
                              </div>
                            </div>
                          </div>
                          <!--multi city section close-->
                          <!--multi city section-->
                          <div class="multiSection" v-if="(legcount>3)">
                            <i class="fa fa-times-circle close" v-if="legcount==4" v-on:click="DeleteLeg(4)"></i>
                            <label>Trip 4</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="4">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="4">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <div class="calendarSec">
                                <input type="text" id="txtLeg4Date" placeholder="Departing" readonly="readonly"
                                  class="calendarM">
                                <!-- <a class="change-date"></a> -->
                                <!-- <input type="text" id="txtLeg4Date" class="calendarSec1" placeholder="Departing"
                                  readonly>
                                <i class="fa fa-calendar"></i> -->
                              </div>
                            </div>
                          </div>
                          <!--multi city section close-->
                          <!--multi city section-->
                          <div class="multiSection" v-if="(legcount>4)">
                            <i class="fa fa-times-circle close" v-if="legcount==5" v-on:click="DeleteLeg(5)"></i>
                            <label>Trip 5</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="5">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="5">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <div class="calendarSec">
                                <input type="text" id="txtLeg5Date" placeholder="Departing" readonly="readonly"
                                  class="calendarM">
                              </div>
                            </div>
                          </div>
                          <!--multi city section close-->
                          <!--multi city section-->
                          <div class="multiSection" v-if="(legcount>5)">
                            <i class="fa fa-times-circle close" v-if="legcount==6" v-on:click="DeleteLeg(6)"></i>
                            <label>Trip 6</label>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6"
                                :return-value="returnValue" place-holder-text="Leaving From"
                                @air-search-completed="Departurefrom" :leg="6">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6"
                                :return-value="returnValue" place-holder-text="Going To"
                                @air-search-completed="Arrivalfrom" :leg="6">
                              </flightserch>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                              <div class="calendarSec">
                                <input type="text" id="txtLeg6Date" placeholder="Departing" readonly="readonly"
                                  class="calendarM">
                              </div>
                            </div>
                          </div>
                          <!--multi city section close-->
                          <div class="add_flight" v-if="legcount!=6" v-cloak>Add up to {{6-legcount}} flights
                            <i class="fa fa-plus-circle" v-on:click="AddNewLeg();"></i></div>
                          <div class="clearfix"></div>
                          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 padding1">
                            <div class="travellerSecM">
                              <div class="travellercout" v-cloak v-on:click="travellerdisplymul = !travellerdisplymul">
                                {{Totaltravaller}}</div>
                              <div class="travellerOptions5" v-show="travellerdisplymul">
                                <div class="passenger_area">
                                  <p>Adults (12+)</p>
                                  <div class="pass_click">
                                    <a v-on:click="setpaxcount('adt','minus')"><i class="fa fa-minus-square"></i></a>
                                    <span v-cloak>{{selected_adults}}</span>
                                    <a v-on:click="setpaxcount('adt','plus')"><i class="fa fa-plus-square"></i></a>
                                  </div>
                                </div>
                                <div class="passenger_area">
                                  <p>Children (2-12)</p>
                                  <div class="pass_click">
                                    <a v-on:click="setpaxcount('chd','minus')"><i class="fa fa-minus-square"></i></a>
                                    <span>{{selected_children}}</span>
                                    <a v-on:click="setpaxcount('chd','plus')"><i class="fa fa-plus-square"></i></a>
                                  </div>
                                </div>
                                <div class="passenger_area">
                                  <p>Infant (0-2)</p>
                                  <div class="pass_click">
                                    <a v-on:click="setpaxcount('inf','minus')"><i class="fa fa-minus-square"></i></a>
                                    <span>{{selected_infant}}</span>
                                    <a v-on:click="setpaxcount('inf','plus')"><i class="fa fa-plus-square"></i></a>
                                  </div>
                                </div>
                                <div class="classtype_area">
                                  <div class="classsec_area">
                                    <input type="radio" id="radio-btn-12" value="Y" v-model="selected_cabin"
                                      v-on:change="setpaxcount" name="radio-btns">
                                    <label for="radio-btn-12">Economy</label>
                                  </div>
                                  <div class="classsec_area">
                                    <input type="radio" value="C" v-model="selected_cabin" id="radio-btn-03"
                                      v-on:change="setpaxcount" name="radio-btns">
                                    <label for="radio-btn-03">Business</label>
                                  </div>
                                  <div class="classsec_area">
                                    <input type="radio" id="radio-btn-04" value="F" v-model="selected_cabin"
                                      v-on:change="setpaxcount" name="radio-btns">
                                    <label for="radio-btn-04">First Class</label>
                                  </div>
                                </div>
                                <div class="closeDropdown">
                                  <span class="closeBtn closeLink"
                                    v-on:click="travellerdisplymul = !travellerdisplymul">Done</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 padding0">
                            <button class="flightSearch" v-on:click="MultiSearchFlight" v-cloak>Search</button>
                          </div>
                        </div>


                        <div class="col-md-2  col-sm-6 search-col-padding" v-show="triptype !='M'">
                          <flightserch id="Cityfrom1" :return-value="returnValue" place-holder-text="Leaving From"
                            @air-search-completed="Departurefrom" :leg="0"></flightserch>
                          <a class="change-destination" v-on:click="swapLocations(1)"></a>
                        </div>
                        <div class="col-md-2 col-sm-6 search-col-padding">
                          <flightserch id="Cityto1" :return-value="returnValue" place-holder-text="Going To"
                            @air-search-completed="Arrivalfrom" :leg="0">
                          </flightserch>
                        </div>
                        <div class="col-md-2 col-sm-6 search-col-padding">
                          <input type="text" id="deptDate01" placeholder="Departing" readonly="readonly"
                            class="calendar">
                          <a class="change-date"></a>
                        </div>
                        <div class="col-md-2 col-sm-6 search-col-padding" v-if="triptype !='M'"
                          v-bind:style="[triptype == 'O' ? {opacity:0.5} : {opacity:1}]">
                          <input type="text" :disabled="triptype == 'O'" id="retDate" placeholder="Returning"
                            readonly="readonly" class="calendar">
                        </div>
                        <div class="col-md-2 col-sm-6 search-col-padding custom-traveller">
                          <div class="travellersDropdown flt">
                            <div class="travellerSec">
                              <div class="travellercout" v-cloak>{{Totaltravaller}}
                              </div>
                              <div class="travellerOptions">
                                <div class="passenger_area">
                                  <p>Adults (12+)</p>
                                  <div class="pass_click"><a v-on:click="setpaxcount('adt','minus')"><i
                                        class="fa fa-minus-square"></i></a>
                                    <span>{{selected_adults}}</span>
                                    <a v-on:click="setpaxcount('adt','plus')"><i class="fa fa-plus-square"></i></a>
                                  </div>
                                </div>
                                <div class="passenger_area">
                                  <p>Children (2-12)</p>
                                  <div class="pass_click"><a v-on:click="setpaxcount('chd','minus')"><i
                                        class="fa fa-minus-square"></i></a>
                                    <span>{{selected_children}}</span>
                                    <a v-on:click="setpaxcount('chd','plus')"><i class="fa fa-plus-square"></i></a>
                                  </div>
                                </div>
                                <div class="passenger_area">
                                  <p>Infant (0-2)</p>
                                  <div class="pass_click"><a v-on:click="setpaxcount('inf','minus')"><i
                                        class="fa fa-minus-square"></i></a>
                                    <span>{{selected_infant}}</span>
                                    <a v-on:click="setpaxcount('inf','plus')"><i class="fa fa-plus-square"></i></a>
                                  </div>
                                </div>
                                <div class="classtype_area">
                                  <div class="classsec_area"><input type="radio" id="radio-btn-02" value="Y"
                                      v-model="selected_cabin" v-on:change="setpaxcount" name="radio-btns">
                                    <label for="radio-btn-02" v-on:change="setpaxcount">Economy</label>
                                  </div>
                                  <div class="classsec_area"><input type="radio" value="C" v-model="selected_cabin"
                                      id="radio-btn-03" name="radio-btns" v-on:change="setpaxcount"> <label
                                      for="radio-btn-03">Business</label></div>
                                  <div class="classsec_area"><input type="radio" id="radio-btn-04" value="F"
                                      v-model="selected_cabin" name="radio-btns" v-on:change="setpaxcount"> <label
                                      for="radio-btn-04">First
                                      Class</label></div>
                                </div>
                                <div class="closeDropdown">
                                  <span class="closeBtn closeLink"
                                    v-on:click="travellerdisply = !travellerdisply">Done</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2 col-sm-6 search-col-padding">
                          <button type="submit" class="search-button" v-on:click="SearchFlight">Search </button>
                        </div>
                      </div>
                    </div>
                    <!-- END: FLIGHT SEARCH -->


                    <!-- START: HOTEL SEARCH -->


                    <div role="tabpanel" class="tab-pane" id="hotel" :class="{ active : actvetab == 2 }">
                      <hotel-search inline-template :key="hotelInit">
                        <div>
                          <div class="col-md-4 col-sm-12 search-col-padding">
                            <div class="input-group">
                              <input id="txtCity" type="text" class="form-control ui-autocomplete-input"
                                placeholder="Destination" autocomplete="off" v-model="keywordSearch"
                                @input="onKeyUpAutoCompleteEvent(keywordSearch)" @keydown.down="down" @keydown.up="up"
                                @keydown.tab="isCompleted=false" @keydown.esc="isCompleted=false"
                                @keydown.enter="updateResults(autoCompleteResult[highlightIndex])"
                                @click="onClickAutoCompleteEvent">
                              <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                              <ul ref="searchautocomplete" class="autocomplete-results"
                                v-if="isCompleted&&autoCompleteResult.length!=0">
                                <li ref="options" :class="{'autocomplete-result-active' : index == highlightIndex}"
                                  class="autocomplete-result" v-for="(item,index) in autoCompleteResult" :key="index"
                                  @click="updateResults(item)" v-cloak>
                                  {{ item.label }}
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6 search-col-padding">
                            <!-- <input id="from-2" class="calendar" type="text" placeholder="Check In"
                              readonly="readonly" />
                            <a class="change-date" href="javascript:void(0)"></a> -->

                            <input type="text" id="txtCheckInDate" v-model="checkIn" placeholder="Check In"
                              readonly="readonly" class="calendar">
                            <a class="change-date" href="javascript:void(0)"></a>
                          </div>
                          <div class="col-md-2 col-sm-6 search-col-padding">
                            <!-- <input id="to-2" class="calendar" type="text" placeholder="Check Out" readonly="readonly" /> -->
                            <input type="text" id="txtCheckOutDate" v-model="checkOut" placeholder="checkout"
                              readonly="readonly" class="calendar">
                          </div>
                          <div class="col-md-2 col-sm-6 search-col-padding custom-traveller">
                            <div class="travellerSecHtl">
                              <div class="travellercoutHtl">
                                <input :value="numberOfRooms+' Room '+(numberOfRooms>1?roomsLabel:roomLabel)"
                                  type="button" class="form-control txtelips">
                              </div>
                              <div class="travellerOptions">
                                <div class="classtype_area">
                                  <div id="travelRoundtrip">
                                    <div class="travelDropdown"></div>
                                  </div>
                                  <div class="classSec">
                                    <label class="htl_advc" v-cloak> Room</label>
                                    <div class="custom-select-htl">
                                      <select v-model.number="numberOfRooms" id="classType">
                                        <option v-for="(room, index) in 5" :key="index" :value="index+1">
                                          {{(index>0) ? (index+1) + ' ' + roomsLabel:(index+1) +' ' + roomLabel}}Room
                                        </option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="classSec">
                                    <label class="htl_advc">Nationality</label>
                                    <div class="custom-select-htl">
                                      <select id="classType" v-model="nationality">
                                        <option :value="item.code" v-for="(item, index) in countries" :key="index">
                                          {{item.name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="classSec">
                                    <label class="htl_advc">Country of
                                      Residency</label>
                                    <div class="custom-select-htl">
                                      <select id="classType" v-model="countryOfResidence">
                                        <option :value="item.code" v-for="(item, index) in countries" :key="index">
                                          {{item.name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="closeDropdown">
                                    <span class="closeBtn closeLink" v-on:click="showroom = !showroom">Done</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-6 search-col-padding">
                            <div class="kmsliderSec">
                              <label class="within_sec">Include Cities Within</label>
                              <div id="rangeSlider"></div>
                              <label id="slider-step-value" v-cloak>{{KMrange}}
                                KM</label>
                            </div>
                          </div>
                          <hotel-rooms :child-label="childLabel" :children-label="childrenLabel"
                            :adult-label="adultLabel" :adults-label="adultsLabel" :age-label="ageLabel"
                            :ages-label="agesLabel" :room-label="roomLabel"
                            v-for="(room, index) in parseInt(numberOfRooms)" :key="index" :room-id="index"
                            @get-room-details="getRoomDetails" inline-template>
                            <div class="hotlsSec flx_sec ar_direction">
                              <div class="col-md-4 col-sm-12 padding5">
                                <span class="rooms" v-cloak><i class="fa fa-bed" aria-hidden="true"></i> Room
                                  {{roomId+1}}</span>

                              </div>
                              <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding1">
                                <div class="form_sec en_dwn_htl bor">
                                  <select class="form-control" v-model.number="selectedAdults">
                                    <option v-for="(adult, index) in adults" :value="adult.value" v-cloak>
                                      {{adult.value}}
                                      {{adult.value==1? adultLabel: adultsLabel}}Adult
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-2 col-sm-6 col-xs-12 search-col-padding padding1">
                                <div class="form_sec en_dwn_htl">
                                  <select class="form-control" v-model.number="selectedChildren">
                                    <option v-for="(child, index) in children" :value="child.value" v-cloak>
                                      {{child.value}}
                                      {{child.value==1? childLabel: childrenLabel}}Children
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <div v-for="(selectedChild, index) in parseInt(selectedChildren)" :key="index"
                                class="col-md-2 col-sm-6 col-xs-12 search-col-padding chdage padding1">
                                <div class="form_sec en_dwn_htl">
                                  <select class="form-control"
                                    v-model.number="selectedChildrenAges[index]['child'+(index+1)]">
                                    <option v-for="(childAge, index) in childrenAges" :value="childAge.value" v-cloak>
                                      {{childAge.value}}
                                      {{childAge.value==1? ageLabel: agesLabel}}Year
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </hotel-rooms>
                          <div class="col-md-12 col-sm-12 centering">
                            <div class="col-md-2 col-sm-6 search-col-padding">
                              <button type="submit" @click="searchHotels" v-cloak class="search-button ">Search
                              </button>
                            </div>
                          </div>
                        </div>
                      </hotel-search>
                    </div>
                  </div>
                </div>
                <!-- END: TAB PANE -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End-banner-form-->

    <!-- Offer-Section -->
    <div class="container">
      <div class="travel-offer">
        <div class="row">
          <h2>{{offerList.Offer_Title}}</h2>
          <hr>
          <div id="owl-demo-3" class="owl-carousel owl-theme">
            <div class="item" v-for="offer in offerList.Offer_Section">
              <div class="offer-img">
                <img :src="offer.Offer_Image" alt="">
                <div class="offer-icon">
                  <img :src="offer.Offer_Icon" style="width: 40px;">
                </div>
              </div>
              <div class="offer-deatil">
                <h3><a>{{offer.Offer_Details}}</a></h3>
                <!-- <a class="btn" href="#">View Details</a> -->

              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
    <!-- End-Offer -->


    <!--HOLIDAYS-->
    <section class="holiday-main">
      <div class="container">
        <h2>{{MainArea.Title}}</h2>
        <hr>
        <p>{{MainArea.Description}}</p>
        <div id="owl-demo-4" class="owl-carousel owl-theme">
          <div class="item" v-for="package in packages">
            <div class="holiday-image">
              <img :src="package.Package_Image" alt="holiday-package">
            </div>
            <div class="holiday-detail">
              <h3><a @click="getmoreinfo(package.More_details_page_link)">{{package.Package_Name}}</a>
                <span>{{package.Holiday_Type}}</span>
              </h3>
              <p><span>Validity : </span>{{package.Validity}}</p>
              <ul>
                <li><i class="fa fa-sun-o"></i>{{package.Number_Of_Nights}}days</li>
                <li><i class="fa  fa-moon-o"></i>{{package.Number_Of_Nights}}Nights</li>
              </ul>
            </div>
            <div class="price-more">
              <h3>{{$n((package.Price_Per_Person/CurrencyMultiplier), 'currency', selectedCurrency)}}<span>Per/
                  person</span></h3>
              <a class="btn" @click="getmoreinfo(package.More_details_page_link)"><i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section>


  </div>
  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="js/jquery.min.js?v=202004130000"></script>
  <script src="js/jquery-ui.min.js?v=202004130000"></script>
  <script src="js/bootstrap.min.js?v=202004130000"></script>

  <script src="js/bootstrap-select.min.js?v=202004130000"></script>
  <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/Hotels/HotelComponents/assets/js/elasticsearch.min.js?v=201905150000?v=201904140000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/select2.min.js?v=202004130000"></script>
  <script src="js/owl.carousel.min.js?v=202004130000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="js/pack.js?v=202004130000"></script>
  <!-- <script src="js/custom.js?v=202005080000"></script> -->

  <script src="js/hotel-search.js?v=202007280000"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
  <script src="master/js/index.js?v=20211122000"></script>


  <script>
    $(document).ready(function () {
      var vr;
      var sl;
      sl = "0";
      $(".travellerOptions").click(function () {
        sl = "1";
      });
      $(".travellercout, .travellercoutHtl").click(function () {
        if (sl == "0") {
          $(".travellerOptions").fadeToggle();
          vr = "1";
        }
        else {
          vr = "1";
          sl = "0";
        }

      });
      $("body, .closeLink").click(function () {
        if (sl == "0") {
          if (vr == "0") {

            $(".travellerOptions").hide();
          }
          else {
            vr = "0";
            sl = "0";
          }
        }
        else {
          vr = "0";
          sl = "0";
        }
      });


    });
  </script>
</body>

</html>