<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Packages</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
        type="text/css" />
    <link href="css/select2.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/style.css?v=202009100000" rel="stylesheet" type="text/css" />

    <link href="css/media.css?v=202004130000" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css"
        href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css"
        href="/assets/css/flag.css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>
    <!--Header -->
    <header>
        <headeritem></headeritem>
      </header>
    <div id="Packages" v-cloak>
        <!--inner-banner-->
        <section class="inner-banner" :style="'background:url(' + banner.Banner_Image + ') no-repeat;'">
            <div class="container">
                <div class="row">
                    <h2>{{banner.Banner_Title}}</h2>
                    <div class="breadcrumbs">

                        <div class="bread-position">
                            <ul>
                                <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                                <li>{{banner.Breadcrumb}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!--package--->


        <!--HOLIDAYS-->
        <section class="holiday-main packages-in">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-6" v-for="package in packages">
                        <div class="item">
                            <div class="holiday-image">
                                <img :src="package.Package_Image" alt="holiday-package">
                            </div>
                            <div class="holiday-detail">
                                <h3><a href="#"
                                        @click="getmoreinfo(package.More_details_page_link)">{{package.Package_Name}}
                                    </a>
                                    <span>{{package.Holiday_Type}}</span>
                                </h3>

                                <p><span>Validity : </span> {{package.Validity}}</p>

                                <ul>
                                    <li><i class="fa fa-sun-o"></i>{{package.Number_Of_Days}} days</li>
                                    <li><i class="fa  fa-moon-o"></i>{{package.Number_Of_Nights}} Nights</li>
                                </ul>

                            </div>
                            <!-- my comment -->

                            <div class="price-more">
                                <h3>{{$n((package.Price_Per_Person/CurrencyMultiplier), 'currency', selectedCurrency)}}<span>Per/ person</span></h3>
                                <a class="btn" href="#" @click="getmoreinfo(package.More_details_page_link)"><i
                                        class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END-HOLIDAYS-->
    </div>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js?v=202004130000"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js?v=202004130000"></script>

    <script src="js/jquery-ui.min.js?v=202004130000"></script>
    <script src="js/select2.min.js?v=202004130000"></script>
    <script src="js/owl.carousel.min.js?v=202004130000"></script>
    <script type="text/javascript" src="js/pack.js?v=202004130000"></script>
    <script src="js/custom.js?v=202005080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <!-- <script src="master/js/masterpage.js"></script> -->
    <script src="servicejs/package.js?v=202005070000"></script>
    <script>
        /*--------Banner-Slider---------*/
        $(document).ready(function () {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script>
</body>

</html>