<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> Package Detail</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css?v=202004130000" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css?v=202004130000" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
    type="text/css" />
  <link href="css/select2.min.css?v=202004130000" rel="stylesheet" type="text/css" />
  <link href="css/style.css?v=202009100000" rel="stylesheet" type="text/css" />

  <link href="css/media.css?v=202004130000" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css?v=202008130000">
  <link rel="stylesheet" type="text/css"
    href="/assets/css/flag.css">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
</head>

<body>
  <!--Header -->
  <header>
    <headeritem></headeritem>
  </header>
  <div id="package-detail" v-cloak>
    <!--inner-banner-->
    <section class="inner-banner" :style="'background:url(' + banner.Banner_Image + ') no-repeat;'">
      <div class="container">
        <div class="row">
          <h2>{{banner.Banner_Title}}</h2>
          <div class="breadcrumbs">

            <div class="bread-position">
              <ul>
                <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                <li>{{banner.Breadcrumb}}</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </section>



    <!--packages-detail-->
    <div class="container">
      <div class="row">
        <div class="package-detail-inner">

          <div class="col-md-8">
            <div class="package-place-info">
              <div class="package-name">
                <h2>{{Package.Package_Name}}</h2>
                <p>Price: <span> {{$n((Package.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</span></p>
              </div>

              <div class="package-days">
                <div class="day-night">
                  <p><i class="fa fa-sun-o"></i> {{Package.No_of_Days}} Days </p>
                  <p><i class="fa fa-moon-o"></i> {{Package.No_of_Nights}} Nights </p>
                </div>

                <div class="package-media">
                  <ul>
                    <li v-for="items in socialMedia"><a :href="navigateSocialPage(items.Url)" target="_blank"><i
                          aria-hidden="true" :class="items.fa_icon"></i></a>
                    </li>

                    <!-- <li @click=""><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                  </ul>
                </div>
              </div>

              <img class="package-img" :src="Package.Package_Image" alt="place">
            </div>
          </div>

          <div class="col-md-4">
            <div class="detail-form">
              <h3>Book the tour</h3>

              <div class="search-section">
                <!-- BEGIN: FLIGHT SEARCH -->
                <div role="tabpanel" class="tab-pane active" id="flight">
                  <form>
                    <div class="clearfix"></div>

                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="neame" class="form-control" required="" placeholder="First Name" type="text"
                          v-model="addBookingForm.fname">
                      </div>
                    </div>

                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="name" class="form-control" required="" placeholder="Last Name" type="text"
                          v-model="addBookingForm.lname">
                      </div>
                    </div>

                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="email" class="form-control" required="" placeholder="Email" type="email"
                          v-model="addBookingForm.femail">
                      </div>
                    </div>


                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="phone" class="form-control" required="" placeholder="Phone" type="tel"
                          v-model="addBookingForm.fphone">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12 search-col-padding">
                      <input id="from" class="calendar" type="text" placeholder="Book Date" readonly="readonly"
                        v-model="addBookingForm.fdate" autocomplete="off" />
                      <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    </div>

                    <div class="col-md-6 col-sm-12 search-col-padding">
                      <select class="myselect" v-model="addBookingForm.fadult" id="Adultmyselect">
                        <option value="" disabled selected>Adult</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>

                    <div class="col-md-6 col-sm-12 search-col-padding">
                      <select class="myselect" v-model="addBookingForm.finfants" id="Infantmyselect">
                        <option value="" disabled selected>Infant</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>

                    <div class="col-md-6 col-sm-12 search-col-padding">
                      <select class="myselect" v-model="addBookingForm.fchild" id="Childmyselect">
                        <option value="" disabled selected>Child</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                </div>


                <div class="clearfix"></div>
                <div class="col-md-12  search-col-padding">
                  <div class="input-group">
                    <textarea name="name" required="" placeholder="Message" rows="2" cols="50"
                      v-model="addBookingForm.fmessage"></textarea>
                  </div>
                </div>

                <div class="col-md-12  search-col-padding">
                  <button type="submit" class="search-button" v-on:click="addbooking">Book Now</button>
                </div>
                </form>
              </div>
              <!-- END: FLIGHT SEARCH -->

            </div>


          </div>
        </div>

        <div class="clearfix"></div>

        <div class="desc-detail">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-section">
            <div role="tabpanel">
              <!-- BEGIN: CATEGORY TAB -->
              <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                <li role="presentation" class="active text-center"> <a href="#description" aria-controls="flight"
                    role="tab" data-toggle="tab"> <span>Description </span> </a> </li>

                <li role="presentation" class="text-center"> <a href="#itinerary" aria-controls="hotel" role="tab"
                    data-toggle="tab"> <span> Itinerary </span> </a> </li>

                <li role="presentation" class="text-center"> <a href="#location" aria-controls="location" role="tab"
                    data-toggle="tab"><span>Location</span> </a> </li>


                <li role="presentation" class="text-center"> <a href="#review-trip" aria-controls="review-trip"
                    role="tab" data-toggle="tab"><span>Reviews </span> </a> </li>
              </ul>
              <!-- END: CATEGORY TAB -->

              <!-- BEGIN: TAB PANELS -->
              <div class="tab-content">
                <!-- description -->
                <div role="tabpanel" class="tab-pane active" id="description">
                  <h4>Description</h4>
                  <p v-html="Description.Description"></p>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="fist-td">Departure</td>
                        <td class="second-td"><span>{{Description.Departure}}</span></td>
                      </tr>
                      <tr>
                        <td class="fist-td">Departure Time</td>
                        <td class="second-td"><span>{{Description.Departure_Time}}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="fist-td">Return Time</td>
                        <td class="second-td"><span>{{Description.Return_Time}}</span></td>
                      </tr>
                      <tr>
                        <td class="fist-td">Included</td>
                        <td class="second-td">
                          <table>
                            <tr>
                              <td class="third-td" v-for="(included,index) in Description.Included"
                                v-if="index % 2 === 0"><span><i class="fa fa-check"
                                    aria-hidden="true"></i>{{included.List}}</span>
                              </td>
                            </tr>
                            <tr>
                              <td v-for="(included,index) in Description.Included" v-if="index % 2 !== 0"><span><i
                                    class="fa fa-check" aria-hidden="true"></i>{{included.List}}</span></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="fist-td">Not Included </td>
                        <td class="second-td">
                          <table>
                            <tr>
                              <td class="third-td" v-for="(Not_Included,index) in Description.Not_Included"
                                v-if="index % 2 === 0"><span><i class="fa fa-close"
                                    aria-hidden="true"></i>{{Not_Included.List}}</span></td>
                              <td class="third-td" v-for="(Not_Included,index) in Description.Not_Included"
                                v-if="index % 2 !== 0"><span><i class="fa fa-close"
                                    aria-hidden="true"></i>{{Not_Included.List}}</span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <p v-html="Description.Bottom_Description"></p>

                </div>
                <!-- END: FLIGHT SEARCH -->

                <!-- itinerary -->
                <div role="tabpanel" class="tab-pane" id="itinerary">
                  <div class="row">
                    <div v-for="Itinerary in Itinerary.Itinerary">
                      <h4>{{Itinerary.Title}}</h4>
                      <p>{{Itinerary.Description}}</p>
                    </div>
                  </div>
                </div>


                <!--location-tab-->
                <div role="tabpanel" class="tab-pane" id="location">
                  <h4>{{Location.Title}}</h4>
                  <iframe :src="Location.Embed_Map_Link" width="100%" height="300" frameborder="0" style="border:0;"
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>


                <!--review-tab-->
                <div role="tabpanel" class="tab-pane" id="review-trip">
                  <div class="col-lg-12 pa-0">
                    <h4 v-if="avgrating!=0">{{avgrating}} based on {{ratingcount}} review</h4>
                    <h4 V-else>No reviews</h4>
                    <div class="comment-div" v-for="review in allReview">
                      <div class="user"><img src="images/user.png" alt=""></div>
                      <div class="comment-block"> <span class="heading">{{review.Name}}
                          <span>{{review.Date}}</span></span>
                        <ul class="rating">
                          <li v-for="rowindex in 5"
                            :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                            <i class="fa fa-star"
                              :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                          </li>
                        </ul>
                        <p>{{review.comment}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="review-form">
                    <div class="col-md-12">
                      <h4>Add a review</h4>
                      <p>Your email address will not be published. Required fields are marked *</p>
                      <div class="add-rws"> <span>Your Rating</span>
                        <ul class="rating" id="ratingID">
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(1)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(2)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(3)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(4)"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true" @click="userRating(5)"></i></li>
                        </ul>
                      </div>
                    </div>

                    <div class="review-form-field">
                      <div class="col-md-6">
                        <input type="text" id="text-01" name="name" placeholder="Name" v-model="Name">
                      </div>

                      <div class="col-md-6">
                        <input type="email" id="email" name="name" placeholder="Email" v-model="Email">
                      </div>

                      <div class="col-md-12">
                        <textarea id="text-1" placeholder="Message" rows="3" cols="50" v-model="Review"></textarea>
                      </div>

                      <div class="col-md-12">
                        <input type="submit" id="submit-01" value="SUBMIT REVIEW" @click.prevent="addReviews()">
                      </div>

                    </div>

                  </div>
                </div>



              </div>
              <!-- END: TAB PANE -->
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  </div>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>
  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="js/jquery.min.js?v=202004130000"></script>
  <!-- Bootstrap JQUERY -->
  <script src="js/bootstrap.min.js?v=202004130000"></script>

  <script src="js/jquery-ui.min.js?v=202004130000"></script>
  <script src="js/select2.min.js?v=202004130000"></script>
  <script src="js/owl.carousel.min.js?v=202004130000"></script>
  <script type="text/javascript" src="js/pack.js?v=202004130000"></script>
  <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
  <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>

  <!-- <script src="master/js/masterpage.js"></script> -->
  <script src="servicejs/package-detail.js?v=202005080000"></script>
  <!-- <script src="js/custom.js?v=202005080000"></script> -->

  <script>
    /*--------Banner-Slider---------*/
    $(document).ready(function () {

      $("#owl-demo-1").owlCarousel({
        autoplay: true,
        autoPlay: 8000,
        autoplayHoverPause: true,
        stopOnHover: false,
        items: 1,
        margin: 10,
        lazyLoad: true,
        navigation: true,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [979, 1],
        itemsTablet: [768, 1],
      });

      $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
      $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
    });
  </script>
</body>

</html>