<!DOCTYPE HTML>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> Privacy Policy</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Main Custom CSS -->
    <link href="css/owl.carousel.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet"
        type="text/css" />
    <link href="css/select2.min.css?v=202004130000" rel="stylesheet" type="text/css" />
    <link href="css/style.css?v=202009100000" rel="stylesheet" type="text/css" />

    <link href="css/media.css?v=202004130000" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css"
        href="/assets/css/bootstrap-select.min.css?v=202008130000">
    <link rel="stylesheet" type="text/css"
        href="/assets/css/flag.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <style>
        [v-cloak] {
            display: none !important;
        }
    </style>
</head>

<body>

    <!--Header -->
    <header>
        <headeritem></headeritem>
    </header>

    <div id="privacy" v-cloak>
        <!--inner-banner-->
        <section class="inner-banner" :style="{ background: 'url(' + bannerDetails.Image+ ')'}">
            <div class="container">
                <div class="row">
                    <h2>{{bannerDetails.Title}}</h2>
                    <div class="breadcrumbs">

                        <div class="bread-position">
                            <ul>
                                <li><a href="index.html">Home</a></li> <i class="fa fa-angle-double-right"></i>
                                <li>{{bannerDetails.Breadcrumb}}</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!--About-text-->
        <section class="privacy-content">
            <div class="container">
                <div v-for="Privacy in Main_Area.Privacy">
                    <h4>{{Privacy.Title}}</h4>
                    <p v-html="Privacy.Description"></p>
                </div>
            </div>
        </section>
    </div>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>
    <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="js/jquery.min.js?v=202004130000"></script>
    <!-- Bootstrap JQUERY -->
    <script src="js/bootstrap.min.js?v=202004130000"></script>

    <script src="js/jquery-ui.min.js?v=202004130000"></script>
    <script src="js/select2.min.js?v=202004130000"></script>
    <script src="js/owl.carousel.min.js?v=202004130000"></script>
    <script type="text/javascript" src="js/pack.js?v=202004130000"></script>
    <script src="js/custom.js?v=202005080000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <!-- <script src="master/js/masterpage.js"></script> -->
    <script src="servicejs/privacy-policy.js?v=202004280000"></script>
    <script>
        /*--------Banner-Slider---------*/
        $(document).ready(function () {

            $("#owl-demo-1").owlCarousel({
                autoplay: true,
                autoPlay: 8000,
                autoplayHoverPause: true,
                stopOnHover: false,
                items: 1,
                margin: 10,
                lazyLoad: true,
                navigation: true,
                itemsDesktop: [1199, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
            });

            $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
            $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
        });
    </script>
</body>

</html>