@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: bold;
	font-family:'Lato', sans-serif;
    font-size: 16px;
    color: #aba9a9;
	font-weight:normal;
	text-algn: center;
    display: inline-block;
    padding: 3px 10px;
    margin: 0 0px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
	line-height:17px;
	letter-spacing:2px;
}


.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 2%;
}

.resp-tab-active {
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
	border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
	background:#fff !important;
    margin: 0px;
    padding: 10px 16px;
	font-family:'Lato', sans-serif;
    font-size: 16px;
    color: #2F2683;
	font-weight:normal;
	text-transform:uppercase;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 100%;
	 min-height: 47px;
	background:url(../images/tab_bg.png) repeat-x bottom;
   margin-top: 0px !important;
   border-bottom:1px solid #ebeaea;
   background-color: #F5F5F5;

}



.resp-vtabs .resp-tabs-list li {
    display: block;
   padding: 15px 12px 15px 15px !important;
    cursor: pointer;
	margin:0px 0px 0px 0px;
	text-align:center;
    float: left;
	border-bottom:none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    float: left;
    width: 100%;
    min-height: 100px;
    clear: none;
	margin-bottom:0px;
	    margin-top: 0px;
    border-top:none !important;
}



.resp-vtabs li.resp-tab-active {
position: relative;
z-index: 1;
padding: 15px 12px 13px 31px !important
margin-bottom: 4px !important;
/*background:#0662ab !important;
*/border-bottom:none !important;
}

.resp-tab-item img {
  height: 25px;
width: 26px;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #ffffff;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB;/* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;/* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;/* !important;*/
}
.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
    float: left;
    width: 100%;

}
.resp-vtabs .resp-tab-content p{
	font-family:'Lato', sans-serif;
    font-size: 16px;
    color: #2d2d2d;
	font-weight:normal;
	text-align:justify;
	line-height: 27px;
	margin:0px;
}

.resp-vtabs .resp-tabs-list li.flight{
background:none !important;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	    padding-top: 17px !important;
    padding-bottom: 4px !important;
	color:#aba9a9 !important;
}
.resp-vtabs .resp-tabs-list li.flight:hover {
color:#2F2583  !important;
font-weight:bold;
background-color: #EEEEEE !important;
}
.resp-vtabs .resp-tabs-list li.flight.resp-tab-active {
color:#090707 !important;
box-shadow: 0px 1px 1px 1px #dbd6d6;
font-weight:bold;
background-color: #EEEEEE !important;

}



/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 1200px) {
    ul.resp-tabs-list {
        display: none;
    }
	.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
    float: left;
    width: 100%;}

    h2.resp-accordion {
        display: block;
		    width: 100%;
    float: left;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
		background:#f4f4f4;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;

    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
@media only screen and (min-width: 200px) and (max-width: 440px) {
.imagesArea ul li {
    width: 100%;
}
}
@media only screen and (min-width: 440px) and (max-width: 600px) {
.imagesArea ul li {
    width: 49%;
}
}
