﻿@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
@import url('/assets/pluggins/google-fonts/roboto-display-swap.css?v=202008130000');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

.modal-open{
    padding-right: 17px;
}
ul {
    list-style: none;
}

img,
object,
embed,
video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    outline: none !important;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #FFF;
}

::selection {
    background-color: #dfdae6;
    color: #FFF;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
}
.pageload {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.95);
    z-index: 99999;
}
.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.pageload img {
    display: inline-block;
    vertical-align: middle;
}

/*Banner css*/


/* .banner {
    width: 100%;
    float: left;
    position: relative;
} */
.banner{
    width: 100%;
    float: left;
}
.banner h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
}
.banner .carousel-caption{
    bottom: initial;
    top: 25%;
}
.banner .carousel-inner>.item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.38);
}
.holiday-package{
    width: 100%;
    float: left;
    padding: 40px 0px;
}
.holiday-package h3{
    color: #3d489e;
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.holiday-package h3 span{
    position: relative;
}
.holiday-package h3 span::after{
    content: '';
    position: absolute;
    width: 123px;
    border-bottom: 1px solid #00a0c6;
    left: 26%;
    bottom:-14px;
}
.holiday-package h3 span::before{
    content: '';
    position: absolute;
    width: 123px;
    border-bottom: 1px solid #3e489e;
    left: 39%;
    bottom:-18px;
}
.owl-carousel .owl-item {
    float: left;
    padding: 40px 10px 14px 23px !important;
}
.packageSec{
    width: 100%;
    float: left;
    background: #FFF;
    border-radius: 11px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.23);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 20px;
    position: relative;
}
.packageSec:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3653a3+0,0895c1+100 */
background: #3653a3; /* Old browsers */
background: -moz-linear-gradient(top,  #3653a3 0%, #0895c1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3653a3 0%,#0895c1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3653a3 0%,#0895c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3653a3', endColorstr='#0895c1',GradientType=0 ); /* IE6-9 */
box-shadow: none;
}
.packageSec:hover .p_txt h4, .packageSec:hover .p_txt h5, .packageSec:hover .p_txt p{
color: #FFF;
}
.packageSec:hover .book_btn button{
    color: #FFF;
}
.p_img_sec{
    width: 30%;
    border-radius: 13px;
    overflow: hidden;
    border: 2px solid #FFF;
    float: left;
    position: relative;
    margin-top: -57px;
}
.p_img_sec img{
    width: 100%;
    height: 141px;
}
.p_txt{
    width: 70%;
    float: left;
    padding-left: 22px;
}
.p_txt h4{
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #00a0c6;
    margin-bottom: 6px;
}
.p_txt h5{
    font-family: 'Barlow', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #353535;
    margin-bottom: 6px;
}
.p_txt span{
    padding: 0px 10px;
}
.p_txt p{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353535;
    margin-bottom: 6px;
}
.book_btn{
    width: 100%;
    float: left;
}
.book_btn button{
    float: right;
    border: none;
    background: none;
    font-family: 'Barlow', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #353535;
}
.book_btn button i{
    font-size: 19px;
}
.price_sec{
    position: absolute;
    left: -20px;
    bottom: 40px;
    background: #ffbf10;
    padding:4px 12px 16px 12px;
    border-radius: 9px;
}
.price_sec h5{
    color: #000;
    font-family: 'Barlow', sans-serif;
    font-size: 37px;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
}
.price_sec h5 span{
    font-weight: 500;
    font-size: 23px;
}
#holidaypackage .owl-controls{
    bottom: -36px;
}
.booking-banner{
    width: 100%;
    float: left;
    background-image: url(../images/bannerimg.png);
    position: relative;
    overflow: hidden;
}
.htlbok{
    text-align: center;
    padding: 156px 0px;
    position: relative;
    z-index: 99;    
}
.htlbok::before{
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    left: -11px;
    top: 35px;
    background: #3653a3;
    background: -moz-linear-gradient(top, #3653a3 0%, #0895c1 100%);
    background: -webkit-linear-gradient(top, #3653a3 0%,#0895c1 100%);
    background: linear-gradient(to bottom, #3653a3 0%,#0895c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3653a3', endColorstr='#0895c1',GradientType=0 );
    -moz-transform: scale(1.2) skew(-10deg, 0deg);
    -webkit-transform: scale(1.2) skew(-10deg, 0deg);
    -o-transform: scale(1.2) skew(-10deg, 0deg);
    -ms-transform: scale(1.2) skew(-10deg, 0deg);
    transform: scale(1.2) skew(-10deg, 0deg);
    border-left: 8px solid #FFF;
}
.htlbok h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffbf10;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index:9;
}
.htlbok h3{
    font-family: 'Barlow', sans-serif;
    font-size: 57px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index:9;
}
.htlbok p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 300;
    position: relative;
    z-index:9;
}
.htlbok button{
    background: #ffbf10;
    color: #000;
    padding: 9px 30px;
    border: none;
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 31px;
    border-radius: 8px;
    margin-top: 15px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.htlbok button:hover{
    background: #00a0c6;
    color: #FFF;
}
.airlinslinks{
    width: 100%;
    float: left;
    padding-top: 70px;
}
.left-padding0{
    padding-left: 0px;
}
.right-padding0{
    padding-left: 0px;
    padding-right: 0px;
}
.parent{
    display: flex;
  flex-direction: row;
  height: 100%;
}
.top-destinations{
    width: 100%;
    height: 100%;
    background: #f9f9f9 url(../images/destination-bg.png) no-repeat left bottom;
    min-height: 50px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.23);
    padding-top: 30px;
}
.top-airlines{
    width: 100%;
    height: 100%;
    background: #f9f9f9 url(../images/airline-bg.png) no-repeat right bottom;
    min-height: 50px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.23);
    padding-top: 30px;
    
}
.top-destinations h4{
    text-align: center;
    position: relative;
    margin-top: -48px;
    margin-bottom: 35px;
}
.top-destinations h4 span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFF;
    font-weight: 400;
    background: #00a0c6;
    padding: 9px 26px;
    border-radius: 7px;
}
.top-destinations ul{
    width: 50%;
    float: left;
}
.top-destinations ul li{
    width: 100%;
    float: left;
    margin-bottom: 13px;
}
.top-destinations ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #303030;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.top-destinations ul li a:hover{
    color:#00a0c6;
}

.top-airlines h4{
    text-align: center;
    position: relative;
    margin-top: -48px;
    margin-bottom: 35px;
}
.top-airlines h4 span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFF;
    font-weight: 400;
    background: #3e499e;
    padding: 9px 26px;
    border-radius: 7px;
}
.top-airlines ul{
    width: 33.3%;
    float: left;
}
.top-airlines ul li{
    width: 100%;
    float: left;
    margin-bottom: 13px;
}
.top-airlines ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #303030;
    font-weight: 500;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.top-airlines ul li a:hover{
    color: #3e499e;
}
.search-form{
    width: 100%;
    float: left;
    background: #3d489e;
    padding: 10px 0px;
    border-top: 5px solid rgba(255, 255, 255, 0.5);
}
.search-form .tab-links {
    width: auto;
    display: table;
    margin-top: -151px;
}
.oneway_btn {
    width: 100%;
    float: left;
    margin-bottom: 18px;
}
.traveltype {
    width: 287px;
    margin: auto;
}
.bt {
    float: left;
    margin-right: 13px;
}
.flx_sec {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.bt input[type="radio"] {
    position: absolute;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.bt input[type="radio"]+label:before {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 4px;
    background: #FFF;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.bt input[type="radio"]:checked+label:before {
    background: #febf10;
}

.bt input[type="radio"]+label:before {
    background: #FFF;
}

.bt label {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 300;
    line-height: 13px;
    text-transform: uppercase;
}
.flightForm_sec {
    width: 100%;
    float: left;
}
.formtxt {
    width: 100%;
    height: 74px;
    background: #FFF;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222222;
    border: none;
    font-weight: 400;
    margin-bottom: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.kmsliderSec {
    background: #FFF;
    padding: 0px 10px;
    height: 74px;
    text-align: center;
}
.within_sec {
    font-size: 12px !important;
    font-weight: 300 !important;
    font-family: 'Poppins', sans-serif;
    padding: 11px 0px;
}
.noUi-handle {
    border: 2px solid #3d489e;
    background: #3d489e;
}
.kmsliderSec label {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-top: 5px;
}
.travellerSecHtl {
    width: 100%;
    height: 74px;
    float: left;
    background: #FFF;
    padding: 0 0px 0 0px;
    position: relative;
}
.travellercoutHtl {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    line-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.travellercoutHtl>input {
    height: 74px;
    width: 100%;
    border: none;
    border-radius: 0px;
    position: relative;
    z-index: 9;
    background: none;
    text-align: left;
}
.travellerSecHtl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 21px;
    font-size: 22px;
    color: #9ca6b0;
}
.htl_advc {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #272727;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 3px;
}
.custom-select-htl {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.calendarSec {
    width: 100%;
    float: left;
    background: #FFF;
    position: relative;
}
.custom-select-htl select {
    width: 100%;
    height: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: none;
    z-index: 9;
    position: relative;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
.custom-select-htl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 22px;
    color: #9ca6b0;
}
.calendarSec1 {
    width: 100%;
    height: 74px;
    background: none;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222222;
    border: none;
    font-weight: 400;
    position: relative;
    z-index: 99;
}
.calendarSec i {
    font-size: 15px;
    color: #ffffff;
    position: absolute;
    right: -15px;
    top: 23px;
    z-index: 9;
    background: #00a0c6;
    padding: 6px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    text-align: center;
}
.flightauto i{
    position: absolute;
    right: -15px;
    top: 23px;
    z-index: 9;
    background: #00a0c6;
    padding: 6px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    text-align: center;
    cursor: pointer; 
}
.flightauto i img{
    float: left;
    margin-top: 1px;
}
.travellerSec {
    width: 100%;
    height: 74px;
    float: left;
    background: #FFF;    
    position: relative;
}
.travellercout {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    line-height: 77px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 30px 0 10px;
    z-index: 9;
    position: relative;
}
.travellerOptions {
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 76px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.06);
    display: none;
}
.travellerOptions5 {
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 76px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.passenger_area {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0003;
    padding-bottom: 4px;
}
.passenger_area p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #272727;
    float: left;
    padding: 0;
    font-weight: 300;
}
.pass_click {
    width: auto;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #646060;
}
.pass_click a {
    float: left;
}
.pass_click a i {
    font-size: 20px;
    color: #3d489e;
    cursor: pointer;
}
.pass_click span {
    width: 21px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-weight: 300;
}
.classtype_area {
    width: 100%;
    float: left;
    padding-top: 5px;
}
.classsec_area {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.classsec_area label {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #272727 !important;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 300;
}
.travellerSec::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 24px;
    font-size: 22px;
    color: #9ca6b0;
    z-index: 1;
}
.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"]:checked+label:before {
    background: #febf10;
}

.classsec_area input[type="radio"]+label:before {
    background: #d8d8d8;
}
.closeDropdown {
    float: right;
}
.closeDropdown .closeLink {
    padding: 7px 12px;
    background: #febf10;
    color: #000;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
}
.searchButton {
    width: 100%;
    float: left;
}
.searchButton button {
    width: 189px;
    height: 74px;
    margin: auto;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 600;
    display: block;
    line-height: 41px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    background: #febf10;
}
.padding0{
    padding-left: 0px;
    padding-right: 0px;
}
.padding1{
    padding-left: 1px;
    padding-right: 0px;
}
.search-form .tab {
    position: relative;
}
.multicity {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 999;
    top: 38px;
    background: #3d489e;
    padding: 17px 11px;
    display: none;
}
.multi_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.63);
    z-index: 9;
}
.flightSearch {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    font-size: 15px;
    padding: 12px 32px;
    background: #febe0f;
    float: right;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 6px;
}
.multiSection{
    width: 100%;
    float: left;
    position: relative;
}
.multiSection label{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 300;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.multiSection i.close {
    position: absolute;
    right: 1px;
    top: 0px;
    color: #FFF;
    font-size: 22px;
    opacity: 1;
}
.add_flight {
    float: right;
    padding: 3px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-top: 14px;
    cursor: pointer;
}
.add_flight i {
    font-size: 21px;
    margin-left: 6px;
    float: right;
}
/* calendar css */
.ui-datepicker {
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999999999 !important;
}

.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #3d489e;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}

.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color: #000;
}

.ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 46px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 2px;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
    color: #2e475d;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
    font-size: 14px;
    padding: 2px;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #3d489e;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #42474d;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
}

.ui-state-default:hover {
    background: #3d489e;
    color: #fff;
}

.ui-state-highlight {
    color: #fff;
    background: #3d489e;
}

.ui-state-active {
    background: #95a9bf none repeat scroll 0 0;
    /* border-radius: 50%; */
    color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #afc2d8;
    border: 2px solid transparent;
}

.ui-datepicker-trigger {
    background-color: transparent;
    border: medium none;
    color: #ababab;
    font-size: 22px;
    padding: 0;
    position: absolute;
    left: 10px;
    bottom: 20px;
}
/* calendar css close*/

.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
    max-height: 223px;
    overflow: auto;
    background-color: #3d489e;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 75px;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li {
    font-size: 13px;
    font-weight: 300;
    color: #b1bdff;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #000;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
    color: #b1bdff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: #febf10;
    color: #000 !important;
}

.autocomplete-result:hover {
    background-color: #febf10;
    color: #000;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}


.hotlsSec {
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.17);
    margin-bottom: 5px;
    border-radius: 4px;
}
.form_sec {
    width: 100%;
    float: left;
    position: relative;
    background: #FFF;
    margin: 5px 0px;
}
.form_sec .form-control {
    height: 45px;
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 9;
}
.en_dwn_htl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 6px;
    top: 7px;
    font-size: 22px;
    color: #9ca6b0;
}
.hotlsSec .rooms {
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 54px;
}

/* inner page css*/
.inner-banners{
    width: 100%;
    float: left;
    padding: 127px 0px;
    position: relative;
    text-align: center;
}
.inner-banners::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
}
.inner-banners h1{
    font-size: 31px;
    color: #FFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index:1;
    margin-bottom: 5px;
}
.inner-banners p{
    font-size: 15px;
    color: #febf10;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index:1;
}
.inner-banners p a{
    color: #FFF;
}
.packagelist{
    width: 100%;
    float: left;
    padding: 26px 0px 10px 0px;
}

/*packages css*/
.package-modify{
    width: 100%;
    float: left;
    background: #FFF;
    border: 1px solid #ebebeb;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
    padding: 10px 20px;
    border-radius: 3px;
    margin-bottom: 19px;
}
.modify-txt{
    position: relative;
    width: 100%;
    float: left;
}
.padding5{
    padding-left: 5px;
    padding-right: 5px;
}
.modify-txt input{
    width: 100%;
    height: 43px;
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #3e499e;
    padding:0 35px  0 10px;
}
.modify-txt select{
    width: 100%;
    height: 43px;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #a1a1a1;
    padding:0 0px  0 10px;
    line-height: 43px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border:none;
    position: relative;
    z-index: 1;
}
.modify-txt button{
    width: 100%;
    height: 45px;
    background: #febf10;
    border: 1px solid #febf10;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    line-height: 45px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.modify-txt button:hover{
    background: #02a6cd;
    border: 1px solid #02a6cd;
    color: #FFF;
}
.modify-txt1{
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    
}
.modify-txt input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #a1a1a1;
}
.destinationIcon::after{
    content: '';
    position: absolute;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: url(../images/sprint.png) 0px 0px no-repeat;
}
.traveldateIcon::after{
    content: '';
    position: absolute;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: url(../images/sprint.png) 0px -35px no-repeat;
}
.sortIcon::after{
    content: '';
    position: absolute;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    background: url(../images/sprint.png) 0px -63px no-repeat;
}
.package_list{
    width: 100%;
    float: left;
    border:1px solid #e3e3e3;
    background: #FFF;
    border-radius: 7px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 24px;
}
.package_list:hover{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
}
.packageImg{
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.packageImg span{
    position: absolute;
    right: 0;
    bottom: 20px;
    background:#febf10;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    padding: 10px;
    -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;

}
.packageImg img{
    width: 100%;
    height: 239px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.package_list:hover .packageImg img{
    transform: scale(1.2);
}
.package-text{
    width: 100%;
    float: left;
    padding: 10px;
}
.pck_desti{
    width: 100%;
    float: left;
}
.pck_desti h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pck_desti p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #757575;
}
.pck-btn-sec{
    width: 100%;
    float: left;
    padding-top: 11px;
}
.pck-btn-sec button{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 15px;
    background: #3e499e;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    float: left;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.pck-btn-sec button:hover{
    background: #febf10;
    color: #000;
}
.pck-right{
    float: right;
    text-align: right;
    margin-bottom: 5px;
}
.star-rating i{
    color: #febf10;
    font-size: 16px;
    float: left;
    margin-left: 2px;
}
.days{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #757575;
}
.days i{
    color: #00a0c6;
}
.package-modify h6{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #484848;
    padding: 0px 0px 8px 0px;
}
.package-booking{
    width: 100%;
    float: left;
    border-left: 1px solid #dce0e0;
    border-right: 1px solid #dce0e0;
    border-bottom: 1px solid #dce0e0;
    border-radius: 4px;
    background: #FFF;
    padding: 10px 20px 20px 20px;
    margin-bottom: 21px;
}
.bookingHead{
    width: 100%;
    float: left;
    min-height: 50px;
    background:#3d489e;
    -webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.booking-price{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    padding: 11px 18px;
}
.per-person{
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    padding: 15px 18px;
}
.package-booking label{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size:13px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 3px;
}
.packagefields{
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
.packagefields input{
    width: 100%;
    float: left;
    background-color: #ffffff;
    color: #555555;
    border:1px solid #dce0e0;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size:13px;
    font-weight: 300;
}
.package-booking button{
    width: 100%;
    float: left;
    background-color: #febf10;
    color: #000;
    border:1px solid #febf10;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight: 600;
}
.book_description{
    float: left;
    width: 100%;
    border-top: 1px dashed #dce0e0;
    padding: 20px 0 0px 0;
    margin-top: 28px;
}
.des_txt{
    width: 80%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size:13px;
    font-weight: 300;
    color: #7d7d7d;
}
.packagefields button {
    width: auto;
    top: 0px;
    right: -1px;
    left: inherit;
    height: 40px;
    line-height: 14px;
    }
.des_icon{
    width: 10%;
    float: right;
}
.des_icon i{
    font-size: 27px;
}
.mainpackage h4{
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    font-weight: 500;
    color: #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #dce0e0;
}
.package_days{
    width: 100%;
    float: left;
}
.package_days h3{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
    margin-top: 10px;
}
.package_days p{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 5px;
    line-height: 22px;
    text-align: justify;
}
.package_days img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}
.wp-caption-text{
    font-size:12px !important;
    font-weight: 300;
    color: #a7a7a7 !important;
    text-align: center !important;
}
.review_sec{
    width: 100%;
    float: left;
    padding: 10px 0;
    border-top: 1px dashed #dce0e0;
    border-bottom: 1px dashed #dce0e0;
    margin-top: 20px;
}
.review_sec h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 5px;
    border-bottom: none;
}
.review_sec ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.review_sec ul li{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    display: table;
    width: 100%;
    border-bottom: 1px dashed #dce0e0;
    padding-bottom: 10px;
}
.review_sec ul li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.review_author{
    width: 10%;
    float: left;
    padding-right: 10px;
}
.review_author img{
    border-radius: 50%;
}
.review_description{
    width: 90%;
    float: left;
}
.review_description h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #222222;
}
.review_description p span{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #a2a2a2;
    margin-bottom: 5px;
}
.review_description p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #222222;
    text-align: justify;
    line-height: 22px;
}
.write_review{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.write_review h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 5px;
    border-bottom: none;
}
.write_review label{
    width: 100%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #222222;
    margin-bottom: 3px;
}
.write_review label span{
    color: #f70000;
}
.review-text{
    width: 100%;
    float: left;
    background-color: #f3f3f3;
    color: #555555;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    height: 40px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.review-textarea{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #f3f3f3;
    color: #555555;
    border: 1px solid #dce0e0;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
    resize: none;
}
.write_review button{
    width: 150px;
    float: right;
    background-color: #febf10;
    color: #000;
    border: 1px solid #febf10;
    border-radius: 4px;
    height: 45px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/*contact us*/

.contactus-sec{
    width: 100%;
    float: left;
    padding: 20px 0px;
}
.form-contact h5{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.form-contact p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 30px;
    text-align: center;
}
.contact-txt{
    width: 100%;
    float: left;
    text-align: center;
}
.contact-txt input{
    width: 100%;
    height: 43px;
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #3e499e;
    padding: 0 35px 0 10px;
    margin-bottom: 20px;
}
.contact-txt textarea{
    width: 100%;
    height: 113px;
    background: #f3f3f3;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #3e499e;
    padding: 10px 35px 0 10px;
    margin-bottom: 20px;
    resize: none;
}
.contact-txt button{
    width: 250px;
    height: 55px;
    background: #febf10;
    border: 1px solid #febf10;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #444444;
    line-height: 45px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}
.contact-txt button:hover{
    background: #02a6cd;
    border: 1px solid #02a6cd;
    color: #FFF;
}
.contact-info h4{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.contact-info p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 30px;
}
.contact-info ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    float: left;
    margin-bottom: 14px;
}
.contact-info ul li{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}
.contact-info ul li span{
    font-weight: 500;
    color: #02a6cd;
}
.contact-info ul li i {
    width: 37px;
    float: left;
    text-align: center;
    background: #02a6cd;
    height: 37px;
    border-radius: 50%;
    color: #FFF;
    line-height: 20px;
    padding: 9px;
    margin-right: 10px;
}
.contact-info ul li:first-child i{
    font-size: 29px;
}
.contact-info ul li:nth-child(2) i{
    font-size: 18px;
}
.contact-info ul li:nth-child(3) i{
    font-size: 21px;
}
.mediaIcons{
    width: 100%;
    float: left;
}
.mediaIcons i{
    width: 36px;
    height: 36px;
    background: #e8e8e8;
    color: #45423f;
    text-align: center;
    line-height: 36px;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.mediaIcons i:hover {
    background: #00a0c6;
    color: #FFF;
}
.map{
    width: 100%;
    float: left;
    padding-top: 20px;
}
/*About us css*/
.aboutus_sec{
    width: 100%;
    float: left;
    padding: 36px 0px 10px 0px;
}
.aboutus_sec h3{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}
.aboutus_sec p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #828282;
    margin-bottom: 30px;
    text-align: center;
    line-height: 27px;
}
.bgimg-1{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choose_sec{
    width: 100%;
    float: left;
    padding: 30px 0px;
}
.choose_sec::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(61, 72, 158, 0.51);
}
.choose_sec h2{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #FFF;
    margin-bottom: 80px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.service_sec{
    width: 100%;
    float: left;
    background: #FFF;
    position: relative;
    padding: 15px;
    min-height: 200px;
}
.serviceicon{
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 56px;
    background: #febf10;
    margin: auto;
    position: relative;
    margin-top: -45px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}
.serviceicon i{
    font-size: 25px;
    color: #FFF;
}
.service_sec h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #020202;
    margin-bottom: 10px;
    text-align: center;
}
.service_sec p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8e8e8e;
    text-align: center;
}
/*Terms css*/
.terms_sec{
    width: 100%;
    float: left;
    padding: 26px 0px 10px 0px;
}
.terms_sec h5{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: #020202;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 24px;
}
.terms_sec p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #7d7d7d;
    margin-bottom: 10px;
    text-align: justify;
}
.star-rating5{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.star-rating5 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.star-rating5 ul li{
    float: left;
    color: #a9a9a9;
    margin-right: 2px;
    width: auto;
    border-bottom: none;
}
.review_description .star-rating5 ul li i{
    font-size: 12px;
}
.review_description .star-rating5 ul li{
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.review_description .star-rating5{
    margin-bottom: 0px;
}
.star-rating5 ul li i{
    font-size: 16px;
}
.star-rating5 ul li:hover i, .star-rating5 ul li:focus i{
    color:rgb(239, 158, 8);
}
/*inner page css close*/








@media (max-width: 768px){
    .p_img_sec {
        width: 100%;
    }
    .p_img_sec img{
        width: 100%;
    }
    .price_sec {
        position: relative;
        left: 0;
        bottom: 0;
        background: #ffbf10;
        padding: 4px 12px 16px 12px;
        border-radius: 9px;
        float: left;
        width: 100%;
        margin-bottom: 7px;
    }
    .p_txt {
        width: 100%;
        padding-left: 0;
    }
    .price_sec h5 {
        font-size: 27px;
        line-height: 19px;
    }
    .price_sec h5 span {
        font-size: 17px;
    }
    .htlbok {
        padding: 34px 0px;
    }
    .htlbok::before{
        top: 0px;
    }
    .htlbok h3{
        font-size: 28px;
    }
    .htlbok button {
        padding: 2px 22px;
        font-size: 17px;
    }
    .holiday-package h3 {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .airlinslinks{
        display: none;
    }
    .top-destinations{
        margin-bottom: 50px;
    }
    .top-destinations ul li, .top-airlines ul li{
        text-align: center;
    }
    .top-destinations ul, .top-airlines ul{
        width: 100%;
    }
    .review_author, .review_description {
        width: 100%;
        text-align: center;
    }
    .review_description p{
        text-align: center;
    }
    .write_review button{
        width: 100%;
    }
    .packageImg img{
        height: auto;
    }
    .contact-info{
        padding-top: 23px;
    margin-top: 20px;
    border-top: 1px dashed #cecece;
    }
}
@media (max-width: 990px){
    .search-form .tab-links {
        margin-top: -9px;
        margin-bottom: 38px;
    }
    .formtxt, .calendarSec{
        margin-bottom: 2px;
    }
    .calendarSec i, .flightauto i{
        right: 0px;
    top: 60px;
    }
    .searchButton button{
        width: 100%;
    }
    .flightSearch{
        width: 100%;
    }
    .travellerOptions{
        top: 56px;
    }
    .kmsliderSec{
        margin-bottom: 2px;
    }
    .travellerSecHtl{
    margin-bottom: 10px;
    }
    .modal-open{
        padding-right: 0px;
    }
    .modify-txt{
        margin-bottom: 5px;
    }
    .inner-banners {
        padding: 23px 0px;
    }
    .inner-banners h1 {
        font-size: 23px;
    }
    .service_sec{
        margin-bottom: 40px;
    }
    .choose_sec {
        padding: 30px 0px 0px 0px;
    }
    .choose_sec h2{
        margin-bottom: 45px;
    }
}
@media (max-width: 620px){
    .banner h3{
        font-size: 14px;
    }
    .tab-links a{
        width: 50px !important;
        height: 50px  !important;
    }
    .tab-links a svg {
        width: 29px !important;
    height: 22px !important;
    margin-top: 9px !important;
    }
    .tab-links li {
        padding: 6px !important;
    }
    .tab-links a span{
        display: none;
    }
    .search-form .tab-links {
        margin-bottom: 7px;
    }
    .formtxt, .calendarSec1, .travellerSec, .searchButton button{
        height: 54px;
    }
    .travellercout{
        line-height: 55px;
    }
    .travellerSec::after{
        top: 13px;
    }
    .calendarSec i, .flightauto i {
        right: 0px;
        top: 39px;
    }
}