@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@font-face {
    font-family: 'dearjoe_5_dearjoe5casualtrial';
    src: url('dj5ctrial-webfont.woff2') format('woff2'), url('dj5ctrial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Master css*/

header {
    width: 100%;
    background: #000;
    padding: 8px 0px;
    position: relative;
    z-index: 9999;
    font-weight: 400;
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 11px;
    width: 100%;
    height: 2px;
    background: #f5be2c;
}

.logo {
    width: auto;
    position: relative;
}

.flx_sec {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.grow_sec1 {
    flex-grow: 1;
}

.logo img {
    width: 176px;
    background: #000;
    z-index: 9;
    position: relative;
    padding: 0 8px;
}

.header-right {
    /*    width: 73%;*/
}

.dropdown a::after {
    display: none;
}

.htl_sec {
    width: 100%;
    float: left;
}
.retrive_booking::after{
    display:none;
}

.inherit_display {
    display: inherit !important;
}

.header_top {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
}

.header_top>div {
    margin-left: 5px !important;
    padding-left: 5px !important;
    border-left: 1px solid #484848;
}

.arbrder_left>div {
    margin-left: 0px !important;
    padding-left: 0px !important;
    border-left: none;
    margin-right: 5px !important;
    padding-right: 5px !important;
    border-right: 1px solid #484848;
}

.arbrder_left>div:first-child {
    border-right: none;
}

.header_top>div:first-child {
    border-left: none;
}

.contact_number {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fad41a;
}

.contact_number a {
    color: #fad41a;
}

.contact_number i {
    margin-right: 5px;
    margin-left: 5px;
}

.retrive_booking {
    position: relative;
    cursor: pointer;
}

.retrive_booking_sec {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fad41a;
    position: relative;
    cursor: pointer;
    padding-right: 0px !important;
}


/* .retrive_booking::after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 19px;
    color: #fad41a;
    position: absolute;
    right: 7px;
    top: -2px;
    line-height: 28px;
} */

.sub_menu {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sub_menu li {
    float: left;
}

.sub_menu li a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFF;
    border-right: 1px solid #505050;
    text-transform: uppercase;
    padding: 0 7px;
}

.sub_menu li:last-child a {
    border-right: none;
}

.sub_menu li a:hover {
    color: #fad41a;
}

.nav {
    /*    width: 100%;*/
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}

.nav ul li {
    /*    float: left;*/
    align-items: flex-end;
}

.nav ul li a {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    color: #FFF;
    padding: 0px 8px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.dl-menu li a svg {
    width: 30px;
    height: 30px;
    fill: #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    float: left;
    margin-right: 6px;
}

.nav ul li a svg {
    width: 30px;
    height: 30px;
    fill: #929292;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.nav ul li a:hover,
.nav ul li.active a {
    color: #ffc627;
}

.nav ul li a:hover svg,
.nav ul li.active a svg {
    fill: #ffc627;
}

.nav ul li a img {
    text-align: center;
    margin-bottom: 11px;
}

.nav ul li a p {
    text-align: center;
    font-weight: 600;
    color: #929292;
}

.mb_menu {
    display: none;
    position: relative;
    margin-top: 26px;
}

#showMenu {
    width: 30px;
    height: 20px;
    background: url(/Nirvana/images/menu_bg.png) no-repeat;
    border: none;
    float: right;
}

.dl-menu li a img {
    margin-right: 10px;
    width: 18px;
}

.retrive_list {
    position: absolute;
    width: 100%;
    padding: 10px;
    background: #FFF;
    margin: 0px;
    padding: 0px;
    top: 32px;
    z-index: 999;
    list-style: none;
    display: none;
}

.retrive_list::before {
    content: "\f0d8";
    font-family: FontAwesome;
    font-size: 23px;
    color: #FFF;
    position: absolute;
    right: 26px;
    top: -19px;
}

.retrive_list li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e6e6e6;
}

.retrive_list li a {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #717171;
    display: block;
    padding: 6px 11px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

.retrive_list li a:hover {
    background: #00a8e1;
    color: #FFF;
    text-decoration: none;
}

footer {
    width: 100%;
    float: left;
    padding: 0px !important;
    background: #FFF;
}

.contact_head {
    width: 100%;
    float: left;
    text-align: center;
}

.contact_head h1 {
    display: inline-block;
    padding: 0px 20px 15px 20px;
    position: relative;
    color: #FFF;
    font-size: 30px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
}


/* .contact_head h1:before, .contact_head h1:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}
.contact_head h1:before {
    right: 100%;
    width: 150px;
}
.contact_head h1:after {
    left: 100%;
    width: 150px;
} */

.hotel_section {
    text-align: center;
}

.hotel_section h2 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #FFF;
    font-size: 30px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hotel_section h2:before,
.hotel_section h2:after {
    background: #fff;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.hotel_section h2:before {
    right: 100%;
    width: 150px;
}

.hotel_section h2:after {
    left: 100%;
    width: 150px;
}

.hotel_section .item {
    padding: 0px 20px 0px 20px;
}

.contact1 {
    float: left;
    width: 100%;
    padding: 9px 0px;
    background: #0e161d url(/Nirvana/images/map.png) center no-repeat;
}

.country {
    padding-bottom: 27px;
}

.country h3 {
    color: #FFF;
    padding-top: 0px;
    padding-bottom: 11px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500;
}

.uae p {
    color: #FFF;
    font-family: 'Lato', sans-serif;
}

.contact1 .container .row .country:first-child {
    border-right: 2px solid #aaa;
}

.map_sec {
    width: 100%;
    float: left;
}

.footer_address_sec {
    width: 100%;
    float: left;
    padding: 25px 0px 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#Contactinfodiv i,
Contactinfodiv a {
    color: #292929;
}

.n_sec {
    padding-bottom: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #292929;
    font-size: 14px;
    font-weight: normal;
}

.n_sec a {
    color: #292929;
    font-size: 14px;
    font-weight: normal;
}

.about_footer h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: inherit;
    color: #292929;
}

#indexmain .carousel-caption h3 {
    font-family: "Roboto", sans-serif;
    font-size: 41px;
    color: #FFF;
    text-align: center;
    text-shadow: none;
    font-weight: 600;
}

#indexmain .carousel-caption h3 span {
    font-family: 'dearjoe_5_dearjoe5casualtrial';
    color: #ffc627;
    font-size: 55px;
    font-weight: normal;
}

.about_footer h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: inherit;
    color: #292929;
}

.about_footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #292929;
    margin-bottom: 10px;
}

.subscribe_sec a {
    padding: 5px 10px;
    margin-top: 0px;
    float: right;
    border-radius: 6px;
    color: #000;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffe02d+0,c6b20d+100 */
background: #ffe02d; /* Old browsers */
background: -moz-linear-gradient(top,  #ffe02d 0%, #c6b20d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffe02d 0%,#c6b20d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffe02d 0%,#c6b20d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe02d', endColorstr='#c6b20d',GradientType=0 ); /* IE6-9 */
}

.ar_direction1 .subscribe_sec a {
    float: left;
}
.subscribe_sec .form-control{
    border-radius: 6px !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1ab3ee+0,1e7dc2+100 */
background: #1ab3ee !important; /* Old browsers */
background: -moz-linear-gradient(top,  #1ab3ee 0%, #1e7dc2 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1ab3ee 0%,#1e7dc2 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1ab3ee 0%,#1e7dc2 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ab3ee', endColorstr='#1e7dc2',GradientType=0 ) !important; /* IE6-9 */
border:none !important;
color: #FFF !important;
}
.subscribe_sec .form-control option{
    background: #1ab3ee;
}


/* #sicialdiv{
        margin-top: -26px;
    margin-left: 184px;
} */

.f_btn {
    display: flex;
    justify-content: flex-end;
}

.footer_address_sec .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
    margin-bottom: 0px;
}

.footer_address_sec .form-group {
    margin-bottom: 0;
    padding: 4px;
}

.sb_btn {
    width: 90px;
    height: 24px;
    font-size: 11px;
    margin-top: 1px;
    background: #cccccc !important;
    color: #292929 !important;
    position: relative;
    left: 10px;
    border-radius: 6px;
    border: 0px;
    line-height: 13px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.28);
}

.sb_btn:hover {
    background: #010101 !important;
    color: #FFF !important;
}

.footer_bottom {
    width: 100%;
    float: left;
    background: #0e161d;
    padding: 11px 0px;
}

#terms ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#terms ul li {
    float: left;
}

#terms ul li a {
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 0 7px;
    border-right: 1px solid #fff;
}

.border_right li:last-child a {
    border-right: 1px solid #fff !important;
}

#terms ul li:last-child a {
    border-right: none;
}

#terms p {
    font-size: 11px;
    color: #FFF;
    width: 100%;
    float: left;
    padding-left: 7px;
    font-family: "Roboto", sans-serif;
}

#copyright img {
    width: 94px;
}


/*Master css close*/


/*mobile menu*/


/* Common styles of menus */

.dl-menuwrapper {
    width: 100%;
    float: left;
    position: absolute;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
    top: 2px;
}


/*.dl-menuwrapper:first-child {
	margin-right: 100px;
}
*/

.dl-menuwrapper button {
    background: #ccc;
    border: none;
    width: 48px;
    height: 45px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background: #00a8e1;
}

.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
    border-bottom: 1px solid #0e86af;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 0px 11px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.dl-menuwrapper li a:hover {
    background: #f5be2c;
    color: #292929;
}

.dl-menuwrapper li a i {
    font-size: 18px;
    width: 22px;
    text-align: center;
    margin-right: 11px;
}

.no-touch .dl-menuwrapper li a:hover {
    background: rgba(255, 248, 213, 0.1);
}

.dl-menuwrapper li.dl-back>a {
    padding-left: 30px;
    background: rgba(0, 0, 0, 0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li>a:not(:only-child):after {
    position: absolute;
    top: 11px;
    line-height: 50px;
    font-family: 'Lato', sans-serif;
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "";
    width: 6px;
    height: 12px;
    background: url(../images/sprint.png) no-repeat -128px -22px;
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: rgba(212, 204, 198, 0.3);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li>a:after {
    right: 10px;
    color: rgba(0, 0, 0, 0.15);
}

.dl-menuwrapper .dl-menu {
    margin: 76px 0 0 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}


/* Hide the inner submenus */

.dl-menuwrapper li .dl-submenu {
    display: none;
}


/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/

.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen>a,
.dl-menu.dl-subview li.dl-subview>a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen>.dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen>.dl-submenu>li {
    display: block;
}


/* Dynamically added submenu outside of the menu context */

.dl-menuwrapper>.dl-submenu {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    margin: 0;
}


/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
}

.dl-menu.dl-animate-out-2 {
    -webkit-animation: MenuAnimOut2 0.3s ease-in-out;
    animation: MenuAnimOut2 0.3s ease-in-out;
}

.dl-menu.dl-animate-out-3 {
    -webkit-animation: MenuAnimOut3 0.4s ease;
    animation: MenuAnimOut3 0.4s ease;
}

.dl-menu.dl-animate-out-4 {
    -webkit-animation: MenuAnimOut4 0.4s ease;
    animation: MenuAnimOut4 0.4s ease;
}

.dl-menu.dl-animate-out-5 {
    -webkit-animation: MenuAnimOut5 0.4s ease;
    animation: MenuAnimOut5 0.4s ease;
}

@-webkit-keyframes MenuAnimOut1 {
    0% {}
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut2 {
    0% {}
    100% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut3 {
    0% {}
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut4 {
    0% {}
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes MenuAnimOut5 {
    0% {}
    100% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut1 {
    0% {}
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimOut2 {
    0% {}
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes MenuAnimOut3 {
    0% {}
    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut4 {
    0% {}
    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes MenuAnimOut5 {
    0% {}
    100% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
}

.dl-menu.dl-animate-in-2 {
    -webkit-animation: MenuAnimIn2 0.3s ease-in-out;
    animation: MenuAnimIn2 0.3s ease-in-out;
}

.dl-menu.dl-animate-in-3 {
    -webkit-animation: MenuAnimIn3 0.4s ease;
    animation: MenuAnimIn3 0.4s ease;
}

.dl-menu.dl-animate-in-4 {
    -webkit-animation: MenuAnimIn4 0.4s ease;
    animation: MenuAnimIn4 0.4s ease;
}

.dl-menu.dl-animate-in-5 {
    -webkit-animation: MenuAnimIn5 0.4s ease;
    animation: MenuAnimIn5 0.4s ease;
}

@-webkit-keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes MenuAnimIn2 {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes MenuAnimIn5 {
    0% {
        -webkit-transform: translateY(40%);
        transform: translateY(40%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.dl-menuwrapper>.dl-submenu.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
}

.dl-menuwrapper>.dl-submenu.dl-animate-in-2 {
    -webkit-animation: SubMenuAnimIn2 0.3s ease-in-out;
    animation: SubMenuAnimIn2 0.3s ease-in-out;
}

.dl-menuwrapper>.dl-submenu.dl-animate-in-3 {
    -webkit-animation: SubMenuAnimIn3 0.4s ease;
    animation: SubMenuAnimIn3 0.4s ease;
}

.dl-menuwrapper>.dl-submenu.dl-animate-in-4 {
    -webkit-animation: SubMenuAnimIn4 0.4s ease;
    animation: SubMenuAnimIn4 0.4s ease;
}

.dl-menuwrapper>.dl-submenu.dl-animate-in-5 {
    -webkit-animation: SubMenuAnimIn5 0.4s ease;
    animation: SubMenuAnimIn5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
}

@-webkit-keyframes SubMenuAnimIn5 {
    0% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn2 {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn3 {
    0% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn4 {
    0% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
}

@keyframes SubMenuAnimIn5 {
    0% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.dl-menuwrapper>.dl-submenu.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
}

.dl-menuwrapper>.dl-submenu.dl-animate-out-2 {
    -webkit-animation: SubMenuAnimOut2 0.3s ease-in-out;
    animation: SubMenuAnimOut2 0.3s ease-in-out;
}

.dl-menuwrapper>.dl-submenu.dl-animate-out-3 {
    -webkit-animation: SubMenuAnimOut3 0.4s ease;
    animation: SubMenuAnimOut3 0.4s ease;
}

.dl-menuwrapper>.dl-submenu.dl-animate-out-4 {
    -webkit-animation: SubMenuAnimOut4 0.4s ease;
    animation: SubMenuAnimOut4 0.4s ease;
}

.dl-menuwrapper>.dl-submenu.dl-animate-out-5 {
    -webkit-animation: SubMenuAnimOut5 0.4s ease;
    animation: SubMenuAnimOut5 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        opacity: 0;
    }
}

@-webkit-keyframes SubMenuAnimOut5 {
    0% {
        -webkit-transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut2 {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut3 {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-300px);
        transform: translateZ(-300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut4 {
    0% {
        -webkit-transform: translateZ(0px);
        transform: translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 0;
    }
}

@keyframes SubMenuAnimOut5 {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-200px);
        transform: translateZ(-200px);
        opacity: 0;
    }
}


/* No JS Fallback */

.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li>a:not(:only-child) {
    background: rgba(0, 0, 0, 0.1);
}

.no-js .dl-menuwrapper li>a:not(:only-child):after {
    content: '';
}


/* Colors for demos */


/* Demo 1 */

.demo-1 .dl-menuwrapper button {
    background: #c62860;
}

.demo-1 .dl-menuwrapper button:hover,
.demo-1 .dl-menuwrapper button.dl-active,
.demo-1 .dl-menuwrapper ul {
    background: #9e1847;
}


/* Demo 2 */

.demo-2 .dl-menuwrapper button {
    background: #e86814;
}

.demo-2 .dl-menuwrapper button:hover,
.demo-2 .dl-menuwrapper button.dl-active,
.demo-2 .dl-menuwrapper ul {
    background: #D35400;
}


/* Demo 3 */

.demo-3 .dl-menuwrapper button {
    background: #08cbc4;
}

.demo-3 .dl-menuwrapper button:hover,
.demo-3 .dl-menuwrapper button.dl-active,
.demo-3 .dl-menuwrapper ul {
    background: #00b4ae;
}


/* Demo 4 */

.demo-4 .dl-menuwrapper button {
    background: #90b912;
}

.demo-4 .dl-menuwrapper button:hover,
.demo-4 .dl-menuwrapper button.dl-active,
.demo-4 .dl-menuwrapper ul {
    background: #79a002;
}


/* Demo 5 */

.demo-5 .dl-menuwrapper button {
    background: #744783;
}

.demo-5 .dl-menuwrapper button:hover,
.demo-5 .dl-menuwrapper button.dl-active,
.demo-5 .dl-menuwrapper ul {
    background: #643771;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .nav {
        display: none;
    }
    .header-right {
        width: 66%;
    }
    .contact_number {
        display: none;
    }
    .mb_menu {
        display: block !important;
    }
    .nav-tabs {
        display: block;
    }
    .book-now-detail li {
        width: 100%;
    }
    .book-now-detail li a {
        border-radius: 0px !important;
        margin-top: 3px !important;
        margin-right: 0px !important;
    }
    .book-now-body .tab-content {
        margin-top: 0px;
    }
    .book-now-body .tab-content .collapse {
        padding: 0px 18px 16px 18px;
    }
    .grow_sec1 {
        flex-grow: 0;
    }
    .mb_menu {
        flex-grow: 1;
    }
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
    .nav {
        display: none;
    }
    .header-right {
        width: 66%;
    }
    .contact_number {
        display: none;
    }
    .mb_menu {
        display: block;
    }
    .ftr-contact,
    .about_footer {
        margin-bottom: 23px;
    }
    .nav-tabs {
        display: block;
    }
    .book-now-detail li {
        width: 100%;
    }
    .book-now-detail li a {
        border-radius: 0px !important;
        margin-top: 3px !important;
        margin-right: 0px !important;
    }
    .book-now-body .tab-content .collapse {
        padding: 0px 18px 16px 18px;
    }
    .grow_sec1 {
        flex-grow: 0;
    }
    .mb_menu {
        flex-grow: 1;
    }
}

@media (min-width: 1200px) {
    .hometab {
        width: 1100px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 620px) {
    .logo img {
        width: 125px;
    }
    header::after {
        bottom: 10px;
    }
    .dl-menuwrapper {
        top: 9px !important;
    }
    .dl-menuwrapper .dl-menu {
        margin: 53px 0 0 0 !important;
    }
}

@media only screen and (min-width: 240px) and (max-width: 534px) {
    .sub_menu {
        width: 100%;
    }
    .header-right {
        width: 209px;
    }
    .dl-menuwrapper {
        top: 21px !important;
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 240px) and (max-width: 588px) {
    .contact_head h1:before {
        right: 100%;
        width: 70px;
    }
    .contact_head h1:after {
        left: 100%;
        width: 70px;
    }
    .hotel_section h2:before {
        right: 100%;
        width: 70px;
    }
    .hotel_section h2:after {
        left: 100%;
        width: 70px;
    }
    .tour_package h4:before {
        right: 100%;
        width: 70px;
    }
    .tour_package h4:after {
        left: 100%;
        width: 70px;
    }
    .tour_package h4 {
        font-size: 23px;
    }
    .uae_attraction h4 {
        font-size: 23px;
    }
    .uae_attraction h4:before {
        right: 100%;
        width: 70px;
    }
    .uae_attraction h4:after {
        left: 100%;
        width: 70px;
    }
    .partner_area h4:before {
        right: 100%;
        width: 70px;
    }
    .partner_area h4:after {
        left: 100%;
        width: 70px;
    }
    .common_header h4:before {
        right: 100%;
        width: 70px;
    }
    .common_header h4:after {
        left: 100%;
        width: 70px;
    }
    .common_nml_heade h4:before {
        right: 100%;
        width: 20px;
    }
    .common_nml_heade h4:after {
        left: 100%;
        width: 20px;
    }
    .common_header h2:before {
        right: 100%;
        width: 25%;
    }
    .common_header h2:after {
        left: 100%;
        width: 25%;
    }
}

@media only screen and (min-width: 240px) and (max-width: 430px) {
    .contact_head h1:before {
        display: none;
    }
    .contact_head h1:after {
        display: none;
    }
    .hotel_section h2:before {
        display: none;
    }
    .hotel_section h2:after {
        display: none;
    }
    .tour_package h4:before {
        display: none;
    }
    .tour_package h4:after {
        display: none;
    }
    .uae_attraction h4:before {
        display: none;
    }
    .uae_attraction h4:after {
        display: none;
    }
    .partner_area h4:before {
        display: none;
    }
    .partner_area h4:after {
        display: none;
    }
    .common_header h4:before {
        display: none;
    }
    .common_header h4:after {
        display: none;
    }
    .common_nml_heade h4:before {
        display: none;
    }
    .common_nml_heade h4:after {
        display: none;
    }
    .common_header h2:before {
        display: none;
    }
    .common_header h2:after {
        display: none;
    }
    .partner_area .slider_icon {
        top: -4px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 900px) {
    .search-tabs {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .search-tabs {
        border-radius: 0px;
    }
    #myCarousel .carousel-control {
        display: none;
    }
}


/*result page css*/

.md-search {
    margin: 0 0 -68px !important;
}

#home .retrive_list::before {
    top: -15px;
}

#hotel .cont_txt01 {
    margin-bottom: 16px;
}

#home section {
    width: 100%;
    float: left;
    margin-top: 0px !important;
}

section {
    width: 100%;
    float: left;
    margin-top: 0px !important;
}

.traveller-detail-main {
    padding: 30px 0 0px 0;
}

.flight-step-review {
    margin-top: 0px;
}

.flight-listing {
    margin-top: 0px;
}

#subscribe .modal-header h3 {
    color: #3e3e3e;
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    float: left;
    line-height: 20px;
}

.book-form {
    width: 100%;
    margin-bottom: 5px;
    padding: 9px 7px !important;
    font-size: 13px;
    background: #eaeaea;
    border: 1px solid #d6d6d6 !important;
    margin-top: 0px !important;
    height: auto !important;
}

#form-submit {
    padding: 11px 7px;
    font-size: 14px;
    background: #00a9df;
    border: none;
    border-radius: 0px;
    float: none !important;
    margin-top: 0px !important;
    color: #FFF;
    text-transform: uppercase;
}

#subscribe .close {
    background: none;
    box-shadow: none;
    right: 0;
    top: 6px;
    font-size: 28px;
}

.confirmation {
    width: 100%;
    margin: 0px;
}

.htl-top {
    margin: 0px 0 14px;
}

.md-search {
    margin: 0px !important;
}

#vueResults .flight-destination ul li svg {
    margin-top: 0px !important;
}

#vueResults .place-itineray p {
    line-height: 15px;
}

.loading-img {
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 9999;
    width: 12%;
}

.visaimg {
    width: 100%;
}


/*header top css*/

.lag {
    margin: 0px !important;
    float: none;
}

.lag ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.dropdown {
    float: right;
}

.btn {
    font-size: 13px;
    background: #FFF;
}

.optionlist {
    width: 150px;
    height: 25px;
    background-color: #d49090;
}

.dropdown a {
    position: relative;
    text-decoration: none;
    padding: 0px !important;
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #fad41a;
    text-align: initial;
    cursor: pointer;
    font-weight: 400;
    background: none !important;
    border: none !important;
}

.dropdown a svg {
    margin: 6px 5px 0px 5px;
}

.dropdown a span {
    margin-right: 3px;
}

.dropdown-menu a::after {
    display: none;
}

.dropdown-menu {
    border-radius: 0px;
    padding: 5px 4px;
    min-width: 172px;
}

.dropdown-menu a {
    padding: 5px;
    width: 100%;
    float: left;
    font-family: tahoma;
    color: #292929;
    font-size: 13px;
    border: 1px solid #dadada;
    border-radius: 0px;
    text-decoration: none;
    /* margin-bottom: 4px; */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 3px;
}

.header_top .dropdown-item {
    padding: 5px 5px !important;
}

.dropdown-menu a:hover {
    color: #292929;
    border: 1px solid #00a8e1 !important;
    background: #e0e0e0;
}

.dropdown-menu a:last-child {
    margin-bottom: 0px;
}

.homepage_link {
    position: relative;
}

.homepage_link a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFF;
    text-transform: uppercase;
}

#sign-bt-area {}

#sign-bt-area ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.cd-main-header {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #343642;
}

.cd-main-header::after {
    content: '';
    display: table;
    clear: both;
}

@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    text-transform: uppercase;
    background: none !important;
    margin: 0;
}

.search_field .row {
    display: flex;
}

@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #FFF;
        line-height: 20px;
        margin: 0;
        background: none;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #007edf;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 6px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: #fad41a;
    color: #292929;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #007edf;
    color: #ffffff !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/Nirvana/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/Nirvana/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/Nirvana/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #00a8e1;
    -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: #fad41a !important;
    color: #292929;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #faa71a;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #343642;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Lato', sans-serif;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    padding: 1.4em 1.4em 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
    color: #FFF;
}

.down_select {
    -webkit-appearance: menulist !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #FFF;
    text-decoration: underline;
}

.txt-2 {
    color: #FFF;
    font-weight: normal;
}

.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    background: url(/Nirvana/images/cd-icon-close.svg) no-repeat center center;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Lato', sans-serif;
}

.lang .dropdown-menu a,
.currency .dropdown-menu a {
    border-left: 1px solid #dadada !important;
    border-top: 1px solid #dadada !important;
    border-right: 1px solid #dadada !important;
    border-bottom: 1px solid #dadada !important;
}

.lang .dropdown-menu a:hover,
.currency .dropdown-menu a:hover {
    border: 1px solid #cccbcb !important;
    background: #e0e0e0 !important;
}

.profile-dropdown {
    background: none !important;
    color: #fad41a !important;
    margin: -5px 0 0 8px !important;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #fff;
}


/*gallery css*/


/* .gallery {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-width: 25%;
	-moz-column-width: 25%;
	column-width: 25%; } */

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mb-3 {
    width: 25% !important;
    float: left;
    padding: 0 6px;
}

.d-flex {
    padding-left: 21px;
    padding-right: 21px;
}

@media (max-width: 450px) {
    /* .gallery {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-width: 100%;
	-moz-column-width: 100%;
	column-width: 100%;
	} */
    .mb-3 {
        width: 100% !important;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.justify-content-center {
    padding-bottom: 10px;
}

.justify-content-center .filter {
    display: inline;
    margin: auto;
    width: auto;
    border: 1px solid #8e8e8e;
    margin-right: 3px;
    float: none;
}

.book-now-list {
    padding-top: 10px;
}

.book-now-list li {
    padding: 0px !important;
}

.book-now-list li a {
    padding: 10px 15px;
}

.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0 0 8px;
    background: #f1f1f1;
    padding: 2px 5px;
    cursor: pointer;
}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #3a7fc1;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #fad41a;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    width: auto;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 25px;
    float: left;
    font-family: 'Lato', sans-serif;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    marrgin: 0;
    background: #f1f1f1;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    min-width: 150px;
}

.profile-dropdown ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #444;
    font-size: 13px;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.profile-dropdown ul li a:hover {
    background: #fff;
    color: #3a7fc1;
}

.profile-dropdown>label {
    position: relative;
    height: 25px;
    text-decoration: none;
    background: transparent;
    color: #292929;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 29px;
    display: inline-block;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
    position: inherit;
    right: inherit;
    top: inherit;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}

.modal-smsp .modal-header {
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #fad41a;
    color: #292929;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-smsp .close {
    width: 40px;
    height: 40px;
    right: 0;
    top: 4px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 29px;
    color: #232323;
}

.modal-smsp .close:hover {
    width: 40px;
    height: 40px;
    right: 0;
    top: 4px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 29px;
    color: #232323;
}

.direction_rtl {
    direction: rtl !important;
}

.modal-smsp .modal-title {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 14px;
    text-transform: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
}

.validation_sec {
    position: relative;
    margin-bottom: 12px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    color: #555;
    border: 1px solid #dddd;
}

.user_login small {
    padding: 12px 0;
    font-size: 11px;
    color: #FFF;
    display: block;
    line-height: normal;
    font-family: 'Lato', sans-serif;
}

#retrieve-booking {
    padding: 11px 0 !important;
    cursor: pointer;
    background: #fad41a !important;
    color: #292929;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    width: 100%;
}

.modal-smsp .modal-content {
    background: #007edf;
}

.special_pack_section {
    width: 100%;
    float: left;
    padding-top: 0px !important;
}

.br_sp5 {
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 30px;
}

.special_pack_section h1 {
    padding: 0 20px;
    position: relative;
    color: #40484b;
    font-size: 35px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 0px;
    text-align: center;
}

.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
    border-radius: 50%;
}

.radio_view:hover input~.checkmark {
    background-color: #fad41a;
}

.radio_view input:checked~.checkmark {
    background-color: #fad41a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 5px;
    top: 5px;
    width: 13px;
    height: 13px;
    background: #a0870c;
    border-radius: 50%;
}

.viewradio_sec {
    padding: 10px 0px;
    display: flex;
}

#el_hotelDetail .payment-btn {
    margin-bottom: 32px;
}

#subscribe {
    z-index: 99999 !important;
}

#subscribe .modal-dialog {
    margin: 10% auto;
}

.modal {
    z-index: 9999;
}

img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}

.map_loc_view {
    width: 100%;
    float: left;
    padding: 20px 0px 0px 0px;
}

.chairman-img {
    border-radius: 8px;
}

.description_cont {
    height: 163px;
    overflow-y: auto;
    padding-right: 11px;
    color: #313131;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.description_cont::-webkit-scrollbar {
    width: 5px;
}

.description_cont::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.description_cont::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}

.text_description h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    color: #4e4e4e;
    border-bottom: 1px solid #7b7b7b;
    padding-bottom: 4px;
    margin-bottom: 5px;
    text-align: inherit;
}

.text_description p {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    color: #292929;
}

#myCarousel2 .carousel-control,
#myCarousel3 .carousel-control,
#myCarousel4 .carousel-control,
#myCarousel5 .carousel-control,
#myCarousel6 .carousel-control,
#myCarousel7 .carousel-control,
#myCarousel8 .carousel-control {
    margin-top: 34px;
    border: none;
}

#myCarousel2 .carousel-control.right,
#myCarousel3 .carousel-control.right,
#myCarousel4 .carousel-control.right,
#myCarousel5 .carousel-control.right,
#myCarousel6 .carousel-control.right,
#myCarousel7 .carousel-control.right,
#myCarousel8 .carousel-control.right {
    right: -43px;
}

#myCarousel2 .carousel-control.left,
#myCarousel3 .carousel-control.left,
#myCarousel4 .carousel-control.left,
#myCarousel5 .carousel-control.left,
#myCarousel6 .carousel-control.left,
#myCarousel7 .carousel-control.left,
#myCarousel8 .carousel-control.left {
    left: -43px;
}

.slidesec {
    width: 100%;
    float: left;
}

.header-right .nav ul li a p {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header-right .nav ul li a:hover p {
    color: #ffc627;
}

.slidesec {
    display: none;
}

.img-fullwidth {
    width: 100%;
    margin-bottom: 5px;
}

.country img {
    cursor: pointer;
    width: 37px;
}

.mb-3 {
    margin-bottom: 13px;
}

.currency .dropdown-item svg {
    display: none;
}

.uae {
    display: flex;
}

@media (max-width: 630px) {
    .uae {
        display: inherit;
    }
}

@media (min-width: 1281px) {
    .container {
        width: 1250px;
    }
}

@media (min-width: 991px) {
    .visaimg {
        width: 75px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: 9px;
    }
}

@media (max-width: 990px) {
    .logo img {
        width: 176px;
    }
    header {
        padding-top: 52px;
    }
    .header-right {
        width: 100%;
        left: 0;
        top: 0;
        padding: 12px;
        position: absolute;
    }
    .header-right .header_top {
        margin-bottom: 0px;
        width: 100%;
        border-bottom: 1px solid #505050;
        flex-flow: row wrap;
    }
    .retrive_booking {
        line-height: 27px;
    }
    .retrive_booking_sec {
        width: 100%;
        text-align: center;
    }
    .profile-dropdown {
        padding: 7px 5px 2px 5px;
        float: right;
    }
    .dropdown a {
        padding: 5px 23px 4px 10px;
    }
    .dropdown a::after {
        top: 2px;
    }
    .homepage_link,
    #sign-bt-area ul li {
        line-height: 29px;
    }
    .dl-menuwrapper .dl-menu {
        margin: 72px 0 0 0;
    }
}

@media only screen and (min-width: 240px) and (max-width: 450px) {
    .dropdown,
    .dropup {
        width: 100%;
    }
    .lag {
        width: 100%;
    }
    .currency .dropdown a {
        margin-bottom: 3px;
    }
    .currency .dropdown a,
    .lang .dropdown a {
        width: 100%;
        border: 1px solid #505050 !important;
        padding: 5px !important;
    }
    .retrive_booking_sec {
        border-bottom: none !important;
    }
    header {
        padding-top: 113px;
    }
    .header_top>div {
        border-left: none;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
}

@media only screen and (min-width: 240px) and (max-width: 1446px) {
    #indexmain .carousel-control {
        display: none !important;
    }
}

.connect {
    display: none !important;
}

@media (min-width: 768px) {
    .modal-smsp {
        width: 400px;
        margin: 10% auto !important;
    }
}

@media only screen and (min-width: 1028px) and (max-width: 1178px) {
    #indexmain .carousel-caption h3 span {
        font-size: 36px;
    }
    #indexmain .carousel-caption h3 {
        font-size: 29px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1028px) {
    #indexmain .carousel-caption h3 span {
        font-size: 36px;
    }
    #indexmain .carousel-caption h3 {
        font-size: 20px;
    }
    #indexmain .carousel-caption {
        top: 0 !important;
        padding-top: 8px;
    }
}

@media only screen and (min-width: 556px) and (max-width: 900px) {
    #indexmain .carousel-caption h3 span {
        font-size: 50px;
    }
    #indexmain .carousel-caption h3 {
        font-size: 41px;
    }
    #indexmain .carousel-caption {
        top: 0 !important;
        padding-top: 108px;
    }
}

@media only screen and (min-width: 200px) and (max-width: 556px) {
    #indexmain .carousel-caption h3 {
        font-size: 24px;
    }
    .carousel-caption h3 span {
        font-size: 39px;
    }
    #indexmain .carousel-caption {
        top: 0 !important;
        padding-top: 28px;
    }
}

#desktop .nav {
    display: flex;
    justify-content: end;
}


/* direction change owlcarousel */

.owl-carousel,
.bx-wrapper {
    direction: ltr;
}

.tour_package .owl-carousel .owl-item,
.hotel_section .owl-carousel .owl-item,
#myCarousel .owl-carousel .owl-item,
.partner_area .owl-carousel .owl-item {
    direction: rtl;
}


/* #myCarousel img {
	height: auto;
	max-width: 100%;
	width: 100%;
  }

  /* Change the order of the indicators. 
	 Return them to the center of the slide. */


/* .carousel-indicators {
	width: auto;
	margin-left: 0;
	transform: translateX(-50%);
  }
  .carousel-indicators li {
	float: right;
	margin: 1px 4px;
  }
  .carousel-indicators .active {
	margin: 0 3px;
  } */


/* Change the direction of the transition. */


/* @media all and (transform-3d), (-webkit-transform-3d) {
	.arDirection .carousel-inner > .item.next,
	.arDirection .carousel-inner > .item.active.right {
	  left: 0;
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
	.arDirection .carousel-inner > .item.prev,
	.arDirection .carousel-inner > .item.active.left {
	  left: 0;
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
  }  */

@media screen and (max-width:1200px) {
    #hotel .flx_sec {
        flex-direction: column;
    }
    #hotel .search-col-padding {
        width: 100%;
    }
    #hotel .km_slider {
        margin-bottom: 16px !important;
    }
    #hotel .search_field .row {
        display: inherit;
    }
}

@media screen and (max-width:991px) {
    .chairman_sec,
    .mission_sec {
        flex-direction: column;
    }
}

.flx_package {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#Packageinfo .book-now-close {
    position: absolute;
    top: -7px;
    right: 22px;
}

.ar_direction1 #signin-email,
.ar_direction1 #signin-password {
    padding: 10px 50px 10px 20px !important;
}

.ar_direction1 .cd-signin-modal__label.cd-signin-modal__label--image-replace {
    left: inherit !important;
    right: 15px;
}

.ar_direction1 .cd-signin-modal__hide-password {
    right: inherit;
    left: 0;
}

.ar_direction1 .cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 10px 50px 10px 20px !important;
}

.ar_direction1 .profile-dropdown ul li a i {
    margin: 0 0 0 .75rem;
}

.ar_direction1 .search {
    float: left !important;
}

.footer_address_sec .form-control {
    width: 100% !important;
    transition: none !important;
    -webkit-transition: none !important;
}

.ar_direction1 #subscribe .modal-header h3 {
    float: right;
}

.ar_direction1 #subscribe .close {
    right: inherit !important;
    left: 0 !important;
}

.ar_direction1 .ajs-commands {
    right: inherit !important;
    left: 0 !important;
}

.ar_direction1 .profile-dropdown img {
    float: right !important;
}

.ar_direction1 .profile-dropdown span {
    float: right !important;
}

.ar_direction1 .profile-dropdown>label {
    float: right !important;
}

.ar_direction1 .profile-dropdown {
    margin: -3px 8px 0 0px !important;
    border-right: 1px solid #484848;
}

.abcRioButton {
    margin: auto;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .ar_direction1 #signin-email {
        padding: 10px 50px 10px 20px !important;
    }
}

.contact_field_sec h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    text-transform: inherit;
    color: #333;
    padding: 0 4px;
}

.abcRioButton {
    margin-bottom: 10px;
}

.fb_iframe_widget {
    width: 100%;
}

.fb-login-button span {
    width: 254px !important;
    margin: auto;
}

.fb_iframe_widget {
    text-align: center;
}

#Packageinfo .ar_direction1 .book-now-detail .book-now-tab {
    margin-right: 0px;
    margin-left: 15px;
}

.spHeader {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;
    position: relative;
}

.spHeader::after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.26);
    position: absolute;
}

.special_pack_section .row {
    width: 100%;
}

.spHeader h5 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 9;
}

#sicialdiv h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: inherit;
    color: #292929;
}

.awards_pic_scroll .award-img img {
    height: 184px;
    width: 100%;
}

#owl-hotel-offers .package_dis {
    bottom: 0;
}

#owl-hotel-offers .package_dis h4 {
    background: rgba(0, 0, 0, 0.46);
    padding: 13px 10px;
}