<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly Key</title>
   
    <!-- Main Custom CSS -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
        <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/common-style.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
        <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
        <link rel='stylesheet' href='/assets/css/flag.css'>
        <style>
          [v-cloak] {
              display: none !important;
          }
        </style>
</head>

<body>
  
    <header>
        <headeritem></headeritem>
    </header>


    <div id="aboutuspage" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
          </div>
        <div class="common_header" v-show="getdata" :style="{ background: 'url(' + aboutUsContent.Background+ ')'}"></div>
        <div class="breadcrums_sec">
            <div class="container">
                <div class="breadcrumsArea">
                    <div class="breadcrumsArea1">
                        <h1 v-cloak>{{aboutUsContent.Title}}</h1>
                        <h6 v-cloak><a href="/index.html" v-cloak>{{aboutUsContent.Home}}</a> <i class="	fa fa-angle-double-right"></i>{{aboutUsContent.Title}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutUs ar_direction">
            <div class="container">
                <div class="row flx_sec">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h5 v-cloak>{{aboutUsContent.Subtitle1}}</h5>
                        <div v-html="aboutUsContent.Description1"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row flx_sec">
                            <div class="col-lg-6 col-md-6 col-sm-6 aboutImg">
                                <img :src="aboutUsContent.Image" alt="about">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 what-we-do">
                                <h4 v-cloak>{{aboutUsContent.Subtitle2}}</h4>
                                <div v-html="aboutUsContent.Description2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h5 v-cloak>{{ aboutUsContent.Subtitle3}}</h5>
                        <div v-html="aboutUsContent.Description3"></div>
                    </div>
                </div>
            </div>

        </div>

        <section class="summer-promo ar_direction" v-show="offerdata" :style="{ background: 'url(' + offerContent.offerImage+ ')'}">
            <div class="container-fluid">
                <div class="row flx_sec">
                    <div class="col-lg-7 col-md-8">
                        <div class="promotion-package">
                            <h2 v-cloak>{{offerContent.title}}</h2>
                            <span v-cloak>{{offerContent.Subtitle}}</span>
                           <div v-html="offerContent.description"></div>


                            <a class="btn" :href="offerContent.link" v-cloak style="background-color: black !important;">{{offerContent.button}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!--footer-->
    <footer>
        <footeritem></footeritem>
    </footer>
    <!--footer close-->
    
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201905150000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="servicejs/aboutUs.js"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
    


</body>

</html>