<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly Key</title>
   
    <!-- Main Custom CSS -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
        <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/common-style.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
        <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
        <link rel='stylesheet' href='/assets/css/flag.css'>
        <style>
          [v-cloak] {
              display: none !important;
          }
        </style>
</head>

<body>
    <!--top-bar -->

    <!-- Navigation -->

    <header>
        <headeritem></headeritem>
    </header>

    <div id="contactuspage" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
          </div>
        <div class="common_header"  v-show="getdata" :style="{ background: 'url(' + pageContent.Background+ ')'}"></div>
        <div class="breadcrums_sec">
            <div class="container">
                <div class="breadcrumsArea">
                    <div class="breadcrumsArea1">
                        <h1 v-cloak>{{pageContent.Title}}</h1>
                        <h6 v-cloak><a href="/index.html" v-cloak>{{pageContent.Home}}</a> <i class="	fa fa-angle-double-right"></i> {{pageContent.Title}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="contactusArea ar_direction">
            <div class="container">
                <div class="row flx_sec">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <h3 v-cloak>{{pageContent.Subtitle}}</h3>
                        <div v-html="pageContent.Description"></div>
                        <div class="contactFrom_sec">
                            <div class="row flx_sec">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec" v-model="cntusername" :placeholder="pageContent.NamePlaceholder">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec" v-model="cntemail" :placeholder="pageContent.EmailPlaceholder">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec"  v-model="cntcontact" :placeholder="pageContent.PhonePlaceholder" maxlength="15">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="Txt_sec" v-model="cntsubject" :placeholder="pageContent.SubjectPlaceholder">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px !important;">
                                    <textarea class="Txt_sec01"  v-model="cntmessage" :placeholder="pageContent.MessagePlaceholder"></textarea>
                                    <button class="contactSend" v-on:click="sendcontactus" v-cloak>{{pageContent.Button}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="contact_address">
                            <div class="addressSec">
                                <h4 v-cloak>{{branch.Addresslabel}}</h4>
                                <p v-cloak>{{branch.Address}}</p>
                            </div>
                            <div class="addressSec">
                                <h4 v-cloak>{{branch.Phonelabel}}</h4>
                                <p v-cloak>{{branch.Phone}}</p>
                                
                            </div>
                            <div class="addressSec">
                                <h4 v-cloak>{{branch.Emaillabel}}</h4>
                                <p><a :href="'mailto:'+branch.Email " v-cloak>{{branch.Email}} </a></p>
                            </div>
                            <div class="contactMedia_icons">
                                <a :href="branch.Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a :href="branch.Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a :href="branch.Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a :href="branch.Instagtram" target="_blank"><i class="fa fa-instagram"></i></a>
                                <a :href="branch.WhatsApp" target="_blank"><i class="fa fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="contactus_map">
            <iframe :src="pageContent.mapurl"
                width="800" height="550" frameborder="0" style="border:0;width: 100%;" allowfullscreen></iframe>
        </div>
        <section class="summer-promo ar_direction" v-show="offerdata" :style="{ background: 'url(' + offerContent.offerImage+ ')'}">
            <div class="container-fluid">
                <div class="row flx_sec">
                    <div class="col-lg-7 col-md-8">
                        <div class="promotion-package">
                            <h2 v-cloak>{{offerContent.title}}</h2>
                            <span v-cloak>{{offerContent.Subtitle}}</span>
                           <div v-html="offerContent.description"></div>


                            <a class="btn" :href="offerContent.link" v-cloak style="background-color: black !important;">{{offerContent.button}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!--footer-->
    <footer>
        <footeritem></footeritem>
    </footer>
    <!--footer close-->
    <!-- Main JQUERY -->
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201905150000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="servicejs/contactUs.js?v=202100920000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
   

</body>

</html>