<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Detail Request</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/png">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link href="css/common-style.css" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
<link rel='stylesheet' href='/assets/css/flag.css'>
<style>
  [v-cloak] {
      display: none !important;
  }
  .clearable__clear {
    padding: 15px;
  }
</style>
</head>
<body>
  <header>
    <headeritem></headeritem>
</header>
<div id="detailrequest" v-cloak>
  <div class="vld-parent">
    <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
  </div>
<section class="inner_banner p-0" :style="{ background: 'url(' +detailInfo.Image+ ')'}">
  <div class="banner_text fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
    <h1><span>{{bannerData.Heading1}}</span>{{mainContent.Country_Name}} {{bannerData.Heading2}}</h1>
    <p>{{bannerData.Description}}</p>
  </div>
</section>
<section class="dtl-sec">
  <div class="container">
  	<div class="row">
    	<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        	<div class="left-side">
            	<form id="msform">
                  <!-- progressbar -->
                  <ul id="progressbar">
                    <li class="active">{{commonData.Trip_Preference_Label}}</li>
                    <li>{{commonData.Group_Information_Label}}</li>
                    <li>{{commonData.Final_Details_Label}}</li>
                  </ul>
                  <!-- fieldsets -->
                  <fieldset>
                  	<div class="inr-cnt">
                        <div class="comment-div">
                          <div class="user"><img src="images/user.png" alt=""></div>
                          <div class="comment-block">
                            <h2>{{commonData.Guidance_heading}} {{mainContent.Country_Name}}</h2>
                            <p>{{commonData.Guidance_description}}</p>
                        </div>  
                        </div>                  
                   </div>
                   	<div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.Regions_visit_heading}}</h2>
                            <p>{{commonData.Regions_visit_subheading}}</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_0">
                              <div class="uploaded-pics">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" v-for="(region,index) in regionList">
                                    	<div class="chk-div">
                                          <input type="checkbox" :id="'checkthis'+Number(index+1)" v-model="region.isSelected" v-on:click="selectRegion(region)"/>
                                          <label :for="'checkthis'+Number(index+1)"><span>{{region.Name}}</span><img :src="region.Image_207_x_150px" /></label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>                  
                   </div>
                    <div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.Experience_looking_for_subheading}} {{mainContent.Country_Name}}?</h2>
                            <p>{{commonData.Experience_looking_for_heading}}</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_0">
                              <div class="uploaded-pics">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" v-for="(experience,eindex) in configDetails.Experiences_List">
                                    	<div class="chk-div">
                                          <input type="checkbox" :id="'echeckthis'+Number(eindex+1)" v-model="experience.isSelected" v-on:click="selectExperiences(experience)"/>
                                          <label :for="'echeckthis'+Number(eindex+1)"><span>{{experience.Name}}</span><img :src="experience.Image_207_x_150px" /></label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>                  
                   </div>
                    <div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.Preferred_travel_style_heading}}</h2>
                            <p>{{commonData.Preferred_travel_style_subheading}}</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_0">
                              <div class="uploaded-pics">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" v-for="(travel,tindex) in configDetails.Travel_Style">
                                    	<div class="chk-div">
                                          <input type="checkbox" :id="'tcheckthis'+Number(tindex+1)" v-model="travel.isSelected" v-on:click="selectTravel(travel)"/>
                                          <label :for="'tcheckthis'+Number(tindex+1)"><span>{{travel.Name}}</span><img :src="travel.Image_207_x_150px" /></label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>                  
                   </div>
                    <div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.Preferred_accommodation_type_Label}}</h2>
                            <p>{{commonData.Accommodation_Type_Description}}</p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p_0">
                              <div class="uploaded-pics">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" v-for="(type,atindex) in configDetails.Accommodation_Type_List">
                                    	<div class="chk-div">
                                          <input type="checkbox" :id="'atcheckthis'+Number(atindex+1)" v-model="type.isSelected" v-on:click="selectType(type)"/>
                                          <label :for="'atcheckthis'+Number(atindex+1)"><span class="txt-cntr">{{type.Name}}</span><img :src="type.Image_206_x_150px" /></label>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>                  
                   </div>
                    <a class="next action-button" href="#">{{commonData.Next_Button_Label}}</a>
                  </fieldset>
                  <fieldset>
                  	<div class="inr-cnt">
                        <div class="comment-div">
                          <div class="user"><img src="images/user.png" alt=""></div>
                          <div class="comment-block">
                            <h2>{{commonData.Almost_there_Label}}</h2>
                            <p>{{commonData.Just_2_Steps_Description}}</p>
                        </div>  
                        </div>                  
                   </div>
                   	<div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.Who_will_be_traveling_Label}}</h2>
                            <div class="inr">
                                <ul>
                                    <li>
                                      <div class="text">
                                        <h5>{{commonData.Adults_label}}</h5>
                                        <p>{{commonData.Adult_Age}}</p>
                                       </div> 
                                      <div class="number-spinner">
                                          <span class="ns-btn">
                                                  <a data-dir="dwn" v-on:click="setpaxcount('adt','minus')"><span class="icon-minus"></span></a>
                                          </span>
                                          <input type="text" class="pl-ns-value" v-model="selectedAdult" disabled>
                                          <span class="ns-btn">
                                                  <a data-dir="up" v-on:click="setpaxcount('adt','plus')"><span class="icon-plus"></span></a>
                                          </span>
                                        </div>              
                                    </li>
                                    <li>
                                      <div class="text">
                                        <h5>{{commonData.Children_Label}}</h5>
                                        <p>{{commonData.Child_Age}}</p>
                                       </div> 
                                      <div class="number-spinner">
                                          <span class="ns-btn">
                                                  <a data-dir="dwn" v-on:click="setpaxcount('chd','minus')"><span class="icon-minus"></span></a>
                                          </span>
                                          <input type="text" class="pl-ns-value" v-model="selectedChildren" disabled>
                                          <span class="ns-btn">
                                                  <a data-dir="up" v-on:click="setpaxcount('chd','plus')"><span class="icon-plus"></span></a>
                                          </span>
                                        </div>              
                                    </li>
                                    <li>
                                      <div class="text">
                                        <h5>{{commonData.Infants_Label}}</h5>
                                        <p>{{commonData.Infants_Age}}</p>
                                       </div> 
                                      <div class="number-spinner">
                                          <span class="ns-btn">
                                                  <a data-dir="dwn" v-on:click="setpaxcount('inf','minus')"><span class="icon-minus"></span></a>
                                          </span>
                                          <input type="text" class="pl-ns-value" v-model="selectedInfants" disabled>
                                          <span class="ns-btn">
                                                  <a data-dir="up" v-on:click="setpaxcount('inf','plus')"><span class="icon-plus"></span></a>
                                          </span>
                                        </div>              
                                    </li>
                                </ul>
                            </div>
                        </div>                  
                   </div>
                    <div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.When_do_you_want_to_travel_Label}}</h2>
                            <div class="frm">
                            	<div class="row">
                                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.From_Date}}</label>
                                            <div class="input-group">
                                               <input id="traveldatefrom" class="calendar" type="text" :placeholder="commonData.From_Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.To_Date}}</label>
                                            <div class="input-group">
                                               <input id="traveldateto" class="calendar" type="text" :placeholder="commonData.To_Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Desired_Trip_Length_Label}}</label>
                                            <div class="distance">
                                                <div class="range-slider">
                                                  <input class="range-slider__range" type="range" value="1" min="1" max="21" v-model="tripLength">
                                                  <span class="range-slider__value">1 {{commonData.Day_Label}}</span> 
                                                  <div class="days">21+ {{commonData.Days_Label}}</div>
                                                </div>
                                              </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>  
                        </div>                  
                   </div>
                    <div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.Budget_for_services_Heading}}</h2>
                            <p>{{commonData.Budget_for_services__Description}} </p>
                            <div class="frm">
                            	<div class="row">
                                	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Per_person_budget_Label}}</label>
                                            <div class="select">
                                              <select name="slct" id="slct" v-model="budget">
                                                <option value="" disabled>{{commonData.Preferred_travel_style_subheading}}</option>
                                                <option :value="budget.Budget" v-for="budget in commonData.Per_person_budget_List">{{budget.Budget}}</option>
                                              </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="frm">
                            	<div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <div class="form__checkbox" data-toggle="collapse" data-target="#flyer">
                                              <input id="checkbox-list-1" name="checkbox-list-1" type="checkbox" v-model="flightInfoCheck">
                                              <label for="checkbox-list-1">{{commonData.Flight_Offer}}</label>
                                              <span class="checkbox"></span> </div>
                                            <div id="flyer" class="collapse wdt">
                                              <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                	<div class="frm-div">
                                                    	<div class="flwng-info">
                                                        	<h4>{{commonData.Please_Provide_The_Following_Label}}</h4>
                                                            <!-- <ul>
                                                            	 <li v-for="item in commonData.Flight_Information_List"><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{item.Name}}</li>
                                                            </ul> -->
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                              <div class="row">
                                                                <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{commonData.Airport_Label}}</p>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                                                                  <flightserch id="Cityfrom1" :return-value="true"
                                                                    :place-holder-text="commonData.From"
                                                                    @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 search-col-padding">
                                                                  <flightserch id="Cityto1" :return-value="true"
                                                                    :place-holder-text="commonData.To"
                                                                    @air-search-completed="Arrivalfrom" :leg="0">
                                                                  </flightserch>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <br>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                              <div class="row">
                                                                <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{commonData.Date_Label}}</p>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <div class="input-group">
                                                                      <input id="flightfrom" class="calendar" type="text" :placeholder="commonData.From_Date" />
                                                                  </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <div class="input-group">
                                                                      <input id="flightto" class="calendar" type="text" :placeholder="commonData.To_Date" />
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                              <div class="row">
                                                                <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{commonData.Number_Of_Adults}}</p>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="select">
                                                                  <select name="slct" id="slct" v-model="additional_adult">
                                                                    <option v-for="adult in 10" :key="adult" :value="adult">{{ adult }}</option>
                                                                  </select>
                                                                </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                              <div class="row">
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{commonData.Number_Of_Children}}</p>
                                                                <div class="select">
                                                                  <select name="slct" id="slct" v-model="additional_child">
                                                                    <option value="0" disabled>0</option>
                                                                    <option v-for="child in 10" :key="child" :value="child">{{ child }}</option>
                                                                  </select>
                                                                </div>
                                                                </div>
                                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                  <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{commonData.Number_Of_Infant}}</p>
                                                                <div class="select">
                                                                  <select name="slct" id="slct" v-model="additional_infant">
                                                                    <option value="0" disabled>0</option>
                                                                    <option v-for="infant in 10" :key="infant" :value="infant">{{ infant }}</option>
                                                                  </select>
                                                                </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                              <div class="row" v-for="(index, el) in additional_child" :key="el">
                                                                <p><i class="fa fa-dot-circle-o" aria-hidden="true"></i>{{commonData.Child_Label}} {{index}} {{commonData.Age_Label}}</p>
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <div class="select">
                                                                  <select name="slct" id="slct" v-model="additional_child_age[index - 1].age">
                                                                    <option value="0" selected disabled>{{commonData.Preferred_travel_style_subheading}}</option>
                                                                    <option v-for="child in 16" :key="child" :value="child + 1">{{ child + 1 }}</option>
                                                                  </select>
                                                                </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                	<div class="frm-div">
                                                    	<label>{{commonData.Additional_Flight_Label}} <span>({{commonData.Optional_Label}})</span></label>
                                                        <div class="input-group">
                                                           <textarea placeholder="" class="form-control" v-model="flightInfo"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                   </div>
                    <a class="previous action-button" href="#">{{commonData.Previous_Button_Label}}</a>
                    <a class="next2 action-button" href="#">{{commonData.Next_Button_Label}}</a>
                  </fieldset>
                  <fieldset>
                  	<div class="inr-cnt">
                        <div class="comment-div">
                          <div class="user"><img src="images/user.png" alt=""></div>
                          <div class="comment-block">
                            <h2>{{commonData.Final_Step_Label}}</h2>
                            <p>{{commonData.Final_Step_Description}}</p>
                        </div>  
                        </div>                  
                   </div>
                    <div class="inr-cnt">
                        <div class="slct-img">
                        	<h2>{{commonData.How_can_we_best_reach_you_Label}}</h2>
                            <div class="frm">
                            	<div class="row">
                                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Firstname_Label}} </label>
                                            <div class="input-group">
                                            	<input type="text" placeholder="" class="form-control" v-model="fname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Lastname_Label}} </label>
                                            <div class="input-group">
                                            	<input type="text" placeholder="" class="form-control" v-model="lname">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Email_Label}}</label>
                                            <div class="input-group">
                                            	<input type="text" placeholder="" class="form-control" v-model="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Country_Code_Label}} <span>({{commonData.Optional_Label}})</span></label>
                                            <div class="select">
                                              <select name="slct" id="slct" v-model="countryCode">
                                                <option value="" disabled>{{commonData.Preferred_travel_style_subheading}}</option>
                                                <option :value="code.Country_Code" v-for="code in commonData.Country_Code_List">{{code.Country_Name}}({{code.Country_Code}})</option>
                                              </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Phone_Label}} <span>({{commonData.Optional_Label}})</span></label>
                                            <div class="input-group">
                                            	<input type="text" :placeholder="countryCode" class="form-control" v-model="phonenumber">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <p>{{commonData.Phone_number_addition_description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Age_range_label}} <span>({{commonData.Optional_Label}})</span></label>
                                            <div class="select">
                                              <select name="slct" id="slct" v-model="age">
                                                <option value="" selected disabled>{{commonData.Preferred_travel_style_subheading}}</option>
                                                <option :value="age.Age" v-for="age in commonData.Age_rangeList">{{age.Age}}</option>
                                              </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <label>{{commonData.Additional_information_Label}} <span>({{commonData.Optional_Label}})</span></label>
                                            <div class="input-group">
                                            	<textarea placeholder="" class="form-control" v-model="addinfo"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                        	<p>{{commonData.Know_more_description}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <div class="form__checkbox">
                                              <input id="checkbox-list-2" name="checkbox-list-2" type="checkbox" v-model="offer">
                                              <label for="checkbox-list-2">{{commonData.Nonbinding_offer_description}}</label>
                                              <span class="checkbox"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    	<div class="frm-div">
                                            <div class="form__checkbox">
                                              <input id="checkbox-list-3" name="checkbox-list-3" type="checkbox" v-model="signup">
                                              <label for="checkbox-list-3">{{commonData.Monthly_travel_Description}}</label>
                                              <span class="checkbox"></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                  
                   </div>
                    <a class="previous action-button" href="#">{{commonData.Previous_Button_Label}}</a>
                    <a class="submit action-button" href="#" v-on:click.prevent="sendDesignedTrip">{{commonData.Send_request_button_label}}</a>
                  </fieldset>
                </form>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        	<aside>
            <div class="">
              <iframe v-if="video.length" style="width:100%;" height="270" :src="'https://www.youtube.com/embed/'+video[0].Video+'?controls=0'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            	<div class="inr-cnt" v-for="review in allComments">
                        <div class="review-div">
                          <div class="user"><img src="images/user.png" alt=""></div>
                          <div class="review-block">
                            <h5>{{review.keyword2}}</h5>
                            <span class="date">{{dateFormatter(review.date1)}}</span>
                            <div class="ratting">
                              <star-rating v-bind:star-size="20" v-bind:show-rating="false" read-only v-model="review.number1">
                              </star-rating>
                            </div>
                        </div>  
                          <p>{{review.text1}}</p>
                        </div>                  
                   </div>
                   <!-- <div class="">
                    <iframe width="360" height="270" :src="'https://www.youtube.com/embed/'+configDetails.Video[0].Video+'?controls=0'" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div> -->
                <div class="inr-cnt">
                     <ul class="need-cntc">
                     	<h4>{{commonData.Need_a_hand_label}}</h4>
                        <li><a :href="commonData.Conatct_Number">{{commonData.Conatct_Number}}</a></li>
                        <li><a :href="commonData.Email_Id">{{commonData.Email_Id}} </a></li>
                        <li>({{commonData.Available_Time}})</li>
                     </ul>                  
                </div>
            </aside>
        </div>
    </div>
  </div>
</section>
</div>
 <!--footer-->
 <footer>
  <footeritem></footeritem>
</footer>
<!--footer close-->
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/underscore-min.js?v=201904100000"></script>
<script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
<script src="/assets/js/star-rating.min.js"></script>
<script src="/assets/js/detect.js?v=20200910000"></script>
<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
<script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=202008180000"></script>
<script src="servicejs/detail-request.js?v=202108280000"></script>
<script src="js/custom.js"></script> 
</body>
</html>