<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fly Key</title>
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link href="/assets/css/nouislider.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/ltr-style.css?v=202000802000" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/common-style.css" rel="stylesheet" type="text/css" />
  <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">-->

  <link rel="stylesheet" href="/assets/css/select2.min.css">
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/assets/css/flag.css'>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/css/vue-loading.css?v=202007070000">
  <link rel="stylesheet" href="css/custom-splash.css">
  <link href="css/fotorama.css" rel="stylesheet">
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
</head>

<body>
 <!-- PRELOADER -->
 <div id="preloader">
  <div id="preloader-status">
      <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      <div class="lds-circle">
          <div></div>
      </div>
      <div id="preloader-title">Loading</div>
  </div>
</div>
<!-- /PRELOADER -->
  <header>
    <headeritem class="top-index"></headeritem>
  </header>
  <div id="home" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="fullPage"></loading>
    </div>
    <section style="width: 100%;position: absolute;" class="p-0">
      <div>
        <div class="fotorama" data-nav="false" data-autoplay="true" data-minheight="600" data-maxheight="600" data-arrows="false" data-autoplay="3000" data-loop="true" data-fit="cover" data-width="100%">
            <img class="item" v-for="(item, index) in banner.Banner_List" :key="index" :src="item.Image" alt="banner image" />
        </div>
      </div>
    </section>
    <section id="bnr" class="p-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-text">
              <h1>{{banner.Banner_Title_1}} <span>{{banner.Banner_Title_2}}</span></h1>
              <p v-html="banner.Banner_Description"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="booking-form">
        <div class="container">
          <div class="row">
            <div class="search-section">
              <div role="tabbable boxed parentTabs">
                <!-- BEGIN: CATEGORY TAB -->
                <div class="booking-tab">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-field">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#flight" @click="changeTab('flight')" data-toggle="tab"><span class="service-icon"><svg
                              width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                              xml:space="preserve">
                              <path d="M37.962,5.497l-0.068-0.638c-0.134-1.31-1.209-2.317-2.553-2.418l-0.537-0.033
        C33.19,2.34,31.612,2.944,30.47,4.086l-5.375,5.339L7.492,9.391c-1.478,0-2.922,0.604-3.998,1.679l-0.739,0.739
        c-0.235,0.236-0.336,0.638-0.269,0.974c0.101,0.336,0.336,0.604,0.672,0.705l14.009,3.828l-3.259,3.256l-5.913,0.202
        c-0.604,0-1.176,0.235-1.612,0.704l-0.571,0.572c-0.235,0.234-0.336,0.604-0.269,0.939c0.101,0.336,0.336,0.57,0.638,0.705
        l7.525,2.854l3.023,7.791c0.134,0.336,0.437,0.57,0.773,0.604c0.336,0.035,0.638-0.066,0.873-0.336l0.605-0.604
        c0.403-0.402,0.638-0.939,0.706-1.611l0.201-5.943l3.293-3.225l3.795,14.037c0.102,0.334,0.37,0.604,0.706,0.705
        C27.782,38,27.85,38,27.95,38c0.27,0,0.537-0.102,0.739-0.303l0.739-0.738c1.074-1.074,1.68-2.52,1.68-4.029V15.334l5.207-5.238
        C37.558,8.888,38.163,7.175,37.962,5.497z M35.374,9.156l-5.441,5.44c-0.135,0.134-0.201,0.302-0.201,0.47V32.93
        c0,1.176-0.471,2.25-1.277,3.09l-0.336,0.336L24.12,21.814c-0.066-0.234-0.234-0.402-0.47-0.469c-0.067,0-0.101-0.035-0.168-0.035
        c-0.168,0-0.336,0.068-0.47,0.203l-4.301,4.23c-0.134,0.133-0.201,0.268-0.201,0.469l-0.202,6.18c0,0.201-0.067,0.504-0.302,0.705
        l-0.235,0.234l-2.923-7.555c-0.067-0.168-0.201-0.303-0.403-0.369l-7.29-2.787l0.202-0.201c0.101-0.102,0.37-0.303,0.706-0.303
        l6.215-0.201c0.168,0,0.336-0.068,0.437-0.201l4.267-4.265c0.167-0.168,0.235-0.403,0.167-0.638c-0.066-0.235-0.235-0.403-0.47-0.47
        l-14.58-3.996l0.336-0.336c0.807-0.806,1.915-1.276,3.057-1.276l17.873,0.034c0.168,0,0.336-0.067,0.47-0.201l5.577-5.541
        c0.873-0.873,2.082-1.343,3.325-1.276l0.538,0.034c0.672,0.034,1.209,0.571,1.275,1.209l0.068,0.638
        C36.752,6.94,36.315,8.216,35.374,9.156z" />
                            </svg></span>{{bookingForm.Flight_Label}}</a></li>
                      <li><a href="#hotels" @click="changeTab('hotels')" data-toggle="tab"><span class="service-icon"><svg width="40px" height="40px"
                              viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                              <path display="none" d="M37.962,6.497l-0.068-0.638c-0.134-1.31-1.209-2.317-2.553-2.418l-0.537-0.033
	C33.19,3.34,31.612,3.944,30.47,5.086l-5.375,5.339L7.492,10.391c-1.478,0-2.922,0.604-3.998,1.679l-0.739,0.739
	c-0.235,0.236-0.336,0.638-0.269,0.974c0.101,0.336,0.336,0.604,0.672,0.705l14.009,3.828l-3.259,3.256l-5.913,0.202
	c-0.604,0-1.176,0.235-1.612,0.704l-0.571,0.572c-0.235,0.234-0.336,0.604-0.269,0.939c0.101,0.336,0.336,0.57,0.638,0.705
	l7.525,2.854l3.023,7.791c0.134,0.336,0.437,0.57,0.773,0.604c0.336,0.035,0.638-0.066,0.873-0.336l0.605-0.604
	c0.403-0.402,0.638-0.939,0.706-1.611l0.201-5.943l3.293-3.225l3.795,14.037c0.102,0.334,0.37,0.604,0.706,0.705
	C27.782,39,27.85,39,27.95,39c0.27,0,0.537-0.102,0.739-0.303l0.739-0.738c1.074-1.074,1.68-2.52,1.68-4.029V16.334l5.207-5.238
	C37.558,9.888,38.163,8.175,37.962,6.497z M35.374,10.156l-5.441,5.44c-0.135,0.134-0.201,0.302-0.201,0.47V33.93
	c0,1.176-0.471,2.25-1.277,3.09l-0.336,0.336L24.12,22.814c-0.066-0.234-0.234-0.402-0.47-0.469c-0.067,0-0.101-0.035-0.168-0.035
	c-0.168,0-0.336,0.068-0.47,0.203l-4.301,4.23c-0.134,0.133-0.201,0.268-0.201,0.469l-0.202,6.18c0,0.201-0.067,0.504-0.302,0.705
	l-0.235,0.234l-2.923-7.555c-0.067-0.168-0.201-0.303-0.403-0.369l-7.29-2.787l0.202-0.201c0.101-0.102,0.37-0.303,0.706-0.303
	l6.215-0.201c0.168,0,0.336-0.068,0.437-0.201l4.267-4.265c0.167-0.168,0.235-0.403,0.167-0.638c-0.066-0.235-0.235-0.403-0.47-0.47
	l-14.58-3.996l0.336-0.336c0.807-0.806,1.915-1.276,3.057-1.276l17.873,0.034c0.168,0,0.336-0.067,0.47-0.201l5.577-5.541
	c0.873-0.873,2.082-1.343,3.325-1.276l0.538,0.034c0.672,0.034,1.209,0.571,1.275,1.209l0.068,0.638
	C36.752,7.94,36.315,9.216,35.374,10.156z"></path>
                              <g>
                                <g>
                                  <path d="M35.463,32.775h-1.612V4.293c0-0.323-0.215-0.538-0.538-0.538H6.443c-0.323,0-0.538,0.215-0.538,0.538v28.482H4.293
			c-0.322,0-0.537,0.215-0.537,0.537v2.15C3.756,35.785,3.971,36,4.293,36h31.17C35.785,36,36,35.785,36,35.463v-2.15
			C36,32.99,35.785,32.775,35.463,32.775z M6.98,4.831h25.795v27.945h-8.061v-5.912c0-0.322-0.215-0.537-0.538-0.537h-8.598
			c-0.322,0-0.538,0.215-0.538,0.537v5.912H6.98V4.831z M23.64,27.402v5.373h-3.225v-5.373H23.64z M19.34,27.402v5.373h-3.224
			v-5.373H19.34z M34.925,34.926H4.831V33.85h30.094V34.926z M13.966,6.443H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
			c0,0.322,0.215,0.538,0.537,0.538h4.299c0.323,0,0.538-0.215,0.538-0.538V6.98C14.504,6.658,14.289,6.443,13.966,6.443z
			 M13.429,9.667h-3.225v-2.15h3.225V9.667z M13.966,12.354H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
			c0,0.322,0.215,0.537,0.537,0.537h4.299c0.323,0,0.538-0.215,0.538-0.537v-3.225C14.504,12.569,14.289,12.354,13.966,12.354z
			 M13.429,15.579h-3.225v-2.15h3.225V15.579z M17.729,16.654h4.299c0.322,0,0.537-0.216,0.537-0.538v-3.225
			c0-0.322-0.215-0.537-0.537-0.537h-4.299c-0.322,0-0.537,0.215-0.537,0.537v3.225C17.191,16.438,17.406,16.654,17.729,16.654z
			 M18.266,13.429h3.225v2.15h-3.225V13.429z M25.789,16.654h4.3c0.322,0,0.537-0.216,0.537-0.538v-3.225
			c0-0.322-0.215-0.537-0.537-0.537h-4.3c-0.322,0-0.537,0.215-0.537,0.537v3.225C25.252,16.438,25.467,16.654,25.789,16.654z
			 M26.326,13.429h3.225v2.15h-3.225V13.429z M17.729,22.564h4.299c0.322,0,0.537-0.215,0.537-0.537v-3.224
			c0-0.323-0.215-0.538-0.537-0.538h-4.299c-0.322,0-0.537,0.215-0.537,0.538v3.224C17.191,22.35,17.406,22.564,17.729,22.564z
			 M18.266,19.341h3.225v2.149h-3.225V19.341z M25.789,22.564h4.3c0.322,0,0.537-0.215,0.537-0.537v-3.224
			c0-0.323-0.215-0.538-0.537-0.538h-4.3c-0.322,0-0.537,0.215-0.537,0.538v3.224C25.252,22.35,25.467,22.564,25.789,22.564z
			 M26.326,19.341h3.225v2.149h-3.225V19.341z M13.966,18.266H9.667c-0.322,0-0.537,0.215-0.537,0.537v3.225
			c0,0.322,0.215,0.537,0.537,0.537h4.299c0.323,0,0.538-0.215,0.538-0.537v-3.225C14.504,18.48,14.289,18.266,13.966,18.266z
			 M13.429,21.49h-3.225v-2.149h3.225V21.49z M17.729,10.742h4.299c0.322,0,0.537-0.215,0.537-0.537V6.98
			c0-0.322-0.215-0.537-0.537-0.537h-4.299c-0.322,0-0.537,0.215-0.537,0.537v3.225C17.191,10.527,17.406,10.742,17.729,10.742z
			 M18.266,7.518h3.225v2.15h-3.225V7.518z M25.789,10.742h4.3c0.322,0,0.537-0.215,0.537-0.537V6.98
			c0-0.322-0.215-0.537-0.537-0.537h-4.3c-0.322,0-0.537,0.215-0.537,0.537v3.225C25.252,10.527,25.467,10.742,25.789,10.742z
			 M26.326,7.518h3.225v2.15h-3.225V7.518z M16.653,25.252h6.449c0.322,0,0.537-0.215,0.537-0.537s-0.215-0.537-0.537-0.537h-6.449
			c-0.322,0-0.537,0.215-0.537,0.537S16.331,25.252,16.653,25.252z"></path>
                                </g>
                              </g>
                            </svg></span>{{bookingForm.Hotel_Label}}</a> </li>
                      <li><a href="#cruise" @click="changeTab('cruise')" data-toggle="tab"><span class="service-icon"><svg x="0px" y="0px"
                              width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                              xml:space="preserve">
                              <g>
                                <g>
                                  <path
                                    d="M22.938,20.841c0,0-5.047-3.113-5.053-3.117c-0.363-0.224-0.853-0.106-1.076,0.254    c-0.224,0.361-0.105,0.854,0.255,1.075c0,0,5.05,3.116,5.053,3.118c0.363,0.224,0.853,0.108,1.075-0.255    S23.301,21.064,22.938,20.841z" />
                                </g>
                              </g>
                              <g>
                                <g>
                                  <path
                                    d="M20.005,19.167c-0.498,0-0.875,0.475-0.761,0.96c0.046,0.193,0.179,0.369,0.354,0.48    c0.12,0.076,0.261,0.121,0.406,0.121c0.273,0,0.522-0.138,0.665-0.37C20.974,19.862,20.591,19.167,20.005,19.167z" />
                                </g>
                              </g>
                              <g>
                                <g>
                                  <path
                                    d="M23.172,17.95c-0.22-0.351-0.729-0.465-1.077-0.244c0,0-5.014,3.162-5.022,3.167    c-0.361,0.228-0.472,0.716-0.244,1.077c0.137,0.217,0.401,0.344,0.662,0.352c0.147,0.004,0.293-0.029,0.416-0.106    c0,0,5.019-3.166,5.023-3.168C23.29,18.8,23.399,18.312,23.172,17.95z" />
                                </g>
                              </g>
                              <g>
                                <g>
                                  <path
                                    d="M19.998,19.167c-0.362,0-0.68,0.255-0.76,0.608c-0.109,0.481,0.272,0.954,0.762,0.954    c0.362,0,0.682-0.255,0.762-0.608C20.871,19.636,20.493,19.167,19.998,19.167z" />
                                </g>
                              </g>
                              <g>
                                <g>
                                  <path
                                    d="M37.333,33.582c-0.249-0.286-0.68-0.316-0.966-0.067c-0.73,0.633-1.404,1.29-2.359,1.556    c-1.064,0.294-2.073,0.063-3.036-0.418l3.562-11.98c0.086-0.297-0.035-0.619-0.302-0.778l-3.294-1.995v-5.828    c0-0.378-0.306-0.684-0.684-0.684h-1.367v-2.051c0-0.378-0.306-0.684-0.684-0.684H26.05V8.602c0-0.378-0.306-0.684-0.684-0.684    h-3.315V3.133c0-0.378-0.306-0.684-0.684-0.684h-2.734c-0.378,0-0.684,0.306-0.684,0.684v4.785h-3.315    c-0.378,0-0.684,0.306-0.684,0.684v2.051h-2.153c-0.378,0-0.684,0.306-0.684,0.684v2.051H9.746c-0.378,0-0.684,0.306-0.684,0.684    v5.828l-3.292,1.995c-0.267,0.159-0.391,0.481-0.302,0.778c0,0,3.551,11.95,3.552,11.954c-0.061-0.205-1.155-0.34-1.348-0.363    c-1.99-0.256-3.504,0.739-4.938,1.986c-0.286,0.249-0.315,0.68-0.068,0.966c0.236,0.271,0.677,0.315,0.966,0.067    c1.476-1.287,3.141-2.264,5.096-1.289c1.767,0.886,3.598,1.264,5.438,0.297c1.485-0.781,2.919-1.459,4.577-0.67l1.703,0.814    c1.456,0.69,3.122,0.679,4.564-0.045c0.891-0.444,1.797-1.04,2.813-1.11c0.997-0.068,1.96,0.304,2.834,0.745    c1.155,0.578,2.512,0.69,3.751,0.34c1.146-0.328,1.977-1.056,2.855-1.816C37.55,34.299,37.58,33.868,37.333,33.582z M29.57,14.754    v4.315l-7.124-4.315H29.57z M19.316,3.817h1.367v4.102h-1.367V3.817z M15.317,9.286h9.365v1.367h-9.365V9.286z M10.43,14.754    h7.123l-7.123,4.315V14.754z M19.316,34.382c0-0.124-0.975-0.347-1.101-0.374c-1.191-0.259-2.467-0.097-3.546,0.475    c-0.782,0.412-1.537,0.892-2.433,1.004c0,0-0.002,0-0.004,0c-0.524,0.064-1.059,0.028-1.565-0.118L6.929,22.79l12.387-7.506    C19.316,15.284,19.316,34.381,19.316,34.382z M12.48,13.387V12.02H27.52v1.367H12.48z M29.709,34.104    c0.008-0.212-1.918-0.209-2.045-0.195c-1.189,0.125-2.215,0.734-3.263,1.26c-1.238,0.617-2.507,0.44-3.718-0.136V15.284    L33.07,22.79L29.709,34.104z" />
                                </g>
                              </g>
                            </svg></span>{{bookingForm.Cruise_Label}}</a> </li>
                      <li><a href="#transfer" @click="changeTab('transfer')" data-toggle="tab"><span class="service-icon"><svg x="0px" y="0px"
                              width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                              xml:space="preserve">
                              <g>
                                <g>
                                  <g>
                                    <path
                                      d="M37.053,16.667l-0.806-0.89l-2.826-7.958c-0.483-1.345-1.717-2.233-3.091-2.243H10.134     c-1.375,0-2.607,0.898-3.088,2.243l-2.789,7.858l-1.16,1.121c-1.012,0.9-1.597,2.219-1.597,3.604v11.593     c0.009,1.899,1.486,3.432,3.302,3.432h2.086c1.816,0,3.292-1.532,3.301-3.432v-1.68h19.589v1.68     c0.006,1.899,1.486,3.432,3.301,3.432h2.085c1.816,0,3.294-1.532,3.303-3.432V20.096C38.458,18.802,37.952,17.566,37.053,16.667z      M8.531,8.38c0.252-0.701,0.892-1.153,1.603-1.153h20.204c0.71,0,1.353,0.46,1.604,1.153l2.463,6.927h-1.841     c-0.434-3.092-3.188-5.228-6.151-4.766c-2.362,0.361-4.218,2.3-4.566,4.766H6.066L8.531,8.38z M30.954,15.307h-7.511     c0.434-2.168,2.474-3.555,4.548-3.101C29.478,12.537,30.639,13.748,30.954,15.307z M8.609,31.995     c-0.007,0.991-0.774,1.783-1.721,1.783H4.802c-0.947,0-1.714-0.792-1.722-1.783v-2.16c0.474,0.323,1.099,0.48,1.722,0.48h3.807     V31.995z M36.889,31.995c-0.01,0.991-0.776,1.783-1.725,1.783h-2.085c-0.948,0-1.712-0.801-1.721-1.783v-1.68h3.806     c0.624,0,1.249-0.157,1.725-0.48V31.995z M35.164,28.662H4.802c-0.94,0.011-1.714-0.772-1.722-1.763v-6.497     c0-0.908,0.387-1.773,1.05-2.359c0.008-0.007,0.024-0.023,0.033-0.032l1.074-1.056h29.913l0.758,0.849     c0.01,0.017,0.032,0.026,0.041,0.042c0.589,0.585,0.931,1.402,0.931,2.249v6.804h0.01C36.879,27.88,36.104,28.673,35.164,28.662z     " />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M11.926,20.254H6.003c-0.434,0-0.791,0.371-0.791,0.823v4.29c0,0.453,0.357,0.823,0.791,0.823h5.923     c0.435,0,0.792-0.37,0.792-0.823v-4.29C12.717,20.625,12.36,20.254,11.926,20.254z M11.136,24.542H6.792v-2.638h4.344V24.542z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M33.966,20.254h-5.925c-0.435,0-0.789,0.371-0.789,0.823v4.29c0,0.453,0.354,0.823,0.789,0.823h5.925     c0.434,0,0.789-0.37,0.789-0.823v-4.29C34.755,20.625,34.399,20.254,33.966,20.254z M33.176,24.542H28.83v-2.638h4.346V24.542z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M23.798,23.72h-7.63c-0.435,0-0.79,0.369-0.79,0.822c0,0.454,0.355,0.825,0.79,0.825h7.63     c0.434,0,0.788-0.371,0.788-0.825C24.586,24.089,24.231,23.72,23.798,23.72z" />
                                  </g>
                                </g>
                                <g>
                                  <g>
                                    <path
                                      d="M23.798,21.161h-7.63c-0.435,0-0.79,0.37-0.79,0.825c0,0.453,0.355,0.823,0.79,0.823h7.63     c0.434,0,0.788-0.37,0.788-0.823C24.586,21.531,24.231,21.161,23.798,21.161z" />
                                  </g>
                                </g>
                              </g>
                            </svg></span>{{bookingForm.Transfer_Label}}</a> </li>
                      <!-- <li><a href="#activities" data-toggle="tab"><span class="service-icon"><svg x="0px" y="0px"
                              width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40"
                              xml:space="preserve">
                              <g>
                                <g>
                                  <path
                                    d="M19.853,11.53c-2.351,0-4.263-1.912-4.263-4.263c0-2.351,1.912-4.264,4.263-4.264    c2.35,0,4.262,1.913,4.262,4.264C24.115,9.618,22.203,11.53,19.853,11.53z M19.853,4.503c-1.523,0-2.763,1.24-2.763,2.764    c0,1.523,1.239,2.763,2.763,2.763c1.523,0,2.762-1.239,2.762-2.763C22.615,5.743,21.376,4.503,19.853,4.503z" />
                                </g>
                                <g>
                                  <path
                                    d="M13.743,13.668c-0.187,0-0.373-0.069-0.519-0.208c-0.299-0.286-0.31-0.761-0.023-1.061l3.36-3.513    c0.287-0.299,0.761-0.31,1.061-0.023c0.299,0.286,0.31,0.761,0.023,1.061l-3.36,3.513C14.138,13.59,13.94,13.668,13.743,13.668z" />
                                </g>
                                <g>
                                  <path
                                    d="M11.91,17.182c-1.677,0-3.042-1.364-3.042-3.042c0-1.677,1.364-3.041,3.042-3.041    c1.677,0,3.041,1.364,3.041,3.041C14.951,15.817,13.587,17.182,11.91,17.182z M11.91,12.599c-0.85,0-1.542,0.691-1.542,1.541    c0,0.85,0.691,1.542,1.542,1.542c0.85,0,1.541-0.691,1.541-1.542C13.451,13.291,12.76,12.599,11.91,12.599z" />
                                </g>
                                <g>
                                  <path
                                    d="M25.963,13.668c-0.197,0-0.395-0.078-0.542-0.231L22.06,9.924c-0.286-0.299-0.275-0.774,0.023-1.061    s0.773-0.275,1.061,0.023l3.361,3.513c0.286,0.299,0.275,0.774-0.023,1.061C26.336,13.599,26.149,13.668,25.963,13.668z" />
                                </g>
                                <g>
                                  <path
                                    d="M27.947,17.182c-1.677,0-3.041-1.364-3.041-3.042c0-1.677,1.364-3.041,3.041-3.041    s3.041,1.364,3.041,3.041C30.988,15.817,29.624,17.182,27.947,17.182z M27.947,12.599c-0.85,0-1.541,0.691-1.541,1.541    c0,0.85,0.691,1.542,1.541,1.542s1.541-0.691,1.541-1.542C29.488,13.291,28.797,12.599,27.947,12.599z" />
                                </g>
                                <g>
                                  <path
                                    d="M7.328,36.731c-0.22,0-0.438-0.097-0.586-0.281l-3.055-3.818c-1.096-1.462-1.692-3.141-1.692-4.745v-7.943    c0-1.648,1.393-3.041,3.041-3.041s3.041,1.393,3.041,3.041v5.804c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75v-5.804    c0-0.807-0.734-1.541-1.541-1.541s-1.541,0.734-1.541,1.541v7.943c0,1.282,0.489,2.642,1.377,3.826l3.04,3.8    c0.259,0.323,0.207,0.796-0.117,1.055C7.658,36.678,7.492,36.731,7.328,36.731z" />
                                </g>
                                <g>
                                  <path
                                    d="M14.201,36.731c-0.414,0-0.75-0.336-0.75-0.75v-4.734c0-1.188-0.395-2.421-1.082-3.382l-1.7-2.626    c-0.214-0.372-0.528-0.607-0.905-0.696c-0.34-0.081-0.688-0.025-0.951,0.149c-0.091,0.062-0.196,0.101-0.305,0.117    c-0.467,0.416-0.629,1.127-0.357,1.671l2.108,3.46c0.215,0.354,0.103,0.815-0.251,1.03c-0.351,0.216-0.814,0.104-1.03-0.251    L6.84,27.206c-0.668-1.328-0.22-2.957,0.989-3.762c0.107-0.072,0.231-0.114,0.359-0.124c0.572-0.306,1.259-0.393,1.921-0.237    c0.775,0.184,1.447,0.686,1.842,1.377l1.658,2.562c0.846,1.18,1.342,2.73,1.342,4.226v4.734    C14.951,36.396,14.615,36.731,14.201,36.731z" />
                                </g>
                                <g>
                                  <path
                                    d="M32.53,36.731c-0.165,0-0.33-0.054-0.469-0.164c-0.323-0.259-0.376-0.731-0.117-1.055l3.055-3.818    c0.874-1.165,1.363-2.523,1.363-3.808v-7.943c0-0.807-0.734-1.541-1.541-1.541s-1.541,0.734-1.541,1.541v5.804    c0,0.414-0.336,0.75-0.75,0.75s-0.75-0.336-0.75-0.75v-5.804c0-1.648,1.393-3.041,3.041-3.041s3.041,1.393,3.041,3.041v7.943    c0,1.606-0.596,3.285-1.678,4.727l-3.068,3.837C32.968,36.635,32.75,36.731,32.53,36.731z" />
                                </g>
                                <g>
                                  <path
                                    d="M25.656,36.731c-0.414,0-0.75-0.336-0.75-0.75v-4.734c0-1.494,0.496-3.045,1.361-4.255l1.662-2.567    c0.372-0.656,1.043-1.158,1.818-1.342c0.665-0.154,1.35-0.068,1.921,0.237c0.129,0.01,0.253,0.052,0.361,0.124    c1.208,0.805,1.655,2.434,1.018,3.708l-2.169,3.567c-0.216,0.355-0.68,0.467-1.03,0.251c-0.354-0.216-0.467-0.677-0.251-1.03    l2.139-3.514c0.245-0.496,0.079-1.204-0.389-1.619c-0.108-0.018-0.217-0.057-0.304-0.115c-0.264-0.175-0.609-0.229-0.95-0.149    c-0.378,0.09-0.691,0.324-0.883,0.66l-1.703,2.633c-0.707,0.99-1.102,2.223-1.102,3.411v4.734    C26.406,36.396,26.07,36.731,25.656,36.731z" />
                                </g>
                              </g>
                            </svg></span>{{bookingForm.Activities_Label}}</a> </li> -->
                            <li>
                              <a href="#visa" @click="changeTab('visa')" data-toggle="tab"><span class="service-icon">
                                <svg id="Layer_1" enable-background="new 0 0 512 512" height="30px" viewBox="0 0 512 512" width="30px" xmlns="http://www.w3.org/2000/svg"><path d="m389 79.2h-26.9v-63.2c0-3.3-2.7-6-6-6-.6 0-1.2.1-1.7.2l-232.6 69c-12.3.7-21.9 10.8-21.9 23.1v376.6c0 12.8 10.4 23.1 23.1 23.1h266c12.8 0 23.1-10.4 23.1-23.1v-376.6c0-12.8-10.4-23.1-23.1-23.1zm-38.9-55.2v55.1h-186zm50 454.9c0 6.1-5 11.1-11.1 11.1h-266c-6.1 0-11.1-5-11.1-11.1v-376.6c0-4 2.1-7.6 5.5-9.6l.1.3 6.1-1.8h265.4c6.1 0 11.1 5 11.1 11.1z"/><path d="m342.5 377.7h-173c-3.3 0-6 2.7-6 6s2.7 6 6 6h173c3.3 0 6-2.7 6-6s-2.7-6-6-6z"/><path d="m295.5 418h-79c-3.3 0-6 2.7-6 6s2.7 6 6 6h79c3.3 0 6-2.7 6-6s-2.7-6-6-6z"/><path d="m256 153.6c-49.8 0-90.3 40.4-90.3 90.3s40.4 90.3 90.3 90.3 90.3-40.4 90.3-90.3c-.1-49.9-40.5-90.3-90.3-90.3zm-27.4 17c-7.4 7.7-13.3 16.6-17.5 26.4-3.7-2.6-7.1-5.4-10.3-8.6 7.9-7.9 17.4-13.9 27.8-17.8zm-35.6 26.9c4.3 4.1 8.9 7.9 13.9 11.1-2.8 9.5-4.4 19.4-4.8 29.3h-24.1c1.1-14.7 6.3-28.6 15-40.4zm-15 52.3h24.1c.4 9.9 2 19.8 4.8 29.3-5 3.2-9.6 6.9-13.9 11.1-8.7-11.8-13.9-25.8-15-40.4zm22.9 49.5c3.2-3.2 6.6-6 10.3-8.6 4.2 9.8 10.1 18.7 17.5 26.4-10.5-3.9-20-10-27.8-17.8zm49.1 19.8c-12.6-7.8-22.3-19.8-28.4-34.6 8.9-4.4 18.6-7 28.4-7.7zm0-54.3c-11.2.7-22.2 3.6-32.3 8.3-2-7.6-3.2-15.4-3.6-23.3h35.9zm0-27h-35.9c.4-7.9 1.6-15.7 3.6-23.3 10.2 4.8 21.1 7.6 32.3 8.3zm0-27c-9.9-.7-19.5-3.4-28.4-7.7 6.2-14.8 15.9-26.7 28.4-34.5zm61.2-22.4c-3.2 3.2-6.6 6.1-10.3 8.6-4.2-9.8-10.1-18.8-17.5-26.5 10.4 4 19.9 10.1 27.8 17.9zm-49.2-19.8c12.6 7.9 22.3 19.8 28.5 34.6-8.9 4.4-18.6 7-28.5 7.7zm0 54.3c11.2-.7 22.2-3.5 32.4-8.3 2 7.6 3.2 15.4 3.6 23.2h-36zm0 26.9h35.9c-.4 7.8-1.5 15.6-3.6 23.2-10.2-4.8-21.2-7.6-32.4-8.3v-14.9zm0 69.3v-42.3c9.9.7 19.6 3.3 28.5 7.7-6.2 14.8-15.9 26.8-28.5 34.6zm21.4-2c7.4-7.7 13.3-16.7 17.5-26.5 3.7 2.6 7.1 5.5 10.3 8.6-7.9 7.9-17.4 14-27.8 17.9zm35.6-26.9c-4.2-4.2-8.9-7.9-13.9-11.1 2.8-9.5 4.4-19.3 4.8-29.2h24.1c-1.1 14.5-6.3 28.5-15 40.3zm-9.1-52.4c-.4-9.9-2-19.7-4.8-29.2 5-3.2 9.6-7 13.9-11.1 8.7 11.8 13.9 25.7 15 40.3z"/></svg>
                              </span>{{bookingForm.Visa_Label}}
                              </a>
                            </li>
                    </ul>
                  </div>
                  <!-- END: CATEGORY TAB -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 all-search-box">
                  <!-- BEGIN: TAB PANELS -->
                  <div class="tab-content">
                    <!-- BEGIN: FLIGHT SEARCH -->
                    <div class="tab-pane active" id="flight" v-if="services=='flight'">
                      <div class="tabbable" >
                        <ul class="nav-tabs nav-tabs2">

                          <li class="m-left" :class="{ 'active': triptype === 'O' }"><a href="#one-way" data-toggle="tab" v-on:click="setTripType('O')">
                              <input type="radio" id="inlineRadio1" value="O" v-model="triptype" name="radioInline"
                                style="display: none;">
                              <label for="inlineRadio1">{{bookingForm.One_Way_Label}}</label></a> </li>
                          <li :class="{ 'active': triptype === 'R' }"><a href="#round-trip" data-toggle="tab" v-on:click="setTripType('R')">
                              <input type="radio" id="inlineRadio2" value="R" v-model="triptype" name="radioInline"
                                style="display: none;">
                              <label for="inlineRadio2">{{bookingForm.Round_Trip_Label}}</label></a> </li>
                          <li :class="{ 'active': triptype === 'M' }"><a href="#multi-city" data-toggle="tab" v-on:click="setTripType('M')">
                              <input type="radio" id="inlineRadio3" value="M" v-model="triptype" name="radioInline"
                                style="display: none;">
                              <label for="inlineRadio3">{{bookingForm.Multi_City_Label}}</label></a> </li>
                          
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade active in" v-if="triptype !='M'">
                            <div class="shadow">
                              <div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding brdr-rdus">

                                  <flightserch id="Cityfrom1" :return-value="returnValue"
                                    :place-holder-text="bookingForm.Leaving_From_Placeholder"
                                    @air-search-completed="Departurefrom" :leg="0"></flightserch>
                                  <a class="change-destination" v-on:click="swapLocations(1)"></a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <flightserch id="Cityto1" :return-value="returnValue"
                                    :place-holder-text="bookingForm.Going_To_Placeholder"
                                    @air-search-completed="Arrivalfrom" :leg="0">
                                  </flightserch>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <!-- <input type="text" id="deptDate01" :placeholder="bookingForm.Departure_Placeholder"
                                    readonly="readonly" class="calendar">
                                  <a class="change-date"></a> -->
                                  <input type="text" id="search_checkin" :placeholder="bookingForm.Departure_Placeholder"
                                    readonly="readonly" class="calendar">
                                  <a class="change-date"></a> 
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding"
                                  v-show="triptype == 'R'">
                                  <!-- <input type="text" id="retDate" :disabled="triptype == 'O'"
                                    :placeholder="bookingForm.Return_Placeholder" readonly="readonly" class="calendar"> -->
                                    <input type="text" id="search_checkout" :disabled="triptype == 'O'"
                                    :placeholder="bookingForm.Return_Placeholder" readonly="readonly" class="calendar">
                                </div>
                                <div :class="triptype == 'R' ? 'col-lg-2 col-md-2': 'col-lg-3 col-md-3'" class="col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                  <div class="travellersDropdown flt travel-drp">
                             <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                              <input :style="triptype == 'O'?'padding-left: 20px':'padding-left:7px;'" class="form-control" v-model="Totaltravaller" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                             </div>
                             <div class="travelerSelectWindow active" v-show="travellerdisply">
                               <div id="travelRoundtrip">
                                 <div class="travelDropdown">
                                   <div class="section-pass">
                                    <fieldset>
                                      <label>{{bookingForm.Adults_Label}}</label>
                                      <div class="trvFld"><span class="custom-select-v3 sm">
                                        <select class="elmAdult _apxSelection" id="adultdrp"
                                        v-on:change="setCHDINFTravellers" v-model="selected_adults">
                                        <option v-for="adult in adults"
                                        :value="adult.value"
                                        v-cloak>
                                        {{adult.value}}
                                    </option>
                                        </select>
                                        </span></div>
                                      <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                    </fieldset>
                                   </div>
                                   <div class="section-pass">
                                    <fieldset>
                                      <label>{{bookingForm.Children_Label}}</label>
                                      <div class="trvFld"><span class="custom-select-v3 sm">
                                        <select class="elmChild _apxSelection" v-model="selected_children"
                                        id="childdrp" v-on:change="SetInfantTravellers">
                                        <option
                                        v-for="child in children"
                                        :value="child.value"
                                        v-cloak>
                                        {{child.value}}
                                    </option>
                                        </select>
                                        </span></div>
                                      <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                    </fieldset>
                                   </div>
                                   <div class="section-pass">
                                    <fieldset>
                                      <label>{{bookingForm.Infant_Label}}</label>
                                      <div class="trvFld"><span class="custom-select-v3 sm">
                                        <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                        v-on:change="setTravelInfo">
                                        <option
                                        v-for="infant in infants"
                                        :value="infant.value">
                                        {{infant.value}}
                                    </option>
                                        </select>
                                        </span></div>
                                      <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                    </fieldset>
                                   </div>
                                 </div>
                               </div>
                               <div class="classSec">
                                 <label>{{bookingForm.Class_Label}}</label>
                                 <div class="custom-select-v3 lg">
                                  <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo">
                                    <option  value="" disabled>{{bookingForm.Select_Label}}</option>
                                    <option v-for="cabin in bookingForm.Class_Item_List" :value="cabin.Value">{{cabin.Name}}</option>
                                  </select>
                                 </div>
                               </div>
                               <div class="closeDropdown" v-on:click="showhidetraveller"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                             </div>
                           </div>
                          </div>
                            <div :class="triptype == 'R' ? 'col-lg-2 col-md-2': 'col-lg-3 col-md-3'" class="col-sm-6 col-xs-12 search-col-padding brdr-rdus2">
                              <button type="submit" class="search-button "
                                v-on:click="SearchFlight">{{bookingForm.Button_Label}}</button>
                            </div>
                            <div>
                              <label class="chck">{{bookingForm.Search_Direct_Flight_Label}}
                                <input type="checkbox" v-model="direct_flight">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                         
                        
                          <div class="tab-pane fade" :class="{ 'active in': triptype === 'M' }" >
                            <div class="shadow">
                              <form>
                                <!-- trip 1 -->
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">

                                  <flightserch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1"
                                  :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="1">
                                </flightserch>
                                  <span class="change-destination"></span> </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">

                                  <flightserch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1"
                                  :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder"
                                  @air-search-completed="Arrivalfrom" :leg="1"></flightserch>
                                  
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <input type="text" id="txtLeg1Date" :placeholder="bookingForm.Departure_Placeholder"
                                    readonly="readonly" class="calendar"/>
                                  <span class="change-date"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding custom-traveller brdr-rdus2">
                                  <div class="travellersDropdown flt">
                              <div class="custom-select-v3 lg" v-on:click="showhidetraveller">
                                <input class="form-control" v-model="Totaltravaller" placeholder=" 1 Travellers, Economy" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                              </div>
                              <div class="travelerSelectWindow active" v-show="travellerdisply">
                                <div id="travelRoundtrip">
                                  <div class="travelDropdown">
                                    <div class="section-pass">
                                      <fieldset>
                                        <label>{{bookingForm.Adults_Label}}</label>
                                        <div class="trvFld"><span class="custom-select-v3 sm">
                                          <select class="elmAdult _apxSelection" id="adultdrp"
                                          v-on:change="setCHDINFTravellers" v-model="selected_adults">
                                          <option v-for="adult in adults"
                                          :value="adult.value"
                                          v-cloak>
                                          {{adult.value}}
                                      </option>
                                          </select>
                                          </span></div>
                                        <span class="ageRange"> {{bookingForm.Adults_Age_Label}}</span>
                                      </fieldset>
                                    </div>
                                    <div class="section-pass">
                                      <fieldset>
                                        <label>{{bookingForm.Children_Label}}</label>
                                        <div class="trvFld"><span class="custom-select-v3 sm">
                                          <select class="elmChild _apxSelection" v-model="selected_children"
                                          id="childdrp" v-on:change="SetInfantTravellers">
                                          <option
                                          v-for="child in children"
                                          :value="child.value"
                                          v-cloak>
                                          {{child.value}}
                                      </option>
                                          </select>
                                          </span></div>
                                        <span class="ageRange"> {{bookingForm.Children_Age_Label}}</span>
                                      </fieldset>
                                    </div>
                                    <div class="section-pass">
                                      <fieldset>
                                        <label>{{bookingForm.Infant_Label}}</label>
                                        <div class="trvFld"><span class="custom-select-v3 sm">
                                          <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                          v-on:change="setTravelInfo">
                                          <option
                                          v-for="infant in infants"
                                          :value="infant.value">
                                          {{infant.value}}
                                      </option>
                                          </select>
                                          </span></div>
                                        <span class="ageRange"> {{bookingForm.Infant_Age_Label}}</span>
                                      </fieldset>
                                    </div>
                                  </div>
                                </div>
                                <div class="classSec">
                                  <label>{{bookingForm.Class_Label}}</label>
                                  <div class="custom-select-v3 lg">
                                    <select id="classType" v-model="selected_cabin" v-on:change="setTravelInfo">
                                      <option  value="" disabled>{{bookingForm.Select_Label}}</option>
                                       <option v-for="cabin in bookingForm.Class_Item_List" :value="cabin.Value" >{{cabin.Name}}</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="closeDropdown" v-on:click="showhidetraveller"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                              </div>
                            </div>
                                </div>
                              </form>
                              <!-- trip 2 -->
                              <form class="mgn-tp">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">

                                  <flightserch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2"
                                  :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder"
                                  @air-search-completed="Departurefrom" :leg="2">
                                </flightserch>
                                 
                                  <span class="change-destination"></span> </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                  <flightserch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="2">
                                  </flightserch>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <input id="txtLeg2Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                                  <span class="change-date"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <div class="close-btn"><a href="#"></a></div>
                                  <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount!=6"><i class="fa fa-plus" aria-hidden="true"></i> {{bookingForm.Add_Label}}</a> </div>
                              </form>
                              <!-- trip 3 -->
                              <form class="mgn-tp" v-if="(legcount>2)">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                                  <flightserch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="3">
                                  </flightserch>
                                  <span class="change-destination"></span> </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                  <flightserch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="3">
                                  </flightserch>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <input id="txtLeg3Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                                  <span class="change-date"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"  style="padding-left: 14px !important;">
                                  <div class="close-btn" v-on:click.prevent="DeleteLeg(3)" v-if="legcount==3"><a href="#" ><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a>  -->
                                </div>
                              </form>
                                 <!-- trip 4 -->
                              <form class="mgn-tp" v-if="(legcount>3)">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                                  <flightserch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="4">
                                  </flightserch>
                                  <span class="change-destination"></span> </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                  <flightserch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="4">
                                  </flightserch>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <input id="txtLeg4Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                                  <span class="change-date"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-left: 14px !important;">
                                  <div class="close-btn" v-on:click.prevent="DeleteLeg(4)" v-if="legcount==4"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a>  -->
                                </div>
                              </form>
                               <!-- trip 5 -->
                              <form class="mgn-tp" v-if="(legcount>4)">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                                  <flightserch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="5">
                                  </flightserch>
                                  <span class="change-destination"></span> </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                  <flightserch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="5">
                                  </flightserch>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <input id="txtLeg5Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                                  <span class="change-date"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-left: 14px !important;">
                                  <div class="close-btn" v-on:click.prevent="DeleteLeg(5)" v-if="legcount==5"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a> -->
                                   </div>
                              </form>
                              <!-- trip 6 -->
                              <form class="mgn-tp" v-if="(legcount>5)">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding brdr-rdus">
                                  <flightserch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6" :return-value="returnValue" :place-holder-text="bookingForm.Leaving_From_Placeholder" @air-search-completed="Departurefrom" :leg="6">
                                  </flightserch>
                                  <span class="change-destination"></span> </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-col-padding">
                                  <flightserch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6" :return-value="returnValue" :place-holder-text="bookingForm.Going_To_Placeholder" @air-search-completed="Arrivalfrom" :leg="6">
                                  </flightserch>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                  <input id="txtLeg6Date" readonly="readonly" class="calendar" type="text" :placeholder="bookingForm.Departure_Placeholder" />
                                  <span class="change-date"></span>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-left: 14px !important;">
                                  <div class="close-btn" v-on:click.prevent="DeleteLeg(6)" v-if="legcount==6"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  <!-- <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City</a> -->
                                 </div>
                              </form>
                                 <!-- <div v-if="legcount!=6">
                                  <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();"><i class="fa fa-plus" aria-hidden="true"></i> Add City {{6-legcount}}</a>
                                </div> -->
                              <form>
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-md-offset-6 search-col-padding brdr-rdus2 m-t-100">
                                    <button type="submit" class="search-button" v-on:click.prevent="MultiSearchFlight">{{bookingForm.Button_Label}} </button>
                                </div>
                              </form>
                              </div>
                            </div>

                        </div>
                      </div>
                    </div>
                    <!-- END: FLIGHT SEARCH -->
                    <!-- BEGIN: HOTEL SEARCH -->
                    <hotels v-else-if="services=='hotels'" :city-list="bookingForm.Hotel_City_List || []" :labels="bookingForm" role="tabpanel" inline-template class="tab-pane fade" id="hotels">
                      <div class="tab-content p-tp">
                        <div class="shadow">
                          <form>
                              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                                <div class="input-group">
                                  <city-search :labels="labels" :city-list="cityList" @city-search-completed="citySearchCompleted"></city-search>
                                  <!-- <input name="destination-city" class="form-control" required placeholder="Destination" type="text"> -->
                                </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                <input id="checkInId" class="calendar" readonly="readonly" :placeholder="labels.Check_In_Placeholder" />
                                <span class="change-date"></span> </div>
                              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                                <input id="CheckOutId" class="calendar" readonly="readonly" :placeholder="labels.Check_Out_Placeholder" />
                              </div>
                              <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding custom-traveller">
                                <div class="travellersDropdown flt">
                                  <div class="custom-select-v3 lg">
                                    <input class="form-control" placeholder=" 1 Room, 1 Guests" readonly autocomplete="off" id="_totStr" value=" 1 Room, 1 Guests" type="button">
                                  </div>
                                  <div class="travelerSelectWindow" style="display: none;">
                                    <div id="travelRoundtrip">
                                      <div class="travelDropdown">
                                        <div class="section-pass">
                                          <fieldset>
                                            <label>Rooms</label>
                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                              <select class="elmAdult _apxSelection">
                                                <option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                              </select>
                                              </span></div>
                                          </fieldset>
                                        </div>
                                        <div class="section-pass">
                                          <fieldset>
                                            <label>Adults</label>
                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                              <select class="elmAdult _apxSelection">
                                                <option value="1" selected="selected">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                              </select>
                                              </span></div>
                                            <span class="ageRange">(12+ yrs)</span>
                                          </fieldset>
                                        </div>
                                        <div class="section-pass">
                                          <fieldset>
                                            <label>Children</label>
                                            <div class="trvFld"><span class="custom-select-v3 sm">
                                              <select class="elmChild _apxSelection">
                                                <option value="0" selected="selected">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                              </select>
                                              </span></div>
                                            <span class="ageRange">(2-12 yrs)</span>
                                          </fieldset>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="closeDropdown"> <span class="closeBtn closeLink">Done</span> </div>
                                  </div>
                                </div>
                              </div> -->
                              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding custom-traveller">
                                <div class="travellersDropdown flt">
                                  <div class="custom-select-v3 lg"  v-on:click="hoteldropdown = !hoteldropdown">
                                    <input class="form-control" readonly autocomplete="off" id="_totStrhtl" v-bind:value="totalcount" type="button">
                                  </div>
                                  <div class="travelerSelectWindow" v-show="hoteldropdown">
                                    <div id="travelRoundtrip">
                                      <div v-for="todo in todos" :key="todo.id">
                                        <todo-item :labels="labels" :id="todo.id" :value="todo.value"></todo-item>
                                    </div>
                                    <a class="add-room" href="#" v-on:click.prevent="addNewTodo"><i class="fa fa-plus" aria-hidden="true"></i> {{' '+labels.Room_Label}}</a> 
                                    <a class="delete-room" href="#" v-show="dspl" v-on:click.prevent="RemoveNewTodo"><i class="fa fa-trash" aria-hidden="true"></i>{{' '+labels.Delete_Label}}</a>
                                    </div>
                                    <div class="closeDropdown" v-on:click="done"> <span class="closeBtn closeLink">{{labels.Done_Label}}</span> </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus2">
                                <button type="submit" class="search-button " v-on:click.prevent="search">{{labels.Button_Label}} </button>
                              </div>
                          </form>
                          </div>
                        </div>
                    </hotels>
                    <!-- END: HOTEL SEARCH -->
                    <!-- BEGIN: Cruise SEARCH -->
                    <div role="tabpanel" class="tab-pane" id="cruise" v-else-if="services=='cruise'">
                      <div class="tab-content p-tp">
                        <div class="shadow">
                          <div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                              <div class="input-group">
                                <span class="clearable">
                                <input name="destination-city" class="form-control" required
                                  :placeholder="bookingForm.Hotel_Destination_Placeholder" type="text"
                                  v-model="destination">
                                  <i class="clearable__clear">&times;</i>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">

                              <input id="deptDate02" class="calendar" type="text"
                                :placeholder="bookingForm.Start_Date_Placeholder" readonly="readonly">
                                <a class="change-date"></a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <input id="deptDate03" class="calendar" type="text"
                                :placeholder="bookingForm.End_Date_Placeholder" readonly="readonly">

                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                              <div class="travellersDropdown flt">
                         <div class="custom-select-v3 lg" v-on:click="cruisedisply = !cruisedisply">
                          <input class="form-control" v-model="Totalpassenger"readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                         </div>
                         <div class="travelerSelectWindow active" v-show="cruisedisply">
                           <div id="travelRoundtrip">
                             <div class="travelDropdown">
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Adults_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmAdult _apxSelection" id="adultdrp"
                                    v-on:change="setCHDINFTravellers" v-model="selected_adults">
                                    <option v-for="adult in adults"
                                    :value="adult.value"
                                    v-cloak>
                                    {{adult.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                </fieldset>
                               </div>
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmChild _apxSelection" v-model="selected_children"
                                    id="childdrp" v-on:change="SetInfantTravellers">
                                    <option
                                    v-for="child in children"
                                    :value="child.value"
                                    v-cloak>
                                    {{child.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                </fieldset>
                               </div>
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Infant_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                    v-on:change="setTravelInfo">
                                    <option
                                    v-for="infant in infants"
                                    :value="infant.value">
                                    {{infant.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                </fieldset>
                               </div>
                             </div>
                           </div>
                           <div class="closeDropdown" v-on:click="cruisedisply = !cruisedisply"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                         </div>
                       </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <div class="input-group">
                                <input name="message" class="form-control" required
                                  :placeholder="bookingForm.Message_Placeholder" type="text" v-model="message">
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus2">
                              <button type="submit" class="search-button "
                                v-on:click="SaveCurise">{{bookingForm.Save_Button}} </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END: Cruise SEARCH -->
                    <!-- BEGIN: Transfer SEARCH -->
                    <div role="tabpanel" class="tab-pane" id="transfer" v-else-if="services=='transfer'">
                      <div class="tab-content p-tp">
                        <div class="shadow">
                          <div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                              <div class="input-group">
                                <span class="clearable">
                                <input name="destination-city" class="form-control" required
                                  :placeholder="bookingForm.Hotel_Destination_Placeholder" type="text"
                                  v-model="destination">
                                  <i class="clearable__clear">&times;</i>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <input id="deptDate04" class="calendar" type="text"
                                :placeholder="bookingForm.Start_Date_Placeholder" readonly="readonly" />
                                <a class="change-date"></a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <input id="deptDate05" class="calendar" type="text"
                                :placeholder="bookingForm.End_Date_Placeholder" readonly="readonly" />

                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                              <div class="travellersDropdown flt">
                         <div class="custom-select-v3 lg" v-on:click="transferdisply = !transferdisply">
                          <input class="form-control" v-model="Totalpassenger" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                         </div>
                         <div class="travelerSelectWindow active" v-show="transferdisply">
                           <div id="travelRoundtrip">
                             <div class="travelDropdown">
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Adults_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmAdult _apxSelection" id="adultdrp"
                                    v-on:change="setCHDINFTravellers" v-model="selected_adults">
                                    <option v-for="adult in adults"
                                    :value="adult.value"
                                    v-cloak>
                                    {{adult.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                </fieldset>
                               </div>
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmChild _apxSelection" v-model="selected_children"
                                    id="childdrp" v-on:change="SetInfantTravellers">
                                    <option
                                    v-for="child in children"
                                    :value="child.value"
                                    v-cloak>
                                    {{child.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                </fieldset>
                               </div>
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Infant_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                    v-on:change="setTravelInfo">
                                    <option
                                    v-for="infant in infants"
                                    :value="infant.value">
                                    {{infant.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                </fieldset>
                               </div>
                             </div>
                           </div>
                           <div class="closeDropdown" v-on:click="transferdisply = !transferdisply"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                         </div>
                       </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <div class="input-group">
                                <input name="message" class="form-control" required
                                  :placeholder="bookingForm.Message_Placeholder" type="text" v-model="message">
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus2">
                              <button type="submit" class="search-button "
                                v-on:click="SaveTransfer">{{bookingForm.Save_Button}} </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END: Transfer SEARCH -->
                    <!-- BEGIN: Activities SEARCH -->
                    <div role="tabpanel" class="tab-pane" id="activities" v-else-if="services=='activities'">
                      <div class="tab-content p-tp">
                        <div class="shadow">
                          <div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                              <div class="input-group">
                                <span class="clearable">
                                <input name="destination-city" class="form-control" required
                                  :placeholder="bookingForm.Hotel_Destination_Placeholder" type="text"
                                  v-model="destination">
                                  <i class="clearable__clear">&times;</i>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <input id="deptDate06" class="calendar" type="text"
                                :placeholder="bookingForm.Start_Date_Placeholder" readonly="readonly" />
                                <a class="change-date"></a>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <input id="deptDate07" class="calendar" type="text"
                                :placeholder="bookingForm.End_Date_Placeholder" readonly="readonly" />

                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                              <div class="travellersDropdown flt">
                         <div class="custom-select-v3 lg" v-on:click="activitydisply = !activitydisply">
                          <input class="form-control" v-model="Totalpassenger" readonly autocomplete="off" id="_totStr" value=" 1 Travellers, Economy" type="button">
                         </div>
                         <div class="travelerSelectWindow active" v-show="activitydisply">
                           <div id="travelRoundtrip">
                             <div class="travelDropdown">
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Adults_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmAdult _apxSelection" id="adultdrp"
                                    v-on:change="setCHDINFTravellers" v-model="selected_adults">
                                    <option v-for="adult in adults"
                                    :value="adult.value"
                                    v-cloak>
                                    {{adult.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Adults_Age_Label}}</span>
                                </fieldset>
                               </div>
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Children_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmChild _apxSelection" v-model="selected_children"
                                    id="childdrp" v-on:change="SetInfantTravellers">
                                    <option
                                    v-for="child in children"
                                    :value="child.value"
                                    v-cloak>
                                    {{child.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Children_Age_Label}}</span>
                                </fieldset>
                               </div>
                               <div class="section-pass">
                                <fieldset>
                                  <label>{{bookingForm.Infant_Label}}</label>
                                  <div class="trvFld"><span class="custom-select-v3 sm">
                                    <select class="elmInfant _apxSelection" v-model="selected_infant" id="infantdrp"
                                    v-on:change="setTravelInfo">
                                    <option
                                    v-for="infant in infants"
                                    :value="infant.value">
                                    {{infant.value}}
                                </option>
                                    </select>
                                    </span></div>
                                  <span class="ageRange">{{bookingForm.Infant_Age_Label}}</span>
                                </fieldset>
                               </div>
                             </div>
                           </div>
                           <div class="closeDropdown" v-on:click="activitydisply = !activitydisply"> <span class="closeBtn closeLink">{{bookingForm.Done_Label}}</span> </div>
                         </div>
                       </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 search-col-padding">
                              <div class="input-group">
                                <input name="message" class="form-control" required
                                  :placeholder="bookingForm.Message_Placeholder" type="text" v-model="message">
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus2">
                              <button type="submit" class="search-button "
                                v-on:click="SaveActivity">{{bookingForm.Save_Button}} </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- END: Activities SEARCH -->
                    <!-- BEGIN: Visa SEARCH -->
                    <div role="tabpanel" class="tab-pane" id="visa" v-else-if="services=='visa'">
                      <div class="tab-content p-tp">
                        <div class="shadow">
                          <div>
                            <div class="col-lg-5 col-md-3 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                              <div class="input-group">
                                <span class="clearable">
                                <input name="full-name" class="form-control" required
                                  :placeholder="bookingForm.Full_Name_Placeholder" type="text"
                                  v-model="visa.fullName">
                                  <i class="clearable__clear">&times;</i>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding">
                              <div class="input-group country-drp">
                                <div class="custom-select-v3 sm" :class="visa.nationality ==''  ?'':'close-icon-n'">
                                  <select id="classType" v-model="visa.nationality">
                                  <option value="" disabled="disabled">{{bookingForm.Nationality_Placeholder}}</option> 
                                  <option v-for="country in countryLists"
                                  :value="country.name">{{country.name}}</option>
                                </select>
                               </div>
                              </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 search-col-padding">
                              <div class="input-group country-drp">
                                <div class="custom-select-v3 sm" :class="visa.country ==''  ?'':'close-icon-c'">
                                  <select id="classType" v-model="visa.country">
                                  <option value="" disabled="disabled">{{bookingForm.Country_of_Visit_Placeholder}}</option> 
                                  <option v-for="country in countryLists"
                                  :value="country.name">{{country.name}}</option>
                                </select>
                               </div>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 search-col-padding">
                              <div class="input-group">
                                <input name="full-name" class="form-control" required
                                :placeholder="bookingForm.Phone_Number_Placeholder" type="text"
                                  v-model="visa.phoneNumber">
                              </div>
                            </div>
                            
                          </div>
                        </div>
                        <div class="shadow">
                          <div>
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 search-col-padding brdr-rdus">
                              <div class="input-group">

                                <input name="full-name" class="form-control" required
                                  :placeholder="bookingForm.Email_Placeholder" type="text"
                                  v-model="visa.email">
                              </div>
                            </div>
                            <!-- <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 search-col-padding brdr-rdus2">
                              <div class="input-group">
                                <input name="where-did-you-hear" class="form-control" required
                                :placeholder="bookingForm.Hear_About_Us_Placeholder" type="text" v-model="visa.whereDidYouHear">
                              </div>
                            </div> -->
                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 search-col-padding brdr-rdus2">
                              <button type="submit" class="search-button" v-on:click="saveVisa">{{bookingForm.Save_Button}} </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <!-- END: Visa SEARCH -->
                  </div>
                </div>
                <!-- END: TAB PANE -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="deals_section">
      <div class="container">
        <div class="row title">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2>{{dealsSection.Hot_Deals_Label}}</h2>
          </div>
        </div>
        <div class="row">
          <div id="owl-demo-2" class="owl-carousel owl-theme m-t-20">
            <div class="item" v-for="item in deals">
              <div class="deals"><a href="#" class="deals_image"> <img :src="item.Image_360_x_187px" alt="image"> </a>
                <i :class="'fa ' +item.Icon" aria-hidden="true"></i>
                <div class="deals_detail"> <a href="#">
                    <h4>{{item.Title}}</h4>
                  </a>
                  <p v-html="item.Description"></p>
                  <div class="text">
                    <div class="date">{{dealsSection.Valid_Till_Label}} {{dateConvert(item.Valid_Date)}}</div>
                    <!-- <a href="#">{{dealsSection.View_More_Label}}</a> -->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section id="pckg_section" class="p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p_0">
            <div class="left title text-center">
              <h2>{{packageSection.Title}}</h2>
              <p v-html="packageSection.Description"></p>
               <div class="design_your_trip"><h3>{{packageSection.Design_Trip_Title}}</h3> 
                <div class="custom-select-v3 lg">
                  <select id="classType" v-model="selectedcountry">
                  <option value="" disabled="disabled">{{packageSection.Select_Country_Placeholder}}</option> 
                  <option v-for="country in countryList"
                  :value="country">{{country.Country_Name}}</option>
                </select>
               </div> <a v-on:click="searchPackage(selectedcountry.Country_Name,selectedcountry.Country_Code)" class="btn1">{{packageSection.Design_Trip_Button_Label}}</a>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 p_0">
            <div class="right">
              <div id="owl-demo-1" class="owl-carousel owl-theme">
                <div class="item" v-for="pack in packages">
                  <div class="hldy">
                    <div class="hldy_image">
                      <a href="#" v-on:click="getmoreinfo(pack.More_details_page_link)"> <img :src="pack.Image" alt="image"></a>
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa  fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="hldy_detail"> <a href="#">
                        <h3 :title="pack.Name">{{pack.Name}}</h3>
                      </a>
                      <div class="text"><i class="fa fa-sun-o" aria-hidden="true"></i> {{pack.Days}}
                        {{packageSection.Days_Label}} | <i class="fa fa-moon-o" aria-hidden="true"></i>
                        {{pack.Nights}} {{packageSection.Nights_Label}}</div>
                      <!-- <div class="price"><span>{{selectedCurrency}}</span> {{pack.Price}}</div> -->
                      <div class="price">
                        <span>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</span> </div>
                      <a href="#" class="btn1"  v-on:click="getMoreDetails(pack.More_details_page_link)">{{packageSection.Package_Button_Label}}</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="partner_area">
      <div class="container">
          <h4>{{partnersSection.Our_Partners_Title}}</h4>
          <div class="customNavigation1 slider_icon1">
              <a class="btn prev pull-left"><img src="images/back.png" alt=""></a>
              <a class="btn next"><img src="images/next.png" alt=""></a>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 sp_partner">
              <div id="owl-demo" class="owl-carousel">
                  <div class="item" v-for="(item, index) in partnersSection.Partners" :key="index">
                    <img :src="item.Image" alt="partners">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="downloadApp container">
    <div class="dapCont"  v-bind:style="{ 'background-image': 'url(' + appSection.Main_Image_536_x_240px + ')' }" style="background-repeat: no-repeat !important;">
      <div class="alighn">
          <h3>{{appSection.Title_1}}</h3>
          <h6>{{appSection.Title_2}} </h6>
       <div class="appBtns_container">
          <div class="appBtns">
              <a :href="appSection.Apple_Store_Link" target="_blank"><img :src="appSection.Apple_Store_Image"></a>
              <a :href="appSection.Google_Store_Link" target="_blank"><img :src="appSection.Google_Play_Image"></a>
          </div>
          <img :src="appSection.Qr_Code_Image">
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <footeritem></footeritem>
  </footer>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=202008130000"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="master/js/hotel-search.js?v=202108280000"></script>
  <script src="/Flights/assets/js/Countries.js"></script>
  <script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
  <script src="js/fotorama.js"></script>

  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
  <script src="master/js/index.js?v=20211122000"></script>
</body>

</html>