<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly Key</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
        <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/common-style.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
        <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
       
    <link rel='stylesheet' href='/assets/css/flag.css'>
    <link rel='stylesheet' href='css/jquery.fancybox.min.css'>
   
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>


    <div id="Packageinfo" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
          </div>
        <div class="common_header" v-show="getpagecontent" :style="{ background: 'url(' + Backgroundimage+ ')'}"></div>
        <div class="breadcrums_sec">
            <div class="container">
                <div class="breadcrumsArea">
                    <div class="breadcrumsArea1">
                        <h1 v-cloak>{{Title}}</h1>
                        <h6 v-cloak><a href="/index.html">{{Home_breadcrumb}}</a> <i class="	fa fa-angle-double-right"></i> {{Title}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmn_area ar_direction">
            <div class="container">
                <div class="row flx_sec">
                    <div class="col-lg-12">
                        <div class="row flx_sec">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <div class="packageviewSec">
                                    <h4 v-cloak>{{packagename}}</h4>
                                    <h5 v-cloak>{{Package.Applicable }} : <span v-cloak>{{$n((Package.Price/CurrencyMultiplier), 'currency', selectedCurrency)}} </span></h5>
                                    <div class="daysSec">
                                        <div class="firstSec_days">
                                            <p v-cloak><i class="fa fa-sun-o"></i> {{Package.Days }}  {{Day}}</p>
                                            <p v-cloak><i class="fa fa-moon-o"></i> {{ Package.Nights}}  {{Night}}</p>
                                        </div>
                                        <div class="media_package addthis_inline_share_toolbox_g4u5">
                                            <!-- <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-linkedin"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a> -->
                                        </div>
                                    </div>
                                    <div class="packageviewImg">
                                        <img :src="Package.Image" :alt="Package.Title">
                                        <div class="specialOffers" v-show="Package.Offer_Packages" v-cloak>{{SpecialOffer}}</div>
                                    </div>



                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <div class="Booking_form">
                                    <h6 v-cloak v-cloak>{{Booktabletitle}}</h6>
                                    <!-- <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="text" v-model="userfname" class="booktxt" :placeholder="FirstName">
                                        </div>

                                    </div>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="text" v-model="userlname" class="booktxt" :placeholder="LastName">
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="email" v-model="Emailid" class="booktxt" :placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="sp_bk_color">
                                            <input type="text" v-model="contactno" class="booktxt" :placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <input type="text" id="traveldate" readonly="readonly" class="booktxt" :placeholder="Bookdate">
                                            </div>
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <select class="booktxt" v-model="adtcount">
                                                            <option value="1" v-cloak>{{Adult}}</option>
                                                            <option value="1">01</option>
                                                            <option value="2">02</option>
                                                            <option value="3">03</option>
                                                            <option value="4">04</option>
                                                            <option value="5">05</option>
                                                            <option value="6">06</option>
                                                            <option value="7">07</option>
                                                            <option value="8">08</option>
                                                            <option value="9">09</option>
                                                            
                                                        </select>
                                            </div>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="form-txt">
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <select class="booktxt" v-model="chdcount">
                                                        <option value="0" v-cloak>{{Child}}</option>
                                                        <option value="1">01</option>
                                                        <option value="2">02</option>
                                                        <option value="3">03</option>
                                                        <option value="4">04</option>
                                                        <option value="5">05</option>
                                                        <option value="6">06</option>
                                                        <option value="7">07</option>
                                                        <option value="8">08</option>
                                                    </select>
                                            </div>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <div class="twise_sec">
                                            <div class="sp_bk_color">
                                                <select class="booktxt" v-model="infcount">
                                                <option  value="0" v-cloak>{{Infant}}</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                            </select>
                                            </div>
                                            <i class="fa fa-angle-down"></i>
                                        </div>

                                    </div>
                                    <div class="form-txt">
                                        <textarea class="booktxtArea" v-model="message" :placeholder="Messagelabel"></textarea>
                                    </div> -->
                                    <div class="form-txt">
                                        <button v-cloak v-on:click="customizePackage(packageUrl)">{{customizeLabel}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row flx_sec">
                            <div class="col-lg-12">
                                <div class="detailspage_tab">
                                    <ul class="nav nav-tabs">
                                        <li :class="{ 'active': index === 0 }" v-for="(item, index) in packagetabs"><a :href="'#tab_' + index" data-toggle="tab">{{item.Tab_name}}</a></li>

                                        <li v-show="getmapurl"><a data-toggle="tab" href="#location">{{locationTabName}}</a></li>
                                        <li><a data-toggle="tab" href="#gallery">{{galleryTabName}}</a></li>
                                        <li><a data-toggle="tab" href="#reviews">{{reviewTabName}}</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div v-for="(item, index) in packagetabs" :id="'tab_' + index" :class="{ 'active': index === 0 }" class="tab-pane fade in ">
                                            <h3 v-cloak>{{item.Tab_name}}</h3>
                                            <div v-html="item.Description"></div>
                                        </div>

                                        <div id="location" class="tab-pane fade" v-show="getmapurl">
                                            <h3>{{locationTabName}}</h3>
                                            <div class="packageMap">
                                                <iframe :src="Package.mapurl" height="400" frameborder="0" style="border:0;width: 100%;" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <div id="gallery" class="tab-pane fade">
                                            <div class="packageGallery">
                                                <div class="row flx_sec">
                                                    <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 padding5" v-for="(item, index) in gallery">
                                                        <div class="pakGalleryList">
                                                            <a :href="item.Image" data-fancybox="images" data-caption="gallery">
                                                                <img :src="item.Image" :alt="item.Title">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="reviews" class="tab-pane fade">
                                            <div class="review">
                                                <!-- <div class="row">
                                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <h3 v-if="reviewAvailable">{{avgrating}} {{reviewSection.Based_On_Label}} {{ratingcount}} {{reviewSection.Review_Label}}</h3>
                                                    <h4 v-else>{{reviewSection.No_Review_Label}}</h4>
                                                    <div class="comment-div" v-for="review in allReview">
                                                      <div class="user"><img src="images/user.png" alt=""></div>
                                                      <div class="comment-block"> <span class="heading">{{review.Name}} – <span>{{review.Date}}</span></span>
                                                        <ul class="rating">
                                                          <li v-for="rowindex in 5"
                                                            :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                                                            <i class="fa fa-star"
                                                              :style="review.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                                                          </li>
                                                        </ul>
                                                        <p>{{review.comment}}</p>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div> -->
                                                <div class="review-form">
                                                  <h4>{{reviewFormLabels.Add_A_Review_Label}}</h4>
                                                  <!-- <p>{{reviewSection.Description}}</p> -->
                                                  <div class="add-rws"> <span>{{reviewFormLabels.Your_Rating_Label}}</span>
                                                    <ul class="rating" id="ratingID">
                                                        <star-rating v-bind:star-size="20" v-bind:show-rating="false" v-model="review.rating">
                                                        </star-rating>
                                                  </div>
                                                  <div id="fields">
                                                    <form>
                                                      <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 padding">
                                                          <div class="input-group">
                                                            <input name="name" class="form-control" :placeholder="reviewFormLabels.Name_Placeholder" type="text" v-model="review.Name">
                                                          </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding">
                                                          <div class="input-group">
                                                            <input name="email" class="form-control" :placeholder="reviewFormLabels.Email_Placeholder" type="text" v-model="review.Email">
                                                          </div>
                                                        </div>
                                                          <div class="clearfix"></div>
                                                          <div class="col-md-12 col-sm-12 col-xs-12 padding">
                                                            <div class="input-group">
                                                              <textarea class="form-control" id="exampleTextarea" rows="5" :placeholder="reviewFormLabels.Review_Placeholder" v-model="review.Review"></textarea>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-12 col-sm-12 col-xs-12 padding text-center">
                                                            <button class="submit-button" v-on:click.prevent="addReviews">{{reviewFormLabels.Button_Label}}</button>
                                                          </div>
                                                      </div>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!--footer-->
    <footer>
        <footeritem></footeritem>
    </footer>
    <!--footer close-->
    <!-- Main JQUERY -->

    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201905150000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/assets/js/star-rating.min.js"></script>
    <script src="servicejs/packageDetails.js?v=202007100000"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d466f9535360596"></script>
    <script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
        $('[data-fancybox]').fancybox({
            protect: true,
            buttons: [
                'zoom',
                'thumbs',
                'close'
            ]
        });


        $('[data-fancybox="watermark"]').fancybox({
            protect: true,
            slideClass: 'watermark',
            toolbar: false,
            smallBtn: true
        });

        // Preload watermark image
        // Please, use your own image
        (new Image()).src = "http://fancyapps.com/GJbkSPU.png";
    </script>
</body>

</html>