<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fly Key</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
        <link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/common-style.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
        <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
        <link rel='stylesheet' href='/assets/css/flag.css'>
        <link rel='stylesheet' href='css/common-style.css'>
        <style>
          [v-cloak] {
              display: none !important;
          }
        </style>
</head>

<body>
   
    <header>
        <headeritem></headeritem>
    </header>

    <div id="packagepage" v-cloak>
        <div class="vld-parent">
            <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
          </div>
    <section id="pckg_sections" class="p-0" v-if="countryBanner">
        <div :style="{ background: 'url(' + countryBanner+ ')'}">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p_0">
                    <div class="left title text-center">
                        <div class="design_your_trip">
                            <h3>{{countryName}} {{tourLabel}}</h3>
                            <h3>{{tripTitle}}</h3> 
                   <a v-on:click="getMoreDetails(countryName,countryCode)" class="btn1">{{tripButtonLabel}}</a>
                </div>
              </div>
            </div>
        </div>
        </div>
    </section>
        <div class="common_header" v-else :style="{ background: 'url(' + pkgPgBnr+ ')'}"></div>
        <div class="breadcrums_sec">
            <div class="container">
                <div class="breadcrumsArea">
                    <div class="breadcrumsArea1">
                        <h1 v-cloak>{{spTitle}}</h1>
                        <h6 v-cloak> <a href="/index.html">{{homebreadcrumb}}</a> <i class="	fa fa-angle-double-right"></i>{{spTitle}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmn_area ar_direction">
            <div class="container">
                <div class="row flx_sec">
                    <div v-if="filteredList.length">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 packageHover" v-for="package in filteredList">
                        <div class="packageSection">
                            <div class="packageImgArea">
                                <a href="#" v-on:click="getmoreinfo(package.More_details_page_link)"> <img :src="package.Image" alt="image"></a>
                                <!-- <img :src="package.Image" :alt="package.Name"> -->
                                <div class="specialOffers" v-show="package.Offer_Package" v-cloak>{{offertag}}</div>
                            </div>
                            <div class="packageContent">
                                <h3 v-cloak>{{package.Name}}</h3>
                                <h5 v-cloak><span v-cloak>{{package.Applicable_Title}}</span><br>{{$n((package.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</h5>
                            </div>
                        </div>
                        <div class="viewoffers">
                            <a v-on:click="customizePackage(package.More_details_page_link)" v-cloak>{{customizeLabel}}</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!--footer-->
    <footer>
        <footeritem></footeritem>
    </footer>
    <!--footer close-->
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/assets/js/bootstrap.min.js?v=201905150000"></script>
     
    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
    <script src="/assets/js/detect.js?v=20200910000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="servicejs/package.js"></script>
    <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
    <script src="/assets/js/select2.min.js?v=201905150000"></script> 


</body>

</html>