@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@font-face {
    font-family: 'dearjoe_5_dearjoe5casualtrial';
    src: url('dj5ctrial-webfont.woff2') format('woff2'), url('dj5ctrial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*Master css*/

/*=====  Header CSS BOF  ======*/
header {
	/* background: #000 !important; */
	/* z-index: 1000; */
	position: relative;
    background: #fff;
    background-image: url(https://wts-assets.imgix.net/images/apex_grey_light.png?w=1000);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: calc(50% + 400px) -50px;
    padding: 10px 0 0;
    margin-bottom: 20px;
}
/*=====  Top CSS BOF  ======*/
.top {
	width: 100%;
	height: 48px;
    position: relative;
    overflow: hidden;
}
.top::before {
	content: "";
	background: #2250e4;
    width: 72%;
    height: 50px;
    position: absolute;
    left: 43%;
	display: inline-block;
	-moz-clip-path: polygon(2% 0%, 100% 1%, 100% 100%, 0% 100%);
	-webkit-clip-path: polygon(2% 0%, 100% 1%, 100% 100%, 0% 100%);
	-o-clip-path: polygon(2% 0%, 100% 1%, 100% 100%, 0% 100%);
	clip-path: polygon(2% 0%, 100% 1%, 100% 100%, 0% 100%);
}
.contact-info {
	float: right;
	padding: 14px 0 10px;
}
.contact-info div {
	margin-left: 28px;
	float: left;
}
.contact-info div i {
	color: #fff;
	font-size: 20px;
	margin: 2px 8px 0 0;
	float: left;
}
.contact-info div a {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}
.contact-info div a:hover {
	color: #ffa0ab;
	text-decoration: none;
}
/*=====  Navbar CSS BOF  ======*/
.navbar-default {
	background: transparent;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	border: 0px;
	z-index: 2;
}
.navbar {
	margin-bottom: 0;
	z-index: 999;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.navbar-nav {
	margin: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	padding: 0;
}
.nav > li {
	position: relative;
	display: block;
    padding: 0;
    margin: 30px 0px 26px 0px;
}
.call-to-action {
    width: 20%;
    float: right;
    padding: 34px 0 0 0;
    margin: 0px;
}
.nav > li > a {
	display: block;
	margin: 0;
	padding: 8px 10px;
	position: relative;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	height: auto;
	z-index: 1000;
}
.affix .navbar-brand{margin: 0;}
.top-nav-collapse {
	padding: 0;
	top: 0;
}
.white, .white:hover, .white:focus {
	color: #fff;
	width: 100% !important;
}
.block {
	display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #2a0ec5;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #2250e3;
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	display: inline-block;
}
.right_area li:nth-child(2) a{
    background: #2250e4;
    color: #2250e3;
    padding: 8px 13px;
    border-radius: 27px;
    font-weight: 400;
}
.right_area li:nth-child(2) a:hover{
    background-color: #3e3e3e !important;
    color: #FFF !important;
}
.navbar-brand{
    padding: 10px 0px !important;
    text-align: left;
    position: inherit !important;
    margin-top: 0px !important;
}
.customer-profile{
    margin-top: 30px !important;
    padding: 0px 0px 30px 0px !important;
}
.navbar-brand img {
    width: unset;
    height: 80px;
    margin: 5px;
    display: inline-block;
    /* border-radius: 110px; */
}
.hdr-logo2 {
    margin-left:40px;
}
.hdr-logo3{
    width: 153px !important;
    height: auto !important;
}
@media (max-width: 540px) {
    .hdr-logo3 {
        width: 90px !important;
        height: auto !important;
    }
}
/* .navbar-brand img:hover {
  background-color:#d12030;
} */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #52ADF5;
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	color: #52ADF5 !important;
	background: transparent;
}
.dropdown-menu {
    font-size: 18px;
	border: none;
	box-shadow: none;
}.dropdown-menu > li > a i {font-size:10px; font-weight:normal; padding-right: 5px;}
.dropdown-menu > li > a {
    font-weight: 700;
    color: #67727b;
    text-transform: uppercase;
    padding: 5px 15px;
    font-size: 16px;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #2250e4;
    text-decoration: none;
    background-color:transparent !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #2250e4;
    background-color: transparent !important;
}
.caret {
    border-top: 6px dashed;
    border-top: 6px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
.affix {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9998;
	animation: smoothScroll 1s forwards;
	background: #fff;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
	-o-box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}
 @keyframes smoothScroll {
 0% {
 transform: translateY(-40px);
}
 100% {
 transform: translateY(0px);
}
}
.affix .navbar-brand {
	top: 0;
}
.affix .navbar-brand, .affix .navbar-brand:hover, .affix .navbar-brand:focus {
	top: 42px;
	z-index: 9999;
}
.affix .navbar-brand img {
	width: 70%;
}
.cd-main-header {
    position: relative;
    z-index: 1;
    height: 50px;
    background: #343642;
}

.cd-main-header::after {
    content: '';
    display: table;
    clear: both;
}
/*=====  Footer CSS BOF  ======*/
footer {
    /* background-image:url(../../images/footerbg.png); */
    background-size: cover;
    background-position: center;
    background-color: #281e32 ;
	display: block;
    padding: 15px 0;
    float: left;
    width: 100%;
}
footer .copyright {
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 0;
}
footer .copyright a {
	color: #2250e4;
	text-decoration: none;
}
footer .copyright a:hover {
	color: #2250e4;
	text-decoration: none;
}
footer .powered-by {
	color: #FFF;
	font-size: 14px;
    font-weight: normal;
    text-align: right;
}
.main_copyright{
    border-top: 1px solid #4c4c4c;
    padding-top: 14px;
}
.contact-footer{
    display: flex;
}
.contact-footer i{
    font-size: 28px;
    color: #FFF;
    width: 52px;
    float: left;
    text-align: center;
}
.contact-footer h5{
    color: #FFF;
    font-size: 11px !important;
    font-weight: 400;
    text-transform: none;
}
.contact-footer h5{
    color: #FFF;
    font-size: 13px !important;
    font-weight: 400;
    text-transform: none;
}
.contact-footer p{
    color: #FFF !important;
    font-size: 13px !important;
    font-weight: 400;
    text-transform: none;
    padding-left: 52px;
    padding-right: 20px;
}
.contact-footer p a{
    color: #FFF !important;
}
.contact-footer p a:hover{
    color: #2250e4 !important;
}
.red-brdr{
    border-right: 2px solid #2250e4;
}
.logo{
    text-align: center;
}
.logo img{
    width: 65%;
}
.logo p{
    text-align: center;
    color: #FFF !important;
    font-size: 13px;
}
.sec_footer{
    padding-top: 30px;
    padding-bottom: 15px;
}
/* .sec_footer .logo img{
    border-radius: 110px;
}
.sec_footer .logo img:hover{
  background-color:#d12030;
} */
.footer_link h6{
    font-weight: 400;
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer_link h6 span{
    border-bottom: 2px solid #2250e4;
}
.footer_link ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer_link ul li{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.footer_link ul li a{
    color: #FFF;
}
.newsletter h6{
    font-weight: 600;
    font-size: 17px;
    color: #FFF;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.newsletter_form{
    width: 100%;
    float: left;
    display: flex;
}
.newsletter_form2 input{
    width: 46%;
    height: 48px;
    float: left;
    padding: 10px;
    background: #FFF;
    border:none;
    margin-right: 3px;
}
.newsletter_form2 button{
    height: 48px;
    float: left;
    padding: 10px;
    background: #2250e4;
    border: none;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
}
.f_logo{
    width: 100%;
    float: left;
    padding-top: 30px;
}
.first-logo img{
    width: 25%;
}
.sec-logo img{
    width: 100%;
}

@media only screen and (min-width:768px) {
    .cd-main-header {
        height: 80px;
    }
    .cd-main-header__logo {
        margin: 20px 0 0 5%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.cd-main-nav {
    float: right;
    width: auto;
    height: auto;
    cursor: pointer;
}

.cd-main-nav__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cd-main-nav__list.cd-main-nav__list--is-visible {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}

.cd-main-nav__item {
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    color: #FFF;
    padding: 0px 5px;
    text-transform: uppercase;
    background: none !important;
    margin: 0;
}


@media only screen and (min-width:768px) {
    .cd-main-nav {
        width: auto;
        height: auto;
        background: none;
        cursor: auto;
    }
    .cd-main-nav__list {
        position: static;
        width: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        line-height: normal;
        padding: 0;
        margin: 0;
    }
    .cd-main-nav__list.cd-main-nav__list--is-visible {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .cd-main-nav__list li {
        display: inline-block;
        margin-left: 0;
    }
    .cd-main-nav__list li:nth-last-child(2) {
        margin-left: 2em;
    }
    .cd-main-nav__item {
        display: inline-block;
        height: auto;
        line-height: normal;
        background: transparent;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        font-family: 'Open Sans', sans-serif;;
        font-size: 14px;
        color: #FFF;
        line-height: 20px;
        margin: 0;
        background: none;
        text-transform: uppercase;
        cursor: pointer;
        padding: 0px;
    }
    .cd-main-nav__item.cd-main-nav__item--signin {
        border: none;
        background: none !important;
    }
}

.cd-signin-modal {
    position: fixed;
    padding-top: 68px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-signin-modal.cd-signin-modal--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-signin-modal__container {
    position: relative;
    width: 90%;
    max-width: 375px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 6px;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.cd-signin-modal--is-visible .cd-signin-modal__container {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.cd-signin-modal__container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}

.cd-signin-modal__switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-signin-modal__switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-signin-modal__switcher li:first-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher li:last-child a {
    border-radius: 0;
}

.cd-signin-modal__switcher a {
    display: block;
    width: 100%;
    line-height: 50px;
    background: #eaeaea;
    color: #1b1b1b;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;;
    height: 57px !important;
    line-height: 55px !important;
    text-transform: uppercase;
}

.cd-signin-modal__switcher a.cd-selected {
    background: #2250e4;
    color: #FFF !important;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__container {
        margin: 4em auto;
    }
    .cd-signin-modal__switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.cd-signin-modal__form {
    padding: 1.5em !important;
}

.cd-signin-modal__form .connect {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.cd-signin-modal__form .connect img {
    width: auto;
    margin-bottom: 10px;
}

.cd-signin-modal__fieldset {
    position: relative;
    margin: 0px 0px 19px 0px !important;
    padding: 0;
}

.cd-signin-modal__fieldset label {
    display: inline;
}

.cd-signin-modal__fieldset:first-child {
    margin-top: 0;
}

.cd-signin-modal__fieldset:last-child {
    margin-bottom: 0;
}

.cd-signin-modal__label {
    font-size: 1.4rem;
}

.cd-signin-modal__label.cd-signin-modal__label--image-replace {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-signin-modal__label.cd-signin-modal__label--username {
    background-image: url(/ICA/images/cd-icon-username.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--email {
    background-image: url(/ICA/images/cd-icon-email.svg);
}

.cd-signin-modal__label.cd-signin-modal__label--password {
    background-image: url(/ICA/images/cd-icon-password.svg);
}

.cd-signin-modal__input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-signin-modal__input.cd-signin-modal__input--full-width {
    width: 100%;
}

.cd-signin-modal__input.cd-signin-modal__input--has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-border:focus {
    border-color: #00a8e1;
    -webkit-box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.cd-signin-modal__input.cd-signin-modal__input--has-error {
    border: 1px solid #d76666;
}

.cd-signin-modal__input[type=submit] {
    padding: 11px 0 !important;
    cursor: pointer;
    background: #2250e4 !important;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
}

.cd-signin-modal__input[type=submit]:hover,
.cd-signin-modal__input[type=submit]:focus {
    background: #2250e4;
    outline: none;
}

.cd-signin-modal__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: #343642;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;;
}

.cd-signin-modal__error {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 0.25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-signin-modal__error::after {
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.cd-signin-modal__error.cd-signin-modal__error--is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
}

@media only screen and (min-width:600px) {
    .cd-signin-modal__form {
        padding: 1.5em;
        font-family: 'Open Sans', sans-serif;;
    }
    .cd-signin-modal__fieldset {
        margin: 2em 0;
    }
    .cd-signin-modal__fieldset:first-child {
        margin-top: 0;
    }
    .cd-signin-modal__fieldset:last-child {
        margin-bottom: 0;
    }
    .cd-signin-modal__input.cd-signin-modal__input--has-padding {
        padding: 10px 20px 10px 50px;
        font-family: 'Open Sans', sans-serif;;
    }
    .cd-signin-modal__input[type=submit] {
        padding: 16px 0;
    }
}

.cd-signin-modal__message {
    padding: 1.4em 1.4em 0;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
    color: #000;
}


@media only screen and (min-width:600px) {
    .cd-signin-modal__message {
        padding: 2em 2em 0;
    }
}

.cd-signin-modal__bottom-message {
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    padding: 0 0 20px;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
}

.cd-signin-modal__bottom-message a {
    color: #424242;
    text-decoration: underline;
}


.cd-signin-modal__close {
    display: block;
    position: absolute;
    width: 25px;
    height: 24px;
    right: -28px;
    top: -3px;
    color: transparent;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.cd-signin-modal__block {
    display: none;
}

.cd-signin-modal__block.cd-signin-modal__block--is-selected {
    display: block;
    font-family: 'Open Sans', sans-serif;;
}

.lang .dropdown-menu a,
.currency .dropdown-menu a {
    border-left: 1px solid #dadada !important;
    border-top: 1px solid #dadada !important;
    border-right: 1px solid #dadada !important;
    border-bottom: 1px solid #dadada !important;
}

.lang .dropdown-menu a:hover,
.currency .dropdown-menu a:hover {
    border: 1px solid #cccbcb !important;
    background: #e0e0e0 !important;
}


.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #fff;
}


/*gallery css*/




.profile-dropdown {
    width: auto;
    display: block;
    position: relative;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 1px 0 0 0px;
    background: none;
    padding: 6px 5px 2px 5px;
    cursor: pointer;
    color: #FFF;
    border: 1px solid #9a9999;
}

.profile-dropdown * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile-dropdown input[type="checkbox"] {
    display: none;
}

.profile-dropdown input[type="checkbox"]:checked~ul {
    display: block;
    animation: pulse 0.5s;
}

.profile-dropdown input[type="checkbox"]:checked~img {
    background: #f25a6c;
}

.profile-dropdown input[type="checkbox"]:checked~label i {
    color: #fad41a;
}

.profile-dropdown img {
    display: inline-block;
    background: #fff;
    height: 25px;
    vertical-align: middle;
    border-radius: 50%;
    float: left;
    position: relative;
    margin-top: -2px;
}

.profile-dropdown span {
    display: inline-block;
    vertical-align: sub;
    width: auto;
    margin: 0 10px 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    width: 90px;
}

.profile-dropdown ul {
    display: none;
    list-style: none;
    padding: 5px 0 0;
    margin: 0;
    background: #2250e4;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-radius: 0;
    z-index: 1;
    min-width: 150px;
}
.profile-dropdown ul li{
    width: 100%;
    margin-left: 0;
    padding: 0 !important;
    border-right: 1px solid #e05767;
    border-bottom: 1px solid #e04052;
}
.profile-dropdown ul li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #444;
    font-size: 14px !important;
    text-transform: capitalize !important;
}

.profile-dropdown ul li a i {
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0 .75rem 0 -.25rem;
}

.ar_direction1 .profile-dropdown ul li a i{
    margin: 0 -.25rem 0 .75rem;

}

.profile-dropdown ul li a:hover {
    background: #e05767;
    color: #000;
}

.profile-dropdown>label {
    position: relative;
    height: 25px;
    text-decoration: none;
    background: transparent;
    color: #292929;
    padding: 0 5px 0 0;
    float: right;
    border-radius: 0;
    margin: 0;
    line-height: 24px;
    display: inline-block;
}
.profile-dropdown li a{
    color: #FFF !important;
    padding: 5px 10px !important;
    
}
.profile-dropdown li:nth-child(2) a{
    border-radius: 0px;
}
.profile-dropdown li:nth-child(2) a:hover {
    background-color: #e05767 !important;
    color: #FFF !important;
    border-radius: 0px;
}

.profile-dropdown>label i {
    color: #b2b2b2;
    font-size: 1.75rem;
    position: inherit;
    right: inherit;
    top: inherit;
}

.profile-dropdown:after {
    content: '';
    display: table;
    clear: both;
}

.modal-smsp .modal-header {
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #2250e4;
    color: #FFF;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.modal-smsp .close {
    width: 17px;
    height: 25px;
    right: 0;
    top: 4px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 29px;
    color: #FFF;
    opacity: 0.8;
}

.modal-smsp .close:hover {
    width: 17px;
    height: 25px;
    right: 0;
    top: 4px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
    font-size: 29px;
    color: #FFF;
}


.modal-smsp .modal-title {
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    line-height: 30px;
}

.user_login label {
    display: block;
    margin-bottom: 5px;
    padding-left: 0;
    font-size: 14px;
    text-transform: none;
    color: #000;
    font-family: 'Open Sans', sans-serif;;
}

.validation_sec {
    position: relative;
    margin-bottom: 12px;
}

.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    color: #555;
    border: 1px solid #dddd;
}

.user_login small {
    padding: 12px 0;
    font-size: 11px;
    color: #FFF;
    display: block;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;;
}

#retrieve-booking {
    padding: 11px 0 !important;
    cursor: pointer;
    background: #2250e4 !important;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
    width: 100%;
}


.radio_view {
    display: block;
    position: relative;
    padding-left: 27px !important;
    margin-bottom: 12px !important;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    padding-right: 10px;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 700;
}

.radio_view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.radio_view:hover input~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.radio_view input:checked~.checkmark {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio_view input:checked~.checkmark:after {
    display: block;
}

.radio_view .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #ed1c24;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.viewradio_sec {
    padding: 10px 0px;
    display: flex;
}

.modal {
    z-index: 9999;
}


/* Top section */

.md-search {
    margin: 0px 0 -68px !important;
}
.flight-step-review{
    margin-top: 0px;
}
.navbar{
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.navbar-default .navbar-nav>li>a::after{
    display: none;
}
.navbar-default .navbar-nav > li > a{
    border: none;
}
.alertify .ajs-header {
    background-color: #2250e4 !important;
}
.ajs-ok{
    background: #2250e4 !important;
}
@media (min-width: 768px){
#myModal .modal-dialog {
    width: 354px;
    margin: 30px auto;
}
.navbar-header {
    float: left;
    width: 65%;
}
}

@media (max-width: 768px) {
    .navbar-header {
        float: left;
        width: 100%;
    }
    .call-to-action {
        width: inherit;
        padding: 5px 0 20px 0;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .navbar-toggle{
        margin: 24px 0 26px;
    }
    .nav > li.active{
        background: #202020;        
    }
    .nav > li.active a{
        color: #FFF !important; 
    }
    .nav .dropdown-content {
        width: 100%;
    }
    .nav > li.active .dropdown-content a {
        color: #000 !important;
    }
    .right_area {
        position: relative;
        top: inherit;
        right: 0;
    }
    .nav > li {
        padding: 0px;
        border-bottom: 1px solid #d86d79;
    }
    .navbar-default .navbar-nav > li > a{
        font-size: 16px !important;
    }
    .right_area li{
        border-left:none;
        margin-left: 0px;
        padding-left: 0px !important;
    }
    .navbar-default .navbar-nav > li > a{
        color: #FFF;
       display: block;
    }
    .right_area li a{
        color: #FFF !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    }
    .right_area li i {
        color: #FFF !important;
        font-size: 17px !important;
        margin: 10px 9px 0 10px !important;
        float: left !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        right: 0 !important;
        width: 100% !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background: #2250e4 !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #e7e7e7;
    }
    .nav > li > a:focus, .nav > li > a:hover {
        color: #ffffff !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        font-size: 15px;
    }
    .visarequest_form {
        width: 100%;
        margin-bottom: 11px;
    }
    .search-button {
        width: 100%;
    }
    .tourpackageimg img{height: auto;}
     /*=====  Navbar CSS BOF  ======*/
.navbar-toggle {
	background: #000;
	border: none;
	-webkit-border-radius:8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 0;
    margin: 15px 0 15px;
    padding: 9px 10px;
}
.navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
    background: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 26px;
    height: 4px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	margin-top: 0;
	position: absolute;
	right: 13px;
	width: 92%;
	z-index: 999;
	padding: 0;
	background: #f1f1f1;
}
.navbar-nav {
	margin: 0;
}
.nav > li {
	padding: 0;
	text-align: left;
	width: 100%;
    border-bottom: 1px solid #dfdfdf;
    margin: 0px;
}
.navbar-default .navbar-nav > li > a{
	padding: 10px;
	margin: 0;
	font-size: 18px;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    margin: -30px 0 0;
}
.navbar-brand>img {
    width: 30%;
    height: auto;
}
.hdr-logo2 {
    margin: 0 !important;
    height: auto;
}
.navbar-brand {
    width: 100% !important;
    margin: 0px 0 0 !important;
}
.navbar-default .navbar-nav > .active > a::after {
	height: 2px;
}
.navbar-default .navbar-nav > li > a:focus::after, .navbar-default .navbar-nav > li > a:hover::after {
	height: 2px;
}
.navbar-default .navbar-nav > li > a::before {
	border: none;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #2250e4;
}
.affix .navbar-brand, .affix .navbar-brand:hover, .affix .navbar-brand:focus {
    top: 0 !important;
}

.affix .navbar-brand img {
	width: 18% !important;
}
.affix  .navbar-brand {
    width: 160px !important;
}
/*=====  Footer CSS BOF  ======*/
footer .copyright, footer .powered-by {
    text-align: center;
}
.contact-footer{
    display: block;
    text-align: center;
}
/* .contact-footer i{
    float: none;
} */
.contact-footer p{
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
.red-brdr{
    border-right: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #2250e4;
    padding-bottom: 12px;
}
.footer_link{
    text-align: center;
    padding-top: 25px;
}
.newsletter{
    text-align: center;
    padding-top: 30px;
}
.newsletter_form2{
    width: 100%;
    float: left;
}
.newsletter_form2 input{
    width: 100%;
    margin-bottom: 5px;
}
.newsletter_form2 button{
    width: 100%;
}
.f_logo{
    padding-bottom: 5px;
}
.first-logo img {
    width: 80px;
}
/* .sec-logo img {
    width: 111px;
} */
}
.ar_direction1 .navbar-default .navbar-collapse{
    display: flex;
}

.ar_direction1 .navbar-nav {
    display: flex;
}

@media only screen and (min-width: 991px) and (max-width: 1020px) {
    .navbar-brand img {
        width: 100%;
        display: inline-block;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 700;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2250e4;color:#fff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.lang {
	float: right;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 0 5px !important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#471f58;
}

.flxBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.lang .dropdown-menu a:hover {
	color: #2250e4;
}
.lang .caret {
	width: 0;
	height: 0;
	margin-left: 0;
	vertical-align: middle;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 17px;
	margin-top: -24px;
	display: inline-block;
}
.lang .dropdown-menu {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	left: 0px;
    top: 48px;
	padding: 0;
	background: #2250e4;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	border:1px solid #ddd;
}
.lang .dropdown-menu li {
	display: block;
	border:0;
	color: #fff;
	border-bottom: 1px solid #fff;
}
.lang .dropdown-menu li:last-child {
	border-bottom: none;
}
.lang .dropdown-menu li a {
	padding: 5px 0;
	color: #fff;
	font-size: 12px;
	border:none;
	text-align: center;
	text-transform: none;
}
.lang .dropdown-menu li a:focus, .lang .dropdown-menu li a:hover {
	color: #2250e4;
	text-decoration: none;
	background-color: #fff;
}
.lang .dropdown a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding: 5px;
	font-weight: 700;
	border-bottom: 1px solid #fff !important;
    background-color: #000 !important;
}
.lang .dropdown-menu a {
    background-color: #2250e4 !important;
    margin-bottom: 0px;
}
.dropdown a {
    border: 1px solid #000;

}


.lang .open > .dropdown-menu {
    display: grid !important;
}

.lang .dropdown {
    float: right;
    list-style: none;
}

@media (max-width: 768px) {
    .navbar-header {
        float: none;
        display: flex;
    }
    .navbar-toggle {
        display: block;
    }
    /* .navbar-collapse.collapse {
        display: none!important;
    } */
    .navbar-nav, .navbar-nav > li {
        float: none !important;
        padding: 0 !important;
        text-align: left;
    }
}


/* rtl */

.ar_direction1 .lang {
	float: left;
	padding: 0 0;
	z-index: 5;
	font-weight: 400;
	margin: 28px 25px 0 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	color:#471f58;
}

.ar_direction1 .navbar-brand{
    padding: 10px 0px !important;
    text-align: right;
    margin-top: 0px !important;
    float: right;
}

footer .ar_direction1 .powered-by {
	color: #FFF;
	font-size: 14px;
    font-weight: normal;
    text-align: left;
}
.ar_direction1 .contact-footer i{
    font-size: 28px;
    color: #FFF;
    width: 52px;
    float: right;
    text-align: center;
    transform: rotateY(180deg);
}
.ar_direction1 .contact-footer p {
    color: #FFF !important;
    font-size: 13px !important;
    font-weight: 400;
    text-transform: none;
    padding-right: 52px;
    padding-left: 20px;
    text-align: right;
}

.ar_direction1 .red-brdr{
    border-left: 2px solid #2250e4;
}

.ar_direction1 .cd-signin-modal__switcher li {
    width: 50%;
    float: right;
    text-align: center;
}
.ar_direction1 .cd-signin-modal__label.cd-signin-modal__label--image-replace {
    right: unset;
    left: 15px;
   
}
.ar_direction1 .cd-signin-modal__hide-password {
    left: 0;
    border-right: 1px solid #d2d8d8;
}

.ar_direction1 .user_login label {
    text-align: right;
}

.ar_direction1 .radio_view {
    padding-right: 27px !important;
    padding-left: 10px;
}
.ar_direction1 .checkmark {
    right: 0;
}

header .ar_direction1 .navbar-header {
    float: right;
}
footer .ar_direction1 .col-lg-1, footer .ar_direction1 .col-lg-10, footer .ar_direction1 .col-lg-11, footer .ar_direction1 .col-lg-12, footer .ar_direction1 .col-lg-2, footer .ar_direction1 .col-lg-3, footer .ar_direction1 .col-lg-4, footer .ar_direction1 .col-lg-5, footer .ar_direction1 .col-lg-6, footer .ar_direction1 .col-lg-7, footer .ar_direction1 .col-lg-8, footer .ar_direction1 .col-lg-9 {
    float: right;
}
/* footer .ar_direction1 .newsletter{
    float: right;
} */

@media screen and (max-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.in {
        display: block !important;
    }
    .navbar-right {
        margin: 0;
    }
    .navbar-header .lang {
        float: right;
    }
    #navbar-main > div > div > div > div.lang.lag {
        margin: -52px 0px 0 0;
    }

    .navbar-brand img {
        float:none;
    } 

    header .ar_direction1 .navbar-header {
        float: none;
    }

    .multi-level a {
        float: none;
        border: none;
        width: 100%;
        background: #202020;
    }
    .ar_direction1 .navbar-nav {
        display: unset;
    }
    .ar_direction1 .dropdown-menu.multi-level>li{
        text-align: right;
    }
    .ar_direction1 .navbar-nav, .ar_direction1 .navbar-nav > li {
        text-align: right;
    }
}
.hdr-logo:hover{
    /* background-color: #d12030;
    border-radius: 110px; */
}

.flight-listing-text.ar_direction1 .f-sec-details .flx_package {
    display: flex ;
}

.sub-menu-camping > li > a {
    white-space: unset;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    width: 100%;
  }
  
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  
  .dropdown-submenu.pull-left {
    float: none;
  }
  
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }