<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World Sailing – Abu Dhabi</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=2021006010000">
    <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/css/vue-loading.css" rel="stylesheet">

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header v-cloak>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="Hotels" v-cloak>
        <div class="service_banner">
            <div class="container">
                <h2>{{bannerSection.Title}}</h2>
            </div>
        </div>
        <section class="mainCont_area">
            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="search_card">
                                <div class="card_head">{{labelsSection.Modify_Search_Label}}</div>
                                <div class="cmn_area_modify">
                                    <!-- <div class="cmn_modify">
                                        <div class="weather">
                                            <h5 class="title">{{'Abu Dhabi, United Arab Emirates'}}</h5>
                                            <div class="bwc2 bwc-130x90">
                                                <div class="bwc-data">
                                                    <div class="bwc-130x90-left">
                                                        <div class="bwc-130x90-l-degree">
                                                            <span class="plus"></span>{{'50.34'}}°
                                                            <div class="bwc-data-degree">
                                                                C
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bwc-130x90-right">
                                                        <img src="https://openweathermap.org/img/w/01n.png" alt
                                                            :title="'weatherData.data.weather[0].description'">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div> -->
                                    <div class="cmn_modify">
                                        <h6>{{labels.City_Label}}</h6>
                                        <!-- <select class="myselect" id="city" disabled v-model="cityName">
                                            <option value="" selected disabled hidden>City</option>
                                            <option v-for="locationHotel in locationHotels" :value="locationHotel">
                                                {{locationHotel}}
                                            </option>
                                        </select> -->
                                        <input type="text" :placeholder="language == 'ar' ? HotelNameAr : HotelName" disabled autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Check_In_Label}} </h6>
                                        <input type="text" :placeholder="labelsSection.Check_In_Placeholder" id="from1" autocomplete="off"
                                            v-on:focus="dateChecker">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Checkout_Label}} </h6>
                                        <input type="text":placeholder="labelsSection.Checkout_Placeholder" id="from2" autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Number_Of_Nights_Label}}</h6>
                                        <input type="text" :placeholder="noOfnights" disabled autocomplete="off">
                                    </div>
                                    <div class="cmn_modify">
                                        <h6>{{labels.Occupancy_Label}}</h6>
                                        <!-- <select class="myselect" id="occupancy" v-model="occupancyId">
                                            <option v-for="OccupancyHotel in OccupancyHotels"
                                                :value="OccupancyHotel.Occupancy_ID">
                                                {{OccupancyHotel.Occupancy}}
                                            </option>
                                        </select> -->
                                        <input style="margin-bottom: 0" :placeholder="roomCount>0?roomCount==1? roomCount+' ' +  labels.Room_Label + ', ' + occupancySummary:roomCount +' ' +labels.Rooms_Label + ', ' + occupancySummary:'Occupancy'" class="form-control textbox wtad-occupancy" type="text" readonly autocomplete="off" @click="showOccupancy = !showOccupancy" />
                                        <div class="travellersDropdown flt">
                                            <div class="travelerSelectWindow travelerSelectWindow-wtad active" v-show="showOccupancy" style="left:0">
                                                <div id="travelRoundtrip" v-if="OccupancyHotels">
                                                    <div id="div_Room_1" v-for="(room,index) in roomCount" :key="index">
                                                        <div class="travelDropdown">
                                                            <div class="section-pass">
                                                                <div class="room-title">{{labelsSection.Rooms_Label + ' ' +(index+1)}}</div>
                                                                <fieldset><label>{{labels.Guests_Label}}</label>
                                                                    <div class="trvFld"><span class="custom-select-v3 wtad-select sm">
                                                                            <select :id="'adult_'+index" class="elmAdult" v-model="rooms[index]">
                                                                                <option v-for="(OccupancyHotel,ind) in OccupancyHotels" :selected="OccupancyHotel.Occupancy_ID==0?'true':'false'" :value="Number(OccupancyHotel.Occupancy_ID)">
                                                                                    {{OccupancyHotel.Occupancy}}
                                                                                </option>
                                                                            </select>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wtad-margin">
                                                        <div href="#" v-on:click="addRoom" v-show="roomCount<5" class="add-room"><i aria-hidden="true" class="fa fa-plus"></i>{{labels.Add_Room_Label_}}</div>
                                                        <div href="#" v-on:click="removeRoom" v-show="roomCount>1" class="remove-room"><i aria-hidden="true" class="fa fa-trash"></i>{{labels.Delete_Label}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="closeDropdown" @click="showOccupancy = !showOccupancy"><span class="closeBtn closeLink">{{labels.Done_Label}}</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="modify_srch_btn" v-on:click="modifySearch">{{labelsSection.Modify_Search_Label}}</button>
                            </div>

                            <!-- <div class="search_card">
                                <div class="card_head">Sort by</div>
                                <div class="cmn_area_modify">
                                    <div class="cmn_modify">
                                        <h6>Price</h6>
                                        <select class="myselect" id="sortprice">
                                            <option value="1">Low to High </option>
                                            <option value="2">High to Low </option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="vld-parent">
                                        <loading :active.sync="pageLoad" :can-cancel="false" :is-full-page="true">
                                        </loading>
                                    </div>
                                    <!-- Room area -->
                                    <div v-if="Hotels.length && !pageLoad">
                                        <div class="hotelsec hotels_view_area" v-for="(package, hIndex) in Hotels" :key="hIndex">
                                            <div>
                                                <div class="hotelImg">
                                                    <img :src="package.Hotel_Image" alt="">
                                                </div>
                                                <div class="hoteldetails">
                                                    <h3>{{package.Hotel_Name}}</h3>
                                                    <!-- <h4 v-if="package.Including_Park_Access">{{'Including Park Access'}} -->
                                                    </h4>
                                                    <!-- <h4>{{package.Occupancy}}</h4> -->

                                                    <div class="staring">
                                                        <i v-for="rowindex in 5"
                                                            :style="package.Hotel_Rating>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                                                            <i class="fa fa-star"
                                                                :style="package.Hotel_Rating>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                                                        </i>
                                                    </div>
                                                    <div class="sml_description">
                                                        {{package.Hotel_Description}}
                                                    </div>
                                                    <div class="selectSec">
                                                        <button v-on:click="getmoreinfo(package, package.Room_Details[0].Price != 0)">{{package.Room_Details.length > 1 != 0 ? labelsSection.Select_Room_Label : labelsSection.Book_Now_Label}}</button>
                                                        <div class="price_area">
                                                            <span>{{labelsSection.Price_Label}} :</span>
                                                            {{$n(((package.price*nightsCache)/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                                            <!-- <p>Price per night</p> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <transition name="fade">
                                                <div class="hotel_view_area" v-if="package.showRoomSelection">
                                                    <ul class="main_room_content is-collapsed">
                                                        <li class="padding5" v-for="(room, rIndex) in package.Room_Details" :key="rIndex">
                                                            <div class="hotel_room_details">
                                                                <div class="col-lg-4 col-md-4 col-sm-4 hotel_bg_color01 padding8">{{labelsSection.Option_Label}} {{rIndex + 1}}</div>
                                                                <div class="col-lg-2 col-md-2 col-sm-2 hotel_bg_color01">{{labelsSection.Status_Label}}</div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 hotel_bg_color01" style="padding-left: 20px;">{{labelsSection.Cost_Label}}</div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 hotel_bg_color01 padding8">&nbsp;</div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="hotel_room_details01 hotel_sm_margin">
                                                                <div class="row vcenter hotel_room_details02 hotel_sm_margin">
                                                                    <div class="col-lg-4 col-md-4 col-sm-4 hotel_sm_padding room_type">
                                                                        <ul>
                                                                            <li>{{room.Room_Type}} - {{room.Occupancy}}</li>
                                                                            <!-- <li v-if="room.Bed_and_Breakfast">Bed and Breakfast</li>
                                                                            <li v-else-if="room.Half_Board">Half Board</li>
                                                                            <li v-else="room.Full_Board">Full Board</li> -->
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-lg-8 col-md-8 col-sm-8 hotel_sm_padding">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 hotel_sm_padding">
                                                                            <div class="col-lg-7 col-md-7 col-sm-7 hotel_sm_padding">
                                                                                <div class="col-lg-6 col-md-6 col-sm-6 hotel_sm_padding status_area padding-15"><i aria-hidden="true" class="fa fa-check-circle htl_sp"></i><span>{{labelsSection.Available_Label}}</span></div>
                                                                                <div class="col-lg-6 col-md-6 col-sm-6 hotel_sm_padding cost_area padding-15"><span>{{$n(((room.Price*nightsCache)/CurrencyMultiplier), 'currency', selectedCurrency)}}</span>
                                                                                     <!-- <a style="cursor: pointer;"><i title="show cancellation policy" aria-hidden="true" class="fa fa-plus-circle"></i></a> -->
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-5 col-md-5 col-sm-5 hotel_sm_padding padding-15">
                                                                                <div class="htlsend chksend" v-on:click="getmoreinfo(package, false, rIndex)">
                                                                                    {{labelsSection.Book_Now_Label}}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div id="cmod_0" role="dialog" class="modal fade" style="background: rgba(0, 0, 0, 0.57);">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header"><button type="button" data-dismiss="modal" class="close">×</button>
                                                                                    <h4 class="modal-title"><i aria-hidden="true" class="fa fa-bed hotel_icon5"></i>ADMIRAL PLAZA</h4>
                                                                                </div>
                                                                                <div class="modal-body sp_bg_hotel cancpolicydiv">
                                                                                    <h3 xlcharge="true">CANCELLATION POLICY</h3>
                                                                                    <div>
                                                                                        <h5>Standard Room Room Only Room Only (Room only)</h5>
                                                                                    </div>
                                                                                    <div>
                                                                                        <h5>Standard Room Room Only Room Only (Room only)</h5>
                                                                                    </div>
                                                                                    <div style="padding: 0px 0px 10px 10px; font-size: 12px; font-style: italic;">*Cancellation policies are based on date and time of destination.</div>
                                                                                </div>
                                                                                <div class="modal-body hotel_type">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="hotel_type_area">
                                                                                                <div class="col-lg-4 col-md-4 col-xs-12">16 Aug 2021 to 18 Aug 2021</div>
                                                                                                <div class="col-xs-3">@AED&nbsp;154.27</div>
                                                                                                <div class="col-xs-1">X</div>
                                                                                                <div class="col-xs-2">2 Nights</div>
                                                                                                <div class="col-xs-2">AED&nbsp;308.54</div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <div class="col-md-12"><span>Total Cost: AED&nbsp;308.54</span></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </transition>
                                        </div>

                                    </div>
                                    <div class="no-result" v-if="Hotels.length == 0 && !pageLoad">
                                        <img src="images/search.jpg" alt="">
                                        <h2>{{labelsSection.No_Result_Title}}</h2>
                                        <p>{{labelsSection.No_Result_Description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <footer :key="key" v-cloak>
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=202008130000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

    <script src="/assets/js/vue-loading-overlay@3.min.js"></script>
    <script>
        Vue.use(VueLoading);
        Vue.component('loading', VueLoading)
    </script>


    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/js/lodash.min.js?v=202105240000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <!-- <script src="/assets/js/underscore-min.js?v=201904100000"></script> -->
    <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script src="/Flights/assets/js/Airlines.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="/World-Sailing/ServiceJs/hotel-results.js?v=202204010000"></script>
</body>

</html>