<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Telecommunications and Digital Government Regulatory Authority</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href="css/media.css" rel="stylesheet" type="text/css"> -->
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="tours" v-cloak>
    <div class="hm_main">
      <div class="bannersec" :style="{ 'background-image': 'url(' + Banner.Banner_Image+ ')'}">
        <div class="container">
          <div class="search-section">
            <div role="tabpanel">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tour">
                  <div class="row sp_padding">
                    <div class="col-md-4 col-sm-4 search-col-padding">
                      <label>{{mainSection.City_Label}}</label>
                      <div class="input-group">
                        <select class="myselect" id="city" v-model="cityName">
                          <option value="" selected disabled hidden>{{mainSection.City_Label}}</option>
                          <option v-for="LocationList in LocationList" :value="LocationList">{{LocationList}}</option>
                        </select>
                        <!-- <input name="city" class="form-control" required placeholder="City" type="text">
                        <span class="location-icon"><i class="fa fa-map-marker"></i></span> -->
                      </div>
                    </div>
  
                    <div class="col-md-4 col-sm-4 search-col-padding">
                      <label>{{mainSection.Tour_Date_Label}}</label>
                      <div class="input-group">
                        <input id="to2" :placeholder="mainSection.Date_Placeholder" class="calendar form-control textbox" type="text" />
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 search-col-padding">
                      <label>{{mainSection.Adults_Label}}</label>
                      <select class="myselect" id="adult" v-model="Adults">
                        <option value="" selected disabled hidden> {{mainSection.Adults_Label}}</option>
                        <option v-for="Adult in 5" :value="Adult">{{Adult}}</option>
                      </select>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="row sp_padding">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <button type="submit" class="search-button" v-on:click="SearchPackage">{{mainSection.Button_Label}}&nbsp;&nbsp;<i
                          class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container-fluid">
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" v-for="(banners,indx) in bannerImages"
              :class="{ 'active': parseInt(indx) == 0 }" :data-slide-to="indx"></li>

          </ol>
          <div class="carousel-inner">
            <div class="item" v-for="(banner,indx) in bannerImages" :class="{ 'active': parseInt(indx) == 0 }">
              <img :src="banner.Image" alt="banner image">
              <div class="banner-info">
                <div class="container">
                  <div class="row">
                    <div class="banner-text" v-if="banner.Name">
                      <h1>{{banner.Name}}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i
              class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs"
            href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      
    </div> -->

  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>

  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
  <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/Flights/assets/js/Airlines.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/TDRA/ServiceJs/tour.js"></script>
</body>

</html>