<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Telecommunications and Digital Government Regulatory Authority</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
    <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
    <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
    <link href="css/select2.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="css/media.css" rel="stylesheet" type="text/css"> -->
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
    <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
    <link href="/assets/css/nouislider.min.css?v=201906200000" rel="stylesheet" type="text/css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <header>
        <headeritem></headeritem>
    </header>

    <section class="p-0 relative" id="Packages" v-cloak>
        <div class="service_banner" style="background-image: url(images/innerbanner.png);">
            <div class="container">
                <h2>{{Title.Title}}</h2>
            </div>
        </div>
        <div class="mainCont_area">
            <section class="container">
                <div class="tours_sec">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="search_card">
                                <div class="card_head">{{Main.Search_By_Tour_Name_Label}}</div>
                                <div class="card_content">
                                    <input type="text" class="card_txt" :placeholder="Main.Search_Placeholder_"
                                        v-model="search">
                                    <a v-on:click="clear">{{Main.All_Recommendations_Label}}</a>
                                </div>
                            </div>
                            <div class="search_card">
                                <div class="card_head">{{Main.Search_By_Category_Label}}</div>
                                <div class="card_content">
                                    <select class="myselect" id="city" v-model="Locationsearch">
                                        <option value="" selected>{{Main.All_Label}}</option>
                                        <option v-for="Locations in uniqueLocation" :value="Locations">
                                            {{Locations}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="search_card">
                                <div class="card_head">{{Main.Search_By_Price_Label}}</div>
                                <div class="card_content">
                                    <div class="card_price">
                                            <div id="slider-range" style="margin-top: 20px;"></div>
                                        <span><span id="minPricevalue"
                                                style="float:left;padding-top:10px">{{lowest}}</span></span>
                                        <span><span id="MaxPricevalue"
                                                style="float:right;padding-top:10px">{{highest}}</span></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12  col-xs-12">
                            <div class="row" v-if="pageLoad">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" v-for="Package in filteredList">
                                    <div class="maintour_sec">
                                        <img :src="Package.Package_Image" alt="Tours">
                                        <div class="tour_overlay">
                                            <div class="tour_price">
                                                {{$n((Package.Price_Of_Adult/CurrencyMultiplier), 'currency', selectedCurrency)}}
                                            </div>
                                            <div class="tour_duration">
                                                <div class="duration_sec"> {{Package.Hours}} {{Main.Hours_Label_}}</div>
                                                <div class="duration_sec">{{Package.Minutes}} {{Main.Minutes_Label}}</div>
                                            </div>
                                            <div class="details_tour"><a href="#"
                                                    @click="getmoreinfo(Package.More_details_page_link)">{{Main.More_Details_Label}}
                                                   </a>
                                            </div>
                                            <div class="tourName">{{Package.Package_Title}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="no-result" v-if="!pageLoad">
                                <img src="images/search.jpg" alt="">
                                <h2>{{Main.No_Result_Title}}</h2>
                                <p>{{Main.No_Result_Description}}</p>
                            </div>
                        </div>
                    </div>




                </div>
            </section>
        </div>
    </section>

    <footer :key="key">
        <footeritem :key="key"></footeritem>
    </footer>

    <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
    <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
    <script src="/assets/js/axios.min.js?v=201906280000"></script>
    <script src="/assets/js/jquery.min.js?v=201905150000"></script>
    <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
    <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
    <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
    <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
    <script src="/assets/js/underscore-min.js?v=201904100000"></script>
    <script src="/assets/js/common.js?v=202008200000"></script>
    <script src="js/select2.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js?v=201905150000"></script>
    <script src="/assets/js/nouislider.min.js?v=201905150000"></script>
    <script src="ServiceJs/tour-results.js"></script>
    <!-- <script type='text/javascript'>//<![CDATA[
        $(document).ready(function () {



            $(function () {
                var minVal = 0;
                var maxVal = 2000;
                var options = {
                    range: true,
                    min: minVal,
                    max: maxVal,
                    values: [minVal, maxVal],
                    slide: function (event, ui) {
                        var min = ui.values[0],
                            max = ui.values[1];
                        $("#amount").val("AED " + min + " -AED " + max);

                    }
                }, min, max;
                $("#slider-range").slider(options);
                min = $("#slider-range").slider("values", 0);
                max = $("#slider-range").slider("values", 1);
                $("#amount").val("AED " + min + " - AED " + max);



            });

        });//]]> 

    </script> -->
</body>

</html>