<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Telecommunications and Digital Government Regulatory Authority</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.rtl.min.css" id="bootstrapid"> -->
  <link rel="stylesheet" type="text/css" href="css/style-ltr.css" id="styleid">
  <link rel="stylesheet" type="text/css" href="css/media-ltr.css" id="mediaid">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css?v=202102170000"> -->
  <!-- <link href="css/media.css?v=202102170000" rel="stylesheet" type="text/css"> -->
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css?v=202008140000" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/select2.min.css">
  <style>
    [v-cloak] {
      display: none;
    }
  </style>
</head>

<body>
  <div class="page_loader" id="pageLoader">
    <div class="img1">
      <img src="images/page-loading.gif">
    </div>
  </div>
  <header>
    <headeritem></headeritem>
  </header>

  <section class="p-0 relative" id="visapage" v-cloak>
    <div>
      <div class="service_banner" style="background-image: url(images/innerbanner.png);">
        <div class="container">
          <h2>{{visaSection.Banner_Title}}</h2>
        </div>
      </div>
      <div class="mainCont_area" id="bkng">
        <div class="container">
          <div class="search-sections">
            <form>
              <div class="row">
                <div class="col-md-6 col-sm-6 search-col-padding">
                  <label>{{LabelSection.Visa_Type_Label}} <small>*</small></label>
                  <select class="myselect" id="Visaselect" v-model="visaType">
                    <option value="" selected disabled hidden>Choose here</option>
                    <option :value="item.Type" v-for="item in visaSection.Visa_Types">{{item.Type}}</option>
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 search-col-padding">
                  <label>{{LabelSection.Name_Label}} <small>*</small></label>
                  <div class="input-group">
                    <input name="first-name" class="form-control" :placeholder="LabelSection.Name_Placeholder"
                      type="text" v-model="name">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-6 search-col-padding">
                  <label>{{LabelSection.Email_Label}} <small>*</small></label>
                  <div class="input-group">
                    <input name="email" class="form-control" :placeholder="LabelSection.Email_Placeholder" type="text"
                      v-model="mail">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 search-col-padding">
                  <label>{{LabelSection.Contact_No_Label}} <small>*</small></label>
                  <div class="input-group">
                    <input name="phone" class="form-control" :placeholder="LabelSection.Contact_No_Placeholder"
                      type="text" v-model="phone">
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 search-col-padding">
                  <div class="bkng-div brdr-nn p-0 m-t-0">
                    <h6>{{LabelSection.Upload_Attachment_Title}}</h6>
                    <p>{{LabelSection.Attachment_Condition}}</p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-6 search-col-padding uae-visa">
                  <label>{{LabelSection.Passport_Copy_Label}} <small>*</small></label>
                  <input type="file" class="custom-file-input2" id="passport" ref="file2" name="mypassport"
                    v-on:change="handleFilePassport" accept="application/pdf,application/msword,
                 application/vnd.openxmlformats-officedocument.wordprocessingml.document/image/jpeg , image/png">

                </div>
                <div class="col-md-6 col-sm-6 search-col-padding uae-visa">
                  <label>{{LabelSection.Photo_Label}} <small>*</small></label>
                  <input type="file" class="custom-file-input" id="photo" name="myphoto" ref="file"
                    v-on:change="handleFilePhoto" accept="image/jpeg , image/png">
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-6 search-col-padding uae-visa">
                  <label>{{LabelSection.National_ID_Card_Label}} <small>*</small></label>
                  <input id="national-id" type="file" ref="file3" name="nationalid" class="form-control"
                    placeholder="National ID Card*" v-on:change="handleFileId()" accept="application/pdf,application/msword,
                 application/vnd.openxmlformats-officedocument.wordprocessingml.document/image/jpeg , image/png">
                  <!-- <button class="fileupload" @click.prevent="submitIdcard()" >Upload_Button_Label</button> -->
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12">
                  <div class="tbl  table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <td colspan="3" class="text-center p-0">
                            <div class="heads">{{LabelSection.Visa_Cost_Title}}</div>
                          </td>
                        </tr>
                        <tr class="grey">
                          <td width="59%"><strong>{{LabelSection.Visa_Type_Label}}</strong></td>
                          <td width="31%"><strong>{{LabelSection.Amount_Title}}</strong></td>
                        </tr>
                        <tr class="grey" v-for="cost in visaSection.Visa_Cost">
                          <td width="59%">{{cost.Visa_Type}}</td>
                          <td width="31%">{{cost.Amount}}</td>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12">
                  <div class="tbl  table-responsive">
                    <h3>{{LabelSection.Other_Charge_Title}}</h3>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th width="25%" scope="col">{{LabelSection.Description_Title}}</th>
                          <th width="37%" scope="col">{{LabelSection.Procedures_Title}}</th>
                          <th width="38%" scope="col">{{LabelSection.Cancellation_Title}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="grey" v-for="charge in visaSection.Other_Charges">
                          <td>{{charge.Description}}</td>
                          <td>{{charge.Procedures}}</td>
                          <td>{{charge.Amount}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12">
                  <div class="tbl table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th width="62%" scope="col">{{LabelSection.Visa_Type_Label}}</th>
                          <th width="38%" scope="col">{{LabelSection.Cancellation_Title}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="cancel in visaSection.Visa_Cancellation">
                          <td>{{cancel.Visa_Type}}</td>
                          <td>{{cancel.Cancellation}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12">
                  <div class="terms-condition">
                    <h5>{{LabelSection.Terms_and_Conditions_Title}}</h5>
                    <ul>
                      <li v-for="Term in visaSection.Terms_and_Conditions"><i class="fa fa-circle"
                          aria-hidden="true"></i>{{Term.Terms_and_Conditions}}</li>
                    </ul>
                    <p>{{LabelSection.Email_Description}} <a href="mailto:Email">{{visaSection.Email}}</a></p>
                    <div>
                      <input type="checkbox" name="Checkbox" class="form-control" id="check_2" v-model="terms">
                      <label for="check_2">{{LabelSection.Agree_Line_1}}</label>
                    </div>
                    <p>{{LabelSection.Agree_Line_2}}</p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 search-col-padding text-center">
                  <button class="btn-green3" v-on:click.prevent="sendvisa" :disabled="isBooking">
                    <div v-if="isBooking">
                      Processing<span class="loader__dot">.</span><span class="loader__dot">.</span><span
                        class="loader__dot">.</span>
                    </div>
                    <div v-else>{{LabelSection.Button_Label}}</div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer :key="key">
    <footeritem :key="key"></footeritem>
  </footer>

  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery.min.js?v=201905150000"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="/assets/js/jquery.leanModal.min.js?v=201905150000"></script>

  <script src="js/bootstrap.min.js?v=202102170000"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/bootstrap-fileselect.js?v=202102170000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/underscore-min.js?v=201904100000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="js/custom.js?v=202102170000"></script>
  <script src="ServiceJs/visa.js?v=20210054000"></script>
  <script>
    // Add the following code if you want the name of the file appear on select

    // $(".custom-file-input").on("change", function () {
    //   var fileName = $(this).val().split("\\").pop();
    //   $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    // });
    // $(".custom-file-input2").on("change", function () {
    //   var fileName = $(this).val().split("\\").pop();
    //   $(this).siblings(".custom-file-label2").addClass("selected").html(fileName);
    // });


    // $('#customFile').fileselect();
    // $('#customFile2').fileselect();
    $('#photo').fileselect();
  </script>
  <script>
    $('#passport').fileselect();
  </script>
  <script>
    $('#national-id').fileselect();
  </script>
  </script>
</body>

</html>