﻿@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@font-face {
    font-family: 'selimaregular';
    src: url('selima_-webfont.eot');
    src: url('selima_-webfont.eot?#iefix') format('embedded-opentype'), url('selima_-webfont.woff2') format('woff2'), url('selima_-webfont.woff') format('woff'), url('selima_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

img,
object,
embed,
video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    outline: none !important;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #FFF;
}

::selection {
    background-color: #dfdae6;
    color: #FFF;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
}


/*Banner css*/


/* .banner {
    width: 100%;
    float: left;
    position: relative;
} */

.banner {
    background: url("../images/banner-bg.jpg") no-repeat 100% 100%;
    opacity: 1;
    margin: 0;
    padding: 0;
    z-index: 9;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    float: left;
}

.banner .carousel-inner .item img {
    height: 375px;
}

.carousel-caption {
    bottom: inherit;
    top: 18px;
}

.carousel-caption h3 {
    font-family: 'Playball', cursive;
    font-size: 31px;
    color: #FFF;
    font-weight: 400;
    text-transform: capitalize;
}


/*.banner::after {
    width: 60%;
    height: 123px;
    left: -70px;
    bottom: -65px;
    content: '';
    background: #fafafa;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 50%;
    transform: rotate(4deg);
}

.banner::before {
    width: 60%;
    height: 123px;
    right: -70px;
    bottom: -65px;
    content: '';
    background: #fafafa;
    background-size: cover;
    background-position: center;
    position: absolute;
    border-radius: 50%;
    transform: rotate(-4deg);
    z-index: 9;
}*/


/*Banner css close*/

.firstSec {
    width: 100%;
    float: left;
    background: #fafafa;
    display: none;
}

.flx_sec {
    flex-wrap: wrap;
    align-content: flex-start;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.des_Sec {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 25px;
    padding-top: 25px;
}

.iconSec {
    width: 92px;
    height: 92px;
    margin: auto;
    background: #7F3F98;
    text-align: center;
    line-height: 92px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    left: 0;
}

.hi-icon:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    left: 0;
}

.hi-icon-effect-8 .hi-icon {
    background: #7F3F98;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: none;
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
}

.hi-icon-effect-8 .twt:hover .hi-icon {
    background: #7F3F98;
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

.hi-icon-effect-8 .twt:hover .hi-icon:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7F3F98, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7F3F98, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7F3F98, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7F3F98, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7F3F98, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #7F3F98, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.0);
        opacity: 0;
    }
}

.iconSec img {
    -webkit-transition: 0.7s ease-in-out;
    -moz-transition: 0.7s ease-in-out;
    -ms-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

.twt:hover img {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}

.des_Sec h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #1a1a1a;
    text-align: center;
    padding: 5px 0px;
    font-weight: 600;
}

.des_Sec h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #7F3F98;
    text-align: center;
    padding: 2px 0px;
}

.mainScroll {
    width: 100%;
    float: left;
    background: #f2f2f2;
}

.info-slide {
    padding: 0px 0px 74px 0px;
    border-right: 1px solid #d4d4d4;
}

.owl-theme .owl-controls .owl-buttons div {
    background-color: transparent;
    color: #8c51a3;
    opacity: 1;
    font-size: 28px;
    padding: 0;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

.owl-theme .owl-controls .owl-buttons div:hover {
    color: #FFF;
    background: #7f3e98;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.budgetFlight {
    width: 100%;
    float: left;
    padding: 25px 0px;
}

.budgetFlight h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #7F3F98;
    text-align: center;
    font-weight: 600;
}

.budgetFlight a {
    width: 147px;
    height: 34px;
    margin: auto;
    border: 1px solid #7F3F98;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 600;
    display: block;
    border-radius: 22px;
    line-height: 29px;
    margin-top: 20px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.budgetFlight a:hover {
    background: #7F3F98;
    color: #FFF;
}

.flightDeals h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #181818;
    text-align: center;
    font-weight: 500;
    margin-bottom: 26px;
    padding-top: 13px;
}

.flightDeals h6 span {
    font-size: 35px;
    font-weight: 800;
    color: #7F3F98;
    position: relative;
    padding-left: 7px;
}

.flightDeals h6 span::after {
    width: 152%;
    height: 1px;
    position: absolute;
    background: #cecece;
    bottom: 0px;
    left: -56px;
    content: '';
}


/*.flightDeals h6 span::before {
                width: 24%;
                height: 3px;
                position: absolute;
                background: #0f75bd;
                bottom: -1px;
                left: 38%;
                content: '';
                z-index: 2;
            }*/

.dealsPackage {
    width: 100%;
    float: left;
    padding: 10px;
    background: #8c51a3;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dealsPackage:hover {
    background: #0f75bd;
}

.dealsPackage:hover .dealsPrice {
    background: rgba(15, 116, 189, 1);
    background: -moz-linear-gradient(left, rgba(15, 116, 189, 1) 0%, rgba(72, 161, 225, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(15, 116, 189, 1)), color-stop(100%, rgba(72, 161, 225, 1)));
    background: -webkit-linear-gradient(left, rgba(15, 116, 189, 1) 0%, rgba(72, 161, 225, 1) 100%);
    background: -o-linear-gradient(left, rgba(15, 116, 189, 1) 0%, rgba(72, 161, 225, 1) 100%);
    background: -ms-linear-gradient(left, rgba(15, 116, 189, 1) 0%, rgba(72, 161, 225, 1) 100%);
    background: linear-gradient(to right, rgba(15, 116, 189, 1) 0%, rgba(72, 161, 225, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f74bd', endColorstr='#48a1e1', GradientType=1);
}

.dealImg {
    width: 100%;
    float: left;
    position: relative;
}

.dealImg img {
    width: 100%;
    height: 270px;
}

.dealImg h3 {
    position: absolute;
    top: 40px;
    left: 0;
    background: #FFF;
    border-radius: 0 50px 50px 0;
    padding: 11px 20px;
    font-family: 'Poppins', sans-serif;
    color: #242424;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 700;
}

.dealsPrice {
    width: 100%;
    float: left;
    background: #7F3F98;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.from {
    float: left;
    padding: 12px 32px 12px 12px;
    background: url(/Biscordint/images/price-arrow.png) no-repeat center right;
    font-style: italic;
}

.dealsRate {
    float: right;
    font-weight: 600;
    padding: 12px;
}

.dealsName {
    width: 100%;
    float: left;
    background: #FFF;
    margin-top: 10px;
    padding: 10px;
}

.dealsName h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #242424;
    font-weight: 800;
    text-align: center;
    padding-bottom: 7px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dealsName h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #5d5d5d;
    font-weight: 400;
    text-align: center;
    padding-bottom: 7px;
    text-transform: capitalize;
    padding-top: 16px;
    line-height: 22px;
    display: block;
}

.dealsName h5 img {
    margin-right: 5px;
}

.dealsName h3 span {
    position: relative;
    padding-bottom: 7px;
}

.dealsName h3 span::after {
    width: 53px;
    height: 2px;
    background: #eeeeee;
    bottom: 0;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -26px;
}

.dealsName a {
    width: 147px;
    height: 34px;
    margin: auto;
    border: 1px solid #7F3F98;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 600;
    display: block;
    border-radius: 22px;
    line-height: 32px;
    margin-top: 20px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.dealsName a:hover {
    background: #7F3F98;
    color: #FFF;
}

.owl-carousel .owl-item {
    float: left;
    padding: 0 10px !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #7F3F98 !important;
}

.owl-theme .owl-controls .owl-page span {
    background: #d4d4d4 !important;
}

.holidayPackage h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #181818;
    text-align: center;
    font-weight: 500;
    margin-bottom: 26px;
    padding-top: 13px;
}

.holidayPackage h6 span {
    font-size: 35px;
    font-weight: 800;
    color: #7F3F98;
    position: relative;
    padding-left: 7px;
}

.holidayPackage h6 span::after {
    width: 142%;
    height: 1px;
    position: absolute;
    background: #cecece;
    bottom: 0px;
    left: -76px;
    content: '';
}


/*.holidayPackage h6 span::before {
                width: 24%;
                height: 3px;
                position: absolute;
                background: #0f75bd;
                bottom: -1px;
                left: 38%;
                content: '';
                z-index: 2;
            }*/

.packageSec {
    width: 100%;
    float: left;
    background: #FFF;
}

.rating {
    text-align: center;
}

.rating i {
    font-size: 13px;
    color: #ffbc07;
}

.grey_color i {
    color: #c0c0c0;
}

.review {
    font-size: 13px;
    color: #898888;
}

.packageMore a {
    width: 147px;
    height: 34px;
    margin: auto;
    border: 1px solid #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    display: block;
    border-radius: 22px;
    line-height: 31px;
    margin-top: 20px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.packageMore a:hover {
    background: #FFF;
    color: #7F3F98;
}

.packageMore {
    padding-top: 24px;
}

.whyChooseus {
    width: 100%;
    float: left;
    padding: 60px 0px;
    display: none;
}

.whyChooseus h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #181818;
    text-align: left;
    font-weight: 500;
    margin-bottom: 50px;
}

.whyChooseus h6 span {
    font-size: 50px;
    font-weight: 800;
    color: #7F3F98;
    position: relative;
}

.whyChooseus h6 span::after {
    width: 50%;
    height: 1px;
    position: absolute;
    background: #cecece;
    bottom: 0px;
    left: 0;
    content: '';
}

.whyChooseus h6 span::before {
    width: 40px;
    height: 3px;
    position: absolute;
    background: #0f75bd;
    bottom: -1px;
    left: 0;
    content: '';
    z-index: 2;
}

.whyChooseus h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #292929;
    text-align: left;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}

.whyChooseus ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.whyChooseus ul li {
    margin-bottom: 30px;
}

.whyChooseus ul li:last-child {
    margin-bottom: 0px;
}

.chooseDescription h3 {
    font-family: 'Open Sans', sans-serif;
    color: #7F3F98;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.chooseDescription p {
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    font-size: 14px;
}

.chooseDescription {
    padding-left: 10px;
    padding-top: 10px;
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.heartBeat {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation: heartBeat 2.5s infinite;
}

.ourService {
    width: 100%;
    float: left;
    padding: 50px 0px;
    background-image: url(../images/img_parallax.jpg);
    position: relative;
    display: none;
}

.ourService::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.33);
}

.ourService h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
    position: relative;
    z-index: 9;
}

.ourService h6 span {
    font-size: 50px;
    font-weight: 800;
    color: #FFF;
    position: relative;
}

.ourService h6 span::after {
    width: 100%;
    height: 1px;
    position: absolute;
    background: #cecece;
    bottom: 0px;
    left: 0;
    content: '';
}

.ourService h6 span::before {
    width: 24%;
    height: 3px;
    position: absolute;
    background: #0f75bd;
    bottom: -1px;
    left: 38%;
    content: '';
    z-index: 2;
}
.countrypicker .dropdown-menu.open{
    max-height: 335px !important;
}

/*search form*/

.bannerForm {
    width: 100%;
    float: left;
    z-index: 9;
    bottom: 0;
}

.bg_shade {
    background: rgba(0, 0, 0, 0.69);
}

.oneway_btn {
    width: 100%;
    float: left;
    margin-bottom: 18px;
}

.traveltype {
    width: 326px;
    float: left;
}

.bt {
    float: left;
    margin-right: 13px;
}

.bt input[type="radio"] {
    position: absolute;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.bt input[type="radio"]+label:before {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 4px;
    background: #FFF;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.bt input[type="radio"]:checked+label:before {
    background: #c084d7;
}

.bt input[type="radio"]+label:before {
    background: #FFF;
}

.bt label {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: normal;
    line-height: 13px;
}

.bannerForm .tab-links li a {
    background: #FFF;
    border-radius: 72px;
    color: #1f1f1f;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 29px;
    border: 2px solid #8b8ca1;
    cursor: pointer;
}

.bannerForm .tab-links li:first-child a svg {
    width: 21px;
}

.bannerForm .tab-links li a svg {
    width: 28px;
    height: 26px;
    float: left;
    margin-right: 8px;
}

.bannerForm .tab-links li {
    padding: 0 5px;
}

.bannerForm .tab-links {
    width: auto;
    display: table;
}

.bannerForm .tab-content {
    margin-top: 23px;
    padding-bottom: 23px;
    padding-top: 22px;
}

.flightForm_sec {
    width: 100%;
    float: left;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding0 {
    padding-left: 0px;
    padding-right: 0px;
}

.formtxt {
    width: 100%;
    height: 45px;
    background: #efefef;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    border: none;
    font-weight: 600;
    margin-bottom: 13px;
}

.formtxt::-webkit-input-placeholder {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.formtxt:-ms-input-placeholder {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.formtxt::placeholder {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.calendarSec {
    width: 100%;
    float: left;
    background: #efefef;
    position: relative;
}

.calendarSec1 {
    width: 100%;
    height: 45px;
    background: none;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    border: none;
    font-weight: 600;
    position: relative;
    z-index: 99;
}

.calendarSec1::-webkit-input-placeholder {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.calendarSec1:-ms-input-placeholder {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.calendarSec1::placeholder {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.calendarSec i {
    font-size: 20px;
    color: #7F3F98;
    position: absolute;
    right: 14px;
    top: 13px;
    z-index: 9;
}

.travellerSec {
    width: 100%;
    height: 45px;
    float: left;
    background: #efefef;
    padding: 0 30px 0 10px;
    position: relative;
}

.travellerSecHtl {
    width: 100%;
    height: 45px;
    float: left;
    background: #efefef;
    padding: 0 0px 0 0px;
    position: relative;
}

.travellercoutHtl {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    line-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.travellercoutHtl>input {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 0px;
    position: relative;
    z-index: 9;
    background: none;
    text-align: left;
}

.travellerSecHtl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 22px;
    color: #7F3F98;
}

.travellercout {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    line-height: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.travellerSec::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 22px;
    color: #7F3F98;
}

.travellerOptions {
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 57px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
}

.travellerOptions::after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #FFF;
    position: absolute;
    left: 26px;
    top: -10px;
}

.passenger_area {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0003;
    padding-bottom: 4px;
}

.passenger_area p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #272727;
    float: left;
    padding: 0;
    font-weight: 600;
}

.pass_click {
    width: auto;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #646060;
}

.pass_click a {
    float: left;
}

.pass_click a i {
    font-size: 20px;
    color: #7F3F98;
    cursor: pointer;
}

.pass_click span {
    width: 21px;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 600;
}

.classtype_area {
    width: 100%;
    float: left;
    padding-top: 5px;
}

.classsec_area {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.classsec_area label {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #272727 !important;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"]:checked+label:before {
    background: #7F3F98;
}

.classsec_area input[type="radio"]+label:before {
    background: #d8d8d8;
}

.searchButton {
    width: 100%;
    float: left;
}

.searchButton button {
    width: 189px;
    height: 49px;
    margin: auto;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 600;
    display: block;
    border-radius: 22px;
    line-height: 41px;
    margin-top: 4px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    background: #7F3F98;
    color: #FFF;
}

.searchButton button:hover {
    background: #0f75bd;
    color: #FFF;
}

.time {
    width: 100%;
    float: left;
    height: 50px;
    background: #efefef;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    margin-bottom: 7px;
}

.time:last-child {
    margin-bottom: 0px;
}

.timerSec {
    width: 100%;
    float: left;
}

.timerSec label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    width: 100%;
    float: left;
    margin-bottom: 6px;
    font-weight: 500;
}

.ui-datepicker {
    background: #fff;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999999999 !important;
}

.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #fff;
    background: #7f3f98;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

.ui-datepicker-prev:after {
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}

.ui-datepicker-next:after {
    transform: rotate(-135deg);
    margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
    border-color: #000;
}

.ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 46px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 2px;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
    color: #2e475d;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
    font-size: 14px;
    padding: 2px;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

.ui-datepicker-calendar thead tr th span {
    display: block;
    width: 40px;
    color: #7f3f98;
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
}

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #42474d;
    line-height: 40px;
    font-size: 12px;
    font-weight: 700;
}

.ui-state-default:hover {
    background: #7f3f98;
    color: #fff;
}

.ui-state-highlight {
    color: #fff;
    background: #7f3f98;
}

.ui-state-active {
    background: #95a9bf none repeat scroll 0 0;
    /* border-radius: 50%; */
    color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #afc2d8;
    border: 2px solid transparent;
}

.ui-datepicker-trigger {
    background-color: transparent;
    border: medium none;
    color: #ababab;
    font-size: 22px;
    padding: 0;
    position: absolute;
    left: 10px;
    bottom: 20px;
}


/*search form close*/


/*insurance form*/

.insurance {
    width: 100%;
}

.insurance label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    margin-bottom: 4px;
    font-weight: 400;
}

.insureTxt {
    width: 100%;
    height: 45px;
    border: 1px solid #cecece;
    background: #efefef;
    border-radius: 3px;
    margin-bottom: 10px;
    line-height: 45px;
    padding: 0 10px;
}

.addessTxt {
    width: 100%;
    height: 60px;
    border: 1px solid #cecece;
    background: #efefef;
    border-radius: 3px;
    margin-bottom: 10px;
    line-height: 45px;
    padding: 0 10px;
    resize: none;
}

#insurance .modal-body,
#insurance .modal-content,
#budget .modal-body,
#budget .modal-content {
    width: 100%;
    float: left;
}

#insurance .modal-title,
#budget .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
}

#insurance .close,
#budget .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

#insurance .modal-header,
#budget .modal-header {
    background: #7F3F98;
}

#insurance .modal-content,
#budget .modal-content {
    overflow: hidden;
}

.pos_rel {
    position: relative;
}

.pos_rel i {
    font-size: 20px;
    position: absolute;
    right: 29px;
    top: 35px;
    color: #7F3F98;
}

.form_description {
    width: 100%;
}

.form_description h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #7F3F98;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.form_description ol {
    margin: 0px;
    padding: 0px 16px;
}

.form_description ol li {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #222222;
    margin-bottom: 11px;
    font-weight: 400;
}

.checkArea {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #222222;
    font-weight: 400;
}

.checkboxDlc {
    width: 17px;
    height: 16px;
    float: left;
    margin-right: 6px !important;
}

.insuranceSbt {
    float: right;
    padding: 11px 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    background: #7F3F98;
    text-transform: uppercase;
    border: none;
}

.dateshow {
    width: 100%;
    padding: 11px 10px 0px 10px;
}

.dateshow span {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #7F3F98;
    font-weight: 600;
    text-transform: uppercase;
}

.showdateSec {
    width: 200px;
    height: 35px;
    border: none;
    border-bottom: 2px dotted #7F3F98;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #7F3F98;
    font-weight: 600;
}


/*insurance form close*/

.multi_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.63);
    z-index: 9;
}

.multicity {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 999;
    top: 38px;
    background: #7F3F98;
    padding: 17px 11px;
    border-radius: 5px;
    display: none;
}

.epower_form .tab {
    position: relative;
}

.multiSection {
    width: 100%;
    float: left;
    position: relative;
}

.multiSection i.close {
    position: absolute;
    right: 1px;
    top: 0px;
    color: #FFF;
    font-size: 22px;
    opacity: 1;
}

.multiSection label {
    width: 100%;
    float: left;
    color: #FFF;
    padding-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 3px;
    font-family: 'Open Sans', sans-serif;
}

.add_flight {
    float: right;
    padding: 3px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-right: 6px;
    margin-top: 14px;
    cursor: pointer;
}

.add_flight i {
    font-size: 21px;
    margin-left: 6px;
    float: right;
}

.flightSearch {
    font-family: 'Open Sans', sans-serif;
    color: #7F3F98;
    font-size: 15px;
    padding: 12px 32px;
    background: #FFF;
    float: right;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-top: 6px;
}

.flightSearch:hover {
    background: #0f75bd;
    color: #FFF;
}

.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 45px;
}

.autocomplete ul.autocomplete-results li {
    color: #7F3F98;
    font-size: 13px;
    font-weight: 400;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #fff;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: #7F3F98 !important;
    color: #FFF !important;
}

.autocomplete-result:hover {
    background-color: #7F3F98;
    color: #fff;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}

.checkAreaform {
    width: auto;
    float: right;
    padding: 0 5px;
}

.flexibleSec {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

input[id="radio-btn-8"] {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

input[id="radio-btn-8"]+label {
    position: relative;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0 0 0 10px;
}

input[id="radio-btn-8"]+label::before {
    width: 25px;
    height: 25px;
    background: #ffffff;
    border-radius: 4px;
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 10px;
    vertical-align: middle;
}

input[id="radio-btn-8"]:checked+label::after {
    width: 13px;
    height: 6px;
    content: "";
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    top: 8px;
    left: 6px;
    position: absolute;
    transform: rotate(-45deg);
}

input[id="radio-btn-8"]:checked+label::before {
    background: #7f3e98;
}

.checkAreaform .bt label {
    font-weight: 200;
    font-size: 13px;
}

.checkAreaform .bt input {
    width: 15px;
    height: 14px;
    float: left;
    margin-right: 5px;
}

.inner #content ul li {
    padding: 10px;
}

.banner h4 {
    font-family: 'selimaregular';
    font-size: 31px;
    color: #FFF;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    z-index: 9;
    width: 100%;
    padding: 23px 10px;
}

.flghtbtn button {
    margin-top: 0px;
    width: 100%;
    border-radius: 0px;
    height: 45px;
}


/*Responsive css*/

.kmsliderSec {
    background: #FFF;
    padding: 0px 10px;
    height: 45px;
    text-align: center;
}

.within_sec {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif;
}

.kmsliderSec label {
    font-family: 'Open Sans', sans-serif;
}

.htl_advc {
    width: 100%;
    float: left;
    font-size: 13px;
    color: #272727;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
}

.custom-select-htl {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.custom-select-htl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 22px;
    color: #7F3F98;
}

.custom-select-htl select {
    width: 100%;
    height: 38px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background: none;
    z-index: 9;
    position: relative;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.closeDropdown {
    float: right;
}

.closeDropdown .closeLink {
    padding: 7px 12px;
    background: #7F3F98;
    color: #FFF;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
}

.hotlsSec {
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.17);
    margin-bottom: 5px;
    border-radius: 4px;
}

.form_sec {
    width: 100%;
    float: left;
    position: relative;
    background: #FFF;
    margin: 5px 0px;
}

.en_dwn_htl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 6px;
    top: 7px;
    font-size: 22px;
    color: #7F3F98;
}

.form_sec .form-control {
    height: 45px;
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 9;
}

.hotlsSec .rooms {
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: 54px;
}

.hotlsSec .rooms i {
    font-size: 17px;
    color: #ffffff;
    margin-left: 7px;
}


/* @media (max-width: 1080px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
} */

/*evisa css*/

.evisa_select .countrypicker {
    width: 100% !important;
    left: 0;
    margin-bottom: 10px;
}

.evisa_select .countrypicker button {
    width: 100% !important;
    height: 45px;
    background: #efefef;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #222222;
    border: none;
    font-weight: 400;
    border-radius: 0px;
}

.evisa_select .countrypicker button .caret {
    position: relative;
    border: none;
    top: 13px !important;
    right: 23px !important;
}

.evisa_select .countrypicker button .caret::after {
    content: '\f078';
    font-family: FontAwesome;
    color: #555555;
    font-size: 15px;
}

.evisa_select label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    margin-bottom: 5px;
}

.visa_result h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fde800;
    font-weight: 500;
    padding: 0px;
    text-align: left;
    margin-bottom: 5px;
}

.visa_result p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 400;
    padding: 0px;
    text-align: left;
}

.visaBtn {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-right: 6px;
    border: 1px solid #FFF;
    padding: 5px 9px 5px 31px;
    border-radius: 29px;
    margin-bottom: 10px !important;
}

.visaBtn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.visa-checkmark {
    position: absolute;
    top: 5px;
    left: 6px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.visaBtn:hover input~.visa-checkmark {
    background-color: #ccc;
}

.visaBtn input:checked~.visa-checkmark {
    background-color: #0f75bd;
}

.visa-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.visaBtn input:checked~.visa-checkmark:after {
    display: block;
}

.visaBtn .visa-checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.evisa_requirement {
    width: 100%;
    float: left;
}

.evisa_apply {
    width: 100%;
    float: left;
}

.apply-visa {
    width: 100%;
    float: left;
    padding: 13px 0px;
}

.apply-visa-form {
    width: 100%;
    float: left;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0f75bd+0,7f3f98+100 */
    background: #0f75bd;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0f75bd 0%, #7f3f98 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0f75bd 0%, #7f3f98 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0f75bd 0%, #7f3f98 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0f75bd', endColorstr='#7f3f98', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    padding: 20px 10px 5px 10px;
    border-radius: 7px;
    margin-bottom: 12px;;
}

.apply-visa-form h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2px;
}

.apply-visa-form p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    text-align: center;
}
.nmbr_traveler{
    width: 100%;
    min-height: 40px;
    background: #FFF;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #4e4e4e;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.chg_nbr{
    float: right;
}
.chg_nbr span{
float: left;
}
.icon_nmbr{
    width: 20px;
    cursor: pointer;
    fill: #7a429a;
}
.nbr_tvler{
    min-width: 15px;
    text-align: center;
    padding: 0 5px;
    color: #7a429a;
    font-size: 15px;
    font-weight: 600;
}
.trvler_dwn{
    width: 100%;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    position: relative;
    margin-bottom: 10px;
}
.trvler_dwn::after{
    content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: 9px;
    top: 10px;
    font-size: 13px;
    color: #848484;
}
.trvler_dwn select{
    width: 100%;
    height: 40px;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;    
    appearance: none;
    padding: 11px 33px 11px 11px;
    position: relative;
    z-index: 1;
}
.nmbr_traveler_sec{
    width: 100%;
    float: left;
    padding-top: 20px;
}
.apply_btn{
    width: 100%;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    border: none;
    background: #399e0f;
    color: #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.apply_btn:hover{
    background: #45bf12;
}
.visa-requirements{
    width: 100%;
    float: left;
    padding: 10px;
    border: 1px dashed #b5b5b5;
    border-radius: 5px;
}
.visa-requirements h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}
.visa-requirements p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.visa-requirements ul{
    margin: 0px;
    padding:0px;
    list-style:none;
    padding-top: 18px;
}
.visa-requirements ul li{
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.visa-requirements ul li span{
    font-size: 15px;
    font-weight: 600;
    color:#7f3f98;
}
.visa-requirements ul li svg{
    width: 20px;
    float: left;
    margin-right: 4px;
    fill: #7f3f98;
}
.visa-main-title{
    width: 100%;
    float: left;
    background: #f2f4f8;
    padding: 20px 0px;
    border-bottom: 1px solid #e0e0e0; 
}
.visa-main-title h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #343434;
    margin-bottom: 5px;;
}
.visa-main-title p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #343434;
}
.apply-visa label{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #343434;
    margin-bottom: 5px;
}

.apply-visaformSec {
    width: 100%;
    float: left;
    padding: 34px 0px 13px 0px
}
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    float: left;
    margin-bottom: 8px;
  }
  .inp .label {
    position: absolute;
    top: 10px;
    left: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
    padding: 5px 12px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    width: 100%;
    text-align: left;
  }
  .inp label {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #9098a9;
    font-weight: 500;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
  .inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #7f3f98;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }
  
  .inp input , .inp select{
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 0px 13px 0 9px;
    height: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 0.15s ease;
    position: relative;
    z-index: 9;
  }
  .inp input:not(:placeholder-shown) + span, .inp select:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-28px) scale(0.75);
    padding: 0;
  }
  .inp input:focus , .inp select:focus{
    background: none;
    outline: none;
  }
  .inp input:focus + span, .inp select:focus + span {
    color: #07f;
    transform: translateY(-28px) scale(0.75);
    padding: 0;
  }
  .inp input:focus .sptop, .inp select:focus .sptop{
    top: 34px !important;
  }
  .inp input:focus + span + .border, .inp select:focus + span + .border  {
    transform: scaleX(1);
  }
  .inp i{
    position: absolute;
    padding: 13px;
    right: 0;
    color: #7f3f98;
    font-size: 18px;
    bottom: 2px;
  }
  .custom-file-input:focus~.custom-file-label {
    border-color: #c8ccd4;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.custom-file-label{
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    line-height: 31px;
}
.custom-file-label::after{
    height: 43px;
    line-height: 30px;
}
label.file-upload{
    position: relative;
    overflow: hidden;
    background: none !important;
    color: #989898 !important;
    border: 1px solid #c8ccd4 !important;
    box-shadow: none !important;
    padding: 0px 13px 0 9px;
    height: 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 43px;
    text-align: left;
    width: 100%;
    margin: 0px;
}
label.file-upload input[type=file]{
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    outline:0;
    background:none;
    cursor:inherit;
    display:block;
}
.form_submit{
    width: 100%;
    height: 45px;
    border: none;
    background: #7f3f98;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin: 10px 10px 10px 60px;
}
.form_submit:hover{
    background:#0f75bd;
}
.check_success{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(0, 0, 0, 0.52);
}
.check_middle{
    width:400px;
    margin: 10% auto;
}
.checkmark-circle{
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke:#7f3f98;
    fill: none;
    animation:stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards;
}
.checkmark5{
width:156px;
height:156px;
border-radius:50%;
display:block;
stroke-width:3;
stroke:#1b9947;
stroke-miterlimit:10;
margin:3% auto;
margin-bottom:6%;
box-shadow:inset 0px 0px 0px #7ac142;
animation:fill .4s easy-in-out .4s forwards, scale .3s easy-in-out 0.9;
}
.checkmark-check{
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation:stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation-delay: 2s;
}
@keyframes stroke{
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes scale{
    0%, 100%{
        transform: none;
    }
    50%{
        transform: scale3d(3, 3, 1);
    }
}
@keyframes fill{
    100%{
        box-shadow: inset 0px 0px 0px 10px #7ac142;
    }
}
.svg_sec{
    background: #FFF;
    border-radius: 4px;
    padding: 10px;
}
.svg_sec h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #7f3f98;
    text-align: center;
    margin-bottom: 5px;
}
.svg_sec p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #5a5a5a;
    text-align: center;
}
.traveller_visa{
    width: 100%;
    float: left;
    padding-top: 10px;
}
.traveller_visa h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #3a3535;
    margin-bottom: 10px;
}
.traveller_visa h6 svg{
    width: 16px;
    margin-right: 5px;
    float: left;
    fill: #256ab5;
}
.resp-accordion svg{
    width: 16px;
    margin-right: 5px;
    float: left;
    fill: #256ab5;

}
.nav-tabs {
    display: none;
  }



  .close-circle{
        stroke-dasharray: 423;
    stroke-dashoffset: 423;
    stroke-width: 14px;
    stroke-miterlimit: 10;
    stroke: #7f3f98;
    fill: none;
    animation:stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 1s forwards;
}
.close5{
width:156px;
height:156px;
border-radius:50%;
display:block;
stroke-width:3;
stroke:#d91f26;
stroke-miterlimit:10;
margin:3% auto;
margin-bottom:6%;
box-shadow:inset 0px 0px 0px #7ac142;
animation:fill .4s easy-in-out .4s forwards, scale .3s easy-in-out 0.9;
}
.close-check{
    transform-origin: 50% 50%;
    stroke-dasharray: 339;
    stroke-dashoffset: 339;
    animation:stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation-delay: 2s;
}
@keyframes stroke{
    100%{
        stroke-dashoffset: 0;
    }
}
@keyframes scale{
    0%, 100%{
        transform: none;
    }
    50%{
        transform: scale3d(3, 3, 1);
    }
}
@keyframes fill{
    100%{
        box-shadow: inset 0px 0px 0px 10px #7ac142;
        fill:#d91f26 ;
    }
}

.flex-row.row {
    display: flex;
	 flex-wrap: wrap;
  }
  .flex-row.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .flex-row.row:after, 
  .flex-row.row:before {
	 display: flex;
  }
  .flex-row.row > [class*='col-'] > .box {
    display: flex;
	 flex: 1;
  }

  .fileupload {
    float: right;
    position: absolute;
    right: 0;
    border: none;
    top: 25px;
    padding: 12px;
    background: #7f3f98;
    color: #FFF;
    z-index: 9;
  }

  .visa_check {
    display: block;
    position: relative;
    padding-left: 31px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 27px;
    float: left;
    width: auto !important;
    margin: 10px 10px 10px 60px;
  }
  .visa_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark_visa {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #c8ccd4;
    background:#fdfdfd;
    transform: none !important;
  }
  .visa_check:hover input ~ .checkmark_visa {
    background-color: #7f3f98;
    border:1px solid #7f3f98;
  }
  .visa_check input:checked ~ .checkmark_visa {
    background-color: #7f3f98;
    border:1px solid #7f3f98;
  }
  .checkmark_visa:after {
    content: "";
    position: absolute;
    display: none;
  }
  .visa_check input:checked ~ .checkmark_visa:after {
    display: block;
  }
  .visa_check .checkmark_visa:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*Visa radio*/
.visa_status {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 27px;
    float: left;
    width: auto !important;
    padding-right: 20px;
  }
  .visa_status input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    height: 23px;
  }
  .visa_status_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #c8ccd4;
    background:#fdfdfd;
    border-radius: 50%;
    transform: none !important;
  }
  .visa_status:hover input ~ .visa_status_checkmark {
    background-color: #7f3f98;
    border: 1px solid #7f3f98;
  }
  .visa_status input:checked ~ .visa_status_checkmark {
    background-color: #7f3f98;
    border: 1px solid #7f3f98;
  }
  .visa_status_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .visa_status input:checked ~ .visa_status_checkmark:after {
    display: block;
  }

  .visa_status .visa_status_checkmark:after {
    top: 7px;
    left: 7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: white;
  }

#onloadmodel button.close {
    width: 30px;
    height: 30px;
    background: #FFFF;
    opacity: 1;
    margin-right: -49px;
    margin-top: -15px;
    border-radius: 50%;
}
#onloadmodel button.close {
    margin-right: -49px !important;
    margin-top: -15px !important;
}
#onloadmodel .modal-body img{
    width: 100%;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    position: relative !important;
    float: left;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    max-height: 100% !important;
    height: 292px !important;
}



  
  @media (min-width: 768px) {
    
    .nav-tabs {
      display: flex;
      flex-flow: column nowrap;
    }
    .nav-tabs {
      border-bottom: none;
      border-right: 1px solid #ddd;
      display: flex;
    }
    .nav-tabs {
      margin: 0 15px;
    }
    .nav-tabs .nav-item + .nav-item {
      margin-top: 0.25rem;
    }
    .nav-tabs .nav-link {
      transition: border-color 0.125s ease-in;
      white-space: nowrap;
    }
    .nav-tabs .nav-link:hover {
      background-color: #f7f7f7;
      border-color: transparent;
    }
    .nav-tabs .nav-link.active {
      border-bottom-color: #ddd;
      border-right-color: #fff;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0;
      margin-right: -1px;
    }
    .nav-tabs .nav-link.active:hover {
      background-color: #fff;
      border-color: #0275d8 #fff #0275d8 #0275d8;
    }
  
    .card {
      border: none;
    }
  
    .card .card-header {
      display: none;
    }
  
    .card .collapse {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .tab-pane {
      display: block !important;
      opacity: 1;
    }
    #onloadmodel button.close {
        position: absolute;
        right: 68px;
        top: 34px;
    }
  }
  @media (max-width: 990px) {
    .visa-main-title{
        margin-top: 20px !important;
    }
  }
  .required_txt{
    padding-left: 10px;
  }
.red{
    color: #F00;
}
/* Selects any disabled <input> */
.inp select:disabled {
  background: #f6f6f6;
}