


@media(max-width:1200px) {
    .menu-nav .navbar-nav > li > a{padding: 15px 14px;}
}


/*=========END-1200px==========*/


/*=========start-9991px==========*/
@media(max-width:991px) {
    
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	.top-email{
		display: none;
	}
    .menu-nav{background-color: transparent;}
    .menu-nav .navbar{
        position: absolute;
        top: 12px;
        right: 30px;
        width: 70%;
        z-index: 9999;
        }
	.booking-form {
		width: 100%;
	}
	.search-section .form-control {
		border-bottom: 1px solid #bfbfbf;
	}
	.calendar {
		border-bottom: 1px solid #bfbfbf !important;
	}
	.all-search-box {
		display: inline-block;
		width: 100%;
	}

	.dropdown-menu {
		top: 34px;
		right: 0px;
	}
	.travelerSelectWindow {
		left: 0;
		width: 100%;
	}
	
	.foot-social li {
		padding: 0 6px 0 0;
	}
	.foot-links li a {
		padding: 0 2px;
		font-size: 14px;
	}
	.footer-newsletter h3 {
		font-size: 23px;
	}
     .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-nav .navbar-nav>li {
		float: none;
		display: block;
		border: none;
	}
	
	.menu_nav {
		text-align: left;
	}
	.navbar-toggle .icon-bar {
		height: 3px;
	}
    .navbar-default .navbar-toggle{
        border-radius: 50%;
        height: 45px;
        width: 45px;
        background: #7f3e98;
        margin: 0;
        }
	.navbar-default .navbar-toggle:focus,
	.navbar-default .navbar-toggle:hover {
		background: #0f75bd;
		border: 1px solid #0f75bd;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-nav>li>a {
		border-radius: 0;
		background: #7f3e98!important;
		color: #fff !important;
		border-bottom: 1px solid #fff;
		padding: 10px 30px;
        font-size: 16px!important;
	}
	.navbar-default .navbar-nav>.active>a,
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>li>a:hover {
		border-bottom: 1px solid #7f3e98;
        background: #fff !important;
        color: #7f3e98!important;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border: none;
	}
    .collapse.in {
    display: block !important;
    }
    .search-section .nav > li > a{padding: 10px 18px;}
    .search-section .search-col-padding{
        margin-bottom: 10px;
        overflow: hidden;
        }
    .custom-traveller{overflow: visible !important;}
    .info-slide{padding: 20px 0;}
    .foot-links ul li{
        width:auto;
        padding-right: 15px;
    }
    .news-in{border-left: none;}
    .foot-right{margin-top: 20px;}
}


/*=========END-991px==========*/

@media(max-width:767px) {
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
	.booking-form {
		position: relative;
		bottom: 0;
	}
	.navbar-nav>li>a {
		font-size: 16px;
	}
	header .dropdown-menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 40px;
	}

	.search-col-padding .input-group {
		width: 100%;
	}
	.search-section .form-control,
	.calendar {
		border-right: none !important;
		box-shadow: none !important;
	}
    .ui-datepicker-trigger{right: 30px;}
    .custom-select-v3 input{padding-left: 20px !important;
    }
    
    .custom-select-v3::before{right: 10px;}
    .check_box{
        text-align: left;
        margin-bottom: 15px;
        }
    .radio{margin-bottom: 15px;}
    .search-section .search-col-padding{padding: 0 15px;}
	.footer-newsletter {
		margin-top: 30px;
	}
	
	
	
	.foot-links {
		margin: 20px 0;
	}
	.reserved {
		float: none;
		text-align: center;
	}
	.Powered {
		float: none;
		text-align: center;
	}
	.menu_nav {
		min-height: auto;
		margin-top: 0;
		padding: 0;
	}
	.search-section .nav-tabs>li {
		clip-path: inherit;
		width: auto;
	}
	.search-section .nav>li>a::before {
		left: auto;
		top: 8px;
		right: 4px;
		position: absolute;
	}
	.reserved p {
		padding-top: 0;
	}
	.all-reserved {
		padding: 10px 0;
	}
	
	.banner_main .owl-pagination {
		bottom: -60px;
	}
	.booking-tab {
		margin-top: 0;
	}
	.all-search-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.search-section .nav>li>a {
		font-size: 13px;
        padding: 10px;
	}
	.service-icon i {
		color: #fff;
	}
	.search-section .nav-tabs>li:hover i {
		color: #fff;
	}
	.packages-main h2 {
		margin-bottom: 10px;
	}
	
	.foot-links {
		margin-top: 20px;
	}

	.foot-social {
		text-align: center;
	}
    .deal-package-name h3{font-size: 20px;}
    .deal-package-name{padding: 5px 20px;}
    .packages-main{padding: 30px 0;}
    .partner-sec{padding: 30px 0;}
    .partner{margin: 0 10px;}
    .footer-detail{padding: 30px 20px;}
}


/*=========END-767px==========*/

@media(max-width:600px) {
	footer .col-xs-4 {
		width: 100%;
	}
	.menu_nav .navbar-toggle {
		margin: 25px 50px;
	}
    .search-section .nav-tabs > li{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        }
    .search-section .nav > li > a{font-size: 16px;}
    .booking-tab{
        position: relative;
        top: 0;
        left: 0;
        margin: 0 15px;
        }
    .banner_main .banner-text{padding: 40px 0;}
    .banner_main .banner-text h1{font-size: 26px;}
    .foot-links ul li{
        width: 50%;
        float: left;
        text-align: left;
        }
}


/*=========Start-500px==========*/

@media(max-width:500px) {
	header .col-md-8.col-xs-8 {
		display: none;
	}
	header .col-xs-4 {
		width: 100%;
	}
    .menu-nav .navbar{
        width: 70%;
        }
    .menu_nav .navbar-toggle {
		margin: 25px 26px;
	}
	.navbar-default .navbar-toggle .icon-bar {
		text-align: center;
	}
    .ui-datepicker{z-index: 999!important;}
	.search-section .tab-content form {
		padding: 0;
	}
	.search-section .tab-content {
		padding: 15px 0 0 0;
	}

}

