﻿@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
.ie6 img,
.wrapper {
    width: 100%;
}

.banner_area,
.hm_about_area,
.menu_area,
header {
    position: relative;
}

.cmn_left,
.cmn_mid,
.logo_area,
.wrapper {
    height: auto;
}

.hm_about_area,
.pkg {
    box-shadow: 0 0 8px #000;
}

.hm_holidays ul,
.nav_area ul,
.why_choose ul,
li.client-logo {
    list-style: none;
}

embed,
img,
object,
video {
    max-width: 100%;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    outline: 0 !important;
}

::-moz-selection {
    background-color: #302486;
    color: #fff;
}

::selection {
    background-color: #302486;
    color: #fff;
}

@font-face {
    font-family: Calibri;
    src: url(Calibri.eot?#iefix) format("embedded-opentype"), url(Calibri.woff) format("woff"), url(Calibri.ttf) format("truetype"), url(Calibri.svg#Calibri) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: blenda_scriptregular;
    src: url(blenda_script.eot);
    src: url(blenda_script.eot?#iefix) format('embedded-opentype'), url(blenda_script.woff2) format('woff2'), url(blenda_script.woff) format('woff'), url(blenda_script.ttf) format('truetype'), url(blenda_script.svg#blenda_scriptregular) format('svg');
    font-weight: 400;
    font-style: normal;
}

.trs2 {
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -ms-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
    transition: .7s ease-in-out;
}

.head_cmn_number a,
header {
    -webkit-transition: all .3s ease;
}

.twt:hover img {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    float: left;
}

.cmn_mid {
    width: 95%;
    max-width: 1300px;
    margin: auto;
}

.cmn_left,
header {
    width: 100%;
    float: left;
}

.header_number {
    width: auto;
    min-height: 23px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.d_hide {
    display: none;
}

.aplyForm,
.tabFormArea {
    width: 100%;
}

.aplyForm,
.part,
.part01,
.part2,
.tabFormArea {
    height: auto;
    float: left;
}

.part {
    width: 22%;
    margin-right: 1%;
}

.part2 {
    width: 31%;
}

.part01 {
    width: 46%;
    margin-right: 4%;
}

.gif_area {
    width: 16%;
    height: 42px;
    float: left;
    text-align: center;
}

.gif_area label,
.part label,
.part2 label {
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
    line-height: 14px;
    float: left;
}

.sbmit,
.srch {
    text-align: left;
    text-transform: uppercase;
}

.gif_area label {
    color: #626267;
    text-transform: uppercase;
}

.part label,
.part2 label {
    font-family: 'Open Sans Condensed';
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
}

.chk01 label {
    line-height: 16px;
    color: #FFF;
    font-family: Calibri, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.slect01,
.txtAreaaply02 {
    font-family: Calibri, sans-serif;
    font-size: 15px;
}

.txtAreaaply02 {
    width: 100%;
    height: 40px;
    background: url(../images/icons.png) left no-repeat #f5f5f5;
    color: #adb3b4;
    padding-left: 32px;
    line-height: 38px;
    cursor: pointer;
    border: 1px solid #dedede;
    clear: both;
}

.subList {
    width: 99%;
    max-width: 230px;
    float: left;
    position: absolute;
    margin-top: 0;
    background: #7f3e98;
    border: 1px solid #251e54;
    padding: 5px 5px 0;
    z-index: 99999999999;
    border-radius: 4px;
    display: none;
}

.slect01 {
    width: 49%;
    height: 27px;
    display: block;
    background: #FFF;
    border: 1px solid #c2cfd9;
    color: #323232;
    float: left;
    margin-left: 1%;
    margin-bottom: 7px;
    padding-left: 10px;
}

.txtAreaaply,
.txtAreaaply01 {
    width: 100%;
    border: 1px solid #dedede;
    height: 40px;
}

.txtAreaaply {
    float: left;
    background: url(../images/location_icon.png) left no-repeat #f5f5f5;
    padding-left: 30px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.txtAreaaply::-webkit-input-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.txtAreaaply:-moz-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.txtAreaaply::-moz-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.txtAreaaply:-ms-input-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.rght {
    float: right;
}

.txtAreaaply01 {
    float: left;
    background: url(../images/calender.png) right no-repeat #f5f5f5;
    padding: 0 5px;
    margin-bottom: 5px;
}

.txtAreaaply01::-webkit-input-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.txtAreaaply01:-moz-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.txtAreaaply01::-moz-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.txtAreaaply01:-ms-input-placeholder {
    font-family: Calibri;
    color: #7d7d7d;
    font-size: 16px;
}

.srchbtn_area {
    width: 16%;
    height: 40px;
    float: right;
    margin-top: 55px;
    background: #251e54;
    background: -moz-linear-gradient(top, #7f3e98 0, #251e54 100%);
    background: -webkit-linear-gradient(top, #7f3e98 0, #251e54 100%);
    background: linear-gradient(to bottom, #7f3e98 0, #251e54 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7f3e98', endColorstr='#251e54', GradientType=0);
}

.srchbtn_area:hover {
    background: #7f3e98;
    background: -moz-linear-gradient(top, #251e54 0, #7f3e98 100%);
    background: -webkit-linear-gradient(top, #251e54 0, #7f3e98 100%);
    background: linear-gradient(to bottom, #251e54 0, #7f3e98 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#251e54', endColorstr='#7f3e98', GradientType=0);
}

.srch {
    width: 100%;
    height: 39px;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 38px;
    border: none;
    font-weight: 700;
    background: url(../images/srch.png) right no-repeat;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    padding-left: 10px;
}

.hm_packages_area:before,
h4.title:after {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
}

.part03 {
    width: 24%;
    height: auto;
    float: left;
    margin-right: 1%;
}

.txtAreaaply03,
.txtAreaaply12 {
    width: 100%;
    height: 42px;
    float: left;
    background: #fff;
    border: 1px solid #c9c9c9;
    padding: 0 10px;
}

.part03 label,
.part04 label {
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    text-transform: uppercase;
    line-height: 14px;
}

.txtAreaaply03 {
    line-height: 42px;
    margin-bottom: 10px;
}

.txtAreaaply12 {
    line-height: 17px;
    margin-bottom: 10px;
}

.txtAreaaply15 {
    width: 180px;
    float: none;
    height: 31px;
    line-height: 0;
    border-bottom: 2px dotted #2b2370 !important;
    border: none;
    padding-left: 12px;
}

.spmrg {
    margin-right: 2%;
}

.frmArea1.sp03 .sbmit {
    margin-top: 12px;
    text-transform: uppercase;
}

.sbmit {
    width: 15%;
    height: 48px;
    float: right;
    border-radius: 3px;
    background: url(../images/srch.png) right no-repeat #7f3e98;
    font-family: Calibri;
    font-size: 22px;
    color: #fff;
    line-height: 48px;
    border: none;
    padding-left: 1em;
}

.hm_about_head h1,
.hm_about_head h2 {
    font-family: 'Open Sans', sans-serif;
}

.sbmit:hover {
    background: url(../images/srch.png) right no-repeat #251E54;
}

.part04 {
    width: 49%;
    height: auto;
    float: left;
}

.frmArea {
    float: right;
    margin-top: 16px;
    width: 24%;
    margin-right: 1%;
}

.frmArea.sp03 {
    width: 14%;
}

.frmArea .sbmit {
    width: 100%;
}

.hm_about_head {
    width: 425px;
    height: 207px;
    float: left;
    background: url(../images/hm_about_bg.png) no-repeat;
    margin-right: 40px;
}

.bgimg-3,
.hm_about,
.hm_holidays,
.pkg {
    width: 100%;
}

.hm_about,
.hm_holidays,
.hm_holidays ul li {
    height: auto;
    float: left;
}

.hm_about {
    margin-top: 36px;
}

.hm_about_head h1 {
    font-size: 42px;
    color: #130772;
    text-align: center;
    margin-top: 69px;
    font-weight: 700;
}

.hm_about_head h2 {
    font-size: 19px;
    color: #000026;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
}

.hm_about p {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #000;
    margin-bottom: 10px;
}

.hm_about p span {
    font-size: 24px;
    text-transform: uppercase;
}

.bgimg-3 {
    float: left;
    background-image: url(../images/pkg.png);
    min-height: 730px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

.pkg {
    margin-top: 1em;
    background: #FFF;
    float: left;
}

.bgimg-3 h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 20px;
}

.hm_holidays ul {
    margin: 0;
    padding: 0;
}

.hm_holidays ul li {
    width: 32%;
    margin-left: 1%;
    margin-bottom: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .57);
    background: #fff;
}

.hm_packages_area {
    position: relative;
}

.hm_package_details,
.hm_packages_area:before,
.hm_starting {
    position: absolute;
    width: 100%;
}

.hm_packages_area:before {
    content: '';
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .35s;
}

.hm_package_details {
    z-index: 1;
    top: 0;
    height: 100%;
    background: rgba(47, 38, 131, .39);
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.hm_holidays ul li:hover .hm_package_details,
.package_area ul li:hover .hm_package_details {
    opacity: 1;
}

.hm_starting {
    bottom: 0;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #fff;
    text-align: left;
    z-index: 9;
}

.hm_starting p {
    color: #fff;
}

.hm_holiday_name,
.holiday_foot {
    width: 100%;
    height: auto;
    min-height: 65px;
    float: left;
    background: #fff;
    position: relative;
    z-index: 9;
    padding: 0 12px;
}

.flight .hm_holiday_name {
    border-bottom: 2px dotted #cacaca;
    background: url(../images/gif01.gif) center no-repeat #fff;
}

.hm_holiday_name p {
    font-family: 'open sans', sans-serif;
    font-size: 12px;
    color: #939393;
    line-height: 20px;
    margin-top: 5px;
    padding-top: 0;
    clear: both;
}

.hm_holiday_name h4,
.hm_holiday_name h5 {
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    float: left;
}

.hm_holiday_name h4 {
    color: #3B3B3D;
    margin-top: 5px;
    margin-bottom: 6px;
    padding-top: 0;
    background: url(../images/h3back.png) left bottom no-repeat;
    padding-bottom: 7px;
}

.hm_holiday_name h4:after {
    content: " ";
    width: 100%;
    height: 2px;
    background: -moz-linear-gradient(top, #7f3e98 0, #251e54 100%);
    background: -webkit-linear-gradient(top, #7f3e98 0, #251e54 100%);
    background: linear-gradient(to bottom, #7f3e98 0, #251e54 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0176c0', endColorstr='#015b94', GradientType=0);
}

.hm_holiday_name h5 {
    color: #3A3B3E;
    margin-top: 17px;
}

.book_btn,
.pkg_btn_area h5 {
    font-family: 'Open Sans';
}

.hm_holiday_name h5 small,
.hm_holiday_name h6 small {
    font-weight: 400;
    font-size: 12px;
}

.pkg_btn_area h5 {
    font-size: 20px;
    color: #7f3e98;
    font-weight: 700;
    float: left;
    margin-top: 5px;
}

.pkg_btn_area h5 small {
    font-size: 12px;
}

.pkg_btn_area .book_btn {
    float: right;
    margin-top: 16px;
    margin-right: -12px;
    min-width: 159px;
    text-align: center;
}

.book_btn {
    background: #7f3e98;
    padding: 10px 10px;
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
}

.holiday_foot h5,
.holiday_foot h5 small {
    font-family: 'Open Sans Condensed';
    color: #FFF;
    text-align: center;
}

.holiday_foot {
    background: #939393;
    max-height: 50px;
    min-height: 20px;
    padding: 0;
}

.day,
.night {
    padding-left: 20px;
}

.holiday_foot .book_btn {
    float: right;
    height: 50px;
    width: 40%;
    text-align: right;
}

.holiday_foot h5 {
    font-size: 23px;
    font-weight: 700;
    line-height: 17px;
    padding-top: 6px;
}

.holiday_foot h5 small {
    font-size: 15px;
    clear: both;
}

.day,
.night {
    width: 29%;
    height: 50px;
    display: inline-block;
}

.day {
    background: url(../images/day1.png) 4px no-repeat;
    border-right: 1px solid #b0acac;
}

.night {
    background: url(../images/night1.png) 4px no-repeat;
}

.book_btn:hover {
    color: #FFF;
    background: #2B3990;
}

.hm_holiday_name h6 {
    float: right;
    font-family: 'open sans', sans-serif;
    font-size: 20px;
    color: #3A3B3E;
    line-height: 20px;
    font-weight: 700;
    margin-top: 17px;
}

.pkg_btn_area {
    width: 100%;
    height: auto;
    min-height: 65px;
    float: left;
    background: #fff;
    position: relative;
    z-index: 9;
    padding: 0 12px;
}

.international_area {
    width: 100%;
    min-height: 418px;
    float: left;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.service_home {
    background-color: #482B97;
    background-image: url(../images/service_back.png);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}

.service_home .title,
.service_home .title1 {
    color: #FFF;
}

.service_home img {
    max-width: 100%;
    padding: 2.5em 2.5em .5em;
}

.international_area .service_home ul li h4 {
    color: #FFF;
    text-transform: uppercase;
    font-family: Open Sans Condensed;
    font-weight: 700;
}

.international_area h3,
.international_area h4 {
    font-family: Lato, sans-serif;
}

.international_area h3 {
    font-size: 40px;
    color: #dc1921;
    text-align: center;
}

.international_area h4 {
    font-size: 35px;
    color: #141212;
    text-align: center;
    margin-bottom: 13px;
}

.international_area ul li h3,
.international_area ul li h4,
.international_area ul li p {
    font-family: Lato, sans-serif;
    color: #252525;
    text-align: center;
}

.international_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.international_area ul li {
    width: 25%;
    height: auto;
    float: left;
    padding: 20px;
}

.international_area ul li h3 {
    background: url(../images/line.png) center top no-repeat;
    padding-top: 10px;
    font-size: 60px;
    line-height: 60px;
}

.international_area ul li h4 {
    font-size: 22px;
    margin-bottom: 15px;
}

.international_area ul li p {
    font-size: 17px;
}

.hm_clients {
    width: 100%;
    float: left;
    background: url(../images/clientbg.png) #b1aeae;
    margin: 1em 0;
}

#clients {
    width: 80%;
    margin: 0 auto;
}

.hm_client {
    width: 100%;
    float: left;
    background: #FFF;
    margin: 2em 0;
    padding: 2em 0;
}

.hm_clients h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 20px;
}

.hm_test_cont p,
.scrl_testi h4,
.scrl_testi p {
    font-family: Lato, sans-serif;
    color: #fff;
    text-align: center;
}

.scrl_testi {
    width: 100%;
    height: auto;
    float: left;
}

.scrl_pic {
    width: 131px;
    height: 131px;
    float: left;
    background: #fff;
    overflow: hidden;
    border: 8px solid #fff;
    border-radius: 50%;
    margin-right: 17px;
}

.hm_test_cont {
    width: auto;
    min-height: 131px;
}

.flight_deals,
.why_choose {
    min-height: 275px;
    float: left;
}

.hm_test_cont p {
    font-size: 22px !important;
    padding: 0 147px;
}

.scrl_testi h4 {
    font-size: 23px;
    font-weight: 700;
}

.scrl_testi p {
    font-size: 16px;
}

.flight_deals {
    background: #FFF;
    width: 100%;
    padding: 20px 0;
}

.title1,
h4.round,
h4.title,
h4.title1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #7f3e98;
    padding-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

h4.round {
    /* background: url(../images/h1back.png) center 5px no-repeat; */
    padding-bottom: 9px;
}

.title1 span {
    display: inline-block;
    position: relative;
}

.title1 span:after,
.title1 span:before {
    content: "";
    position: absolute;
    height: 25px;
    top: 6px;
    width: 69px;
}

.title1 span:before {
    background: url(../images/title1.png) 4px center no-repeat;
    right: 100%;
    margin-right: 0;
}

.title1 span:after {
    background: url(../images/title2.png) 0 center no-repeat;
    left: 100%;
    margin-left: 0;
}

h4.title:after,
h4.title:before {
    content: " ";
    padding: 0 35px;
    height: 25px;
    z-index: 1;
    position: relative;
}

h4.title:after {
    background: url(../images/title2.png) 4px center no-repeat;
    transition: all .35s;
}

h4.title:before {
    background: url(../images/title1.png) 0 center no-repeat;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.call01 p:before,
.cmn_head h1 span:before {
    content: "";
    bottom: 0;
}

.bgimg-3 .why_choose {
    background: 0 0;
    margin: 2em 0;
    padding: 0;
}

.bgimg-3 .why_choose ul li {
    background: #FFF;
    padding: 1em;
    border: 8px solid #482B97;
    border-radius: 5px;
    width: 33%;
    margin-right: 1%;
}

.why_choose {
    width: 100%;
    background-color: #482B97;
    background-image: url(../images/dreamtrip.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
    margin-top: 1em;
}

.why_choose h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 20px;
}

.why_choose ul {
    margin: 0;
    padding: 0;
}

.why_choose ul li {
    width: 33%;
    height: auto;
    float: left;
    min-height: 183px;
    border-radius: 6px;
    text-align: center;
    padding-left: 20px;
    transition: all .3s ease;
}

.why_choose ul li h2 {
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: #FFF;
    font-weight: 400;
}

.bgimg-3 .why_choose ul li h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    color: #2c375c;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.bgimg-3 .why_choose ul li p {
    color: #A9A9A9;
    font-size: 13px;
    text-align: center;
    padding: 0 3em;
}

.why_choose ul li p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
}

.bgimg-3 .why_choose ul li:hover .icon_area,
.bgimg-3 .why_choose ul li:hover h2,
.bgimg-3 .why_choose ul li:hover p {
    color: #2f2583;
}

.why_choose ul li:hover .icon_area,
.why_choose ul li:hover h2,
.why_choose ul li:hover p {
    color: #fff;
}

.btn,
.btn a,
.why_more {
    color: #FFF;
}

.why_more {
    width: 100%;
    text-align: center;
}

.btn {
    border: 1px solid #FFF;
    border-radius: 2px;
    background: #230668;
    margin-top: 1em;
    min-width: 150px;
    margin-bottom: 1em;
}

.btn:hover {
    background: #3a0ca7;
}

.breadcrumb_nav a,
.testimonial_area ul li {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.news_letter_btn:hover {
    background: #555658;
}

.inner_banner {
    width: 100%;
    height: auto;
    float: left;
}

.inner_banner {
    text-align: center;
    border-bottom: 10px solid #fff;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 5px solid #fff;
}

.pageTitle {
    width: 100%;
    float: left;
    text-align: left;
    padding: 82px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.pageTitle .container {
    position: relative;
    z-index: 9;
}

.pageTitle::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(127, 62, 152, 0.38);
}

.inner_banner img {
    border-bottom: 5px solid #302583;
}

.cmn_head p {
    color: #fff;
    font-size: 10px;
}

.breadcrumb_nav,
.cmn_head h1 {
    font-family: Lato, sans-serif;
}

.cmn_head h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

.cmn_head h1 span {
    position: relative;
}

.cmn_head h1 span:before {
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    border-bottom: 1px solid #f3f3f3;
}

.breadcrumb_nav,
.inner_about,
.inner_about01,
.outer_about {
    width: 100%;
    float: left;
}

.breadcrumb_nav {
    height: auto;
    color: #FFF;
    font-size: 14px;
}

.breadcrumb_nav a {
    color: #fff;
    font-weight: 300;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.breadcrumb_nav a img {
    margin-top: -5px;
}

.outer_about {
    background: #E3E6EF;
    padding-top: 35px;
    padding-bottom: 20px;
    height: auto;
}

.inner_about {
    height: auto;
    background: #fff;
    padding-top: 40px;
    padding-bottom: 0;
    position: relative;
    box-shadow: 1px 1px 8px 1px #ccc;
}

.inner_about01 {
    height: auto;
    min-height: 350px;
}

.inner_about01 p {
    font-family: 'Open Sans', sans-serif;
    color: #202123;
    font-size: 15px;
    margin-bottom: 10px;
    text-align: justify;
}

.dark {
    color: #362E87 !important;
}

.girl {
    width: 45%;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.girl img {
    width: 100%;
}

.main_mission_area {
    width: 100%;
    height: auto;
    float: left;
    background: #FFF;
    padding-top: 22px;
    border-bottom: 1px solid #e2e5ed;
}

.main_mission_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_mission_area ul li {
    width: 33%;
    min-height: 119px;
    float: left;
    background: url(../images/mission_bg01.png) center top no-repeat;
}

.cmn_content,
.cmn_icon,
.package_area {
    width: 100%;
    float: left;
}

.main_mission_area ul.spec li {
    padding: 0 1em;
}

.spec img {
    margin-bottom: 1em;
}

.cmn_icon {
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.cmn_icon img {
    margin: 21px 0 0;
}

.main_mission_area ul li h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    color: #7f3e98;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: left;
    padding: 0 20px 10px;
    background: url(../images/ab_h_back.png) 20px bottom no-repeat;
}

.cmn_content {
    min-height: 150px;
    padding: 0 15px;
}

.cmn_content p {
    font-family: 'Open sans', sans-serif;
    font-size: 14px;
    color: #212425;
    text-align: left;
    margin-bottom: 15px;
}

.package_area {
    height: auto;
    background: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.package_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.package_area ul li {
    width: 32%;
    height: auto;
    float: left;
    margin-left: 1%;
    margin-bottom: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .22);
    background: #fff;
}

.package_area ul.service_list li.flyimage {
    height: 242px;
    box-shadow: 0 0 0;
    float: right;
    width: 400px;
    background: url(../images/services.png);
}

.package_area ul.service_list li {
    width: 24%;
}

.offer {
    width: 84px;
    height: 84px;
    position: relative;
    z-index: 9;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.service_list .sp02 {
    margin-top: 0;
}

.border {
    border-left: 1px solid #e4e1e1;
    border-right: 1px solid #e4e1e1;
}

.serv {
    padding-top: 4em;
    background: #FFF;
}

.serv p {
    margin-left: 1%;
    color: #29273D;
    font-family: 'Open Sans';
}

.serv h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #7f3e98;
    text-align: left;
    font-weight: 700;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 1%;
    text-transform: uppercase;
}

.testimonials h5,
.testimonials h6 {
    font-family: Lato, sans-serif;
}

.sp02 {
    margin-top: -93px;
}

.pagination_area {
    width: 100%;
    height: auto;
    float: left;
}

.testimonial_area {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 30px;
    margin-top: 27px;
    background-color: #F7F7F7;
}

.testimonial_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.testimonial_area ul li {
    width: 48%;
    float: left;
    padding: 1px;
    background: #e5e5e5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 1.5%;
    margin-bottom: 17px;
}

.testi_more a,
.testimonials {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.testimonial_area ul li:hover {
    background: #CECCDB;
}

.testimonial_area ul li:hover .testimonials {
    box-shadow: 1px 1px 1px 1px #2F2583;
}

.testimonials {
    width: 100%;
    float: left;
    background: #fff;
    padding: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 1px 4px 3px #d1d1d1;
}

.areaFrmBtn,
.testi_more a {
    -webkit-transition: all .3s ease;
}

.test-foot {
    background: url(../images/nameicon.png) no-repeat;
}

.testimonials .test-foot h5,
.testimonials .test-foot strong {
    padding-left: 57px;
}

.testiImg {
    float: left;
    margin-top: -36px;
    padding: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.testiImg01 {
    float: left;
    border-radius: 50%;
    background: #fff;
    padding: 8px;
    box-shadow: 1px 6px 8px 0 #a6a7a5;
}

.testiImg01 img {
    border-radius: 50%;
    width: 100%;
}

.testimonials h5 {
    font-size: 18px;
    color: #463D90;
    font-weight: 700;
    margin-bottom: 5px;
}

.testimonials h6 {
    font-size: 13px;
    color: #2F2583;
    font-weight: 400;
    margin-bottom: 8px;
}

.testi_cont p,
.testi_more a {
    font-size: 14px;
    font-family: Lato, sans-serif;
}

.testi_cont {
    min-height: 120px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.testimonials strong {
    color: #686676;
}

.testi_cont p {
    color: #000026;
    text-align: justify;
}

.testi_more {
    width: 100px;
    height: 25px;
    float: right;
}

.testi_more a {
    color: #fff;
    text-align: center;
    line-height: 24px;
    height: 25px;
    display: block;
    background: #2F2583;
    transition: all .3s ease;
}

.areaFrmBtn,
.news_area ul li {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.testi_more a:hover {
    background: #d2d2d2;
    color: #fb0101;
}

.simplePopupBackground {
    display: none;
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.simplePopup {
    display: none;
    position: fixed !important;
    background: #fff;
    z-index: 9999999;
    width: 50%;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    max-width: 630px;
    min-width: 240px;
    max-height: 320px;
    float: left;
}

.md-content>div,
.md-content>div p,
.roomfield05,
.testimonialsArea {
    width: 100%;
    float: left;
}

.simplePopupClose {
    position: absolute;
    right: -12px;
    cursor: pointer;
    margin-top: -22px;
    display: none;
}

.address_girl,
.call01 p,
.main_news_cont,
.package_view {
    position: relative;
}

.roomfield05 {
    height: 280px;
    overflow: auto;
    background: #fff;
    padding: 15px;
}

.roomfield05 p {
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #979797;
    text-align: justify !important;
}

.md-content>div {
    padding: 10px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
    background: #130772;
}

.md-content>div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #868686;
    text-align: right;
}

.areaFrmBtn,
.chooseImg,
.leftTestimonial label {
    font-family: Lato, sans-serif;
}

.testimonialsArea {
    height: auto;
    padding: 20px;
    background: url(../images/testimonials.jpg) left bottom no-repeat #f4f4f4;
    margin-bottom: 20px;
    border: 1px solid #cecece;
    box-shadow: 2px 3px 5px #dcdcdc;
    margin-top: 30px;
}

.leftTestimonial {
    width: 50%;
    height: auto;
    float: right;
}

.leftTestimonial label {
    width: 100%;
    float: left;
    margin-bottom: 4px;
    font-size: 13px;
    color: #8a8989;
    cursor: default;
    font-weight: 400;
}

.inPtStyl {
    width: 100%;
    height: 32px;
    float: left;
    border: 1px solid #DADADA;
    background: #fff;
    padding: 0 10px;
    margin-bottom: 6px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.chooseImg,
.feedback {
    width: 100%;
    border: 1px solid #DADADA;
    background: #fff;
    margin-bottom: 6px;
    float: left;
}

.chooseImg {
    height: 34px;
    padding: 1% 10px;
}

.feedback {
    height: 100px;
    padding: 0 10px;
    resize: none;
}

.areaFrmBtn {
    width: 167px;
    height: 38px;
    float: left;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    line-height: 39px;
    font-weight: 700;
    border: none;
    background: #7f3e98;
    transition: all .3s ease;
}

.news_cont01 h3,
.news_discription p {
    font-weight: 400;
    font-family: Lato, sans-serif;
}

.areaFrmBtn:hover {
    background: #7f3e98;
    color: #fff;
}

.news_area {
    width: 100%;
    height: auto;
    float: left;
    background: #FFF;
    padding-bottom: 30px;
    padding-top: 20px;
}

.news_area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.news_area ul li {
    width: 23%;
    float: left;
    box-shadow: 2px 3px 5px #d7d7d7;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    margin-left: 1.5%;
    margin-bottom: 17px;
}

.main_news_cont,
.news_cont {
    background: #f1f1f1;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    width: 100%;
    float: left;
}

.main_news_cont {
    height: auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    overflow: hidden;
}

.news_cont,
.news_more a {
    -webkit-transition: all .3s ease;
}

.news_cont {
    right: 0;
    transition: all .3s ease;
}

.news_more a,
.send_btn01 {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.news_cont01 {
    width: 100%;
    padding: 0 23px 17px 23px;
    float: left;
}

.news_cont01 h3 {
    font-size: 15px;
    color: #858585;
    padding-top: 13px;
    margin-bottom: 10px;
    background: url(../images/news_day.png) left 9px no-repeat;
    padding-left: 27px;
    padding-bottom: 4px;
}

.news_cont01 h3 span {
    font-size: 40px;
}

.news_discription {
    width: 100%;
    min-height: 130px;
    float: left;
}

.news_discription p {
    font-size: 14px;
    color: #848484;
    margin: 10px 0;
}

.news_more {
    height: auto;
    float: right;
}

.news_more a {
    font-family: Lato, sans-serif;
    font-size: 13px;
    color: #FFF;
    transition: all .3s ease;
    background: #7f3e98;
    line-height: 13px;
    padding: 7px 10px;
    display: block;
}

.our_branches ul li,
.send_btn01 {
    -webkit-transition: all .3s ease;
}

.news_more a:hover {
    color: #fff;
    background: #120778;
}

.contact_area {
    width: 100%;
    min-height: 530px;
    float: left;
    background: #fff;
    padding-bottom: 25px;
    padding-top: 35px;
}

.address_girl {
    width: 375px;
    height: auto;
    float: right;
    margin-top: -145px;
    margin-right: 117px;
}

.main_contact_address {
    width: 100%;
    float: left;
    padding: 15px;
    background: #fff;
    margin-bottom: 30px;
}

.address {
    width: 34%;
    min-height: 50px;
    float: left;
    margin-bottom: 22px;
}

.email,
.fax,
.phone {
    width: 22%;
    min-height: 50px;
    float: left;
    margin-bottom: 22px;
}

.email,
.fax {
    padding-top: 75px;
}

.main_contact_address .email img,
.main_contact_address .fax img,
.main_contact_address .phone img {
    width: 38px;
    margin-bottom: 5px;
}

.main_contact_address .address img {
    width: 28px;
    margin-bottom: 5px;
}

.address h5,
.phone h5 {
    width: 100%;
    height: 55px;
    /* background: url(/Biscordint/images/cnt_back.png) 11px bottom no-repeat; */
    font-family: Lato, sans-serif;
    font-size: 29px;
    color: #7f3e98;
    line-height: 49px;
    padding-left: 0px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact_numbers,
.main_address {
    width: 100%;
    height: auto;
    float: left;
}

.main_address h2,
.main_address p {
    margin-bottom: 5px;
    font-weight: 400;
    font-family: Lato, sans-serif;
}

.email a {
    color: #333;
}

.email a:hover {
    color: #3829a2;
}

.main_address {
    padding: 10px;
}

.main_address h2 {
    font-size: 23px;
    color: #130772;
}

.main_address p {
    font-size: 14px;
    color: #555;
}

.contact_numbers ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact_numbers ul li {
    width: 30.5%;
    min-height: 92px;
    margin-left: 2%;
    float: left;
    overflow: hidden;
    background: url(../images/border_bottom.png) bottom repeat-x;
    transform: skew(21deg, 0deg);
    -webkit-transform: skew(21deg, 0deg);
    -moz-transform: skew(21deg, 0deg);
    -o-transform: skew(21deg, 0deg);
    -ms-transform: skew(21deg, 0deg);
}

.icons {
    width: auto;
    height: 92px;
    float: left;
    padding: 0 20px;
    background: url(../images/numbers_bg.png) repeat-x;
    margin-right: 13px;
}

.icons i {
    color: #fff;
    font-size: 30px;
    transform: skew(-21deg, 0deg);
    -webkit-transform: skew(-21deg, 0deg);
    -moz-transform: skew(-21deg, 0deg);
    -o-transform: skew(-21deg, 0deg);
    -ms-transform: skew(-21deg, 0deg);
    margin-top: 31px;
}

.contact_numbers ul li h3 {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: #130772;
    transform: skew(-21deg, 0deg);
    -webkit-transform: skew(-21deg, 0deg);
    -moz-transform: skew(-21deg, 0deg);
    -o-transform: skew(-21deg, 0deg);
    -ms-transform: skew(-21deg, 0deg);
    margin-top: 24px;
    font-weight: 700;
}

.contact_numbers ul li p,
.contact_numbers ul li p a {
    font-size: 18px;
    color: #585858;
    font-family: Lato, sans-serif;
}

.contact_numbers ul li p {
    font-weight: 400;
    transform: skew(-21deg, 0deg);
    -webkit-transform: skew(-21deg, 0deg);
    -moz-transform: skew(-21deg, 0deg);
    -o-transform: skew(-21deg, 0deg);
    -ms-transform: skew(-21deg, 0deg);
}

.main_contact_form {
    width: 100%;
    height: auto;
    min-height: 50px;
    float: left;
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #bbb;
}

.main_contact_form01 {
    width: 100%;
    height: auto;
    float: left;
    padding: 20px;
}

.main_contact_form01 h5 {
    font-family: Lato, sans-serif;
    font-size: 28px;
    color: #7f3e98;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.text01 label,
.text_first label {
    float: left;
    font-family: Lato, sans-serif;
    font-size: 13px;
    color: #555454;
    font-weight: 400;
    margin-bottom: 5px;
}

.text_first {
    width: 100%;
    height: auto;
    float: left;
}

.text_first label {
    width: 100%;
}

.text01 {
    width: 49%;
    height: auto;
    float: left;
    position: relative;
}

.mrg01 {
    margin-right: 2%;
}

.text01 label {
    width: 100%;
}

.txt_field,
.txt_field01 {
    float: left;
    padding: 0 43px 0 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: Lato, sans-serif;
}

.txt_field {
    width: 100%;
    height: 50px;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #696969;
}

.txt_fields {
    width: 84%;
    height: auto;
    float: left;
}

.text01 i {
    position: absolute;
    right: 16px;
    top: 36px;
    font-size: 21px;
    color: #7f3e98;
}

.icon01 {
    border-right: 3px solid #7f3e98;
}

.icon02 {
    border-right: 3px solid #7f3e98;
}

.icon03 {
    border-right: 3px solid #7f3e98;
}

.icon04 {
    border-right: 3px solid #7f3e98;
    width: 55px;
    height: 50px;
    float: left;
    margin-top: 0;
}

.icon05 {
    background: url(../images/message.png) 9px 14px no-repeat #fff;
    border-right: 3px solid #7f3e98;
}

.txt_field.select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border-right: 3px solid #7f3e98;
}

.txt_field01 {
    width: 100%;
    height: 130px;
    border: 1px solid #e5e5e5;
    resize: none;
    color: #a6a6a6;
}

.send_btn {
    width: 165px;
    height: 40px;
    margin: auto;
}

.location_map,
.our_branches,
.send_btn01 {
    width: 100%;
    float: left;
}

.send_btn01 {
    height: 40px;
    background: #7f3e98;
    border-radius: 10px;
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
    transition: all .3s ease;
}

.our_branches ul li,
.our_numbers i {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.send_btn01:hover {
    background: #7f3e98;
}

.location_map {
    /* height: 242px; */
    border-bottom: 12px solid #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .37);
    margin-bottom: 20px;
}

.our_branches {
    background: #F5F5F5;
    padding-top: 20px;
    height: auto;
    padding-bottom: 30px;
}

.our_branches h5 {
    font-family: Lato, sans-serif;
    font-size: 15px;
    color: #555;
    font-weight: 700;
}

.our_branches h6 {
    font-family: Lato, sans-serif;
    font-size: 26px;
    color: #7f3e98;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.our_branches h6 img {
    margin-top: -11px;
    margin-left: 11px;
}

.our_branches ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.our_branches ul li {
    width: 32%;
    min-height: 230px;
    float: left;
    background: #fff;
    border: 1px solid #d6d6d6;
    transition: all .3s ease;
    padding: 13px;
    margin-right: 1%;
    margin-bottom: 14px;
}

.our_numbers i,
.our_numbers p {
    margin-top: 10px;
    -webkit-transition: all .3s ease;
    float: left;
}

.our_addrs {
    width: 100%;
    min-height: 115px;
    float: left;
    margin-bottom: 5px;
}

.our_addrs h4 {
    width: 40px;
    padding: 5px;
    background: #DAD3D3;
    color: #130772;
    font-weight: 700;
    border: 1px solid #C8C8C8;
    font-size: 18px;
    border-radius: 7px;
    text-align: center;
    font-family: Lato, sans-serif;
}

.our_addrs p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #555;
    font-weight: 400;
}

.our_numbers {
    width: 100%;
    min-height: 40px;
    float: left;
    border-bottom: 1px solid #dbdbdb;
    background: #F3F3F3;
    margin-bottom: 3px;
    padding-left: 4px;
}

.our_numbers.one {
    border-left: 3px solid #7f3e98;
}

.our_numbers.two {
    border-left: 3px solid #7f3e98;
}

.our_numbers.brdr_n {
    border-left: 3px solid #7f3e98;
}

.our_numbers i {
    color: #7f3e98;
    font-size: 20px;
    margin-right: 16px;
    margin-left: 16px;
    transition: all .3s ease;
}

.our_numbers p,
.our_numbers p a {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #555;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.our_numbers p {
    font-weight: 400;
    transition: all .3s ease;
}

.about_more,
.about_more a,
.our_numbers p a {
    -webkit-transition: all .3s ease;
}

.our_numbers p a {
    transition: all .3s ease;
}

.about_more,
.about_more a {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.our_numbers p a:hover {
    color: #3829a2;
}

.our_numbers p span {
    font-size: 14px;
    font-weight: 700;
}

.brdr_n {
    border-bottom: none;
}

.package_view {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .23);
    background: #FFF;
}

.package_view_left {
    width: 60%;
    height: auto;
    float: left;
}

.package_view_left h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 22px;
    color: #7f3e98;
    font-weight: 700;
    min-height: 40px;
    padding-top: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.left_date ul li h5,
.left_date ul li p {
    font-family: Lato, sans-serif;
    font-weight: 400;
}

.main_date,
.package_viewImg {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    float: left;
}

.package_viewImg {
    border: 1px solid #d5d5d5;
    padding: 10px;
    box-shadow: 2px 3px 5px #e1e1e1;
}

.left_date {
    width: 50%;
    height: auto;
    float: left;
}

.left_date ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.left_date ul li {
    width: 48%;
    height: 73px;
    float: left;
    background: url(../images/btm.jpg) bottom repeat-x;
    border: 1px solid #dbdbdb;
    margin-right: 1%;
}

.left_date ul li img {
    float: left;
}

.left_date ul li h5 {
    font-size: 28px;
    color: #130772;
    padding-top: 8px;
}

.left_date ul li p {
    font-size: 16px;
    color: #5a5a5a;
}

.starting_area02 p span,
td.thead {
    font-weight: 700;
}

.starting_area01 {
    width: 60%;
    height: 110px;
    float: left;
    background: #7f3e98;
    margin-bottom: 1em;
}

.starting_area02 {
    width: 38%;
    height: 110px;
    float: right;
    padding: 21px 0;
    margin-bottom: 1em;
    background-color: #2B3990;
}

.table tr {
    border-bottom: 2px solid #FFF;
}

.table td {
    background: #F0F0F0;
    font-size: 15px;
}

.days,
.nights {
    font-size: 19px;
}

.days i,
.nights i {
    margin-right: 5px;
}

.days {
    margin-right: 5px;
}

.nights {
    margin-left: 5px;
}

td.thead {
    background: #E2E2E2;
    color: #2B3990;
    font-family: 'Open Sans Condensed';
    font-size: 17px;
}

.starting_area02 p {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    line-height: 27px;
}

.starting_area01 p.strt {
    background: url(../images/strt.png) center no-repeat;
    margin: 10px 0;
    height: 39px;
    opacity: 1;
    letter-spacing: 1px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 22px;
}

.starting_area01 p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: 8px;
    line-height: 18px;
}

.starting_area01 p span {
    font-size: 30px;
    font-weight: 700;
}

.call01,
.fbs {
    width: 100%;
    min-height: 58px;
    float: left;
}

.call01 img,
.fbs img {
    float: left;
    margin-right: 15px;
    width: 75px;
}

.call01 p {
    font-family: Lato, sans-serif;
    font-size: 22px;
    color: #141220;
    padding-top: 9px;
    padding-bottom: 23px;
}

.call01 p span,
.fbs p {
    font-size: 18px;
    color: #130772;
}

.fbs p {
    padding-top: 1em;
}

.package_right ul li h4,
.package_right ul li p {
    font-size: 16px;
    font-family: Lato, sans-serif;
}

.fbs:hover {
    display: block;
    cursor: pointer;
}

.call01 p:before {
    position: absolute;
    width: 66%;
    height: 1px;
    left: 21%;
    border-bottom: 1px dashed #323232;
}

.package_right {
    width: 36%;
    height: auto;
    float: right;
    padding-top: 50px;
}

.fb,
.main_booking,
.package_right ul li img {
    float: left;
}

.package_right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.package_right ul li {
    width: 100%;
    min-height: 77px;
    float: left;
    border: 1px solid #dadada;
    background: url(../images/btm.jpg) bottom repeat-x;
    margin-bottom: 8px;
}

.package_right ul li h4 {
    color: #130772;
    padding-top: 20px;
    font-weight: 700;
}

.package_right ul li p {
    color: #707070;
}

.main_booking {
    width: 100%;
    height: auto;
}

.fb {
    width: 50%;
    height: auto;
    border-bottom: 6px solid #10478e;
}

.booknow {
    width: 48%;
    height: 59px;
    float: right;
}

.imagesArea,
.tabarea,
.tabarea01 {
    width: 100%;
    float: left;
}

.booknow a {
    height: 59px;
    display: block;
    background: url(../images/book_now.png) repeat-x;
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 59px;
    font-weight: 700;
}

.txt_area label,
.txt_area03 label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.tabarea {
    height: auto;
    background: #FFF;
}

.booking_area01,
.imagesArea ul li,
.tabarea01 {
    background: #fff;
    height: auto;
}

.imagesArea {
    height: auto;
}

.imagesArea ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.imagesArea ul li {
    width: 21%;
    float: left;
    margin-left: 1%;
    padding: 1%;
    border: 1px solid #CCC;
    box-shadow: 2px 3px 4px #999;
    margin-bottom: 8px;
}

.booking_area,
.booking_area01,
.booking_form,
.booking_frm,
.mainBooking {
    width: 100%;
    float: left;
}

.booking_area01 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.booking_form {
    min-height: 200px;
    background: url(../images/holiday_bg.png);
    -webkit-box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, .24);
    -moz-box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, .24);
    box-shadow: inset 0 0 12px 2px rgba(0, 0, 0, .24);
}

.mainBooking {
    height: auto;
    padding: 10px;
}

.booking_area {
    height: auto;
    padding: 1%;
    background: #7f3e98;
}

.booking_frm {
    height: auto;
}

.txt_area {
    width: 23.7%;
    height: auto;
    float: left;
    margin-left: 1%;
}

.txt_area label {
    margin-bottom: 3px;
    width: 100%;
    float: left;
}

.txt_area01,
.txt_area02 {
    width: 100%;
    height: 39px;
    margin-bottom: 7px;
    border: 1px solid #cacaca;
    float: left;
    padding: 0 9px;
}

.txt_area01 {
    background: #fff;
    line-height: 39px;
}

.txt_area02 {
    background: url(../images/booking.png) right no-repeat #fff;
}

.txt_area03 {
    width: 48.4%;
    height: auto;
    float: left;
    margin-left: 1%;
}

.txt_area03 label {
    margin-bottom: 3px;
    width: 100%;
    float: left;
}

.txt_area04 {
    width: 100%;
    height: 89px;
    float: left;
    background: #fff;
    margin-bottom: 7px;
    resize: none;
    border: 1px solid #cacaca;
    padding: 0 9px;
}

.booking_btn01 {
    width: 136px;
    height: 90px;
    float: left;
    margin-left: 1%;
    border: none;
    background: #2B3990;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 19px;
    font-weight: 700;
}

.booking_btn01:hover {
    background: #1C75BC;
}

.aboutcont {
    width: auto;
    min-height: 170px;
}

.about_more {
    width: 112px;
    height: auto;
    padding: 5px 7px;
    transition: all .3s ease;
    margin: 0 auto 12px;
}

.about_more a,
.read_more {
    font-family: 'Open Sans';
    font-size: 15px;
    height: 20px;
    line-height: 13px;
    display: block;
}

.about_more a {
    color: #232323;
    transition: all .3s ease;
    background: url(../images/news_more_bg_hvr.png) right center no-repeat;
}

.about_more:hover a {
    color: #130772;
    background: url(../images/news_more_bg.png) right center no-repeat;
}

.read_more {
    color: #FFF;
    background: url(../images/read_more.png) right top no-repeat;
    width: 110px;
    margin: 0 auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.main_copyright p,
.more_testimonial_btn a {
    font-family: Lato, sans-serif;
    color: #fff;
}

.more_testimonial_btn {
    width: 130px;
    height: 30px;
    margin: auto auto 15px;
    border-radius: 4px;
    overflow: hidden;
}

.more_testimonial_btn a {
    height: 30px;
    display: block;
    line-height: 30px;
    background: #130772;
    font-size: 13px;
    text-align: center;
}

.more_testimonial_btn a:hover {
    background: #bf1118;
}

.main_copyright {
    width: 100%;
    float: left;
    padding: 10px 0;
    background: #100E62;
    margin-bottom: 2em;
}

.main_copyright p {
    font-size: 13px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.right img {
    margin-left: 5px;
}

.resp-vtabs .resp-tab-content {
    padding: 10px;
}

#summary_search_field {
    width: 100%;
    float: left;
    position: relative;
    background: rgba(255, 255, 255, .59);
    border-radius: 10px;
    display: none;
    padding: 10px;
}

#parentVerticalTab {
    position: relative;
    z-index: 9;
}

.multi_leg {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.multi_leg_head {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 500;
    border-bottom: 1px solid #a0a0a0;
    padding-bottom: 5px;
}

.multi_leg_head i {
    font-size: 22px;
    color: #FFF;
}

.right01 {
    float: right;
    cursor: pointer;
}

.multi_leg_sec {
    width: 100%;
    float: left;
    padding: 14px 0 0;
}

.first_area_frm {
    width: 32.2%;
    height: auto;
    float: left;
    margin-right: 1%;
}

.from_sec,
.from_sec02 {
    width: 100%;
    height: 47px;
    border-radius: 3px;
    padding-left: 40px;
    padding-right: 5px;
    font-weight: 400;
    color: #2f3292;
    float: left;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

.from_sec {
    background: url(../images/location_icon.png) left no-repeat #f5f5f5;
    border: none;
}

.from_sec02 {
    background: url(../images/calender.png) 6px 9px no-repeat #f5f5f5;
    border: none;
}

.add_multi_leg {
    width: 99%;
    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #FFF;
    text-align: right;
    line-height: 19px;
    border-top: 1px solid #a0a0a0;
    padding-top: 6px;
    margin-bottom: 5px;
}

.add_multi_leg a i {
    font-size: 22px;
    color: #FFF;
    float: right;
    margin-left: 6px;
    cursor: pointer;
}

.main_multi_leg {
    width: 100%;
    float: left;
}

.travel_area_frm {
    width: 32.3%;
    height: auto;
    float: right;
    margin-right: 1.3%;
    margin-top: 8px;
}

.travel_area_frm label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
}

.brdr_rads {
    border-radius: 3px;
}

.popup_srchbtn_area {
    width: 193px;
    height: 40px;
    float: right;
    margin-top: 14px;
    background: #251e54;
    background: -moz-linear-gradient(top, #7f3e98 0, #251e54 100%);
    background: -webkit-linear-gradient(top, #7f3e98 0, #251e54 100%);
    background: linear-gradient(to bottom, #7f3e98 0, #251e54 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7f3e98', endColorstr='#251e54', GradientType=0);
    margin-bottom: 14px;
    margin-right: 1.4%;
}

.siteseeing {
    height: 40px;
    float: left;
    margin: 0 10px 8px 0;
    display: block;
    padding: 0 12px 0 42px !important;
    background: url(../images/tab04.png) 9px 7px no-repeat #251E54 !important;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    color: #FFF;
    text-transform: capitalize;
    border-radius: 6px;
    line-height: 40px;
}

.travel_insurance {
    height: 40px;
    float: left;
    margin: 0 10px 8px 0;
    display: block;
    padding: 0 12px 0 42px !important;
    background: url(../images/travel_insurance_icon.png) left no-repeat #251E54 !important;
    font-family: Calibri, sans-serif;
    font-size: 16px;
    color: #FFF;
    text-transform: capitalize;
    border-radius: 6px;
    line-height: 40px;
}

.travel_insurance:hover,
.siteseeing:hover {
    background-color: #7f3e98;
    border: 2px solid #5A4CC1;
    color: #FFF;
}

.travel_insurance01 {
    display: none;
}

@media only screen and (min-width:200px) and (max-width:1200px) {
    .tab_search {
        width: 100%;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, .16);
        margin-top: 0;
        padding: 0 10px 20px;
        border: 1px solid rgba(0, 0, 0, .13);
    }
    .cmn_head {
        margin-top: -62px;
    }
    .our_branches ul li {
        width: 49%;
        margin-right: 1%;
    }
    .bt,
    .chk01 label,
    .part label,
    .part03 label,
    .part04 label,
    .part2 label {
        color: #2E2484;
    }
    .srch {
        font-size: 16px;
    }
    @media only screen and (min-height:1200px) {
        .sy-slide img {
            height: auto !important;
        }
    }
    @media only screen and (min-width:200px) and (max-width:990px) {
        .d_hide {
            display: block;
        }
        h4.title {
            font-size: 1.5em;
        }
        .part,
        .part03,
        .part04 {
            width: 100%;
        }
        .sy-slide>img {
            height: auto !important;
            max-height: 120vh;
        }
        .top_sec01 {
            position: fixed;
        }
        .cmn_head,
        .inner_banner,
        .subList {
            position: relative;
        }
        .sy-caption-wrap .sy-caption {
            text-align: center !important;
        }
        .contact_numbers ul li h3,
        .contact_numbers ul li p,
        .footer_address,
        .footer_nav,
        .footer_newsletter,
        .hm_about p,
        .holiday_foot .book_btn,
        .icon_area,
        .icons,
        .our_numbers,
        .pkg_btn_area .book_btn,
        .quick_contact,
        .testimonials .col-sm-4,
        .testimonials .col-sm-6,
        .why_choose ul li h2,
        .why_choose ul li p {
            text-align: center;
        }
        .sy-caption-wrap {
            right: 0 !important;
            width: 100%;
            top: auto !important;
            bottom: 0;
        }
        .tab_search {
            padding: 0 !important;
            background: #fff;
            z-index: 0;
        }
        .tabFormArea01 {
            padding: 20px 0;
            margin-bottom: 5px;
        }
        .international_area ul li {
            width: 100%;
            margin-bottom: 10px;
            padding: 0;
        }
        .international_area ul li img {
            width: 60%;
            padding: 0;
        }
        .international_area .service_home ul li h4 {
            font-size: 1.4em;
        }
        .read_more {
            font-size: 12px;
        }
        .why_choose ul li {
            margin-left: 0;
        }
        .icon_area {
            width: 100%;
            margin-right: 0;
            line-height: 10px;
        }
        .news_letter,
        .news_letter_btn {
            margin: 1em 0 0;
        }
        .iata {
            height: auto;
            margin-top: 10px;
        }
        .day,
        .night {
            background: 0 0;
            padding-left: 2px;
            width: 24%;
        }
        .holiday_foot .book_btn {
            width: 40%;
            padding: 10px 7px;
        }
        p.left span {
            display: block;
        }
        .why_choose h5 {
            padding-top: 7px;
        }
        .international_area h3 {
            font-size: 26px;
        }
        .cmn_head h1,
        .international_area h4 {
            font-size: 24px;
        }
        .cmn_head {
            margin-top: 0;
            padding-bottom: 10px;
            top: 0;
            background: #7f3e98;
            margin-bottom: -23px;
        }
        .cmn_head p {
            color: #130772;
        }
        .breadcrumb_nav a img {
            display: none !important;
        }
        .inner_banner {
            border-bottom: 9px solid #fff;
        }
        .girl,
        .inner_about01 {
            width: 100%;
        }
        .main_mission_area ul li {
            width: 100%;
            min-height: 50px;
            float: left;
            background: 0 0;
            border: 1px dashed #fff;
            padding: 10px;
            margin-bottom: 10px;
        }
        .package_area ul li {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
        }
        .holder {
            margin: 12px 0 !important;
        }
        .mrg01,
        .our_branches ul li,
        .testiImg {
            margin-right: 0;
        }
        .package_area {
            border-bottom: 10px solid #fff;
            padding-bottom: 10px;
            background: #fff;
        }
        .testiImg {
            width: 150px;
            padding: 7px;
        }
        .testimonials .col-sm-2 {
            width: 40px;
            padding: 0;
            float: left;
        }
        .testimonials .col-sm-2 img {
            width: 100%;
        }
        .testimonials .col-sm-4 {
            width: calc(100% - 40px);
            float: right;
        }
        .testi_more {
            width: calc(100% - 50px);
        }
        .testi_more a {
            padding: 0 5px;
            display: inline-block;
        }
        .testimonial_area ul li {
            width: 100%;
            margin-left: 0;
        }
        .testimonialsArea {
            background: #f4f4f4;
        }
        .leftTestimonial,
        .news_area ul li {
            width: 100%;
        }
        /*
        .news_cont {
            width: 70%;
        }
*/
        .icons,
        .text01 {
            width: 100%;
        }
        .contact_numbers ul li {
            width: 100%;
            min-height: 10px;
            transform: skew(0deg, 0deg);
            -webkit-transform: skew(0deg, 0deg);
            -moz-transform: skew(0deg, 0deg);
            -o-transform: skew(0deg, 0deg);
            -ms-transform: skew(0deg, 0deg);
            margin-left: 0;
            border: 1px solid #130772;
            margin-bottom: 13px;
            padding-bottom: 14px;
        }
        .icons i {
            transform: skew(0deg, 0deg);
            -webkit-transform: skew(0deg, 0deg);
            -moz-transform: skew(0deg, 0deg);
            -o-transform: skew(0deg, 0deg);
            -ms-transform: skew(0deg, 0deg);
            margin-top: 9px;
        }
        .icons {
            height: 48px;
        }
        .contact_numbers ul li h3,
        .contact_numbers ul li p {
            transform: skew(0deg, 0deg);
            -webkit-transform: skew(0deg, 0deg);
            -moz-transform: skew(0deg, 0deg);
            -o-transform: skew(0deg, 0deg);
            -ms-transform: skew(0deg, 0deg);
        }
        .address_girl {
            display: none;
        }
        .our_branches ul li {
            width: 100% !important;
        }
        .booking_btn01,
        .left_date,
        .package_right,
        .package_view_left,
        .popup_srchbtn_area,
        .starting_area01,
        .starting_area02,
        .txt_area,
        .txt_area03 {
            width: 100%;
        }
        .our_numbers i,
        .our_numbers p {
            float: none;
        }
        .left_date {
            margin-bottom: 10px;
        }
        .book_btn {
            font-size: 15px;
        }
        .address,
        .email,
        .fax,
        .package_area ul.service_list li,
        .phone {
            width: 100%;
            margin-bottom: 5px;
            padding-top: 5px;
        }
        .left_date ul li:nth-child(2n) {
            float: right;
            margin-right: 0;
        }
        .package_right {
            padding-top: 10px;
        }
        .tabarea {
            padding-bottom: 10px;
            border-bottom: 10px solid #fff;
        }
        .txt_area,
        .txt_area03 {
            margin-left: 0;
        }
        .booking_btn01 {
            height: 50px;
            margin-left: 0;
            margin-top: 1px;
        }
        .about_more {
            float: none;
            margin: 10px auto;
        }
        .siteseeing {
            width: 47px;
            height: 40px;
            padding: 0 !important;
            background: url(../images/tab04.png) 10px 6px no-repeat #261d56 !important;
        }
        .travel_insurance {
            float: left;
            margin: 0 10px 8px 0;
            display: block;
            font-family: Calibri, sans-serif;
            font-size: 16px;
            color: #FFF;
            text-transform: capitalize;
            border-radius: 6px;
            line-height: 40px;
            width: 47px;
            height: 40px;
            padding: 0 !important;
            background: url(../images/travel_insurance_icon.png) 4px 6px no-repeat #261d56 !important;
        }
        .resp-vtabs .resp-tabs-list li span,
        .travel_insurance span,
        .siteseeing span {
            display: none;
        }
        .resp-vtabs .resp-tabs-list li.flight,
        .resp-vtabs .resp-tabs-list li.holiday,
        .resp-vtabs .resp-tabs-list li.hotel,
        .resp-vtabs .resp-tabs-list li.siteseeing {
            font-family: FontAwesome;
            position: relative;
            top: 0;
            color: #302486;
            width: 47px;
            height: 40px;
            padding: 0 !important;
        }
        .resp-vtabs .resp-tabs-list li.flight {
            content: "\f072";
            font-size: 30px;
        }
        .resp-vtabs .resp-tabs-list li.hotel {
            content: "\f236";
            font-size: 29px;
        }
        .resp-vtabs .resp-tabs-list li.holiday {
            content: "\f1b9";
            font-size: 20px;
        }
        .resp-vtabs .resp-tabs-list li.siteseeing {
            content: "\f05d";
            font-size: 28px;
        }
        .resp-vtabs .resp-tabs-list li {
            margin: 0 0 8px 10px;
        }
    }
    @media only screen and (min-width:200px) and (max-width:570px) {
        .frmArea,
        .part03,
        .part04,
        .sbmit {
            width: 100%;
        }
        .sy-caption span {
            font-size: 30px !important;
            background: 0 0 !important;
        }
        .sy-caption-wrap .sy-caption {
            line-height: 26px !important;
        }
        .gif_area {
            display: none;
        }
        .spmrg {
            margin-right: 0;
        }
        .testi_cont p,
        .testimonials h6 {
            text-align: center;
        }
        .news_cont {
            width: 100% !important;
            transform: skew(0deg, 0deg);
            -webkit-transform: skew(0deg, 0deg);
            -moz-transform: skew(0deg, 0deg);
            -o-transform: skew(0deg, 0deg);
            -ms-transform: skew(0deg, 0deg);
            position: relative;
            border-left: 0;
        }
        .news_cont01 {
            width: 100%;
            min-height: 195px;
            transform: skew(0deg, 0deg);
            -webkit-transform: skew(0deg, 0deg);
            -moz-transform: skew(0deg, 0deg);
            -o-transform: skew(0deg, 0deg);
            -ms-transform: skew(0deg, 0deg);
            padding: 10px;
        }
        .newsImg {
            width: 100%;
            height: auto;
        }
        .news_discription {
            width: 100%;
            min-height: 80px;
            float: left;
            padding-bottom: 10px;
        }
        .package_area ul.service_list li.flyimage {
            display: none;
        }
        .first_area_frm {
            width: 100%;
            margin-right: 0;
            margin-bottom: 5px;
        }
        .travel_area_frm {
            width: 100%;
            margin-right: 0;
            margin-top: 8px;
        }
    }
    @media only screen and (min-width:200px) and (max-width:400px) {
        .title1 span::after,
        .title1 span::before {
            width: 45px;
        }
        .title1 span::before {
            background: url(../images/title1.png) center right no-repeat;
        }
        .testiImg {
            margin-right: 0;
            width: 100%;
            padding: 7px;
        }
        .testiImg01 {
            width: 150px;
            margin: 0 auto;
            float: none;
        }
        .testimonials h5 {
            padding-left: 0;
        }
    }
    @media only screen and (min-width:200px) and (max-width:660px) {
        .scrl_pic {
            float: none;
            margin: 0 auto 10px;
        }
        .hm_test_cont p {
            padding: 0 7px !important;
        }
        .bgimg-3 {
            box-shadow: 2px 3px 8px rgba(0, 0, 0, .74);
            position: relative;
            min-height: 543px;
        }
        .hm_clients {
            display: block;
        }
        .bgimg-3 .why_choose,
        .footer_address img {
            display: none;
        }
        .client-logo {
            list-style: none;
        }
        .bgimg-3 .why_choose ul li {
            width: 90%;
        }
        .left,
        .right {
            width: 100%;
            float: left;
            text-align: center;
        }
    }
}

#itemContainer .modal-header {
    background: #7F3F98;
}

#itemContainer .modal-title,
#budget .modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
}

#budget .close,
#budget .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}

.popImg {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.popImg img {
    width: 100%;
}

.modal-content {
    width: 100%;
    float: left;
}

.modal-body {
    width: 100%;
    float: left;
}

.newCont h3 {
    font-size: 15px;
    color: #858585;
    padding-left: 27px;
    padding-bottom: 4px;
}

.newCont h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #362E87;
    margin-bottom: 5px;
}

.description,
.description p,
.description p span {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    background: none !important;
}

.test_popup {
    float: left;
    margin-right: 15px;
}

.testiCont h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #463D90;
    font-weight: 700;
    margin-bottom: 5px;
}

.testiCont h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #686676;
    font-weight: 500;
    margin-bottom: 5px;
}

.testiCont h3,
.testi_cont h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 19px;
}