/*----- Global -----*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@font-face { font-family: 'CenturyGothic-Regular'; src: url('CenturyGothic_gdi.eot'); src: url('CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'), url('CenturyGothic_gdi.woff') format('woff'), url('CenturyGothic_gdi.ttf') format('truetype'), url('CenturyGothic_gdi.otf') format('opentype'), url('CenturyGothic_gdi.svg#CenturyGothic-Regular') format('svg'); font-weight: 400; font-style: normal; font-stretch: normal; unicode-range: U+0020-F003; }

.wrap {
	padding:60px 0px;
	background:#4a98d3;
	background:radial-gradient(at 40% 30%, #4a98d3, #00598f);
}



.site-header-wrap {
	margin-bottom:0px;
	border-bottom:1px solid #53a0dc;
}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
	    float: left;
}

	/*----- Tab Links -----*/
	/* Clearfix */
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}
.tab-links{
    padding: 0px;
	    width: 100%;
    margin: auto;position:relative;
	z-index:9;
}
	.tab-links li {
		margin:0px;
		float:left;
		list-style:none;
		padding-bottom:8px;
	}
	.tab-links li:last-child a{border-right:none;}

		.tab-links a {
			padding:9px 18px;
			display:inline-block;
			
			font-family: 'CenturyGothic-Regular';
    font-size: 14px;
    color: #7b7a7a;
    font-weight: 400;
			transition:all linear 0.15s;
			text-transform:uppercase;
			text-align:center;
			border-right:1px solid #e2e2e2;
		
		}
		.tab-links a i{font-size: 18px; margin-right: 8px;}

		.tab-links a:hover {
			background:#de2115;
			text-decoration:none;
			color:#FFF;
		}
	.tab-links li.active, .tab-links li:hover{
		background:url(../images/dwn.png) no-repeat center bottom;
	}
	.tab-links li.active a, .tab-links li.active a:hover {
		background:#de2115;
		color:#FFF;
	}
.sp_brdr_left{
-webkit-border-top-left-radius: 3px;
-moz-border-radius-topleft: 3px;
border-top-left-radius: 3px;
overflow:hidden;
}
	/*----- Content of Tabs -----*/
	.tab-content {
		width: 100%;
		float: left;
		/*background:url(../images/red_bg.jpg) repeat-y right;*/
	}

		.tab {
			display:none;
		}

		.tab.active {
			display:block;
		}

}
