
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
* {
	margin: 0;
	padding: 0;
}
img {
	outline: none;
}
body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
a {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a:focus {
	outline: none;
	text-decoration: none;
}
a:hover {
	color: #000;
}
p {
	font-weight: 300;
	text-align: left;
	line-height: 22px;
	margin: 0;
	padding: 0;
	color: #444 !important;
}
section {
	padding: 60px 0;
}
:focus{
	outline: none;
}

/*====================================
=            Helper Class            =
====================================*/
.m-t-10 {
	margin-top: 10px;
}
.m-t-20 {
	margin-top: 20px;
}
.m-t-15 {
	margin-top: 15px;
}
.m-t-25 {
	margin-top: 25px;
}
.m-t-30 {
	margin-top: 30px;
}
.m-t-50 {
	margin-top: 50px;
}
.m-t-70 {
	margin-top: 70px;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-15 {
	margin-bottom: 15px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-25 {
	margin-bottom: 25px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.m-b-50 {
	margin-bottom: 50px;
}
.p-r-0 {
	padding-right: 0;
}
.p-0 {
	padding: 0;
}
.p-t-10 {
	padding-top: 10px;
}
.p-t-15 {
	padding-top: 15px;
}
.p-t-20 {
	padding-top: 20px;
}
.p-t-25 {
	padding-top: 25px;
}
.p-t-30 {
	padding-top: 30px;
}
.p-b-10 {
	padding-bottom: 10px;
}
.p-b-15 {
	padding-bottom: 15px;
}
.p-b-20 {
	padding-bottom: 20px;
}
.p-b-25 {
	padding-bottom: 25px;
}
.p-b-30 {
	padding-bottom: 30px;
}

/*=====  Banner CSS BOF  ======*/
.relative {position:relative;}
.carousel-inner img {
	width: 100%;
	min-height: 960px;
}

.first-slide {
	background: url(../images/slide-1.jpg) no-repeat center center;
	background-size: cover;
	min-height: 960px;
}
.second-slide {
	background: url(../images/slide-2.jpg) no-repeat center center;
	background-size: cover;
	min-height: 960px;
}
.third-slide {
	background: url(../images/slide-3.jpg) no-repeat center center;
	background-size: cover;
	min-height: 960px;
}
.cmn_area_modify button{
	display: none;
}
.carousel-inner > .item::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
}
.carousel-indicators {
	display: none;
}
.carousel-control {
	opacity: 1;
	text-shadow: none;
}
.carousel-control.right {
	right: 30px !important;
	left: auto !important;
}
.carousel-control.left, .carousel-control.right {
	width: 51px;
	height: 51px;
	left: 30px;
	right: auto;
	top: 50%;
	background: rgba(255, 255, 255, 1);
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	border-radius: 50px;
	text-align: center;
}
.carousel-control.left i, .carousel-control.right i {
	line-height: 51px;
	font-size: 22px;
	color: #48515a;
}
.carousel-control:focus, .carousel-control:hover {
	background: rgba(0, 0, 0, 1);
}
.carousel-control:focus I, .carousel-control:hover I {
	color: #fff;
}
/*================Booking-Form-Css================*/

.search-section {
	width: 100%;
	position: relative;
	background: rgba(69,78,87,.8);
	border-radius:5px;
}
.bannersec{
	padding: 70px 0px;
	background-size: cover;
	background-position: center;
	min-height: 453px;
}
.search-section .tab-content {
	color: #fff;
	padding:0;
}
.sp_padding {
    padding: 3px 30px 0;
}
.search-section label {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 5px;
}
.search-section .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
	background: #fff;
}
.search-section .form-control {
	background:#9ea4aa;
	border: none;
	border-right: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 40px;
	line-height: 1.42857;
	padding: 6px 10px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	font-weight:500;
}
.search-section .location-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #fff;
    border-left: 2px solid #fff;
    z-index: 3;
    width: 48px;
    height: 40px;
    line-height: 43px;
    text-align: center;
	background: #9ea4aa;
}
 .search-section .form-control::-moz-placeholder {
 color: #fff;
 opacity: 1;
}
 .search-section .form-control:-ms-input-placeholder {
 color: #fff;
}
 .search-section .form-control::-webkit-input-placeholder {
 color: #fff;
}
 .search-section .form-control::-o-input-placeholder {
 color: #fff;
}
.search-section .input-group-addon {
	background: transparent;
	color: #e00024;
	border: none;
}
.search-section .search-col-padding {
	padding-top: 15px;
}
.search-section option {
	color: #07253F;
}
/*===========================================
=            Radio Button Custom            =
===========================================*/
.radio {
	padding: 20px 0 0 13px;
}
.radio label {
	display: inline-block;
	position: relative;
	padding-left: 8px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}
.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	margin-left: -13px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 2px;
}
.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 14px;
	height: 14px;
	left: 8px;
	top: 3px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #34adc6;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
	opacity: 0;
}
.radio input[type="radio"]:checked + label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
.radio.radio-inline {
	margin-top: 0;
}
.radio-success input[type="radio"] + label::after {
	background-color: #c32033;
}
.radio-success input[type="radio"]:checked + label::before {
	border-color: #c32033;
}
.radio-success input[type="radio"]:checked + label::after {
	background-color: #c32033;
}
/*================================
=            Calendar            =
================================*/
.calendar {
	background: #fff;
	overflow: hidden;
}
.ui-datepicker {
	background: #f7f7f7;
	border: none;
	display: none;
	z-index: 9999 !important;
}
.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #c32033;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.04em;
}
.ui-datepicker-prev, .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 8482829px;
	border: 1px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 16px;
}
.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}
.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}
.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}
.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}
.ui-datepicker-prev:after, .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
	border-color: #000;
	color: #000;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}
.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #000;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
}
.ui-state-default {
	display: block;
	text-decoration: none;
	color: #000;
	line-height: 40px;
	font-size: 15px;
	font-weight: 700;
}
.ui-state-default:hover {
	background: #c32033;
	color: #fff;
	text-decoration: none;
}
.ui-state-highlight {
	color: #fff;
	background: #c32033;
	text-decoration: none;
}
.ui-state-active {
	background: #e00024 none repeat scroll 0 0;
	color: #fff;
}
.ui-datepicker-unselectable .ui-state-default {
	color: #959595;
	border: 2px solid transparent;
}
.ui-datepicker-trigger {
    background: #9ea4aa;
    border: medium none;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0px;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    width: 48px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    z-index: 3;
    border-left: 2px solid #fff;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
/*    border: 1px solid $orange; */ }
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 39px !important;
    width: 48px !important;
    background: #9ea4aa;
    border-radius: 0;
    margin: 0;
    line-height: 34px;
    text-align: center;
    font-size: 18px !important;
    border-left: 2px solid #fff;
}
.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
	border: none !important;
	border-radius: 0 !important;
}
.select2-results__option {
	width: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff !important;
    line-height: 40px !important;
    font-size: 16px;
    padding-left: 10px !important;
	background:#9ea4aa;
	font-weight:500;

}
.select2-container--default .select2-selection--single {
	background: rgba(255, 255, 255, 0.4);
	/*     input background color */
	border: none !important;
	border-radius: 0 !important;
}
.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #c32033 !important;
	/*   option hover background */
	color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #c32033 !important;
/*   option hover background */ }
.select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.search-button {
    display: inline-block;
    background: #c32033;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    width: auto;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    float: right;
    padding: 9px 17px;
    margin-bottom: 30px;
}
.search-button:hover {
    background: #FFF;
    color: #49535d;
}
.search-section .radio{
    line-height: 23px;
}
.search-section .input-group input::placeholder{
	color: #fff;
}
.search-section .input-group .calender_area{
	padding-right: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.search-section .input-group input{
	background: #9ea4aa;
    border: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-weight: 500;
    opacity: 1 !important;
}
.autocomplete-results {
    width: 100%;
    padding: 0px;
    margin: 0;
    border: 1px solid #bbbbbb;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 84828299;
    top: 41px;
    left: 0px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.13);
}
.autocomplete ul.autocomplete-results li {
    font-size: 13px;
    font-weight: 300;
    color: #3c3c3c;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #FFF;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
    color: #b1bdff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: #c32033;
    color: #FFF !important;
}

.autocomplete-result:hover {
    background-color: #c32033;
    color: #FFF;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}
.select2-results__options::-webkit-scrollbar {
    width: 5px;
}
.select2-results__options::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}
.validation_home{
	width: 100%;
    background: #c32033;
    padding: 11px 10px;
    text-align: center;
    color: #FFF;
    position: absolute;
	top: 0;
	-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.multi_area_sec {
    width: 100%;
	float: left;
	padding: 15px 15px 0px 15px;
}
.multi_area {
    width: 100%;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin-bottom: 5px;
    background: rgba(66, 70, 77, 0.46);
}
.add_multi_sec {
    width: auto;
    float: right;
    margin-bottom: 5px;
    cursor: pointer;
}
.add_multi_sec a {
    padding: 5px 9px;
    background: #c32033;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #FFF;
    font-weight: 500;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
}
.add_multi_sec a i {
    font-size: 16px;
    margin-left: 10px;
}
.multi_area h2 {
    font-size: 19px;
    margin-bottom: 9px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.31);
}
.multi_area h2 i {
    color: #FFF;
    margin-left: .3em;
    font-size: 21px;
    margin-top: -6px;
    cursor: pointer;
}
/* visa css */
.mainCont_area {
    width: 100%;
    float: left;
    padding: 0px 0px 20px 0px;
}
.service_banner{width: 100%; float: left;margin-bottom: 20px;background-size: cover; background-position: center top;position: relative;background-repeat: no-repeat;background:#000; padding: 66px 0px;}
.service_banner h2{
	font-size: 22px;
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
}
/* .service_banner::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(155, 6, 23, 0.53);
} */
.service_banner h1{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	padding: 85px 10px;
	position: relative;
	z-index: 9;
}
.service_banner img{width: 100%;}
.maincont_sec {
    width: 100%;
    float: left;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 16px;
}
.visarequest_form {
    width: 410px;
    float: right;
    padding: 0px;
    padding: 10px;
    background: #2d2d2d;
	margin-left: 20px;
	position: relative;
    z-index: 1;
}
.visarequest_form h1 {
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}
.visa_text_sec {
    width: 100%;
    float: left;
    height: 38px;
    background: #FFF;
    border: none;
    margin-bottom: 9px;
    padding: 10px;
}
.visa_textarea_sec {
    width: 100%;
    float: left;
    height: 66px;
    background: #FFF;
    border: none;
    margin-bottom: 9px;
    padding: 10px;
    resize: none;
}
.visa_submit_btn {
    width: 100%;
    float: left;
    height: 40px;
    border: none;
    background: #c32033;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.maincont_sec h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px !important;
    color: #c32033;
}
.maincont_sec h3 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10px !important;
    color: #2d2d2d;
}
.maincont_sec h4 {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 10px !important;
    color: #c32033;
}
.maincont_sec p{
	font-weight: 400;
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    color: #000 !important;
}
.maincont_sec ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: 15px;
}
.maincont_sec ul li {
    position: relative;
    padding-left: 18px;
}
.maincont_sec ul li::before {
    width: 9px;
    height: 9px;
    background: #c32033;
    border-radius: 50%;
    position: absolute;
    content: '';
    left: 0;
    top: 3px;
}
/* Tour list */
.btmred {
    width: 100%;
    min-height: 44px;
    float: left;
    background: #2d2d2d;
    margin-bottom: 19px;
}
.btmred h1 {
    margin-bottom: 0px !important;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    padding-top: 12px;
}
.tours_sec {
    width: 100%;
    float: left;
}
.search_card {
    width: 100%;
    float: left;
    background: #FFF;
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    border-radius: 5px;
    /* overflow: hidden; */
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.08);
}
.card_head {
    width: 100%;
    float: left;
    background: #2d2d2d;
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    height: 43px;
    line-height: 26px;
}
.card_content {
    width: 100%;
    float: left;
    padding: 12px;
}
.card_txt {
    width: 100%;
    float: left;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-bottom: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.card_content a {
    cursor: pointer;
    font-size: 12px;
    float: right;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.card_txt_dwn {
    width: 100%;
    float: left;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    padding: 10px;
    margin-bottom: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: url(../images/down_arrow.png) no-repeat right;
    -webkit-appearance: none;
}
.card_price {
    width: 100%;
    float: left;
    position: relative;
}
#slider-range{width: 100% !important;height: 7px !important;background: rgba(226, 226, 226, 0.35);}
.ui-slider-horizontal .ui-slider-handle {top: -7px !important; cursor: pointer;}
.ui-slider-horizontal .ui-slider-handle:focus{outline: none;}
#amount{width: 100%;}
#amount:focus{outline: none;}
.maintour_sec{width: 100%;float: left;background: #FFF; position: relative; overflow: hidden; border-radius: 5px; margin-bottom: 20px;}
.maintour_sec img{width: 100%; height: 263px;}
.tour_overlay{width: 100%;float: left;position: absolute;height: 100%;left: 0;top: 0;background: rgba(0, 0, 0, 0.42);padding: 10px;-webkit-transition: all 0.5s ease-in-out;    -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
.tour_overlay:hover{background: rgba(195, 32, 51, 0.68);}
.tour_price{position: absolute; right: 13px; top: 10px; color: #FFF; text-transform: uppercase; font-size: 19px; font-weight: 600;}
.tour_duration{float: left;}
.duration_sec{width: 100%; float: left; color: #FFF; text-transform: uppercase; font-size: 13px; margin-bottom: -1px;}
.tourName{position: absolute; left: 0px; bottom: 120px; color: #FFF; text-transform: uppercase; font-size: 16px; font-weight: 600; width: 100%; text-align: center;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.details_tour{width: 100%; top: 134px; left: 0px; position: absolute; padding: 0px 78px;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;opacity: 0;}
.details_tour a{ color: #FFF; text-align: center; display: block; border: 1px solid #FFF; padding: 5px 0px; height: 30px;line-height: 20px;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;border-radius: 2px;}
.details_tour a:hover{background: #fb9a1e;text-decoration: none;}
.tour_overlay:hover .details_tour{opacity: 1;    top: 110px;}
.tour_overlay:hover .tourName{bottom: 13px;}

.toursbanner{width: 100%; float: left; background-image: url(../images/tourbanner.png); height: 230px; background-position: center; background-repeat: no-repeat; background-size: cover;position: relative;}
.toursbanner::after{content: '';position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgba(0, 0, 0, 0.46);}
.toursbanner h2{color: #FFF; position: relative; z-index: 1; text-align: center; font-size: 25px; padding-top: 102px;}
.toursbanner h2 span{color: #ff455b;}
.main_tour_sec{width: 100%;float: left;}
.tour_tabs{width: 100%;float: left;position: relative;}
.panel-collapse{display: block !important;}
.panel-heading{display: none;}
.tour_tabs .nav-tabs{border-bottom: none; background: #ebebeb;}
.tour_tabs .panel{border:none !important;box-shadow: none;}
.tour_tabs .nav > li::after{display: none;}
.tour_tabs .nav > li{padding: 0px;margin:0px;}
.tour_tabs .nav > li a{padding: 15px 20px;border-radius: 0px;border: none;text-transform: uppercase;color: #808080;}
.tour_tabs .nav-tabs > li.active > a, .tour_tabs .nav-tabs > li.active > a:focus, .tour_tabs .nav-tabs > li.active > a:hover{color: #fff !important; background-color: #c32033 !important;border:none !important;}
.tour_tabs .panel-body{padding: 15px 10px; color: #404040; line-height: 22px; font-weight: 300;text-align: justify;}
.tour_tabs .panel-body p{color: #404040; line-height: 22px; font-weight: 300;text-align: justify;}
.tourpackageimg{width: 100%;float: left;margin-bottom: 12px;position: relative;}
.tourpackageimg h4{position: absolute; top: 0; right: 0; height: 40px; margin-bottom: 0px !important; line-height: 41px; padding: 0px 16px; background: #c32033; color: #FFF;}
.tourpackageimg img{width: 100%;height: 458px;}
.tour_tabs .panel-body h3{font-size: 23px; color: #c32033;}
.tour_tabs .panel-body h5{font-size: 14px; color: #c32033; font-weight: 400;}
.tour_gallery{width: 100%;float: left;}
.gallery img{width: 100%; height: 153px;}
.gallery{padding:0px 6px !important;margin-bottom: 12px;}
.tour_book{width: 100%; float: left; position: relative; }
.tour_book h3{padding: 12px 20px; color: #fff !important; background-color: #c32033 !important; font-size: 18px; height: 49px; line-height: 31px; text-align: center;margin-bottom: 0px !important;}
.bookform{width: 100%;float: left;padding: 10px;background: #efefef;}
.booktxt{width: 100%; height: 42px; float: left; background: #FFF; border: none; padding: 12px;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;margin-bottom: 10px;}
.booktxt:focus{outline: none;}
.booktxt01{width: 100%; height: 84px; float: left; background: #FFF; border: none; padding: 12px;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;margin-bottom: 10px;resize: none;}
.booktxt01:focus{outline: none;}
.bookbtn{width: 100%; float: left; background: #2d2d2d; color: #FFF; text-align: center; border: none; padding: 10px; font-size: 18px;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.bookbtn:hover{background: #c32033;}
.main_transfer_sec{width: 100%;float: left;background: #FFF;border:1px solid #ebebeb;box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.09);margin-bottom: 12px;}
.transferImg{width: 25%;float: left;padding: 9px;}
.transferImg img{width: 100%;height:120px}
.transfer_cont{width: 48%;float: left;padding: 10px;}
.transfer_cont h2{font-size: 16px;
    font-weight: 600;
    color: #c32033;
    text-transform: none;
    margin-bottom: 6px;}
.transfer_table{width: 100%;float: left;}
.transfer_table table{font-weight: 400;font-size: 13px;}
.green{color: #16b514;padding: 0px 0px 0px 14px;position: relative;float: left;}
.red{color: #c32033;padding: 0px 0px 0px 14px;position: relative;float: left;}
.green::before{content: '';left: 0;top:5px;position: absolute;width: 10px;height: 10px;border-radius: 50%;background:#16b514; }
.red::before{content: '';left: 0;top:5px;position: absolute;width: 10px;height: 10px;border-radius: 50%;background:#c32033; }
.transfer_rate{width: 18%;float: right;padding: 10px;}
.transfer_rate h5{
	font-size: 20px;
    font-weight: 600;
    color: #c32033;
    text-align: center;
    margin-bottom: 7px;
}
.transferbtn{width: 100%;float: left;background: #c32033;color: #FFF;padding: 10px;border:none;font-size: 15px;height: 39px;line-height:21px;-webkit-transition: all 0.4s ease-in-out;    -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.transferbtn:hover{background: #2d2d2d;}
.transferbtn:focus{outline: none;}
.cmn_area_modify{width: 100%;float: left;margin-bottom: 5px;border-bottom: 1px solid #dadada;padding: 10px 10px 10px 10px;}
.cmn_area_modify h6{color: #c32033;font-size: 12px;}
.cmn_area_modify h5{color: #000;font-size: 14px;margin-bottom: 0px !important;}
.transfer_calender{width: 100%;height:40px;border: 1px solid #d0cfcf;padding: 10px 20px 10px 10px;background: url(../images/calendar.png) no-repeat right;}
.transfer_text{width: 100%;height:40px;border: 1px solid #d0cfcf;padding: 10px 20px 10px 10px;}
.travellers_sec{width: 100%;float: left;position: relative;}
.traveller_bind_sec{width: 100%;height:40px;border: 1px solid #d0cfcf;padding: 10px 20px 10px 10px;background: url(../images/traveller.png) no-repeat right;cursor: pointer;-webkit-appearance: none;}
.traveller_bind_sec::-ms-expand {display: none;}
.viewtravellers{width: 100%;float: left;position: relative;left: 0;top: 2px;display: none;}
.none_sec{margin-bottom: 0px;border-bottom: none;}
.drop_down_traveller{width: 100%;float: left;height:40px;border: 1px solid #d0cfcf;}
.modify_srch_btn{width: 100%;height: 40px;background: #c32033;color: #FFF;text-align: center;border: none;text-transform: uppercase;font-size: 15px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out;}
.modify_srch_btn:hover{background: #2d2d2d;}
.transfer_booking{width: 100%;float: left;}
.transfer_booking h3{font-size: 17px; color: #c32033;line-height: 36px;}
.transfer_booking h3 span{width: 30px;height: 30px;float: left;border-radius: 50%;background: #c32033;color: #FFF;text-align: center;line-height: 33px;margin-right: 7px;}
.transfer_book_sec{width: 100%;float: left;padding: 12px; border: 1px solid #e8e8e8; margin-bottom: 14px;}
.img_sectransfer{width: 80%;float: left;}
.img_transfer{width: 220px;float: left;margin-right: 13px;margin-bottom: 7px;}
.img_transfer img{width: 100%;}
.img_sectransfer h4{margin-bottom: 10px;}
.img_sectransfer table{margin-bottom: 20px;}
.img_sectransfer p{margin-bottom: 10px;text-align: left;}
.bookright_area{width: 16%;float:right;}
.available_sec{width: 100%; float: left; padding: 0px 10px; color: #000; text-align: center; height: 27px; line-height: 29px;}
.notavailable_sec{width: 100%; float: left; padding: 0px 10px; color: #000; text-align: center; height: 27px; line-height: 29px;}
.available_sec i{color:#169400;margin-right: 6px;font-size: 18px;}
.notavailable_sec i{color:#c32033;margin-right: 6px;font-size: 18px;}
.book_price{width: 100%; float: left; font-size: 24px; text-align: center; font-weight: 600; color: #c32033;}
.book_transfer_form{width: 40%;float: left;padding-top: 15px;}
.booktxt_transfer {width: 100%; height: 42px; float: left; background: #e4e4e4; border: 1px solid #bfbfbf; padding: 12px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out; margin-bottom: 10px;}
.bookbtnsec{width: 100%;float: left;}
.condition_checkbox{width: 100%;float: left;position: relative; margin-top: 14px;}
.condition_checkbox label{max-width: 100% !important;    padding-left: 33px;font-weight: 400;cursor: pointer;}

.checkbook input {position: absolute;opacity: 0;cursor: pointer;height: 0; width: 0;}
.checkmark6 { position: absolute; background-color: #e0e0e0; top: -3px; left: 0; height: 22px; width: 22px; border: 1px solid #c32033; }
.checkbook:hover input ~ .checkmark6 { background-color: #ccc; }
.checkbook input:checked ~ .checkmark6 { background-color: #c32033; }
.checkmark6:after { content: ""; position: absolute; display: none; }
.checkbook input:checked ~ .checkmark6:after { display: block; }
.checkbook .checkmark6:after { left: 8px; top: 5px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.ui-datepicker-month{
	color: #FFF;
    background: #c32033;
    border: none;
}
.page_loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #FFF;
	z-index: 8482829;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}
.page_loader .img1 {
    margin: auto;
    width: 660px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    text-align: center;
    z-index: 9;
}
.meetSec{
	width: 100%;
    float: left;
    padding: 15px;
    background: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 7px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.13);
	margin-top: 38px;

}
.meetSec h2{
	text-align: center;
	position: relative;
    margin-top: -56px;
    margin-bottom: 14px;
}
.meetSec h2 span{
	width: 75px;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 12px;
    border-radius: 50%;
    display: inline-grid;
    background: #FFF;
}
.meetSec h2 img{
	width: 50px;
}
.meetSec h3{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 7px;
}
.meet-content{
	width: 100%;
	float: left;
	min-height: 163px;
}
.meet-content p{
	font-family: 'Open Sans', sans-serif;
	color: #000;
	font-size: 14px;
	font-weight: 500;
	text-align: justify;
}
.meetSec1{
	width: 100%;
	float: left;
	text-align: center;
}
.meetSec1 a{
	display: inline-block;
    margin: auto;
    background: #c32033;
    color: #FFF;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 2px;
}
#meetandgreet .modal-header, #airport-assist .modal-header, #airport-lounge .modal-header{
	background:#c32033;
	color: #FFF;
}
#meetandgreet .close, #airport-assist .close, #airport-lounge .close{
	color: #fff;
	opacity: .8;
}
.select2-dropdown{
	z-index: 8482829 !important;
}
.meet-search{
	margin-bottom: 8px;
}
.meet-search button{
	width: 100%;
	height: 42px;
	background:#c32033;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	cursor: pointer;
	border: none;
	font-size: 17px;
    font-weight: 800;
}
.meet-search label{
	font-weight: 600;
}
.meet-search input{
	width: 100%;
	height: 40px;
	color: #494949 !important;
    line-height: 40px !important;
    font-size: 14px;
    padding-left: 10px !important;
    background: #efefef;
	font-weight: 500;
	border: 1px solid #cfcfcf;
}
.meet-search input::placeholder{
	color: #494949;
}
.meet-search .select2-container--default .select2-selection--single .select2-selection__rendered{
	border: 1px solid #cfcfcf;
	background: #efefef;
	color: #494949 !important;
	font-size: 14px;
}
.meet-search .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 42px !important;
    background: #efefef;
    line-height: 37px;
}
.meet-search i{
	color: #acacac;
}
.myselect2{
	width: 100%;
	float: left;
	height: 40px;
    color: #494949 !important;
    line-height: 40px !important;
    font-size: 14px;
    padding-left: 10px !important;
	-webkit-appearance: none;
	-moz-appearance: none;	
	appearance: none;
	background: none;
	border: none;
	position: relative;
    z-index: 999;
}
.dwnarw{
	width: 100%;
	float: left;
	position: relative;
    background: #efefef;
    font-weight: 500;
	border: 1px solid #cfcfcf;
}
.dwnarw::after{
	content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: 7px;
    top: 9px;
    font-size: 14px;
    color: #807d7d;
}
.custom-file{
	float: left;
	width: 100%;
	height: 38px;
	position: relative;
	margin-bottom: 9px;
}
.custom-file input{
	opacity: 0;
}
.custom-file label{
	width: 100%;
    height: 38px;
    float: left;
    background: #FFF;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    font-weight: 300;
    line-height: 39px;
	padding-left: 10px;
	font-size: 14px;
	padding-right: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-file label::after{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: 5px 15px;
    line-height: 27px;
    color: #ffffff;
    content: "Browse";
    background-color: #c32033;
}
.cmn_area_modify h6{
	margin-bottom: 5px;
}
.cmn_area_modify:last-child{
	margin-bottom: 0px;
	border-bottom: none;
}
.cmn_area_modify .select2-container--default .select2-selection--single .select2-selection__rendered{
	border: 1px solid #cfcfcf;
	background: #efefef;
	color: #494949 !important;
	font-size: 14px;
    height: 37px;
    line-height: 37px !important;
}
.cmn_area_modify .select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 42px !important;
    background: #efefef;
    line-height: 31px;
	height: 35px !important;
	border-left: 1px solid #d6d6d6;
}
.cmn_area_modify i{
	color: #acacac;
	font-size: 14px;
}
.card_content .select2-container--default .select2-selection--single .select2-selection__rendered{
	border: 1px solid #cfcfcf;
	background: #efefef;
	color: #494949 !important;
	font-size: 14px;
    height: 37px;
	line-height: 37px !important;
}
.card_content .select2-container--default .select2-selection--single .select2-selection__arrow {
	width: 42px !important;
    background: #efefef;
    line-height: 31px;
	height: 35px !important;
	border-left: 1px solid #d6d6d6;
}
.card_content i{
	color: #acacac;
	font-size: 14px;
}
.card_content input{
	border: 1px solid #cfcfcf;
	background: #efefef;
	color: #494949 !important;
	font-size: 14px;
    height: 37px;
	line-height: 37px !important;
	border-radius: none !important;
}
.cmn_modify{
	width: 100%;
	float: left;
	margin-bottom: 10px;
	position: relative;
}
.cmn_modify h5{
	color: #c32033;
    font-size: 17px;
}
.cmn_modify h5 span{
	color: #494949;
}
.cmn_modify input{
	width: 100%;
    height: 40px;
    color: #494949 !important;
    line-height: 40px !important;
    font-size: 14px;
    padding-left: 10px !important;
    background: #efefef;
    font-weight: 500;
    border: 1px solid #cfcfcf;
}
.cmn_modify button{
	display: block;
}
.side_sec{
	width: 50%;
	float: left;
	border-right: 1px solid #e0e0e0;
}
.side_sec:last-child{
	text-align: right;
	border-right: none;
}
.cmn_modify .ui-datepicker-trigger {
    background: #efefef;
    color: #fff;
    right: 1px;
    top: 19px;
    width: 44px;
    height: 38px;
    line-height: 1px;
	border-left: 1px solid #d6d6d6;
	z-index: 1;
}
.hotelsec{
	width: 100%;
    float: left;
    background: #FFF;
    border: 1px solid #ebebeb;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.09);
	margin-bottom: 12px;
}
.hotelImg{
	width: 40%;
	float: left;
	position: relative;
}
.hotelImg img{
	width: 100%;
	height: 214px;
}

.hoteldetails{
	width: 60%;
	float: left;
	padding: 12px;
}
.hoteldetails h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 17px;
	color: #c32033;
	margin-bottom: 5px;
}
.hoteldetails h4{
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #676566;
    text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 5px;
}
.staring{
	float: left;
	width: 100%
}
.staring i{
	float: left;
    margin-right: 1px;
    font-size: 18px;
    color: #e6a001;
}
.sml_description{
	width: 100%;
    float: left;
    min-height: 80px;
    font-size: 13px;
}
.selectSec{
	width: 100%;
	float: left;
}
.selectSec button{
	padding: 7px 15px;
    background: #c32033;
    color: #FFF;
    font-size: 14px;
    border: none;
	font-family: 'Open Sans', sans-serif;
	border-radius: 2px;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.selectSec button:hover{
	background:#292929;
}
.price_area{
	float: right;
    color: #c32033;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-top: 6px;
}
.price_area span{
	font-size: 14px;
    font-weight: 500;
    color: #737373;
}
.price_area p{
	font-size: 13px;
    font-weight: 500;
	color: #737373 !important;
	text-align: right;
}
.banner-info {
	position: absolute;
	top: 66px;
	z-index: 99;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
}
.banner-text {
	background: rgba(255,255,255,0.8);
	display: inline-block;
	border-radius: 10px;
	padding: 32px 30px;
	text-align: left;
	z-index: 1;
}
.banner-text h1 {
	color: #BE1823;
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.banner-text p {
	color: #000;
	font-size: 26px;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-align: left;
	padding: 10px 0;
}
.hotel_details h4{
	font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #BE1823;
    font-weight: 700;
	text-transform: none;
	margin-bottom: 10px;
}
.hotel_detailsImg{
	width: 100%;
	float: left;
	margin-bottom: 13px;
	position: relative;
}
.hotel_detailsImg span{
	background: #BE1823;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #FFF;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    font-weight: 700;
}
.hotel_detailsImg img{
	width: 100%;
}
.details-sec{
	width: 100%;
	float: left;
	padding: 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.details-sec h3{
	font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #BE1823;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.details-sec p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	color: #848282 !important;
	text-align: justify;
}
.aminities ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.aminities ul li{
	width: 33.3%;
	float: left;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	color: #848282 !important;
	position: relative;
	padding: 2px 2px 2px 17px;
}
.aminities ul li::after{
	content: '';
    position: absolute;
    left: 0;
    top: 11px;
    height: 2px;
    background: #d4d4d4;
    width: 11px;
}
.booking-dates ul{
	margin: 0px;
	padding: 0px;
	list-style:decimal;
	padding-left: 15px;
}
.booking-dates ul li{
	width: 100%;
	float: left;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
	color: #848282 !important;
}
.cmnsec{
	width: 100%;
	float: left;
	position: relative;
}
.cmnsec .ui-datepicker-trigger{
	background: #FFF;
	width: 42px;
}
.cmnsec .ui-datepicker-trigger i{
	color: #a2a2a2;
}
/* nouislider */
.noUi-handle-upper .noUi-tooltip{
	left: -7px !important;
}
.noUi-handle-lower .noUi-tooltip{
	left: 14px !important;
}
.no-result {
	width: 100%;
	float: left;
	text-align: center;
	padding: 50px 0px;
}
.no-result h2{
	font-family: 'Open Sans', sans-serif;
	color: #c32033;
    font-size: 20px;
}
.no-result p{
	font-family: 'Open Sans', sans-serif;
	color: #c32033 !important;
	font-size: 14px;
	text-align: center;
}
section {
    padding: 0px 0;
}
.book_transfer_form input::-webkit-outer-spin-button,
.book_transfer_form input::-webkit-inner-spin-button, .visarequest_form input::-webkit-outer-spin-button, .visarequest_form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.book_transfer_form input[type=number], .visarequest_form input[type=number] {
  -moz-appearance: textfield;
}
.noUi-handle {
    border: 2px solid #c32033 !important;
    background: #c32033 !important;
}
.hm_main{
	width: 100%;
	float: left;
	background: #000;
	padding: 0px 30px;
}
.load-spinner{
	position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    background: rgba(195, 32, 51, 0.8);
    color: #FFF;
    width: 79px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
}
@media screen and (max-width: 990px) {
	.img_sectransfer {
		width: 100%;
	}
	.bookright_area {
		width: 100%;
		border-top: 1px solid #cac8c8;
	}
	.book_transfer_form {
		width: 100%;
	}
}
@media screen and (max-width: 769px) {
	.img_transfer {
		width: 100%;
		margin-right: 0px;
		margin-bottom: 13px;
	}
	.img_transfer img {	
		height: 310px;
	}
	.transferImg{
		width: 100%;
	}
	.transferImg img{
		height: 150px;
	}
	.transfer_cont{
		width: 100%;
	}
	.transfer_rate{
		width: 100%;
		border-top: 1px solid rgba(0, 0, 0, 0.05);
	}
	.hotelImg, .hoteldetails{
		width: 100%;
	}
	.selectSec{
		width: 100%;
		padding-top: 10px;
	}
	.price_area{
		width: 100%;
		text-align: center;
	}
	.price_area p{
		text-align: center;
	}
}
@media (min-width:200px) and (max-width:416px) {
	.travelerSelectWindow {
		width: 100% !important;
		position: relative;
		top: 0;
	}
}
.travellersDropdown {
    position: relative;
}

.custom-select-v3 {
    position: relative;
    cursor: pointer;
}

.travellersDropdown span[class^="icon-"] {
    color: #a0a0a0;
    font-size: 22px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 9px;
    z-index: 1;
}

#_totStrhtl{
	margin-bottom: 0;
}

.travellersDropdown span[class^="icon-"] {
    color: #a0a0a0;
    font-size: 22px;
    pointer-events: none;
}

.custom-select-v3 input {
    text-overflow: ellipsis;
    padding-right: 30px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
}

.custom-select-v3 select,
.form-control {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    height: 42px;
    line-height: normal;
    margin-bottom: 20px;
    padding: 8px;
    padding-right: 8px;
    text-overflow: ellipsis;
    box-shadow: none;
    color: #000;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.travelerSelectWindow {
    width: 330px;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    z-index: 3;
    display: none;
}

.travelerSelectWindow.active {
    display: block;
}

.travelerSelectWindow .travelDropdown {
    margin: 15px 15px 0;
}

.travelerSelectWindow fieldset {
    padding: 0 13px 15px 0;
}

fieldset {
    min-width: 0;
    margin: 0;
}

.travellersDropdown .travelerSelectWindow label {
    font-size: 12px;
    color: #000;
    float: left;
    min-width: 100px;
    padding-top: 10px;
    display: inline-block;
    font-weight: 400;
    max-width: 100%;
}

.trvFld {
    float: left;
    margin-right: 10px;
    width: 70px;
}

.trvFld .custom-select-v3 {
    display: block;
}

.trvFld .custom-select-v3::before {
    font-size: 12px;
    height: 35px;
    line-height: 6px;
}

.trvFld .custom-select-v3 select {
    text-align: left;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
    color: #000;
    padding: 0 8px;
}

.travelerSelectWindow .custom-select-v3 select {
    border: 1px solid #ccc;
}

.custom-select-v3 select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #000;
    cursor: pointer;
}

select option {
    padding: 2px 5px;
    background: #fff;
}

.trvFld .custom-select-v3 select {
    text-align: left;
    line-height: 35px;
    color: #000;
}

.travelerSelectWindow .ageRange {
    float: left;
    font-size: 14px;
    color: #c2c2c2;
    padding-top: 10px;
}

.classSec {
    border-top: 1px solid #d1d1d1;
    margin: 0 15px 15px;
    overflow: hidden;
}

.classSec .custom-select-v3::before {
    top: 0;
}

.classSec label {
    margin-top: 5px;
}

.classSec .custom-select-v3.lg {
    float: right;
    width: 65%;
}

.classSec .custom-select-v3.lg select {
    margin: 0;
}

.classSec .custom-select-v3 select {
    cursor: pointer;
}

.classSec .custom-select-v3 select {
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    text-indent: initial;
    color: #000;
}

.travelerSelectWindow .custom-select-v3 select {
    border: 1px solid #ccc;
    margin-top: 0;
    border-radius: 0;
}

.custom-select-v3 select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #000;
}

.custom-select-v3::before {
    background: 0 0;
    border: 0;
    top: 14px;
    color: #9ca6b0;
    display: block;
    font-size: 20px;
    height: 42px;
    line-height: 42px;
    margin-right: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 24px;
    z-index: 6;
    font-weight: 700;
    content: "\f107";
    font-family: 'FontAwesome';
}

.validation_hotel {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
    background-color: #ec423f;
    margin-bottom: 5px;
    padding: 4px;
    position: absolute;
    top: -13px;
    left: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

.travelerSelectWindow .travelDropdown {
    margin: 15px 15px 0;
}

.travelerSelectWindow .closeDropdown {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #d1d1d1;
    background: #f5f5f5;
    border-radius: 0 0 2px 2px;
    position: relative;
}

.travelerSelectWindow .closeBtn {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    z-index: 1;
    padding: 7px 10px;
    background: var(--secondary-color);
    display: inline-block;
    border-radius: 0;
    top: 8px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.travelerSelectWindow .closeBtn {
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.travelerSelectWindow .closeBtn:hover {
    background: var(--secondaryDark-color);
}
#txtCitySearch {
	margin: 0;
}
#hotel .autocomplete-results {
    position: absolute;
    top: 81px;
    width: 92%;
    left: 15px;

}
.within_sec{
	font-size: 12px !important;
	margin-bottom: 17px !important;
}

.add-btn {
    width: 131px;
    height: auto;
    display: block;
    font-size: 13px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    padding: 2px 5px;
    font-weight: 400;
    position: absolute;
    top: 17px;
    right: 0;
    cursor: pointer;
}

.add-btn:hover,
.add-btn:focus {
    background: #faa71a;
    border: 1px solid #faa71a;
    color: #fff;
    text-decoration: none;
}

.room-title {
    display: block;
    font-size: 17px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #3a7fc1;
    padding: 5px 0;
    font-weight: 500;
    margin-bottom: 10px;
}

.add-room {
    width: 100px;
    height: auto;
    display: block;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ddd;
    background: #ddd;
    color: #000;
    padding: 2px 5px;
    font-weight: 400;
    margin: 0;
    float: right;
    cursor: pointer;
    margin-right: 3px;
    margin-bottom: 3px;
}

.add-room:hover,
.add-room:focus {
    background: #faa71a;
    border: 1px solid #faa71a;
    color: #fff;
    text-decoration: none;
}

.remove-room {
    width: 100px;
    height: auto;
    display: block;
    font-size: 13px;
    text-align: center;
    border: 1px solid #ddd;
    background: #ddd;
    color: #000;
    padding: 2px 5px;
    font-weight: 400;
    margin: 0;
    float: left;
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 3px;
}

.remove-room:hover,
.remove-room:focus {
    background: #faa71a;
    border: 1px solid #faa71a;
    color: #fff;
    text-decoration: none;
}


#hotel select{       
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#hotel select:after {
    content:"\f078";
    font-family: FontAwesome;
    color: #000;
    position: absolute; 
    right: 0; 
    top: 18px;
    z-index: 1;
    width: 10%;
    height: 100%;  
    pointer-events: none; 
}




  /* visa */

  #bkng .search-sections {
	margin: 40px 0 0;
	position: static;
	border: 2px solid #e5e5e5;
	padding: 20px 40px 50px;
}
#bkng .search-sections .tab-content {
	color: #fff;
	padding: 15px;
}
#bkng .search-sections .tab-content .btn-green {
	margin-top: 23px;
}
#bkng .search-sections label {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #444444;
	text-transform: uppercase;
	margin: 0 0 5px;
	display: block;
}
#bkng .search-sections .input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	width: 100%;
	
}
#bkng .search-sections .form-control {
	background-color: #fff;
	border-radius: 0;
	color: #7e7e7e;
	display: block;
	font-size: 14px;
	height: 52px;
	line-height: 1.42857;
	padding: 6px 10px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	z-index: 1;
	box-shadow: none;
	margin: 0;
	border: 1px solid #d7d7d7;
}
#bkng .search-sections .form-control::-moz-placeholder {
 color: #a4a4a4;
 opacity: 1;
}
#bkng .search-sections .form-control:-ms-input-placeholder {
 color: #a4a4a4;
}
#bkng .search-sections .form-control::-webkit-input-placeholder {
 color: #a4a4a4;
}
#bkng .search-sections .form-control::-o-input-placeholder {
 color: #a4a4a4;
}
#bkng .search-sections .input-group-addon {
	background: transparent;
	color: #e00024;
	border: none;
}
#bkng .search-sections .search-col-padding {
	padding: 15px 15px;
}
#bkng .search-sections option {
	color: #07253F;
}
#bkng .search-sections .calendar {
	padding: 6px 10px;
	font-size: 14px;
	font-weight: 400;
	color: #a4a4a4;
	width: 100%;
	margin: 0 !important;
	text-align: left;
}
#bkng .search-sections .ui-datepicker-trigger {
	background: transparent;
	border: medium none;
	color: #005456;
	font-size: 16px;
	position: absolute;
	right: 0;
	top: 7px;
	cursor: pointer;
	margin: 2px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	left: auto;
	z-index: 1;
}
#bkng .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 35px !important;
	width: 35px !important;
	background: transparent !important;
	margin: 2px;
	line-height: 48px;
	text-align: center;
	font-size: 19px !important;
	color: #005456;
}
#bkng .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 52px !important;
	border: none !important;
	border-radius: 0 !important;
	margin: 0;
}
#bkng .select2-results__option {
	width: 100%;
}
#bkng .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #7e7e7e !important;
	line-height: 52px !important;
	font-size: 14px;
	background: #fff;
	border: 1px solid #d7d7d7;
	padding: 0 0 0 10px !important;
}
#bkng .select2-container--default .select2-selection--single {
	background: rgba(255, 255, 255, 0.4);
	/*     input background color */
	border: none !important;
	border-radius: 0 !important;
}
#bkng .select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #045781 !important;
	/*   option hover background */
	color: #fff;
}
#bkng .select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #045781 !important;
/*   option hover background */ }
#bkng .select2-container--default .select2-results > .select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#bkng .select2-dropdown {
	background-color: white;
	border: 1px solid #ebebeb !important;
	border-radius: 0 !important;
	margin: 0 !important;
}
#bkng .search-sections textarea.form-control {
	height: 80px;
	resize: none;
}
#bkng .btn-green3 {
	width: 262px;
	text-align: center;
	margin-top: 20px;
	padding: 15px 9px;
	background:#c32033;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	border: none;
	font-size: 16px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#bkng .btn-green3:hover {
	color: #fff;
	background: rgb(184 94 105);
	text-decoration: none;
}




.uae-visa .form-control {
	width: 75% !important;
	float: left;
}
.uae-visa .input-group-btn {
	width: 25%;
	float: right;
}
.uae-visa .btn-primary {
	width: 100%;
	height: 53px;
	font-size: 15px;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	background: #c32033;
	border: none;
	font-weight: 600;
	line-height: 38px;
}
.uae-visa .btn-primary:hover {
	background: rgb(184 94 105);
	color: #fff;
}
.uae-visa .input-group-btn:last-child > .btn, .uae-visa .input-group-btn:last-child > .btn-group {
	z-index: 2;
	margin-left: 0;
}
.terms-condition {
	width: 100%;
	display: block;
}
.terms-condition h5 {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	color: #3e3e3e;
	text-transform: uppercase;
	padding: 30px 0 0;
}
.terms-condition ul {
	display: inline-block;
	margin: 15px 0 0;
	list-style: none;
}
.terms-condition ul li {
	font-size: 15px;
	list-style: none;
	color: #434242;
	padding: 3px 0;
	font-weight: 400;
}
.terms-condition ul li i {
	font-size: 10px;
	padding-right: 8px;
}
.terms-condition p {
	padding: 20px 0 0;
}
.terms-condition p a {
	color: #555;
	text-decoration: none;
}
.terms-condition p a:hover {
	color: #c32033;
	text-decoration: none;
	font-weight: 500;
}

.terms-condition input[id="check_2"] + label {
	position: relative;
	margin-bottom: 20px;
	font-size: 14px;
	text-transform: capitalize;
	color: #444 !important;
	font-weight: 600;
	text-transform: none !important;
	font-weight: 400 !important;
	margin: 23px 0 0 !important;
	display: inline-block !important;
	cursor: pointer;
}
.terms-condition input[id="check_2"] + label::before {
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 0;
	content: "";
	border: 1px solid #d7d7d7;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	vertical-align: middle;
}
.terms-condition input[id="check_2"]:checked + label::before {
	background: #c32033;
}
/* style checkmark symbol */
.terms-condition input[id="check_2"]:checked + label::after {
	width: 13px;
	height: 6px;
	content: "";
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	top: 8px;
	left: 6px;
	position: absolute;
	transform: rotate(-45deg);
}
.terms-condition input[id="check_2"]:focus + label::before {
}
/* hide default checkbox */
.terms-condition input[id="check_2"] {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}


.tbl .table > thead > tr > th {
	background: #2d2d2d;
	padding: 12px 15px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}
.tbl {
	margin: 20px 0 0;
}
.tbl .table {
	margin-bottom: 0;
}
.tbl h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	font-weight: 500;
	color: #3e3e3e;
	text-transform: uppercase;
	padding: 0 0 20px;
}
.tbl .table .heads {
	background: #2d2d2d;
	padding: 12px 15px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}
.tbl .table > tbody > tr > td {
	padding: 15px;
}
.tbl .grey {
	background: #f1f1f1;
}

.bkng-div p {
    padding: 15px 0 0;
}
.bkng-div h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #444444;
    text-transform: uppercase;
}
#bkng small {
    color: #ff0000;
}