/*----- Global -----*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
.wrap {
	padding:60px 0px;
	background:#4a98d3;
	background:radial-gradient(at 40% 30%, #4a98d3, #00598f);
}
.multi_area h2 {
    color:#FFF;
    font-weight: 400;
    border-bottom: 1px solid rgba(243, 243, 247, 0.39);
    padding-bottom: 9px;
}
.multi_area h2 i {
	color: #f99c1b;
	/* cursor: pointer; */
}
.add_multi_sec a {
    background: #f99c1b;
}
.add_multi_sec a:hover {
        background: #bf7a19;
}
.cont_txt01{
    border-radius:0px;
}

.site-header-wrap {
	margin-bottom:0px;
	border-bottom:1px solid #53a0dc;
}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
        position: relative;
    z-index: 1;
}

.area01 li a {
    border:none !important;
    border-left:1px solid #d8deea !important;
    border-bottom:1px solid #d8deea !important;
}
.rgt_brdr{
    background:url(../images/border_right.jpg) no-repeat right;
}
.clr01 {
    color: #ffffff !important;
}
.form_sec label {
    color: #ffffff !important;
}
.calender_area {
    border-radius:0px;
}
input[type=radio]:checked + label.btn {
    background: none;
    border-bottom:2px solid #3f51b5;
}
input[type=radio] + label.btn:hover{
    background: none;
    border-bottom:2px solid #3f51b5;
}
.search {
    background: #f6d805;
}
.search:hover {
    background: #b9a305;
}
.calender_area {
    height:38px;
}
.cont_txt {
    border-radius:0px;
}
checkBox_area01 {
    margin-top:7px;
}
	/*----- Tab Links -----*/
	/* Clearfix */
	.tab-links:after {
		display:block;
		clear:both;
		content:'';
	}
.tab-links{
    padding: 0px;
	margin-bottom: 5px;
}
	.tab-links li {
		margin:0px 0px 0px 0px;
		float:left;
		list-style:none;
		padding-bottom: 7px;
	}

		.tab-links a {
			padding:14px 15px;
			display:inline-block;
			font-family: 'CenturyGothic-Regular';
    font-size: 13px;
    color: #074774;
    font-weight: 400;
			transition:all linear 0.15s;
            cursor:pointer;
		
		}

		.tab-links a:hover {
			background: #074774;
            text-decoration: none;
            color: #ffffff;
		}
	.tab-links li.active, .tab-links li:hover{
		padding-bottom: 7px;
	}
	.tab-links li.active a, .tab-links li.active a:hover {
		background:#074774;
		color:#FFF;
	}

	/*----- Content of Tabs -----*/
	.tab-content {
		border-radius: 3px;
		margin-top: 17px;
		width: 100%;
		float: left;
	}

		.tab {
			display:none;
		}

		.tab.active {
			display:block;
		}
@media only screen and (min-width: 200px) and (max-width: 570px) {

.tab-links{
	display:none;
}
}
@media only screen and (min-width: 200px) and (max-width: 732px) {
.area01 li a{
   padding: 14px 5px;
   display:block;
   text-align:center;
}
.area01 li{
    width: 20%;
}
.tab-links li.active, .tab-links li:hover{
	background:url(../images/dwn_flight5.png) no-repeat center bottom;
	padding-bottom: 7px;
            
}
.tab-links li.active a, .tab-links li.active a:hover {
    border-bottom: none !important;
}
}