@media(max-width:1700px) {
    .social-media-package .s-media li {
        margin-left: 0;
    }
    .social-media-package {
        padding-top: 20px;
    }
    .tour-package-price {
        top: 20px;
    }
    
    .related-tour {
        padding: 30px 0 0;
    }
    .package-name h3 span {
        font-size: 16px;
    }
    .package-name h3 {
        font-size: 22px;
    }
}

@media(max-width:1200px) {
    .blog-detail-text {
        width: 50%;
        margin-bottom: 0;
        padding-bottom: 30px;
    }
    .feature-story .title h2 {
        width: 25%;
    }
    .feature-story .title hr {
        width: 75%;
    }
    .blog-head ul li a {
        border: 1px solid #fff;
        padding: 10px 20px;
        margin: 0 5px 10px 5px;
        display: block;
    }
    .blog-head ul li:last-child a {
        padding-right: 20px;
    }
    .blog-media-right {
        padding: 30px 15px;
    }
    .blog-media-right ul li {
        margin-right: 5px;
    }
    .title-detail hr {
        width: 100%;
    }
    .social-media-package .s-media li a {
        height: 40px;
        width: 40px;
        font-size: 21px;
        line-height: 38px;
    }
    .social-media-package .print-m li {
        margin-bottom: 10px;
    }
    .package-in-deatil .flex-box {
        display: block!important;
    }
    .package-in-right {
        clear: both;
    }
    .package-in-deatil .col-lg-4 {
        overflow: hidden;
    }
    .tour-package {
        margin-bottom: 30px;
    }
    .rel-img .btn {
        font-size: 18px;
        padding: 32px 0;
        line-height: 30px;
    }
    .csr-main-text {
        width: 80%;
    }
    .what-hot ul li .hot-img img {
        height: 60px;
        width: 60px;
    }
    .hot-text {
        padding-left: 10px;
    }
    .hot-text h4 a {
        font-size: 16px;
        line-height: 22px;
    }
}

@media(max-width:991px) {
    .blog-one img {
        height: auto;
        min-height: inherit;
        max-height: inherit;
    }
    .blog-right img {
        height: auto;
        min-height: inherit;
        max-height: inherit;
    }
    .blog-one {
        margin-bottom: 5px;
    }
    .blog-right.mr-top {
        margin-top: 5px;
    }
    .feature-story .title h2 {
        width: 30%;
    }
    .feature-story .title hr {
        width: 70%;
    }
    .blog-tab .nav-tabs li {
        width: 33.33%;
    }
    .right-sidebar {
        margin-top: 60px;
    }
    .title-detail h2 {
        font-size: 34px;
        line-height: 40px;
    }
    .title-detail h2 span {
        font-size: 25px;
    }
    .title-detail hr {
        top: 0;
    }
    .video-main iframe {
        width: 100%;
    }
    .rel-img .btn {
        padding: 74px 0;
    }
    .csr-main-text {
        width: 90%;
    }
    .csr-main-text .item h2 {
        font-size: 24px;
    }
    .csr-in-img-1 {
        min-height: inherit;
        max-height: inherit;
    }
    .csr-in-img {
        min-height: 320px;
        max-height: 320px;
    }
}

@media(max-width:767px) {
    .story img {
        min-height: inherit;
        max-height: inherit;
        height: auto;
    }
    .blog-text-social h2 {
        width: 100%;
        font-size: 18px;
        line-height: 26px;
        padding: 15px;
    }
    .flex-box {
        display: block !important;
        clear: both;
    }
    .blog-detail-text {
        width: 100%;
        float: none;
    }
    .blog-img {
        width: 100%;
        float: none;
    }
    .blog-img img {
        width: 100%;
    }
    .blog-tab .nav-tabs li {
        float: none;
        width: 100% !important;
        border-bottom: 2px solid #000 !important;
    }
    .blog-tab .nav-tabs li:last-child {
        border-bottom: none!important;
    }
    .blog-detail-text {
        margin: 20px 0 0 0!important;
    }
    .tranding-blog {
        margin-top: 50px;
    }
    .blog-tab {
        margin-bottom: 30px;
    }
    .right-all-sec {
        margin-bottom: 30px;
    }
    .right-all-sec h3 {
        margin-bottom: 15px;
    }
    .feature-story .title h2 {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .feature-story .title hr {
        float: none;
        width: 50%;
        text-align: left;
        margin: 0;
    }
    .blog-text-social {
        left: 15px;
        right: 15px;
        bottom: 10px;
    }
    .view-media {
        margin-top: 10px;
    }
    .view-media .view {
        padding: 0;
        float: none;
        width: 100%;
    }
    .media {
        padding: 0;
        float: none;
        margin: 0;
        width: 100%;
        margin-top: 10px;
    }
    .blog-text-social h2 {
        font-size: 15px;
        line-height: 24px;
        padding: 10px;
    }
    .blog-tag {
        top: 10px;
        left: 15px;
    }
    .blog-R-text h2 a {
        font-size: 16px;
        line-height: 24px;
    }
    .blog-R-text h2 {
        line-height: 15px;
    }
    .blog-R-text {
        left: 15px;
        right: 15px;
    }
    .flickr-stream li {
        width: 50%;
    }
    .title-detail h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .title-detail h2 span {
        font-size: 22px;
    }
    .title-detail hr {
        margin-top: 16px;
    }
    .blog-in-left {
        padding: 30px 15px;
        margin-bottom: 30px;
    }
    .blog-deatil-left {
        padding: 30px 0;
    }
    .package-in-deatil {
        padding: 30px 15px;
    }
    .package-price {
        padding: 30px 25px !important;
        margin-top: 30px;
    }
    .package-price h3 span {
        font-size: 50px;
    }
    .package-price ul li {
        font-size: 16px;
    }
    .package-overview {
        margin-top: 30px;
    }
    .package-in-tab td {
        line-height: 30px !important;
    }
    .package-in-tab th {
        font-size: 14px;
    }
    .package-in-tab {
        padding: 30px 0;
    }
    .tab-gallery li {
        width: 100%;
        margin-bottom: 30px;
    }
    .tab-gallery li:last-child {
        margin-bottom: 0;
    }
    .package-table {
        padding: 30px 15px;
    }
    .form-package {
        padding: 0 15px 15px;
    }
    .tour-package-price p {
        font-size: 24px;
    }
    .tab-pane iframe {
        height: 400px;
    }
    .packae-in-banner p {
        font-size: 19px;
    }
    .packae-in-banner h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .packae-in-banner {
        padding: 120px 0 200px 0;
    }
    .gallery-banner h1 {
        font-size: 30px;
    }
    .gallery-in {
        padding: 30px 0;
    }
    .photo-section {
        margin: 30px 0;
    }
    .csr-main-text {
        background: rgba(255, 255, 255, 0.8);
    }
    .csr-main-text .item h2 a {
        font-size: 20px;
        line-height: 24px;
    }
    .csr-media ul li {
        margin: 7px 10px 7px 10px;
    }
    .csr-left {
        padding-bottom: 0;
    }
    .csr-info {
        margin: 30px 0;
    }
    .csr-in-detail .csr-title-detail h4 {
        font-size: 18px;
        line-height: 26px;
    }
    .csr-in-detail .csr-title-detail {
        margin: 20px 0;
    }
    .csr-in-detail .csr-bullet li {
        font-size: 16px;
    }
    .weather {
        position: relative;
        top: 0;
        left: 0;
        margin: 20px 0;
    }
    .package-price h1 {
        font-size: 28px;
        line-height: 32px;
    }
    .weather h4 {
        font-size: 22px;
    }
    .csr-in-img {
        min-height: inherit;
        max-height: inherit;
    }
}

@media(max-width:600px) {
    .csr-main-text {
        position: relative;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .csr-left {
        font-size: 16px;
        line-height: 20px;
    }
    .hot-text {
        padding-left: 10px;
    }
}

@media(max-width:400px) {
    .up-img {
        width: 100%;
        float: none;
    }
    .up-video-text {
        width: 100%;
        float: none;
        padding: 20px 0 0;
    }
    .video-main iframe {
        height: 400px;
    }
}