@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
img,
object,
embed,
video {
  max-width: 100%;
}
.ie6 img {
  width: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: none;
}
a {
  text-decoration: none;
  outline: none !important;
}
button:focus {
  outline: none;
}
::-moz-selection {
  background-color: #dfdae6;
  color: #fff;
}
::selection {
  background-color: #dfdae6;
  color: #fff;
}
a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
}

.award-section .owl-controls {
  display: none !important;
}
.ui-widget-content {
  z-index: 99 !important;
}
.awards_pic_scroll {
  display: none;
}
.awards_pic_scroll .award-img {
  padding: 0px 10px;
}
.award-section .award-data {
  margin-bottom: 14px !important;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 20px;
}
.award-section .award-data:last-child {
  border-bottom: none;
  margin-bottom: 0px;
}
/*banner sec*/
.glyphicon-chevron-right:before {
  background: url(../images/next.svg) no-repeat;
  content: "";
  width: 50px;
  height: 50px;
  display: block;
}

.glyphicon-chevron-left:before {
  background: url(../images/prev.svg) no-repeat;
  content: "";
  width: 50px;
  height: 50px;
  display: block;
}

.carousel-control {
  opacity: 1;
  width: 10%;
}

.carousel-control.right {
  background: none;
}

.carousel-control.left {
  background: none;
}

.item {
  max-height: 712px;
}

.carousel-caption img {
  width: auto !important;
}

.carousel-caption {
  top: 0 !important;
  padding-top: 44px;
}

/*banner sec close*/

/*hotel offers*/
.hotel_section {
  width: 100%;
  float: right1;
  background: #eee url(../images/offers-bg.png) bottom repeat-x;
  padding-bottom: 24px;
}
.special_package {
  width: 100%;
  float: right1;
  border-radius: 10px;
  overflow: hidden;
}
.special_package img {
  width: 100%;
  transition: 0.4s;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.special_package:hover img {
  transform: scale(1.1);
}
.package_dis {
  width: 100%;
  float: right1;
  background: #fff;
  position: relative;
  z-index: 9;
}
.package_dis h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 9px 5px;
  text-transform: uppercase;
}
.dis_sec {
  width: 100%;
  float: right1;
  background: #fff;
  padding: 5px 22px 5px;
}
.dis_sec p {
  color: #000;
  font-size: 13px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 500;
}
/*hotel offers close*/

/*Tour Package*/
.tour_package {
  width: 100%;
  float: right1;
  padding-bottom: 31px;
  background: url(../images/tour-packages-bg.png) 50% 0%;
  background-size: cover;
  text-align: center;
}
.tour_package h4 {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #fff;
  font-size: 30px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
  margin-top: 20px;

  margin-bottom: 10px;
}
.tour_package h4:before,
.tour_package h4:after {
  background: #fff;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}
.tour_package h4:before {
  right: 100%;
  width: 150px;
}
.tour_package h4:after {
  left: 100%;
  width: 150px;
}
.tour_package h5 {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: normal;
}
.tour_offer {
  width: 100%;
  float: right1;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.tour_offer img {
  height: 230px;
}
.tour_offer_cont {
  width: 100%;
  float: right1;
  background: rgba(0, 0, 0, 0.46);
  padding: 13px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tour_offer_cont h3 {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}
.tour_offer_cont p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.tour_package .item {
  padding: 0px 20px 10px 20px;
}
#owl-tour-offers .owl-buttons {
  display: none;
}
/*Tour Package*/

/*Uae Attractions*/
.uae_attraction {
  width: 100%;
  float: right1;
  text-align: center;
}
.uae_attraction h4 {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #aaa;
  font-size: 30px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}
.uae_attraction h4:before,
.uae_attraction h4:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}
.uae_attraction h4:before {
  right: 100%;
  width: 150px;
}
.uae_attraction h4:after {
  left: 100%;
  width: 150px;
}
.uae_attraction .item {
  padding: 10px 20px;
}
.uae_attraction .owl-buttons {
  display: none;
}
.view-all {
  width: 100%;
  float: right1;
  text-align: center;
  padding: 16px 0px 0px 0px;
}
.view-all a {
  padding: 8px 30px;
  font-size: 15px;
  border-radius: 20px;
  background: #fad41a;
  color: #000;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.view-all a:hover {
  background: #010101;
  color: white;
}
/*Uae Attraction*/

/*Partner area*/
.partner_area {
  width: 100%;
  float: right1;
  text-align: center;
}
.partner_area h4 {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #aaa;
  font-size: 30px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}
.partner_area h4:before,
.partner_area h4:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}
.partner_area h4:before {
  right: 100%;
  width: 150px;
}
.partner_area h4:after {
  left: 100%;
  width: 150px;
}
.partner_area .slider_icon {
  position: relative;
  top: 26px;
}
.sp_partner {
  position: relative;
  margin-top: -53px;
}
/*Partner area close*/

/*Search form*/
.dash_form {
  width: 100%;
  float: right1;
  position: relative;
  z-index: 99;
}
.search-tabs {
  position: relative;
  width: 100%;
  float: right1;
  margin-top: -487px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  z-index: 9 !important;
}

.calenderhome_sec {
  background: #fff url(../images/calendar.png) no-repeat left !important;
  /* overflow: hidden; */
  margin: 0 !important;
  padding: 8px 6px !important;
  width: 100%;
  padding-left: 42px !important;
  border: none;
}

.downhome_sec {
  background: #fff url(../images/down-arrow.png) no-repeat right !important;
  /* overflow: hidden; */
  margin: 0 !important;
  padding: 8px 6px !important;
  width: 100%;
  padding-right: 42px !important;
  -webkit-appearance: none;
  border: none;
}

@media (min-width: 1200px) {
  .hometab {
    width: 1100px;
  }
}

.ad_view {
  display: none;
}

.checkBox_area01 input[type="checkbox"] {
  position: absolute;
  width: 19px;
  height: 19px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  cursor: pointer;
}

.checkBox_area01 input[type="checkbox"] + label:before {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 4px;
  background: url(../images/radio-checkbox01.png) no-repeat;
  content: " ";
  vertical-align: top;
  cursor: pointer;
  margin-top: -1px;
}

.checkBox_area01 input[type="checkbox"]:checked + label:before {
  background-position: 0 -19px;
}

.checkBox_area01 input[type="checkbox"] + label:before {
  background-position: 0 0px;
}

.ad_srch {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.ad_srch i {
  font-size: 19px;
  color: #f6d805;
  margin-left: 10px;
}

.dash_form .search-tabs .nav-tabs {
  text-align: center;
  font-size: 0px;
  margin-bottom: -2px;
  padding: 15px 0px;
  display: block;
}

.center-tabs li {
  display: inline-block;
  float: none;
  width: 11%;
}

.search-tabs .nav-tabs li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  float: none;
}

.search-tabs .nav-tabs li a {
  padding: 0 20px;
}

.search-tabs .nav-tabs li.active a {
  /*color:#faa61a;*/
  color: orange;
}

.search-tabs .nav-tabs li.hover a {
  /*color:#faa61a;*/
  color: orange;
}

.search-tabs .nav-tabs li .fa {
  margin-right: 7px;
  font-size: 15px;
}

.search-tabs .tab-content .tab-pane {
  padding: 25px;
}

.search-tabs .tab-content .tab-pane input,
.search-tabs .tab-content .tab-pane select {
  text-transform: uppercase;
  font-size: 10px;
}

.search-tabs .tab-content .tab-pane .form-group,
.search-tabs .tab-content .tab-pane .form-group {
  position: relative;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon input {
  padding-left: 38px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa {
  left: 15px;
}

.search-tabs .tab-content .tab-pane .form-group.right-icon .fa {
  right: 11px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa,
.search-tabs .tab-content .tab-pane .form-group.right-icon .fa {
  position: absolute;
  pointer-events: none;
}

.search-tabs .tab-content .tab-pane .btn {
  padding: 8px 32px;
}

/************* SEARCH-TABS-3 *************/

#search-tabs-3.search-tabs {
  bottom: 148px;
}

#search-tabs-3 .nav-tabs li {
  font-size: 13px;
  margin-bottom: 1px;
}

#search-tabs-3 .nav-tabs li a,
#search-tabs-3 .nav-tabs li.active a {
  padding: 10px 15px;
  border: 0px;
}

#search-tabs-3 .tab-content .tab-pane {
  padding: 35px 30px;
}

#search-tabs-3 .tab-content .tab-pane .btn {
  margin-top: 15px;
}

#search-tabs-3 .tab-content .tab-pane .form-group label {
  text-transform: uppercase;
  font-weight: 400;
}

#search-tabs-3 .tab-pane form input,
#search-tabs-3 .tab-pane form input::placeholder,
#search-tabs-3 .tab-pane form select {
  text-transform: none;
}

.welcome-message {
  padding: 43px 55px;
  margin-top: 38px;
}

.welcome-message h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
}

.welcome-message p {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 22px;
}

.welcome-message p:nth-child(odd) {
  font-weight: normal;
}

.welcome-message .btn {
  margin-top: 10px;
  padding: 8px 27px 9px;
}

/************* SEARCH-TABS-4 *************/

#search-tabs-4.search-tabs {
  bottom: 0px;
}

/************* SEARCH-TABS-5 *************/

#search-tabs-5.search-tabs {
  bottom: 0px;
}
.search-tabs .nav-tabs li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
ul.nav-tabs li {
  border-right: 1px solid #7d7d7d;
}
.center-tabs li {
  display: inline-block;
  float: none;
  width: 11%;
}
.search-tabs .nav-tabs li.active a {
  color: #faa61a;
  background: none !important;
}
.search-tabs .nav-tabs li.active a {
  background: transparent;
  border-radius: 0px;
  color: #faa61a;
  border: none;
  border-bottom: 0px;
}
.search-tabs .nav-tabs li a {
  padding: 0 20px;
  border: none;
}
.nav > li > a > img {
  max-width: none;
}
.img40 {
  width: 30px;
}
.nav-tabs > li.active > a p,
.nav-tabs > li.active > a p:focus,
.nav-tabs > li.active > a:hover p {
  color: #e59b04 !important;
}
ul.nav-tabs li a p {
  color: #fff;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.search-tabs .nav-tabs li a:hover {
  background: none !important;
  border: none;
}
ul.nav-tabs li a:hover p {
  color: #e59b04 !important;
}
.nav-tabs {
  border-bottom: 1px solid #686a6b !important;
}
.tab-content {
  border-radius: 3px;
  margin-top: 17px;
  width: 100%;
  float: right1;
}
.mrg-0 {
  margin-top: 0px !important;
}
.tab_p {
  padding: 0px 25px 25px 25px !important;
}
.search_field {
  width: 100%;
  height: auto;
  float: right1;
  padding: 15px 0px;
  border-radius: 3px;
}
.tab_p h6 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #fff;
  padding-top: 5px;
  font-weight: normal;
  margin-bottom: 13px;
}
.trip_area {
  width: 100%;
  float: right1;
  margin-bottom: 7px;
}

.flight_type {
  width: 100%;
  float: right1;
}

.btnsec01 {
  float: right1;
  margin-right: 13px;
}

.btnsec01 label {
  cursor: pointer;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

.btnsec01 input[type="radio"]:checked + label:before {
  background-position: 0 -18px;
}

.btnsec01 input[type="radio"] + label:before {
  background-position: 0 0;
}

.btnsec01 input[type="radio"] + label:before {
  display: inline-block;
  width: 19px;
  height: 18px;
  margin-right: 4px;
  background: url(../images/radio-checkbox.png) no-repeat;
  content: " ";
  vertical-align: top;
  cursor: pointer;
  margin-top: -1px;
}

.btnsec01 input[type="radio"] {
  position: absolute;
  width: 19px;
  height: 18px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
  cursor: pointer;
}

.form_sec {
  width: 100%;
  float: right1;
  margin-bottom: 10px;
  padding-top: 8px;
}

.form_sec label {
  color: #ffffff !important;
}

.form_sec label {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.cont_txt01 {
  width: 100%;
  height: 37px;
  float: right1;
  background: #fff;
  border: 1px solid #fff;
  font-size: 13px;
  color: #464646;
  font-weight: 400;
  padding: 0px 10px;
}

@media (min-width: 768px) {
  .navbar-right {
    float: left !important;
  }

  .cont_txt01 {
    width: 100%;
    height: 37px;
    float: none;
  }
}

.headertitle {
  overflow: hidden;
  text-align: center;
}

.headertitle h1:before,
.headertitle h1:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}

.headertitle h1:before {
  right: 100%;
  width: 150px;
}

.headertitle h1:after {
  left: 100%;
  width: 150px;
}

.headertitle h1 {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #aaa;
  font-size: 30px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
}

header {
  border-bottom: none !important;
  z-index: 999999999;
}
/*.fa-calendar {
    color: #f6d805;
    position: absolute;
    top: 50px;
    padding: 0px 10px;
    font-size: 18px;
}*/
/* 
.fa-angle-down {
    position: absolute;
    color: #f6d805;
    font-size: 31px;
    right: 30px;
    top: 40px;
} */

.cont_txt {
  width: 100%;
  height: 40px;
  float: right1;
  font-size: 13px;
  color: #4c4c4c;
  font-weight: 400;
  padding: 0px 10px;
}

.search {
  height: 39px !important;
  float: right !important;
  font-size: 13px !important;
  color: #000 !important;
  font-weight: 700 !important;
  border: none !important;
  padding: 0px 13px !important;
  margin-top: 8px !important;
  text-transform: uppercase !important;
  padding: 8px 32px !important;
  border-radius: 0px !important;
}

@media (max-width: 767px) {
  ul.nav-tabs li {
    width: 33.3% !important;
  }
}

.search {
  background: #f6d805;
}

.font-text {
  font-size: 10px;
}
/* index-tab-hotel*/
.rooms {
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  line-height: 28px;
  float: right1;
  padding-top: 6px;
}

.advanced_search {
  width: 100%;
  float: right1;
  padding-top: 10px;
}

.advnce_open {
  width: 100%;
  float: right1;
  display: none;
  border: 1px solid #f99c1b;
  padding: 10px;
}

.calender_area {
  width: 100%;
  height: 40px;
  background: #fff url(../images/calender01.png) no-repeat center right;
  border: 1px solid #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #4c4c4c;
  font-weight: 400;
  padding: 0px 10px;
}

.calender-datepicker:before {
  content: "\f073";
  color: #f6d805;
  position: absolute;
  top: 50%;
  transform: translate(-26px, -50%);
  left: 40px;
  font-size: 18px;
}

.angle-down:before {
  content: "\f107";
  color: #f6d805;
  position: absolute;
  top: 50%;
  transform: translate(-26px, -50%);
  right: -19px;
  font-size: 30px;
}

.angle-down {
  position: relative;
  width: 100%;
}

/*.fa-plus {
    font-size: 20px;
    color: #f6d805;
    margin-left: 10px;
    position: absolute;
    top: 19px;
}*/

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  outline-offset: -2px;
}
.ad_srch {
  float: right1;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  text-transform: uppercase;
}
.ad_srch i {
  font-size: 19px;
  color: #f6d805;
  margin-left: 10px;
}
.margintop25 {
  margin-top: 5px;
}
.trip_area {
  width: 100%;
  float: right1;
  margin-bottom: 7px;
}
.checkBox_area01 {
  margin-top: 6px;
}
.form_sec label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #70ecfe;
  text-transform: uppercase;
}
.nav-tabs {
  display: block;
}
/*Search form close*/

/*common header*/
.common_header {
  width: 100%;
  float: right1;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: 0px 220px;
  text-align: center;
}

.common_header h2 {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #40484b;
  font-size: 40px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 25px;
}
.common_header h2:before,
.common_header h2:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}
.common_header h2:before {
  right: 100%;
  width: 50%;
}
.common_header h2:after {
  left: 100%;
  width: 50%;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  top: 57% !important;
}
.cmn_about {
  width: 100%;
  float: right1;
}
.cmn_about h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #06a7e2;
  text-align: center;
  padding: 20px 0px;
}
.cmn_about p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  font-weight: 400;
}
.about_map {
  width: 100%;
  float: right1;
}
.about_map img {
  width: 100%;
}
.first_about {
  width: 100%;
  float: right1;
}
.common_nml_heade {
  width: 100%;
  float: right1;
  text-align: center;
}
.common_nml_heade h4 {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  color: #aaa;
  font-size: 30px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
  margin-bottom: 20px;
}
.common_nml_heade h4:before,
.common_nml_heade h4:after {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 400%;
}
.common_nml_heade h4:before {
  right: 100%;
  width: 150px;
}
.common_nml_heade h4:after {
  left: 100%;
  width: 150px;
}
.sisters_slide {
  width: 100%;
  float: right1;
}
.sisters_slide a {
  color: #0000ff;
}
.logosec {
  text-align: center;
}
.logosec img {
  width: 142px;
  display: -webkit-inline-box;
}
.full-heightp {
  margin-right: 0px;
  margin-left: 0px;
  font-weight: 700;
  border-radius: 15px;
  padding: 10px;
}
/*about sisters companies slide*/
.sisters_slide .carousel-control.right {
  right: -60px !important;
}

.sisters_slide .carousel-control.left {
  left: -80px !important;
}

.sisters_slide .carousel-control img {
  position: relative;
  top: 90px;
}

@media only screen and (max-width: 373px) {
  .sisters_slide .carousel {
    padding: 0px !important;
  }

  .sisters_slide .carousel-control.right {
    right: -38px !important;
  }

  .sisters_slide .carousel-control.left {
    left: -45px !important;
  }

  .sisters_slide .carousel-control img {
    width: 40px !important;
    top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .sisters_slide .carousel {
    padding: 0px !important;
  }

  .sisters_slide .carousel-control.right {
    right: -40px !important;
  }

  .sisters_slide .carousel-control.left {
    left: -48px !important;
  }

  .sisters_slide .carousel-control img {
    width: 40px !important;
    top: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .sisters_slide .carousel {
    padding: 0px !important;
  }

  .sisters_slide .carousel-control.right {
    right: -40px !important;
  }

  .sisters_slide .carousel-control.left {
    left: -48px !important;
  }

  .sisters_slide .carousel-control img {
    width: 40px !important;
    top: 50px;
  }

  .sisters_slide .carousel-control img {
    position: relative;
    top: 140px;
  }
}
/*about sisters companies slide close*/

.mission_sec {
  width: 100%;
  float: right1;
  padding-top: 20px;
}
.chairman_sec {
  width: 100%;
  float: right1;
}
.chairman_sec p {
  text-align: justify;
  font-size: 14px;
  color: #000;
  line-height: 1.5em;
  margin-bottom: 10px;
}
.mission-box {
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.mission-box h3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  padding: 13px 5px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.mission-content p {
  color: #848484;
}
.travel_guid {
  width: 100%;
  float: right1;
  padding-top: 20px;
}
#ag_iframe {
  width: 100%;
  border: none;
  margin-bottom: 0px;
  overflow: hidden;
  height: 1050px;
}
.package_sec {
  width: 100%;
  float: right1;
  padding: 30px 0px 8px 0px;
  background-size: cover;
}
.package_sec .smallbox {
  position: relative;
  background-color: #000;
  border-radius: 20px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 1px 1px 5px #000;
}
.package_sec .smallbox img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cnt_sec {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.41);
}
.content-packages {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  float: right1;
}
.content-packages h4 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 9px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content-name {
  width: 100%;
  float: right1;
  padding: 0 29px;
}
.content-name h4 {
  color: #f1f1f1;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 18px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 2px solid #fff;
}
.content-menu {
  width: 100%;
  float: right1;
}
.content-menu h5 {
  color: #f1f1f1;
  font-size: 17px;
  font-weight: normal;
  text-align: center;
  padding: 9px 5px;
}
.content-menu h6 {
  color: #f1f1f1;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}
.package_cont {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
}
.smallbox:hover .cnt_sec {
  opacity: 0;
}
.smallbox:hover img {
  opacity: 1 !important;
  transform: scale(1.1);
}
.booknow_sec {
  width: 100%;
  float: right1;
  padding-top: 20px;
}
.wdth_sec_scr {
  float: right1;
  width: 100%;
}
.details_img_scroll {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
.scroll_package {
  width: 100%;
  float: right1;
  padding-bottom: 20px;
}
#owl-tour-offersnew .item {
  padding: 10px 15px;
}
.scroll_package .owl-controls {
  display: none !important;
}
.wdth_sec_scr {
  float: right1;
  width: 100%;
  padding-bottom: 33px;
}

.book-now-body {
  max-width: 1050px;
  width: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 5px 5px 18px 10px #888888;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 30px;
}
.book-now-close a,
.book-now-close a:hover,
.book-now-close a:focus {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: -42px;
  top: -10px;
  padding-right: 12px;
  opacity: 1;
  z-index: 2;
  font-size: 40px;
  font-weight: normal;
  box-shadow: 5px 0px 18px #888888;
  text-align: center;
  line-height: 46px;
  padding-left: 12px;
}
.booksec {
  width: 100%;
  padding-top: 30px;
}
.booksec h2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 4px;
}
.booksec h5 {
  color: #e40000;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 4px;
}
.booksec h5 span {
  color: #757575;
  font-weight: 500;
}
.booksec h3 {
  font-size: 20px;
  color: #da1515;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 4px;
}
.booksec h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

/*book now page tab*/
.book-now-tab a {
  border: 1px solid;
  background-color: black;
  /* padding-left: 15px; */
  margin-left: 0px;
  margin-top: 15px;
  color: #ffffff;
}
.book-now-list .nav-tabs {
  float: none;
}
.book-now-body .tab-content {
  float: none;
}
.book-now-list .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 7px;
}

.book-now-list .book-now-tab a:hover {
  background-color: #e59b04;
  color: #FFF !important;
}
/*.modal-detail li.active a {
            background-color: #e59b04;
            color: #ffffff;
        }*/
.book-now-list .nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #e59b04;
  color: #ffffff;
}

/*.modal-detail li {
            width: 19%;
        }*/
.book-now-list .nav-tabs {
  border-bottom: 0px solid #fff !important;
  border-radius: 15px;
}
/*.modal-tab  + .modal-tab{
            margin-left: 5px;
        }*/

.book-now-tab {
  width: calc(100% / 5 - 15px);
  text-align: center;
  margin-right: 15px;
}

.book-now-tab + .book-now-tab {
  margin-right: 15px;
}

.book-now-content-warp {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
}

.book-now-about {
  border: 1px solid;
  padding: 15px;
  list-style: none;
}

.book-now-about-warp {
  margin-top: 15px;
  width: calc(100% / 4 - 15px);
  padding-left: 0;
}

.book-now-close .close-btn {
  float: left;
  font-size: 40px;
  /* font-weight: 700; */
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 1.2;
}

.book-now-image {
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  padding-top: 10px;
  padding-bottom: 25px;
}

.book-now-section .carousel-control {
  height: -12px;
  width: 40px;
  background: none;
  border: none;
  border-radius: 0px 0px 0px 0px;
  margin-top: 90px;
  top: 25%;
}

.book-now-section .carousel-control.right {
  right: 60px;
}

.book-now-section .carousel-control.left {
  left: 60px;
}
/*modal-close.close,
modal-close.close:hover,
modal-close.close:focus {
    width: 45px;
    height: 45px;
    opacity: 1;
    z-index: 2;
    font-size: 40px;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 0;
}*/
.book-now-close a,
.book-now-close a:hover,
.book-now-close a:focus {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  right: -42px;
  top: -10px;
  padding: -1px;
  padding-left: -27px;
  padding-right: 12px;
  opacity: 1;
  z-index: 2;
  font-size: 40px;
  font-weight: normal;
  box-shadow: 5px 0px 18px #888888;
  padding: 0;
  text-align: center;
  line-height: 46px !important;
}

#desktop .book-now-section .nav-tabs {
  border-radius: 0 !important;
  border-bottom: 0 !important;
}

.tab-content > .tab-pane {
  padding-top: 0 !important;
}

.tab-content h3 {
  margin-top: 30px;
}

.tab-content p {
  color: #000;
}

.book-now-section .nav-tabs {
  border-bottom: 0 !important;
}

.book-now-section .nav-tabs {
  border-bottom: 0;
}

.book-now-form-wrap .book-form {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  margin-top: 30px;
  border: 1px solid black;
}

.book-now-form-wrap .mt-30 {
  margin-top: 30px;
}

.book-now-form-wrap .mt-20 {
  margin-top: 20px;
  float: right1;
}
.book-now-detail li {
  border-right: none !important;
}
.book-now-form-wrap .ht-0 {
  padding: 6px 12px;
  color: #555;
  width: 100%;
  border: 1px solid black;
}

.book-now-form-wrap {
  border: none !important;
}

.book-now-form-wrap textarea {
  resize: vertical;
}

.book-now-body .carousel {
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .book-now-content-warp {
    margin-bottom: 30px;
  }

  .tab-pane .collapse {
    /* display: none; */
  }

  .tab-pane.active .collapse {
    display: block !important;
    height: 100% !important;
  }

  .book-now-about-warp + .book-now-about-warp {
    margin-left: 15px;
  }

  button.close,
  button.close:hover,
  button.close:focus {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: -24px;
    top: -20px;
    padding: -1px;
    padding-left: -27px;
    padding-right: 12px;
    opacity: 1;
    z-index: 2;
    font-size: 40px;
    font-weight: normal;
    box-shadow: 5px 0px 18px #888888;
    padding: 0;
  }
}

@media screen and (max-width: 991px) {
  .tab-pane .btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    width: 100%;
    border-radius: 0;
    border: 1px solid #000000;
  }

  .tab-content > .tab-pane {
    display: block;
    opacity: 1;
  }

  .tab-pane .collapse,
  .tab-pane .collapse.in {
    display: none;
    padding: 0 15px 15px;
    border: 1px solid #000000;
    margin-bottom: 0px;
    margin-top: -1px;
  }

  .tab-pane.active .collapse,
  .tab-pane.active .collapse.in {
    display: block;
    height: 100% !important;
    padding: 0;
  }

  .tab-pane > .btn {
    background-color: black;
  }

  .tab-pane.active > .btn {
    background-color: #e59b04;
    border-color: #e59b04;
  }

  .book-now-about-warp {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }

  .tab-pane h3 {
    padding-left: 15px;
    margin-top: 15px;
  }

  .book-now-section .book-now-body {
    width: 95%;
  }

  .book-now-image {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
  }

  .tab-content p {
    padding: 0 15px;
  }
}
/*book now page tab close*/
.summary h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 0px;
}
.summary h4 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.summary ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.summary ul li {
  width: 100%;
  float: none !important;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  position: relative;
  padding-left: 15px;
}
.summary ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 10px;
  height: 10px;
  background: #868585;
  border-radius: 50%;
}

.sendbtn {
  width: 100%;
  background: #fad41a;
  padding: 6px 12px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: center;
  display: block;
  margin-top: 8px;
  cursor: pointer;
}
.sendbtn:hover {
  background: #000;
  color: #fff;
}
.calenderhome_sec {
  margin-bottom: 17px !important;
}
.downhome_sec {
  margin-bottom: 17px !important;
}
.hotelcity {
  margin-bottom: 17px !important;
}
.multi_area_sec {
  width: 100%;
  float: right1;
  margin-bottom: 8px;
}
.multi_area {
  width: 100%;
  float: right1;
  border: 1px solid #f5c700;
  padding: 10px;
  margin-bottom: 5px;
  background: #0000001c;
}
.multi_area h2 {
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid rgba(243, 243, 247, 0.39);
  padding-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 12px;
}
.add_multi_sec {
  width: auto;
  float: left;
  margin-bottom: 5px;
  cursor: pointer;
}
.add_multi_sec a {
  padding: 5px 9px;
  background: #f99c1b;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.add_multi_sec a i {
  font-size: 16px;
  margin-left: 10px;
}
.add_multi_sec a:hover {
  background: #bf7a19;
}
.icon {
  width: 100%;
  float: right1;
  text-align: center;
  padding: 10px 5px;
}
.icon i {
  color: white;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.icon span {
  color: white;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
/*award css*/
.awards {
  width: 100%;
  float: right1;
}
.award-section {
  background: #eff5f5;
  width: 100%;
  float: right1;
  border-top: 1px solid #d6d6d6;
}

.km_slider {
  background: #fff;
  overflow: hidden;
  margin: 0 !important;
  padding: 15px;
  width: 100%;
}
.color-2 {
  color: #969696 !important;
}

#slider-step-value {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: #505050;
  line-height: 16px;
}
.awards .nav-pills {
  border-bottom: 2px solid #fbdfb1;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  border-width: 0;
}

.autocomplete {
  position: relative;
}
.nav-pills > li > a {
  border: none;
  color: #666;
  font-family: "Lato", sans-serif;
}

.autocomplete-results {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd0d0;
  max-height: 223px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 0;
  position: absolute;
  z-index: 99999;
  top: 37px;
}
.autocomplete ul.autocomplete-results li {
  color: #3e3e3e;
  font-size: 13px;
  font-weight: 400;
}
.autocomplete ul.autocomplete-results li:hover {
  color: #fff;
}
.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 7px 10px;
  cursor: pointer;
  border-bottom: 1px dashed #c5c5c5;
}
.autocomplete-results li:last-child {
  border-bottom: none;
}
.autocomplete-result:hover {
  background-color: #3a7fc1;
  color: #fff;
}
.autocomplete-results::-webkit-scrollbar {
  width: 5px;
}
.nav-pills > li.active > a,
.nav-pills > li > a:hover {
  border: none;
  color: #000 !important;
  background: transparent !important;
}

.nav-pills > li > a:focus {
  border: none;
  color: #000 !important;
  background: transparent !important;
}

.nav-pills > li > a::after {
  content: "";
  background: #faa61a;
  height: 5px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

.nav-pills > li.active > a::after,
.nav-pills > li:hover > a::after {
  transform: scale(1);
}

.awards .tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

.awards .tab-pane {
  padding: 15px 0;
}

.awards .tab-content {
  padding: 20px;
}
.autocomplete-results::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  outline: 1px solid slategrey;
}
.awards .card {
  margin-top: 30px;
}

.nav-pills > li {
  margin-right: 54px !important;
}

.award-image {
  text-align: center;
}

.award-image img {
  text-align: center !important;
}

.award-data {
  margin-bottom: 44px;
}

.award-title {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 1.3em;
  color: #888;
  margin-top: 20px;
}

.awards-btn {
  margin-top: 30px;
}

.awards-btn a {
  padding: 3px 15px;
  font-size: 13px;
  border-radius: 20px;
  background: #fad41a;
  color: #000;
  font-weight: 600;
  margin: 30px;
}

.pageload {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  z-index: 99999;
}
.Centerer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.pageload img {
  display: inline-block;
  vertical-align: middle;
}
.modal-open {
  padding-right: 0px !important;
}

.profile-dropdown {
  background: none;
  color: #fad41a;
  margin: -5px 0 0 8px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .award-title {
    text-align: left;
    margin-bottom: 10px;
  }

  .award-section .row1 ul {
    padding: 15px;
  }
}

@media (min-width: 409px) and (max-width: 525px) {
  .nav-pills > li {
    margin-right: 22px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-pills > li {
    margin-right: 45px !important;
  }
}
.award-section .award-data ul li {
  font-family: "Lato", sans-serif;
  color: #808285;
  font-size: 14px;
  margin-bottom: 5px;
}
/*award css close*/

@media (min-width: 1281px) {
  .container {
    width: 1250px;
  }
  .hotel_section .container,
  .tour_package .container,
  .uae_attraction .container,
  .first_about .container,
  .awards .container {
    width: 920px;
  }
}
