@charset "utf-8";

/* CSS Document */

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
img,
object,
embed,
video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    outline: none !important;
}

.clearfix {
    clear: both;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #fff;
}

::selection {
    background-color: #dfdae6;
    color: #fff;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.award-section .owl-controls {
    display: none !important;
}

.ui-widget-content {
    z-index: 99 !important;
}

.awards_pic_scroll {
    display: none;
    padding-top: 20px;
}

.awards_pic_scroll .award-img {
    padding: 0px 10px;
}

.award-section .award-data {
    margin-bottom: 14px !important;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 20px;
}

.award-section .award-data:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}


/*banner sec*/

.glyphicon-chevron-right:before {
    background: url(../images/next.svg) no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
}

.glyphicon-chevron-left:before {
    background: url(../images/prev.svg) no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
}

.carousel-control {
    opacity: 1;
    width: 10%;
}

.carousel-control.right {
    background: none;
}

.carousel-control.left {
    background: none;
}

.item {
    max-height: 530px;
}

.carousel-caption img {
    width: auto !important;
}

.carousel-caption {
    top: 0 !important;
    padding-top: 34px;
}


/*banner sec close*/


/*hotel offers*/

.hotel_section {
    width: 100%;
    float: left;
    padding-bottom: 18px;
    /* background: url(../images/tour-packages-bg.png) 50% 0%; */
    background-size: cover;
}

.special_package {
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.special_package img {
    width: 100%;
    height: 230px;
    transition: 0.4s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.special_package:hover img {
    transform: scale(1.1);
}

.package_dis {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 9;
}

.package_dis h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #000;
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 9px 5px;
    text-transform: uppercase;
}

.dis_sec {
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.52);
    padding: 5px 22px 5px;
}

.dis_sec p {
    color: #fff;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 500;
}


/*hotel offers close*/


/*Tour Package*/

.tour_package {
    width: 100%;
    float: left;
    padding-bottom: 31px;
    background: #eee url(../images/offers-bg.png) bottom repeat-x;
    text-align: center;
}

.tour_package h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #292929;
    font-size: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tour_package h4:before,
.tour_package h4:after {
    background: #afafaf;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.tour_package h4:before {
    right: 100%;
    width: 150px;
}

.tour_package h4:after {
    left: 100%;
    width: 150px;
}

.tour_package h5 {
    font-family: "Roboto", sans-serif !important;
    font-size: 15px;
    color: #292929;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
}

.tour_offer {
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.tour_offer img {
    height: 230px;
    transition: 0.4s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.tour_offer:hover img {
    transform: scale(1.1);
}

.tour_offer_cont {
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.46);
    padding: 13px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.tour_offer_cont h3 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.tour_offer_cont p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.tour_package .item {
    padding: 0px 20px 0px 20px;
}

#owl-tour-offers .owl-buttons {
    display: block;
    margin-top: -147px;
    position: absolute;
    width: 100%;
}
#owl-hotel-offers .owl-buttons{
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -175px;
}
#owl-uae-attractions .owl-buttons{
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -175px;
}

/*Tour Package*/


/*Uae Attractions*/

.uae_attraction {
    width: 100%;
    float: left;
    text-align: center;
}

.uae_attraction h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #292929;
    font-size: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.uae_attraction h4:before,
.uae_attraction h4:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.uae_attraction h4:before {
    right: 100%;
    width: 150px;
}

.uae_attraction h4:after {
    left: 100%;
    width: 150px;
}

.uae_attraction .item {
    padding: 0px 20px;
}

.uae_attraction .owl-buttons {
    display: block;
}

#owl-uae-attractions .owl-pagination .owl-page span {
    background: #866c6c;
}

.view-all {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.view-all a {
    padding: 8px 30px;
    font-size: 15px;
    border-radius: 20px;
    background: #fad41a;
    color: #292929;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.view-all a:hover {
    background: #010101;
    color: white;
}


/*Uae Attraction*/


/*Partner area*/

.partner_area {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 13px;
}

.partner_area h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #292929;
    font-size: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partner_area h4:before,
.partner_area h4:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.partner_area h4:before {
    right: 100%;
    width: 150px;
}

.partner_area h4:after {
    left: 100%;
    width: 150px;
}

.partner_area .slider_icon {
    position: relative;
    top: 26px;
}

.sp_partner {
    position: relative;
    margin-top: -84px;
}


/*Partner area close*/


/*Search form*/

.dash_form {
    width: 100%;
    float: left;
    position: relative;
    z-index: 99;
}

.search-tabs {
    position: relative;
    width: 100%;
    float: left;
    margin-top: -80px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    z-index: 9 !important;
}

.search_nav_new{
    background: none !important;
}

.search_nav_new ul li {
    background: rgba(0, 0, 0, 0.7) !important;
    border-radius: 3px;
    margin: 0 3px;
    padding-top: 7px;
    border: none !important;
}

.search-col-padding_new{
    width: 100%;
}

.new_search_form {
    margin: 30px 0;
}

.new_nav_tabs {
    border: none !important;
    padding: 0 !important;
}

.calenderhome_sec {
    /* background: #fff url(../images/calendar.png) no-repeat left !important; */
    background: none;
    /* overflow: hidden; */
    margin: 0 !important;
    padding: 8px 42px !important;
    width: 100%;
    border: none;
}

.downhome_sec {
    /* background: #fff url(../images/down-arrow.png) no-repeat right !important; */
    background: none;
    /* overflow: hidden; */
    margin: 0 !important;
    padding: 8px 10px !important;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    z-index: 3;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.search_field .calenderhome_sec {
    padding: 0px 10px !important;
}

.ar_direction1 .search_field .calenderhome_sec {
    padding: 0px 33px 0px 10px !important;
}

@media (min-width: 1200px) {
    .hometab {
        width: 1100px;
    }
}

.ad_view {
    display: none;
    padding-top: 8px;
    float: left;
    width: 100%;
}

.checkBox_area01 input[type="checkbox"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.checkBox_area01 input[type="checkbox"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../images/radio-checkbox01.png) no-repeat;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.checkBox_area01 label span {
    padding: 0 9px;
}

.checkBox_area01 input[type="checkbox"]:checked+label:before {
    background-position: 0 -19px;
}

.checkBox_area01 input[type="checkbox"]+label:before {
    background-position: 0 0px;
}

.ad_srch {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.ad_srch i {
    font-size: 19px;
    color: #f6d805;
    margin-left: 10px;
}

.dash_form .search-tabs .nav-tabs {
    text-align: center;
    font-size: 0px;
    margin-bottom: -2px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}

.center-tabs li {
    display: inline-block;
    float: none;
    width: 11%;
}

.search-tabs .nav-tabs li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    float: none;
}

.search-tabs .nav-tabs li a {
    padding: 0 20px;
}

.search-tabs .nav-tabs li.active a {
    /*color:#faa61a;*/
    color: orange;
}

.search-tabs .nav-tabs li.hover a {
    /*color:#faa61a;*/
    color: orange;
}

.search-tabs .nav-tabs li .fa {
    margin-right: 7px;
    font-size: 15px;
}

.search-tabs .tab-content .tab-pane {
    padding: 25px;
}

.search-tabs .tab-content .tab-pane input,
.search-tabs .tab-content .tab-pane select {
    text-transform: uppercase;
    font-size: 10px;
}

.search-tabs .tab-content .tab-pane .form-group,
.search-tabs .tab-content .tab-pane .form-group {
    position: relative;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon input {
    padding-left: 38px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa {
    left: 15px;
}

.search-tabs .tab-content .tab-pane .form-group.right-icon .fa {
    right: 11px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa,
.search-tabs .tab-content .tab-pane .form-group.right-icon .fa {
    position: absolute;
    pointer-events: none;
}

.search-tabs .tab-content .tab-pane .btn {
    padding: 8px 32px;
}


/************* SEARCH-TABS-3 *************/

#search-tabs-3.search-tabs {
    bottom: 148px;
}

#search-tabs-3 .nav-tabs li {
    font-size: 13px;
    margin-bottom: 1px;
}

#search-tabs-3 .nav-tabs li a,
#search-tabs-3 .nav-tabs li.active a {
    padding: 10px 15px;
    border: 0px;
}

#search-tabs-3 .tab-content .tab-pane {
    padding: 35px 30px;
}

#search-tabs-3 .tab-content .tab-pane .btn {
    margin-top: 15px;
}

#search-tabs-3 .tab-content .tab-pane .form-group label {
    text-transform: uppercase;
    font-weight: 400;
}

#search-tabs-3 .tab-pane form input,
#search-tabs-3 .tab-pane form input::placeholder,
#search-tabs-3 .tab-pane form select {
    text-transform: none;
}

.welcome-message {
    padding: 43px 55px;
    margin-top: 38px;
}

.welcome-message h2 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
}

.welcome-message p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 22px;
}

.welcome-message p:nth-child(odd) {
    font-weight: normal;
}

.welcome-message .btn {
    margin-top: 10px;
    padding: 8px 27px 9px;
}


/************* SEARCH-TABS-4 *************/

#search-tabs-4.search-tabs {
    bottom: 0px;
}


/************* SEARCH-TABS-5 *************/

#search-tabs-5.search-tabs {
    bottom: 0px;
}

.search-tabs .nav-tabs li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

ul.nav-tabs li {
    border-right: 1px solid #7d7d7d;
}

ul.nav-tabs li:last-child {
    border-right: none;
}

.center-tabs li {
    display: inline-block;
    float: none;
    width: 11%;
}

.search-tabs .nav-tabs li.active a {
    color: #faa61a;
    background: none !important;
}

.search-tabs .nav-tabs li.active a {
    background: transparent;
    border-radius: 0px;
    color: #faa61a;
    border: none;
    border-bottom: 0px;
}

.search-tabs .nav-tabs li a {
    padding: 0 20px;
    border: none;
}

.nav>li>a>img {
    max-width: none;
}

.img40 {
    width: 30px;
}

.nav-tabs>li.active>a p,
.nav-tabs>li.active>a p:focus,
.nav-tabs>li.active>a:hover p {
    color: #e59b04 !important;
}

ul.nav-tabs li a p {
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-tabs .nav-tabs li a:hover {
    background: none !important;
    border: none;
}

ul.nav-tabs li a:hover p {
    color: #e59b04 !important;
}

.nav-tabs {
    border-bottom: 1px solid #686a6b;
}

.tab-content {
    border-radius: 3px;
    margin-top: 17px;
    width: 100%;
    float: left;
}

.mrg-0 {
    margin-top: 0px !important;
}

.tab_p {
    padding: 25px 25px 25px 25px !important;
}

.search_field {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px 0px;
    border-radius: 3px;
}

.tab_p h6 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #fff;
    padding-top: 5px;
    font-weight: normal;
    margin-bottom: 13px;
}

.trip_area {
    width: 100%;
    float: left;
    margin-bottom: 7px;
}

.flight_type {
    width: 100%;
    float: none;
    display: flex;
}

.btnsec01 {
    float: none;
    /* margin-right: 13px; */
}

.btnsec01 label {
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 6px;
}

.btnsec01 input[type="radio"]:checked+label:before {
    background-position: 0 -18px;
}

.btnsec01 input[type="radio"]+label:before {
    background-position: 0 0;
}

.btnsec01 input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 18px;
    margin-right: 4px;
    margin-left: 5px;
    background: url(../images/radio-checkbox.png) no-repeat;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.btnsec01 input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.form_sec {
    width: 100%;
    float: left;
    margin-bottom: 17px;
    background: #FFF;
    position: relative;
}

.form_sec i {
    font-size: 17px;
    color: #f6d805;
    padding: 11px 13px;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 2;
}

.en_dwn i {
    right: 0;
}

.dwn_icon i {
    left: 0 !important;
    right: inherit;
    position: absolute;
}

.form_sec label {
    color: #ffffff !important;
}

.form_sec label {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.cont_txt01 {
    width: 100%;
    height: 37px;
    float: left;
    background: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    color: #464646;
    font-weight: 400;
    padding: 0px 10px;
    font-family: "Roboto", sans-serif;
}

@media (min-width: 768px) {
    .navbar-right {
        float: left !important;
    }
    .cont_txt01 {
        width: 100%;
        height: 37px;
        float: none;
    }
}

.headertitle {
    overflow: hidden;
    text-align: center;
}

.headertitle h1:before,
.headertitle h1:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.headertitle h1:before {
    right: 100%;
    width: 150px;
}

.headertitle h1:after {
    left: 100%;
    width: 150px;
}

.headertitle h1 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #292929;
    font-size: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
}

header {
    border-bottom: none !important;
    z-index: 999999999;
}


/*.fa-calendar {
    color: #f6d805;
    position: absolute;
    top: 50px;
    padding: 0px 10px;
    font-size: 18px;
}*/


/* 
.fa-angle-down {
    position: absolute;
    color: #f6d805;
    font-size: 31px;
    right: 30px;
    top: 40px;
} */

.cont_txt {
    width: 100%;
    height: 40px;
    float: left;
    font-size: 13px;
    color: #4c4c4c;
    font-weight: 400;
    padding: 0px 10px;
}

.search {
    height: 39px !important;
    float: right !important;
    font-size: 13px !important;
    color: #292929 !important;
    font-weight: 700 !important;
    border: none !important;
    padding: 0px 13px !important;
    margin-top: 8px !important;
    text-transform: uppercase !important;
    padding: 8px 32px !important;
    border-radius: 0px !important;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
    ul.nav-tabs li {
        width: 33.3% !important;
    }
}

.search {
    background: #f6d805;
}

.font-text {
    font-size: 10px;
}


/* index-tab-hotel*/

.rooms {
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    /* float: left; */
    padding-top: 6px;
}

.advanced_search {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.advnce_open {
    width: 100%;
    float: left;
    display: none;
    border: 1px solid #f99c1b;
    padding: 10px;
}
.content-packages2 {
    margin-bottom: 68px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    float: right;
}
.content-packages2 h4 {
    font-family: "Roboto", sans-serif !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
    padding: 9px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.calender_area {
    width: 100%;
    height: 40px;
    background: none;
    border: 1px solid #fff;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #4c4c4c;
    font-weight: 400;
    padding: 0px 10px;
    z-index: 3;
    position: relative;
}

.calender-datepicker:before {
    content: "\f073";
    color: #f6d805;
    position: absolute;
    top: 50%;
    transform: translate(-26px, -50%);
    left: 40px;
    font-size: 18px;
}

.angle-down:before {
    content: "\f107";
    color: #f6d805;
    position: absolute;
    top: 50%;
    transform: translate(-26px, -50%);
    right: -19px;
    font-size: 30px;
}

.angle-down {
    position: relative;
    width: 100%;
}


/*.fa-plus {
    font-size: 20px;
    color: #f6d805;
    margin-left: 10px;
    position: absolute;
    top: 19px;
}*/

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-offset: -2px;
}

.ad_srch {
    float: left;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
}

.ad_srch span {
    padding: 0 10px;
}

.block_sec {
    display: block !important;
}

.bg_none {
    background: none !important;
}

.ad_srch i {
    font-size: 19px;
    color: #f6d805;
    margin-left: 0px;
    padding: 0px 8px;
}

.margintop25 {
    margin-top: 5px;
}

.trip_area {
    width: 100%;
    float: none;
    margin-bottom: 7px;
    margin-right: -10px;
    margin-left: -10px;
}

.checkBox_area01 {
    margin-top: 6px;
}

.form_sec label {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #70ecfe;
    text-transform: uppercase;
}

.nav-tabs {
    display: block;
}


/*Search form close*/


/*common header*/

.common_header {
    width: 100%;
    float: left;
    /* background: url(../images/bg.jpg); */
    background-size: cover;
    background-position: 0px 220px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;
}

.common_header h2 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #40484b;
    font-size: 40px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 25px;
}

.common_header h2:before,
.common_header h2:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.common_header h2:before {
    right: 100%;
    width: 150px;
}

.common_header h2:after {
    left: 100%;
    width: 150px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    top: 50% !important;
}

.cmn_about {
    width: 100%;
    float: left;
}

.cmn_about h3 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #40484b;
    text-align: center;
    padding: 20px 0px;
}

.cmn_about p {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    font-size: 14px;
    color: #292929;
    margin-bottom: 5px;
    font-weight: 300;
}

.about_map {
    width: 100%;
    float: left;
    padding-top: 25px;
}

.about_map img {
    width: 100%;
}

.first_about {
    width: 100%;
    float: left;
    padding-bottom: 19px;
}

.common_nml_heade {
    width: 100%;
    float: left;
    text-align: center;
}

.common_nml_heade h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #292929;
    font-size: 30px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
    margin-bottom: 20px;
}

.common_nml_heade h4:before,
.common_nml_heade h4:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.common_nml_heade h4:before {
    right: 100%;
    width: 150px;
}

.common_nml_heade h4:after {
    left: 100%;
    width: 150px;
}

.sisters_slide {
    width: 100%;
    float: left;
}

.sisters_slide a {
    color: #0000ff;
}

.logosec {
    text-align: center;
}

.logosec img {
    width: 142px;
    display: -webkit-inline-box;
}

.full-heightp {
    margin-right: 0px;
    margin-left: 0px;
    font-weight: 700;
    border-radius: 15px;
    padding: 10px;
}


/*about sisters companies slide*/

.sisters_slide .carousel-control.right {
    right: -60px !important;
}

.sisters_slide .carousel-control.left {
    left: -60px !important;
}

.sisters_slide .carousel-control img {
    position: relative;
    top: 90px;
}

@media only screen and (max-width: 373px) {
    .sisters_slide .carousel {
        padding: 0px !important;
    }
    .sisters_slide .carousel-control.right {
        right: -38px !important;
    }
    .sisters_slide .carousel-control.left {
        left: -45px !important;
    }
    .sisters_slide .carousel-control img {
        width: 40px !important;
        top: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .sisters_slide .carousel {
        padding: 0px !important;
    }
    .sisters_slide .carousel-control.right {
        right: -40px !important;
    }
    .sisters_slide .carousel-control.left {
        left: -48px !important;
    }
    .sisters_slide .carousel-control img {
        width: 40px !important;
        top: 50px;
    }
}

@media only screen and (max-width: 700px) {
    .sisters_slide .carousel {
        padding: 0px !important;
    }
    .sisters_slide .carousel-control.right {
        right: -40px !important;
    }
    .sisters_slide .carousel-control.left {
        left: -48px !important;
    }
    .sisters_slide .carousel-control img {
        width: 40px !important;
        top: 50px;
    }
    .sisters_slide .carousel-control img {
        position: relative;
        top: 140px;
    }
}


/*about sisters companies slide close*/

.mission_sec_area {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.mission_sec {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.chairman_sec {
    width: 100%;
    float: left;
    display: flex;
}

.chairman_sec p {
    text-align: justify;
    font-size: 14px;
    color: #292929;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.mission-box {
    margin-bottom: 20px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.mission-box h3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.55);
    padding: 13px 5px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.mission-content p {
    color: #292929;
}

.travel_guid {
    width: 100%;
    float: left;
    padding-top: 20px;
}

#ag_iframe {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    overflow: hidden;
    height: 1050px;
}

#ag_iframe iframe {
    width: 100%;
    height: 100%;
}

#ag_iframe iframe::-webkit-scrollbar {
    width: 5px;
}

#ag_iframe iframe::-webkit-scrollbar-track {
    background: #e6e6e6;
}

#ag_iframe iframe::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}

.package_sec {
    width: 100%;
    float: left;
    padding: 30px 0px 8px 0px;
    background-size: cover;
}

.package_sec .smallbox {
    position: relative;
    background-color: #292929;
    border-radius: 20px;
    margin-bottom: 24px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #292929;
}

.package_sec .smallbox img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cnt_sec {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.41);
}

.content-packages {
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    float: left;
}

.content-packages h4 {
    font-family: "Roboto", sans-serif !important;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 9px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.content-name {
    width: 100%;
    float: left;
    padding: 0 29px;
}

.content-name h4 {
    font-family: "Roboto", sans-serif !important;
    color: #f1f1f1;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 18px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 2px solid #fff;
}

.content-menu {
    width: 100%;
    float: left;
}

.content-menu h5 {
    color: #f1f1f1;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    padding: 9px 5px;
    font-family: "Roboto", sans-serif !important;
}

.content-menu h6 {
    font-family: "Roboto", sans-serif !important;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}

.package_cont {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
}

.smallbox:hover .cnt_sec {
    opacity: 0;
}

.smallbox:hover img {
    opacity: 1 !important;
    transform: scale(1.1);
}

.booknow_sec {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.wdth_sec_scr {
    float: left;
    width: 100%;
}

.details_img_scroll {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.scroll_package {
    width: 100%;
    float: left;
}

#owl-tour-offersnew .item {
    padding: 10px 15px;
}

.scroll_package .owl-controls {
    display: none !important;
}

.wdth_sec_scr {
    float: left;
    width: 100%;
    padding-bottom: 21px;
}

.book-now-body {
    max-width: 1050px;
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: 5px 5px 18px 10px #888888;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.book-now-close a,
.book-now-close a:hover,
.book-now-close a:focus {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    right: -42px;
    top: -10px;
    padding-right: 12px;
    opacity: 1;
    z-index: 2;
    font-size: 40px;
    font-weight: normal;
    box-shadow: 5px 0px 18px #888888;
    text-align: center;
    line-height: 46px;
    padding-left: 12px;
}

.booksec {
    width: 100%;
    padding-top: 30px;
}

.booksec h2 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
}

.booksec h5 {
    color: #e40000;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
}

.booksec h5 span {
    color: #757575;
    font-weight: 500;
}

.booksec h3 {
    font-size: 20px;
    color: #da1515;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 4px;
}

.booksec h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
}


/*book now page tab*/

.book-now-tab a {
    border: 1px solid;
    background-color: black;
    /* padding-left: 15px; */
    margin-left: 0px;
    margin-top: 15px;
    color: #ffffff;
}

.book-now-list .nav-tabs {
    float: none;
}

.book-now-body .tab-content {
    float: none;
}

.book-now-list .nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border-radius: 7px;
}

.book-now-list .book-now-tab a:hover {
    background-color: #e59b04;
    color: #FFF !important;
}


/*.modal-detail li.active a {
            background-color: #e59b04;
            color: #ffffff;
        }*/

.book-now-list .nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: #e59b04;
    color: #ffffff;
}


/*.modal-detail li {
            width: 19%;
        }*/

.book-now-list .nav-tabs {
    border-bottom: 0px solid #fff !important;
    border-radius: 15px;
}


/*.modal-tab  + .modal-tab{
            margin-left: 5px;
        }*/

.book-now-tab {
    width: calc(100% / 5 - 15px);
    text-align: center;
    margin-right: 15px;
}

.book-now-tab+.book-now-tab {
    margin-right: 15px;
}

.book-now-content-warp {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
}

.book-now-about {
    border: 1px solid;
    padding: 15px;
    list-style: none;
}

.book-now-about-warp {
    margin-top: 15px;
    width: calc(100% / 4 - 15px);
    padding-left: 0;
}

.book-now-close .close-btn {
    float: right;
    font-size: 40px;
    /* font-weight: 700; */
    line-height: 1;
    color: #292929;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1.2;
}

.book-now-image {
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 10px;
    padding-bottom: 25px;
}

.book-now-section .carousel-control {
    height: -12px;
    width: 40px;
    background: none;
    border: none;
    border-radius: 0px 0px 0px 0px;
    margin-top: 90px;
    top: 25%;
}

.book-now-section .carousel-control.right {
    right: 60px;
}

.book-now-section .carousel-control.left {
    left: 60px;
}


/*modal-close.close,
modal-close.close:hover,
modal-close.close:focus {
    width: 45px;
    height: 45px;
    opacity: 1;
    z-index: 2;
    font-size: 40px;
    font-weight: normal;
    padding: 0;
    position: absolute;
    right: 0;
}*/

.book-now-close a,
.book-now-close a:hover,
.book-now-close a:focus {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    right: -42px;
    top: -10px;
    padding: -1px;
    padding-left: -27px;
    padding-right: 12px;
    opacity: 1;
    z-index: 2;
    font-size: 40px;
    font-weight: normal;
    box-shadow: 5px 0px 18px #888888;
    padding: 0;
    text-align: center;
    line-height: 46px !important;
}

#desktop .book-now-section .nav-tabs {
    border-radius: 0 !important;
    border-bottom: 0 !important;
}

.tab-content>.tab-pane {
    padding-top: 0 !important;
}

.tab-content h3 {
    margin-top: 30px;
}

.tab-content p {
    color: #292929;
}

.book-now-section .nav-tabs {
    border-bottom: 0 !important;
}

.book-now-section .nav-tabs {
    border-bottom: 0;
}

.book-now-form-wrap .book-form {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #555;
    margin-top: 30px;
    border: 1px solid black;
}

.book-now-form-wrap .mt-30 {
    margin-top: 30px;
}

.book-now-form-wrap .mt-20 {
    margin-top: 20px;
    float: left;
}

.book-now-detail li {
    border-right: none !important;
}

.book-now-form-wrap .ht-0 {
    padding: 6px 12px;
    color: #555;
    width: 100%;
    border: 1px solid #d6d6d6;
    background: #eaeaea;
    margin-top: 0px !important;
}

.book-now-form-wrap {
    border: none !important;
}

.book-now-form-wrap textarea {
    resize: vertical;
}

.book-now-body .carousel {
    margin-bottom: 0;
    padding: 0;
}

@media screen and (min-width: 992px) {
    .book-now-content-warp {
        margin-bottom: 30px;
    }
    .tab-pane .collapse {
        /* display: none; */
    }
    .tab-pane.active .collapse {
        display: block !important;
        height: 100% !important;
    }
    .book-now-about-warp+.book-now-about-warp {
        margin-left: 15px;
    }
    button.close,
    button.close:hover,
    button.close:focus {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        right: -24px;
        top: -20px;
        padding: -1px;
        padding-left: -27px;
        padding-right: 12px;
        opacity: 1;
        z-index: 2;
        font-size: 40px;
        font-weight: normal;
        box-shadow: 5px 0px 18px #888888;
        padding: 0;
    }
}

@media screen and (max-width: 991px) {
    .tab-pane .btn-info {
        color: #fff;
        background-color: #5bc0de;
        border-color: #46b8da;
        width: 100%;
        border-radius: 0;
        border: 1px solid #000000;
    }
    .tab-content>.tab-pane {
        display: block;
        opacity: 1;
    }
    .tab-pane .collapse,
    .tab-pane .collapse.in {
        display: none;
        padding: 0 15px 15px;
        border: 1px solid #000000;
        margin-bottom: 0px;
        margin-top: -1px;
    }
    .tab-pane.active .collapse,
    .tab-pane.active .collapse.in {
        display: block;
        height: 100% !important;
        padding: 0;
    }
    .tab-pane>.btn {
        background-color: black;
    }
    .tab-pane.active>.btn {
        background-color: #e59b04;
        border-color: #e59b04;
    }
    .book-now-about-warp {
        width: calc(100% / 2 - 30px);
        margin: 15px;
    }
    .tab-pane h3 {
        padding-left: 15px;
        margin-top: 15px;
    }
    .book-now-section .book-now-body {
        width: 95%;
    }
    .book-now-image {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
    }
    .tab-content p {
        padding: 0 15px;
    }
    .search_field .row {
        flex-direction: column;
    }
    .search_field .row .col-md-6 {
        width: 100% !important;
    }
    #terms ul {
        flex-direction: column;
    }
    #terms ul li {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer_bottom .flx_sec {
        flex-direction: column;
    }
    #terms ul li a {
        display: block;
        text-align: center;
        border-right: none !important;
        padding: 6px 0px !important;
        border-bottom: 1px dashed #313131;
    }
    #terms p {
        text-align: center;
        padding: 10px;
    }
    .visaimg {
        width: 100px !important;
    }
    .footer_bottom {
        text-align: center;
    }
    #Contactinfodiv .n_sec {
        width: 100% !important;
    }
    .footer_address_sec .flx_sec {
        flex-direction: column;
    }
    .flx_sec .subscribe_sec {
        width: 50%;
        margin-bottom: 8px;
    }
    .flx_sec .subscribe_sec a {
        float: initial;
    }
    .flx_sec #sicialdiv {
        width: 50%;
    }
    .footer_address_sec form .col-xs-12 {
        width: 100%;
    }
    .country .uae .col-md-3 {
        width: 50%;
        margin-bottom: 10px;
    }
}


/*book now page tab close*/

.summary h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 0px;
}

.summary h4 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.summary ul {
    margin: 0px;
    padding: 0px 16px;
    list-style: none;
}

.summary ul li {
    width: 100%;
    float: none !important;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    position: relative;
    list-style: disc;
}


/* .summary ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    background: #868585;
    border-radius: 50%;
} */

.sendbtn {
    width: 100%;
    background: #fad41a;
    padding: 6px 12px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #292929;
    text-align: center;
    display: block;
    margin-top: 8px;
    cursor: pointer;
}

.sendbtn:hover {
    background: #292929;
    color: #fff;
}


/* .calenderhome_sec {
  margin-bottom: 17px !important;
}
.downhome_sec {
  margin-bottom: 17px !important;
}
.hotelcity {
  margin-bottom: 17px !important;
} */

.multi_area_sec {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.multi_area {
    width: 100%;
    float: left;
    border: 1px solid #f5c700;
    padding: 10px;
    margin-bottom: 5px;
    background: #0000001c;
}

.multi_area h2 {
    color: #fff;
    font-weight: 400;
    border-bottom: 1px solid rgba(243, 243, 247, 0.39);
    padding-bottom: 9px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 12px;
    position: relative;
}

.add_multi_sec {
    width: auto;
    float: right;
    margin-bottom: 5px;
    cursor: pointer;
}

.add_multi_sec a {
    padding: 5px 9px;
    background: #f99c1b;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.add_multi_sec a i {
    font-size: 16px;
    padding: 0 6px;
}

.add_multi_sec a:hover {
    background: #bf7a19;
}

.icon {
    width: 100%;
    float: left;
    text-align: center;
    padding: 10px 5px;
}

.icon i {
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.icon span {
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}


/*award css*/

.awards {
    width: 100%;
    float: left;
}

.award-section {
    background: #eff5f5;
    width: 100%;
    float: left;
    border-top: 1px solid #d6d6d6;
}

.km_slider {
    background: #fff;
    overflow: hidden;
    margin: 0 !important;
    padding: 0px 10px;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.color-2 {
    color: #969696 !important;
}

#slider-step-value {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    color: #505050;
    line-height: 16px;
}

.awards .nav-pills {
    border-bottom: 2px solid #fbdfb1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: inherit;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    border-width: 0;
}

.autocomplete {
    position: relative;
}

.nav-pills>li>a {
    border: none;
    color: #666;
    font-family: "Roboto", sans-serif;
}

.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 37px;
}

.autocomplete ul.autocomplete-results li {
    color: #3e3e3e;
    font-size: 13px;
    font-weight: 400;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #fff;
}

.autocomplete-result {
    list-style: none;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.nav-pills>li.active>a,
.nav-pills>li>a:hover {
    border: none;
    color: #292929 !important;
    background: transparent !important;
}

.nav-pills>li>a:focus {
    border: none;
    color: #292929 !important;
    background: transparent !important;
}

.nav-pills>li>a::after {
    content: "";
    background: #faa61a;
    height: 5px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-pills>li.active>a::after,
.nav-pills>li:hover>a::after {
    transform: scale(1);
}

.awards .tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.awards .tab-pane {
    padding: 15px 0;
}

.awards .tab-content {
    padding: 20px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}

.awards .card {
    margin-top: 30px;
}

.nav-pills>li {
    padding: 0px 8px !important;
}

.award-image {
    text-align: center;
}

.award-image img {
    text-align: center !important;
}

.award-data {
    margin-bottom: 44px;
}

.award-title {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 1.3em;
    color: #888;
    margin-top: 20px;
}

.awards-btn {
    margin-top: 30px;
}

.awards-btn a {
    padding: 3px 15px;
    font-size: 13px;
    border-radius: 20px;
    background: #fad41a;
    color: #292929;
    font-weight: 600;
}

.pageload {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #000000;
    z-index: 99999;
}

.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.pageload img {
    display: inline-block;
    vertical-align: middle;
}

.modal-open {
    padding-right: 0px !important;
}

.profile-dropdown {
    background: none;
    color: #fad41a;
    margin: -5px 0 0 8px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .award-title {
        text-align: left;
        margin-bottom: 10px;
    }
    .award-section .row1 ul {
        padding: 15px;
    }
}

@media (min-width: 409px) and (max-width: 525px) {
    .nav-pills>li {
        margin-right: 22px !important;
    }
}

@media (min-width: 240px) and (max-width: 378px) {
    .tab_p {
        padding: 0px 8px 8px 8px !important;
    }
    .search {
        width: 100%;
    }
    .flight_type {
        display: block;
    }
    .btnsec01 {
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav-pills>li {
        margin-right: 45px !important;
    }
}

@media (min-width: 200px) and (max-width: 750px) {
    .common_header h2:before,
    .common_header h2:after {
        display: none;
    }
}

.award-section .award-data ul li {
    font-family: "Roboto", sans-serif;
    color: #808285;
    font-size: 14px;
    margin-bottom: 5px;
}


/*award css close*/

@media (min-width: 1281px) {
    .container {
        width: 1250px;
    }
    .hotel_section .container,
    .tour_package .container,
    .uae_attraction .container,
    .first_about .container {
        width: 920px;
    }
}

.event span,
.event a {
    /*background: rgba(51,146,225,.12);*/
    font-weight: normal;
    /*color: #FFF !important;*/
}

.event-selected {
    background: rgba(51, 146, 225, 0.12);
    font-weight: normal !important;
}

.event-selected-right a {
    border: 1px solid var(--primary-color) !important;
}

.event-selected-left span {
    border: 1px solid var(--primary-color) !important;
}

.autocomplete-result-active {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.hm-search-btn {
    width: 100%;
}

.range_sec .noUi-origin {
    right: inherit;
    left: -98%;
}

.ar_direction1 .add_multi_sec {
    float: left;
}

.booknow_content {
    width: 75%;
}

.book_weather {
    width: 25%
}

.book_weather span {
    width: auto;
    float: right;
    padding: 10px 10px 0px 10px;
    border: 1px dashed #c5c5c5;
    border-radius: 6px;
}

.book_weather h5 {
    text-align: right;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.book_weather h6 {
    text-align: right;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.book_weather h4 {
    text-align: right;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.booknow_sec .ar_direction1 .book_weather span {
    float: left;
}

.booknow_sec .ar_direction1 .book_weather h5,
.booknow_sec .ar_direction1 .book_weather h6,
.booknow_sec .ar_direction1 .book_weather h4 {
    text-align: left;
}

#searchform .ar_direction1 ul.nav-tabs li {
    border-right: none;
    border-left: 1px solid #7d7d7d;
}

#searchform .ar_direction1 ul.nav-tabs li:last-child {
    border-left: none;
}

.blackBgcolor {
    background: #000;
}

.map_loc_view .item {
    background: #dabd66;
    padding: 7px;
    border-radius: 3px;
}

.map_loc_view .item .img-fullwidth {
    margin-bottom: 0px;
    background: #f9e4a4;
    padding: 2px;
}

.map_loc_view .text_description h3 {
    color: #614d11 !important;
    font-weight: 500 !important;
    border-bottom: 1px dashed #b19644 !important;
}

.map_loc_view .text_description p {
    color: #614d11;
}

.mapgooglelink {
    background: #c8ad59;
    padding: 5px;
}

.servicesbanner {
    /* background-image: url(../images/servicebanner.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 68px 0px;
}

.aboutusbanner {
    /* background-image: url(../images/servicebanner.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 68px 0px;
}

.aboutusbanner h5 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.awardsbanner {
    /* background-image: url(../images/servicebanner.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 68px 0px;
    position: relative;
}

.awardsbanner::after {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.26);
    position: absolute;
}

.awardsbanner h5 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 9;
}

.awardsbanner div {
    position: relative;
    z-index: 9;
}

.servicesinfo_banner {
    /* background-image: url(../images/servicebanner.png); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 138px 0px;
}

.servicesbanner h5 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.servicesbanner p,
.spHeader p,
.aboutusbanner p,
.awardsbanner p {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
}

.servicesinfo_banner h5 {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
}

.right-all-sec-services {
    margin-top: 10px;
    float: left;
    overflow: hidden;
    background: #eaeaea;
    width: 100%;
}

.right-all-sec-services h3 {
    background: #00a8e1;
    padding:11px 16px;
    color: #FFF;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
}

.right-all-sec-services li {
    border-bottom: 1px dotted #ababab;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.right-all-sec-services li:hover{
    background: #dcdcdc;
    color: #000;
}

.right-all-sec-services ul li h5 {
    padding: 12px 16px;
}

.right-all-sec-services ul li h5 a {
    font-size: 16px;
    font-weight: 400;
    margin: 0 !important;
    font-family: 'Lato', sans-serif;
    color: #717171;
}

.servicesinfo_banner p {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
}

.mainServices {
    width: 100%;
    float: left;
    padding: 20px 0px;
}

.nopadding {
    padding-left: 0px;
    padding-right: 0px;
}

.p10 {
    padding: 10px;
}

.serviceSec {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.serviceSec img {
    transition: transform .2s;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.serviceSec:hover img {
    transform: scale(1.1);
}

.servicetitle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.98) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}

.eventsmain {
    width: 100%;
    float: left;
    margin-top: 0px !important;
    background: #f9f9f9;
}

.eventsmain5 {
    margin-top: -100px;
    margin-bottom: 30px;
}

.eventsmain5 h4 {
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    color: #03a7f2;
    margin-bottom: 15px;
}

.eventsmain-deatil {
    padding: 20px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.45);
}

.eventsmain-deatil .owl-carousel .item {
    margin: 0 8px;
}


/*style css*/

.tour-package {
    position: relative;
    border-radius: 5px;
    float: left;
}

.popular-pack {
    margin: 20px 0 0;
}

.tour-package img {
    width: 100%;
}

.package-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 0 20px;
    width: 100%;
}

.duratin-name {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    float: left;
}

.package-name h3 {
    color: #fff;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.package-name h3 span {
    font-weight: 400;
    font-size: 15px;
    opacity: 0.6;
}

.specialpackSec {
    color: #fad41a;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.specialpackSec i {
    float: left;
    margin-top: 3px;
}

.specialpackSec span {
    padding: 0 13px 0 5px;
    float: left;
}

.pack-rating {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 46px;
    width: 46px;
    display: inline-block;
    float: right;
}

.eye-icon {
    width: 100%;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 2px;
}

.eye-icon svg {
    fill: #FFF;
    height: 20px;
    width: 20px;
}

.pack-rating p {
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 0px;
    font-family: 'Lato', sans-serif;
}

.tour-package-price {
    background: #dddddd;
    padding: 10px 25px;
    position: absolute;
    top: 1px;
    right: 0;
    border-radius: 5px 0 0 5px;
}

.tour-package-price p {
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    color: #221e1f;
}

.popular-tag {
    position: absolute;
    top: -7px;
    left: -8px;
}
.offer-tag {
    position: absolute;
    top: -111px;
    left: 0px;
}
.offer-text {
    position: absolute;
    top: -75px;
    left: 13px;
}

.offer-text p {
    color: #fff;
    transform: rotate(-45deg);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.offer-tag2 {
    position: absolute;
    top: -5px;
    left: 8px;
    z-index: 99;
}
.offer-text2 {
    position: absolute;
    top: 35px;
    left: 17px;
    z-index: 999;
}
.offer-text2 p {
    color: #fff;
    transform: rotate(-45deg);
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.tour-package img {
    width: 100%;
}

.tour-package::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.need_assistance {
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.44);
    padding: 10px;
    margin-top: 20px;
}

.need_assistance h3 {
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.need_assistance h4 {
    color: #FFF;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 10px 0px;
}

.need_assistance h5 {
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
}

.need_assistance a {
    display: table;
    margin: auto;
    background: #FFF;
    padding: 5px 27px 5px 33px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 31px;
}

.need_assistance a i {
    font-size: 19px;
    margin-left: 7px;
}

.need_assistance a:hover {
    background: #00a8e1;
    color: #FFF;
}

.need_assistance a:hover i {
    color: #FFF;
}

.socialMedia {
    width: 100%;
    float: left;
    display: flex;
}

.socialMedia a {
    padding: 20px;
    width: 20%;
    text-align: center;
    font-size: 19px;
    color: #FFF;
}

.facebook {
    background: #3a5999;
}

.twitter {
    background: #00abf0;
}

.googleplus {
    background: #df493b;
}

.pintrest {
    background: #bd081b;
}

.whatsapp {
    background: #1d960b;
}

.eventCont h5 {
    font-family: 'Lato', sans-serif;
    font-size: 31px;
    color: #04649e;
    margin-bottom: 10px;
    font-weight: 600;
}

.eventCont p {
    font-family: 'Lato', sans-serif;
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 15px;
}

.servicesinfo_banner .ar_direction1 h5 {
    text-align: right;
}

.servicesinfo_banner .ar_direction1 p {
    text-align: right;
}

.ex_services {
    width: 100%;
    float: left;
}

.ex_services h6 {
    font-size: 14px;
    margin: 5px 0px;
}

.ex_services img {
    width: 100%;
}

.padding5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ar_direction1 a i {
    margin-left: 0;
    transform: rotate(180deg);
    margin-right: 7px;
}

.ar_direction1 .specialpackSec i,
.ar_direction1 .specialpackSec span {
    float: right;
}

.ar_direction1 .duratin-name {
    float: right;
}

.ar_direction1 .pack-rating {
    float: left;
}

#emialRequest .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    box-shadow: none;
    right: 10px;
    top: 16px;
    width: auto;
    height: auto;
    background: none;
}

#emialRequest .modal-header h4 {
    margin: 0;
    line-height: normal;
    font-size: 18px;
    text-align: left;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

#emialRequest .modal-header {
    background: #007edf;
}

#emialRequest .modal-content {
    overflow: hidden;
}

.social-media-links {
    padding: 10px 10px 0px 10px;
    text-align: center;
}

.enquiryTxt {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
}

.enquiryTxt input {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 40px;
    border: 1px solid #c5c5c5;
    position: relative;
    background: none;
    border-radius: 3px;
    padding: 0 10px 0 40px;
}

.enquiryTxt textarea {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 80px;
    border: 1px solid #c5c5c5;
    position: relative;
    background: none;
    border-radius: 3px;
    padding: 9px 10px 9px 40px;
    resize: none;
}

.enquiryTxt i {
    position: absolute;
    font-size: 19px;
    left: 8px;
    top: 10px;
    color: #b9b9b9;
    width: 24px;
    text-align: center;
}

.enquiryTxt button {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 40px;
    border: none;
    position: relative;
    background: none;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    background: #fad41a;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.about_map circle {
    cursor: pointer;
}


/* .activemap {
    fill: #00a8e1 !important;
} */

/* #egypt,
#jordan,
#abudhabi,
#spain,
#uk,
#china {
    position: relative;
}

#egypt::before {
    content: '';
    position: absolute;
    left: 330px;
    top: -225px;
    width: 1px;
    height: 230px;
    border-right: 1px dashed #FFF;
    animation: ripple 0.5s linear 1;
}

#jordan::before {
    content: '';
    position: absolute;
    left: 378px;
    top: -237px;
    width: 1px;
    height: 260px;
    border-right: 1px dashed #FFF;
    animation: ripple 0.5s linear 1;
}

#abudhabi::before {
    content: '';
    position: absolute;
    left: 400px;
    top: -217px;
    width: 1px;
    height: 260px;
    border-right: 1px dashed #FFF;
    animation: ripple 0.5s linear 1;
}

#spain::before {
    content: '';
    position: absolute;
    left: 253px;
    top: -267px;
    width: 1px;
    height: 320px;
    border-right: 1px dashed #FFF;
    animation: ripple 0.5s linear 1;
}

#uk::before {
    content: '';
    position: absolute;
    left: 255px;
    top: -305px;
    width: 1px;
    height: 320px;
    border-right: 1px dashed #FFF;
    animation: ripple 0.5s linear 1;
}

#china::before {
    content: '';
    position: absolute;
    left: 91%;
    top: -245px;
    width: 1px;
    height: 320px;
    border-right: 1px dashed #FFF;
    animation: ripple 0.5s linear 1;
    transform: rotate(7deg);
}

@keyframes ripple {
    0% {
        height: 0;
        animation-timing-function: ease-out;
    }
    100% {
        height: 230px;
        animation-timing-function: ease-in;
    }
} */

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
    #egypt::before {
        left: 426px;
        top: -285px;
        height: 400px;
    }
    #jordan::before {
        left: 488px;
        top: -297px;
        height: 400px;
    }
    #abudhabi::before {
        left: 516px;
        top: -275px;
        height: 400px;
    }
    #spain::before {
        left: 327px;
        top: -327px;
        height: 400px;
    }
    #uk::before {
        left: 331px;
        top: -386px;
        height: 400px;
    }
    #china::before {
        left: 90%;
        top: -307px;
        height: 400px;
    }
    @keyframes ripple {
        0% {
            height: 0;
            animation-timing-function: ease-out;
        }
        100% {
            height: 400px;
            animation-timing-function: ease-in;
        }
    }
}

@media only screen and (min-width: 990px) and (max-width: 1200px) {
    #egypt::before {
        left: 350px;
        top: -239px;
        height: 370px;
    }
    #jordan::before {
        left: 401px;
        top: -250px;
        height: 370px;
    }
    #abudhabi::before {
        left: 423px;
        top: -233px;
        height: 370px;
    }
    #spain::before {
        left: 268px;
        top: -277px;
        height: 370px;
    }
    #uk::before {
        left: 271px;
        top: -326px;
        height: 400px;
    }
    #china::before {
        left: 90%;
        top: -257px;
        height: 370px;
    }
    @keyframes ripple {
        0% {
            height: 0;
            animation-timing-function: ease-out;
        }
        100% {
            height: 370px;
            animation-timing-function: ease-in;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    #egypt::before {
        left: 264px;
        top: -189px;
        height: 280px;
    }
    #jordan::before {
        left: 303px;
        top: -199px;
        height: 280px;
    }
    #abudhabi::before {
        left: 320px;
        top: -190px;
        height: 280px;
    }
    #spain::before {
        left: 202px;
        top: -225px;
        height: 280px;
    }
    #uk::before {
        left: 203px;
        top: -257px;
        height: 280px;
    }
    #china::before {
        left: 90%;
        top: -206px;
        height: 310px;
    }
    @keyframes ripple {
        0% {
            height: 0;
            animation-timing-function: ease-out;
        }
        100% {
            height: 280px;
            animation-timing-function: ease-in;
        }
    }
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
    #egypt::before,
    #jordan::before,
    #abudhabi::before,
    #spain::before,
    #uk::before,
    #china::before {
        display: none;
    }
}
@media only screen and (min-width: 200px) and (max-width: 769px) {
    #owl-tour-offers .owl-buttons, #owl-hotel-offers .owl-buttons, #owl-uae-attractions .owl-buttons{
        display: none !important;
    }
}


/* .activemap {
    margin: auto;
    margin-top: 10rem;
    background-color: #fff;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    animation: ripple 2s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2), 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 5rem rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.2), 0 0 0 4rem rgba(255, 255, 255, 0.2), 0 0 0 8rem rgba(255, 255, 255, 0);
    }
}  */


.abouttxt_sec{
    width: 100%;
    float: left;
    border-radius: 3px;
    padding: 15px;
    background: rgba(14, 22, 29, 0.58);
    margin-bottom: 20px;
}
.abouttxt_sec h5{
    color: #fad41a;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    margin-bottom: 5px;
    width: 100%;
}
.abouttxt_sec p{
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 23px;
}
/*coupon code css*/
.coupon_code{
    width: 100%;
    padding: 0 20px;
}
.green_coupon{
    color: #26c332;
    font-size: 13px;
    font-weight: 300;
}
.green_coupon i{
    color: #f1210e;
    cursor: pointer;
}
.coupon_code input{
    width: 80%;
    float: left;
    height: 40px;
    border: 1px solid #cccccc;
    padding: 10px;
    background: #f4f4f4;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}
.coupon_code button{
    width: 20%;
    float: left;
    height: 40px;
    border: 1px solid #027029;
    background: #04880e;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    line-height: 17px;
    font-size: 13px;
}
.coupon_code p{  
      font-size: 13px;
    padding: 4px;
    color: #026e0a;
    font-weight: 300;
}
@media (max-width: 400px) {
    .coupon_code input{
        width: 60%;
    }
    .coupon_code button{
        width: 40%;
    }
}