﻿@charset "utf-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');
img,
object,
embed,
video {
    max-width: 100%;
}

.ie6 img {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
input,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    outline: none;
}

a {
    text-decoration: none;
    outline: none !important;
}

button:focus {
    outline: none;
}

::-moz-selection {
    background-color: #dfdae6;
    color: #FFF;
}

::selection {
    background-color: #dfdae6;
    color: #FFF;
}

a {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #FFF;
    font-family: 'Oswald', sans-serif;
}

.flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-flex-flow: row wrap; */
    justify-content: space-around;
}

a:hover {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

 ::-moz-selection {
    background: #ffc627;
    color: #000;
}


/*================================Blog-Head-link========================*/

.blog-head {
    background: #0d161d;
    padding: 20px 0;
}

.blog-head ul {
    padding: 0;
}

.blog-head ul li {
    color: #777b7e;
    display: inline-block;
    font-size: 32px;
    list-style: none;
    font-weight: 400;
}

.blog-head ul li a {
    color: #777b7e;
    font-size: 18px;
    text-decoration: none;
    padding: 0 23px;
    font-weight: 600;
}

.blog-head ul li a:hover {
    color: #f6be2d;
}

.blog-head ul li:last-child a {
    padding-right: 0;
}


/*================================Blog-Images=======================================*/

.blog-main {
    padding: 10px 0 0 0;
}

.blog-main .pa-lr {
    padding-left: 5px;
    padding-right: 5px;
}

.blog-one {
    position: relative;
}

.blog-one::before {
    height: 100%;
    content: " ";
    background: rgba(62, 62, 62, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.blog-one img {
    width: 100%;
    min-height: 490px;
    max-height: 490px;
}

.blog-tag {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 1;
}

.blog-text-social {
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 50px;
    bottom: 50px;
    z-index: 1;
}

.blog-text-social h2 {
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    padding: 25px;
    border: 1px solid #767676;
    width: 72%;
    line-height: 32px;
}

.blog-text-social h2 a {
    color: #fff;
    text-decoration: none;
}

.blog-text-social h2 a:hover {
    color: #fec726;
}

.view-media {
    margin-top: 30px;
}

.view-media .view {
    padding: 0;
    float: left;
}

.view-media .view li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.view-media .view li i {
    padding-right: 5px;
}

.media {
    padding: 0;
    float: right;
    margin: 0;
}

.media li a {
    color: #fff;
    height: 32px;
    width: 32px;
    border: 1px solid #b7b7b7;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 27px;
}

.media li a:hover {
    background: #fff;
    border-color: #fff;
    color: #00a8e1;
}

.media li {
    display: inline-block;
    padding-left: 10px;
}

.media li:first-child {
    padding-left: 0;
}

.blog-right {
    position: relative;
}

.blog-right::before {
    height: 100%;
    content: " ";
    background: rgba(62, 62, 62, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.blog-right img {
    width: 100%;
    min-height: 240px;
    max-height: 240px;
}

.blog-R-text {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.blog-R-text h2 {
    line-height: 22px;
}

.blog-R-text h2 a {
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    line-height: 22px;
}

.blog-R-text h2 a:hover {
    color: #fec726;
}

.blog-right.mr-top {
    margin-top: 10px;
}


/*================================ Featured Story=======================================*/

.feature-story {
    padding: 60px 0;
}

.feature-story .title {
    overflow: hidden;
}

.feature-story .title h2 {
    float: left;
    padding-right: 30px;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    width: 18%;
}

.feature-story .title hr {
    border-top: 1px dotted #000;
    float: left;
    width: 82%;
}

.story {
    margin-top: 20px;
}

.story img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}

.story h3 {
    font-size: 18px;
    color: #000;
    font-weight: 800;
    line-height: 26px;
    padding-top: 20px;
}


/*================================ Blog-Tab=======================================*/

.blog-tab {
    margin-bottom: 60px;
}

.blog-tab .nav-tabs li {
    width: 33.33%;
    border: none;
    margin-bottom: 0;
}

.blog-tab .nav-tabs {
    border: 2px solid #000!important;
    margin-bottom: 30px;
}

.blog-tab .nav-tabs li a {
    border: none;
    text-align: center;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    margin-right: 0;
    padding: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #000;
    color: #fff;
    border: none;
}

.tranding-blog {
    margin-top: 80px;
}

.tranding-blog:first-child {
    margin-top: 0px;
}

.blog-img {
    position: relative;
    float: left;
    width: 45%;
}

.blog-img img {
    border: 2px solid #d4d4d4;
    border-bottom: 10px solid #d4d4d4;
    padding: 8px;
}

.blog-calendar {
    position: absolute;
    top: 9px;
    left: 10px;
    background: #fff;
    height: 88px;
    width: 77px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: 4px solid #e5e5e5;
}

.blog-calendar p {
    background: #00a8e1;
    color: #fff;
    text-align: center;
}

.blog-calendar h3 {
    color: #00a8e1;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    padding: 10px;
}

.blog-calendar h3 span {
    color: #545454;
    font-size: 20px;
}

.blog-detail-text {
    float: left;
    width: 51%;
    margin: 0 15px;
    border-bottom: 6px solid #ebebeb;
    margin-bottom: 20px;
    position: relative;
}

.blog-detail-text ul {
    margin: 5px 0;
}

.blog-detail-text ul li {
    list-style: none;
    display: inline-block;
    font-style: italic;
    font-size: 17px;
    color: #7d7d7d;
    font-weight: 600;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
}

.blog-detail-text h3 {
    font-weight: 700;
    font-size: 25px;
}

.blog-detail-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Raleway', sans-serif;
}

.blog-detail-text .btn {
    background: #ba3838;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border-bottom: 4px solid #00a8e1;
    position: absolute;
    bottom: -24px;
    right: 0;
}

.blog-detail-text .btn:hover {
    background: #00a8e1;
    color: #fff;
    border-color: #0283af;
}

.blog-categoris {
    margin-top: 60px;
}


/*========Right Side Blog Posts=========*/

.right-all-sec {
    margin-bottom: 70px;
    clear: both;
    overflow: hidden;
}

.right-all-sec:last-child {
    margin-bottom: 0;
}

.right-all-sec h3 {
    background: #f3f3f3;
    padding: 20px 20px;
    color: 323232;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: 4px solid #e2e2e2;
    text-transform: capitalize;
}

.right-all-sec h3 span {
    color: #00a8e1;
}

.right-all-sec ul li {
    list-style: none;
    margin-top: 20px;
}

.right-all-sec ul li h4 {
    font-size: 20px;
    line-height: 26px;
    padding-left: 30px;
    font-weight: 400;
}

.right-all-sec ul li h4 span {
    display: inline-block;
}

.right-all-sec ul li h4 a {
    color: #323232;
}

.right-all-sec ul li h4 a:hover {
    color: #00a8e1;
}

.recent-post li {
    position: relative;
}

.recent-post li h4::before {
    content: "\f016";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
}

.recent-post p {
    font-size: 16px;
    color: #9a9a9a;
    padding: 15px 0;
}

.recent-post p a {
    font-size: 16px;
    color: #9a9a9a;
    text-decoration: underline;
}

.recent-post p a:hover {
    color: #00a8e1;
}

.blog-categ li {
    border-bottom: 1px dotted #ababab;
    padding-bottom: 15px;
}

.blog-categ li h4::before {
    content: "\f0f6";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
}

.blog-categ h4 {
    color: #ba3838;
}

.blog-categ h4 a {
    color: #323232;
}

.flickr-stream li {
    width: 25%;
    float: left;
    padding: 0 1px;
    margin-top: 10px !important;
}

.text-widget p {
    color: #9a9a9a;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}


/*=====================================blog-deatil-Page====================================*/

.blog-deatil-left {
    background: #f4f4f4;
    padding: 60px 0;
}

.blog-in-left {
    background: #fff;
    padding: 40px;
}

.title-detail {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.title-detail h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px;
    color: #343434;
    line-height: 55px;
    z-index: 1;
    position: relative;
}

.title-detail h2 span {
    color: #bbbbbb;
    font-size: 30px;
    font-weight: 700;
    background: #fff;
    padding: 0 15px;
}

.title-detail hr {
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 80%;
}

.blog-detail-in img {
    width: 100%;
}

.blog-detail-in p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 20px 0;
}

.blog-detail-in p span {
    font-size: 36px;
    font-weight: 900;
}

.blog-about-right {
    background: #fff;
    padding: 30px 10px;
}

.blog-about-right h3 {
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.blog-about-right img {
    width: 100%;
}

.blog-about-right p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 10px;
}

.blog-media-right {
    padding: 30px 10px;
    background: #fff;
    margin: 35px 0;
    text-align: center;
}

.blog-media-right ul li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.blog-media-right ul li a {
    color: #fff;
    height: 38px;
    width: 38px;
    border: 2px solid #00a8e1;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 30px;
    background: #00a8e1;
    font-size: 18px;
}

.blog-media-right ul li a:hover {
    background: #fff;
    color: #00a8e1;
}

.blog-newsletter-right {
    background: #232323;
    padding: 30px 15px;
}

.blog-newsletter-right h3 {
    color: #fff;
    text-transform: uppercase;
}

.blog-newsletter-right p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0;
}

.blog-newsletter-right .form-control {
    height: 56px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    border-radius: 0;
    border: none;
}

.blog-newsletter-right button {
    background: #00a8e1;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.blog-newsletter-right button:hover {
    background: #ffd62a;
    color: #232323;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.popular-post-right {
    margin: 35px 0;
    background: #fff;
    padding: 30px 0;
}

.popular-post-right h3 {
    text-transform: uppercase;
    margin: 0 15px 0px 15px;
}

.popular-post-right ul li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #cbcbcb;
    padding: 30px 15px 15px;
}

.popular-post-right ul li img {
    width: 100%;
    margin-bottom: 15px;
}

.popular-post-right ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: #343434;
}

.popular-post-right ul li a:hover {
    color: #00a8e1;
}

.categories-right {
    padding: 30px 15px;
    background: #fff;
}

.categories-right h3 {
    text-transform: uppercase;
}

.categories-right ul {
    margin: 0 15px;
}

.categories-right ul li {
    padding-top: 20px;
    list-style: square;
}

.categories-right ul li a {
    font-family: 'Raleway', sans-serif;
    color: #8a8a8a;
    font-size: 20px;
    display: block;
}

.categories-right ul li a:hover {
    color: #00a8e1;
}


/*===================================packae-in-banner==============================*/

.packae-in-banner {
    background: url(../images/package-banner.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 113px 0 223px 0;
    clear: both;
    text-align: center;
}

.packae-in-banner h2 {
    color: #fff;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
}

.packae-in-banner p {
    color: #fff;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}


/*======================================package-in-Detail==================================*/

.package-in-main {
    background: #f9f9f9;
}

.package-in-deatil {
    padding: 20px;
    background: #fff;
    margin-top: -120px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.45);
}

.package-in-deatil .owl-carousel .item {
    margin: 0 10px;
}

.package-in-deatil .owl-buttons {
    display: none;
}

.package-in-deatil .owl-pagination {
    margin-top: 20px;
}

.package-in-deatil .owl-pagination span {
    background: #d5d5d5;
    opacity: 1;
}

.package-in-deatil .owl-theme .owl-controls .owl-page.active span,
.package-in-deatil .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #00a8e1;
}

.package-overview .nav-tabs {
    border-bottom: 1px solid #dcdcdc !important;
}

.package-overview ul.nav-tabs li a {
    border-bottom: 1px solid transparent;
    color: #fad41a;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.package-overview ul.nav-tabs li {
    border: none;
}

.package-overview .nav>li>a:focus,
.package-overview .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    color: #414141;
}

.package-overview .nav-tabs>li.active>a,
.package-overview .nav-tabs>li.active>a:focus,
.package-overview .nav-tabs>li.active>a:hover {
    border: 1px solid #dcdcdc;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    background-color: transparent;
    color: #414141;
    margin: 0;
}

.package-overview ul.nav-tabs .nav-ac {
    margin-bottom: -2px;
}

.package-overview ul.nav-tabs .active {
    background: #fff;
}

.package-overview .tab-pane h3 {
    font-size: 23px;
    color: #000000;
    line-height: 34px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.package-overview .tab-pane ul li {
    font-family: 'Raleway', sans-serif;
    color: #707070;
    font-size: 16px;
    list-style: #000;
}

.package-overview .tab-pane ul {
    padding-top: 15px;
}

.package-in-tab {
    border-bottom: 1px solid #b0b0b0;
    padding: 30px 0 55px 0;
    overflow: hidden;
}

.package-in-tab:last-child {
    border-bottom: none;
}

.package-overview .tab-pane ul {
    margin-left: 15px;
}

.package-in-tab p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

.package-in-tab table {
    text-align: center;
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.package-in-tab th {
    text-align: center;
    background: #969696;
    color: #fff;
    padding: 10px 0 !important;
    font-size: 16px;
}

.package-in-tab td {
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #333333;
    line-height: 60px !important;
    background: #f2f2f2;
    border: 1px solid #a7a7a7!important;
}

.package-in-tab .btn {
    background: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
}

.package-in-tab .btn:hover {
    background: #02a6e3;
}

#packageDetailInfo .tour-package-price p {
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
}

#packageDetailInfo .tour-package-price {
    top: 1px;
}

.tab-gallery li {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    list-style: none;
}

.tab-gallery li img {
    width: 100%;
}

.tab-gallery {
    margin: 0 !important;
    padding-top: 30px !important;
}

.review-in {
    background: #ebebeb;
    padding: 30px;
    margin: 18px 0;
}

.review-in h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.review-in ul {
    margin: 0 !important;
    padding: 10px 0;
}

.review-in ul li {
    display: inline-block;
    margin: 0 !important;
}

.review-in p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.add-review {
    margin: 15px 0;
}

.add-review h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.add-review ul {
    margin: 0 !important;
    padding: 0 !important
}

.add-review ul li {
    display: inline-block;
}

.add-review p {
    padding: 7px 0;
}

.package-review .form-control {
    border: none;
    background: #ededed;
    border-radius: 0;
    margin: 10px 0;
    font-family: 'Raleway', sans-serif;
    padding: 15px;
}

.package-review button {
    font-family: 'Raleway', sans-serif;
    background: #000000;
    padding: 10px 50px;
    border: 1px solid #000;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.package-review button:hover {
    background: #01a7e1;
    border: 1px solid #01a7e1;
}

.package-price {
    background: #000000;
    padding: 31px 31px 178px 31px;
    margin-bottom: 50px;
    position: relative;
    float: left;
    width: 100%;
}

.weather {
    border: 3px dashed #e6e6e6;
    border-radius: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
    margin: 15px;
    background: rgba(255, 255, 255, 0.44);
}

.weather h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fad41a;
}

.weather p {
    color: #fff!important;
    margin: 0!important;
    font-size: 22px!important;
    font-weight: 600!important;
    padding: 5px 0 !important;
}

.weather i {
    color: #fff;
    font-size: 40px;
    text-align: right;
    display: block;
}

.package-price h3 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.package-price h1 {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 30px;
    color: #fad41a;
    font-weight: 700;
}

.package-price .ref-no {
    color: #fad41a;
    font-size: 20px;
    font-weight: 600;
}

.package-price .ref-no span {
    color: #b9b9b9;
}

.package-price h3 span {
    font-size: 30px;
    font-weight: 900;
}

.package-price ul {
    margin-top: 20px;
}

.package-price ul li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin-left: 20px;
}

.package-price p {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.book-text {
    background: #bdbec2;
    padding: 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.book-text h2 {
    font-family: 'Raleway', sans-serif;
    color: #231f20;
    font-weight: 900;
}

.book-text p {
    font-weight: 400;
}

.package-book-tour {
    background: #f4f4f4;
    float: left;
    width: 100%;
}

.table-responsive {
    border: none;
}

.package-table {
    padding: 20px;
}

.package-table table {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #363636;
    font-weight: 600;
}

.package-table table th {
    text-align: center;
    font-weight: 700;
    color: #bdbec2;
}

.package-table select {
    -moz-appearance: none;
    background: #e7e7e7;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    color: #434343;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.package-table .selector-box {
    position: relative;
}

.package-table .selector-box::before {
    content: "\f107";
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 20px;
    color: #434343;
    top: 10px;
    right: 20px;
    z-index: 1;
}

.package-total {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}

.form-package {
    padding: 0 20px 30px;
    border-bottom: 1px dashed #d1d1d1;
}

.form-package .form-control {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    border-radius: 0;
    height: 45px;
}

.form-package label {
    font-family: 'Raleway', sans-serif;
    margin: 15px 0 5px 0;
    font-size: 16px;
}

.form-package button {
    background: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.form-package button:hover {
    background: #00a9e1;
}

.social-media-package {
    padding: 30px 10px 0px 10px;
    text-align: center;
}

.social-media-package .s-media {
    text-align: center;
}

.social-media-package .s-media li {
    display: inline-block;
    margin-left: 15px;
}

.social-media-package .s-media li a {
    height: 60px;
    width: 60px;
    display: block;
    font-size: 30px;
    text-align: center;
    color: #fff;
    line-height: 55px;
    border: 2px solid transparent;
}

.social-media-package .s-media .fb a {
    background: #3b5999;
}

.social-media-package .s-media .twit a {
    background: #00abf1;
}

.social-media-package .s-media .g-plus a {
    background: #dc483c;
}

.social-media-package .s-media .pin a {
    background: #be091c;
}

.social-media-package .s-media .wp a {
    background: #1d960b;
}

.social-media-package .s-media .fb a:hover {
    background-color: transparent;
    border-color: #3b5999;
    color: #3b5999;
}

.social-media-package .s-media .twit a:hover {
    background-color: transparent;
    border-color: #00abf1;
    color: #00abf1;
}

.social-media-package .s-media .g-plus a:hover {
    background-color: transparent;
    border-color: #dc483c;
    color: #dc483c;
}

.social-media-package .s-media .pin a:hover {
    background-color: transparent;
    border-color: #be091c;
    color: #be091c;
}

.social-media-package .s-media .wp a:hover {
    background-color: transparent;
    border-color: #1d960b;
    color: #1d960b;
}

.social-media-package .print-m {
    text-align: center;
}

.social-media-package .print-m li {
    display: inline-block;
    margin: 0 5px;
}

.social-media-package .print-m li a {
    padding: 5px 15px;
    border: 1px solid #000000;
    color: #ffffff;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background: #000000;
}

.social-media-package .print-m li a:hover {
    background: #fad41a;
    border: 1px solid #fad41a;
    color: #000;
}

.social-media-package .print-m li a i {
    font-size: 18px;
}


/*Related Tours*/

.related-tour {
    background: #f9f9f9;
    padding: 30px 60px 60px;
}

.related-tour h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}

.tour-package {
    position: relative;
    border-radius: 5px;
}

.tour-package::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.tour-package img {
    width: 100%;
}

.package-name {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 0 20px;
    width: 100%;
}

.duratin-name {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    float: left;
}

.package-name h3 {
    color: #fff;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.package-name h3 span {
    font-weight: 400;
    font-size: 15px;
    opacity: 0.6;
}

.pack-rating {
    display: inline-block;
    float: right;
}

.pack-rating {
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    height: 46px;
    width: 46px;
}

.pack-rating p {
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 0px;
    font-family: 'Lato', sans-serif;
}

.tour-package-price {
    background: #cd0067;
    padding: 10px 25px;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 5px 0 0 5px;
}

.tour-package-price p span {
    font-size: 16px;
    vertical-align: top;
}

.tour-package-price p {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
}

.popular-pack {
    margin: 20px 0 0;
}

.popular-pack .tour-package-price {
    background: #dddddd;
}

.popular-pack .tour-package-price p {
    color: #221e1f;
}

.popular-pack .tour-package-price p span {
    vertical-align: baseline;
}

.popular-tag {
    position: absolute;
    top: -7px;
    left: -8px;
}


/*=================================Gallery============================================*/

.gallery-banner {
    background: #0d161d;
    padding: 20px 0;
    clear: both;
}

.gallery-banner h1 {
    color: #777b7e;
    font-size: 32px;
    font-weight: 400;
    float: left;
    padding-right: 50px;
}

.gallery-in {
    background: #f9f9f9;
    padding: 60px 0;
}

.gallery-in p {
    color: #333333;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
}

.filter-gallery {
    margin-top: 30px;
}

.filter-button {
    text-align: center;
    color: #777b7e;
    margin: 8px 5px 0px 5px;
    background: none;
    border: none;
    font-size: 18px;
    text-decoration: none;
    padding: 0 14px;
    font-weight: 600;
}

.filter-button:hover,
.filter-button:active,
.filter-button:focus,
.btn-default:active:focus {
    color: #f6be2d;
    background: none;
}

.btn-default:active {
    color: #ffffff;
    background-color: #333333;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
    display: flex;
}

.video-img {
    position: relative;
}

.filter-gallery-vid {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.34);
}

.top-pop-tag {
    position: absolute;
    top: -7px;
    left: -8px;
}

.video-img::after {
    content: " ";
    position: absolute;
    -webkit-box-shadow: inset 0px -30px 39px 0px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: inset 0px -30px 39px 0px rgba(0, 0, 0, 0.47);
    box-shadow: inset 0px -30px 39px 0px rgba(0, 0, 0, 0.47);
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.video-img img {
    width: 100%;
}

.video-img p {
    position: absolute;
    color: #fff;
    left: 15px;
    bottom: 15px;
    font-weight: 600;
    text-align: left;
    z-index: 1;
    width: 100%;
}

.video-detail {
    padding: 25px 20px;
    position: relative;
    clear: both;
    overflow: hidden;
}

.video-detail p {
    float: left;
    width: 80%;
    text-align: left;
    font-weight: 600;
}

.video-detail p a {
    color: #bf393a;
}

.video-detail p a:hover {
    color: #00a8e3;
}

.viewer {
    float: left;
    width: 20%;
    color: #999999;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
}

.cate-name {
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11;
}

.cate-name h4 {
    color: #fff;
    background: #333333;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    padding: 7px 20px;
    font-size: 16px;
}

.filter-gallery .flex-box {
    justify-content: inherit;
}

.filter-gallery .center-in {
    text-align: center;
    margin: 0 auto;
}


/*============================================Video-gallery=========================*/

.video-main {
    margin-top: 40px;
}

.video-main h4,
.video-main h4 a {
    font-family: 'Raleway', sans-serif;
    color: #2e2e2e;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 28px;
}

.video-main h4 a:hover {
    color: #2472bc;
}

.video-sidebar {
    font-family: 'Raleway', sans-serif;
}

.up-play {
    margin-top: 40px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 40px;
}

.video-sidebar .up-play a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    float: left;
    color: #000;
}

.video-sidebar .up-play form {
    display: flex;
    float: right;
    line-height: 27px;
    font-weight: 500;
}

.toggle-bar.paper-toggle-button {
    background-color: transparent !important;
    opacity: 1;
    border: 1px solid #000 !important;
}

.paper-toggle-button-0 .toggle-button.paper-toggle-button {
    height: 12px;
    width: 12px;
    top: 3px;
    background-color: transparent!important;
    opacity: 1!important;
    border: 2px solid #7e7e7e!important;
    box-shadow: none;
    left: 3px;
}

.paper-toggle-button-0 .toggle-container.paper-toggle-button {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 18px;
    margin: 4px 1px;
}

.paper-toggle-button-0[checked] .toggle-button.paper-toggle-button {
    transform: translate(18px, 0) !important;
}

.upcomming-video {
    margin-top: 30px;
    overflow: hidden;
}

.up-img {
    float: left;
    width: 50%;
    position: relative;
}

.up-img img {
    width: 100%;
}

.up-img a {
    display: block;
}

.up-img p {
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    padding: 1px 10px;
}

.up-video-text p {
    text-align: left;
    line-height: 26px;
    font-size: 16px;
}

.up-video-text p a {
    font-weight: 600;
    color: #1d1d1d;
}

.up-video-text p a:hover {
    color: #2472bc;
}

.up-view {
    color: #7d7e80;
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    display: block;
}

.up-video-text {
    float: left;
    width: 50%;
    padding-left: 20px;
}

.up-percentage {
    display: block;
    color: #01a7e3;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}

.up-percentage i {
    padding-right: 4px;
}

.photo-section {
    margin: 60px 0;
}

.photo-section h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #898a8e;
    margin-bottom: 15px;
}

.photo-section p {
    color: #333333;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    font-weight: 400;
}

.rel-img {
    width: 100%;
    float: none;
    margin-top: 30px;
}

.rel-img p {
    color: #fff;
}

.rel-img .btn i {
    height: 40px;
    width: 40px;
    color: #ed5435;
    border: 2px solid #ed5435;
    border-radius: 50%;
    line-height: 35px;
    font-size: 20px;
    text-align: center;
}

.rel-img .btn {
    font-family: 'Raleway', sans-serif;
    color: #ec5333;
    border: 2px solid #a8a9ad;
    padding: 54px 0;
    font-size: 24px;
    font-weight: 600;
}

.rel-img:hover .btn {
    color: #2472bc;
}

.rel-img .btn:hover i {
    color: #2472bc;
    border: 2px solid #2472bc;
}


/*==================================Csr-Page"===========================================*/

.csr-main-banner {
    margin: 30px 0;
    position: relative;
}

.csr-main-banner img {
    width: 100%;
}

.csr-main-text {
    background: #fff;
    padding: 20px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    width: 70%;
}

.csr-main-text .item p {
    font-size: 18px;
    color: #222222;
    font-weight: 600;
}

.csr-main-text .item p span {
    color: #fe3756;
}

.csr-main-text .item h2,
.csr-main-text .item h2 a {
    color: #232323;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 10px 0;
    line-height: 30px;
}

.csr-main-text .item h2 a:hover {
    color: #ff3457;
}

.name-comment {
    margin-top: 10px;
}

.name-comment li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-family: 'Raleway', sans-serif;
}

.name-comment li img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #eaeaea;
}

.name-comment li p {
    font-size: 16px;
    font-weight: 600;
}

.name-comment .eyes a {
    background: #5035fe;
    padding: 6px 15px;
    display: block;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}

.name-comment .eyes a::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-right: 18px solid #5337fe;
    border-bottom: 0px solid transparent;
    position: absolute;
    left: -4px;
    bottom: 0;
    z-index: -1;
}

.name-comment .eyes a:hover {
    background: #1700aa;
    color: #fff;
}

.name-comment .eyes a:hover::after {
    border-right: 18px solid #1700aa;
}

.name-comment .comnets-fa a {
    background: #ff3658;
    padding: 6px 15px;
    display: block;
    color: #fff;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}

.name-comment .comnets-fa a::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-right: 21px solid #ff3658;
    border-bottom: 0px solid transparent;
    position: absolute;
    left: -4px;
    bottom: 1;
    z-index: -1;
}

.name-comment .comnets-fa a:hover::after {
    border-right: 18px solid #cf0022;
}

.name-comment .comnets-fa a:hover {
    background: #cf0022;
    color: #fff;
}

.story-next {
    border-left: 3px solid #fe3758;
    margin-top: 15px;
}

.story-next p {
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 700 !important;
    font-family: 'Raleway', sans-serif;
}

.csr-main-text .owl-pagination {
    display: none;
}

.csr-main-text .owl-theme .owl-controls .owl-buttons div {
    background-color: transparent;
    color: #000;
    font-size: 20px;
    padding: 0;
    margin: 0 5px;
}

.csr-main-text .owl-buttons {
    position: absolute;
    bottom: 0;
    left: 130px;
}

.csr-left {
    padding-bottom: 30px;
}

.csr-left .flex-box {
    justify-content: flex-start;
}

.csr-left-img {
    position: relative;
    margin-bottom: 30px;
}

.csr-left-img img {
    width: 100%;
}

.csr-in-img-1 {
    min-height: 462px;
    max-height: 462px;
}

.csr-in-img {
    min-height: 216px;
    max-height: 216px;
}

.csr-left-img::after {
    content: " ";
    -webkit-box-shadow: inset 0px -123px 89px 28px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: inset 0px -123px 89px 28px rgba(0, 0, 0, 0.67);
    box-shadow: inset 0px -123px 89px 28px rgba(0, 0, 0, 0.67);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.csr-title-detail {
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 1
}

.csr-title-detail h4 {
    font-family: 'Raleway', sans-serif;
}

.csr-title-detail h4 a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

.csr-title-detail h4 a:hover {
    color: #ff3656;
}

.csr-title-detail .name-comment .eyes a {
    padding: 3px 9px;
    font-size: 14px;
}

.csr-title-detail .name-comment .eyes a:hover {
    background: #fff;
    color: #5035fe;
}

.csr-title-detail .name-comment .eyes a:hover::after {
    border-right: 18px solid #fff;
}

.csr-title-detail .name-comment .comnets-fa a {
    padding: 3px 9px;
    font-size: 14px;
}

.csr-title-detail .name-comment .comnets-fa a:hover::after {
    border-right: 18px solid #fff;
}

.csr-title-detail .name-comment .comnets-fa a:hover {
    background: #fff;
    color: #ff3658;
}

.csr-title-detail .name-comment .comnets-fa a::after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-right: 21px solid #ff3658;
    border-bottom: 0px solid transparent;
    position: absolute;
    left: -4px;
    bottom: 1;
    z-index: -1;
}

.csr-title-detail .name-comment li p {
    color: #fff;
}

.csr-title-detail .name-comment li img {
    height: 30px;
    width: 30px;
}

.csr-title-detail .name-comment li p {
    font-size: 14px;
}

.name-comment li {
    margin-right: 4px;
}


/*===========================================Csr-media==================================*/

.csr-media {
    background: #f3f4f8;
    padding: 15px;
    text-align: center;
}

.csr-media ul li {
    display: inline-block;
    margin: 7px 15px 7px 15px;
    text-align: center;
}

.csr-media ul li a {
    height: 40px;
    width: 40px;
    color: #fff;
    display: block;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 2px solid transparent;
}

.csr-media ul li h3 {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    font-weight: 700;
}

.csr-media ul li h3 span {
    font-size: 14px;
    color: #707070;
}

.csr-media .fb a {
    background: #3b5999;
}

.csr-media .fb a:hover {
    color: #3b5999;
    background: #fff;
    border-color: #3b5999;
}

.csr-media .tw a {
    background: #53acf0;
}

.csr-media .tw a:hover {
    color: #53acf0;
    background: #fff;
    border-color: #53acf0;
}

.csr-media .youtube a {
    background: #ce201f;
}

.csr-media .youtube a:hover {
    color: #ce201f;
    background: #fff;
    border-color: #ce201f;
}

.csr-media .insta a {
    background: #e4415e;
}

.csr-media .insta a:hover {
    color: #e4415e;
    background: #fff;
    border-color: #e4415e;
}

.csr-media .pint a {
    background: #bc091e;
}

.csr-media .pint a:hover {
    color: #bc091e;
    background: #fff;
    border-color: #bc091e;
}

.csr-media .wifi a {
    background: #ffa646;
}

.csr-media .wifi a:hover {
    color: #ffa646;
    background: #fff;
    border-color: #ffa646;
}

.what-hot {
    position: relative;
    background: #f3f4f8;
    padding: 60px 15px 15px 15px;
    /* margin: 60px 0; */
    clear: both;
}

.what-hot h3 {
    background: #fb9324;
    padding: 15px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 15px 0 15px 0;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -15px;
    left: 0;
}

.what-hot ul {
    overflow: hidden;
}

.what-hot ul li {
    list-style: none;
    overflow: hidden;
    margin-bottom: 30px;
}

.what-hot ul li .hot-img {
    float: left;
    width: 24%;
}

.what-hot ul li .hot-img img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.hot-text {
    float: left;
    width: 76%;
    font-family: 'Raleway', sans-serif;
}

.hot-text h4 {
    font-family: 'Raleway', sans-serif;
}

.hot-text h4 a {
    font-size: 18px;
    color: #222222;
    font-weight: 700;
    line-height: 24px;
}

.hot-text h4 a:hover {
    color: #fd3758;
}

.hot-text p {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #707070;
    font-weight: 500;
}

.hot-text p span {
    color: #ff3753;
}

.instagram-post h3 {
    background: #ff3658;
}

.instagram-post ul li {
    width: 50%;
    float: left;
    padding: 0 10px;
}

.instagram-post ul li {
    margin-bottom: 20px;
}

.instagram-post ul li a {
    display: block;
}

.csr-categ {
    margin-bottom: 0;
}

.csr-categ h3 {
    background: #00958c;
}

.csr-categ ul li {
    width: 100%;
    display: inline-block;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px;
}

.csr-categ ul li i {
    color: #00958c;
    position: absolute;
    left: 0;
    top: 3px;
}

.csr-categ ul li a {
    display: inline-block;
    float: left;
    color: #232323;
    font-weight: 500;
    font-size: 16px;
}

.csr-categ ul li a:hover {
    color: #00958c;
}

.csr-categ ul li p {
    color: #00958c;
}


/*==============Csr-Detail-page=========================*/

.csr-info {
    margin-top: 60px;
}

.csr-in-detail .csr-title-detail {
    position: relative;
    top: 0;
    left: 0;
    margin: 30px 0;
}

.csr-in-detail .csr-left-img::after {
    display: none;
}

.csr-in-detail .csr-title-detail h4 {
    color: #282828;
    font-size: 24px;
    font-weight: 700;
}

.csr-in-detail .csr-title-detail .name-comment li p {
    color: #282828;
    margin: 0;
}

.csr-in-detail .csr-title-detail p {
    margin: 15px 0;
    font-family: 'Raleway', sans-serif;
}

.csr-in-detail .csr-bullet {
    padding-left: 15px;
}

.csr-in-detail .csr-bullet li {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}


/*Master css*/

header {
    width: 100%;
    float: left;
    background: #000;
    padding: 8px 0px;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 12px;
    width: 100%;
    height: 2px;
    background: #f5be2c;
}

.logo {
    width: auto;
    float: left;
    position: relative;
}

.logo img {
    width: 198px;
    background: #000;
    z-index: 9;
    position: relative;
    padding: 0 8px;
}

.header-right {
    width: 73%;
    float: right;
}

.header_top {
    float: right;
    margin-bottom: 30px;
}

.contact_number {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #fad41a;
    /* border-right: 1px solid #505050; */
    padding-right: 8px;
    margin-right: 0px;
    float: left;
}

.contact_number i {
    margin-right: 5px;
}

.retrive_booking {
    float: left;
    position: relative;
}

.retrive_booking_sec {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #fad41a;
    /* border-right: 1px solid #505050; */
    padding-right: 23px;
    margin-right: 1px;
    position: relative;
    cursor: pointer;
}

.retrive_booking::after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 19px;
    color: #fad41a;
    position: absolute;
    right: 7px;
    top: -2px;
}

.sub_menu {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.sub_menu li {
    float: left;
}

.sub_menu li a {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #FFF;
    border-right: 1px solid #505050;
    text-transform: uppercase;
    padding: 0 7px;
}

.sub_menu li:last-child a {
    border-right: none;
}

.sub_menu li a:hover {
    color: #fad41a;
}

.nav {
    width: 100%;
    float: left;
}

.nav ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    color: #FFF;
    padding: 0px 8px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.nav ul li a:hover {
    color: #ffc627;
}

.nav ul li a img {
    text-align: center;
    margin-bottom: 11px;
}

.nav ul li a p {
    text-align: center;
    font-weight: 600;
}

.mb_menu {
    display: none;
    position: relative;
    margin-top: 26px;
}

#showMenu {
    width: 30px;
    height: 20px;
    background: url(../images/menu_bg.png) no-repeat;
    border: none;
    float: right;
}

.dl-menu li a img {
    margin-right: 10px;
    width: 18px;
}

.retrive_list {
    position: absolute;
    width: 100%;
    padding: 10px;
    background: #FFF;
    margin: 0px;
    padding: 0px;
    top: 32px;
    z-index: 999;
    list-style: none;
    display: none;
}

.retrive_list::before {
    content: "\f0d8";
    font-family: FontAwesome;
    font-size: 23px;
    color: #FFF;
    position: absolute;
    right: 26px;
    top: -19px;
}

.retrive_list li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e6e6e6;
}

.retrive_list li a {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: #717171;
    display: block;
    padding: 6px 11px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.3s ease-in-out;
}

.retrive_list li a:hover {
    background: #00a8e1;
    color: #FFF;
    text-decoration: none;
}


/*================================Blog-Head-link========================*/

.blog-head {
    background: #0d161d;
    padding: 20px 0;
}

.blog-head ul {
    padding: 0;
}

.blog-head ul li {
    color: #777b7e;
    display: inline-block;
    font-size: 32px;
    list-style: none;
    font-weight: 400;
}

.blog-head ul li a {
    color: #777b7e;
    font-size: 18px;
    text-decoration: none;
    padding: 0 23px;
    font-weight: 600;
}

.blog-head ul li a:hover {
    color: #f6be2d;
}

.blog-head ul li:last-child a {
    padding-right: 0;
}


/*================================Blog-Images=======================================*/

.blog-main {
    padding: 10px 0 0 0;
}

.blog-main .pa-lr {
    padding-left: 5px;
    padding-right: 5px;
}

.blog-one {
    position: relative;
}

.blog-one::before {
    height: 100%;
    content: " ";
    background: rgba(62, 62, 62, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.blog-one img {
    width: 100%;
}

.blog-tag {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 1;
}

.blog-text-social {
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 50px;
    bottom: 50px;
    z-index: 1;
}

.blog-text-social h2 {
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    padding: 25px;
    border: 1px solid rgba(243, 243, 243, 0.26);
    width: 72%;
    line-height: 32px;
}

.cusr {
    cursor: pointer;
}

.blog-text-social h2 a {
    color: #fff;
    text-decoration: none;
}

.blog-text-social h2 a:hover {
    color: #fec726;
}

.view-media {
    margin-top: 30px;
}

.view-media .view {
    padding: 0;
    float: left;
}

.view-media .view li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.view-media .view li i {
    padding-right: 5px;
}

.media {
    padding: 0;
    float: right;
    margin: 0;
}

.media li a {
    color: #fff;
    height: 32px;
    width: 32px;
    border: 1px solid #b7b7b7;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 27px;
}

.media li a:hover {
    background: #fff;
    border-color: #fff;
    color: #00a8e1;
}

.media li {
    display: inline-block;
    padding-left: 10px;
}

.media li:first-child {
    padding-left: 0;
}

.blog-right {
    position: relative;
}

.blog-right::before {
    height: 100%;
    content: " ";
    background: rgba(62, 62, 62, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.blog-right img {
    width: 100%;
}

.blog-R-text {
    position: absolute;
    bottom: 0;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.blog-R-text h2 {
    line-height: 22px;
}

.blog-R-text h2 a {
    font-size: 18px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    line-height: 22px;
}

.blog-R-text h2 a:hover {
    color: #fec726;
}

.blog-right.mr-top {
    margin-top: 10px;
}


/*================================ Featured Story=======================================*/

.feature-story {
    padding: 60px 0;
}

.feature-story .title {
    overflow: hidden;
}

.feature-story .title h2 {
    float: left;
    padding-right: 30px;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    width: 18%;
}

.feature-story .title hr {
    border-top: 1px dotted #000;
    float: left;
    width: 82%;
}

.story {
    margin-top: 20px;
}

.story img {
    width: 100%;
}

.story h3 {
    font-size: 18px;
    color: #000;
    font-weight: 800;
    line-height: 26px;
    padding-top: 20px;
}


/*================================ Blog-Tab=======================================*/

.blog-tab {
    margin-bottom: 60px;
}

.blog-tab .nav-tabs li {
    width: 33.34%;
    border: none;
    margin-bottom: 0;
}

.blog-tab .nav-tabs {
    border: 2px solid #000!important;
    margin-bottom: 30px;
}

.blog-tab .nav-tabs li a {
    border: none;
    text-align: center;
    background-color: transparent;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    margin-right: 0;
    padding: 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #000;
    color: #fff;
    border: none;
}

.tranding-blog {
    margin-top: 80px;
}

.tranding-blog:first-child {
    margin-top: 0px;
}

.blog-img {
    position: relative;
    float: left;
    width: 45%;
}

.blog-img img {
    border: 2px solid #d4d4d4;
    border-bottom: 10px solid #d4d4d4;
    padding: 8px;
}

.blog-calendar {
    position: absolute;
    top: 9px;
    left: 10px;
    background: #fff;
    height: 88px;
    width: 77px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    border-bottom: 4px solid #e5e5e5;
}

.blog-calendar p {
    background: #00a8e1;
    color: #fff;
    text-align: center;
}

.blog-calendar h3 {
    color: #00a8e1;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    padding: 10px;
}

.blog-calendar h3 span {
    color: #545454;
    font-size: 20px;
}

.blog-detail-text {
    float: left;
    width: 51%;
    margin: 0 15px;
    border-bottom: 6px solid #ebebeb;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 26px;
}

.blog-detail-text ul {
    margin: 5px 0;
}

.blog-detail-text ul li {
    list-style: none;
    display: inline-block;
    font-style: italic;
    font-size: 17px;
    color: #7d7d7d;
    font-weight: 600;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
}

.blog-detail-text h3 {
    font-weight: 700;
    font-size: 25px;
}

.blog-detail-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Raleway', sans-serif;
}

.blog-detail-text .btn {
    background: #fad41a;
    padding: 10px 20px;
    color: #3c3c3c;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    border-bottom: 4px solid #b5980a;
    position: absolute;
    bottom: -24px;
    right: 0;
}

.ar_direction1 .blog-detail-text .btn {
    right: inherit;
    left: 0;
}

.blog-detail-text .btn:hover {
    background: #00a8e1;
    color: #fff;
    border-color: #0283af;
}

.blog-categoris {
    margin-top: 60px;
}


/*========Right Side Blog Posts=========*/

.right-all-sec {
    margin-bottom: 70px;
    clear: both;
    overflow: hidden;
}

.right-all-sec:last-child {
    margin-bottom: 0;
}

.right-all-sec h3 {
    background: #f3f3f3;
    padding: 20px 20px;
    color: 323232;
    font-weight: 500;
    margin-bottom: 30px;
    border-bottom: 4px solid #e2e2e2;
    text-transform: capitalize;
}

.right-all-sec h3 span {
    color: #00a8e1;
}

.right-all-sec ul li {
    list-style: none;
    margin-top: 20px;
}

.right-all-sec ul li h4 {
    font-size: 20px;
    line-height: 26px;
    padding-left: 30px;
    font-weight: 400;
}

.ar_direction1 .right-all-sec ul li h4 {
    padding-left: 0px;
    padding-right: 30px;
}

.right-all-sec ul li h4 span {
    display: inline-block;
}

.right-all-sec ul li h4 a {
    color: #323232;
}

.right-all-sec ul li h4 a:hover {
    color: #00a8e1;
}

.recent-post li {
    position: relative;
}

.recent-post li h4::before {
    content: "\f016";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
}

.ar_direction1 .recent-post li h4::before {
    left: inherit;
    right: 0;
}

.recent-post p {
    font-size: 16px;
    color: #9a9a9a;
    padding: 15px 0;
}

.recent-post p a {
    font-size: 16px;
    color: #9a9a9a;
    text-decoration: underline;
}

.recent-post p a:hover {
    color: #00a8e1;
}

.blog-categ li {
    border-bottom: 1px dotted #ababab;
    padding-bottom: 15px;
}

.blog-categ li h4::before {
    content: "\f0f6";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
}

.blog-categ h4 {
    color: #00a8e1;
}

.blog-categ h4 a {
    color: #323232;
}

.flickr-stream li {
    width: 25%;
    float: left;
    padding: 0 1px;
    margin-top: 10px !important;
}

.text-widget p {
    color: #9a9a9a;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}


/*=====================================blog-deatil-Page====================================*/

.blog-deatil-left {
    background: #f4f4f4;
    padding: 11px 0;
}

.blog-in-left {
    background: #fff;
    padding: 15px;
}

.title-detail {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.title-detail h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 45px;
    color: #343434;
    line-height: 55px;
    z-index: 1;
    position: relative;
}

.title-detail h2 span {
    color: #bbbbbb;
    font-size: 30px;
    font-weight: 700;
    background: #fff;
    padding: 0 15px;
}

.title-detail hr {
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 80%;
}

.blog-detail-in img {
    width: 100%;
}

.blog-detail-in p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 20px 0;
}

.blog-detail-in p span {
    font-size: 36px;
    font-weight: 900;
}

.blog-about-right {
    background: #fff;
    padding: 30px 10px;
}

.blog-about-right h3 {
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.blog-about-right img {
    width: 100%;
}

.blog-about-right p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 10px;
}

.blog-media-right {
    /* padding: 30px; */
    background: #fff;
    margin: 0px 0 35px 0;
    text-align: center;
}

.blog-media-right ul li {
    display: inline-block;
    list-style: none;
    margin-right: 15px;
}

.blog-media-right ul li a {
    color: #fff;
    height: 38px;
    width: 38px;
    border: 2px solid #fad41a;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 30px;
    background: #fad41a;
    font-size: 18px;
}

.blog-media-right ul li a:hover {
    background: #fff;
    color: #fad41a;
}

.blog-newsletter-right {
    background: #232323;
    padding: 30px 15px;
}

.blog-newsletter-right h3 {
    color: #fff;
    text-transform: uppercase;
}

.blog-newsletter-right p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin: 15px 0;
}

.blog-newsletter-right .form-control {
    height: 56px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    border-radius: 0;
    border: none;
}

.blog-newsletter-right button {
    background: #fad41a;
    color: #010101;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

.blog-newsletter-right button:hover {
    background: #00a8e1;
    color: #FFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.popular-post-right {
    margin: 35px 0;
    background: #fff;
    padding: 30px 0;
}

.popular-post-right h3 {
    text-transform: uppercase;
    margin: 0 15px 0px 15px;
}

.popular-post-right ul li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #cbcbcb;
    padding: 30px 15px 15px;
}

.popular-post-right ul li img {
    width: 100%;
    margin-bottom: 15px;
}

.popular-post-right ul li a {
    font-size: 20px;
    text-transform: uppercase;
    color: #343434;
}

.popular-post-right ul li a:hover {
    color: #00a8e1;
}

.categories-right {
    padding: 30px 15px;
    background: #fff;
}

.categories-right h3 {
    text-transform: uppercase;
}

.categories-right ul {
    margin: 0 15px;
}

.categories-right ul li {
    padding-top: 20px;
    list-style: square;
}

.categories-right ul li a {
    font-family: 'Raleway', sans-serif;
    color: #8a8a8a;
    font-size: 20px;
    display: block;
}

.categories-right ul li a:hover {
    color: #00a8e1;
}

footer {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.contact_head {
    width: 100%;
    float: left;
    text-align: center;
}

.contact_head h1 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #aaa;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    !important;
    font-weight: 100;
    margin-bottom: 20px;
}

.contact_head h1:before,
.contact_head h1:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.contact_head h1:before {
    right: 100%;
    width: 150px;
}

.contact_head h1:after {
    left: 100%;
    width: 150px;
}

.hotel_section {
    text-align: center;
}

.hotel_section h2 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #aaa;
    font-size: 30px;
    font-family: 'Oswald', sans-serif!important;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hotel_section h2:before,
.hotel_section h2:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.hotel_section h2:before {
    right: 100%;
    width: 150px;
}

.hotel_section h2:after {
    left: 100%;
    width: 150px;
}

.hotel_section .item {
    padding: 10px 20px;
}

.contact1 {
    float: left;
    width: 100%;
    padding: 15px 0px;
    background: #0e161d url(../images/map.png) center no-repeat;
}

.country {
    padding-bottom: 27px;
}

.country h3 {
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    !important;
    font-weight: 500;
}

.uae p {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
}

.contact1 .container .row .country:first-child {
    border-right: 2px solid #aaa;
}

.map_sec {
    width: 100%;
    float: left;
}

.footer_address_sec {
    width: 100%;
    float: left;
    padding: 25px 0px;
}

#Contactinfodiv i,
Contactinfodiv a {
    color: #000;
}

.n_sec {
    padding-bottom: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.n_sec a {
    color: #000;
}

.about_footer h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.about_footer h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.about_footer p {
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    color: #808080;
    margin-bottom: 10px;
}

.subscribe_sec a {
    background: #fad41a;
    padding: 5px 10px;
    border-radius: 40px;
    color: #000;
}
.subscribe_sec h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: capitalize;
    color: #7b7b7b;
}


/* #sicialdiv {
    margin-top: -26px;
    margin-left: 184px;
} */

.footer_address_sec .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.footer_address_sec .form-group {
    margin-bottom: 0;
    padding: 4px;
}

.sb_btn {
    width: 90px;
    height: 24px;
    font-size: 11px;
    margin-top: -35px;
    background: #fad41a;
    color: #000;
    position: relative;
    left: 4px;
    border-radius: 0px;
    border: 0px;
}

.sb_btn:hover {
    background: #010101;
    color: white;
}

.footer_bottom {
    width: 100%;
    float: left;
    background: #0e161d;
    padding: 11px 0px;
}

#terms ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#terms ul li {
    float: left;
}

#terms ul li a {
    font-size: 12px;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 0 7px;
    border-right: 1px solid #fff;
}

#terms ul li:last-child a {
    border-right: none;
}

#terms p {
    font-size: 11px;
    color: #FFF;
    width: 100%;
    float: left;
    padding-left: 7px;
}

#copyright img {
    width: 94px;
}


/*Master css close*/


/*banner sec*/

.glyphicon-chevron-right:before {
    background: url(../images/next.svg) no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
}

.glyphicon-chevron-left:before {
    background: url(../images/prev.svg) no-repeat;
    content: "";
    width: 50px;
    height: 50px;
    display: block;
}

.carousel-control {
    opacity: 1;
    width: 10%;
}

.carousel-control.right {
    background: none;
}

.carousel-control.left {
    background: none;
}

.item {
    max-height: 712px;
}

.carousel-caption img {
    width: auto !important;
}

.carousel-caption {
    top: 0 !important;
    padding-top: 44px;
}


/*banner sec close*/


/*hotel offers*/

.hotel_section {
    width: 100%;
    float: left;
    background: #eee url(../images/offers-bg.png) bottom repeat-x;
    padding-bottom: 24px;
}

.special_package {
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.special_package img {
    width: 100%;
    transition: .4s;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.special_package:hover img {
    transform: scale(1.1);
}

.package_dis {
    width: 100%;
    float: left;
    background: #FFF;
    position: relative;
    z-index: 9;
}

.package_dis h4 {
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 9px 5px;
    text-transform: uppercase;
}

.dis_sec {
    width: 100%;
    float: left;
    background: #FFF;
    padding: 5px 22px 5px;
}

.dis_sec p {
    color: #000;
    font-size: 13px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}


/*hotel offers close*/


/*Tour Package*/

.tour_package {
    width: 100%;
    float: left;
    padding-bottom: 24px;
    background: url(../images/tour-packages-bg.png) 50% 0%;
    background-size: cover;
    text-align: center;
}

.tour_package h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #FFF;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    !important;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tour_package h4:before,
.tour_package h4:after {
    background: #FFF;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.tour_package h4:before {
    right: 100%;
    width: 150px;
}

.tour_package h4:after {
    left: 100%;
    width: 150px;
}

.tour_package h5 {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
}

.tour_offer {
    width: 100%;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.tour_offer_cont {
    width: 100%;
    float: left;
    background: #FFF;
    padding: 13px 10px;
}

.tour_offer_cont h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #048dbb;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.tour_offer_cont p {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.tour_package .item {
    padding: 10px 20px;
}

#owl-tour-offers .owl-buttons {
    display: none;
}


/*Tour Package*/


/*Uae Attractions*/

.uae_attraction {
    width: 100%;
    float: left;
    text-align: center;
}

.uae_attraction h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #aaa;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    !important;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.uae_attraction h4:before,
.uae_attraction h4:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.uae_attraction h4:before {
    right: 100%;
    width: 150px;
}

.uae_attraction h4:after {
    left: 100%;
    width: 150px;
}

.uae_attraction .item {
    padding: 10px 20px;
}

.uae_attraction .owl-buttons {
    display: none;
}

.view-all {
    width: 100%;
    float: left;
    text-align: center;
    padding: 16px 0px 0px 0px;
}

.view-all a {
    padding: 8px 30px;
    font-size: 15px;
    border-radius: 20px;
    background: #fad41a;
    color: #000;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
}

.view-all a:hover {
    background: #010101;
    color: white;
}


/*Uae Attraction*/


/*Partner area*/

.partner_area {
    width: 100%;
    float: left;
    text-align: center;
}

.partner_area h4 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #aaa;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    !important;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partner_area h4:before,
.partner_area h4:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.partner_area h4:before {
    right: 100%;
    width: 150px;
}

.partner_area h4:after {
    left: 100%;
    width: 150px;
}

.partner_area .slider_icon {
    position: relative;
    top: 26px;
}

.sp_partner {
    position: relative;
    margin-top: -53px;
}


/*Partner area close*/


/*Search form*/

.dash_form {
    width: 100%;
    float: left;
    position: relative;
    z-index: 99;
}

.search-tabs {
    position: relative;
    width: 100%;
    float: left;
    margin-top: -487px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 15px;
    z-index: 9 !important;
}

.calenderhome_sec {
    background: #fff url(../images/calendar.png) no-repeat left !important;
    /* overflow: hidden; */
    margin: 0 !important;
    padding: 8px 6px !important;
    width: 100%;
    padding-left: 42px !important;
    border: none;
}

.downhome_sec {
    background: #fff url(../images/down-arrow.png) no-repeat right !important;
    /* overflow: hidden; */
    margin: 0 !important;
    padding: 8px 6px !important;
    width: 100%;
    padding-right: 42px !important;
    -webkit-appearance: none;
    border: none;
}

@media (min-width: 1200px) {
    .hometab {
        width: 1100px;
    }
}

.ad_view {
    display: none;
}

.checkBox_area01 input[type="checkbox"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.checkBox_area01 input[type="checkbox"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: url(../images/radio-checkbox01.png) no-repeat;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.checkBox_area01 input[type="checkbox"]:checked+label:before {
    background-position: 0 -19px;
}

.checkBox_area01 input[type="checkbox"]+label:before {
    background-position: 0 0px;
}

.ad_srch {
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.ad_srch i {
    font-size: 19px;
    color: #f6d805;
    margin-left: 10px;
}

.dash_form .search-tabs .nav-tabs {
    text-align: center;
    font-size: 0px;
    margin-bottom: -2px;
    padding: 15px 0px;
}

.center-tabs li {
    display: inline-block;
    float: none;
    width: 11%;
}

.search-tabs .nav-tabs li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.search-tabs .nav-tabs li a {
    padding: 0 20px;
}

.search-tabs .nav-tabs li.active a {
    /*color:#faa61a;*/
    color: orange;
}

.search-tabs .nav-tabs li.hover a {
    /*color:#faa61a;*/
    color: orange;
}

.search-tabs .nav-tabs li .fa {
    margin-right: 7px;
    font-size: 15px;
}

.search-tabs .tab-content .tab-pane {
    padding: 25px;
}

.search-tabs .tab-content .tab-pane input,
.search-tabs .tab-content .tab-pane select {
    text-transform: uppercase;
    font-size: 10px;
}

.search-tabs .tab-content .tab-pane .form-group,
.search-tabs .tab-content .tab-pane .form-group {
    position: relative;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon input {
    padding-left: 38px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa {
    left: 15px;
}

.search-tabs .tab-content .tab-pane .form-group.right-icon .fa {
    right: 11px;
}

.search-tabs .tab-content .tab-pane .form-group.left-icon .fa,
.search-tabs .tab-content .tab-pane .form-group.right-icon .fa {
    position: absolute;
    pointer-events: none;
}

.search-tabs .tab-content .tab-pane .btn {
    padding: 8px 32px;
}


/************* SEARCH-TABS-3 *************/

#search-tabs-3.search-tabs {
    bottom: 148px;
}

#search-tabs-3 .nav-tabs li {
    font-size: 13px;
    margin-bottom: 1px;
}

#search-tabs-3 .nav-tabs li a,
#search-tabs-3 .nav-tabs li.active a {
    padding: 10px 15px;
    border: 0px;
}

#search-tabs-3 .tab-content .tab-pane {
    padding: 35px 30px;
}

#search-tabs-3 .tab-content .tab-pane .btn {
    margin-top: 15px;
}

#search-tabs-3 .tab-content .tab-pane .form-group label {
    text-transform: uppercase;
    font-weight: 400;
}

#search-tabs-3 .tab-pane form input,
#search-tabs-3 .tab-pane form input::placeholder,
#search-tabs-3 .tab-pane form select {
    text-transform: none;
}

.welcome-message {
    padding: 43px 55px;
    margin-top: 38px;
}

.welcome-message h2 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 15px;
}

.welcome-message p {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 22px;
}

.welcome-message p:nth-child(odd) {
    font-weight: normal;
}

.welcome-message .btn {
    margin-top: 10px;
    padding: 8px 27px 9px;
}


/************* SEARCH-TABS-4 *************/

#search-tabs-4.search-tabs {
    bottom: 0px;
}


/************* SEARCH-TABS-5 *************/

#search-tabs-5.search-tabs {
    bottom: 0px;
}

.search-tabs .nav-tabs li {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

ul.nav-tabs li {
    border-right: 1px solid #7d7d7d;
}

.center-tabs li {
    display: inline-block;
    float: none;
    width: 11%;
}

.search-tabs .nav-tabs li.active a {
    color: #faa61a;
}

.search-tabs .nav-tabs li.active a {
    background: transparent;
    border-radius: 0px;
    color: #faa61a;
    border: none;
    border-bottom: 0px;
}

.search-tabs .nav-tabs li a {
    padding: 0 20px;
    border: none;
}

.nav>li>a>img {
    max-width: none;
}

.img40 {
    width: 30px;
}

.nav-tabs>li.active>a p,
.nav-tabs>li.active>a p:focus,
.nav-tabs>li.active>a:hover p {
    color: #e59b04 !important;
}

ul.nav-tabs li a p {
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.search-tabs .nav-tabs li a:hover {
    background: none;
    border: none;
}

ul.nav-tabs li a:hover p {
    color: #e59b04 !important;
}

.nav-tabs {
    border-bottom: 1px solid #686a6b !important;
}

.tab-content {
    border-radius: 3px;
    margin-top: 17px;
    width: 100%;
    float: left;
}

.mrg-0 {
    margin-top: 0px !important;
}

.tab_p {
    padding: 0px 25px 25px 25px !important;
}

.search_field {
    width: 100%;
    height: auto;
    float: left;
    padding: 15px 0px;
    border-radius: 3px;
}

.tab_p h6 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #FFF;
    padding-top: 5px;
    font-weight: normal;
    margin-bottom: 13px;
}

.trip_area {
    width: 100%;
    float: left;
    margin-bottom: 7px;
}

.flight_type {
    width: 100%;
    float: left;
}

.btnsec01 {
    float: left;
    margin-right: 13px;
}

.btnsec01 label {
    cursor: pointer;
    font-size: 13px;
    color: #FFF;
    font-weight: normal;
    text-transform: uppercase;
}

.btnsec01 input[type="radio"]:checked+label:before {
    background-position: 0 -18px;
}

.btnsec01 input[type="radio"]+label:before {
    background-position: 0 0;
}

.btnsec01 input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 18px;
    margin-right: 4px;
    background: url(../images/radio-checkbox.png) no-repeat;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
}

.btnsec01 input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 18px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.form_sec {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-top: 8px;
}

.form_sec label {
    color: #ffffff !important;
}

.form_sec label {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

.cont_txt01 {
    width: 100%;
    height: 37px;
    float: left;
    background: #FFF;
    border: 1px solid #FFF;
    font-size: 13px;
    color: #464646;
    font-weight: 400;
    padding: 0px 10px;
}

@media (min-width: 768px) {
    .navbar-right {
        float: left !important;
    }
    .cont_txt01 {
        width: 100%;
        height: 37px;
        float: none;
    }
}

.headertitle {
    overflow: hidden;
    text-align: center;
}

.headertitle h1:before,
.headertitle h1:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.headertitle h1:before {
    right: 100%;
    width: 150px;
}

.headertitle h1:after {
    left: 100%;
    width: 150px;
}

.headertitle h1 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #aaa;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    !important;
    font-weight: 100;
}

header {
    border-bottom: none !important;
    z-index: 999999999;
}


/*.fa-calendar {
    color: #f6d805;
    position: absolute;
    top: 50px;
    padding: 0px 10px;
    font-size: 18px;
}*/

.fa-angle-down {
    position: absolute;
    color: #f6d805;
    font-size: 31px;
    right: 30px;
    top: 40px;
}

.cont_txt {
    width: 100%;
    height: 40px;
    float: left;
    font-size: 13px;
    color: #4c4c4c;
    font-weight: 400;
    padding: 0px 10px;
}

.search {
    height: 39px !important;
    float: right !important;
    font-size: 13px !important;
    color: #000 !important;
    font-weight: 700 !important;
    border: none !important;
    padding: 0px 13px !important;
    margin-top: 8px !important;
    text-transform: uppercase !important;
    padding: 8px 32px !important;
    border-radius: 0px !important;
}

@media (max-width: 767px) {
    ul.nav-tabs li {
        width: 33.3% !important;
    }
}

.search {
    background: #f6d805;
}

.font-text {
    font-size: 10px;
}


/* index-tab-hotel*/

.rooms {
    font-size: 13px;
    color: #FFF;
    font-weight: 700;
    line-height: 28px;
    float: left;
    padding-top: 6px;
}

.advanced_search {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.advnce_open {
    width: 100%;
    float: left;
    display: none;
    border: 1px solid #f99c1b;
    padding: 10px;
}

.calender_area {
    width: 100%;
    height: 40px;
    background: #FFF url(../images/calender01.png) no-repeat center right;
    border: 1px solid #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    color: #4c4c4c;
    font-weight: 400;
    padding: 0px 10px;
}

.calender-datepicker:before {
    content: "\f073";
    color: #f6d805;
    position: absolute;
    top: 50%;
    transform: translate(-26px, -50%);
    left: 40px;
    font-size: 18px;
}

.angle-down:before {
    content: "\f107";
    color: #f6d805;
    position: absolute;
    top: 50%;
    transform: translate(-26px, -50%);
    right: -19px;
    font-size: 30px;
}

.angle-down {
    position: relative;
    width: 100%;
}


/*.fa-plus {
    font-size: 20px;
    color: #f6d805;
    margin-left: 10px;
    position: absolute;
    top: 19px;
}*/

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-offset: -2px;
}

.ad_srch {
    float: left;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
}

.ad_srch i {
    font-size: 19px;
    color: #f6d805;
    margin-left: 10px;
}

.margintop25 {
    margin-top: 5px;
}

.trip_area {
    width: 100%;
    float: left;
    margin-bottom: 7px;
}

.checkBox_area01 {
    margin-top: 6px;
}

.form_sec label {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #70ecfe;
    text-transform: uppercase;
}

.nav-tabs {
    display: flex;
}


/*Search form close*/


/*common header*/

.common_header {
    width: 100%;
    float: left;
    background: url(../images/bg.jpg);
    background-size: cover;
    background-position: 0px 220px;
    text-align: center;
}

.common_header h2 {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    color: #40484b;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 25px;
}

.common_header h2:before,
.common_header h2:after {
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 400%;
}

.common_header h2:before {
    right: 100%;
    width: 50%;
}

.common_header h2:after {
    left: 100%;
    width: 50%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    top: 57% !important;
}

.ar_direction1 .gallery-banner h1 {
    float: right;
    padding-left: 50px;
    padding-right: 0px;
}

#galleryInfoPage .photo-section .up-img img {
    height: 170px;
}

.package-in-right .icon {
    color: #fad41a;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.package-in-right .icon i {
    float: left;
}

.package-in-right .icon span {
    padding: 0 13px 0 5px;
    float: left;
}

.ar_direction1 .header_top {
    float: left;
}

.ar_direction1 .package-in-right .icon i {
    float: right;
}

.ar_direction1 .package-in-right .icon span {
    padding: 0 5px 0 13px;
    float: right;
}

.spstle5 {
    font-size: 12px !important;
    font-weight: 300 !important;
}

.ar_direction1 .input-group-addon:last-child {
    border-left: 1px solid #ccc;
    border-right: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pakGalleryList {
    position: relative;
}

.pakGalleryList .downloadIcon {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #0e161d;
    padding: 4px;
    cursor: pointer;
}

.pakGalleryList .downloadIcon svg {
    fill: #FFF;
    width: 20px;
    height: 17px;
}

.eye-icon {
    width: 100%;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 2px;
}

.eye-icon svg {
    fill: #FFF;
    height: 20px;
    width: 20px;
}

.specialpackSec {
    color: #fad41a;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.specialpackSec i {
    float: left;
    margin-top: 3px;
}

.specialpackSec span {
    padding: 0 13px 0 5px;
    float: left;
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .nav {
        display: none;
    }
    .header-right {
        width: 66%;
    }
    .contact_number {
        display: none;
    }
    .mb_menu {
        display: block;
    }
    .nav-tabs {
        display: block;
    }
}

@media only screen and (min-width: 240px) and (max-width: 768px) {
    .ifram-container iframe {
        width: 100%;
        height: 100%;
    }

    .intrinsic-container {
        position: relative;
    }
    .nav {
        display: none;
    }
    .header-right {
        width: 66%;
    }
    .contact_number {
        display: none;
    }
    .mb_menu {
        display: block;
    }
    .ftr-contact,
    .about_footer {
        margin-bottom: 23px;
    }
    .nav-tabs {
        display: block;
    }
    #galleryInfoPage .photo-section .up-img img {
        height: auto;
    }
}

@media (min-width: 1281px) {
    .container {
        width: 1250px;
    }
    .hotel_section .container,
    .tour_package .container,
    .uae_attraction .container {
        width: 920px;
    }
}

@media (min-width: 1200px) {
    .hometab {
        width: 1100px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 620px) {
    .logo img {
        width: 125px;
    }
    header::after {
        bottom: 10px;
    }
    .dl-menuwrapper {
        top: 9px !important;
    }
    .dl-menuwrapper .dl-menu {
        margin: 49px 0 0 0 !important;
    }
}

@media only screen and (min-width: 240px) and (max-width: 534px) {
    .sub_menu {
        width: 100%;
    }
    .header-right {
        width: 209px;
    }
    .dl-menuwrapper {
        top: 21px !important;
    }
    .contact_head h1:before {
        right: 100%;
        width: 70px;
    }
    .contact_head h1:after {
        left: 100%;
        width: 70px;
    }
    .hotel_section h2:before {
        right: 100%;
        width: 70px;
    }
    .hotel_section h2:after {
        left: 100%;
        width: 70px;
    }
    .tour_package h4:before {
        right: 100%;
        width: 70px;
    }
    .tour_package h4:after {
        left: 100%;
        width: 70px;
    }
    .tour_package h4 {
        font-size: 23px;
    }
    .uae_attraction h4 {
        font-size: 23px;
    }
    .uae_attraction h4:before {
        right: 100%;
        width: 70px;
    }
    .uae_attraction h4:after {
        left: 100%;
        width: 70px;
    }
    .partner_area h4:before {
        right: 100%;
        width: 70px;
    }
    .partner_area h4:after {
        left: 100%;
        width: 70px;
    }
    .common_header h4:before {
        right: 100%;
        width: 70px;
    }
    .common_header h4:after {
        left: 100%;
        width: 70px;
    }
}

@media only screen and (min-width: 240px) and (max-width: 900px) {
    .search-tabs {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .search-tabs {
        border-radius: 0px;
    }
    #myCarousel .carousel-control {
        display: none;
    }
}

/* 404 Page CSS BOF
=================================================== */
.four-zero-main {
	width: 100%;
	display: block;
}
.cntr .text1 {
	text-align: center;
	font-size: 320px;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	display: inline-block;
	line-height: normal;
}
.cntr h2 {
	font-family: 'Garamond';
	font-size: 32px;
	color: #000;
	line-height: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.cntr p {
	font-size: 21px;
	color: #000 !important;
	padding: 0 0 30px;
	line-height: normal;
}
.cntr {
	text-align: center;
	width: 100%;
	padding: 50px 0;
}
.cntr a.home-btn {
	width: 190px;
	background: #f6d805;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	padding: 12px;
	margin: 20px;
}
.cntr a.home-btn:hover {
	background: #b9a305;
	text-decoration: none;
}