<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> Yone Travels &amp; Tours</title>
  <link rel="icon" href="images/favicon.ico" type="icon" />
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css?v=202105240000" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
</head>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

<body>
  <!-- <div id="preloader" ></div> -->
  <!--Header -->
  <header>
    <headeritem></headeritem>
  </header>
  <!-- banner-->

  <div id="contact" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
    <section class="inner-banner" :style="{ background: 'url(' + bannerSection.Banner_Image_1920x250px+ ')'}">
      <div class="container">
        <h1>{{bannerSection.Contact__Us_Title}}</h1>
        <div class="bradcomes">
          <ul>
            <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> /
            <li>{{bannerSection.Contact_Us_Label}}</li>
          </ul>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="contact-in">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="contact-dtl">
              <i class="fa fa-map-marker"></i>
              <h4>{{contactArea.Address_Label}}</h4>
              <p>{{contactArea.Address_Description}}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-dtl">
              <i class="fa fa-envelope"></i>
              <h4>{{contactArea.Email_Label}}</h4>
              <a :href="'mailto:'+ contactArea.Email_Id">{{contactArea.Email_Id}}</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-dtl">
              <i class="fa fa-phone"></i>
              <h4>{{contactArea.Phone_Number_Label}}</h4>
              <a :href="'tel:'+ contactArea.Phone_Number">{{contactArea.Place_Name}}{{contactArea.Phone_Number}} </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="contact-info">
        <h3>{{querySection.Heading}}</h3>
        <p>{{querySection.Subheading}}</p>
        <div class="row">
          <div class="col-md-6">
            <form>
              <input type="text" id="text" class="form-control" v-model="cntusername"
                :placeholder="querySection.Name_Placeholder">

              <input type="email" id="email" class="form-control" v-model="cntemail"
                :placeholder="querySection.Email_Placeholder">

              <input type="text" id="text2" class="form-control" v-model="cntcontact"
                :placeholder="querySection.Phone_Placeholder">

              <input type="text" id="text3" class="form-control" v-model="cntsubject"
                :placeholder="querySection.Subject_Placeholder">

              <textarea rows="3" class="form-control" v-model="cntmessage"
                :placeholder="querySection.Message_Placeholder"></textarea>

              <input type="submit" id="submit" :value="querySection.Send_Message_Button_Label"
                @click.prevent="sendcontactus">

            </form>
          </div>


          <div class="col-md-6">

            <iframe :src="querySection.Map_url" width="100%" height="550" frameborder="0" style="border:0;"
              allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

          </div>

        </div>

      </div>
    </div>

  </div>
  <!-- Newsletter -->
  <footer>
    <footeritem></footeritem>
  </footer>

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->

  <!-- Bootstrap JQUERY -->
  <script src="/assets/js/jquery.min.js"></script>

  <script src="js/bootstrap.min.js"></script>

  <script src="/assets/js/bootstrap-select.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script type="text/javascript" src="js/intlTelInput.js"></script>
  <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
  <script type="text/javascript" src="js/pack.js"></script>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script src="/assets/js/jquery-ui.js?v=201905150000"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
  <script src="/assets/js/select2.min.js?v=201905150000"></script>
  <script src="servicejs/contact.js"></script>



  <script>
    /*--------Banner-Slider---------*/
    $(document).ready(function () {

      $("#owl-demo-1").owlCarousel({
        autoplay: true,
        autoPlay: 8000,
        autoplayHoverPause: true,
        stopOnHover: false,
        items: 1,
        margin: 10,
        lazyLoad: true,
        navigation: true,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [979, 1],
        itemsTablet: [768, 1],
      });

      $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
      $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
    });
  </script>




</body>

</html>