<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1  user-scalable=1;">
  <title> Yone Travels &amp; Tours</title>
  <link rel="icon" href="images/favicon.ico" type="icon" />
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css?v=202105240000" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="css/flag-iocn.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

  <!-- <div id="preloader"></div> -->
  <!--Header -->
  <!-- <a class="wp-btn" href="https://api.whatsapp.com/send?phone=6238347335" target="_blank"><i class="fa fa-whatsapp"></i></a> -->
  <header class="mobile-view">
    <headeritem></headeritem>
  </header>
  <!-- banner-->

  <div id="holiday-detail" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
    <section class="inner-banner mobile-view" :style="{ background: 'url(' + bannerSection.Banner_Image_1920x250px+ ')'}">
      <div class="container">
        <h1>{{bannerSection.Holiday_Title}}</h1>

        <div class="bradcomes">
          <ul>
            <li><a href="index.html">{{bannerSection.Home_Label}}</a></li> /
            <li><a href="package.html">{{bannerSection.Holiday_Label}}</a></li> /
            <li>{{bannerSection.Holiday_Detail_Label}}</li>
          </ul>
        </div>
      </div>

    </section>
    <!--packages-detail-->
    <div class="container">
      <div class="row">
        <div class="package-detail-inner">

          <div class="col-md-8">
            <div class="package-place-info">
              <div class="package-name">
                <h2>{{mainContent.Package_Title}}</h2>
                <p>{{packageArea.Price_Label}} :<span>
                    {{ $n((mainContent.Price/CurrencyMultiplier),'currency',selectedCurrency)}} </span></p>
              </div>

              <div class="package-days">
                <div class="day-night">
                  <p><i class="fa fa-sun-o"></i> {{mainContent.Days}} {{packageArea.Days_Label}}</p>
                  <p><i class="fa fa-moon-o"></i>{{mainContent.Nights}} {{packageArea.Nights_Label}}</p>
                </div>

                <div class="package-media">
                  <ul>
                    <li v-for="(item,index) in packageArea.Social_Media_List" :key="index"><a href="#"  @click="navigateSocialPage(item.Url)"><i :class="item.Icon"></i> </a></li>

                  </ul>
                </div>
              </div>
              <img class="package-img" :src="mainContent.Image_750x485px" alt="place">
            </div>
          </div>

          <div class="col-md-4">
            <div class="detail-form">
              <h3>{{packageArea.Book_Tour_Label}}</h3>
              <div class="search-section">
                <!-- BEGIN: FLIGHT SEARCH -->
                <div role="tabpanel" class="tab-pane active" id="flight">
                  <form>
                    <div class="clearfix"></div>

                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="neame" class="form-control" v-model="fname" required=""
                          :placeholder="packageArea.First_Name_Placeholder" type="text">
                      </div>
                    </div>

                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="name" class="form-control" v-model="lname" required=""
                          :placeholder="packageArea.Last_Name_Placeholder" type="text">
                      </div>
                    </div>

                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="email" class="form-control" v-model="femail" required=""
                          :placeholder="packageArea.Email_Placeholder" type="email">
                      </div>
                    </div>
                    <div class="col-md-12 search-col-padding">
                      <div class="input-group">
                        <input name="phone" v-model="fphone" class="form-control" required=""
                          :placeholder="packageArea.Phone_Placeholder" type="tel">
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12 search-col-padding">
                      <input id="to-1" class="calendar" type="text" :placeholder="packageArea.Book_Date_Placeholder"
                        v-model="fdate" />
                      <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                      <select class="myselect" v-model="fadult" id="Adultmyselect">
                      </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                      <select class="myselect" v-model="finfants" id="Infantmyselect">
                      </select>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 search-col-padding">
                      <select class="myselect" v-model="fchild" id="Childmyselect">
                      </select>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12  search-col-padding">
                      <div class="input-group">
                        <textarea name="name" v-model="fmessage" required=""
                          :placeholder="packageArea.Message_Placeholder" rows="2" cols="50"></textarea>
                      </div>
                    </div>
                    <div class="col-md-12  search-col-padding">
                      <button type="submit" class="search-button "
                        @click.prevent="bookingPackage">{{packageArea.Book_Tour_Button_Label}}</button>
                    </div>
                  </form>
                </div>
                <!-- END: FLIGHT SEARCH -->

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="desc-detail">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-section">
              <div role="tabpanel">
                <!-- BEGIN: CATEGORY TAB -->
                <ul class="nav nav-tabs search-top" role="tablist" id="searchTab">
                  <li role="presentation" class="active text-center"> <a href="#description" aria-controls="flight"
                      role="tab" data-toggle="tab"> <span>{{packageArea.Description_Label}} </span> </a> </li>

                  <li role="presentation" class="text-center"> <a href="#itinerary" aria-controls="hotel" role="tab"
                      data-toggle="tab"> <span> {{packageArea.Itinerary_Label}} </span> </a> </li>

                  <li role="presentation" class="text-center"> <a href="#location" aria-controls="location" role="tab"
                      data-toggle="tab"><span>{{packageArea.Location_Label}}</span> </a> </li>

                  <li role="presentation" class="text-center"> <a href="#review-trip" aria-controls="review-trip"
                      role="tab" data-toggle="tab"><span>{{packageArea.Reviews_Label}} </span> </a> </li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="description">
                    <br />
                    <h4>{{packageArea.Description_Label}}</h4>
                    <br />
                    <p v-html="mainContent.Package_Description">
                    </p>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td class="fist-td">{{packageArea.Departure_Label}}</td>
                          <td class="second-td"><span>{{mainContent.Departure}}</span></td>
                        </tr>
                        <tr>
                          <td class="fist-td">{{packageArea.Departure_Time_Label}}</td>
                          <td class="second-td"><span>{{mainContent.Departure_Time}}</span></td>
                        </tr>
                        <tr>
                          <td class="fist-td">{{packageArea.Return_Time_Label}}</td>
                          <td class="second-td"><span>{{mainContent.Return_Time}}</span></td>
                        </tr>
                        <tr>
                          <td class="fist-td">{{packageArea.Included_Label}}</td>
                          </td>
                          <td class="second-td">
                            <table>
                              <tr>
                                <td class="third-td" v-for="(item,index) in mainContent.Included_List" :key="index"
                                  v-if="index%2===0"><span><i class="fa fa-check"
                                      aria-hidden="true"></i>{{item.Item}}</span></td>
                              </tr>
                              <tr>
                                <td v-for="(item,index) in mainContent.Included_List" v-if="index %2!==0"><span><i
                                      class="fa fa-check" aria-hidden="true"></i>{{item.Item}}</span></td>
                              </tr>
                  </div>
                  </table>
                  </td>
                  </tr>
                  <tr>
                    <td class="fist-td">{{packageArea.Not_Included_Label}} </td>
                    <td class="second-td">
                      <table>
                        <tr>
                          <td class="third-td" v-for="(item,index) in mainContent.Not_included_List"><span><i
                                class="fa fa-close" aria-hidden="true"></i>{{item.Item}}</span></td>
                        </tr>
                        <tr>
                          <td v-for="(item,index) in mainContent.Not_included_List" v-if="index %2!==0"><span><i
                                class="fa fa-check" aria-hidden="true"></i>{{item.Item}}</span></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  </tbody>
                  </table>
                  <p v-html="mainContent.Package_Description2"></p>
                </div>
                <!-- END: FLIGHT SEARCH -->

                <!-- itinerary -->
                <div role="tabpanel" class="tab-pane" id="itinerary"
                  v-for="(itinerary,index) in mainContent.Itinerary_List" :key="index">
                  <h4>{{itinerary.Heading}}</h4>
                  <p v-html="itinerary.Description"></p>
                </div>
                <!--location-tab-->
                <div role="tabpanel" class="tab-pane" id="location">
                  <h4>{{packageArea.Location_Heading}}</h4>
                  <iframe :src="mainContent.Map_Url" width="100%" height="300" frameborder="0" style="border:0;"
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <!--review-tab-->
                <div role="tabpanel" class="tab-pane" id="review-trip">
                  <br />
                  <h4 v-show=reviewAvailable> {{avgrating}} {{packageArea.Based_on_Label}} {{allReview.length}}
                    {{packageArea.Reviews_Label}}</h4>
                  <h4 v-show=!reviewAvailable> {{packageArea.No_Review__Label}}</h4>
                  <div class="col-lg-12 pa-0" v-for="(item,index) in allReview " :key="index">
                    <br />
                    <div class="comment-div">
                      <div class="user"><img :src="packageArea.User_Image_70x70px" alt=""> </div>
                      <div class="comment-block"> <span class="heading">{{item.Name}} -<span>
                            {{item.Date}}</span></span>
                        <ul class="rating">
                          <li v-for="rowindex in 5"
                            :style="item.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'">
                            <i class="fa fa-star"
                              :style="item.Ratings>=rowindex ? 'color:rgb(239, 158, 8)':'color:rgb(196, 196, 196)'"></i>
                          </li>
                        </ul>
                        <p v-html="item.comment"></p>
                      </div>
                    </div>
                  </div>

                  <div class="review-form">
                    <div class="col-md-12">
                      <h4>{{packageArea.Add_a_review_Label}}</h4>
                      <p>{{packageArea.Mandatory_Description}}</p>
                      <div class="add-rws"> <span>{{packageArea.Your_Rating_Label}}</span>
                        <ul class="rating" id="ratingID">
                          <li><i class="fa fa-star" style="color:gray;" aria-hidden="true" @click="userRating(1)"></i>
                          </li>
                          <li><i class="fa fa-star" style="color: gray;" aria-hidden="true" @click="userRating(2)"></i>
                          </li>
                          <li><i class="fa fa-star" style="color: gray;" aria-hidden="true" @click="userRating(3)"></i>
                          </li>
                          <li><i class="fa fa-star" style="color: gray;" aria-hidden="true" @click="userRating(4)"></i>
                          </li>
                          <li><i class="fa fa-star" style="color: gray;" aria-hidden="true" @click="userRating(5)"></i>
                          </li>

                        </ul>
                      </div>
                    </div>
                    <div class="review-form-field">
                      <div class="col-md-6">
                        <input type="text" id="text-01" v-model="Name" name="name"
                          :placeholder="packageArea.Name_Placeholder">
                      </div>

                      <div class="col-md-6">
                        <input type="email" id="email" name="name" v-model="Email"
                          :placeholder="packageArea.Email_Placeholder">
                      </div>
                      <div class="col-md-12">
                        <textarea id="text-1" v-model="Review" :placeholder="packageArea.Review_Placeholder" rows="3"
                          cols="50"></textarea>
                      </div>

                      <div class="col-md-12">
                        <input type="submit" id="submit-01" :value="packageArea.Submit_Review_Button_Label"
                          @click.prevent="addReviews">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END: TAB PANE -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <!-- Newsletter -->
  <footer class="mobile-view">
    <footeritem></footeritem>
  </footer>

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <!-- Bootstrap JQUERY -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/bootstrap-select.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script type="text/javascript" src="js/pack.js"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>

  <script type="text/javascript" src="js/intlTelInput.js"></script>

  <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>

  <script src="js/custom.js"></script>

  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
  <script src="/assets/js/select2.min.js?v=201905150000"></script>
  <script src="servicejs/packagedetail.js"></script>

  <script>
    /*--------Banner-Slider---------*/
    $(document).ready(function () {

      $("#owl-demo-1").owlCarousel({
        autoplay: true,
        autoPlay: 8000,
        autoplayHoverPause: true,
        stopOnHover: false,
        items: 1,
        margin: 10,
        lazyLoad: true,
        navigation: true,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [979, 1],
        itemsTablet: [768, 1],
      });

      $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
      $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
    });
  </script>
</body>

</html>