<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title> Yone Travels &amp; Tours</title>
  <link rel="icon" href="images/favicon.ico" type="icon" />
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Main Custom CSS -->
  <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css?v=202105240000" rel="stylesheet" type="text/css" />
  <link href="css/media.css" rel="stylesheet" type="text/css" />
  <link href="css/flag-iocn.css" rel="stylesheet" type="text/css" />
  <link href="/assets/css/flag.css" rel="stylesheet" type="text/css" />
  <link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/vue-loading.css">
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>

  <!--Header -->
  <header>
    <headeritem></headeritem>
  </header>

  <div id="holidays" v-cloak>
    <div class="vld-parent">
      <loading :active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage"></loading>
    </div>
    <!-- banner-->
    <section class="inner-banner" :style="{ background: 'url(' + BannerSection.Banner_Image_1920x250px+ ')'}">
      <div class="container">
        <h1>{{BannerSection.Holiday_Title}}</h1>

        <div class="bradcomes">
          <ul>
            <li><a href="index.html">{{BannerSection.Home_Label}}</a></li> /
            <li>{{BannerSection.Holiday_Label}}</li>
          </ul>
        </div>
      </div>

    </section>

    <!-- Offer-Section -->
    <section class="holidays-main holiday-in">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6" v-for="(item,index) in package" :key="index">
            <div class="item">
              <div class="holiday-img">
                <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"> <img
                    :src="item.Thumbnail_Image_360x270px" alt="index"></a>
              </div>
              <div class="package-detail">

                <h3><a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)">{{item.Package_Title}}</a>
                </h3>
                <ul class="day-night">
                  <li><i class="fa fa-sun-o"></i> {{item.Days}} {{Labels.Days_Label}}</li>
                  <li><i class="fa  fa-moon-o"></i> {{item.Nights}} {{Labels.Night_Label}}</li>
                </ul>
                <ul>
                  <li><i v-for="rowindex in 5"
                      v-bind:class="[getrating(item.Package_Title)>=rowindex ? 'fa fa-star':'fa fa-star-o' ]"
                      style="padding: 4px; font-size:20px;color: rgb(239, 158, 8);"></i></li>
                </ul>
                <div class="p-price">
                  <h3><span>{{ (selectedCurrency) }}</span><br> {{$n((item.Price/CurrencyMultiplier))}}</h3> 
                  <!-- <h3>{{$n((item.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</h3>  -->
                </div>
                <div class="book-btn">
                  <a href="#" @click.prevent="getmoreinfo(item.More_details_page_link)"> {{Labels.Book_Now_Label}} <i
                      class="fa  fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-12 pagination-in">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" @click.prevent="prevNextEvent('Previous')">
                  <span aria-hidden="true"><i class="fa  fa-angle-double-left"></i></span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li v-for="(rowindex,ind) in constructedNumbers" @click.prevent="selectPacakges(ind)" class=""
                :class="rowindex==currentPages ? 'active' :'' ">
                <a class="page-link" href="#">{{rowindex}}</a></li>
              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" @click.prevent="prevNextEvent('Next')">
                  <span aria-hidden="true"><i class="fa  fa-angle-double-right"></i></span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
  </div>
  </section>
  <!-- End-Offer -->
  </div>
  <!-- Newsletter -->
  <footer>
    <footeritem></footeritem>
  </footer>

  <a href="#" class="scrollToTop" style="display: inline;"><i class="fa fa-angle-double-up"></i></a>
  <!-- Main JQUERY -->
  <!-- Bootstrap JQUERY -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="/assets/js/vueJs.min.js?v=201906120000"></script>
  <script src="/assets/js/vue-i18n.js?v=201906280000"></script>
  <script src="/assets/js/bootstrap-select.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/select2.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
  <script type="text/javascript" src="js/pack.js"></script>
  <script src="/assets/js/axios.min.js?v=201906280000"></script>
  <script type="text/javascript" src="js/intlTelInput.js"></script>
  <script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
  <script src="/assets/js/detect.js?v=20200910000"></script>
  <script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
  <script src="/assets/js/common.js?v=202008200000"></script>
  <script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
  <script src="/assets/js/bootstrap-select.min.js?v=202008130000"></script>
  <script src="/assets/js/select2.min.js?v=201905150000"></script>
  <script src="servicejs/package.js"></script>
  <script>
    /*--------Banner-Slider---------*/
    $(document).ready(function () {

      $("#owl-demo-1").owlCarousel({
        autoplay: true,
        autoPlay: 8000,
        autoplayHoverPause: true,
        stopOnHover: false,
        items: 1,
        margin: 10,
        lazyLoad: true,
        navigation: true,
        itemsDesktop: [1199, 1],
        itemsDesktopSmall: [979, 1],
        itemsTablet: [768, 1],
      });

      $(".owl-prev").html('<i class="fa   fa-angle-left"></i>');
      $(".owl-next").html('<i class="fa  fa-angle-right"></i>');
    });
  </script>
</body>

</html>