

@media(max-width:1200px) {
    .holiday-main .item{margin: 0 15px;}
    .packages-in .item{margin: 90px 0 0 0;}
    .holiday-image{width: 80%; }
    .holiday-detail{width: 100%;}
    .service-icon{
        display: block;
        margin-bottom: 5px;
    }
    /* .search-section .nav-tabs > li{width: 14.1%;} */
    .booking-tab{margin-top: -126px;}
    .banner_main .banner-text h1{
        font-size: 85px;
        line-height: 80px;
    }
    .banner_main .banner-text p{
        letter-spacing: 6px;
        font-size: 29px;
    }
}


/*=========END-1200px==========*/


/*=========Start-991px==========*/

@media(max-width:991px) {
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	h2 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px;
	}
    
	.booking-form {
		width: 100%;
        position: relative;
        padding: 40px 0;
	}
    .booking-tab{margin-top: -126px;}
    .service-icon svg{width: 35%;}
    .search-section .tab-content form{padding-top: 20px;}
    .search-section .form-control{
        background: #f3f3f3;
        border-right: none;
    }
    .calendar{
        background: #f3f3f3;
        border-right: none !important;
    }
    .detail-form .calendar{
        background: #fff!important;
        border-right: none !important;
    }
    .search-section .search-col-padding{
        padding-left: 1px;
        background: #bbbbbb;
    }
   
	.banner_main {
		padding: 160px 0 200px 0;
	}
	.banner_main .banner-text h1 {
		font-size: 70px;
		line-height: 75px;
	}
	.banner_main .banner-text p {
		width: 91%;
	}
	.search-section .form-control {
		border-bottom: 1px solid #bfbfbf;
	}
	.calendar {
		border-bottom: 1px solid #bfbfbf !important;
	}
	.all-search-box {
		display: inline-block;
		width: 100%;
	}
	.search-button {
		padding: 10px 0;
	}
	.dropdown-menu {
		top: 34px;
		right: 0px;
	}
	.travelerSelectWindow {
		left: 0;
		width: 100%;
	}
	
    .owl-theme .owl-controls .owl-buttons div {
		position: relative;
		top: 0;
		margin-top: 20px;
        float: none!important;
	}
	.packages-main .owl-buttons .owl-prev {
		float: none;
		margin: 0;
		left: auto;
	}
	.packages-main .owl-buttons .owl-next {
		float: none;
		margin: 0;
		right: auto;
	}
    .holiday-image{width: 75%; }
    .price-more h3{
        float: none;
        font-size: 30px;
    }
    .price-more .btn{margin-top: 10px;}
	
    
    .inner-banner{padding: 50px 0 80px 0;}
    .about-in::before, .about-in::after{ display: none;}
    .about-text{margin-top: 30px;}
    .about-in .col-md-5{
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-img::after{display: none;}
    .contact-form{margin-bottom: 30px;}
    .contact-form .form-control{
        padding: 22px 10px;
    }
    .contact-in{margin-bottom: 30px;}
    .package-place-info{margin-bottom: 30px;}
    .search-col-padding .input-group{display: block;}
    .detail-form .search-section .search-col-padding{overflow: hidden;}
}


/*=========END-991px==========*/

@media(max-width:767px) {
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	h2 {
		font-size: 26px;
		line-height: 35px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 24px;
		line-height: 40px;
		padding: 10px 0;
	}
    
     .search-section .search-col-padding{
        padding-top: 0px;
        padding-left: 0px;
        background: #bbbbbb;
    }
   
    .change-date::after,.change-destination::after{
        top: 46px !important;
    }
    .navbar-default::before {
		display: none;
	}
    .service-icon{
        display: inline-block;
    }
    
	
	
	.search-col-padding .input-group {
		width: 100%;
		display: block;
	}
	.search-section .form-control,
	.calendar {
		border-right: none !important;
		box-shadow: none !important;
	}
    .search-section .form-control{padding: 0 20px!important;}
    .travellersDropdown.arrow::after{display: none!important;}
	.search-section .nav-tabs>li {
		clip-path: inherit;
		width: 24.3%;
        float: left;
	}
	.search-section .nav>li>a::before {
		left: auto;
		top: 8px;
		right: 4px;
		position: absolute;
	}
	
	.change-destination::after {
		right: 0;
		top: 51px;
		left: 0;
		text-align: center;
	}
	.banner_main .banner-text h1 {
		line-height: 50px;
		font-size: 80px;
        line-height: 80px;
	}
	.banner_main .banner-text p {
		font-size: 28px;
		line-height: 26px;
	}
	.banner_main {
		padding: 100px 0 100px 0;
	}
	
	.booking-tab {
		margin-top: 0;
	}
	.all-search-box {
		padding-left: 15px;
		padding-right: 15px;
	}
	.change-date::after {
		width: 100%;
		left: 0;
		text-align: center;
		right: 0;
		top: 51px;
	}
    .search-section .nav>li{
        margin-bottom: 2px;
    }
	.search-section .nav>li>a {
		padding: 15px;
		background: #f3f3f3;
	}
    .radio{margin-bottom: 20px;}
	.search-section .nav-tabs>li:hover i {
		color: #fff;
	}
    .travel-offer{padding: 30px 0;}
    .travel-offer h2{
        font-size: 35px;
    }
    .travel-offer hr{
        width: 20%;
        margin-bottom: 30px;
    }
    .offer-deatil{padding: 30px 20px;}
    .holiday-main h2{
        font-size: 35px;
        line-height: 40px;
    }
    .holiday-main{padding: 30px 0;}
    .holiday-main hr{width: 17%;}
    .holiday-image{width: 80%; }
    .holiday-detail h3{
        font-size: 22px;
        line-height: 27px;
    }
    .price-more h3{
        font-size: 22px;
        line-height: 24px;
    }
    
    .about-footer{padding: 30px 0;}
    .quick-link{padding-bottom: 0;}
    
    .ftr-btm{
        text-align: center;
    }
    
    .search-button, .search-section .form-control, .calendar{height: 60px!important;}
    .travelerSelectWindow{top: 60px;}
    .custom-select-v3::before{top: 10px;}
    .about-in{padding: 50px 0 20px 0;}
    .inner-banner{padding: 50px 0 80px 0;}
    .inner-banner h2{font-size: 45px;}
    .flex-box{display: block;}
    .about-info{margin-bottom: 30px;}
    .our-mission-in{padding: 40px 0 10px 0;}
    .our-mission-in{margin-bottom: 0px;}
    .about-info{padding: 30px;}
    .contact-form h3{
        font-size: 30px;
        line-height: 30px;
    }
    .map{margin-bottom: 0px;}
    .map iframe{height: 350px;}
    .contact-in{margin-bottom: 20px;}
    .get-touch h3{
        font-size: 26px;
        line-height: 26px;
    }
    .contact-in{padding: 30px;}
    .privacy-content{padding: 30px 0;}
    .privacy-content h4{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 5px;
    }
    .package-detail-inner{padding: 30px 0;}
    .package-name h2{
        font-size: 22px;
        line-height: 30px;
    }
    .desc-detail .table span{font-size: 13px;}
    
    .review-form .col-md-12, .review-form .col-md-6{padding: 0;}
    .review-form{clear: both;}
    .comment-div .user{
        float: none;
        width: 100%;
    }
    .comment-div .comment-block{
        width: 100%;
        float: none;
    }
    .tab-pane .pa-0{padding: 0;}
     .privacy-content{padding: 30px 0;}
    .privacy-content h4{
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 5px;
    }
}


/*=========END-767px==========*/

@media(max-width:600px) {
    .packages-in .col-xs-6{width: 100%;}
}


/*=========Start-500px==========*/

@media(max-width:500px) {
    .booking-form{padding: 10px 0 30px 0;}
	.search-section .nav>li>a {
		padding: 13px 0;
		font-size: 16px;
		width: 100%;
	}
    .banner_main .banner-text h1 {
		font-size: 50px;
        line-height: 50px;
	}
	.banner_main .banner-text p {
		font-size: 20px;
		line-height: 22px;
        color: #fff;
        letter-spacing: 0;
        padding-top: 0;
	}
    .all-search-box{
        padding-left: 4px;
        padding-right: 4px;
    }
    .radio{margin-bottom: 5px;}
	.search-section .nav>li {
		float: left;
		width: 33%;
		border: none;
		border-left: 4px solid #fff;
	}
    .service-icon{display: block;}
    .search-section .nav > li{margin-bottom: 4px;}
	.search-section .tab-content form {
		padding: 0;
	}
	.search-section .tab-content {
		padding: 15px 0 0 0;
	}
	.banner_main {
		padding: 60px 0 60px 0;
	}
    .travel-offer hr{
        width: 35%;
    }
    .holiday-main hr{width: 25%;}
    .holiday-image{width: 85%; }
    .corporate-btn{width: 20%;}
    .inner-banner{padding: 50px 0 80px 0;}
    .inner-banner h2{font-size: 40px;}
    .about-text h3{
        font-size: 22px;
        line-height: 28px;
    }
    .bread-position ul li{
        font-size: 15px;
        padding: 0 10px;
    }
    .desc-detail .nav-tabs > li{
        font: none;
        width: 100% !important;
        border-radius: 0;
        margin-bottom: 5px;
    }
    .desc-detail .nav > li > a{
        border-radius: 0;
        border-bottom: none;
    }
    .desc-detail .nav-tabs{
        position: relative;
        top: 0;
    }
    .desc-detail{padding-top: 30px;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
        border-bottom: none;
    }
    .desc-detail .search-section .tab-content{
        padding: 20px;
    }
    .inner-pagination .pagination > li > a, .inner-pagination .pagination > li > span{margin: 0;}
}

@media(max-width:450px){
    .package-media{
        float: none;
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    .package-media ul li:first-child{padding-left: 0;}
    .package-days .day-night{
        width: 100%;
        float: none;
    }
}





