

html,	
body,	
div,	
span,	
applet,	
object,	
iframe,	
h1,	
h2,	
h3,	
h4,	
h5,	
h6,	
p,	
blockquote,	
pre,	
a,	
abbr,	
acronym,	
address,	
big,	
cite,	
code,	
del,	
dfn,	
em,	
img,	
ins,	
kbd,	
q,	
s,	
samp,	
small,	
strike,	
strong,	
sub,	
sup,	
tt,	
var,	
b,	
u,	
i,	
center,	
dl,	
dt,	
dd,	
ol,	
ul,	
li,	
fieldset,	
form,	
label,	
legend,	
caption,	
article,	
aside,	
canvas,	
details,	
embed,	
figure,	
figcaption,	
.footer,	
header,	
hgroup,	
menu,	
nav,	
output,	
ruby,	
section,	
summary,	
time,	
mark,	
audio,	
video {	
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	/* font: inherit;	 */
	vertical-align: baseline;	
}	
article,	
aside,	
details,	
figcaption,	
figure,	
.footer,	
header,	
hgroup,	
menu,	
nav,	
section {	
	display: block;	
}	
ol,	
ul,	
li {	
	list-style: none;	
}	
blockquote,	
q {	
	quotes: none;	
}	
blockquote:before,	
blockquote:after,	
q:before,	
q:after {	
	content: '';	
	content: none;	
}
.btn {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}	


/*========banner=======*/

.banner-info{
    position: relative;
}

.banner_main {
	/* background: url(../images/banner-bg.jpg) no-repeat; */
	background-position: center !important;
	padding: 110px 0 520px 0 !important;
	background-size: cover !important;
}

.banner_main .item {
	display: block;
	width: 100%;
	text-align: left;
}

.banner_main .banner-text h1 {
	color: #146194;
    font-family: 'Monotype Corsiva';
	font-weight: 700;
	font-size: 123px;
    line-height: 94px;
	text-transform: uppercase;
    text-align: center;
}

.banner_main .banner-text p {
	color: #146194;
	font-size: 35px;
    font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 36px;
    text-align: center;
    letter-spacing: 11px;
}

.banner_main .owl-buttons {
	display: none;
}
.banner_main .owl-theme .owl-controls{display: none!important;}

.banner_main .owl-pagination {
	position: absolute;
	bottom: -140px;
	left: 0;
	right: 0;
}

.owl-theme .owl-controls .owl-page span {
	background: #fff;
	opacity: 1;
	height: 5px;
	width: 30px;
	border-radius: 0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background: #fc4f00;
}


/*====FORM======*/


/*================Booking-Form-Css================*/

.booking-form {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	background: rgba(255,255,255,0.8);
    z-index: 9;
	padding: 40px 0 120px 0;
	-webkit-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
	-moz-box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
	box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.31);
}

.search-section {
	position: relative;
}

.all-search-box {
	padding: 0;
}

.booking-tab {
	border-radius: 0;
	overflow: hidden;
	margin-top: -106px;
}

.tab-field {
	padding: 0;
}

.search-section .nav-tabs {
	border-bottom: none;
	text-align: center;
	display: flex;
    justify-content: center;
}

.search-section .nav-tabs>li {
	float: none;
	text-align: center;
	float: left;
	width: 14.2%;
    margin-right: 1px;
}

.search-section .nav-tabs .active {
	position: relative;
}

.search-section .nav-tabs>li>a {
	color: #484848;
	background-color: #f4f4f4;
	font-weight: 400;
	border-radius: 0;
	margin-right: 0;
	border: none !important;
}

.search-section .nav>li>a {
	padding: 15px 10px;
	font-size: 16px;
	color: #146194;
	font-weight: 500;
	text-transform: uppercase;
	position: relative;
	display: block;
	font-family: 'Poppins', sans-serif;
}

.service-icon svg {
	fill:#146194;
	margin: 0 auto;
    width: 25%;
    vertical-align: middle;
    margin-right: 5px;
}

.search-section .nav-tabs>li:hover i {
	color: #484848;
}

.search-section .nav-tabs>li.active svg {
	fill: #fff;
}

.search-section .nav-tabs>li.active>a,
.search-section .nav-tabs>li.active>a:focus,
.search-section .nav-tabs>li.active>a:hover {
	border: none;
	background: #146194;
	color: #fff;
}

.search-section .tab-content {
    color: #07253f;
    padding-top: 15px;
}

.search-section .tab-content form {
	padding-top: 57px;
}

.search-col-padding .input-group {
	display: block;
}

.search-section label {
	font-size: 14px;
	font-weight: 300;
	text-transform: capitalize;
	color: #000;
	line-height: 16px;
}

.search-section .form-control {
	background-color: #fff;
	border: none;
	border-right: 1px solid #146194;
	border-radius: 0px !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	display: block;
	/* font-size: 16px; */
	height: 81px;
	line-height: 1.42857;
	padding: 0 0 0 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	width: 100%;
	color: #1c1c1c !important;
	/*z-index: 1;
    */
	margin: 0;
	position: relative;
}
#ArrivalfromLeg1,#ArrivalfromLeg2,#ArrivalfromLeg3,#ArrivalfromLeg4,#ArrivalfromLeg5,#ArrivalfromLeg6,#DeparturefromLeg1,#DeparturefromLeg2,#DeparturefromLeg3,#DeparturefromLeg4,#DeparturefromLeg5,#DeparturefromLeg6{
	height: 68px;
}

.search-section .plane-icon {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 2;
}

.search-section .form-control::-moz-placeholder {
	color: #1c1c1c!important;
	opacity: 1!important;
}

.search-section .form-control:-ms-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .form-control::-webkit-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .form-control::-o-input-placeholder {
	color: #1c1c1c!important;
    opacity: 1!important;
}

.search-section .input-group-addon {
	background: transparent;
	color: #BEC4C8;
	border-top: 1px solid #BEC4C8;
	border-right: 1px solid #BEC4C8;
	border-bottom: 1px solid #BEC4C8;
	border-radius: 0;
}

.search-section .search-col-padding {
	padding: 0;
	/* background: #484848; */
}

.search-section option {
	color: #07253F;
}

.calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 20px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 81px;
	border: none !important;
	border-right: 1px solid #146194 !important;
}

.calendarM ::placeholder {
	color: #1c1c1c!important;
}
.calendarM {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 20px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 68px;
	border: none !important;
	border-right: 1px solid #146194 !important;
}

.calendar ::placeholder {
	color: #1c1c1c!important;
}

.ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
	z-index: 99 !important;
	display: none;
}

.ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #146194;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.ui-datepicker-prev:after,
.ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.ui-datepicker-prev:hover,
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover:after,
.ui-datepicker-next:hover:after {
	border-color: #000;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #146194;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
}

.ui-state-default {
	display: block;
	text-decoration: none;
	color: #146194;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}

.ui-state-default:hover {
	background: #146194;
	color: #fff;
}

.ui-state-highlight {
	color: #fff;
	background: #146194;
}

.ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}

.custom-select-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 40px;
}

.bootstrap-select.btn-group .dropdown-menu {
	background: #3a7fc1;
	border-radius: 0;
}

.bootstrap-select.btn-group .dropdown-menu li {
	display: contents;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	color: #ffffff;
	background: #3a7fc1 !important;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #00ADEF;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 100%;
}

.btn-group.open .dropdown-toggle {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}

.btn:hover {
	color: #da434a;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.search-button::before {
	background: #000 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 0 0;
	-moz-transform-origin: 50% 0 0;
	-o-transform-origin: 50% 0 0;
	transform-origin: 50% 0 0;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-property: transform;
	-webkit-transition-property: transform;
	-moz-transition-property: transform;
	-o-transition-property: transform;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	z-index: -1;
	border-radius: 20px;
}

.search-button {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background: #146194;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	      font-family: 'Poppins', sans-serif;
	padding: 5px;
	border: none;
	text-transform: capitalize;
	width: 100%;
	border-radius: 0;
	height: 81px;
}

.search-button i {
	font-size: 20px;
	padding-left: 15px;
}

.search-col-padding input[type="radio"] {
	margin-top: 2px;
}

.search-col-padding .active {
	color: #fff;
}

.trip-button {
	margin-top: 10px !important;
}

.search-button:hover,
.search-button:focus,
.search-button:active {
	color: #fff;
	text-decoration: none;
	background: #484848;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#flight_direct {
	content: '';
	display: inline-block;
	vertical-align: text-top;
	background: white;
	font-size: 16px;
}


/*-----Select Box CSS-----*/

.bootstrap-select {
	width: 220px;
}

.bootstrap-select>.dropdown-toggle {
	width: 100%;
	padding-right: 25px
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
	border-color: #b94a48
}

.bootstrap-select.fit-width {
	width: auto!important
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 220px
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.bootstrap-select.form-control {
	margin-bottom: 0;
	padding: 0;
	border: none
}

.bootstrap-select.form-control:not([class*=col-]) {
	width: 100%
}

.bootstrap-select.form-control.input-group-btn {
	z-index: auto
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=col-] {
	float: none;
	display: inline-block;
	margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*=col-].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
	float: right
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-inline .bootstrap-select.btn-group {
	margin-bottom: 0
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
	padding: 0
}

.form-inline .bootstrap-select.btn-group .form-control {
	width: 100%
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group>.disabled {
	cursor: not-allowed
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group>.disabled:focus {
	outline: 0!important
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	text-align: left
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
	position: absolute;
	top: 50%;
	right: 12px;
	margin-top: -2px;
	vertical-align: middle
}

.bootstrap-select.btn-group[class*=col-] .dropdown-toggle {
	width: 100%
}

.bootstrap-select.btn-group .dropdown-menu {
	min-width: 100%;
	z-index: 1035;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .dropdown-menu.inner {
	position: static;
	float: none;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.bootstrap-select.btn-group .dropdown-menu li {
	position: relative
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
	color: #fff
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
	cursor: not-allowed
}

.bootstrap-select.btn-group .dropdown-menu li a {
	cursor: pointer
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
	position: relative;
	padding-left: 2.25em
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
	display: none
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
	display: inline-block
}

.bootstrap-select.btn-group .dropdown-menu li small {
	padding-left: .5em
}

.bootstrap-select.btn-group .dropdown-menu .notify {
	position: absolute;
	bottom: 5px;
	width: 96%;
	margin: 0 2%;
	min-height: 26px;
	padding: 3px 5px;
	background: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	pointer-events: none;
	opacity: .9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bootstrap-select.btn-group .no-results {
	padding: 3px;
	background: #f5f5f5;
	margin: 0 5px;
	white-space: nowrap
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
	position: static
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
	position: static;
	top: auto;
	margin-top: -1px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
	position: absolute;
	display: inline-block;
	right: 15px;
	margin-top: 5px
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
	margin-right: 34px
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
	z-index: 1036
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
	content: '';
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(204, 204, 204, .2);
	position: absolute;
	bottom: -4px;
	left: 9px;
	display: none
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute;
	bottom: -4px;
	left: 10px;
	display: none
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
	bottom: auto;
	top: -3px;
	border-top: 7px solid rgba(204, 204, 204, .2);
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
	bottom: auto;
	top: -3px;
	border-top: 6px solid #fff;
	border-bottom: 0
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
	right: 12px;
	left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
	right: 13px;
	left: auto
}

.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after,
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
	display: block
}

.bs-actionsbox,
.bs-donebutton,
.bs-searchbox {
	padding: 4px 8px
}

.bs-actionsbox {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-actionsbox .btn-group button {
	width: 50%
}

.bs-donebutton {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.bs-donebutton .btn-group button {
	width: 100%
}

.bs-searchbox+.bs-actionsbox {
	padding: 0 8px 4px
}

.bs-searchbox .form-control {
	margin-bottom: 0;
	width: 100%
}

select.bs-select-hidden,
select.selectpicker {
	display: none!important
}

select.mobile-device {
	position: absolute!important;
	top: 0;
	left: 0;
	display: block!important;
	width: 100%;
	height: 100%!important;
	opacity: 0
}

#flight form .input-group {
	display: block;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-color: transparent;
	color: #979797;
}

.select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #646060 !important;
	/* text color */
	line-height: 34px;
	background: #ffff;
	border-radius: 0px;
	font-size: 14px;
	      font-family: 'Poppins', sans-serif;
	font-weight: 400;
	padding-top: 20px;
	color: #646060;
}

 ::placeholder {
	font-size: 16px;
	color: #1c1c1c !important;
	      font-family: 'Poppins', sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 17px;
	width: 40px;
	text-align: center;
	line-height: 30px;
}

.select2-container--default .select2-selection--single {
	background-color: #fff;
	/* input background color */
	border: none;
	border-radius: 0px;
	height: 68px !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #96a9bf;
	/* option hover background */
	color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #96a9bf;
	/* option hover background */
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #ababab;
	padding: 7px;
	font-size: 20px;
}

.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus {
	border-color: #6e8095;
}

.select2-dropdown {
	border-color: #6e8095;
}

.tab-pane h3 {
	font-size: 23px;
	font-weight: 700;
}

.select-label {
	font-size: 15px !important;
	font-weight: 600 !important;
	text-transform: capitalize!important;
	padding-bottom: 10px;
}

.change-destination::after {
	content: url(../images/exchange-icon.png);
	position: absolute;
	right: -15px;
	top: 27px;
	z-index: 9;
}

.change-date::after {
	content: url(../images/exchange-date.png);
	position: absolute;
	right: -13px;
	top: 27px;
	z-index: 9;
}

.booking-form1 .form-group2 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	position: absolute;
	right: 1px;
	top: 4px;
	width: 40px;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}

.booking-form1 .form-group2 .select2-container .select2-selection--single,
.booking-form1 .form-group .select2-container .select2-selection--single {
	-moz-user-select: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 40px !important;
}

.booking-form1 .form-group2 .select2-selection__arrow i {
	background-color: transparent;
	border-radius: 50%;
	color: #fff;
	padding: 7px;
	font-size: 15px;
}


/* Travellers CSS BOF ===================================================*/

.travellersDropdown {
	position: relative;
}

.custom-select-v3 {
	position: relative;
	cursor: pointer;
}

.custom-select-v3::before {
	background: 0 0;
	border: 0;
	top: 20px;
	color: #1c1c1c;
	display: block;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	margin-right: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	width: 24px;
	z-index: 6;
	font-weight: 700;
	content: "\f107";
	font-family: 'FontAwesome';
}

.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	left: 10px;
	pointer-events: none;
	position: absolute;
	top: 9px;
	z-index: 1;
}

.travellersDropdown span[class^="icon-"] {
	color: #a0a0a0;
	font-size: 22px;
	pointer-events: none;
}

.custom-select-v3 input {
	text-overflow: ellipsis;
	padding-right: 30px;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	width: 100%;
	cursor: pointer;
	text-align: left;
	cursor: pointer;
	padding-left: 10px !important;
	font-size: 14px !important;
	      font-family: 'Poppins', sans-serif;
	color: #646060 !important;
}

.custom-select-v3 select,
.form-control {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	height: 42px;
	line-height: normal;
	margin-bottom: 20px;
	padding: 8px;
	padding-right: 8px;
	text-overflow: ellipsis;
	box-shadow: none;
	color: #000;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.travelerSelectWindow {
	width: 330px;
	position: absolute;
	top: 81px;
	right: 0;
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, .1);
	z-index: 3;
	display: none;
}

.travelerSelectWindow.active {
	display: block;
}

.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}

.travelerSelectWindow fieldset {
	padding: 0 13px 15px 0;
}

fieldset {
	min-width: 0;
	margin: 0;
}

.travellersDropdown .travelerSelectWindow label {
	font-size: 14px;
	color: #000;
	float: left;
	min-width: 100px;
	padding-top: 10px;
	display: inline-block;
	font-weight: 400;
	max-width: 100%;
}

.trvFld {
	float: left;
	margin-right: 10px;
	width: 80px;
}

.trvFld .custom-select-v3 {
	display: block;
}

.trvFld .custom-select-v3::before {
	font-size: 12px;
	height: 35px;
	line-height: 0px;
	padding: 0px 14px 0px 20px;
}

.trvFld .custom-select-v3 select {
	text-align: left;
	height: 35px;
	line-height: 35px;
	margin-bottom: 0;
	color: #000;
	padding: 0 8px;
}

.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
}

.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
	cursor: pointer;
}

select option {
	padding: 2px 5px;
	background: #fff;
}

.trvFld .custom-select-v3 select {
	text-align: left;
	line-height: 35px;
	color: #000;
}

.travelerSelectWindow .ageRange {
	float: left;
	font-size: 14px;
	color: #c2c2c2;
	padding-top: 10px;
}

.classSec {
	/* border-top: 1px solid #d1d1d1; */
	/* padding-top: 15px;
	margin: 0 15px 15px; */
	overflow: hidden;
}

.classSec .custom-select-v3::before {
	top: 0;
}

.classSec label {
	margin-top: 15px;
}

.classSec .custom-select-v3.lg {
	float: right;
	width: 65%;
}

.classSec .custom-select-v3.lg select {
	margin: 0;
}

.classSec .custom-select-v3 select {
	cursor: pointer;
}

.classSec .custom-select-v3 select {
	font-size: 14px;
	padding-left: 5px;
	text-align: left;
	text-indent: initial;
	color: #000;
}

.travelerSelectWindow .custom-select-v3 select {
	border: 1px solid #ccc;
	margin-top: 0;
}

.custom-select-v3 select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color: #000;
}

.travelerSelectWindow .travelDropdown {
	margin: 15px 15px 0;
}

.travelerSelectWindow .closeDropdown {
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
	text-align: right;
	border-top: 1px solid #d1d1d1;
	background: #f5f5f5;
	border-radius: 0 0 2px 2px;
	position: relative;
}

.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	z-index: 1;
	padding: 7px 10px;
	background: #146194;
	display: inline-block;
	border-radius: 3px;
	opacity: .8;
	top: 8px;
}

.travelerSelectWindow .closeBtn {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}

.travelerSelectWindow .closeBtn:hover {
	opacity: 1;
}

.travellersDropdown.arrow::after {
	border-color: transparent transparent #fff;
	border-style: solid;
	border-width: 12px;
	bottom: -21px;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -12px;
	position: absolute;
	width: 0;
	z-index: 1;
}

.travellersDropdown.arrow::after {
	bottom: -15px;
	z-index: 6;
}


/*===========================================
=            Radio Button Custom            =
===========================================*/

.radio {
	padding-left: 20px;
	margin-bottom: 45px;
}

.radio label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	font-size: 16px;
	color: #292929;
	font-weight: 600;
	padding-top: 3px;
	text-transform: uppercase;
}

.radio label.active,
.radio label:focus {
	color: #fc4f00;
}

.radio label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 14px;
	height: 14px;
	left: 0;
	margin-left: -13px;
	border: 2px solid #696969;
	border-radius: 50%;
	-webkit-transition: border 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out;
	transition: border 0.15s ease-in-out;
	top: 4px;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 6px;
	height: 6px;
	left: 11px;
	top: 8px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #fff;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
	opacity: 0;
}

.radio input[type="radio"]:checked+label::after {
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.radio.radio-inline {
	margin-top: 0;
}

.radio-success input[type="radio"]+label::after {
	background-color: #146194;
}

.radio-success input[type="radio"]:checked+label::before {
	border-color: #146194;
}

.radio-success input[type="radio"]:checked+label::after {
	background-color: #146194;
}

.radio-success input[type="radio"]:checked+label {
	color: #146194;
}


/*==============End-Booking-Form-Css===========*/




/*==============Holiday-Packages===========*/

.travel-offer {
	background: #fff;
	position: relative;
	padding: 60px 0;
}

.travel-offer h2 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 50px;
	line-height: 40px;
	font-weight: 600;
	color: #146194;
	margin-bottom: 20px;
	padding-bottom: 0px;
}

.travel-offer hr {
	height: 5px;
	background: #146194;
	width: 10%;
	margin-bottom: 40px;
	margin-top: 10px;
    border-radius: 50px;
    position: relative;
    border: none;
}
.travel-offer hr::after{
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    height: 5px;
    width: 10px;
    background: #fff;
}

.travel-offer .item h3{
    text-align: center;
	margin-bottom: 25px;
    padding: 0;
	margin-bottom: 0;
	padding-bottom: 30px;
}
.travel-offer .item h3 a {
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	color: #1c1c1c;
    display: block;
}
.travel-offer .item h3{
    border-bottom: 1px solid #bababa;
}

.offer-deatil .btn{
    border: 2px solid #1c1c1c;
    border-radius: 0;
    padding: 10px 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #1c1c1c;
    margin-top: 30px;
}

.travel-offer .item:hover .offer-deatil .btn{
    background: #146194;
    border-color: #146194;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.offer-img{position: relative;}
.offer-img img {
	width: 100%;
    border-radius: 10px 10px 0 0;
}

.offer-icon{
    background: #fff;
    border-radius: 50%;
     height: 57px;
    width: 57px;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    
}
.offer-img i{
    font-size: 25px;
    line-height: 48px;
}

.travel-offer .item {
	background: #fff;
	margin: 10px 15px;
	position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.4);
}

.offer-deatil {
	text-align: center;
	padding: 30px 44px;
}
.travel-offer .item:hover.item h3 a {
	color: #146194;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.travel-offer .item:hover {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.17);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.travel-offer .owl-pagination {
	display: none;
}

.travel-offer .owl-buttons .owl-prev {
	float: left;
	margin-left: -40px !important;
	left: 0;
}

.travel-offer .owl-buttons .owl-next {
	float: right;
	margin-right: -40px !important;
	right: 0;
}

.owl-theme .owl-controls .owl-buttons div {
	background-color: transparent;
	color: #1c1c1c;
	opacity: 1;
	font-size: 35px;
    font-weight: 400;
	padding: 0;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 2px solid #1c1c1c;
	line-height: 40px;
	position: absolute;
	top: 50%;
	text-align: center;
}
.owl-theme .owl-controls .owl-buttons div:hover {
	color: #FFF;
	background: #146194;
	border-color: #146194;
}

/*===================Holiday-Section====================*/

.holiday-main{
    background:#1d6798 url(../images/holiday-pattern.png) no-repeat;
    padding: 60px 0;
    background-size: cover;
}

.holiday-main h2 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 50px;
	line-height: 60px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 20px;
	padding-bottom: 0px;
}

.holiday-main hr {
	height: 5px;
	background: #fff;
	width: 10%;
	margin-bottom:15px;
	margin-top: 10px;
    border-radius: 50px;
    position: relative;
    border: none;
}
.holiday-main hr::after{
    content: "";
    position: absolute;
    right: 20px;
    top: 0;
    height: 5px;
    width: 10px;
    background: #146194;
}

.holiday-main p{
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.holiday-main .owl-item{
    padding: 80px 0 30px 0 ;
}

.holiday-main .item{
    border-radius: 10px;
    clear: both;
    background: #fff;
    position: relative;
    z-index: 99999;
    display: inline-block;
    width: 90%;
}



.holiday-image{
    float: left;
    width: 40%;
    margin-top: -60px;
    z-index: 999;
    position: relative;
    
}
.holiday-image img{
    width: 100%;
    border-radius: 10px 10px 10px 0;
}
.holiday-detail{
    float: left;
    width: 60%;
    padding-left: 20px;
}


.holiday-detail h3{
    font-size: 28px;
    line-height: 29px;
    font-weight: 600;
    padding: 20px 0 10px 0;
}
.holiday-detail h3 a{
    color: #1c1c1c;
    display: block;
}
.holiday-main .item:hover .holiday-detail h3 a{color: #146194;}
.holiday-detail h3 span{
    font-size: 16px;
    color: #1c1c1c;
    line-height: 24px;
    font-weight: 400;
}

.holiday-detail p{
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 0;
}

.holiday-detail p span{
    color: #146194;
    font-weight: 500;
}

.holiday-detail ul li{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
    position: relative;
    padding: 0 15px;
}
.holiday-detail ul li:first-child{padding-left: 0;}
.holiday-detail ul li::after{
    content: "|";
    position: absolute;
    top: 0;
    right: 0;
    color: #262626;
}
.holiday-detail ul li:last-child::after{
    content: " ";
}
.holiday-detail ul li i{
    color: #146194;
    padding-right: 5px;
}

.price-more{
    clear: both;
    padding: 15px;
    overflow: hidden;
    }
.price-more h3{
    color: #1c1c1c;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    float: left;
    padding: 0;
}
.price-more h3 span{
    font-weight: 400;
    font-size: 16px;
}

.price-more .btn{
    float: right;
    background: #fff;
    color: #1c1c1c;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 26px;
    line-height: 46px;
    margin-top: 0;
    border: 2px solid #1c1c1c;
}

.holiday-main .item:hover .price-more .btn{
    background: #146194;
    color: #fff;
    border-color: #146194;
}
.holiday-main .owl-buttons{display: none;}

.holiday-main .owl-theme .owl-controls .owl-page span{
    height: 12px;
    width: 30px;
    border-radius: 10px;
    opacity: 0.5;
}
.holiday-main .owl-theme .owl-controls .owl-page.active span, .holiday-main.owl-theme .owl-controls.clickable .owl-page:hover span{
    opacity: 1;
    background: #fff;
}
.holiday-main .owl-theme .owl-controls .owl-page.active span, .holiday-main .owl-theme .owl-controls.clickable .owl-page:hover span{background: #fff;}





/*=======================About Us=============================*/



/*================================About-banner=======================*/

.inner-banner{
    padding: 80px 0 110px 0;
    background-size: cover !important;
    width: 100%;
    position: relative;
    background-position: center center!important;
}
.inner-banner h2{
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-weight: 600;
    line-height: 65x;
}
.breadcrumbs{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
   
}
.breadcrumbs ul{
    margin: 0 auto;
    padding-left: 0px;
}
.bread-position{
   background: #fff; 
    text-align: center;
    display: inline-block;
    border-radius: 40px;
    padding: 15px;
}
.bread-position ul li{
    display: inline-block;
    padding: 0px 25px;
    font-size: 18px;
    text-transform: capitalize;
    color: #1c1c1c;
    font-weight: 500;
}
.bread-position ul li a{
    display: block;
    color: #1c1c1c;
}
.bread-position ul li a:hover{
    color: #146194;
}
.about-in{
    padding: 80px 0 60px 0;
    position: relative;
    z-index: 9999999!important;
}

.about-in::before{
    content: url(../images/pattern-left.png);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.about-in::after{
    content: url(../images/pattern-right.png);
    position: absolute;
    right: 0;
    bottom: -7px;
    z-index: -1;
}
.about-in .col-md-5{padding: 0;}
.about-img img {
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.about-img::after {
    content: " ";
    position: absolute;
    top: 20px;
    right: -20px;
    width: 100%;
    background: #fff;
    height: 100%;
    z-index: 0;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.24);
    -moz-box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.24);
    box-shadow: 4px 4px 7px 1px rgba(0,0,0,0.24);
}
.about-text h3{
    font-size: 29px;
    line-height: 36px;
    color: #146194;
    padding: 0;
    font-weight: 500;
}
.about-text p{
    font-size: 15px;
    line-height: 26px;
    padding: 15px 0;
}
.our-mission-in {
    padding:60px 0;
    background: #f7f7f7;
    margin-bottom: 0px;
}
.about-info {
    text-align: center;
    padding: 40px;
    height: 100%;
    position: relative;
    border-radius: 5px;
    background-color: transparent;
 -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.33);
}
.about-info svg{
    fill:#fff;
   margin-top: 13px;
    width: 50px;
    text-align: center;
}

.about-info h4 {
    font-size: 28px;
    color: #1c1c1c;
    padding-bottom: 0;
    font-weight: 600;
    letter-spacing: 0;
    padding: 20px 0;
    text-transform: capitalize;
}

.about-info p {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    line-height: 26px;
}
.vi-mi-icon{
    background: #146194;
    border-radius: 50%;
    height: 76px;
    width: 76px;
    text-align: center;
    margin: 0 auto;
}
.flex-box{display: flex;}



/*=================================Contact==============================================*/

.contact-form h3{
    font-size: 50px;
    color: #1c1c1c;
    font-weight: 600;
    border-left: 5px solid #146194;
    padding-left: 5px;
}

.contact-form p{
    font-size:16px;
    color: #1c1c1c;
    font-weight: 400;
    padding: 20px 0;
}

.contact-form .form-control{
    border: none;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: none;
    border-radius: 0;
    font-size: 15px;
    margin: 20px 0;
}

.contact-form .form-control:hover, .contact-form .form-control:focus{
    border-color: #146194;
}

.contact-form button{
    background: #146194;
    border: none;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding: 10px 35px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 15px;
}
.contact-form button:hover{
    background: #1c1c1c;
}

.contact-in{
    background: #146194;
    padding: 40px;
}
.get-touch{
    margin-bottom: 20px;
}
.get-touch h3{
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    border-left: 5px solid #a1c0d4;
    margin-bottom: 10px;
    padding-left: 5px;
    color:#ffffff;
}

.get-touch p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #f1f1f1;
}
.get-touch a{
    color: #f1f1f1;
}
.get-touch a:hover{
    color: #a1c0d4;
}

.contact-in ul li{
    display: inline-block;
}
.contact-in ul li a{
    color: #a1c0d4;
    font-size: 24px;
    padding-right: 26px;
    display: block;
}
.contact-in ul li a:hover{color: #fff;}


.map{
    margin-bottom: 0px;
    overflow: hidden;
}





/*==========================Package-Page=======================*/

.packages-in{
    background: #f3f3f3;
    padding: 30px 0 60px 0;
}

.packages-in .item{
    margin-top: 90px; 
    width: 100%;
}


/*===================Package-Detail=========================================*/


.package-detail-inner{
    padding: 60px 0 60px 0;
    overflow: hidden;
    }
.package-name{
    border-bottom: 1px solid #dedede;   
    }
.package-name h2{
    text-align: left;
    font-size: 35px;
    text-transform: uppercase;
    color: #146194;
    }
.package-name p{
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 600;
    }
.package-name p span{
    color: #146194;
    font-size: 20px;
    font-weight: 600;
    }
.package-days{
    border-bottom: 1px solid #dedede; 
    padding: 10px 0;
    overflow: hidden;
    margin-bottom: 30px;
    }
.package-days .day-night p{
    font-weight: 400;
    padding: 0;
    display: inline-block;
    }
.package-days .day-night{
    font-size: 16px;
    color: #181818;
    font-weight: 600;
    vertical-align: middle;
    float: left;
    padding: 0;
    border: none;
    }
.day-night p::after {
    content: "|";
    color: #1c1c1c;
    padding: 0 5px;
}
.day-night p:last-child::after{content: " ";}
.package-days .day-night i{
    color: #181818;
    font-size: 16px;
    padding-right: 10px;
    vertical-align: middle;
    }
.package-media{
    float: right;
    }
.package-media ul li{
    display: inline-block;
    padding-left: 6px;
    }
.package-media ul li a{
    height: 27px;
    width: 27px;
    font-size: 14px;
    color: #fff;
    background: #146194;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    border: 1px solid #146194;
    }
.package-media ul li a:hover{
    border: 1px solid #146194;
    background-color: transparent;
    color: #146194;
    }
.detail-form{
    background: #146194;
    padding:15px 20px 35px 20px;
    overflow: hidden;
    }
.detail-form h3{
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 20px 0;
    margin: 0px 20px 20px 20px ;
    }
.detail-form input[type="text"], .detail-form input[type="email"], .detail-form input[type="tel"], .detail-form input[type="number"], .detail-form select, .detail-form textarea{margin-top: 0;}
.detail-form .search-section .form-control{
    background: #fff;
    border: 1px solid #fff;
    color: #1c1c1c !important;
    }
.detail-form .search-section .form-control:focus, .detail-form .search-section textarea:focus{
    background: rgba(255,255,255,1);
    }
.detail-form placeholder{color: #fff;}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background: #f4f4f1;
    color: #222931 !important;
    border: 1px solid #f4f4f1;
    padding-top: 8px;
    }
.detail-form .input-group-addon{
    position: absolute;
    z-index: 999;
    right: 31px;
    top: 21px;
    color: #1c1c1c;
    font-size: 16px;
    border: none;
    padding: 0;
    background-color: transparent;
    }
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered:focus{background: rgba(255,255,255,0.4);}
.detail-form .select2-container--default .select2-selection--single .select2-selection__arrow{
    color: #fff;
    top: 14px;
    right: 6px;
    line-height: 25px;
    }
.detail-form .select2-container--default .select2-selection--single{
    border-color: #f4f4f1;
    background: #f4f4f1;
    height: 50px!important;
    }
.detail-form .search-section .form-control{
    height: 50px;
    }
.detail-form ::placeholder {
  color: #222931 !important;
    }
.detail-form textarea{
    background: #fff;
    border-color: #fff;
    border-radius: 0px;
    }
.detail-form .search-section .search-col-padding{
    padding:5px;
    background-color: transparent;
    }
.detail-form .search-button{
    background: #fff;
    color: #1c1c1c;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #fff;
    box-shadow: none;
    padding:5px 70px;
    height: 50px !important;
    border-radius: 30px;
    }
.detail-form .search-button:hover{
    background-color: #1c1c1c;
    color: #fff;
    border-color: #fff;
    }
.desc-detail{
    padding-top: 60px;
    overflow: hidden;
    }
.desc-detail .tab-pane h4{
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 0;
    font-weight: 600;
    }
.desc-detail .tab-pane p{
    font-size: 16px;
    color: #898680;
    font-weight: 300;
    line-height: 28px;
    }

.desc-detail .table {
	border-top: 1px solid #ddd;
	margin-top: 15px;
	float: left;
	margin-bottom: 0;
}
.desc-detail table {
	width: 100%;
}
.desc-detail .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 0;
	line-height: 1.42857143;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
	border-top: none;
    font-weight: 600;
}
.desc-detail .table{margin-bottom: 30px;}
.desc-detail .table span {
	color: #212121;
	font-weight: 300;
	float: left;
	text-align: left;
	font-size: 14px;
}
.desc-detail .table span i {
	font-size: 14px;
	padding-right: 5px;
    font-weight: 300;
}
.desc-detail .fist-td {
	width: 30%;
}
.desc-detail .second-td {
	width: 50%;
}
.desc-detail .nav-tabs{
    text-align:left;
    position: absolute;
    top: -25px;
    border-bottom: none;
    }
.desc-detail .nav > li{width: auto;}
.desc-detail .nav > li > a{
    padding: 10px 20px;
    background: #1c1c1c!important;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    }
.desc-detail .nav-tabs > li.active > a, .desc-detail .nav-tabs > li.active > a:focus, .desc-detail .nav-tabs > li.active > a:hover{
    background: #146194!important;
    color: #fff;
    }
.desc-detail .search-section .tab-content{
    display: inline-block;
    width: 100%;
    border: 1px solid #ebebeb;
    padding:45px 25px;
    }

.comment-div .user{
    float: left;
    padding-left: 0;
    text-align: left;
    width: 10%;
    }
.comment-div .user img{border-radius: 50%;}
.comment-div .comment-block{
    float: left;
    width: 88%;
    }
.comment-div .comment-block .heading{
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 700;
    text-transform: inherit;
    width: 100%;
}
.comment-div .comment-block .heading span{
    color: #808080;
    font-weight: 500;
    }
.desc-detail .rating {
    display: inline-block;
    padding: 10px 0 0;
}
.desc-detail .rating li{display: inline-block;}
.desc-detail .rating li i{color: #146194;}
.comment-block p{
    color: #333;
    float: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    width: 100%;
}
.review-form h4{
    color: #333333;
float: left;
font-family: "Roboto", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 28px;
margin-bottom: 20px;
text-align: left;
text-transform: uppercase;
width: 100%;
    }
.review-form p {
    color: #444444;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    display: inline-block;
    padding-bottom: 15px;
}
.review-form .add-rws {
    width: 100%;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-bottom: 20px;
    }

.review-form-field input[type="text"], .review-form-field input[type="email"]{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius:0px;
    }
.review-form-field input[type="text"]:focus, .review-form-field input[type="email"]:focus{
    border-color: #b8b8b8;
    }
.review-form-field input[type="submit"]{
    padding: 13px 50px;
    background: #146194;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    }
.review-form-field input[type="submit"]:hover{
    background: #333333;
    color: #fff!important;
    }

.detail-form .calendar {
	background: #ffffff;
	overflow: hidden;
	margin: 0 !important;
	padding: 8px 0 8px 8px !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #1c1c1c!important;
	height: 50px;
	border: none !important;
	border-right: 1px solid #146194 !important;
}

.detail-form .calendar ::placeholder {
	color: #1c1c1c!important;
}

.detail-form .ui-datepicker {
	background: #fff;
	box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    z-index: 99!important;
}

.detail-form .ui-datepicker-header {
	height: 50px;
	line-height: 50px;
	color: #fff;
	background: #146194;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.04em;
}

.detail-form .ui-datepicker-prev,
.detail-form .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #fff;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
}

.detail-form .ui-datepicker-prev {
	float: left;
	margin-left: 12px;
}

.detail-form .ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
}

.detail-form .ui-datepicker-next {
	float: right;
	margin-right: 12px;
}

.detail-form .ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
}

.detail-form .ui-datepicker-prev:after,
.detail-form .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.detail-form .ui-datepicker-prev:hover,
.detail-form .ui-datepicker-next:hover,
.detail-form .ui-datepicker-prev:hover:after,
.detail-form .ui-datepicker-next:hover:after {
	border-color: #000;
}

.detail-form .ui-datepicker-title {
	text-align: center;
}

.detail-form .ui-datepicker-calendar {
	width: 100%;
	text-align: center;
}

.detail-form .ui-datepicker-calendar thead tr th span {
	display: block;
	width: 40px;
	color: #146194;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
    font-weight: 600;
}

.detail-form .ui-state-default {
	display: block;
	text-decoration: none;
	color: #146194;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
}

.detail-form .ui-state-default:hover {
	background: #146194;
	color: #fff;
}

.detail-form .ui-state-highlight {
	color: #fff;
	background: #146194;
}

.detail-form .ui-state-active {
	background: #1C1C1C none repeat scroll 0 0;
	border-radius: 0;
	color: #fff;
}

.detail-form .ui-datepicker-unselectable .ui-state-default {
	color: #afc2d8;
	border: 2px solid transparent;
}

.detail-form .ui-datepicker-trigger {
	background-color: transparent;
	border: medium none;
	color: #1c1c1c;
	font-size: 22px;
	padding: 0;
	position: absolute;
	left: 10px;
	bottom: 20px;
}
.detail-form .search-col-padding .myselect{height: 50px;}
.detail-form .select2-container--default .select2-selection--single{
    border-radius: 0!important;
    background: #fff!important;
}
.detail-form .select2-container--default .select2-selection--single .select2-selection__rendered{
    background:#fff;
    border: none;
}
.detail-form .select2-selection__arrow i{
    color: #1c1c1c;
    padding: 0;
}
.package-img{width: 100%;}



.h-package-in .item{
    margin: 0 0 30px 0;
}
.inner-pagination {
    text-align: center;
    clear: both;
}
.inner-pagination .pagination {
    margin: 0;
}
.pagination > li {
    display: inline-block;
}
.inner-pagination .pagination > li > a, .inner-pagination .pagination > li > span {
    margin: 0 5px;
    background: #fff;
    color: #222931;
    font-weight: 700;
    height: 40px;
    width: 40px;
    line-height: 27px;
    font-size: 18px;
    border: 1px solid #222931;
}
.inner-pagination .pagination .next-pre a {
    background: #146194;
    color: #fff;
    border-radius: 0;
    font-size: 18px;
    font-weight: 700;
    border-color: #146194;
}
.inner-pagination .pagination > li > a:hover, .inner-pagination .pagination .active a {
    background: #1c1c1c;
    color: #fff;
    border-color: #1c1c1c;
}


.privacy-content{
    padding: 60px 0;
}

.privacy-content h4{
    color: #146194;
    letter-spacing: 0;
    text-transform: capitalize;
    font-size: 22px;
    padding: 10px 0;
    line-height: 28px;
}
.privacy-content p{
    font-size: 15px;
    color: #1c1c1c;
    line-height: 25px;
}

.multicity {
    width: 100%;
    float: left;
    position: absolute;
    z-index: 999;
    top: 38px;
    background: #146194;
    padding: 17px 11px;
    display: none;
}
.multi_shadow {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.63);
    z-index: 9;
}

.flightSearch {
    color: #146194;
    font-size: 20px;
    padding: 9px 11px;
    background: #ffff;
    float: right;
    border: none;
    font-weight: 600;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
	margin-top: 6px;
	vertical-align: middle;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	border-radius: 0;
}
.multiSection{
    width: 100%;
    float: left;
    position: relative;
}
.multiSection label{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #FFF;
    font-weight: 300;
    width: 100%;
    float: left;
    margin-bottom: 5px;
}
.multiSection i.close {
    position: absolute;
    right: 1px;
    top: 0px;
    color: #FFF;
    font-size: 20px;
    opacity: 1;
}
.add_flight {
    float: right;
    padding: 3px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-top: 14px;
    cursor: pointer;
}
.add_flight i {
    font-size: 21px;
    margin-left: 6px;
    float: right;
}

.travellerSec {
    width: 100%;
	height: 81px;
    float: left;
    background: #FFF;    
    position: relative;
}
.travellerSecM {
    width: 100%;
	height: 71px;
    float: left;
    background: #FFF;    
    position: relative;
}
.travellercout {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222222;
    font-weight: 400;
    line-height: 77px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding: 0 30px 0 10px;
    z-index: 9;
    position: relative;
}
.travellerOptions {
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 76px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.06);
    display: none;
}
.travellerOptions5 {
    width: 260px;
    float: left;
    position: absolute;
    left: 0;
    top: 76px;
    background: #FFF;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    z-index: 99;
    border: 1px solid rgba(0, 0, 0, 0.06);
}
.passenger_area {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0003;
    padding-bottom: 4px;
}
.passenger_area p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #272727;
    float: left;
    padding: 0;
    font-weight: 300;
}
.pass_click {
    width: auto;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #646060;
}
.pass_click a {
    float: left;
}
.pass_click a i {
    font-size: 20px;
    color: #146194;
    cursor: pointer;
}
.pass_click span {
    width: 21px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #000;
    text-align: center;
    font-weight: 300;
}
.classtype_area {
    width: 100%;
    float: left;
    padding-top: 5px;
}
.classsec_area {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.classsec_area label {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #272727 !important;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 300;
}
.travellerSec::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 10px;
    top: 24px;
    font-size: 22px;
    color: #9ca6b0;
    z-index: 1;
}
.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"] {
    position: absolute;
    width: 19px;
    height: 19px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    cursor: pointer;
}

.classsec_area input[type="radio"]+label:before {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    background: #d8d8d8;
    content: " ";
    vertical-align: top;
    cursor: pointer;
    margin-top: -1px;
    border-radius: 50%;
    border: 1px solid #afafaf;
}

.classsec_area input[type="radio"]:checked+label:before {
    background: #146194;
}

.classsec_area input[type="radio"]+label:before {
    background: #d8d8d8;
}
.closeDropdown {
	float: right;
	padding-top:10px;
}
.closeDropdown .closeLink {
    padding: 7px 12px;
    background:#146194;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
}
.searchButton {
    width: 100%;
    float: left;
}
.searchButton button {
    width: 189px;
    height: 74px;
    margin: auto;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 600;
    display: block;
    line-height: 41px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-transform: uppercase;
    background: #febf10;
}
.padding0{
    padding-left: 0px;
    padding-right: 0px;
}
.padding1{
    padding-left: 1px;
    padding-right: 0px;
}
.search-form .tab {
    position: relative;
}

.autocomplete-results {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd0d0;
    max-height: 223px;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 0;
    position: absolute;
    z-index: 99999;
    top: 75px;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.autocomplete ul.autocomplete-results li:hover {
    color: #ffffff;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 7px 10px;
    cursor: pointer;
    border-bottom: 1px dashed #c5c5c5;
    color: #b1bdff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.autocomplete-results li:last-child {
    border-bottom: none;
}

.autocomplete-result-active {
    background-color: var(--primary-color) !important;
    color: #FFF !important;
}

.autocomplete-result:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.autocomplete-results::-webkit-scrollbar {
    width: 5px;
}

.autocomplete-results::-webkit-scrollbar-track {
    background: #e6e6e6;
}

.autocomplete-results::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    outline: 1px solid slategrey;
}


/* Currency Dropdown */
/* 
.dropdown {
    float: right;
}

.btn {
    font-size: 13px;
    background: #FFF;
}

.optionlist {
    width: 150px;
    height: 25px;
    background-color: #d49090;
}

.dropdown a {
    background: #FFF;
    padding: 5px 10px 5px 10px;
    position: relative;
    text-decoration: none;
    float: left;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: left;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
}

.dropdown a svg {
    margin-top: 5px;
    float: right;
    margin-left: 5px;
}

.dropdown-menu a svg {
    display: none;
}

.dropdown a::after {
    right: 8px;
    color: #3a3a3a;
    font-size: 12px;
    font-family: FontAwesome;
    top: 6px;
    position: absolute;
}

.dropdown a span {
    margin-right: 3px;
}

.dropdown-menu a::after {
    display: none;
}

.dropdown-menu {
   border-radius: 0px;
    padding: 5px 4px;
	
}

.dropdown-menu a {
    padding: 5px;
    width: 100%;
    float: left;
    font-size: 13px;
    border-bottom: 1px solid #dadada;
    border-radius: 0px;
    text-decoration: none;
    margin-bottom: 4px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dropdown-menu a:hover {
    color: #000;
    border: 1px solid #3a7fc1 !important;
    background: #f1f1f1;
}

.dropdown-menu a:last-child {
    margin-bottom: 0px;
} */


/* Hotel Search */
.centering{
justify-content: center;
display: flex;
padding-top: 10px;
}
#hotel{
	padding-top: 35px;
}



.kmsliderSec {
    background: #FFF !important;
    padding: 0px 10px;
    height: 81px;
    text-align: center;
}
.within_sec {
    font-size: 12px !important;
    font-weight: 300 !important;
    font-family: 'Poppins', sans-serif;
	padding: 11px 0px;
}
.noUi-handle {
    border: 2px solid #3d489e;
    background: #3d489e;
}
.kmsliderSec label {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
	padding-top: 5px;
	color: black;
}




/* Hotel Rooms */


.hotlsSec {
    width: 100%;
    float: left;
    background: #2f6194e3;
    margin-top: 5px;
    border-radius: 4px;
}
.hotlsSec .form_sec {
    width: 100%;
    float: left;
    position: relative;
    background: #FFF;
    margin: 5px 0px;
}
.hotlsSec .form_sec .form-control {
    height: 45px;
    background: none;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 9;
}
.hotlsSec .en_dwn_htl::after {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    right: 6px;
    top: 7px;
    font-size: 22px;
    color: #9ca6b0;
}
.hotlsSec .rooms {
    font-size: 15px;
    color: #FFF;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 54px;
}
.bor{
	border-right: 1px solid #146194;
}



/* Hotel Dropdown */

#classType{
    padding: 7px 10px;
    margin: 0;
    font-size: 13px;
}


/* Package Detail Page */

#searchTab li a span{
	padding-left: 18px;
}
@media (max-width: 500px){
    #searchTab li a span{
        padding-left: 2px;
    }
}