﻿#flt-detail {
	padding: 60px 0 30px
}
.flt-top {
	width: 100%;
	background: #fff;
	display: inline-block;
	border: 1px solid #ddd;
	margin: 40px 0 14px;
}
.flt-top img {
	width: 165px;
	height: 142px;
	float: left;
}
.flt-top .flt-dtl {
	width: 65%;
	float: left;
	display: inline-block;
	padding: 15px 15px 15px 30px;
}
.flt-top .flt-dtl h3 {
	width: 100%;
	float: left;
	color: #333;
	text-transform: none;
	font-weight: 700;
	font-size: 20px;
}
.flt-top .flt-dtl .stars {
	position: relative;
	display: block;
	font-size: 16px;
	float: left;
	margin-top: 15px;
}
.flt-top .flt-dtl .stars span {
	font-size: 15px;
	overflow: hidden;
	color: #444;
	font-weight: 400;
	margin-left: 82px;
	background: #ddd;
	padding: 3px 6px;
}
.flt-top .flt-dtl .stars.stars5::after {
	content: "\f005\f005\f005\f005\f005";
}
.flt-top .flt-dtl .stars::after {
	top: 2px;
	position: absolute;
	left: 0;
	font-family: FontAwesome;
	color: #ffbe00;
	float: left;
	letter-spacing: 3px;
	content: "";
	text-indent: 0;
	font-size: 14px;
}
.flt-top .flt-dtl .address {
	font-size: 13px;
	color: #6d6d6d;
	font-weight: 400;
	text-transform: none;
	padding-top: 15px;
	float: left;
	clear: both;
	line-height: 18px;
}
.flt-top .flt-dtl .address i {
	font-size: 16px;
	color: #999;
	float: left;
	padding: 3px 8px 0 0;
}
.flt-top .flt-dtl2 {
	width: 20%;
	float: right;
	display: inline-block;
	padding: 15px 20px 15px 0;
	text-align: right;
}
.flt-top .flt-dtl2 .price {
	font-weight: 500;
	font-size: 25px;
	color: #000;
	padding: 10px 0 0;
}
.flt-top .flt-dtl2 .price span {
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
}
.flt-top .flt-dtl2 .onofnights {
	font-weight: 500;
	font-size: 12px;
	color: #737373;
	padding: 0;
	text-transform: none;
}
.flt-top .flt-dtl2 .select-room {
	font-size: 12px;
	color: #3a7fc1;
	text-transform: none;
	padding: 4px 20px;
	display: block;
	text-decoration: none;
	font-weight: 500;
	text-align: center;
	float: right;
	border: 1px solid #3a7fc1;
	margin: 10px 0 0;
}
.flt-top .flt-dtl2 .select-room:hover {
	color: #fff;
	background: #3a7fc1;
}
.flt-top .flt-dtl2 .select-room:hover::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}