<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tarco Aviation</title>
<link rel="shortcut icon" href="images/favicon.png" type="image/ico">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/ltr-style.css" id="styleid">
<link rel="stylesheet" type="text/css" href="css/ltr-media.css" id="mediaid">
<link rel="stylesheet" type="text/css" href="css/font-face.css">
<link rel="stylesheet" type="text/css" href="css/select2.min.css">
<link rel="stylesheet" type="text/css" href="css/wan-spinner.css">
<link rel="stylesheet" href="/assets/css/select2.min.css">
<link href="/assets/pluggins/font-awesome-4-7-0/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/pluggins/alertifyJs/alertify.min.css?v=201908070000" rel="stylesheet" />
<link href="css/customstyle.css" rel="stylesheet">
<style>
  [v-cloak] {
     display: none !important;
  }
</style>
</head>
<body>
  <header>
    <headeritem> </headeritem>
 </header>
 <div id="home" v-cloak>
<section class="p-0">
      <!-- Carousel -->
      <div class="container-fluid">
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide carousel-fade carousel-animate carousel-bg" data-ride="carousel">
            	<!-- Indicators -->
            	<ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" :data-slide-to="index" :class="index==0?'active':''" v-for="(items,index)  in mainData.Banner_Carousel__List" :key="index"></li>
                    <!-- <li data-target="#carousel-example-generic" :data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" v-if="isShow==true">
                    <div class="item" v-for="(items,index) in mainData.Banner_Carousel__List":key="index" :class="{ 'active': parseInt(index) == 0 }" :style="'background-image:url('+items.Carousel_Image_1920x406px+')'">
                        <div class="carousel-caption">
                            <div class="hero">
                                    <h1>{{items.Heading1}}<br/>{{items.Heading2}}</h1>
                            </div>  
                        </div>
                    </div>
                    </div>
                <!-- Controls -->
                <a class="left carousel-control hidden-xs" href="#carousel-example-generic" data-slide="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a> <a class="right carousel-control hidden-xs" href="#carousel-example-generic" data-slide="next"> <i class="fa fa-angle-right" aria-hidden="true"></i> </a> </div>
            </div>
        </div>
    <!-- </div> -->
      <!-- /carousel --> 
</section>
<section class="booking-form">
    <div class="container">
          <div class="row">
            <div class="search-section">
              <div class="tabbable boxed parentTabs">
                <ul class="nav-tabs">
                  <li class="active"><a href="#booking" data-toggle="tab"><span class="service-icon"><svg x="0px" y="0px" width="25.522px" height="45px" viewBox="0 0 25.522 45" enable-background="new 0 0 25.522 45" xml:space="preserve">
<g>
	<path d="M24.807,10.572c-0.966-0.966-2.537-0.95-3.483,0.036l-5.181,5.398L3.502,11.822l-2.653,2.654l10.536,6.488
		L6.054,26.52l-3.419-0.562l-2.398,2.397l5.026,1.761l1.761,5.026l2.398-2.397l-0.562-3.419l5.556-5.332l6.488,10.535l2.652-2.652
		l-4.183-12.64l5.397-5.18C25.757,13.111,25.774,11.539,24.807,10.572"/>
</g>
</svg></span> {{mainData.Booking_Label}}</a></li>
                  <li><a href="https://preprod4.ttinteractive.com/Zenith/FrontOffice/tarcoair/en-GB/Home/FindBooking"><span class="service-icon"><svg x="0px" y="0px" width="48px" height="45px" viewBox="0 0 48 45" enable-background="new 0 0 48 45" xml:space="preserve">
                  <!--<li><a href="#manage-booking" data-toggle="tab"><span class="service-icon"><svg x="0px" y="0px" width="48px" height="45px" viewBox="0 0 48 45" enable-background="new 0 0 48 45" xml:space="preserve">-->
<g>
	<path d="M47.994,15.935c-0.037,0.227-0.074,0.454-0.119,0.721c-0.463,0-0.941-0.019-1.418,0.012
		c-0.145,0.009-0.352,0.125-0.406,0.248c-0.217,0.479-0.385,0.981-0.586,1.517c0.4,0.363,0.826,0.748,1.291,1.17
		c-0.631,0.711-1.248,1.403-1.881,2.116c-0.459-0.403-0.893-0.782-1.313-1.152c-0.508,0.266-1.012,0.509-1.492,0.794
		c-0.102,0.061-0.172,0.275-0.162,0.411c0.041,0.463,0.123,0.923,0.197,1.433c-0.93,0.14-1.834,0.275-2.797,0.418
		c-0.074-0.469-0.158-0.921-0.207-1.377c-0.031-0.266-0.094-0.407-0.406-0.444c-0.508-0.059-1.004-0.198-1.539-0.311
		c-0.293,0.466-0.596,0.952-0.934,1.489c-0.799-0.491-1.586-0.976-2.41-1.483c0.262-0.432,0.5-0.848,0.766-1.247
		c0.141-0.209,0.123-0.348-0.055-0.523c-0.209-0.208-0.396-0.44-0.57-0.68c-0.408-0.572-0.402-0.577-1.092-0.345
		c-0.295,0.098-0.59,0.195-0.887,0.29c-0.025,0.008-0.059-0.006-0.131-0.015c-0.281-0.851-0.566-1.719-0.867-2.634
		c0.48-0.166,0.939-0.303,1.377-0.49c0.127-0.054,0.26-0.241,0.277-0.381c0.055-0.431,0.074-0.87,0.061-1.305
		c-0.004-0.139-0.123-0.34-0.244-0.399c-0.428-0.212-0.883-0.375-1.377-0.577c0.348-0.879,0.684-1.726,1.037-2.624
		c0.453,0.173,0.891,0.32,1.309,0.509c0.256,0.116,0.412,0.09,0.592-0.142c0.303-0.393,0.646-0.755,1.014-1.175
		c-0.256-0.485-0.529-1.002-0.816-1.547c0.83-0.447,1.637-0.881,2.486-1.339c0.297,0.534,0.58,1.043,0.857,1.538
		c0.627-0.098,1.225-0.19,1.891-0.293c0.113-0.507,0.234-1.06,0.373-1.693c0.914,0.185,1.818,0.367,2.768,0.559
		c-0.092,0.459-0.156,0.887-0.266,1.303c-0.082,0.316-0.047,0.505,0.287,0.663c0.432,0.207,0.826,0.495,1.273,0.77
		c0.428-0.332,0.883-0.686,1.385-1.076c0.578,0.731,1.152,1.458,1.756,2.219c-0.389,0.31-0.738,0.618-1.117,0.883
		c-0.244,0.17-0.275,0.334-0.146,0.582c0.094,0.178,0.17,0.369,0.232,0.56c0.291,0.88,0.289,0.879,1.217,0.924
		c0.266,0.012,0.527,0.041,0.793,0.062V15.935z M43.041,15.041c0.006-1.99-1.563-3.601-3.516-3.606
		c-2.008-0.006-3.619,1.572-3.623,3.55c-0.006,2.019,1.553,3.586,3.57,3.591C41.471,18.582,43.035,17.031,43.041,15.041"/>
	<path d="M7.736,28.296c0.369-1.021,0.718-1.983,1.05-2.901c-0.883-0.744-1.738-1.465-2.628-2.216
		c-0.839,0.481-1.729,0.993-2.682,1.541c-0.417-0.722-0.826-1.431-1.235-2.141c-0.413-0.714-0.826-1.428-1.272-2.199
		c0.756-0.437,1.48-0.885,2.232-1.278c0.397-0.207,0.492-0.405,0.371-0.863c-0.235-0.884-0.359-1.798-0.547-2.79
		c-0.931-0.17-1.948-0.356-3.019-0.552c0.29-1.646,0.575-3.262,0.868-4.927c0.955,0.166,1.869,0.334,2.788,0.472
		c0.134,0.02,0.361-0.068,0.424-0.176c0.512-0.887,0.997-1.791,1.532-2.767C5.015,6.777,4.349,5.98,3.656,5.15
		C4.938,4.074,6.2,3.016,7.493,1.931c0.682,0.81,1.344,1.594,2.009,2.382c0.674-0.267,1.335-0.53,1.996-0.79
		c0.115-0.045,0.234-0.084,0.353-0.118c0.861-0.251,0.861-0.25,0.861-1.162V0.041h5.001V3.1c1.091,0.398,2.138,0.78,3.257,1.187
		c0.621-0.734,1.291-1.527,1.991-2.355c1.282,1.075,2.542,2.133,3.835,3.218c-0.689,0.824-1.348,1.612-1.98,2.369
		c0.574,0.99,1.135,1.957,1.725,2.974c0.955-0.163,1.977-0.338,3.037-0.521c0.291,1.647,0.574,3.253,0.869,4.919
		c-0.676,0.127-1.344,0.262-2.014,0.374c-1.033,0.174-1.014,0.17-1.174,1.182c-0.105,0.675-0.266,1.342-0.426,2.006
		c-0.061,0.248-0.035,0.387,0.211,0.522c0.803,0.442,1.592,0.915,2.436,1.405c-0.834,1.446-1.654,2.87-2.504,4.34
		c-0.926-0.532-1.824-1.051-2.653-1.528c-0.849,0.682-1.669,1.324-2.468,1.994c-0.095,0.08-0.135,0.324-0.091,0.455
		c0.294,0.869,0.617,1.729,0.953,2.651c-1.557,0.567-3.1,1.132-4.704,1.717c-0.251-0.676-0.499-1.339-0.741-2.005
		c-0.345-0.945-0.342-0.918-1.336-0.871c-0.651,0.031-1.309-0.011-1.962-0.057c-0.328-0.024-0.496,0.047-0.606,0.387
		c-0.276,0.841-0.601,1.665-0.924,2.544C10.878,29.438,9.336,28.877,7.736,28.296 M8.86,15.055c0.024,3.53,2.873,6.354,6.391,6.336
		c3.556-0.018,6.356-2.864,6.328-6.431c-0.029-3.49-2.898-6.299-6.4-6.265C11.671,8.728,8.836,11.581,8.86,15.055"/>
	<path d="M33.711,23.178c0.1,0.678,0.197,1.291,0.273,1.908c0.029,0.233,0.123,0.346,0.363,0.39
		c0.596,0.11,1.182,0.266,1.779,0.364c0.135,0.021,0.355-0.082,0.436-0.197c0.361-0.521,0.688-1.068,1.045-1.631
		c0.479,0.3,0.926,0.578,1.373,0.857c0.541,0.338,1.08,0.68,1.662,1.047c-0.398,0.642-0.781,1.26-1.16,1.869
		c0.459,0.614,0.908,1.227,1.379,1.823c0.053,0.067,0.25,0.069,0.361,0.036c0.611-0.18,1.217-0.38,1.869-0.589
		c0.367,1.133,0.73,2.252,1.105,3.409c-0.627,0.207-1.211,0.414-1.805,0.592c-0.229,0.068-0.33,0.156-0.33,0.415
		c0,0.575-0.027,1.151-0.072,1.727c-0.023,0.289,0.043,0.449,0.34,0.554c0.57,0.199,1.123,0.449,1.725,0.695
		c-0.451,1.116-0.895,2.204-1.35,3.325c-0.553-0.222-1.09-0.394-1.586-0.647c-0.41-0.211-0.619-0.104-0.877,0.24
		c-0.365,0.482-0.801,0.91-1.238,1.395c0.326,0.617,0.664,1.263,1.035,1.967c-1.043,0.556-2.08,1.107-3.17,1.688
		c-0.295-0.558-0.596-1.097-0.869-1.649c-0.131-0.267-0.273-0.345-0.584-0.28c-0.652,0.137-1.316,0.214-2.02,0.321
		c-0.146,0.666-0.299,1.376-0.469,2.153c-1.164-0.248-2.311-0.49-3.508-0.744c0.154-0.744,0.301-1.453,0.447-2.164
		c-0.641-0.42-1.27-0.846-1.918-1.238c-0.082-0.049-0.289,0.04-0.396,0.119c-0.5,0.369-0.984,0.759-1.508,1.165
		c-0.734-0.94-1.453-1.858-2.208-2.824c0.597-0.472,1.178-0.931,1.729-1.366c-0.219-0.734-0.414-1.436-0.649-2.123
		c-0.038-0.111-0.253-0.222-0.39-0.227c-0.62-0.024-1.241-0.01-1.829-0.01v-3.625h2.264c0.282-0.66,0.579-1.323,0.84-2
		c0.039-0.107-0.043-0.318-0.139-0.41c-0.445-0.434-0.917-0.844-1.426-1.305c0.797-0.889,1.584-1.763,2.401-2.67
		c0.5,0.447,0.967,0.879,1.453,1.285c0.104,0.084,0.322,0.145,0.426,0.092c0.646-0.33,1.277-0.695,1.932-1.058
		c-0.09-0.7-0.186-1.423-0.287-2.187C31.359,23.504,32.51,23.344,33.711,23.178 M33.471,38.616c2.453-0.007,4.502-2.083,4.5-4.562
		s-2.082-4.539-4.58-4.535c-2.48,0.004-4.523,2.08-4.518,4.593C28.879,36.594,30.951,38.623,33.471,38.616"/>
</g>
</svg></span> {{mainData.Manage_Booking}}</a> </li>
                  <li><a href="https://preprod4.ttinteractive.com/Zenith/FrontOffice/tarcoair/en-GB/Home/FindBooking?findbookingmode=WebCheckin"><span class="service-icon"><svg x="0px" y="0px" width="29.993px" height="45px" viewBox="0 0 29.993 45" enable-background="new 0 0 29.993 45" xml:space="preserve">
                  <!--<li><a href="#check-in" data-toggle="tab"><span class="service-icon"><svg x="0px" y="0px" width="29.993px" height="45px" viewBox="0 0 29.993 45" enable-background="new 0 0 29.993 45" xml:space="preserve">-->
<path d="M25.517,11.98c-5.811-5.81-15.221-5.81-21.041,0c-5.81,5.81-5.81,15.231,0,21.041
	c5.82,5.81,15.24,5.81,21.041,0C31.326,27.211,31.326,17.79,25.517,11.98 M15.826,27.47l-3.52,3.521l-3.53-3.521l-4.54-4.54
	l3.521-3.53l4.55,4.551l9.939-9.941l3.531,3.52L15.826,27.47z"/>
</svg></span> {{mainData.Check_In_Label}}</a> </li>	
                </ul>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="booking">
                      <div class="tabbable">
                        <ul class="nav-tabs nav-tabs2">
                          <li class="active"><a href="#round-trip" data-toggle="tab" v-on:click="setTripType('R')">{{mainData.Roundtrip_Label}}</a> </li>
                          <li><a href="#one-way" data-toggle="tab" v-on:click="setTripType('O')">{{mainData.Oneway_Label}}</a> </li>
                          <li><a href="#multi-city" data-toggle="tab" v-on:click="setTripType('M')">{{mainData.Multicity_Label}}</a> </li>
                        </ul>
                        <div class="tab-content">
                          <div class="tab-pane fade active in" id="round-trip">
                            <form>
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch id="Cityfrom1" :return-value="returnValue"
                                    :place-holder-text="mainData.Departure_Airport_Label"
                                    @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#" v-on:click.prevent="swapLocations(1)"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch id="Cityto1" :return-value="returnValue"
                                  :place-holder-text="mainData.Arrival_Airport_Label" @air-search-completed="Arrivalfrom"
                                  :leg="0"></flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="from1" :placeholder="mainData.Departing_Label" class="calendar form-control textbox" type="text" />
                                    <span class="line">-</span>
                                    <input id="retDate" :placeholder="mainData.Returning_Label" class="calendar form-control textbox" type="text" />
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                  <div class="travellersDropdown flt">
                                    <div class="custom-select-v3 lg">
                                      <input class="form-control" placeholder="Passenger" readonly autocomplete="off" id="_totStr" :value="Totaltravaller" type="button">
                                    </div>
                                    <div class="travelerSelectWindow active" style="display: none;">
                                      <div id="travelRoundtrip">
                                        <div class="travelDropdown">
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Adults_Label}}</label>
                                              <span class="ageRange">{{mainData.Adult_Age}}</span>
                                              <div class="trvFld">
                                              <div class="wan-spinner">
                                                <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('adt','minus')">-</a>
                                                <input type="text" :value="selected_adult">
                                                <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('adt','plus')">+</a>
                                              </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Children_Label}}</label>
                                              <span class="ageRange">{{mainData.Child_Age}}</span>
                                              <div class="trvFld">
                                              <div class="wan-spinner">
                                                <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('chd','minus')">-</a>
                                                <input type="text" :value="selected_child">
                                                <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('chd','plus')">+</a>
                                              </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Infant_Label}}</label>
                                              <span class="ageRange">{{mainData.Infant_Age}}</span>
                                              <div class="trvFld">
                                              <div class="wan-spinner">
                                                <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('inf','minus')">-</a>
                                                <input type="text" :value="selected_infant">
                                                <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('inf','plus')">+</a>
                                              </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                        </div>
                                      </div>
                                      <input id="dataObject" value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}" type="hidden">
                                      <div class="closeDropdown"> <span class="closeBtn closeLink">{{mainData.Confirm_Label}}</span> </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <select class="myselect" id="rcabindrp" v-model="selected_cabin">
                                  <option value="" selected="selected" disabled>{{mainData.Class_Label}}</option>
                                    <option :value="item.Code" v-for="item in mainData.Class_List">{{item.Class}}</option>
                                      </select>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <button class="search-button" v-on:click.prevent="SearchFlightRedirect">{{mainData.Find_Flight_Label}} <svg x="0px" y="0px" width="36.365px" height="45px" viewBox="0 0 36.365 45" enable-background="new 0 0 36.365 45" xml:space="preserve">
<path d="M0.463,22.933l4.98,2.057l-1.056,0.492c-0.298,0.15-0.43,0.504-0.298,0.811l1.436,3.082
	c0.069,0.152,0.199,0.271,0.354,0.327c0.153,0.065,0.329,0.065,0.482,0l10.916-5.118l0.137-1.453l0.192-1.943
	c0.021-0.258,0.251-0.448,0.508-0.424c0.167,0.014,0.313,0.118,0.382,0.273c0.04,0.072,0.06,0.156,0.052,0.239l-1.265,13.406
	c0.283,0.207,0.638,0.283,0.981,0.218c0.48-0.128,0.909-0.692,1.264-1.62l5.063-15.068l0.146-0.429
	c0.074-0.251,0.337-0.394,0.59-0.321c0.251,0.076,0.395,0.339,0.321,0.59c-0.006,0.012-0.009,0.024-0.013,0.034l-0.493,1.445
	l-0.557,1.657l8.548-4.004c2.47-1.154,3.738-3.49,2.887-5.311c-0.485-0.952-1.411-1.6-2.474-1.728
	c-1.18-0.177-2.386,0.009-3.457,0.533l-9.681,4.517l-10.391-4.057c-1.31-0.492-2.348-0.48-3.075,0.046
	c-0.609,0.5-0.956,1.253-0.942,2.044c0.006,0.197,0.108,0.385,0.271,0.498l7,4.796l-4.014,1.899l-6.728-1.683
	c-0.274-0.066-0.562,0.057-0.701,0.302l-1.67,3.001c-0.171,0.305-0.063,0.69,0.241,0.861C0.422,22.913,0.444,22.923,0.463,22.933"/>
</svg></button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="one-way">
                            <form>
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch id="Cityfrom1" :return-value="returnValue"
                                  :place-holder-text="mainData.Departure_Airport_Label"
                                  @air-search-completed="Departurefrom" :leg="0"></flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch id="Cityto1" :return-value="returnValue"
                                  :place-holder-text="mainData.Arrival_Airport_Label" @air-search-completed="Arrivalfrom"
                                  :leg="0"></flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="deptDate01" :placeholder="mainData.Departing_Label" class="calendar form-control textbox" type="text" />
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                  <div class="travellersDropdown flt">
                                    <div class="custom-select-v3 lg">
                                      <input class="form-control" placeholder="Passenger" readonly autocomplete="off" id="_totStr" :value="Totaltravaller" type="button">
                                    </div>
                                    <div class="travelerSelectWindow active" style="display: none;">
                                      <div id="travelRoundtrip">
                                        <div class="travelDropdown">
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Adults_Label}}</label>
                                              <span class="ageRange">{{mainData.Adult_Age}}</span>
                                              <div class="trvFld">
                                              <div class="wan-spinner">
                                                <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('adt','minus')">-</a>
                                                <input type="text" :value="selected_adult">
                                                <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('adt','plus')">+</a>
                                              </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Children_Label}}</label>
                                              <span class="ageRange">{{mainData.Child_Age}}</span>
                                              <div class="trvFld">
                                              <div class="wan-spinner">
                                                <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('chd','minus')">-</a>
                                                <input type="text" :value="selected_child">
                                                <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('chd','plus')">+</a>
                                              </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Infant_Label}}</label>
                                              <span class="ageRange">{{mainData.Infant_Age}}</span>
                                              <div class="trvFld">
                                              <div class="wan-spinner">
                                                <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('inf','minus')">-</a>
                                                <input type="text" :value="selected_infant">
                                                <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('inf','plus')">+</a>
                                              </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                        </div>
                                      </div>
                                      <input id="dataObject" value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}" type="hidden">
                                      <div class="closeDropdown"> <span class="closeBtn closeLink">{{mainData.Confirm_Label}}</span> </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <select class="myselect" v-model="selected_cabin" id="cabindrp">
                                  <option value="" selected="selected" disabled>{{mainData.Class_Label}}</option>
                                 <option :value="item.Code" v-for="item in mainData.Class_List">{{item.Class}}</option>
                                      </select>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <button class="search-button" v-on:click.prevent="SearchFlightRedirect">{{mainData.Find_Flight_Label}} <svg x="0px" y="0px" width="36.365px" height="45px" viewBox="0 0 36.365 45" enable-background="new 0 0 36.365 45" xml:space="preserve">
<path d="M0.463,22.933l4.98,2.057l-1.056,0.492c-0.298,0.15-0.43,0.504-0.298,0.811l1.436,3.082
	c0.069,0.152,0.199,0.271,0.354,0.327c0.153,0.065,0.329,0.065,0.482,0l10.916-5.118l0.137-1.453l0.192-1.943
	c0.021-0.258,0.251-0.448,0.508-0.424c0.167,0.014,0.313,0.118,0.382,0.273c0.04,0.072,0.06,0.156,0.052,0.239l-1.265,13.406
	c0.283,0.207,0.638,0.283,0.981,0.218c0.48-0.128,0.909-0.692,1.264-1.62l5.063-15.068l0.146-0.429
	c0.074-0.251,0.337-0.394,0.59-0.321c0.251,0.076,0.395,0.339,0.321,0.59c-0.006,0.012-0.009,0.024-0.013,0.034l-0.493,1.445
	l-0.557,1.657l8.548-4.004c2.47-1.154,3.738-3.49,2.887-5.311c-0.485-0.952-1.411-1.6-2.474-1.728
	c-1.18-0.177-2.386,0.009-3.457,0.533l-9.681,4.517l-10.391-4.057c-1.31-0.492-2.348-0.48-3.075,0.046
	c-0.609,0.5-0.956,1.253-0.942,2.044c0.006,0.197,0.108,0.385,0.271,0.498l7,4.796l-4.014,1.899l-6.728-1.683
	c-0.274-0.066-0.562,0.057-0.701,0.302l-1.67,3.001c-0.171,0.305-0.063,0.69,0.241,0.861C0.422,22.913,0.444,22.923,0.463,22.933"/>
</svg></button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="tab-pane fade" id="multi-city">
                            <form>
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityFrom1" id="DeparturefromLeg1"
                                  :return-value="returnValue" :place-holder-text="mainData.Departure_Airport_Label"
                                  @air-search-completed="Departurefrom" :leg="1">
                                </flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityTo1" id="ArrivalfromLeg1"
                                  :return-value="returnValue" :place-holder-text="mainData.Arrival_Airport_Label"
                                  @air-search-completed="Arrivalfrom" :leg="1"></flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="txtLeg1Date" :placeholder="mainData.Departing_Label" class="calendar form-control textbox" type="text" />
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding custom-traveller">
                                  <div class="travellersDropdown flt">
                                    <div class="custom-select-v3 lg">
                                      <input class="form-control" placeholder=" Passenger" readonly autocomplete="off" id="_totStr" :value="Totaltravaller" type="button">
                                    </div>
                                    <div class="travelerSelectWindow active" style="display: none;">
                                      <div id="travelRoundtrip">
                                        <div class="travelDropdown">
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Adults_Label}}</label>
                                              <span class="ageRange">{{mainData.Adult_Age}}</span>
                                              <div class="trvFld">
                                                <div class="wan-spinner">
                                                  <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('adt','minus')">-</a>
                                                  <input type="text" :value="selected_adult">
                                                  <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('adt','plus')">+</a>
                                                </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Children_Label}}</label>
                                              <span class="ageRange">{{mainData.Child_Age}}</span>
                                              <div class="trvFld">
                                                <div class="wan-spinner">
                                                  <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('chd','minus')">-</a>
                                                  <input type="text" :value="selected_child">
                                                  <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('chd','plus')">+</a>
                                                </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                          <div class="section-pass">
                                            <fieldset>
                                              <label>{{mainData.Infant_Label}}</label>
                                              <span class="ageRange">{{mainData.Infant_Age}}</span>
                                              <div class="trvFld">
                                                <div class="wan-spinner">
                                                  <a href="javascript:void(0)" class="minus" v-on:click="setpaxcount('inf','minus')">-</a>
                                                  <input type="text" :value="selected_infant">
                                                  <a href="javascript:void(0)" class="plus" v-on:click="setpaxcount('inf','plus')">+</a>
                                                </div>
                                              </div>
                                            </fieldset>
                                          </div>
                                        </div>
                                      </div>
                                      <input id="dataObject" value="{&quot;class&quot;:&quot;Economy&quot;,&quot;noOfadults&quot;:&quot;1&quot;,&quot;noOfChildren&quot;:&quot;0&quot;,&quot;noOfInfant&quot;:&quot;0&quot;}" type="hidden">
                                      <div class="closeDropdown"> <span class="closeBtn closeLink">{{mainData.Confirm_Label}}</span> </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <select class="myselect" v-model="selected_cabin" id="cabindrp">
                                    <option value="" selected="selected" disabled>{{mainData.Class_Label}}</option>
                                      <option :value="item.Code" v-for="item in mainData.Class_List">{{item.Class}}</option>
                                      </select>
                                </div>
                              </div>
                            </form>

                            <!-- trip 2 -->
                            <form>
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityFrom2" id="DeparturefromLeg2"
                                  :return-value="returnValue" :place-holder-text="mainData.Departure_Airport_Label"
                                  @air-search-completed="Departurefrom" :leg="2">
                                </flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityTo2" id="ArrivalfromLeg2"
                                  :return-value="returnValue" :place-holder-text="mainData.Arrival_Airport_Label"
                                  @air-search-completed="Arrivalfrom" :leg="2">
                                </flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="txtLeg2Date" :placeholder="mainData.Departing_Label" class="calendar form-control textbox wdt" type="text" />
                                    <!-- <div class="close-btn"><a href="#"><i class="fa fa-close" aria-hidden="true"></i></a></div> -->
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 search-col-padding">
                                  <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==2"><i class="fa fa-plus" aria-hidden="true"></i> Add up to  {{6-legcount}} Trips</a>
                                </div>
                              </div>
                            </form>
                            <!-- trip 3 -->
                            <form v-if="(legcount>2)">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityFrom3" id="DeparturefromLeg3"
                                    :return-value="returnValue" :place-holder-text="mainData.Departure_Airport_Label"
                                    @air-search-completed="Departurefrom" :leg="3">
                                  </flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityTo3" id="ArrivalfromLeg3"
                                    :return-value="returnValue" :place-holder-text="mainData.Arrival_Airport_Label"
                                    @air-search-completed="Arrivalfrom" :leg="3">
                                  </flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="txtLeg3Date" :placeholder="mainData.Departing_Label" class="calendar form-control textbox wdt" type="text" />
                                    <div class="close-btn"><a href="#" v-on:click.prevent="DeleteLeg(3)" v-if="legcount==3"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 search-col-padding">
                                  <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==3"><i class="fa fa-plus" aria-hidden="true"></i> Add up to  {{6-legcount}} Trips</a>
                                </div>
                              </div>
                            </form>

                             <!-- trip 4 -->
                             <form v-if="(legcount>3)">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityFrom4" id="DeparturefromLeg4"
                                  :return-value="returnValue" :place-holder-text="mainData.Departure_Airport_Label"
                                  @air-search-completed="Departurefrom" :leg="4">
                                </flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityTo4" id="ArrivalfromLeg4"
                                  :return-value="returnValue" :place-holder-text="mainData.Arrival_Airport_Label"
                                  @air-search-completed="Arrivalfrom" :leg="4">
                                </flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="txtLeg4Date" :placeholder="mainData.Departing_Label" class="calendar form-control textbox wdt" type="text" />
                                    <div class="close-btn"><a href="#" v-on:click.prevent="DeleteLeg(4)" v-if="legcount==4"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 search-col-padding">
                                  <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==4"><i class="fa fa-plus" aria-hidden="true"></i> Add up to  {{6-legcount}} Trips</a>
                                </div>
                              </div>
                            </form>

                             <!-- trip 5 -->
                             <form v-if="(legcount>4)">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityFrom5" id="DeparturefromLeg5"
                                    :return-value="returnValue" :place-holder-text="mainData.Departure_Airport_Label"
                                    @air-search-completed="Departurefrom" :leg="5">
                                  </flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityTo5" id="ArrivalfromLeg5"
                                  :return-value="returnValue" :place-holder-text="mainData.Arrival_Airport_Label"
                                  @air-search-completed="Arrivalfrom" :leg="5">
                                </flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="txtLeg5Date" :placeholder="mainData.Departing_Label" class="calendar form-control textbox wdt" type="text" />
                                    <div class="close-btn"><a href="#" v-on:click.prevent="DeleteLeg(5)" v-if="legcount==5"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 search-col-padding">
                                  <a class="add-btn" href="#" v-on:click.prevent="AddNewLeg();" v-if="legcount==5"><i class="fa fa-plus" aria-hidden="true"></i> Add up to  {{6-legcount}} Trips</a>
                                </div>
                              </div>
                            </form>

                             <!-- trip 6 -->
                             <form v-if="(legcount>5)">
                              <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityFrom6" id="DeparturefromLeg6"
                                  :return-value="returnValue" :place-holder-text="mainData.Departure_Airport_Label"
                                  @air-search-completed="Departurefrom" :leg="6">
                                </flightsearch>
                                    <!-- <input name="departure_airport" class="form-control" :placeholder="mainData.Departure_Airport_Label" type="text"> -->
                                    <span class="change-destination"><a href="#"><img src="images/exchange-icon.svg" alt=""></a></span>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 search-col-padding">
                                  <div class="input-group">
                                    <flightsearch :item-text="flightSearchCityName.cityTo6" id="ArrivalfromLeg6"
                                    :return-value="returnValue" :place-holder-text="mainData.Arrival_Airport_Label"
                                    @air-search-completed="Arrivalfrom" :leg="6">
                                  </flightsearch>
                                    <!-- <input name="arrival_airport " class="form-control" :placeholder="mainData.Arrival_Airport_Label" type="text"> -->
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input id="txtLeg6Date" :placeholder="mainData.Departing_Label" class="calendar form-control textbox wdt" type="text" />
                                    <div class="close-btn"><a href="#" v-on:click.prevent="DeleteLeg(6)" v-if="legcount==6"><i class="fa fa-close" aria-hidden="true"></i></a></div>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3 search-col-padding">
                              <button class="search-button" v-on:click.prevent="SearchFlightRedirect">{{mainData.Find_Flight_Label}} <svg x="0px" y="0px" width="36.365px" height="45px" viewBox="0 0 36.365 45" enable-background="new 0 0 36.365 45" xml:space="preserve">
<path d="M0.463,22.933l4.98,2.057l-1.056,0.492c-0.298,0.15-0.43,0.504-0.298,0.811l1.436,3.082
c0.069,0.152,0.199,0.271,0.354,0.327c0.153,0.065,0.329,0.065,0.482,0l10.916-5.118l0.137-1.453l0.192-1.943
c0.021-0.258,0.251-0.448,0.508-0.424c0.167,0.014,0.313,0.118,0.382,0.273c0.04,0.072,0.06,0.156,0.052,0.239l-1.265,13.406
c0.283,0.207,0.638,0.283,0.981,0.218c0.48-0.128,0.909-0.692,1.264-1.62l5.063-15.068l0.146-0.429
c0.074-0.251,0.337-0.394,0.59-0.321c0.251,0.076,0.395,0.339,0.321,0.59c-0.006,0.012-0.009,0.024-0.013,0.034l-0.493,1.445
l-0.557,1.657l8.548-4.004c2.47-1.154,3.738-3.49,2.887-5.311c-0.485-0.952-1.411-1.6-2.474-1.728
c-1.18-0.177-2.386,0.009-3.457,0.533l-9.681,4.517l-10.391-4.057c-1.31-0.492-2.348-0.48-3.075,0.046
c-0.609,0.5-0.956,1.253-0.942,2.044c0.006,0.197,0.108,0.385,0.271,0.498l7,4.796l-4.014,1.899l-6.728-1.683
c-0.274-0.066-0.562,0.057-0.701,0.302l-1.67,3.001c-0.171,0.305-0.063,0.69,0.241,0.861C0.422,22.913,0.444,22.923,0.463,22.933"/>
</svg></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="manage-booking">
                      <div class="tab-content">
                        <iframe src="https://preprod4.ttinteractive.com/Zenith/FrontOffice/tarcoair/en-GB/Home/FindBooking" style="width: 100%; height: 350px;" frameborder="0"></iframe>
                        <!-- <form>
                              <div class="row  m-t-60">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input name="last_name" class="form-control" :placeholder="mainData.Name_Placeholder" type="text">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input name="booking_reference" class="form-control" :placeholder="mainData.Booking_Reference_Placeholder" type="text">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                 <span class="or-txt">{{mainData.Or_Label}}</span>
                                  <div class="input-group  wdt-2">
                                   <input name="ticket_number" class="form-control" :placeholder="mainData.TICKET_Number_Placeholder" type="text">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 search-col-padding">
                                  <button class="search-button">{{mainData.Manage_Booking}} <svg x="0px" y="0px" width="48px" height="45px" viewBox="0 0 48 45" enable-background="new 0 0 48 45" xml:space="preserve">
<g>
	<path d="M47.994,15.935c-0.037,0.227-0.074,0.454-0.119,0.721c-0.463,0-0.941-0.019-1.418,0.012
		c-0.145,0.009-0.352,0.125-0.406,0.248c-0.217,0.479-0.385,0.981-0.586,1.517c0.4,0.363,0.826,0.748,1.291,1.17
		c-0.631,0.711-1.248,1.403-1.881,2.116c-0.459-0.403-0.893-0.782-1.313-1.152c-0.508,0.266-1.012,0.509-1.492,0.794
		c-0.102,0.061-0.172,0.275-0.162,0.411c0.041,0.463,0.123,0.923,0.197,1.433c-0.93,0.14-1.834,0.275-2.797,0.418
		c-0.074-0.469-0.158-0.921-0.207-1.377c-0.031-0.266-0.094-0.407-0.406-0.444c-0.508-0.059-1.004-0.198-1.539-0.311
		c-0.293,0.466-0.596,0.952-0.934,1.489c-0.799-0.491-1.586-0.976-2.41-1.483c0.262-0.432,0.5-0.848,0.766-1.247
		c0.141-0.209,0.123-0.348-0.055-0.523c-0.209-0.208-0.396-0.44-0.57-0.68c-0.408-0.572-0.402-0.577-1.092-0.345
		c-0.295,0.098-0.59,0.195-0.887,0.29c-0.025,0.008-0.059-0.006-0.131-0.015c-0.281-0.851-0.566-1.719-0.867-2.634
		c0.48-0.166,0.939-0.303,1.377-0.49c0.127-0.054,0.26-0.241,0.277-0.381c0.055-0.431,0.074-0.87,0.061-1.305
		c-0.004-0.139-0.123-0.34-0.244-0.399c-0.428-0.212-0.883-0.375-1.377-0.577c0.348-0.879,0.684-1.726,1.037-2.624
		c0.453,0.173,0.891,0.32,1.309,0.509c0.256,0.116,0.412,0.09,0.592-0.142c0.303-0.393,0.646-0.755,1.014-1.175
		c-0.256-0.485-0.529-1.002-0.816-1.547c0.83-0.447,1.637-0.881,2.486-1.339c0.297,0.534,0.58,1.043,0.857,1.538
		c0.627-0.098,1.225-0.19,1.891-0.293c0.113-0.507,0.234-1.06,0.373-1.693c0.914,0.185,1.818,0.367,2.768,0.559
		c-0.092,0.459-0.156,0.887-0.266,1.303c-0.082,0.316-0.047,0.505,0.287,0.663c0.432,0.207,0.826,0.495,1.273,0.77
		c0.428-0.332,0.883-0.686,1.385-1.076c0.578,0.731,1.152,1.458,1.756,2.219c-0.389,0.31-0.738,0.618-1.117,0.883
		c-0.244,0.17-0.275,0.334-0.146,0.582c0.094,0.178,0.17,0.369,0.232,0.56c0.291,0.88,0.289,0.879,1.217,0.924
		c0.266,0.012,0.527,0.041,0.793,0.062V15.935z M43.041,15.041c0.006-1.99-1.563-3.601-3.516-3.606
		c-2.008-0.006-3.619,1.572-3.623,3.55c-0.006,2.019,1.553,3.586,3.57,3.591C41.471,18.582,43.035,17.031,43.041,15.041"/>
	<path d="M7.736,28.296c0.369-1.021,0.718-1.983,1.05-2.901c-0.883-0.744-1.738-1.465-2.628-2.216
		c-0.839,0.481-1.729,0.993-2.682,1.541c-0.417-0.722-0.826-1.431-1.235-2.141c-0.413-0.714-0.826-1.428-1.272-2.199
		c0.756-0.437,1.48-0.885,2.232-1.278c0.397-0.207,0.492-0.405,0.371-0.863c-0.235-0.884-0.359-1.798-0.547-2.79
		c-0.931-0.17-1.948-0.356-3.019-0.552c0.29-1.646,0.575-3.262,0.868-4.927c0.955,0.166,1.869,0.334,2.788,0.472
		c0.134,0.02,0.361-0.068,0.424-0.176c0.512-0.887,0.997-1.791,1.532-2.767C5.015,6.777,4.349,5.98,3.656,5.15
		C4.938,4.074,6.2,3.016,7.493,1.931c0.682,0.81,1.344,1.594,2.009,2.382c0.674-0.267,1.335-0.53,1.996-0.79
		c0.115-0.045,0.234-0.084,0.353-0.118c0.861-0.251,0.861-0.25,0.861-1.162V0.041h5.001V3.1c1.091,0.398,2.138,0.78,3.257,1.187
		c0.621-0.734,1.291-1.527,1.991-2.355c1.282,1.075,2.542,2.133,3.835,3.218c-0.689,0.824-1.348,1.612-1.98,2.369
		c0.574,0.99,1.135,1.957,1.725,2.974c0.955-0.163,1.977-0.338,3.037-0.521c0.291,1.647,0.574,3.253,0.869,4.919
		c-0.676,0.127-1.344,0.262-2.014,0.374c-1.033,0.174-1.014,0.17-1.174,1.182c-0.105,0.675-0.266,1.342-0.426,2.006
		c-0.061,0.248-0.035,0.387,0.211,0.522c0.803,0.442,1.592,0.915,2.436,1.405c-0.834,1.446-1.654,2.87-2.504,4.34
		c-0.926-0.532-1.824-1.051-2.653-1.528c-0.849,0.682-1.669,1.324-2.468,1.994c-0.095,0.08-0.135,0.324-0.091,0.455
		c0.294,0.869,0.617,1.729,0.953,2.651c-1.557,0.567-3.1,1.132-4.704,1.717c-0.251-0.676-0.499-1.339-0.741-2.005
		c-0.345-0.945-0.342-0.918-1.336-0.871c-0.651,0.031-1.309-0.011-1.962-0.057c-0.328-0.024-0.496,0.047-0.606,0.387
		c-0.276,0.841-0.601,1.665-0.924,2.544C10.878,29.438,9.336,28.877,7.736,28.296 M8.86,15.055c0.024,3.53,2.873,6.354,6.391,6.336
		c3.556-0.018,6.356-2.864,6.328-6.431c-0.029-3.49-2.898-6.299-6.4-6.265C11.671,8.728,8.836,11.581,8.86,15.055"/>
	<path d="M33.711,23.178c0.1,0.678,0.197,1.291,0.273,1.908c0.029,0.233,0.123,0.346,0.363,0.39
		c0.596,0.11,1.182,0.266,1.779,0.364c0.135,0.021,0.355-0.082,0.436-0.197c0.361-0.521,0.688-1.068,1.045-1.631
		c0.479,0.3,0.926,0.578,1.373,0.857c0.541,0.338,1.08,0.68,1.662,1.047c-0.398,0.642-0.781,1.26-1.16,1.869
		c0.459,0.614,0.908,1.227,1.379,1.823c0.053,0.067,0.25,0.069,0.361,0.036c0.611-0.18,1.217-0.38,1.869-0.589
		c0.367,1.133,0.73,2.252,1.105,3.409c-0.627,0.207-1.211,0.414-1.805,0.592c-0.229,0.068-0.33,0.156-0.33,0.415
		c0,0.575-0.027,1.151-0.072,1.727c-0.023,0.289,0.043,0.449,0.34,0.554c0.57,0.199,1.123,0.449,1.725,0.695
		c-0.451,1.116-0.895,2.204-1.35,3.325c-0.553-0.222-1.09-0.394-1.586-0.647c-0.41-0.211-0.619-0.104-0.877,0.24
		c-0.365,0.482-0.801,0.91-1.238,1.395c0.326,0.617,0.664,1.263,1.035,1.967c-1.043,0.556-2.08,1.107-3.17,1.688
		c-0.295-0.558-0.596-1.097-0.869-1.649c-0.131-0.267-0.273-0.345-0.584-0.28c-0.652,0.137-1.316,0.214-2.02,0.321
		c-0.146,0.666-0.299,1.376-0.469,2.153c-1.164-0.248-2.311-0.49-3.508-0.744c0.154-0.744,0.301-1.453,0.447-2.164
		c-0.641-0.42-1.27-0.846-1.918-1.238c-0.082-0.049-0.289,0.04-0.396,0.119c-0.5,0.369-0.984,0.759-1.508,1.165
		c-0.734-0.94-1.453-1.858-2.208-2.824c0.597-0.472,1.178-0.931,1.729-1.366c-0.219-0.734-0.414-1.436-0.649-2.123
		c-0.038-0.111-0.253-0.222-0.39-0.227c-0.62-0.024-1.241-0.01-1.829-0.01v-3.625h2.264c0.282-0.66,0.579-1.323,0.84-2
		c0.039-0.107-0.043-0.318-0.139-0.41c-0.445-0.434-0.917-0.844-1.426-1.305c0.797-0.889,1.584-1.763,2.401-2.67
		c0.5,0.447,0.967,0.879,1.453,1.285c0.104,0.084,0.322,0.145,0.426,0.092c0.646-0.33,1.277-0.695,1.932-1.058
		c-0.09-0.7-0.186-1.423-0.287-2.187C31.359,23.504,32.51,23.344,33.711,23.178 M33.471,38.616c2.453-0.007,4.502-2.083,4.5-4.562
		s-2.082-4.539-4.58-4.535c-2.48,0.004-4.523,2.08-4.518,4.593C28.879,36.594,30.951,38.623,33.471,38.616"/>
</g>
</svg></button>
                                </div>
                              </div>
                            </form> -->
                      </div>
                    </div>
                    <div class="tab-pane fade" id="check-in">
                      <div class="tab-content">
                        <iframe src="https://preprod4.ttinteractive.com/Zenith/FrontOffice/tarcoair/en-GB/Home/FindBooking?findbookingmode=WebCheckin" style="width: 100%; height: 350px;" frameborder="0"></iframe>
                        <!-- <form>
                              <div class="row  m-t-60">
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input name="last_name" class="form-control" :placeholder="mainData.Name_Placeholder" type="text">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                  <div class="input-group">
                                    <input name="booking_reference" class="form-control" :placeholder="mainData.Booking_Reference_Placeholder" type="text">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 search-col-padding">
                                 <span class="or-txt">{{mainData.Or_Label}}</span>
                                  <div class="input-group  wdt-2">
                                   <input name="ticket_number" class="form-control" :placeholder="mainData.TICKET_Number_Placeholder" type="text">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 search-col-padding">
                                  <button class="search-button">{{mainData.Check_In_Label}} <svg x="0px" y="0px" width="29.993px" height="45px" viewBox="0 0 29.993 45" enable-background="new 0 0 29.993 45" xml:space="preserve">
<path d="M25.517,11.98c-5.811-5.81-15.221-5.81-21.041,0c-5.81,5.81-5.81,15.231,0,21.041
	c5.82,5.81,15.24,5.81,21.041,0C31.326,27.211,31.326,17.79,25.517,11.98 M15.826,27.47l-3.52,3.521l-3.53-3.521l-4.54-4.54
	l3.521-3.53l4.55,4.551l9.939-9.941l3.531,3.52L15.826,27.47z"/>
</svg></button>
                                </div>
                              </div>
                            </form> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
<section id="destinations-sec" class="m_t_30">
  <div class="container">
    <div class="row title">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h2>{{mainData.International_Destination_Label}}</h2>
      </div>
    </div>
    <div class="row m-t-50" v-if="isShow==true" >
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="desti" > 
                	<img :src="packages.Image__1590x1037px" alt="">
                      <div class="desti-detail2" >
                        <h3><a href="#" title="">{{packages.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((packages.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                      </div>
                      <div class="desti-info2 desti-detail2"  >
                        <h3><a href="#" title="">{{packages.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((packages.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                        <a href="#" class="red-btn">{{mainData.Book_Now_Label}}</a>
                      </div>
                </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="row">
        	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
            	<div class="desti" v-for="(pack,index) in  internationalList.slice(1,4)":key="index" v-if="index%2==0"> 
                	<img :src="pack.Image__1590x1037px" alt="">
                      <div class="desti-detail" >
                        <h3><a href="#" title="">{{pack.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                      </div>
                      <div class="desti-info desti-detail">
                        <h3><a href="#" title="">{{pack.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                        <a href="#" class="red-btn">{{mainData.Book_Now_Label}}</a>
                      </div>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
            	<div class="desti" v-for="(pack,index) in  internationalList.slice(1,4)":key="index" v-if="index%2!=0"> 
                	<img :src="pack.Image__1590x1037px" alt="">
                      <div class="desti-detail" >
                        <h3><a href="#" title="">{{pack.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                      </div>
                      <div class="desti-info desti-detail">
                        <h3><a href="#" title="">{{pack.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                        <a href="#" class="red-btn">{{mainData.Book_Now_Label}}</a>
                      </div>
                </div>

            </div>
          </div>
      </div>
    </div>
    <div class="row"v-if="isShow==true" >
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" >
            	<div class="desti" v-for="(pack,index) in  internationalList.slice(5,10)" :key="index"> 
                	<img :src="pack.Image__1590x1037px" alt="">
                      <div class="desti-detail" >
                        <h3><a href="#" title="">{{pack.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                      </div>
                      <div class="desti-info desti-detail">
                        <h3><a href="#" title="">{{pack.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((pack.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                        <a href="#" class="red-btn">{{mainData.Book_Now_Label}}</a>
                      </div>
                </div>
            </div>
        
        </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"> <a href="#" class="line-btn">{{mainData.Show_More_Label}}</a> </div>
    </div>
  </div>
</section>
<section id="journey-sec">
  <div class="container">
    <div class="row title">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h2>{{mainData.Complete_Journey_Label}}</h2>
      </div>
    </div>
    <div class="row m-t-50">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 jrn-box bg-nn3">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="85px" height="79px" viewBox="0 0 85 79" enable-background="new 0 0 85 79" xml:space="preserve">
<g>
	<path d="M11.856,76.589c-1.267,0-2.745-0.602-3.019-3.301c-0.069-0.686-0.132-1.373-0.192-2.058
		c-0.074-0.821-0.146-1.642-0.232-2.46c-0.253-2.381-0.514-4.762-0.78-7.186l-0.156-1.43c-0.987,0.03-1.923,0.059-2.895-0.09
		c-0.938-0.143-1.778-0.473-2.588-0.792c-0.313-0.122-0.621-0.243-0.936-0.353l-1.005-0.346V39.833l0.054-0.195
		c1.26-4.56,3.643-7.578,7.282-9.225c3.73-1.688,6.167-4.622,7.244-8.717c0.188-0.714,0.382-1.427,0.576-2.142
		c0.6-2.198,1.219-4.47,1.606-6.707c0.589-3.403,2.545-5.755,5.978-7.187c1.353-0.564,2.679-1.027,3.941-1.373
		c6.193-1.698,12.991-2.221,21.399-1.658c4.447,0.301,9.661,0.926,14.624,3.284c3.02,1.434,4.768,3.575,5.348,6.542
		c0.623,3.186,1.517,6.405,2.381,9.518l0.156,0.566c0.934,3.37,2.959,5.888,5.859,7.284c4.568,2.198,7.316,5.422,8.402,9.857
		l0.041,0.356v18.066l-0.404,0.43c-1.717,1.825-3.786,1.703-5.447,1.607c-0.561-0.031-1.102-0.064-1.598-0.021l-0.205,2.02
		c-0.367,3.631-0.737,7.285-1.102,10.943c-0.096,0.959-0.351,3.502-3.109,3.502h-0.039c-2.676-0.021-2.965-2.545-3.061-3.375
		c-0.099-0.857-0.17-1.717-0.242-2.578c-0.055-0.653-0.109-1.311-0.176-1.965c-0.232-2.266-0.474-4.533-0.717-6.822l-0.174-1.641
		H16.301c-0.037,0.221-0.068,0.439-0.09,0.658c-0.296,3.004-0.579,6.008-0.865,9.012l-0.311,3.291
		c-0.207,2.19-1.214,3.342-2.992,3.422C11.981,76.587,11.919,76.589,11.856,76.589 M8.812,57.142h1.338l0.45,4.119
		c0.266,2.428,0.527,4.811,0.779,7.195c0.088,0.834,0.164,1.672,0.238,2.508c0.061,0.674,0.121,1.352,0.188,2.025
		c0.034,0.328,0.073,0.512,0.104,0.615c0.012-0.001,0.022-0.002,0.032-0.003c0.035-0.099,0.082-0.304,0.122-0.722l0.312-3.289
		c0.286-3.008,0.57-6.016,0.864-9.021c0.05-0.488,0.135-0.973,0.229-1.477c0.038-0.205,0.075-0.414,0.112-0.627l0.208-1.246h57.569
		l0.455,4.309c0.244,2.293,0.486,4.563,0.719,6.834c0.068,0.674,0.125,1.346,0.181,2.02c0.069,0.832,0.14,1.66,0.233,2.488
		c0.016,0.139,0.059,0.52,0.123,0.723c0.012,0,0.021-0.004,0.035,0c0.058-0.207,0.096-0.586,0.117-0.807
		c0.364-3.66,0.734-7.316,1.102-10.949l0.406-4.021l0.875-0.32c1.28-0.472,2.549-0.398,3.664-0.334
		c1.262,0.074,2.049,0.094,2.694-0.328V40.22c-0.897-3.474-3.048-5.926-6.754-7.709c-3.698-1.779-6.272-4.952-7.44-9.176
		L67.61,22.77c-0.877-3.167-1.785-6.443-2.432-9.742c-0.402-2.057-1.509-3.378-3.699-4.42c-4.512-2.143-9.379-2.72-13.545-3
		c-8.064-0.546-14.55-0.05-20.41,1.556c-1.141,0.313-2.345,0.734-3.581,1.249c-2.484,1.037-3.774,2.561-4.188,4.944
		c-0.411,2.375-1.05,4.717-1.667,6.982c-0.192,0.705-0.384,1.409-0.569,2.114c-1.315,5.008-4.312,8.6-8.899,10.677
		c-2.773,1.255-4.551,3.518-5.582,7.113v16.235c0.016,0.007,0.031,0.013,0.048,0.019c0.688,0.271,1.337,0.526,1.945,0.619
		c0.716,0.108,1.493,0.084,2.394,0.055C7.871,57.157,8.331,57.142,8.812,57.142 M16.846,47.2l-2.32-0.789l0.167-1.238
		c0.136-0.971,3.122-9.17,9.773-10.591l-0.001-0.838c-0.001-1.587-0.001-3.163,0.002-4.737c0.004-2.394,0.665-4.193,1.964-5.348
		c1.319-1.172,3.237-1.619,5.696-1.334c7.001,0.817,14.024,0.812,20.872-0.011c2.896-0.348,4.604,0.552,5.527,1.366
		c0.906,0.8,1.988,2.339,2.004,5.138c0.009,1.563,0.007,3.13,0.004,4.741l-0.002,0.98c5.469,1.144,8.354,6.967,8.705,8.682
		c0.256,1.248-0.627,1.75-0.808,1.836l-1.036,0.509l-0.824-0.923c-1.933-2.254-4.461-3.398-7.521-3.404
		c-11.735-0.023-22.325-0.041-33.091,0.021c-3.707,0.021-6.563,1.668-8.487,4.895L16.846,47.2z M30.727,25.223
		c-1.038,0-1.813,0.223-2.313,0.666c-0.638,0.565-0.96,1.616-0.964,3.123c-0.003,1.573-0.003,3.146-0.002,4.732l0.001,3.538
		l-1.4,0.087c-1.403,0.086-2.622,0.619-3.663,1.374c1.115-0.303,2.303-0.461,3.556-0.468c10.775-0.063,21.374-0.047,33.113-0.023
		c1.269,0.003,2.468,0.158,3.593,0.463c-1.014-0.754-2.24-1.305-3.686-1.381l-1.414-0.073l0.002-3.707
		c0.003-1.604,0.005-3.163-0.004-4.722c-0.007-1.359-0.34-2.338-0.993-2.914c-0.847-0.748-2.205-0.763-3.196-0.642
		c-7.08,0.853-14.338,0.855-21.575,0.012C31.404,25.244,31.053,25.223,30.727,25.223"/>
	<path d="M57.048,36.809H28.021c0-2.767-0.13-5.475,0.051-8.163c0.102-1.511,1.356-1.988,2.807-1.896
		c2.959,0.19,5.92,0.504,8.878,0.488c4.654-0.027,9.31-0.262,13.962-0.453c2.526-0.105,3.291,0.541,3.323,3.082
		C57.071,32.149,57.048,34.431,57.048,36.809"/>
</g>
</svg> </div>
        <h4><a href="#">{{mainData.Seat_Selection_Label}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 jrn-box bg-nn2 bg-nn3">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="85px" height="79px" viewBox="0 0 85 79" enable-background="new 0 0 85 79" xml:space="preserve">
<g>
	<path d="M77.94,40.082h-16.26v-2.865c0-1.07-0.873-1.943-1.945-1.943H46.599c-1.072,0-1.945,0.873-1.945,1.943
		v2.865h-2.127V29.418c0-2.09-1.701-3.792-3.792-3.792h-4.635V4.98c0-1.255-1.02-2.274-2.272-2.274h-1.772V2.191
		c0-0.986-0.802-1.787-1.787-1.787h-8.892c-0.985,0-1.787,0.801-1.787,1.787v0.515h-1.771c-1.253,0-2.273,1.02-2.273,2.274v20.646
		H7.524c-2.091,0-3.792,1.702-3.792,3.792v11.801c0,0.634,0.513,1.148,1.147,1.148c0.635,0,1.149-0.515,1.149-1.148V29.418
		c0-0.825,0.671-1.496,1.496-1.496h31.21c0.825,0,1.496,0.671,1.496,1.496v40.09c0,0.824-0.672,1.496-1.496,1.496H7.524
		c-0.825,0-1.496-0.672-1.496-1.496V45.811c0-0.635-0.514-1.148-1.149-1.148c-0.634,0-1.147,0.514-1.147,1.148v23.697
		c0,2.09,1.701,3.791,3.792,3.791h2.334v4.146c0,0.636,0.513,1.147,1.147,1.147c0.635,0,1.149-0.512,1.149-1.147v-4.146h12.912
		v1.969c0,1.836,1.493,3.328,3.328,3.328H77.94c1.834,0,3.328-1.492,3.328-3.328V43.412C81.269,41.576,79.776,40.082,77.94,40.082
		 M19.885,2.7h7.874v2.311h-7.874V2.7z M15.841,5.002h1.748V5.52c0,0.984,0.802,1.786,1.787,1.786h8.892
		c0.985,0,1.787-0.802,1.787-1.786V5.002h1.748v20.624H15.841V5.002z M69.655,76.137h-2.297V42.379h2.297V76.137z M42.526,69.508
		V42.379h10.641c0.634,0,1.148-0.514,1.148-1.147s-0.515-1.149-1.148-1.149H46.95v-2.513h12.434v2.513h-1.625
		c-0.635,0-1.148,0.516-1.148,1.149s0.514,1.147,1.148,1.147h7.303v33.922H36.4v-3.002h2.334
		C40.825,73.299,42.526,71.598,42.526,69.508 M27.362,75.268v-1.969h6.742v3.002h-5.71C27.825,76.301,27.362,75.838,27.362,75.268
		 M78.972,75.268c0,0.57-0.463,1.033-1.031,1.033h-5.989V42.379h5.989c0.568,0,1.031,0.463,1.031,1.033V75.268z"/>
	<path d="M47.773,67.756h8.481c1.421,0,2.574-1.154,2.574-2.573v-3.341c0-1.42-1.153-2.573-2.574-2.573h-8.481
		c-1.419,0-2.573,1.153-2.573,2.573v3.341C45.2,66.602,46.354,67.756,47.773,67.756 M47.495,61.842c0-0.152,0.125-0.277,0.278-0.277
		h8.481c0.154,0,0.279,0.125,0.279,0.277v3.341c0,0.151-0.125,0.276-0.279,0.276h-8.481c-0.153,0-0.278-0.125-0.278-0.276V61.842z"
		/>
	<path d="M13.469,65.082V33.845c0-0.634-0.514-1.149-1.147-1.149c-0.635,0-1.149,0.516-1.149,1.149v31.237
		c0,0.634,0.514,1.148,1.149,1.148C12.955,66.23,13.469,65.716,13.469,65.082"/>
	<path d="M20.674,65.082V33.845c0-0.634-0.514-1.149-1.147-1.149c-0.635,0-1.149,0.516-1.149,1.149v31.237
		c0,0.634,0.514,1.148,1.149,1.148C20.16,66.23,20.674,65.716,20.674,65.082"/>
	<path d="M27.879,65.082V33.845c0-0.634-0.514-1.149-1.148-1.149c-0.634,0-1.148,0.516-1.148,1.149v31.237
		c0,0.634,0.514,1.148,1.148,1.148C27.365,66.23,27.879,65.716,27.879,65.082"/>
	<path d="M35.083,65.082V33.845c0-0.634-0.514-1.149-1.147-1.149c-0.635,0-1.149,0.516-1.149,1.149v31.237
		c0,0.634,0.514,1.148,1.149,1.148C34.569,66.23,35.083,65.716,35.083,65.082"/>
</g>
</svg> </div>
        <h4><a href="#">{{mainData.Buy_Weight_Label}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 jrn-box bg-nn3">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="85px" height="79px" viewBox="0 0 85 79" enable-background="new 0 0 85 79" xml:space="preserve">
<g>
	<path d="M77.072,30.039c-0.055,0.327-0.109,0.654-0.172,1.04c-0.666,0-1.357-0.027-2.041,0.019
		c-0.209,0.013-0.508,0.179-0.588,0.355c-0.313,0.692-0.555,1.414-0.844,2.187c0.578,0.523,1.189,1.078,1.861,1.687
		c-0.912,1.024-1.799,2.021-2.711,3.048c-0.662-0.58-1.283-1.126-1.893-1.659c-0.73,0.384-1.457,0.733-2.146,1.144
		c-0.148,0.088-0.25,0.396-0.234,0.592c0.059,0.668,0.178,1.33,0.283,2.066c-1.34,0.2-2.641,0.395-4.031,0.602
		c-0.104-0.676-0.227-1.328-0.299-1.984c-0.043-0.384-0.133-0.586-0.584-0.64c-0.729-0.086-1.445-0.286-2.217-0.448
		c-0.42,0.671-0.859,1.371-1.344,2.145c-1.152-0.707-2.287-1.405-3.477-2.137c0.381-0.62,0.725-1.222,1.107-1.796
		c0.201-0.301,0.176-0.501-0.08-0.754c-0.301-0.299-0.574-0.634-0.822-0.98c-0.59-0.824-0.58-0.83-1.574-0.497
		c-0.424,0.143-0.85,0.282-1.275,0.418c-0.037,0.012-0.084-0.007-0.189-0.021c-0.404-1.227-0.816-2.478-1.252-3.796
		c0.693-0.238,1.355-0.437,1.988-0.706c0.182-0.077,0.373-0.348,0.396-0.549c0.078-0.622,0.107-1.254,0.088-1.88
		c-0.006-0.201-0.176-0.49-0.352-0.576c-0.619-0.305-1.271-0.54-1.984-0.83c0.502-1.267,0.984-2.486,1.496-3.781
		c0.65,0.251,1.279,0.464,1.883,0.733c0.371,0.167,0.596,0.129,0.854-0.204c0.438-0.566,0.934-1.089,1.461-1.692
		c-0.369-0.699-0.762-1.444-1.176-2.229c1.197-0.645,2.357-1.27,3.584-1.931c0.426,0.77,0.834,1.503,1.23,2.216
		c0.904-0.139,1.77-0.273,2.729-0.422c0.162-0.729,0.336-1.527,0.537-2.438c1.316,0.267,2.619,0.528,3.986,0.806
		c-0.131,0.66-0.225,1.277-0.381,1.878c-0.119,0.455-0.07,0.727,0.41,0.956c0.625,0.295,1.193,0.711,1.836,1.106
		c0.617-0.479,1.271-0.987,1.994-1.552c0.836,1.056,1.662,2.102,2.531,3.199c-0.559,0.446-1.063,0.89-1.609,1.271
		c-0.352,0.245-0.398,0.482-0.211,0.839c0.135,0.259,0.244,0.532,0.336,0.808c0.42,1.268,0.416,1.267,1.752,1.332
		c0.381,0.017,0.762,0.058,1.143,0.089V30.039z M69.936,28.752c0.01-2.868-2.252-5.187-5.063-5.195
		c-2.895-0.009-5.217,2.265-5.225,5.114c-0.006,2.909,2.238,5.168,5.145,5.176C67.672,33.854,69.928,31.62,69.936,28.752"/>
	<path d="M19.068,47.851c0.531-1.471,1.032-2.857,1.512-4.18c-1.272-1.072-2.504-2.111-3.787-3.193
		c-1.209,0.693-2.491,1.432-3.864,2.22c-0.6-1.038-1.188-2.062-1.78-3.083c-0.595-1.028-1.189-2.059-1.83-3.17
		c1.089-0.629,2.131-1.274,3.215-1.841c0.572-0.299,0.71-0.584,0.533-1.244c-0.339-1.273-0.518-2.59-0.786-4.02
		c-1.343-0.245-2.809-0.513-4.353-0.795c0.418-2.371,0.829-4.701,1.251-7.098c1.376,0.237,2.694,0.48,4.019,0.679
		c0.191,0.028,0.52-0.098,0.609-0.252c0.739-1.279,1.438-2.581,2.208-3.988c-0.868-1.04-1.827-2.188-2.826-3.384
		c1.847-1.549,3.664-3.076,5.528-4.64c0.983,1.166,1.936,2.298,2.895,3.433c0.972-0.385,1.924-0.764,2.876-1.138
		c0.167-0.066,0.338-0.12,0.51-0.172c1.24-0.36,1.24-0.359,1.24-1.673V7.14h7.204v4.408c1.574,0.573,3.082,1.122,4.694,1.709
		c0.896-1.058,1.86-2.2,2.868-3.394c1.847,1.551,3.663,3.074,5.526,4.638c-0.994,1.188-1.941,2.322-2.854,3.414
		c0.828,1.426,1.637,2.819,2.486,4.284c1.375-0.235,2.846-0.487,4.377-0.75c0.418,2.373,0.826,4.687,1.252,7.089
		c-0.977,0.181-1.936,0.376-2.9,0.538c-1.49,0.25-1.465,0.244-1.693,1.702c-0.154,0.974-0.385,1.934-0.615,2.891
		c-0.086,0.357-0.047,0.558,0.305,0.751c1.158,0.638,2.295,1.319,3.51,2.025c-1.201,2.084-2.385,4.136-3.605,6.253
		c-1.334-0.77-2.629-1.514-3.825-2.201c-1.223,0.98-2.406,1.908-3.556,2.873c-0.138,0.115-0.195,0.467-0.131,0.655
		c0.423,1.252,0.889,2.489,1.372,3.819c-2.243,0.82-4.467,1.631-6.777,2.475c-0.361-0.975-0.718-1.93-1.068-2.889
		c-0.497-1.361-0.492-1.323-1.925-1.256c-0.938,0.045-1.886-0.016-2.827-0.082c-0.472-0.035-0.714,0.068-0.874,0.558
		c-0.395,1.212-0.865,2.399-1.33,3.666C23.592,49.497,21.372,48.688,19.068,47.851 M20.686,28.772
		c0.035,5.087,4.14,9.156,9.208,9.13c5.124-0.025,9.159-4.128,9.117-9.267c-0.041-5.029-4.174-9.076-9.22-9.027
		C24.736,19.656,20.652,23.767,20.686,28.772"/>
	<path d="M56.492,40.476c0.143,0.977,0.281,1.861,0.395,2.749c0.041,0.337,0.176,0.499,0.523,0.563
		c0.857,0.158,1.703,0.383,2.563,0.523c0.195,0.031,0.512-0.117,0.627-0.283c0.523-0.752,0.994-1.539,1.506-2.35
		c0.689,0.432,1.336,0.83,1.979,1.234c0.779,0.488,1.557,0.979,2.396,1.508c-0.572,0.924-1.127,1.816-1.672,2.695
		c0.662,0.883,1.309,1.768,1.986,2.625c0.078,0.098,0.361,0.1,0.521,0.053c0.881-0.26,1.752-0.549,2.693-0.848
		c0.529,1.633,1.051,3.244,1.592,4.912c-0.904,0.299-1.746,0.596-2.6,0.852c-0.328,0.099-0.477,0.227-0.477,0.599
		c0,0.829-0.037,1.659-0.104,2.487c-0.033,0.416,0.061,0.648,0.49,0.799c0.82,0.287,1.617,0.646,2.484,1
		c-0.65,1.609-1.287,3.177-1.941,4.791c-0.801-0.318-1.576-0.564-2.287-0.932c-0.59-0.303-0.893-0.148-1.266,0.346
		c-0.525,0.695-1.154,1.313-1.781,2.01c0.467,0.891,0.957,1.818,1.49,2.834c-1.502,0.801-2.996,1.598-4.566,2.432
		c-0.426-0.804-0.861-1.58-1.252-2.377c-0.191-0.385-0.398-0.498-0.842-0.404c-0.941,0.199-1.9,0.309-2.912,0.463
		c-0.209,0.961-0.432,1.984-0.674,3.104c-1.68-0.357-3.328-0.705-5.055-1.072c0.223-1.072,0.434-2.094,0.645-3.119
		c-0.926-0.604-1.832-1.217-2.766-1.783c-0.115-0.07-0.414,0.059-0.568,0.172c-0.723,0.533-1.422,1.094-2.174,1.678
		c-1.061-1.354-2.093-2.677-3.181-4.068c0.859-0.68,1.697-1.342,2.49-1.969c-0.314-1.057-0.594-2.068-0.932-3.06
		c-0.057-0.159-0.366-0.317-0.564-0.326c-0.892-0.034-1.788-0.015-2.635-0.015v-5.223h3.261c0.406-0.949,0.834-1.906,1.209-2.883
		c0.061-0.154-0.059-0.457-0.197-0.59c-0.643-0.625-1.32-1.217-2.056-1.881c1.152-1.277,2.283-2.539,3.458-3.846
		c0.721,0.644,1.395,1.267,2.098,1.852c0.146,0.122,0.463,0.207,0.609,0.133c0.936-0.477,1.844-1,2.787-1.525
		c-0.133-1.008-0.27-2.049-0.414-3.15C53.102,40.946,54.762,40.716,56.492,40.476 M56.146,62.722
		c3.533-0.01,6.484-3.002,6.482-6.572s-3-6.541-6.598-6.535c-3.572,0.006-6.516,2.998-6.51,6.617
		C49.531,59.807,52.516,62.733,56.146,62.722"/>
</g>
</svg> </div>
        <h4><a href="#">{{mainData.Manage_Booking}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 jrn-box bg-nn bg-nn3">
        <div class="svg-wrap"> <svg x="0px" y="0px" width="85px" height="79px" viewBox="0 0 85 79" enable-background="new 0 0 85 79" xml:space="preserve">
<g>
  <path d="M81.808,20.439c-1.09-2.948-4.349-4.712-7.44-3.927l-4.319-2.635c-1.633-0.988-3.604-1.181-5.408-0.532
		l-15.804,5.751L35.857,0.757c-0.326-0.461-0.926-0.646-1.454-0.455l-7.064,2.573c-0.654,0.237-0.989,0.956-0.751,1.608
		l7.289,20.052l-15.714,5.719l-8.439-9.44c-0.341-0.381-0.882-0.521-1.365-0.343L3.64,22.189c-0.652,0.234-0.987,0.957-0.75,1.606
		l6.867,18.87c0.18,0.496,0.652,0.826,1.178,0.826h0.017l26.597-0.328c0.14,0,0.281-0.026,0.413-0.076l2.355-0.857l6.869,18.87
		c0.185,0.511,0.666,0.827,1.179,0.827c0.143,0,0.287-0.025,0.429-0.076l7.078-2.576c0.532-0.195,0.868-0.72,0.82-1.283
		L54.94,36.909L78.06,28.49c2.469-0.899,4.127-3.273,4.127-5.91C82.188,21.867,82.063,21.151,81.808,20.439 M29.375,4.807
		l4.987-1.817l12.029,16.995l-10.156,3.694L29.375,4.807z M9.109,33.548l-3.432-9.431l2.741-0.996l7.206,8.058L9.109,33.548z
		 M49.116,59.063L40.53,35.475l11.429-4.159l2.153,25.929L49.116,59.063z M77.202,26.133l-22.476,8.186l-0.403-4.849
		c-0.03-0.39-0.243-0.742-0.573-0.953c-0.33-0.211-0.74-0.254-1.106-0.123l-14.152,5.15c-0.312,0.114-0.566,0.348-0.708,0.65
		c-0.14,0.301-0.154,0.646-0.041,0.96l1.717,4.716l-2.155,0.787l-25.493,0.313l-1.839-5.062l55.521-20.204
		c1.086-0.391,2.273-0.274,3.251,0.317l1.202,0.732l-3.684,1.342l0.857,2.359l5.57-2.027l0.85,0.518
		c0.322,0.199,0.722,0.238,1.073,0.113c1.998-0.712,4.146,0.368,4.836,2.237c0.151,0.427,0.23,0.858,0.23,1.285
		C79.679,24.167,78.683,25.595,77.202,26.133"/>
  <rect x="58.375" y="20.591" transform="matrix(-0.9398 0.3417 -0.3417 -0.9398 123.1353 22.0028)" width="2.509" height="2.51"/>
  <rect x="53.657" y="22.308" transform="matrix(-0.9399 0.3413 -0.3413 -0.9399 114.5674 26.9681)" width="2.509" height="2.51"/>
  <rect x="48.94" y="24.028" transform="matrix(-0.9399 0.3413 -0.3413 -0.9399 106.0041 31.9143)" width="2.509" height="2.51"/>
  <rect x="44.221" y="25.745" transform="matrix(-0.9398 0.3417 -0.3417 -0.9398 97.4399 36.8383)" width="2.509" height="2.511"/>
  <rect x="39.502" y="27.464" transform="matrix(-0.9399 0.3413 -0.3413 -0.9399 88.8689 41.8023)" width="2.509" height="2.51"/>
  <rect x="34.784" y="29.183" transform="matrix(-0.9399 0.3413 -0.3413 -0.9399 80.3015 46.7473)" width="2.509" height="2.51"/>
  <rect x="30.065" y="30.9" transform="matrix(-0.9398 0.3417 -0.3417 -0.9398 71.7408 51.6755)" width="2.509" height="2.511"/>
  <rect x="25.337" y="32.634" transform="matrix(-0.9399 0.3416 -0.3416 -0.9399 63.1594 56.6572)" width="2.51" height="2.511"/>
  <rect x="20.617" y="34.351" transform="matrix(-0.9399 0.3416 -0.3416 -0.9399 54.5905 61.6015)" width="2.51" height="2.511"/>
  <path d="M26.186,54.925h7.762c0.52,1.457,1.899,2.51,3.534,2.51c2.076,0,3.766-1.689,3.766-3.765
		s-1.689-3.767-3.766-3.767c-1.635,0-3.015,1.054-3.534,2.51h-7.762c-4.152,0-7.529,3.379-7.529,7.531
		c0,4.154,3.377,7.531,7.529,7.531h21.336v-2.51H26.186c-2.768,0-5.02-2.252-5.02-5.021C21.166,57.177,23.418,54.925,26.186,54.925
		 M37.481,52.413c0.692,0,1.255,0.564,1.255,1.257c0,0.69-0.563,1.255-1.255,1.255s-1.255-0.564-1.255-1.255
		C36.227,52.978,36.789,52.413,37.481,52.413"/>
  <rect x="50.032" y="64.966" width="2.51" height="2.51"/>
  <path d="M65.721,64.966H55.053v2.51h10.668c1.73,0,3.139,1.408,3.139,3.137c0,1.73-1.408,3.139-3.139,3.139H26.186
		v2.511h39.535c3.114,0,5.648-2.534,5.648-5.649C71.369,67.499,68.835,64.966,65.721,64.966"/>
  <path d="M8.614,71.241c-2.075,0-3.766,1.689-3.766,3.764c0,2.076,1.69,3.767,3.766,3.767
		c1.635,0,3.016-1.054,3.534-2.511h11.527v-2.51H12.148C11.63,72.294,10.249,71.241,8.614,71.241 M8.614,76.261
		c-0.692,0-1.255-0.563-1.255-1.256c0-0.689,0.563-1.254,1.255-1.254s1.255,0.564,1.255,1.254
		C9.869,75.698,9.307,76.261,8.614,76.261"/>
</g>
</svg> </div>
        <h4><a href="#">{{mainData.Travel_guidance_Label}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></h4>
      </div>
    </div>
  </div>
</section>
<section id="destinations-sec2">
  <div class="container">
    <div class="row title">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <h2>{{mainData.Domestic__Destination_Label}}</h2>
      </div>
    </div>
    <div class="row m-t-50" v-if="isShow==true">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" v-for="item in domesticList">
            	<div class="desti"  > 
                	<img :src="item.Image__1590x1037px" alt="">
                      <div class="desti-detail " >
                        <h3><a href="#" title="">{{item.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((item.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}</div>
                      </div>
                      <div class="desti-info desti-detail">
                        <h3><a href="#" title="">{{item.City_Name}}</a></h3>
                        <div class="price"><span>{{mainData.Starting_From_Label}}</span><br>{{$n((item.Price/CurrencyMultiplier), 'currency', selectedCurrency)}}}</div>
                        <a href="#" class="red-btn">{{mainData.Book_Now_Label}}</a>
                      </div>
                </div>
            </div>     	
  </div>
</section>
<section id="serv-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      	<h2>{{mainData.Best_Service_Title}}</h2>
        <p>{{mainData.Best_Service_Description}}</p>
        <a href="#" class="line-btn">{{mainData.Read_More_Button_Label}}</a>
      </div>
    </div>
  </div>
</section>
<section id="newsletter-sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
      	<div class="nws-inr">
            <h2>{{mainData.Subscribe_Title}}</h2>
            <p>{{mainData.Subscription_Description}}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <form>
                  	<div class="subscribe-form">
                	<div class="sec">
                    	<label>{{mainData.Subscription_Description}}</label>
                        <input name="email" class="form-control" type="text" v-model="newsltremail"placeholder="">
                    </div>
                    <div class="sec">
                    	<label>{{mainData.Subscription_Description}}</label>
                        <input name="city" class="form-control" type="text" placeholder="">
                    </div>
                    <div class="sec">
                        <input type="checkbox" id="todo" name="todo" value="todo">
                        <span>
                        <label for="todo" data-content="">{{mainData.Agreement_Description}}</label>
                        </span>
                    </div>
                    <div class="sec">
                    	<button class="blue-btn" @click.prevent="sendnewsletter()">{{mainData.Subscribe_Label}}</button>
                    </div>
                </div>
              </form>
              </div>
    </div>
  </div>
</section>
</div>
<footer>
      <footeritem> </footeritem>
   </footer>
<script src="/assets/js/vueJs.min.js?v=201906120000"></script>
<!-- <script src="/assets/js/vuex.min.js?v=201906120000"></script> -->
<script src="/assets/js/vue-i18n.js?v=201906280000"></script>
<script src="/assets/js/axios.min.js?v=201906280000"></script>
<script src="/assets/js/jquery.min.js?v=202008130000"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script> 
<script src="js/select2.min.js"></script>
<script src="js/wan-spinner.js"></script>
<script src="js/custom.js"></script>


<script type="text/javascript" src="/assets/pluggins/moment/moment.min.js?v=201905150000"></script>
<script src="/assets/js/detect.js?v=20200910000"></script>
<script src="/assets/pluggins/alertifyJs/alertify.min.js?v=201904080000"></script>
<script src="/assets/js/vue-loading-overlay@3.min.js?v=202007070000"></script>
<script src="/Resources/HubUrls/HubServiceUrls.js?v=202007170000"></script>
<script src="/assets/js/underscore-min.js?v=201904100000"></script>
<script src="/assets/js/elasticsearch.min.js?v=201904140000"></script>
<script src="/Flights/assets/js/Airlines.js"></script>
<script src="/assets/js/common.js?v=202008200000"></script>
<script src="/assets/js/vue-multiselect.min.js?v=201912240000"></script>
<script src="/Flights/FlightComponents/Assets/js/flightElasticSearch.js?v=20211122000"></script>
<script src="master/js/index.js?v=20211122000"></script>

<script src="js/pack.js"></script>
<script>
  //starts the carousel
  $(function(){
  $('#carousel-example-generic').carousel();
});
</script>
</body>
</html>